{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://accesscontextmanager.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Access Context Manager",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/access-context-manager/docs/reference/rest/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "accesscontextmanager:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://accesscontextmanager.mtls.googleapis.com/",
    "name": "accesscontextmanager",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accessPolicies": {
            "methods": {
                "create": {
                    "flatPath": "v1/accessPolicies",
                    "httpMethod": "POST",
                    "id": "accesscontextmanager.accessPolicies.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/accessPolicies",
                    "request": {
                        "$ref": "AccessPolicy"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "flatPath": "v1/accessPolicies/{accessPoliciesId}",
                    "httpMethod": "DELETE",
                    "id": "accesscontextmanager.accessPolicies.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^accessPolicies/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/accessPolicies/{accessPoliciesId}",
                    "httpMethod": "GET",
                    "id": "accesscontextmanager.accessPolicies.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^accessPolicies/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "AccessPolicy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/accessPolicies",
                    "httpMethod": "GET",
                    "id": "accesscontextmanager.accessPolicies.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/accessPolicies",
                    "response": {
                        "$ref": "ListAccessPoliciesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "patch": {
                    "flatPath": "v1/accessPolicies/{accessPoliciesId}",
                    "httpMethod": "PATCH",
                    "id": "accesscontextmanager.accessPolicies.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^accessPolicies/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "AccessPolicy"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "accessLevels": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/accessLevels",
                            "httpMethod": "POST",
                            "id": "accesscontextmanager.accessPolicies.accessLevels.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/accessLevels",
                            "request": {
                                "$ref": "AccessLevel"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/accessLevels/{accessLevelsId}",
                            "httpMethod": "DELETE",
                            "id": "accesscontextmanager.accessPolicies.accessLevels.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+/accessLevels/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/accessLevels/{accessLevelsId}",
                            "httpMethod": "GET",
                            "id": "accesscontextmanager.accessPolicies.accessLevels.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "accessLevelFormat": {
                                    "enum": [
                                        "LEVEL_FORMAT_UNSPECIFIED",
                                        "AS_DEFINED",
                                        "CEL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+/accessLevels/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "AccessLevel"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/accessLevels",
                            "httpMethod": "GET",
                            "id": "accesscontextmanager.accessPolicies.accessLevels.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "accessLevelFormat": {
                                    "enum": [
                                        "LEVEL_FORMAT_UNSPECIFIED",
                                        "AS_DEFINED",
                                        "CEL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/accessLevels",
                            "response": {
                                "$ref": "ListAccessLevelsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/accessLevels/{accessLevelsId}",
                            "httpMethod": "PATCH",
                            "id": "accesscontextmanager.accessPolicies.accessLevels.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+/accessLevels/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "AccessLevel"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "replaceAll": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/accessLevels:replaceAll",
                            "httpMethod": "POST",
                            "id": "accesscontextmanager.accessPolicies.accessLevels.replaceAll",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/accessLevels:replaceAll",
                            "request": {
                                "$ref": "ReplaceAccessLevelsRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "servicePerimeters": {
                    "methods": {
                        "commit": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/servicePerimeters:commit",
                            "httpMethod": "POST",
                            "id": "accesscontextmanager.accessPolicies.servicePerimeters.commit",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/servicePerimeters:commit",
                            "request": {
                                "$ref": "CommitServicePerimetersRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/servicePerimeters",
                            "httpMethod": "POST",
                            "id": "accesscontextmanager.accessPolicies.servicePerimeters.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/servicePerimeters",
                            "request": {
                                "$ref": "ServicePerimeter"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/servicePerimeters/{servicePerimetersId}",
                            "httpMethod": "DELETE",
                            "id": "accesscontextmanager.accessPolicies.servicePerimeters.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+/servicePerimeters/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/servicePerimeters/{servicePerimetersId}",
                            "httpMethod": "GET",
                            "id": "accesscontextmanager.accessPolicies.servicePerimeters.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+/servicePerimeters/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "ServicePerimeter"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/servicePerimeters",
                            "httpMethod": "GET",
                            "id": "accesscontextmanager.accessPolicies.servicePerimeters.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/servicePerimeters",
                            "response": {
                                "$ref": "ListServicePerimetersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/servicePerimeters/{servicePerimetersId}",
                            "httpMethod": "PATCH",
                            "id": "accesscontextmanager.accessPolicies.servicePerimeters.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+/servicePerimeters/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "ServicePerimeter"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "replaceAll": {
                            "flatPath": "v1/accessPolicies/{accessPoliciesId}/servicePerimeters:replaceAll",
                            "httpMethod": "POST",
                            "id": "accesscontextmanager.accessPolicies.servicePerimeters.replaceAll",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accessPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/servicePerimeters:replaceAll",
                            "request": {
                                "$ref": "ReplaceServicePerimetersRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "operations": {
            "methods": {
                "cancel": {
                    "flatPath": "v1/operations/{operationsId}:cancel",
                    "httpMethod": "POST",
                    "id": "accesscontextmanager.operations.cancel",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:cancel",
                    "request": {
                        "$ref": "CancelOperationRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "DELETE",
                    "id": "accesscontextmanager.operations.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "accesscontextmanager.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/operations",
                    "httpMethod": "GET",
                    "id": "accesscontextmanager.operations.list",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "path",
                            "pattern": "^operations$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://accesscontextmanager.googleapis.com/",
    "schemas": {
        "AccessLevel": {
            "id": "AccessLevel",
            "properties": {
                "basic": {
                    "$ref": "BasicLevel"
                },
                "custom": {
                    "$ref": "CustomLevel"
                },
                "name": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccessPolicy": {
            "id": "AccessPolicy",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BasicLevel": {
            "id": "BasicLevel",
            "properties": {
                "combiningFunction": {
                    "enum": [
                        "AND",
                        "OR"
                    ],
                    "type": "string"
                },
                "conditions": {
                    "items": {
                        "$ref": "Condition"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "CommitServicePerimetersRequest": {
            "id": "CommitServicePerimetersRequest",
            "properties": {
                "etag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CommitServicePerimetersResponse": {
            "id": "CommitServicePerimetersResponse",
            "properties": {
                "servicePerimeters": {
                    "items": {
                        "$ref": "ServicePerimeter"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Condition": {
            "id": "Condition",
            "properties": {
                "devicePolicy": {
                    "$ref": "DevicePolicy"
                },
                "ipSubnetworks": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "negate": {
                    "type": "boolean"
                },
                "regions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "requiredAccessLevels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomLevel": {
            "id": "CustomLevel",
            "properties": {
                "expr": {
                    "$ref": "Expr"
                }
            },
            "type": "object"
        },
        "DevicePolicy": {
            "id": "DevicePolicy",
            "properties": {
                "allowedDeviceManagementLevels": {
                    "items": {
                        "enum": [
                            "MANAGEMENT_UNSPECIFIED",
                            "NONE",
                            "BASIC",
                            "COMPLETE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "allowedEncryptionStatuses": {
                    "items": {
                        "enum": [
                            "ENCRYPTION_UNSPECIFIED",
                            "ENCRYPTION_UNSUPPORTED",
                            "UNENCRYPTED",
                            "ENCRYPTED"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "osConstraints": {
                    "items": {
                        "$ref": "OsConstraint"
                    },
                    "type": "array"
                },
                "requireAdminApproval": {
                    "type": "boolean"
                },
                "requireCorpOwned": {
                    "type": "boolean"
                },
                "requireScreenlock": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAccessLevelsResponse": {
            "id": "ListAccessLevelsResponse",
            "properties": {
                "accessLevels": {
                    "items": {
                        "$ref": "AccessLevel"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAccessPoliciesResponse": {
            "id": "ListAccessPoliciesResponse",
            "properties": {
                "accessPolicies": {
                    "items": {
                        "$ref": "AccessPolicy"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListServicePerimetersResponse": {
            "id": "ListServicePerimetersResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "servicePerimeters": {
                    "items": {
                        "$ref": "ServicePerimeter"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OsConstraint": {
            "id": "OsConstraint",
            "properties": {
                "minimumVersion": {
                    "type": "string"
                },
                "osType": {
                    "enum": [
                        "OS_UNSPECIFIED",
                        "DESKTOP_MAC",
                        "DESKTOP_WINDOWS",
                        "DESKTOP_LINUX",
                        "DESKTOP_CHROME_OS",
                        "ANDROID",
                        "IOS"
                    ],
                    "type": "string"
                },
                "requireVerifiedChromeOs": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ReplaceAccessLevelsRequest": {
            "id": "ReplaceAccessLevelsRequest",
            "properties": {
                "accessLevels": {
                    "items": {
                        "$ref": "AccessLevel"
                    },
                    "type": "array"
                },
                "etag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplaceAccessLevelsResponse": {
            "id": "ReplaceAccessLevelsResponse",
            "properties": {
                "accessLevels": {
                    "items": {
                        "$ref": "AccessLevel"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ReplaceServicePerimetersRequest": {
            "id": "ReplaceServicePerimetersRequest",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "servicePerimeters": {
                    "items": {
                        "$ref": "ServicePerimeter"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ReplaceServicePerimetersResponse": {
            "id": "ReplaceServicePerimetersResponse",
            "properties": {
                "servicePerimeters": {
                    "items": {
                        "$ref": "ServicePerimeter"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ServicePerimeter": {
            "id": "ServicePerimeter",
            "properties": {
                "name": {
                    "type": "string"
                },
                "perimeterType": {
                    "enum": [
                        "PERIMETER_TYPE_REGULAR",
                        "PERIMETER_TYPE_BRIDGE"
                    ],
                    "type": "string"
                },
                "spec": {
                    "$ref": "ServicePerimeterConfig"
                },
                "status": {
                    "$ref": "ServicePerimeterConfig"
                },
                "title": {
                    "type": "string"
                },
                "useExplicitDryRunSpec": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ServicePerimeterConfig": {
            "id": "ServicePerimeterConfig",
            "properties": {
                "accessLevels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "resources": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "restrictedServices": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "vpcAccessibleServices": {
                    "$ref": "VpcAccessibleServices"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VpcAccessibleServices": {
            "id": "VpcAccessibleServices",
            "properties": {
                "allowedServices": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "enableRestriction": {
                    "type": "boolean"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Access Context Manager API",
    "version": "v1",
    "version_module": true
}