{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://accessapproval.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Access Approval",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/access-approval/docs",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "accessapproval:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://accessapproval.mtls.googleapis.com/",
    "name": "accessapproval",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "folders": {
            "methods": {
                "deleteAccessApprovalSettings": {
                    "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
                    "httpMethod": "DELETE",
                    "id": "accessapproval.folders.deleteAccessApprovalSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^folders/[^/]+/accessApprovalSettings$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getAccessApprovalSettings": {
                    "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
                    "httpMethod": "GET",
                    "id": "accessapproval.folders.getAccessApprovalSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^folders/[^/]+/accessApprovalSettings$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "AccessApprovalSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "updateAccessApprovalSettings": {
                    "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
                    "httpMethod": "PATCH",
                    "id": "accessapproval.folders.updateAccessApprovalSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^folders/[^/]+/accessApprovalSettings$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "AccessApprovalSettings"
                    },
                    "response": {
                        "$ref": "AccessApprovalSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "approvalRequests": {
                    "methods": {
                        "approve": {
                            "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve",
                            "httpMethod": "POST",
                            "id": "accessapproval.folders.approvalRequests.approve",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:approve",
                            "request": {
                                "$ref": "ApproveApprovalRequestMessage"
                            },
                            "response": {
                                "$ref": "ApprovalRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "dismiss": {
                            "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss",
                            "httpMethod": "POST",
                            "id": "accessapproval.folders.approvalRequests.dismiss",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:dismiss",
                            "request": {
                                "$ref": "DismissApprovalRequestMessage"
                            },
                            "response": {
                                "$ref": "ApprovalRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}",
                            "httpMethod": "GET",
                            "id": "accessapproval.folders.approvalRequests.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "ApprovalRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/folders/{foldersId}/approvalRequests",
                            "httpMethod": "GET",
                            "id": "accessapproval.folders.approvalRequests.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/approvalRequests",
                            "response": {
                                "$ref": "ListApprovalRequestsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "organizations": {
            "methods": {
                "deleteAccessApprovalSettings": {
                    "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
                    "httpMethod": "DELETE",
                    "id": "accessapproval.organizations.deleteAccessApprovalSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+/accessApprovalSettings$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getAccessApprovalSettings": {
                    "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
                    "httpMethod": "GET",
                    "id": "accessapproval.organizations.getAccessApprovalSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+/accessApprovalSettings$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "AccessApprovalSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "updateAccessApprovalSettings": {
                    "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
                    "httpMethod": "PATCH",
                    "id": "accessapproval.organizations.updateAccessApprovalSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+/accessApprovalSettings$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "AccessApprovalSettings"
                    },
                    "response": {
                        "$ref": "AccessApprovalSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "approvalRequests": {
                    "methods": {
                        "approve": {
                            "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve",
                            "httpMethod": "POST",
                            "id": "accessapproval.organizations.approvalRequests.approve",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:approve",
                            "request": {
                                "$ref": "ApproveApprovalRequestMessage"
                            },
                            "response": {
                                "$ref": "ApprovalRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "dismiss": {
                            "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss",
                            "httpMethod": "POST",
                            "id": "accessapproval.organizations.approvalRequests.dismiss",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:dismiss",
                            "request": {
                                "$ref": "DismissApprovalRequestMessage"
                            },
                            "response": {
                                "$ref": "ApprovalRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}",
                            "httpMethod": "GET",
                            "id": "accessapproval.organizations.approvalRequests.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "ApprovalRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/approvalRequests",
                            "httpMethod": "GET",
                            "id": "accessapproval.organizations.approvalRequests.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/approvalRequests",
                            "response": {
                                "$ref": "ListApprovalRequestsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "projects": {
            "methods": {
                "deleteAccessApprovalSettings": {
                    "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
                    "httpMethod": "DELETE",
                    "id": "accessapproval.projects.deleteAccessApprovalSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/accessApprovalSettings$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getAccessApprovalSettings": {
                    "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
                    "httpMethod": "GET",
                    "id": "accessapproval.projects.getAccessApprovalSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/accessApprovalSettings$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "AccessApprovalSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "updateAccessApprovalSettings": {
                    "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
                    "httpMethod": "PATCH",
                    "id": "accessapproval.projects.updateAccessApprovalSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/accessApprovalSettings$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "AccessApprovalSettings"
                    },
                    "response": {
                        "$ref": "AccessApprovalSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "approvalRequests": {
                    "methods": {
                        "approve": {
                            "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve",
                            "httpMethod": "POST",
                            "id": "accessapproval.projects.approvalRequests.approve",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:approve",
                            "request": {
                                "$ref": "ApproveApprovalRequestMessage"
                            },
                            "response": {
                                "$ref": "ApprovalRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "dismiss": {
                            "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss",
                            "httpMethod": "POST",
                            "id": "accessapproval.projects.approvalRequests.dismiss",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:dismiss",
                            "request": {
                                "$ref": "DismissApprovalRequestMessage"
                            },
                            "response": {
                                "$ref": "ApprovalRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}",
                            "httpMethod": "GET",
                            "id": "accessapproval.projects.approvalRequests.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "ApprovalRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/approvalRequests",
                            "httpMethod": "GET",
                            "id": "accessapproval.projects.approvalRequests.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/approvalRequests",
                            "response": {
                                "$ref": "ListApprovalRequestsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://accessapproval.googleapis.com/",
    "schemas": {
        "AccessApprovalSettings": {
            "id": "AccessApprovalSettings",
            "properties": {
                "enrolledAncestor": {
                    "readOnly": true,
                    "type": "boolean"
                },
                "enrolledServices": {
                    "items": {
                        "$ref": "EnrolledService"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "notificationEmails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccessLocations": {
            "id": "AccessLocations",
            "properties": {
                "principalOfficeCountry": {
                    "type": "string"
                },
                "principalPhysicalLocationCountry": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccessReason": {
            "id": "AccessReason",
            "properties": {
                "detail": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "CUSTOMER_INITIATED_SUPPORT",
                        "GOOGLE_INITIATED_SERVICE",
                        "GOOGLE_INITIATED_REVIEW"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApprovalRequest": {
            "id": "ApprovalRequest",
            "properties": {
                "approve": {
                    "$ref": "ApproveDecision"
                },
                "dismiss": {
                    "$ref": "DismissDecision"
                },
                "name": {
                    "type": "string"
                },
                "requestTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "requestedExpiration": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "requestedLocations": {
                    "$ref": "AccessLocations"
                },
                "requestedReason": {
                    "$ref": "AccessReason"
                },
                "requestedResourceName": {
                    "type": "string"
                },
                "requestedResourceProperties": {
                    "$ref": "ResourceProperties"
                }
            },
            "type": "object"
        },
        "ApproveApprovalRequestMessage": {
            "id": "ApproveApprovalRequestMessage",
            "properties": {
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApproveDecision": {
            "id": "ApproveDecision",
            "properties": {
                "approveTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DismissApprovalRequestMessage": {
            "id": "DismissApprovalRequestMessage",
            "properties": {},
            "type": "object"
        },
        "DismissDecision": {
            "id": "DismissDecision",
            "properties": {
                "dismissTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "implicit": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EnrolledService": {
            "id": "EnrolledService",
            "properties": {
                "cloudProduct": {
                    "type": "string"
                },
                "enrollmentLevel": {
                    "enum": [
                        "ENROLLMENT_LEVEL_UNSPECIFIED",
                        "BLOCK_ALL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListApprovalRequestsResponse": {
            "id": "ListApprovalRequestsResponse",
            "properties": {
                "approvalRequests": {
                    "items": {
                        "$ref": "ApprovalRequest"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResourceProperties": {
            "id": "ResourceProperties",
            "properties": {
                "excludesDescendants": {
                    "type": "boolean"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Access Approval API",
    "version": "v1",
    "version_module": true
}