{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/adexchange.buyer": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://adexchangebuyer.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "AdExchangeBuyerII",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "adexchangebuyer2:v2beta1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
    "name": "adexchangebuyer2",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "resources": {
                "clients": {
                    "methods": {
                        "create": {
                            "flatPath": "v2beta1/accounts/{accountId}/clients",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.clients.create",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/clients",
                            "request": {
                                "$ref": "Client"
                            },
                            "response": {
                                "$ref": "Client"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "get": {
                            "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.clients.get",
                            "parameterOrder": [
                                "accountId",
                                "clientAccountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "clientAccountId": {
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
                            "response": {
                                "$ref": "Client"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "list": {
                            "flatPath": "v2beta1/accounts/{accountId}/clients",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.clients.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "partnerClientId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/clients",
                            "response": {
                                "$ref": "ListClientsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "update": {
                            "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
                            "httpMethod": "PUT",
                            "id": "adexchangebuyer2.accounts.clients.update",
                            "parameterOrder": [
                                "accountId",
                                "clientAccountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "clientAccountId": {
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
                            "request": {
                                "$ref": "Client"
                            },
                            "response": {
                                "$ref": "Client"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        }
                    },
                    "resources": {
                        "invitations": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                                    "httpMethod": "POST",
                                    "id": "adexchangebuyer2.accounts.clients.invitations.create",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clientAccountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                                    "request": {
                                        "$ref": "ClientUserInvitation"
                                    },
                                    "response": {
                                        "$ref": "ClientUserInvitation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.clients.invitations.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId",
                                        "invitationId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clientAccountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "invitationId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                                    "response": {
                                        "$ref": "ClientUserInvitation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.clients.invitations.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clientAccountId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                                    "response": {
                                        "$ref": "ListClientUserInvitationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        },
                        "users": {
                            "methods": {
                                "get": {
                                    "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.clients.users.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId",
                                        "userId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clientAccountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                                    "response": {
                                        "$ref": "ClientUser"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.clients.users.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clientAccountId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                                    "response": {
                                        "$ref": "ListClientUsersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                                    "httpMethod": "PUT",
                                    "id": "adexchangebuyer2.accounts.clients.users.update",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId",
                                        "userId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clientAccountId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                                    "request": {
                                        "$ref": "ClientUser"
                                    },
                                    "response": {
                                        "$ref": "ClientUser"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        }
                    }
                },
                "creatives": {
                    "methods": {
                        "create": {
                            "flatPath": "v2beta1/accounts/{accountId}/creatives",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.creatives.create",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "duplicateIdMode": {
                                    "enum": [
                                        "NO_DUPLICATES",
                                        "FORCE_ENABLE_DUPLICATE_IDS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/creatives",
                            "request": {
                                "$ref": "Creative"
                            },
                            "response": {
                                "$ref": "Creative"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "get": {
                            "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.creatives.get",
                            "parameterOrder": [
                                "accountId",
                                "creativeId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "creativeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
                            "response": {
                                "$ref": "Creative"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "list": {
                            "flatPath": "v2beta1/accounts/{accountId}/creatives",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.creatives.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "query": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/creatives",
                            "response": {
                                "$ref": "ListCreativesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "stopWatching": {
                            "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.creatives.stopWatching",
                            "parameterOrder": [
                                "accountId",
                                "creativeId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "creativeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
                            "request": {
                                "$ref": "StopWatchingCreativeRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "update": {
                            "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
                            "httpMethod": "PUT",
                            "id": "adexchangebuyer2.accounts.creatives.update",
                            "parameterOrder": [
                                "accountId",
                                "creativeId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "creativeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
                            "request": {
                                "$ref": "Creative"
                            },
                            "response": {
                                "$ref": "Creative"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "watch": {
                            "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.creatives.watch",
                            "parameterOrder": [
                                "accountId",
                                "creativeId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "creativeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch",
                            "request": {
                                "$ref": "WatchCreativeRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        }
                    },
                    "resources": {
                        "dealAssociations": {
                            "methods": {
                                "add": {
                                    "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                                    "httpMethod": "POST",
                                    "id": "adexchangebuyer2.accounts.creatives.dealAssociations.add",
                                    "parameterOrder": [
                                        "accountId",
                                        "creativeId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "creativeId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                                    "request": {
                                        "$ref": "AddDealAssociationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.creatives.dealAssociations.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "creativeId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "creativeId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "query": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                                    "response": {
                                        "$ref": "ListDealAssociationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "remove": {
                                    "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                                    "httpMethod": "POST",
                                    "id": "adexchangebuyer2.accounts.creatives.dealAssociations.remove",
                                    "parameterOrder": [
                                        "accountId",
                                        "creativeId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "creativeId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                                    "request": {
                                        "$ref": "RemoveDealAssociationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        }
                    }
                },
                "finalizedProposals": {
                    "methods": {
                        "list": {
                            "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.finalizedProposals.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "filterSyntax": {
                                    "enum": [
                                        "FILTER_SYNTAX_UNSPECIFIED",
                                        "PQL",
                                        "LIST_FILTER"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/finalizedProposals",
                            "response": {
                                "$ref": "ListProposalsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        }
                    }
                },
                "products": {
                    "methods": {
                        "get": {
                            "flatPath": "v2beta1/accounts/{accountId}/products/{productId}",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.products.get",
                            "parameterOrder": [
                                "accountId",
                                "productId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "productId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/products/{productId}",
                            "response": {
                                "$ref": "Product"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "list": {
                            "flatPath": "v2beta1/accounts/{accountId}/products",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.products.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/products",
                            "response": {
                                "$ref": "ListProductsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        }
                    }
                },
                "proposals": {
                    "methods": {
                        "accept": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.proposals.accept",
                            "parameterOrder": [
                                "accountId",
                                "proposalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "proposalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
                            "request": {
                                "$ref": "AcceptProposalRequest"
                            },
                            "response": {
                                "$ref": "Proposal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "addNote": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.proposals.addNote",
                            "parameterOrder": [
                                "accountId",
                                "proposalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "proposalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
                            "request": {
                                "$ref": "AddNoteRequest"
                            },
                            "response": {
                                "$ref": "Note"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "cancelNegotiation": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.proposals.cancelNegotiation",
                            "parameterOrder": [
                                "accountId",
                                "proposalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "proposalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
                            "request": {
                                "$ref": "CancelNegotiationRequest"
                            },
                            "response": {
                                "$ref": "Proposal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "completeSetup": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.proposals.completeSetup",
                            "parameterOrder": [
                                "accountId",
                                "proposalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "proposalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
                            "request": {
                                "$ref": "CompleteSetupRequest"
                            },
                            "response": {
                                "$ref": "Proposal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "create": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.proposals.create",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals",
                            "request": {
                                "$ref": "Proposal"
                            },
                            "response": {
                                "$ref": "Proposal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "get": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.proposals.get",
                            "parameterOrder": [
                                "accountId",
                                "proposalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "proposalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
                            "response": {
                                "$ref": "Proposal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "list": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.proposals.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "filterSyntax": {
                                    "enum": [
                                        "FILTER_SYNTAX_UNSPECIFIED",
                                        "PQL",
                                        "LIST_FILTER"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals",
                            "response": {
                                "$ref": "ListProposalsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "pause": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.proposals.pause",
                            "parameterOrder": [
                                "accountId",
                                "proposalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "proposalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
                            "request": {
                                "$ref": "PauseProposalRequest"
                            },
                            "response": {
                                "$ref": "Proposal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "resume": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.proposals.resume",
                            "parameterOrder": [
                                "accountId",
                                "proposalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "proposalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
                            "request": {
                                "$ref": "ResumeProposalRequest"
                            },
                            "response": {
                                "$ref": "Proposal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "update": {
                            "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
                            "httpMethod": "PUT",
                            "id": "adexchangebuyer2.accounts.proposals.update",
                            "parameterOrder": [
                                "accountId",
                                "proposalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "proposalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
                            "request": {
                                "$ref": "Proposal"
                            },
                            "response": {
                                "$ref": "Proposal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        }
                    }
                },
                "publisherProfiles": {
                    "methods": {
                        "get": {
                            "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.publisherProfiles.get",
                            "parameterOrder": [
                                "accountId",
                                "publisherProfileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "publisherProfileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
                            "response": {
                                "$ref": "PublisherProfile"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "list": {
                            "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.publisherProfiles.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/publisherProfiles",
                            "response": {
                                "$ref": "ListPublisherProfilesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        }
                    }
                }
            }
        },
        "bidders": {
            "resources": {
                "accounts": {
                    "resources": {
                        "filterSets": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                                    "httpMethod": "POST",
                                    "id": "adexchangebuyer2.bidders.accounts.filterSets.create",
                                    "parameterOrder": [
                                        "ownerName"
                                    ],
                                    "parameters": {
                                        "isTransient": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "ownerName": {
                                            "location": "path",
                                            "pattern": "^bidders/[^/]+/accounts/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+ownerName}/filterSets",
                                    "request": {
                                        "$ref": "FilterSet"
                                    },
                                    "response": {
                                        "$ref": "FilterSet"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}",
                                    "httpMethod": "DELETE",
                                    "id": "adexchangebuyer2.bidders.accounts.filterSets.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.bidders.accounts.filterSets.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+name}",
                                    "response": {
                                        "$ref": "FilterSet"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.bidders.accounts.filterSets.list",
                                    "parameterOrder": [
                                        "ownerName"
                                    ],
                                    "parameters": {
                                        "ownerName": {
                                            "location": "path",
                                            "pattern": "^bidders/[^/]+/accounts/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+ownerName}/filterSets",
                                    "response": {
                                        "$ref": "ListFilterSetsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            },
                            "resources": {
                                "bidMetrics": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidMetrics",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.bidders.accounts.filterSets.bidMetrics.list",
                                            "parameterOrder": [
                                                "filterSetName"
                                            ],
                                            "parameters": {
                                                "filterSetName": {
                                                    "location": "path",
                                                    "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+filterSetName}/bidMetrics",
                                            "response": {
                                                "$ref": "ListBidMetricsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    }
                                },
                                "bidResponseErrors": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponseErrors",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponseErrors.list",
                                            "parameterOrder": [
                                                "filterSetName"
                                            ],
                                            "parameters": {
                                                "filterSetName": {
                                                    "location": "path",
                                                    "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                                            "response": {
                                                "$ref": "ListBidResponseErrorsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    }
                                },
                                "bidResponsesWithoutBids": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponsesWithoutBids.list",
                                            "parameterOrder": [
                                                "filterSetName"
                                            ],
                                            "parameters": {
                                                "filterSetName": {
                                                    "location": "path",
                                                    "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                                            "response": {
                                                "$ref": "ListBidResponsesWithoutBidsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    }
                                },
                                "filteredBidRequests": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBidRequests",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBidRequests.list",
                                            "parameterOrder": [
                                                "filterSetName"
                                            ],
                                            "parameters": {
                                                "filterSetName": {
                                                    "location": "path",
                                                    "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+filterSetName}/filteredBidRequests",
                                            "response": {
                                                "$ref": "ListFilteredBidRequestsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    }
                                },
                                "filteredBids": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.list",
                                            "parameterOrder": [
                                                "filterSetName"
                                            ],
                                            "parameters": {
                                                "filterSetName": {
                                                    "location": "path",
                                                    "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+filterSetName}/filteredBids",
                                            "response": {
                                                "$ref": "ListFilteredBidsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "creatives": {
                                            "methods": {
                                                "list": {
                                                    "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                                                    "httpMethod": "GET",
                                                    "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.creatives.list",
                                                    "parameterOrder": [
                                                        "filterSetName",
                                                        "creativeStatusId"
                                                    ],
                                                    "parameters": {
                                                        "creativeStatusId": {
                                                            "format": "int32",
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "integer"
                                                        },
                                                        "filterSetName": {
                                                            "location": "path",
                                                            "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                                                    "response": {
                                                        "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                                    ]
                                                }
                                            }
                                        },
                                        "details": {
                                            "methods": {
                                                "list": {
                                                    "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                                                    "httpMethod": "GET",
                                                    "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.details.list",
                                                    "parameterOrder": [
                                                        "filterSetName",
                                                        "creativeStatusId"
                                                    ],
                                                    "parameters": {
                                                        "creativeStatusId": {
                                                            "format": "int32",
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "integer"
                                                        },
                                                        "filterSetName": {
                                                            "location": "path",
                                                            "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                                                    "response": {
                                                        "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "impressionMetrics": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/impressionMetrics",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.bidders.accounts.filterSets.impressionMetrics.list",
                                            "parameterOrder": [
                                                "filterSetName"
                                            ],
                                            "parameters": {
                                                "filterSetName": {
                                                    "location": "path",
                                                    "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+filterSetName}/impressionMetrics",
                                            "response": {
                                                "$ref": "ListImpressionMetricsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    }
                                },
                                "losingBids": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/losingBids",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.bidders.accounts.filterSets.losingBids.list",
                                            "parameterOrder": [
                                                "filterSetName"
                                            ],
                                            "parameters": {
                                                "filterSetName": {
                                                    "location": "path",
                                                    "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+filterSetName}/losingBids",
                                            "response": {
                                                "$ref": "ListLosingBidsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    }
                                },
                                "nonBillableWinningBids": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.bidders.accounts.filterSets.nonBillableWinningBids.list",
                                            "parameterOrder": [
                                                "filterSetName"
                                            ],
                                            "parameters": {
                                                "filterSetName": {
                                                    "location": "path",
                                                    "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                                            "response": {
                                                "$ref": "ListNonBillableWinningBidsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "filterSets": {
                    "methods": {
                        "create": {
                            "flatPath": "v2beta1/bidders/{biddersId}/filterSets",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.bidders.filterSets.create",
                            "parameterOrder": [
                                "ownerName"
                            ],
                            "parameters": {
                                "isTransient": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "ownerName": {
                                    "location": "path",
                                    "pattern": "^bidders/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+ownerName}/filterSets",
                            "request": {
                                "$ref": "FilterSet"
                            },
                            "response": {
                                "$ref": "FilterSet"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
                            "httpMethod": "DELETE",
                            "id": "adexchangebuyer2.bidders.filterSets.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "get": {
                            "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.bidders.filterSets.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+name}",
                            "response": {
                                "$ref": "FilterSet"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "list": {
                            "flatPath": "v2beta1/bidders/{biddersId}/filterSets",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.bidders.filterSets.list",
                            "parameterOrder": [
                                "ownerName"
                            ],
                            "parameters": {
                                "ownerName": {
                                    "location": "path",
                                    "pattern": "^bidders/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+ownerName}/filterSets",
[...]
