{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/admin.reports.audit.readonly": {},
                "https://www.googleapis.com/auth/admin.reports.usage.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://www.googleapis.com/",
    "batchPath": "batch/admin/reports_v1",
    "canonicalName": "reports",
    "discoveryVersion": "v1",
    "documentationLink": "http://developers.google.com/admin-sdk/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "admin:reports_v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://www.mtls.googleapis.com/",
    "name": "admin",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "packagePath": "admin",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "activities": {
            "methods": {
                "list": {
                    "flatPath": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}",
                    "httpMethod": "GET",
                    "id": "reports.activities.list",
                    "parameterOrder": [
                        "userKey",
                        "applicationName"
                    ],
                    "parameters": {
                        "actorIpAddress": {
                            "location": "query",
                            "type": "string"
                        },
                        "applicationName": {
                            "enum": [
                                "application_name_undefined",
                                "access_transparency",
                                "admin",
                                "calendar",
                                "chat",
                                "drive",
                                "gcp",
                                "gplus",
                                "groups",
                                "groups_enterprise",
                                "jamboard",
                                "login",
                                "meet",
                                "mobile",
                                "rules",
                                "saml",
                                "token",
                                "user_accounts",
                                "context_aware_access",
                                "chrome"
                            ],
                            "location": "path",
                            "pattern": "(admin)|(calendar)|(drive)|(login)|(mobile)|(token)|(groups)|(saml)|(chat)|(gplus)|(rules)|(jamboard)|(meet)|(user_accounts)|(access_transparency)|(groups_enterprise)|(gcp)|(context_aware_access)|(data_studio)|(chrome)",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "endTime": {
                            "location": "query",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
                            "type": "string"
                        },
                        "eventName": {
                            "location": "query",
                            "type": "string"
                        },
                        "filters": {
                            "location": "query",
                            "pattern": "(.+[<,<=,==,>=,>,<>].+,)*(.+[<,<=,==,>=,>,<>].+)",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orgUnitID": {
                            "default": "",
                            "location": "query",
                            "pattern": "(id:[a-z0-9]+)",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "startTime": {
                            "location": "query",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
                            "type": "string"
                        },
                        "userKey": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}",
                    "response": {
                        "$ref": "Activities"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.audit.readonly"
                    ]
                },
                "watch": {
                    "flatPath": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}/watch",
                    "httpMethod": "POST",
                    "id": "reports.activities.watch",
                    "parameterOrder": [
                        "userKey",
                        "applicationName"
                    ],
                    "parameters": {
                        "actorIpAddress": {
                            "location": "query",
                            "type": "string"
                        },
                        "applicationName": {
                            "enum": [
                                "application_name_unspecified",
                                "access_transparency",
                                "admin",
                                "calendar",
                                "chat",
                                "drive",
                                "gcp",
                                "gplus",
                                "groups",
                                "groups_enterprise",
                                "jamboard",
                                "login",
                                "meet",
                                "mobile",
                                "rules",
                                "saml",
                                "token",
                                "user_accounts",
                                "context_aware_access",
                                "chrome"
                            ],
                            "location": "path",
                            "pattern": "(admin)|(calendar)|(drive)|(login)|(mobile)|(token)|(groups)|(saml)|(chat)|(gplus)|(rules)|(jamboard)|(meet)|(user_accounts)|(access_transparency)|(groups_enterprise)|(gcp)|(context_aware_access)|(data_studio)|(chrome)",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "endTime": {
                            "location": "query",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
                            "type": "string"
                        },
                        "eventName": {
                            "location": "query",
                            "type": "string"
                        },
                        "filters": {
                            "location": "query",
                            "pattern": "(.+[<,<=,==,>=,>,<>].+,)*(.+[<,<=,==,>=,>,<>].+)",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orgUnitID": {
                            "default": "",
                            "location": "query",
                            "pattern": "(id:[a-z0-9]+)",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "startTime": {
                            "location": "query",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
                            "type": "string"
                        },
                        "userKey": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}/watch",
                    "request": {
                        "$ref": "Channel"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.audit.readonly"
                    ]
                }
            }
        },
        "channels": {
            "methods": {
                "stop": {
                    "flatPath": "admin/reports_v1/channels/stop",
                    "httpMethod": "POST",
                    "id": "admin.channels.stop",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "admin/reports_v1/channels/stop",
                    "request": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.audit.readonly"
                    ]
                }
            }
        },
        "customerUsageReports": {
            "methods": {
                "get": {
                    "flatPath": "admin/reports/v1/usage/dates/{date}",
                    "httpMethod": "GET",
                    "id": "reports.customerUsageReports.get",
                    "parameterOrder": [
                        "date"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "date": {
                            "location": "path",
                            "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parameters": {
                            "location": "query",
                            "pattern": "(((accounts)|(app_maker)|(apps_scripts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+,)*(((accounts)|(app_maker)|(apps_scripts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+)",
                            "type": "string"
                        }
                    },
                    "path": "admin/reports/v1/usage/dates/{date}",
                    "response": {
                        "$ref": "UsageReports"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.usage.readonly"
                    ]
                }
            }
        },
        "entityUsageReports": {
            "methods": {
                "get": {
                    "flatPath": "admin/reports/v1/usage/{entityType}/{entityKey}/dates/{date}",
                    "httpMethod": "GET",
                    "id": "reports.entityUsageReports.get",
                    "parameterOrder": [
                        "entityType",
                        "entityKey",
                        "date"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "date": {
                            "location": "path",
                            "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
                            "required": true,
                            "type": "string"
                        },
                        "entityKey": {
                            "enum": [
                                "entityKeyUndefined",
                                "all",
                                "entityKey"
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entityType": {
                            "enum": [
                                "entity_type_undefined",
                                "gplus_communities"
                            ],
                            "location": "path",
                            "pattern": "(gplus_communities)",
                            "required": true,
                            "type": "string"
                        },
                        "filters": {
                            "location": "query",
                            "pattern": "(((gplus)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+,)*(((gplus)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+)",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parameters": {
                            "location": "query",
                            "pattern": "(((gplus)):[^,]+,)*(((gplus)):[^,]+)",
                            "type": "string"
                        }
                    },
                    "path": "admin/reports/v1/usage/{entityType}/{entityKey}/dates/{date}",
                    "response": {
                        "$ref": "UsageReports"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.usage.readonly"
                    ]
                }
            }
        },
        "userUsageReport": {
            "methods": {
                "get": {
                    "flatPath": "admin/reports/v1/usage/users/{userKey}/dates/{date}",
                    "httpMethod": "GET",
                    "id": "reports.userUsageReport.get",
                    "parameterOrder": [
                        "userKey",
                        "date"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "date": {
                            "location": "path",
                            "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
                            "required": true,
                            "type": "string"
                        },
                        "filters": {
                            "location": "query",
                            "pattern": "(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+,)*(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+)",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orgUnitID": {
                            "default": "",
                            "location": "query",
                            "pattern": "(id:[a-z0-9]+)",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parameters": {
                            "location": "query",
                            "pattern": "(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+,)*(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+)",
                            "type": "string"
                        },
                        "userKey": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/reports/v1/usage/users/{userKey}/dates/{date}",
                    "response": {
                        "$ref": "UsageReports"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.usage.readonly"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Activities": {
            "id": "Activities",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "Activity"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "admin#reports#activities",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Activity": {
            "id": "Activity",
            "properties": {
                "actor": {
                    "properties": {
                        "callerType": {
                            "type": "string"
                        },
                        "email": {
                            "type": "string"
                        },
                        "key": {
                            "type": "string"
                        },
                        "profileId": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "etag": {
                    "type": "string"
                },
                "events": {
                    "items": {
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "parameters": {
                                "items": {
                                    "properties": {
                                        "boolValue": {
                                            "type": "boolean"
                                        },
                                        "intValue": {
                                            "format": "int64",
                                            "type": "string"
                                        },
                                        "messageValue": {
                                            "properties": {
                                                "parameter": {
                                                    "items": {
                                                        "$ref": "NestedParameter"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "multiIntValue": {
                                            "items": {
                                                "format": "int64",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "multiMessageValue": {
                                            "items": {
                                                "properties": {
                                                    "parameter": {
                                                        "items": {
                                                            "$ref": "NestedParameter"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "multiValue": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "id": {
                    "properties": {
                        "applicationName": {
                            "type": "string"
                        },
                        "customerId": {
                            "type": "string"
                        },
                        "time": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "uniqueQualifier": {
                            "format": "int64",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "ipAddress": {
                    "type": "string"
                },
                "kind": {
                    "default": "admin#reports#activity",
                    "type": "string"
                },
                "ownerDomain": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Channel": {
            "id": "Channel",
            "properties": {
                "address": {
                    "type": "string"
                },
                "expiration": {
                    "format": "int64",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "api#channel",
                    "type": "string"
                },
                "params": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "payload": {
                    "type": "boolean"
                },
                "resourceId": {
                    "type": "string"
                },
                "resourceUri": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NestedParameter": {
            "id": "NestedParameter",
            "properties": {
                "boolValue": {
                    "type": "boolean"
                },
                "intValue": {
                    "format": "int64",
                    "type": "string"
                },
                "multiBoolValue": {
                    "items": {
                        "type": "boolean"
                    },
                    "type": "array"
                },
                "multiIntValue": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "multiValue": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UsageReport": {
            "id": "UsageReport",
            "properties": {
                "date": {
                    "readOnly": true,
                    "type": "string"
                },
                "entity": {
                    "properties": {
                        "customerId": {
                            "readOnly": true,
                            "type": "string"
                        },
                        "entityId": {
                            "readOnly": true,
                            "type": "string"
                        },
                        "profileId": {
                            "readOnly": true,
                            "type": "string"
                        },
                        "type": {
                            "readOnly": true,
                            "type": "string"
                        },
                        "userEmail": {
                            "readOnly": true,
                            "type": "string"
                        }
                    },
                    "readOnly": true,
                    "type": "object"
                },
                "etag": {
                    "type": "string"
                },
                "kind": {
                    "default": "admin#reports#usageReport",
                    "type": "string"
                },
                "parameters": {
                    "items": {
                        "properties": {
                            "boolValue": {
                                "readOnly": true,
                                "type": "boolean"
                            },
                            "datetimeValue": {
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                            },
                            "intValue": {
                                "format": "int64",
                                "readOnly": true,
                                "type": "string"
                            },
                            "msgValue": {
                                "items": {
                                    "additionalProperties": {
                                        "type": "any"
                                    },
                                    "type": "object"
                                },
                                "readOnly": true,
                                "type": "array"
                            },
                            "name": {
                                "type": "string"
                            },
                            "stringValue": {
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UsageReports": {
            "id": "UsageReports",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "kind": {
                    "default": "admin#reports#usageReports",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "usageReports": {
                    "items": {
                        "$ref": "UsageReport"
                    },
                    "type": "array"
                },
                "warnings": {
                    "items": {
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "data": {
                                "items": {
                                    "properties": {
                                        "key": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Admin SDK",
    "version": "reports_v1"
}