{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/admin.reports.audit.readonly": {},
                "https://www.googleapis.com/auth/admin.reports.usage.readonly": {}
            }
        }
    },
    "basePath": "/admin/reports/v1/",
    "baseUrl": "https://www.googleapis.com/admin/reports/v1/",
    "batchPath": "batch/admin/reports_v1",
    "canonicalName": "reports",
    "discoveryVersion": "v1",
    "documentationLink": "/admin-sdk/reports/",
    "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/cjy_qN1sx94qX1efDr-Kt6Rsqlk\"",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "admin:reports_v1",
    "kind": "discovery#restDescription",
    "name": "admin",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "packagePath": "admin",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "activities": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "reports.activities.list",
                    "parameterOrder": [
                        "userKey",
                        "applicationName"
                    ],
                    "parameters": {
                        "actorIpAddress": {
                            "location": "query",
                            "type": "string"
                        },
                        "applicationName": {
                            "enum": [
                                "access_transparency",
                                "admin",
                                "calendar",
                                "chat",
                                "drive",
                                "gcp",
                                "gplus",
                                "groups",
                                "groups_enterprise",
                                "jamboard",
                                "login",
                                "meet",
                                "mobile",
                                "rules",
                                "saml",
                                "token",
                                "user_accounts"
                            ],
                            "enumDescriptions": [
                                "The G Suite Access Transparency activity reports return information about different types of Access Transparency activity events.",
                                "The Admin console application's activity reports return account information about different types of administrator activity events.",
                                "The G Suite Calendar application's activity reports return information about various Calendar activity events.",
                                "The Chat activity reports return information about various Chat activity events.",
                                "The Google Drive application's activity reports return information about various Google Drive activity events. The Drive activity report is only available for G Suite Business customers.",
                                "The Google Cloud Platform application's activity reports return information about various GCP activity events.",
                                "The Google+ application's activity reports return information about various Google+ activity events.",
                                "The Google Groups application's activity reports return information about various Groups activity events.",
                                "The Enterprise Groups activity reports return information about various Enterprise group activity events.",
                                "The Jamboard activity reports return information about various Jamboard activity events.",
                                "The Login application's activity reports return account information about different types of Login activity events.",
                                "The Meet Audit activity report return information about different types of Meet Audit activity events.",
                                "The Mobile Audit activity report return information about different types of Mobile Audit activity events.",
                                "The Rules activity report return information about different types of Rules activity events.",
                                "The SAML activity report return information about different types of SAML activity events.",
                                "The Token application's activity reports return account information about different types of Token activity events.",
                                "The User Accounts application's activity reports return account information about different types of User Accounts activity events."
                            ],
                            "location": "path",
                            "pattern": "(admin)|(calendar)|(drive)|(login)|(mobile)|(token)|(groups)|(saml)|(chat)|(gplus)|(rules)|(jamboard)|(meet)|(user_accounts)|(access_transparency)|(groups_enterprise)|(gcp)",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "endTime": {
                            "location": "query",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
                            "type": "string"
                        },
                        "eventName": {
                            "location": "query",
                            "type": "string"
                        },
                        "filters": {
                            "location": "query",
                            "pattern": "(.+[<,<=,==,>=,>,<>].+,)*(.+[<,<=,==,>=,>,<>].+)",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orgUnitID": {
                            "default": "",
                            "location": "query",
                            "pattern": "(id:[a-z0-9]+)",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "startTime": {
                            "location": "query",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
                            "type": "string"
                        },
                        "userKey": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "activity/users/{userKey}/applications/{applicationName}",
                    "response": {
                        "$ref": "Activities"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.audit.readonly"
                    ],
                    "supportsSubscription": true
                },
                "watch": {
                    "httpMethod": "POST",
                    "id": "reports.activities.watch",
                    "parameterOrder": [
                        "userKey",
                        "applicationName"
                    ],
                    "parameters": {
                        "actorIpAddress": {
                            "location": "query",
                            "type": "string"
                        },
                        "applicationName": {
                            "enum": [
                                "access_transparency",
                                "admin",
                                "calendar",
                                "chat",
                                "drive",
                                "gcp",
                                "gplus",
                                "groups",
                                "groups_enterprise",
                                "jamboard",
                                "login",
                                "meet",
                                "mobile",
                                "rules",
                                "saml",
                                "token",
                                "user_accounts"
                            ],
                            "enumDescriptions": [
                                "The G Suite Access Transparency activity reports return information about different types of Access Transparency activity events.",
                                "The Admin console application's activity reports return account information about different types of administrator activity events.",
                                "The G Suite Calendar application's activity reports return information about various Calendar activity events.",
                                "The Chat activity reports return information about various Chat activity events.",
                                "The Google Drive application's activity reports return information about various Google Drive activity events. The Drive activity report is only available for G Suite Business customers.",
                                "The Google Cloud Platform application's activity reports return information about various GCP activity events.",
                                "The Google+ application's activity reports return information about various Google+ activity events.",
                                "The Google Groups application's activity reports return information about various Groups activity events.",
                                "The Enterprise Groups activity reports return information about various Enterprise group activity events.",
                                "The Jamboard activity reports return information about various Jamboard activity events.",
                                "The Login application's activity reports return account information about different types of Login activity events.",
                                "The Meet Audit activity report return information about different types of Meet Audit activity events.",
                                "The Mobile Audit activity report return information about different types of Mobile Audit activity events.",
                                "The Rules activity report return information about different types of Rules activity events.",
                                "The SAML activity report return information about different types of SAML activity events.",
                                "The Token application's activity reports return account information about different types of Token activity events.",
                                "The User Accounts application's activity reports return account information about different types of User Accounts activity events."
                            ],
                            "location": "path",
                            "pattern": "(admin)|(calendar)|(drive)|(login)|(mobile)|(token)|(groups)|(saml)|(chat)|(gplus)|(rules)|(jamboard)|(meet)|(user_accounts)|(access_transparency)|(groups_enterprise)|(gcp)",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "endTime": {
                            "location": "query",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
                            "type": "string"
                        },
                        "eventName": {
                            "location": "query",
                            "type": "string"
                        },
                        "filters": {
                            "location": "query",
                            "pattern": "(.+[<,<=,==,>=,>,<>].+,)*(.+[<,<=,==,>=,>,<>].+)",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orgUnitID": {
                            "default": "",
                            "location": "query",
                            "pattern": "(id:[a-z0-9]+)",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "startTime": {
                            "location": "query",
                            "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
                            "type": "string"
                        },
                        "userKey": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "activity/users/{userKey}/applications/{applicationName}/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.audit.readonly"
                    ],
                    "supportsSubscription": true
                }
            }
        },
        "channels": {
            "methods": {
                "stop": {
                    "httpMethod": "POST",
                    "id": "admin.channels.stop",
                    "path": "/admin/reports_v1/channels/stop",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.audit.readonly"
                    ]
                }
            }
        },
        "customerUsageReports": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "reports.customerUsageReports.get",
                    "parameterOrder": [
                        "date"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "date": {
                            "location": "path",
                            "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parameters": {
                            "location": "query",
                            "pattern": "(((accounts)|(app_maker)|(apps_scripts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+,)*(((accounts)|(app_maker)|(apps_scripts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+)",
                            "type": "string"
                        }
                    },
                    "path": "usage/dates/{date}",
                    "response": {
                        "$ref": "UsageReports"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.usage.readonly"
                    ]
                }
            }
        },
        "entityUsageReports": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "reports.entityUsageReports.get",
                    "parameterOrder": [
                        "entityType",
                        "entityKey",
                        "date"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "date": {
                            "location": "path",
                            "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
                            "required": true,
                            "type": "string"
                        },
                        "entityKey": {
                            "enum": [
                                "all",
                                "entityKey"
                            ],
                            "enumDescriptions": [
                                "Returns activity events for all users.",
                                "Represents an app-specific identifier for the entity. For details on how to obtain the entityKey for a particular entityType, see the Entities Usage parameters reference guides."
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entityType": {
                            "enum": [
                                "gplus_communities"
                            ],
                            "enumDescriptions": [
                                "Returns a report on Google+ communities."
                            ],
                            "location": "path",
                            "pattern": "(gplus_communities)",
                            "required": true,
                            "type": "string"
                        },
                        "filters": {
                            "location": "query",
                            "pattern": "(((gplus)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+,)*(((gplus)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+)",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parameters": {
                            "location": "query",
                            "pattern": "(((gplus)):[^,]+,)*(((gplus)):[^,]+)",
                            "type": "string"
                        }
                    },
                    "path": "usage/{entityType}/{entityKey}/dates/{date}",
                    "response": {
                        "$ref": "UsageReports"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.usage.readonly"
                    ]
                }
            }
        },
        "userUsageReport": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "reports.userUsageReport.get",
                    "parameterOrder": [
                        "userKey",
                        "date"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "pattern": "C.+",
                            "type": "string"
                        },
                        "date": {
                            "location": "path",
                            "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
                            "required": true,
                            "type": "string"
                        },
                        "filters": {
                            "location": "query",
                            "pattern": "(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+,)*(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+)",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orgUnitID": {
                            "default": "",
                            "location": "query",
                            "pattern": "(id:[a-z0-9]+)",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parameters": {
                            "location": "query",
                            "pattern": "(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+,)*(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+)",
                            "type": "string"
                        },
                        "userKey": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "usage/users/{userKey}/dates/{date}",
                    "response": {
                        "$ref": "UsageReports"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.reports.usage.readonly"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Activities": {
            "id": "Activities",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "Activity"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "admin#reports#activities",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Activity": {
            "id": "Activity",
            "properties": {
                "actor": {
                    "properties": {
                        "callerType": {
                            "type": "string"
                        },
                        "email": {
                            "type": "string"
                        },
                        "key": {
                            "type": "string"
                        },
                        "profileId": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "etag": {
                    "type": "string"
                },
                "events": {
                    "items": {
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "parameters": {
                                "items": {
                                    "properties": {
                                        "boolValue": {
                                            "type": "boolean"
                                        },
                                        "intValue": {
                                            "format": "int64",
                                            "type": "string"
                                        },
                                        "messageValue": {
                                            "properties": {
                                                "parameter": {
                                                    "items": {
                                                        "$ref": "NestedParameter"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "multiIntValue": {
                                            "items": {
                                                "format": "int64",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "multiMessageValue": {
                                            "items": {
                                                "properties": {
                                                    "parameter": {
                                                        "items": {
                                                            "$ref": "NestedParameter"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "multiValue": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "id": {
                    "properties": {
                        "applicationName": {
                            "type": "string"
                        },
                        "customerId": {
                            "type": "string"
                        },
                        "time": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "uniqueQualifier": {
                            "format": "int64",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "ipAddress": {
                    "type": "string"
                },
                "kind": {
                    "default": "admin#reports#activity",
                    "type": "string"
                },
                "ownerDomain": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Channel": {
            "id": "Channel",
            "properties": {
                "address": {
                    "type": "string"
                },
                "expiration": {
                    "format": "int64",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "api#channel",
                    "type": "string"
                },
                "params": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "payload": {
                    "type": "boolean"
                },
                "resourceId": {
                    "type": "string"
                },
                "resourceUri": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NestedParameter": {
            "id": "NestedParameter",
            "properties": {
                "boolValue": {
                    "type": "boolean"
                },
                "intValue": {
                    "format": "int64",
                    "type": "string"
                },
                "multiBoolValue": {
                    "items": {
                        "type": "boolean"
                    },
                    "type": "array"
                },
                "multiIntValue": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "multiValue": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UsageReport": {
            "id": "UsageReport",
            "properties": {
                "date": {
                    "readOnly": true,
                    "type": "string"
                },
                "entity": {
                    "properties": {
                        "customerId": {
                            "readOnly": true,
                            "type": "string"
                        },
                        "entityId": {
                            "readOnly": true,
                            "type": "string"
                        },
                        "profileId": {
                            "readOnly": true,
                            "type": "string"
                        },
                        "type": {
                            "readOnly": true,
                            "type": "string"
                        },
                        "userEmail": {
                            "readOnly": true,
                            "type": "string"
                        }
                    },
                    "readOnly": true,
                    "type": "object"
                },
                "etag": {
                    "type": "string"
                },
                "kind": {
                    "default": "admin#reports#usageReport",
                    "type": "string"
                },
                "parameters": {
                    "items": {
                        "properties": {
                            "boolValue": {
                                "readOnly": true,
                                "type": "boolean"
                            },
                            "datetimeValue": {
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                            },
                            "intValue": {
                                "format": "int64",
                                "readOnly": true,
                                "type": "string"
                            },
                            "msgValue": {
                                "items": {
                                    "additionalProperties": {
                                        "type": "any"
                                    },
                                    "type": "object"
                                },
                                "readOnly": true,
                                "type": "array"
                            },
                            "name": {
                                "type": "string"
                            },
                            "stringValue": {
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UsageReports": {
            "id": "UsageReports",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "kind": {
                    "default": "admin#reports#usageReports",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "usageReports": {
                    "items": {
                        "$ref": "UsageReport"
                    },
                    "type": "array"
                },
                "warnings": {
                    "items": {
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "data": {
                                "items": {
                                    "properties": {
                                        "key": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "admin/reports/v1/",
    "title": "Admin Reports API",
    "version": "reports_v1"
}