{
    "basePath": "",
    "baseUrl": "https://admob.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "AdMob",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/admob/api/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "admob:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://admob.mtls.googleapis.com/",
    "name": "admob",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "methods": {
                "get": {
                    "flatPath": "v1/accounts/{accountsId}",
                    "httpMethod": "GET",
                    "id": "admob.accounts.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^accounts/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "PublisherAccount"
                    }
                },
                "list": {
                    "flatPath": "v1/accounts",
                    "httpMethod": "GET",
                    "id": "admob.accounts.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/accounts",
                    "response": {
                        "$ref": "ListPublisherAccountsResponse"
                    }
                }
            },
            "resources": {
                "mediationReport": {
                    "methods": {
                        "generate": {
                            "flatPath": "v1/accounts/{accountsId}/mediationReport:generate",
                            "httpMethod": "POST",
                            "id": "admob.accounts.mediationReport.generate",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/mediationReport:generate",
                            "request": {
                                "$ref": "GenerateMediationReportRequest"
                            },
                            "response": {
                                "$ref": "GenerateMediationReportResponse"
                            }
                        }
                    }
                },
                "networkReport": {
                    "methods": {
                        "generate": {
                            "flatPath": "v1/accounts/{accountsId}/networkReport:generate",
                            "httpMethod": "POST",
                            "id": "admob.accounts.networkReport.generate",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/networkReport:generate",
                            "request": {
                                "$ref": "GenerateNetworkReportRequest"
                            },
                            "response": {
                                "$ref": "GenerateNetworkReportResponse"
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://admob.googleapis.com/",
    "schemas": {
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DateRange": {
            "id": "DateRange",
            "properties": {
                "endDate": {
                    "$ref": "Date"
                },
                "startDate": {
                    "$ref": "Date"
                }
            },
            "type": "object"
        },
        "GenerateMediationReportRequest": {
            "id": "GenerateMediationReportRequest",
            "properties": {
                "reportSpec": {
                    "$ref": "MediationReportSpec"
                }
            },
            "type": "object"
        },
        "GenerateMediationReportResponse": {
            "id": "GenerateMediationReportResponse",
            "properties": {
                "footer": {
                    "$ref": "ReportFooter"
                },
                "header": {
                    "$ref": "ReportHeader"
                },
                "row": {
                    "$ref": "ReportRow"
                }
            },
            "type": "object"
        },
        "GenerateNetworkReportRequest": {
            "id": "GenerateNetworkReportRequest",
            "properties": {
                "reportSpec": {
                    "$ref": "NetworkReportSpec"
                }
            },
            "type": "object"
        },
        "GenerateNetworkReportResponse": {
            "id": "GenerateNetworkReportResponse",
            "properties": {
                "footer": {
                    "$ref": "ReportFooter"
                },
                "header": {
                    "$ref": "ReportHeader"
                },
                "row": {
                    "$ref": "ReportRow"
                }
            },
            "type": "object"
        },
        "ListPublisherAccountsResponse": {
            "id": "ListPublisherAccountsResponse",
            "properties": {
                "account": {
                    "items": {
                        "$ref": "PublisherAccount"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocalizationSettings": {
            "id": "LocalizationSettings",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MediationReportSpec": {
            "id": "MediationReportSpec",
            "properties": {
                "dateRange": {
                    "$ref": "DateRange"
                },
                "dimensionFilters": {
                    "items": {
                        "$ref": "MediationReportSpecDimensionFilter"
                    },
                    "type": "array"
                },
                "dimensions": {
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
                        "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
                        "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
                        "The unique ID of the ad source (for example, \"5450213213286189855\" and\n\"AdMob Network\" as label value).",
                        "The unique ID of the ad source instance (for example,\n\"ca-app-pub-1234#5678\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
                        "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
                        "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
                        "The unique ID of the mediation group (for example,\n\"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
                        "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
                        "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
                        "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
                    ],
                    "items": {
                        "enum": [
                            "DIMENSION_UNSPECIFIED",
                            "DATE",
                            "MONTH",
                            "WEEK",
                            "AD_SOURCE",
                            "AD_SOURCE_INSTANCE",
                            "AD_UNIT",
                            "APP",
                            "MEDIATION_GROUP",
                            "COUNTRY",
                            "FORMAT",
                            "PLATFORM"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "localizationSettings": {
                    "$ref": "LocalizationSettings"
                },
                "maxReportRows": {
                    "format": "int32",
                    "type": "integer"
                },
                "metrics": {
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "The number of requests. The value is an integer.",
                        "The number of times a user clicks an ad. The value is an integer.",
                        "The estimated earnings of the AdMob publisher. The currency unit (USD,\nEUR, or other) of the earning metrics are determined by the localization\nsetting for currency. The amount is in micros. For example, $6.50 would\nbe represented as 6500000.\n\n**Warning:** The metric is incompatible with\n[AD_SOURCE_INSTANCE](#Dimension.ENUM_VALUES.AD_SOURCE_INSTANCE) and\n[MEDIATION_GROUP](#Dimension.ENUM_VALUES.MEDIATION_GROUP) dimensions.",
                        "The total number of ads shown to users. The value is an integer.",
                        "The ratio of clicks over impressions. The value is a double precision\n(approximate) decimal value.",
                        "The number of times ads are returned in response to a request. The value\nis an integer.",
                        "The ratio of matched ad requests over the total ad requests. The value is\na double precision (approximate) decimal value.",
                        "The third-party ad network's estimated average eCPM. The currency unit\n(USD, EUR, or other) of the earning metrics are determined by the\nlocalization setting for currency. The amount is in micros. For example,\n$2.30 would be represented as 2300000.\n\n**Warning:** The metric is incompatible with\n[AD_SOURCE_INSTANCE](#Dimension.ENUM_VALUES.AD_SOURCE_INSTANCE) and\n[MEDIATION_GROUP](#Dimension.ENUM_VALUES.MEDIATION_GROUP) dimensions."
                    ],
                    "items": {
                        "enum": [
                            "METRIC_UNSPECIFIED",
                            "AD_REQUESTS",
                            "CLICKS",
                            "ESTIMATED_EARNINGS",
                            "IMPRESSIONS",
                            "IMPRESSION_CTR",
                            "MATCHED_REQUESTS",
                            "MATCH_RATE",
                            "OBSERVED_ECPM"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "sortConditions": {
                    "items": {
                        "$ref": "MediationReportSpecSortCondition"
                    },
                    "type": "array"
                },
                "timeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MediationReportSpecDimensionFilter": {
            "id": "MediationReportSpecDimensionFilter",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "DATE",
                        "MONTH",
                        "WEEK",
                        "AD_SOURCE",
                        "AD_SOURCE_INSTANCE",
                        "AD_UNIT",
                        "APP",
                        "MEDIATION_GROUP",
                        "COUNTRY",
                        "FORMAT",
                        "PLATFORM"
                    ],
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
                        "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
                        "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
                        "The unique ID of the ad source (for example, \"5450213213286189855\" and\n\"AdMob Network\" as label value).",
                        "The unique ID of the ad source instance (for example,\n\"ca-app-pub-1234#5678\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
                        "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
                        "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
                        "The unique ID of the mediation group (for example,\n\"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
                        "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
                        "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
                        "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
                    ],
                    "type": "string"
                },
                "matchesAny": {
                    "$ref": "StringList"
                }
            },
            "type": "object"
        },
        "MediationReportSpecSortCondition": {
            "id": "MediationReportSpecSortCondition",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "DATE",
                        "MONTH",
                        "WEEK",
                        "AD_SOURCE",
                        "AD_SOURCE_INSTANCE",
                        "AD_UNIT",
                        "APP",
                        "MEDIATION_GROUP",
                        "COUNTRY",
                        "FORMAT",
                        "PLATFORM"
                    ],
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
                        "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
                        "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
                        "The unique ID of the ad source (for example, \"5450213213286189855\" and\n\"AdMob Network\" as label value).",
                        "The unique ID of the ad source instance (for example,\n\"ca-app-pub-1234#5678\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
                        "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
                        "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
                        "The unique ID of the mediation group (for example,\n\"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).\n\n**Warning:** The dimension is incompatible with\n[ESTIMATED_EARNINGS](#Metric.ENUM_VALUES.ESTIMATED_EARNINGS) and\n[OBSERVED_ECPM](#Metric.ENUM_VALUES.OBSERVED_ECPM) metrics.",
                        "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
                        "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
                        "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
                    ],
                    "type": "string"
                },
                "metric": {
                    "enum": [
                        "METRIC_UNSPECIFIED",
                        "AD_REQUESTS",
                        "CLICKS",
                        "ESTIMATED_EARNINGS",
                        "IMPRESSIONS",
                        "IMPRESSION_CTR",
                        "MATCHED_REQUESTS",
                        "MATCH_RATE",
                        "OBSERVED_ECPM"
                    ],
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "The number of requests. The value is an integer.",
                        "The number of times a user clicks an ad. The value is an integer.",
                        "The estimated earnings of the AdMob publisher. The currency unit (USD,\nEUR, or other) of the earning metrics are determined by the localization\nsetting for currency. The amount is in micros. For example, $6.50 would\nbe represented as 6500000.\n\n**Warning:** The metric is incompatible with\n[AD_SOURCE_INSTANCE](#Dimension.ENUM_VALUES.AD_SOURCE_INSTANCE) and\n[MEDIATION_GROUP](#Dimension.ENUM_VALUES.MEDIATION_GROUP) dimensions.",
                        "The total number of ads shown to users. The value is an integer.",
                        "The ratio of clicks over impressions. The value is a double precision\n(approximate) decimal value.",
                        "The number of times ads are returned in response to a request. The value\nis an integer.",
                        "The ratio of matched ad requests over the total ad requests. The value is\na double precision (approximate) decimal value.",
                        "The third-party ad network's estimated average eCPM. The currency unit\n(USD, EUR, or other) of the earning metrics are determined by the\nlocalization setting for currency. The amount is in micros. For example,\n$2.30 would be represented as 2300000.\n\n**Warning:** The metric is incompatible with\n[AD_SOURCE_INSTANCE](#Dimension.ENUM_VALUES.AD_SOURCE_INSTANCE) and\n[MEDIATION_GROUP](#Dimension.ENUM_VALUES.MEDIATION_GROUP) dimensions."
                    ],
                    "type": "string"
                },
                "order": {
                    "enum": [
                        "SORT_ORDER_UNSPECIFIED",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "Sort dimension value or metric value in ascending order.",
                        "Sort dimension value or metric value in descending order."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkReportSpec": {
            "id": "NetworkReportSpec",
            "properties": {
                "dateRange": {
                    "$ref": "DateRange"
                },
                "dimensionFilters": {
                    "items": {
                        "$ref": "NetworkReportSpecDimensionFilter"
                    },
                    "type": "array"
                },
                "dimensions": {
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
                        "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
                        "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
                        "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
                        "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
                        "Type of the ad (for example, \"text\" or \"image\"), an ad delivery\ndimension.\n\n**Warning:** The dimension is incompatible with\n[AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS),\n[MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and\n[IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
                        "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
                        "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
                        "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
                    ],
                    "items": {
                        "enum": [
                            "DIMENSION_UNSPECIFIED",
                            "DATE",
                            "MONTH",
                            "WEEK",
                            "AD_UNIT",
                            "APP",
                            "AD_TYPE",
                            "COUNTRY",
                            "FORMAT",
                            "PLATFORM"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "localizationSettings": {
                    "$ref": "LocalizationSettings"
                },
                "maxReportRows": {
                    "format": "int32",
                    "type": "integer"
                },
                "metrics": {
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "The number of ad requests. The value is an integer.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
                        "The number of times a user clicks an ad. The value is an integer.",
                        "The estimated earnings of the AdMob publisher. The currency unit (USD,\nEUR, or other) of the earning metrics are determined by the localization\nsetting for currency. The amount is in micros. For example, $6.50 would\nbe represented as 6500000.",
                        "The total number of ads shown to users. The value is an integer.",
                        "The ratio of clicks over impressions. The value is a double precision\n(approximate) decimal value.",
                        "The estimated earnings per thousand ad impressions. The value is in\nmicros. For example, $1.03 would be represented as 1030000.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
                        "The number of times ads are returned in response to a request. The value\nis an integer.",
                        "The ratio of matched ad requests over the total ad requests. The value is\na double precision (approximate) decimal value.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
                        "The ratio of ads that are displayed over ads that are returned, defined\nas impressions / matched requests. The value is a double precision\n(approximate) decimal value."
                    ],
                    "items": {
                        "enum": [
                            "METRIC_UNSPECIFIED",
                            "AD_REQUESTS",
                            "CLICKS",
                            "ESTIMATED_EARNINGS",
                            "IMPRESSIONS",
                            "IMPRESSION_CTR",
                            "IMPRESSION_RPM",
                            "MATCHED_REQUESTS",
                            "MATCH_RATE",
                            "SHOW_RATE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "sortConditions": {
                    "items": {
                        "$ref": "NetworkReportSpecSortCondition"
                    },
                    "type": "array"
                },
                "timeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkReportSpecDimensionFilter": {
            "id": "NetworkReportSpecDimensionFilter",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "DATE",
                        "MONTH",
                        "WEEK",
                        "AD_UNIT",
                        "APP",
                        "AD_TYPE",
                        "COUNTRY",
                        "FORMAT",
                        "PLATFORM"
                    ],
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
                        "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
                        "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
                        "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
                        "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
                        "Type of the ad (for example, \"text\" or \"image\"), an ad delivery\ndimension.\n\n**Warning:** The dimension is incompatible with\n[AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS),\n[MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and\n[IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
                        "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
                        "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
                        "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
                    ],
                    "type": "string"
                },
                "matchesAny": {
                    "$ref": "StringList"
                }
            },
            "type": "object"
        },
        "NetworkReportSpecSortCondition": {
            "id": "NetworkReportSpecSortCondition",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "DATE",
                        "MONTH",
                        "WEEK",
                        "AD_UNIT",
                        "APP",
                        "AD_TYPE",
                        "COUNTRY",
                        "FORMAT",
                        "PLATFORM"
                    ],
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can\nspecify at most one time dimension.",
                        "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can\nspecify at most one time dimension.",
                        "The date of the first day of a week in the YYYY-MM-DD format\n(for example, \"2018-12-21\"). Requests can specify at most one time\ndimension.",
                        "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\").\nIf AD_UNIT dimension is specified, then APP is included automatically.",
                        "The unique ID of the mobile application (for example,\n\"ca-app-pub-1234~1234\").",
                        "Type of the ad (for example, \"text\" or \"image\"), an ad delivery\ndimension.\n\n**Warning:** The dimension is incompatible with\n[AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS),\n[MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and\n[IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
                        "CLDR country code of the place where the ad views/clicks occur (for\nexample, \"US\" or \"FR\"). This is a geography dimension.",
                        "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery\ndimension.",
                        "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
                    ],
                    "type": "string"
                },
                "metric": {
                    "enum": [
                        "METRIC_UNSPECIFIED",
                        "AD_REQUESTS",
                        "CLICKS",
                        "ESTIMATED_EARNINGS",
                        "IMPRESSIONS",
                        "IMPRESSION_CTR",
                        "IMPRESSION_RPM",
                        "MATCHED_REQUESTS",
                        "MATCH_RATE",
                        "SHOW_RATE"
                    ],
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "The number of ad requests. The value is an integer.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
                        "The number of times a user clicks an ad. The value is an integer.",
                        "The estimated earnings of the AdMob publisher. The currency unit (USD,\nEUR, or other) of the earning metrics are determined by the localization\nsetting for currency. The amount is in micros. For example, $6.50 would\nbe represented as 6500000.",
                        "The total number of ads shown to users. The value is an integer.",
                        "The ratio of clicks over impressions. The value is a double precision\n(approximate) decimal value.",
                        "The estimated earnings per thousand ad impressions. The value is in\nmicros. For example, $1.03 would be represented as 1030000.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
                        "The number of times ads are returned in response to a request. The value\nis an integer.",
                        "The ratio of matched ad requests over the total ad requests. The value is\na double precision (approximate) decimal value.\n\n**Warning:** The metric is incompatible with\n[AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
                        "The ratio of ads that are displayed over ads that are returned, defined\nas impressions / matched requests. The value is a double precision\n(approximate) decimal value."
                    ],
                    "type": "string"
                },
                "order": {
                    "enum": [
                        "SORT_ORDER_UNSPECIFIED",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "Sort dimension value or metric value in ascending order.",
                        "Sort dimension value or metric value in descending order."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PublisherAccount": {
            "id": "PublisherAccount",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "publisherId": {
                    "type": "string"
                },
                "reportingTimeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportFooter": {
            "id": "ReportFooter",
            "properties": {
                "matchingRowCount": {
                    "format": "int64",
                    "type": "string"
                },
                "warnings": {
                    "items": {
                        "$ref": "ReportWarning"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ReportHeader": {
            "id": "ReportHeader",
            "properties": {
                "dateRange": {
                    "$ref": "DateRange"
                },
                "localizationSettings": {
                    "$ref": "LocalizationSettings"
                },
                "reportingTimeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportRow": {
            "id": "ReportRow",
            "properties": {
                "dimensionValues": {
                    "additionalProperties": {
                        "$ref": "ReportRowDimensionValue"
                    },
                    "type": "object"
                },
                "metricValues": {
                    "additionalProperties": {
                        "$ref": "ReportRowMetricValue"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ReportRowDimensionValue": {
            "id": "ReportRowDimensionValue",
            "properties": {
                "displayLabel": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportRowMetricValue": {
            "id": "ReportRowMetricValue",
            "properties": {
                "doubleValue": {
                    "format": "double",
                    "type": "number"
                },
                "integerValue": {
                    "format": "int64",
                    "type": "string"
                },
                "microsValue": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportWarning": {
            "id": "ReportWarning",
            "properties": {
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE",
                        "DATA_DELAYED",
                        "OTHER",
                        "REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY"
                    ],
                    "enumDescriptions": [
                        "Default value for an unset field. Do not use.",
                        "Some data in this report is aggregated based on a time zone different\nfrom the requested time zone. This could happen if a local time-zone\nreport has the start time before the last time this time zone changed.\nThe description field will contain the date of the last time zone\nchange.",
                        "There is an unusual delay in processing the source data for the\nrequested date range. The report results might be less up to date than\nusual. AdMob is aware of the issue and is actively working to resolve\nit.",
                        "Warnings that are exposed without a specific type. Useful when new\nwarning types are added but the API is not changed yet.",
                        "The currency being requested is not the account currency. The earning\nmetrics will be based on the requested currency, and thus not a good\nestimation of the final payment anymore, due to the currency rate\nfluctuation."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StringList": {
            "id": "StringList",
            "properties": {
                "values": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "AdMob API",
    "version": "v1",
    "version_module": true
}