{
    "basePath": "",
    "baseUrl": "https://admob.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "AdMob",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/admob/api/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "admob:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://admob.mtls.googleapis.com/",
    "name": "admob",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "methods": {
                "get": {
                    "flatPath": "v1/accounts/{accountsId}",
                    "httpMethod": "GET",
                    "id": "admob.accounts.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^accounts/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "PublisherAccount"
                    }
                },
                "list": {
                    "flatPath": "v1/accounts",
                    "httpMethod": "GET",
                    "id": "admob.accounts.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/accounts",
                    "response": {
                        "$ref": "ListPublisherAccountsResponse"
                    }
                }
            },
            "resources": {
                "mediationReport": {
                    "methods": {
                        "generate": {
                            "flatPath": "v1/accounts/{accountsId}/mediationReport:generate",
                            "httpMethod": "POST",
                            "id": "admob.accounts.mediationReport.generate",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/mediationReport:generate",
                            "request": {
                                "$ref": "GenerateMediationReportRequest"
                            },
                            "response": {
                                "$ref": "GenerateMediationReportResponse"
                            }
                        }
                    }
                },
                "networkReport": {
                    "methods": {
                        "generate": {
                            "flatPath": "v1/accounts/{accountsId}/networkReport:generate",
                            "httpMethod": "POST",
                            "id": "admob.accounts.networkReport.generate",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/networkReport:generate",
                            "request": {
                                "$ref": "GenerateNetworkReportRequest"
                            },
                            "response": {
                                "$ref": "GenerateNetworkReportResponse"
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://admob.googleapis.com/",
    "schemas": {
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DateRange": {
            "id": "DateRange",
            "properties": {
                "endDate": {
                    "$ref": "Date"
                },
                "startDate": {
                    "$ref": "Date"
                }
            },
            "type": "object"
        },
        "GenerateMediationReportRequest": {
            "id": "GenerateMediationReportRequest",
            "properties": {
                "reportSpec": {
                    "$ref": "MediationReportSpec"
                }
            },
            "type": "object"
        },
        "GenerateMediationReportResponse": {
            "id": "GenerateMediationReportResponse",
            "properties": {
                "footer": {
                    "$ref": "ReportFooter"
                },
                "header": {
                    "$ref": "ReportHeader"
                },
                "row": {
                    "$ref": "ReportRow"
                }
            },
            "type": "object"
        },
        "GenerateNetworkReportRequest": {
            "id": "GenerateNetworkReportRequest",
            "properties": {
                "reportSpec": {
                    "$ref": "NetworkReportSpec"
                }
            },
            "type": "object"
        },
        "GenerateNetworkReportResponse": {
            "id": "GenerateNetworkReportResponse",
            "properties": {
                "footer": {
                    "$ref": "ReportFooter"
                },
                "header": {
                    "$ref": "ReportHeader"
                },
                "row": {
                    "$ref": "ReportRow"
                }
            },
            "type": "object"
        },
        "ListPublisherAccountsResponse": {
            "id": "ListPublisherAccountsResponse",
            "properties": {
                "account": {
                    "items": {
                        "$ref": "PublisherAccount"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocalizationSettings": {
            "id": "LocalizationSettings",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MediationReportSpec": {
            "id": "MediationReportSpec",
            "properties": {
                "dateRange": {
                    "$ref": "DateRange"
                },
                "dimensionFilters": {
                    "items": {
                        "$ref": "MediationReportSpecDimensionFilter"
                    },
                    "type": "array"
                },
                "dimensions": {
                    "items": {
                        "enum": [
                            "DIMENSION_UNSPECIFIED",
                            "DATE",
                            "MONTH",
                            "WEEK",
                            "AD_SOURCE",
                            "AD_SOURCE_INSTANCE",
                            "AD_UNIT",
                            "APP",
                            "MEDIATION_GROUP",
                            "COUNTRY",
                            "FORMAT",
                            "PLATFORM"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "localizationSettings": {
                    "$ref": "LocalizationSettings"
                },
                "maxReportRows": {
                    "format": "int32",
                    "type": "integer"
                },
                "metrics": {
                    "items": {
                        "enum": [
                            "METRIC_UNSPECIFIED",
                            "AD_REQUESTS",
                            "CLICKS",
                            "ESTIMATED_EARNINGS",
                            "IMPRESSIONS",
                            "IMPRESSION_CTR",
                            "MATCHED_REQUESTS",
                            "MATCH_RATE",
                            "OBSERVED_ECPM"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "sortConditions": {
                    "items": {
                        "$ref": "MediationReportSpecSortCondition"
                    },
                    "type": "array"
                },
                "timeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MediationReportSpecDimensionFilter": {
            "id": "MediationReportSpecDimensionFilter",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "DATE",
                        "MONTH",
                        "WEEK",
                        "AD_SOURCE",
                        "AD_SOURCE_INSTANCE",
                        "AD_UNIT",
                        "APP",
                        "MEDIATION_GROUP",
                        "COUNTRY",
                        "FORMAT",
                        "PLATFORM"
                    ],
                    "type": "string"
                },
                "matchesAny": {
                    "$ref": "StringList"
                }
            },
            "type": "object"
        },
        "MediationReportSpecSortCondition": {
            "id": "MediationReportSpecSortCondition",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "DATE",
                        "MONTH",
                        "WEEK",
                        "AD_SOURCE",
                        "AD_SOURCE_INSTANCE",
                        "AD_UNIT",
                        "APP",
                        "MEDIATION_GROUP",
                        "COUNTRY",
                        "FORMAT",
                        "PLATFORM"
                    ],
                    "type": "string"
                },
                "metric": {
                    "enum": [
                        "METRIC_UNSPECIFIED",
                        "AD_REQUESTS",
                        "CLICKS",
                        "ESTIMATED_EARNINGS",
                        "IMPRESSIONS",
                        "IMPRESSION_CTR",
                        "MATCHED_REQUESTS",
                        "MATCH_RATE",
                        "OBSERVED_ECPM"
                    ],
                    "type": "string"
                },
                "order": {
                    "enum": [
                        "SORT_ORDER_UNSPECIFIED",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkReportSpec": {
            "id": "NetworkReportSpec",
            "properties": {
                "dateRange": {
                    "$ref": "DateRange"
                },
                "dimensionFilters": {
                    "items": {
                        "$ref": "NetworkReportSpecDimensionFilter"
                    },
                    "type": "array"
                },
                "dimensions": {
                    "items": {
                        "enum": [
                            "DIMENSION_UNSPECIFIED",
                            "DATE",
                            "MONTH",
                            "WEEK",
                            "AD_UNIT",
                            "APP",
                            "AD_TYPE",
                            "COUNTRY",
                            "FORMAT",
                            "PLATFORM"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "localizationSettings": {
                    "$ref": "LocalizationSettings"
                },
                "maxReportRows": {
                    "format": "int32",
                    "type": "integer"
                },
                "metrics": {
                    "items": {
                        "enum": [
                            "METRIC_UNSPECIFIED",
                            "AD_REQUESTS",
                            "CLICKS",
                            "ESTIMATED_EARNINGS",
                            "IMPRESSIONS",
                            "IMPRESSION_CTR",
                            "IMPRESSION_RPM",
                            "MATCHED_REQUESTS",
                            "MATCH_RATE",
                            "SHOW_RATE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "sortConditions": {
                    "items": {
                        "$ref": "NetworkReportSpecSortCondition"
                    },
                    "type": "array"
                },
                "timeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkReportSpecDimensionFilter": {
            "id": "NetworkReportSpecDimensionFilter",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "DATE",
                        "MONTH",
                        "WEEK",
                        "AD_UNIT",
                        "APP",
                        "AD_TYPE",
                        "COUNTRY",
                        "FORMAT",
                        "PLATFORM"
                    ],
                    "type": "string"
                },
                "matchesAny": {
                    "$ref": "StringList"
                }
            },
            "type": "object"
        },
        "NetworkReportSpecSortCondition": {
            "id": "NetworkReportSpecSortCondition",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "DATE",
                        "MONTH",
                        "WEEK",
                        "AD_UNIT",
                        "APP",
                        "AD_TYPE",
                        "COUNTRY",
                        "FORMAT",
                        "PLATFORM"
                    ],
                    "type": "string"
                },
                "metric": {
                    "enum": [
                        "METRIC_UNSPECIFIED",
                        "AD_REQUESTS",
                        "CLICKS",
                        "ESTIMATED_EARNINGS",
                        "IMPRESSIONS",
                        "IMPRESSION_CTR",
                        "IMPRESSION_RPM",
                        "MATCHED_REQUESTS",
                        "MATCH_RATE",
                        "SHOW_RATE"
                    ],
                    "type": "string"
                },
                "order": {
                    "enum": [
                        "SORT_ORDER_UNSPECIFIED",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PublisherAccount": {
            "id": "PublisherAccount",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "publisherId": {
                    "type": "string"
                },
                "reportingTimeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportFooter": {
            "id": "ReportFooter",
            "properties": {
                "matchingRowCount": {
                    "format": "int64",
                    "type": "string"
                },
                "warnings": {
                    "items": {
                        "$ref": "ReportWarning"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ReportHeader": {
            "id": "ReportHeader",
            "properties": {
                "dateRange": {
                    "$ref": "DateRange"
                },
                "localizationSettings": {
                    "$ref": "LocalizationSettings"
                },
                "reportingTimeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportRow": {
            "id": "ReportRow",
            "properties": {
                "dimensionValues": {
                    "additionalProperties": {
                        "$ref": "ReportRowDimensionValue"
                    },
                    "type": "object"
                },
                "metricValues": {
                    "additionalProperties": {
                        "$ref": "ReportRowMetricValue"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ReportRowDimensionValue": {
            "id": "ReportRowDimensionValue",
            "properties": {
                "displayLabel": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportRowMetricValue": {
            "id": "ReportRowMetricValue",
            "properties": {
                "doubleValue": {
                    "format": "double",
                    "type": "number"
                },
                "integerValue": {
                    "format": "int64",
                    "type": "string"
                },
                "microsValue": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportWarning": {
            "id": "ReportWarning",
            "properties": {
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE",
                        "DATA_DELAYED",
                        "OTHER",
                        "REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StringList": {
            "id": "StringList",
            "properties": {
                "values": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "AdMob API",
    "version": "v1",
    "version_module": true
}