{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/apps.alerts": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://alertcenter.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "AlertCenter",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/admin-sdk/alertcenter/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "alertcenter:v1beta1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
    "name": "alertcenter",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "alerts": {
            "methods": {
                "batchDelete": {
                    "flatPath": "v1beta1/alerts:batchDelete",
                    "httpMethod": "POST",
                    "id": "alertcenter.alerts.batchDelete",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1beta1/alerts:batchDelete",
                    "request": {
                        "$ref": "BatchDeleteAlertsRequest"
                    },
                    "response": {
                        "$ref": "BatchDeleteAlertsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.alerts"
                    ]
                },
                "batchUndelete": {
                    "flatPath": "v1beta1/alerts:batchUndelete",
                    "httpMethod": "POST",
                    "id": "alertcenter.alerts.batchUndelete",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1beta1/alerts:batchUndelete",
                    "request": {
                        "$ref": "BatchUndeleteAlertsRequest"
                    },
                    "response": {
                        "$ref": "BatchUndeleteAlertsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.alerts"
                    ]
                },
                "delete": {
                    "flatPath": "v1beta1/alerts/{alertId}",
                    "httpMethod": "DELETE",
                    "id": "alertcenter.alerts.delete",
                    "parameterOrder": [
                        "alertId"
                    ],
                    "parameters": {
                        "alertId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/alerts/{alertId}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.alerts"
                    ]
                },
                "get": {
                    "flatPath": "v1beta1/alerts/{alertId}",
                    "httpMethod": "GET",
                    "id": "alertcenter.alerts.get",
                    "parameterOrder": [
                        "alertId"
                    ],
                    "parameters": {
                        "alertId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/alerts/{alertId}",
                    "response": {
                        "$ref": "Alert"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.alerts"
                    ]
                },
                "getMetadata": {
                    "flatPath": "v1beta1/alerts/{alertId}/metadata",
                    "httpMethod": "GET",
                    "id": "alertcenter.alerts.getMetadata",
                    "parameterOrder": [
                        "alertId"
                    ],
                    "parameters": {
                        "alertId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/alerts/{alertId}/metadata",
                    "response": {
                        "$ref": "AlertMetadata"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.alerts"
                    ]
                },
                "list": {
                    "flatPath": "v1beta1/alerts",
                    "httpMethod": "GET",
                    "id": "alertcenter.alerts.list",
                    "parameterOrder": [],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "type": "string"
                        },
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/alerts",
                    "response": {
                        "$ref": "ListAlertsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.alerts"
                    ]
                },
                "undelete": {
                    "flatPath": "v1beta1/alerts/{alertId}:undelete",
                    "httpMethod": "POST",
                    "id": "alertcenter.alerts.undelete",
                    "parameterOrder": [
                        "alertId"
                    ],
                    "parameters": {
                        "alertId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/alerts/{alertId}:undelete",
                    "request": {
                        "$ref": "UndeleteAlertRequest"
                    },
                    "response": {
                        "$ref": "Alert"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.alerts"
                    ]
                }
            },
            "resources": {
                "feedback": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/alerts/{alertId}/feedback",
                            "httpMethod": "POST",
                            "id": "alertcenter.alerts.feedback.create",
                            "parameterOrder": [
                                "alertId"
                            ],
                            "parameters": {
                                "alertId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customerId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/alerts/{alertId}/feedback",
                            "request": {
                                "$ref": "AlertFeedback"
                            },
                            "response": {
                                "$ref": "AlertFeedback"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/apps.alerts"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/alerts/{alertId}/feedback",
                            "httpMethod": "GET",
                            "id": "alertcenter.alerts.feedback.list",
                            "parameterOrder": [
                                "alertId"
                            ],
                            "parameters": {
                                "alertId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customerId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/alerts/{alertId}/feedback",
                            "response": {
                                "$ref": "ListAlertFeedbackResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/apps.alerts"
                            ]
                        }
                    }
                }
            }
        },
        "v1beta1": {
            "methods": {
                "getSettings": {
                    "flatPath": "v1beta1/settings",
                    "httpMethod": "GET",
                    "id": "alertcenter.getSettings",
                    "parameterOrder": [],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/settings",
                    "response": {
                        "$ref": "Settings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.alerts"
                    ]
                },
                "updateSettings": {
                    "flatPath": "v1beta1/settings",
                    "httpMethod": "PATCH",
                    "id": "alertcenter.updateSettings",
                    "parameterOrder": [],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/settings",
                    "request": {
                        "$ref": "Settings"
                    },
                    "response": {
                        "$ref": "Settings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.alerts"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://alertcenter.googleapis.com/",
    "schemas": {
        "AccountWarning": {
            "id": "AccountWarning",
            "properties": {
                "email": {
                    "type": "string"
                },
                "loginDetails": {
                    "$ref": "LoginDetails"
                }
            },
            "type": "object"
        },
        "ActivityRule": {
            "id": "ActivityRule",
            "properties": {
                "actionNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "query": {
                    "type": "string"
                },
                "supersededAlerts": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "supersedingAlert": {
                    "type": "string"
                },
                "threshold": {
                    "type": "string"
                },
                "triggerSource": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "windowSize": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Alert": {
            "id": "Alert",
            "properties": {
                "alertId": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "customerId": {
                    "type": "string"
                },
                "data": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "deleted": {
                    "type": "boolean"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "metadata": {
                    "$ref": "AlertMetadata"
                },
                "securityInvestigationToolLink": {
                    "type": "string"
                },
                "source": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AlertFeedback": {
            "id": "AlertFeedback",
            "properties": {
                "alertId": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "customerId": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "feedbackId": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
                        "NOT_USEFUL",
                        "SOMEWHAT_USEFUL",
                        "VERY_USEFUL"
                    ],
                    "enumDescriptions": [
                        "The feedback type is not specified.",
                        "The alert report is not useful.",
                        "The alert report is somewhat useful.",
                        "The alert report is very useful."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AlertMetadata": {
            "id": "AlertMetadata",
            "properties": {
                "alertId": {
                    "type": "string"
                },
                "assignee": {
                    "type": "string"
                },
                "customerId": {
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "severity": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppMakerSqlSetupNotification": {
            "id": "AppMakerSqlSetupNotification",
            "properties": {
                "requestInfo": {
                    "items": {
                        "$ref": "RequestInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Attachment": {
            "id": "Attachment",
            "properties": {
                "csv": {
                    "$ref": "Csv"
                }
            },
            "type": "object"
        },
        "BadWhitelist": {
            "id": "BadWhitelist",
            "properties": {
                "domainId": {
                    "$ref": "DomainId"
                },
                "maliciousEntity": {
                    "$ref": "MaliciousEntity"
                },
                "messages": {
                    "items": {
                        "$ref": "GmailMessageInfo"
                    },
                    "type": "array"
                },
                "sourceIp": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchDeleteAlertsRequest": {
            "id": "BatchDeleteAlertsRequest",
            "properties": {
                "alertId": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "customerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchDeleteAlertsResponse": {
            "id": "BatchDeleteAlertsResponse",
            "properties": {
                "failedAlertStatus": {
                    "additionalProperties": {
                        "$ref": "Status"
                    },
                    "type": "object"
                },
                "successAlertIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchUndeleteAlertsRequest": {
            "id": "BatchUndeleteAlertsRequest",
            "properties": {
                "alertId": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "customerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchUndeleteAlertsResponse": {
            "id": "BatchUndeleteAlertsResponse",
            "properties": {
                "failedAlertStatus": {
                    "additionalProperties": {
                        "$ref": "Status"
                    },
                    "type": "object"
                },
                "successAlertIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CloudPubsubTopic": {
            "id": "CloudPubsubTopic",
            "properties": {
                "payloadFormat": {
                    "enum": [
                        "PAYLOAD_FORMAT_UNSPECIFIED",
                        "JSON"
                    ],
                    "enumDescriptions": [
                        "Payload format is not specified (will use JSON as default).",
                        "Use JSON."
                    ],
                    "type": "string"
                },
                "topicName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Csv": {
            "id": "Csv",
            "properties": {
                "dataRows": {
                    "items": {
                        "$ref": "CsvRow"
                    },
                    "type": "array"
                },
                "headers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CsvRow": {
            "id": "CsvRow",
            "properties": {
                "entries": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DeviceCompromised": {
            "id": "DeviceCompromised",
            "properties": {
                "email": {
                    "type": "string"
                },
                "events": {
                    "items": {
                        "$ref": "DeviceCompromisedSecurityDetail"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DeviceCompromisedSecurityDetail": {
            "id": "DeviceCompromisedSecurityDetail",
            "properties": {
                "deviceCompromisedState": {
                    "type": "string"
                },
                "deviceId": {
                    "type": "string"
                },
                "deviceModel": {
                    "type": "string"
                },
                "deviceType": {
                    "type": "string"
                },
                "iosVendorId": {
                    "type": "string"
                },
                "resourceId": {
                    "type": "string"
                },
                "serialNumber": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DlpRuleViolation": {
            "id": "DlpRuleViolation",
            "properties": {
                "ruleViolationInfo": {
                    "$ref": "RuleViolationInfo"
                }
            },
            "type": "object"
        },
        "DomainId": {
            "id": "DomainId",
            "properties": {
                "customerPrimaryDomain": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DomainWideTakeoutInitiated": {
            "id": "DomainWideTakeoutInitiated",
            "properties": {
                "email": {
                    "type": "string"
                },
                "takeoutRequestId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "GmailMessageInfo": {
            "id": "GmailMessageInfo",
            "properties": {
                "attachmentsSha256Hash": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "date": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "md5HashMessageBody": {
                    "type": "string"
                },
                "md5HashSubject": {
                    "type": "string"
                },
                "messageBodySnippet": {
                    "type": "string"
                },
                "messageId": {
                    "type": "string"
                },
                "recipient": {
                    "type": "string"
                },
                "subjectText": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleOperations": {
            "id": "GoogleOperations",
            "properties": {
                "affectedUserEmails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "attachmentData": {
                    "$ref": "Attachment"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAlertFeedbackResponse": {
            "id": "ListAlertFeedbackResponse",
            "properties": {
                "feedback": {
                    "items": {
                        "$ref": "AlertFeedback"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListAlertsResponse": {
            "id": "ListAlertsResponse",
            "properties": {
                "alerts": {
                    "items": {
                        "$ref": "Alert"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LoginDetails": {
            "id": "LoginDetails",
            "properties": {
                "ipAddress": {
                    "type": "string"
                },
                "loginTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MailPhishing": {
            "id": "MailPhishing",
            "properties": {
                "domainId": {
                    "$ref": "DomainId"
                },
                "isInternal": {
                    "type": "boolean"
                },
                "maliciousEntity": {
                    "$ref": "MaliciousEntity"
                },
                "messages": {
                    "items": {
                        "$ref": "GmailMessageInfo"
                    },
                    "type": "array"
                },
                "systemActionType": {
                    "enum": [
                        "SYSTEM_ACTION_TYPE_UNSPECIFIED",
                        "NO_OPERATION",
                        "REMOVED_FROM_INBOX"
                    ],
                    "enumDescriptions": [
                        "System action is unspecified.",
                        "No operation.",
                        "Messages were removed from the inbox."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MaliciousEntity": {
            "id": "MaliciousEntity",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "entity": {
                    "$ref": "User"
                },
                "fromHeader": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MatchInfo": {
            "id": "MatchInfo",
            "properties": {
                "predefinedDetector": {
                    "$ref": "PredefinedDetectorInfo"
                },
                "userDefinedDetector": {
                    "$ref": "UserDefinedDetectorInfo"
                }
            },
            "type": "object"
        },
        "Notification": {
            "id": "Notification",
            "properties": {
                "cloudPubsubTopic": {
                    "$ref": "CloudPubsubTopic"
                }
            },
            "type": "object"
        },
        "PhishingSpike": {
            "id": "PhishingSpike",
            "properties": {
                "domainId": {
                    "$ref": "DomainId"
                },
                "isInternal": {
                    "type": "boolean"
                },
                "maliciousEntity": {
                    "$ref": "MaliciousEntity"
                },
                "messages": {
                    "items": {
                        "$ref": "GmailMessageInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PredefinedDetectorInfo": {
            "id": "PredefinedDetectorInfo",
            "properties": {
                "detectorName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RequestInfo": {
            "id": "RequestInfo",
            "properties": {
                "appDeveloperEmail": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "appKey": {
                    "type": "string"
                },
                "numberOfRequests": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResourceInfo": {
            "id": "ResourceInfo",
            "properties": {
                "documentId": {
                    "type": "string"
                },
                "resourceTitle": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RuleInfo": {
            "id": "RuleInfo",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RuleViolationInfo": {
            "id": "RuleViolationInfo",
            "properties": {
                "dataSource": {
                    "enum": [
                        "DATA_SOURCE_UNSPECIFIED",
                        "DRIVE"
                    ],
                    "enumDescriptions": [
                        "Data source is unspecified.",
                        "Drive data source."
                    ],
                    "type": "string"
                },
                "matchInfo": {
                    "items": {
                        "$ref": "MatchInfo"
                    },
                    "type": "array"
                },
                "recipients": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "resourceInfo": {
                    "$ref": "ResourceInfo"
                },
                "ruleInfo": {
                    "$ref": "RuleInfo"
                },
                "suppressedActionTypes": {
                    "enumDescriptions": [
                        "Action type is unspecified.",
                        "Block sharing a file externally.",
                        "Show a warning message when sharing a file externally.",
                        "Send alert."
                    ],
                    "items": {
                        "enum": [
                            "ACTION_TYPE_UNSPECIFIED",
                            "DRIVE_BLOCK_EXTERNAL_SHARING",
                            "DRIVE_WARN_ON_EXTERNAL_SHARING",
                            "ALERT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "trigger": {
                    "enum": [
                        "TRIGGER_UNSPECIFIED",
                        "DRIVE_SHARE"
                    ],
                    "enumDescriptions": [
                        "Trigger is unspecified.",
                        "A Drive file is shared."
                    ],
                    "type": "string"
                },
                "triggeredActionTypes": {
                    "enumDescriptions": [
                        "Action type is unspecified.",
                        "Block sharing a file externally.",
                        "Show a warning message when sharing a file externally.",
                        "Send alert."
                    ],
                    "items": {
                        "enum": [
                            "ACTION_TYPE_UNSPECIFIED",
                            "DRIVE_BLOCK_EXTERNAL_SHARING",
                            "DRIVE_WARN_ON_EXTERNAL_SHARING",
                            "ALERT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "triggeringUserEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Settings": {
            "id": "Settings",
            "properties": {
                "notifications": {
                    "items": {
                        "$ref": "Notification"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "StateSponsoredAttack": {
            "id": "StateSponsoredAttack",
            "properties": {
                "email": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SuspiciousActivity": {
            "id": "SuspiciousActivity",
            "properties": {
                "email": {
                    "type": "string"
                },
                "events": {
                    "items": {
                        "$ref": "SuspiciousActivitySecurityDetail"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SuspiciousActivitySecurityDetail": {
            "id": "SuspiciousActivitySecurityDetail",
            "properties": {
                "deviceId": {
                    "type": "string"
                },
                "deviceModel": {
                    "type": "string"
                },
                "deviceProperty": {
                    "type": "string"
                },
                "deviceType": {
                    "type": "string"
                },
                "iosVendorId": {
                    "type": "string"
                },
                "newValue": {
                    "type": "string"
                },
                "oldValue": {
                    "type": "string"
                },
                "resourceId": {
                    "type": "string"
                },
                "serialNumber": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UndeleteAlertRequest": {
            "id": "UndeleteAlertRequest",
            "properties": {
                "customerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "User": {
            "id": "User",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "emailAddress": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UserDefinedDetectorInfo": {
            "id": "UserDefinedDetectorInfo",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "G Suite Alert Center API",
    "version": "v1beta1",
    "version_module": true
}