{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/analytics": {},
                "https://www.googleapis.com/auth/analytics.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://analyticsreporting.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "AnalyticsReporting",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/analytics/devguides/reporting/core/v4/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "analyticsreporting:v4",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://analyticsreporting.mtls.googleapis.com/",
    "name": "analyticsreporting",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "reports": {
            "methods": {
                "batchGet": {
                    "flatPath": "v4/reports:batchGet",
                    "httpMethod": "POST",
                    "id": "analyticsreporting.reports.batchGet",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/reports:batchGet",
                    "request": {
                        "$ref": "GetReportsRequest"
                    },
                    "response": {
                        "$ref": "GetReportsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/analytics",
                        "https://www.googleapis.com/auth/analytics.readonly"
                    ]
                }
            }
        },
        "userActivity": {
            "methods": {
                "search": {
                    "flatPath": "v4/userActivity:search",
                    "httpMethod": "POST",
                    "id": "analyticsreporting.userActivity.search",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/userActivity:search",
                    "request": {
                        "$ref": "SearchUserActivityRequest"
                    },
                    "response": {
                        "$ref": "SearchUserActivityResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/analytics",
                        "https://www.googleapis.com/auth/analytics.readonly"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://analyticsreporting.googleapis.com/",
    "schemas": {
        "Activity": {
            "id": "Activity",
            "properties": {
                "activityTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "activityType": {
                    "enum": [
                        "ACTIVITY_TYPE_UNSPECIFIED",
                        "PAGEVIEW",
                        "SCREENVIEW",
                        "GOAL",
                        "ECOMMERCE",
                        "EVENT"
                    ],
                    "type": "string"
                },
                "appview": {
                    "$ref": "ScreenviewData"
                },
                "campaign": {
                    "type": "string"
                },
                "channelGrouping": {
                    "type": "string"
                },
                "customDimension": {
                    "items": {
                        "$ref": "CustomDimension"
                    },
                    "type": "array"
                },
                "ecommerce": {
                    "$ref": "EcommerceData"
                },
                "event": {
                    "$ref": "EventData"
                },
                "goals": {
                    "$ref": "GoalSetData"
                },
                "hostname": {
                    "type": "string"
                },
                "keyword": {
                    "type": "string"
                },
                "landingPagePath": {
                    "type": "string"
                },
                "medium": {
                    "type": "string"
                },
                "pageview": {
                    "$ref": "PageviewData"
                },
                "source": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Cohort": {
            "id": "Cohort",
            "properties": {
                "dateRange": {
                    "$ref": "DateRange"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "UNSPECIFIED_COHORT_TYPE",
                        "FIRST_VISIT_DATE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CohortGroup": {
            "id": "CohortGroup",
            "properties": {
                "cohorts": {
                    "items": {
                        "$ref": "Cohort"
                    },
                    "type": "array"
                },
                "lifetimeValue": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ColumnHeader": {
            "id": "ColumnHeader",
            "properties": {
                "dimensions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "metricHeader": {
                    "$ref": "MetricHeader"
                }
            },
            "type": "object"
        },
        "CustomDimension": {
            "id": "CustomDimension",
            "properties": {
                "index": {
                    "format": "int32",
                    "type": "integer"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DateRange": {
            "id": "DateRange",
            "properties": {
                "endDate": {
                    "type": "string"
                },
                "startDate": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DateRangeValues": {
            "id": "DateRangeValues",
            "properties": {
                "pivotValueRegions": {
                    "items": {
                        "$ref": "PivotValueRegion"
                    },
                    "type": "array"
                },
                "values": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Dimension": {
            "id": "Dimension",
            "properties": {
                "histogramBuckets": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DimensionFilter": {
            "id": "DimensionFilter",
            "properties": {
                "caseSensitive": {
                    "type": "boolean"
                },
                "dimensionName": {
                    "type": "string"
                },
                "expressions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "not": {
                    "type": "boolean"
                },
                "operator": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "REGEXP",
                        "BEGINS_WITH",
                        "ENDS_WITH",
                        "PARTIAL",
                        "EXACT",
                        "NUMERIC_EQUAL",
                        "NUMERIC_GREATER_THAN",
                        "NUMERIC_LESS_THAN",
                        "IN_LIST"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DimensionFilterClause": {
            "id": "DimensionFilterClause",
            "properties": {
                "filters": {
                    "items": {
                        "$ref": "DimensionFilter"
                    },
                    "type": "array"
                },
                "operator": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "OR",
                        "AND"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DynamicSegment": {
            "id": "DynamicSegment",
            "properties": {
                "name": {
                    "type": "string"
                },
                "sessionSegment": {
                    "$ref": "SegmentDefinition"
                },
                "userSegment": {
                    "$ref": "SegmentDefinition"
                }
            },
            "type": "object"
        },
        "EcommerceData": {
            "id": "EcommerceData",
            "properties": {
                "actionType": {
                    "enum": [
                        "UNKNOWN",
                        "CLICK",
                        "DETAILS_VIEW",
                        "ADD_TO_CART",
                        "REMOVE_FROM_CART",
                        "CHECKOUT",
                        "PAYMENT",
                        "REFUND",
                        "CHECKOUT_OPTION"
                    ],
                    "type": "string"
                },
                "ecommerceType": {
                    "enum": [
                        "ECOMMERCE_TYPE_UNSPECIFIED",
                        "CLASSIC",
                        "ENHANCED"
                    ],
                    "type": "string"
                },
                "products": {
                    "items": {
                        "$ref": "ProductData"
                    },
                    "type": "array"
                },
                "transaction": {
                    "$ref": "TransactionData"
                }
            },
            "type": "object"
        },
        "EventData": {
            "id": "EventData",
            "properties": {
                "eventAction": {
                    "type": "string"
                },
                "eventCategory": {
                    "type": "string"
                },
                "eventCount": {
                    "format": "int64",
                    "type": "string"
                },
                "eventLabel": {
                    "type": "string"
                },
                "eventValue": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetReportsRequest": {
            "id": "GetReportsRequest",
            "properties": {
                "reportRequests": {
                    "items": {
                        "$ref": "ReportRequest"
                    },
                    "type": "array"
                },
                "useResourceQuotas": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GetReportsResponse": {
            "id": "GetReportsResponse",
            "properties": {
                "queryCost": {
                    "format": "int32",
                    "type": "integer"
                },
                "reports": {
                    "items": {
                        "$ref": "Report"
                    },
                    "type": "array"
                },
                "resourceQuotasRemaining": {
                    "$ref": "ResourceQuotasRemaining"
                }
            },
            "type": "object"
        },
        "GoalData": {
            "id": "GoalData",
            "properties": {
                "goalCompletionLocation": {
                    "type": "string"
                },
                "goalCompletions": {
                    "format": "int64",
                    "type": "string"
                },
                "goalIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "goalName": {
                    "type": "string"
                },
                "goalPreviousStep1": {
                    "type": "string"
                },
                "goalPreviousStep2": {
                    "type": "string"
                },
                "goalPreviousStep3": {
                    "type": "string"
                },
                "goalValue": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoalSetData": {
            "id": "GoalSetData",
            "properties": {
                "goals": {
                    "items": {
                        "$ref": "GoalData"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Metric": {
            "id": "Metric",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "expression": {
                    "type": "string"
                },
                "formattingType": {
                    "enum": [
                        "METRIC_TYPE_UNSPECIFIED",
                        "INTEGER",
                        "FLOAT",
                        "CURRENCY",
                        "PERCENT",
                        "TIME"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricFilter": {
            "id": "MetricFilter",
            "properties": {
                "comparisonValue": {
                    "type": "string"
                },
                "metricName": {
                    "type": "string"
                },
                "not": {
                    "type": "boolean"
                },
                "operator": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "EQUAL",
                        "LESS_THAN",
                        "GREATER_THAN",
                        "IS_MISSING"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricFilterClause": {
            "id": "MetricFilterClause",
            "properties": {
                "filters": {
                    "items": {
                        "$ref": "MetricFilter"
                    },
                    "type": "array"
                },
                "operator": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "OR",
                        "AND"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricHeader": {
            "id": "MetricHeader",
            "properties": {
                "metricHeaderEntries": {
                    "items": {
                        "$ref": "MetricHeaderEntry"
                    },
                    "type": "array"
                },
                "pivotHeaders": {
                    "items": {
                        "$ref": "PivotHeader"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MetricHeaderEntry": {
            "id": "MetricHeaderEntry",
            "properties": {
                "name": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "METRIC_TYPE_UNSPECIFIED",
                        "INTEGER",
                        "FLOAT",
                        "CURRENCY",
                        "PERCENT",
                        "TIME"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OrFiltersForSegment": {
            "id": "OrFiltersForSegment",
            "properties": {
                "segmentFilterClauses": {
                    "items": {
                        "$ref": "SegmentFilterClause"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "OrderBy": {
            "id": "OrderBy",
            "properties": {
                "fieldName": {
                    "type": "string"
                },
                "orderType": {
                    "enum": [
                        "ORDER_TYPE_UNSPECIFIED",
                        "VALUE",
                        "DELTA",
                        "SMART",
                        "HISTOGRAM_BUCKET",
                        "DIMENSION_AS_INTEGER"
                    ],
                    "type": "string"
                },
                "sortOrder": {
                    "enum": [
                        "SORT_ORDER_UNSPECIFIED",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PageviewData": {
            "id": "PageviewData",
            "properties": {
                "pagePath": {
                    "type": "string"
                },
                "pageTitle": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Pivot": {
            "id": "Pivot",
            "properties": {
                "dimensionFilterClauses": {
                    "items": {
                        "$ref": "DimensionFilterClause"
                    },
                    "type": "array"
                },
                "dimensions": {
                    "items": {
                        "$ref": "Dimension"
                    },
                    "type": "array"
                },
                "maxGroupCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "metrics": {
                    "items": {
                        "$ref": "Metric"
                    },
                    "type": "array"
                },
                "startGroup": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PivotHeader": {
            "id": "PivotHeader",
            "properties": {
                "pivotHeaderEntries": {
                    "items": {
                        "$ref": "PivotHeaderEntry"
                    },
                    "type": "array"
                },
                "totalPivotGroupsCount": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PivotHeaderEntry": {
            "id": "PivotHeaderEntry",
            "properties": {
                "dimensionNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "dimensionValues": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "metric": {
                    "$ref": "MetricHeaderEntry"
                }
            },
            "type": "object"
        },
        "PivotValueRegion": {
            "id": "PivotValueRegion",
            "properties": {
                "values": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ProductData": {
            "id": "ProductData",
            "properties": {
                "itemRevenue": {
                    "format": "double",
                    "type": "number"
                },
                "productName": {
                    "type": "string"
                },
                "productQuantity": {
                    "format": "int64",
                    "type": "string"
                },
                "productSku": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Report": {
            "id": "Report",
            "properties": {
                "columnHeader": {
                    "$ref": "ColumnHeader"
                },
                "data": {
                    "$ref": "ReportData"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportData": {
            "id": "ReportData",
            "properties": {
                "dataLastRefreshed": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "isDataGolden": {
                    "type": "boolean"
                },
                "maximums": {
                    "items": {
                        "$ref": "DateRangeValues"
                    },
                    "type": "array"
                },
                "minimums": {
                    "items": {
                        "$ref": "DateRangeValues"
                    },
                    "type": "array"
                },
                "rowCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "rows": {
                    "items": {
                        "$ref": "ReportRow"
                    },
                    "type": "array"
                },
                "samplesReadCounts": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "samplingSpaceSizes": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "totals": {
                    "items": {
                        "$ref": "DateRangeValues"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ReportRequest": {
            "id": "ReportRequest",
            "properties": {
                "cohortGroup": {
                    "$ref": "CohortGroup"
                },
                "dateRanges": {
                    "items": {
                        "$ref": "DateRange"
                    },
                    "type": "array"
                },
                "dimensionFilterClauses": {
                    "items": {
                        "$ref": "DimensionFilterClause"
                    },
                    "type": "array"
                },
                "dimensions": {
                    "items": {
                        "$ref": "Dimension"
                    },
                    "type": "array"
                },
                "filtersExpression": {
                    "type": "string"
                },
                "hideTotals": {
                    "type": "boolean"
                },
                "hideValueRanges": {
                    "type": "boolean"
                },
                "includeEmptyRows": {
                    "type": "boolean"
                },
                "metricFilterClauses": {
                    "items": {
                        "$ref": "MetricFilterClause"
                    },
                    "type": "array"
                },
                "metrics": {
                    "items": {
                        "$ref": "Metric"
                    },
                    "type": "array"
                },
                "orderBys": {
                    "items": {
                        "$ref": "OrderBy"
                    },
                    "type": "array"
                },
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                },
                "pivots": {
                    "items": {
                        "$ref": "Pivot"
                    },
                    "type": "array"
                },
                "samplingLevel": {
                    "enum": [
                        "SAMPLING_UNSPECIFIED",
                        "DEFAULT",
                        "SMALL",
                        "LARGE"
                    ],
                    "type": "string"
                },
                "segments": {
                    "items": {
                        "$ref": "Segment"
                    },
                    "type": "array"
                },
                "viewId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportRow": {
            "id": "ReportRow",
            "properties": {
                "dimensions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "metrics": {
                    "items": {
                        "$ref": "DateRangeValues"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ResourceQuotasRemaining": {
            "id": "ResourceQuotasRemaining",
            "properties": {
                "dailyQuotaTokensRemaining": {
                    "format": "int32",
                    "type": "integer"
                },
                "hourlyQuotaTokensRemaining": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ScreenviewData": {
            "id": "ScreenviewData",
            "properties": {
                "appName": {
                    "type": "string"
                },
                "mobileDeviceBranding": {
                    "type": "string"
                },
                "mobileDeviceModel": {
                    "type": "string"
                },
                "screenName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchUserActivityRequest": {
            "id": "SearchUserActivityRequest",
            "properties": {
                "activityTypes": {
                    "items": {
                        "enum": [
                            "ACTIVITY_TYPE_UNSPECIFIED",
                            "PAGEVIEW",
                            "SCREENVIEW",
                            "GOAL",
                            "ECOMMERCE",
                            "EVENT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "dateRange": {
                    "$ref": "DateRange"
                },
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                },
                "user": {
                    "$ref": "User"
                },
                "viewId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchUserActivityResponse": {
            "id": "SearchUserActivityResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "sampleRate": {
                    "format": "double",
                    "type": "number"
                },
                "sessions": {
                    "items": {
                        "$ref": "UserActivitySession"
                    },
                    "type": "array"
                },
                "totalRows": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Segment": {
            "id": "Segment",
            "properties": {
                "dynamicSegment": {
                    "$ref": "DynamicSegment"
                },
                "segmentId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SegmentDefinition": {
            "id": "SegmentDefinition",
            "properties": {
                "segmentFilters": {
                    "items": {
                        "$ref": "SegmentFilter"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SegmentDimensionFilter": {
            "id": "SegmentDimensionFilter",
            "properties": {
                "caseSensitive": {
                    "type": "boolean"
                },
                "dimensionName": {
                    "type": "string"
                },
                "expressions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "maxComparisonValue": {
                    "type": "string"
                },
                "minComparisonValue": {
                    "type": "string"
                },
                "operator": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "REGEXP",
                        "BEGINS_WITH",
                        "ENDS_WITH",
                        "PARTIAL",
                        "EXACT",
                        "IN_LIST",
                        "NUMERIC_LESS_THAN",
                        "NUMERIC_GREATER_THAN",
                        "NUMERIC_BETWEEN"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SegmentFilter": {
            "id": "SegmentFilter",
            "properties": {
                "not": {
                    "type": "boolean"
                },
                "sequenceSegment": {
                    "$ref": "SequenceSegment"
                },
                "simpleSegment": {
                    "$ref": "SimpleSegment"
                }
            },
            "type": "object"
        },
        "SegmentFilterClause": {
            "id": "SegmentFilterClause",
            "properties": {
                "dimensionFilter": {
                    "$ref": "SegmentDimensionFilter"
                },
                "metricFilter": {
                    "$ref": "SegmentMetricFilter"
                },
                "not": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "SegmentMetricFilter": {
            "id": "SegmentMetricFilter",
            "properties": {
                "comparisonValue": {
                    "type": "string"
                },
                "maxComparisonValue": {
                    "type": "string"
                },
                "metricName": {
                    "type": "string"
                },
                "operator": {
                    "enum": [
                        "UNSPECIFIED_OPERATOR",
                        "LESS_THAN",
                        "GREATER_THAN",
                        "EQUAL",
                        "BETWEEN"
                    ],
                    "type": "string"
                },
                "scope": {
                    "enum": [
                        "UNSPECIFIED_SCOPE",
                        "PRODUCT",
                        "HIT",
                        "SESSION",
                        "USER"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SegmentSequenceStep": {
            "id": "SegmentSequenceStep",
            "properties": {
                "matchType": {
                    "enum": [
                        "UNSPECIFIED_MATCH_TYPE",
                        "PRECEDES",
                        "IMMEDIATELY_PRECEDES"
                    ],
                    "type": "string"
                },
                "orFiltersForSegment": {
                    "items": {
                        "$ref": "OrFiltersForSegment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SequenceSegment": {
            "id": "SequenceSegment",
            "properties": {
                "firstStepShouldMatchFirstHit": {
                    "type": "boolean"
                },
                "segmentSequenceSteps": {
                    "items": {
                        "$ref": "SegmentSequenceStep"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SimpleSegment": {
            "id": "SimpleSegment",
            "properties": {
                "orFiltersForSegment": {
                    "items": {
                        "$ref": "OrFiltersForSegment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TransactionData": {
            "id": "TransactionData",
            "properties": {
                "transactionId": {
                    "type": "string"
                },
                "transactionRevenue": {
                    "format": "double",
                    "type": "number"
                },
                "transactionShipping": {
                    "format": "double",
                    "type": "number"
                },
                "transactionTax": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "User": {
            "id": "User",
            "properties": {
                "type": {
                    "enum": [
                        "USER_ID_TYPE_UNSPECIFIED",
                        "USER_ID",
                        "CLIENT_ID"
                    ],
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UserActivitySession": {
            "id": "UserActivitySession",
            "properties": {
                "activities": {
                    "items": {
                        "$ref": "Activity"
                    },
                    "type": "array"
                },
                "dataSource": {
                    "type": "string"
                },
                "deviceCategory": {
                    "type": "string"
                },
                "platform": {
                    "type": "string"
                },
                "sessionDate": {
                    "type": "string"
                },
                "sessionId": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Analytics Reporting API",
    "version": "v4",
    "version_module": true
}