{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/analytics": {},
                "https://www.googleapis.com/auth/analytics.edit": {},
                "https://www.googleapis.com/auth/analytics.manage.users": {},
                "https://www.googleapis.com/auth/analytics.manage.users.readonly": {},
                "https://www.googleapis.com/auth/analytics.provision": {},
                "https://www.googleapis.com/auth/analytics.readonly": {},
                "https://www.googleapis.com/auth/analytics.user.deletion": {}
            }
        }
    },
    "basePath": "/analytics/v3/",
    "baseUrl": "https://www.googleapis.com/analytics/v3/",
    "batchPath": "batch/analytics/v3",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/analytics/",
    "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/vI7LuHOBzgmLwBVRLzfesqzKeIc\"",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/analytics-16.png",
        "x32": "https://www.google.com/images/icons/product/analytics-32.png"
    },
    "id": "analytics:v3",
    "kind": "discovery#restDescription",
    "name": "analytics",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "false",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "data": {
            "resources": {
                "ga": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.data.ga.get",
                            "parameterOrder": [
                                "ids",
                                "start-date",
                                "end-date",
                                "metrics"
                            ],
                            "parameters": {
                                "dimensions": {
                                    "location": "query",
                                    "pattern": "(ga:.+)?",
                                    "type": "string"
                                },
                                "end-date": {
                                    "location": "query",
                                    "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                                    "required": true,
                                    "type": "string"
                                },
                                "filters": {
                                    "location": "query",
                                    "pattern": "ga:.+",
                                    "type": "string"
                                },
                                "ids": {
                                    "location": "query",
                                    "pattern": "ga:[0-9]+",
                                    "required": true,
                                    "type": "string"
                                },
                                "include-empty-rows": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "metrics": {
                                    "location": "query",
                                    "pattern": "ga:.+",
                                    "required": true,
                                    "type": "string"
                                },
                                "output": {
                                    "enum": [
                                        "dataTable",
                                        "json"
                                    ],
                                    "enumDescriptions": [
                                        "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                                        "Returns the response in standard JSON format."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "samplingLevel": {
                                    "enum": [
                                        "DEFAULT",
                                        "FASTER",
                                        "HIGHER_PRECISION"
                                    ],
                                    "enumDescriptions": [
                                        "Returns response with a sample size that balances speed and accuracy.",
                                        "Returns a fast response with a smaller sample size.",
                                        "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "segment": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "sort": {
                                    "location": "query",
                                    "pattern": "(-)?ga:.+",
                                    "type": "string"
                                },
                                "start-date": {
                                    "location": "query",
                                    "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                                    "required": true,
                                    "type": "string"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                }
                            },
                            "path": "data/ga",
                            "response": {
                                "$ref": "GaData"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        }
                    }
                },
                "mcf": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.data.mcf.get",
                            "parameterOrder": [
                                "ids",
                                "start-date",
                                "end-date",
                                "metrics"
                            ],
                            "parameters": {
                                "dimensions": {
                                    "location": "query",
                                    "pattern": "(mcf:.+)?",
                                    "type": "string"
                                },
                                "end-date": {
                                    "location": "query",
                                    "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                                    "required": true,
                                    "type": "string"
                                },
                                "filters": {
                                    "location": "query",
                                    "pattern": "mcf:.+",
                                    "type": "string"
                                },
                                "ids": {
                                    "location": "query",
                                    "pattern": "ga:[0-9]+",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "metrics": {
                                    "location": "query",
                                    "pattern": "mcf:.+",
                                    "required": true,
                                    "type": "string"
                                },
                                "samplingLevel": {
                                    "enum": [
                                        "DEFAULT",
                                        "FASTER",
                                        "HIGHER_PRECISION"
                                    ],
                                    "enumDescriptions": [
                                        "Returns response with a sample size that balances speed and accuracy.",
                                        "Returns a fast response with a smaller sample size.",
                                        "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "sort": {
                                    "location": "query",
                                    "pattern": "(-)?mcf:.+",
                                    "type": "string"
                                },
                                "start-date": {
                                    "location": "query",
                                    "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                                    "required": true,
                                    "type": "string"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                }
                            },
                            "path": "data/mcf",
                            "response": {
                                "$ref": "McfData"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        }
                    }
                },
                "realtime": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.data.realtime.get",
                            "parameterOrder": [
                                "ids",
                                "metrics"
                            ],
                            "parameters": {
                                "dimensions": {
                                    "location": "query",
                                    "pattern": "(ga:.+)|(rt:.+)",
                                    "type": "string"
                                },
                                "filters": {
                                    "location": "query",
                                    "pattern": "(ga:.+)|(rt:.+)",
                                    "type": "string"
                                },
                                "ids": {
                                    "location": "query",
                                    "pattern": "ga:[0-9]+",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "metrics": {
                                    "location": "query",
                                    "pattern": "(ga:.+)|(rt:.+)",
                                    "required": true,
                                    "type": "string"
                                },
                                "sort": {
                                    "location": "query",
                                    "pattern": "(-)?((ga:.+)|(rt:.+))",
                                    "type": "string"
                                }
                            },
                            "path": "data/realtime",
                            "response": {
                                "$ref": "RealtimeData"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "management": {
            "resources": {
                "accountSummaries": {
                    "methods": {
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.accountSummaries.list",
                            "parameters": {
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                }
                            },
                            "path": "management/accountSummaries",
                            "response": {
                                "$ref": "AccountSummaries"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        }
                    }
                },
                "accountUserLinks": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "analytics.management.accountUserLinks.delete",
                            "parameterOrder": [
                                "accountId",
                                "linkId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "linkId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.manage.users"
                            ]
                        },
                        "insert": {
                            "httpMethod": "POST",
                            "id": "analytics.management.accountUserLinks.insert",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/entityUserLinks",
                            "request": {
                                "$ref": "EntityUserLink"
                            },
                            "response": {
                                "$ref": "EntityUserLink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.manage.users"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.accountUserLinks.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                }
                            },
                            "path": "management/accounts/{accountId}/entityUserLinks",
                            "response": {
                                "$ref": "EntityUserLinks"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.manage.users",
                                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "analytics.management.accountUserLinks.update",
                            "parameterOrder": [
                                "accountId",
                                "linkId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "linkId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
                            "request": {
                                "$ref": "EntityUserLink"
                            },
                            "response": {
                                "$ref": "EntityUserLink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.manage.users"
                            ]
                        }
                    }
                },
                "accounts": {
                    "methods": {
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.accounts.list",
                            "parameters": {
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                }
                            },
                            "path": "management/accounts",
                            "response": {
                                "$ref": "Accounts"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        }
                    }
                },
                "clientId": {
                    "methods": {
                        "hashClientId": {
                            "httpMethod": "POST",
                            "id": "analytics.management.clientId.hashClientId",
                            "path": "management/clientId:hashClientId",
                            "request": {
                                "$ref": "HashClientIdRequest"
                            },
                            "response": {
                                "$ref": "HashClientIdResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        }
                    }
                },
                "customDataSources": {
                    "methods": {
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.customDataSources.list",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "pattern": "UA-(\\d+)-(\\d+)",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources",
                            "response": {
                                "$ref": "CustomDataSources"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        }
                    }
                },
                "customDimensions": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.management.customDimensions.get",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "customDimensionId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customDimensionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
                            "response": {
                                "$ref": "CustomDimension"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "insert": {
                            "httpMethod": "POST",
                            "id": "analytics.management.customDimensions.insert",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
                            "request": {
                                "$ref": "CustomDimension"
                            },
                            "response": {
                                "$ref": "CustomDimension"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.customDimensions.list",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
                            "response": {
                                "$ref": "CustomDimensions"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "analytics.management.customDimensions.patch",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "customDimensionId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customDimensionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "ignoreCustomDataSourceLinks": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
                            "request": {
                                "$ref": "CustomDimension"
                            },
                            "response": {
                                "$ref": "CustomDimension"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "analytics.management.customDimensions.update",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "customDimensionId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customDimensionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "ignoreCustomDataSourceLinks": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
                            "request": {
                                "$ref": "CustomDimension"
                            },
                            "response": {
                                "$ref": "CustomDimension"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        }
                    }
                },
                "customMetrics": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.management.customMetrics.get",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "customMetricId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customMetricId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
                            "response": {
                                "$ref": "CustomMetric"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "insert": {
                            "httpMethod": "POST",
                            "id": "analytics.management.customMetrics.insert",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
                            "request": {
                                "$ref": "CustomMetric"
                            },
                            "response": {
                                "$ref": "CustomMetric"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.customMetrics.list",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
                            "response": {
                                "$ref": "CustomMetrics"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "analytics.management.customMetrics.patch",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "customMetricId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customMetricId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "ignoreCustomDataSourceLinks": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
                            "request": {
                                "$ref": "CustomMetric"
                            },
                            "response": {
                                "$ref": "CustomMetric"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "analytics.management.customMetrics.update",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "customMetricId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customMetricId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "ignoreCustomDataSourceLinks": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
                            "request": {
                                "$ref": "CustomMetric"
                            },
                            "response": {
                                "$ref": "CustomMetric"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        }
                    }
                },
                "experiments": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "analytics.management.experiments.delete",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "experimentId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "experimentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.management.experiments.get",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "experimentId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "experimentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
                            "response": {
                                "$ref": "Experiment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "insert": {
                            "httpMethod": "POST",
                            "id": "analytics.management.experiments.insert",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
                            "request": {
                                "$ref": "Experiment"
                            },
                            "response": {
                                "$ref": "Experiment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.experiments.list",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "profileId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "pattern": "UA-(\\d+)-(\\d+)",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
                            "response": {
                                "$ref": "Experiments"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "analytics.management.experiments.patch",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "experimentId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "experimentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
                            "request": {
                                "$ref": "Experiment"
                            },
                            "response": {
                                "$ref": "Experiment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "analytics.management.experiments.update",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "experimentId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "experimentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
                            "request": {
                                "$ref": "Experiment"
                            },
                            "response": {
                                "$ref": "Experiment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        }
                    }
                },
                "filters": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "analytics.management.filters.delete",
                            "parameterOrder": [
                                "accountId",
                                "filterId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/filters/{filterId}",
                            "response": {
                                "$ref": "Filter"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.management.filters.get",
                            "parameterOrder": [
                                "accountId",
                                "filterId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/filters/{filterId}",
                            "response": {
                                "$ref": "Filter"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "insert": {
                            "httpMethod": "POST",
                            "id": "analytics.management.filters.insert",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/filters",
                            "request": {
                                "$ref": "Filter"
                            },
                            "response": {
                                "$ref": "Filter"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.filters.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                }
                            },
                            "path": "management/accounts/{accountId}/filters",
                            "response": {
                                "$ref": "Filters"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "analytics.management.filters.patch",
                            "parameterOrder": [
                                "accountId",
                                "filterId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/filters/{filterId}",
                            "request": {
                                "$ref": "Filter"
                            },
                            "response": {
                                "$ref": "Filter"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "analytics.management.filters.update",
                            "parameterOrder": [
                                "accountId",
                                "filterId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/filters/{filterId}",
                            "request": {
                                "$ref": "Filter"
                            },
                            "response": {
                                "$ref": "Filter"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        }
                    }
                },
                "goals": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.management.goals.get",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "goalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "goalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
                            "response": {
                                "$ref": "Goal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "insert": {
                            "httpMethod": "POST",
                            "id": "analytics.management.goals.insert",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
                            "request": {
                                "$ref": "Goal"
                            },
                            "response": {
                                "$ref": "Goal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.goals.list",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
                            "response": {
                                "$ref": "Goals"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics",
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "analytics.management.goals.patch",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "goalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "goalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
                            "request": {
                                "$ref": "Goal"
                            },
                            "response": {
                                "$ref": "Goal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "analytics.management.goals.update",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "goalId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "goalId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
                            "request": {
                                "$ref": "Goal"
                            },
                            "response": {
                                "$ref": "Goal"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        }
                    }
                },
                "profileFilterLinks": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "analytics.management.profileFilterLinks.delete",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "linkId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "linkId": {
                                    "location": "path",
                                    "pattern": "\\d+:\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "pattern": "UA-(\\d+)-(\\d+)",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.management.profileFilterLinks.get",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "linkId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "linkId": {
                                    "location": "path",
                                    "pattern": "\\d+:\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "pattern": "UA-(\\d+)-(\\d+)",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
                            "response": {
                                "$ref": "ProfileFilterLink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "insert": {
                            "httpMethod": "POST",
                            "id": "analytics.management.profileFilterLinks.insert",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "pattern": "UA-(\\d+)-(\\d+)",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
                            "request": {
                                "$ref": "ProfileFilterLink"
                            },
                            "response": {
                                "$ref": "ProfileFilterLink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.profileFilterLinks.list",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
                            "response": {
                                "$ref": "ProfileFilterLinks"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit",
                                "https://www.googleapis.com/auth/analytics.readonly"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "analytics.management.profileFilterLinks.patch",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "linkId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "linkId": {
                                    "location": "path",
                                    "pattern": "\\d+:\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "pattern": "UA-(\\d+)-(\\d+)",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
                            "request": {
                                "$ref": "ProfileFilterLink"
                            },
                            "response": {
                                "$ref": "ProfileFilterLink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "analytics.management.profileFilterLinks.update",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "linkId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "linkId": {
                                    "location": "path",
                                    "pattern": "\\d+:\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "pattern": "\\d+",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "pattern": "UA-(\\d+)-(\\d+)",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
                            "request": {
                                "$ref": "ProfileFilterLink"
                            },
                            "response": {
                                "$ref": "ProfileFilterLink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        }
                    }
                },
                "profileUserLinks": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "analytics.management.profileUserLinks.delete",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "linkId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "linkId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.manage.users"
                            ]
                        },
                        "insert": {
                            "httpMethod": "POST",
                            "id": "analytics.management.profileUserLinks.insert",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
                            "request": {
                                "$ref": "EntityUserLink"
                            },
                            "response": {
                                "$ref": "EntityUserLink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.manage.users"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "analytics.management.profileUserLinks.list",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "max-results": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "start-index": {
                                    "format": "int32",
                                    "location": "query",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
                            "response": {
                                "$ref": "EntityUserLinks"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.manage.users",
                                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "analytics.management.profileUserLinks.update",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId",
                                "linkId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "linkId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
                            "request": {
                                "$ref": "EntityUserLink"
                            },
                            "response": {
                                "$ref": "EntityUserLink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.manage.users"
                            ]
                        }
                    }
                },
                "profiles": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "analytics.management.profiles.delete",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "profileId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "webPropertyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/analytics.edit"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "analytics.management.profiles.get",
                            "parameterOrder": [
                                "accountId",
                                "webPropertyId",
                                "profileId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "location": "path",
[...]
