{
    "basePath": "",
    "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Android Provisioning Partner",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/zero-touch/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "androiddeviceprovisioning:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
    "name": "androiddeviceprovisioning",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "customers": {
            "methods": {
                "list": {
                    "flatPath": "v1/customers",
                    "httpMethod": "GET",
                    "id": "androiddeviceprovisioning.customers.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/customers",
                    "response": {
                        "$ref": "CustomerListCustomersResponse"
                    }
                }
            },
            "resources": {
                "configurations": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/customers/{customersId}/configurations",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.customers.configurations.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/configurations",
                            "request": {
                                "$ref": "Configuration"
                            },
                            "response": {
                                "$ref": "Configuration"
                            }
                        },
                        "delete": {
                            "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
                            "httpMethod": "DELETE",
                            "id": "androiddeviceprovisioning.customers.configurations.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/configurations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            }
                        },
                        "get": {
                            "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.customers.configurations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/configurations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Configuration"
                            }
                        },
                        "list": {
                            "flatPath": "v1/customers/{customersId}/configurations",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.customers.configurations.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/configurations",
                            "response": {
                                "$ref": "CustomerListConfigurationsResponse"
                            }
                        },
                        "patch": {
                            "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
                            "httpMethod": "PATCH",
                            "id": "androiddeviceprovisioning.customers.configurations.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/configurations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Configuration"
                            },
                            "response": {
                                "$ref": "Configuration"
                            }
                        }
                    }
                },
                "devices": {
                    "methods": {
                        "applyConfiguration": {
                            "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/devices:applyConfiguration",
                            "request": {
                                "$ref": "CustomerApplyConfigurationRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            }
                        },
                        "get": {
                            "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.customers.devices.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Device"
                            }
                        },
                        "list": {
                            "flatPath": "v1/customers/{customersId}/devices",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.customers.devices.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/devices",
                            "response": {
                                "$ref": "CustomerListDevicesResponse"
                            }
                        },
                        "removeConfiguration": {
                            "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/devices:removeConfiguration",
                            "request": {
                                "$ref": "CustomerRemoveConfigurationRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            }
                        },
                        "unclaim": {
                            "flatPath": "v1/customers/{customersId}/devices:unclaim",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.customers.devices.unclaim",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/devices:unclaim",
                            "request": {
                                "$ref": "CustomerUnclaimDeviceRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            }
                        }
                    }
                },
                "dpcs": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/customers/{customersId}/dpcs",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.customers.dpcs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/dpcs",
                            "response": {
                                "$ref": "CustomerListDpcsResponse"
                            }
                        }
                    }
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "androiddeviceprovisioning.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    }
                }
            }
        },
        "partners": {
            "resources": {
                "customers": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/partners/{partnersId}/customers",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.customers.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^partners/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/customers",
                            "request": {
                                "$ref": "CreateCustomerRequest"
                            },
                            "response": {
                                "$ref": "Company"
                            }
                        },
                        "list": {
                            "flatPath": "v1/partners/{partnersId}/customers",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.partners.customers.list",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "partnerId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/customers",
                            "response": {
                                "$ref": "ListCustomersResponse"
                            }
                        }
                    }
                },
                "devices": {
                    "methods": {
                        "claim": {
                            "flatPath": "v1/partners/{partnersId}/devices:claim",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.claim",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:claim",
                            "request": {
                                "$ref": "ClaimDeviceRequest"
                            },
                            "response": {
                                "$ref": "ClaimDeviceResponse"
                            }
                        },
                        "claimAsync": {
                            "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.claimAsync",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:claimAsync",
                            "request": {
                                "$ref": "ClaimDevicesRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            }
                        },
                        "findByIdentifier": {
                            "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
                            "request": {
                                "$ref": "FindDevicesByDeviceIdentifierRequest"
                            },
                            "response": {
                                "$ref": "FindDevicesByDeviceIdentifierResponse"
                            }
                        },
                        "findByOwner": {
                            "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.findByOwner",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:findByOwner",
                            "request": {
                                "$ref": "FindDevicesByOwnerRequest"
                            },
                            "response": {
                                "$ref": "FindDevicesByOwnerResponse"
                            }
                        },
                        "get": {
                            "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.partners.devices.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^partners/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Device"
                            }
                        },
                        "metadata": {
                            "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.metadata",
                            "parameterOrder": [
                                "metadataOwnerId",
                                "deviceId"
                            ],
                            "parameters": {
                                "deviceId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "metadataOwnerId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
                            "request": {
                                "$ref": "UpdateDeviceMetadataRequest"
                            },
                            "response": {
                                "$ref": "DeviceMetadata"
                            }
                        },
                        "unclaim": {
                            "flatPath": "v1/partners/{partnersId}/devices:unclaim",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.unclaim",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:unclaim",
                            "request": {
                                "$ref": "UnclaimDeviceRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            }
                        },
                        "unclaimAsync": {
                            "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
                            "request": {
                                "$ref": "UnclaimDevicesRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            }
                        },
                        "updateMetadataAsync": {
                            "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
                            "request": {
                                "$ref": "UpdateDeviceMetadataInBatchRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            }
                        }
                    }
                },
                "vendors": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/partners/{partnersId}/vendors",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.partners.vendors.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^partners/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/vendors",
                            "response": {
                                "$ref": "ListVendorsResponse"
                            }
                        }
                    },
                    "resources": {
                        "customers": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                                    "httpMethod": "GET",
                                    "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^partners/[^/]+/vendors/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/customers",
                                    "response": {
                                        "$ref": "ListVendorCustomersResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
    "schemas": {
        "ClaimDeviceRequest": {
            "id": "ClaimDeviceRequest",
            "properties": {
                "customerId": {
                    "format": "int64",
                    "type": "string"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier"
                },
                "deviceMetadata": {
                    "$ref": "DeviceMetadata"
                },
                "sectionType": {
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_SIM_LOCK",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClaimDeviceResponse": {
            "id": "ClaimDeviceResponse",
            "properties": {
                "deviceId": {
                    "format": "int64",
                    "type": "string"
                },
                "deviceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClaimDevicesRequest": {
            "id": "ClaimDevicesRequest",
            "properties": {
                "claims": {
                    "items": {
                        "$ref": "PartnerClaim"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Company": {
            "id": "Company",
            "properties": {
                "adminEmails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "companyId": {
                    "format": "int64",
                    "readOnly": true,
                    "type": "string"
                },
                "companyName": {
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "ownerEmails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "termsStatus": {
                    "enum": [
                        "TERMS_STATUS_UNSPECIFIED",
                        "TERMS_STATUS_NOT_ACCEPTED",
                        "TERMS_STATUS_ACCEPTED",
                        "TERMS_STATUS_STALE"
                    ],
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Configuration": {
            "id": "Configuration",
            "properties": {
                "companyName": {
                    "type": "string"
                },
                "configurationId": {
                    "format": "int64",
                    "readOnly": true,
                    "type": "string"
                },
                "configurationName": {
                    "type": "string"
                },
                "contactEmail": {
                    "type": "string"
                },
                "contactPhone": {
                    "type": "string"
                },
                "customMessage": {
                    "type": "string"
                },
                "dpcExtras": {
                    "type": "string"
                },
                "dpcResourcePath": {
                    "type": "string"
                },
                "isDefault": {
                    "type": "boolean"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateCustomerRequest": {
            "id": "CreateCustomerRequest",
            "properties": {
                "customer": {
                    "$ref": "Company"
                }
            },
            "type": "object"
        },
        "CustomerApplyConfigurationRequest": {
            "id": "CustomerApplyConfigurationRequest",
            "properties": {
                "configuration": {
                    "type": "string"
                },
                "device": {
                    "$ref": "DeviceReference"
                }
            },
            "type": "object"
        },
        "CustomerListConfigurationsResponse": {
            "id": "CustomerListConfigurationsResponse",
            "properties": {
                "configurations": {
                    "items": {
                        "$ref": "Configuration"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomerListCustomersResponse": {
            "id": "CustomerListCustomersResponse",
            "properties": {
                "customers": {
                    "items": {
                        "$ref": "Company"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomerListDevicesResponse": {
            "id": "CustomerListDevicesResponse",
            "properties": {
                "devices": {
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomerListDpcsResponse": {
            "id": "CustomerListDpcsResponse",
            "properties": {
                "dpcs": {
                    "items": {
                        "$ref": "Dpc"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomerRemoveConfigurationRequest": {
            "id": "CustomerRemoveConfigurationRequest",
            "properties": {
                "device": {
                    "$ref": "DeviceReference"
                }
            },
            "type": "object"
        },
        "CustomerUnclaimDeviceRequest": {
            "id": "CustomerUnclaimDeviceRequest",
            "properties": {
                "device": {
                    "$ref": "DeviceReference"
                }
            },
            "type": "object"
        },
        "Device": {
            "id": "Device",
            "properties": {
                "claims": {
                    "items": {
                        "$ref": "DeviceClaim"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "configuration": {
                    "type": "string"
                },
                "deviceId": {
                    "format": "int64",
                    "readOnly": true,
                    "type": "string"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier"
                },
                "deviceMetadata": {
                    "$ref": "DeviceMetadata"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeviceClaim": {
            "id": "DeviceClaim",
            "properties": {
                "ownerCompanyId": {
                    "format": "int64",
                    "type": "string"
                },
                "resellerId": {
                    "format": "int64",
                    "type": "string"
                },
                "sectionType": {
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_SIM_LOCK",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "vacationModeExpireTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "vacationModeStartTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeviceIdentifier": {
            "id": "DeviceIdentifier",
            "properties": {
                "imei": {
                    "type": "string"
                },
                "manufacturer": {
                    "type": "string"
                },
                "meid": {
                    "type": "string"
                },
                "model": {
                    "type": "string"
                },
                "serialNumber": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeviceMetadata": {
            "id": "DeviceMetadata",
            "properties": {
                "entries": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "DeviceReference": {
            "id": "DeviceReference",
            "properties": {
                "deviceId": {
                    "format": "int64",
                    "type": "string"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier"
                }
            },
            "type": "object"
        },
        "DevicesLongRunningOperationMetadata": {
            "id": "DevicesLongRunningOperationMetadata",
            "properties": {
                "devicesCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "processingStatus": {
                    "enum": [
                        "BATCH_PROCESS_STATUS_UNSPECIFIED",
                        "BATCH_PROCESS_PENDING",
                        "BATCH_PROCESS_IN_PROGRESS",
                        "BATCH_PROCESS_PROCESSED"
                    ],
                    "type": "string"
                },
                "progress": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DevicesLongRunningOperationResponse": {
            "id": "DevicesLongRunningOperationResponse",
            "properties": {
                "perDeviceStatus": {
                    "items": {
                        "$ref": "OperationPerDevice"
                    },
                    "type": "array"
                },
                "successCount": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Dpc": {
            "id": "Dpc",
            "properties": {
                "dpcName": {
                    "readOnly": true,
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "packageName": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "FindDevicesByDeviceIdentifierRequest": {
            "id": "FindDevicesByDeviceIdentifierRequest",
            "properties": {
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier"
                },
                "limit": {
                    "format": "int64",
                    "type": "string"
                },
                "pageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FindDevicesByDeviceIdentifierResponse": {
            "id": "FindDevicesByDeviceIdentifierResponse",
            "properties": {
                "devices": {
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "FindDevicesByOwnerRequest": {
            "id": "FindDevicesByOwnerRequest",
            "properties": {
                "customerId": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "limit": {
                    "format": "int64",
                    "type": "string"
                },
                "pageToken": {
                    "type": "string"
                },
                "sectionType": {
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_SIM_LOCK",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FindDevicesByOwnerResponse": {
            "id": "FindDevicesByOwnerResponse",
            "properties": {
                "devices": {
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListCustomersResponse": {
            "id": "ListCustomersResponse",
            "properties": {
                "customers": {
                    "items": {
                        "$ref": "Company"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListVendorCustomersResponse": {
            "id": "ListVendorCustomersResponse",
            "properties": {
                "customers": {
                    "items": {
                        "$ref": "Company"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListVendorsResponse": {
            "id": "ListVendorsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "vendors": {
                    "items": {
                        "$ref": "Company"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OperationPerDevice": {
            "id": "OperationPerDevice",
            "properties": {
                "claim": {
                    "$ref": "PartnerClaim"
                },
                "result": {
                    "$ref": "PerDeviceStatusInBatch"
                },
                "unclaim": {
                    "$ref": "PartnerUnclaim"
                },
                "updateMetadata": {
                    "$ref": "UpdateMetadataArguments"
                }
            },
            "type": "object"
        },
        "PartnerClaim": {
            "id": "PartnerClaim",
            "properties": {
                "customerId": {
                    "format": "int64",
                    "type": "string"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier"
                },
                "deviceMetadata": {
                    "$ref": "DeviceMetadata"
                },
                "sectionType": {
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_SIM_LOCK",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PartnerUnclaim": {
            "id": "PartnerUnclaim",
            "properties": {
                "deviceId": {
                    "format": "int64",
                    "type": "string"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier"
                },
                "sectionType": {
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_SIM_LOCK",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "type": "string"
                },
                "vacationModeDays": {
                    "format": "int32",
                    "type": "integer"
                },
                "vacationModeExpireTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PerDeviceStatusInBatch": {
            "id": "PerDeviceStatusInBatch",
            "properties": {
                "deviceId": {
                    "format": "int64",
                    "type": "string"
                },
                "errorIdentifier": {
                    "type": "string"
                },
                "errorMessage": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "SINGLE_DEVICE_STATUS_UNSPECIFIED",
                        "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
                        "SINGLE_DEVICE_STATUS_OTHER_ERROR",
                        "SINGLE_DEVICE_STATUS_SUCCESS",
                        "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
                        "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
                        "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
                        "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UnclaimDeviceRequest": {
            "id": "UnclaimDeviceRequest",
            "properties": {
                "deviceId": {
                    "format": "int64",
                    "type": "string"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier"
                },
                "sectionType": {
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_SIM_LOCK",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "type": "string"
                },
                "vacationModeDays": {
                    "format": "int32",
                    "type": "integer"
                },
                "vacationModeExpireTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UnclaimDevicesRequest": {
            "id": "UnclaimDevicesRequest",
            "properties": {
                "unclaims": {
                    "items": {
                        "$ref": "PartnerUnclaim"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateDeviceMetadataInBatchRequest": {
            "id": "UpdateDeviceMetadataInBatchRequest",
            "properties": {
                "updates": {
                    "items": {
                        "$ref": "UpdateMetadataArguments"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateDeviceMetadataRequest": {
            "id": "UpdateDeviceMetadataRequest",
            "properties": {
                "deviceMetadata": {
                    "$ref": "DeviceMetadata"
                }
            },
            "type": "object"
        },
        "UpdateMetadataArguments": {
            "id": "UpdateMetadataArguments",
            "properties": {
                "deviceId": {
                    "format": "int64",
                    "type": "string"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier"
                },
                "deviceMetadata": {
                    "$ref": "DeviceMetadata"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Android Device Provisioning Partner API",
    "version": "v1",
    "version_module": true
}