{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidmanagement": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://androidmanagement.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Android Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/android/management",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "androidmanagement:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://androidmanagement.mtls.googleapis.com/",
    "name": "androidmanagement",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "enterprises": {
            "methods": {
                "create": {
                    "flatPath": "v1/enterprises",
                    "httpMethod": "POST",
                    "id": "androidmanagement.enterprises.create",
                    "parameterOrder": [],
                    "parameters": {
                        "enterpriseToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        },
                        "signupUrlName": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/enterprises",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidmanagement"
                    ]
                },
                "get": {
                    "flatPath": "v1/enterprises/{enterprisesId}",
                    "httpMethod": "GET",
                    "id": "androidmanagement.enterprises.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^enterprises/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidmanagement"
                    ]
                },
                "patch": {
                    "flatPath": "v1/enterprises/{enterprisesId}",
                    "httpMethod": "PATCH",
                    "id": "androidmanagement.enterprises.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^enterprises/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidmanagement"
                    ]
                }
            },
            "resources": {
                "applications": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/enterprises/{enterprisesId}/applications/{applicationsId}",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.applications.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "languageCode": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/applications/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Application"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                },
                "devices": {
                    "methods": {
                        "delete": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.devices.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "wipeDataFlags": {
                                    "enum": [
                                        "WIPE_DATA_FLAG_UNSPECIFIED",
                                        "PRESERVE_RESET_PROTECTION_DATA",
                                        "WIPE_EXTERNAL_STORAGE"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "wipeReasonMessage": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.devices.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Device"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "issueCommand": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}:issueCommand",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.devices.issueCommand",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:issueCommand",
                            "request": {
                                "$ref": "Command"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.devices.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/devices",
                            "response": {
                                "$ref": "ListDevicesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
                            "httpMethod": "PATCH",
                            "id": "androidmanagement.enterprises.devices.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Device"
                            },
                            "response": {
                                "$ref": "Device"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    },
                    "resources": {
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "androidmanagement.enterprises.devices.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/androidmanagement"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "androidmanagement.enterprises.devices.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/androidmanagement"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "androidmanagement.enterprises.devices.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/androidmanagement"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations",
                                    "httpMethod": "GET",
                                    "id": "androidmanagement.enterprises.devices.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/androidmanagement"
                                    ]
                                }
                            }
                        }
                    }
                },
                "enrollmentTokens": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.enrollmentTokens.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/enrollmentTokens",
                            "request": {
                                "$ref": "EnrollmentToken"
                            },
                            "response": {
                                "$ref": "EnrollmentToken"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens/{enrollmentTokensId}",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.enrollmentTokens.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/enrollmentTokens/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                },
                "policies": {
                    "methods": {
                        "delete": {
                            "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.policies.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.policies.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/enterprises/{enterprisesId}/policies",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.policies.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/policies",
                            "response": {
                                "$ref": "ListPoliciesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
                            "httpMethod": "PATCH",
                            "id": "androidmanagement.enterprises.policies.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Policy"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                },
                "webApps": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.webApps.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/webApps",
                            "request": {
                                "$ref": "WebApp"
                            },
                            "response": {
                                "$ref": "WebApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.webApps.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.webApps.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "WebApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.webApps.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/webApps",
                            "response": {
                                "$ref": "ListWebAppsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
                            "httpMethod": "PATCH",
                            "id": "androidmanagement.enterprises.webApps.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "WebApp"
                            },
                            "response": {
                                "$ref": "WebApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                },
                "webTokens": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webTokens",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.webTokens.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/webTokens",
                            "request": {
                                "$ref": "WebToken"
                            },
                            "response": {
                                "$ref": "WebToken"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                }
            }
        },
        "signupUrls": {
            "methods": {
                "create": {
                    "flatPath": "v1/signupUrls",
                    "httpMethod": "POST",
                    "id": "androidmanagement.signupUrls.create",
                    "parameterOrder": [],
                    "parameters": {
                        "callbackUrl": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/signupUrls",
                    "response": {
                        "$ref": "SignupUrl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidmanagement"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://androidmanagement.googleapis.com/",
    "schemas": {
        "AdvancedSecurityOverrides": {
            "id": "AdvancedSecurityOverrides",
            "properties": {
                "untrustedAppsPolicy": {
                    "enum": [
                        "UNTRUSTED_APPS_POLICY_UNSPECIFIED",
                        "DISALLOW_INSTALL",
                        "ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY",
                        "ALLOW_INSTALL_DEVICE_WIDE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AlwaysOnVpnPackage": {
            "id": "AlwaysOnVpnPackage",
            "properties": {
                "lockdownEnabled": {
                    "type": "boolean"
                },
                "packageName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApiLevelCondition": {
            "id": "ApiLevelCondition",
            "properties": {
                "minApiLevel": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AppTrackInfo": {
            "id": "AppTrackInfo",
            "properties": {
                "trackAlias": {
                    "type": "string"
                },
                "trackId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Application": {
            "id": "Application",
            "properties": {
                "appTracks": {
                    "items": {
                        "$ref": "AppTrackInfo"
                    },
                    "type": "array"
                },
                "managedProperties": {
                    "items": {
                        "$ref": "ManagedProperty"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "permissions": {
                    "items": {
                        "$ref": "ApplicationPermission"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationEvent": {
            "id": "ApplicationEvent",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "eventType": {
                    "enum": [
                        "APPLICATION_EVENT_TYPE_UNSPECIFIED",
                        "INSTALLED",
                        "CHANGED",
                        "DATA_CLEARED",
                        "REMOVED",
                        "REPLACED",
                        "RESTARTED",
                        "PINNED",
                        "UNPINNED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationPermission": {
            "id": "ApplicationPermission",
            "properties": {
                "name": {
                    "type": "string"
                },
                "permissionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationPolicy": {
            "id": "ApplicationPolicy",
            "properties": {
                "accessibleTrackIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "connectedWorkAndPersonalApp": {
                    "enum": [
                        "CONNECTED_WORK_AND_PERSONAL_APP_UNSPECIFIED",
                        "CONNECTED_WORK_AND_PERSONAL_APP_DISALLOWED",
                        "CONNECTED_WORK_AND_PERSONAL_APP_ALLOWED"
                    ],
                    "type": "string"
                },
                "defaultPermissionPolicy": {
                    "enum": [
                        "PERMISSION_POLICY_UNSPECIFIED",
                        "PROMPT",
                        "GRANT",
                        "DENY"
                    ],
                    "type": "string"
                },
                "delegatedScopes": {
                    "items": {
                        "enum": [
                            "DELEGATED_SCOPE_UNSPECIFIED",
                            "CERT_INSTALL",
                            "MANAGED_CONFIGURATIONS",
                            "BLOCK_UNINSTALL",
                            "PERMISSION_GRANT",
                            "PACKAGE_ACCESS",
                            "ENABLE_SYSTEM_APP"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "disabled": {
                    "type": "boolean"
                },
                "installType": {
                    "enum": [
                        "INSTALL_TYPE_UNSPECIFIED",
                        "PREINSTALLED",
                        "FORCE_INSTALLED",
                        "BLOCKED",
                        "AVAILABLE",
                        "REQUIRED_FOR_SETUP",
                        "KIOSK"
                    ],
                    "type": "string"
                },
                "lockTaskAllowed": {
                    "type": "boolean"
                },
                "managedConfiguration": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "managedConfigurationTemplate": {
                    "$ref": "ManagedConfigurationTemplate"
                },
                "minimumVersionCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "packageName": {
                    "type": "string"
                },
                "permissionGrants": {
                    "items": {
                        "$ref": "PermissionGrant"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ApplicationReport": {
            "id": "ApplicationReport",
            "properties": {
                "applicationSource": {
                    "enum": [
                        "APPLICATION_SOURCE_UNSPECIFIED",
                        "SYSTEM_APP_FACTORY_VERSION",
                        "SYSTEM_APP_UPDATED_VERSION",
                        "INSTALLED_FROM_PLAY_STORE"
                    ],
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "events": {
                    "items": {
                        "$ref": "ApplicationEvent"
                    },
                    "type": "array"
                },
                "installerPackageName": {
                    "type": "string"
                },
                "keyedAppStates": {
                    "items": {
                        "$ref": "KeyedAppState"
                    },
                    "type": "array"
                },
                "packageName": {
                    "type": "string"
                },
                "packageSha256Hash": {
                    "type": "string"
                },
                "signingKeyCertFingerprints": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "state": {
                    "enum": [
                        "APPLICATION_STATE_UNSPECIFIED",
                        "REMOVED",
                        "INSTALLED"
                    ],
                    "type": "string"
                },
                "versionCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "versionName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationReportingSettings": {
            "id": "ApplicationReportingSettings",
            "properties": {
                "includeRemovedApps": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BlockAction": {
            "id": "BlockAction",
            "properties": {
                "blockAfterDays": {
                    "format": "int32",
                    "type": "integer"
                },
                "blockScope": {
                    "enum": [
                        "BLOCK_SCOPE_UNSPECIFIED",
                        "BLOCK_SCOPE_WORK_PROFILE",
                        "BLOCK_SCOPE_DEVICE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChoosePrivateKeyRule": {
            "id": "ChoosePrivateKeyRule",
            "properties": {
                "packageNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "privateKeyAlias": {
                    "type": "string"
                },
                "urlPattern": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Command": {
            "id": "Command",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "errorCode": {
                    "enum": [
                        "COMMAND_ERROR_CODE_UNSPECIFIED",
                        "UNKNOWN",
                        "API_LEVEL",
                        "MANAGEMENT_MODE",
                        "INVALID_VALUE",
                        "UNSUPPORTED"
                    ],
                    "type": "string"
                },
                "newPassword": {
                    "type": "string"
                },
                "resetPasswordFlags": {
                    "items": {
                        "enum": [
                            "RESET_PASSWORD_FLAG_UNSPECIFIED",
                            "REQUIRE_ENTRY",
                            "DO_NOT_ASK_CREDENTIALS_ON_BOOT",
                            "LOCK_NOW"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "type": {
                    "enum": [
                        "COMMAND_TYPE_UNSPECIFIED",
                        "LOCK",
                        "RESET_PASSWORD",
                        "REBOOT"
                    ],
                    "type": "string"
                },
                "userName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ComplianceRule": {
            "id": "ComplianceRule",
            "properties": {
                "apiLevelCondition": {
                    "$ref": "ApiLevelCondition"
                },
                "disableApps": {
                    "type": "boolean"
                },
                "nonComplianceDetailCondition": {
                    "$ref": "NonComplianceDetailCondition"
                },
                "packageNamesToDisable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Device": {
            "id": "Device",
            "properties": {
                "apiLevel": {
                    "format": "int32",
                    "type": "integer"
                },
                "applicationReports": {
                    "items": {
                        "$ref": "ApplicationReport"
                    },
                    "type": "array"
                },
                "appliedPolicyName": {
                    "type": "string"
                },
                "appliedPolicyVersion": {
                    "format": "int64",
                    "type": "string"
                },
                "appliedState": {
                    "enum": [
                        "DEVICE_STATE_UNSPECIFIED",
                        "ACTIVE",
                        "DISABLED",
                        "DELETED",
                        "PROVISIONING"
                    ],
                    "type": "string"
                },
                "deviceSettings": {
                    "$ref": "DeviceSettings"
                },
                "disabledReason": {
                    "$ref": "UserFacingMessage"
                },
                "displays": {
                    "items": {
                        "$ref": "Display"
                    },
                    "type": "array"
                },
                "enrollmentTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "enrollmentTokenData": {
                    "type": "string"
                },
                "enrollmentTokenName": {
                    "type": "string"
                },
                "hardwareInfo": {
                    "$ref": "HardwareInfo"
                },
                "hardwareStatusSamples": {
                    "items": {
                        "$ref": "HardwareStatus"
                    },
                    "type": "array"
                },
                "lastPolicyComplianceReportTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastPolicySyncTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastStatusReportTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "managementMode": {
                    "enum": [
                        "MANAGEMENT_MODE_UNSPECIFIED",
                        "DEVICE_OWNER",
                        "PROFILE_OWNER"
                    ],
                    "type": "string"
                },
                "memoryEvents": {
                    "items": {
                        "$ref": "MemoryEvent"
                    },
                    "type": "array"
                },
                "memoryInfo": {
                    "$ref": "MemoryInfo"
                },
                "name": {
                    "type": "string"
                },
                "networkInfo": {
                    "$ref": "NetworkInfo"
                },
                "nonComplianceDetails": {
                    "items": {
                        "$ref": "NonComplianceDetail"
                    },
                    "type": "array"
                },
                "ownership": {
                    "enum": [
                        "OWNERSHIP_UNSPECIFIED",
                        "COMPANY_OWNED",
                        "PERSONALLY_OWNED"
                    ],
                    "type": "string"
                },
                "policyCompliant": {
                    "type": "boolean"
                },
                "policyName": {
                    "type": "string"
                },
                "powerManagementEvents": {
                    "items": {
                        "$ref": "PowerManagementEvent"
                    },
                    "type": "array"
                },
                "previousDeviceNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "securityPosture": {
                    "$ref": "SecurityPosture"
                },
                "softwareInfo": {
                    "$ref": "SoftwareInfo"
                },
                "state": {
                    "enum": [
                        "DEVICE_STATE_UNSPECIFIED",
                        "ACTIVE",
                        "DISABLED",
                        "DELETED",
                        "PROVISIONING"
                    ],
                    "type": "string"
                },
                "systemProperties": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "user": {
                    "$ref": "User"
                },
                "userName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeviceSettings": {
            "id": "DeviceSettings",
            "properties": {
                "adbEnabled": {
                    "type": "boolean"
                },
                "developmentSettingsEnabled": {
                    "type": "boolean"
                },
                "encryptionStatus": {
                    "enum": [
                        "ENCRYPTION_STATUS_UNSPECIFIED",
                        "UNSUPPORTED",
                        "INACTIVE",
                        "ACTIVATING",
                        "ACTIVE",
                        "ACTIVE_DEFAULT_KEY",
                        "ACTIVE_PER_USER"
                    ],
                    "type": "string"
                },
                "isDeviceSecure": {
                    "type": "boolean"
                },
                "isEncrypted": {
                    "type": "boolean"
                },
                "unknownSourcesEnabled": {
                    "type": "boolean"
                },
                "verifyAppsEnabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Display": {
            "id": "Display",
            "properties": {
                "density": {
                    "format": "int32",
                    "type": "integer"
                },
                "displayId": {
                    "format": "int32",
                    "type": "integer"
                },
                "height": {
                    "format": "int32",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "refreshRate": {
                    "format": "int32",
                    "type": "integer"
                },
                "state": {
                    "enum": [
                        "DISPLAY_STATE_UNSPECIFIED",
                        "OFF",
                        "ON",
                        "DOZE",
                        "SUSPENDED"
                    ],
                    "type": "string"
                },
                "width": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EnrollmentToken": {
            "id": "EnrollmentToken",
            "properties": {
                "additionalData": {
                    "type": "string"
                },
                "allowPersonalUsage": {
                    "enum": [
                        "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
                        "PERSONAL_USAGE_ALLOWED",
                        "PERSONAL_USAGE_DISALLOWED"
                    ],
                    "type": "string"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "expirationTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "oneTimeOnly": {
                    "type": "boolean"
                },
                "policyName": {
                    "type": "string"
                },
                "qrCode": {
                    "type": "string"
                },
                "user": {
                    "$ref": "User"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Enterprise": {
            "id": "Enterprise",
            "properties": {
                "appAutoApprovalEnabled": {
                    "type": "boolean"
                },
                "enabledNotificationTypes": {
                    "items": {
                        "enum": [
                            "NOTIFICATION_TYPE_UNSPECIFIED",
                            "ENROLLMENT",
                            "COMPLIANCE_REPORT",
                            "STATUS_REPORT",
                            "COMMAND"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "enterpriseDisplayName": {
                    "type": "string"
                },
                "logo": {
                    "$ref": "ExternalData"
                },
                "name": {
                    "type": "string"
                },
                "primaryColor": {
                    "format": "int32",
                    "type": "integer"
                },
                "pubsubTopic": {
                    "type": "string"
                },
                "signinDetails": {
                    "items": {
                        "$ref": "SigninDetail"
                    },
                    "type": "array"
                },
                "termsAndConditions": {
                    "items": {
                        "$ref": "TermsAndConditions"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ExternalData": {
            "id": "ExternalData",
            "properties": {
                "sha256Hash": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FreezePeriod": {
            "id": "FreezePeriod",
            "properties": {
                "endDate": {
                    "$ref": "Date"
                },
                "startDate": {
                    "$ref": "Date"
                }
            },
            "type": "object"
        },
        "HardwareInfo": {
            "id": "HardwareInfo",
            "properties": {
                "batteryShutdownTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "batteryThrottlingTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "brand": {
                    "type": "string"
                },
                "cpuShutdownTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "cpuThrottlingTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "deviceBasebandVersion": {
                    "type": "string"
                },
                "gpuShutdownTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "gpuThrottlingTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "hardware": {
                    "type": "string"
                },
                "manufacturer": {
                    "type": "string"
                },
                "model": {
                    "type": "string"
                },
                "serialNumber": {
                    "type": "string"
                },
                "skinShutdownTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "skinThrottlingTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "HardwareStatus": {
            "id": "HardwareStatus",
            "properties": {
                "batteryTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "cpuTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "cpuUsages": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "fanSpeeds": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "gpuTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "skinTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "KeyedAppState": {
            "id": "KeyedAppState",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "data": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                },
                "lastUpdateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "INFO",
                        "ERROR"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "KioskCustomization": {
            "id": "KioskCustomization",
            "properties": {
                "deviceSettings": {
                    "enum": [
                        "DEVICE_SETTINGS_UNSPECIFIED",
                        "SETTINGS_ACCESS_ALLOWED",
                        "SETTINGS_ACCESS_BLOCKED"
                    ],
                    "type": "string"
                },
                "powerButtonActions": {
                    "enum": [
                        "POWER_BUTTON_ACTIONS_UNSPECIFIED",
                        "POWER_BUTTON_AVAILABLE",
                        "POWER_BUTTON_BLOCKED"
                    ],
                    "type": "string"
                },
                "statusBar": {
                    "enum": [
                        "STATUS_BAR_UNSPECIFIED",
                        "NOTIFICATIONS_AND_SYSTEM_INFO_ENABLED",
                        "NOTIFICATIONS_AND_SYSTEM_INFO_DISABLED",
                        "SYSTEM_INFO_ONLY"
                    ],
                    "type": "string"
                },
                "systemErrorWarnings": {
                    "enum": [
                        "SYSTEM_ERROR_WARNINGS_UNSPECIFIED",
                        "ERROR_AND_WARNINGS_ENABLED",
                        "ERROR_AND_WARNINGS_MUTED"
                    ],
                    "type": "string"
                },
                "systemNavigation": {
                    "enum": [
                        "SYSTEM_NAVIGATION_UNSPECIFIED",
                        "NAVIGATION_ENABLED",
                        "NAVIGATION_DISABLED",
                        "HOME_BUTTON_ONLY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LaunchAppAction": {
            "id": "LaunchAppAction",
            "properties": {
                "packageName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDevicesResponse": {
            "id": "ListDevicesResponse",
            "properties": {
                "devices": {
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListPoliciesResponse": {
            "id": "ListPoliciesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "policies": {
                    "items": {
                        "$ref": "Policy"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListWebAppsResponse": {
            "id": "ListWebAppsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "webApps": {
                    "items": {
                        "$ref": "WebApp"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ManagedConfigurationTemplate": {
            "id": "ManagedConfigurationTemplate",
            "properties": {
                "configurationVariables": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "templateId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedProperty": {
            "id": "ManagedProperty",
            "properties": {
                "defaultValue": {
                    "type": "any"
                },
                "entries": {
                    "items": {
                        "$ref": "ManagedPropertyEntry"
                    },
                    "type": "array"
                },
                "key": {
                    "type": "string"
                },
                "nestedProperties": {
                    "items": {
                        "$ref": "ManagedProperty"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "MANAGED_PROPERTY_TYPE_UNSPECIFIED",
                        "BOOL",
                        "STRING",
                        "INTEGER",
                        "CHOICE",
                        "MULTISELECT",
                        "HIDDEN",
                        "BUNDLE",
                        "BUNDLE_ARRAY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedPropertyEntry": {
            "id": "ManagedPropertyEntry",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MemoryEvent": {
            "id": "MemoryEvent",
            "properties": {
                "byteCount": {
                    "format": "int64",
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "eventType": {
                    "enum": [
                        "MEMORY_EVENT_TYPE_UNSPECIFIED",
                        "RAM_MEASURED",
                        "INTERNAL_STORAGE_MEASURED",
                        "EXTERNAL_STORAGE_DETECTED",
                        "EXTERNAL_STORAGE_REMOVED",
                        "EXTERNAL_STORAGE_MEASURED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MemoryInfo": {
            "id": "MemoryInfo",
            "properties": {
                "totalInternalStorage": {
                    "format": "int64",
                    "type": "string"
                },
                "totalRam": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkInfo": {
            "id": "NetworkInfo",
            "properties": {
                "imei": {
                    "type": "string"
                },
                "meid": {
                    "type": "string"
                },
                "networkOperatorName": {
                    "type": "string"
                },
                "wifiMacAddress": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NonComplianceDetail": {
            "id": "NonComplianceDetail",
            "properties": {
                "currentValue": {
                    "type": "any"
                },
                "fieldPath": {
                    "type": "string"
                },
                "installationFailureReason": {
                    "enum": [
                        "INSTALLATION_FAILURE_REASON_UNSPECIFIED",
                        "INSTALLATION_FAILURE_REASON_UNKNOWN",
                        "IN_PROGRESS",
                        "NOT_FOUND",
                        "NOT_COMPATIBLE_WITH_DEVICE",
                        "NOT_APPROVED",
                        "PERMISSIONS_NOT_ACCEPTED",
                        "NOT_AVAILABLE_IN_COUNTRY",
                        "NO_LICENSES_REMAINING",
                        "NOT_ENROLLED",
                        "USER_INVALID"
                    ],
                    "type": "string"
                },
                "nonComplianceReason": {
                    "enum": [
                        "NON_COMPLIANCE_REASON_UNSPECIFIED",
                        "API_LEVEL",
                        "MANAGEMENT_MODE",
                        "USER_ACTION",
                        "INVALID_VALUE",
                        "APP_NOT_INSTALLED",
                        "UNSUPPORTED",
                        "APP_INSTALLED",
                        "PENDING",
                        "APP_INCOMPATIBLE",
                        "APP_NOT_UPDATED"
                    ],
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "settingName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NonComplianceDetailCondition": {
            "id": "NonComplianceDetailCondition",
            "properties": {
                "nonComplianceReason": {
                    "enum": [
                        "NON_COMPLIANCE_REASON_UNSPECIFIED",
                        "API_LEVEL",
                        "MANAGEMENT_MODE",
                        "USER_ACTION",
                        "INVALID_VALUE",
                        "APP_NOT_INSTALLED",
                        "UNSUPPORTED",
                        "APP_INSTALLED",
                        "PENDING",
                        "APP_INCOMPATIBLE",
                        "APP_NOT_UPDATED"
                    ],
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "settingName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PackageNameList": {
            "id": "PackageNameList",
            "properties": {
                "packageNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PasswordRequirements": {
            "id": "PasswordRequirements",
            "properties": {
                "maximumFailedPasswordsForWipe": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordExpirationTimeout": {
                    "format": "google-duration",
                    "type": "string"
                },
                "passwordHistoryLength": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumLength": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumLetters": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumLowerCase": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumNonLetter": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumNumeric": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumSymbols": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumUpperCase": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordQuality": {
                    "enum": [
                        "PASSWORD_QUALITY_UNSPECIFIED",
                        "BIOMETRIC_WEAK",
                        "SOMETHING",
                        "NUMERIC",
                        "NUMERIC_COMPLEX",
                        "ALPHABETIC",
                        "ALPHANUMERIC",
                        "COMPLEX"
                    ],
                    "type": "string"
                },
                "passwordScope": {
                    "enum": [
                        "SCOPE_UNSPECIFIED",
                        "SCOPE_DEVICE",
                        "SCOPE_PROFILE"
                    ],
                    "type": "string"
                },
                "requirePasswordUnlock": {
                    "enum": [
                        "REQUIRE_PASSWORD_UNLOCK_UNSPECIFIED",
                        "USE_DEFAULT_DEVICE_TIMEOUT",
                        "REQUIRE_EVERY_DAY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PermissionGrant": {
            "id": "PermissionGrant",
            "properties": {
                "permission": {
                    "type": "string"
                },
                "policy": {
                    "enum": [
                        "PERMISSION_POLICY_UNSPECIFIED",
                        "PROMPT",
                        "GRANT",
                        "DENY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PersistentPreferredActivity": {
            "id": "PersistentPreferredActivity",
            "properties": {
                "actions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "categories": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "receiverActivity": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PersonalApplicationPolicy": {
            "id": "PersonalApplicationPolicy",
            "properties": {
                "installType": {
                    "enum": [
                        "INSTALL_TYPE_UNSPECIFIED",
                        "BLOCKED"
                    ],
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PersonalUsagePolicies": {
            "id": "PersonalUsagePolicies",
            "properties": {
                "accountTypesWithManagementDisabled": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "cameraDisabled": {
                    "type": "boolean"
                },
                "maxDaysWithWorkOff": {
                    "format": "int32",
                    "type": "integer"
                },
                "personalApplications": {
                    "items": {
                        "$ref": "PersonalApplicationPolicy"
                    },
                    "type": "array"
                },
                "personalPlayStoreMode": {
                    "enum": [
                        "PLAY_STORE_MODE_UNSPECIFIED",
                        "BLACKLIST"
                    ],
                    "type": "string"
                },
                "screenCaptureDisabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "accountTypesWithManagementDisabled": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "addUserDisabled": {
                    "type": "boolean"
                },
                "adjustVolumeDisabled": {
                    "type": "boolean"
                },
                "advancedSecurityOverrides": {
                    "$ref": "AdvancedSecurityOverrides"
                },
                "alwaysOnVpnPackage": {
                    "$ref": "AlwaysOnVpnPackage"
                },
                "androidDevicePolicyTracks": {
                    "items": {
                        "enum": [
                            "APP_TRACK_UNSPECIFIED",
                            "PRODUCTION",
                            "BETA"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "appAutoUpdatePolicy": {
                    "enum": [
                        "APP_AUTO_UPDATE_POLICY_UNSPECIFIED",
                        "CHOICE_TO_THE_USER",
                        "NEVER",
                        "WIFI_ONLY",
                        "ALWAYS"
                    ],
                    "type": "string"
                },
                "applications": {
                    "items": {
                        "$ref": "ApplicationPolicy"
                    },
                    "type": "array"
                },
                "autoTimeRequired": {
                    "type": "boolean"
                },
                "blockApplicationsEnabled": {
                    "type": "boolean"
                },
                "bluetoothConfigDisabled": {
                    "type": "boolean"
                },
                "bluetoothContactSharingDisabled": {
                    "type": "boolean"
                },
                "bluetoothDisabled": {
                    "type": "boolean"
                },
                "cameraDisabled": {
                    "type": "boolean"
                },
                "cellBroadcastsConfigDisabled": {
                    "type": "boolean"
                },
                "choosePrivateKeyRules": {
                    "items": {
                        "$ref": "ChoosePrivateKeyRule"
                    },
                    "type": "array"
                },
                "complianceRules": {
                    "items": {
                        "$ref": "ComplianceRule"
                    },
                    "type": "array"
                },
                "createWindowsDisabled": {
                    "type": "boolean"
                },
                "credentialsConfigDisabled": {
                    "type": "boolean"
                },
                "dataRoamingDisabled": {
                    "type": "boolean"
                },
                "debuggingFeaturesAllowed": {
                    "type": "boolean"
                },
                "defaultPermissionPolicy": {
                    "enum": [
                        "PERMISSION_POLICY_UNSPECIFIED",
                        "PROMPT",
                        "GRANT",
                        "DENY"
                    ],
                    "type": "string"
                },
                "deviceOwnerLockScreenInfo": {
                    "$ref": "UserFacingMessage"
                },
                "encryptionPolicy": {
                    "enum": [
                        "ENCRYPTION_POLICY_UNSPECIFIED",
                        "ENABLED_WITHOUT_PASSWORD",
                        "ENABLED_WITH_PASSWORD"
                    ],
                    "type": "string"
                },
                "ensureVerifyAppsEnabled": {
                    "type": "boolean"
                },
                "factoryResetDisabled": {
                    "type": "boolean"
                },
                "frpAdminEmails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "funDisabled": {
                    "type": "boolean"
                },
                "installAppsDisabled": {
                    "type": "boolean"
                },
                "installUnknownSourcesAllowed": {
                    "type": "boolean"
                },
                "keyguardDisabled": {
                    "type": "boolean"
                },
                "keyguardDisabledFeatures": {
                    "items": {
                        "enum": [
                            "KEYGUARD_DISABLED_FEATURE_UNSPECIFIED",
                            "CAMERA",
                            "NOTIFICATIONS",
                            "UNREDACTED_NOTIFICATIONS",
                            "TRUST_AGENTS",
                            "DISABLE_FINGERPRINT",
                            "DISABLE_REMOTE_INPUT",
                            "FACE",
                            "IRIS",
                            "BIOMETRICS",
                            "ALL_FEATURES"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "kioskCustomLauncherEnabled": {
                    "type": "boolean"
                },
                "kioskCustomization": {
                    "$ref": "KioskCustomization"
                },
                "locationMode": {
                    "enum": [
                        "LOCATION_MODE_UNSPECIFIED",
                        "HIGH_ACCURACY",
                        "SENSORS_ONLY",
                        "BATTERY_SAVING",
                        "OFF"
                    ],
                    "type": "string"
                },
                "longSupportMessage": {
                    "$ref": "UserFacingMessage"
                },
                "maximumTimeToLock": {
                    "format": "int64",
                    "type": "string"
                },
                "minimumApiLevel": {
                    "format": "int32",
                    "type": "integer"
                },
                "mobileNetworksConfigDisabled": {
                    "type": "boolean"
                },
                "modifyAccountsDisabled": {
                    "type": "boolean"
                },
                "mountPhysicalMediaDisabled": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "networkEscapeHatchEnabled": {
                    "type": "boolean"
                },
                "networkResetDisabled": {
                    "type": "boolean"
                },
                "openNetworkConfiguration": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "outgoingBeamDisabled": {
                    "type": "boolean"
                },
                "outgoingCallsDisabled": {
                    "type": "boolean"
                },
                "passwordPolicies": {
                    "items": {
                        "$ref": "PasswordRequirements"
                    },
                    "type": "array"
                },
                "passwordRequirements": {
                    "$ref": "PasswordRequirements"
                },
                "permissionGrants": {
                    "items": {
                        "$ref": "PermissionGrant"
                    },
                    "type": "array"
                },
                "permittedAccessibilityServices": {
                    "$ref": "PackageNameList"
                },
                "permittedInputMethods": {
                    "$ref": "PackageNameList"
                },
                "persistentPreferredActivities": {
                    "items": {
                        "$ref": "PersistentPreferredActivity"
                    },
                    "type": "array"
                },
                "personalUsagePolicies": {
                    "$ref": "PersonalUsagePolicies"
                },
                "playStoreMode": {
                    "enum": [
                        "PLAY_STORE_MODE_UNSPECIFIED",
                        "WHITELIST",
                        "BLACKLIST"
                    ],
                    "type": "string"
                },
                "policyEnforcementRules": {
                    "items": {
                        "$ref": "PolicyEnforcementRule"
                    },
                    "type": "array"
                },
                "privateKeySelectionEnabled": {
                    "type": "boolean"
                },
                "recommendedGlobalProxy": {
                    "$ref": "ProxyInfo"
                },
                "removeUserDisabled": {
                    "type": "boolean"
                },
                "safeBootDisabled": {
                    "type": "boolean"
                },
                "screenCaptureDisabled": {
                    "type": "boolean"
                },
                "setUserIconDisabled": {
                    "type": "boolean"
                },
                "setWallpaperDisabled": {
                    "type": "boolean"
                },
                "setupActions": {
                    "items": {
                        "$ref": "SetupAction"
                    },
                    "type": "array"
                },
                "shareLocationDisabled": {
                    "type": "boolean"
                },
                "shortSupportMessage": {
                    "$ref": "UserFacingMessage"
                },
                "skipFirstUseHintsEnabled": {
                    "type": "boolean"
                },
                "smsDisabled": {
                    "type": "boolean"
                },
                "statusBarDisabled": {
                    "type": "boolean"
                },
                "statusReportingSettings": {
                    "$ref": "StatusReportingSettings"
                },
                "stayOnPluggedModes": {
                    "items": {
                        "enum": [
                            "BATTERY_PLUGGED_MODE_UNSPECIFIED",
                            "AC",
                            "USB",
                            "WIRELESS"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "systemUpdate": {
                    "$ref": "SystemUpdate"
                },
                "tetheringConfigDisabled": {
                    "type": "boolean"
                },
                "uninstallAppsDisabled": {
                    "type": "boolean"
                },
                "unmuteMicrophoneDisabled": {
                    "type": "boolean"
                },
                "usbFileTransferDisabled": {
                    "type": "boolean"
                },
                "usbMassStorageEnabled": {
                    "type": "boolean"
                },
                "version": {
                    "format": "int64",
                    "type": "string"
                },
                "vpnConfigDisabled": {
                    "type": "boolean"
                },
                "wifiConfigDisabled": {
                    "type": "boolean"
                },
                "wifiConfigsLockdownEnabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "PolicyEnforcementRule": {
            "id": "PolicyEnforcementRule",
            "properties": {
                "blockAction": {
                    "$ref": "BlockAction"
                },
                "settingName": {
                    "type": "string"
                },
                "wipeAction": {
                    "$ref": "WipeAction"
                }
            },
            "type": "object"
        },
        "PostureDetail": {
            "id": "PostureDetail",
            "properties": {
                "advice": {
                    "items": {
                        "$ref": "UserFacingMessage"
                    },
                    "type": "array"
                },
                "securityRisk": {
                    "enum": [
                        "SECURITY_RISK_UNSPECIFIED",
                        "UNKNOWN_OS",
                        "COMPROMISED_OS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PowerManagementEvent": {
            "id": "PowerManagementEvent",
            "properties": {
                "batteryLevel": {
                    "format": "float",
                    "type": "number"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "eventType": {
                    "enum": [
                        "POWER_MANAGEMENT_EVENT_TYPE_UNSPECIFIED",
                        "BATTERY_LEVEL_COLLECTED",
                        "POWER_CONNECTED",
                        "POWER_DISCONNECTED",
                        "BATTERY_LOW",
                        "BATTERY_OKAY",
                        "BOOT_COMPLETED",
                        "SHUTDOWN"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ProxyInfo": {
            "id": "ProxyInfo",
            "properties": {
                "excludedHosts": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "host": {
                    "type": "string"
                },
                "pacUri": {
                    "type": "string"
                },
                "port": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SecurityPosture": {
            "id": "SecurityPosture",
            "properties": {
                "devicePosture": {
                    "enum": [
                        "POSTURE_UNSPECIFIED",
                        "SECURE",
                        "AT_RISK",
                        "POTENTIALLY_COMPROMISED"
                    ],
                    "type": "string"
                },
                "postureDetails": {
                    "items": {
                        "$ref": "PostureDetail"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SetupAction": {
            "id": "SetupAction",
            "properties": {
                "launchApp": {
                    "$ref": "LaunchAppAction"
                },
                "title": {
                    "$ref": "UserFacingMessage"
                }
            },
            "type": "object"
        },
        "SigninDetail": {
            "id": "SigninDetail",
            "properties": {
                "allowPersonalUsage": {
                    "enum": [
                        "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
                        "PERSONAL_USAGE_ALLOWED",
                        "PERSONAL_USAGE_DISALLOWED"
                    ],
                    "type": "string"
                },
                "qrCode": {
                    "type": "string"
                },
                "signinEnrollmentToken": {
                    "type": "string"
[...]
