{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidenterprise": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://www.googleapis.com/",
    "batchPath": "batch/androidenterprise/v1",
    "canonicalName": "Android Enterprise",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/android/work/play/emm-api",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "androidenterprise:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://www.mtls.googleapis.com/",
    "name": "androidenterprise",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "devices": {
            "methods": {
                "forceReportUpload": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/forceReportUpload",
                    "httpMethod": "POST",
                    "id": "androidenterprise.devices.forceReportUpload",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/forceReportUpload",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
                    "response": {
                        "$ref": "Device"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getState": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.getState",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "response": {
                        "$ref": "DeviceState"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices",
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices",
                    "response": {
                        "$ref": "DevicesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setState": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.devices.setState",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "request": {
                        "$ref": "DeviceState"
                    },
                    "response": {
                        "$ref": "DeviceState"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.devices.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "location": "query",
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
                    "request": {
                        "$ref": "Device"
                    },
                    "response": {
                        "$ref": "Device"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "enterprises": {
            "methods": {
                "acknowledgeNotificationSet": {
                    "flatPath": "androidenterprise/v1/enterprises/acknowledgeNotificationSet",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.acknowledgeNotificationSet",
                    "parameterOrder": [],
                    "parameters": {
                        "notificationSetId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/acknowledgeNotificationSet",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "completeSignup": {
                    "flatPath": "androidenterprise/v1/enterprises/completeSignup",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.completeSignup",
                    "parameterOrder": [],
                    "parameters": {
                        "completionToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "enterpriseToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/completeSignup",
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "createWebToken": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/createWebToken",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.createWebToken",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/createWebToken",
                    "request": {
                        "$ref": "AdministratorWebTokenSpec"
                    },
                    "response": {
                        "$ref": "AdministratorWebToken"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "enroll": {
                    "flatPath": "androidenterprise/v1/enterprises/enroll",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.enroll",
                    "parameterOrder": [
                        "token"
                    ],
                    "parameters": {
                        "token": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/enroll",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateSignupUrl": {
                    "flatPath": "androidenterprise/v1/enterprises/signupUrl",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.generateSignupUrl",
                    "parameterOrder": [],
                    "parameters": {
                        "callbackUrl": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/signupUrl",
                    "response": {
                        "$ref": "SignupInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.get",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}",
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getServiceAccount": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccount",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.getServiceAccount",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "keyType": {
                            "enum": [
                                "googleCredentials",
                                "pkcs12"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccount",
                    "response": {
                        "$ref": "ServiceAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getStoreLayout": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.getStoreLayout",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
                    "response": {
                        "$ref": "StoreLayout"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.list",
                    "parameterOrder": [
                        "domain"
                    ],
                    "parameters": {
                        "domain": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises",
                    "response": {
                        "$ref": "EnterprisesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "pullNotificationSet": {
                    "flatPath": "androidenterprise/v1/enterprises/pullNotificationSet",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.pullNotificationSet",
                    "parameterOrder": [],
                    "parameters": {
                        "requestMode": {
                            "enum": [
                                "waitForNotifications",
                                "returnImmediately"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/pullNotificationSet",
                    "response": {
                        "$ref": "NotificationSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "sendTestPushNotification": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/sendTestPushNotification",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.sendTestPushNotification",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/sendTestPushNotification",
                    "response": {
                        "$ref": "EnterprisesSendTestPushNotificationResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setAccount": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/account",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.enterprises.setAccount",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/account",
                    "request": {
                        "$ref": "EnterpriseAccount"
                    },
                    "response": {
                        "$ref": "EnterpriseAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setStoreLayout": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.enterprises.setStoreLayout",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
                    "request": {
                        "$ref": "StoreLayout"
                    },
                    "response": {
                        "$ref": "StoreLayout"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "unenroll": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/unenroll",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.unenroll",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/unenroll",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "entitlements": {
            "methods": {
                "delete": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.entitlements.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.entitlements.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements",
                    "httpMethod": "GET",
                    "id": "androidenterprise.entitlements.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements",
                    "response": {
                        "$ref": "EntitlementsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.entitlements.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "install": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "request": {
                        "$ref": "Entitlement"
                    },
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "grouplicenses": {
            "methods": {
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenses.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "groupLicenseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "groupLicenseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
                    "response": {
                        "$ref": "GroupLicense"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses",
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenses.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses",
                    "response": {
                        "$ref": "GroupLicensesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "grouplicenseusers": {
            "methods": {
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users",
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenseusers.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "groupLicenseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "groupLicenseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users",
                    "response": {
                        "$ref": "GroupLicenseUsersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "installs": {
            "methods": {
                "delete": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.installs.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.installs.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
                    "httpMethod": "GET",
                    "id": "androidenterprise.installs.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
                    "response": {
                        "$ref": "InstallsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.installs.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "request": {
                        "$ref": "Install"
                    },
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "managedconfigurationsfordevice": {
            "methods": {
                "delete": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.managedconfigurationsfordevice.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsfordevice.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsfordevice.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
                    "response": {
                        "$ref": "ManagedConfigurationsForDeviceListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.managedconfigurationsfordevice.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "request": {
                        "$ref": "ManagedConfiguration"
                    },
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "managedconfigurationsforuser": {
            "methods": {
                "delete": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.managedconfigurationsforuser.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsforuser.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser",
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsforuser.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser",
                    "response": {
                        "$ref": "ManagedConfigurationsForUserListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.managedconfigurationsforuser.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "request": {
                        "$ref": "ManagedConfiguration"
                    },
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "managedconfigurationssettings": {
            "methods": {
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/managedConfigurationsSettings",
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationssettings.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/managedConfigurationsSettings",
                    "response": {
                        "$ref": "ManagedConfigurationsSettingsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "permissions": {
            "methods": {
                "get": {
                    "flatPath": "androidenterprise/v1/permissions/{permissionId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.permissions.get",
                    "parameterOrder": [
                        "permissionId"
                    ],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "permissionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/permissions/{permissionId}",
                    "response": {
                        "$ref": "Permission"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "products": {
            "methods": {
                "approve": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/approve",
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.approve",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/approve",
                    "request": {
                        "$ref": "ProductsApproveRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateApprovalUrl": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.generateApprovalUrl",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "languageCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
                    "response": {
                        "$ref": "ProductsGenerateApprovalUrlResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}",
                    "response": {
                        "$ref": "Product"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getAppRestrictionsSchema": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.getAppRestrictionsSchema",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
                    "response": {
                        "$ref": "AppRestrictionsSchema"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getPermissions": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/permissions",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.getPermissions",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/permissions",
                    "response": {
                        "$ref": "ProductPermissions"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "approved": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        },
                        "token": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/products",
                    "response": {
                        "$ref": "ProductsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "unapprove": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/unapprove",
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.unapprove",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/unapprove",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "serviceaccountkeys": {
            "methods": {
                "delete": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys/{keyId}",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.serviceaccountkeys.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "keyId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "keyId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys/{keyId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
                    "httpMethod": "POST",
                    "id": "androidenterprise.serviceaccountkeys.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
                    "request": {
                        "$ref": "ServiceAccountKey"
                    },
                    "response": {
                        "$ref": "ServiceAccountKey"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
                    "httpMethod": "GET",
                    "id": "androidenterprise.serviceaccountkeys.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
                    "response": {
                        "$ref": "ServiceAccountKeysListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "storelayoutclusters": {
            "methods": {
                "delete": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.storelayoutclusters.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutclusters.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "httpMethod": "POST",
                    "id": "androidenterprise.storelayoutclusters.insert",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "request": {
                        "$ref": "StoreCluster"
                    },
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutclusters.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "response": {
                        "$ref": "StoreLayoutClustersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.storelayoutclusters.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "request": {
                        "$ref": "StoreCluster"
                    },
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "storelayoutpages": {
            "methods": {
                "delete": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.storelayoutpages.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutpages.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
                    "httpMethod": "POST",
                    "id": "androidenterprise.storelayoutpages.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
                    "request": {
                        "$ref": "StorePage"
                    },
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutpages.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
                    "response": {
                        "$ref": "StoreLayoutPagesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.storelayoutpages.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "request": {
                        "$ref": "StorePage"
                    },
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "users": {
            "methods": {
                "delete": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.users.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateAuthenticationToken": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/authenticationToken",
                    "httpMethod": "POST",
                    "id": "androidenterprise.users.generateAuthenticationToken",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/authenticationToken",
                    "response": {
                        "$ref": "AuthenticationToken"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.users.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getAvailableProductSet": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet",
                    "httpMethod": "GET",
                    "id": "androidenterprise.users.getAvailableProductSet",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet",
                    "response": {
                        "$ref": "ProductSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users",
                    "httpMethod": "POST",
                    "id": "androidenterprise.users.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users",
                    "httpMethod": "GET",
                    "id": "androidenterprise.users.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "email"
                    ],
                    "parameters": {
                        "email": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users",
                    "response": {
                        "$ref": "UsersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "revokeDeviceAccess": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/deviceAccess",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.users.revokeDeviceAccess",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/deviceAccess",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setAvailableProductSet": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.users.setAvailableProductSet",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet",
                    "request": {
                        "$ref": "ProductSet"
                    },
                    "response": {
                        "$ref": "ProductSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.users.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "webapps": {
            "methods": {
                "delete": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.webapps.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "webAppId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "webAppId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
                    "httpMethod": "GET",
                    "id": "androidenterprise.webapps.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "webAppId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "webAppId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
                    "response": {
                        "$ref": "WebApp"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps",
                    "httpMethod": "POST",
                    "id": "androidenterprise.webapps.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps",
                    "request": {
                        "$ref": "WebApp"
                    },
                    "response": {
                        "$ref": "WebApp"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps",
                    "httpMethod": "GET",
                    "id": "androidenterprise.webapps.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps",
                    "response": {
                        "$ref": "WebAppsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.webapps.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "webAppId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "webAppId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
                    "request": {
                        "$ref": "WebApp"
                    },
                    "response": {
                        "$ref": "WebApp"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Administrator": {
            "id": "Administrator",
            "properties": {
                "email": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AdministratorWebToken": {
            "id": "AdministratorWebToken",
            "properties": {
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
[...]
