{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidmanagement": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://androidmanagement.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Android Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/android/management",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "androidmanagement:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://androidmanagement.mtls.googleapis.com/",
    "name": "androidmanagement",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "enterprises": {
            "methods": {
                "create": {
                    "flatPath": "v1/enterprises",
                    "httpMethod": "POST",
                    "id": "androidmanagement.enterprises.create",
                    "parameterOrder": [],
                    "parameters": {
                        "enterpriseToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        },
                        "signupUrlName": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/enterprises",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidmanagement"
                    ]
                },
                "get": {
                    "flatPath": "v1/enterprises/{enterprisesId}",
                    "httpMethod": "GET",
                    "id": "androidmanagement.enterprises.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^enterprises/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidmanagement"
                    ]
                },
                "patch": {
                    "flatPath": "v1/enterprises/{enterprisesId}",
                    "httpMethod": "PATCH",
                    "id": "androidmanagement.enterprises.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^enterprises/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidmanagement"
                    ]
                }
            },
            "resources": {
                "applications": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/enterprises/{enterprisesId}/applications/{applicationsId}",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.applications.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "languageCode": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/applications/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Application"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                },
                "devices": {
                    "methods": {
                        "delete": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.devices.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "wipeDataFlags": {
                                    "enum": [
                                        "WIPE_DATA_FLAG_UNSPECIFIED",
                                        "PRESERVE_RESET_PROTECTION_DATA",
                                        "WIPE_EXTERNAL_STORAGE"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "wipeReasonMessage": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.devices.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Device"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "issueCommand": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}:issueCommand",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.devices.issueCommand",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:issueCommand",
                            "request": {
                                "$ref": "Command"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.devices.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/devices",
                            "response": {
                                "$ref": "ListDevicesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
                            "httpMethod": "PATCH",
                            "id": "androidmanagement.enterprises.devices.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Device"
                            },
                            "response": {
                                "$ref": "Device"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    },
                    "resources": {
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "androidmanagement.enterprises.devices.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/androidmanagement"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "androidmanagement.enterprises.devices.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/androidmanagement"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "androidmanagement.enterprises.devices.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/androidmanagement"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations",
                                    "httpMethod": "GET",
                                    "id": "androidmanagement.enterprises.devices.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/androidmanagement"
                                    ]
                                }
                            }
                        }
                    }
                },
                "enrollmentTokens": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.enrollmentTokens.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/enrollmentTokens",
                            "request": {
                                "$ref": "EnrollmentToken"
                            },
                            "response": {
                                "$ref": "EnrollmentToken"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens/{enrollmentTokensId}",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.enrollmentTokens.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/enrollmentTokens/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                },
                "policies": {
                    "methods": {
                        "delete": {
                            "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.policies.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.policies.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/enterprises/{enterprisesId}/policies",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.policies.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/policies",
                            "response": {
                                "$ref": "ListPoliciesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
                            "httpMethod": "PATCH",
                            "id": "androidmanagement.enterprises.policies.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Policy"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                },
                "webApps": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.webApps.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/webApps",
                            "request": {
                                "$ref": "WebApp"
                            },
                            "response": {
                                "$ref": "WebApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.webApps.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.webApps.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "WebApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.webApps.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/webApps",
                            "response": {
                                "$ref": "ListWebAppsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
                            "httpMethod": "PATCH",
                            "id": "androidmanagement.enterprises.webApps.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "WebApp"
                            },
                            "response": {
                                "$ref": "WebApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                },
                "webTokens": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/enterprises/{enterprisesId}/webTokens",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.webTokens.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/webTokens",
                            "request": {
                                "$ref": "WebToken"
                            },
                            "response": {
                                "$ref": "WebToken"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidmanagement"
                            ]
                        }
                    }
                }
            }
        },
        "signupUrls": {
            "methods": {
                "create": {
                    "flatPath": "v1/signupUrls",
                    "httpMethod": "POST",
                    "id": "androidmanagement.signupUrls.create",
                    "parameterOrder": [],
                    "parameters": {
                        "callbackUrl": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/signupUrls",
                    "response": {
                        "$ref": "SignupUrl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidmanagement"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://androidmanagement.googleapis.com/",
    "schemas": {
        "AdvancedSecurityOverrides": {
            "id": "AdvancedSecurityOverrides",
            "properties": {
                "untrustedAppsPolicy": {
                    "enum": [
                        "UNTRUSTED_APPS_POLICY_UNSPECIFIED",
                        "DISALLOW_INSTALL",
                        "ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY",
                        "ALLOW_INSTALL_DEVICE_WIDE"
                    ],
                    "enumDescriptions": [
                        "Unspecified. Defaults to DISALLOW_INSTALL.",
                        "Default. Disallow untrusted app installs on entire device.",
                        "For devices with work profiles, allow untrusted app installs in the device's personal profile only.",
                        "Allow untrusted app installs on entire device."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AlwaysOnVpnPackage": {
            "id": "AlwaysOnVpnPackage",
            "properties": {
                "lockdownEnabled": {
                    "type": "boolean"
                },
                "packageName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApiLevelCondition": {
            "id": "ApiLevelCondition",
            "properties": {
                "minApiLevel": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AppTrackInfo": {
            "id": "AppTrackInfo",
            "properties": {
                "trackAlias": {
                    "type": "string"
                },
                "trackId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Application": {
            "id": "Application",
            "properties": {
                "appTracks": {
                    "items": {
                        "$ref": "AppTrackInfo"
                    },
                    "type": "array"
                },
                "managedProperties": {
                    "items": {
                        "$ref": "ManagedProperty"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "permissions": {
                    "items": {
                        "$ref": "ApplicationPermission"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationEvent": {
            "id": "ApplicationEvent",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "eventType": {
                    "enum": [
                        "APPLICATION_EVENT_TYPE_UNSPECIFIED",
                        "INSTALLED",
                        "CHANGED",
                        "DATA_CLEARED",
                        "REMOVED",
                        "REPLACED",
                        "RESTARTED",
                        "PINNED",
                        "UNPINNED"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "The app was installed.",
                        "The app was changed, for example, a component was enabled or disabled.",
                        "The app data was cleared.",
                        "The app was removed.",
                        "A new version of the app has been installed, replacing the old version.",
                        "The app was restarted.",
                        "The app was pinned to the foreground.",
                        "The app was unpinned."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationPermission": {
            "id": "ApplicationPermission",
            "properties": {
                "name": {
                    "type": "string"
                },
                "permissionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationPolicy": {
            "id": "ApplicationPolicy",
            "properties": {
                "accessibleTrackIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "defaultPermissionPolicy": {
                    "enum": [
                        "PERMISSION_POLICY_UNSPECIFIED",
                        "PROMPT",
                        "GRANT",
                        "DENY"
                    ],
                    "enumDescriptions": [
                        "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
                        "Prompt the user to grant a permission.",
                        "Automatically grant a permission.",
                        "Automatically deny a permission."
                    ],
                    "type": "string"
                },
                "delegatedScopes": {
                    "enumDescriptions": [
                        "No delegation scope specified.",
                        "Grants access to certificate installation and management.",
                        "Grants access to managed configurations management.",
                        "Grants access to blocking uninstallation.",
                        "Grants access to permission policy and permission grant state.",
                        "Grants access to package access state.",
                        "Grants access for enabling system apps."
                    ],
                    "items": {
                        "enum": [
                            "DELEGATED_SCOPE_UNSPECIFIED",
                            "CERT_INSTALL",
                            "MANAGED_CONFIGURATIONS",
                            "BLOCK_UNINSTALL",
                            "PERMISSION_GRANT",
                            "PACKAGE_ACCESS",
                            "ENABLE_SYSTEM_APP"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "disabled": {
                    "type": "boolean"
                },
                "installType": {
                    "enum": [
                        "INSTALL_TYPE_UNSPECIFIED",
                        "PREINSTALLED",
                        "FORCE_INSTALLED",
                        "BLOCKED",
                        "AVAILABLE",
                        "REQUIRED_FOR_SETUP",
                        "KIOSK"
                    ],
                    "enumDescriptions": [
                        "Unspecified. Defaults to AVAILABLE.",
                        "The app is automatically installed and can be removed by the user.",
                        "The app is automatically installed and can't be removed by the user.",
                        "The app is blocked and can't be installed. If the app was installed under a previous policy, it will be uninstalled.",
                        "The app is available to install.",
                        "The app is automatically installed and can't be removed by the user and will prevent setup from completion until installation is complete.",
                        "The app is automatically installed in kiosk mode: it's set as the preferred home intent and whitelisted for lock task mode. Device setup won't complete until the app is installed. After installation, users won't be able to remove the app. You can only set this installType for one app per policy. When this is present in the policy, status bar will be automatically disabled."
                    ],
                    "type": "string"
                },
                "lockTaskAllowed": {
                    "type": "boolean"
                },
                "managedConfiguration": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "managedConfigurationTemplate": {
                    "$ref": "ManagedConfigurationTemplate"
                },
                "minimumVersionCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "packageName": {
                    "type": "string"
                },
                "permissionGrants": {
                    "items": {
                        "$ref": "PermissionGrant"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ApplicationReport": {
            "id": "ApplicationReport",
            "properties": {
                "applicationSource": {
                    "enum": [
                        "APPLICATION_SOURCE_UNSPECIFIED",
                        "SYSTEM_APP_FACTORY_VERSION",
                        "SYSTEM_APP_UPDATED_VERSION",
                        "INSTALLED_FROM_PLAY_STORE"
                    ],
                    "enumDescriptions": [
                        "The app was sideloaded from an unspecified source.",
                        "This is a system app from the device's factory image.",
                        "This is an updated system app.",
                        "The app was installed from the Google Play Store."
                    ],
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "events": {
                    "items": {
                        "$ref": "ApplicationEvent"
                    },
                    "type": "array"
                },
                "installerPackageName": {
                    "type": "string"
                },
                "keyedAppStates": {
                    "items": {
                        "$ref": "KeyedAppState"
                    },
                    "type": "array"
                },
                "packageName": {
                    "type": "string"
                },
                "packageSha256Hash": {
                    "type": "string"
                },
                "signingKeyCertFingerprints": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "state": {
                    "enum": [
                        "APPLICATION_STATE_UNSPECIFIED",
                        "REMOVED",
                        "INSTALLED"
                    ],
                    "enumDescriptions": [
                        "App state is unspecified",
                        "App was removed from the device",
                        "App is installed on the device"
                    ],
                    "type": "string"
                },
                "versionCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "versionName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationReportingSettings": {
            "id": "ApplicationReportingSettings",
            "properties": {
                "includeRemovedApps": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BlockAction": {
            "id": "BlockAction",
            "properties": {
                "blockAfterDays": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ChoosePrivateKeyRule": {
            "id": "ChoosePrivateKeyRule",
            "properties": {
                "packageNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "privateKeyAlias": {
                    "type": "string"
                },
                "urlPattern": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Command": {
            "id": "Command",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "errorCode": {
                    "enum": [
                        "COMMAND_ERROR_CODE_UNSPECIFIED",
                        "UNKNOWN",
                        "API_LEVEL",
                        "MANAGEMENT_MODE",
                        "INVALID_VALUE",
                        "UNSUPPORTED"
                    ],
                    "enumDescriptions": [
                        "There was no error.",
                        "An unknown error occurred.",
                        "The API level of the device does not support this command.",
                        "The management mode (profile owner, device owner, etc.) does not support the command.",
                        "The command has an invalid parameter value.",
                        "The device doesn't support the command. Updating Android Device Policy to the latest version may resolve the issue."
                    ],
                    "type": "string"
                },
                "newPassword": {
                    "type": "string"
                },
                "resetPasswordFlags": {
                    "enumDescriptions": [
                        "This value is ignored.",
                        "Don't allow other admins to change the password again until the user has entered it.",
                        "Don't ask for user credentials on device boot.",
                        "Lock the device after password reset."
                    ],
                    "items": {
                        "enum": [
                            "RESET_PASSWORD_FLAG_UNSPECIFIED",
                            "REQUIRE_ENTRY",
                            "DO_NOT_ASK_CREDENTIALS_ON_BOOT",
                            "LOCK_NOW"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "type": {
                    "enum": [
                        "COMMAND_TYPE_UNSPECIFIED",
                        "LOCK",
                        "RESET_PASSWORD",
                        "REBOOT"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "Lock the device, as if the lock screen timeout had expired.",
                        "Reset the user's password.",
                        "Reboot the device. Only supported on API level 24+."
                    ],
                    "type": "string"
                },
                "userName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ComplianceRule": {
            "id": "ComplianceRule",
            "properties": {
                "apiLevelCondition": {
                    "$ref": "ApiLevelCondition"
                },
                "disableApps": {
                    "type": "boolean"
                },
                "nonComplianceDetailCondition": {
                    "$ref": "NonComplianceDetailCondition"
                },
                "packageNamesToDisable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Device": {
            "id": "Device",
            "properties": {
                "apiLevel": {
                    "format": "int32",
                    "type": "integer"
                },
                "applicationReports": {
                    "items": {
                        "$ref": "ApplicationReport"
                    },
                    "type": "array"
                },
                "appliedPolicyName": {
                    "type": "string"
                },
                "appliedPolicyVersion": {
                    "format": "int64",
                    "type": "string"
                },
                "appliedState": {
                    "enum": [
                        "DEVICE_STATE_UNSPECIFIED",
                        "ACTIVE",
                        "DISABLED",
                        "DELETED",
                        "PROVISIONING"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "The device is active.",
                        "The device is disabled.",
                        "The device was deleted. This state will never be returned by an API call, but is used in the final status report published to Cloud Pub/Sub when the device acknowledges the deletion.",
                        "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied."
                    ],
                    "type": "string"
                },
                "deviceSettings": {
                    "$ref": "DeviceSettings"
                },
                "disabledReason": {
                    "$ref": "UserFacingMessage"
                },
                "displays": {
                    "items": {
                        "$ref": "Display"
                    },
                    "type": "array"
                },
                "enrollmentTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "enrollmentTokenData": {
                    "type": "string"
                },
                "enrollmentTokenName": {
                    "type": "string"
                },
                "hardwareInfo": {
                    "$ref": "HardwareInfo"
                },
                "hardwareStatusSamples": {
                    "items": {
                        "$ref": "HardwareStatus"
                    },
                    "type": "array"
                },
                "lastPolicyComplianceReportTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastPolicySyncTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastStatusReportTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "managementMode": {
                    "enum": [
                        "MANAGEMENT_MODE_UNSPECIFIED",
                        "DEVICE_OWNER",
                        "PROFILE_OWNER"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "Device owner. Android Device Policy has full control over the device.",
                        "Profile owner. Android Device Policy has control over a managed profile on the device."
                    ],
                    "type": "string"
                },
                "memoryEvents": {
                    "items": {
                        "$ref": "MemoryEvent"
                    },
                    "type": "array"
                },
                "memoryInfo": {
                    "$ref": "MemoryInfo"
                },
                "name": {
                    "type": "string"
                },
                "networkInfo": {
                    "$ref": "NetworkInfo"
                },
                "nonComplianceDetails": {
                    "items": {
                        "$ref": "NonComplianceDetail"
                    },
                    "type": "array"
                },
                "policyCompliant": {
                    "type": "boolean"
                },
                "policyName": {
                    "type": "string"
                },
                "powerManagementEvents": {
                    "items": {
                        "$ref": "PowerManagementEvent"
                    },
                    "type": "array"
                },
                "previousDeviceNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "securityPosture": {
                    "$ref": "SecurityPosture"
                },
                "softwareInfo": {
                    "$ref": "SoftwareInfo"
                },
                "state": {
                    "enum": [
                        "DEVICE_STATE_UNSPECIFIED",
                        "ACTIVE",
                        "DISABLED",
                        "DELETED",
                        "PROVISIONING"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "The device is active.",
                        "The device is disabled.",
                        "The device was deleted. This state will never be returned by an API call, but is used in the final status report published to Cloud Pub/Sub when the device acknowledges the deletion.",
                        "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied."
                    ],
                    "type": "string"
                },
                "systemProperties": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "user": {
                    "$ref": "User"
                },
                "userName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeviceSettings": {
            "id": "DeviceSettings",
            "properties": {
                "adbEnabled": {
                    "type": "boolean"
                },
                "developmentSettingsEnabled": {
                    "type": "boolean"
                },
                "encryptionStatus": {
                    "enum": [
                        "ENCRYPTION_STATUS_UNSPECIFIED",
                        "UNSUPPORTED",
                        "INACTIVE",
                        "ACTIVATING",
                        "ACTIVE",
                        "ACTIVE_DEFAULT_KEY",
                        "ACTIVE_PER_USER"
                    ],
                    "enumDescriptions": [
                        "Unspecified. No device should have this type.",
                        "Encryption is not supported by the device.",
                        "Encryption is supported by the device, but is not currently active.",
                        "Encryption is not currently active, but is currently being activated.",
                        "Encryption is active.",
                        "Encryption is active, but an encryption key is not set by the user.",
                        "Encryption is active, and the encryption key is tied to the user profile."
                    ],
                    "type": "string"
                },
                "isDeviceSecure": {
                    "type": "boolean"
                },
                "isEncrypted": {
                    "type": "boolean"
                },
                "unknownSourcesEnabled": {
                    "type": "boolean"
                },
                "verifyAppsEnabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Display": {
            "id": "Display",
            "properties": {
                "density": {
                    "format": "int32",
                    "type": "integer"
                },
                "displayId": {
                    "format": "int32",
                    "type": "integer"
                },
                "height": {
                    "format": "int32",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "refreshRate": {
                    "format": "int32",
                    "type": "integer"
                },
                "state": {
                    "enum": [
                        "DISPLAY_STATE_UNSPECIFIED",
                        "OFF",
                        "ON",
                        "DOZE",
                        "SUSPENDED"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "Display is off.",
                        "Display is on.",
                        "Display is dozing in a low power state",
                        "Display is dozing in a suspended low power state."
                    ],
                    "type": "string"
                },
                "width": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EnrollmentToken": {
            "id": "EnrollmentToken",
            "properties": {
                "additionalData": {
                    "type": "string"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "expirationTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "oneTimeOnly": {
                    "type": "boolean"
                },
                "policyName": {
                    "type": "string"
                },
                "qrCode": {
                    "type": "string"
                },
                "user": {
                    "$ref": "User"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Enterprise": {
            "id": "Enterprise",
            "properties": {
                "appAutoApprovalEnabled": {
                    "type": "boolean"
                },
                "enabledNotificationTypes": {
                    "enumDescriptions": [
                        "This value is ignored.",
                        "A notification sent when a device enrolls.",
                        "Deprecated.",
                        "A notification sent when a device issues a status report.",
                        "A notification sent when a device command has completed."
                    ],
                    "items": {
                        "enum": [
                            "NOTIFICATION_TYPE_UNSPECIFIED",
                            "ENROLLMENT",
                            "COMPLIANCE_REPORT",
                            "STATUS_REPORT",
                            "COMMAND"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "enterpriseDisplayName": {
                    "type": "string"
                },
                "logo": {
                    "$ref": "ExternalData"
                },
                "name": {
                    "type": "string"
                },
                "primaryColor": {
                    "format": "int32",
                    "type": "integer"
                },
                "pubsubTopic": {
                    "type": "string"
                },
                "signinDetails": {
                    "items": {
                        "$ref": "SigninDetail"
                    },
                    "type": "array"
                },
                "termsAndConditions": {
                    "items": {
                        "$ref": "TermsAndConditions"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ExternalData": {
            "id": "ExternalData",
            "properties": {
                "sha256Hash": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FreezePeriod": {
            "id": "FreezePeriod",
            "properties": {
                "endDate": {
                    "$ref": "Date"
                },
                "startDate": {
                    "$ref": "Date"
                }
            },
            "type": "object"
        },
        "HardwareInfo": {
            "id": "HardwareInfo",
            "properties": {
                "batteryShutdownTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "batteryThrottlingTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "brand": {
                    "type": "string"
                },
                "cpuShutdownTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "cpuThrottlingTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "deviceBasebandVersion": {
                    "type": "string"
                },
                "gpuShutdownTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "gpuThrottlingTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "hardware": {
                    "type": "string"
                },
                "manufacturer": {
                    "type": "string"
                },
                "model": {
                    "type": "string"
                },
                "serialNumber": {
                    "type": "string"
                },
                "skinShutdownTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "skinThrottlingTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "HardwareStatus": {
            "id": "HardwareStatus",
            "properties": {
                "batteryTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "cpuTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "cpuUsages": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "fanSpeeds": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "gpuTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                },
                "skinTemperatures": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "KeyedAppState": {
            "id": "KeyedAppState",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "data": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                },
                "lastUpdateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "INFO",
                        "ERROR"
                    ],
                    "enumDescriptions": [
                        "Unspecified severity level.",
                        "Information severity level.",
                        "Error severity level. This should only be set for genuine error conditions that a management organization needs to take action to fix."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "KioskCustomization": {
            "id": "KioskCustomization",
            "properties": {
                "deviceSettings": {
                    "enum": [
                        "DEVICE_SETTINGS_UNSPECIFIED",
                        "SETTINGS_ACCESS_ALLOWED",
                        "SETTINGS_ACCESS_BLOCKED"
                    ],
                    "enumDescriptions": [
                        "Unspecified, defaults to SETTINGS_ACCESS_ALLOWED.",
                        "Access to the Settings app is allowed in kiosk mode.",
                        "Access to the Settings app is not allowed in kiosk mode."
                    ],
                    "type": "string"
                },
                "powerButtonActions": {
                    "enum": [
                        "POWER_BUTTON_ACTIONS_UNSPECIFIED",
                        "POWER_BUTTON_AVAILABLE",
                        "POWER_BUTTON_BLOCKED"
                    ],
                    "enumDescriptions": [
                        "Unspecified, defaults to POWER_BUTTON_AVAILABLE.",
                        "The power menu (e.g. Power off, Restart) is shown when a user long-presses the Power button of a device in kiosk mode.",
                        "The power menu (e.g. Power off, Restart) is not shown when a user long-presses the Power button of a device in kiosk mode. Note: this may prevent users from turning off the device."
                    ],
                    "type": "string"
                },
                "statusBar": {
                    "enum": [
                        "STATUS_BAR_UNSPECIFIED",
                        "NOTIFICATIONS_AND_SYSTEM_INFO_ENABLED",
                        "NOTIFICATIONS_AND_SYSTEM_INFO_DISABLED",
                        "SYSTEM_INFO_ONLY"
                    ],
                    "enumDescriptions": [
                        "Unspecified, defaults to INFO_AND_NOTIFICATIONS_DISABLED.",
                        "System info and notifications are shown on the status bar in kiosk mode.Note: For this policy to take effect, the device's home button must be enabled using kioskCustomization.systemNavigation.",
                        "System info and notifications are disabled in kiosk mode.",
                        "Only system info is shown on the status bar."
                    ],
                    "type": "string"
                },
                "systemErrorWarnings": {
                    "enum": [
                        "SYSTEM_ERROR_WARNINGS_UNSPECIFIED",
                        "ERROR_AND_WARNINGS_ENABLED",
                        "ERROR_AND_WARNINGS_MUTED"
                    ],
                    "enumDescriptions": [
                        "Unspecified, defaults to ERROR_AND_WARNINGS_MUTED.",
                        "All system error dialogs such as crash and app not responding (ANR) are displayed.",
                        "All system error dialogs, such as crash and app not responding (ANR) are blocked. When blocked, the system force-stops the app as if the user closes the app from the UI."
                    ],
                    "type": "string"
                },
                "systemNavigation": {
                    "enum": [
                        "SYSTEM_NAVIGATION_UNSPECIFIED",
                        "NAVIGATION_ENABLED",
                        "NAVIGATION_DISABLED",
                        "HOME_BUTTON_ONLY"
                    ],
                    "enumDescriptions": [
                        "Unspecified, defaults to NAVIGATION_DISABLED.",
                        "Home and overview buttons are enabled.",
                        "The home and Overview buttons are not accessible.",
                        "Only the home button is enabled."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LaunchAppAction": {
            "id": "LaunchAppAction",
            "properties": {
                "packageName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDevicesResponse": {
            "id": "ListDevicesResponse",
            "properties": {
                "devices": {
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListPoliciesResponse": {
            "id": "ListPoliciesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "policies": {
                    "items": {
                        "$ref": "Policy"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListWebAppsResponse": {
            "id": "ListWebAppsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "webApps": {
                    "items": {
                        "$ref": "WebApp"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ManagedConfigurationTemplate": {
            "id": "ManagedConfigurationTemplate",
            "properties": {
                "configurationVariables": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "templateId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedProperty": {
            "id": "ManagedProperty",
            "properties": {
                "defaultValue": {
                    "type": "any"
                },
                "entries": {
                    "items": {
                        "$ref": "ManagedPropertyEntry"
                    },
                    "type": "array"
                },
                "key": {
                    "type": "string"
                },
                "nestedProperties": {
                    "items": {
                        "$ref": "ManagedProperty"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "MANAGED_PROPERTY_TYPE_UNSPECIFIED",
                        "BOOL",
                        "STRING",
                        "INTEGER",
                        "CHOICE",
                        "MULTISELECT",
                        "HIDDEN",
                        "BUNDLE",
                        "BUNDLE_ARRAY"
                    ],
                    "enumDescriptions": [
                        "Not used.",
                        "A property of boolean type.",
                        "A property of string type.",
                        "A property of integer type.",
                        "A choice of one item from a set.",
                        "A choice of multiple items from a set.",
                        "A hidden restriction of string type (the default value can be used to pass along information that can't be modified, such as a version code).",
                        "A bundle of properties",
                        "An array of property bundles."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedPropertyEntry": {
            "id": "ManagedPropertyEntry",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MemoryEvent": {
            "id": "MemoryEvent",
            "properties": {
                "byteCount": {
                    "format": "int64",
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "eventType": {
                    "enum": [
                        "MEMORY_EVENT_TYPE_UNSPECIFIED",
                        "RAM_MEASURED",
                        "INTERNAL_STORAGE_MEASURED",
                        "EXTERNAL_STORAGE_DETECTED",
                        "EXTERNAL_STORAGE_REMOVED",
                        "EXTERNAL_STORAGE_MEASURED"
                    ],
                    "enumDescriptions": [
                        "Unspecified. No events have this type.",
                        "Free space in RAM was measured.",
                        "Free space in internal storage was measured.",
                        "A new external storage medium was detected. The reported byte count is the total capacity of the storage medium.",
                        "An external storage medium was removed. The reported byte count is zero.",
                        "Free space in an external storage medium was measured."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MemoryInfo": {
            "id": "MemoryInfo",
            "properties": {
                "totalInternalStorage": {
                    "format": "int64",
                    "type": "string"
                },
                "totalRam": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkInfo": {
            "id": "NetworkInfo",
            "properties": {
                "imei": {
                    "type": "string"
                },
                "meid": {
                    "type": "string"
                },
                "networkOperatorName": {
                    "type": "string"
                },
                "wifiMacAddress": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NonComplianceDetail": {
            "id": "NonComplianceDetail",
            "properties": {
                "currentValue": {
                    "type": "any"
                },
                "fieldPath": {
                    "type": "string"
                },
                "installationFailureReason": {
                    "enum": [
                        "INSTALLATION_FAILURE_REASON_UNSPECIFIED",
                        "INSTALLATION_FAILURE_REASON_UNKNOWN",
                        "IN_PROGRESS",
                        "NOT_FOUND",
                        "NOT_COMPATIBLE_WITH_DEVICE",
                        "NOT_APPROVED",
                        "PERMISSIONS_NOT_ACCEPTED",
                        "NOT_AVAILABLE_IN_COUNTRY",
                        "NO_LICENSES_REMAINING",
                        "NOT_ENROLLED",
                        "USER_INVALID"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "An unknown condition is preventing the app from being installed. Some potential reasons are that the device doesn't have enough storage, the device network connection is unreliable, or the installation is taking longer than expected. The installation will be retried automatically.",
                        "The installation is still in progress.",
                        "The app was not found in Play.",
                        "The app is incompatible with the device.",
                        "The app has not been approved by the admin.",
                        "The app has new permissions that have not been accepted by the admin.",
                        "The app is not available in the user's country.",
                        "There are no licenses available to assign to the user.",
                        "The enterprise is no longer enrolled with managed Play or the admin has not accepted the latest managed Play terms of service.",
                        "The user is no longer valid. The user may have been deleted or disabled."
                    ],
                    "type": "string"
                },
                "nonComplianceReason": {
                    "enum": [
                        "NON_COMPLIANCE_REASON_UNSPECIFIED",
                        "API_LEVEL",
                        "MANAGEMENT_MODE",
                        "USER_ACTION",
                        "INVALID_VALUE",
                        "APP_NOT_INSTALLED",
                        "UNSUPPORTED",
                        "APP_INSTALLED",
                        "PENDING",
                        "APP_INCOMPATIBLE",
                        "APP_NOT_UPDATED"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "The setting is not supported in the API level of the Android version running on the device.",
                        "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
                        "The user has not taken required action to comply with the setting.",
                        "The setting has an invalid value.",
                        "The app required to implement the policy is not installed.",
                        "The policy is not supported by the version of Android Device Policy on the device.",
                        "A blocked app is installed.",
                        "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
                        "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
                        "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
                    ],
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "settingName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NonComplianceDetailCondition": {
            "id": "NonComplianceDetailCondition",
            "properties": {
                "nonComplianceReason": {
                    "enum": [
                        "NON_COMPLIANCE_REASON_UNSPECIFIED",
                        "API_LEVEL",
                        "MANAGEMENT_MODE",
                        "USER_ACTION",
                        "INVALID_VALUE",
                        "APP_NOT_INSTALLED",
                        "UNSUPPORTED",
                        "APP_INSTALLED",
                        "PENDING",
                        "APP_INCOMPATIBLE",
                        "APP_NOT_UPDATED"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "The setting is not supported in the API level of the Android version running on the device.",
                        "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
                        "The user has not taken required action to comply with the setting.",
                        "The setting has an invalid value.",
                        "The app required to implement the policy is not installed.",
                        "The policy is not supported by the version of Android Device Policy on the device.",
                        "A blocked app is installed.",
                        "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
                        "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
                        "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
                    ],
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "settingName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PackageNameList": {
            "id": "PackageNameList",
            "properties": {
                "packageNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PasswordRequirements": {
            "id": "PasswordRequirements",
            "properties": {
                "maximumFailedPasswordsForWipe": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordExpirationTimeout": {
                    "format": "google-duration",
                    "type": "string"
                },
                "passwordHistoryLength": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumLength": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumLetters": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumLowerCase": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumNonLetter": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumNumeric": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumSymbols": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordMinimumUpperCase": {
                    "format": "int32",
                    "type": "integer"
                },
                "passwordQuality": {
                    "enum": [
                        "PASSWORD_QUALITY_UNSPECIFIED",
                        "BIOMETRIC_WEAK",
                        "SOMETHING",
                        "NUMERIC",
                        "NUMERIC_COMPLEX",
                        "ALPHABETIC",
                        "ALPHANUMERIC",
                        "COMPLEX"
                    ],
                    "enumDescriptions": [
                        "There are no password requirements.",
                        "The device must be secured with a low-security biometric recognition technology, at minimum. This includes technologies that can recognize the identity of an individual that are roughly equivalent to a 3-digit PIN (false detection is less than 1 in 1,000).",
                        "A password is required, but there are no restrictions on what the password must contain.",
                        "The password must contain numeric characters.",
                        "The password must contain numeric characters with no repeating (4444) or ordered (1234, 4321, 2468) sequences.",
                        "The password must contain alphabetic (or symbol) characters.",
                        "The password must contain both numeric and alphabetic (or symbol) characters.",
                        "The password must meet the minimum requirements specified in passwordMinimumLength, passwordMinimumLetters, passwordMinimumSymbols, etc. For example, if passwordMinimumSymbols is 2, the password must contain at least two symbols."
                    ],
                    "type": "string"
                },
                "passwordScope": {
                    "enum": [
                        "SCOPE_UNSPECIFIED",
                        "SCOPE_DEVICE",
                        "SCOPE_PROFILE"
                    ],
                    "enumDescriptions": [
                        "The scope is unspecified. The password requirements are applied to the work profile for work profile devices and the whole device for fully managed or dedicated devices.",
                        "The password requirements are only applied to the device.",
                        "The password requirements are only applied to the work profile."
                    ],
                    "type": "string"
                },
                "requirePasswordUnlock": {
                    "enum": [
                        "REQUIRE_PASSWORD_UNLOCK_UNSPECIFIED",
                        "USE_DEFAULT_DEVICE_TIMEOUT",
                        "REQUIRE_EVERY_DAY"
                    ],
                    "enumDescriptions": [
                        "Unspecified. Defaults to USE_DEFAULT_DEVICE_TIMEOUT.",
                        "The timeout period is set to the device\u2019s default.",
                        "The timeout period is set to 24 hours."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PermissionGrant": {
            "id": "PermissionGrant",
            "properties": {
                "permission": {
                    "type": "string"
                },
                "policy": {
                    "enum": [
                        "PERMISSION_POLICY_UNSPECIFIED",
                        "PROMPT",
                        "GRANT",
                        "DENY"
                    ],
                    "enumDescriptions": [
                        "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
                        "Prompt the user to grant a permission.",
                        "Automatically grant a permission.",
                        "Automatically deny a permission."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PersistentPreferredActivity": {
            "id": "PersistentPreferredActivity",
            "properties": {
                "actions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "categories": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "receiverActivity": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "accountTypesWithManagementDisabled": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "addUserDisabled": {
                    "type": "boolean"
                },
                "adjustVolumeDisabled": {
                    "type": "boolean"
                },
                "advancedSecurityOverrides": {
                    "$ref": "AdvancedSecurityOverrides"
                },
                "alwaysOnVpnPackage": {
                    "$ref": "AlwaysOnVpnPackage"
                },
                "androidDevicePolicyTracks": {
                    "enumDescriptions": [
                        "This value is ignored.",
                        "The production track, which provides the latest stable release.",
                        "The beta track, which provides the latest beta release."
                    ],
                    "items": {
                        "enum": [
                            "APP_TRACK_UNSPECIFIED",
[...]
