{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidenterprise": {}
            }
        }
    },
    "basePath": "/androidenterprise/v1/",
    "baseUrl": "https://www.googleapis.com/androidenterprise/v1/",
    "batchPath": "batch/androidenterprise/v1",
    "canonicalName": "Android Enterprise",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/android/work/play/emm-api",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/android-16.png",
        "x32": "https://www.google.com/images/icons/product/android-32.png"
    },
    "id": "androidenterprise:v1",
    "kind": "discovery#restDescription",
    "name": "androidenterprise",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "devices": {
            "methods": {
                "forceReportUpload": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.devices.forceReportUpload",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/forceReportUpload",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
                    "response": {
                        "$ref": "Device"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getState": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.getState",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "response": {
                        "$ref": "DeviceState"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices",
                    "response": {
                        "$ref": "DevicesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setState": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.devices.setState",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "request": {
                        "$ref": "DeviceState"
                    },
                    "response": {
                        "$ref": "DeviceState"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.devices.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "location": "query",
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
                    "request": {
                        "$ref": "Device"
                    },
                    "response": {
                        "$ref": "Device"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "enterprises": {
            "methods": {
                "acknowledgeNotificationSet": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.acknowledgeNotificationSet",
                    "parameters": {
                        "notificationSetId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/acknowledgeNotificationSet",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "completeSignup": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.completeSignup",
                    "parameters": {
                        "completionToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "enterpriseToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/completeSignup",
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "createWebToken": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.createWebToken",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/createWebToken",
                    "request": {
                        "$ref": "AdministratorWebTokenSpec"
                    },
                    "response": {
                        "$ref": "AdministratorWebToken"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "enroll": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.enroll",
                    "parameterOrder": [
                        "token"
                    ],
                    "parameters": {
                        "token": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/enroll",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateSignupUrl": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.generateSignupUrl",
                    "parameters": {
                        "callbackUrl": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/signupUrl",
                    "response": {
                        "$ref": "SignupInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.get",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}",
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getServiceAccount": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.getServiceAccount",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "keyType": {
                            "enum": [
                                "googleCredentials",
                                "pkcs12"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/serviceAccount",
                    "response": {
                        "$ref": "ServiceAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getStoreLayout": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.getStoreLayout",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout",
                    "response": {
                        "$ref": "StoreLayout"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.list",
                    "parameterOrder": [
                        "domain"
                    ],
                    "parameters": {
                        "domain": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises",
                    "response": {
                        "$ref": "EnterprisesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "pullNotificationSet": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.pullNotificationSet",
                    "parameters": {
                        "requestMode": {
                            "enum": [
                                "returnImmediately",
                                "waitForNotifications"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/pullNotificationSet",
                    "response": {
                        "$ref": "NotificationSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "sendTestPushNotification": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.sendTestPushNotification",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/sendTestPushNotification",
                    "response": {
                        "$ref": "EnterprisesSendTestPushNotificationResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setAccount": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.enterprises.setAccount",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/account",
                    "request": {
                        "$ref": "EnterpriseAccount"
                    },
                    "response": {
                        "$ref": "EnterpriseAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setStoreLayout": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.enterprises.setStoreLayout",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout",
                    "request": {
                        "$ref": "StoreLayout"
                    },
                    "response": {
                        "$ref": "StoreLayout"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "unenroll": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.unenroll",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/unenroll",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "entitlements": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.entitlements.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.entitlements.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.entitlements.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements",
                    "response": {
                        "$ref": "EntitlementsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.entitlements.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "install": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "request": {
                        "$ref": "Entitlement"
                    },
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "grouplicenses": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenses.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "groupLicenseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "groupLicenseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
                    "response": {
                        "$ref": "GroupLicense"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenses.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/groupLicenses",
                    "response": {
                        "$ref": "GroupLicensesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "grouplicenseusers": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenseusers.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "groupLicenseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "groupLicenseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users",
                    "response": {
                        "$ref": "GroupLicenseUsersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "installs": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.installs.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.installs.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.installs.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
                    "response": {
                        "$ref": "InstallsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.installs.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "request": {
                        "$ref": "Install"
                    },
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "managedconfigurationsfordevice": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.managedconfigurationsfordevice.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsfordevice.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsfordevice.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
                    "response": {
                        "$ref": "ManagedConfigurationsForDeviceListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.managedconfigurationsfordevice.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "request": {
                        "$ref": "ManagedConfiguration"
                    },
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "managedconfigurationsforuser": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.managedconfigurationsforuser.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsforuser.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsforuser.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser",
                    "response": {
                        "$ref": "ManagedConfigurationsForUserListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.managedconfigurationsforuser.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "request": {
                        "$ref": "ManagedConfiguration"
                    },
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "managedconfigurationssettings": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationssettings.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/managedConfigurationsSettings",
                    "response": {
                        "$ref": "ManagedConfigurationsSettingsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "permissions": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.permissions.get",
                    "parameterOrder": [
                        "permissionId"
                    ],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "permissionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "permissions/{permissionId}",
                    "response": {
                        "$ref": "Permission"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "products": {
            "methods": {
                "approve": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.approve",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/approve",
                    "request": {
                        "$ref": "ProductsApproveRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateApprovalUrl": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.generateApprovalUrl",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "languageCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
                    "response": {
                        "$ref": "ProductsGenerateApprovalUrlResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}",
                    "response": {
                        "$ref": "Product"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getAppRestrictionsSchema": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.getAppRestrictionsSchema",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
                    "response": {
                        "$ref": "AppRestrictionsSchema"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getPermissions": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.getPermissions",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/permissions",
                    "response": {
                        "$ref": "ProductPermissions"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "approved": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        },
                        "token": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products",
                    "response": {
                        "$ref": "ProductsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "unapprove": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.unapprove",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/unapprove",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "serviceaccountkeys": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.serviceaccountkeys.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "keyId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "keyId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/serviceAccountKeys/{keyId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.serviceaccountkeys.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/serviceAccountKeys",
                    "request": {
                        "$ref": "ServiceAccountKey"
                    },
                    "response": {
                        "$ref": "ServiceAccountKey"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.serviceaccountkeys.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/serviceAccountKeys",
                    "response": {
                        "$ref": "ServiceAccountKeysListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "storelayoutclusters": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.storelayoutclusters.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutclusters.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.storelayoutclusters.insert",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "request": {
                        "$ref": "StoreCluster"
                    },
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutclusters.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "response": {
                        "$ref": "StoreLayoutClustersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.storelayoutclusters.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "request": {
                        "$ref": "StoreCluster"
                    },
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "storelayoutpages": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.storelayoutpages.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutpages.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.storelayoutpages.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages",
                    "request": {
                        "$ref": "StorePage"
                    },
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutpages.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages",
                    "response": {
                        "$ref": "StoreLayoutPagesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.storelayoutpages.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "request": {
                        "$ref": "StorePage"
                    },
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "users": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.users.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateAuthenticationToken": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.users.generateAuthenticationToken",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/authenticationToken",
                    "response": {
                        "$ref": "AuthenticationToken"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateToken": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.users.generateToken",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/token",
                    "response": {
                        "$ref": "UserToken"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.users.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}",
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getAvailableProductSet": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.users.getAvailableProductSet",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/availableProductSet",
                    "response": {
                        "$ref": "ProductSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.users.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.users.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "email"
                    ],
                    "parameters": {
                        "email": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users",
                    "response": {
                        "$ref": "UsersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "revokeDeviceAccess": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.users.revokeDeviceAccess",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/deviceAccess",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "revokeToken": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.users.revokeToken",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/token",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setAvailableProductSet": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.users.setAvailableProductSet",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/availableProductSet",
                    "request": {
                        "$ref": "ProductSet"
                    },
                    "response": {
                        "$ref": "ProductSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.users.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "webapps": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.webapps.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "webAppId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "webAppId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/webApps/{webAppId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.webapps.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "webAppId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "webAppId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/webApps/{webAppId}",
                    "response": {
                        "$ref": "WebApp"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "androidenterprise.webapps.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/webApps",
                    "request": {
                        "$ref": "WebApp"
                    },
                    "response": {
                        "$ref": "WebApp"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidenterprise.webapps.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/webApps",
                    "response": {
                        "$ref": "WebAppsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidenterprise.webapps.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "webAppId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "webAppId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/webApps/{webAppId}",
                    "request": {
                        "$ref": "WebApp"
                    },
                    "response": {
                        "$ref": "WebApp"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Administrator": {
            "id": "Administrator",
            "properties": {
                "email": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AdministratorWebToken": {
            "id": "AdministratorWebToken",
            "properties": {
                "kind": {
                    "default": "androidenterprise#administratorWebToken",
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AdministratorWebTokenSpec": {
            "id": "AdministratorWebTokenSpec",
            "properties": {
                "kind": {
                    "default": "androidenterprise#administratorWebTokenSpec",
                    "type": "string"
                },
                "managedConfigurations": {
                    "$ref": "AdministratorWebTokenSpecManagedConfigurations"
                },
                "parent": {
                    "type": "string"
                },
                "permission": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "playSearch": {
                    "$ref": "AdministratorWebTokenSpecPlaySearch"
                },
                "privateApps": {
                    "$ref": "AdministratorWebTokenSpecPrivateApps"
                },
                "storeBuilder": {
                    "$ref": "AdministratorWebTokenSpecStoreBuilder"
                },
                "webApps": {
                    "$ref": "AdministratorWebTokenSpecWebApps"
                }
            },
            "type": "object"
        },
        "AdministratorWebTokenSpecManagedConfigurations": {
            "id": "AdministratorWebTokenSpecManagedConfigurations",
            "properties": {
                "enabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AdministratorWebTokenSpecPlaySearch": {
            "id": "AdministratorWebTokenSpecPlaySearch",
            "properties": {
                "approveApps": {
                    "type": "boolean"
                },
                "enabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AdministratorWebTokenSpecPrivateApps": {
            "id": "AdministratorWebTokenSpecPrivateApps",
            "properties": {
                "enabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AdministratorWebTokenSpecStoreBuilder": {
            "id": "AdministratorWebTokenSpecStoreBuilder",
            "properties": {
                "enabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AdministratorWebTokenSpecWebApps": {
            "id": "AdministratorWebTokenSpecWebApps",
            "properties": {
                "enabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AppRestrictionsSchema": {
            "id": "AppRestrictionsSchema",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "restrictions": {
                    "items": {
                        "$ref": "AppRestrictionsSchemaRestriction"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AppRestrictionsSchemaChangeEvent": {
            "id": "AppRestrictionsSchemaChangeEvent",
            "properties": {
                "productId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppRestrictionsSchemaRestriction": {
            "id": "AppRestrictionsSchemaRestriction",
            "properties": {
                "defaultValue": {
                    "$ref": "AppRestrictionsSchemaRestrictionRestrictionValue"
                },
                "entry": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "entryValue": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "key": {
                    "type": "string"
                },
                "nestedRestriction": {
                    "items": {
                        "$ref": "AppRestrictionsSchemaRestriction"
                    },
                    "type": "array"
                },
                "restrictionType": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppRestrictionsSchemaRestrictionRestrictionValue": {
            "id": "AppRestrictionsSchemaRestrictionRestrictionValue",
            "properties": {
                "type": {
                    "type": "string"
                },
                "valueBool": {
                    "type": "boolean"
                },
                "valueInteger": {
                    "format": "int32",
                    "type": "integer"
                },
                "valueMultiselect": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "valueString": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppState": {
            "id": "AppState",
            "properties": {
                "keyedAppState": {
                    "items": {
                        "$ref": "KeyedAppState"
                    },
                    "type": "array"
                },
                "packageName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppUpdateEvent": {
            "id": "AppUpdateEvent",
            "properties": {
                "productId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppVersion": {
            "id": "AppVersion",
            "properties": {
                "isProduction": {
                    "type": "boolean"
                },
                "track": {
                    "type": "string"
                },
                "trackId": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "versionCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "versionString": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApprovalUrlInfo": {
            "id": "ApprovalUrlInfo",
            "properties": {
                "approvalUrl": {
                    "type": "string"
                },
                "kind": {
                    "default": "androidenterprise#approvalUrlInfo",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuthenticationToken": {
            "id": "AuthenticationToken",
            "properties": {
                "kind": {
                    "default": "androidenterprise#authenticationToken",
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AutoInstallConstraint": {
            "id": "AutoInstallConstraint",
            "properties": {
                "chargingStateConstraint": {
                    "type": "string"
                },
                "deviceIdleStateConstraint": {
                    "type": "string"
                },
                "networkTypeConstraint": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AutoInstallPolicy": {
            "id": "AutoInstallPolicy",
            "properties": {
                "autoInstallConstraint": {
                    "items": {
                        "$ref": "AutoInstallConstraint"
                    },
                    "type": "array"
                },
                "autoInstallMode": {
                    "type": "string"
                },
                "autoInstallPriority": {
                    "format": "int32",
                    "type": "integer"
                },
                "minimumVersionCode": {
                    "format": "int32",
                    "type": "integer"
[...]
