{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidpublisher": {}
            }
        }
    },
    "basePath": "/androidpublisher/v3/applications/",
    "baseUrl": "https://www.googleapis.com/androidpublisher/v3/applications/",
    "batchPath": "batch/androidpublisher/v3",
    "canonicalName": "Android Publisher",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/android-publisher",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/android-16.png",
        "x32": "https://www.google.com/images/icons/product/android-32.png"
    },
    "id": "androidpublisher:v3",
    "kind": "discovery#restDescription",
    "name": "androidpublisher",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "edits": {
            "methods": {
                "commit": {
                    "httpMethod": "POST",
                    "id": "androidpublisher.edits.commit",
                    "parameterOrder": [
                        "packageName",
                        "editId"
                    ],
                    "parameters": {
                        "editId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits/{editId}:commit",
                    "response": {
                        "$ref": "AppEdit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidpublisher.edits.delete",
                    "parameterOrder": [
                        "packageName",
                        "editId"
                    ],
                    "parameters": {
                        "editId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits/{editId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidpublisher.edits.get",
                    "parameterOrder": [
                        "packageName",
                        "editId"
                    ],
                    "parameters": {
                        "editId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits/{editId}",
                    "response": {
                        "$ref": "AppEdit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "androidpublisher.edits.insert",
                    "parameterOrder": [
                        "packageName"
                    ],
                    "parameters": {
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits",
                    "request": {
                        "$ref": "AppEdit"
                    },
                    "response": {
                        "$ref": "AppEdit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "validate": {
                    "httpMethod": "POST",
                    "id": "androidpublisher.edits.validate",
                    "parameterOrder": [
                        "packageName",
                        "editId"
                    ],
                    "parameters": {
                        "editId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits/{editId}:validate",
                    "response": {
                        "$ref": "AppEdit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                }
            },
            "resources": {
                "apks": {
                    "methods": {
                        "addexternallyhosted": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.edits.apks.addexternallyhosted",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/externallyHosted",
                            "request": {
                                "$ref": "ApksAddExternallyHostedRequest"
                            },
                            "response": {
                                "$ref": "ApksAddExternallyHostedResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.apks.list",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks",
                            "response": {
                                "$ref": "ApksListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "upload": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.edits.apks.upload",
                            "mediaUpload": {
                                "accept": [
                                    "application/octet-stream",
                                    "application/vnd.android.package-archive"
                                ],
                                "maxSize": "1GB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks",
                            "response": {
                                "$ref": "Apk"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "bundles": {
                    "methods": {
                        "list": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.bundles.list",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/bundles",
                            "response": {
                                "$ref": "BundlesListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "upload": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.edits.bundles.upload",
                            "mediaUpload": {
                                "accept": [
                                    "application/octet-stream"
                                ],
                                "maxSize": "2GB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "ackBundleInstallationWarning": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/bundles",
                            "response": {
                                "$ref": "Bundle"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "deobfuscationfiles": {
                    "methods": {
                        "upload": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.edits.deobfuscationfiles.upload",
                            "mediaUpload": {
                                "accept": [
                                    "application/octet-stream"
                                ],
                                "maxSize": "300MB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "deobfuscationFileType"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "deobfuscationFileType": {
                                    "enum": [
                                        "nativeCode",
                                        "proguard"
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                            "response": {
                                "$ref": "DeobfuscationFilesUploadResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "details": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.details.get",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/details",
                            "response": {
                                "$ref": "AppDetails"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.details.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/details",
                            "request": {
                                "$ref": "AppDetails"
                            },
                            "response": {
                                "$ref": "AppDetails"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.details.update",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/details",
                            "request": {
                                "$ref": "AppDetails"
                            },
                            "response": {
                                "$ref": "AppDetails"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                },
                "expansionfiles": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.expansionfiles.get",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "expansionFileType"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "expansionFileType": {
                                    "enum": [
                                        "main",
                                        "patch"
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "response": {
                                "$ref": "ExpansionFile"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.expansionfiles.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "expansionFileType"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "expansionFileType": {
                                    "enum": [
                                        "main",
                                        "patch"
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "request": {
                                "$ref": "ExpansionFile"
                            },
                            "response": {
                                "$ref": "ExpansionFile"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.expansionfiles.update",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "expansionFileType"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "expansionFileType": {
                                    "enum": [
                                        "main",
                                        "patch"
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "request": {
                                "$ref": "ExpansionFile"
                            },
                            "response": {
                                "$ref": "ExpansionFile"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "upload": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.edits.expansionfiles.upload",
                            "mediaUpload": {
                                "accept": [
                                    "application/octet-stream"
                                ],
                                "maxSize": "2048MB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "expansionFileType"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "expansionFileType": {
                                    "enum": [
                                        "main",
                                        "patch"
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "response": {
                                "$ref": "ExpansionFilesUploadResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "images": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.images.delete",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language",
                                "imageType",
                                "imageId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageType": {
                                    "enum": [
                                        "automotiveScreenshots",
                                        "daydreamStereoImage",
                                        "featureGraphic",
                                        "icon",
                                        "phoneScreenshots",
                                        "promoGraphic",
                                        "sevenInchScreenshots",
                                        "tenInchScreenshots",
                                        "tvBanner",
                                        "tvScreenshots",
                                        "wearScreenshots"
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "deleteall": {
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.images.deleteall",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language",
                                "imageType"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageType": {
                                    "enum": [
                                        "automotiveScreenshots",
                                        "daydreamStereoImage",
                                        "featureGraphic",
                                        "icon",
                                        "phoneScreenshots",
                                        "promoGraphic",
                                        "sevenInchScreenshots",
                                        "tenInchScreenshots",
                                        "tvBanner",
                                        "tvScreenshots",
                                        "wearScreenshots"
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
                            "response": {
                                "$ref": "ImagesDeleteAllResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.images.list",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language",
                                "imageType"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageType": {
                                    "enum": [
                                        "automotiveScreenshots",
                                        "daydreamStereoImage",
                                        "featureGraphic",
                                        "icon",
                                        "phoneScreenshots",
                                        "promoGraphic",
                                        "sevenInchScreenshots",
                                        "tenInchScreenshots",
                                        "tvBanner",
                                        "tvScreenshots",
                                        "wearScreenshots"
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
                            "response": {
                                "$ref": "ImagesListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "upload": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.edits.images.upload",
                            "mediaUpload": {
                                "accept": [
                                    "image/*"
                                ],
                                "maxSize": "15MB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language",
                                "imageType"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageType": {
                                    "enum": [
                                        "automotiveScreenshots",
                                        "daydreamStereoImage",
                                        "featureGraphic",
                                        "icon",
                                        "phoneScreenshots",
                                        "promoGraphic",
                                        "sevenInchScreenshots",
                                        "tenInchScreenshots",
                                        "tvBanner",
                                        "tvScreenshots",
                                        "wearScreenshots"
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
                            "response": {
                                "$ref": "ImagesUploadResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "listings": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.listings.delete",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "deleteall": {
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.listings.deleteall",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.listings.get",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}",
                            "response": {
                                "$ref": "Listing"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.listings.list",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings",
                            "response": {
                                "$ref": "ListingsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.listings.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}",
                            "request": {
                                "$ref": "Listing"
                            },
                            "response": {
                                "$ref": "Listing"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.listings.update",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}",
                            "request": {
                                "$ref": "Listing"
                            },
                            "response": {
                                "$ref": "Listing"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                },
                "testers": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.testers.get",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/testers/{track}",
                            "response": {
                                "$ref": "Testers"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.testers.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/testers/{track}",
                            "request": {
                                "$ref": "Testers"
                            },
                            "response": {
                                "$ref": "Testers"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.testers.update",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/testers/{track}",
                            "request": {
                                "$ref": "Testers"
                            },
                            "response": {
                                "$ref": "Testers"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                },
                "tracks": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.tracks.get",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/tracks/{track}",
                            "response": {
                                "$ref": "Track"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.tracks.list",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/tracks",
                            "response": {
                                "$ref": "TracksListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.tracks.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/tracks/{track}",
                            "request": {
                                "$ref": "Track"
                            },
                            "response": {
                                "$ref": "Track"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.tracks.update",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/tracks/{track}",
                            "request": {
                                "$ref": "Track"
                            },
                            "response": {
                                "$ref": "Track"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                }
            }
        },
        "inappproducts": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "androidpublisher.inappproducts.delete",
                    "parameterOrder": [
                        "packageName",
                        "sku"
                    ],
                    "parameters": {
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sku": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts/{sku}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "androidpublisher.inappproducts.get",
                    "parameterOrder": [
                        "packageName",
                        "sku"
                    ],
                    "parameters": {
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sku": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts/{sku}",
                    "response": {
                        "$ref": "InAppProduct"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "androidpublisher.inappproducts.insert",
                    "parameterOrder": [
                        "packageName"
                    ],
                    "parameters": {
                        "autoConvertMissingPrices": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts",
                    "request": {
                        "$ref": "InAppProduct"
                    },
                    "response": {
                        "$ref": "InAppProduct"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidpublisher.inappproducts.list",
                    "parameterOrder": [
                        "packageName"
                    ],
                    "parameters": {
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "startIndex": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "token": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts",
                    "response": {
                        "$ref": "InappproductsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "androidpublisher.inappproducts.patch",
                    "parameterOrder": [
                        "packageName",
                        "sku"
                    ],
                    "parameters": {
                        "autoConvertMissingPrices": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sku": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts/{sku}",
                    "request": {
                        "$ref": "InAppProduct"
                    },
                    "response": {
                        "$ref": "InAppProduct"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "androidpublisher.inappproducts.update",
                    "parameterOrder": [
                        "packageName",
                        "sku"
                    ],
                    "parameters": {
                        "autoConvertMissingPrices": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sku": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts/{sku}",
                    "request": {
                        "$ref": "InAppProduct"
                    },
                    "response": {
                        "$ref": "InAppProduct"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                }
            }
        },
        "internalappsharingartifacts": {
            "methods": {
                "uploadapk": {
                    "httpMethod": "POST",
                    "id": "androidpublisher.internalappsharingartifacts.uploadapk",
                    "mediaUpload": {
                        "accept": [
                            "application/octet-stream",
                            "application/vnd.android.package-archive"
                        ],
                        "maxSize": "1GB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
                            }
                        }
                    },
                    "parameterOrder": [
                        "packageName"
                    ],
                    "parameters": {
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "internalappsharing/{packageName}/artifacts/apk",
                    "response": {
                        "$ref": "InternalAppSharingArtifact"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "supportsMediaUpload": true
                },
                "uploadbundle": {
                    "httpMethod": "POST",
                    "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
                    "mediaUpload": {
                        "accept": [
                            "application/octet-stream"
                        ],
                        "maxSize": "2GB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
                            }
                        }
                    },
                    "parameterOrder": [
                        "packageName"
                    ],
                    "parameters": {
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "internalappsharing/{packageName}/artifacts/bundle",
                    "response": {
                        "$ref": "InternalAppSharingArtifact"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "supportsMediaUpload": true
                }
            }
        },
        "orders": {
            "methods": {
                "refund": {
                    "httpMethod": "POST",
                    "id": "androidpublisher.orders.refund",
                    "parameterOrder": [
                        "packageName",
                        "orderId"
                    ],
                    "parameters": {
                        "orderId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "revoke": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "{packageName}/orders/{orderId}:refund",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                }
            }
        },
        "purchases": {
            "resources": {
                "products": {
                    "methods": {
                        "acknowledge": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.purchases.products.acknowledge",
                            "parameterOrder": [
                                "packageName",
                                "productId",
                                "token"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "productId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "token": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
                            "request": {
                                "$ref": "ProductPurchasesAcknowledgeRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.purchases.products.get",
                            "parameterOrder": [
                                "packageName",
                                "productId",
                                "token"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "productId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "token": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/purchases/products/{productId}/tokens/{token}",
                            "response": {
                                "$ref": "ProductPurchase"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                },
                "subscriptions": {
                    "methods": {
                        "acknowledge": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.purchases.subscriptions.acknowledge",
                            "parameterOrder": [
                                "packageName",
                                "subscriptionId",
                                "token"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "subscriptionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "token": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
                            "request": {
                                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "cancel": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.purchases.subscriptions.cancel",
                            "parameterOrder": [
                                "packageName",
                                "subscriptionId",
                                "token"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "subscriptionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "token": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "defer": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.purchases.subscriptions.defer",
                            "parameterOrder": [
                                "packageName",
                                "subscriptionId",
                                "token"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "subscriptionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "token": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
                            "request": {
                                "$ref": "SubscriptionPurchasesDeferRequest"
                            },
                            "response": {
                                "$ref": "SubscriptionPurchasesDeferResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.purchases.subscriptions.get",
                            "parameterOrder": [
                                "packageName",
                                "subscriptionId",
                                "token"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "subscriptionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "token": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
                            "response": {
                                "$ref": "SubscriptionPurchase"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "refund": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.purchases.subscriptions.refund",
                            "parameterOrder": [
                                "packageName",
                                "subscriptionId",
                                "token"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "subscriptionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "token": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "revoke": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.purchases.subscriptions.revoke",
                            "parameterOrder": [
                                "packageName",
                                "subscriptionId",
                                "token"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "subscriptionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "token": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                },
                "voidedpurchases": {
                    "methods": {
                        "list": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.purchases.voidedpurchases.list",
                            "parameterOrder": [
                                "packageName"
                            ],
                            "parameters": {
                                "endTime": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "startIndex": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "startTime": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "token": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "type": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "{packageName}/purchases/voidedpurchases",
                            "response": {
                                "$ref": "VoidedPurchasesListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                }
            }
        },
        "reviews": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "androidpublisher.reviews.get",
                    "parameterOrder": [
                        "packageName",
                        "reviewId"
                    ],
                    "parameters": {
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "reviewId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "translationLanguage": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/reviews/{reviewId}",
                    "response": {
                        "$ref": "Review"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "androidpublisher.reviews.list",
                    "parameterOrder": [
                        "packageName"
                    ],
                    "parameters": {
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "startIndex": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "token": {
                            "location": "query",
                            "type": "string"
                        },
                        "translationLanguage": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/reviews",
                    "response": {
                        "$ref": "ReviewsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "reply": {
                    "httpMethod": "POST",
                    "id": "androidpublisher.reviews.reply",
                    "parameterOrder": [
                        "packageName",
                        "reviewId"
                    ],
                    "parameters": {
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "reviewId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/reviews/{reviewId}:reply",
                    "request": {
                        "$ref": "ReviewsReplyRequest"
                    },
                    "response": {
                        "$ref": "ReviewsReplyResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                }
            }
        },
        "systemapks": {
            "resources": {
                "variants": {
                    "methods": {
                        "create": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.systemapks.variants.create",
                            "parameterOrder": [
                                "packageName",
                                "versionCode"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "versionCode": {
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/systemApks/{versionCode}/variants",
                            "request": {
                                "$ref": "SystemApkVariantsCreateRequest"
                            },
                            "response": {
                                "$ref": "Variant"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "download": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.systemapks.variants.download",
                            "parameterOrder": [
                                "packageName",
                                "versionCode",
                                "variantId"
                            ],
                            "parameters": {
                                "packageName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "variantId": {
                                    "format": "uint32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "versionCode": {
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
[...]
