{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://apigee.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Apigee",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/apigee-api-management/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "apigee:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
    "name": "apigee",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "hybrid": {
            "resources": {
                "issuers": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/hybrid/issuers",
                            "httpMethod": "GET",
                            "id": "apigee.hybrid.issuers.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^hybrid/issuers$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "organizations": {
            "methods": {
                "create": {
                    "flatPath": "v1/organizations",
                    "httpMethod": "POST",
                    "id": "apigee.organizations.create",
                    "parameterOrder": [],
                    "parameters": {
                        "parent": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/organizations",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "response": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/organizations/{organizationsId}",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getMetrics": {
                    "flatPath": "v1/organizations/{organizationsId}/metrics",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.getMetrics",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}/metrics",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1Metrics"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getSites": {
                    "flatPath": "v1/organizations/{organizationsId}/sites",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.getSites",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "domain": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "zmsId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}/sites",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1SiteListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getSyncAuthorization": {
                    "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
                    "httpMethod": "POST",
                    "id": "apigee.organizations.getSyncAuthorization",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:getSyncAuthorization",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
                    },
                    "response": {
                        "$ref": "GoogleCloudApigeeV1SyncAuthorization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getSystem": {
                    "flatPath": "v1/organizations/{organizationsId}/system",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.getSystem",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}/system",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1SystemState"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/organizations",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.list",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^organizations$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "setSyncAuthorization": {
                    "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
                    "httpMethod": "POST",
                    "id": "apigee.organizations.setSyncAuthorization",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:setSyncAuthorization",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1SyncAuthorization"
                    },
                    "response": {
                        "$ref": "GoogleCloudApigeeV1SyncAuthorization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "update": {
                    "flatPath": "v1/organizations/{organizationsId}",
                    "httpMethod": "PUT",
                    "id": "apigee.organizations.update",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "response": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "apiproducts": {
                    "methods": {
                        "attributes": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.apiproducts.attributes",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/attributes",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Attributes"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Attributes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.apiproducts.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/apiproducts",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
                            "httpMethod": "DELETE",
                            "id": "apigee.organizations.apiproducts.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apiproducts.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apiproducts.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "attributename": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "attributevalue": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "count": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "expand": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "startKey": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/apiproducts",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListApiProductsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
                            "httpMethod": "PUT",
                            "id": "apigee.organizations.apiproducts.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "attributes": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.apiproducts.attributes.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Attribute"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apiproducts.attributes.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Attribute"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apiproducts.attributes.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/attributes",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Attributes"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "updateApiProductAttribute": {
                                    "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.apiproducts.attributes.updateApiProductAttribute",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1Attribute"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Attribute"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "apis": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/apis",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.apis.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "action": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "validate": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v1/{+parent}/apis",
                            "request": {
                                "$ref": "GoogleApiHttpBody"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
                            "httpMethod": "DELETE",
                            "id": "apigee.organizations.apis.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProxy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apis.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProxy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/apis",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apis.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "includeMetaData": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "includeRevisions": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/apis",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListApiProxiesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "deployments": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/deployments",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apis.deployments.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/deployments",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "keyvaluemaps": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.apis.keyvaluemaps.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/keyvaluemaps",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1KeyValueMap"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1KeyValueMap"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.apis.keyvaluemaps.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1KeyValueMap"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apis.keyvaluemaps.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/keyvaluemaps",
                                    "response": {
                                        "items": {
                                            "type": "any"
                                        },
                                        "type": "array"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "revisions": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.apis.revisions.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apis.revisions.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "format": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleApiHttpBody"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apis.revisions.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/revisions",
                                    "response": {
                                        "items": {
                                            "type": "any"
                                        },
                                        "type": "array"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "updateApiProxyRevision": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.apis.revisions.updateApiProxyRevision",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "validate": {
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleApiHttpBody"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "deployments": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}/deployments",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.apis.revisions.deployments.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/deployments",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "apps": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/apps/{appsId}",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apps.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1App"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/apps",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apps.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "apiProduct": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "apptype": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "expand": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "ids": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeCred": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "keyStatus": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "rows": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "startKey": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "status": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/apps",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListAppsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "companies": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/companies",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.companies.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/companies",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Company"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Company"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}",
                            "httpMethod": "DELETE",
                            "id": "apigee.organizations.companies.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/companies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Company"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.companies.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/companies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Company"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/companies",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.companies.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "count": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "expand": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "includeDevelopers": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "startKey": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/companies",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListCompaniesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}",
                            "httpMethod": "PUT",
                            "id": "apigee.organizations.companies.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "action": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/companies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Company"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Company"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "apps": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.companies.apps.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/companies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/apps",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1CompanyApp"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1CompanyApp"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.companies.apps.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1CompanyApp"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.companies.apps.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1CompanyApp"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.companies.apps.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "count": {
                                            "format": "int64",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "expand": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/companies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "startKey": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/apps",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ListCompanyAppsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}",
                                    "httpMethod": "PUT",
                                    "id": "apigee.organizations.companies.apps.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1CompanyApp"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1CompanyApp"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "keys": {
                                    "methods": {
                                        "delete": {
                                            "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}/keys/{keysId}",
                                            "httpMethod": "DELETE",
                                            "id": "apigee.organizations.companies.apps.keys.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+/keys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1CompanyAppKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}/keys/{keysId}",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.companies.apps.keys.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+/keys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1CompanyAppKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "updateCompanyAppKey": {
                                            "flatPath": "v1/organizations/{organizationsId}/companies/{companiesId}/apps/{appsId}/keys/{keysId}",
                                            "httpMethod": "POST",
                                            "id": "apigee.organizations.companies.apps.keys.updateCompanyAppKey",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "action": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/companies/[^/]+/apps/[^/]+/keys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudApigeeV1CompanyAppKey"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1CompanyAppKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "consumerresources": {
                    "methods": {
                        "apis": {
                            "flatPath": "v1/organizations/{organizationsId}/consumerresources/apis",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.consumerresources.apis",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "q": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "zmsId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/consumerresources/apis",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1PortalResourceCollection"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getResourcetypes": {
                            "flatPath": "v1/organizations/{organizationsId}/consumerresources/resourcetypes",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.consumerresources.getResourcetypes",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/consumerresources/resourcetypes",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1PortalResourceTypeCollection"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "pages": {
                            "flatPath": "v1/organizations/{organizationsId}/consumerresources/pages",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.consumerresources.pages",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "q": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "zmsId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/consumerresources/pages",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1PortalResourceCollection"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "consumers": {
                    "methods": {
                        "access": {
                            "flatPath": "v1/organizations/{organizationsId}/consumers/access",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.consumers.access",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/consumers/access",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1CheckAccessBody"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1CheckAccessResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "status": {
                            "flatPath": "v1/organizations/{organizationsId}/consumers/status",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.consumers.status",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/consumers/status",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1CapiServerStatusResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "apps": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/organizations/{organizationsId}/consumers/apps",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.consumers.apps.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/consumers/apps",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1CreateConsumerAppRequestBody"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ConsumerAppResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/consumers/apps/{appsId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.consumers.apps.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/consumers/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1StringResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/organizations/{organizationsId}/consumers/apps/{appsId}",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.consumers.apps.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/consumers/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ConsumerAppResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/consumers/apps",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.consumers.apps.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/consumers/apps",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ListConsumerAppsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1/organizations/{organizationsId}/consumers/apps/{appsId}",
                                    "httpMethod": "PUT",
                                    "id": "apigee.organizations.consumers.apps.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/consumers/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1PortalApp"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ConsumerAppResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "keys": {
                                    "methods": {
                                        "approveRevokeConsumerAppKey": {
                                            "flatPath": "v1/organizations/{organizationsId}/consumers/apps/{appsId}/keys/{keysId}",
                                            "httpMethod": "POST",
                                            "id": "apigee.organizations.consumers.apps.keys.approveRevokeConsumerAppKey",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/consumers/apps/[^/]+/keys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudApigeeV1KeyStatusChange"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1ApiResponseWrapper"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "create": {
                                            "flatPath": "v1/organizations/{organizationsId}/consumers/apps/{appsId}/keys",
                                            "httpMethod": "POST",
                                            "id": "apigee.organizations.consumers.apps.keys.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/consumers/apps/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/keys",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1StringResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deployments": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/deployments",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.deployments.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "sharedFlows": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v1/{+parent}/deployments",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "developers": {
                    "methods": {
                        "attributes": {
                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.developers.attributes",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/attributes",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Attributes"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Attributes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/developers",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.developers.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/developers",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
                            "httpMethod": "DELETE",
                            "id": "apigee.organizations.developers.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.developers.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "action": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/developers",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.developers.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "count": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "expand": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "ids": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeCompany": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "startKey": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/developers",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListOfDevelopersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setDeveloperStatus": {
                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.developers.setDeveloperStatus",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "action": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
[...]
