{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://apigee.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Apigee",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/apigee-api-management/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "apigee:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
    "name": "apigee",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "hybrid": {
            "resources": {
                "issuers": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/hybrid/issuers",
                            "httpMethod": "GET",
                            "id": "apigee.hybrid.issuers.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^hybrid/issuers$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "organizations": {
            "methods": {
                "create": {
                    "flatPath": "v1/organizations",
                    "httpMethod": "POST",
                    "id": "apigee.organizations.create",
                    "parameterOrder": [],
                    "parameters": {
                        "parent": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/organizations",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "response": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/organizations/{organizationsId}",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getDeployedIngressConfig": {
                    "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.getDeployedIngressConfig",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+/deployedIngressConfig$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1IngressConfig"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getSyncAuthorization": {
                    "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
                    "httpMethod": "POST",
                    "id": "apigee.organizations.getSyncAuthorization",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:getSyncAuthorization",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
                    },
                    "response": {
                        "$ref": "GoogleCloudApigeeV1SyncAuthorization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/organizations",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.list",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^organizations$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "setSyncAuthorization": {
                    "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
                    "httpMethod": "POST",
                    "id": "apigee.organizations.setSyncAuthorization",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:setSyncAuthorization",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1SyncAuthorization"
                    },
                    "response": {
                        "$ref": "GoogleCloudApigeeV1SyncAuthorization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "update": {
                    "flatPath": "v1/organizations/{organizationsId}",
                    "httpMethod": "PUT",
                    "id": "apigee.organizations.update",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "response": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "analytics": {
                    "resources": {
                        "datastores": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/organizations/{organizationsId}/analytics/datastores",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.analytics.datastores.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/analytics/datastores",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1Datastore"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Datastore"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.analytics.datastores.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobufEmpty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.analytics.datastores.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Datastore"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/analytics/datastores",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.analytics.datastores.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "targetType": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/analytics/datastores",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ListDatastoresResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "test": {
                                    "flatPath": "v1/organizations/{organizationsId}/analytics/datastores:test",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.analytics.datastores.test",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/analytics/datastores:test",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1Datastore"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1TestDatastoreResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}",
                                    "httpMethod": "PUT",
                                    "id": "apigee.organizations.analytics.datastores.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1Datastore"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Datastore"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "apiproducts": {
                    "methods": {
                        "attributes": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.apiproducts.attributes",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/attributes",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Attributes"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Attributes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.apiproducts.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/apiproducts",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
                            "httpMethod": "DELETE",
                            "id": "apigee.organizations.apiproducts.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apiproducts.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apiproducts.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "attributename": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "attributevalue": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "count": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "expand": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "startKey": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/apiproducts",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListApiProductsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
                            "httpMethod": "PUT",
                            "id": "apigee.organizations.apiproducts.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProduct"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "attributes": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.apiproducts.attributes.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Attribute"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apiproducts.attributes.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Attribute"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apiproducts.attributes.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/attributes",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Attributes"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "updateApiProductAttribute": {
                                    "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.apiproducts.attributes.updateApiProductAttribute",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1Attribute"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Attribute"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "apis": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/apis",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.apis.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "action": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "validate": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v1/{+parent}/apis",
                            "request": {
                                "$ref": "GoogleApiHttpBody"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
                            "httpMethod": "DELETE",
                            "id": "apigee.organizations.apis.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProxy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apis.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ApiProxy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/apis",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apis.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "includeMetaData": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "includeRevisions": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/apis",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListApiProxiesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "deployments": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/deployments",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apis.deployments.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/deployments",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "keyvaluemaps": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.apis.keyvaluemaps.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/keyvaluemaps",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1KeyValueMap"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1KeyValueMap"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.apis.keyvaluemaps.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1KeyValueMap"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "revisions": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.apis.revisions.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.apis.revisions.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "format": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleApiHttpBody"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "updateApiProxyRevision": {
                                    "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.apis.revisions.updateApiProxyRevision",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "validate": {
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleApiHttpBody"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "deployments": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}/deployments",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.apis.revisions.deployments.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/deployments",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "apps": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/apps/{appsId}",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apps.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/apps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1App"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/apps",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.apps.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "apiProduct": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "apptype": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "expand": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "ids": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeCred": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "keyStatus": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "rows": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "startKey": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "status": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/apps",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListAppsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "deployments": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/deployments",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.deployments.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "sharedFlows": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v1/{+parent}/deployments",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "developers": {
                    "methods": {
                        "attributes": {
                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.developers.attributes",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/attributes",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Attributes"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Attributes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/developers",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.developers.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/developers",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
                            "httpMethod": "DELETE",
                            "id": "apigee.organizations.developers.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.developers.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "action": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/developers",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.developers.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "count": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "expand": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "ids": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeCompany": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "startKey": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/developers",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListOfDevelopersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setDeveloperStatus": {
                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.developers.setDeveloperStatus",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "action": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
                            "httpMethod": "PUT",
                            "id": "apigee.organizations.developers.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Developer"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "apps": {
                            "methods": {
                                "attributes": {
                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.developers.apps.attributes",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}/attributes",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1Attributes"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1Attributes"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.developers.apps.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/apps",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1DeveloperApp"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1DeveloperApp"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.developers.apps.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1DeveloperApp"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "generateKeyPairOrUpdateDeveloperAppStatus": {
                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.developers.apps.generateKeyPairOrUpdateDeveloperAppStatus",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "action": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1DeveloperApp"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1DeveloperApp"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.developers.apps.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "entity": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "query": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1DeveloperApp"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.developers.apps.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "count": {
                                            "format": "int64",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "expand": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/developers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "shallowExpand": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "startKey": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/apps",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                                    "httpMethod": "PUT",
                                    "id": "apigee.organizations.developers.apps.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1DeveloperApp"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1DeveloperApp"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "attributes": {
                                    "methods": {
                                        "delete": {
                                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                                            "httpMethod": "DELETE",
                                            "id": "apigee.organizations.developers.apps.attributes.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1Attribute"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.developers.apps.attributes.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1Attribute"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.developers.apps.attributes.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/attributes",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1Attributes"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "updateDeveloperAppAttribute": {
                                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                                            "httpMethod": "POST",
                                            "id": "apigee.organizations.developers.apps.attributes.updateDeveloperAppAttribute",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudApigeeV1Attribute"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1Attribute"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "keys": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys",
                                            "httpMethod": "POST",
                                            "id": "apigee.organizations.developers.apps.keys.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/keys",
                                            "request": {
                                                "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                                            "httpMethod": "DELETE",
                                            "id": "apigee.organizations.developers.apps.keys.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.developers.apps.keys.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "replaceDeveloperAppKey": {
                                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                                            "httpMethod": "PUT",
                                            "id": "apigee.organizations.developers.apps.keys.replaceDeveloperAppKey",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "updateDeveloperAppKey": {
                                            "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                                            "httpMethod": "POST",
                                            "id": "apigee.organizations.developers.apps.keys.updateDeveloperAppKey",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "action": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "apiproducts": {
                                            "methods": {
                                                "delete": {
                                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                                                    "httpMethod": "DELETE",
                                                    "id": "apigee.organizations.developers.apps.keys.apiproducts.delete",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}",
                                                    "response": {
                                                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "updateDeveloperAppKeyApiProduct": {
                                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                                                    "httpMethod": "POST",
                                                    "id": "apigee.organizations.developers.apps.keys.apiproducts.updateDeveloperAppKeyApiProduct",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "action": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}",
                                                    "response": {
                                                        "$ref": "GoogleProtobufEmpty"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            }
                                        },
                                        "create": {
                                            "methods": {
                                                "create": {
                                                    "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/create",
                                                    "httpMethod": "POST",
                                                    "id": "apigee.organizations.developers.apps.keys.create.create",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
[...]
