{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/appengine.admin": {},
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://appengine.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "appengine:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
    "name": "appengine",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "apps": {
            "methods": {
                "create": {
                    "flatPath": "v1/apps",
                    "httpMethod": "POST",
                    "id": "appengine.apps.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/apps",
                    "request": {
                        "$ref": "Application"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/apps/{appsId}",
                    "httpMethod": "GET",
                    "id": "appengine.apps.get",
                    "parameterOrder": [
                        "appsId"
                    ],
                    "parameters": {
                        "appsId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/apps/{appsId}",
                    "response": {
                        "$ref": "Application"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "patch": {
                    "flatPath": "v1/apps/{appsId}",
                    "httpMethod": "PATCH",
                    "id": "appengine.apps.patch",
                    "parameterOrder": [
                        "appsId"
                    ],
                    "parameters": {
                        "appsId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/apps/{appsId}",
                    "request": {
                        "$ref": "Application"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "repair": {
                    "flatPath": "v1/apps/{appsId}:repair",
                    "httpMethod": "POST",
                    "id": "appengine.apps.repair",
                    "parameterOrder": [
                        "appsId"
                    ],
                    "parameters": {
                        "appsId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/apps/{appsId}:repair",
                    "request": {
                        "$ref": "RepairApplicationRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "authorizedCertificates": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/apps/{appsId}/authorizedCertificates",
                            "httpMethod": "POST",
                            "id": "appengine.apps.authorizedCertificates.create",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/authorizedCertificates",
                            "request": {
                                "$ref": "AuthorizedCertificate"
                            },
                            "response": {
                                "$ref": "AuthorizedCertificate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
                            "httpMethod": "DELETE",
                            "id": "appengine.apps.authorizedCertificates.delete",
                            "parameterOrder": [
                                "appsId",
                                "authorizedCertificatesId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "authorizedCertificatesId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
                            "httpMethod": "GET",
                            "id": "appengine.apps.authorizedCertificates.get",
                            "parameterOrder": [
                                "appsId",
                                "authorizedCertificatesId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "authorizedCertificatesId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "BASIC_CERTIFICATE",
                                        "FULL_CERTIFICATE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
                            "response": {
                                "$ref": "AuthorizedCertificate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/apps/{appsId}/authorizedCertificates",
                            "httpMethod": "GET",
                            "id": "appengine.apps.authorizedCertificates.list",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "BASIC_CERTIFICATE",
                                        "FULL_CERTIFICATE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/authorizedCertificates",
                            "response": {
                                "$ref": "ListAuthorizedCertificatesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
                            "httpMethod": "PATCH",
                            "id": "appengine.apps.authorizedCertificates.patch",
                            "parameterOrder": [
                                "appsId",
                                "authorizedCertificatesId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "authorizedCertificatesId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
                            "request": {
                                "$ref": "AuthorizedCertificate"
                            },
                            "response": {
                                "$ref": "AuthorizedCertificate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "authorizedDomains": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/apps/{appsId}/authorizedDomains",
                            "httpMethod": "GET",
                            "id": "appengine.apps.authorizedDomains.list",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/authorizedDomains",
                            "response": {
                                "$ref": "ListAuthorizedDomainsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    }
                },
                "domainMappings": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/apps/{appsId}/domainMappings",
                            "httpMethod": "POST",
                            "id": "appengine.apps.domainMappings.create",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "overrideStrategy": {
                                    "enum": [
                                        "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                                        "STRICT",
                                        "OVERRIDE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/domainMappings",
                            "request": {
                                "$ref": "DomainMapping"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
                            "httpMethod": "DELETE",
                            "id": "appengine.apps.domainMappings.delete",
                            "parameterOrder": [
                                "appsId",
                                "domainMappingsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "domainMappingsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
                            "httpMethod": "GET",
                            "id": "appengine.apps.domainMappings.get",
                            "parameterOrder": [
                                "appsId",
                                "domainMappingsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "domainMappingsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
                            "response": {
                                "$ref": "DomainMapping"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/apps/{appsId}/domainMappings",
                            "httpMethod": "GET",
                            "id": "appengine.apps.domainMappings.list",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/domainMappings",
                            "response": {
                                "$ref": "ListDomainMappingsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
                            "httpMethod": "PATCH",
                            "id": "appengine.apps.domainMappings.patch",
                            "parameterOrder": [
                                "appsId",
                                "domainMappingsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "domainMappingsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
                            "request": {
                                "$ref": "DomainMapping"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "firewall": {
                    "resources": {
                        "ingressRules": {
                            "methods": {
                                "batchUpdate": {
                                    "flatPath": "v1/apps/{appsId}/firewall/ingressRules:batchUpdate",
                                    "httpMethod": "POST",
                                    "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                                    "parameterOrder": [
                                        "appsId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/firewall/ingressRules:batchUpdate",
                                    "request": {
                                        "$ref": "BatchUpdateIngressRulesRequest"
                                    },
                                    "response": {
                                        "$ref": "BatchUpdateIngressRulesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v1/apps/{appsId}/firewall/ingressRules",
                                    "httpMethod": "POST",
                                    "id": "appengine.apps.firewall.ingressRules.create",
                                    "parameterOrder": [
                                        "appsId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/firewall/ingressRules",
                                    "request": {
                                        "$ref": "FirewallRule"
                                    },
                                    "response": {
                                        "$ref": "FirewallRule"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                                    "httpMethod": "DELETE",
                                    "id": "appengine.apps.firewall.ingressRules.delete",
                                    "parameterOrder": [
                                        "appsId",
                                        "ingressRulesId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "ingressRulesId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                                    "httpMethod": "GET",
                                    "id": "appengine.apps.firewall.ingressRules.get",
                                    "parameterOrder": [
                                        "appsId",
                                        "ingressRulesId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "ingressRulesId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                                    "response": {
                                        "$ref": "FirewallRule"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/appengine.admin",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/apps/{appsId}/firewall/ingressRules",
                                    "httpMethod": "GET",
                                    "id": "appengine.apps.firewall.ingressRules.list",
                                    "parameterOrder": [
                                        "appsId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "matchingAddress": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/firewall/ingressRules",
                                    "response": {
                                        "$ref": "ListIngressRulesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/appengine.admin",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                                    "httpMethod": "PATCH",
                                    "id": "appengine.apps.firewall.ingressRules.patch",
                                    "parameterOrder": [
                                        "appsId",
                                        "ingressRulesId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "ingressRulesId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                                    "request": {
                                        "$ref": "FirewallRule"
                                    },
                                    "response": {
                                        "$ref": "FirewallRule"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/apps/{appsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "appengine.apps.locations.get",
                            "parameterOrder": [
                                "appsId",
                                "locationsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "locationsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/locations/{locationsId}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/apps/{appsId}/locations",
                            "httpMethod": "GET",
                            "id": "appengine.apps.locations.list",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/apps/{appsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "appengine.apps.operations.get",
                            "parameterOrder": [
                                "appsId",
                                "operationsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "operationsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/operations/{operationsId}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/apps/{appsId}/operations",
                            "httpMethod": "GET",
                            "id": "appengine.apps.operations.list",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/operations",
                            "response": {
                                "$ref": "ListOperationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    }
                },
                "services": {
                    "methods": {
                        "delete": {
                            "flatPath": "v1/apps/{appsId}/services/{servicesId}",
                            "httpMethod": "DELETE",
                            "id": "appengine.apps.services.delete",
                            "parameterOrder": [
                                "appsId",
                                "servicesId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "servicesId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/services/{servicesId}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/apps/{appsId}/services/{servicesId}",
                            "httpMethod": "GET",
                            "id": "appengine.apps.services.get",
                            "parameterOrder": [
                                "appsId",
                                "servicesId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "servicesId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/services/{servicesId}",
                            "response": {
                                "$ref": "Service"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/apps/{appsId}/services",
                            "httpMethod": "GET",
                            "id": "appengine.apps.services.list",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/services",
                            "response": {
                                "$ref": "ListServicesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/apps/{appsId}/services/{servicesId}",
                            "httpMethod": "PATCH",
                            "id": "appengine.apps.services.patch",
                            "parameterOrder": [
                                "appsId",
                                "servicesId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "migrateTraffic": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "servicesId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/services/{servicesId}",
                            "request": {
                                "$ref": "Service"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "versions": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions",
                                    "httpMethod": "POST",
                                    "id": "appengine.apps.services.versions.create",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "servicesId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions",
                                    "request": {
                                        "$ref": "Version"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                                    "httpMethod": "DELETE",
                                    "id": "appengine.apps.services.versions.delete",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId",
                                        "versionsId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "servicesId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "versionsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                                    "httpMethod": "GET",
                                    "id": "appengine.apps.services.versions.get",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId",
                                        "versionsId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "servicesId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "versionsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "BASIC",
                                                "FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                                    "response": {
                                        "$ref": "Version"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/appengine.admin",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions",
                                    "httpMethod": "GET",
                                    "id": "appengine.apps.services.versions.list",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "servicesId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "BASIC",
                                                "FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions",
                                    "response": {
                                        "$ref": "ListVersionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/appengine.admin",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                                    "httpMethod": "PATCH",
                                    "id": "appengine.apps.services.versions.patch",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId",
                                        "versionsId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "servicesId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "versionsId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                                    "request": {
                                        "$ref": "Version"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "instances": {
                                    "methods": {
                                        "debug": {
                                            "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                                            "httpMethod": "POST",
                                            "id": "appengine.apps.services.versions.instances.debug",
                                            "parameterOrder": [
                                                "appsId",
                                                "servicesId",
                                                "versionsId",
                                                "instancesId"
                                            ],
                                            "parameters": {
                                                "appsId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "instancesId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "servicesId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "versionsId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                                            "request": {
                                                "$ref": "DebugInstanceRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                                            "httpMethod": "DELETE",
                                            "id": "appengine.apps.services.versions.instances.delete",
                                            "parameterOrder": [
                                                "appsId",
                                                "servicesId",
                                                "versionsId",
                                                "instancesId"
                                            ],
                                            "parameters": {
                                                "appsId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "instancesId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "servicesId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "versionsId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                                            "httpMethod": "GET",
                                            "id": "appengine.apps.services.versions.instances.get",
                                            "parameterOrder": [
                                                "appsId",
                                                "servicesId",
                                                "versionsId",
                                                "instancesId"
                                            ],
                                            "parameters": {
                                                "appsId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "instancesId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "servicesId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "versionsId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                                            "response": {
                                                "$ref": "Instance"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/appengine.admin",
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                                            "httpMethod": "GET",
                                            "id": "appengine.apps.services.versions.instances.list",
                                            "parameterOrder": [
                                                "appsId",
                                                "servicesId",
                                                "versionsId"
                                            ],
                                            "parameters": {
                                                "appsId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "servicesId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "versionsId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                                            "response": {
                                                "$ref": "ListInstancesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/appengine.admin",
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://appengine.googleapis.com/",
    "schemas": {
        "ApiConfigHandler": {
            "id": "ApiConfigHandler",
            "properties": {
                "authFailAction": {
                    "enum": [
                        "AUTH_FAIL_ACTION_UNSPECIFIED",
                        "AUTH_FAIL_ACTION_REDIRECT",
                        "AUTH_FAIL_ACTION_UNAUTHORIZED"
                    ],
                    "type": "string"
                },
                "login": {
                    "enum": [
                        "LOGIN_UNSPECIFIED",
                        "LOGIN_OPTIONAL",
                        "LOGIN_ADMIN",
                        "LOGIN_REQUIRED"
                    ],
                    "type": "string"
                },
                "script": {
                    "type": "string"
                },
                "securityLevel": {
                    "enum": [
                        "SECURE_UNSPECIFIED",
                        "SECURE_DEFAULT",
                        "SECURE_NEVER",
                        "SECURE_OPTIONAL",
                        "SECURE_ALWAYS"
                    ],
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApiEndpointHandler": {
            "id": "ApiEndpointHandler",
            "properties": {
                "scriptPath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Application": {
            "id": "Application",
            "properties": {
                "authDomain": {
                    "type": "string"
                },
                "codeBucket": {
                    "type": "string"
                },
                "databaseType": {
                    "enum": [
                        "DATABASE_TYPE_UNSPECIFIED",
                        "CLOUD_DATASTORE",
                        "CLOUD_FIRESTORE",
                        "CLOUD_DATASTORE_COMPATIBILITY"
                    ],
                    "type": "string"
                },
                "defaultBucket": {
                    "type": "string"
                },
                "defaultCookieExpiration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "defaultHostname": {
                    "type": "string"
                },
                "dispatchRules": {
                    "items": {
                        "$ref": "UrlDispatchRule"
                    },
                    "type": "array"
                },
                "featureSettings": {
                    "$ref": "FeatureSettings"
                },
                "gcrDomain": {
                    "type": "string"
                },
                "iap": {
                    "$ref": "IdentityAwareProxy"
                },
                "id": {
                    "type": "string"
                },
                "locationId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "servingStatus": {
                    "enum": [
                        "UNSPECIFIED",
                        "SERVING",
                        "USER_DISABLED",
                        "SYSTEM_DISABLED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuthorizedCertificate": {
            "id": "AuthorizedCertificate",
            "properties": {
                "certificateRawData": {
                    "$ref": "CertificateRawData"
                },
                "displayName": {
                    "type": "string"
                },
                "domainMappingsCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "domainNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "managedCertificate": {
                    "$ref": "ManagedCertificate"
                },
                "name": {
                    "type": "string"
                },
                "visibleDomainMappings": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AuthorizedDomain": {
            "id": "AuthorizedDomain",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AutomaticScaling": {
            "id": "AutomaticScaling",
            "properties": {
                "coolDownPeriod": {
                    "format": "google-duration",
                    "type": "string"
                },
                "cpuUtilization": {
                    "$ref": "CpuUtilization"
                },
                "diskUtilization": {
                    "$ref": "DiskUtilization"
                },
                "maxConcurrentRequests": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxIdleInstances": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxPendingLatency": {
                    "format": "google-duration",
                    "type": "string"
                },
                "maxTotalInstances": {
                    "format": "int32",
                    "type": "integer"
                },
                "minIdleInstances": {
                    "format": "int32",
                    "type": "integer"
                },
                "minPendingLatency": {
                    "format": "google-duration",
                    "type": "string"
                },
                "minTotalInstances": {
                    "format": "int32",
                    "type": "integer"
                },
                "networkUtilization": {
                    "$ref": "NetworkUtilization"
                },
                "requestUtilization": {
                    "$ref": "RequestUtilization"
                },
                "standardSchedulerSettings": {
                    "$ref": "StandardSchedulerSettings"
                }
            },
            "type": "object"
        },
        "BasicScaling": {
            "id": "BasicScaling",
            "properties": {
                "idleTimeout": {
                    "format": "google-duration",
                    "type": "string"
                },
                "maxInstances": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BatchUpdateIngressRulesRequest": {
            "id": "BatchUpdateIngressRulesRequest",
            "properties": {
                "ingressRules": {
                    "items": {
                        "$ref": "FirewallRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchUpdateIngressRulesResponse": {
            "id": "BatchUpdateIngressRulesResponse",
            "properties": {
                "ingressRules": {
                    "items": {
                        "$ref": "FirewallRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CertificateRawData": {
            "id": "CertificateRawData",
            "properties": {
                "privateKey": {
                    "type": "string"
                },
                "publicCertificate": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloudBuildOptions": {
            "id": "CloudBuildOptions",
            "properties": {
                "appYamlPath": {
                    "type": "string"
                },
                "cloudBuildTimeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContainerInfo": {
            "id": "ContainerInfo",
            "properties": {
                "image": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CpuUtilization": {
            "id": "CpuUtilization",
            "properties": {
                "aggregationWindowLength": {
                    "format": "google-duration",
                    "type": "string"
                },
                "targetUtilization": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "CreateVersionMetadataV1": {
            "id": "CreateVersionMetadataV1",
            "properties": {
                "cloudBuildId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateVersionMetadataV1Alpha": {
            "id": "CreateVersionMetadataV1Alpha",
            "properties": {
                "cloudBuildId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateVersionMetadataV1Beta": {
            "id": "CreateVersionMetadataV1Beta",
            "properties": {
                "cloudBuildId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DebugInstanceRequest": {
            "id": "DebugInstanceRequest",
            "properties": {
                "sshKey": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Deployment": {
            "id": "Deployment",
            "properties": {
                "cloudBuildOptions": {
                    "$ref": "CloudBuildOptions"
                },
                "container": {
                    "$ref": "ContainerInfo"
                },
                "files": {
                    "additionalProperties": {
                        "$ref": "FileInfo"
                    },
                    "type": "object"
                },
                "zip": {
                    "$ref": "ZipInfo"
                }
            },
            "type": "object"
        },
        "DiskUtilization": {
            "id": "DiskUtilization",
            "properties": {
                "targetReadBytesPerSecond": {
                    "format": "int32",
                    "type": "integer"
                },
                "targetReadOpsPerSecond": {
                    "format": "int32",
                    "type": "integer"
                },
                "targetWriteBytesPerSecond": {
                    "format": "int32",
                    "type": "integer"
                },
                "targetWriteOpsPerSecond": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DomainMapping": {
            "id": "DomainMapping",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "resourceRecords": {
                    "items": {
                        "$ref": "ResourceRecord"
                    },
                    "type": "array"
                },
                "sslSettings": {
                    "$ref": "SslSettings"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EndpointsApiService": {
            "id": "EndpointsApiService",
            "properties": {
                "configId": {
                    "type": "string"
                },
                "disableTraceSampling": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "rolloutStrategy": {
                    "enum": [
                        "UNSPECIFIED_ROLLOUT_STRATEGY",
                        "FIXED",
                        "MANAGED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Entrypoint": {
            "id": "Entrypoint",
            "properties": {
                "shell": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ErrorHandler": {
            "id": "ErrorHandler",
            "properties": {
                "errorCode": {
                    "enum": [
                        "ERROR_CODE_UNSPECIFIED",
                        "ERROR_CODE_DEFAULT",
                        "ERROR_CODE_OVER_QUOTA",
                        "ERROR_CODE_DOS_API_DENIAL",
                        "ERROR_CODE_TIMEOUT"
                    ],
                    "type": "string"
                },
                "mimeType": {
                    "type": "string"
                },
                "staticFile": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FeatureSettings": {
            "id": "FeatureSettings",
            "properties": {
                "splitHealthChecks": {
                    "type": "boolean"
                },
                "useContainerOptimizedOs": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "FileInfo": {
            "id": "FileInfo",
            "properties": {
                "mimeType": {
                    "type": "string"
                },
                "sha1Sum": {
                    "type": "string"
                },
                "sourceUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FirewallRule": {
            "id": "FirewallRule",
            "properties": {
                "action": {
                    "enum": [
                        "UNSPECIFIED_ACTION",
                        "ALLOW",
                        "DENY"
                    ],
                    "type": "string"
                },
                "priority": {
                    "format": "int32",
                    "type": "integer"
                },
                "sourceRange": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HealthCheck": {
            "id": "HealthCheck",
            "properties": {
                "checkInterval": {
                    "format": "google-duration",
                    "type": "string"
                },
                "disableHealthCheck": {
                    "type": "boolean"
                },
                "healthyThreshold": {
                    "format": "uint32",
                    "type": "integer"
                },
                "host": {
                    "type": "string"
                },
                "restartThreshold": {
                    "format": "uint32",
                    "type": "integer"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                },
                "unhealthyThreshold": {
                    "format": "uint32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "IdentityAwareProxy": {
            "id": "IdentityAwareProxy",
            "properties": {
                "enabled": {
                    "type": "boolean"
                },
                "oauth2ClientId": {
                    "type": "string"
                },
                "oauth2ClientSecret": {
                    "type": "string"
                },
                "oauth2ClientSecretSha256": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Instance": {
            "id": "Instance",
            "properties": {
                "appEngineRelease": {
                    "type": "string"
                },
                "availability": {
                    "enum": [
                        "UNSPECIFIED",
                        "RESIDENT",
                        "DYNAMIC"
                    ],
                    "type": "string"
                },
                "averageLatency": {
                    "format": "int32",
                    "type": "integer"
                },
                "errors": {
                    "format": "int32",
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                },
                "memoryUsage": {
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "qps": {
                    "format": "float",
                    "type": "number"
                },
                "requests": {
                    "format": "int32",
                    "type": "integer"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "vmDebugEnabled": {
                    "type": "boolean"
                },
                "vmId": {
                    "type": "string"
                },
                "vmIp": {
                    "type": "string"
                },
                "vmName": {
                    "type": "string"
                },
                "vmStatus": {
                    "type": "string"
                },
                "vmZoneName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Library": {
            "id": "Library",
            "properties": {
                "name": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAuthorizedCertificatesResponse": {
            "id": "ListAuthorizedCertificatesResponse",
            "properties": {
                "certificates": {
                    "items": {
                        "$ref": "AuthorizedCertificate"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAuthorizedDomainsResponse": {
            "id": "ListAuthorizedDomainsResponse",
            "properties": {
                "domains": {
                    "items": {
                        "$ref": "AuthorizedDomain"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDomainMappingsResponse": {
            "id": "ListDomainMappingsResponse",
            "properties": {
                "domainMappings": {
                    "items": {
                        "$ref": "DomainMapping"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListIngressRulesResponse": {
            "id": "ListIngressRulesResponse",
            "properties": {
                "ingressRules": {
                    "items": {
                        "$ref": "FirewallRule"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListInstancesResponse": {
            "id": "ListInstancesResponse",
            "properties": {
                "instances": {
                    "items": {
                        "$ref": "Instance"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListServicesResponse": {
            "id": "ListServicesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "services": {
                    "items": {
                        "$ref": "Service"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListVersionsResponse": {
            "id": "ListVersionsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "versions": {
                    "items": {
                        "$ref": "Version"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LivenessCheck": {
            "id": "LivenessCheck",
            "properties": {
                "checkInterval": {
                    "format": "google-duration",
                    "type": "string"
                },
                "failureThreshold": {
                    "format": "uint32",
                    "type": "integer"
                },
                "host": {
                    "type": "string"
                },
                "initialDelay": {
                    "format": "google-duration",
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "successThreshold": {
                    "format": "uint32",
                    "type": "integer"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocationMetadata": {
            "id": "LocationMetadata",
            "properties": {
                "flexibleEnvironmentAvailable": {
                    "type": "boolean"
                },
                "standardEnvironmentAvailable": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ManagedCertificate": {
            "id": "ManagedCertificate",
            "properties": {
                "lastRenewalTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "MANAGEMENT_STATUS_UNSPECIFIED",
                        "OK",
                        "PENDING",
                        "FAILED_RETRYING_NOT_VISIBLE",
                        "FAILED_PERMANENT",
                        "FAILED_RETRYING_CAA_FORBIDDEN",
                        "FAILED_RETRYING_CAA_CHECKING"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManualScaling": {
            "id": "ManualScaling",
            "properties": {
                "instances": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Network": {
            "id": "Network",
            "properties": {
                "forwardedPorts": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "instanceTag": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "sessionAffinity": {
                    "type": "boolean"
                },
                "subnetworkName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkUtilization": {
            "id": "NetworkUtilization",
            "properties": {
                "targetReceivedBytesPerSecond": {
                    "format": "int32",
                    "type": "integer"
                },
                "targetReceivedPacketsPerSecond": {
                    "format": "int32",
                    "type": "integer"
                },
                "targetSentBytesPerSecond": {
[...]
