{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/bigquery": {},
                "https://www.googleapis.com/auth/bigquery.readonly": {},
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://bigquerydatatransfer.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "BigQuery Data Transfer",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/bigquery/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "bigquerydatatransfer:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://bigquerydatatransfer.mtls.googleapis.com/",
    "name": "bigquerydatatransfer",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "dataSources": {
                    "methods": {
                        "checkValidCreds": {
                            "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}:checkValidCreds",
                            "httpMethod": "POST",
                            "id": "bigquerydatatransfer.projects.dataSources.checkValidCreds",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:checkValidCreds",
                            "request": {
                                "$ref": "CheckValidCredsRequest"
                            },
                            "response": {
                                "$ref": "CheckValidCredsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/bigquery.readonly",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}",
                            "httpMethod": "GET",
                            "id": "bigquerydatatransfer.projects.dataSources.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "DataSource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/bigquery.readonly",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/dataSources",
                            "httpMethod": "GET",
                            "id": "bigquerydatatransfer.projects.dataSources.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/dataSources",
                            "response": {
                                "$ref": "ListDataSourcesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/bigquery.readonly",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    }
                },
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "bigquerydatatransfer.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/bigquery.readonly",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "bigquerydatatransfer.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/bigquery.readonly",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    },
                    "resources": {
                        "dataSources": {
                            "methods": {
                                "checkValidCreds": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}:checkValidCreds",
                                    "httpMethod": "POST",
                                    "id": "bigquerydatatransfer.projects.locations.dataSources.checkValidCreds",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:checkValidCreds",
                                    "request": {
                                        "$ref": "CheckValidCredsRequest"
                                    },
                                    "response": {
                                        "$ref": "CheckValidCredsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/bigquery.readonly",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}",
                                    "httpMethod": "GET",
                                    "id": "bigquerydatatransfer.projects.locations.dataSources.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "DataSource"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/bigquery.readonly",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources",
                                    "httpMethod": "GET",
                                    "id": "bigquerydatatransfer.projects.locations.dataSources.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/dataSources",
                                    "response": {
                                        "$ref": "ListDataSourcesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/bigquery.readonly",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                }
                            }
                        },
                        "transferConfigs": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                                    "httpMethod": "POST",
                                    "id": "bigquerydatatransfer.projects.locations.transferConfigs.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "authorizationCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "serviceAccountName": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "versionInfo": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/transferConfigs",
                                    "request": {
                                        "$ref": "TransferConfig"
                                    },
                                    "response": {
                                        "$ref": "TransferConfig"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                                    "httpMethod": "DELETE",
                                    "id": "bigquerydatatransfer.projects.locations.transferConfigs.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                                    "httpMethod": "GET",
                                    "id": "bigquerydatatransfer.projects.locations.transferConfigs.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "TransferConfig"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/bigquery.readonly",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                                    "httpMethod": "GET",
                                    "id": "bigquerydatatransfer.projects.locations.transferConfigs.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "dataSourceIds": {
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/transferConfigs",
                                    "response": {
                                        "$ref": "ListTransferConfigsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/bigquery.readonly",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                                    "httpMethod": "PATCH",
                                    "id": "bigquerydatatransfer.projects.locations.transferConfigs.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "authorizationCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "serviceAccountName": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "versionInfo": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "TransferConfig"
                                    },
                                    "response": {
                                        "$ref": "TransferConfig"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "scheduleRuns": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
                                    "httpMethod": "POST",
                                    "id": "bigquerydatatransfer.projects.locations.transferConfigs.scheduleRuns",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}:scheduleRuns",
                                    "request": {
                                        "$ref": "ScheduleTransferRunsRequest"
                                    },
                                    "response": {
                                        "$ref": "ScheduleTransferRunsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "startManualRuns": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:startManualRuns",
                                    "httpMethod": "POST",
                                    "id": "bigquerydatatransfer.projects.locations.transferConfigs.startManualRuns",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}:startManualRuns",
                                    "request": {
                                        "$ref": "StartManualTransferRunsRequest"
                                    },
                                    "response": {
                                        "$ref": "StartManualTransferRunsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "runs": {
                                    "methods": {
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                                            "httpMethod": "DELETE",
                                            "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigquery",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                                            "httpMethod": "GET",
                                            "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "TransferRun"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigquery",
                                                "https://www.googleapis.com/auth/bigquery.readonly",
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs",
                                            "httpMethod": "GET",
                                            "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "runAttempt": {
                                                    "enum": [
                                                        "RUN_ATTEMPT_UNSPECIFIED",
                                                        "LATEST"
                                                    ],
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "states": {
                                                    "enum": [
                                                        "TRANSFER_STATE_UNSPECIFIED",
                                                        "PENDING",
                                                        "RUNNING",
                                                        "SUCCEEDED",
                                                        "FAILED",
                                                        "CANCELLED"
                                                    ],
                                                    "location": "query",
                                                    "repeated": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/runs",
                                            "response": {
                                                "$ref": "ListTransferRunsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigquery",
                                                "https://www.googleapis.com/auth/bigquery.readonly",
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "transferLogs": {
                                            "methods": {
                                                "list": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                                                    "httpMethod": "GET",
                                                    "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.transferLogs.list",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "messageTypes": {
                                                            "enum": [
                                                                "MESSAGE_SEVERITY_UNSPECIFIED",
                                                                "INFO",
                                                                "WARNING",
                                                                "ERROR"
                                                            ],
                                                            "location": "query",
                                                            "repeated": true,
                                                            "type": "string"
                                                        },
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/transferLogs",
                                                    "response": {
                                                        "$ref": "ListTransferLogsResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/bigquery",
                                                        "https://www.googleapis.com/auth/bigquery.readonly",
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "transferConfigs": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/transferConfigs",
                            "httpMethod": "POST",
                            "id": "bigquerydatatransfer.projects.transferConfigs.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "authorizationCode": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "serviceAccountName": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "versionInfo": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/transferConfigs",
                            "request": {
                                "$ref": "TransferConfig"
                            },
                            "response": {
                                "$ref": "TransferConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
                            "httpMethod": "DELETE",
                            "id": "bigquerydatatransfer.projects.transferConfigs.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
                            "httpMethod": "GET",
                            "id": "bigquerydatatransfer.projects.transferConfigs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "TransferConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/bigquery.readonly",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/transferConfigs",
                            "httpMethod": "GET",
                            "id": "bigquerydatatransfer.projects.transferConfigs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "dataSourceIds": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/transferConfigs",
                            "response": {
                                "$ref": "ListTransferConfigsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/bigquery.readonly",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
                            "httpMethod": "PATCH",
                            "id": "bigquerydatatransfer.projects.transferConfigs.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "authorizationCode": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "serviceAccountName": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "versionInfo": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "TransferConfig"
                            },
                            "response": {
                                "$ref": "TransferConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "scheduleRuns": {
                            "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
                            "httpMethod": "POST",
                            "id": "bigquerydatatransfer.projects.transferConfigs.scheduleRuns",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}:scheduleRuns",
                            "request": {
                                "$ref": "ScheduleTransferRunsRequest"
                            },
                            "response": {
                                "$ref": "ScheduleTransferRunsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "startManualRuns": {
                            "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:startManualRuns",
                            "httpMethod": "POST",
                            "id": "bigquerydatatransfer.projects.transferConfigs.startManualRuns",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}:startManualRuns",
                            "request": {
                                "$ref": "StartManualTransferRunsRequest"
                            },
                            "response": {
                                "$ref": "StartManualTransferRunsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "runs": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                                    "httpMethod": "DELETE",
                                    "id": "bigquerydatatransfer.projects.transferConfigs.runs.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                                    "httpMethod": "GET",
                                    "id": "bigquerydatatransfer.projects.transferConfigs.runs.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "TransferRun"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/bigquery.readonly",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs",
                                    "httpMethod": "GET",
                                    "id": "bigquerydatatransfer.projects.transferConfigs.runs.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "runAttempt": {
                                            "enum": [
                                                "RUN_ATTEMPT_UNSPECIFIED",
                                                "LATEST"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "states": {
                                            "enum": [
                                                "TRANSFER_STATE_UNSPECIFIED",
                                                "PENDING",
                                                "RUNNING",
                                                "SUCCEEDED",
                                                "FAILED",
                                                "CANCELLED"
                                            ],
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/runs",
                                    "response": {
                                        "$ref": "ListTransferRunsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/bigquery.readonly",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                }
                            },
                            "resources": {
                                "transferLogs": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                                            "httpMethod": "GET",
                                            "id": "bigquerydatatransfer.projects.transferConfigs.runs.transferLogs.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "messageTypes": {
                                                    "enum": [
                                                        "MESSAGE_SEVERITY_UNSPECIFIED",
                                                        "INFO",
                                                        "WARNING",
                                                        "ERROR"
                                                    ],
                                                    "location": "query",
                                                    "repeated": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/transferLogs",
                                            "response": {
                                                "$ref": "ListTransferLogsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigquery",
                                                "https://www.googleapis.com/auth/bigquery.readonly",
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://bigquerydatatransfer.googleapis.com/",
    "schemas": {
        "CheckValidCredsRequest": {
            "id": "CheckValidCredsRequest",
            "properties": {},
            "type": "object"
        },
        "CheckValidCredsResponse": {
            "id": "CheckValidCredsResponse",
            "properties": {
                "hasValidCreds": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DataSource": {
            "id": "DataSource",
            "properties": {
                "authorizationType": {
                    "enum": [
                        "AUTHORIZATION_TYPE_UNSPECIFIED",
                        "AUTHORIZATION_CODE",
                        "GOOGLE_PLUS_AUTHORIZATION_CODE",
                        "FIRST_PARTY_OAUTH"
                    ],
                    "type": "string"
                },
                "clientId": {
                    "type": "string"
                },
                "dataRefreshType": {
                    "enum": [
                        "DATA_REFRESH_TYPE_UNSPECIFIED",
                        "SLIDING_WINDOW",
                        "CUSTOM_SLIDING_WINDOW"
                    ],
                    "type": "string"
                },
                "dataSourceId": {
                    "type": "string"
                },
                "defaultDataRefreshWindowDays": {
                    "format": "int32",
                    "type": "integer"
                },
                "defaultSchedule": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "helpUrl": {
                    "type": "string"
                },
                "manualRunsDisabled": {
                    "type": "boolean"
                },
                "minimumScheduleInterval": {
                    "format": "google-duration",
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "parameters": {
                    "items": {
                        "$ref": "DataSourceParameter"
                    },
                    "type": "array"
                },
                "scopes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "supportsCustomSchedule": {
                    "type": "boolean"
                },
                "supportsMultipleTransfers": {
                    "type": "boolean"
                },
                "transferType": {
                    "enum": [
                        "TRANSFER_TYPE_UNSPECIFIED",
                        "BATCH",
                        "STREAMING"
                    ],
                    "type": "string"
                },
                "updateDeadlineSeconds": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DataSourceParameter": {
            "id": "DataSourceParameter",
            "properties": {
                "allowedValues": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "deprecated": {
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "fields": {
                    "items": {
                        "$ref": "DataSourceParameter"
                    },
                    "type": "array"
                },
                "immutable": {
                    "type": "boolean"
                },
                "maxValue": {
                    "format": "double",
                    "type": "number"
                },
                "minValue": {
                    "format": "double",
                    "type": "number"
                },
                "paramId": {
                    "type": "string"
                },
                "recurse": {
                    "type": "boolean"
                },
                "repeated": {
                    "type": "boolean"
                },
                "required": {
                    "type": "boolean"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "STRING",
                        "INTEGER",
                        "DOUBLE",
                        "BOOLEAN",
                        "RECORD",
                        "PLUS_PAGE"
                    ],
                    "type": "string"
                },
                "validationDescription": {
                    "type": "string"
                },
                "validationHelpUrl": {
                    "type": "string"
                },
                "validationRegex": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EmailPreferences": {
            "id": "EmailPreferences",
            "properties": {
                "enableFailureEmail": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ListDataSourcesResponse": {
            "id": "ListDataSourcesResponse",
            "properties": {
                "dataSources": {
                    "items": {
                        "$ref": "DataSource"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListTransferConfigsResponse": {
            "id": "ListTransferConfigsResponse",
            "properties": {
                "nextPageToken": {
                    "readOnly": true,
                    "type": "string"
                },
                "transferConfigs": {
                    "items": {
                        "$ref": "TransferConfig"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListTransferLogsResponse": {
            "id": "ListTransferLogsResponse",
            "properties": {
                "nextPageToken": {
                    "readOnly": true,
                    "type": "string"
                },
                "transferMessages": {
                    "items": {
                        "$ref": "TransferMessage"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListTransferRunsResponse": {
            "id": "ListTransferRunsResponse",
            "properties": {
                "nextPageToken": {
                    "readOnly": true,
                    "type": "string"
                },
                "transferRuns": {
                    "items": {
                        "$ref": "TransferRun"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ScheduleOptions": {
            "id": "ScheduleOptions",
            "properties": {
                "disableAutoScheduling": {
                    "type": "boolean"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ScheduleTransferRunsRequest": {
            "id": "ScheduleTransferRunsRequest",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ScheduleTransferRunsResponse": {
            "id": "ScheduleTransferRunsResponse",
            "properties": {
                "runs": {
                    "items": {
                        "$ref": "TransferRun"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "StartManualTransferRunsRequest": {
            "id": "StartManualTransferRunsRequest",
            "properties": {
                "requestedRunTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "requestedTimeRange": {
                    "$ref": "TimeRange"
                }
            },
            "type": "object"
        },
        "StartManualTransferRunsResponse": {
            "id": "StartManualTransferRunsResponse",
            "properties": {
                "runs": {
                    "items": {
                        "$ref": "TransferRun"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TimeRange": {
            "id": "TimeRange",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TransferConfig": {
            "id": "TransferConfig",
            "properties": {
                "dataRefreshWindowDays": {
                    "format": "int32",
                    "type": "integer"
                },
                "dataSourceId": {
                    "type": "string"
                },
                "datasetRegion": {
                    "readOnly": true,
                    "type": "string"
                },
                "destinationDatasetId": {
                    "type": "string"
                },
                "disabled": {
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "emailPreferences": {
                    "$ref": "EmailPreferences"
                },
                "name": {
                    "type": "string"
                },
                "nextRunTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "notificationPubsubTopic": {
                    "type": "string"
                },
                "params": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "schedule": {
                    "type": "string"
                },
                "scheduleOptions": {
                    "$ref": "ScheduleOptions"
                },
                "state": {
                    "enum": [
                        "TRANSFER_STATE_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "userId": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TransferMessage": {
            "id": "TransferMessage",
            "properties": {
                "messageText": {
                    "type": "string"
                },
                "messageTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "severity": {
                    "enum": [
                        "MESSAGE_SEVERITY_UNSPECIFIED",
                        "INFO",
                        "WARNING",
                        "ERROR"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TransferRun": {
            "id": "TransferRun",
            "properties": {
                "dataSourceId": {
                    "readOnly": true,
                    "type": "string"
                },
                "destinationDatasetId": {
                    "readOnly": true,
                    "type": "string"
                },
                "emailPreferences": {
                    "$ref": "EmailPreferences",
                    "readOnly": true
                },
                "endTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "errorStatus": {
                    "$ref": "Status"
                },
                "name": {
                    "type": "string"
                },
                "notificationPubsubTopic": {
                    "readOnly": true,
                    "type": "string"
                },
                "params": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "readOnly": true,
                    "type": "object"
                },
                "runTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "schedule": {
                    "readOnly": true,
                    "type": "string"
                },
                "scheduleTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "TRANSFER_STATE_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "userId": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "BigQuery Data Transfer API",
    "version": "v1",
    "version_module": true
}