{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/bigquery": {},
                "https://www.googleapis.com/auth/bigquery.insertdata": {},
                "https://www.googleapis.com/auth/bigquery.readonly": {},
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {},
                "https://www.googleapis.com/auth/devstorage.full_control": {},
                "https://www.googleapis.com/auth/devstorage.read_only": {},
                "https://www.googleapis.com/auth/devstorage.read_write": {}
            }
        }
    },
    "basePath": "/bigquery/v2/",
    "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
    "batchPath": "batch/bigquery/v2",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/bigquery/",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/search-16.gif",
        "x32": "https://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "bigquery:v2",
    "kind": "discovery#restDescription",
    "name": "bigquery",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "datasets": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "bigquery.datasets.delete",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "deleteContents": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "bigquery.datasets.get",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}",
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "bigquery.datasets.insert",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets",
                    "request": {
                        "$ref": "Dataset"
                    },
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "bigquery.datasets.list",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "all": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets",
                    "response": {
                        "$ref": "DatasetList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "bigquery.datasets.patch",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}",
                    "request": {
                        "$ref": "Dataset"
                    },
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "bigquery.datasets.update",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}",
                    "request": {
                        "$ref": "Dataset"
                    },
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "jobs": {
            "methods": {
                "cancel": {
                    "httpMethod": "POST",
                    "id": "bigquery.jobs.cancel",
                    "parameterOrder": [
                        "projectId",
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "location": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/jobs/{jobId}/cancel",
                    "response": {
                        "$ref": "JobCancelResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "bigquery.jobs.get",
                    "parameterOrder": [
                        "projectId",
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "location": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/jobs/{jobId}",
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "getQueryResults": {
                    "httpMethod": "GET",
                    "id": "bigquery.jobs.getQueryResults",
                    "parameterOrder": [
                        "projectId",
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "location": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "startIndex": {
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "timeoutMs": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "projects/{projectId}/queries/{jobId}",
                    "response": {
                        "$ref": "GetQueryResultsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "bigquery.jobs.insert",
                    "mediaUpload": {
                        "accept": [
                            "*/*"
                        ],
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
                            }
                        }
                    },
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/jobs",
                    "request": {
                        "$ref": "Job"
                    },
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "supportsMediaUpload": true
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "bigquery.jobs.list",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "allUsers": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxCreationTime": {
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "minCreationTime": {
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parentJobId": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "minimal"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "stateFilter": {
                            "enum": [
                                "done",
                                "pending",
                                "running"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/jobs",
                    "response": {
                        "$ref": "JobList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "query": {
                    "httpMethod": "POST",
                    "id": "bigquery.jobs.query",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/queries",
                    "request": {
                        "$ref": "QueryRequest"
                    },
                    "response": {
                        "$ref": "QueryResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        },
        "models": {
            "methods": {
                "delete": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
                    "httpMethod": "DELETE",
                    "id": "bigquery.models.delete",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "modelId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "modelId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
                    "httpMethod": "GET",
                    "id": "bigquery.models.get",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "modelId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "modelId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
                    "response": {
                        "$ref": "Model"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "list": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
                    "httpMethod": "GET",
                    "id": "bigquery.models.list",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/models",
                    "response": {
                        "$ref": "ListModelsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "patch": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
                    "httpMethod": "PATCH",
                    "id": "bigquery.models.patch",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "modelId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "modelId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
                    "request": {
                        "$ref": "Model"
                    },
                    "response": {
                        "$ref": "Model"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "projects": {
            "methods": {
                "getServiceAccount": {
                    "httpMethod": "GET",
                    "id": "bigquery.projects.getServiceAccount",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/serviceAccount",
                    "response": {
                        "$ref": "GetServiceAccountResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "bigquery.projects.list",
                    "parameters": {
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "projects",
                    "response": {
                        "$ref": "ProjectList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        },
        "routines": {
            "methods": {
                "delete": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
                    "httpMethod": "DELETE",
                    "id": "bigquery.routines.delete",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "routineId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "routineId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
                    "httpMethod": "GET",
                    "id": "bigquery.routines.get",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "routineId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "readMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "routineId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
                    "response": {
                        "$ref": "Routine"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "insert": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
                    "httpMethod": "POST",
                    "id": "bigquery.routines.insert",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
                    "request": {
                        "$ref": "Routine"
                    },
                    "response": {
                        "$ref": "Routine"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
                    "httpMethod": "GET",
                    "id": "bigquery.routines.list",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "readMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
                    "response": {
                        "$ref": "ListRoutinesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "update": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
                    "httpMethod": "PUT",
                    "id": "bigquery.routines.update",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "routineId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "routineId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
                    "request": {
                        "$ref": "Routine"
                    },
                    "response": {
                        "$ref": "Routine"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "tabledata": {
            "methods": {
                "insertAll": {
                    "httpMethod": "POST",
                    "id": "bigquery.tabledata.insertAll",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tableId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
                    "request": {
                        "$ref": "TableDataInsertAllRequest"
                    },
                    "response": {
                        "$ref": "TableDataInsertAllResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.insertdata",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "bigquery.tabledata.list",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "selectedFields": {
                            "location": "query",
                            "type": "string"
                        },
                        "startIndex": {
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "tableId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
                    "response": {
                        "$ref": "TableDataList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        },
        "tables": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "bigquery.tables.delete",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tableId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "bigquery.tables.get",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "selectedFields": {
                            "location": "query",
                            "type": "string"
                        },
                        "tableId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
                    "response": {
                        "$ref": "Table"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "getIamPolicy": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
                    "httpMethod": "POST",
                    "id": "bigquery.tables.getIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{+resource}:getIamPolicy",
                    "request": {
                        "$ref": "GetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "bigquery.tables.insert",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables",
                    "request": {
                        "$ref": "Table"
                    },
                    "response": {
                        "$ref": "Table"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "bigquery.tables.list",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables",
                    "response": {
                        "$ref": "TableList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "bigquery.tables.patch",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tableId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
                    "request": {
                        "$ref": "Table"
                    },
                    "response": {
                        "$ref": "Table"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "setIamPolicy": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
                    "httpMethod": "POST",
                    "id": "bigquery.tables.setIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{+resource}:setIamPolicy",
                    "request": {
                        "$ref": "SetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "testIamPermissions": {
                    "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
                    "httpMethod": "POST",
                    "id": "bigquery.tables.testIamPermissions",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{+resource}:testIamPermissions",
                    "request": {
                        "$ref": "TestIamPermissionsRequest"
                    },
                    "response": {
                        "$ref": "TestIamPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "bigquery.tables.update",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tableId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
                    "request": {
                        "$ref": "Table"
                    },
                    "response": {
                        "$ref": "Table"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://bigquery.googleapis.com/",
    "schemas": {
        "AggregateClassificationMetrics": {
            "id": "AggregateClassificationMetrics",
            "properties": {
                "accuracy": {
                    "format": "double",
                    "type": "number"
                },
                "f1Score": {
                    "format": "double",
                    "type": "number"
                },
                "logLoss": {
                    "format": "double",
                    "type": "number"
                },
                "precision": {
                    "format": "double",
                    "type": "number"
                },
                "recall": {
                    "format": "double",
                    "type": "number"
                },
                "rocAuc": {
                    "format": "double",
                    "type": "number"
                },
                "threshold": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Argument": {
            "id": "Argument",
            "properties": {
                "argumentKind": {
                    "enum": [
                        "ARGUMENT_KIND_UNSPECIFIED",
                        "FIXED_TYPE",
                        "ANY_TYPE"
                    ],
                    "type": "string"
                },
                "dataType": {
                    "$ref": "StandardSqlDataType"
                },
                "mode": {
                    "enum": [
                        "MODE_UNSPECIFIED",
                        "IN",
                        "OUT",
                        "INOUT"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ArimaCoefficients": {
            "id": "ArimaCoefficients",
            "properties": {
                "autoRegressiveCoefficients": {
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                },
                "interceptCoefficient": {
                    "format": "double",
                    "type": "number"
                },
                "movingAverageCoefficients": {
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ArimaFittingMetrics": {
            "id": "ArimaFittingMetrics",
            "properties": {
                "aic": {
                    "format": "double",
                    "type": "number"
                },
                "logLikelihood": {
                    "format": "double",
                    "type": "number"
                },
                "variance": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ArimaModelInfo": {
            "id": "ArimaModelInfo",
            "properties": {
                "arimaCoefficients": {
                    "$ref": "ArimaCoefficients"
                },
                "arimaFittingMetrics": {
                    "$ref": "ArimaFittingMetrics"
                },
                "hasDrift": {
                    "type": "boolean"
                },
                "nonSeasonalOrder": {
                    "$ref": "ArimaOrder"
                },
                "seasonalPeriods": {
                    "items": {
                        "enum": [
                            "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
                            "NO_SEASONALITY",
                            "DAILY",
                            "WEEKLY",
                            "MONTHLY",
                            "QUARTERLY",
                            "YEARLY"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "timeSeriesId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ArimaOrder": {
            "id": "ArimaOrder",
            "properties": {
                "d": {
                    "format": "int64",
                    "type": "string"
                },
                "p": {
                    "format": "int64",
                    "type": "string"
                },
                "q": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ArimaResult": {
            "id": "ArimaResult",
            "properties": {
                "arimaModelInfo": {
                    "items": {
                        "$ref": "ArimaModelInfo"
                    },
                    "type": "array"
                },
                "seasonalPeriods": {
                    "items": {
                        "enum": [
                            "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
                            "NO_SEASONALITY",
                            "DAILY",
                            "WEEKLY",
                            "MONTHLY",
                            "QUARTERLY",
                            "YEARLY"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BigQueryModelTraining": {
            "id": "BigQueryModelTraining",
            "properties": {
                "currentIteration": {
                    "format": "int32",
                    "type": "integer"
                },
                "expectedTotalIterations": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BigtableColumn": {
            "id": "BigtableColumn",
            "properties": {
                "encoding": {
                    "type": "string"
                },
                "fieldName": {
                    "type": "string"
                },
                "onlyReadLatest": {
                    "type": "boolean"
                },
                "qualifierEncoded": {
                    "format": "byte",
                    "type": "string"
                },
                "qualifierString": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BigtableColumnFamily": {
            "id": "BigtableColumnFamily",
            "properties": {
                "columns": {
                    "items": {
                        "$ref": "BigtableColumn"
                    },
                    "type": "array"
                },
                "encoding": {
                    "type": "string"
                },
                "familyId": {
                    "type": "string"
                },
                "onlyReadLatest": {
                    "type": "boolean"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BigtableOptions": {
            "id": "BigtableOptions",
            "properties": {
                "columnFamilies": {
                    "items": {
                        "$ref": "BigtableColumnFamily"
                    },
                    "type": "array"
                },
                "ignoreUnspecifiedColumnFamilies": {
                    "type": "boolean"
                },
                "readRowkeyAsString": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BinaryClassificationMetrics": {
            "id": "BinaryClassificationMetrics",
            "properties": {
                "aggregateClassificationMetrics": {
                    "$ref": "AggregateClassificationMetrics"
                },
                "binaryConfusionMatrixList": {
                    "items": {
                        "$ref": "BinaryConfusionMatrix"
                    },
                    "type": "array"
                },
                "negativeLabel": {
                    "type": "string"
                },
                "positiveLabel": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BinaryConfusionMatrix": {
            "id": "BinaryConfusionMatrix",
            "properties": {
                "accuracy": {
                    "format": "double",
                    "type": "number"
                },
                "f1Score": {
                    "format": "double",
                    "type": "number"
                },
                "falseNegatives": {
                    "format": "int64",
                    "type": "string"
                },
                "falsePositives": {
                    "format": "int64",
                    "type": "string"
                },
                "positiveClassThreshold": {
                    "format": "double",
                    "type": "number"
                },
                "precision": {
                    "format": "double",
                    "type": "number"
                },
                "recall": {
                    "format": "double",
                    "type": "number"
                },
                "trueNegatives": {
                    "format": "int64",
                    "type": "string"
                },
                "truePositives": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BqmlIterationResult": {
            "id": "BqmlIterationResult",
            "properties": {
                "durationMs": {
                    "format": "int64",
                    "type": "string"
                },
                "evalLoss": {
                    "format": "double",
                    "type": "number"
                },
                "index": {
                    "format": "int32",
                    "type": "integer"
                },
                "learnRate": {
                    "format": "double",
                    "type": "number"
                },
                "trainingLoss": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "BqmlTrainingRun": {
            "id": "BqmlTrainingRun",
            "properties": {
                "iterationResults": {
                    "items": {
                        "$ref": "BqmlIterationResult"
                    },
                    "type": "array"
                },
                "startTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "state": {
                    "type": "string"
                },
                "trainingOptions": {
                    "properties": {
                        "earlyStop": {
                            "type": "boolean"
                        },
                        "l1Reg": {
                            "format": "double",
                            "type": "number"
                        },
                        "l2Reg": {
                            "format": "double",
                            "type": "number"
                        },
                        "learnRate": {
                            "format": "double",
                            "type": "number"
                        },
                        "learnRateStrategy": {
                            "type": "string"
                        },
                        "lineSearchInitLearnRate": {
                            "format": "double",
                            "type": "number"
                        },
                        "maxIteration": {
                            "format": "int64",
                            "type": "string"
                        },
                        "minRelProgress": {
                            "format": "double",
                            "type": "number"
                        },
                        "warmStart": {
                            "type": "boolean"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "CategoricalValue": {
            "id": "CategoricalValue",
            "properties": {
                "categoryCounts": {
                    "items": {
                        "$ref": "CategoryCount"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CategoryCount": {
            "id": "CategoryCount",
            "properties": {
                "category": {
                    "type": "string"
                },
                "count": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Cluster": {
            "id": "Cluster",
            "properties": {
                "centroidId": {
                    "format": "int64",
                    "type": "string"
                },
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "featureValues": {
                    "items": {
                        "$ref": "FeatureValue"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ClusterInfo": {
            "id": "ClusterInfo",
            "properties": {
                "centroidId": {
                    "format": "int64",
                    "type": "string"
                },
                "clusterRadius": {
                    "format": "double",
                    "type": "number"
                },
                "clusterSize": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Clustering": {
            "id": "Clustering",
            "properties": {
                "fields": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ClusteringMetrics": {
            "id": "ClusteringMetrics",
            "properties": {
                "clusters": {
                    "items": {
                        "$ref": "Cluster"
                    },
                    "type": "array"
                },
                "daviesBouldinIndex": {
                    "format": "double",
                    "type": "number"
                },
                "meanSquaredDistance": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ConfusionMatrix": {
            "id": "ConfusionMatrix",
            "properties": {
                "confidenceThreshold": {
                    "format": "double",
                    "type": "number"
                },
                "rows": {
                    "items": {
                        "$ref": "Row"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ConnectionProperty": {
            "id": "ConnectionProperty",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CsvOptions": {
            "id": "CsvOptions",
            "properties": {
                "allowJaggedRows": {
                    "type": "boolean"
                },
                "allowQuotedNewlines": {
                    "type": "boolean"
                },
                "encoding": {
                    "type": "string"
                },
                "fieldDelimiter": {
                    "type": "string"
                },
                "quote": {
                    "default": "\"",
                    "pattern": ".?",
                    "type": "string"
                },
                "skipLeadingRows": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DataSplitResult": {
            "id": "DataSplitResult",
            "properties": {
                "evaluationTable": {
                    "$ref": "TableReference"
                },
                "trainingTable": {
                    "$ref": "TableReference"
                }
            },
            "type": "object"
        },
        "Dataset": {
            "id": "Dataset",
            "properties": {
                "access": {
                    "items": {
                        "properties": {
                            "domain": {
                                "type": "string"
                            },
                            "groupByEmail": {
                                "type": "string"
                            },
                            "iamMember": {
                                "type": "string"
                            },
                            "role": {
                                "type": "string"
                            },
                            "specialGroup": {
                                "type": "string"
                            },
                            "userByEmail": {
                                "type": "string"
                            },
                            "view": {
                                "$ref": "TableReference"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "creationTime": {
                    "format": "int64",
                    "type": "string"
                },
                "datasetReference": {
                    "$ref": "DatasetReference"
                },
                "defaultEncryptionConfiguration": {
                    "$ref": "EncryptionConfiguration"
                },
                "defaultPartitionExpirationMs": {
                    "format": "int64",
                    "type": "string"
                },
                "defaultTableExpirationMs": {
                    "format": "int64",
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "friendlyName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "bigquery#dataset",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "lastModifiedTime": {
                    "format": "int64",
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DatasetList": {
            "id": "DatasetList",
            "properties": {
                "datasets": {
                    "items": {
                        "properties": {
                            "datasetReference": {
                                "$ref": "DatasetReference"
                            },
                            "friendlyName": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "kind": {
                                "default": "bigquery#dataset",
                                "type": "string"
                            },
                            "labels": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "type": "object"
                            },
                            "location": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "etag": {
                    "type": "string"
                },
                "kind": {
                    "default": "bigquery#datasetList",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DatasetReference": {
            "id": "DatasetReference",
            "properties": {
                "datasetId": {
                    "annotations": {
                        "required": [
                            "bigquery.datasets.update"
                        ]
                    },
                    "type": "string"
                },
                "projectId": {
                    "annotations": {
                        "required": [
                            "bigquery.datasets.update"
                        ]
                    },
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DestinationTableProperties": {
            "id": "DestinationTableProperties",
            "properties": {
                "friendlyName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "EncryptionConfiguration": {
            "id": "EncryptionConfiguration",
            "properties": {
                "kmsKeyName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Entry": {
            "id": "Entry",
            "properties": {
                "itemCount": {
                    "format": "int64",
                    "type": "string"
                },
                "predictedLabel": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ErrorProto": {
            "id": "ErrorProto",
            "properties": {
                "debugInfo": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "reason": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EvaluationMetrics": {
            "id": "EvaluationMetrics",
            "properties": {
                "binaryClassificationMetrics": {
                    "$ref": "BinaryClassificationMetrics"
                },
                "clusteringMetrics": {
                    "$ref": "ClusteringMetrics"
                },
                "multiClassClassificationMetrics": {
                    "$ref": "MultiClassClassificationMetrics"
                },
                "rankingMetrics": {
                    "$ref": "RankingMetrics"
                },
                "regressionMetrics": {
                    "$ref": "RegressionMetrics"
                }
            },
            "type": "object"
        },
        "ExplainQueryStage": {
            "id": "ExplainQueryStage",
            "properties": {
                "completedParallelInputs": {
                    "format": "int64",
                    "type": "string"
                },
                "computeMsAvg": {
                    "format": "int64",
                    "type": "string"
                },
                "computeMsMax": {
                    "format": "int64",
                    "type": "string"
                },
                "computeRatioAvg": {
                    "format": "double",
                    "type": "number"
                },
                "computeRatioMax": {
                    "format": "double",
                    "type": "number"
                },
                "endMs": {
                    "format": "int64",
                    "type": "string"
                },
                "id": {
                    "format": "int64",
                    "type": "string"
                },
                "inputStages": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "parallelInputs": {
                    "format": "int64",
                    "type": "string"
                },
                "readMsAvg": {
                    "format": "int64",
                    "type": "string"
                },
                "readMsMax": {
                    "format": "int64",
                    "type": "string"
                },
                "readRatioAvg": {
                    "format": "double",
                    "type": "number"
                },
                "readRatioMax": {
                    "format": "double",
                    "type": "number"
                },
                "recordsRead": {
                    "format": "int64",
                    "type": "string"
                },
                "recordsWritten": {
                    "format": "int64",
                    "type": "string"
                },
                "shuffleOutputBytes": {
                    "format": "int64",
                    "type": "string"
                },
                "shuffleOutputBytesSpilled": {
                    "format": "int64",
                    "type": "string"
                },
                "slotMs": {
                    "format": "int64",
                    "type": "string"
                },
                "startMs": {
                    "format": "int64",
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "steps": {
                    "items": {
                        "$ref": "ExplainQueryStep"
                    },
                    "type": "array"
                },
                "waitMsAvg": {
                    "format": "int64",
                    "type": "string"
                },
                "waitMsMax": {
                    "format": "int64",
                    "type": "string"
                },
                "waitRatioAvg": {
                    "format": "double",
                    "type": "number"
                },
                "waitRatioMax": {
                    "format": "double",
                    "type": "number"
                },
                "writeMsAvg": {
                    "format": "int64",
                    "type": "string"
                },
                "writeMsMax": {
                    "format": "int64",
                    "type": "string"
                },
                "writeRatioAvg": {
                    "format": "double",
                    "type": "number"
                },
                "writeRatioMax": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ExplainQueryStep": {
            "id": "ExplainQueryStep",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "substeps": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExternalDataConfiguration": {
            "id": "ExternalDataConfiguration",
            "properties": {
                "autodetect": {
                    "type": "boolean"
                },
                "bigtableOptions": {
                    "$ref": "BigtableOptions"
                },
                "compression": {
                    "type": "string"
                },
                "connectionId": {
                    "type": "string"
                },
                "csvOptions": {
                    "$ref": "CsvOptions"
                },
                "googleSheetsOptions": {
                    "$ref": "GoogleSheetsOptions"
                },
                "hivePartitioningOptions": {
                    "$ref": "HivePartitioningOptions"
                },
                "ignoreUnknownValues": {
                    "type": "boolean"
                },
                "maxBadRecords": {
                    "format": "int32",
                    "type": "integer"
                },
                "schema": {
                    "$ref": "TableSchema"
                },
                "sourceFormat": {
                    "type": "string"
                },
                "sourceUris": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "FeatureValue": {
            "id": "FeatureValue",
            "properties": {
                "categoricalValue": {
                    "$ref": "CategoricalValue"
                },
                "featureColumn": {
                    "type": "string"
                },
                "numericalValue": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GetIamPolicyRequest": {
            "id": "GetIamPolicyRequest",
            "properties": {
                "options": {
                    "$ref": "GetPolicyOptions"
                }
            },
            "type": "object"
        },
        "GetPolicyOptions": {
            "id": "GetPolicyOptions",
            "properties": {
                "requestedPolicyVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GetQueryResultsResponse": {
            "id": "GetQueryResultsResponse",
            "properties": {
                "cacheHit": {
                    "type": "boolean"
                },
                "errors": {
                    "items": {
                        "$ref": "ErrorProto"
                    },
                    "type": "array"
                },
                "etag": {
                    "type": "string"
                },
                "jobComplete": {
                    "type": "boolean"
                },
                "jobReference": {
                    "$ref": "JobReference"
                },
                "kind": {
                    "default": "bigquery#getQueryResultsResponse",
                    "type": "string"
                },
                "numDmlAffectedRows": {
                    "format": "int64",
                    "type": "string"
                },
                "pageToken": {
                    "type": "string"
                },
                "rows": {
                    "items": {
                        "$ref": "TableRow"
                    },
                    "type": "array"
                },
                "schema": {
                    "$ref": "TableSchema"
                },
                "totalBytesProcessed": {
                    "format": "int64",
                    "type": "string"
                },
                "totalRows": {
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetServiceAccountResponse": {
            "id": "GetServiceAccountResponse",
            "properties": {
                "email": {
                    "type": "string"
                },
                "kind": {
                    "default": "bigquery#getServiceAccountResponse",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleSheetsOptions": {
            "id": "GoogleSheetsOptions",
            "properties": {
                "range": {
                    "type": "string"
                },
                "skipLeadingRows": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HivePartitioningOptions": {
            "id": "HivePartitioningOptions",
            "properties": {
                "mode": {
                    "type": "string"
                },
                "sourceUriPrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IterationResult": {
            "id": "IterationResult",
            "properties": {
                "arimaResult": {
                    "$ref": "ArimaResult"
                },
                "clusterInfos": {
                    "items": {
                        "$ref": "ClusterInfo"
                    },
                    "type": "array"
                },
                "durationMs": {
                    "format": "int64",
                    "type": "string"
                },
                "evalLoss": {
                    "format": "double",
                    "type": "number"
                },
                "index": {
                    "format": "int32",
                    "type": "integer"
                },
                "learnRate": {
                    "format": "double",
                    "type": "number"
                },
                "trainingLoss": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Job": {
            "id": "Job",
            "properties": {
                "configuration": {
                    "$ref": "JobConfiguration"
                },
                "etag": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "jobReference": {
                    "$ref": "JobReference"
                },
                "kind": {
                    "default": "bigquery#job",
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "statistics": {
                    "$ref": "JobStatistics"
                },
                "status": {
                    "$ref": "JobStatus"
                },
                "user_email": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobCancelResponse": {
            "id": "JobCancelResponse",
            "properties": {
                "job": {
                    "$ref": "Job"
                },
                "kind": {
                    "default": "bigquery#jobCancelResponse",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobConfiguration": {
            "id": "JobConfiguration",
            "properties": {
                "copy": {
                    "$ref": "JobConfigurationTableCopy"
                },
                "dryRun": {
                    "type": "boolean"
                },
                "extract": {
                    "$ref": "JobConfigurationExtract"
                },
                "jobTimeoutMs": {
                    "format": "int64",
                    "type": "string"
                },
                "jobType": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "load": {
                    "$ref": "JobConfigurationLoad"
                },
                "query": {
                    "$ref": "JobConfigurationQuery"
                }
            },
            "type": "object"
        },
        "JobConfigurationExtract": {
            "id": "JobConfigurationExtract",
            "properties": {
                "compression": {
                    "type": "string"
                },
                "destinationFormat": {
                    "type": "string"
                },
                "destinationUri": {
                    "type": "string"
                },
                "destinationUris": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "fieldDelimiter": {
                    "type": "string"
                },
                "printHeader": {
                    "default": "true",
                    "type": "boolean"
                },
                "sourceModel": {
                    "$ref": "ModelReference"
                },
                "sourceTable": {
                    "$ref": "TableReference"
                },
                "useAvroLogicalTypes": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "JobConfigurationLoad": {
            "id": "JobConfigurationLoad",
            "properties": {
                "allowJaggedRows": {
                    "type": "boolean"
                },
                "allowQuotedNewlines": {
                    "type": "boolean"
                },
                "autodetect": {
                    "type": "boolean"
                },
                "clustering": {
                    "$ref": "Clustering"
                },
                "createDisposition": {
                    "type": "string"
                },
                "destinationEncryptionConfiguration": {
                    "$ref": "EncryptionConfiguration"
                },
                "destinationTable": {
                    "$ref": "TableReference"
                },
                "destinationTableProperties": {
                    "$ref": "DestinationTableProperties"
                },
                "encoding": {
                    "type": "string"
                },
                "fieldDelimiter": {
                    "type": "string"
                },
                "hivePartitioningOptions": {
                    "$ref": "HivePartitioningOptions"
                },
                "ignoreUnknownValues": {
                    "type": "boolean"
                },
                "maxBadRecords": {
                    "format": "int32",
                    "type": "integer"
                },
                "nullMarker": {
                    "type": "string"
                },
                "projectionFields": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "quote": {
                    "default": "\"",
                    "pattern": ".?",
                    "type": "string"
                },
                "rangePartitioning": {
                    "$ref": "RangePartitioning"
                },
                "schema": {
                    "$ref": "TableSchema"
                },
                "schemaInline": {
                    "type": "string"
                },
                "schemaInlineFormat": {
                    "type": "string"
                },
                "schemaUpdateOptions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "skipLeadingRows": {
                    "format": "int32",
                    "type": "integer"
                },
                "sourceFormat": {
                    "type": "string"
                },
                "sourceUris": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "timePartitioning": {
                    "$ref": "TimePartitioning"
                },
                "useAvroLogicalTypes": {
                    "type": "boolean"
                },
                "writeDisposition": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobConfigurationQuery": {
            "id": "JobConfigurationQuery",
            "properties": {
                "allowLargeResults": {
                    "default": "false",
                    "type": "boolean"
                },
                "clustering": {
[...]
