{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/bigquery": {},
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://bigqueryreservation.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "BigQuery Reservation",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/bigquery/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "bigqueryreservation:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://bigqueryreservation.mtls.googleapis.com/",
    "name": "bigqueryreservation",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "methods": {
                "delete": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "DELETE",
                    "id": "bigqueryreservation.operations.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/operations",
                    "httpMethod": "GET",
                    "id": "bigqueryreservation.operations.list",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "path",
                            "pattern": "^operations$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "getBiReservation": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/biReservation",
                            "httpMethod": "GET",
                            "id": "bigqueryreservation.projects.locations.getBiReservation",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+/biReservation$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "BiReservation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "searchAllAssignments": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchAllAssignments",
                            "httpMethod": "GET",
                            "id": "bigqueryreservation.projects.locations.searchAllAssignments",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "query": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}:searchAllAssignments",
                            "response": {
                                "$ref": "SearchAllAssignmentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "searchAssignments": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchAssignments",
                            "httpMethod": "GET",
                            "id": "bigqueryreservation.projects.locations.searchAssignments",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "query": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}:searchAssignments",
                            "response": {
                                "$ref": "SearchAssignmentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "updateBiReservation": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/biReservation",
                            "httpMethod": "PATCH",
                            "id": "bigqueryreservation.projects.locations.updateBiReservation",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+/biReservation$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "BiReservation"
                            },
                            "response": {
                                "$ref": "BiReservation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigquery",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "capacityCommitments": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments",
                                    "httpMethod": "POST",
                                    "id": "bigqueryreservation.projects.locations.capacityCommitments.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "enforceSingleAdminProjectPerOrg": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/capacityCommitments",
                                    "request": {
                                        "$ref": "CapacityCommitment"
                                    },
                                    "response": {
                                        "$ref": "CapacityCommitment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}",
                                    "httpMethod": "DELETE",
                                    "id": "bigqueryreservation.projects.locations.capacityCommitments.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}",
                                    "httpMethod": "GET",
                                    "id": "bigqueryreservation.projects.locations.capacityCommitments.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "CapacityCommitment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments",
                                    "httpMethod": "GET",
                                    "id": "bigqueryreservation.projects.locations.capacityCommitments.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/capacityCommitments",
                                    "response": {
                                        "$ref": "ListCapacityCommitmentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "merge": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments:merge",
                                    "httpMethod": "POST",
                                    "id": "bigqueryreservation.projects.locations.capacityCommitments.merge",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/capacityCommitments:merge",
                                    "request": {
                                        "$ref": "MergeCapacityCommitmentsRequest"
                                    },
                                    "response": {
                                        "$ref": "CapacityCommitment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}",
                                    "httpMethod": "PATCH",
                                    "id": "bigqueryreservation.projects.locations.capacityCommitments.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "CapacityCommitment"
                                    },
                                    "response": {
                                        "$ref": "CapacityCommitment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "split": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}:split",
                                    "httpMethod": "POST",
                                    "id": "bigqueryreservation.projects.locations.capacityCommitments.split",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:split",
                                    "request": {
                                        "$ref": "SplitCapacityCommitmentRequest"
                                    },
                                    "response": {
                                        "$ref": "SplitCapacityCommitmentResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "reservations": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations",
                                    "httpMethod": "POST",
                                    "id": "bigqueryreservation.projects.locations.reservations.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "reservationId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/reservations",
                                    "request": {
                                        "$ref": "Reservation"
                                    },
                                    "response": {
                                        "$ref": "Reservation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "bigqueryreservation.projects.locations.reservations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                                    "httpMethod": "GET",
                                    "id": "bigqueryreservation.projects.locations.reservations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Reservation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations",
                                    "httpMethod": "GET",
                                    "id": "bigqueryreservation.projects.locations.reservations.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/reservations",
                                    "response": {
                                        "$ref": "ListReservationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                                    "httpMethod": "PATCH",
                                    "id": "bigqueryreservation.projects.locations.reservations.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Reservation"
                                    },
                                    "response": {
                                        "$ref": "Reservation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigquery",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "assignments": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments",
                                            "httpMethod": "POST",
                                            "id": "bigqueryreservation.projects.locations.reservations.assignments.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/assignments",
                                            "request": {
                                                "$ref": "Assignment"
                                            },
                                            "response": {
                                                "$ref": "Assignment"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigquery",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments/{assignmentsId}",
                                            "httpMethod": "DELETE",
                                            "id": "bigqueryreservation.projects.locations.reservations.assignments.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+/assignments/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigquery",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments",
                                            "httpMethod": "GET",
                                            "id": "bigqueryreservation.projects.locations.reservations.assignments.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/assignments",
                                            "response": {
                                                "$ref": "ListAssignmentsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigquery",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "move": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments/{assignmentsId}:move",
                                            "httpMethod": "POST",
                                            "id": "bigqueryreservation.projects.locations.reservations.assignments.move",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+/assignments/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:move",
                                            "request": {
                                                "$ref": "MoveAssignmentRequest"
                                            },
                                            "response": {
                                                "$ref": "Assignment"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigquery",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://bigqueryreservation.googleapis.com/",
    "schemas": {
        "Assignment": {
            "id": "Assignment",
            "properties": {
                "assignee": {
                    "type": "string"
                },
                "jobType": {
                    "enum": [
                        "JOB_TYPE_UNSPECIFIED",
                        "PIPELINE",
                        "QUERY",
                        "ML_EXTERNAL"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "PENDING",
                        "ACTIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BiReservation": {
            "id": "BiReservation",
            "properties": {
                "name": {
                    "type": "string"
                },
                "size": {
                    "format": "int64",
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CapacityCommitment": {
            "id": "CapacityCommitment",
            "properties": {
                "commitmentEndTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "commitmentStartTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "failureStatus": {
                    "$ref": "Status"
                },
                "name": {
                    "type": "string"
                },
                "plan": {
                    "enum": [
                        "COMMITMENT_PLAN_UNSPECIFIED",
                        "FLEX",
                        "TRIAL",
                        "MONTHLY",
                        "ANNUAL"
                    ],
                    "type": "string"
                },
                "renewalPlan": {
                    "enum": [
                        "COMMITMENT_PLAN_UNSPECIFIED",
                        "FLEX",
                        "TRIAL",
                        "MONTHLY",
                        "ANNUAL"
                    ],
                    "type": "string"
                },
                "slotCount": {
                    "format": "int64",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "PENDING",
                        "ACTIVE",
                        "FAILED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateSlotPoolMetadata": {
            "id": "CreateSlotPoolMetadata",
            "properties": {
                "slotPool": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ListAssignmentsResponse": {
            "id": "ListAssignmentsResponse",
            "properties": {
                "assignments": {
                    "items": {
                        "$ref": "Assignment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListCapacityCommitmentsResponse": {
            "id": "ListCapacityCommitmentsResponse",
            "properties": {
                "capacityCommitments": {
                    "items": {
                        "$ref": "CapacityCommitment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListReservationsResponse": {
            "id": "ListReservationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "reservations": {
                    "items": {
                        "$ref": "Reservation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MergeCapacityCommitmentsRequest": {
            "id": "MergeCapacityCommitmentsRequest",
            "properties": {
                "capacityCommitmentIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MoveAssignmentRequest": {
            "id": "MoveAssignmentRequest",
            "properties": {
                "destinationId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Reservation": {
            "id": "Reservation",
            "properties": {
                "ignoreIdleSlots": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "slotCapacity": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchAllAssignmentsResponse": {
            "id": "SearchAllAssignmentsResponse",
            "properties": {
                "assignments": {
                    "items": {
                        "$ref": "Assignment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchAssignmentsResponse": {
            "id": "SearchAssignmentsResponse",
            "properties": {
                "assignments": {
                    "items": {
                        "$ref": "Assignment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SplitCapacityCommitmentRequest": {
            "id": "SplitCapacityCommitmentRequest",
            "properties": {
                "slotCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SplitCapacityCommitmentResponse": {
            "id": "SplitCapacityCommitmentResponse",
            "properties": {
                "first": {
                    "$ref": "CapacityCommitment"
                },
                "second": {
                    "$ref": "CapacityCommitment"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "BigQuery Reservation API",
    "version": "v1",
    "version_module": true
}