{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/bigtable.admin": {},
                "https://www.googleapis.com/auth/bigtable.admin.cluster": {},
                "https://www.googleapis.com/auth/bigtable.admin.instance": {},
                "https://www.googleapis.com/auth/bigtable.admin.table": {},
                "https://www.googleapis.com/auth/cloud-bigtable.admin": {},
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster": {},
                "https://www.googleapis.com/auth/cloud-bigtable.admin.table": {},
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://bigtableadmin.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Bigtable Admin",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/bigtable/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "bigtableadmin:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
    "name": "bigtableadmin",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "methods": {
                "cancel": {
                    "flatPath": "v2/operations/{operationsId}:cancel",
                    "httpMethod": "POST",
                    "id": "bigtableadmin.operations.cancel",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}:cancel",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "flatPath": "v2/operations/{operationsId}",
                    "httpMethod": "DELETE",
                    "id": "bigtableadmin.operations.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v2/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "bigtableadmin.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigtable.admin",
                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            },
            "resources": {
                "projects": {
                    "resources": {
                        "operations": {
                            "methods": {
                                "list": {
                                    "flatPath": "v2/operations/projects/{projectsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "bigtableadmin.operations.projects.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^operations/projects/.*$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "projects": {
            "resources": {
                "instances": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/projects/{projectsId}/instances",
                            "httpMethod": "POST",
                            "id": "bigtableadmin.projects.instances.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/instances",
                            "request": {
                                "$ref": "CreateInstanceRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "DELETE",
                            "id": "bigtableadmin.projects.instances.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "GET",
                            "id": "bigtableadmin.projects.instances.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "Instance"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}:getIamPolicy",
                            "httpMethod": "POST",
                            "id": "bigtableadmin.projects.instances.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+resource}:getIamPolicy",
                            "request": {
                                "$ref": "GetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/projects/{projectsId}/instances",
                            "httpMethod": "GET",
                            "id": "bigtableadmin.projects.instances.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/instances",
                            "response": {
                                "$ref": "ListInstancesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "partialUpdateInstance": {
                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "PATCH",
                            "id": "bigtableadmin.projects.instances.partialUpdateInstance",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "Instance"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "bigtableadmin.projects.instances.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "bigtableadmin.projects.instances.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "update": {
                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "PUT",
                            "id": "bigtableadmin.projects.instances.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "Instance"
                            },
                            "response": {
                                "$ref": "Instance"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "appProfiles": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/appProfiles",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.appProfiles.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "appProfileId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "ignoreWarnings": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/appProfiles",
                                    "request": {
                                        "$ref": "AppProfile"
                                    },
                                    "response": {
                                        "$ref": "AppProfile"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/appProfiles/{appProfilesId}",
                                    "httpMethod": "DELETE",
                                    "id": "bigtableadmin.projects.instances.appProfiles.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "ignoreWarnings": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/appProfiles/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/appProfiles/{appProfilesId}",
                                    "httpMethod": "GET",
                                    "id": "bigtableadmin.projects.instances.appProfiles.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/appProfiles/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "AppProfile"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/appProfiles",
                                    "httpMethod": "GET",
                                    "id": "bigtableadmin.projects.instances.appProfiles.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/appProfiles",
                                    "response": {
                                        "$ref": "ListAppProfilesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/appProfiles/{appProfilesId}",
                                    "httpMethod": "PATCH",
                                    "id": "bigtableadmin.projects.instances.appProfiles.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "ignoreWarnings": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/appProfiles/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "AppProfile"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "clusters": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.clusters.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/clusters",
                                    "request": {
                                        "$ref": "Cluster"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}",
                                    "httpMethod": "DELETE",
                                    "id": "bigtableadmin.projects.instances.clusters.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}",
                                    "httpMethod": "GET",
                                    "id": "bigtableadmin.projects.instances.clusters.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Cluster"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters",
                                    "httpMethod": "GET",
                                    "id": "bigtableadmin.projects.instances.clusters.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/clusters",
                                    "response": {
                                        "$ref": "ListClustersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}",
                                    "httpMethod": "PUT",
                                    "id": "bigtableadmin.projects.instances.clusters.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "Cluster"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/bigtable.admin.instance",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "backups": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}/backups",
                                            "httpMethod": "POST",
                                            "id": "bigtableadmin.projects.instances.clusters.backups.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "backupId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/backups",
                                            "request": {
                                                "$ref": "Backup"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigtable.admin",
                                                "https://www.googleapis.com/auth/bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}/backups/{backupsId}",
                                            "httpMethod": "DELETE",
                                            "id": "bigtableadmin.projects.instances.clusters.backups.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+/backups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigtable.admin",
                                                "https://www.googleapis.com/auth/bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}/backups/{backupsId}",
                                            "httpMethod": "GET",
                                            "id": "bigtableadmin.projects.instances.clusters.backups.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+/backups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
                                            "response": {
                                                "$ref": "Backup"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigtable.admin",
                                                "https://www.googleapis.com/auth/bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "getIamPolicy": {
                                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}/backups/{backupsId}:getIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "bigtableadmin.projects.instances.clusters.backups.getIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+/backups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+resource}:getIamPolicy",
                                            "request": {
                                                "$ref": "GetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigtable.admin",
                                                "https://www.googleapis.com/auth/bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}/backups",
                                            "httpMethod": "GET",
                                            "id": "bigtableadmin.projects.instances.clusters.backups.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "orderBy": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/backups",
                                            "response": {
                                                "$ref": "ListBackupsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigtable.admin",
                                                "https://www.googleapis.com/auth/bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}/backups/{backupsId}",
                                            "httpMethod": "PATCH",
                                            "id": "bigtableadmin.projects.instances.clusters.backups.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+/backups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
                                            "request": {
                                                "$ref": "Backup"
                                            },
                                            "response": {
                                                "$ref": "Backup"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigtable.admin",
                                                "https://www.googleapis.com/auth/bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "setIamPolicy": {
                                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}/backups/{backupsId}:setIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "bigtableadmin.projects.instances.clusters.backups.setIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+/backups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+resource}:setIamPolicy",
                                            "request": {
                                                "$ref": "SetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigtable.admin",
                                                "https://www.googleapis.com/auth/bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "testIamPermissions": {
                                            "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}/backups/{backupsId}:testIamPermissions",
                                            "httpMethod": "POST",
                                            "id": "bigtableadmin.projects.instances.clusters.backups.testIamPermissions",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/clusters/[^/]+/backups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+resource}:testIamPermissions",
                                            "request": {
                                                "$ref": "TestIamPermissionsRequest"
                                            },
                                            "response": {
                                                "$ref": "TestIamPermissionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/bigtable.admin",
                                                "https://www.googleapis.com/auth/bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                                "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "tables": {
                            "methods": {
                                "checkConsistency": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:checkConsistency",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.tables.checkConsistency",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:checkConsistency",
                                    "request": {
                                        "$ref": "CheckConsistencyRequest"
                                    },
                                    "response": {
                                        "$ref": "CheckConsistencyResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.tables.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/tables",
                                    "request": {
                                        "$ref": "CreateTableRequest"
                                    },
                                    "response": {
                                        "$ref": "Table"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}",
                                    "httpMethod": "DELETE",
                                    "id": "bigtableadmin.projects.instances.tables.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "dropRowRange": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:dropRowRange",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.tables.dropRowRange",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:dropRowRange",
                                    "request": {
                                        "$ref": "DropRowRangeRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "generateConsistencyToken": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:generateConsistencyToken",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.tables.generateConsistencyToken",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:generateConsistencyToken",
                                    "request": {
                                        "$ref": "GenerateConsistencyTokenRequest"
                                    },
                                    "response": {
                                        "$ref": "GenerateConsistencyTokenResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}",
                                    "httpMethod": "GET",
                                    "id": "bigtableadmin.projects.instances.tables.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "VIEW_UNSPECIFIED",
                                                "NAME_ONLY",
                                                "SCHEMA_VIEW",
                                                "REPLICATION_VIEW",
                                                "FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Table"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.tables.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables",
                                    "httpMethod": "GET",
                                    "id": "bigtableadmin.projects.instances.tables.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "VIEW_UNSPECIFIED",
                                                "NAME_ONLY",
                                                "SCHEMA_VIEW",
                                                "REPLICATION_VIEW",
                                                "FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/tables",
                                    "response": {
                                        "$ref": "ListTablesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "modifyColumnFamilies": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:modifyColumnFamilies",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.tables.modifyColumnFamilies",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:modifyColumnFamilies",
                                    "request": {
                                        "$ref": "ModifyColumnFamiliesRequest"
                                    },
                                    "response": {
                                        "$ref": "Table"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "restore": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables:restore",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.tables.restore",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/tables:restore",
                                    "request": {
                                        "$ref": "RestoreTableRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.tables.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "bigtableadmin.projects.instances.tables.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/bigtable.admin",
                                        "https://www.googleapis.com/auth/bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                        "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "bigtableadmin.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "bigtableadmin.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/bigtable.admin",
                                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/bigtable.admin.instance",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://bigtableadmin.googleapis.com/",
    "schemas": {
        "AppProfile": {
            "id": "AppProfile",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "multiClusterRoutingUseAny": {
                    "$ref": "MultiClusterRoutingUseAny"
                },
                "name": {
                    "type": "string"
                },
                "singleClusterRouting": {
                    "$ref": "SingleClusterRouting"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Backup": {
            "id": "Backup",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "sizeBytes": {
                    "format": "int64",
                    "type": "string"
                },
                "sourceTable": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BackupInfo": {
            "id": "BackupInfo",
            "properties": {
                "backup": {
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "sourceTable": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CheckConsistencyRequest": {
            "id": "CheckConsistencyRequest",
            "properties": {
                "consistencyToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CheckConsistencyResponse": {
            "id": "CheckConsistencyResponse",
            "properties": {
                "consistent": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Cluster": {
            "id": "Cluster",
            "properties": {
                "defaultStorageType": {
                    "enum": [
                        "STORAGE_TYPE_UNSPECIFIED",
                        "SSD",
                        "HDD"
                    ],
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
[...]
