{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://billingbudgets.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "CloudBillingBudget",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/billing/docs/how-to/budget-api-overview",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "billingbudgets:v1beta1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://billingbudgets.mtls.googleapis.com/",
    "name": "billingbudgets",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "billingAccounts": {
            "resources": {
                "budgets": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets",
                            "httpMethod": "POST",
                            "id": "billingbudgets.billingAccounts.budgets.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/budgets",
                            "request": {
                                "$ref": "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest"
                            },
                            "response": {
                                "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
                            "httpMethod": "DELETE",
                            "id": "billingbudgets.billingAccounts.budgets.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
                            "httpMethod": "GET",
                            "id": "billingbudgets.billingAccounts.budgets.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets",
                            "httpMethod": "GET",
                            "id": "billingbudgets.billingAccounts.budgets.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/budgets",
                            "response": {
                                "$ref": "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
                            "httpMethod": "PATCH",
                            "id": "billingbudgets.billingAccounts.budgets.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest"
                            },
                            "response": {
                                "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://billingbudgets.googleapis.com/",
    "schemas": {
        "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule": {
            "id": "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule",
            "properties": {
                "monitoringNotificationChannels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "pubsubTopic": {
                    "type": "string"
                },
                "schemaVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudBillingBudgetsV1beta1Budget": {
            "id": "GoogleCloudBillingBudgetsV1beta1Budget",
            "properties": {
                "allUpdatesRule": {
                    "$ref": "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule"
                },
                "amount": {
                    "$ref": "GoogleCloudBillingBudgetsV1beta1BudgetAmount"
                },
                "budgetFilter": {
                    "$ref": "GoogleCloudBillingBudgetsV1beta1Filter"
                },
                "displayName": {
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "thresholdRules": {
                    "items": {
                        "$ref": "GoogleCloudBillingBudgetsV1beta1ThresholdRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudBillingBudgetsV1beta1BudgetAmount": {
            "id": "GoogleCloudBillingBudgetsV1beta1BudgetAmount",
            "properties": {
                "lastPeriodAmount": {
                    "$ref": "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount"
                },
                "specifiedAmount": {
                    "$ref": "GoogleTypeMoney"
                }
            },
            "type": "object"
        },
        "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest": {
            "id": "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest",
            "properties": {
                "budget": {
                    "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
                }
            },
            "type": "object"
        },
        "GoogleCloudBillingBudgetsV1beta1Filter": {
            "id": "GoogleCloudBillingBudgetsV1beta1Filter",
            "properties": {
                "creditTypesTreatment": {
                    "enum": [
                        "CREDIT_TYPES_TREATMENT_UNSPECIFIED",
                        "INCLUDE_ALL_CREDITS",
                        "EXCLUDE_ALL_CREDITS"
                    ],
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "items": {
                            "type": "any"
                        },
                        "type": "array"
                    },
                    "type": "object"
                },
                "projects": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "services": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "subaccounts": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount": {
            "id": "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount",
            "properties": {},
            "type": "object"
        },
        "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse": {
            "id": "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse",
            "properties": {
                "budgets": {
                    "items": {
                        "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudBillingBudgetsV1beta1ThresholdRule": {
            "id": "GoogleCloudBillingBudgetsV1beta1ThresholdRule",
            "properties": {
                "spendBasis": {
                    "enum": [
                        "BASIS_UNSPECIFIED",
                        "CURRENT_SPEND",
                        "FORECASTED_SPEND"
                    ],
                    "type": "string"
                },
                "thresholdPercent": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest": {
            "id": "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest",
            "properties": {
                "budget": {
                    "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleProtobufEmpty": {
            "id": "GoogleProtobufEmpty",
            "properties": {},
            "type": "object"
        },
        "GoogleTypeMoney": {
            "id": "GoogleTypeMoney",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "units": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Billing Budget API",
    "version": "v1beta1",
    "version_module": true
}