{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://binaryauthorization.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Binary Authorization",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/binary-authorization/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "binaryauthorization:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://binaryauthorization.mtls.googleapis.com/",
    "name": "binaryauthorization",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "getPolicy": {
                    "flatPath": "v1/projects/{projectsId}/policy",
                    "httpMethod": "GET",
                    "id": "binaryauthorization.projects.getPolicy",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/policy$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "updatePolicy": {
                    "flatPath": "v1/projects/{projectsId}/policy",
                    "httpMethod": "PUT",
                    "id": "binaryauthorization.projects.updatePolicy",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/policy$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "Policy"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "attestors": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/attestors",
                            "httpMethod": "POST",
                            "id": "binaryauthorization.projects.attestors.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "attestorId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/attestors",
                            "request": {
                                "$ref": "Attestor"
                            },
                            "response": {
                                "$ref": "Attestor"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/attestors/{attestorsId}",
                            "httpMethod": "DELETE",
                            "id": "binaryauthorization.projects.attestors.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/attestors/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/attestors/{attestorsId}",
                            "httpMethod": "GET",
                            "id": "binaryauthorization.projects.attestors.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/attestors/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Attestor"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/attestors/{attestorsId}:getIamPolicy",
                            "httpMethod": "GET",
                            "id": "binaryauthorization.projects.attestors.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/attestors/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "IamPolicy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/attestors",
                            "httpMethod": "GET",
                            "id": "binaryauthorization.projects.attestors.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/attestors",
                            "response": {
                                "$ref": "ListAttestorsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/attestors/{attestorsId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "binaryauthorization.projects.attestors.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/attestors/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "IamPolicy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/attestors/{attestorsId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "binaryauthorization.projects.attestors.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/attestors/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/projects/{projectsId}/attestors/{attestorsId}",
                            "httpMethod": "PUT",
                            "id": "binaryauthorization.projects.attestors.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/attestors/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Attestor"
                            },
                            "response": {
                                "$ref": "Attestor"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "policy": {
                    "methods": {
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/policy:getIamPolicy",
                            "httpMethod": "GET",
                            "id": "binaryauthorization.projects.policy.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/policy$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "IamPolicy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/policy:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "binaryauthorization.projects.policy.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/policy$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "IamPolicy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/policy:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "binaryauthorization.projects.policy.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/policy$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://binaryauthorization.googleapis.com/",
    "schemas": {
        "AdmissionRule": {
            "id": "AdmissionRule",
            "properties": {
                "enforcementMode": {
                    "enum": [
                        "ENFORCEMENT_MODE_UNSPECIFIED",
                        "ENFORCED_BLOCK_AND_AUDIT_LOG",
                        "DRYRUN_AUDIT_LOG_ONLY"
                    ],
                    "type": "string"
                },
                "evaluationMode": {
                    "enum": [
                        "EVALUATION_MODE_UNSPECIFIED",
                        "ALWAYS_ALLOW",
                        "REQUIRE_ATTESTATION",
                        "ALWAYS_DENY"
                    ],
                    "type": "string"
                },
                "requireAttestationsBy": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AdmissionWhitelistPattern": {
            "id": "AdmissionWhitelistPattern",
            "properties": {
                "namePattern": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Attestor": {
            "id": "Attestor",
            "properties": {
                "name": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "userOwnedGrafeasNote": {
                    "$ref": "UserOwnedGrafeasNote"
                }
            },
            "type": "object"
        },
        "AttestorPublicKey": {
            "id": "AttestorPublicKey",
            "properties": {
                "asciiArmoredPgpPublicKey": {
                    "type": "string"
                },
                "comment": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "pkixPublicKey": {
                    "$ref": "PkixPublicKey"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IamPolicy": {
            "id": "IamPolicy",
            "properties": {
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListAttestorsResponse": {
            "id": "ListAttestorsResponse",
            "properties": {
                "attestors": {
                    "items": {
                        "$ref": "Attestor"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PkixPublicKey": {
            "id": "PkixPublicKey",
            "properties": {
                "publicKeyPem": {
                    "type": "string"
                },
                "signatureAlgorithm": {
                    "enum": [
                        "SIGNATURE_ALGORITHM_UNSPECIFIED",
                        "RSA_PSS_2048_SHA256",
                        "RSA_PSS_3072_SHA256",
                        "RSA_PSS_4096_SHA256",
                        "RSA_PSS_4096_SHA512",
                        "RSA_SIGN_PKCS1_2048_SHA256",
                        "RSA_SIGN_PKCS1_3072_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA512",
                        "ECDSA_P256_SHA256",
                        "EC_SIGN_P256_SHA256",
                        "ECDSA_P384_SHA384",
                        "EC_SIGN_P384_SHA384",
                        "ECDSA_P521_SHA512",
                        "EC_SIGN_P521_SHA512"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "admissionWhitelistPatterns": {
                    "items": {
                        "$ref": "AdmissionWhitelistPattern"
                    },
                    "type": "array"
                },
                "clusterAdmissionRules": {
                    "additionalProperties": {
                        "$ref": "AdmissionRule"
                    },
                    "type": "object"
                },
                "defaultAdmissionRule": {
                    "$ref": "AdmissionRule"
                },
                "globalPolicyEvaluationMode": {
                    "enum": [
                        "GLOBAL_POLICY_EVALUATION_MODE_UNSPECIFIED",
                        "ENABLE",
                        "DISABLE"
                    ],
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "IamPolicy"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UserOwnedGrafeasNote": {
            "id": "UserOwnedGrafeasNote",
            "properties": {
                "delegationServiceAccountEmail": {
                    "readOnly": true,
                    "type": "string"
                },
                "noteReference": {
                    "type": "string"
                },
                "publicKeys": {
                    "items": {
                        "$ref": "AttestorPublicKey"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Binary Authorization API",
    "version": "v1",
    "version_module": true
}