{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/books": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://www.googleapis.com/",
    "batchPath": "batch/books/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "books:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://www.mtls.googleapis.com/",
    "name": "books",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "bookshelves": {
            "methods": {
                "get": {
                    "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}",
                    "httpMethod": "GET",
                    "id": "books.bookshelves.get",
                    "parameterOrder": [
                        "userId",
                        "shelf"
                    ],
                    "parameters": {
                        "shelf": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/users/{userId}/bookshelves/{shelf}",
                    "response": {
                        "$ref": "Bookshelf"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "list": {
                    "flatPath": "books/v1/users/{userId}/bookshelves",
                    "httpMethod": "GET",
                    "id": "books.bookshelves.list",
                    "parameterOrder": [
                        "userId"
                    ],
                    "parameters": {
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/users/{userId}/bookshelves",
                    "response": {
                        "$ref": "Bookshelves"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            },
            "resources": {
                "volumes": {
                    "methods": {
                        "list": {
                            "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
                            "httpMethod": "GET",
                            "id": "books.bookshelves.volumes.list",
                            "parameterOrder": [
                                "userId",
                                "shelf"
                            ],
                            "parameters": {
                                "maxResults": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "shelf": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "showPreorders": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "startIndex": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
                            "response": {
                                "$ref": "Volumes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                }
            }
        },
        "cloudloading": {
            "methods": {
                "addBook": {
                    "flatPath": "books/v1/cloudloading/addBook",
                    "httpMethod": "POST",
                    "id": "books.cloudloading.addBook",
                    "parameterOrder": [],
                    "parameters": {
                        "drive_document_id": {
                            "location": "query",
                            "type": "string"
                        },
                        "mime_type": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "query",
                            "type": "string"
                        },
                        "upload_client_token": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/cloudloading/addBook",
                    "response": {
                        "$ref": "BooksCloudloadingResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "deleteBook": {
                    "flatPath": "books/v1/cloudloading/deleteBook",
                    "httpMethod": "POST",
                    "id": "books.cloudloading.deleteBook",
                    "parameterOrder": [],
                    "parameters": {
                        "volumeId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/cloudloading/deleteBook",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "updateBook": {
                    "flatPath": "books/v1/cloudloading/updateBook",
                    "httpMethod": "POST",
                    "id": "books.cloudloading.updateBook",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "books/v1/cloudloading/updateBook",
                    "request": {
                        "$ref": "BooksCloudloadingResource"
                    },
                    "response": {
                        "$ref": "BooksCloudloadingResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "dictionary": {
            "methods": {
                "listOfflineMetadata": {
                    "flatPath": "books/v1/dictionary/listOfflineMetadata",
                    "httpMethod": "GET",
                    "id": "books.dictionary.listOfflineMetadata",
                    "parameterOrder": [],
                    "parameters": {
                        "cpksver": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/dictionary/listOfflineMetadata",
                    "response": {
                        "$ref": "Metadata"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "familysharing": {
            "methods": {
                "getFamilyInfo": {
                    "flatPath": "books/v1/familysharing/getFamilyInfo",
                    "httpMethod": "GET",
                    "id": "books.familysharing.getFamilyInfo",
                    "parameterOrder": [],
                    "parameters": {
                        "source": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/familysharing/getFamilyInfo",
                    "response": {
                        "$ref": "FamilyInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "share": {
                    "flatPath": "books/v1/familysharing/share",
                    "httpMethod": "POST",
                    "id": "books.familysharing.share",
                    "parameterOrder": [],
                    "parameters": {
                        "docId": {
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "volumeId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/familysharing/share",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "unshare": {
                    "flatPath": "books/v1/familysharing/unshare",
                    "httpMethod": "POST",
                    "id": "books.familysharing.unshare",
                    "parameterOrder": [],
                    "parameters": {
                        "docId": {
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "volumeId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/familysharing/unshare",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "layers": {
            "methods": {
                "get": {
                    "flatPath": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
                    "httpMethod": "GET",
                    "id": "books.layers.get",
                    "parameterOrder": [
                        "volumeId",
                        "summaryId"
                    ],
                    "parameters": {
                        "contentVersion": {
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "summaryId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "volumeId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
                    "response": {
                        "$ref": "Layersummary"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "list": {
                    "flatPath": "books/v1/volumes/{volumeId}/layersummary",
                    "httpMethod": "GET",
                    "id": "books.layers.list",
                    "parameterOrder": [
                        "volumeId"
                    ],
                    "parameters": {
                        "contentVersion": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "volumeId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/volumes/{volumeId}/layersummary",
                    "response": {
                        "$ref": "Layersummaries"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            },
            "resources": {
                "annotationData": {
                    "methods": {
                        "get": {
                            "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
                            "httpMethod": "GET",
                            "id": "books.layers.annotationData.get",
                            "parameterOrder": [
                                "volumeId",
                                "layerId",
                                "annotationDataId"
                            ],
                            "parameters": {
                                "allowWebDefinitions": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "annotationDataId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "contentVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "h": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "layerId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "locale": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "scale": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "w": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
                            "response": {
                                "$ref": "DictionaryAnnotationdata"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "list": {
                            "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
                            "httpMethod": "GET",
                            "id": "books.layers.annotationData.list",
                            "parameterOrder": [
                                "volumeId",
                                "layerId"
                            ],
                            "parameters": {
                                "annotationDataId": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "contentVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "h": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "layerId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "locale": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "scale": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "updatedMax": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "updatedMin": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "w": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
                            "response": {
                                "$ref": "Annotationsdata"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                },
                "volumeAnnotations": {
                    "methods": {
                        "get": {
                            "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
                            "httpMethod": "GET",
                            "id": "books.layers.volumeAnnotations.get",
                            "parameterOrder": [
                                "volumeId",
                                "layerId",
                                "annotationId"
                            ],
                            "parameters": {
                                "annotationId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "layerId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "locale": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
                            "response": {
                                "$ref": "Volumeannotation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "list": {
                            "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}",
                            "httpMethod": "GET",
                            "id": "books.layers.volumeAnnotations.list",
                            "parameterOrder": [
                                "volumeId",
                                "layerId"
                            ],
                            "parameters": {
                                "contentVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "endOffset": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "endPosition": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "layerId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "locale": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "showDeleted": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "startOffset": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "startPosition": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "updatedMax": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "updatedMin": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeAnnotationsVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/{volumeId}/layers/{layerId}",
                            "response": {
                                "$ref": "Volumeannotations"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                }
            }
        },
        "myconfig": {
            "methods": {
                "getUserSettings": {
                    "flatPath": "books/v1/myconfig/getUserSettings",
                    "httpMethod": "GET",
                    "id": "books.myconfig.getUserSettings",
                    "parameterOrder": [],
                    "parameters": {
                        "country": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/myconfig/getUserSettings",
                    "response": {
                        "$ref": "Usersettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "releaseDownloadAccess": {
                    "flatPath": "books/v1/myconfig/releaseDownloadAccess",
                    "httpMethod": "POST",
                    "id": "books.myconfig.releaseDownloadAccess",
                    "parameterOrder": [],
                    "parameters": {
                        "cpksver": {
                            "location": "query",
                            "type": "string"
                        },
                        "locale": {
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "volumeIds": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/myconfig/releaseDownloadAccess",
                    "response": {
                        "$ref": "DownloadAccesses"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "requestAccess": {
                    "flatPath": "books/v1/myconfig/requestAccess",
                    "httpMethod": "POST",
                    "id": "books.myconfig.requestAccess",
                    "parameterOrder": [],
                    "parameters": {
                        "cpksver": {
                            "location": "query",
                            "type": "string"
                        },
                        "licenseTypes": {
                            "enum": [
                                "LICENSE_TYPES_UNDEFINED",
                                "BOTH",
                                "CONCURRENT",
                                "DOWNLOAD"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "locale": {
                            "location": "query",
                            "type": "string"
                        },
                        "nonce": {
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "volumeId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/myconfig/requestAccess",
                    "response": {
                        "$ref": "RequestAccessData"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "syncVolumeLicenses": {
                    "flatPath": "books/v1/myconfig/syncVolumeLicenses",
                    "httpMethod": "POST",
                    "id": "books.myconfig.syncVolumeLicenses",
                    "parameterOrder": [],
                    "parameters": {
                        "cpksver": {
                            "location": "query",
                            "type": "string"
                        },
                        "features": {
                            "enum": [
                                "FEATURES_UNDEFINED",
                                "RENTALS"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "includeNonComicsSeries": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "locale": {
                            "location": "query",
                            "type": "string"
                        },
                        "nonce": {
                            "location": "query",
                            "type": "string"
                        },
                        "showPreorders": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "volumeIds": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/myconfig/syncVolumeLicenses",
                    "response": {
                        "$ref": "Volumes"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "updateUserSettings": {
                    "flatPath": "books/v1/myconfig/updateUserSettings",
                    "httpMethod": "POST",
                    "id": "books.myconfig.updateUserSettings",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "books/v1/myconfig/updateUserSettings",
                    "request": {
                        "$ref": "Usersettings"
                    },
                    "response": {
                        "$ref": "Usersettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "mylibrary": {
            "resources": {
                "annotations": {
                    "methods": {
                        "delete": {
                            "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
                            "httpMethod": "DELETE",
                            "id": "books.mylibrary.annotations.delete",
                            "parameterOrder": [
                                "annotationId"
                            ],
                            "parameters": {
                                "annotationId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations/{annotationId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "insert": {
                            "flatPath": "books/v1/mylibrary/annotations",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.annotations.insert",
                            "parameterOrder": [],
                            "parameters": {
                                "annotationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "country": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "showOnlySummaryInResponse": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations",
                            "request": {
                                "$ref": "Annotation"
                            },
                            "response": {
                                "$ref": "Annotation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "list": {
                            "flatPath": "books/v1/mylibrary/annotations",
                            "httpMethod": "GET",
                            "id": "books.mylibrary.annotations.list",
                            "parameterOrder": [],
                            "parameters": {
                                "contentVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "layerId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "layerIds": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "maxResults": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "showDeleted": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "updatedMax": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "updatedMin": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations",
                            "response": {
                                "$ref": "Annotations"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "summary": {
                            "flatPath": "books/v1/mylibrary/annotations/summary",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.annotations.summary",
                            "parameterOrder": [],
                            "parameters": {
                                "layerIds": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations/summary",
                            "response": {
                                "$ref": "AnnotationsSummary"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "update": {
                            "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
                            "httpMethod": "PUT",
                            "id": "books.mylibrary.annotations.update",
                            "parameterOrder": [
                                "annotationId"
                            ],
                            "parameters": {
                                "annotationId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations/{annotationId}",
                            "request": {
                                "$ref": "Annotation"
                            },
                            "response": {
                                "$ref": "Annotation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                },
                "bookshelves": {
                    "methods": {
                        "addVolume": {
                            "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.bookshelves.addVolume",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "reason": {
                                    "enum": [
                                        "REASON_UNDEFINED",
                                        "IOS_PREX",
                                        "IOS_SEARCH",
                                        "ONBOARDING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "shelf": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "clearVolumes": {
                            "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.bookshelves.clearVolumes",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "shelf": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "get": {
                            "flatPath": "books/v1/mylibrary/bookshelves/{shelf}",
                            "httpMethod": "GET",
                            "id": "books.mylibrary.bookshelves.get",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "shelf": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}",
                            "response": {
                                "$ref": "Bookshelf"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "list": {
                            "flatPath": "books/v1/mylibrary/bookshelves",
                            "httpMethod": "GET",
                            "id": "books.mylibrary.bookshelves.list",
                            "parameterOrder": [],
                            "parameters": {
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves",
                            "response": {
                                "$ref": "Bookshelves"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "moveVolume": {
                            "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.bookshelves.moveVolume",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "shelf": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumePosition": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "removeVolume": {
                            "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.bookshelves.removeVolume",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "reason": {
                                    "enum": [
                                        "REASON_UNDEFINED",
                                        "ONBOARDING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "shelf": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    },
                    "resources": {
                        "volumes": {
                            "methods": {
                                "list": {
                                    "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                                    "httpMethod": "GET",
                                    "id": "books.mylibrary.bookshelves.volumes.list",
                                    "parameterOrder": [
                                        "shelf"
                                    ],
                                    "parameters": {
                                        "country": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "maxResults": {
                                            "format": "uint32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "projection": {
                                            "enum": [
                                                "PROJECTION_UNDEFINED",
                                                "FULL",
                                                "LITE"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "q": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "shelf": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "showPreorders": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "source": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "startIndex": {
                                            "format": "uint32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                                    "response": {
                                        "$ref": "Volumes"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/books"
                                    ]
                                }
                            }
                        }
                    }
                },
                "readingpositions": {
                    "methods": {
                        "get": {
                            "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}",
                            "httpMethod": "GET",
                            "id": "books.mylibrary.readingpositions.get",
                            "parameterOrder": [
                                "volumeId"
                            ],
                            "parameters": {
                                "contentVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/readingpositions/{volumeId}",
                            "response": {
                                "$ref": "ReadingPosition"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "setPosition": {
                            "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.readingpositions.setPosition",
                            "parameterOrder": [
                                "volumeId"
                            ],
                            "parameters": {
                                "action": {
                                    "enum": [
                                        "ACTION_UNDEFINED",
                                        "bookmark",
                                        "chapter",
                                        "next-page",
                                        "prev-page",
                                        "scroll",
                                        "search"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "contentVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "deviceCookie": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "position": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "timestamp": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                }
            }
        },
        "notification": {
            "methods": {
                "get": {
                    "flatPath": "books/v1/notification/get",
                    "httpMethod": "GET",
                    "id": "books.notification.get",
                    "parameterOrder": [],
                    "parameters": {
                        "locale": {
                            "location": "query",
                            "type": "string"
                        },
                        "notification_id": {
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/notification/get",
                    "response": {
                        "$ref": "Notification"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "onboarding": {
            "methods": {
                "listCategories": {
                    "flatPath": "books/v1/onboarding/listCategories",
                    "httpMethod": "GET",
                    "id": "books.onboarding.listCategories",
                    "parameterOrder": [],
                    "parameters": {
                        "locale": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/onboarding/listCategories",
                    "response": {
                        "$ref": "Category"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "listCategoryVolumes": {
                    "flatPath": "books/v1/onboarding/listCategoryVolumes",
                    "httpMethod": "GET",
                    "id": "books.onboarding.listCategoryVolumes",
                    "parameterOrder": [],
                    "parameters": {
                        "categoryId": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "locale": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxAllowedMaturityRating": {
                            "enum": [
                                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                                "MATURE",
                                "not-mature"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/onboarding/listCategoryVolumes",
                    "response": {
                        "$ref": "Volume2"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "personalizedstream": {
            "methods": {
                "get": {
                    "flatPath": "books/v1/personalizedstream/get",
                    "httpMethod": "GET",
                    "id": "books.personalizedstream.get",
                    "parameterOrder": [],
                    "parameters": {
                        "locale": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxAllowedMaturityRating": {
                            "enum": [
                                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                                "MATURE",
                                "not-mature"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/personalizedstream/get",
                    "response": {
                        "$ref": "Discoveryclusters"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "promooffer": {
            "methods": {
                "accept": {
                    "flatPath": "books/v1/promooffer/accept",
                    "httpMethod": "POST",
                    "id": "books.promooffer.accept",
                    "parameterOrder": [],
                    "parameters": {
                        "androidId": {
                            "location": "query",
                            "type": "string"
                        },
                        "device": {
                            "location": "query",
                            "type": "string"
                        },
                        "manufacturer": {
                            "location": "query",
                            "type": "string"
                        },
                        "model": {
                            "location": "query",
                            "type": "string"
                        },
                        "offerId": {
                            "location": "query",
                            "type": "string"
                        },
                        "product": {
                            "location": "query",
                            "type": "string"
                        },
                        "serial": {
                            "location": "query",
                            "type": "string"
                        },
                        "volumeId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/promooffer/accept",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "dismiss": {
                    "flatPath": "books/v1/promooffer/dismiss",
                    "httpMethod": "POST",
                    "id": "books.promooffer.dismiss",
                    "parameterOrder": [],
                    "parameters": {
                        "androidId": {
                            "location": "query",
                            "type": "string"
                        },
                        "device": {
                            "location": "query",
                            "type": "string"
                        },
                        "manufacturer": {
                            "location": "query",
                            "type": "string"
                        },
                        "model": {
                            "location": "query",
                            "type": "string"
                        },
                        "offerId": {
                            "location": "query",
                            "type": "string"
                        },
                        "product": {
                            "location": "query",
                            "type": "string"
                        },
                        "serial": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/promooffer/dismiss",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "get": {
                    "flatPath": "books/v1/promooffer/get",
                    "httpMethod": "GET",
                    "id": "books.promooffer.get",
                    "parameterOrder": [],
                    "parameters": {
                        "androidId": {
                            "location": "query",
                            "type": "string"
                        },
                        "device": {
                            "location": "query",
                            "type": "string"
                        },
                        "manufacturer": {
                            "location": "query",
                            "type": "string"
                        },
                        "model": {
                            "location": "query",
                            "type": "string"
                        },
                        "product": {
                            "location": "query",
                            "type": "string"
                        },
                        "serial": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/promooffer/get",
                    "response": {
                        "$ref": "Offers"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "series": {
            "methods": {
                "get": {
                    "flatPath": "books/v1/series/get",
                    "httpMethod": "GET",
                    "id": "books.series.get",
                    "parameterOrder": [],
                    "parameters": {
                        "series_id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/series/get",
                    "response": {
                        "$ref": "Series"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            },
            "resources": {
                "membership": {
                    "methods": {
                        "get": {
                            "flatPath": "books/v1/series/membership/get",
                            "httpMethod": "GET",
                            "id": "books.series.membership.get",
                            "parameterOrder": [],
                            "parameters": {
                                "page_size": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "page_token": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "series_id": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/series/membership/get",
                            "response": {
                                "$ref": "Seriesmembership"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                }
            }
        },
        "volumes": {
            "methods": {
                "get": {
                    "flatPath": "books/v1/volumes/{volumeId}",
                    "httpMethod": "GET",
                    "id": "books.volumes.get",
                    "parameterOrder": [
                        "volumeId"
                    ],
                    "parameters": {
                        "country": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeNonComicsSeries": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "partner": {
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "PROJECTION_UNDEFINED",
                                "FULL",
                                "LITE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "user_library_consistent_read": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "volumeId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/volumes/{volumeId}",
                    "response": {
                        "$ref": "Volume"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "list": {
                    "flatPath": "books/v1/volumes",
                    "httpMethod": "GET",
                    "id": "books.volumes.list",
                    "parameterOrder": [],
                    "parameters": {
                        "download": {
                            "enum": [
                                "DOWNLOAD_UNDEFINED",
                                "EPUB"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "filter": {
                            "enum": [
                                "FILTER_UNDEFINED",
                                "ebooks",
                                "free-ebooks",
                                "full",
                                "paid-ebooks",
                                "partial"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "langRestrict": {
                            "location": "query",
                            "type": "string"
                        },
                        "libraryRestrict": {
                            "enum": [
                                "LIBRARY_RESTRICT_UNDEFINED",
                                "my-library",
                                "no-restrict"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "maxAllowedMaturityRating": {
                            "enum": [
                                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                                "MATURE",
                                "not-mature"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "orderBy": {
                            "enum": [
                                "ORDER_BY_UNDEFINED",
                                "newest",
                                "relevance"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "partner": {
                            "location": "query",
                            "type": "string"
                        },
                        "printType": {
                            "enum": [
                                "PRINT_TYPE_UNDEFINED",
                                "ALL",
                                "BOOKS",
                                "MAGAZINES"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "PROJECTION_UNDEFINED",
                                "FULL",
                                "LITE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "showPreorders": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "source": {
                            "location": "query",
                            "type": "string"
                        },
                        "startIndex": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "books/v1/volumes",
                    "response": {
                        "$ref": "Volumes"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            },
            "resources": {
                "associated": {
                    "methods": {
                        "list": {
                            "flatPath": "books/v1/volumes/{volumeId}/associated",
                            "httpMethod": "GET",
                            "id": "books.volumes.associated.list",
                            "parameterOrder": [
                                "volumeId"
                            ],
                            "parameters": {
                                "association": {
                                    "enum": [
                                        "ASSOCIATION_UNDEFINED",
                                        "end-of-sample",
                                        "end-of-volume",
                                        "related-for-play"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "locale": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxAllowedMaturityRating": {
                                    "enum": [
                                        "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                                        "MATURE",
                                        "not-mature"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/{volumeId}/associated",
                            "response": {
                                "$ref": "Volumes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                },
                "mybooks": {
                    "methods": {
                        "list": {
                            "flatPath": "books/v1/volumes/mybooks",
                            "httpMethod": "GET",
                            "id": "books.volumes.mybooks.list",
                            "parameterOrder": [],
                            "parameters": {
                                "acquireMethod": {
                                    "enum": [
                                        "ACQUIRE_METHOD_UNDEFINED",
                                        "FAMILY_SHARED",
                                        "PREORDERED",
                                        "PREVIOUSLY_RENTED",
                                        "PUBLIC_DOMAIN",
                                        "PURCHASED",
                                        "RENTED",
                                        "SAMPLE",
                                        "UPLOADED"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "country": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "locale": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "processingState": {
                                    "enum": [
                                        "PROCESSING_STATE_UNDEFINED",
                                        "COMPLETED_FAILED",
                                        "COMPLETED_SUCCESS",
                                        "RUNNING"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "startIndex": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "books/v1/volumes/mybooks",
                            "response": {
                                "$ref": "Volumes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                },
                "recommended": {
                    "methods": {
                        "list": {
                            "flatPath": "books/v1/volumes/recommended",
                            "httpMethod": "GET",
                            "id": "books.volumes.recommended.list",
                            "parameterOrder": [],
                            "parameters": {
                                "locale": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxAllowedMaturityRating": {
                                    "enum": [
                                        "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                                        "MATURE",
                                        "not-mature"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/recommended",
                            "response": {
                                "$ref": "Volumes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "rate": {
                            "flatPath": "books/v1/volumes/recommended/rate",
                            "httpMethod": "POST",
                            "id": "books.volumes.recommended.rate",
                            "parameterOrder": [],
                            "parameters": {
                                "locale": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "rating": {
                                    "enum": [
                                        "RATING_UNDEFINED",
                                        "HAVE_IT",
                                        "NOT_INTERESTED"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/recommended/rate",
                            "response": {
                                "$ref": "BooksVolumesRecommendedRateResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                },
                "useruploaded": {
                    "methods": {
                        "list": {
                            "flatPath": "books/v1/volumes/useruploaded",
                            "httpMethod": "GET",
                            "id": "books.volumes.useruploaded.list",
                            "parameterOrder": [],
                            "parameters": {
                                "locale": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "processingState": {
                                    "enum": [
                                        "PROCESSING_STATE_UNDEFINED",
                                        "COMPLETED_FAILED",
                                        "COMPLETED_SUCCESS",
                                        "RUNNING"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "source": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "startIndex": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "volumeId": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/useruploaded",
                            "response": {
                                "$ref": "Volumes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Annotation": {
            "id": "Annotation",
            "properties": {
                "afterSelectedText": {
                    "type": "string"
                },
                "beforeSelectedText": {
                    "type": "string"
                },
                "clientVersionRanges": {
                    "properties": {
                        "cfiRange": {
                            "$ref": "BooksAnnotationsRange"
                        },
                        "contentVersion": {
                            "type": "string"
                        },
                        "gbImageRange": {
                            "$ref": "BooksAnnotationsRange"
                        },
                        "gbTextRange": {
                            "$ref": "BooksAnnotationsRange"
                        },
                        "imageCfiRange": {
                            "$ref": "BooksAnnotationsRange"
                        }
                    },
                    "type": "object"
                },
                "created": {
                    "type": "string"
                },
                "currentVersionRanges": {
                    "properties": {
                        "cfiRange": {
                            "$ref": "BooksAnnotationsRange"
                        },
                        "contentVersion": {
                            "type": "string"
                        },
                        "gbImageRange": {
                            "$ref": "BooksAnnotationsRange"
                        },
                        "gbTextRange": {
                            "$ref": "BooksAnnotationsRange"
                        },
                        "imageCfiRange": {
                            "$ref": "BooksAnnotationsRange"
                        }
                    },
                    "type": "object"
                },
                "data": {
                    "type": "string"
                },
                "deleted": {
                    "type": "boolean"
                },
                "highlightStyle": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "layerId": {
                    "type": "string"
                },
                "layerSummary": {
                    "properties": {
                        "allowedCharacterCount": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "limitType": {
                            "type": "string"
                        },
                        "remainingCharacterCount": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "pageIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "selectedText": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "updated": {
                    "type": "string"
                },
                "volumeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Annotations": {
            "id": "Annotations",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Annotation"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalItems": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AnnotationsSummary": {
            "id": "AnnotationsSummary",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "layers": {
                    "items": {
                        "properties": {
                            "allowedCharacterCount": {
                                "format": "int32",
                                "type": "integer"
                            },
                            "layerId": {
                                "type": "string"
                            },
                            "limitType": {
                                "type": "string"
                            },
                            "remainingCharacterCount": {
                                "format": "int32",
                                "type": "integer"
                            },
                            "updated": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Annotationsdata": {
            "id": "Annotationsdata",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "GeoAnnotationdata"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalItems": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BooksAnnotationsRange": {
            "id": "BooksAnnotationsRange",
            "properties": {
                "endOffset": {
                    "type": "string"
                },
                "endPosition": {
                    "type": "string"
                },
                "startOffset": {
                    "type": "string"
                },
                "startPosition": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BooksCloudloadingResource": {
            "id": "BooksCloudloadingResource",
            "properties": {
                "author": {
                    "type": "string"
                },
                "processingState": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "volumeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BooksVolumesRecommendedRateResponse": {
            "id": "BooksVolumesRecommendedRateResponse",
[...]
