{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/calendar": {},
                "https://www.googleapis.com/auth/calendar.acls": {},
                "https://www.googleapis.com/auth/calendar.acls.readonly": {},
                "https://www.googleapis.com/auth/calendar.app.created": {},
                "https://www.googleapis.com/auth/calendar.calendarlist": {},
                "https://www.googleapis.com/auth/calendar.calendarlist.readonly": {},
                "https://www.googleapis.com/auth/calendar.calendars": {},
                "https://www.googleapis.com/auth/calendar.calendars.readonly": {},
                "https://www.googleapis.com/auth/calendar.events": {},
                "https://www.googleapis.com/auth/calendar.events.freebusy": {},
                "https://www.googleapis.com/auth/calendar.events.owned": {},
                "https://www.googleapis.com/auth/calendar.events.owned.readonly": {},
                "https://www.googleapis.com/auth/calendar.events.public.readonly": {},
                "https://www.googleapis.com/auth/calendar.events.readonly": {},
                "https://www.googleapis.com/auth/calendar.readonly": {},
                "https://www.googleapis.com/auth/calendar.settings.readonly": {}
            }
        }
    },
    "basePath": "/calendar/v3/",
    "baseUrl": "https://www.googleapis.com/calendar/v3/",
    "batchPath": "batch/calendar/v3",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/calendar-16.png",
        "x32": "http://www.google.com/images/icons/product/calendar-32.png"
    },
    "id": "calendar:v3",
    "kind": "discovery#restDescription",
    "name": "calendar",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "acl": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "calendar.acl.delete",
                    "parameterOrder": [
                        "calendarId",
                        "ruleId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ruleId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.acls"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "calendar.acl.get",
                    "parameterOrder": [
                        "calendarId",
                        "ruleId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ruleId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "response": {
                        "$ref": "AclRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.acls",
                        "https://www.googleapis.com/auth/calendar.acls.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "calendar.acl.insert",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sendNotifications": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/acl",
                    "request": {
                        "$ref": "AclRule"
                    },
                    "response": {
                        "$ref": "AclRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.acls"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "calendar.acl.list",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl",
                    "response": {
                        "$ref": "Acl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.acls",
                        "https://www.googleapis.com/auth/calendar.acls.readonly"
                    ],
                    "supportsSubscription": true
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "calendar.acl.patch",
                    "parameterOrder": [
                        "calendarId",
                        "ruleId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ruleId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sendNotifications": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "request": {
                        "$ref": "AclRule"
                    },
                    "response": {
                        "$ref": "AclRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.acls"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "calendar.acl.update",
                    "parameterOrder": [
                        "calendarId",
                        "ruleId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ruleId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sendNotifications": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "request": {
                        "$ref": "AclRule"
                    },
                    "response": {
                        "$ref": "AclRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.acls"
                    ]
                },
                "watch": {
                    "httpMethod": "POST",
                    "id": "calendar.acl.watch",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.acls",
                        "https://www.googleapis.com/auth/calendar.acls.readonly"
                    ],
                    "supportsSubscription": true
                }
            }
        },
        "calendarList": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "calendar.calendarList.delete",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/me/calendarList/{calendarId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendarlist"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "calendar.calendarList.get",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/me/calendarList/{calendarId}",
                    "response": {
                        "$ref": "CalendarListEntry"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendarlist",
                        "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "calendar.calendarList.insert",
                    "parameters": {
                        "colorRgbFormat": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "users/me/calendarList",
                    "request": {
                        "$ref": "CalendarListEntry"
                    },
                    "response": {
                        "$ref": "CalendarListEntry"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.calendarlist"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "calendar.calendarList.list",
                    "parameters": {
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "minAccessRole": {
                            "enum": [
                                "freeBusyReader",
                                "owner",
                                "reader",
                                "writer"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHidden": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/me/calendarList",
                    "response": {
                        "$ref": "CalendarList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.calendarlist",
                        "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "calendar.calendarList.patch",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "colorRgbFormat": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "users/me/calendarList/{calendarId}",
                    "request": {
                        "$ref": "CalendarListEntry"
                    },
                    "response": {
                        "$ref": "CalendarListEntry"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendarlist"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "calendar.calendarList.update",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "colorRgbFormat": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "users/me/calendarList/{calendarId}",
                    "request": {
                        "$ref": "CalendarListEntry"
                    },
                    "response": {
                        "$ref": "CalendarListEntry"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendarlist"
                    ]
                },
                "watch": {
                    "httpMethod": "POST",
                    "id": "calendar.calendarList.watch",
                    "parameters": {
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "minAccessRole": {
                            "enum": [
                                "freeBusyReader",
                                "owner",
                                "reader",
                                "writer"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHidden": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/me/calendarList/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.calendarlist",
                        "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                }
            }
        },
        "calendars": {
            "methods": {
                "clear": {
                    "httpMethod": "POST",
                    "id": "calendar.calendars.clear",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/clear",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.calendars"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "calendar.calendars.delete",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendars"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "calendar.calendars.get",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}",
                    "response": {
                        "$ref": "Calendar"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendars",
                        "https://www.googleapis.com/auth/calendar.calendars.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "calendar.calendars.insert",
                    "path": "calendars",
                    "request": {
                        "$ref": "Calendar"
                    },
                    "response": {
                        "$ref": "Calendar"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.calendars"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "calendar.calendars.patch",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}",
                    "request": {
                        "$ref": "Calendar"
                    },
                    "response": {
                        "$ref": "Calendar"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendars"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "calendar.calendars.update",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}",
                    "request": {
                        "$ref": "Calendar"
                    },
                    "response": {
                        "$ref": "Calendar"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendars"
                    ]
                }
            }
        },
        "channels": {
            "methods": {
                "stop": {
                    "httpMethod": "POST",
                    "id": "calendar.channels.stop",
                    "path": "channels/stop",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.acls",
                        "https://www.googleapis.com/auth/calendar.acls.readonly",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendarlist",
                        "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.freebusy",
                        "https://www.googleapis.com/auth/calendar.events.owned",
                        "https://www.googleapis.com/auth/calendar.events.owned.readonly",
                        "https://www.googleapis.com/auth/calendar.events.public.readonly",
                        "https://www.googleapis.com/auth/calendar.events.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly",
                        "https://www.googleapis.com/auth/calendar.settings.readonly"
                    ]
                }
            }
        },
        "colors": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "calendar.colors.get",
                    "path": "colors",
                    "response": {
                        "$ref": "Colors"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.calendarlist",
                        "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
                        "https://www.googleapis.com/auth/calendar.events.freebusy",
                        "https://www.googleapis.com/auth/calendar.events.owned",
                        "https://www.googleapis.com/auth/calendar.events.owned.readonly",
                        "https://www.googleapis.com/auth/calendar.events.public.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                }
            }
        },
        "events": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "calendar.events.delete",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sendNotifications": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "sendUpdates": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.owned"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "calendar.events.get",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxAttendees": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "timeZone": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}",
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.freebusy",
                        "https://www.googleapis.com/auth/calendar.events.owned",
                        "https://www.googleapis.com/auth/calendar.events.owned.readonly",
                        "https://www.googleapis.com/auth/calendar.events.public.readonly",
                        "https://www.googleapis.com/auth/calendar.events.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                },
                "import": {
                    "httpMethod": "POST",
                    "id": "calendar.events.import",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "conferenceDataVersion": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "1",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "supportsAttachments": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events/import",
                    "request": {
                        "$ref": "Event"
                    },
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.owned"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "calendar.events.insert",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "conferenceDataVersion": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "1",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "maxAttendees": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "sendNotifications": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "sendUpdates": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAttachments": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events",
                    "request": {
                        "$ref": "Event"
                    },
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.owned"
                    ]
                },
                "instances": {
                    "httpMethod": "GET",
                    "id": "calendar.events.instances",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxAttendees": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "originalStart": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "timeMax": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeMin": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeZone": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}/instances",
                    "response": {
                        "$ref": "Events"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.freebusy",
                        "https://www.googleapis.com/auth/calendar.events.owned",
                        "https://www.googleapis.com/auth/calendar.events.owned.readonly",
                        "https://www.googleapis.com/auth/calendar.events.public.readonly",
                        "https://www.googleapis.com/auth/calendar.events.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "calendar.events.list",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "iCalUID": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxAttendees": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "maxResults": {
                            "default": "250",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orderBy": {
                            "enum": [
                                "startTime",
                                "updated"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "privateExtendedProperty": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "sharedExtendedProperty": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHiddenInvitations": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "singleEvents": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "timeMax": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeMin": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeZone": {
                            "location": "query",
                            "type": "string"
                        },
                        "updatedMin": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events",
                    "response": {
                        "$ref": "Events"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.freebusy",
                        "https://www.googleapis.com/auth/calendar.events.owned",
                        "https://www.googleapis.com/auth/calendar.events.owned.readonly",
                        "https://www.googleapis.com/auth/calendar.events.public.readonly",
                        "https://www.googleapis.com/auth/calendar.events.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                },
                "move": {
                    "httpMethod": "POST",
                    "id": "calendar.events.move",
                    "parameterOrder": [
                        "calendarId",
                        "eventId",
                        "destination"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "destination": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sendNotifications": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "sendUpdates": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}/move",
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.owned"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "calendar.events.patch",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "conferenceDataVersion": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "1",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxAttendees": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "sendNotifications": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "sendUpdates": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAttachments": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}",
                    "request": {
                        "$ref": "Event"
                    },
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.owned"
                    ]
                },
                "quickAdd": {
                    "httpMethod": "POST",
                    "id": "calendar.events.quickAdd",
                    "parameterOrder": [
                        "calendarId",
                        "text"
                    ],
                    "parameters": {
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sendNotifications": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "sendUpdates": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "text": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/quickAdd",
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.owned"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "calendar.events.update",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "conferenceDataVersion": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "1",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxAttendees": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "sendNotifications": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "sendUpdates": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAttachments": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}",
                    "request": {
                        "$ref": "Event"
                    },
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.owned"
                    ]
                },
                "watch": {
                    "httpMethod": "POST",
                    "id": "calendar.events.watch",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "iCalUID": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxAttendees": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "maxResults": {
                            "default": "250",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orderBy": {
                            "enum": [
                                "startTime",
                                "updated"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "privateExtendedProperty": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "sharedExtendedProperty": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHiddenInvitations": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "singleEvents": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "timeMax": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeMin": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeZone": {
                            "location": "query",
                            "type": "string"
                        },
                        "updatedMin": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.app.created",
                        "https://www.googleapis.com/auth/calendar.events",
                        "https://www.googleapis.com/auth/calendar.events.freebusy",
                        "https://www.googleapis.com/auth/calendar.events.owned",
                        "https://www.googleapis.com/auth/calendar.events.owned.readonly",
                        "https://www.googleapis.com/auth/calendar.events.public.readonly",
                        "https://www.googleapis.com/auth/calendar.events.readonly",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                }
            }
        },
        "freebusy": {
            "methods": {
                "query": {
                    "httpMethod": "POST",
                    "id": "calendar.freebusy.query",
                    "path": "freeBusy",
                    "request": {
                        "$ref": "FreeBusyRequest"
                    },
                    "response": {
                        "$ref": "FreeBusyResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.events.freebusy",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                }
            }
        },
        "settings": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "calendar.settings.get",
                    "parameterOrder": [
                        "setting"
                    ],
                    "parameters": {
                        "setting": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/me/settings/{setting}",
                    "response": {
                        "$ref": "Setting"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly",
                        "https://www.googleapis.com/auth/calendar.settings.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "calendar.settings.list",
                    "parameters": {
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/me/settings",
                    "response": {
                        "$ref": "Settings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly",
                        "https://www.googleapis.com/auth/calendar.settings.readonly"
                    ],
                    "supportsSubscription": true
                },
                "watch": {
                    "httpMethod": "POST",
                    "id": "calendar.settings.watch",
                    "parameters": {
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/me/settings/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly",
                        "https://www.googleapis.com/auth/calendar.settings.readonly"
                    ],
                    "supportsSubscription": true
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Acl": {
            "id": "Acl",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "AclRule"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "calendar#acl",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "nextSyncToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AclRule": {
            "id": "AclRule",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "calendar#aclRule",
                    "type": "string"
                },
                "role": {
                    "annotations": {
                        "required": [
                            "calendar.acl.insert"
                        ]
                    },
                    "type": "string"
                },
                "scope": {
                    "annotations": {
                        "required": [
                            "calendar.acl.insert",
                            "calendar.acl.update"
                        ]
                    },
                    "properties": {
                        "type": {
                            "annotations": {
                                "required": [
                                    "calendar.acl.insert",
                                    "calendar.acl.update"
                                ]
                            },
                            "type": "string"
                        },
                        "value": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Calendar": {
            "id": "Calendar",
            "properties": {
                "conferenceProperties": {
                    "$ref": "ConferenceProperties"
                },
                "etag": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "calendar#calendar",
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "summary": {
                    "annotations": {
                        "required": [
                            "calendar.calendars.insert"
                        ]
                    },
                    "type": "string"
                },
                "timeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CalendarList": {
            "id": "CalendarList",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "CalendarListEntry"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "calendar#calendarList",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "nextSyncToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CalendarListEntry": {
            "id": "CalendarListEntry",
            "properties": {
                "accessRole": {
                    "type": "string"
                },
                "backgroundColor": {
                    "type": "string"
                },
                "colorId": {
                    "type": "string"
                },
                "conferenceProperties": {
                    "$ref": "ConferenceProperties"
                },
                "defaultReminders": {
                    "items": {
                        "$ref": "EventReminder"
                    },
                    "type": "array"
                },
                "deleted": {
                    "default": "false",
                    "type": "boolean"
                },
                "etag": {
                    "type": "string"
                },
                "foregroundColor": {
                    "type": "string"
                },
                "hidden": {
                    "default": "false",
                    "type": "boolean"
                },
                "id": {
                    "annotations": {
                        "required": [
                            "calendar.calendarList.insert"
                        ]
                    },
                    "type": "string"
                },
                "kind": {
                    "default": "calendar#calendarListEntry",
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "notificationSettings": {
                    "properties": {
                        "notifications": {
                            "items": {
                                "$ref": "CalendarNotification"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "primary": {
                    "default": "false",
                    "type": "boolean"
                },
                "selected": {
                    "default": "false",
                    "type": "boolean"
                },
                "summary": {
                    "type": "string"
                },
                "summaryOverride": {
                    "type": "string"
                },
                "timeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CalendarNotification": {
            "id": "CalendarNotification",
            "properties": {
                "method": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Channel": {
            "id": "Channel",
            "properties": {
                "address": {
                    "type": "string"
                },
                "expiration": {
                    "format": "int64",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "api#channel",
                    "type": "string"
                },
                "params": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "payload": {
                    "type": "boolean"
                },
                "resourceId": {
                    "type": "string"
                },
                "resourceUri": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ColorDefinition": {
            "id": "ColorDefinition",
            "properties": {
                "background": {
                    "type": "string"
                },
                "foreground": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Colors": {
            "id": "Colors",
            "properties": {
                "calendar": {
                    "additionalProperties": {
                        "$ref": "ColorDefinition"
                    },
                    "type": "object"
                },
                "event": {
                    "additionalProperties": {
                        "$ref": "ColorDefinition"
                    },
                    "type": "object"
                },
                "kind": {
                    "default": "calendar#colors",
                    "type": "string"
                },
                "updated": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConferenceData": {
            "id": "ConferenceData",
            "properties": {
                "conferenceId": {
                    "type": "string"
                },
                "conferenceSolution": {
                    "$ref": "ConferenceSolution"
                },
                "createRequest": {
                    "$ref": "CreateConferenceRequest"
                },
                "entryPoints": {
                    "items": {
                        "$ref": "EntryPoint"
                    },
                    "type": "array"
                },
                "notes": {
                    "type": "string"
                },
                "parameters": {
                    "$ref": "ConferenceParameters"
                },
                "signature": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConferenceParameters": {
            "id": "ConferenceParameters",
            "properties": {
                "addOnParameters": {
                    "$ref": "ConferenceParametersAddOnParameters"
                }
            },
            "type": "object"
        },
        "ConferenceParametersAddOnParameters": {
            "id": "ConferenceParametersAddOnParameters",
            "properties": {
                "parameters": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ConferenceProperties": {
            "id": "ConferenceProperties",
            "properties": {
                "allowedConferenceSolutionTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ConferenceRequestStatus": {
            "id": "ConferenceRequestStatus",
            "properties": {
                "statusCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConferenceSolution": {
            "id": "ConferenceSolution",
            "properties": {
                "iconUri": {
                    "type": "string"
                },
                "key": {
                    "$ref": "ConferenceSolutionKey"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConferenceSolutionKey": {
            "id": "ConferenceSolutionKey",
            "properties": {
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateConferenceRequest": {
            "id": "CreateConferenceRequest",
            "properties": {
                "conferenceSolutionKey": {
                    "$ref": "ConferenceSolutionKey"
                },
                "requestId": {
                    "type": "string"
                },
                "status": {
                    "$ref": "ConferenceRequestStatus"
                }
            },
            "type": "object"
        },
        "EntryPoint": {
            "id": "EntryPoint",
            "properties": {
                "accessCode": {
                    "type": "string"
                },
                "entryPointFeatures": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "entryPointType": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                },
                "meetingCode": {
                    "type": "string"
                },
                "passcode": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "pin": {
                    "type": "string"
                },
                "regionCode": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Error": {
            "id": "Error",
            "properties": {
                "domain": {
                    "type": "string"
                },
                "reason": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Event": {
            "id": "Event",
            "properties": {
                "anyoneCanAddSelf": {
                    "default": "false",
                    "type": "boolean"
                },
                "attachments": {
                    "items": {
                        "$ref": "EventAttachment"
                    },
                    "type": "array"
                },
                "attendees": {
                    "items": {
                        "$ref": "EventAttendee"
                    },
                    "type": "array"
                },
                "attendeesOmitted": {
                    "default": "false",
                    "type": "boolean"
                },
                "colorId": {
                    "type": "string"
                },
                "conferenceData": {
                    "$ref": "ConferenceData"
                },
                "created": {
                    "format": "date-time",
                    "type": "string"
                },
                "creator": {
                    "properties": {
                        "displayName": {
                            "type": "string"
                        },
                        "email": {
                            "type": "string"
                        },
                        "id": {
                            "type": "string"
                        },
                        "self": {
                            "default": "false",
                            "type": "boolean"
                        }
                    },
                    "type": "object"
                },
                "end": {
                    "$ref": "EventDateTime",
                    "annotations": {
                        "required": [
                            "calendar.events.import",
                            "calendar.events.insert",
                            "calendar.events.update"
                        ]
                    }
                },
                "endTimeUnspecified": {
                    "default": "false",
                    "type": "boolean"
                },
                "etag": {
                    "type": "string"
                },
                "extendedProperties": {
                    "properties": {
                        "private": {
                            "additionalProperties": {
                                "type": "string"
                            },
                            "type": "object"
                        },
                        "shared": {
                            "additionalProperties": {
                                "type": "string"
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                },
                "gadget": {
                    "properties": {
                        "display": {
                            "type": "string"
                        },
                        "height": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "iconLink": {
                            "type": "string"
                        },
                        "link": {
                            "type": "string"
                        },
                        "preferences": {
                            "additionalProperties": {
                                "type": "string"
                            },
                            "type": "object"
                        },
                        "title": {
                            "type": "string"
                        },
                        "type": {
                            "type": "string"
                        },
                        "width": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "guestsCanInviteOthers": {
                    "default": "true",
                    "type": "boolean"
                },
                "guestsCanModify": {
                    "default": "false",
                    "type": "boolean"
                },
                "guestsCanSeeOtherGuests": {
                    "default": "true",
                    "type": "boolean"
                },
                "hangoutLink": {
                    "type": "string"
                },
                "htmlLink": {
                    "type": "string"
                },
                "iCalUID": {
                    "annotations": {
                        "required": [
                            "calendar.events.import"
                        ]
                    },
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "calendar#event",
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "locked": {
                    "default": "false",
                    "type": "boolean"
                },
                "organizer": {
                    "properties": {
                        "displayName": {
                            "type": "string"
                        },
                        "email": {
                            "type": "string"
                        },
                        "id": {
                            "type": "string"
                        },
                        "self": {
                            "default": "false",
                            "type": "boolean"
                        }
                    },
                    "type": "object"
                },
                "originalStartTime": {
                    "$ref": "EventDateTime"
                },
                "privateCopy": {
                    "default": "false",
                    "type": "boolean"
                },
                "recurrence": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "recurringEventId": {
                    "type": "string"
                },
                "reminders": {
                    "properties": {
                        "overrides": {
                            "items": {
                                "$ref": "EventReminder"
                            },
                            "type": "array"
                        },
                        "useDefault": {
                            "type": "boolean"
                        }
                    },
                    "type": "object"
                },
                "sequence": {
                    "format": "int32",
                    "type": "integer"
                },
                "source": {
                    "properties": {
                        "title": {
                            "type": "string"
                        },
                        "url": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "start": {
                    "$ref": "EventDateTime",
                    "annotations": {
                        "required": [
                            "calendar.events.import",
                            "calendar.events.insert",
                            "calendar.events.update"
                        ]
                    }
                },
                "status": {
                    "type": "string"
                },
                "summary": {
                    "type": "string"
                },
                "transparency": {
                    "default": "opaque",
                    "type": "string"
                },
                "updated": {
                    "format": "date-time",
                    "type": "string"
                },
                "visibility": {
                    "default": "default",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventAttachment": {
            "id": "EventAttachment",
            "properties": {
                "fileId": {
                    "type": "string"
                },
                "fileUrl": {
                    "type": "string"
                },
                "iconLink": {
                    "type": "string"
                },
                "mimeType": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventAttendee": {
            "id": "EventAttendee",
            "properties": {
                "additionalGuests": {
                    "default": "0",
                    "format": "int32",
                    "type": "integer"
                },
                "comment": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "optional": {
                    "default": "false",
                    "type": "boolean"
                },
                "organizer": {
                    "type": "boolean"
                },
                "resource": {
                    "default": "false",
                    "type": "boolean"
                },
                "responseStatus": {
                    "type": "string"
                },
                "self": {
                    "default": "false",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "EventDateTime": {
            "id": "EventDateTime",
            "properties": {
                "date": {
                    "format": "date",
                    "type": "string"
                },
                "dateTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "timeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventReminder": {
            "id": "EventReminder",
            "properties": {
                "method": {
                    "type": "string"
                },
                "minutes": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Events": {
            "id": "Events",
            "properties": {
                "accessRole": {
                    "type": "string"
                },
                "defaultReminders": {
                    "items": {
                        "$ref": "EventReminder"
                    },
                    "type": "array"
                },
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "Event"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "calendar#events",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "nextSyncToken": {
                    "type": "string"
                },
                "summary": {
                    "type": "string"
                },
                "timeZone": {
                    "type": "string"
                },
                "updated": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FreeBusyCalendar": {
            "id": "FreeBusyCalendar",
            "properties": {
                "busy": {
                    "items": {
                        "$ref": "TimePeriod"
                    },
                    "type": "array"
                },
                "errors": {
                    "items": {
                        "$ref": "Error"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "FreeBusyGroup": {
            "id": "FreeBusyGroup",
            "properties": {
                "calendars": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "errors": {
                    "items": {
                        "$ref": "Error"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "FreeBusyRequest": {
            "id": "FreeBusyRequest",
            "properties": {
                "calendarExpansionMax": {
                    "format": "int32",
                    "type": "integer"
                },
                "groupExpansionMax": {
                    "format": "int32",
                    "type": "integer"
                },
                "items": {
                    "items": {
                        "$ref": "FreeBusyRequestItem"
                    },
                    "type": "array"
                },
                "timeMax": {
                    "format": "date-time",
                    "type": "string"
                },
                "timeMin": {
                    "format": "date-time",
                    "type": "string"
                },
                "timeZone": {
                    "default": "UTC",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FreeBusyRequestItem": {
            "id": "FreeBusyRequestItem",
            "properties": {
                "id": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FreeBusyResponse": {
            "id": "FreeBusyResponse",
            "properties": {
                "calendars": {
                    "additionalProperties": {
                        "$ref": "FreeBusyCalendar"
                    },
                    "type": "object"
                },
                "groups": {
                    "additionalProperties": {
                        "$ref": "FreeBusyGroup"
                    },
                    "type": "object"
                },
                "kind": {
                    "default": "calendar#freeBusy",
                    "type": "string"
                },
                "timeMax": {
                    "format": "date-time",
                    "type": "string"
                },
                "timeMin": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Setting": {
            "id": "Setting",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "calendar#setting",
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Settings": {
            "id": "Settings",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "Setting"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "calendar#settings",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "nextSyncToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TimePeriod": {
            "id": "TimePeriod",
            "properties": {
                "end": {
                    "format": "date-time",
                    "type": "string"
                },
                "start": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "calendar/v3/",
    "title": "Calendar API",
    "version": "v3"
}