{
    "basePath": "",
    "baseUrl": "https://civicinfo.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Civic Info",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/civic-information/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "civicinfo:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
    "name": "civicinfo",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "divisions": {
            "methods": {
                "search": {
                    "flatPath": "civicinfo/v2/divisions",
                    "httpMethod": "GET",
                    "id": "civicinfo.divisions.search",
                    "parameterOrder": [],
                    "parameters": {
                        "query": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "civicinfo/v2/divisions",
                    "response": {
                        "$ref": "DivisionSearchResponse"
                    }
                }
            }
        },
        "elections": {
            "methods": {
                "electionQuery": {
                    "flatPath": "civicinfo/v2/elections",
                    "httpMethod": "GET",
                    "id": "civicinfo.elections.electionQuery",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "civicinfo/v2/elections",
                    "response": {
                        "$ref": "ElectionsQueryResponse"
                    }
                },
                "voterInfoQuery": {
                    "flatPath": "civicinfo/v2/voterinfo",
                    "httpMethod": "GET",
                    "id": "civicinfo.elections.voterInfoQuery",
                    "parameterOrder": [
                        "address"
                    ],
                    "parameters": {
                        "address": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "electionId": {
                            "default": "0",
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "officialOnly": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "returnAllAvailableData": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "civicinfo/v2/voterinfo",
                    "response": {
                        "$ref": "VoterInfoResponse"
                    }
                }
            }
        },
        "representatives": {
            "methods": {
                "representativeInfoByAddress": {
                    "flatPath": "civicinfo/v2/representatives",
                    "httpMethod": "GET",
                    "id": "civicinfo.representatives.representativeInfoByAddress",
                    "parameterOrder": [],
                    "parameters": {
                        "address": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeOffices": {
                            "default": "true",
                            "location": "query",
                            "type": "boolean"
                        },
                        "levels": {
                            "enum": [
                                "international",
                                "country",
                                "administrativeArea1",
                                "regional",
                                "administrativeArea2",
                                "locality",
                                "subLocality1",
                                "subLocality2",
                                "special"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "roles": {
                            "enum": [
                                "headOfState",
                                "headOfGovernment",
                                "deputyHeadOfGovernment",
                                "governmentOfficer",
                                "executiveCouncil",
                                "legislatorUpperBody",
                                "legislatorLowerBody",
                                "highestCourtJudge",
                                "judge",
                                "schoolBoard",
                                "specialPurposeOfficer"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "civicinfo/v2/representatives",
                    "response": {
                        "$ref": "RepresentativeInfoResponse"
                    }
                },
                "representativeInfoByDivision": {
                    "flatPath": "civicinfo/v2/representatives/{ocdId}",
                    "httpMethod": "GET",
                    "id": "civicinfo.representatives.representativeInfoByDivision",
                    "parameterOrder": [
                        "ocdId"
                    ],
                    "parameters": {
                        "levels": {
                            "enum": [
                                "international",
                                "country",
                                "administrativeArea1",
                                "regional",
                                "administrativeArea2",
                                "locality",
                                "subLocality1",
                                "subLocality2",
                                "special"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "ocdId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "recursive": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "roles": {
                            "enum": [
                                "headOfState",
                                "headOfGovernment",
                                "deputyHeadOfGovernment",
                                "governmentOfficer",
                                "executiveCouncil",
                                "legislatorUpperBody",
                                "legislatorLowerBody",
                                "highestCourtJudge",
                                "judge",
                                "schoolBoard",
                                "specialPurposeOfficer"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "civicinfo/v2/representatives/{ocdId}",
                    "response": {
                        "$ref": "RepresentativeInfoData"
                    }
                }
            }
        }
    },
    "rootUrl": "https://civicinfo.googleapis.com/",
    "schemas": {
        "AdministrationRegion": {
            "id": "AdministrationRegion",
            "properties": {
                "electionAdministrationBody": {
                    "$ref": "AdministrativeBody"
                },
                "id": {
                    "type": "string"
                },
                "local_jurisdiction": {
                    "$ref": "AdministrationRegion"
                },
                "name": {
                    "type": "string"
                },
                "sources": {
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AdministrativeBody": {
            "id": "AdministrativeBody",
            "properties": {
                "absenteeVotingInfoUrl": {
                    "type": "string"
                },
                "ballotInfoUrl": {
                    "type": "string"
                },
                "correspondenceAddress": {
                    "$ref": "SimpleAddressType"
                },
                "electionInfoUrl": {
                    "type": "string"
                },
                "electionOfficials": {
                    "items": {
                        "$ref": "ElectionOfficial"
                    },
                    "type": "array"
                },
                "electionRegistrationConfirmationUrl": {
                    "type": "string"
                },
                "electionRegistrationUrl": {
                    "type": "string"
                },
                "electionRulesUrl": {
                    "type": "string"
                },
                "hoursOfOperation": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "physicalAddress": {
                    "$ref": "SimpleAddressType"
                },
                "voter_services": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "votingLocationFinderUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Candidate": {
            "id": "Candidate",
            "properties": {
                "candidateUrl": {
                    "type": "string"
                },
                "channels": {
                    "items": {
                        "$ref": "Channel"
                    },
                    "type": "array"
                },
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "orderOnBallot": {
                    "format": "int64",
                    "type": "string"
                },
                "party": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "photoUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Channel": {
            "id": "Channel",
            "properties": {
                "id": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Contest": {
            "id": "Contest",
            "properties": {
                "ballotPlacement": {
                    "format": "int64",
                    "type": "string"
                },
                "ballotTitle": {
                    "type": "string"
                },
                "candidates": {
                    "items": {
                        "$ref": "Candidate"
                    },
                    "type": "array"
                },
                "district": {
                    "$ref": "ElectoralDistrict"
                },
                "electorateSpecifications": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "level": {
                    "items": {
                        "enum": [
                            "international",
                            "country",
                            "administrativeArea1",
                            "regional",
                            "administrativeArea2",
                            "locality",
                            "subLocality1",
                            "subLocality2",
                            "special"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "numberElected": {
                    "format": "int64",
                    "type": "string"
                },
                "numberVotingFor": {
                    "format": "int64",
                    "type": "string"
                },
                "office": {
                    "type": "string"
                },
                "primaryParty": {
                    "type": "string"
                },
                "referendumBallotResponses": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "referendumBrief": {
                    "type": "string"
                },
                "referendumConStatement": {
                    "type": "string"
                },
                "referendumEffectOfAbstain": {
                    "type": "string"
                },
                "referendumPassageThreshold": {
                    "type": "string"
                },
                "referendumProStatement": {
                    "type": "string"
                },
                "referendumSubtitle": {
                    "type": "string"
                },
                "referendumText": {
                    "type": "string"
                },
                "referendumTitle": {
                    "type": "string"
                },
                "referendumUrl": {
                    "type": "string"
                },
                "roles": {
                    "items": {
                        "enum": [
                            "headOfState",
                            "headOfGovernment",
                            "deputyHeadOfGovernment",
                            "governmentOfficer",
                            "executiveCouncil",
                            "legislatorUpperBody",
                            "legislatorLowerBody",
                            "highestCourtJudge",
                            "judge",
                            "schoolBoard",
                            "specialPurposeOfficer"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "sources": {
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                },
                "special": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DivisionSearchResponse": {
            "id": "DivisionSearchResponse",
            "properties": {
                "kind": {
                    "default": "civicinfo#divisionSearchResponse",
                    "type": "string"
                },
                "results": {
                    "items": {
                        "$ref": "DivisionSearchResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DivisionSearchResult": {
            "id": "DivisionSearchResult",
            "properties": {
                "aliases": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "ocdId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Election": {
            "id": "Election",
            "properties": {
                "electionDay": {
                    "type": "string"
                },
                "id": {
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "ocdDivisionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ElectionOfficial": {
            "id": "ElectionOfficial",
            "properties": {
                "emailAddress": {
                    "type": "string"
                },
                "faxNumber": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "officePhoneNumber": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ElectionsQueryResponse": {
            "id": "ElectionsQueryResponse",
            "properties": {
                "elections": {
                    "items": {
                        "$ref": "Election"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "civicinfo#electionsQueryResponse",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ElectoralDistrict": {
            "id": "ElectoralDistrict",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "scope": {
                    "enum": [
                        "statewide",
                        "congressional",
                        "stateUpper",
                        "stateLower",
                        "countywide",
                        "judicial",
                        "schoolBoard",
                        "citywide",
                        "special",
                        "countyCouncil",
                        "township",
                        "ward",
                        "cityCouncil",
                        "national"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GeographicDivision": {
            "id": "GeographicDivision",
            "properties": {
                "alsoKnownAs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "officeIndices": {
                    "items": {
                        "format": "uint32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Office": {
            "id": "Office",
            "properties": {
                "divisionId": {
                    "type": "string"
                },
                "levels": {
                    "items": {
                        "enum": [
                            "international",
                            "country",
                            "administrativeArea1",
                            "regional",
                            "administrativeArea2",
                            "locality",
                            "subLocality1",
                            "subLocality2",
                            "special"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "officialIndices": {
                    "items": {
                        "format": "uint32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "roles": {
                    "items": {
                        "enum": [
                            "headOfState",
                            "headOfGovernment",
                            "deputyHeadOfGovernment",
                            "governmentOfficer",
                            "executiveCouncil",
                            "legislatorUpperBody",
                            "legislatorLowerBody",
                            "highestCourtJudge",
                            "judge",
                            "schoolBoard",
                            "specialPurposeOfficer"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "sources": {
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Official": {
            "id": "Official",
            "properties": {
                "address": {
                    "items": {
                        "$ref": "SimpleAddressType"
                    },
                    "type": "array"
                },
                "channels": {
                    "items": {
                        "$ref": "Channel"
                    },
                    "type": "array"
                },
                "emails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "party": {
                    "type": "string"
                },
                "phones": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "photoUrl": {
                    "type": "string"
                },
                "urls": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PollingLocation": {
            "id": "PollingLocation",
            "properties": {
                "address": {
                    "$ref": "SimpleAddressType"
                },
                "endDate": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "latitude": {
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "format": "double",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "notes": {
                    "type": "string"
                },
                "pollingHours": {
                    "type": "string"
                },
                "sources": {
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                },
                "startDate": {
                    "type": "string"
                },
                "voterServices": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RepresentativeInfoData": {
            "id": "RepresentativeInfoData",
            "properties": {
                "divisions": {
                    "additionalProperties": {
                        "$ref": "GeographicDivision"
                    },
                    "type": "object"
                },
                "offices": {
                    "items": {
                        "$ref": "Office"
                    },
                    "type": "array"
                },
                "officials": {
                    "items": {
                        "$ref": "Official"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RepresentativeInfoResponse": {
            "id": "RepresentativeInfoResponse",
            "properties": {
                "divisions": {
                    "additionalProperties": {
                        "$ref": "GeographicDivision"
                    },
                    "type": "object"
                },
                "kind": {
                    "default": "civicinfo#representativeInfoResponse",
                    "type": "string"
                },
                "normalizedInput": {
                    "$ref": "SimpleAddressType"
                },
                "offices": {
                    "items": {
                        "$ref": "Office"
                    },
                    "type": "array"
                },
                "officials": {
                    "items": {
                        "$ref": "Official"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SimpleAddressType": {
            "id": "SimpleAddressType",
            "properties": {
                "city": {
                    "type": "string"
                },
                "line1": {
                    "type": "string"
                },
                "line2": {
                    "type": "string"
                },
                "line3": {
                    "type": "string"
                },
                "locationName": {
                    "type": "string"
                },
                "state": {
                    "type": "string"
                },
                "zip": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Source": {
            "id": "Source",
            "properties": {
                "name": {
                    "type": "string"
                },
                "official": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "VoterInfoResponse": {
            "id": "VoterInfoResponse",
            "properties": {
                "contests": {
                    "items": {
                        "$ref": "Contest"
                    },
                    "type": "array"
                },
                "dropOffLocations": {
                    "items": {
                        "$ref": "PollingLocation"
                    },
                    "type": "array"
                },
                "earlyVoteSites": {
                    "items": {
                        "$ref": "PollingLocation"
                    },
                    "type": "array"
                },
                "election": {
                    "$ref": "Election"
                },
                "kind": {
                    "default": "civicinfo#voterInfoResponse",
                    "type": "string"
                },
                "mailOnly": {
                    "type": "boolean"
                },
                "normalizedInput": {
                    "$ref": "SimpleAddressType"
                },
                "otherElections": {
                    "items": {
                        "$ref": "Election"
                    },
                    "type": "array"
                },
                "pollingLocations": {
                    "items": {
                        "$ref": "PollingLocation"
                    },
                    "type": "array"
                },
                "precinctId": {
                    "type": "string"
                },
                "state": {
                    "items": {
                        "$ref": "AdministrationRegion"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Civic Information API",
    "version": "v2",
    "version_module": true
}