{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/classroom.announcements": {},
                "https://www.googleapis.com/auth/classroom.announcements.readonly": {},
                "https://www.googleapis.com/auth/classroom.courses": {},
                "https://www.googleapis.com/auth/classroom.courses.readonly": {},
                "https://www.googleapis.com/auth/classroom.coursework.me": {},
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {},
                "https://www.googleapis.com/auth/classroom.coursework.students": {},
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {},
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {},
                "https://www.googleapis.com/auth/classroom.guardianlinks.students": {},
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {},
                "https://www.googleapis.com/auth/classroom.profile.emails": {},
                "https://www.googleapis.com/auth/classroom.profile.photos": {},
                "https://www.googleapis.com/auth/classroom.push-notifications": {},
                "https://www.googleapis.com/auth/classroom.rosters": {},
                "https://www.googleapis.com/auth/classroom.rosters.readonly": {},
                "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {},
                "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {},
                "https://www.googleapis.com/auth/classroom.topics": {},
                "https://www.googleapis.com/auth/classroom.topics.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://classroom.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/classroom/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "classroom:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
    "name": "classroom",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "courses": {
            "methods": {
                "create": {
                    "flatPath": "v1/courses",
                    "httpMethod": "POST",
                    "id": "classroom.courses.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/courses",
                    "request": {
                        "$ref": "Course"
                    },
                    "response": {
                        "$ref": "Course"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses"
                    ]
                },
                "delete": {
                    "flatPath": "v1/courses/{id}",
                    "httpMethod": "DELETE",
                    "id": "classroom.courses.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/courses/{id}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses"
                    ]
                },
                "get": {
                    "flatPath": "v1/courses/{id}",
                    "httpMethod": "GET",
                    "id": "classroom.courses.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/courses/{id}",
                    "response": {
                        "$ref": "Course"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses",
                        "https://www.googleapis.com/auth/classroom.courses.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v1/courses",
                    "httpMethod": "GET",
                    "id": "classroom.courses.list",
                    "parameterOrder": [],
                    "parameters": {
                        "courseStates": {
                            "enum": [
                                "COURSE_STATE_UNSPECIFIED",
                                "ACTIVE",
                                "ARCHIVED",
                                "PROVISIONED",
                                "DECLINED",
                                "SUSPENDED"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "studentId": {
                            "location": "query",
                            "type": "string"
                        },
                        "teacherId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/courses",
                    "response": {
                        "$ref": "ListCoursesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses",
                        "https://www.googleapis.com/auth/classroom.courses.readonly"
                    ]
                },
                "patch": {
                    "flatPath": "v1/courses/{id}",
                    "httpMethod": "PATCH",
                    "id": "classroom.courses.patch",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/courses/{id}",
                    "request": {
                        "$ref": "Course"
                    },
                    "response": {
                        "$ref": "Course"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses"
                    ]
                },
                "update": {
                    "flatPath": "v1/courses/{id}",
                    "httpMethod": "PUT",
                    "id": "classroom.courses.update",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/courses/{id}",
                    "request": {
                        "$ref": "Course"
                    },
                    "response": {
                        "$ref": "Course"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses"
                    ]
                }
            },
            "resources": {
                "aliases": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/courses/{courseId}/aliases",
                            "httpMethod": "POST",
                            "id": "classroom.courses.aliases.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/aliases",
                            "request": {
                                "$ref": "CourseAlias"
                            },
                            "response": {
                                "$ref": "CourseAlias"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.courses"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/courses/{courseId}/aliases/{alias}",
                            "httpMethod": "DELETE",
                            "id": "classroom.courses.aliases.delete",
                            "parameterOrder": [
                                "courseId",
                                "alias"
                            ],
                            "parameters": {
                                "alias": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/aliases/{alias}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.courses"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/courses/{courseId}/aliases",
                            "httpMethod": "GET",
                            "id": "classroom.courses.aliases.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/aliases",
                            "response": {
                                "$ref": "ListCourseAliasesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.courses",
                                "https://www.googleapis.com/auth/classroom.courses.readonly"
                            ]
                        }
                    }
                },
                "announcements": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/courses/{courseId}/announcements",
                            "httpMethod": "POST",
                            "id": "classroom.courses.announcements.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/announcements",
                            "request": {
                                "$ref": "Announcement"
                            },
                            "response": {
                                "$ref": "Announcement"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.announcements"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/courses/{courseId}/announcements/{id}",
                            "httpMethod": "DELETE",
                            "id": "classroom.courses.announcements.delete",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/announcements/{id}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.announcements"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/courses/{courseId}/announcements/{id}",
                            "httpMethod": "GET",
                            "id": "classroom.courses.announcements.get",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/announcements/{id}",
                            "response": {
                                "$ref": "Announcement"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.announcements",
                                "https://www.googleapis.com/auth/classroom.announcements.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/courses/{courseId}/announcements",
                            "httpMethod": "GET",
                            "id": "classroom.courses.announcements.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "announcementStates": {
                                    "enum": [
                                        "ANNOUNCEMENT_STATE_UNSPECIFIED",
                                        "PUBLISHED",
                                        "DRAFT",
                                        "DELETED"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/announcements",
                            "response": {
                                "$ref": "ListAnnouncementsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.announcements",
                                "https://www.googleapis.com/auth/classroom.announcements.readonly"
                            ]
                        },
                        "modifyAssignees": {
                            "flatPath": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
                            "httpMethod": "POST",
                            "id": "classroom.courses.announcements.modifyAssignees",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
                            "request": {
                                "$ref": "ModifyAnnouncementAssigneesRequest"
                            },
                            "response": {
                                "$ref": "Announcement"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.announcements"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/courses/{courseId}/announcements/{id}",
                            "httpMethod": "PATCH",
                            "id": "classroom.courses.announcements.patch",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/announcements/{id}",
                            "request": {
                                "$ref": "Announcement"
                            },
                            "response": {
                                "$ref": "Announcement"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.announcements"
                            ]
                        }
                    }
                },
                "courseWork": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/courses/{courseId}/courseWork",
                            "httpMethod": "POST",
                            "id": "classroom.courses.courseWork.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/courseWork",
                            "request": {
                                "$ref": "CourseWork"
                            },
                            "response": {
                                "$ref": "CourseWork"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.coursework.students"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/courses/{courseId}/courseWork/{id}",
                            "httpMethod": "DELETE",
                            "id": "classroom.courses.courseWork.delete",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/courseWork/{id}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.coursework.students"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/courses/{courseId}/courseWork/{id}",
                            "httpMethod": "GET",
                            "id": "classroom.courses.courseWork.get",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/courseWork/{id}",
                            "response": {
                                "$ref": "CourseWork"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.coursework.me",
                                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                                "https://www.googleapis.com/auth/classroom.coursework.students",
                                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/courses/{courseId}/courseWork",
                            "httpMethod": "GET",
                            "id": "classroom.courses.courseWork.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "courseWorkStates": {
                                    "enum": [
                                        "COURSE_WORK_STATE_UNSPECIFIED",
                                        "PUBLISHED",
                                        "DRAFT",
                                        "DELETED"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/courseWork",
                            "response": {
                                "$ref": "ListCourseWorkResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.coursework.me",
                                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                                "https://www.googleapis.com/auth/classroom.coursework.students",
                                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
                            ]
                        },
                        "modifyAssignees": {
                            "flatPath": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees",
                            "httpMethod": "POST",
                            "id": "classroom.courses.courseWork.modifyAssignees",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees",
                            "request": {
                                "$ref": "ModifyCourseWorkAssigneesRequest"
                            },
                            "response": {
                                "$ref": "CourseWork"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.coursework.students"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/courses/{courseId}/courseWork/{id}",
                            "httpMethod": "PATCH",
                            "id": "classroom.courses.courseWork.patch",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/courseWork/{id}",
                            "request": {
                                "$ref": "CourseWork"
                            },
                            "response": {
                                "$ref": "CourseWork"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.coursework.students"
                            ]
                        }
                    },
                    "resources": {
                        "studentSubmissions": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                                    "httpMethod": "GET",
                                    "id": "classroom.courses.courseWork.studentSubmissions.get",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                                    "response": {
                                        "$ref": "StudentSubmission"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me",
                                        "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                                        "https://www.googleapis.com/auth/classroom.coursework.students",
                                        "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                                        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                                        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions",
                                    "httpMethod": "GET",
                                    "id": "classroom.courses.courseWork.studentSubmissions.list",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "late": {
                                            "enum": [
                                                "LATE_VALUES_UNSPECIFIED",
                                                "LATE_ONLY",
                                                "NOT_LATE_ONLY"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "states": {
                                            "enum": [
                                                "SUBMISSION_STATE_UNSPECIFIED",
                                                "NEW",
                                                "CREATED",
                                                "TURNED_IN",
                                                "RETURNED",
                                                "RECLAIMED_BY_STUDENT"
                                            ],
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions",
                                    "response": {
                                        "$ref": "ListStudentSubmissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me",
                                        "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                                        "https://www.googleapis.com/auth/classroom.coursework.students",
                                        "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                                        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                                        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                                    ]
                                },
                                "modifyAttachments": {
                                    "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments",
                                    "httpMethod": "POST",
                                    "id": "classroom.courses.courseWork.studentSubmissions.modifyAttachments",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments",
                                    "request": {
                                        "$ref": "ModifyAttachmentsRequest"
                                    },
                                    "response": {
                                        "$ref": "StudentSubmission"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me",
                                        "https://www.googleapis.com/auth/classroom.coursework.students"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                                    "httpMethod": "PATCH",
                                    "id": "classroom.courses.courseWork.studentSubmissions.patch",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                                    "request": {
                                        "$ref": "StudentSubmission"
                                    },
                                    "response": {
                                        "$ref": "StudentSubmission"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me",
                                        "https://www.googleapis.com/auth/classroom.coursework.students"
                                    ]
                                },
                                "reclaim": {
                                    "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
                                    "httpMethod": "POST",
                                    "id": "classroom.courses.courseWork.studentSubmissions.reclaim",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
                                    "request": {
                                        "$ref": "ReclaimStudentSubmissionRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me"
                                    ]
                                },
                                "return": {
                                    "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
                                    "httpMethod": "POST",
                                    "id": "classroom.courses.courseWork.studentSubmissions.return",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
                                    "request": {
                                        "$ref": "ReturnStudentSubmissionRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.students"
                                    ]
                                },
                                "turnIn": {
                                    "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:turnIn",
                                    "httpMethod": "POST",
                                    "id": "classroom.courses.courseWork.studentSubmissions.turnIn",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:turnIn",
                                    "request": {
                                        "$ref": "TurnInStudentSubmissionRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me"
                                    ]
                                }
                            }
                        }
                    }
                },
                "students": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/courses/{courseId}/students",
                            "httpMethod": "POST",
                            "id": "classroom.courses.students.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "enrollmentCode": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/students",
                            "request": {
                                "$ref": "Student"
                            },
                            "response": {
                                "$ref": "Student"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/courses/{courseId}/students/{userId}",
                            "httpMethod": "DELETE",
                            "id": "classroom.courses.students.delete",
                            "parameterOrder": [
                                "courseId",
                                "userId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/students/{userId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.rosters"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/courses/{courseId}/students/{userId}",
                            "httpMethod": "GET",
                            "id": "classroom.courses.students.get",
                            "parameterOrder": [
                                "courseId",
                                "userId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/students/{userId}",
                            "response": {
                                "$ref": "Student"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters",
                                "https://www.googleapis.com/auth/classroom.rosters.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/courses/{courseId}/students",
                            "httpMethod": "GET",
                            "id": "classroom.courses.students.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/students",
                            "response": {
                                "$ref": "ListStudentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters",
                                "https://www.googleapis.com/auth/classroom.rosters.readonly"
                            ]
                        }
                    }
                },
                "teachers": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/courses/{courseId}/teachers",
                            "httpMethod": "POST",
                            "id": "classroom.courses.teachers.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/teachers",
                            "request": {
                                "$ref": "Teacher"
                            },
                            "response": {
                                "$ref": "Teacher"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/courses/{courseId}/teachers/{userId}",
                            "httpMethod": "DELETE",
                            "id": "classroom.courses.teachers.delete",
                            "parameterOrder": [
                                "courseId",
                                "userId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/teachers/{userId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.rosters"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/courses/{courseId}/teachers/{userId}",
                            "httpMethod": "GET",
                            "id": "classroom.courses.teachers.get",
                            "parameterOrder": [
                                "courseId",
                                "userId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/teachers/{userId}",
                            "response": {
                                "$ref": "Teacher"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters",
                                "https://www.googleapis.com/auth/classroom.rosters.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/courses/{courseId}/teachers",
                            "httpMethod": "GET",
                            "id": "classroom.courses.teachers.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/teachers",
                            "response": {
                                "$ref": "ListTeachersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters",
                                "https://www.googleapis.com/auth/classroom.rosters.readonly"
                            ]
                        }
                    }
                },
                "topics": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/courses/{courseId}/topics",
                            "httpMethod": "POST",
                            "id": "classroom.courses.topics.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/topics",
                            "request": {
                                "$ref": "Topic"
                            },
                            "response": {
                                "$ref": "Topic"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.topics"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/courses/{courseId}/topics/{id}",
                            "httpMethod": "DELETE",
                            "id": "classroom.courses.topics.delete",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/topics/{id}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.topics"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/courses/{courseId}/topics/{id}",
                            "httpMethod": "GET",
                            "id": "classroom.courses.topics.get",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/topics/{id}",
                            "response": {
                                "$ref": "Topic"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.topics",
                                "https://www.googleapis.com/auth/classroom.topics.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/courses/{courseId}/topics",
                            "httpMethod": "GET",
                            "id": "classroom.courses.topics.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/topics",
                            "response": {
                                "$ref": "ListTopicResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.topics",
                                "https://www.googleapis.com/auth/classroom.topics.readonly"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/courses/{courseId}/topics/{id}",
                            "httpMethod": "PATCH",
                            "id": "classroom.courses.topics.patch",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/topics/{id}",
                            "request": {
                                "$ref": "Topic"
                            },
                            "response": {
                                "$ref": "Topic"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.topics"
                            ]
                        }
                    }
                }
            }
        },
        "invitations": {
            "methods": {
                "accept": {
                    "flatPath": "v1/invitations/{id}:accept",
                    "httpMethod": "POST",
                    "id": "classroom.invitations.accept",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/invitations/{id}:accept",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.rosters"
                    ]
                },
                "create": {
                    "flatPath": "v1/invitations",
                    "httpMethod": "POST",
                    "id": "classroom.invitations.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/invitations",
                    "request": {
                        "$ref": "Invitation"
                    },
                    "response": {
                        "$ref": "Invitation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.rosters"
                    ]
                },
                "delete": {
                    "flatPath": "v1/invitations/{id}",
                    "httpMethod": "DELETE",
                    "id": "classroom.invitations.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/invitations/{id}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.rosters"
                    ]
                },
                "get": {
                    "flatPath": "v1/invitations/{id}",
                    "httpMethod": "GET",
                    "id": "classroom.invitations.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/invitations/{id}",
                    "response": {
                        "$ref": "Invitation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.rosters",
                        "https://www.googleapis.com/auth/classroom.rosters.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v1/invitations",
                    "httpMethod": "GET",
                    "id": "classroom.invitations.list",
                    "parameterOrder": [],
                    "parameters": {
                        "courseId": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "userId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/invitations",
                    "response": {
                        "$ref": "ListInvitationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.rosters",
                        "https://www.googleapis.com/auth/classroom.rosters.readonly"
                    ]
                }
            }
        },
        "registrations": {
            "methods": {
                "create": {
                    "flatPath": "v1/registrations",
                    "httpMethod": "POST",
                    "id": "classroom.registrations.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/registrations",
                    "request": {
                        "$ref": "Registration"
                    },
                    "response": {
                        "$ref": "Registration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.push-notifications"
                    ]
                },
                "delete": {
                    "flatPath": "v1/registrations/{registrationId}",
                    "httpMethod": "DELETE",
                    "id": "classroom.registrations.delete",
                    "parameterOrder": [
                        "registrationId"
                    ],
                    "parameters": {
                        "registrationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/registrations/{registrationId}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.push-notifications"
                    ]
                }
            }
        },
        "userProfiles": {
            "methods": {
                "get": {
                    "flatPath": "v1/userProfiles/{userId}",
                    "httpMethod": "GET",
                    "id": "classroom.userProfiles.get",
                    "parameterOrder": [
                        "userId"
                    ],
                    "parameters": {
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/userProfiles/{userId}",
                    "response": {
                        "$ref": "UserProfile"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.profile.emails",
                        "https://www.googleapis.com/auth/classroom.profile.photos",
                        "https://www.googleapis.com/auth/classroom.rosters",
                        "https://www.googleapis.com/auth/classroom.rosters.readonly"
                    ]
                }
            },
            "resources": {
                "guardianInvitations": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
                            "httpMethod": "POST",
                            "id": "classroom.userProfiles.guardianInvitations.create",
                            "parameterOrder": [
                                "studentId"
                            ],
                            "parameters": {
                                "studentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardianInvitations",
                            "request": {
                                "$ref": "GuardianInvitation"
                            },
                            "response": {
                                "$ref": "GuardianInvitation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
                            "httpMethod": "GET",
                            "id": "classroom.userProfiles.guardianInvitations.get",
                            "parameterOrder": [
                                "studentId",
                                "invitationId"
                            ],
                            "parameters": {
                                "invitationId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "studentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
                            "response": {
                                "$ref": "GuardianInvitation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
                            "httpMethod": "GET",
                            "id": "classroom.userProfiles.guardianInvitations.list",
                            "parameterOrder": [
                                "studentId"
                            ],
                            "parameters": {
                                "invitedEmailAddress": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "states": {
                                    "enum": [
                                        "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
                                        "PENDING",
                                        "COMPLETE"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "studentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardianInvitations",
                            "response": {
                                "$ref": "ListGuardianInvitationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
                            "httpMethod": "PATCH",
                            "id": "classroom.userProfiles.guardianInvitations.patch",
                            "parameterOrder": [
                                "studentId",
                                "invitationId"
                            ],
                            "parameters": {
                                "invitationId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "studentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
                            "request": {
                                "$ref": "GuardianInvitation"
                            },
                            "response": {
                                "$ref": "GuardianInvitation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
                            ]
                        }
                    }
                },
                "guardians": {
                    "methods": {
                        "delete": {
                            "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
                            "httpMethod": "DELETE",
                            "id": "classroom.userProfiles.guardians.delete",
                            "parameterOrder": [
                                "studentId",
                                "guardianId"
                            ],
                            "parameters": {
                                "guardianId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "studentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
                            "httpMethod": "GET",
                            "id": "classroom.userProfiles.guardians.get",
                            "parameterOrder": [
                                "studentId",
                                "guardianId"
                            ],
                            "parameters": {
                                "guardianId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "studentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
                            "response": {
                                "$ref": "Guardian"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/userProfiles/{studentId}/guardians",
                            "httpMethod": "GET",
                            "id": "classroom.userProfiles.guardians.list",
                            "parameterOrder": [
                                "studentId"
                            ],
                            "parameters": {
                                "invitedEmailAddress": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "studentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardians",
                            "response": {
                                "$ref": "ListGuardiansResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://classroom.googleapis.com/",
    "schemas": {
        "Announcement": {
            "id": "Announcement",
            "properties": {
                "alternateLink": {
                    "type": "string"
                },
                "assigneeMode": {
                    "enum": [
                        "ASSIGNEE_MODE_UNSPECIFIED",
                        "ALL_STUDENTS",
                        "INDIVIDUAL_STUDENTS"
                    ],
                    "enumDescriptions": [
                        "No mode specified. This is never returned.",
                        "All students can see the item.\nThis is the default state.",
                        "A subset of the students can see the item."
                    ],
                    "type": "string"
                },
                "courseId": {
                    "type": "string"
                },
                "creationTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "creatorUserId": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "individualStudentsOptions": {
                    "$ref": "IndividualStudentsOptions"
                },
                "materials": {
                    "items": {
                        "$ref": "Material"
                    },
                    "type": "array"
                },
                "scheduledTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "ANNOUNCEMENT_STATE_UNSPECIFIED",
                        "PUBLISHED",
                        "DRAFT",
                        "DELETED"
                    ],
                    "enumDescriptions": [
                        "No state specified. This is never returned.",
                        "Status for announcement that has been published.\nThis is the default state.",
                        "Status for an announcement that is not yet published.\nAnnouncement in this state is visible only to course teachers and domain\nadministrators.",
                        "Status for announcement that was published but is now deleted.\nAnnouncement in this state is visible only to course teachers and domain\nadministrators.\nAnnouncement in this state is deleted after some time."
                    ],
                    "type": "string"
                },
                "text": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Assignment": {
            "id": "Assignment",
            "properties": {
                "studentWorkFolder": {
                    "$ref": "DriveFolder"
                }
            },
            "type": "object"
        },
        "AssignmentSubmission": {
            "id": "AssignmentSubmission",
            "properties": {
                "attachments": {
                    "items": {
                        "$ref": "Attachment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Attachment": {
            "id": "Attachment",
            "properties": {
                "driveFile": {
                    "$ref": "DriveFile"
                },
                "form": {
                    "$ref": "Form"
                },
                "link": {
                    "$ref": "Link"
                },
                "youTubeVideo": {
                    "$ref": "YouTubeVideo"
                }
            },
            "type": "object"
        },
        "CloudPubsubTopic": {
            "id": "CloudPubsubTopic",
            "properties": {
                "topicName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Course": {
            "id": "Course",
            "properties": {
                "alternateLink": {
                    "type": "string"
                },
                "calendarId": {
                    "type": "string"
                },
                "courseGroupEmail": {
                    "type": "string"
                },
                "courseMaterialSets": {
                    "items": {
                        "$ref": "CourseMaterialSet"
                    },
                    "type": "array"
                },
                "courseState": {
                    "enum": [
                        "COURSE_STATE_UNSPECIFIED",
                        "ACTIVE",
                        "ARCHIVED",
                        "PROVISIONED",
                        "DECLINED",
                        "SUSPENDED"
                    ],
                    "enumDescriptions": [
                        "No course state. No returned Course message will use this value.",
                        "The course is active.",
                        "The course has been archived. You cannot modify it except to change it\nto a different state.",
                        "The course has been created, but not yet activated. It is accessible by\nthe primary teacher and domain administrators, who may modify it or\nchange it to the `ACTIVE` or `DECLINED` states.\nA course may only be changed to `PROVISIONED` if it is in the `DECLINED`\nstate.",
                        "The course has been created, but declined. It is accessible by the\ncourse owner and domain administrators, though it will not be\ndisplayed in the web UI. You cannot modify the course except to change it\nto the `PROVISIONED` state.\nA course may only be changed to `DECLINED` if it is in the `PROVISIONED`\nstate.",
                        "The course has been suspended. You cannot modify the course, and only the\nuser identified by the `owner_id` can view the course.\nA course may be placed in this state if it potentially violates the\nTerms of Service."
                    ],
                    "type": "string"
                },
                "creationTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "descriptionHeading": {
                    "type": "string"
                },
                "enrollmentCode": {
                    "type": "string"
                },
                "guardiansEnabled": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "ownerId": {
                    "type": "string"
                },
                "room": {
                    "type": "string"
                },
                "section": {
                    "type": "string"
                },
                "teacherFolder": {
                    "$ref": "DriveFolder"
[...]
