{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-identity.groups": {},
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {},
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudidentity.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Identity",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/identity/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudidentity:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
    "name": "cloudidentity",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "groups": {
            "methods": {
                "create": {
                    "flatPath": "v1/groups",
                    "httpMethod": "POST",
                    "id": "cloudidentity.groups.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/groups",
                    "request": {
                        "$ref": "Group"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "flatPath": "v1/groups/{groupsId}",
                    "httpMethod": "DELETE",
                    "id": "cloudidentity.groups.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^groups/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/groups/{groupsId}",
                    "httpMethod": "GET",
                    "id": "cloudidentity.groups.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^groups/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Group"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/groups",
                    "httpMethod": "GET",
                    "id": "cloudidentity.groups.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "query",
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/groups",
                    "response": {
                        "$ref": "ListGroupsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "lookup": {
                    "flatPath": "v1/groups:lookup",
                    "httpMethod": "GET",
                    "id": "cloudidentity.groups.lookup",
                    "parameterOrder": [],
                    "parameters": {
                        "groupKey.id": {
                            "location": "query",
                            "type": "string"
                        },
                        "groupKey.namespace": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/groups:lookup",
                    "response": {
                        "$ref": "LookupGroupNameResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "patch": {
                    "flatPath": "v1/groups/{groupsId}",
                    "httpMethod": "PATCH",
                    "id": "cloudidentity.groups.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^groups/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "Group"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "search": {
                    "flatPath": "v1/groups:search",
                    "httpMethod": "GET",
                    "id": "cloudidentity.groups.search",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/groups:search",
                    "response": {
                        "$ref": "SearchGroupsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "memberships": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/groups/{groupsId}/memberships",
                            "httpMethod": "POST",
                            "id": "cloudidentity.groups.memberships.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/memberships",
                            "request": {
                                "$ref": "Membership"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}",
                            "httpMethod": "DELETE",
                            "id": "cloudidentity.groups.memberships.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+/memberships/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}",
                            "httpMethod": "GET",
                            "id": "cloudidentity.groups.memberships.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+/memberships/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Membership"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/groups/{groupsId}/memberships",
                            "httpMethod": "GET",
                            "id": "cloudidentity.groups.memberships.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "VIEW_UNSPECIFIED",
                                        "BASIC",
                                        "FULL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/memberships",
                            "response": {
                                "$ref": "ListMembershipsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "lookup": {
                            "flatPath": "v1/groups/{groupsId}/memberships:lookup",
                            "httpMethod": "GET",
                            "id": "cloudidentity.groups.memberships.lookup",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "memberKey.id": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "memberKey.namespace": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/memberships:lookup",
                            "response": {
                                "$ref": "LookupMembershipNameResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudidentity.googleapis.com/",
    "schemas": {
        "EntityKey": {
            "id": "EntityKey",
            "properties": {
                "id": {
                    "type": "string"
                },
                "namespace": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Group": {
            "id": "Group",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "groupKey": {
                    "$ref": "EntityKey"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListGroupsResponse": {
            "id": "ListGroupsResponse",
            "properties": {
                "groups": {
                    "items": {
                        "$ref": "Group"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListMembershipsResponse": {
            "id": "ListMembershipsResponse",
            "properties": {
                "memberships": {
                    "items": {
                        "$ref": "Membership"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LookupGroupNameResponse": {
            "id": "LookupGroupNameResponse",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LookupMembershipNameResponse": {
            "id": "LookupMembershipNameResponse",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Membership": {
            "id": "Membership",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "preferredMemberKey": {
                    "$ref": "EntityKey"
                },
                "roles": {
                    "items": {
                        "$ref": "MembershipRole"
                    },
                    "type": "array"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MembershipRole": {
            "id": "MembershipRole",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "SearchGroupsResponse": {
            "id": "SearchGroupsResponse",
            "properties": {
                "groups": {
                    "items": {
                        "$ref": "Group"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Identity API",
    "version": "v1",
    "version_module": true
}