{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudscheduler.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Scheduler",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/scheduler/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudscheduler:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudscheduler.mtls.googleapis.com/",
    "name": "cloudscheduler",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "cloudscheduler.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "cloudscheduler.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "jobs": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                                    "httpMethod": "POST",
                                    "id": "cloudscheduler.projects.locations.jobs.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/jobs",
                                    "request": {
                                        "$ref": "Job"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                                    "httpMethod": "DELETE",
                                    "id": "cloudscheduler.projects.locations.jobs.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                                    "httpMethod": "GET",
                                    "id": "cloudscheduler.projects.locations.jobs.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                                    "httpMethod": "GET",
                                    "id": "cloudscheduler.projects.locations.jobs.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/jobs",
                                    "response": {
                                        "$ref": "ListJobsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                                    "httpMethod": "PATCH",
                                    "id": "cloudscheduler.projects.locations.jobs.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Job"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "pause": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:pause",
                                    "httpMethod": "POST",
                                    "id": "cloudscheduler.projects.locations.jobs.pause",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:pause",
                                    "request": {
                                        "$ref": "PauseJobRequest"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "resume": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:resume",
                                    "httpMethod": "POST",
                                    "id": "cloudscheduler.projects.locations.jobs.resume",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:resume",
                                    "request": {
                                        "$ref": "ResumeJobRequest"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "run": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:run",
                                    "httpMethod": "POST",
                                    "id": "cloudscheduler.projects.locations.jobs.run",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:run",
                                    "request": {
                                        "$ref": "RunJobRequest"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudscheduler.googleapis.com/",
    "schemas": {
        "AppEngineHttpTarget": {
            "id": "AppEngineHttpTarget",
            "properties": {
                "appEngineRouting": {
                    "$ref": "AppEngineRouting"
                },
                "body": {
                    "format": "byte",
                    "type": "string"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "httpMethod": {
                    "enum": [
                        "HTTP_METHOD_UNSPECIFIED",
                        "POST",
                        "GET",
                        "HEAD",
                        "PUT",
                        "DELETE",
                        "PATCH",
                        "OPTIONS"
                    ],
                    "type": "string"
                },
                "relativeUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppEngineRouting": {
            "id": "AppEngineRouting",
            "properties": {
                "host": {
                    "type": "string"
                },
                "instance": {
                    "type": "string"
                },
                "service": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "HttpTarget": {
            "id": "HttpTarget",
            "properties": {
                "body": {
                    "format": "byte",
                    "type": "string"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "httpMethod": {
                    "enum": [
                        "HTTP_METHOD_UNSPECIFIED",
                        "POST",
                        "GET",
                        "HEAD",
                        "PUT",
                        "DELETE",
                        "PATCH",
                        "OPTIONS"
                    ],
                    "type": "string"
                },
                "oauthToken": {
                    "$ref": "OAuthToken"
                },
                "oidcToken": {
                    "$ref": "OidcToken"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Job": {
            "id": "Job",
            "properties": {
                "appEngineHttpTarget": {
                    "$ref": "AppEngineHttpTarget"
                },
                "attemptDeadline": {
                    "format": "google-duration",
                    "type": "string"
                },
                "httpTarget": {
                    "$ref": "HttpTarget"
                },
                "lastAttemptTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "pubsubTarget": {
                    "$ref": "PubsubTarget"
                },
                "retryConfig": {
                    "$ref": "RetryConfig"
                },
                "schedule": {
                    "type": "string"
                },
                "scheduleTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ENABLED",
                        "PAUSED",
                        "DISABLED",
                        "UPDATE_FAILED"
                    ],
                    "type": "string"
                },
                "status": {
                    "$ref": "Status"
                },
                "timeZone": {
                    "type": "string"
                },
                "userUpdateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListJobsResponse": {
            "id": "ListJobsResponse",
            "properties": {
                "jobs": {
                    "items": {
                        "$ref": "Job"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OAuthToken": {
            "id": "OAuthToken",
            "properties": {
                "scope": {
                    "type": "string"
                },
                "serviceAccountEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OidcToken": {
            "id": "OidcToken",
            "properties": {
                "audience": {
                    "type": "string"
                },
                "serviceAccountEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PauseJobRequest": {
            "id": "PauseJobRequest",
            "properties": {},
            "type": "object"
        },
        "PubsubMessage": {
            "id": "PubsubMessage",
            "properties": {
                "attributes": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "messageId": {
                    "type": "string"
                },
                "orderingKey": {
                    "type": "string"
                },
                "publishTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PubsubTarget": {
            "id": "PubsubTarget",
            "properties": {
                "attributes": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "topicName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResumeJobRequest": {
            "id": "ResumeJobRequest",
            "properties": {},
            "type": "object"
        },
        "RetryConfig": {
            "id": "RetryConfig",
            "properties": {
                "maxBackoffDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "maxDoublings": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxRetryDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "minBackoffDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "retryCount": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "RunJobRequest": {
            "id": "RunJobRequest",
            "properties": {},
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Scheduler API",
    "version": "v1",
    "version_module": true
}