{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudtasks.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Tasks",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/tasks/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudtasks:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudtasks.mtls.googleapis.com/",
    "name": "cloudtasks",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "cloudtasks.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "cloudtasks.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "queues": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues",
                                    "httpMethod": "POST",
                                    "id": "cloudtasks.projects.locations.queues.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/queues",
                                    "request": {
                                        "$ref": "Queue"
                                    },
                                    "response": {
                                        "$ref": "Queue"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}",
                                    "httpMethod": "DELETE",
                                    "id": "cloudtasks.projects.locations.queues.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}",
                                    "httpMethod": "GET",
                                    "id": "cloudtasks.projects.locations.queues.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Queue"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "cloudtasks.projects.locations.queues.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues",
                                    "httpMethod": "GET",
                                    "id": "cloudtasks.projects.locations.queues.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/queues",
                                    "response": {
                                        "$ref": "ListQueuesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}",
                                    "httpMethod": "PATCH",
                                    "id": "cloudtasks.projects.locations.queues.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "Queue"
                                    },
                                    "response": {
                                        "$ref": "Queue"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "pause": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}:pause",
                                    "httpMethod": "POST",
                                    "id": "cloudtasks.projects.locations.queues.pause",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:pause",
                                    "request": {
                                        "$ref": "PauseQueueRequest"
                                    },
                                    "response": {
                                        "$ref": "Queue"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "purge": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}:purge",
                                    "httpMethod": "POST",
                                    "id": "cloudtasks.projects.locations.queues.purge",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:purge",
                                    "request": {
                                        "$ref": "PurgeQueueRequest"
                                    },
                                    "response": {
                                        "$ref": "Queue"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "resume": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}:resume",
                                    "httpMethod": "POST",
                                    "id": "cloudtasks.projects.locations.queues.resume",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:resume",
                                    "request": {
                                        "$ref": "ResumeQueueRequest"
                                    },
                                    "response": {
                                        "$ref": "Queue"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "cloudtasks.projects.locations.queues.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "cloudtasks.projects.locations.queues.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "tasks": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks",
                                            "httpMethod": "POST",
                                            "id": "cloudtasks.projects.locations.queues.tasks.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/tasks",
                                            "request": {
                                                "$ref": "CreateTaskRequest"
                                            },
                                            "response": {
                                                "$ref": "Task"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks/{tasksId}",
                                            "httpMethod": "DELETE",
                                            "id": "cloudtasks.projects.locations.queues.tasks.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+/tasks/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks/{tasksId}",
                                            "httpMethod": "GET",
                                            "id": "cloudtasks.projects.locations.queues.tasks.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+/tasks/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "responseView": {
                                                    "enum": [
                                                        "VIEW_UNSPECIFIED",
                                                        "BASIC",
                                                        "FULL"
                                                    ],
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
                                            "response": {
                                                "$ref": "Task"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks",
                                            "httpMethod": "GET",
                                            "id": "cloudtasks.projects.locations.queues.tasks.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "responseView": {
                                                    "enum": [
                                                        "VIEW_UNSPECIFIED",
                                                        "BASIC",
                                                        "FULL"
                                                    ],
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/tasks",
                                            "response": {
                                                "$ref": "ListTasksResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "run": {
                                            "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks/{tasksId}:run",
                                            "httpMethod": "POST",
                                            "id": "cloudtasks.projects.locations.queues.tasks.run",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/queues/[^/]+/tasks/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}:run",
                                            "request": {
                                                "$ref": "RunTaskRequest"
                                            },
                                            "response": {
                                                "$ref": "Task"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudtasks.googleapis.com/",
    "schemas": {
        "AppEngineHttpRequest": {
            "id": "AppEngineHttpRequest",
            "properties": {
                "appEngineRouting": {
                    "$ref": "AppEngineRouting"
                },
                "body": {
                    "format": "byte",
                    "type": "string"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "httpMethod": {
                    "enum": [
                        "HTTP_METHOD_UNSPECIFIED",
                        "POST",
                        "GET",
                        "HEAD",
                        "PUT",
                        "DELETE",
                        "PATCH",
                        "OPTIONS"
                    ],
                    "type": "string"
                },
                "relativeUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppEngineRouting": {
            "id": "AppEngineRouting",
            "properties": {
                "host": {
                    "type": "string"
                },
                "instance": {
                    "type": "string"
                },
                "service": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Attempt": {
            "id": "Attempt",
            "properties": {
                "dispatchTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "responseStatus": {
                    "$ref": "Status"
                },
                "responseTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "scheduleTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateTaskRequest": {
            "id": "CreateTaskRequest",
            "properties": {
                "responseView": {
                    "enum": [
                        "VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                    ],
                    "type": "string"
                },
                "task": {
                    "$ref": "Task"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIamPolicyRequest": {
            "id": "GetIamPolicyRequest",
            "properties": {
                "options": {
                    "$ref": "GetPolicyOptions"
                }
            },
            "type": "object"
        },
        "GetPolicyOptions": {
            "id": "GetPolicyOptions",
            "properties": {
                "requestedPolicyVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "HttpRequest": {
            "id": "HttpRequest",
            "properties": {
                "body": {
                    "format": "byte",
                    "type": "string"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "httpMethod": {
                    "enum": [
                        "HTTP_METHOD_UNSPECIFIED",
                        "POST",
                        "GET",
                        "HEAD",
                        "PUT",
                        "DELETE",
                        "PATCH",
                        "OPTIONS"
                    ],
                    "type": "string"
                },
                "oauthToken": {
                    "$ref": "OAuthToken"
                },
                "oidcToken": {
                    "$ref": "OidcToken"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListQueuesResponse": {
            "id": "ListQueuesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "queues": {
                    "items": {
                        "$ref": "Queue"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListTasksResponse": {
            "id": "ListTasksResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "tasks": {
                    "items": {
                        "$ref": "Task"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OAuthToken": {
            "id": "OAuthToken",
            "properties": {
                "scope": {
                    "type": "string"
                },
                "serviceAccountEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OidcToken": {
            "id": "OidcToken",
            "properties": {
                "audience": {
                    "type": "string"
                },
                "serviceAccountEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PauseQueueRequest": {
            "id": "PauseQueueRequest",
            "properties": {},
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PurgeQueueRequest": {
            "id": "PurgeQueueRequest",
            "properties": {},
            "type": "object"
        },
        "Queue": {
            "id": "Queue",
            "properties": {
                "appEngineRoutingOverride": {
                    "$ref": "AppEngineRouting"
                },
                "name": {
                    "type": "string"
                },
                "purgeTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "rateLimits": {
                    "$ref": "RateLimits"
                },
                "retryConfig": {
                    "$ref": "RetryConfig"
                },
                "stackdriverLoggingConfig": {
                    "$ref": "StackdriverLoggingConfig"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "RUNNING",
                        "PAUSED",
                        "DISABLED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RateLimits": {
            "id": "RateLimits",
            "properties": {
                "maxBurstSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxConcurrentDispatches": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxDispatchesPerSecond": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ResumeQueueRequest": {
            "id": "ResumeQueueRequest",
            "properties": {},
            "type": "object"
        },
        "RetryConfig": {
            "id": "RetryConfig",
            "properties": {
                "maxAttempts": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxBackoff": {
                    "format": "google-duration",
                    "type": "string"
                },
                "maxDoublings": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxRetryDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "minBackoff": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RunTaskRequest": {
            "id": "RunTaskRequest",
            "properties": {
                "responseView": {
                    "enum": [
                        "VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                }
            },
            "type": "object"
        },
        "StackdriverLoggingConfig": {
            "id": "StackdriverLoggingConfig",
            "properties": {
                "samplingRatio": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Task": {
            "id": "Task",
            "properties": {
                "appEngineHttpRequest": {
                    "$ref": "AppEngineHttpRequest"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "dispatchCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "dispatchDeadline": {
                    "format": "google-duration",
                    "type": "string"
                },
                "firstAttempt": {
                    "$ref": "Attempt"
                },
                "httpRequest": {
                    "$ref": "HttpRequest"
                },
                "lastAttempt": {
                    "$ref": "Attempt"
                },
                "name": {
                    "type": "string"
                },
                "responseCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "scheduleTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "view": {
                    "enum": [
                        "VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Tasks API",
    "version": "v2",
    "version_module": true
}