{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudbuild.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Build",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/cloud-build/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudbuild:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
    "name": "cloudbuild",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "methods": {
                "cancel": {
                    "flatPath": "v1/operations/{operationsId}:cancel",
                    "httpMethod": "POST",
                    "id": "cloudbuild.operations.cancel",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:cancel",
                    "request": {
                        "$ref": "CancelOperationRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "cloudbuild.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "projects": {
            "resources": {
                "builds": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
                            "httpMethod": "POST",
                            "id": "cloudbuild.projects.builds.cancel",
                            "parameterOrder": [
                                "projectId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/builds/{id}:cancel",
                            "request": {
                                "$ref": "CancelBuildRequest"
                            },
                            "response": {
                                "$ref": "Build"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/projects/{projectId}/builds",
                            "httpMethod": "POST",
                            "id": "cloudbuild.projects.builds.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/builds",
                            "request": {
                                "$ref": "Build"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectId}/builds/{id}",
                            "httpMethod": "GET",
                            "id": "cloudbuild.projects.builds.get",
                            "parameterOrder": [
                                "projectId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/builds/{id}",
                            "response": {
                                "$ref": "Build"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectId}/builds",
                            "httpMethod": "GET",
                            "id": "cloudbuild.projects.builds.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/builds",
                            "response": {
                                "$ref": "ListBuildsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "retry": {
                            "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
                            "httpMethod": "POST",
                            "id": "cloudbuild.projects.builds.retry",
                            "parameterOrder": [
                                "projectId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/builds/{id}:retry",
                            "request": {
                                "$ref": "RetryBuildRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "locations": {
                    "resources": {
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "cloudbuild.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "request": {
                                        "$ref": "CancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "cloudbuild.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "triggers": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectId}/triggers",
                            "httpMethod": "POST",
                            "id": "cloudbuild.projects.triggers.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/triggers",
                            "request": {
                                "$ref": "BuildTrigger"
                            },
                            "response": {
                                "$ref": "BuildTrigger"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
                            "httpMethod": "DELETE",
                            "id": "cloudbuild.projects.triggers.delete",
                            "parameterOrder": [
                                "projectId",
                                "triggerId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "triggerId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/triggers/{triggerId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
                            "httpMethod": "GET",
                            "id": "cloudbuild.projects.triggers.get",
                            "parameterOrder": [
                                "projectId",
                                "triggerId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "triggerId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/triggers/{triggerId}",
                            "response": {
                                "$ref": "BuildTrigger"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectId}/triggers",
                            "httpMethod": "GET",
                            "id": "cloudbuild.projects.triggers.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/triggers",
                            "response": {
                                "$ref": "ListBuildTriggersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
                            "httpMethod": "PATCH",
                            "id": "cloudbuild.projects.triggers.patch",
                            "parameterOrder": [
                                "projectId",
                                "triggerId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "triggerId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/triggers/{triggerId}",
                            "request": {
                                "$ref": "BuildTrigger"
                            },
                            "response": {
                                "$ref": "BuildTrigger"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "run": {
                            "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
                            "httpMethod": "POST",
                            "id": "cloudbuild.projects.triggers.run",
                            "parameterOrder": [
                                "projectId",
                                "triggerId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "triggerId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
                            "request": {
                                "$ref": "RepoSource"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudbuild.googleapis.com/",
    "schemas": {
        "ArtifactObjects": {
            "id": "ArtifactObjects",
            "properties": {
                "location": {
                    "type": "string"
                },
                "paths": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "timing": {
                    "$ref": "TimeSpan"
                }
            },
            "type": "object"
        },
        "ArtifactResult": {
            "id": "ArtifactResult",
            "properties": {
                "fileHash": {
                    "items": {
                        "$ref": "FileHashes"
                    },
                    "type": "array"
                },
                "location": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Artifacts": {
            "id": "Artifacts",
            "properties": {
                "images": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "objects": {
                    "$ref": "ArtifactObjects"
                }
            },
            "type": "object"
        },
        "Build": {
            "id": "Build",
            "properties": {
                "artifacts": {
                    "$ref": "Artifacts"
                },
                "buildTriggerId": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "finishTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "images": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logUrl": {
                    "type": "string"
                },
                "logsBucket": {
                    "type": "string"
                },
                "options": {
                    "$ref": "BuildOptions"
                },
                "projectId": {
                    "type": "string"
                },
                "queueTtl": {
                    "format": "google-duration",
                    "type": "string"
                },
                "results": {
                    "$ref": "Results"
                },
                "secrets": {
                    "items": {
                        "$ref": "Secret"
                    },
                    "type": "array"
                },
                "source": {
                    "$ref": "Source"
                },
                "sourceProvenance": {
                    "$ref": "SourceProvenance"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "STATUS_UNKNOWN",
                        "QUEUED",
                        "WORKING",
                        "SUCCESS",
                        "FAILURE",
                        "INTERNAL_ERROR",
                        "TIMEOUT",
                        "CANCELLED",
                        "EXPIRED"
                    ],
                    "type": "string"
                },
                "statusDetail": {
                    "type": "string"
                },
                "steps": {
                    "items": {
                        "$ref": "BuildStep"
                    },
                    "type": "array"
                },
                "substitutions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                },
                "timing": {
                    "additionalProperties": {
                        "$ref": "TimeSpan"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "BuildOperationMetadata": {
            "id": "BuildOperationMetadata",
            "properties": {
                "build": {
                    "$ref": "Build"
                }
            },
            "type": "object"
        },
        "BuildOptions": {
            "id": "BuildOptions",
            "properties": {
                "diskSizeGb": {
                    "format": "int64",
                    "type": "string"
                },
                "dynamicSubstitutions": {
                    "type": "boolean"
                },
                "env": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logStreamingOption": {
                    "enum": [
                        "STREAM_DEFAULT",
                        "STREAM_ON",
                        "STREAM_OFF"
                    ],
                    "type": "string"
                },
                "logging": {
                    "enum": [
                        "LOGGING_UNSPECIFIED",
                        "LEGACY",
                        "GCS_ONLY",
                        "STACKDRIVER_ONLY",
                        "NONE"
                    ],
                    "type": "string"
                },
                "machineType": {
                    "enum": [
                        "UNSPECIFIED",
                        "N1_HIGHCPU_8",
                        "N1_HIGHCPU_32"
                    ],
                    "type": "string"
                },
                "requestedVerifyOption": {
                    "enum": [
                        "NOT_VERIFIED",
                        "VERIFIED"
                    ],
                    "type": "string"
                },
                "secretEnv": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "sourceProvenanceHash": {
                    "items": {
                        "enum": [
                            "NONE",
                            "SHA256",
                            "MD5"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "substitutionOption": {
                    "enum": [
                        "MUST_MATCH",
                        "ALLOW_LOOSE"
                    ],
                    "type": "string"
                },
                "volumes": {
                    "items": {
                        "$ref": "Volume"
                    },
                    "type": "array"
                },
                "workerPool": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildStep": {
            "id": "BuildStep",
            "properties": {
                "args": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "dir": {
                    "type": "string"
                },
                "entrypoint": {
                    "type": "string"
                },
                "env": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "pullTiming": {
                    "$ref": "TimeSpan"
                },
                "secretEnv": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "status": {
                    "enum": [
                        "STATUS_UNKNOWN",
                        "QUEUED",
                        "WORKING",
                        "SUCCESS",
                        "FAILURE",
                        "INTERNAL_ERROR",
                        "TIMEOUT",
                        "CANCELLED",
                        "EXPIRED"
                    ],
                    "type": "string"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                },
                "timing": {
                    "$ref": "TimeSpan"
                },
                "volumes": {
                    "items": {
                        "$ref": "Volume"
                    },
                    "type": "array"
                },
                "waitFor": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildTrigger": {
            "id": "BuildTrigger",
            "properties": {
                "build": {
                    "$ref": "Build"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "disabled": {
                    "type": "boolean"
                },
                "filename": {
                    "type": "string"
                },
                "github": {
                    "$ref": "GitHubEventsConfig"
                },
                "id": {
                    "type": "string"
                },
                "ignoredFiles": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "includedFiles": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "substitutions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "triggerTemplate": {
                    "$ref": "RepoSource"
                }
            },
            "type": "object"
        },
        "BuiltImage": {
            "id": "BuiltImage",
            "properties": {
                "digest": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "pushTiming": {
                    "$ref": "TimeSpan"
                }
            },
            "type": "object"
        },
        "CancelBuildRequest": {
            "id": "CancelBuildRequest",
            "properties": {},
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "FileHashes": {
            "id": "FileHashes",
            "properties": {
                "fileHash": {
                    "items": {
                        "$ref": "Hash"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GitHubEventsConfig": {
            "id": "GitHubEventsConfig",
            "properties": {
                "installationId": {
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "pullRequest": {
                    "$ref": "PullRequestFilter"
                },
                "push": {
                    "$ref": "PushFilter"
                }
            },
            "type": "object"
        },
        "HTTPDelivery": {
            "id": "HTTPDelivery",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Hash": {
            "id": "Hash",
            "properties": {
                "type": {
                    "enum": [
                        "NONE",
                        "SHA256",
                        "MD5"
                    ],
                    "type": "string"
                },
                "value": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListBuildTriggersResponse": {
            "id": "ListBuildTriggersResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "triggers": {
                    "items": {
                        "$ref": "BuildTrigger"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListBuildsResponse": {
            "id": "ListBuildsResponse",
            "properties": {
                "builds": {
                    "items": {
                        "$ref": "Build"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Notification": {
            "id": "Notification",
            "properties": {
                "filter": {
                    "type": "string"
                },
                "httpDelivery": {
                    "$ref": "HTTPDelivery"
                },
                "slackDelivery": {
                    "$ref": "SlackDelivery"
                },
                "smtpDelivery": {
                    "$ref": "SMTPDelivery"
                },
                "structDelivery": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "NotifierConfig": {
            "id": "NotifierConfig",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "metadata": {
                    "$ref": "NotifierMetadata"
                },
                "spec": {
                    "$ref": "NotifierSpec"
                }
            },
            "type": "object"
        },
        "NotifierMetadata": {
            "id": "NotifierMetadata",
            "properties": {
                "name": {
                    "type": "string"
                },
                "notifier": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NotifierSecret": {
            "id": "NotifierSecret",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NotifierSecretRef": {
            "id": "NotifierSecretRef",
            "properties": {
                "secretRef": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NotifierSpec": {
            "id": "NotifierSpec",
            "properties": {
                "notification": {
                    "$ref": "Notification"
                },
                "secrets": {
                    "items": {
                        "$ref": "NotifierSecret"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PullRequestFilter": {
            "id": "PullRequestFilter",
            "properties": {
                "branch": {
                    "type": "string"
                },
                "commentControl": {
                    "enum": [
                        "COMMENTS_DISABLED",
                        "COMMENTS_ENABLED"
                    ],
                    "type": "string"
                },
                "invertRegex": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "PushFilter": {
            "id": "PushFilter",
            "properties": {
                "branch": {
                    "type": "string"
                },
                "invertRegex": {
                    "type": "boolean"
                },
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RepoSource": {
            "id": "RepoSource",
            "properties": {
                "branchName": {
                    "type": "string"
                },
                "commitSha": {
                    "type": "string"
                },
                "dir": {
                    "type": "string"
                },
                "invertRegex": {
                    "type": "boolean"
                },
                "projectId": {
                    "type": "string"
                },
                "repoName": {
                    "type": "string"
                },
                "substitutions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "tagName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Results": {
            "id": "Results",
            "properties": {
                "artifactManifest": {
                    "type": "string"
                },
                "artifactTiming": {
                    "$ref": "TimeSpan"
                },
                "buildStepImages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "buildStepOutputs": {
                    "items": {
                        "format": "byte",
                        "type": "string"
                    },
                    "type": "array"
                },
                "images": {
                    "items": {
                        "$ref": "BuiltImage"
                    },
                    "type": "array"
                },
                "numArtifacts": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RetryBuildRequest": {
            "id": "RetryBuildRequest",
            "properties": {},
            "type": "object"
        },
        "SMTPDelivery": {
            "id": "SMTPDelivery",
            "properties": {
                "fromAddress": {
                    "type": "string"
                },
                "password": {
                    "$ref": "NotifierSecretRef"
                },
                "port": {
                    "type": "string"
                },
                "recipientAddresses": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "senderAddress": {
                    "type": "string"
                },
                "server": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Secret": {
            "id": "Secret",
            "properties": {
                "kmsKeyName": {
                    "type": "string"
                },
                "secretEnv": {
                    "additionalProperties": {
                        "format": "byte",
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "SlackDelivery": {
            "id": "SlackDelivery",
            "properties": {
                "webhookUri": {
                    "$ref": "NotifierSecretRef"
                }
            },
            "type": "object"
        },
        "Source": {
            "id": "Source",
            "properties": {
                "repoSource": {
                    "$ref": "RepoSource"
                },
                "storageSource": {
                    "$ref": "StorageSource"
                }
            },
            "type": "object"
        },
        "SourceProvenance": {
            "id": "SourceProvenance",
            "properties": {
                "fileHashes": {
                    "additionalProperties": {
                        "$ref": "FileHashes"
                    },
                    "type": "object"
                },
                "resolvedRepoSource": {
                    "$ref": "RepoSource"
                },
                "resolvedStorageSource": {
                    "$ref": "StorageSource"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StorageSource": {
            "id": "StorageSource",
            "properties": {
                "bucket": {
                    "type": "string"
                },
                "generation": {
                    "format": "int64",
                    "type": "string"
                },
                "object": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TimeSpan": {
            "id": "TimeSpan",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Volume": {
            "id": "Volume",
            "properties": {
                "name": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Build API",
    "version": "v1",
    "version_module": true
}