{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudfunctions.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Functions",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/functions",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudfunctions:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudfunctions.mtls.googleapis.com/",
    "name": "cloudfunctions",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "methods": {
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "cloudfunctions.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/operations",
                    "httpMethod": "GET",
                    "id": "cloudfunctions.operations.list",
                    "parameterOrder": [],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/operations",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "cloudfunctions.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "functions": {
                            "methods": {
                                "call": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions/{functionsId}:call",
                                    "httpMethod": "POST",
                                    "id": "cloudfunctions.projects.locations.functions.call",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/functions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:call",
                                    "request": {
                                        "$ref": "CallFunctionRequest"
                                    },
                                    "response": {
                                        "$ref": "CallFunctionResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions",
                                    "httpMethod": "POST",
                                    "id": "cloudfunctions.projects.locations.functions.create",
                                    "parameterOrder": [
                                        "location"
                                    ],
                                    "parameters": {
                                        "location": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+location}/functions",
                                    "request": {
                                        "$ref": "CloudFunction"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions/{functionsId}",
                                    "httpMethod": "DELETE",
                                    "id": "cloudfunctions.projects.locations.functions.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/functions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "generateDownloadUrl": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions/{functionsId}:generateDownloadUrl",
                                    "httpMethod": "POST",
                                    "id": "cloudfunctions.projects.locations.functions.generateDownloadUrl",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/functions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:generateDownloadUrl",
                                    "request": {
                                        "$ref": "GenerateDownloadUrlRequest"
                                    },
                                    "response": {
                                        "$ref": "GenerateDownloadUrlResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "generateUploadUrl": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions:generateUploadUrl",
                                    "httpMethod": "POST",
                                    "id": "cloudfunctions.projects.locations.functions.generateUploadUrl",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/functions:generateUploadUrl",
                                    "request": {
                                        "$ref": "GenerateUploadUrlRequest"
                                    },
                                    "response": {
                                        "$ref": "GenerateUploadUrlResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions/{functionsId}",
                                    "httpMethod": "GET",
                                    "id": "cloudfunctions.projects.locations.functions.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/functions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "CloudFunction"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions/{functionsId}:getIamPolicy",
                                    "httpMethod": "GET",
                                    "id": "cloudfunctions.projects.locations.functions.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "options.requestedPolicyVersion": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/functions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions",
                                    "httpMethod": "GET",
                                    "id": "cloudfunctions.projects.locations.functions.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/functions",
                                    "response": {
                                        "$ref": "ListFunctionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions/{functionsId}",
                                    "httpMethod": "PATCH",
                                    "id": "cloudfunctions.projects.locations.functions.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/functions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "CloudFunction"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions/{functionsId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "cloudfunctions.projects.locations.functions.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/functions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/functions/{functionsId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "cloudfunctions.projects.locations.functions.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/functions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudfunctions.googleapis.com/",
    "schemas": {
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CallFunctionRequest": {
            "id": "CallFunctionRequest",
            "properties": {
                "data": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CallFunctionResponse": {
            "id": "CallFunctionResponse",
            "properties": {
                "error": {
                    "type": "string"
                },
                "executionId": {
                    "type": "string"
                },
                "result": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloudFunction": {
            "id": "CloudFunction",
            "properties": {
                "availableMemoryMb": {
                    "format": "int32",
                    "type": "integer"
                },
                "buildId": {
                    "readOnly": true,
                    "type": "string"
                },
                "entryPoint": {
                    "type": "string"
                },
                "environmentVariables": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "eventTrigger": {
                    "$ref": "EventTrigger"
                },
                "httpsTrigger": {
                    "$ref": "HttpsTrigger"
                },
                "ingressSettings": {
                    "enum": [
                        "INGRESS_SETTINGS_UNSPECIFIED",
                        "ALLOW_ALL",
                        "ALLOW_INTERNAL_ONLY",
                        "ALLOW_INTERNAL_AND_GCLB"
                    ],
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "maxInstances": {
                    "format": "int32",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "network": {
                    "type": "string"
                },
                "runtime": {
                    "type": "string"
                },
                "serviceAccountEmail": {
                    "type": "string"
                },
                "sourceArchiveUrl": {
                    "type": "string"
                },
                "sourceRepository": {
                    "$ref": "SourceRepository"
                },
                "sourceUploadUrl": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "CLOUD_FUNCTION_STATUS_UNSPECIFIED",
                        "ACTIVE",
                        "OFFLINE",
                        "DEPLOY_IN_PROGRESS",
                        "DELETE_IN_PROGRESS",
                        "UNKNOWN"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "versionId": {
                    "format": "int64",
                    "readOnly": true,
                    "type": "string"
                },
                "vpcConnector": {
                    "type": "string"
                },
                "vpcConnectorEgressSettings": {
                    "enum": [
                        "VPC_CONNECTOR_EGRESS_SETTINGS_UNSPECIFIED",
                        "PRIVATE_RANGES_ONLY",
                        "ALL_TRAFFIC"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventTrigger": {
            "id": "EventTrigger",
            "properties": {
                "eventType": {
                    "type": "string"
                },
                "failurePolicy": {
                    "$ref": "FailurePolicy"
                },
                "resource": {
                    "type": "string"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FailurePolicy": {
            "id": "FailurePolicy",
            "properties": {
                "retry": {
                    "$ref": "Retry"
                }
            },
            "type": "object"
        },
        "GenerateDownloadUrlRequest": {
            "id": "GenerateDownloadUrlRequest",
            "properties": {
                "versionId": {
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GenerateDownloadUrlResponse": {
            "id": "GenerateDownloadUrlResponse",
            "properties": {
                "downloadUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GenerateUploadUrlRequest": {
            "id": "GenerateUploadUrlRequest",
            "properties": {},
            "type": "object"
        },
        "GenerateUploadUrlResponse": {
            "id": "GenerateUploadUrlResponse",
            "properties": {
                "uploadUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HttpsTrigger": {
            "id": "HttpsTrigger",
            "properties": {
                "url": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListFunctionsResponse": {
            "id": "ListFunctionsResponse",
            "properties": {
                "functions": {
                    "items": {
                        "$ref": "CloudFunction"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OperationMetadataV1": {
            "id": "OperationMetadataV1",
            "properties": {
                "buildId": {
                    "type": "string"
                },
                "request": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "target": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "OPERATION_UNSPECIFIED",
                        "CREATE_FUNCTION",
                        "UPDATE_FUNCTION",
                        "DELETE_FUNCTION"
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "versionId": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Retry": {
            "id": "Retry",
            "properties": {},
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceRepository": {
            "id": "SourceRepository",
            "properties": {
                "deployedUrl": {
                    "readOnly": true,
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Functions API",
    "version": "v1",
    "version_module": true
}