{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudresourcemanager.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Resource Manager",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/resource-manager",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudresourcemanager:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudresourcemanager.mtls.googleapis.com/",
    "name": "cloudresourcemanager",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "folders": {
            "methods": {
                "create": {
                    "flatPath": "v2/folders",
                    "httpMethod": "POST",
                    "id": "cloudresourcemanager.folders.create",
                    "parameterOrder": [],
                    "parameters": {
                        "parent": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/folders",
                    "request": {
                        "$ref": "Folder"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "flatPath": "v2/folders/{foldersId}",
                    "httpMethod": "DELETE",
                    "id": "cloudresourcemanager.folders.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^folders/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}",
                    "response": {
                        "$ref": "Folder"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v2/folders/{foldersId}",
                    "httpMethod": "GET",
                    "id": "cloudresourcemanager.folders.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^folders/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}",
                    "response": {
                        "$ref": "Folder"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "getIamPolicy": {
                    "flatPath": "v2/folders/{foldersId}:getIamPolicy",
                    "httpMethod": "POST",
                    "id": "cloudresourcemanager.folders.getIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^folders/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+resource}:getIamPolicy",
                    "request": {
                        "$ref": "GetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "list": {
                    "flatPath": "v2/folders",
                    "httpMethod": "GET",
                    "id": "cloudresourcemanager.folders.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "v2/folders",
                    "response": {
                        "$ref": "ListFoldersResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "move": {
                    "flatPath": "v2/folders/{foldersId}:move",
                    "httpMethod": "POST",
                    "id": "cloudresourcemanager.folders.move",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^folders/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}:move",
                    "request": {
                        "$ref": "MoveFolderRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "patch": {
                    "flatPath": "v2/folders/{foldersId}",
                    "httpMethod": "PATCH",
                    "id": "cloudresourcemanager.folders.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^folders/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}",
                    "request": {
                        "$ref": "Folder"
                    },
                    "response": {
                        "$ref": "Folder"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "search": {
                    "flatPath": "v2/folders:search",
                    "httpMethod": "POST",
                    "id": "cloudresourcemanager.folders.search",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v2/folders:search",
                    "request": {
                        "$ref": "SearchFoldersRequest"
                    },
                    "response": {
                        "$ref": "SearchFoldersResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "setIamPolicy": {
                    "flatPath": "v2/folders/{foldersId}:setIamPolicy",
                    "httpMethod": "POST",
                    "id": "cloudresourcemanager.folders.setIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^folders/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+resource}:setIamPolicy",
                    "request": {
                        "$ref": "SetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "testIamPermissions": {
                    "flatPath": "v2/folders/{foldersId}:testIamPermissions",
                    "httpMethod": "POST",
                    "id": "cloudresourcemanager.folders.testIamPermissions",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^folders/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+resource}:testIamPermissions",
                    "request": {
                        "$ref": "TestIamPermissionsRequest"
                    },
                    "response": {
                        "$ref": "TestIamPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "undelete": {
                    "flatPath": "v2/folders/{foldersId}:undelete",
                    "httpMethod": "POST",
                    "id": "cloudresourcemanager.folders.undelete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^folders/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}:undelete",
                    "request": {
                        "$ref": "UndeleteFolderRequest"
                    },
                    "response": {
                        "$ref": "Folder"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "cloudresourcemanager.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://cloudresourcemanager.googleapis.com/",
    "schemas": {
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Folder": {
            "id": "Folder",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "lifecycleState": {
                    "enum": [
                        "LIFECYCLE_STATE_UNSPECIFIED",
                        "ACTIVE",
                        "DELETE_REQUESTED"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FolderOperation": {
            "id": "FolderOperation",
            "properties": {
                "destinationParent": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "operationType": {
                    "enum": [
                        "OPERATION_TYPE_UNSPECIFIED",
                        "CREATE",
                        "MOVE"
                    ],
                    "type": "string"
                },
                "sourceParent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FolderOperationError": {
            "id": "FolderOperationError",
            "properties": {
                "errorMessageId": {
                    "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "ACTIVE_FOLDER_HEIGHT_VIOLATION",
                        "MAX_CHILD_FOLDERS_VIOLATION",
                        "FOLDER_NAME_UNIQUENESS_VIOLATION",
                        "RESOURCE_DELETED_VIOLATION",
                        "PARENT_DELETED_VIOLATION",
                        "CYCLE_INTRODUCED_VIOLATION",
                        "FOLDER_BEING_MOVED_VIOLATION",
                        "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION",
                        "DELETED_FOLDER_HEIGHT_VIOLATION"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIamPolicyRequest": {
            "id": "GetIamPolicyRequest",
            "properties": {
                "options": {
                    "$ref": "GetPolicyOptions"
                }
            },
            "type": "object"
        },
        "GetPolicyOptions": {
            "id": "GetPolicyOptions",
            "properties": {
                "requestedPolicyVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListFoldersResponse": {
            "id": "ListFoldersResponse",
            "properties": {
                "folders": {
                    "items": {
                        "$ref": "Folder"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MoveFolderRequest": {
            "id": "MoveFolderRequest",
            "properties": {
                "destinationParent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ProjectCreationStatus": {
            "id": "ProjectCreationStatus",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "gettable": {
                    "type": "boolean"
                },
                "ready": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "SearchFoldersRequest": {
            "id": "SearchFoldersRequest",
            "properties": {
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                },
                "query": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchFoldersResponse": {
            "id": "SearchFoldersResponse",
            "properties": {
                "folders": {
                    "items": {
                        "$ref": "Folder"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UndeleteFolderRequest": {
            "id": "UndeleteFolderRequest",
            "properties": {},
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Resource Manager API",
    "version": "v2"
}