{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudasset.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Asset",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/asset-inventory/docs/quickstart",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudasset:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudasset.mtls.googleapis.com/",
    "name": "cloudasset",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "feeds": {
            "methods": {
                "create": {
                    "flatPath": "v1/{v1Id}/{v1Id1}/feeds",
                    "httpMethod": "POST",
                    "id": "cloudasset.feeds.create",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}/feeds",
                    "request": {
                        "$ref": "CreateFeedRequest"
                    },
                    "response": {
                        "$ref": "Feed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "flatPath": "v1/{v1Id}/{v1Id1}/feeds/{feedsId}",
                    "httpMethod": "DELETE",
                    "id": "cloudasset.feeds.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/feeds/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/{v1Id}/{v1Id1}/feeds/{feedsId}",
                    "httpMethod": "GET",
                    "id": "cloudasset.feeds.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/feeds/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Feed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/{v1Id}/{v1Id1}/feeds",
                    "httpMethod": "GET",
                    "id": "cloudasset.feeds.list",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}/feeds",
                    "response": {
                        "$ref": "ListFeedsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "patch": {
                    "flatPath": "v1/{v1Id}/{v1Id1}/feeds/{feedsId}",
                    "httpMethod": "PATCH",
                    "id": "cloudasset.feeds.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/feeds/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "UpdateFeedRequest"
                    },
                    "response": {
                        "$ref": "Feed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "flatPath": "v1/{v1Id}/{v1Id1}/operations/{operationsId}/{operationsId1}",
                    "httpMethod": "GET",
                    "id": "cloudasset.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/operations/[^/]+/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "v1": {
            "methods": {
                "batchGetAssetsHistory": {
                    "flatPath": "v1/{v1Id}/{v1Id1}:batchGetAssetsHistory",
                    "httpMethod": "GET",
                    "id": "cloudasset.batchGetAssetsHistory",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "assetNames": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "contentType": {
                            "enum": [
                                "CONTENT_TYPE_UNSPECIFIED",
                                "RESOURCE",
                                "IAM_POLICY",
                                "ORG_POLICY",
                                "ACCESS_POLICY"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "readTimeWindow.endTime": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        },
                        "readTimeWindow.startTime": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}:batchGetAssetsHistory",
                    "response": {
                        "$ref": "BatchGetAssetsHistoryResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "exportAssets": {
                    "flatPath": "v1/{v1Id}/{v1Id1}:exportAssets",
                    "httpMethod": "POST",
                    "id": "cloudasset.exportAssets",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}:exportAssets",
                    "request": {
                        "$ref": "ExportAssetsRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "searchAllIamPolicies": {
                    "flatPath": "v1/{v1Id}/{v1Id1}:searchAllIamPolicies",
                    "httpMethod": "GET",
                    "id": "cloudasset.searchAllIamPolicies",
                    "parameterOrder": [
                        "scope"
                    ],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        },
                        "scope": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+scope}:searchAllIamPolicies",
                    "response": {
                        "$ref": "SearchAllIamPoliciesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "searchAllResources": {
                    "flatPath": "v1/{v1Id}/{v1Id1}:searchAllResources",
                    "httpMethod": "GET",
                    "id": "cloudasset.searchAllResources",
                    "parameterOrder": [
                        "scope"
                    ],
                    "parameters": {
                        "assetTypes": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        },
                        "scope": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+scope}:searchAllResources",
                    "response": {
                        "$ref": "SearchAllResourcesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://cloudasset.googleapis.com/",
    "schemas": {
        "Asset": {
            "id": "Asset",
            "properties": {
                "accessLevel": {
                    "$ref": "GoogleIdentityAccesscontextmanagerV1AccessLevel"
                },
                "accessPolicy": {
                    "$ref": "GoogleIdentityAccesscontextmanagerV1AccessPolicy"
                },
                "ancestors": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "assetType": {
                    "type": "string"
                },
                "iamPolicy": {
                    "$ref": "Policy"
                },
                "name": {
                    "type": "string"
                },
                "orgPolicy": {
                    "items": {
                        "$ref": "GoogleCloudOrgpolicyV1Policy"
                    },
                    "type": "array"
                },
                "resource": {
                    "$ref": "Resource"
                },
                "servicePerimeter": {
                    "$ref": "GoogleIdentityAccesscontextmanagerV1ServicePerimeter"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchGetAssetsHistoryResponse": {
            "id": "BatchGetAssetsHistoryResponse",
            "properties": {
                "assets": {
                    "items": {
                        "$ref": "TemporalAsset"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BigQueryDestination": {
            "id": "BigQueryDestination",
            "properties": {
                "dataset": {
                    "type": "string"
                },
                "force": {
                    "type": "boolean"
                },
                "table": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateFeedRequest": {
            "id": "CreateFeedRequest",
            "properties": {
                "feed": {
                    "$ref": "Feed"
                },
                "feedId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Explanation": {
            "id": "Explanation",
            "properties": {
                "matchedPermissions": {
                    "additionalProperties": {
                        "$ref": "Permissions"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ExportAssetsRequest": {
            "id": "ExportAssetsRequest",
            "properties": {
                "assetTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "contentType": {
                    "enum": [
                        "CONTENT_TYPE_UNSPECIFIED",
                        "RESOURCE",
                        "IAM_POLICY",
                        "ORG_POLICY",
                        "ACCESS_POLICY"
                    ],
                    "type": "string"
                },
                "outputConfig": {
                    "$ref": "OutputConfig"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Feed": {
            "id": "Feed",
            "properties": {
                "assetNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "assetTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "condition": {
                    "$ref": "Expr"
                },
                "contentType": {
                    "enum": [
                        "CONTENT_TYPE_UNSPECIFIED",
                        "RESOURCE",
                        "IAM_POLICY",
                        "ORG_POLICY",
                        "ACCESS_POLICY"
                    ],
                    "type": "string"
                },
                "feedOutputConfig": {
                    "$ref": "FeedOutputConfig"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FeedOutputConfig": {
            "id": "FeedOutputConfig",
            "properties": {
                "pubsubDestination": {
                    "$ref": "PubsubDestination"
                }
            },
            "type": "object"
        },
        "GcsDestination": {
            "id": "GcsDestination",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "uriPrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudOrgpolicyV1BooleanPolicy": {
            "id": "GoogleCloudOrgpolicyV1BooleanPolicy",
            "properties": {
                "enforced": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleCloudOrgpolicyV1ListPolicy": {
            "id": "GoogleCloudOrgpolicyV1ListPolicy",
            "properties": {
                "allValues": {
                    "enum": [
                        "ALL_VALUES_UNSPECIFIED",
                        "ALLOW",
                        "DENY"
                    ],
                    "type": "string"
                },
                "allowedValues": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "deniedValues": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "inheritFromParent": {
                    "type": "boolean"
                },
                "suggestedValue": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudOrgpolicyV1Policy": {
            "id": "GoogleCloudOrgpolicyV1Policy",
            "properties": {
                "booleanPolicy": {
                    "$ref": "GoogleCloudOrgpolicyV1BooleanPolicy"
                },
                "constraint": {
                    "type": "string"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "listPolicy": {
                    "$ref": "GoogleCloudOrgpolicyV1ListPolicy"
                },
                "restoreDefault": {
                    "$ref": "GoogleCloudOrgpolicyV1RestoreDefault"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudOrgpolicyV1RestoreDefault": {
            "id": "GoogleCloudOrgpolicyV1RestoreDefault",
            "properties": {},
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1AccessLevel": {
            "id": "GoogleIdentityAccesscontextmanagerV1AccessLevel",
            "properties": {
                "basic": {
                    "$ref": "GoogleIdentityAccesscontextmanagerV1BasicLevel"
                },
                "custom": {
                    "$ref": "GoogleIdentityAccesscontextmanagerV1CustomLevel"
                },
                "name": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1AccessPolicy": {
            "id": "GoogleIdentityAccesscontextmanagerV1AccessPolicy",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1BasicLevel": {
            "id": "GoogleIdentityAccesscontextmanagerV1BasicLevel",
            "properties": {
                "combiningFunction": {
                    "enum": [
                        "AND",
                        "OR"
                    ],
                    "type": "string"
                },
                "conditions": {
                    "items": {
                        "$ref": "GoogleIdentityAccesscontextmanagerV1Condition"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1Condition": {
            "id": "GoogleIdentityAccesscontextmanagerV1Condition",
            "properties": {
                "devicePolicy": {
                    "$ref": "GoogleIdentityAccesscontextmanagerV1DevicePolicy"
                },
                "ipSubnetworks": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "negate": {
                    "type": "boolean"
                },
                "regions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "requiredAccessLevels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1CustomLevel": {
            "id": "GoogleIdentityAccesscontextmanagerV1CustomLevel",
            "properties": {
                "expr": {
                    "$ref": "Expr"
                }
            },
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1DevicePolicy": {
            "id": "GoogleIdentityAccesscontextmanagerV1DevicePolicy",
            "properties": {
                "allowedDeviceManagementLevels": {
                    "items": {
                        "enum": [
                            "MANAGEMENT_UNSPECIFIED",
                            "NONE",
                            "BASIC",
                            "COMPLETE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "allowedEncryptionStatuses": {
                    "items": {
                        "enum": [
                            "ENCRYPTION_UNSPECIFIED",
                            "ENCRYPTION_UNSUPPORTED",
                            "UNENCRYPTED",
                            "ENCRYPTED"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "osConstraints": {
                    "items": {
                        "$ref": "GoogleIdentityAccesscontextmanagerV1OsConstraint"
                    },
                    "type": "array"
                },
                "requireAdminApproval": {
                    "type": "boolean"
                },
                "requireCorpOwned": {
                    "type": "boolean"
                },
                "requireScreenlock": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1OsConstraint": {
            "id": "GoogleIdentityAccesscontextmanagerV1OsConstraint",
            "properties": {
                "minimumVersion": {
                    "type": "string"
                },
                "osType": {
                    "enum": [
                        "OS_UNSPECIFIED",
                        "DESKTOP_MAC",
                        "DESKTOP_WINDOWS",
                        "DESKTOP_LINUX",
                        "DESKTOP_CHROME_OS",
                        "ANDROID",
                        "IOS"
                    ],
                    "type": "string"
                },
                "requireVerifiedChromeOs": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1ServicePerimeter": {
            "id": "GoogleIdentityAccesscontextmanagerV1ServicePerimeter",
            "properties": {
                "name": {
                    "type": "string"
                },
                "perimeterType": {
                    "enum": [
                        "PERIMETER_TYPE_REGULAR",
                        "PERIMETER_TYPE_BRIDGE"
                    ],
                    "type": "string"
                },
                "spec": {
                    "$ref": "GoogleIdentityAccesscontextmanagerV1ServicePerimeterConfig"
                },
                "status": {
                    "$ref": "GoogleIdentityAccesscontextmanagerV1ServicePerimeterConfig"
                },
                "title": {
                    "type": "string"
                },
                "useExplicitDryRunSpec": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1ServicePerimeterConfig": {
            "id": "GoogleIdentityAccesscontextmanagerV1ServicePerimeterConfig",
            "properties": {
                "accessLevels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "resources": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "restrictedServices": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "vpcAccessibleServices": {
                    "$ref": "GoogleIdentityAccesscontextmanagerV1VpcAccessibleServices"
                }
            },
            "type": "object"
        },
        "GoogleIdentityAccesscontextmanagerV1VpcAccessibleServices": {
            "id": "GoogleIdentityAccesscontextmanagerV1VpcAccessibleServices",
            "properties": {
                "allowedServices": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "enableRestriction": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "IamPolicySearchResult": {
            "id": "IamPolicySearchResult",
            "properties": {
                "explanation": {
                    "$ref": "Explanation"
                },
                "policy": {
                    "$ref": "Policy"
                },
                "project": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListFeedsResponse": {
            "id": "ListFeedsResponse",
            "properties": {
                "feeds": {
                    "items": {
                        "$ref": "Feed"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OutputConfig": {
            "id": "OutputConfig",
            "properties": {
                "bigqueryDestination": {
                    "$ref": "BigQueryDestination"
                },
                "gcsDestination": {
                    "$ref": "GcsDestination"
                }
            },
            "type": "object"
        },
        "Permissions": {
            "id": "Permissions",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PubsubDestination": {
            "id": "PubsubDestination",
            "properties": {
                "topic": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Resource": {
            "id": "Resource",
            "properties": {
                "data": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "discoveryDocumentUri": {
                    "type": "string"
                },
                "discoveryName": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "resourceUrl": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResourceSearchResult": {
            "id": "ResourceSearchResult",
            "properties": {
                "additionalAttributes": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "assetType": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "location": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "networkTags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "project": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchAllIamPoliciesResponse": {
            "id": "SearchAllIamPoliciesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "results": {
                    "items": {
                        "$ref": "IamPolicySearchResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SearchAllResourcesResponse": {
            "id": "SearchAllResourcesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "results": {
                    "items": {
                        "$ref": "ResourceSearchResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TemporalAsset": {
            "id": "TemporalAsset",
            "properties": {
                "asset": {
                    "$ref": "Asset"
                },
                "deleted": {
                    "type": "boolean"
                },
                "priorAsset": {
                    "$ref": "Asset"
                },
                "priorAssetState": {
                    "enum": [
                        "PRIOR_ASSET_STATE_UNSPECIFIED",
                        "PRESENT",
                        "INVALID",
                        "DOES_NOT_EXIST",
                        "DELETED"
                    ],
                    "type": "string"
                },
                "window": {
                    "$ref": "TimeWindow"
                }
            },
            "type": "object"
        },
        "TimeWindow": {
            "id": "TimeWindow",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateFeedRequest": {
            "id": "UpdateFeedRequest",
            "properties": {
                "feed": {
                    "$ref": "Feed"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Asset API",
    "version": "v1",
    "version_module": true
}