{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-identity.groups": {},
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {},
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudidentity.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Identity",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/identity/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudidentity:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
    "name": "cloudidentity",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "groups": {
            "methods": {
                "create": {
                    "flatPath": "v1/groups",
                    "httpMethod": "POST",
                    "id": "cloudidentity.groups.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/groups",
                    "request": {
                        "$ref": "Group"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "flatPath": "v1/groups/{groupsId}",
                    "httpMethod": "DELETE",
                    "id": "cloudidentity.groups.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^groups/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/groups/{groupsId}",
                    "httpMethod": "GET",
                    "id": "cloudidentity.groups.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^groups/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Group"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/groups",
                    "httpMethod": "GET",
                    "id": "cloudidentity.groups.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "query",
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/groups",
                    "response": {
                        "$ref": "ListGroupsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "lookup": {
                    "flatPath": "v1/groups:lookup",
                    "httpMethod": "GET",
                    "id": "cloudidentity.groups.lookup",
                    "parameterOrder": [],
                    "parameters": {
                        "groupKey.id": {
                            "location": "query",
                            "type": "string"
                        },
                        "groupKey.namespace": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/groups:lookup",
                    "response": {
                        "$ref": "LookupGroupNameResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "patch": {
                    "flatPath": "v1/groups/{groupsId}",
                    "httpMethod": "PATCH",
                    "id": "cloudidentity.groups.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^groups/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "Group"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "search": {
                    "flatPath": "v1/groups:search",
                    "httpMethod": "GET",
                    "id": "cloudidentity.groups.search",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/groups:search",
                    "response": {
                        "$ref": "SearchGroupsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-identity.groups",
                        "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "memberships": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/groups/{groupsId}/memberships",
                            "httpMethod": "POST",
                            "id": "cloudidentity.groups.memberships.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/memberships",
                            "request": {
                                "$ref": "Membership"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}",
                            "httpMethod": "DELETE",
                            "id": "cloudidentity.groups.memberships.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+/memberships/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}",
                            "httpMethod": "GET",
                            "id": "cloudidentity.groups.memberships.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+/memberships/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Membership"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/groups/{groupsId}/memberships",
                            "httpMethod": "GET",
                            "id": "cloudidentity.groups.memberships.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "VIEW_UNSPECIFIED",
                                        "BASIC",
                                        "FULL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/memberships",
                            "response": {
                                "$ref": "ListMembershipsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "lookup": {
                            "flatPath": "v1/groups/{groupsId}/memberships:lookup",
                            "httpMethod": "GET",
                            "id": "cloudidentity.groups.memberships.lookup",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "memberKey.id": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "memberKey.namespace": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^groups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/memberships:lookup",
                            "response": {
                                "$ref": "LookupMembershipNameResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-identity.groups",
                                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudidentity.googleapis.com/",
    "schemas": {
        "AndroidAttributes": {
            "id": "AndroidAttributes",
            "properties": {
                "basebandVersion": {
                    "type": "string"
                },
                "bootloaderVersion": {
                    "type": "string"
                },
                "buildNumber": {
                    "type": "string"
                },
                "enabledDeveloperOptions": {
                    "type": "boolean"
                },
                "enabledUnknownSources": {
                    "type": "boolean"
                },
                "enabledUsbDebugging": {
                    "type": "boolean"
                },
                "encryptionState": {
                    "enum": [
                        "ENCRYPTION_STATE_UNSPECIFIED",
                        "UNSUPPORTED_BY_DEVICE",
                        "ENCRYPTED",
                        "NOT_ENCRYPTED"
                    ],
                    "enumDescriptions": [
                        "Encryption Status is not set.",
                        "Device doesn't support encryption.",
                        "Device is encrypted.",
                        "Device is not encrypted."
                    ],
                    "type": "string"
                },
                "hardware": {
                    "type": "string"
                },
                "kernelVersion": {
                    "type": "string"
                },
                "otherAccounts": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "ownerProfileAccount": {
                    "type": "boolean"
                },
                "ownershipPrivilege": {
                    "enum": [
                        "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
                        "DEVICE_ADMINISTRATOR",
                        "PROFILE_OWNER",
                        "DEVICE_OWNER"
                    ],
                    "enumDescriptions": [
                        "Ownership privilege is not set.",
                        "Active device administrator privileges on the device.",
                        "Profile Owner privileges.\nThe account is in a managed corporate profile.",
                        "Device Owner privileges on the device."
                    ],
                    "type": "string"
                },
                "securityPatchTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "supportsWorkProfile": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ApproveDeviceUserResponse": {
            "id": "ApproveDeviceUserResponse",
            "properties": {
                "deviceUser": {
                    "$ref": "DeviceUser"
                }
            },
            "type": "object"
        },
        "BlockDeviceUserResponse": {
            "id": "BlockDeviceUserResponse",
            "properties": {
                "deviceUser": {
                    "$ref": "DeviceUser"
                }
            },
            "type": "object"
        },
        "CancelWipeDeviceResponse": {
            "id": "CancelWipeDeviceResponse",
            "properties": {
                "device": {
                    "$ref": "Device"
                }
            },
            "type": "object"
        },
        "CancelWipeDeviceUserResponse": {
            "id": "CancelWipeDeviceUserResponse",
            "properties": {
                "deviceUser": {
                    "$ref": "DeviceUser"
                }
            },
            "type": "object"
        },
        "Device": {
            "id": "Device",
            "properties": {
                "androidSpecificAttributes": {
                    "$ref": "AndroidAttributes"
                },
                "assetTag": {
                    "type": "string"
                },
                "brand": {
                    "type": "string"
                },
                "compromisedState": {
                    "enum": [
                        "COMPROMISED_STATE_UNSPECIFIED",
                        "COMPROMISED",
                        "UNCOMPROMISED"
                    ],
                    "enumDescriptions": [
                        "Default value.",
                        "The device is compromised (currently, this means Android device is\nrooted).",
                        "The device is safe (currently, this means Android device is unrooted)."
                    ],
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "deviceType": {
                    "enum": [
                        "DEVICE_TYPE_UNSPECIFIED",
                        "ANDROID",
                        "IOS",
                        "GOOGLE_SYNC",
                        "WINDOWS",
                        "MAC_OS",
                        "LINUX",
                        "CHROME_OS"
                    ],
                    "enumDescriptions": [
                        "Unknown device type",
                        "Device is an Android device",
                        "Device is an iOS device",
                        "Device is a Google Sync device.",
                        "Device is a Windows device.",
                        "Device is a MacOS device.",
                        "Device is a Linux device.",
                        "Device is a ChromeOS device."
                    ],
                    "type": "string"
                },
                "imei": {
                    "type": "string"
                },
                "lastSyncTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "managementState": {
                    "enum": [
                        "MANAGEMENT_STATE_UNSPECIFIED",
                        "APPROVED",
                        "BLOCKED",
                        "PENDING",
                        "UNPROVISIONED",
                        "WIPING",
                        "WIPED"
                    ],
                    "enumDescriptions": [
                        "Default value. This value is unused.",
                        "Device is approved.",
                        "Device is blocked.",
                        "Device is pending approval.",
                        "The device is not provisioned. Device will start from this state until\nsome action is taken (i.e. a user starts using the device).",
                        "Data and settings on the device are being removed.",
                        "All data and settings on the device are removed."
                    ],
                    "type": "string"
                },
                "manufacturer": {
                    "type": "string"
                },
                "meid": {
                    "type": "string"
                },
                "model": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "networkOperator": {
                    "type": "string"
                },
                "osVersion": {
                    "type": "string"
                },
                "ownerType": {
                    "enum": [
                        "DEVICE_OWNERSHIP_UNSPECIFIED",
                        "COMPANY",
                        "BYOD"
                    ],
                    "enumDescriptions": [
                        "Default value. The value is unused.",
                        "Company owns the device.",
                        "Bring Your Own Device (i.e. individual owns the device)"
                    ],
                    "type": "string"
                },
                "releaseVersion": {
                    "type": "string"
                },
                "serialNumber": {
                    "type": "string"
                },
                "wifiMacAddresses": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DeviceUser": {
            "id": "DeviceUser",
            "properties": {
                "compromisedState": {
                    "enum": [
                        "COMPROMISED_STATE_UNSPECIFIED",
                        "COMPROMISED",
                        "NOT_COMPROMISED"
                    ],
                    "enumDescriptions": [
                        "Compromised state of Device User account is unknown or unspecified.",
                        "Device User Account is compromised.",
                        "Device User Account is not compromised."
                    ],
                    "type": "string"
                },
                "firstSyncTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                },
                "lastSyncTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "managementState": {
                    "enum": [
                        "MANAGEMENT_STATE_UNSPECIFIED",
                        "WIPING",
                        "WIPED",
                        "APPROVED",
                        "BLOCKED",
                        "PENDING_APPROVAL",
                        "UNENROLLED"
                    ],
                    "enumDescriptions": [
                        "Default value. This value is unused.",
                        "This user's data and profile is being removed from the device.",
                        "This user's data and profile is removed from the device.",
                        "User is approved to access data on the device.",
                        "User is blocked from accessing data on the device.",
                        "User is awaiting approval.",
                        "User is unenrolled from Advanced Windows Management, but the Windows\naccount is still intact."
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "passwordState": {
                    "enum": [
                        "PASSWORD_STATE_UNSPECIFIED",
                        "PASSWORD_SET",
                        "PASSWORD_NOT_SET"
                    ],
                    "enumDescriptions": [
                        "Password state not set.",
                        "Password set in object.",
                        "Password not set in object."
                    ],
                    "type": "string"
                },
                "userAgent": {
                    "type": "string"
                },
                "userEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EndpointApp": {
            "id": "EndpointApp",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "versionCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "versionName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EntityKey": {
            "id": "EntityKey",
            "properties": {
                "id": {
                    "type": "string"
                },
                "namespace": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Group": {
            "id": "Group",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "groupKey": {
                    "$ref": "EntityKey"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDeviceUsersResponse": {
            "id": "ListDeviceUsersResponse",
            "properties": {
                "deviceUsers": {
                    "items": {
                        "$ref": "DeviceUser"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDevicesResponse": {
            "id": "ListDevicesResponse",
            "properties": {
                "devices": {
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListEndpointAppsResponse": {
            "id": "ListEndpointAppsResponse",
            "properties": {
                "endpointApps": {
                    "items": {
                        "$ref": "EndpointApp"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListGroupsResponse": {
            "id": "ListGroupsResponse",
            "properties": {
                "groups": {
                    "items": {
                        "$ref": "Group"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListMembershipsResponse": {
            "id": "ListMembershipsResponse",
            "properties": {
                "memberships": {
                    "items": {
                        "$ref": "Membership"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LookupGroupNameResponse": {
            "id": "LookupGroupNameResponse",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LookupMembershipNameResponse": {
            "id": "LookupMembershipNameResponse",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Membership": {
            "id": "Membership",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "preferredMemberKey": {
                    "$ref": "EntityKey"
                },
                "roles": {
                    "items": {
                        "$ref": "MembershipRole"
                    },
                    "type": "array"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MembershipRole": {
            "id": "MembershipRole",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "SearchGroupsResponse": {
            "id": "SearchGroupsResponse",
            "properties": {
                "groups": {
                    "items": {
                        "$ref": "Group"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WipeDeviceResponse": {
            "id": "WipeDeviceResponse",
            "properties": {
                "device": {
                    "$ref": "Device"
                }
            },
            "type": "object"
        },
        "WipeDeviceUserResponse": {
            "id": "WipeDeviceUserResponse",
            "properties": {
                "deviceUser": {
                    "$ref": "DeviceUser"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Identity API",
    "version": "v1",
    "version_module": true
}