{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudshell.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Shell",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/shell/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudshell:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudshell.mtls.googleapis.com/",
    "name": "cloudshell",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "methods": {
                "cancel": {
                    "flatPath": "v1/operations/{operationsId}:cancel",
                    "httpMethod": "POST",
                    "id": "cloudshell.operations.cancel",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:cancel",
                    "request": {
                        "$ref": "CancelOperationRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "DELETE",
                    "id": "cloudshell.operations.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "cloudshell.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/operations",
                    "httpMethod": "GET",
                    "id": "cloudshell.operations.list",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "path",
                            "pattern": "^operations$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://cloudshell.googleapis.com/",
    "schemas": {
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Environment": {
            "id": "Environment",
            "properties": {
                "dockerImage": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "publicKeys": {
                    "items": {
                        "$ref": "PublicKey"
                    },
                    "type": "array"
                },
                "size": {
                    "enum": [
                        "VM_SIZE_UNSPECIFIED",
                        "DEFAULT",
                        "BOOSTED"
                    ],
                    "enumDescriptions": [
                        "The VM size is unknown.",
                        "The default VM size.",
                        "The boosted VM size."
                    ],
                    "type": "string"
                },
                "sshHost": {
                    "type": "string"
                },
                "sshPort": {
                    "format": "int32",
                    "type": "integer"
                },
                "sshUsername": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "DISABLED",
                        "STARTING",
                        "RUNNING"
                    ],
                    "enumDescriptions": [
                        "The environment's states is unknown.",
                        "The environment is not running and can't be connected to. Starting the\nenvironment will transition it to the STARTING state.",
                        "The environment is being started but is not yet ready to accept\nconnections.",
                        "The environment is running and ready to accept connections. It will\nautomatically transition back to DISABLED after a period of inactivity or\nif another environment is started."
                    ],
                    "type": "string"
                },
                "vmSizeExpireTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "webHost": {
                    "type": "string"
                },
                "webPorts": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PublicKey": {
            "id": "PublicKey",
            "properties": {
                "format": {
                    "enum": [
                        "FORMAT_UNSPECIFIED",
                        "SSH_DSS",
                        "SSH_RSA",
                        "ECDSA_SHA2_NISTP256",
                        "ECDSA_SHA2_NISTP384",
                        "ECDSA_SHA2_NISTP521"
                    ],
                    "enumDescriptions": [
                        "Unknown format. Do not use.",
                        "`ssh-dss` key format (see RFC4253).",
                        "`ssh-rsa` key format (see RFC4253).",
                        "`ecdsa-sha2-nistp256` key format (see RFC5656).",
                        "`ecdsa-sha2-nistp384` key format (see RFC5656).",
                        "`ecdsa-sha2-nistp521` key format (see RFC5656)."
                    ],
                    "type": "string"
                },
                "key": {
                    "format": "byte",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StartEnvironmentMetadata": {
            "id": "StartEnvironmentMetadata",
            "properties": {
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "STARTING",
                        "UNARCHIVING_DISK",
                        "AWAITING_VM",
                        "FINISHED"
                    ],
                    "enumDescriptions": [
                        "The environment's start state is unknown.",
                        "The environment is in the process of being started, but no additional\ndetails are available.",
                        "Startup is waiting for the user's disk to be unarchived. This can happen\nwhen the user returns to Cloud Shell after not having used it for a\nwhile, and suggests that startup will take longer than normal.",
                        "Startup is waiting for a VM to be assigned to the environment. This\nshould normally happen very quickly, but an environment might stay in\nthis state for an extended period of time if the system is experiencing\nheavy load.",
                        "Startup is complete and the user should be able to establish an SSH\nconnection to their environment."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StartEnvironmentResponse": {
            "id": "StartEnvironmentResponse",
            "properties": {
                "environment": {
                    "$ref": "Environment"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Shell API",
    "version": "v1",
    "version_module": true
}