{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloudiot": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudiot.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Iot",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/iot",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudiot:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudiot.mtls.googleapis.com/",
    "name": "cloudiot",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "resources": {
                        "registries": {
                            "methods": {
                                "bindDeviceToGateway": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}:bindDeviceToGateway",
                                    "httpMethod": "POST",
                                    "id": "cloudiot.projects.locations.registries.bindDeviceToGateway",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}:bindDeviceToGateway",
                                    "request": {
                                        "$ref": "BindDeviceToGatewayRequest"
                                    },
                                    "response": {
                                        "$ref": "BindDeviceToGatewayResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries",
                                    "httpMethod": "POST",
                                    "id": "cloudiot.projects.locations.registries.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/registries",
                                    "request": {
                                        "$ref": "DeviceRegistry"
                                    },
                                    "response": {
                                        "$ref": "DeviceRegistry"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}",
                                    "httpMethod": "DELETE",
                                    "id": "cloudiot.projects.locations.registries.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}",
                                    "httpMethod": "GET",
                                    "id": "cloudiot.projects.locations.registries.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "DeviceRegistry"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "cloudiot.projects.locations.registries.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries",
                                    "httpMethod": "GET",
                                    "id": "cloudiot.projects.locations.registries.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/registries",
                                    "response": {
                                        "$ref": "ListDeviceRegistriesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}",
                                    "httpMethod": "PATCH",
                                    "id": "cloudiot.projects.locations.registries.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "DeviceRegistry"
                                    },
                                    "response": {
                                        "$ref": "DeviceRegistry"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "cloudiot.projects.locations.registries.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "cloudiot.projects.locations.registries.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                },
                                "unbindDeviceFromGateway": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}:unbindDeviceFromGateway",
                                    "httpMethod": "POST",
                                    "id": "cloudiot.projects.locations.registries.unbindDeviceFromGateway",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}:unbindDeviceFromGateway",
                                    "request": {
                                        "$ref": "UnbindDeviceFromGatewayRequest"
                                    },
                                    "response": {
                                        "$ref": "UnbindDeviceFromGatewayResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudiot"
                                    ]
                                }
                            },
                            "resources": {
                                "devices": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/devices",
                                            "httpMethod": "POST",
                                            "id": "cloudiot.projects.locations.registries.devices.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/devices",
                                            "request": {
                                                "$ref": "Device"
                                            },
                                            "response": {
                                                "$ref": "Device"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/devices/{devicesId}",
                                            "httpMethod": "DELETE",
                                            "id": "cloudiot.projects.locations.registries.devices.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/devices/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/devices/{devicesId}",
                                            "httpMethod": "GET",
                                            "id": "cloudiot.projects.locations.registries.devices.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "fieldMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/devices/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Device"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/devices",
                                            "httpMethod": "GET",
                                            "id": "cloudiot.projects.locations.registries.devices.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "deviceIds": {
                                                    "location": "query",
                                                    "repeated": true,
                                                    "type": "string"
                                                },
                                                "deviceNumIds": {
                                                    "format": "uint64",
                                                    "location": "query",
                                                    "repeated": true,
                                                    "type": "string"
                                                },
                                                "fieldMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "gatewayListOptions.associationsDeviceId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "gatewayListOptions.associationsGatewayId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "gatewayListOptions.gatewayType": {
                                                    "enum": [
                                                        "GATEWAY_TYPE_UNSPECIFIED",
                                                        "GATEWAY",
                                                        "NON_GATEWAY"
                                                    ],
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/devices",
                                            "response": {
                                                "$ref": "ListDevicesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        },
                                        "modifyCloudToDeviceConfig": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/devices/{devicesId}:modifyCloudToDeviceConfig",
                                            "httpMethod": "POST",
                                            "id": "cloudiot.projects.locations.registries.devices.modifyCloudToDeviceConfig",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/devices/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:modifyCloudToDeviceConfig",
                                            "request": {
                                                "$ref": "ModifyCloudToDeviceConfigRequest"
                                            },
                                            "response": {
                                                "$ref": "DeviceConfig"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/devices/{devicesId}",
                                            "httpMethod": "PATCH",
                                            "id": "cloudiot.projects.locations.registries.devices.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/devices/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "Device"
                                            },
                                            "response": {
                                                "$ref": "Device"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        },
                                        "sendCommandToDevice": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/devices/{devicesId}:sendCommandToDevice",
                                            "httpMethod": "POST",
                                            "id": "cloudiot.projects.locations.registries.devices.sendCommandToDevice",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/devices/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:sendCommandToDevice",
                                            "request": {
                                                "$ref": "SendCommandToDeviceRequest"
                                            },
                                            "response": {
                                                "$ref": "SendCommandToDeviceResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "configVersions": {
                                            "methods": {
                                                "list": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/devices/{devicesId}/configVersions",
                                                    "httpMethod": "GET",
                                                    "id": "cloudiot.projects.locations.registries.devices.configVersions.list",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/devices/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "numVersions": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "path": "v1/{+name}/configVersions",
                                                    "response": {
                                                        "$ref": "ListDeviceConfigVersionsResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudiot"
                                                    ]
                                                }
                                            }
                                        },
                                        "states": {
                                            "methods": {
                                                "list": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/devices/{devicesId}/states",
                                                    "httpMethod": "GET",
                                                    "id": "cloudiot.projects.locations.registries.devices.states.list",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/devices/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "numStates": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "path": "v1/{+name}/states",
                                                    "response": {
                                                        "$ref": "ListDeviceStatesResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudiot"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "groups": {
                                    "methods": {
                                        "getIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/groups/{groupsId}:getIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "cloudiot.projects.locations.registries.groups.getIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/groups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:getIamPolicy",
                                            "request": {
                                                "$ref": "GetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        },
                                        "setIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/groups/{groupsId}:setIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "cloudiot.projects.locations.registries.groups.setIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/groups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:setIamPolicy",
                                            "request": {
                                                "$ref": "SetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        },
                                        "testIamPermissions": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/groups/{groupsId}:testIamPermissions",
                                            "httpMethod": "POST",
                                            "id": "cloudiot.projects.locations.registries.groups.testIamPermissions",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/groups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:testIamPermissions",
                                            "request": {
                                                "$ref": "TestIamPermissionsRequest"
                                            },
                                            "response": {
                                                "$ref": "TestIamPermissionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudiot"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "devices": {
                                            "methods": {
                                                "list": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/registries/{registriesId}/groups/{groupsId}/devices",
                                                    "httpMethod": "GET",
                                                    "id": "cloudiot.projects.locations.registries.groups.devices.list",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "deviceIds": {
                                                            "location": "query",
                                                            "repeated": true,
                                                            "type": "string"
                                                        },
                                                        "deviceNumIds": {
                                                            "format": "uint64",
                                                            "location": "query",
                                                            "repeated": true,
                                                            "type": "string"
                                                        },
                                                        "fieldMask": {
                                                            "format": "google-fieldmask",
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "gatewayListOptions.associationsDeviceId": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "gatewayListOptions.associationsGatewayId": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "gatewayListOptions.gatewayType": {
                                                            "enum": [
                                                                "GATEWAY_TYPE_UNSPECIFIED",
                                                                "GATEWAY",
                                                                "NON_GATEWAY"
                                                            ],
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/registries/[^/]+/groups/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/devices",
                                                    "response": {
                                                        "$ref": "ListDevicesResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudiot"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudiot.googleapis.com/",
    "schemas": {
        "BindDeviceToGatewayRequest": {
            "id": "BindDeviceToGatewayRequest",
            "properties": {
                "deviceId": {
                    "type": "string"
                },
                "gatewayId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BindDeviceToGatewayResponse": {
            "id": "BindDeviceToGatewayResponse",
            "properties": {},
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Device": {
            "id": "Device",
            "properties": {
                "blocked": {
                    "type": "boolean"
                },
                "config": {
                    "$ref": "DeviceConfig"
                },
                "credentials": {
                    "items": {
                        "$ref": "DeviceCredential"
                    },
                    "type": "array"
                },
                "gatewayConfig": {
                    "$ref": "GatewayConfig"
                },
                "id": {
                    "type": "string"
                },
                "lastConfigAckTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastConfigSendTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastErrorStatus": {
                    "$ref": "Status"
                },
                "lastErrorTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastEventTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastHeartbeatTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastStateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "logLevel": {
                    "enum": [
                        "LOG_LEVEL_UNSPECIFIED",
                        "NONE",
                        "ERROR",
                        "INFO",
                        "DEBUG"
                    ],
                    "enumDescriptions": [
                        "No logging specified. If not specified, logging will be disabled.",
                        "Disables logging.",
                        "Error events will be logged.",
                        "Informational events will be logged, such as connections and\ndisconnections.",
                        "All events will be logged."
                    ],
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "numId": {
                    "format": "uint64",
                    "type": "string"
                },
                "state": {
                    "$ref": "DeviceState"
                }
            },
            "type": "object"
        },
        "DeviceConfig": {
            "id": "DeviceConfig",
            "properties": {
                "binaryData": {
                    "format": "byte",
                    "type": "string"
                },
                "cloudUpdateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "deviceAckTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "version": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeviceCredential": {
            "id": "DeviceCredential",
            "properties": {
                "expirationTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "publicKey": {
                    "$ref": "PublicKeyCredential"
                }
            },
            "type": "object"
        },
        "DeviceRegistry": {
            "id": "DeviceRegistry",
            "properties": {
                "credentials": {
                    "items": {
                        "$ref": "RegistryCredential"
                    },
                    "type": "array"
                },
                "eventNotificationConfigs": {
                    "items": {
                        "$ref": "EventNotificationConfig"
                    },
                    "type": "array"
                },
                "httpConfig": {
                    "$ref": "HttpConfig"
                },
                "id": {
                    "type": "string"
                },
                "logLevel": {
                    "enum": [
                        "LOG_LEVEL_UNSPECIFIED",
                        "NONE",
                        "ERROR",
                        "INFO",
                        "DEBUG"
                    ],
                    "enumDescriptions": [
                        "No logging specified. If not specified, logging will be disabled.",
                        "Disables logging.",
                        "Error events will be logged.",
                        "Informational events will be logged, such as connections and\ndisconnections.",
                        "All events will be logged."
                    ],
                    "type": "string"
                },
                "mqttConfig": {
                    "$ref": "MqttConfig"
                },
                "name": {
                    "type": "string"
                },
                "stateNotificationConfig": {
                    "$ref": "StateNotificationConfig"
                }
            },
            "type": "object"
        },
        "DeviceState": {
            "id": "DeviceState",
            "properties": {
                "binaryData": {
                    "format": "byte",
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EventNotificationConfig": {
            "id": "EventNotificationConfig",
            "properties": {
                "pubsubTopicName": {
                    "type": "string"
                },
                "subfolderMatches": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GatewayConfig": {
            "id": "GatewayConfig",
            "properties": {
                "gatewayAuthMethod": {
                    "enum": [
                        "GATEWAY_AUTH_METHOD_UNSPECIFIED",
                        "ASSOCIATION_ONLY",
                        "DEVICE_AUTH_TOKEN_ONLY",
                        "ASSOCIATION_AND_DEVICE_AUTH_TOKEN"
                    ],
                    "enumDescriptions": [
                        "No authentication/authorization method specified. No devices are allowed to\naccess the gateway.",
                        "The device is authenticated through the gateway association only. Device\ncredentials are ignored even if provided.",
                        "The device is authenticated through its own credentials. Gateway\nassociation is not checked.",
                        "The device is authenticated through both device credentials and gateway\nassociation. The device must be bound to the gateway and must provide its\nown credentials."
                    ],
                    "type": "string"
                },
                "gatewayType": {
                    "enum": [
                        "GATEWAY_TYPE_UNSPECIFIED",
                        "GATEWAY",
                        "NON_GATEWAY"
                    ],
                    "enumDescriptions": [
                        "If unspecified, the device is considered a non-gateway device.",
                        "The device is a gateway.",
                        "The device is not a gateway."
                    ],
                    "type": "string"
                },
                "lastAccessedGatewayId": {
                    "type": "string"
                },
                "lastAccessedGatewayTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIamPolicyRequest": {
            "id": "GetIamPolicyRequest",
            "properties": {
                "options": {
                    "$ref": "GetPolicyOptions"
                }
            },
            "type": "object"
        },
        "GetPolicyOptions": {
            "id": "GetPolicyOptions",
            "properties": {
                "requestedPolicyVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "HttpConfig": {
            "id": "HttpConfig",
            "properties": {
                "httpEnabledState": {
                    "enum": [
                        "HTTP_STATE_UNSPECIFIED",
                        "HTTP_ENABLED",
                        "HTTP_DISABLED"
                    ],
                    "enumDescriptions": [
                        "No HTTP state specified. If not specified, DeviceService will be\nenabled by default.",
                        "Enables DeviceService (HTTP) service for the registry.",
                        "Disables DeviceService (HTTP) service for the registry."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDeviceConfigVersionsResponse": {
            "id": "ListDeviceConfigVersionsResponse",
            "properties": {
                "deviceConfigs": {
                    "items": {
                        "$ref": "DeviceConfig"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListDeviceRegistriesResponse": {
            "id": "ListDeviceRegistriesResponse",
            "properties": {
                "deviceRegistries": {
                    "items": {
                        "$ref": "DeviceRegistry"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDeviceStatesResponse": {
            "id": "ListDeviceStatesResponse",
            "properties": {
                "deviceStates": {
                    "items": {
                        "$ref": "DeviceState"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListDevicesResponse": {
            "id": "ListDevicesResponse",
            "properties": {
                "devices": {
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ModifyCloudToDeviceConfigRequest": {
            "id": "ModifyCloudToDeviceConfigRequest",
            "properties": {
                "binaryData": {
                    "format": "byte",
                    "type": "string"
                },
                "versionToUpdate": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MqttConfig": {
            "id": "MqttConfig",
            "properties": {
                "mqttEnabledState": {
                    "enum": [
                        "MQTT_STATE_UNSPECIFIED",
                        "MQTT_ENABLED",
                        "MQTT_DISABLED"
                    ],
                    "enumDescriptions": [
                        "No MQTT state specified. If not specified, MQTT will be enabled by default.",
                        "Enables a MQTT connection.",
                        "Disables a MQTT connection."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PublicKeyCertificate": {
            "id": "PublicKeyCertificate",
            "properties": {
                "certificate": {
                    "type": "string"
                },
                "format": {
                    "enum": [
                        "UNSPECIFIED_PUBLIC_KEY_CERTIFICATE_FORMAT",
                        "X509_CERTIFICATE_PEM"
                    ],
                    "enumDescriptions": [
                        "The format has not been specified. This is an invalid default value and\nmust not be used.",
                        "An X.509v3 certificate ([RFC5280](https://www.ietf.org/rfc/rfc5280.txt)),\nencoded in base64, and wrapped by `-----BEGIN CERTIFICATE-----` and\n`-----END CERTIFICATE-----`."
                    ],
                    "type": "string"
                },
                "x509Details": {
                    "$ref": "X509CertificateDetails"
                }
            },
            "type": "object"
        },
        "PublicKeyCredential": {
            "id": "PublicKeyCredential",
            "properties": {
                "format": {
                    "enum": [
                        "UNSPECIFIED_PUBLIC_KEY_FORMAT",
                        "RSA_PEM",
                        "RSA_X509_PEM",
                        "ES256_PEM",
                        "ES256_X509_PEM"
                    ],
                    "enumDescriptions": [
                        "The format has not been specified. This is an invalid default value and\nmust not be used.",
                        "An RSA public key encoded in base64, and wrapped by\n`-----BEGIN PUBLIC KEY-----` and `-----END PUBLIC KEY-----`. This can be\nused to verify `RS256` signatures in JWT tokens ([RFC7518](\nhttps://www.ietf.org/rfc/rfc7518.txt)).",
                        "As RSA_PEM, but wrapped in an X.509v3 certificate ([RFC5280](\nhttps://www.ietf.org/rfc/rfc5280.txt)), encoded in base64, and wrapped by\n`-----BEGIN CERTIFICATE-----` and `-----END CERTIFICATE-----`.",
                        "Public key for the ECDSA algorithm using P-256 and SHA-256, encoded in\nbase64, and wrapped by `-----BEGIN PUBLIC KEY-----` and `-----END\nPUBLIC KEY-----`. This can be used to verify JWT tokens with the `ES256`\nalgorithm ([RFC7518](https://www.ietf.org/rfc/rfc7518.txt)). This curve is\ndefined in [OpenSSL](https://www.openssl.org/) as the `prime256v1` curve.",
                        "As ES256_PEM, but wrapped in an X.509v3 certificate ([RFC5280](\nhttps://www.ietf.org/rfc/rfc5280.txt)), encoded in base64, and wrapped by\n`-----BEGIN CERTIFICATE-----` and `-----END CERTIFICATE-----`."
                    ],
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RegistryCredential": {
            "id": "RegistryCredential",
            "properties": {
                "publicKeyCertificate": {
                    "$ref": "PublicKeyCertificate"
                }
            },
            "type": "object"
        },
        "SendCommandToDeviceRequest": {
            "id": "SendCommandToDeviceRequest",
            "properties": {
                "binaryData": {
                    "format": "byte",
                    "type": "string"
                },
                "subfolder": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SendCommandToDeviceResponse": {
            "id": "SendCommandToDeviceResponse",
            "properties": {},
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                }
            },
            "type": "object"
        },
        "StateNotificationConfig": {
            "id": "StateNotificationConfig",
            "properties": {
                "pubsubTopicName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UnbindDeviceFromGatewayRequest": {
            "id": "UnbindDeviceFromGatewayRequest",
            "properties": {
                "deviceId": {
                    "type": "string"
                },
                "gatewayId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UnbindDeviceFromGatewayResponse": {
            "id": "UnbindDeviceFromGatewayResponse",
            "properties": {},
            "type": "object"
        },
        "X509CertificateDetails": {
            "id": "X509CertificateDetails",
            "properties": {
                "expiryTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "issuer": {
                    "type": "string"
                },
                "publicKeyType": {
                    "type": "string"
                },
                "signatureAlgorithm": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "subject": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud IoT API",
    "version": "v1",
    "version_module": true
}