{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudbilling.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloudbilling",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/billing/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudbilling:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
    "name": "cloudbilling",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "billingAccounts": {
            "methods": {
                "create": {
                    "flatPath": "v1/billingAccounts",
                    "httpMethod": "POST",
                    "id": "cloudbilling.billingAccounts.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/billingAccounts",
                    "request": {
                        "$ref": "BillingAccount"
                    },
                    "response": {
                        "$ref": "BillingAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/billingAccounts/{billingAccountsId}",
                    "httpMethod": "GET",
                    "id": "cloudbilling.billingAccounts.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^billingAccounts/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "BillingAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getIamPolicy": {
                    "flatPath": "v1/billingAccounts/{billingAccountsId}:getIamPolicy",
                    "httpMethod": "GET",
                    "id": "cloudbilling.billingAccounts.getIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "options.requestedPolicyVersion": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "resource": {
                            "location": "path",
                            "pattern": "^billingAccounts/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resource}:getIamPolicy",
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/billingAccounts",
                    "httpMethod": "GET",
                    "id": "cloudbilling.billingAccounts.list",
                    "parameterOrder": [],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/billingAccounts",
                    "response": {
                        "$ref": "ListBillingAccountsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "patch": {
                    "flatPath": "v1/billingAccounts/{billingAccountsId}",
                    "httpMethod": "PATCH",
                    "id": "cloudbilling.billingAccounts.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^billingAccounts/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "BillingAccount"
                    },
                    "response": {
                        "$ref": "BillingAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "setIamPolicy": {
                    "flatPath": "v1/billingAccounts/{billingAccountsId}:setIamPolicy",
                    "httpMethod": "POST",
                    "id": "cloudbilling.billingAccounts.setIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^billingAccounts/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resource}:setIamPolicy",
                    "request": {
                        "$ref": "SetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "testIamPermissions": {
                    "flatPath": "v1/billingAccounts/{billingAccountsId}:testIamPermissions",
                    "httpMethod": "POST",
                    "id": "cloudbilling.billingAccounts.testIamPermissions",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^billingAccounts/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resource}:testIamPermissions",
                    "request": {
                        "$ref": "TestIamPermissionsRequest"
                    },
                    "response": {
                        "$ref": "TestIamPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "projects": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/billingAccounts/{billingAccountsId}/projects",
                            "httpMethod": "GET",
                            "id": "cloudbilling.billingAccounts.projects.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/projects",
                            "response": {
                                "$ref": "ListProjectBillingInfoResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "projects": {
            "methods": {
                "getBillingInfo": {
                    "flatPath": "v1/projects/{projectsId}/billingInfo",
                    "httpMethod": "GET",
                    "id": "cloudbilling.projects.getBillingInfo",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}/billingInfo",
                    "response": {
                        "$ref": "ProjectBillingInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "updateBillingInfo": {
                    "flatPath": "v1/projects/{projectsId}/billingInfo",
                    "httpMethod": "PUT",
                    "id": "cloudbilling.projects.updateBillingInfo",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}/billingInfo",
                    "request": {
                        "$ref": "ProjectBillingInfo"
                    },
                    "response": {
                        "$ref": "ProjectBillingInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "services": {
            "methods": {
                "list": {
                    "flatPath": "v1/services",
                    "httpMethod": "GET",
                    "id": "cloudbilling.services.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/services",
                    "response": {
                        "$ref": "ListServicesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "skus": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/services/{servicesId}/skus",
                            "httpMethod": "GET",
                            "id": "cloudbilling.services.skus.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "currencyCode": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "endTime": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "startTime": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/skus",
                            "response": {
                                "$ref": "ListSkusResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudbilling.googleapis.com/",
    "schemas": {
        "AggregationInfo": {
            "id": "AggregationInfo",
            "properties": {
                "aggregationCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "aggregationInterval": {
                    "enum": [
                        "AGGREGATION_INTERVAL_UNSPECIFIED",
                        "DAILY",
                        "MONTHLY"
                    ],
                    "type": "string"
                },
                "aggregationLevel": {
                    "enum": [
                        "AGGREGATION_LEVEL_UNSPECIFIED",
                        "ACCOUNT",
                        "PROJECT"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BillingAccount": {
            "id": "BillingAccount",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "masterBillingAccount": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "open": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Category": {
            "id": "Category",
            "properties": {
                "resourceFamily": {
                    "type": "string"
                },
                "resourceGroup": {
                    "type": "string"
                },
                "serviceDisplayName": {
                    "type": "string"
                },
                "usageType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GeoTaxonomy": {
            "id": "GeoTaxonomy",
            "properties": {
                "regions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "GLOBAL",
                        "REGIONAL",
                        "MULTI_REGIONAL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListBillingAccountsResponse": {
            "id": "ListBillingAccountsResponse",
            "properties": {
                "billingAccounts": {
                    "items": {
                        "$ref": "BillingAccount"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListProjectBillingInfoResponse": {
            "id": "ListProjectBillingInfoResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "projectBillingInfo": {
                    "items": {
                        "$ref": "ProjectBillingInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListServicesResponse": {
            "id": "ListServicesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "services": {
                    "items": {
                        "$ref": "Service"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListSkusResponse": {
            "id": "ListSkusResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "skus": {
                    "items": {
                        "$ref": "Sku"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Money": {
            "id": "Money",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "units": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PricingExpression": {
            "id": "PricingExpression",
            "properties": {
                "baseUnit": {
                    "type": "string"
                },
                "baseUnitConversionFactor": {
                    "format": "double",
                    "type": "number"
                },
                "baseUnitDescription": {
                    "type": "string"
                },
                "displayQuantity": {
                    "format": "double",
                    "type": "number"
                },
                "tieredRates": {
                    "items": {
                        "$ref": "TierRate"
                    },
                    "type": "array"
                },
                "usageUnit": {
                    "type": "string"
                },
                "usageUnitDescription": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PricingInfo": {
            "id": "PricingInfo",
            "properties": {
                "aggregationInfo": {
                    "$ref": "AggregationInfo"
                },
                "currencyConversionRate": {
                    "format": "double",
                    "type": "number"
                },
                "effectiveTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "pricingExpression": {
                    "$ref": "PricingExpression"
                },
                "summary": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ProjectBillingInfo": {
            "id": "ProjectBillingInfo",
            "properties": {
                "billingAccountName": {
                    "type": "string"
                },
                "billingEnabled": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Service": {
            "id": "Service",
            "properties": {
                "businessEntityName": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "serviceId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Sku": {
            "id": "Sku",
            "properties": {
                "category": {
                    "$ref": "Category"
                },
                "geoTaxonomy": {
                    "$ref": "GeoTaxonomy"
                },
                "name": {
                    "type": "string"
                },
                "pricingInfo": {
                    "items": {
                        "$ref": "PricingInfo"
                    },
                    "type": "array"
                },
                "serviceProviderName": {
                    "type": "string"
                },
                "serviceRegions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "skuId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TierRate": {
            "id": "TierRate",
            "properties": {
                "startUsageAmount": {
                    "format": "double",
                    "type": "number"
                },
                "unitPrice": {
                    "$ref": "Money"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Billing API",
    "version": "v1"
}