{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud_debugger": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://clouddebugger.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Debugger",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/debugger",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "clouddebugger:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://clouddebugger.mtls.googleapis.com/",
    "name": "clouddebugger",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "controller": {
            "resources": {
                "debuggees": {
                    "methods": {
                        "register": {
                            "flatPath": "v2/controller/debuggees/register",
                            "httpMethod": "POST",
                            "id": "clouddebugger.controller.debuggees.register",
                            "parameterOrder": [],
                            "parameters": {},
                            "path": "v2/controller/debuggees/register",
                            "request": {
                                "$ref": "RegisterDebuggeeRequest"
                            },
                            "response": {
                                "$ref": "RegisterDebuggeeResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud_debugger"
                            ]
                        }
                    },
                    "resources": {
                        "breakpoints": {
                            "methods": {
                                "list": {
                                    "flatPath": "v2/controller/debuggees/{debuggeeId}/breakpoints",
                                    "httpMethod": "GET",
                                    "id": "clouddebugger.controller.debuggees.breakpoints.list",
                                    "parameterOrder": [
                                        "debuggeeId"
                                    ],
                                    "parameters": {
                                        "debuggeeId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "successOnTimeout": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "waitToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/controller/debuggees/{debuggeeId}/breakpoints",
                                    "response": {
                                        "$ref": "ListActiveBreakpointsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud_debugger"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v2/controller/debuggees/{debuggeeId}/breakpoints/{id}",
                                    "httpMethod": "PUT",
                                    "id": "clouddebugger.controller.debuggees.breakpoints.update",
                                    "parameterOrder": [
                                        "debuggeeId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "debuggeeId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/controller/debuggees/{debuggeeId}/breakpoints/{id}",
                                    "request": {
                                        "$ref": "UpdateActiveBreakpointRequest"
                                    },
                                    "response": {
                                        "$ref": "UpdateActiveBreakpointResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud_debugger"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "debugger": {
            "resources": {
                "debuggees": {
                    "methods": {
                        "list": {
                            "flatPath": "v2/debugger/debuggees",
                            "httpMethod": "GET",
                            "id": "clouddebugger.debugger.debuggees.list",
                            "parameterOrder": [],
                            "parameters": {
                                "clientVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeInactive": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "project": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/debugger/debuggees",
                            "response": {
                                "$ref": "ListDebuggeesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud_debugger"
                            ]
                        }
                    },
                    "resources": {
                        "breakpoints": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}",
                                    "httpMethod": "DELETE",
                                    "id": "clouddebugger.debugger.debuggees.breakpoints.delete",
                                    "parameterOrder": [
                                        "debuggeeId",
                                        "breakpointId"
                                    ],
                                    "parameters": {
                                        "breakpointId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clientVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "debuggeeId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud_debugger"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}",
                                    "httpMethod": "GET",
                                    "id": "clouddebugger.debugger.debuggees.breakpoints.get",
                                    "parameterOrder": [
                                        "debuggeeId",
                                        "breakpointId"
                                    ],
                                    "parameters": {
                                        "breakpointId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clientVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "debuggeeId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}",
                                    "response": {
                                        "$ref": "GetBreakpointResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud_debugger"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/debugger/debuggees/{debuggeeId}/breakpoints",
                                    "httpMethod": "GET",
                                    "id": "clouddebugger.debugger.debuggees.breakpoints.list",
                                    "parameterOrder": [
                                        "debuggeeId"
                                    ],
                                    "parameters": {
                                        "action.value": {
                                            "enum": [
                                                "CAPTURE",
                                                "LOG"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "clientVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "debuggeeId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "includeAllUsers": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "includeInactive": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "stripResults": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "waitToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/debugger/debuggees/{debuggeeId}/breakpoints",
                                    "response": {
                                        "$ref": "ListBreakpointsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud_debugger"
                                    ]
                                },
                                "set": {
                                    "flatPath": "v2/debugger/debuggees/{debuggeeId}/breakpoints/set",
                                    "httpMethod": "POST",
                                    "id": "clouddebugger.debugger.debuggees.breakpoints.set",
                                    "parameterOrder": [
                                        "debuggeeId"
                                    ],
                                    "parameters": {
                                        "clientVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "debuggeeId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/debugger/debuggees/{debuggeeId}/breakpoints/set",
                                    "request": {
                                        "$ref": "Breakpoint"
                                    },
                                    "response": {
                                        "$ref": "SetBreakpointResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud_debugger"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://clouddebugger.googleapis.com/",
    "schemas": {
        "AliasContext": {
            "id": "AliasContext",
            "properties": {
                "kind": {
                    "enum": [
                        "ANY",
                        "FIXED",
                        "MOVABLE",
                        "OTHER"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Breakpoint": {
            "id": "Breakpoint",
            "properties": {
                "action": {
                    "enum": [
                        "CAPTURE",
                        "LOG"
                    ],
                    "type": "string"
                },
                "condition": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "evaluatedExpressions": {
                    "items": {
                        "$ref": "Variable"
                    },
                    "type": "array"
                },
                "expressions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "finalTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "isFinalState": {
                    "type": "boolean"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "location": {
                    "$ref": "SourceLocation"
                },
                "logLevel": {
                    "enum": [
                        "INFO",
                        "WARNING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "logMessageFormat": {
                    "type": "string"
                },
                "stackFrames": {
                    "items": {
                        "$ref": "StackFrame"
                    },
                    "type": "array"
                },
                "status": {
                    "$ref": "StatusMessage"
                },
                "userEmail": {
                    "type": "string"
                },
                "variableTable": {
                    "items": {
                        "$ref": "Variable"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CloudRepoSourceContext": {
            "id": "CloudRepoSourceContext",
            "properties": {
                "aliasContext": {
                    "$ref": "AliasContext"
                },
                "aliasName": {
                    "type": "string"
                },
                "repoId": {
                    "$ref": "RepoId"
                },
                "revisionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloudWorkspaceId": {
            "id": "CloudWorkspaceId",
            "properties": {
                "name": {
                    "type": "string"
                },
                "repoId": {
                    "$ref": "RepoId"
                }
            },
            "type": "object"
        },
        "CloudWorkspaceSourceContext": {
            "id": "CloudWorkspaceSourceContext",
            "properties": {
                "snapshotId": {
                    "type": "string"
                },
                "workspaceId": {
                    "$ref": "CloudWorkspaceId"
                }
            },
            "type": "object"
        },
        "Debuggee": {
            "id": "Debuggee",
            "properties": {
                "agentVersion": {
                    "type": "string"
                },
                "extSourceContexts": {
                    "items": {
                        "$ref": "ExtendedSourceContext"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                },
                "isDisabled": {
                    "type": "boolean"
                },
                "isInactive": {
                    "type": "boolean"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "project": {
                    "type": "string"
                },
                "sourceContexts": {
                    "items": {
                        "$ref": "SourceContext"
                    },
                    "type": "array"
                },
                "status": {
                    "$ref": "StatusMessage"
                },
                "uniquifier": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ExtendedSourceContext": {
            "id": "ExtendedSourceContext",
            "properties": {
                "context": {
                    "$ref": "SourceContext"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "FormatMessage": {
            "id": "FormatMessage",
            "properties": {
                "format": {
                    "type": "string"
                },
                "parameters": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GerritSourceContext": {
            "id": "GerritSourceContext",
            "properties": {
                "aliasContext": {
                    "$ref": "AliasContext"
                },
                "aliasName": {
                    "type": "string"
                },
                "gerritProject": {
                    "type": "string"
                },
                "hostUri": {
                    "type": "string"
                },
                "revisionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetBreakpointResponse": {
            "id": "GetBreakpointResponse",
            "properties": {
                "breakpoint": {
                    "$ref": "Breakpoint"
                }
            },
            "type": "object"
        },
        "GitSourceContext": {
            "id": "GitSourceContext",
            "properties": {
                "revisionId": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListActiveBreakpointsResponse": {
            "id": "ListActiveBreakpointsResponse",
            "properties": {
                "breakpoints": {
                    "items": {
                        "$ref": "Breakpoint"
                    },
                    "type": "array"
                },
                "nextWaitToken": {
                    "type": "string"
                },
                "waitExpired": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ListBreakpointsResponse": {
            "id": "ListBreakpointsResponse",
            "properties": {
                "breakpoints": {
                    "items": {
                        "$ref": "Breakpoint"
                    },
                    "type": "array"
                },
                "nextWaitToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDebuggeesResponse": {
            "id": "ListDebuggeesResponse",
            "properties": {
                "debuggees": {
                    "items": {
                        "$ref": "Debuggee"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ProjectRepoId": {
            "id": "ProjectRepoId",
            "properties": {
                "projectId": {
                    "type": "string"
                },
                "repoName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RegisterDebuggeeRequest": {
            "id": "RegisterDebuggeeRequest",
            "properties": {
                "debuggee": {
                    "$ref": "Debuggee"
                }
            },
            "type": "object"
        },
        "RegisterDebuggeeResponse": {
            "id": "RegisterDebuggeeResponse",
            "properties": {
                "debuggee": {
                    "$ref": "Debuggee"
                }
            },
            "type": "object"
        },
        "RepoId": {
            "id": "RepoId",
            "properties": {
                "projectRepoId": {
                    "$ref": "ProjectRepoId"
                },
                "uid": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetBreakpointResponse": {
            "id": "SetBreakpointResponse",
            "properties": {
                "breakpoint": {
                    "$ref": "Breakpoint"
                }
            },
            "type": "object"
        },
        "SourceContext": {
            "id": "SourceContext",
            "properties": {
                "cloudRepo": {
                    "$ref": "CloudRepoSourceContext"
                },
                "cloudWorkspace": {
                    "$ref": "CloudWorkspaceSourceContext"
                },
                "gerrit": {
                    "$ref": "GerritSourceContext"
                },
                "git": {
                    "$ref": "GitSourceContext"
                }
            },
            "type": "object"
        },
        "SourceLocation": {
            "id": "SourceLocation",
            "properties": {
                "column": {
                    "format": "int32",
                    "type": "integer"
                },
                "line": {
                    "format": "int32",
                    "type": "integer"
                },
                "path": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StackFrame": {
            "id": "StackFrame",
            "properties": {
                "arguments": {
                    "items": {
                        "$ref": "Variable"
                    },
                    "type": "array"
                },
                "function": {
                    "type": "string"
                },
                "locals": {
                    "items": {
                        "$ref": "Variable"
                    },
                    "type": "array"
                },
                "location": {
                    "$ref": "SourceLocation"
                }
            },
            "type": "object"
        },
        "StatusMessage": {
            "id": "StatusMessage",
            "properties": {
                "isError": {
                    "type": "boolean"
                },
                "refersTo": {
                    "enum": [
                        "UNSPECIFIED",
                        "BREAKPOINT_SOURCE_LOCATION",
                        "BREAKPOINT_CONDITION",
                        "BREAKPOINT_EXPRESSION",
                        "BREAKPOINT_AGE",
                        "VARIABLE_NAME",
                        "VARIABLE_VALUE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateActiveBreakpointRequest": {
            "id": "UpdateActiveBreakpointRequest",
            "properties": {
                "breakpoint": {
                    "$ref": "Breakpoint"
                }
            },
            "type": "object"
        },
        "UpdateActiveBreakpointResponse": {
            "id": "UpdateActiveBreakpointResponse",
            "properties": {},
            "type": "object"
        },
        "Variable": {
            "id": "Variable",
            "properties": {
                "members": {
                    "items": {
                        "$ref": "Variable"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "status": {
                    "$ref": "StatusMessage"
                },
                "type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                },
                "varTableIndex": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Debugger API",
    "version": "v2",
    "version_module": true
}