{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud_search": {},
                "https://www.googleapis.com/auth/cloud_search.debug": {},
                "https://www.googleapis.com/auth/cloud_search.indexing": {},
                "https://www.googleapis.com/auth/cloud_search.query": {},
                "https://www.googleapis.com/auth/cloud_search.settings": {},
                "https://www.googleapis.com/auth/cloud_search.settings.indexing": {},
                "https://www.googleapis.com/auth/cloud_search.settings.query": {},
                "https://www.googleapis.com/auth/cloud_search.stats": {},
                "https://www.googleapis.com/auth/cloud_search.stats.indexing": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudsearch.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Search",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/cloud-search/docs/guides/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudsearch:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
    "name": "cloudsearch",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "debug": {
            "resources": {
                "datasources": {
                    "resources": {
                        "items": {
                            "methods": {
                                "checkAccess": {
                                    "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}:checkAccess",
                                    "httpMethod": "POST",
                                    "id": "cloudsearch.debug.datasources.items.checkAccess",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "debugOptions.enableDebugging": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+/items/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/debug/{+name}:checkAccess",
                                    "request": {
                                        "$ref": "Principal"
                                    },
                                    "response": {
                                        "$ref": "CheckAccessResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.debug"
                                    ]
                                },
                                "searchByViewUrl": {
                                    "flatPath": "v1/debug/datasources/{datasourcesId}/items:searchByViewUrl",
                                    "httpMethod": "POST",
                                    "id": "cloudsearch.debug.datasources.items.searchByViewUrl",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/debug/{+name}/items:searchByViewUrl",
                                    "request": {
                                        "$ref": "SearchItemsByViewUrlRequest"
                                    },
                                    "response": {
                                        "$ref": "SearchItemsByViewUrlResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.debug"
                                    ]
                                }
                            },
                            "resources": {
                                "unmappedids": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}/unmappedids",
                                            "httpMethod": "GET",
                                            "id": "cloudsearch.debug.datasources.items.unmappedids.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "debugOptions.enableDebugging": {
                                                    "location": "query",
                                                    "type": "boolean"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^datasources/[^/]+/items/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/debug/{+parent}/unmappedids",
                                            "response": {
                                                "$ref": "ListUnmappedIdentitiesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud_search",
                                                "https://www.googleapis.com/auth/cloud_search.debug"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "identitysources": {
                    "resources": {
                        "items": {
                            "methods": {
                                "listForunmappedidentity": {
                                    "flatPath": "v1/debug/identitysources/{identitysourcesId}/items:forunmappedidentity",
                                    "httpMethod": "GET",
                                    "id": "cloudsearch.debug.identitysources.items.listForunmappedidentity",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "debugOptions.enableDebugging": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "groupResourceName": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^identitysources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userResourceName": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/debug/{+parent}/items:forunmappedidentity",
                                    "response": {
                                        "$ref": "ListItemNamesForUnmappedIdentityResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.debug"
                                    ]
                                }
                            }
                        },
                        "unmappedids": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/debug/identitysources/{identitysourcesId}/unmappedids",
                                    "httpMethod": "GET",
                                    "id": "cloudsearch.debug.identitysources.unmappedids.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "debugOptions.enableDebugging": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^identitysources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "resolutionStatusCode": {
                                            "enum": [
                                                "CODE_UNSPECIFIED",
                                                "NOT_FOUND",
                                                "IDENTITY_SOURCE_NOT_FOUND",
                                                "IDENTITY_SOURCE_MISCONFIGURED",
                                                "TOO_MANY_MAPPINGS_FOUND",
                                                "INTERNAL_ERROR"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/debug/{+parent}/unmappedids",
                                    "response": {
                                        "$ref": "ListUnmappedIdentitiesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.debug"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "indexing": {
            "resources": {
                "datasources": {
                    "methods": {
                        "deleteSchema": {
                            "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
                            "httpMethod": "DELETE",
                            "id": "cloudsearch.indexing.datasources.deleteSchema",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "debugOptions.enableDebugging": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^datasources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/indexing/{+name}/schema",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
                            ]
                        },
                        "getSchema": {
                            "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
                            "httpMethod": "GET",
                            "id": "cloudsearch.indexing.datasources.getSchema",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "debugOptions.enableDebugging": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^datasources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/indexing/{+name}/schema",
                            "response": {
                                "$ref": "Schema"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
                            ]
                        },
                        "updateSchema": {
                            "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
                            "httpMethod": "PUT",
                            "id": "cloudsearch.indexing.datasources.updateSchema",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^datasources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/indexing/{+name}/schema",
                            "request": {
                                "$ref": "UpdateSchemaRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
                            ]
                        }
                    },
                    "resources": {
                        "items": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                                    "httpMethod": "DELETE",
                                    "id": "cloudsearch.indexing.datasources.items.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "connectorName": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "debugOptions.enableDebugging": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "mode": {
                                            "enum": [
                                                "UNSPECIFIED",
                                                "SYNCHRONOUS",
                                                "ASYNCHRONOUS"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+/items/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "version": {
                                            "format": "byte",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/indexing/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.indexing"
                                    ]
                                },
                                "deleteQueueItems": {
                                    "flatPath": "v1/indexing/datasources/{datasourcesId}/items:deleteQueueItems",
                                    "httpMethod": "POST",
                                    "id": "cloudsearch.indexing.datasources.items.deleteQueueItems",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/indexing/{+name}/items:deleteQueueItems",
                                    "request": {
                                        "$ref": "DeleteQueueItemsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.indexing"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                                    "httpMethod": "GET",
                                    "id": "cloudsearch.indexing.datasources.items.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "connectorName": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "debugOptions.enableDebugging": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+/items/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/indexing/{+name}",
                                    "response": {
                                        "$ref": "Item"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.indexing"
                                    ]
                                },
                                "index": {
                                    "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:index",
                                    "httpMethod": "POST",
                                    "id": "cloudsearch.indexing.datasources.items.index",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+/items/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/indexing/{+name}:index",
                                    "request": {
                                        "$ref": "IndexItemRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.indexing"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/indexing/datasources/{datasourcesId}/items",
                                    "httpMethod": "GET",
                                    "id": "cloudsearch.indexing.datasources.items.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "brief": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "connectorName": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "debugOptions.enableDebugging": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/indexing/{+name}/items",
                                    "response": {
                                        "$ref": "ListItemsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.indexing"
                                    ]
                                },
                                "poll": {
                                    "flatPath": "v1/indexing/datasources/{datasourcesId}/items:poll",
                                    "httpMethod": "POST",
                                    "id": "cloudsearch.indexing.datasources.items.poll",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/indexing/{+name}/items:poll",
                                    "request": {
                                        "$ref": "PollItemsRequest"
                                    },
                                    "response": {
                                        "$ref": "PollItemsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.indexing"
                                    ]
                                },
                                "push": {
                                    "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:push",
                                    "httpMethod": "POST",
                                    "id": "cloudsearch.indexing.datasources.items.push",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+/items/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/indexing/{+name}:push",
                                    "request": {
                                        "$ref": "PushItemRequest"
                                    },
                                    "response": {
                                        "$ref": "Item"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.indexing"
                                    ]
                                },
                                "unreserve": {
                                    "flatPath": "v1/indexing/datasources/{datasourcesId}/items:unreserve",
                                    "httpMethod": "POST",
                                    "id": "cloudsearch.indexing.datasources.items.unreserve",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/indexing/{+name}/items:unreserve",
                                    "request": {
                                        "$ref": "UnreserveItemsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.indexing"
                                    ]
                                },
                                "upload": {
                                    "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:upload",
                                    "httpMethod": "POST",
                                    "id": "cloudsearch.indexing.datasources.items.upload",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+/items/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/indexing/{+name}:upload",
                                    "request": {
                                        "$ref": "StartUploadItemRequest"
                                    },
                                    "response": {
                                        "$ref": "UploadItemRef"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.indexing"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "media": {
            "methods": {
                "upload": {
                    "flatPath": "v1/media/{mediaId}",
                    "httpMethod": "POST",
                    "id": "cloudsearch.media.upload",
                    "mediaUpload": {
                        "accept": [
                            "*/*"
                        ],
                        "protocols": {
                            "simple": {
                                "multipart": true,
                                "path": "/upload/v1/media/{+resourceName}"
                            }
                        }
                    },
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "resourceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/media/{+resourceName}",
                    "request": {
                        "$ref": "Media"
                    },
                    "response": {
                        "$ref": "Media"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.indexing"
                    ],
                    "supportsMediaUpload": true
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "cloudsearch.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.debug",
                        "https://www.googleapis.com/auth/cloud_search.indexing",
                        "https://www.googleapis.com/auth/cloud_search.settings",
                        "https://www.googleapis.com/auth/cloud_search.settings.indexing",
                        "https://www.googleapis.com/auth/cloud_search.settings.query"
                    ]
                }
            }
        },
        "query": {
            "methods": {
                "search": {
                    "flatPath": "v1/query/search",
                    "httpMethod": "POST",
                    "id": "cloudsearch.query.search",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/query/search",
                    "request": {
                        "$ref": "SearchRequest"
                    },
                    "response": {
                        "$ref": "SearchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.query"
                    ]
                },
                "suggest": {
                    "flatPath": "v1/query/suggest",
                    "httpMethod": "POST",
                    "id": "cloudsearch.query.suggest",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/query/suggest",
                    "request": {
                        "$ref": "SuggestRequest"
                    },
                    "response": {
                        "$ref": "SuggestResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.query"
                    ]
                }
            },
            "resources": {
                "sources": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/query/sources",
                            "httpMethod": "GET",
                            "id": "cloudsearch.query.sources.list",
                            "parameterOrder": [],
                            "parameters": {
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "requestOptions.debugOptions.enableDebugging": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "requestOptions.languageCode": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "requestOptions.searchApplicationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "requestOptions.timeZone": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/query/sources",
                            "response": {
                                "$ref": "ListQuerySourcesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.query"
                            ]
                        }
                    }
                }
            }
        },
        "settings": {
            "resources": {
                "datasources": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/settings/datasources",
                            "httpMethod": "POST",
                            "id": "cloudsearch.settings.datasources.create",
                            "parameterOrder": [],
                            "parameters": {},
                            "path": "v1/settings/datasources",
                            "request": {
                                "$ref": "DataSource"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/settings/datasources/{datasourcesId}",
                            "httpMethod": "DELETE",
                            "id": "cloudsearch.settings.datasources.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "debugOptions.enableDebugging": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^datasources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/settings/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/settings/datasources/{datasourcesId}",
                            "httpMethod": "GET",
                            "id": "cloudsearch.settings.datasources.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "debugOptions.enableDebugging": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^datasources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/settings/{+name}",
                            "response": {
                                "$ref": "DataSource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/settings/datasources",
                            "httpMethod": "GET",
                            "id": "cloudsearch.settings.datasources.list",
                            "parameterOrder": [],
                            "parameters": {
                                "debugOptions.enableDebugging": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/settings/datasources",
                            "response": {
                                "$ref": "ListDataSourceResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/settings/datasources/{datasourcesId}",
                            "httpMethod": "PUT",
                            "id": "cloudsearch.settings.datasources.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^datasources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/settings/{+name}",
                            "request": {
                                "$ref": "UpdateDataSourceRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
                            ]
                        }
                    }
                },
                "searchapplications": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/settings/searchapplications",
                            "httpMethod": "POST",
                            "id": "cloudsearch.settings.searchapplications.create",
                            "parameterOrder": [],
                            "parameters": {},
                            "path": "v1/settings/searchapplications",
                            "request": {
                                "$ref": "SearchApplication"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.query"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
                            "httpMethod": "DELETE",
                            "id": "cloudsearch.settings.searchapplications.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "debugOptions.enableDebugging": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^searchapplications/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/settings/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.query"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
                            "httpMethod": "GET",
                            "id": "cloudsearch.settings.searchapplications.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "debugOptions.enableDebugging": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^searchapplications/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/settings/{+name}",
                            "response": {
                                "$ref": "SearchApplication"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.query"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/settings/searchapplications",
                            "httpMethod": "GET",
                            "id": "cloudsearch.settings.searchapplications.list",
                            "parameterOrder": [],
                            "parameters": {
                                "debugOptions.enableDebugging": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/settings/searchapplications",
                            "response": {
                                "$ref": "ListSearchApplicationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.query"
                            ]
                        },
                        "reset": {
                            "flatPath": "v1/settings/searchapplications/{searchapplicationsId}:reset",
                            "httpMethod": "POST",
                            "id": "cloudsearch.settings.searchapplications.reset",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^searchapplications/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/settings/{+name}:reset",
                            "request": {
                                "$ref": "ResetSearchApplicationRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.query"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
                            "httpMethod": "PUT",
                            "id": "cloudsearch.settings.searchapplications.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^searchapplications/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/settings/{+name}",
                            "request": {
                                "$ref": "SearchApplication"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud_search",
                                "https://www.googleapis.com/auth/cloud_search.settings",
                                "https://www.googleapis.com/auth/cloud_search.settings.query"
                            ]
                        }
                    }
                }
            }
        },
        "stats": {
            "methods": {
                "getIndex": {
                    "flatPath": "v1/stats/index",
                    "httpMethod": "GET",
                    "id": "cloudsearch.stats.getIndex",
                    "parameterOrder": [],
                    "parameters": {
                        "fromDate.day": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fromDate.month": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fromDate.year": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.day": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.month": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.year": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v1/stats/index",
                    "response": {
                        "$ref": "GetCustomerIndexStatsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.stats",
                        "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                    ]
                },
                "getQuery": {
                    "flatPath": "v1/stats/query",
                    "httpMethod": "GET",
                    "id": "cloudsearch.stats.getQuery",
                    "parameterOrder": [],
                    "parameters": {
                        "fromDate.day": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fromDate.month": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fromDate.year": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.day": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.month": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.year": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v1/stats/query",
                    "response": {
                        "$ref": "GetCustomerQueryStatsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.stats",
                        "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                    ]
                },
                "getSession": {
                    "flatPath": "v1/stats/session",
                    "httpMethod": "GET",
                    "id": "cloudsearch.stats.getSession",
                    "parameterOrder": [],
                    "parameters": {
                        "fromDate.day": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fromDate.month": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fromDate.year": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.day": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.month": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.year": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v1/stats/session",
                    "response": {
                        "$ref": "GetCustomerSessionStatsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.stats",
                        "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                    ]
                },
                "getUser": {
                    "flatPath": "v1/stats/user",
                    "httpMethod": "GET",
                    "id": "cloudsearch.stats.getUser",
                    "parameterOrder": [],
                    "parameters": {
                        "fromDate.day": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fromDate.month": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fromDate.year": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.day": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.month": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "toDate.year": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v1/stats/user",
                    "response": {
                        "$ref": "GetCustomerUserStatsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.stats",
                        "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                    ]
                }
            },
            "resources": {
                "index": {
                    "resources": {
                        "datasources": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/stats/index/datasources/{datasourcesId}",
                                    "httpMethod": "GET",
                                    "id": "cloudsearch.stats.index.datasources.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "fromDate.day": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "fromDate.month": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "fromDate.year": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^datasources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "toDate.day": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "toDate.month": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "toDate.year": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v1/stats/index/{+name}",
                                    "response": {
                                        "$ref": "GetDataSourceIndexStatsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.stats",
                                        "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                                    ]
                                }
                            }
                        }
                    }
                },
                "query": {
                    "resources": {
                        "searchapplications": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/stats/query/searchapplications/{searchapplicationsId}",
                                    "httpMethod": "GET",
                                    "id": "cloudsearch.stats.query.searchapplications.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "fromDate.day": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "fromDate.month": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "fromDate.year": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^searchapplications/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "toDate.day": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "toDate.month": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "toDate.year": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v1/stats/query/{+name}",
                                    "response": {
                                        "$ref": "GetSearchApplicationQueryStatsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.stats",
                                        "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                                    ]
                                }
                            }
                        }
                    }
                },
                "session": {
                    "resources": {
                        "searchapplications": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/stats/session/searchapplications/{searchapplicationsId}",
                                    "httpMethod": "GET",
                                    "id": "cloudsearch.stats.session.searchapplications.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "fromDate.day": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "fromDate.month": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "fromDate.year": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^searchapplications/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "toDate.day": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "toDate.month": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "toDate.year": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v1/stats/session/{+name}",
                                    "response": {
                                        "$ref": "GetSearchApplicationSessionStatsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.stats",
                                        "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                                    ]
                                }
                            }
                        }
                    }
                },
                "user": {
                    "resources": {
                        "searchapplications": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/stats/user/searchapplications/{searchapplicationsId}",
                                    "httpMethod": "GET",
                                    "id": "cloudsearch.stats.user.searchapplications.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "fromDate.day": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "fromDate.month": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "fromDate.year": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^searchapplications/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "toDate.day": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "toDate.month": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "toDate.year": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v1/stats/user/{+name}",
                                    "response": {
                                        "$ref": "GetSearchApplicationUserStatsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud_search",
                                        "https://www.googleapis.com/auth/cloud_search.stats",
                                        "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudsearch.googleapis.com/",
    "schemas": {
        "BooleanOperatorOptions": {
            "id": "BooleanOperatorOptions",
            "properties": {
                "operatorName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BooleanPropertyOptions": {
            "id": "BooleanPropertyOptions",
            "properties": {
                "operatorOptions": {
                    "$ref": "BooleanOperatorOptions"
                }
            },
            "type": "object"
        },
        "CheckAccessResponse": {
            "id": "CheckAccessResponse",
            "properties": {
                "hasAccess": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CompositeFilter": {
            "id": "CompositeFilter",
            "properties": {
                "logicOperator": {
                    "enum": [
                        "AND",
                        "OR",
                        "NOT"
                    ],
                    "type": "string"
                },
                "subFilters": {
                    "items": {
                        "$ref": "Filter"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomerIndexStats": {
            "id": "CustomerIndexStats",
            "properties": {
                "date": {
                    "$ref": "Date"
                },
                "itemCountByStatus": {
                    "items": {
                        "$ref": "ItemCountByStatus"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomerQueryStats": {
            "id": "CustomerQueryStats",
            "properties": {
                "date": {
                    "$ref": "Date"
                },
                "queryCountByStatus": {
                    "items": {
                        "$ref": "QueryCountByStatus"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomerSessionStats": {
            "id": "CustomerSessionStats",
            "properties": {
                "date": {
                    "$ref": "Date"
                },
                "searchSessionsCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomerUserStats": {
            "id": "CustomerUserStats",
            "properties": {
                "date": {
                    "$ref": "Date"
                },
                "oneDayActiveUsersCount": {
                    "format": "int64",
                    "type": "string"
                },
                "sevenDaysActiveUsersCount": {
                    "format": "int64",
                    "type": "string"
                },
                "thirtyDaysActiveUsersCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DataSource": {
            "id": "DataSource",
            "properties": {
                "disableModifications": {
                    "type": "boolean"
                },
                "disableServing": {
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "indexingServiceAccounts": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "itemsVisibility": {
                    "items": {
                        "$ref": "GSuitePrincipal"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "operationIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "shortName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DataSourceIndexStats": {
            "id": "DataSourceIndexStats",
            "properties": {
                "date": {
                    "$ref": "Date"
                },
                "itemCountByStatus": {
                    "items": {
                        "$ref": "ItemCountByStatus"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DataSourceRestriction": {
            "id": "DataSourceRestriction",
            "properties": {
                "filterOptions": {
                    "items": {
                        "$ref": "FilterOptions"
                    },
                    "type": "array"
                },
                "source": {
                    "$ref": "Source"
                }
            },
            "type": "object"
        },
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DateOperatorOptions": {
            "id": "DateOperatorOptions",
            "properties": {
                "greaterThanOperatorName": {
                    "type": "string"
                },
                "lessThanOperatorName": {
                    "type": "string"
                },
                "operatorName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DatePropertyOptions": {
            "id": "DatePropertyOptions",
            "properties": {
                "operatorOptions": {
                    "$ref": "DateOperatorOptions"
                }
            },
            "type": "object"
        },
        "DateValues": {
            "id": "DateValues",
            "properties": {
                "values": {
                    "items": {
                        "$ref": "Date"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DebugOptions": {
            "id": "DebugOptions",
            "properties": {
                "enableDebugging": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DeleteQueueItemsRequest": {
            "id": "DeleteQueueItemsRequest",
            "properties": {
                "connectorName": {
                    "type": "string"
                },
                "debugOptions": {
                    "$ref": "DebugOptions"
                },
                "queue": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DisplayedProperty": {
            "id": "DisplayedProperty",
            "properties": {
                "propertyName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DoubleOperatorOptions": {
            "id": "DoubleOperatorOptions",
            "properties": {
                "operatorName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DoublePropertyOptions": {
            "id": "DoublePropertyOptions",
            "properties": {
                "operatorOptions": {
                    "$ref": "DoubleOperatorOptions"
                }
            },
            "type": "object"
        },
        "DoubleValues": {
            "id": "DoubleValues",
            "properties": {
                "values": {
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DriveFollowUpRestrict": {
            "id": "DriveFollowUpRestrict",
            "properties": {
                "type": {
                    "enum": [
                        "UNSPECIFIED",
                        "FOLLOWUP_SUGGESTIONS",
                        "FOLLOWUP_ACTION_ITEMS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DriveLocationRestrict": {
            "id": "DriveLocationRestrict",
            "properties": {
                "type": {
                    "enum": [
                        "UNSPECIFIED",
                        "TRASHED",
                        "STARRED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DriveMimeTypeRestrict": {
            "id": "DriveMimeTypeRestrict",
            "properties": {
                "type": {
                    "enum": [
                        "UNSPECIFIED",
                        "PDF",
                        "DOCUMENT",
                        "PRESENTATION",
                        "SPREADSHEET",
                        "FORM",
                        "DRAWING",
                        "SCRIPT",
                        "MAP",
                        "IMAGE",
                        "AUDIO",
                        "VIDEO",
                        "FOLDER",
                        "ARCHIVE",
                        "SITE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DriveTimeSpanRestrict": {
            "id": "DriveTimeSpanRestrict",
            "properties": {
                "type": {
                    "enum": [
                        "UNSPECIFIED",
                        "TODAY",
                        "YESTERDAY",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS",
                        "LAST_90_DAYS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EmailAddress": {
            "id": "EmailAddress",
            "properties": {
                "emailAddress": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnumOperatorOptions": {
            "id": "EnumOperatorOptions",
            "properties": {
                "operatorName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnumPropertyOptions": {
            "id": "EnumPropertyOptions",
            "properties": {
                "operatorOptions": {
                    "$ref": "EnumOperatorOptions"
                },
                "orderedRanking": {
                    "enum": [
                        "NO_ORDER",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "type": "string"
                },
                "possibleValues": {
                    "items": {
                        "$ref": "EnumValuePair"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EnumValuePair": {
            "id": "EnumValuePair",
            "properties": {
                "integerValue": {
                    "format": "int32",
                    "type": "integer"
                },
                "stringValue": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnumValues": {
            "id": "EnumValues",
            "properties": {
                "values": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ErrorInfo": {
            "id": "ErrorInfo",
            "properties": {
                "errorMessages": {
                    "items": {
                        "$ref": "ErrorMessage"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ErrorMessage": {
            "id": "ErrorMessage",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "source": {
                    "$ref": "Source"
                }
            },
            "type": "object"
        },
        "FacetBucket": {
            "id": "FacetBucket",
            "properties": {
                "count": {
                    "format": "int32",
                    "type": "integer"
                },
                "percentage": {
                    "format": "int32",
                    "type": "integer"
                },
                "value": {
                    "$ref": "Value"
                }
            },
            "type": "object"
        },
        "FacetOptions": {
            "id": "FacetOptions",
            "properties": {
                "numFacetBuckets": {
                    "format": "int32",
                    "type": "integer"
                },
                "objectType": {
                    "type": "string"
                },
                "operatorName": {
                    "type": "string"
                },
                "sourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FacetResult": {
            "id": "FacetResult",
            "properties": {
                "buckets": {
                    "items": {
                        "$ref": "FacetBucket"
                    },
                    "type": "array"
                },
                "objectType": {
                    "type": "string"
                },
                "operatorName": {
                    "type": "string"
                },
                "sourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FieldViolation": {
            "id": "FieldViolation",
            "properties": {
                "field": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Filter": {
            "id": "Filter",
            "properties": {
                "compositeFilter": {
                    "$ref": "CompositeFilter"
                },
                "valueFilter": {
                    "$ref": "ValueFilter"
                }
            },
            "type": "object"
        },
        "FilterOptions": {
            "id": "FilterOptions",
            "properties": {
                "filter": {
                    "$ref": "Filter"
                },
                "objectType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FreshnessOptions": {
            "id": "FreshnessOptions",
            "properties": {
                "freshnessDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "freshnessProperty": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GSuitePrincipal": {
            "id": "GSuitePrincipal",
            "properties": {
                "gsuiteDomain": {
                    "type": "boolean"
                },
                "gsuiteGroupEmail": {
                    "type": "string"
                },
                "gsuiteUserEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetCustomerIndexStatsResponse": {
            "id": "GetCustomerIndexStatsResponse",
            "properties": {
                "stats": {
                    "items": {
                        "$ref": "CustomerIndexStats"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GetCustomerQueryStatsResponse": {
            "id": "GetCustomerQueryStatsResponse",
            "properties": {
                "stats": {
                    "items": {
                        "$ref": "CustomerQueryStats"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GetCustomerSessionStatsResponse": {
            "id": "GetCustomerSessionStatsResponse",
            "properties": {
                "stats": {
                    "items": {
                        "$ref": "CustomerSessionStats"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GetCustomerUserStatsResponse": {
            "id": "GetCustomerUserStatsResponse",
            "properties": {
                "stats": {
                    "items": {
                        "$ref": "CustomerUserStats"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GetDataSourceIndexStatsResponse": {
[...]
