{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloudkms": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudkms.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud KMS",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/kms/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudkms:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://cloudkms.mtls.googleapis.com/",
    "name": "cloudkms",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "cloudkms.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloudkms"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "cloudkms.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloudkms"
                            ]
                        }
                    },
                    "resources": {
                        "keyRings": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings",
                                    "httpMethod": "POST",
                                    "id": "cloudkms.projects.locations.keyRings.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "keyRingId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/keyRings",
                                    "request": {
                                        "$ref": "KeyRing"
                                    },
                                    "response": {
                                        "$ref": "KeyRing"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudkms"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}",
                                    "httpMethod": "GET",
                                    "id": "cloudkms.projects.locations.keyRings.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "KeyRing"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudkms"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}:getIamPolicy",
                                    "httpMethod": "GET",
                                    "id": "cloudkms.projects.locations.keyRings.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "options.requestedPolicyVersion": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudkms"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings",
                                    "httpMethod": "GET",
                                    "id": "cloudkms.projects.locations.keyRings.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/keyRings",
                                    "response": {
                                        "$ref": "ListKeyRingsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudkms"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "cloudkms.projects.locations.keyRings.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudkms"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "cloudkms.projects.locations.keyRings.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudkms"
                                    ]
                                }
                            },
                            "resources": {
                                "cryptoKeys": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys",
                                            "httpMethod": "POST",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "cryptoKeyId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "skipInitialVersionCreation": {
                                                    "location": "query",
                                                    "type": "boolean"
                                                }
                                            },
                                            "path": "v1/{+parent}/cryptoKeys",
                                            "request": {
                                                "$ref": "CryptoKey"
                                            },
                                            "response": {
                                                "$ref": "CryptoKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "decrypt": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}:decrypt",
                                            "httpMethod": "POST",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.decrypt",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:decrypt",
                                            "request": {
                                                "$ref": "DecryptRequest"
                                            },
                                            "response": {
                                                "$ref": "DecryptResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "encrypt": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}:encrypt",
                                            "httpMethod": "POST",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.encrypt",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/.*$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:encrypt",
                                            "request": {
                                                "$ref": "EncryptRequest"
                                            },
                                            "response": {
                                                "$ref": "EncryptResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}",
                                            "httpMethod": "GET",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "CryptoKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "getIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}:getIamPolicy",
                                            "httpMethod": "GET",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.getIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "options.requestedPolicyVersion": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:getIamPolicy",
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys",
                                            "httpMethod": "GET",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "orderBy": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "versionView": {
                                                    "enum": [
                                                        "CRYPTO_KEY_VERSION_VIEW_UNSPECIFIED",
                                                        "FULL"
                                                    ],
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/cryptoKeys",
                                            "response": {
                                                "$ref": "ListCryptoKeysResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}",
                                            "httpMethod": "PATCH",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "CryptoKey"
                                            },
                                            "response": {
                                                "$ref": "CryptoKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "setIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}:setIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.setIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:setIamPolicy",
                                            "request": {
                                                "$ref": "SetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "testIamPermissions": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}:testIamPermissions",
                                            "httpMethod": "POST",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.testIamPermissions",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:testIamPermissions",
                                            "request": {
                                                "$ref": "TestIamPermissionsRequest"
                                            },
                                            "response": {
                                                "$ref": "TestIamPermissionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "updatePrimaryVersion": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}:updatePrimaryVersion",
                                            "httpMethod": "POST",
                                            "id": "cloudkms.projects.locations.keyRings.cryptoKeys.updatePrimaryVersion",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:updatePrimaryVersion",
                                            "request": {
                                                "$ref": "UpdateCryptoKeyPrimaryVersionRequest"
                                            },
                                            "response": {
                                                "$ref": "CryptoKey"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "cryptoKeyVersions": {
                                            "methods": {
                                                "asymmetricDecrypt": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}:asymmetricDecrypt",
                                                    "httpMethod": "POST",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.asymmetricDecrypt",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}:asymmetricDecrypt",
                                                    "request": {
                                                        "$ref": "AsymmetricDecryptRequest"
                                                    },
                                                    "response": {
                                                        "$ref": "AsymmetricDecryptResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                },
                                                "asymmetricSign": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}:asymmetricSign",
                                                    "httpMethod": "POST",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.asymmetricSign",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}:asymmetricSign",
                                                    "request": {
                                                        "$ref": "AsymmetricSignRequest"
                                                    },
                                                    "response": {
                                                        "$ref": "AsymmetricSignResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                },
                                                "create": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions",
                                                    "httpMethod": "POST",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.create",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/cryptoKeyVersions",
                                                    "request": {
                                                        "$ref": "CryptoKeyVersion"
                                                    },
                                                    "response": {
                                                        "$ref": "CryptoKeyVersion"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                },
                                                "destroy": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}:destroy",
                                                    "httpMethod": "POST",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.destroy",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}:destroy",
                                                    "request": {
                                                        "$ref": "DestroyCryptoKeyVersionRequest"
                                                    },
                                                    "response": {
                                                        "$ref": "CryptoKeyVersion"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                },
                                                "get": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}",
                                                    "httpMethod": "GET",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.get",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}",
                                                    "response": {
                                                        "$ref": "CryptoKeyVersion"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                },
                                                "getPublicKey": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}/publicKey",
                                                    "httpMethod": "GET",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.getPublicKey",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}/publicKey",
                                                    "response": {
                                                        "$ref": "PublicKey"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                },
                                                "import": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions:import",
                                                    "httpMethod": "POST",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.import",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/cryptoKeyVersions:import",
                                                    "request": {
                                                        "$ref": "ImportCryptoKeyVersionRequest"
                                                    },
                                                    "response": {
                                                        "$ref": "CryptoKeyVersion"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                },
                                                "list": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions",
                                                    "httpMethod": "GET",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.list",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "filter": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "orderBy": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "view": {
                                                            "enum": [
                                                                "CRYPTO_KEY_VERSION_VIEW_UNSPECIFIED",
                                                                "FULL"
                                                            ],
                                                            "location": "query",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/cryptoKeyVersions",
                                                    "response": {
                                                        "$ref": "ListCryptoKeyVersionsResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                },
                                                "patch": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}",
                                                    "httpMethod": "PATCH",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.patch",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "updateMask": {
                                                            "format": "google-fieldmask",
                                                            "location": "query",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}",
                                                    "request": {
                                                        "$ref": "CryptoKeyVersion"
                                                    },
                                                    "response": {
                                                        "$ref": "CryptoKeyVersion"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                },
                                                "restore": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/cryptoKeyVersions/{cryptoKeyVersionsId}:restore",
                                                    "httpMethod": "POST",
                                                    "id": "cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.restore",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/[^/]+/cryptoKeyVersions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}:restore",
                                                    "request": {
                                                        "$ref": "RestoreCryptoKeyVersionRequest"
                                                    },
                                                    "response": {
                                                        "$ref": "CryptoKeyVersion"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/cloudkms"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "importJobs": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs",
                                            "httpMethod": "POST",
                                            "id": "cloudkms.projects.locations.keyRings.importJobs.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "importJobId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/importJobs",
                                            "request": {
                                                "$ref": "ImportJob"
                                            },
                                            "response": {
                                                "$ref": "ImportJob"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs/{importJobsId}",
                                            "httpMethod": "GET",
                                            "id": "cloudkms.projects.locations.keyRings.importJobs.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/importJobs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "ImportJob"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "getIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs/{importJobsId}:getIamPolicy",
                                            "httpMethod": "GET",
                                            "id": "cloudkms.projects.locations.keyRings.importJobs.getIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "options.requestedPolicyVersion": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/importJobs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:getIamPolicy",
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs",
                                            "httpMethod": "GET",
                                            "id": "cloudkms.projects.locations.keyRings.importJobs.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "orderBy": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/importJobs",
                                            "response": {
                                                "$ref": "ListImportJobsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "setIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs/{importJobsId}:setIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "cloudkms.projects.locations.keyRings.importJobs.setIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/importJobs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:setIamPolicy",
                                            "request": {
                                                "$ref": "SetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        },
                                        "testIamPermissions": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/importJobs/{importJobsId}:testIamPermissions",
                                            "httpMethod": "POST",
                                            "id": "cloudkms.projects.locations.keyRings.importJobs.testIamPermissions",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/importJobs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:testIamPermissions",
                                            "request": {
                                                "$ref": "TestIamPermissionsRequest"
                                            },
                                            "response": {
                                                "$ref": "TestIamPermissionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloudkms"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://cloudkms.googleapis.com/",
    "schemas": {
        "AsymmetricDecryptRequest": {
            "id": "AsymmetricDecryptRequest",
            "properties": {
                "ciphertext": {
                    "format": "byte",
                    "type": "string"
                },
                "ciphertextCrc32c": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AsymmetricDecryptResponse": {
            "id": "AsymmetricDecryptResponse",
            "properties": {
                "plaintext": {
                    "format": "byte",
                    "type": "string"
                },
                "plaintextCrc32c": {
                    "format": "int64",
                    "type": "string"
                },
                "verifiedCiphertextCrc32c": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AsymmetricSignRequest": {
            "id": "AsymmetricSignRequest",
            "properties": {
                "digest": {
                    "$ref": "Digest"
                },
                "digestCrc32c": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AsymmetricSignResponse": {
            "id": "AsymmetricSignResponse",
            "properties": {
                "name": {
                    "type": "string"
                },
                "signature": {
                    "format": "byte",
                    "type": "string"
                },
                "signatureCrc32c": {
                    "format": "int64",
                    "type": "string"
                },
                "verifiedDigestCrc32c": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CryptoKey": {
            "id": "CryptoKey",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "nextRotationTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "primary": {
                    "$ref": "CryptoKeyVersion",
                    "readOnly": true
                },
                "purpose": {
                    "enum": [
                        "CRYPTO_KEY_PURPOSE_UNSPECIFIED",
                        "ENCRYPT_DECRYPT",
                        "ASYMMETRIC_SIGN",
                        "ASYMMETRIC_DECRYPT"
                    ],
                    "type": "string"
                },
                "rotationPeriod": {
                    "format": "google-duration",
                    "type": "string"
                },
                "versionTemplate": {
                    "$ref": "CryptoKeyVersionTemplate"
                }
            },
            "type": "object"
        },
        "CryptoKeyVersion": {
            "id": "CryptoKeyVersion",
            "properties": {
                "algorithm": {
                    "enum": [
                        "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
                        "GOOGLE_SYMMETRIC_ENCRYPTION",
                        "RSA_SIGN_PSS_2048_SHA256",
                        "RSA_SIGN_PSS_3072_SHA256",
                        "RSA_SIGN_PSS_4096_SHA256",
                        "RSA_SIGN_PSS_4096_SHA512",
                        "RSA_SIGN_PKCS1_2048_SHA256",
                        "RSA_SIGN_PKCS1_3072_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA512",
                        "RSA_DECRYPT_OAEP_2048_SHA256",
                        "RSA_DECRYPT_OAEP_3072_SHA256",
                        "RSA_DECRYPT_OAEP_4096_SHA256",
                        "RSA_DECRYPT_OAEP_4096_SHA512",
                        "EC_SIGN_P256_SHA256",
                        "EC_SIGN_P384_SHA384",
                        "EXTERNAL_SYMMETRIC_ENCRYPTION"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "attestation": {
                    "$ref": "KeyOperationAttestation",
                    "readOnly": true
                },
                "createTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "destroyEventTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "destroyTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "externalProtectionLevelOptions": {
                    "$ref": "ExternalProtectionLevelOptions"
                },
                "generateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "importFailureReason": {
                    "readOnly": true,
                    "type": "string"
                },
                "importJob": {
                    "readOnly": true,
                    "type": "string"
                },
                "importTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "protectionLevel": {
                    "enum": [
                        "PROTECTION_LEVEL_UNSPECIFIED",
                        "SOFTWARE",
                        "HSM",
                        "EXTERNAL"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "CRYPTO_KEY_VERSION_STATE_UNSPECIFIED",
                        "PENDING_GENERATION",
                        "ENABLED",
                        "DISABLED",
                        "DESTROYED",
                        "DESTROY_SCHEDULED",
                        "PENDING_IMPORT",
                        "IMPORT_FAILED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CryptoKeyVersionTemplate": {
            "id": "CryptoKeyVersionTemplate",
            "properties": {
                "algorithm": {
                    "enum": [
                        "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
                        "GOOGLE_SYMMETRIC_ENCRYPTION",
                        "RSA_SIGN_PSS_2048_SHA256",
                        "RSA_SIGN_PSS_3072_SHA256",
                        "RSA_SIGN_PSS_4096_SHA256",
                        "RSA_SIGN_PSS_4096_SHA512",
                        "RSA_SIGN_PKCS1_2048_SHA256",
                        "RSA_SIGN_PKCS1_3072_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA512",
                        "RSA_DECRYPT_OAEP_2048_SHA256",
                        "RSA_DECRYPT_OAEP_3072_SHA256",
                        "RSA_DECRYPT_OAEP_4096_SHA256",
                        "RSA_DECRYPT_OAEP_4096_SHA512",
                        "EC_SIGN_P256_SHA256",
                        "EC_SIGN_P384_SHA384",
                        "EXTERNAL_SYMMETRIC_ENCRYPTION"
                    ],
                    "type": "string"
                },
                "protectionLevel": {
                    "enum": [
                        "PROTECTION_LEVEL_UNSPECIFIED",
                        "SOFTWARE",
                        "HSM",
                        "EXTERNAL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DecryptRequest": {
            "id": "DecryptRequest",
            "properties": {
                "additionalAuthenticatedData": {
                    "format": "byte",
                    "type": "string"
                },
                "additionalAuthenticatedDataCrc32c": {
                    "format": "int64",
                    "type": "string"
                },
                "ciphertext": {
                    "format": "byte",
                    "type": "string"
                },
                "ciphertextCrc32c": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DecryptResponse": {
            "id": "DecryptResponse",
            "properties": {
                "plaintext": {
                    "format": "byte",
                    "type": "string"
                },
                "plaintextCrc32c": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DestroyCryptoKeyVersionRequest": {
            "id": "DestroyCryptoKeyVersionRequest",
            "properties": {},
            "type": "object"
        },
        "Digest": {
            "id": "Digest",
            "properties": {
                "sha256": {
                    "format": "byte",
                    "type": "string"
                },
                "sha384": {
                    "format": "byte",
                    "type": "string"
                },
                "sha512": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EncryptRequest": {
            "id": "EncryptRequest",
            "properties": {
                "additionalAuthenticatedData": {
                    "format": "byte",
                    "type": "string"
                },
                "additionalAuthenticatedDataCrc32c": {
                    "format": "int64",
                    "type": "string"
                },
                "plaintext": {
                    "format": "byte",
                    "type": "string"
                },
                "plaintextCrc32c": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EncryptResponse": {
            "id": "EncryptResponse",
            "properties": {
                "ciphertext": {
                    "format": "byte",
                    "type": "string"
                },
                "ciphertextCrc32c": {
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "verifiedAdditionalAuthenticatedDataCrc32c": {
                    "type": "boolean"
                },
                "verifiedPlaintextCrc32c": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExternalProtectionLevelOptions": {
            "id": "ExternalProtectionLevelOptions",
            "properties": {
                "externalKeyUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImportCryptoKeyVersionRequest": {
            "id": "ImportCryptoKeyVersionRequest",
            "properties": {
                "algorithm": {
                    "enum": [
                        "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
                        "GOOGLE_SYMMETRIC_ENCRYPTION",
                        "RSA_SIGN_PSS_2048_SHA256",
                        "RSA_SIGN_PSS_3072_SHA256",
                        "RSA_SIGN_PSS_4096_SHA256",
                        "RSA_SIGN_PSS_4096_SHA512",
                        "RSA_SIGN_PKCS1_2048_SHA256",
                        "RSA_SIGN_PKCS1_3072_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA512",
                        "RSA_DECRYPT_OAEP_2048_SHA256",
                        "RSA_DECRYPT_OAEP_3072_SHA256",
                        "RSA_DECRYPT_OAEP_4096_SHA256",
                        "RSA_DECRYPT_OAEP_4096_SHA512",
                        "EC_SIGN_P256_SHA256",
                        "EC_SIGN_P384_SHA384",
                        "EXTERNAL_SYMMETRIC_ENCRYPTION"
                    ],
                    "type": "string"
                },
                "importJob": {
                    "type": "string"
                },
                "rsaAesWrappedKey": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImportJob": {
            "id": "ImportJob",
            "properties": {
                "attestation": {
                    "$ref": "KeyOperationAttestation",
                    "readOnly": true
                },
                "createTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "expireEventTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "expireTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "generateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "importMethod": {
                    "enum": [
                        "IMPORT_METHOD_UNSPECIFIED",
                        "RSA_OAEP_3072_SHA1_AES_256",
                        "RSA_OAEP_4096_SHA1_AES_256"
                    ],
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "protectionLevel": {
                    "enum": [
                        "PROTECTION_LEVEL_UNSPECIFIED",
                        "SOFTWARE",
                        "HSM",
                        "EXTERNAL"
                    ],
                    "type": "string"
                },
                "publicKey": {
                    "$ref": "WrappingPublicKey",
                    "readOnly": true
                },
                "state": {
                    "enum": [
                        "IMPORT_JOB_STATE_UNSPECIFIED",
                        "PENDING_GENERATION",
                        "ACTIVE",
                        "EXPIRED"
                    ],
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "KeyOperationAttestation": {
            "id": "KeyOperationAttestation",
            "properties": {
                "content": {
                    "format": "byte",
                    "readOnly": true,
                    "type": "string"
                },
                "format": {
                    "enum": [
                        "ATTESTATION_FORMAT_UNSPECIFIED",
                        "CAVIUM_V1_COMPRESSED",
                        "CAVIUM_V2_COMPRESSED"
                    ],
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "KeyRing": {
            "id": "KeyRing",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListCryptoKeyVersionsResponse": {
            "id": "ListCryptoKeyVersionsResponse",
            "properties": {
                "cryptoKeyVersions": {
                    "items": {
                        "$ref": "CryptoKeyVersion"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListCryptoKeysResponse": {
            "id": "ListCryptoKeysResponse",
            "properties": {
                "cryptoKeys": {
                    "items": {
                        "$ref": "CryptoKey"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListImportJobsResponse": {
            "id": "ListImportJobsResponse",
            "properties": {
                "importJobs": {
                    "items": {
                        "$ref": "ImportJob"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListKeyRingsResponse": {
            "id": "ListKeyRingsResponse",
            "properties": {
                "keyRings": {
                    "items": {
                        "$ref": "KeyRing"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocationMetadata": {
            "id": "LocationMetadata",
            "properties": {
                "ekmAvailable": {
                    "type": "boolean"
                },
                "hsmAvailable": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PublicKey": {
            "id": "PublicKey",
            "properties": {
                "algorithm": {
                    "enum": [
                        "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
                        "GOOGLE_SYMMETRIC_ENCRYPTION",
                        "RSA_SIGN_PSS_2048_SHA256",
                        "RSA_SIGN_PSS_3072_SHA256",
                        "RSA_SIGN_PSS_4096_SHA256",
                        "RSA_SIGN_PSS_4096_SHA512",
                        "RSA_SIGN_PKCS1_2048_SHA256",
                        "RSA_SIGN_PKCS1_3072_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA256",
                        "RSA_SIGN_PKCS1_4096_SHA512",
                        "RSA_DECRYPT_OAEP_2048_SHA256",
                        "RSA_DECRYPT_OAEP_3072_SHA256",
                        "RSA_DECRYPT_OAEP_4096_SHA256",
                        "RSA_DECRYPT_OAEP_4096_SHA512",
                        "EC_SIGN_P256_SHA256",
                        "EC_SIGN_P384_SHA384",
                        "EXTERNAL_SYMMETRIC_ENCRYPTION"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "pem": {
                    "type": "string"
                },
                "pemCrc32c": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RestoreCryptoKeyVersionRequest": {
            "id": "RestoreCryptoKeyVersionRequest",
            "properties": {},
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
[...]
