{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/compute": {},
                "https://www.googleapis.com/auth/compute.readonly": {},
                "https://www.googleapis.com/auth/devstorage.full_control": {},
                "https://www.googleapis.com/auth/devstorage.read_only": {},
                "https://www.googleapis.com/auth/devstorage.read_write": {}
            }
        }
    },
    "basePath": "/compute/v1/projects/",
    "baseUrl": "https://compute.googleapis.com/compute/v1/projects/",
    "batchPath": "batch/compute/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
    },
    "id": "compute:v1",
    "kind": "discovery#restDescription",
    "name": "compute",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "acceleratorTypes": {
            "methods": {
                "aggregatedList": {
                    "httpMethod": "GET",
                    "id": "compute.acceleratorTypes.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeAllScopes": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/acceleratorTypes",
                    "response": {
                        "$ref": "AcceleratorTypeAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "compute.acceleratorTypes.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "acceleratorType"
                    ],
                    "parameters": {
                        "acceleratorType": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/acceleratorTypes/{acceleratorType}",
                    "response": {
                        "$ref": "AcceleratorType"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "compute.acceleratorTypes.list",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/acceleratorTypes",
                    "response": {
                        "$ref": "AcceleratorTypeList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "addresses": {
            "methods": {
                "aggregatedList": {
                    "httpMethod": "GET",
                    "id": "compute.addresses.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeAllScopes": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/addresses",
                    "response": {
                        "$ref": "AddressAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "compute.addresses.delete",
                    "parameterOrder": [
                        "project",
                        "region",
                        "address"
                    ],
                    "parameters": {
                        "address": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses/{address}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "compute.addresses.get",
                    "parameterOrder": [
                        "project",
                        "region",
                        "address"
                    ],
                    "parameters": {
                        "address": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses/{address}",
                    "response": {
                        "$ref": "Address"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "compute.addresses.insert",
                    "parameterOrder": [
                        "project",
                        "region"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses",
                    "request": {
                        "$ref": "Address"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "compute.addresses.list",
                    "parameterOrder": [
                        "project",
                        "region"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses",
                    "response": {
                        "$ref": "AddressList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "autoscalers": {
            "methods": {
                "aggregatedList": {
                    "httpMethod": "GET",
                    "id": "compute.autoscalers.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeAllScopes": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/autoscalers",
                    "response": {
                        "$ref": "AutoscalerAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "compute.autoscalers.delete",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "autoscaler"
                    ],
                    "parameters": {
                        "autoscaler": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers/{autoscaler}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "compute.autoscalers.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "autoscaler"
                    ],
                    "parameters": {
                        "autoscaler": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers/{autoscaler}",
                    "response": {
                        "$ref": "Autoscaler"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "compute.autoscalers.insert",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers",
                    "request": {
                        "$ref": "Autoscaler"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "compute.autoscalers.list",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers",
                    "response": {
                        "$ref": "AutoscalerList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "compute.autoscalers.patch",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "autoscaler": {
                            "location": "query",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers",
                    "request": {
                        "$ref": "Autoscaler"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "compute.autoscalers.update",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "autoscaler": {
                            "location": "query",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers",
                    "request": {
                        "$ref": "Autoscaler"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "backendBuckets": {
            "methods": {
                "addSignedUrlKey": {
                    "httpMethod": "POST",
                    "id": "compute.backendBuckets.addSignedUrlKey",
                    "parameterOrder": [
                        "project",
                        "backendBucket"
                    ],
                    "parameters": {
                        "backendBucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendBuckets/{backendBucket}/addSignedUrlKey",
                    "request": {
                        "$ref": "SignedUrlKey"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "compute.backendBuckets.delete",
                    "parameterOrder": [
                        "project",
                        "backendBucket"
                    ],
                    "parameters": {
                        "backendBucket": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendBuckets/{backendBucket}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "deleteSignedUrlKey": {
                    "httpMethod": "POST",
                    "id": "compute.backendBuckets.deleteSignedUrlKey",
                    "parameterOrder": [
                        "project",
                        "backendBucket",
                        "keyName"
                    ],
                    "parameters": {
                        "backendBucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "keyName": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendBuckets/{backendBucket}/deleteSignedUrlKey",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "compute.backendBuckets.get",
                    "parameterOrder": [
                        "project",
                        "backendBucket"
                    ],
                    "parameters": {
                        "backendBucket": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendBuckets/{backendBucket}",
                    "response": {
                        "$ref": "BackendBucket"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "compute.backendBuckets.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendBuckets",
                    "request": {
                        "$ref": "BackendBucket"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "compute.backendBuckets.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendBuckets",
                    "response": {
                        "$ref": "BackendBucketList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "compute.backendBuckets.patch",
                    "parameterOrder": [
                        "project",
                        "backendBucket"
                    ],
                    "parameters": {
                        "backendBucket": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendBuckets/{backendBucket}",
                    "request": {
                        "$ref": "BackendBucket"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "compute.backendBuckets.update",
                    "parameterOrder": [
                        "project",
                        "backendBucket"
                    ],
                    "parameters": {
                        "backendBucket": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendBuckets/{backendBucket}",
                    "request": {
                        "$ref": "BackendBucket"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "backendServices": {
            "methods": {
                "addSignedUrlKey": {
                    "httpMethod": "POST",
                    "id": "compute.backendServices.addSignedUrlKey",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}/addSignedUrlKey",
                    "request": {
                        "$ref": "SignedUrlKey"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "aggregatedList": {
                    "httpMethod": "GET",
                    "id": "compute.backendServices.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeAllScopes": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/backendServices",
                    "response": {
                        "$ref": "BackendServiceAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "compute.backendServices.delete",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "deleteSignedUrlKey": {
                    "httpMethod": "POST",
                    "id": "compute.backendServices.deleteSignedUrlKey",
                    "parameterOrder": [
                        "project",
                        "backendService",
                        "keyName"
                    ],
                    "parameters": {
                        "backendService": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "keyName": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}/deleteSignedUrlKey",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "compute.backendServices.get",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "response": {
                        "$ref": "BackendService"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "getHealth": {
                    "httpMethod": "POST",
                    "id": "compute.backendServices.getHealth",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}/getHealth",
                    "request": {
                        "$ref": "ResourceGroupReference"
                    },
                    "response": {
                        "$ref": "BackendServiceGroupHealth"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "compute.backendServices.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices",
                    "request": {
                        "$ref": "BackendService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "compute.backendServices.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices",
                    "response": {
                        "$ref": "BackendServiceList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "compute.backendServices.patch",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "request": {
                        "$ref": "BackendService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "setSecurityPolicy": {
                    "httpMethod": "POST",
                    "id": "compute.backendServices.setSecurityPolicy",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}/setSecurityPolicy",
                    "request": {
                        "$ref": "SecurityPolicyReference"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "compute.backendServices.update",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "request": {
                        "$ref": "BackendService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "diskTypes": {
            "methods": {
                "aggregatedList": {
                    "httpMethod": "GET",
                    "id": "compute.diskTypes.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeAllScopes": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/diskTypes",
                    "response": {
                        "$ref": "DiskTypeAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "compute.diskTypes.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "diskType"
                    ],
                    "parameters": {
                        "diskType": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/diskTypes/{diskType}",
                    "response": {
                        "$ref": "DiskType"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "compute.diskTypes.list",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/diskTypes",
                    "response": {
                        "$ref": "DiskTypeList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "disks": {
            "methods": {
                "addResourcePolicies": {
                    "httpMethod": "POST",
                    "id": "compute.disks.addResourcePolicies",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}/addResourcePolicies",
                    "request": {
                        "$ref": "DisksAddResourcePoliciesRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "aggregatedList": {
                    "httpMethod": "GET",
                    "id": "compute.disks.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeAllScopes": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/disks",
                    "response": {
                        "$ref": "DiskAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "createSnapshot": {
                    "httpMethod": "POST",
                    "id": "compute.disks.createSnapshot",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "guestFlush": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}/createSnapshot",
                    "request": {
                        "$ref": "Snapshot"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "compute.disks.delete",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "compute.disks.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}",
                    "response": {
                        "$ref": "Disk"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "getIamPolicy": {
                    "httpMethod": "GET",
                    "id": "compute.disks.getIamPolicy",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "resource"
                    ],
                    "parameters": {
                        "optionsRequestedPolicyVersion": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "resource": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{resource}/getIamPolicy",
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "compute.disks.insert",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "sourceImage": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks",
                    "request": {
                        "$ref": "Disk"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "compute.disks.list",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks",
                    "response": {
                        "$ref": "DiskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "removeResourcePolicies": {
                    "httpMethod": "POST",
                    "id": "compute.disks.removeResourcePolicies",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}/removeResourcePolicies",
                    "request": {
                        "$ref": "DisksRemoveResourcePoliciesRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "resize": {
                    "httpMethod": "POST",
                    "id": "compute.disks.resize",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}/resize",
                    "request": {
                        "$ref": "DisksResizeRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "setIamPolicy": {
                    "httpMethod": "POST",
                    "id": "compute.disks.setIamPolicy",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "resource"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "resource": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{resource}/setIamPolicy",
                    "request": {
                        "$ref": "ZoneSetPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "setLabels": {
                    "httpMethod": "POST",
                    "id": "compute.disks.setLabels",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "resource"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        },
                        "resource": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{resource}/setLabels",
                    "request": {
                        "$ref": "ZoneSetLabelsRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "testIamPermissions": {
                    "httpMethod": "POST",
                    "id": "compute.disks.testIamPermissions",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "resource"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "resource": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{resource}/testIamPermissions",
                    "request": {
                        "$ref": "TestPermissionsRequest"
                    },
                    "response": {
                        "$ref": "TestPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "externalVpnGateways": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "compute.externalVpnGateways.delete",
                    "parameterOrder": [
                        "project",
                        "externalVpnGateway"
                    ],
                    "parameters": {
                        "externalVpnGateway": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/externalVpnGateways/{externalVpnGateway}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "compute.externalVpnGateways.get",
                    "parameterOrder": [
                        "project",
                        "externalVpnGateway"
                    ],
                    "parameters": {
                        "externalVpnGateway": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/externalVpnGateways/{externalVpnGateway}",
                    "response": {
                        "$ref": "ExternalVpnGateway"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "compute.externalVpnGateways.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/externalVpnGateways",
                    "request": {
                        "$ref": "ExternalVpnGateway"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "compute.externalVpnGateways.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/externalVpnGateways",
                    "response": {
                        "$ref": "ExternalVpnGatewayList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "setLabels": {
                    "httpMethod": "POST",
                    "id": "compute.externalVpnGateways.setLabels",
                    "parameterOrder": [
                        "project",
                        "resource"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
[...]
