{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://composer.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Composer",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/composer/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "composer:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://composer.mtls.googleapis.com/",
    "name": "composer",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "resources": {
                        "environments": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                                    "httpMethod": "POST",
                                    "id": "composer.projects.locations.environments.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/environments",
                                    "request": {
                                        "$ref": "Environment"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                                    "httpMethod": "DELETE",
                                    "id": "composer.projects.locations.environments.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                                    "httpMethod": "GET",
                                    "id": "composer.projects.locations.environments.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Environment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                                    "httpMethod": "GET",
                                    "id": "composer.projects.locations.environments.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/environments",
                                    "response": {
                                        "$ref": "ListEnvironmentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                                    "httpMethod": "PATCH",
                                    "id": "composer.projects.locations.environments.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Environment"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "imageVersions": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/imageVersions",
                                    "httpMethod": "GET",
                                    "id": "composer.projects.locations.imageVersions.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/imageVersions",
                                    "response": {
                                        "$ref": "ListImageVersionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "composer.projects.locations.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "composer.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "composer.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://composer.googleapis.com/",
    "schemas": {
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Environment": {
            "id": "Environment",
            "properties": {
                "config": {
                    "$ref": "EnvironmentConfig"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "RUNNING",
                        "UPDATING",
                        "DELETING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnvironmentConfig": {
            "id": "EnvironmentConfig",
            "properties": {
                "airflowUri": {
                    "type": "string"
                },
                "dagGcsPrefix": {
                    "type": "string"
                },
                "gkeCluster": {
                    "type": "string"
                },
                "nodeConfig": {
                    "$ref": "NodeConfig"
                },
                "nodeCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "privateEnvironmentConfig": {
                    "$ref": "PrivateEnvironmentConfig"
                },
                "softwareConfig": {
                    "$ref": "SoftwareConfig"
                }
            },
            "type": "object"
        },
        "IPAllocationPolicy": {
            "id": "IPAllocationPolicy",
            "properties": {
                "clusterIpv4CidrBlock": {
                    "type": "string"
                },
                "clusterSecondaryRangeName": {
                    "type": "string"
                },
                "servicesIpv4CidrBlock": {
                    "type": "string"
                },
                "servicesSecondaryRangeName": {
                    "type": "string"
                },
                "useIpAliases": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ImageVersion": {
            "id": "ImageVersion",
            "properties": {
                "imageVersionId": {
                    "type": "string"
                },
                "isDefault": {
                    "type": "boolean"
                },
                "supportedPythonVersions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListEnvironmentsResponse": {
            "id": "ListEnvironmentsResponse",
            "properties": {
                "environments": {
                    "items": {
                        "$ref": "Environment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListImageVersionsResponse": {
            "id": "ListImageVersionsResponse",
            "properties": {
                "imageVersions": {
                    "items": {
                        "$ref": "ImageVersion"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NodeConfig": {
            "id": "NodeConfig",
            "properties": {
                "diskSizeGb": {
                    "format": "int32",
                    "type": "integer"
                },
                "ipAllocationPolicy": {
                    "$ref": "IPAllocationPolicy"
                },
                "location": {
                    "type": "string"
                },
                "machineType": {
                    "type": "string"
                },
                "network": {
                    "type": "string"
                },
                "oauthScopes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "serviceAccount": {
                    "type": "string"
                },
                "subnetwork": {
                    "type": "string"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "id": "OperationMetadata",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "operationType": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "CREATE",
                        "DELETE",
                        "UPDATE"
                    ],
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "resourceUuid": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "SUCCESSFUL",
                        "FAILED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PrivateClusterConfig": {
            "id": "PrivateClusterConfig",
            "properties": {
                "enablePrivateEndpoint": {
                    "type": "boolean"
                },
                "masterIpv4CidrBlock": {
                    "type": "string"
                },
                "masterIpv4ReservedRange": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PrivateEnvironmentConfig": {
            "id": "PrivateEnvironmentConfig",
            "properties": {
                "cloudSqlIpv4CidrBlock": {
                    "type": "string"
                },
                "enablePrivateEnvironment": {
                    "type": "boolean"
                },
                "privateClusterConfig": {
                    "$ref": "PrivateClusterConfig"
                },
                "webServerIpv4CidrBlock": {
                    "type": "string"
                },
                "webServerIpv4ReservedRange": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SoftwareConfig": {
            "id": "SoftwareConfig",
            "properties": {
                "airflowConfigOverrides": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "envVariables": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "imageVersion": {
                    "type": "string"
                },
                "pypiPackages": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "pythonVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Composer API",
    "version": "v1",
    "version_module": true
}