{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://containeranalysis.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Container Analysis",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "containeranalysis:v1alpha1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
    "name": "containeranalysis",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "notes": {
                    "methods": {
                        "create": {
                            "flatPath": "v1alpha1/projects/{projectsId}/notes",
                            "httpMethod": "POST",
                            "id": "containeranalysis.projects.notes.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "noteId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/notes",
                            "request": {
                                "$ref": "Note"
                            },
                            "response": {
                                "$ref": "Note"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
                            "httpMethod": "DELETE",
                            "id": "containeranalysis.projects.notes.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
                            "httpMethod": "GET",
                            "id": "containeranalysis.projects.notes.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "Note"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
                            "httpMethod": "POST",
                            "id": "containeranalysis.projects.notes.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+resource}:getIamPolicy",
                            "request": {
                                "$ref": "GetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1alpha1/projects/{projectsId}/notes",
                            "httpMethod": "GET",
                            "id": "containeranalysis.projects.notes.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/notes",
                            "response": {
                                "$ref": "ListNotesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
                            "httpMethod": "PATCH",
                            "id": "containeranalysis.projects.notes.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "request": {
                                "$ref": "Note"
                            },
                            "response": {
                                "$ref": "Note"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "containeranalysis.projects.notes.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "containeranalysis.projects.notes.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "occurrences": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}/occurrences",
                                    "httpMethod": "GET",
                                    "id": "containeranalysis.projects.notes.occurrences.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/notes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+name}/occurrences",
                                    "response": {
                                        "$ref": "ListNoteOccurrencesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "occurrences": {
                    "methods": {
                        "create": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
                            "httpMethod": "POST",
                            "id": "containeranalysis.projects.occurrences.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/occurrences",
                            "request": {
                                "$ref": "Occurrence"
                            },
                            "response": {
                                "$ref": "Occurrence"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
                            "httpMethod": "DELETE",
                            "id": "containeranalysis.projects.occurrences.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
                            "httpMethod": "GET",
                            "id": "containeranalysis.projects.occurrences.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "Occurrence"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
                            "httpMethod": "POST",
                            "id": "containeranalysis.projects.occurrences.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+resource}:getIamPolicy",
                            "request": {
                                "$ref": "GetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getNotes": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
                            "httpMethod": "GET",
                            "id": "containeranalysis.projects.occurrences.getNotes",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}/notes",
                            "response": {
                                "$ref": "Note"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getVulnerabilitySummary": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences:vulnerabilitySummary",
                            "httpMethod": "GET",
                            "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/occurrences:vulnerabilitySummary",
                            "response": {
                                "$ref": "GetVulnzOccurrencesSummaryResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
                            "httpMethod": "GET",
                            "id": "containeranalysis.projects.occurrences.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "kind": {
                                    "enum": [
                                        "KIND_UNSPECIFIED",
                                        "PACKAGE_VULNERABILITY",
                                        "BUILD_DETAILS",
                                        "IMAGE_BASIS",
                                        "PACKAGE_MANAGER",
                                        "DEPLOYABLE",
                                        "DISCOVERY",
                                        "ATTESTATION_AUTHORITY",
                                        "UPGRADE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/occurrences",
                            "response": {
                                "$ref": "ListOccurrencesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
                            "httpMethod": "PATCH",
                            "id": "containeranalysis.projects.occurrences.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "request": {
                                "$ref": "Occurrence"
                            },
                            "response": {
                                "$ref": "Occurrence"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "containeranalysis.projects.occurrences.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "containeranalysis.projects.occurrences.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "create": {
                            "flatPath": "v1alpha1/projects/{projectsId}/operations",
                            "httpMethod": "POST",
                            "id": "containeranalysis.projects.operations.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/operations",
                            "request": {
                                "$ref": "CreateOperationRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1alpha1/projects/{projectsId}/operations/{operationsId}",
                            "httpMethod": "PATCH",
                            "id": "containeranalysis.projects.operations.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "request": {
                                "$ref": "UpdateOperationRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "scanConfigs": {
                    "methods": {
                        "get": {
                            "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
                            "httpMethod": "GET",
                            "id": "containeranalysis.projects.scanConfigs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "ScanConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs",
                            "httpMethod": "GET",
                            "id": "containeranalysis.projects.scanConfigs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/scanConfigs",
                            "response": {
                                "$ref": "ListScanConfigsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
                            "httpMethod": "PATCH",
                            "id": "containeranalysis.projects.scanConfigs.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "request": {
                                "$ref": "ScanConfig"
                            },
                            "response": {
                                "$ref": "ScanConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "providers": {
            "resources": {
                "notes": {
                    "methods": {
                        "create": {
                            "flatPath": "v1alpha1/providers/{providersId}/notes",
                            "httpMethod": "POST",
                            "id": "containeranalysis.providers.notes.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^providers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "noteId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}/notes",
                            "request": {
                                "$ref": "Note"
                            },
                            "response": {
                                "$ref": "Note"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
                            "httpMethod": "DELETE",
                            "id": "containeranalysis.providers.notes.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^providers/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
                            "httpMethod": "GET",
                            "id": "containeranalysis.providers.notes.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^providers/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "Note"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:getIamPolicy",
                            "httpMethod": "POST",
                            "id": "containeranalysis.providers.notes.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^providers/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+resource}:getIamPolicy",
                            "request": {
                                "$ref": "GetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1alpha1/providers/{providersId}/notes",
                            "httpMethod": "GET",
                            "id": "containeranalysis.providers.notes.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^providers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}/notes",
                            "response": {
                                "$ref": "ListNotesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
                            "httpMethod": "PATCH",
                            "id": "containeranalysis.providers.notes.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^providers/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "request": {
                                "$ref": "Note"
                            },
                            "response": {
                                "$ref": "Note"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "containeranalysis.providers.notes.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^providers/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "containeranalysis.providers.notes.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^providers/[^/]+/notes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "occurrences": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}/occurrences",
                                    "httpMethod": "GET",
                                    "id": "containeranalysis.providers.notes.occurrences.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^providers/[^/]+/notes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+name}/occurrences",
                                    "response": {
                                        "$ref": "ListNoteOccurrencesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://containeranalysis.googleapis.com/",
    "schemas": {
        "Artifact": {
            "id": "Artifact",
            "properties": {
                "checksum": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "names": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Attestation": {
            "id": "Attestation",
            "properties": {
                "pgpSignedAttestation": {
                    "$ref": "PgpSignedAttestation"
                }
            },
            "type": "object"
        },
        "AttestationAuthority": {
            "id": "AttestationAuthority",
            "properties": {
                "hint": {
                    "$ref": "AttestationAuthorityHint"
                }
            },
            "type": "object"
        },
        "AttestationAuthorityHint": {
            "id": "AttestationAuthorityHint",
            "properties": {
                "humanReadableName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Basis": {
            "id": "Basis",
            "properties": {
                "fingerprint": {
                    "$ref": "Fingerprint"
                },
                "resourceUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildDetails": {
            "id": "BuildDetails",
            "properties": {
                "provenance": {
                    "$ref": "BuildProvenance"
                },
                "provenanceBytes": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildProvenance": {
            "id": "BuildProvenance",
            "properties": {
                "buildOptions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "builderVersion": {
                    "type": "string"
                },
                "builtArtifacts": {
                    "items": {
                        "$ref": "Artifact"
                    },
                    "type": "array"
                },
                "commands": {
                    "items": {
                        "$ref": "Command"
                    },
                    "type": "array"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "creator": {
                    "type": "string"
                },
                "finishTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "logsBucket": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "sourceProvenance": {
                    "$ref": "Source"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "triggerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildSignature": {
            "id": "BuildSignature",
            "properties": {
                "keyId": {
                    "type": "string"
                },
                "keyType": {
                    "enum": [
                        "KEY_TYPE_UNSPECIFIED",
                        "PGP_ASCII_ARMORED",
                        "PKIX_PEM"
                    ],
                    "type": "string"
                },
                "publicKey": {
                    "type": "string"
                },
                "signature": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildType": {
            "id": "BuildType",
            "properties": {
                "builderVersion": {
                    "type": "string"
                },
                "signature": {
                    "$ref": "BuildSignature"
                }
            },
            "type": "object"
        },
        "Command": {
            "id": "Command",
            "properties": {
                "args": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "dir": {
                    "type": "string"
                },
                "env": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "waitFor": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CreateOperationRequest": {
            "id": "CreateOperationRequest",
            "properties": {
                "operation": {
                    "$ref": "Operation"
                },
                "operationId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Deployable": {
            "id": "Deployable",
            "properties": {
                "resourceUri": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Deployment": {
            "id": "Deployment",
            "properties": {
                "address": {
                    "type": "string"
                },
                "config": {
                    "type": "string"
                },
                "deployTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "platform": {
                    "enum": [
                        "PLATFORM_UNSPECIFIED",
                        "GKE",
                        "FLEX",
                        "CUSTOM"
                    ],
                    "type": "string"
                },
                "resourceUri": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "undeployTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "userEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Derived": {
            "id": "Derived",
            "properties": {
                "baseResourceUrl": {
                    "type": "string"
                },
                "distance": {
                    "format": "uint32",
                    "type": "integer"
                },
                "fingerprint": {
                    "$ref": "Fingerprint"
                },
                "layerInfo": {
                    "items": {
                        "$ref": "Layer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Detail": {
            "id": "Detail",
            "properties": {
                "cpeUri": {
                    "type": "string"
                },
                "fixedLocation": {
                    "$ref": "VulnerabilityLocation"
                },
                "isObsolete": {
                    "type": "boolean"
                },
                "maxAffectedVersion": {
                    "$ref": "Version"
                },
                "minAffectedVersion": {
                    "$ref": "Version"
                },
                "package": {
                    "type": "string"
                },
                "packageType": {
                    "type": "string"
                },
                "severityName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Discovered": {
            "id": "Discovered",
            "properties": {
                "analysisStatus": {
                    "enum": [
                        "ANALYSIS_STATUS_UNSPECIFIED",
                        "PENDING",
                        "SCANNING",
                        "FINISHED_SUCCESS",
                        "FINISHED_FAILED",
                        "FINISHED_UNSUPPORTED"
                    ],
                    "type": "string"
                },
                "analysisStatusError": {
                    "$ref": "Status"
                },
                "continuousAnalysis": {
                    "enum": [
                        "CONTINUOUS_ANALYSIS_UNSPECIFIED",
                        "ACTIVE",
                        "INACTIVE"
                    ],
                    "type": "string"
                },
                "cpe": {
                    "type": "string"
                },
                "operation": {
                    "$ref": "Operation"
                }
            },
            "type": "object"
        },
        "Discovery": {
            "id": "Discovery",
            "properties": {
                "analysisKind": {
                    "enum": [
                        "KIND_UNSPECIFIED",
                        "PACKAGE_VULNERABILITY",
                        "BUILD_DETAILS",
                        "IMAGE_BASIS",
                        "PACKAGE_MANAGER",
                        "DEPLOYABLE",
                        "DISCOVERY",
                        "ATTESTATION_AUTHORITY",
                        "UPGRADE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Distribution": {
            "id": "Distribution",
            "properties": {
                "architecture": {
                    "enum": [
                        "ARCHITECTURE_UNSPECIFIED",
                        "X86",
                        "X64"
                    ],
                    "type": "string"
                },
                "cpeUri": {
                    "type": "string"
                },
                "latestVersion": {
                    "$ref": "Version"
                },
                "maintainer": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FileHashes": {
            "id": "FileHashes",
            "properties": {
                "fileHash": {
                    "items": {
                        "$ref": "Hash"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Fingerprint": {
            "id": "Fingerprint",
            "properties": {
                "v1Name": {
                    "type": "string"
                },
                "v2Blob": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "v2Name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIamPolicyRequest": {
            "id": "GetIamPolicyRequest",
            "properties": {
                "options": {
                    "$ref": "GetPolicyOptions"
                }
            },
            "type": "object"
        },
        "GetPolicyOptions": {
            "id": "GetPolicyOptions",
            "properties": {
                "requestedPolicyVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GetVulnzOccurrencesSummaryResponse": {
            "id": "GetVulnzOccurrencesSummaryResponse",
            "properties": {
                "counts": {
                    "items": {
                        "$ref": "SeverityCount"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsContaineranalysisV1alpha1AliasContext": {
            "id": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
            "properties": {
                "kind": {
                    "enum": [
                        "KIND_UNSPECIFIED",
                        "FIXED",
                        "MOVABLE",
                        "OTHER"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext": {
            "id": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext",
            "properties": {
                "aliasContext": {
                    "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext"
                },
                "repoId": {
                    "$ref": "GoogleDevtoolsContaineranalysisV1alpha1RepoId"
                },
                "revisionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext": {
            "id": "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext",
            "properties": {
                "aliasContext": {
                    "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext"
                },
                "gerritProject": {
                    "type": "string"
                },
                "hostUri": {
                    "type": "string"
                },
                "revisionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext": {
            "id": "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext",
            "properties": {
                "revisionId": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata": {
            "id": "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId": {
            "id": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId",
            "properties": {
                "projectId": {
                    "type": "string"
                },
                "repoName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsContaineranalysisV1alpha1RepoId": {
            "id": "GoogleDevtoolsContaineranalysisV1alpha1RepoId",
            "properties": {
                "projectRepoId": {
                    "$ref": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
                },
                "uid": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsContaineranalysisV1alpha1SourceContext": {
            "id": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext",
            "properties": {
                "cloudRepo": {
                    "$ref": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext"
                },
                "gerrit": {
                    "$ref": "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext"
                },
                "git": {
                    "$ref": "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Hash": {
            "id": "Hash",
            "properties": {
                "type": {
                    "enum": [
                        "NONE",
                        "SHA256"
                    ],
                    "type": "string"
                },
                "value": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Installation": {
            "id": "Installation",
            "properties": {
                "location": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Layer": {
            "id": "Layer",
            "properties": {
                "arguments": {
                    "type": "string"
                },
                "directive": {
                    "enum": [
                        "DIRECTIVE_UNSPECIFIED",
                        "MAINTAINER",
                        "RUN",
                        "CMD",
                        "LABEL",
                        "EXPOSE",
                        "ENV",
                        "ADD",
                        "COPY",
                        "ENTRYPOINT",
                        "VOLUME",
                        "USER",
                        "WORKDIR",
                        "ARG",
                        "ONBUILD",
                        "STOPSIGNAL",
                        "HEALTHCHECK",
                        "SHELL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListNoteOccurrencesResponse": {
            "id": "ListNoteOccurrencesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "occurrences": {
                    "items": {
                        "$ref": "Occurrence"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListNotesResponse": {
            "id": "ListNotesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "notes": {
                    "items": {
                        "$ref": "Note"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListOccurrencesResponse": {
            "id": "ListOccurrencesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "occurrences": {
                    "items": {
                        "$ref": "Occurrence"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListScanConfigsResponse": {
            "id": "ListScanConfigsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "scanConfigs": {
                    "items": {
                        "$ref": "ScanConfig"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "cpeUri": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "version": {
                    "$ref": "Version"
                }
            },
            "type": "object"
        },
        "Note": {
            "id": "Note",
            "properties": {
                "attestationAuthority": {
                    "$ref": "AttestationAuthority"
                },
                "baseImage": {
                    "$ref": "Basis"
                },
                "buildType": {
                    "$ref": "BuildType"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "deployable": {
                    "$ref": "Deployable"
                },
                "discovery": {
                    "$ref": "Discovery"
                },
                "expirationTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "kind": {
                    "enum": [
                        "KIND_UNSPECIFIED",
                        "PACKAGE_VULNERABILITY",
                        "BUILD_DETAILS",
                        "IMAGE_BASIS",
                        "PACKAGE_MANAGER",
                        "DEPLOYABLE",
                        "DISCOVERY",
                        "ATTESTATION_AUTHORITY",
                        "UPGRADE"
                    ],
                    "type": "string"
                },
                "longDescription": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "package": {
                    "$ref": "Package"
                },
                "relatedUrl": {
                    "items": {
                        "$ref": "RelatedUrl"
                    },
                    "type": "array"
                },
                "shortDescription": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "upgrade": {
                    "$ref": "UpgradeNote"
                },
                "vulnerabilityType": {
                    "$ref": "VulnerabilityType"
                }
            },
            "type": "object"
        },
        "Occurrence": {
            "id": "Occurrence",
            "properties": {
                "attestation": {
                    "$ref": "Attestation"
                },
                "buildDetails": {
                    "$ref": "BuildDetails"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "deployment": {
                    "$ref": "Deployment"
                },
                "derivedImage": {
                    "$ref": "Derived"
                },
                "discovered": {
                    "$ref": "Discovered"
                },
                "installation": {
                    "$ref": "Installation"
                },
                "kind": {
                    "enum": [
                        "KIND_UNSPECIFIED",
                        "PACKAGE_VULNERABILITY",
                        "BUILD_DETAILS",
                        "IMAGE_BASIS",
                        "PACKAGE_MANAGER",
                        "DEPLOYABLE",
                        "DISCOVERY",
                        "ATTESTATION_AUTHORITY",
                        "UPGRADE"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "noteName": {
                    "type": "string"
                },
                "remediation": {
                    "type": "string"
                },
                "resource": {
                    "$ref": "Resource"
                },
                "resourceUrl": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "upgrade": {
                    "$ref": "UpgradeOccurrence"
                },
                "vulnerabilityDetails": {
                    "$ref": "VulnerabilityDetails"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Package": {
            "id": "Package",
            "properties": {
                "distribution": {
                    "items": {
                        "$ref": "Distribution"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PackageIssue": {
            "id": "PackageIssue",
            "properties": {
                "affectedLocation": {
                    "$ref": "VulnerabilityLocation"
                },
                "fixedLocation": {
                    "$ref": "VulnerabilityLocation"
                },
                "severityName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PgpSignedAttestation": {
            "id": "PgpSignedAttestation",
            "properties": {
                "contentType": {
                    "enum": [
                        "CONTENT_TYPE_UNSPECIFIED",
                        "SIMPLE_SIGNING_JSON"
                    ],
                    "type": "string"
                },
                "pgpKeyId": {
                    "type": "string"
                },
                "signature": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "RelatedUrl": {
            "id": "RelatedUrl",
            "properties": {
                "label": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RepoSource": {
            "id": "RepoSource",
            "properties": {
                "branchName": {
                    "type": "string"
                },
                "commitSha": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "repoName": {
                    "type": "string"
                },
                "tagName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Resource": {
            "id": "Resource",
            "properties": {
                "contentHash": {
                    "$ref": "Hash"
                },
                "name": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ScanConfig": {
            "id": "ScanConfig",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                }
            },
            "type": "object"
        },
        "SeverityCount": {
            "id": "SeverityCount",
            "properties": {
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "MINIMAL",
                        "LOW",
                        "MEDIUM",
                        "HIGH",
                        "CRITICAL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Source": {
            "id": "Source",
            "properties": {
                "additionalContexts": {
                    "items": {
                        "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
                    },
                    "type": "array"
                },
                "artifactStorageSource": {
                    "$ref": "StorageSource"
                },
                "context": {
                    "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
                },
                "fileHashes": {
                    "additionalProperties": {
                        "$ref": "FileHashes"
                    },
                    "type": "object"
                },
                "repoSource": {
                    "$ref": "RepoSource"
                },
                "storageSource": {
                    "$ref": "StorageSource"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StorageSource": {
            "id": "StorageSource",
            "properties": {
                "bucket": {
                    "type": "string"
                },
                "generation": {
                    "format": "int64",
                    "type": "string"
                },
                "object": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateOperationRequest": {
            "id": "UpdateOperationRequest",
            "properties": {
                "operation": {
                    "$ref": "Operation"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpgradeDistribution": {
            "id": "UpgradeDistribution",
            "properties": {
                "classification": {
                    "type": "string"
                },
                "cpeUri": {
                    "type": "string"
                },
                "cve": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "severity": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpgradeNote": {
            "id": "UpgradeNote",
            "properties": {
                "distributions": {
                    "items": {
                        "$ref": "UpgradeDistribution"
                    },
                    "type": "array"
                },
                "package": {
                    "type": "string"
                },
                "version": {
                    "$ref": "Version"
                }
            },
            "type": "object"
        },
        "UpgradeOccurrence": {
            "id": "UpgradeOccurrence",
            "properties": {
                "distribution": {
                    "$ref": "UpgradeDistribution"
                },
                "package": {
                    "type": "string"
                },
                "parsedVersion": {
                    "$ref": "Version"
                }
            },
            "type": "object"
        },
        "Version": {
            "id": "Version",
            "properties": {
                "epoch": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "enum": [
                        "NORMAL",
                        "MINIMUM",
                        "MAXIMUM"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "revision": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VulnerabilityDetails": {
            "id": "VulnerabilityDetails",
            "properties": {
                "cvssScore": {
                    "format": "float",
                    "type": "number"
                },
                "effectiveSeverity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "MINIMAL",
                        "LOW",
                        "MEDIUM",
                        "HIGH",
                        "CRITICAL"
                    ],
                    "type": "string"
                },
                "packageIssue": {
                    "items": {
                        "$ref": "PackageIssue"
                    },
                    "type": "array"
                },
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "MINIMAL",
                        "LOW",
                        "MEDIUM",
                        "HIGH",
                        "CRITICAL"
                    ],
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VulnerabilityLocation": {
            "id": "VulnerabilityLocation",
            "properties": {
                "cpeUri": {
                    "type": "string"
                },
                "package": {
                    "type": "string"
                },
                "version": {
                    "$ref": "Version"
                }
            },
            "type": "object"
        },
        "VulnerabilityType": {
            "id": "VulnerabilityType",
            "properties": {
                "cvssScore": {
                    "format": "float",
                    "type": "number"
                },
                "details": {
                    "items": {
                        "$ref": "Detail"
                    },
                    "type": "array"
                },
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "MINIMAL",
                        "LOW",
                        "MEDIUM",
                        "HIGH",
                        "CRITICAL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Container Analysis API",
    "version": "v1alpha1",
    "version_module": true
}