{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://container.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Container",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/container-engine/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "container:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://container.mtls.googleapis.com/",
    "name": "container",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "aggregated": {
                    "resources": {
                        "usableSubnetworks": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/aggregated/usableSubnetworks",
                                    "httpMethod": "GET",
                                    "id": "container.projects.aggregated.usableSubnetworks.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/aggregated/usableSubnetworks",
                                    "response": {
                                        "$ref": "ListUsableSubnetworksResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "locations": {
                    "methods": {
                        "getServerConfig": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serverConfig",
                            "httpMethod": "GET",
                            "id": "container.projects.locations.getServerConfig",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "zone": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/serverConfig",
                            "response": {
                                "$ref": "ServerConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "clusters": {
                            "methods": {
                                "completeIpRotation": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:completeIpRotation",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.completeIpRotation",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:completeIpRotation",
                                    "request": {
                                        "$ref": "CompleteIPRotationRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/clusters",
                                    "request": {
                                        "$ref": "CreateClusterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                                    "httpMethod": "DELETE",
                                    "id": "container.projects.locations.clusters.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                                    "httpMethod": "GET",
                                    "id": "container.projects.locations.clusters.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Cluster"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getJwks": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/jwks",
                                    "httpMethod": "GET",
                                    "id": "container.projects.locations.clusters.getJwks",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/jwks",
                                    "response": {
                                        "$ref": "GetJSONWebKeysResponse"
                                    }
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                                    "httpMethod": "GET",
                                    "id": "container.projects.locations.clusters.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/clusters",
                                    "response": {
                                        "$ref": "ListClustersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setAddons": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.setAddons",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setAddons",
                                    "request": {
                                        "$ref": "SetAddonsConfigRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setLegacyAbac": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLegacyAbac",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.setLegacyAbac",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setLegacyAbac",
                                    "request": {
                                        "$ref": "SetLegacyAbacRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setLocations": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLocations",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.setLocations",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setLocations",
                                    "request": {
                                        "$ref": "SetLocationsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setLogging": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.setLogging",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setLogging",
                                    "request": {
                                        "$ref": "SetLoggingServiceRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setMaintenancePolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.setMaintenancePolicy",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setMaintenancePolicy",
                                    "request": {
                                        "$ref": "SetMaintenancePolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setMasterAuth": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.setMasterAuth",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setMasterAuth",
                                    "request": {
                                        "$ref": "SetMasterAuthRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setMonitoring": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.setMonitoring",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setMonitoring",
                                    "request": {
                                        "$ref": "SetMonitoringServiceRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setNetworkPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setNetworkPolicy",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.setNetworkPolicy",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setNetworkPolicy",
                                    "request": {
                                        "$ref": "SetNetworkPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setResourceLabels": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.setResourceLabels",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setResourceLabels",
                                    "request": {
                                        "$ref": "SetLabelsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "startIpRotation": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.startIpRotation",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:startIpRotation",
                                    "request": {
                                        "$ref": "StartIPRotationRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                                    "httpMethod": "PUT",
                                    "id": "container.projects.locations.clusters.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "UpdateClusterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "updateMaster": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:updateMaster",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.clusters.updateMaster",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:updateMaster",
                                    "request": {
                                        "$ref": "UpdateMasterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "nodePools": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                                            "httpMethod": "POST",
                                            "id": "container.projects.locations.clusters.nodePools.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/nodePools",
                                            "request": {
                                                "$ref": "CreateNodePoolRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                                            "httpMethod": "DELETE",
                                            "id": "container.projects.locations.clusters.nodePools.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "clusterId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "nodePoolId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "zone": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                                            "httpMethod": "GET",
                                            "id": "container.projects.locations.clusters.nodePools.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "clusterId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "nodePoolId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "zone": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "NodePool"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                                            "httpMethod": "GET",
                                            "id": "container.projects.locations.clusters.nodePools.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "clusterId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "zone": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/nodePools",
                                            "response": {
                                                "$ref": "ListNodePoolsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "rollback": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:rollback",
                                            "httpMethod": "POST",
                                            "id": "container.projects.locations.clusters.nodePools.rollback",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:rollback",
                                            "request": {
                                                "$ref": "RollbackNodePoolUpgradeRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "setAutoscaling": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setAutoscaling",
                                            "httpMethod": "POST",
                                            "id": "container.projects.locations.clusters.nodePools.setAutoscaling",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:setAutoscaling",
                                            "request": {
                                                "$ref": "SetNodePoolAutoscalingRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "setManagement": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setManagement",
                                            "httpMethod": "POST",
                                            "id": "container.projects.locations.clusters.nodePools.setManagement",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:setManagement",
                                            "request": {
                                                "$ref": "SetNodePoolManagementRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "setSize": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setSize",
                                            "httpMethod": "POST",
                                            "id": "container.projects.locations.clusters.nodePools.setSize",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:setSize",
                                            "request": {
                                                "$ref": "SetNodePoolSizeRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "update": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                                            "httpMethod": "PUT",
                                            "id": "container.projects.locations.clusters.nodePools.update",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "UpdateNodePoolRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "well-known": {
                                    "methods": {
                                        "getOpenid-configuration": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/.well-known/openid-configuration",
                                            "httpMethod": "GET",
                                            "id": "container.projects.locations.clusters.well-known.getOpenid-configuration",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/.well-known/openid-configuration",
                                            "response": {
                                                "$ref": "GetOpenIDConfigResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "container.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "request": {
                                        "$ref": "CancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "container.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "operationId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "container.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "zones": {
                    "methods": {
                        "getServerconfig": {
                            "flatPath": "v1/projects/{projectId}/zones/{zone}/serverconfig",
                            "httpMethod": "GET",
                            "id": "container.projects.zones.getServerconfig",
                            "parameterOrder": [
                                "projectId",
                                "zone"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "zone": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/zones/{zone}/serverconfig",
                            "response": {
                                "$ref": "ServerConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "clusters": {
                            "methods": {
                                "addons": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.addons",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                                    "request": {
                                        "$ref": "SetAddonsConfigRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "completeIpRotation": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.completeIpRotation",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                                    "request": {
                                        "$ref": "CompleteIPRotationRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.create",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                                    "request": {
                                        "$ref": "CreateClusterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "httpMethod": "DELETE",
                                    "id": "container.projects.zones.clusters.delete",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.clusters.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "response": {
                                        "$ref": "Cluster"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "legacyAbac": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.legacyAbac",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                                    "request": {
                                        "$ref": "SetLegacyAbacRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.clusters.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                                    "response": {
                                        "$ref": "ListClustersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "locations": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.locations",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                                    "request": {
                                        "$ref": "SetLocationsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "logging": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.logging",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                                    "request": {
                                        "$ref": "SetLoggingServiceRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "master": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.master",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                                    "request": {
                                        "$ref": "UpdateMasterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "monitoring": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.monitoring",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                                    "request": {
                                        "$ref": "SetMonitoringServiceRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "resourceLabels": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.resourceLabels",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                                    "request": {
                                        "$ref": "SetLabelsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setMaintenancePolicy": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.setMaintenancePolicy",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                                    "request": {
                                        "$ref": "SetMaintenancePolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setMasterAuth": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.setMasterAuth",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                                    "request": {
                                        "$ref": "SetMasterAuthRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setNetworkPolicy": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.setNetworkPolicy",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                                    "request": {
                                        "$ref": "SetNetworkPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "startIpRotation": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.startIpRotation",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                                    "request": {
                                        "$ref": "StartIPRotationRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "httpMethod": "PUT",
                                    "id": "container.projects.zones.clusters.update",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "clusterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "request": {
                                        "$ref": "UpdateClusterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "nodePools": {
                                    "methods": {
                                        "autoscaling": {
                                            "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                                            "httpMethod": "POST",
                                            "id": "container.projects.zones.clusters.nodePools.autoscaling",
                                            "parameterOrder": [
                                                "projectId",
                                                "zone",
                                                "clusterId",
                                                "nodePoolId"
                                            ],
                                            "parameters": {
                                                "clusterId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "nodePoolId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
[...]
