{
    "basePath": "",
    "baseUrl": "https://customsearch.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/custom-search/v1/introduction",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "customsearch:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://customsearch.mtls.googleapis.com/",
    "name": "customsearch",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "cse": {
            "methods": {
                "list": {
                    "flatPath": "customsearch/v1",
                    "httpMethod": "GET",
                    "id": "search.cse.list",
                    "parameterOrder": [],
                    "parameters": {
                        "c2coff": {
                            "location": "query",
                            "type": "string"
                        },
                        "cr": {
                            "location": "query",
                            "type": "string"
                        },
                        "cx": {
                            "location": "query",
                            "type": "string"
                        },
                        "dateRestrict": {
                            "location": "query",
                            "type": "string"
                        },
                        "exactTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "excludeTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "fileType": {
                            "location": "query",
                            "type": "string"
                        },
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "gl": {
                            "location": "query",
                            "type": "string"
                        },
                        "googlehost": {
                            "location": "query",
                            "type": "string"
                        },
                        "highRange": {
                            "location": "query",
                            "type": "string"
                        },
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "hq": {
                            "location": "query",
                            "type": "string"
                        },
                        "imgColorType": {
                            "enum": [
                                "imgColorTypeUndefined",
                                "mono",
                                "gray",
                                "color",
                                "trans"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "imgDominantColor": {
                            "enum": [
                                "imgDominantColorUndefined",
                                "black",
                                "blue",
                                "brown",
                                "gray",
                                "green",
                                "orange",
                                "pink",
                                "purple",
                                "red",
                                "teal",
                                "white",
                                "yellow"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "imgSize": {
                            "enum": [
                                "imgSizeUndefined",
                                "HUGE",
                                "ICON",
                                "LARGE",
                                "MEDIUM",
                                "SMALL",
                                "XLARGE",
                                "XXLARGE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "imgType": {
                            "enum": [
                                "imgTypeUndefined",
                                "clipart",
                                "face",
                                "lineart",
                                "stock",
                                "photo",
                                "animated"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "linkSite": {
                            "location": "query",
                            "type": "string"
                        },
                        "lowRange": {
                            "location": "query",
                            "type": "string"
                        },
                        "lr": {
                            "location": "query",
                            "type": "string"
                        },
                        "num": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "orTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "relatedSite": {
                            "location": "query",
                            "type": "string"
                        },
                        "rights": {
                            "location": "query",
                            "type": "string"
                        },
                        "safe": {
                            "enum": [
                                "safeUndefined",
                                "active",
                                "high",
                                "medium",
                                "off"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "searchType": {
                            "enum": [
                                "searchTypeUndefined",
                                "image"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "siteSearch": {
                            "location": "query",
                            "type": "string"
                        },
                        "siteSearchFilter": {
                            "enum": [
                                "siteSearchFilterUndefined",
                                "e",
                                "i"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "sort": {
                            "location": "query",
                            "type": "string"
                        },
                        "start": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "customsearch/v1",
                    "response": {
                        "$ref": "Search"
                    }
                }
            }
        },
        "siterestrict": {
            "methods": {
                "list": {
                    "flatPath": "customsearch/v1/siterestrict",
                    "httpMethod": "GET",
                    "id": "search.cse.siterestrict.list",
                    "parameterOrder": [],
                    "parameters": {
                        "c2coff": {
                            "location": "query",
                            "type": "string"
                        },
                        "cr": {
                            "location": "query",
                            "type": "string"
                        },
                        "cx": {
                            "location": "query",
                            "type": "string"
                        },
                        "dateRestrict": {
                            "location": "query",
                            "type": "string"
                        },
                        "exactTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "excludeTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "fileType": {
                            "location": "query",
                            "type": "string"
                        },
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "gl": {
                            "location": "query",
                            "type": "string"
                        },
                        "googlehost": {
                            "location": "query",
                            "type": "string"
                        },
                        "highRange": {
                            "location": "query",
                            "type": "string"
                        },
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "hq": {
                            "location": "query",
                            "type": "string"
                        },
                        "imgColorType": {
                            "enum": [
                                "imgColorTypeUndefined",
                                "mono",
                                "gray",
                                "color",
                                "trans"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "imgDominantColor": {
                            "enum": [
                                "imgDominantColorUndefined",
                                "black",
                                "blue",
                                "brown",
                                "gray",
                                "green",
                                "orange",
                                "pink",
                                "purple",
                                "red",
                                "teal",
                                "white",
                                "yellow"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "imgSize": {
                            "enum": [
                                "imgSizeUndefined",
                                "HUGE",
                                "ICON",
                                "LARGE",
                                "MEDIUM",
                                "SMALL",
                                "XLARGE",
                                "XXLARGE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "imgType": {
                            "enum": [
                                "imgTypeUndefined",
                                "clipart",
                                "face",
                                "lineart",
                                "stock",
                                "photo",
                                "animated"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "linkSite": {
                            "location": "query",
                            "type": "string"
                        },
                        "lowRange": {
                            "location": "query",
                            "type": "string"
                        },
                        "lr": {
                            "location": "query",
                            "type": "string"
                        },
                        "num": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "orTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "relatedSite": {
                            "location": "query",
                            "type": "string"
                        },
                        "rights": {
                            "location": "query",
                            "type": "string"
                        },
                        "safe": {
                            "enum": [
                                "safeUndefined",
                                "active",
                                "high",
                                "medium",
                                "off"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "searchType": {
                            "enum": [
                                "searchTypeUndefined",
                                "image"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "siteSearch": {
                            "location": "query",
                            "type": "string"
                        },
                        "siteSearchFilter": {
                            "enum": [
                                "siteSearchFilterUndefined",
                                "e",
                                "i"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "sort": {
                            "location": "query",
                            "type": "string"
                        },
                        "start": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "customsearch/v1/siterestrict",
                    "response": {
                        "$ref": "Search"
                    }
                }
            }
        }
    },
    "rootUrl": "https://customsearch.googleapis.com/",
    "schemas": {
        "Promotion": {
            "id": "Promotion",
            "properties": {
                "bodyLines": {
                    "items": {
                        "properties": {
                            "htmlTitle": {
                                "type": "string"
                            },
                            "link": {
                                "type": "string"
                            },
                            "title": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "displayLink": {
                    "type": "string"
                },
                "htmlTitle": {
                    "type": "string"
                },
                "image": {
                    "properties": {
                        "height": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "source": {
                            "type": "string"
                        },
                        "width": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "link": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Result": {
            "id": "Result",
            "properties": {
                "cacheId": {
                    "type": "string"
                },
                "displayLink": {
                    "type": "string"
                },
                "fileFormat": {
                    "type": "string"
                },
                "formattedUrl": {
                    "type": "string"
                },
                "htmlFormattedUrl": {
                    "type": "string"
                },
                "htmlSnippet": {
                    "type": "string"
                },
                "htmlTitle": {
                    "type": "string"
                },
                "image": {
                    "properties": {
                        "byteSize": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "contextLink": {
                            "type": "string"
                        },
                        "height": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "thumbnailHeight": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "thumbnailLink": {
                            "type": "string"
                        },
                        "thumbnailWidth": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "width": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "kind": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "properties": {
                            "displayName": {
                                "type": "string"
                            },
                            "label_with_op": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "link": {
                    "type": "string"
                },
                "mime": {
                    "type": "string"
                },
                "pagemap": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "snippet": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Search": {
            "id": "Search",
            "properties": {
                "context": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "items": {
                    "items": {
                        "$ref": "Result"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "promotions": {
                    "items": {
                        "$ref": "Promotion"
                    },
                    "type": "array"
                },
                "queries": {
                    "properties": {
                        "nextPage": {
                            "items": {
                                "properties": {
                                    "count": {
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "cr": {
                                        "type": "string"
                                    },
                                    "cx": {
                                        "type": "string"
                                    },
                                    "dateRestrict": {
                                        "type": "string"
                                    },
                                    "disableCnTwTranslation": {
                                        "type": "string"
                                    },
                                    "exactTerms": {
                                        "type": "string"
                                    },
                                    "excludeTerms": {
                                        "type": "string"
                                    },
                                    "fileType": {
                                        "type": "string"
                                    },
                                    "filter": {
                                        "type": "string"
                                    },
                                    "gl": {
                                        "type": "string"
                                    },
                                    "googleHost": {
                                        "type": "string"
                                    },
                                    "highRange": {
                                        "type": "string"
                                    },
                                    "hl": {
                                        "type": "string"
                                    },
                                    "hq": {
                                        "type": "string"
                                    },
                                    "imgColorType": {
                                        "type": "string"
                                    },
                                    "imgDominantColor": {
                                        "type": "string"
                                    },
                                    "imgSize": {
                                        "type": "string"
                                    },
                                    "imgType": {
                                        "type": "string"
                                    },
                                    "inputEncoding": {
                                        "type": "string"
                                    },
                                    "language": {
                                        "type": "string"
                                    },
                                    "linkSite": {
                                        "type": "string"
                                    },
                                    "lowRange": {
                                        "type": "string"
                                    },
                                    "orTerms": {
                                        "type": "string"
                                    },
                                    "outputEncoding": {
                                        "type": "string"
                                    },
                                    "relatedSite": {
                                        "type": "string"
                                    },
                                    "rights": {
                                        "type": "string"
                                    },
                                    "safe": {
                                        "type": "string"
                                    },
                                    "searchTerms": {
                                        "type": "string"
                                    },
                                    "searchType": {
                                        "type": "string"
                                    },
                                    "siteSearch": {
                                        "type": "string"
                                    },
                                    "siteSearchFilter": {
                                        "type": "string"
                                    },
                                    "sort": {
                                        "type": "string"
                                    },
                                    "startIndex": {
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "startPage": {
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "totalResults": {
                                        "format": "int64",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        },
                        "previousPage": {
                            "items": {
                                "properties": {
                                    "count": {
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "cr": {
                                        "type": "string"
                                    },
                                    "cx": {
                                        "type": "string"
                                    },
                                    "dateRestrict": {
                                        "type": "string"
                                    },
                                    "disableCnTwTranslation": {
                                        "type": "string"
                                    },
                                    "exactTerms": {
                                        "type": "string"
                                    },
                                    "excludeTerms": {
                                        "type": "string"
                                    },
                                    "fileType": {
                                        "type": "string"
                                    },
                                    "filter": {
                                        "type": "string"
                                    },
                                    "gl": {
                                        "type": "string"
                                    },
                                    "googleHost": {
                                        "type": "string"
                                    },
                                    "highRange": {
                                        "type": "string"
                                    },
                                    "hl": {
                                        "type": "string"
                                    },
                                    "hq": {
                                        "type": "string"
                                    },
                                    "imgColorType": {
                                        "type": "string"
                                    },
                                    "imgDominantColor": {
                                        "type": "string"
                                    },
                                    "imgSize": {
                                        "type": "string"
                                    },
                                    "imgType": {
                                        "type": "string"
                                    },
                                    "inputEncoding": {
                                        "type": "string"
                                    },
                                    "language": {
                                        "type": "string"
                                    },
                                    "linkSite": {
                                        "type": "string"
                                    },
                                    "lowRange": {
                                        "type": "string"
                                    },
                                    "orTerms": {
                                        "type": "string"
                                    },
                                    "outputEncoding": {
                                        "type": "string"
                                    },
                                    "relatedSite": {
                                        "type": "string"
                                    },
                                    "rights": {
                                        "type": "string"
                                    },
                                    "safe": {
                                        "type": "string"
                                    },
                                    "searchTerms": {
                                        "type": "string"
                                    },
                                    "searchType": {
                                        "type": "string"
                                    },
                                    "siteSearch": {
                                        "type": "string"
                                    },
                                    "siteSearchFilter": {
                                        "type": "string"
                                    },
                                    "sort": {
                                        "type": "string"
                                    },
                                    "startIndex": {
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "startPage": {
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "totalResults": {
                                        "format": "int64",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        },
                        "request": {
                            "items": {
                                "properties": {
                                    "count": {
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "cr": {
                                        "type": "string"
                                    },
                                    "cx": {
                                        "type": "string"
                                    },
                                    "dateRestrict": {
                                        "type": "string"
                                    },
                                    "disableCnTwTranslation": {
                                        "type": "string"
                                    },
                                    "exactTerms": {
                                        "type": "string"
                                    },
                                    "excludeTerms": {
                                        "type": "string"
                                    },
                                    "fileType": {
                                        "type": "string"
                                    },
                                    "filter": {
                                        "type": "string"
                                    },
                                    "gl": {
                                        "type": "string"
                                    },
                                    "googleHost": {
                                        "type": "string"
                                    },
                                    "highRange": {
                                        "type": "string"
                                    },
                                    "hl": {
                                        "type": "string"
                                    },
                                    "hq": {
                                        "type": "string"
                                    },
                                    "imgColorType": {
                                        "type": "string"
                                    },
                                    "imgDominantColor": {
                                        "type": "string"
                                    },
                                    "imgSize": {
                                        "type": "string"
                                    },
                                    "imgType": {
                                        "type": "string"
                                    },
                                    "inputEncoding": {
                                        "type": "string"
                                    },
                                    "language": {
                                        "type": "string"
                                    },
                                    "linkSite": {
                                        "type": "string"
                                    },
                                    "lowRange": {
                                        "type": "string"
                                    },
                                    "orTerms": {
                                        "type": "string"
                                    },
                                    "outputEncoding": {
                                        "type": "string"
                                    },
                                    "relatedSite": {
                                        "type": "string"
                                    },
                                    "rights": {
                                        "type": "string"
                                    },
                                    "safe": {
                                        "type": "string"
                                    },
                                    "searchTerms": {
                                        "type": "string"
                                    },
                                    "searchType": {
                                        "type": "string"
                                    },
                                    "siteSearch": {
                                        "type": "string"
                                    },
                                    "siteSearchFilter": {
                                        "type": "string"
                                    },
                                    "sort": {
                                        "type": "string"
                                    },
                                    "startIndex": {
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "startPage": {
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "totalResults": {
                                        "format": "int64",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "searchInformation": {
                    "properties": {
                        "formattedSearchTime": {
                            "type": "string"
                        },
                        "formattedTotalResults": {
                            "type": "string"
                        },
                        "searchTime": {
                            "format": "double",
                            "type": "number"
                        },
                        "totalResults": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "spelling": {
                    "properties": {
                        "correctedQuery": {
                            "type": "string"
                        },
                        "htmlCorrectedQuery": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "url": {
                    "properties": {
                        "template": {
                            "type": "string"
                        },
                        "type": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Custom Search API",
    "version": "v1",
    "version_module": true
}