{
    "basePath": "/customsearch/",
    "baseUrl": "https://www.googleapis.com/customsearch/",
    "batchPath": "batch/customsearch/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/custom-search/v1/using_rest",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "customsearch:v1",
    "kind": "discovery#restDescription",
    "name": "customsearch",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "cse": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "search.cse.list",
                    "parameterOrder": [
                        "q"
                    ],
                    "parameters": {
                        "c2coff": {
                            "location": "query",
                            "type": "string"
                        },
                        "cr": {
                            "location": "query",
                            "type": "string"
                        },
                        "cx": {
                            "location": "query",
                            "type": "string"
                        },
                        "dateRestrict": {
                            "location": "query",
                            "type": "string"
                        },
                        "exactTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "excludeTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "fileType": {
                            "location": "query",
                            "type": "string"
                        },
                        "filter": {
                            "enum": [
                                "0",
                                "1"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "gl": {
                            "location": "query",
                            "type": "string"
                        },
                        "googlehost": {
                            "location": "query",
                            "type": "string"
                        },
                        "highRange": {
                            "location": "query",
                            "type": "string"
                        },
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "hq": {
                            "location": "query",
                            "type": "string"
                        },
                        "imgColorType": {
                            "enum": [
                                "color",
                                "gray",
                                "mono"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "imgDominantColor": {
                            "enum": [
                                "black",
                                "blue",
                                "brown",
                                "gray",
                                "green",
                                "orange",
                                "pink",
                                "purple",
                                "red",
                                "teal",
                                "white",
                                "yellow"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "imgSize": {
                            "enum": [
                                "huge",
                                "icon",
                                "large",
                                "medium",
                                "small",
                                "xlarge",
                                "xxlarge"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "imgType": {
                            "enum": [
                                "clipart",
                                "face",
                                "lineart",
                                "news",
                                "photo"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "linkSite": {
                            "location": "query",
                            "type": "string"
                        },
                        "lowRange": {
                            "location": "query",
                            "type": "string"
                        },
                        "lr": {
                            "enum": [
                                "lang_ar",
                                "lang_bg",
                                "lang_ca",
                                "lang_cs",
                                "lang_da",
                                "lang_de",
                                "lang_el",
                                "lang_en",
                                "lang_es",
                                "lang_et",
                                "lang_fi",
                                "lang_fr",
                                "lang_hr",
                                "lang_hu",
                                "lang_id",
                                "lang_is",
                                "lang_it",
                                "lang_iw",
                                "lang_ja",
                                "lang_ko",
                                "lang_lt",
                                "lang_lv",
                                "lang_nl",
                                "lang_no",
                                "lang_pl",
                                "lang_pt",
                                "lang_ro",
                                "lang_ru",
                                "lang_sk",
                                "lang_sl",
                                "lang_sr",
                                "lang_sv",
                                "lang_tr",
                                "lang_zh-CN",
                                "lang_zh-TW"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "num": {
                            "default": "10",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "orTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "relatedSite": {
                            "location": "query",
                            "type": "string"
                        },
                        "rights": {
                            "location": "query",
                            "type": "string"
                        },
                        "safe": {
                            "default": "off",
                            "enum": [
                                "active",
                                "high",
                                "medium",
                                "off"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "searchType": {
                            "enum": [
                                "image"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "siteSearch": {
                            "location": "query",
                            "type": "string"
                        },
                        "siteSearchFilter": {
                            "enum": [
                                "e",
                                "i"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "sort": {
                            "location": "query",
                            "type": "string"
                        },
                        "start": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v1",
                    "response": {
                        "$ref": "Search"
                    }
                }
            },
            "resources": {
                "siterestrict": {
                    "methods": {
                        "list": {
                            "httpMethod": "GET",
                            "id": "search.cse.siterestrict.list",
                            "parameterOrder": [
                                "q"
                            ],
                            "parameters": {
                                "c2coff": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "cr": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "cx": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "dateRestrict": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "exactTerms": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "excludeTerms": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "fileType": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "filter": {
                                    "enum": [
                                        "0",
                                        "1"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "gl": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "googlehost": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "highRange": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "hl": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "hq": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "imgColorType": {
                                    "enum": [
                                        "color",
                                        "gray",
                                        "mono"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "imgDominantColor": {
                                    "enum": [
                                        "black",
                                        "blue",
                                        "brown",
                                        "gray",
                                        "green",
                                        "orange",
                                        "pink",
                                        "purple",
                                        "red",
                                        "teal",
                                        "white",
                                        "yellow"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "imgSize": {
                                    "enum": [
                                        "huge",
                                        "icon",
                                        "large",
                                        "medium",
                                        "small",
                                        "xlarge",
                                        "xxlarge"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "imgType": {
                                    "enum": [
                                        "clipart",
                                        "face",
                                        "lineart",
                                        "news",
                                        "photo"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "linkSite": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "lowRange": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "lr": {
                                    "enum": [
                                        "lang_ar",
                                        "lang_bg",
                                        "lang_ca",
                                        "lang_cs",
                                        "lang_da",
                                        "lang_de",
                                        "lang_el",
                                        "lang_en",
                                        "lang_es",
                                        "lang_et",
                                        "lang_fi",
                                        "lang_fr",
                                        "lang_hr",
                                        "lang_hu",
                                        "lang_id",
                                        "lang_is",
                                        "lang_it",
                                        "lang_iw",
                                        "lang_ja",
                                        "lang_ko",
                                        "lang_lt",
                                        "lang_lv",
                                        "lang_nl",
                                        "lang_no",
                                        "lang_pl",
                                        "lang_pt",
                                        "lang_ro",
                                        "lang_ru",
                                        "lang_sk",
                                        "lang_sl",
                                        "lang_sr",
                                        "lang_sv",
                                        "lang_tr",
                                        "lang_zh-CN",
                                        "lang_zh-TW"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "num": {
                                    "default": "10",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "orTerms": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "q": {
                                    "location": "query",
                                    "required": true,
                                    "type": "string"
                                },
                                "relatedSite": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "rights": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "safe": {
                                    "default": "off",
                                    "enum": [
                                        "high",
                                        "medium",
                                        "off"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "searchType": {
                                    "enum": [
                                        "image"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "siteSearch": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "siteSearchFilter": {
                                    "enum": [
                                        "e",
                                        "i"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "sort": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "start": {
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "v1/siterestrict",
                            "response": {
                                "$ref": "Search"
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Context": {
            "id": "Context",
            "properties": {
                "facets": {
                    "items": {
                        "items": {
                            "properties": {
                                "anchor": {
                                    "type": "string"
                                },
                                "label": {
                                    "type": "string"
                                },
                                "label_with_op": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Promotion": {
            "id": "Promotion",
            "properties": {
                "bodyLines": {
                    "items": {
                        "properties": {
                            "htmlTitle": {
                                "type": "string"
                            },
                            "link": {
                                "type": "string"
                            },
                            "title": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "displayLink": {
                    "type": "string"
                },
                "htmlTitle": {
                    "type": "string"
                },
                "image": {
                    "properties": {
                        "height": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "source": {
                            "type": "string"
                        },
                        "width": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "link": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Query": {
            "id": "Query",
            "properties": {
                "count": {
                    "format": "int32",
                    "type": "integer"
                },
                "cr": {
                    "type": "string"
                },
                "cx": {
                    "type": "string"
                },
                "dateRestrict": {
                    "type": "string"
                },
                "disableCnTwTranslation": {
                    "type": "string"
                },
                "exactTerms": {
                    "type": "string"
                },
                "excludeTerms": {
                    "type": "string"
                },
                "fileType": {
                    "type": "string"
                },
                "filter": {
                    "type": "string"
                },
                "gl": {
                    "type": "string"
                },
                "googleHost": {
                    "type": "string"
                },
                "highRange": {
                    "type": "string"
                },
                "hl": {
                    "type": "string"
                },
                "hq": {
                    "type": "string"
                },
                "imgColorType": {
                    "type": "string"
                },
                "imgDominantColor": {
                    "type": "string"
                },
                "imgSize": {
                    "type": "string"
                },
                "imgType": {
                    "type": "string"
                },
                "inputEncoding": {
                    "type": "string"
                },
                "language": {
                    "type": "string"
                },
                "linkSite": {
                    "type": "string"
                },
                "lowRange": {
                    "type": "string"
                },
                "orTerms": {
                    "type": "string"
                },
                "outputEncoding": {
                    "type": "string"
                },
                "relatedSite": {
                    "type": "string"
                },
                "rights": {
                    "type": "string"
                },
                "safe": {
                    "type": "string"
                },
                "searchTerms": {
                    "type": "string"
                },
                "searchType": {
                    "type": "string"
                },
                "siteSearch": {
                    "type": "string"
                },
                "siteSearchFilter": {
                    "type": "string"
                },
                "sort": {
                    "type": "string"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "startPage": {
                    "format": "int32",
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "totalResults": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Result": {
            "id": "Result",
            "properties": {
                "cacheId": {
                    "type": "string"
                },
                "displayLink": {
                    "type": "string"
                },
                "fileFormat": {
                    "type": "string"
                },
                "formattedUrl": {
                    "type": "string"
                },
                "htmlFormattedUrl": {
                    "type": "string"
                },
                "htmlSnippet": {
                    "type": "string"
                },
                "htmlTitle": {
                    "type": "string"
                },
                "image": {
                    "properties": {
                        "byteSize": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "contextLink": {
                            "type": "string"
                        },
                        "height": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "thumbnailHeight": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "thumbnailLink": {
                            "type": "string"
                        },
                        "thumbnailWidth": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "width": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "kind": {
                    "default": "customsearch#result",
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "properties": {
                            "displayName": {
                                "type": "string"
                            },
                            "label_with_op": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "link": {
                    "type": "string"
                },
                "mime": {
                    "type": "string"
                },
                "pagemap": {
                    "additionalProperties": {
                        "items": {
                            "additionalProperties": {
                                "type": "any"
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "type": "object"
                },
                "snippet": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Search": {
            "id": "Search",
            "properties": {
                "context": {
                    "$ref": "Context"
                },
                "items": {
                    "items": {
                        "$ref": "Result"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "customsearch#search",
                    "type": "string"
                },
                "promotions": {
                    "items": {
                        "$ref": "Promotion"
                    },
                    "type": "array"
                },
                "queries": {
                    "additionalProperties": {
                        "items": {
                            "$ref": "Query"
                        },
                        "type": "array"
                    },
                    "type": "object"
                },
                "searchInformation": {
                    "properties": {
                        "formattedSearchTime": {
                            "type": "string"
                        },
                        "formattedTotalResults": {
                            "type": "string"
                        },
                        "searchTime": {
                            "format": "double",
                            "type": "number"
                        },
                        "totalResults": {
                            "format": "int64",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "spelling": {
                    "properties": {
                        "correctedQuery": {
                            "type": "string"
                        },
                        "htmlCorrectedQuery": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "url": {
                    "properties": {
                        "template": {
                            "default": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json",
                            "type": "string"
                        },
                        "type": {
                            "default": "application/json",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "customsearch/",
    "title": "CustomSearch API",
    "version": "v1"
}