{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/compute": {},
                "https://www.googleapis.com/auth/compute.readonly": {},
                "https://www.googleapis.com/auth/userinfo.email": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://dataflow.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/dataflow",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "dataflow:v1b3",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
    "name": "dataflow",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "deleteSnapshots": {
                    "flatPath": "v1b3/projects/{projectId}/snapshots",
                    "httpMethod": "DELETE",
                    "id": "dataflow.projects.deleteSnapshots",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "location": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "snapshotId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1b3/projects/{projectId}/snapshots",
                    "response": {
                        "$ref": "DeleteSnapshotResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "workerMessages": {
                    "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
                    "httpMethod": "POST",
                    "id": "dataflow.projects.workerMessages",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1b3/projects/{projectId}/WorkerMessages",
                    "request": {
                        "$ref": "SendWorkerMessagesRequest"
                    },
                    "response": {
                        "$ref": "SendWorkerMessagesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            },
            "resources": {
                "catalogTemplates": {
                    "methods": {
                        "commit": {
                            "flatPath": "v1b3/projects/{projectsId}/catalogTemplates/{catalogTemplatesId}:commit",
                            "httpMethod": "POST",
                            "id": "dataflow.projects.catalogTemplates.commit",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/catalogTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/{+name}:commit",
                            "request": {
                                "$ref": "CommitTemplateVersionRequest"
                            },
                            "response": {
                                "$ref": "TemplateVersion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1b3/projects/{projectsId}/catalogTemplates/{catalogTemplatesId}",
                            "httpMethod": "DELETE",
                            "id": "dataflow.projects.catalogTemplates.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/catalogTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "get": {
                            "flatPath": "v1b3/projects/{projectsId}/catalogTemplates/{catalogTemplatesId}",
                            "httpMethod": "GET",
                            "id": "dataflow.projects.catalogTemplates.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/catalogTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/{+name}",
                            "response": {
                                "$ref": "TemplateVersion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "label": {
                            "flatPath": "v1b3/projects/{projectsId}/catalogTemplates/{catalogTemplatesId}:label",
                            "httpMethod": "POST",
                            "id": "dataflow.projects.catalogTemplates.label",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/catalogTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/{+name}:label",
                            "request": {
                                "$ref": "ModifyTemplateVersionLabelRequest"
                            },
                            "response": {
                                "$ref": "ModifyTemplateVersionLabelResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "tag": {
                            "flatPath": "v1b3/projects/{projectsId}/catalogTemplates/{catalogTemplatesId}:tag",
                            "httpMethod": "POST",
                            "id": "dataflow.projects.catalogTemplates.tag",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/catalogTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/{+name}:tag",
                            "request": {
                                "$ref": "ModifyTemplateVersionTagRequest"
                            },
                            "response": {
                                "$ref": "ModifyTemplateVersionTagResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        }
                    },
                    "resources": {
                        "templateVersions": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1b3/projects/{projectsId}/catalogTemplates/{catalogTemplatesId}/templateVersions",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.catalogTemplates.templateVersions.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/catalogTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/{+parent}/templateVersions",
                                    "request": {
                                        "$ref": "CreateTemplateVersionRequest"
                                    },
                                    "response": {
                                        "$ref": "TemplateVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        }
                    }
                },
                "jobs": {
                    "methods": {
                        "aggregated": {
                            "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
                            "httpMethod": "GET",
                            "id": "dataflow.projects.jobs.aggregated",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "filter": {
                                    "enum": [
                                        "UNKNOWN",
                                        "ALL",
                                        "TERMINATED",
                                        "ACTIVE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "location": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "JOB_VIEW_UNKNOWN",
                                        "JOB_VIEW_SUMMARY",
                                        "JOB_VIEW_ALL",
                                        "JOB_VIEW_DESCRIPTION"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs:aggregated",
                            "response": {
                                "$ref": "ListJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute",
                                "https://www.googleapis.com/auth/compute.readonly",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "create": {
                            "flatPath": "v1b3/projects/{projectId}/jobs",
                            "httpMethod": "POST",
                            "id": "dataflow.projects.jobs.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "location": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "replaceJobId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "JOB_VIEW_UNKNOWN",
                                        "JOB_VIEW_SUMMARY",
                                        "JOB_VIEW_ALL",
                                        "JOB_VIEW_DESCRIPTION"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs",
                            "request": {
                                "$ref": "Job"
                            },
                            "response": {
                                "$ref": "Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute",
                                "https://www.googleapis.com/auth/compute.readonly",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "get": {
                            "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
                            "httpMethod": "GET",
                            "id": "dataflow.projects.jobs.get",
                            "parameterOrder": [
                                "projectId",
                                "jobId"
                            ],
                            "parameters": {
                                "jobId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "location": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "JOB_VIEW_UNKNOWN",
                                        "JOB_VIEW_SUMMARY",
                                        "JOB_VIEW_ALL",
                                        "JOB_VIEW_DESCRIPTION"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs/{jobId}",
                            "response": {
                                "$ref": "Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute",
                                "https://www.googleapis.com/auth/compute.readonly",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "getMetrics": {
                            "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
                            "httpMethod": "GET",
                            "id": "dataflow.projects.jobs.getMetrics",
                            "parameterOrder": [
                                "projectId",
                                "jobId"
                            ],
                            "parameters": {
                                "jobId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "location": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "startTime": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
                            "response": {
                                "$ref": "JobMetrics"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute",
                                "https://www.googleapis.com/auth/compute.readonly",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "list": {
                            "flatPath": "v1b3/projects/{projectId}/jobs",
                            "httpMethod": "GET",
                            "id": "dataflow.projects.jobs.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "filter": {
                                    "enum": [
                                        "UNKNOWN",
                                        "ALL",
                                        "TERMINATED",
                                        "ACTIVE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "location": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "JOB_VIEW_UNKNOWN",
                                        "JOB_VIEW_SUMMARY",
                                        "JOB_VIEW_ALL",
                                        "JOB_VIEW_DESCRIPTION"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs",
                            "response": {
                                "$ref": "ListJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute",
                                "https://www.googleapis.com/auth/compute.readonly",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "snapshot": {
                            "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
                            "httpMethod": "POST",
                            "id": "dataflow.projects.jobs.snapshot",
                            "parameterOrder": [
                                "projectId",
                                "jobId"
                            ],
                            "parameters": {
                                "jobId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
                            "request": {
                                "$ref": "SnapshotJobRequest"
                            },
                            "response": {
                                "$ref": "Snapshot"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute",
                                "https://www.googleapis.com/auth/compute.readonly",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "update": {
                            "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
                            "httpMethod": "PUT",
                            "id": "dataflow.projects.jobs.update",
                            "parameterOrder": [
                                "projectId",
                                "jobId"
                            ],
                            "parameters": {
                                "jobId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "location": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs/{jobId}",
                            "request": {
                                "$ref": "Job"
                            },
                            "response": {
                                "$ref": "Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute",
                                "https://www.googleapis.com/auth/compute.readonly",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        }
                    },
                    "resources": {
                        "debug": {
                            "methods": {
                                "getConfig": {
                                    "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.jobs.debug.getConfig",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                                    "request": {
                                        "$ref": "GetDebugConfigRequest"
                                    },
                                    "response": {
                                        "$ref": "GetDebugConfigResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "sendCapture": {
                                    "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.jobs.debug.sendCapture",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                                    "request": {
                                        "$ref": "SendDebugCaptureRequest"
                                    },
                                    "response": {
                                        "$ref": "SendDebugCaptureResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        },
                        "messages": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                                    "httpMethod": "GET",
                                    "id": "dataflow.projects.jobs.messages.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "endTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "minimumImportance": {
                                            "enum": [
                                                "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                                                "JOB_MESSAGE_DEBUG",
                                                "JOB_MESSAGE_DETAILED",
                                                "JOB_MESSAGE_BASIC",
                                                "JOB_MESSAGE_WARNING",
                                                "JOB_MESSAGE_ERROR"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                                    "response": {
                                        "$ref": "ListJobMessagesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        },
                        "workItems": {
                            "methods": {
                                "lease": {
                                    "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.jobs.workItems.lease",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                                    "request": {
                                        "$ref": "LeaseWorkItemRequest"
                                    },
                                    "response": {
                                        "$ref": "LeaseWorkItemResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "reportStatus": {
                                    "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.jobs.workItems.reportStatus",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                                    "request": {
                                        "$ref": "ReportWorkItemStatusRequest"
                                    },
                                    "response": {
                                        "$ref": "ReportWorkItemStatusResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        }
                    }
                },
                "locations": {
                    "methods": {
                        "workerMessages": {
                            "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
                            "httpMethod": "POST",
                            "id": "dataflow.projects.locations.workerMessages",
                            "parameterOrder": [
                                "projectId",
                                "location"
                            ],
                            "parameters": {
                                "location": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
                            "request": {
                                "$ref": "SendWorkerMessagesRequest"
                            },
                            "response": {
                                "$ref": "SendWorkerMessagesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute",
                                "https://www.googleapis.com/auth/compute.readonly",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        }
                    },
                    "resources": {
                        "flexTemplates": {
                            "methods": {
                                "launch": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.locations.flexTemplates.launch",
                                    "parameterOrder": [
                                        "projectId",
                                        "location"
                                    ],
                                    "parameters": {
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                                    "request": {
                                        "$ref": "LaunchFlexTemplateRequest"
                                    },
                                    "response": {
                                        "$ref": "LaunchFlexTemplateResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        },
                        "jobs": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.locations.jobs.create",
                                    "parameterOrder": [
                                        "projectId",
                                        "location"
                                    ],
                                    "parameters": {
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "replaceJobId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "JOB_VIEW_UNKNOWN",
                                                "JOB_VIEW_SUMMARY",
                                                "JOB_VIEW_ALL",
                                                "JOB_VIEW_DESCRIPTION"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                                    "request": {
                                        "$ref": "Job"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                                    "httpMethod": "GET",
                                    "id": "dataflow.projects.locations.jobs.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "location",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "JOB_VIEW_UNKNOWN",
                                                "JOB_VIEW_SUMMARY",
                                                "JOB_VIEW_ALL",
                                                "JOB_VIEW_DESCRIPTION"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "getExecutionDetails": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                                    "httpMethod": "GET",
                                    "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                                    "parameterOrder": [
                                        "projectId",
                                        "location",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                                    "response": {
                                        "$ref": "JobExecutionDetails"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "getMetrics": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                                    "httpMethod": "GET",
                                    "id": "dataflow.projects.locations.jobs.getMetrics",
                                    "parameterOrder": [
                                        "projectId",
                                        "location",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                                    "response": {
                                        "$ref": "JobMetrics"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                                    "httpMethod": "GET",
                                    "id": "dataflow.projects.locations.jobs.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "location"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "enum": [
                                                "UNKNOWN",
                                                "ALL",
                                                "TERMINATED",
                                                "ACTIVE"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "JOB_VIEW_UNKNOWN",
                                                "JOB_VIEW_SUMMARY",
                                                "JOB_VIEW_ALL",
                                                "JOB_VIEW_DESCRIPTION"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                                    "response": {
                                        "$ref": "ListJobsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "snapshot": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.locations.jobs.snapshot",
                                    "parameterOrder": [
                                        "projectId",
                                        "location",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                                    "request": {
                                        "$ref": "SnapshotJobRequest"
                                    },
                                    "response": {
                                        "$ref": "Snapshot"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                                    "httpMethod": "PUT",
                                    "id": "dataflow.projects.locations.jobs.update",
                                    "parameterOrder": [
                                        "projectId",
                                        "location",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                                    "request": {
                                        "$ref": "Job"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            },
                            "resources": {
                                "debug": {
                                    "methods": {
                                        "getConfig": {
                                            "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                                            "httpMethod": "POST",
                                            "id": "dataflow.projects.locations.jobs.debug.getConfig",
                                            "parameterOrder": [
                                                "projectId",
                                                "location",
                                                "jobId"
                                            ],
                                            "parameters": {
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                                            "request": {
                                                "$ref": "GetDebugConfigRequest"
                                            },
                                            "response": {
                                                "$ref": "GetDebugConfigResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/compute",
                                                "https://www.googleapis.com/auth/compute.readonly",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        },
                                        "sendCapture": {
                                            "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                                            "httpMethod": "POST",
                                            "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                                            "parameterOrder": [
                                                "projectId",
                                                "location",
                                                "jobId"
                                            ],
                                            "parameters": {
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                                            "request": {
                                                "$ref": "SendDebugCaptureRequest"
                                            },
                                            "response": {
                                                "$ref": "SendDebugCaptureResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/compute",
                                                "https://www.googleapis.com/auth/compute.readonly",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        }
                                    }
                                },
                                "messages": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                                            "httpMethod": "GET",
                                            "id": "dataflow.projects.locations.jobs.messages.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "location",
                                                "jobId"
                                            ],
                                            "parameters": {
                                                "endTime": {
                                                    "format": "google-datetime",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "minimumImportance": {
                                                    "enum": [
                                                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                                                        "JOB_MESSAGE_DEBUG",
                                                        "JOB_MESSAGE_DETAILED",
                                                        "JOB_MESSAGE_BASIC",
                                                        "JOB_MESSAGE_WARNING",
                                                        "JOB_MESSAGE_ERROR"
                                                    ],
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "startTime": {
                                                    "format": "google-datetime",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                                            "response": {
                                                "$ref": "ListJobMessagesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/compute",
                                                "https://www.googleapis.com/auth/compute.readonly",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        }
                                    }
                                },
                                "snapshots": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                                            "httpMethod": "GET",
                                            "id": "dataflow.projects.locations.jobs.snapshots.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "location",
                                                "jobId"
                                            ],
                                            "parameters": {
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                                            "response": {
                                                "$ref": "ListSnapshotsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/compute",
                                                "https://www.googleapis.com/auth/compute.readonly",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        }
                                    }
                                },
                                "stages": {
                                    "methods": {
                                        "getExecutionDetails": {
                                            "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                                            "httpMethod": "GET",
                                            "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                                            "parameterOrder": [
                                                "projectId",
                                                "location",
                                                "jobId",
                                                "stageId"
                                            ],
                                            "parameters": {
                                                "endTime": {
                                                    "format": "google-datetime",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "stageId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "startTime": {
                                                    "format": "google-datetime",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                                            "response": {
                                                "$ref": "StageExecutionDetails"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/compute",
                                                "https://www.googleapis.com/auth/compute.readonly",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        }
                                    }
                                },
                                "workItems": {
                                    "methods": {
                                        "lease": {
                                            "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                                            "httpMethod": "POST",
                                            "id": "dataflow.projects.locations.jobs.workItems.lease",
                                            "parameterOrder": [
                                                "projectId",
                                                "location",
                                                "jobId"
                                            ],
                                            "parameters": {
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                                            "request": {
                                                "$ref": "LeaseWorkItemRequest"
                                            },
                                            "response": {
                                                "$ref": "LeaseWorkItemResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/compute",
                                                "https://www.googleapis.com/auth/compute.readonly",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        },
                                        "reportStatus": {
                                            "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                                            "httpMethod": "POST",
                                            "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                                            "parameterOrder": [
                                                "projectId",
                                                "location",
                                                "jobId"
                                            ],
                                            "parameters": {
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                                            "request": {
                                                "$ref": "ReportWorkItemStatusRequest"
                                            },
                                            "response": {
                                                "$ref": "ReportWorkItemStatusResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/compute",
                                                "https://www.googleapis.com/auth/compute.readonly",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "snapshots": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                                    "httpMethod": "DELETE",
                                    "id": "dataflow.projects.locations.snapshots.delete",
                                    "parameterOrder": [
                                        "projectId",
                                        "location",
                                        "snapshotId"
                                    ],
                                    "parameters": {
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "snapshotId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                                    "response": {
                                        "$ref": "DeleteSnapshotResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                                    "httpMethod": "GET",
                                    "id": "dataflow.projects.locations.snapshots.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "location",
                                        "snapshotId"
                                    ],
                                    "parameters": {
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "snapshotId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                                    "response": {
                                        "$ref": "Snapshot"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                                    "httpMethod": "GET",
                                    "id": "dataflow.projects.locations.snapshots.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "location"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                                    "response": {
                                        "$ref": "ListSnapshotsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        },
                        "sql": {
                            "methods": {
                                "validate": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/sql:validate",
                                    "httpMethod": "GET",
                                    "id": "dataflow.projects.locations.sql.validate",
                                    "parameterOrder": [
                                        "projectId",
                                        "location"
                                    ],
                                    "parameters": {
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "query": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/sql:validate",
                                    "response": {
                                        "$ref": "ValidateResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        },
                        "templates": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.locations.templates.create",
                                    "parameterOrder": [
                                        "projectId",
                                        "location"
                                    ],
                                    "parameters": {
                                        "location": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                                    "request": {
                                        "$ref": "CreateJobFromTemplateRequest"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/compute",
                                        "https://www.googleapis.com/auth/compute.readonly",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "get": {
[...]
