{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/datastore": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://datastore.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/datastore/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "datastore:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://datastore.mtls.googleapis.com/",
    "name": "datastore",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "allocateIds": {
                    "flatPath": "v1/projects/{projectId}:allocateIds",
                    "httpMethod": "POST",
                    "id": "datastore.projects.allocateIds",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}:allocateIds",
                    "request": {
                        "$ref": "AllocateIdsRequest"
                    },
                    "response": {
                        "$ref": "AllocateIdsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ]
                },
                "beginTransaction": {
                    "flatPath": "v1/projects/{projectId}:beginTransaction",
                    "httpMethod": "POST",
                    "id": "datastore.projects.beginTransaction",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}:beginTransaction",
                    "request": {
                        "$ref": "BeginTransactionRequest"
                    },
                    "response": {
                        "$ref": "BeginTransactionResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ]
                },
                "commit": {
                    "flatPath": "v1/projects/{projectId}:commit",
                    "httpMethod": "POST",
                    "id": "datastore.projects.commit",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}:commit",
                    "request": {
                        "$ref": "CommitRequest"
                    },
                    "response": {
                        "$ref": "CommitResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ]
                },
                "export": {
                    "flatPath": "v1/projects/{projectId}:export",
                    "httpMethod": "POST",
                    "id": "datastore.projects.export",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}:export",
                    "request": {
                        "$ref": "GoogleDatastoreAdminV1ExportEntitiesRequest"
                    },
                    "response": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ]
                },
                "import": {
                    "flatPath": "v1/projects/{projectId}:import",
                    "httpMethod": "POST",
                    "id": "datastore.projects.import",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}:import",
                    "request": {
                        "$ref": "GoogleDatastoreAdminV1ImportEntitiesRequest"
                    },
                    "response": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ]
                },
                "lookup": {
                    "flatPath": "v1/projects/{projectId}:lookup",
                    "httpMethod": "POST",
                    "id": "datastore.projects.lookup",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}:lookup",
                    "request": {
                        "$ref": "LookupRequest"
                    },
                    "response": {
                        "$ref": "LookupResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ]
                },
                "reserveIds": {
                    "flatPath": "v1/projects/{projectId}:reserveIds",
                    "httpMethod": "POST",
                    "id": "datastore.projects.reserveIds",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}:reserveIds",
                    "request": {
                        "$ref": "ReserveIdsRequest"
                    },
                    "response": {
                        "$ref": "ReserveIdsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ]
                },
                "rollback": {
                    "flatPath": "v1/projects/{projectId}:rollback",
                    "httpMethod": "POST",
                    "id": "datastore.projects.rollback",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}:rollback",
                    "request": {
                        "$ref": "RollbackRequest"
                    },
                    "response": {
                        "$ref": "RollbackResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ]
                },
                "runQuery": {
                    "flatPath": "v1/projects/{projectId}:runQuery",
                    "httpMethod": "POST",
                    "id": "datastore.projects.runQuery",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}:runQuery",
                    "request": {
                        "$ref": "RunQueryRequest"
                    },
                    "response": {
                        "$ref": "RunQueryResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                    ]
                }
            },
            "resources": {
                "indexes": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectId}/indexes",
                            "httpMethod": "POST",
                            "id": "datastore.projects.indexes.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/indexes",
                            "request": {
                                "$ref": "GoogleDatastoreAdminV1Index"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectId}/indexes/{indexId}",
                            "httpMethod": "DELETE",
                            "id": "datastore.projects.indexes.delete",
                            "parameterOrder": [
                                "projectId",
                                "indexId"
                            ],
                            "parameters": {
                                "indexId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/indexes/{indexId}",
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectId}/indexes/{indexId}",
                            "httpMethod": "GET",
                            "id": "datastore.projects.indexes.get",
                            "parameterOrder": [
                                "projectId",
                                "indexId"
                            ],
                            "parameters": {
                                "indexId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/indexes/{indexId}",
                            "response": {
                                "$ref": "GoogleDatastoreAdminV1Index"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectId}/indexes",
                            "httpMethod": "GET",
                            "id": "datastore.projects.indexes.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/indexes",
                            "response": {
                                "$ref": "GoogleDatastoreAdminV1ListIndexesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
                            "httpMethod": "POST",
                            "id": "datastore.projects.operations.cancel",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:cancel",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
                            "httpMethod": "DELETE",
                            "id": "datastore.projects.operations.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "datastore.projects.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/operations",
                            "httpMethod": "GET",
                            "id": "datastore.projects.operations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/operations",
                            "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://datastore.googleapis.com/",
    "schemas": {
        "AllocateIdsRequest": {
            "id": "AllocateIdsRequest",
            "properties": {
                "keys": {
                    "items": {
                        "$ref": "Key"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AllocateIdsResponse": {
            "id": "AllocateIdsResponse",
            "properties": {
                "keys": {
                    "items": {
                        "$ref": "Key"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ArrayValue": {
            "id": "ArrayValue",
            "properties": {
                "values": {
                    "items": {
                        "$ref": "Value"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BeginTransactionRequest": {
            "id": "BeginTransactionRequest",
            "properties": {
                "transactionOptions": {
                    "$ref": "TransactionOptions"
                }
            },
            "type": "object"
        },
        "BeginTransactionResponse": {
            "id": "BeginTransactionResponse",
            "properties": {
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CommitRequest": {
            "id": "CommitRequest",
            "properties": {
                "mode": {
                    "enum": [
                        "MODE_UNSPECIFIED",
                        "TRANSACTIONAL",
                        "NON_TRANSACTIONAL"
                    ],
                    "type": "string"
                },
                "mutations": {
                    "items": {
                        "$ref": "Mutation"
                    },
                    "type": "array"
                },
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CommitResponse": {
            "id": "CommitResponse",
            "properties": {
                "indexUpdates": {
                    "format": "int32",
                    "type": "integer"
                },
                "mutationResults": {
                    "items": {
                        "$ref": "MutationResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CompositeFilter": {
            "id": "CompositeFilter",
            "properties": {
                "filters": {
                    "items": {
                        "$ref": "Filter"
                    },
                    "type": "array"
                },
                "op": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "AND"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Entity": {
            "id": "Entity",
            "properties": {
                "key": {
                    "$ref": "Key"
                },
                "properties": {
                    "additionalProperties": {
                        "$ref": "Value"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "EntityResult": {
            "id": "EntityResult",
            "properties": {
                "cursor": {
                    "format": "byte",
                    "type": "string"
                },
                "entity": {
                    "$ref": "Entity"
                },
                "version": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Filter": {
            "id": "Filter",
            "properties": {
                "compositeFilter": {
                    "$ref": "CompositeFilter"
                },
                "propertyFilter": {
                    "$ref": "PropertyFilter"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1CommonMetadata": {
            "id": "GoogleDatastoreAdminV1CommonMetadata",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "operationType": {
                    "enum": [
                        "OPERATION_TYPE_UNSPECIFIED",
                        "EXPORT_ENTITIES",
                        "IMPORT_ENTITIES",
                        "CREATE_INDEX",
                        "DELETE_INDEX"
                    ],
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "INITIALIZING",
                        "PROCESSING",
                        "CANCELLING",
                        "FINALIZING",
                        "SUCCESSFUL",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1EntityFilter": {
            "id": "GoogleDatastoreAdminV1EntityFilter",
            "properties": {
                "kinds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "namespaceIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
            "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata",
            "properties": {
                "common": {
                    "$ref": "GoogleDatastoreAdminV1CommonMetadata"
                },
                "entityFilter": {
                    "$ref": "GoogleDatastoreAdminV1EntityFilter"
                },
                "outputUrlPrefix": {
                    "type": "string"
                },
                "progressBytes": {
                    "$ref": "GoogleDatastoreAdminV1Progress"
                },
                "progressEntities": {
                    "$ref": "GoogleDatastoreAdminV1Progress"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1ExportEntitiesRequest": {
            "id": "GoogleDatastoreAdminV1ExportEntitiesRequest",
            "properties": {
                "entityFilter": {
                    "$ref": "GoogleDatastoreAdminV1EntityFilter"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "outputUrlPrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1ExportEntitiesResponse": {
            "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
            "properties": {
                "outputUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1ImportEntitiesMetadata": {
            "id": "GoogleDatastoreAdminV1ImportEntitiesMetadata",
            "properties": {
                "common": {
                    "$ref": "GoogleDatastoreAdminV1CommonMetadata"
                },
                "entityFilter": {
                    "$ref": "GoogleDatastoreAdminV1EntityFilter"
                },
                "inputUrl": {
                    "type": "string"
                },
                "progressBytes": {
                    "$ref": "GoogleDatastoreAdminV1Progress"
                },
                "progressEntities": {
                    "$ref": "GoogleDatastoreAdminV1Progress"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1ImportEntitiesRequest": {
            "id": "GoogleDatastoreAdminV1ImportEntitiesRequest",
            "properties": {
                "entityFilter": {
                    "$ref": "GoogleDatastoreAdminV1EntityFilter"
                },
                "inputUrl": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1Index": {
            "id": "GoogleDatastoreAdminV1Index",
            "properties": {
                "ancestor": {
                    "enum": [
                        "ANCESTOR_MODE_UNSPECIFIED",
                        "NONE",
                        "ALL_ANCESTORS"
                    ],
                    "type": "string"
                },
                "indexId": {
                    "readOnly": true,
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "projectId": {
                    "readOnly": true,
                    "type": "string"
                },
                "properties": {
                    "items": {
                        "$ref": "GoogleDatastoreAdminV1IndexedProperty"
                    },
                    "type": "array"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY",
                        "DELETING",
                        "ERROR"
                    ],
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1IndexOperationMetadata": {
            "id": "GoogleDatastoreAdminV1IndexOperationMetadata",
            "properties": {
                "common": {
                    "$ref": "GoogleDatastoreAdminV1CommonMetadata"
                },
                "indexId": {
                    "type": "string"
                },
                "progressEntities": {
                    "$ref": "GoogleDatastoreAdminV1Progress"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1IndexedProperty": {
            "id": "GoogleDatastoreAdminV1IndexedProperty",
            "properties": {
                "direction": {
                    "enum": [
                        "DIRECTION_UNSPECIFIED",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1ListIndexesResponse": {
            "id": "GoogleDatastoreAdminV1ListIndexesResponse",
            "properties": {
                "indexes": {
                    "items": {
                        "$ref": "GoogleDatastoreAdminV1Index"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1Progress": {
            "id": "GoogleDatastoreAdminV1Progress",
            "properties": {
                "workCompleted": {
                    "format": "int64",
                    "type": "string"
                },
                "workEstimated": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1beta1CommonMetadata": {
            "id": "GoogleDatastoreAdminV1beta1CommonMetadata",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "operationType": {
                    "enum": [
                        "OPERATION_TYPE_UNSPECIFIED",
                        "EXPORT_ENTITIES",
                        "IMPORT_ENTITIES"
                    ],
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "INITIALIZING",
                        "PROCESSING",
                        "CANCELLING",
                        "FINALIZING",
                        "SUCCESSFUL",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1beta1EntityFilter": {
            "id": "GoogleDatastoreAdminV1beta1EntityFilter",
            "properties": {
                "kinds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "namespaceIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
            "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata",
            "properties": {
                "common": {
                    "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata"
                },
                "entityFilter": {
                    "$ref": "GoogleDatastoreAdminV1beta1EntityFilter"
                },
                "outputUrlPrefix": {
                    "type": "string"
                },
                "progressBytes": {
                    "$ref": "GoogleDatastoreAdminV1beta1Progress"
                },
                "progressEntities": {
                    "$ref": "GoogleDatastoreAdminV1beta1Progress"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
            "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse",
            "properties": {
                "outputUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
            "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata",
            "properties": {
                "common": {
                    "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata"
                },
                "entityFilter": {
                    "$ref": "GoogleDatastoreAdminV1beta1EntityFilter"
                },
                "inputUrl": {
                    "type": "string"
                },
                "progressBytes": {
                    "$ref": "GoogleDatastoreAdminV1beta1Progress"
                },
                "progressEntities": {
                    "$ref": "GoogleDatastoreAdminV1beta1Progress"
                }
            },
            "type": "object"
        },
        "GoogleDatastoreAdminV1beta1Progress": {
            "id": "GoogleDatastoreAdminV1beta1Progress",
            "properties": {
                "workCompleted": {
                    "format": "int64",
                    "type": "string"
                },
                "workEstimated": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleLongrunningListOperationsResponse": {
            "id": "GoogleLongrunningListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleLongrunningOperation": {
            "id": "GoogleLongrunningOperation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GqlQuery": {
            "id": "GqlQuery",
            "properties": {
                "allowLiterals": {
                    "type": "boolean"
                },
                "namedBindings": {
                    "additionalProperties": {
                        "$ref": "GqlQueryParameter"
                    },
                    "type": "object"
                },
                "positionalBindings": {
                    "items": {
                        "$ref": "GqlQueryParameter"
                    },
                    "type": "array"
                },
                "queryString": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GqlQueryParameter": {
            "id": "GqlQueryParameter",
            "properties": {
                "cursor": {
                    "format": "byte",
                    "type": "string"
                },
                "value": {
                    "$ref": "Value"
                }
            },
            "type": "object"
        },
        "Key": {
            "id": "Key",
            "properties": {
                "partitionId": {
                    "$ref": "PartitionId"
                },
                "path": {
                    "items": {
                        "$ref": "PathElement"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "KindExpression": {
            "id": "KindExpression",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LatLng": {
            "id": "LatLng",
            "properties": {
                "latitude": {
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "LookupRequest": {
            "id": "LookupRequest",
            "properties": {
                "keys": {
                    "items": {
                        "$ref": "Key"
                    },
                    "type": "array"
                },
                "readOptions": {
                    "$ref": "ReadOptions"
                }
            },
            "type": "object"
        },
        "LookupResponse": {
            "id": "LookupResponse",
            "properties": {
                "deferred": {
                    "items": {
                        "$ref": "Key"
                    },
                    "type": "array"
                },
                "found": {
                    "items": {
                        "$ref": "EntityResult"
                    },
                    "type": "array"
                },
                "missing": {
                    "items": {
                        "$ref": "EntityResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Mutation": {
            "id": "Mutation",
            "properties": {
                "baseVersion": {
                    "format": "int64",
                    "type": "string"
                },
                "delete": {
                    "$ref": "Key"
                },
                "insert": {
                    "$ref": "Entity"
                },
                "update": {
                    "$ref": "Entity"
                },
                "upsert": {
                    "$ref": "Entity"
                }
            },
            "type": "object"
        },
        "MutationResult": {
            "id": "MutationResult",
            "properties": {
                "conflictDetected": {
                    "type": "boolean"
                },
                "key": {
                    "$ref": "Key"
                },
                "version": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PartitionId": {
            "id": "PartitionId",
            "properties": {
                "namespaceId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PathElement": {
            "id": "PathElement",
            "properties": {
                "id": {
                    "format": "int64",
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Projection": {
            "id": "Projection",
            "properties": {
                "property": {
                    "$ref": "PropertyReference"
                }
            },
            "type": "object"
        },
        "PropertyFilter": {
            "id": "PropertyFilter",
            "properties": {
                "op": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "LESS_THAN",
                        "LESS_THAN_OR_EQUAL",
                        "GREATER_THAN",
                        "GREATER_THAN_OR_EQUAL",
                        "EQUAL",
                        "HAS_ANCESTOR"
                    ],
                    "type": "string"
                },
                "property": {
                    "$ref": "PropertyReference"
                },
                "value": {
                    "$ref": "Value"
                }
            },
            "type": "object"
        },
        "PropertyOrder": {
            "id": "PropertyOrder",
            "properties": {
                "direction": {
                    "enum": [
                        "DIRECTION_UNSPECIFIED",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "type": "string"
                },
                "property": {
                    "$ref": "PropertyReference"
                }
            },
            "type": "object"
        },
        "PropertyReference": {
            "id": "PropertyReference",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Query": {
            "id": "Query",
            "properties": {
                "distinctOn": {
                    "items": {
                        "$ref": "PropertyReference"
                    },
                    "type": "array"
                },
                "endCursor": {
                    "format": "byte",
                    "type": "string"
                },
                "filter": {
                    "$ref": "Filter"
                },
                "kind": {
                    "items": {
                        "$ref": "KindExpression"
                    },
                    "type": "array"
                },
                "limit": {
                    "format": "int32",
                    "type": "integer"
                },
                "offset": {
                    "format": "int32",
                    "type": "integer"
                },
                "order": {
                    "items": {
                        "$ref": "PropertyOrder"
                    },
                    "type": "array"
                },
                "projection": {
                    "items": {
                        "$ref": "Projection"
                    },
                    "type": "array"
                },
                "startCursor": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "QueryResultBatch": {
            "id": "QueryResultBatch",
            "properties": {
                "endCursor": {
                    "format": "byte",
                    "type": "string"
                },
                "entityResultType": {
                    "enum": [
                        "RESULT_TYPE_UNSPECIFIED",
                        "FULL",
                        "PROJECTION",
                        "KEY_ONLY"
                    ],
                    "type": "string"
                },
                "entityResults": {
                    "items": {
                        "$ref": "EntityResult"
                    },
                    "type": "array"
                },
                "moreResults": {
                    "enum": [
                        "MORE_RESULTS_TYPE_UNSPECIFIED",
                        "NOT_FINISHED",
                        "MORE_RESULTS_AFTER_LIMIT",
                        "MORE_RESULTS_AFTER_CURSOR",
                        "NO_MORE_RESULTS"
                    ],
                    "type": "string"
                },
                "skippedCursor": {
                    "format": "byte",
                    "type": "string"
                },
                "skippedResults": {
                    "format": "int32",
                    "type": "integer"
                },
                "snapshotVersion": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReadOnly": {
            "id": "ReadOnly",
            "properties": {},
            "type": "object"
        },
        "ReadOptions": {
            "id": "ReadOptions",
            "properties": {
                "readConsistency": {
                    "enum": [
                        "READ_CONSISTENCY_UNSPECIFIED",
                        "STRONG",
                        "EVENTUAL"
                    ],
                    "type": "string"
                },
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReadWrite": {
            "id": "ReadWrite",
            "properties": {
                "previousTransaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReserveIdsRequest": {
            "id": "ReserveIdsRequest",
            "properties": {
                "databaseId": {
                    "type": "string"
                },
                "keys": {
                    "items": {
                        "$ref": "Key"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ReserveIdsResponse": {
            "id": "ReserveIdsResponse",
            "properties": {},
            "type": "object"
        },
        "RollbackRequest": {
            "id": "RollbackRequest",
            "properties": {
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RollbackResponse": {
            "id": "RollbackResponse",
            "properties": {},
            "type": "object"
        },
        "RunQueryRequest": {
            "id": "RunQueryRequest",
            "properties": {
                "gqlQuery": {
                    "$ref": "GqlQuery"
                },
                "partitionId": {
                    "$ref": "PartitionId"
                },
                "query": {
                    "$ref": "Query"
                },
                "readOptions": {
                    "$ref": "ReadOptions"
                }
            },
            "type": "object"
        },
        "RunQueryResponse": {
            "id": "RunQueryResponse",
            "properties": {
                "batch": {
                    "$ref": "QueryResultBatch"
                },
                "query": {
                    "$ref": "Query"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TransactionOptions": {
            "id": "TransactionOptions",
            "properties": {
                "readOnly": {
                    "$ref": "ReadOnly"
                },
                "readWrite": {
                    "$ref": "ReadWrite"
                }
            },
            "type": "object"
        },
        "Value": {
            "id": "Value",
            "properties": {
                "arrayValue": {
                    "$ref": "ArrayValue"
                },
                "blobValue": {
                    "format": "byte",
                    "type": "string"
                },
                "booleanValue": {
                    "type": "boolean"
                },
                "doubleValue": {
                    "format": "double",
                    "type": "number"
                },
                "entityValue": {
                    "$ref": "Entity"
                },
                "excludeFromIndexes": {
                    "type": "boolean"
                },
                "geoPointValue": {
                    "$ref": "LatLng"
                },
                "integerValue": {
                    "format": "int64",
                    "type": "string"
                },
                "keyValue": {
                    "$ref": "Key"
                },
                "meaning": {
                    "format": "int32",
                    "type": "integer"
                },
                "nullValue": {
                    "enum": [
                        "NULL_VALUE"
                    ],
                    "type": "string"
                },
                "stringValue": {
                    "type": "string"
                },
                "timestampValue": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Datastore API",
    "version": "v1",
    "version_module": true
}