{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://dataproc.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Dataproc",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/dataproc/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "dataproc:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
    "name": "dataproc",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "resources": {
                        "autoscalingPolicies": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.autoscalingPolicies.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/autoscalingPolicies",
                                    "request": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "response": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                                    "httpMethod": "DELETE",
                                    "id": "dataproc.projects.locations.autoscalingPolicies.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.locations.autoscalingPolicies.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.autoscalingPolicies.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.locations.autoscalingPolicies.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/autoscalingPolicies",
                                    "response": {
                                        "$ref": "ListAutoscalingPoliciesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.autoscalingPolicies.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.autoscalingPolicies.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                                    "httpMethod": "PUT",
                                    "id": "dataproc.projects.locations.autoscalingPolicies.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "response": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "workflowTemplates": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.workflowTemplates.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/workflowTemplates",
                                    "request": {
                                        "$ref": "WorkflowTemplate"
                                    },
                                    "response": {
                                        "$ref": "WorkflowTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}",
                                    "httpMethod": "DELETE",
                                    "id": "dataproc.projects.locations.workflowTemplates.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "version": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.locations.workflowTemplates.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "version": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "WorkflowTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.workflowTemplates.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "instantiate": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:instantiate",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.workflowTemplates.instantiate",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:instantiate",
                                    "request": {
                                        "$ref": "InstantiateWorkflowTemplateRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "instantiateInline": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates:instantiateInline",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.workflowTemplates.instantiateInline",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/workflowTemplates:instantiateInline",
                                    "request": {
                                        "$ref": "WorkflowTemplate"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.locations.workflowTemplates.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/workflowTemplates",
                                    "response": {
                                        "$ref": "ListWorkflowTemplatesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.workflowTemplates.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.locations.workflowTemplates.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}",
                                    "httpMethod": "PUT",
                                    "id": "dataproc.projects.locations.workflowTemplates.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "WorkflowTemplate"
                                    },
                                    "response": {
                                        "$ref": "WorkflowTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "regions": {
                    "resources": {
                        "autoscalingPolicies": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.autoscalingPolicies.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/autoscalingPolicies",
                                    "request": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "response": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                                    "httpMethod": "DELETE",
                                    "id": "dataproc.projects.regions.autoscalingPolicies.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.regions.autoscalingPolicies.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.autoscalingPolicies.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.regions.autoscalingPolicies.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/autoscalingPolicies",
                                    "response": {
                                        "$ref": "ListAutoscalingPoliciesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.autoscalingPolicies.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.autoscalingPolicies.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                                    "httpMethod": "PUT",
                                    "id": "dataproc.projects.regions.autoscalingPolicies.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "response": {
                                        "$ref": "AutoscalingPolicy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "clusters": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/clusters",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.clusters.create",
                                    "parameterOrder": [
                                        "projectId",
                                        "region"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/clusters",
                                    "request": {
                                        "$ref": "Cluster"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                                    "httpMethod": "DELETE",
                                    "id": "dataproc.projects.regions.clusters.delete",
                                    "parameterOrder": [
                                        "projectId",
                                        "region",
                                        "clusterName"
                                    ],
                                    "parameters": {
                                        "clusterName": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clusterUuid": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "diagnose": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:diagnose",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.clusters.diagnose",
                                    "parameterOrder": [
                                        "projectId",
                                        "region",
                                        "clusterName"
                                    ],
                                    "parameters": {
                                        "clusterName": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:diagnose",
                                    "request": {
                                        "$ref": "DiagnoseClusterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.regions.clusters.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "region",
                                        "clusterName"
                                    ],
                                    "parameters": {
                                        "clusterName": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                                    "response": {
                                        "$ref": "Cluster"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.clusters.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/clusters",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.regions.clusters.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "region"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/clusters",
                                    "response": {
                                        "$ref": "ListClustersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                                    "httpMethod": "PATCH",
                                    "id": "dataproc.projects.regions.clusters.patch",
                                    "parameterOrder": [
                                        "projectId",
                                        "region",
                                        "clusterName"
                                    ],
                                    "parameters": {
                                        "clusterName": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "gracefulDecommissionTimeout": {
                                            "format": "google-duration",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                                    "request": {
                                        "$ref": "Cluster"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.clusters.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.clusters.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "jobs": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.jobs.cancel",
                                    "parameterOrder": [
                                        "projectId",
                                        "region",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}:cancel",
                                    "request": {
                                        "$ref": "CancelJobRequest"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                                    "httpMethod": "DELETE",
                                    "id": "dataproc.projects.regions.jobs.delete",
                                    "parameterOrder": [
                                        "projectId",
                                        "region",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.regions.jobs.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "region",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/jobs/{jobsId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.jobs.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/jobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/jobs",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.regions.jobs.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "region"
                                    ],
                                    "parameters": {
                                        "clusterName": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "jobStateMatcher": {
                                            "enum": [
                                                "ALL",
                                                "ACTIVE",
                                                "NON_ACTIVE"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/jobs",
                                    "response": {
                                        "$ref": "ListJobsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                                    "httpMethod": "PATCH",
                                    "id": "dataproc.projects.regions.jobs.patch",
                                    "parameterOrder": [
                                        "projectId",
                                        "region",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/jobs/{jobId}",
                                    "request": {
                                        "$ref": "Job"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/jobs/{jobsId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.jobs.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/jobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "submit": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/jobs:submit",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.jobs.submit",
                                    "parameterOrder": [
                                        "projectId",
                                        "region"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/jobs:submit",
                                    "request": {
                                        "$ref": "SubmitJobRequest"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "submitAsOperation": {
                                    "flatPath": "v1/projects/{projectId}/regions/{region}/jobs:submitAsOperation",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.jobs.submitAsOperation",
                                    "parameterOrder": [
                                        "projectId",
                                        "region"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "region": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/regions/{region}/jobs:submitAsOperation",
                                    "request": {
                                        "$ref": "SubmitJobRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/jobs/{jobsId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.jobs.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/jobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "dataproc.projects.regions.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.regions.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.operations.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.regions.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/operations$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.operations.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.operations.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "workflowTemplates": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.workflowTemplates.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/workflowTemplates",
                                    "request": {
                                        "$ref": "WorkflowTemplate"
                                    },
                                    "response": {
                                        "$ref": "WorkflowTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}",
                                    "httpMethod": "DELETE",
                                    "id": "dataproc.projects.regions.workflowTemplates.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "version": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}",
                                    "httpMethod": "GET",
                                    "id": "dataproc.projects.regions.workflowTemplates.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "version": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "WorkflowTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/regions/{regionsId}/workflowTemplates/{workflowTemplatesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "dataproc.projects.regions.workflowTemplates.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/regions/[^/]+/workflowTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
[...]
