{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://datacatalog.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Data Catalog",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/data-catalog/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "datacatalog:v1beta1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://datacatalog.mtls.googleapis.com/",
    "name": "datacatalog",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "catalog": {
            "methods": {
                "search": {
                    "flatPath": "v1beta1/catalog:search",
                    "httpMethod": "POST",
                    "id": "datacatalog.catalog.search",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1beta1/catalog:search",
                    "request": {
                        "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogRequest"
                    },
                    "response": {
                        "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "entries": {
            "methods": {
                "lookup": {
                    "flatPath": "v1beta1/entries:lookup",
                    "httpMethod": "GET",
                    "id": "datacatalog.entries.lookup",
                    "parameterOrder": [],
                    "parameters": {
                        "linkedResource": {
                            "location": "query",
                            "type": "string"
                        },
                        "sqlResource": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/entries:lookup",
                    "response": {
                        "$ref": "GoogleCloudDatacatalogV1beta1Entry"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "projects": {
            "resources": {
                "locations": {
                    "resources": {
                        "entryGroups": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.entryGroups.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "entryGroupId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/entryGroups",
                                    "request": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}",
                                    "httpMethod": "DELETE",
                                    "id": "datacatalog.projects.locations.entryGroups.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "force": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}",
                                    "httpMethod": "GET",
                                    "id": "datacatalog.projects.locations.entryGroups.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "readMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.entryGroups.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups",
                                    "httpMethod": "GET",
                                    "id": "datacatalog.projects.locations.entryGroups.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/entryGroups",
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}",
                                    "httpMethod": "PATCH",
                                    "id": "datacatalog.projects.locations.entryGroups.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.entryGroups.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.entryGroups.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "entries": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.entryGroups.entries.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "entryId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/entries",
                                            "request": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1Entry"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1Entry"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}",
                                            "httpMethod": "DELETE",
                                            "id": "datacatalog.projects.locations.entryGroups.entries.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}",
                                            "httpMethod": "GET",
                                            "id": "datacatalog.projects.locations.entryGroups.entries.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1Entry"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "getIamPolicy": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}:getIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.entryGroups.entries.getIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+resource}:getIamPolicy",
                                            "request": {
                                                "$ref": "GetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries",
                                            "httpMethod": "GET",
                                            "id": "datacatalog.projects.locations.entryGroups.entries.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "readMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/entries",
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1ListEntriesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}",
                                            "httpMethod": "PATCH",
                                            "id": "datacatalog.projects.locations.entryGroups.entries.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1Entry"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1Entry"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "testIamPermissions": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}:testIamPermissions",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.entryGroups.entries.testIamPermissions",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+resource}:testIamPermissions",
                                            "request": {
                                                "$ref": "TestIamPermissionsRequest"
                                            },
                                            "response": {
                                                "$ref": "TestIamPermissionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "tags": {
                                            "methods": {
                                                "create": {
                                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}/tags",
                                                    "httpMethod": "POST",
                                                    "id": "datacatalog.projects.locations.entryGroups.entries.tags.create",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1beta1/{+parent}/tags",
                                                    "request": {
                                                        "$ref": "GoogleCloudDatacatalogV1beta1Tag"
                                                    },
                                                    "response": {
                                                        "$ref": "GoogleCloudDatacatalogV1beta1Tag"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "delete": {
                                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}/tags/{tagsId}",
                                                    "httpMethod": "DELETE",
                                                    "id": "datacatalog.projects.locations.entryGroups.entries.tags.delete",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+/tags/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1beta1/{+name}",
                                                    "response": {
                                                        "$ref": "Empty"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "list": {
                                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}/tags",
                                                    "httpMethod": "GET",
                                                    "id": "datacatalog.projects.locations.entryGroups.entries.tags.list",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1beta1/{+parent}/tags",
                                                    "response": {
                                                        "$ref": "GoogleCloudDatacatalogV1beta1ListTagsResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "patch": {
                                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/entries/{entriesId}/tags/{tagsId}",
                                                    "httpMethod": "PATCH",
                                                    "id": "datacatalog.projects.locations.entryGroups.entries.tags.patch",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/entries/[^/]+/tags/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "updateMask": {
                                                            "format": "google-fieldmask",
                                                            "location": "query",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1beta1/{+name}",
                                                    "request": {
                                                        "$ref": "GoogleCloudDatacatalogV1beta1Tag"
                                                    },
                                                    "response": {
                                                        "$ref": "GoogleCloudDatacatalogV1beta1Tag"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "tags": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/tags",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.entryGroups.tags.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/tags",
                                            "request": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1Tag"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1Tag"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/tags/{tagsId}",
                                            "httpMethod": "DELETE",
                                            "id": "datacatalog.projects.locations.entryGroups.tags.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/tags/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/tags",
                                            "httpMethod": "GET",
                                            "id": "datacatalog.projects.locations.entryGroups.tags.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/tags",
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1ListTagsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}/tags/{tagsId}",
                                            "httpMethod": "PATCH",
                                            "id": "datacatalog.projects.locations.entryGroups.tags.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+/tags/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1Tag"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1Tag"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "tagTemplates": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.tagTemplates.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "tagTemplateId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/tagTemplates",
                                    "request": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}",
                                    "httpMethod": "DELETE",
                                    "id": "datacatalog.projects.locations.tagTemplates.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "force": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}",
                                    "httpMethod": "GET",
                                    "id": "datacatalog.projects.locations.tagTemplates.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.tagTemplates.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}",
                                    "httpMethod": "PATCH",
                                    "id": "datacatalog.projects.locations.tagTemplates.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.tagTemplates.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.tagTemplates.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "fields": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.tagTemplates.fields.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "tagTemplateFieldId": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/fields",
                                            "request": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}",
                                            "httpMethod": "DELETE",
                                            "id": "datacatalog.projects.locations.tagTemplates.fields.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "force": {
                                                    "location": "query",
                                                    "type": "boolean"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}",
                                            "httpMethod": "PATCH",
                                            "id": "datacatalog.projects.locations.tagTemplates.fields.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "rename": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}:rename",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.tagTemplates.fields.rename",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}:rename",
                                            "request": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "taxonomies": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.taxonomies.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/taxonomies",
                                    "request": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}",
                                    "httpMethod": "DELETE",
                                    "id": "datacatalog.projects.locations.taxonomies.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "export": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies:export",
                                    "httpMethod": "GET",
                                    "id": "datacatalog.projects.locations.taxonomies.export",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "serializedTaxonomies": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "taxonomies": {
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/taxonomies:export",
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}",
                                    "httpMethod": "GET",
                                    "id": "datacatalog.projects.locations.taxonomies.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.taxonomies.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "import": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies:import",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.taxonomies.import",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/taxonomies:import",
                                    "request": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies",
                                    "httpMethod": "GET",
                                    "id": "datacatalog.projects.locations.taxonomies.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/taxonomies",
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}",
                                    "httpMethod": "PATCH",
                                    "id": "datacatalog.projects.locations.taxonomies.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.taxonomies.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "datacatalog.projects.locations.taxonomies.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "policyTags": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.taxonomies.policyTags.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/policyTags",
                                            "request": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}",
                                            "httpMethod": "DELETE",
                                            "id": "datacatalog.projects.locations.taxonomies.policyTags.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}",
                                            "httpMethod": "GET",
                                            "id": "datacatalog.projects.locations.taxonomies.policyTags.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "getIamPolicy": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}:getIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.taxonomies.policyTags.getIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+resource}:getIamPolicy",
                                            "request": {
                                                "$ref": "GetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags",
                                            "httpMethod": "GET",
                                            "id": "datacatalog.projects.locations.taxonomies.policyTags.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/policyTags",
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}",
                                            "httpMethod": "PATCH",
                                            "id": "datacatalog.projects.locations.taxonomies.policyTags.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "setIamPolicy": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}:setIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.taxonomies.policyTags.setIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+resource}:setIamPolicy",
                                            "request": {
                                                "$ref": "SetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "testIamPermissions": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/taxonomies/{taxonomiesId}/policyTags/{policyTagsId}:testIamPermissions",
                                            "httpMethod": "POST",
                                            "id": "datacatalog.projects.locations.taxonomies.policyTags.testIamPermissions",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/taxonomies/[^/]+/policyTags/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+resource}:testIamPermissions",
                                            "request": {
                                                "$ref": "TestIamPermissionsRequest"
                                            },
                                            "response": {
[...]
