{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {},
                "https://www.googleapis.com/auth/ndev.cloudman": {},
                "https://www.googleapis.com/auth/ndev.cloudman.readonly": {}
            }
        }
    },
    "basePath": "/deploymentmanager/v2/projects/",
    "baseUrl": "https://www.googleapis.com/deploymentmanager/v2/projects/",
    "batchPath": "batch/deploymentmanager/v2",
    "canonicalName": "Deployment Manager",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/deployment-manager/",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "deploymentmanager:v2",
    "kind": "discovery#restDescription",
    "name": "deploymentmanager",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "deployments": {
            "methods": {
                "cancelPreview": {
                    "httpMethod": "POST",
                    "id": "deploymentmanager.deployments.cancelPreview",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/cancelPreview",
                    "request": {
                        "$ref": "DeploymentsCancelPreviewRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "deploymentmanager.deployments.delete",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deletePolicy": {
                            "default": "DELETE",
                            "enum": [
                                "ABANDON",
                                "DELETE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "deployment": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.deployments.get",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "response": {
                        "$ref": "Deployment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "getIamPolicy": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.deployments.getIamPolicy",
                    "parameterOrder": [
                        "project",
                        "resource"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "resource": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{resource}/getIamPolicy",
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "deploymentmanager.deployments.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "createPolicy": {
                            "default": "CREATE_OR_ACQUIRE",
                            "enum": [
                                "ACQUIRE",
                                "CREATE_OR_ACQUIRE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "preview": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments",
                    "request": {
                        "$ref": "Deployment"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.deployments.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments",
                    "response": {
                        "$ref": "DeploymentsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "deploymentmanager.deployments.patch",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "createPolicy": {
                            "default": "CREATE_OR_ACQUIRE",
                            "enum": [
                                "ACQUIRE",
                                "CREATE_OR_ACQUIRE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "deletePolicy": {
                            "default": "DELETE",
                            "enum": [
                                "ABANDON",
                                "DELETE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "deployment": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "preview": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "request": {
                        "$ref": "Deployment"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "setIamPolicy": {
                    "httpMethod": "POST",
                    "id": "deploymentmanager.deployments.setIamPolicy",
                    "parameterOrder": [
                        "project",
                        "resource"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "resource": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{resource}/setIamPolicy",
                    "request": {
                        "$ref": "GlobalSetPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "stop": {
                    "httpMethod": "POST",
                    "id": "deploymentmanager.deployments.stop",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/stop",
                    "request": {
                        "$ref": "DeploymentsStopRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "testIamPermissions": {
                    "httpMethod": "POST",
                    "id": "deploymentmanager.deployments.testIamPermissions",
                    "parameterOrder": [
                        "project",
                        "resource"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "resource": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{resource}/testIamPermissions",
                    "request": {
                        "$ref": "TestPermissionsRequest"
                    },
                    "response": {
                        "$ref": "TestPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "deploymentmanager.deployments.update",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "createPolicy": {
                            "default": "CREATE_OR_ACQUIRE",
                            "enum": [
                                "ACQUIRE",
                                "CREATE_OR_ACQUIRE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "deletePolicy": {
                            "default": "DELETE",
                            "enum": [
                                "ABANDON",
                                "DELETE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "deployment": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "preview": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "request": {
                        "$ref": "Deployment"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                }
            }
        },
        "manifests": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.manifests.get",
                    "parameterOrder": [
                        "project",
                        "deployment",
                        "manifest"
                    ],
                    "parameters": {
                        "deployment": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "manifest": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/manifests/{manifest}",
                    "response": {
                        "$ref": "Manifest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.manifests.list",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/manifests",
                    "response": {
                        "$ref": "ManifestsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.operations.get",
                    "parameterOrder": [
                        "project",
                        "operation"
                    ],
                    "parameters": {
                        "operation": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/operations/{operation}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.operations.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/operations",
                    "response": {
                        "$ref": "OperationsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "resources": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.resources.get",
                    "parameterOrder": [
                        "project",
                        "deployment",
                        "resource"
                    ],
                    "parameters": {
                        "deployment": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "resource": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/resources/{resource}",
                    "response": {
                        "$ref": "Resource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.resources.list",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/resources",
                    "response": {
                        "$ref": "ResourcesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "types": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "deploymentmanager.types.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/types",
                    "response": {
                        "$ref": "TypesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "ignoreChildExemptions": {
                    "type": "boolean"
                },
                "logType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuthorizationLoggingOptions": {
            "id": "AuthorizationLoggingOptions",
            "properties": {
                "permissionType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Condition": {
            "id": "Condition",
            "properties": {
                "iam": {
                    "type": "string"
                },
                "op": {
                    "type": "string"
                },
                "svc": {
                    "type": "string"
                },
                "sys": {
                    "type": "string"
                },
                "values": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ConfigFile": {
            "id": "ConfigFile",
            "properties": {
                "content": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Deployment": {
            "id": "Deployment",
            "properties": {
                "fingerprint": {
                    "format": "byte",
                    "type": "string"
                },
                "id": {
                    "format": "uint64",
                    "type": "string"
                },
                "insertTime": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "DeploymentLabelEntry"
                    },
                    "type": "array"
                },
                "manifest": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "operation": {
                    "$ref": "Operation"
                },
                "selfLink": {
                    "type": "string"
                },
                "target": {
                    "$ref": "TargetConfiguration"
                },
                "update": {
                    "$ref": "DeploymentUpdate"
                },
                "updateTime": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentLabelEntry": {
            "id": "DeploymentLabelEntry",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentUpdate": {
            "id": "DeploymentUpdate",
            "properties": {
                "labels": {
                    "items": {
                        "$ref": "DeploymentUpdateLabelEntry"
                    },
                    "type": "array"
                },
                "manifest": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentUpdateLabelEntry": {
            "id": "DeploymentUpdateLabelEntry",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentsCancelPreviewRequest": {
            "id": "DeploymentsCancelPreviewRequest",
            "properties": {
                "fingerprint": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentsListResponse": {
            "id": "DeploymentsListResponse",
            "properties": {
                "deployments": {
                    "items": {
                        "$ref": "Deployment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentsStopRequest": {
            "id": "DeploymentsStopRequest",
            "properties": {
                "fingerprint": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GlobalSetPolicyRequest": {
            "id": "GlobalSetPolicyRequest",
            "properties": {
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "policy": {
                    "$ref": "Policy"
                }
            },
            "type": "object"
        },
        "ImportFile": {
            "id": "ImportFile",
            "properties": {
                "content": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LogConfig": {
            "id": "LogConfig",
            "properties": {
                "cloudAudit": {
                    "$ref": "LogConfigCloudAuditOptions"
                },
                "counter": {
                    "$ref": "LogConfigCounterOptions"
                },
                "dataAccess": {
                    "$ref": "LogConfigDataAccessOptions"
                }
            },
            "type": "object"
        },
        "LogConfigCloudAuditOptions": {
            "id": "LogConfigCloudAuditOptions",
            "properties": {
                "authorizationLoggingOptions": {
                    "$ref": "AuthorizationLoggingOptions"
                },
                "logName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LogConfigCounterOptions": {
            "id": "LogConfigCounterOptions",
            "properties": {
                "customFields": {
                    "items": {
                        "$ref": "LogConfigCounterOptionsCustomField"
                    },
                    "type": "array"
                },
                "field": {
                    "type": "string"
                },
                "metric": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LogConfigCounterOptionsCustomField": {
            "id": "LogConfigCounterOptionsCustomField",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LogConfigDataAccessOptions": {
            "id": "LogConfigDataAccessOptions",
            "properties": {
                "logMode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Manifest": {
            "id": "Manifest",
            "properties": {
                "config": {
                    "$ref": "ConfigFile"
                },
                "expandedConfig": {
                    "type": "string"
                },
                "id": {
                    "format": "uint64",
                    "type": "string"
                },
                "imports": {
                    "items": {
                        "$ref": "ImportFile"
                    },
                    "type": "array"
                },
                "insertTime": {
                    "type": "string"
                },
                "layout": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManifestsListResponse": {
            "id": "ManifestsListResponse",
            "properties": {
                "manifests": {
                    "items": {
                        "$ref": "Manifest"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "clientOperationId": {
                    "type": "string"
                },
                "creationTimestamp": {
                    "type": "string"
                },
                "endTime": {
                    "type": "string"
                },
                "error": {
                    "properties": {
                        "errors": {
                            "items": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    },
                                    "location": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "httpErrorMessage": {
                    "type": "string"
                },
                "httpErrorStatusCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "id": {
                    "format": "uint64",
                    "type": "string"
                },
                "insertTime": {
                    "type": "string"
                },
                "kind": {
                    "default": "deploymentmanager#operation",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "operationType": {
                    "type": "string"
                },
                "progress": {
                    "format": "int32",
                    "type": "integer"
                },
                "region": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "startTime": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                },
                "targetId": {
                    "format": "uint64",
                    "type": "string"
                },
                "targetLink": {
                    "type": "string"
                },
                "user": {
                    "type": "string"
                },
                "warnings": {
                    "items": {
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "data": {
                                "items": {
                                    "properties": {
                                        "key": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OperationsListResponse": {
            "id": "OperationsListResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "iamOwned": {
                    "type": "boolean"
                },
                "rules": {
                    "items": {
                        "$ref": "Rule"
                    },
                    "type": "array"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Resource": {
            "id": "Resource",
            "properties": {
                "accessControl": {
                    "$ref": "ResourceAccessControl"
                },
                "finalProperties": {
                    "type": "string"
                },
                "id": {
                    "format": "uint64",
                    "type": "string"
                },
                "insertTime": {
                    "type": "string"
                },
                "manifest": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "properties": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "update": {
                    "$ref": "ResourceUpdate"
                },
                "updateTime": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "warnings": {
                    "items": {
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "data": {
                                "items": {
                                    "properties": {
                                        "key": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ResourceAccessControl": {
            "id": "ResourceAccessControl",
            "properties": {
                "gcpIamPolicy": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResourceUpdate": {
            "id": "ResourceUpdate",
            "properties": {
                "accessControl": {
                    "$ref": "ResourceAccessControl"
                },
                "error": {
                    "properties": {
                        "errors": {
                            "items": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    },
                                    "location": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "finalProperties": {
                    "type": "string"
                },
                "intent": {
                    "type": "string"
                },
                "manifest": {
                    "type": "string"
                },
                "properties": {
                    "type": "string"
                },
                "state": {
                    "type": "string"
                },
                "warnings": {
                    "items": {
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "data": {
                                "items": {
                                    "properties": {
                                        "key": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ResourcesListResponse": {
            "id": "ResourcesListResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "Resource"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Rule": {
            "id": "Rule",
            "properties": {
                "action": {
                    "type": "string"
                },
                "conditions": {
                    "items": {
                        "$ref": "Condition"
                    },
                    "type": "array"
                },
                "ins": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logConfigs": {
                    "items": {
                        "$ref": "LogConfig"
                    },
                    "type": "array"
                },
                "notIns": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TargetConfiguration": {
            "id": "TargetConfiguration",
            "properties": {
                "config": {
                    "$ref": "ConfigFile"
                },
                "imports": {
                    "items": {
                        "$ref": "ImportFile"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestPermissionsRequest": {
            "id": "TestPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestPermissionsResponse": {
            "id": "TestPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Type": {
            "id": "Type",
            "properties": {
                "id": {
                    "format": "uint64",
                    "type": "string"
                },
                "insertTime": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "operation": {
                    "$ref": "Operation"
                },
                "selfLink": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TypesListResponse": {
            "id": "TypesListResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "types": {
                    "items": {
                        "$ref": "Type"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "deploymentmanager/v2/projects/",
    "title": "Google Cloud Deployment Manager API",
    "version": "v2"
}