{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/dialogflow": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://dialogflow.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Dialogflow",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/dialogflow/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "dialogflow:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
    "name": "dialogflow",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "deleteAgent": {
                    "flatPath": "v2/projects/{projectsId}/agent",
                    "httpMethod": "DELETE",
                    "id": "dialogflow.projects.deleteAgent",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+parent}/agent",
                    "response": {
                        "$ref": "GoogleProtobufEmpty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                    ]
                },
                "getAgent": {
                    "flatPath": "v2/projects/{projectsId}/agent",
                    "httpMethod": "GET",
                    "id": "dialogflow.projects.getAgent",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+parent}/agent",
                    "response": {
                        "$ref": "GoogleCloudDialogflowV2Agent"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                    ]
                },
                "setAgent": {
                    "flatPath": "v2/projects/{projectsId}/agent",
                    "httpMethod": "POST",
                    "id": "dialogflow.projects.setAgent",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/{+parent}/agent",
                    "request": {
                        "$ref": "GoogleCloudDialogflowV2Agent"
                    },
                    "response": {
                        "$ref": "GoogleCloudDialogflowV2Agent"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                    ]
                }
            },
            "resources": {
                "agent": {
                    "methods": {
                        "export": {
                            "flatPath": "v2/projects/{projectsId}/agent:export",
                            "httpMethod": "POST",
                            "id": "dialogflow.projects.agent.export",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/agent:export",
                            "request": {
                                "$ref": "GoogleCloudDialogflowV2ExportAgentRequest"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                            ]
                        },
                        "getFulfillment": {
                            "flatPath": "v2/projects/{projectsId}/agent/fulfillment",
                            "httpMethod": "GET",
                            "id": "dialogflow.projects.agent.getFulfillment",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/agent/fulfillment$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GoogleCloudDialogflowV2Fulfillment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                            ]
                        },
                        "getValidationResult": {
                            "flatPath": "v2/projects/{projectsId}/agent/validationResult",
                            "httpMethod": "GET",
                            "id": "dialogflow.projects.agent.getValidationResult",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "languageCode": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/agent/validationResult",
                            "response": {
                                "$ref": "GoogleCloudDialogflowV2ValidationResult"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                            ]
                        },
                        "import": {
                            "flatPath": "v2/projects/{projectsId}/agent:import",
                            "httpMethod": "POST",
                            "id": "dialogflow.projects.agent.import",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/agent:import",
                            "request": {
                                "$ref": "GoogleCloudDialogflowV2ImportAgentRequest"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                            ]
                        },
                        "restore": {
                            "flatPath": "v2/projects/{projectsId}/agent:restore",
                            "httpMethod": "POST",
                            "id": "dialogflow.projects.agent.restore",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/agent:restore",
                            "request": {
                                "$ref": "GoogleCloudDialogflowV2RestoreAgentRequest"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                            ]
                        },
                        "search": {
                            "flatPath": "v2/projects/{projectsId}/agent:search",
                            "httpMethod": "GET",
                            "id": "dialogflow.projects.agent.search",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/agent:search",
                            "response": {
                                "$ref": "GoogleCloudDialogflowV2SearchAgentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                            ]
                        },
                        "train": {
                            "flatPath": "v2/projects/{projectsId}/agent:train",
                            "httpMethod": "POST",
                            "id": "dialogflow.projects.agent.train",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/agent:train",
                            "request": {
                                "$ref": "GoogleCloudDialogflowV2TrainAgentRequest"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                            ]
                        },
                        "updateFulfillment": {
                            "flatPath": "v2/projects/{projectsId}/agent/fulfillment",
                            "httpMethod": "PATCH",
                            "id": "dialogflow.projects.agent.updateFulfillment",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/agent/fulfillment$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "GoogleCloudDialogflowV2Fulfillment"
                            },
                            "response": {
                                "$ref": "GoogleCloudDialogflowV2Fulfillment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                            ]
                        }
                    },
                    "resources": {
                        "entityTypes": {
                            "methods": {
                                "batchDelete": {
                                    "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchDelete",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.entityTypes.batchDelete",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/entityTypes:batchDelete",
                                    "request": {
                                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleLongrunningOperation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "batchUpdate": {
                                    "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchUpdate",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.entityTypes.batchUpdate",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/entityTypes:batchUpdate",
                                    "request": {
                                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleLongrunningOperation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.entityTypes.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "languageCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/entityTypes",
                                    "request": {
                                        "$ref": "GoogleCloudDialogflowV2EntityType"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2EntityType"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                                    "httpMethod": "DELETE",
                                    "id": "dialogflow.projects.agent.entityTypes.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobufEmpty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                                    "httpMethod": "GET",
                                    "id": "dialogflow.projects.agent.entityTypes.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "languageCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2EntityType"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                                    "httpMethod": "GET",
                                    "id": "dialogflow.projects.agent.entityTypes.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "languageCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/entityTypes",
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                                    "httpMethod": "PATCH",
                                    "id": "dialogflow.projects.agent.entityTypes.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "languageCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudDialogflowV2EntityType"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2EntityType"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                }
                            },
                            "resources": {
                                "entities": {
                                    "methods": {
                                        "batchCreate": {
                                            "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/entities:batchCreate",
                                            "request": {
                                                "$ref": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleLongrunningOperation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        },
                                        "batchDelete": {
                                            "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/entities:batchDelete",
                                            "request": {
                                                "$ref": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleLongrunningOperation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        },
                                        "batchUpdate": {
                                            "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/entities:batchUpdate",
                                            "request": {
                                                "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleLongrunningOperation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "environments": {
                            "methods": {
                                "list": {
                                    "flatPath": "v2/projects/{projectsId}/agent/environments",
                                    "httpMethod": "GET",
                                    "id": "dialogflow.projects.agent.environments.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/environments",
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2ListEnvironmentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                }
                            },
                            "resources": {
                                "users": {
                                    "resources": {
                                        "sessions": {
                                            "methods": {
                                                "deleteContexts": {
                                                    "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                                                    "httpMethod": "DELETE",
                                                    "id": "dialogflow.projects.agent.environments.users.sessions.deleteContexts",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v2/{+parent}/contexts",
                                                    "response": {
                                                        "$ref": "GoogleProtobufEmpty"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/dialogflow"
                                                    ]
                                                },
                                                "detectIntent": {
                                                    "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}:detectIntent",
                                                    "httpMethod": "POST",
                                                    "id": "dialogflow.projects.agent.environments.users.sessions.detectIntent",
                                                    "parameterOrder": [
                                                        "session"
                                                    ],
                                                    "parameters": {
                                                        "session": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v2/{+session}:detectIntent",
                                                    "request": {
                                                        "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                                                    },
                                                    "response": {
                                                        "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform",
                                                        "https://www.googleapis.com/auth/dialogflow"
                                                    ]
                                                }
                                            },
                                            "resources": {
                                                "contexts": {
                                                    "methods": {
                                                        "create": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                                                            "httpMethod": "POST",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create",
                                                            "parameterOrder": [
                                                                "parent"
                                                            ],
                                                            "parameters": {
                                                                "parent": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+parent}/contexts",
                                                            "request": {
                                                                "$ref": "GoogleCloudDialogflowV2Context"
                                                            },
                                                            "response": {
                                                                "$ref": "GoogleCloudDialogflowV2Context"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        },
                                                        "delete": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                                                            "httpMethod": "DELETE",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete",
                                                            "parameterOrder": [
                                                                "name"
                                                            ],
                                                            "parameters": {
                                                                "name": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+name}",
                                                            "response": {
                                                                "$ref": "GoogleProtobufEmpty"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        },
                                                        "get": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                                                            "httpMethod": "GET",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.contexts.get",
                                                            "parameterOrder": [
                                                                "name"
                                                            ],
                                                            "parameters": {
                                                                "name": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+name}",
                                                            "response": {
                                                                "$ref": "GoogleCloudDialogflowV2Context"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        },
                                                        "list": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                                                            "httpMethod": "GET",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list",
                                                            "parameterOrder": [
                                                                "parent"
                                                            ],
                                                            "parameters": {
                                                                "pageSize": {
                                                                    "format": "int32",
                                                                    "location": "query",
                                                                    "type": "integer"
                                                                },
                                                                "pageToken": {
                                                                    "location": "query",
                                                                    "type": "string"
                                                                },
                                                                "parent": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+parent}/contexts",
                                                            "response": {
                                                                "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        },
                                                        "patch": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                                                            "httpMethod": "PATCH",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.contexts.patch",
                                                            "parameterOrder": [
                                                                "name"
                                                            ],
                                                            "parameters": {
                                                                "name": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "updateMask": {
                                                                    "format": "google-fieldmask",
                                                                    "location": "query",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+name}",
                                                            "request": {
                                                                "$ref": "GoogleCloudDialogflowV2Context"
                                                            },
                                                            "response": {
                                                                "$ref": "GoogleCloudDialogflowV2Context"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "entityTypes": {
                                                    "methods": {
                                                        "create": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                                                            "httpMethod": "POST",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.create",
                                                            "parameterOrder": [
                                                                "parent"
                                                            ],
                                                            "parameters": {
                                                                "parent": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+parent}/entityTypes",
                                                            "request": {
                                                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                                                            },
                                                            "response": {
                                                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        },
                                                        "delete": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                                                            "httpMethod": "DELETE",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.delete",
                                                            "parameterOrder": [
                                                                "name"
                                                            ],
                                                            "parameters": {
                                                                "name": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+name}",
                                                            "response": {
                                                                "$ref": "GoogleProtobufEmpty"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        },
                                                        "get": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                                                            "httpMethod": "GET",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.get",
                                                            "parameterOrder": [
                                                                "name"
                                                            ],
                                                            "parameters": {
                                                                "name": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+name}",
                                                            "response": {
                                                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        },
                                                        "list": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                                                            "httpMethod": "GET",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.list",
                                                            "parameterOrder": [
                                                                "parent"
                                                            ],
                                                            "parameters": {
                                                                "pageSize": {
                                                                    "format": "int32",
                                                                    "location": "query",
                                                                    "type": "integer"
                                                                },
                                                                "pageToken": {
                                                                    "location": "query",
                                                                    "type": "string"
                                                                },
                                                                "parent": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+parent}/entityTypes",
                                                            "response": {
                                                                "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        },
                                                        "patch": {
                                                            "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                                                            "httpMethod": "PATCH",
                                                            "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.patch",
                                                            "parameterOrder": [
                                                                "name"
                                                            ],
                                                            "parameters": {
                                                                "name": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "updateMask": {
                                                                    "format": "google-fieldmask",
                                                                    "location": "query",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v2/{+name}",
                                                            "request": {
                                                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                                                            },
                                                            "response": {
                                                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform",
                                                                "https://www.googleapis.com/auth/dialogflow"
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "intents": {
                            "methods": {
                                "batchDelete": {
                                    "flatPath": "v2/projects/{projectsId}/agent/intents:batchDelete",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.intents.batchDelete",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/intents:batchDelete",
                                    "request": {
                                        "$ref": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleLongrunningOperation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "batchUpdate": {
                                    "flatPath": "v2/projects/{projectsId}/agent/intents:batchUpdate",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.intents.batchUpdate",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/intents:batchUpdate",
                                    "request": {
                                        "$ref": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleLongrunningOperation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v2/projects/{projectsId}/agent/intents",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.intents.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "intentView": {
                                            "enum": [
                                                "INTENT_VIEW_UNSPECIFIED",
                                                "INTENT_VIEW_FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/intents",
                                    "request": {
                                        "$ref": "GoogleCloudDialogflowV2Intent"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2Intent"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                                    "httpMethod": "DELETE",
                                    "id": "dialogflow.projects.agent.intents.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobufEmpty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                                    "httpMethod": "GET",
                                    "id": "dialogflow.projects.agent.intents.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "intentView": {
                                            "enum": [
                                                "INTENT_VIEW_UNSPECIFIED",
                                                "INTENT_VIEW_FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2Intent"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/projects/{projectsId}/agent/intents",
                                    "httpMethod": "GET",
                                    "id": "dialogflow.projects.agent.intents.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "intentView": {
                                            "enum": [
                                                "INTENT_VIEW_UNSPECIFIED",
                                                "INTENT_VIEW_FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/intents",
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2ListIntentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                                    "httpMethod": "PATCH",
                                    "id": "dialogflow.projects.agent.intents.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "intentView": {
                                            "enum": [
                                                "INTENT_VIEW_UNSPECIFIED",
                                                "INTENT_VIEW_FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudDialogflowV2Intent"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2Intent"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                }
                            }
                        },
                        "sessions": {
                            "methods": {
                                "deleteContexts": {
                                    "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                                    "httpMethod": "DELETE",
                                    "id": "dialogflow.projects.agent.sessions.deleteContexts",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/contexts",
                                    "response": {
                                        "$ref": "GoogleProtobufEmpty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                },
                                "detectIntent": {
                                    "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}:detectIntent",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.sessions.detectIntent",
                                    "parameterOrder": [
                                        "session"
                                    ],
                                    "parameters": {
                                        "session": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+session}:detectIntent",
                                    "request": {
                                        "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/dialogflow"
                                    ]
                                }
                            },
                            "resources": {
                                "contexts": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.sessions.contexts.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/contexts",
                                            "request": {
                                                "$ref": "GoogleCloudDialogflowV2Context"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDialogflowV2Context"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                                            "httpMethod": "DELETE",
                                            "id": "dialogflow.projects.agent.sessions.contexts.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
                                            "response": {
                                                "$ref": "GoogleProtobufEmpty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                                            "httpMethod": "GET",
                                            "id": "dialogflow.projects.agent.sessions.contexts.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudDialogflowV2Context"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                                            "httpMethod": "GET",
                                            "id": "dialogflow.projects.agent.sessions.contexts.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/contexts",
                                            "response": {
                                                "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                                            "httpMethod": "PATCH",
                                            "id": "dialogflow.projects.agent.sessions.contexts.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
                                            "request": {
                                                "$ref": "GoogleCloudDialogflowV2Context"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDialogflowV2Context"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        }
                                    }
                                },
                                "entityTypes": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.sessions.entityTypes.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+parent}/entityTypes",
                                            "request": {
                                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                                            "httpMethod": "DELETE",
                                            "id": "dialogflow.projects.agent.sessions.entityTypes.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
                                            "response": {
                                                "$ref": "GoogleProtobufEmpty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/dialogflow"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                                            "httpMethod": "GET",
                                            "id": "dialogflow.projects.agent.sessions.entityTypes.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2/{+name}",
[...]
