{
    "basePath": "/discovery/v1/",
    "baseUrl": "https://www.googleapis.com/discovery/v1/",
    "batchPath": "batch/discovery/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/discovery/",
    "icons": {
        "x16": "http://www.google.com/images/icons/feature/filing_cabinet_search-g16.png",
        "x32": "http://www.google.com/images/icons/feature/filing_cabinet_search-g32.png"
    },
    "id": "discovery:v1",
    "kind": "discovery#restDescription",
    "name": "discovery",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "apis": {
            "methods": {
                "getRest": {
                    "httpMethod": "GET",
                    "id": "discovery.apis.getRest",
                    "parameterOrder": [
                        "api",
                        "version"
                    ],
                    "parameters": {
                        "api": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "version": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "apis/{api}/{version}/rest",
                    "response": {
                        "$ref": "RestDescription"
                    }
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "discovery.apis.list",
                    "parameters": {
                        "name": {
                            "location": "query",
                            "type": "string"
                        },
                        "preferred": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "apis",
                    "response": {
                        "$ref": "DirectoryList"
                    }
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "DirectoryList": {
            "id": "DirectoryList",
            "properties": {
                "discoveryVersion": {
                    "default": "v1",
                    "type": "string"
                },
                "items": {
                    "items": {
                        "properties": {
                            "discoveryLink": {
                                "type": "string"
                            },
                            "discoveryRestUrl": {
                                "type": "string"
                            },
                            "documentationLink": {
                                "type": "string"
                            },
                            "icons": {
                                "properties": {
                                    "x16": {
                                        "type": "string"
                                    },
                                    "x32": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "id": {
                                "type": "string"
                            },
                            "kind": {
                                "default": "discovery#directoryItem",
                                "type": "string"
                            },
                            "labels": {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "name": {
                                "type": "string"
                            },
                            "preferred": {
                                "type": "boolean"
                            },
                            "title": {
                                "type": "string"
                            },
                            "version": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "discovery#directoryList",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JsonSchema": {
            "id": "JsonSchema",
            "properties": {
                "$ref": {
                    "type": "string"
                },
                "additionalProperties": {
                    "$ref": "JsonSchema"
                },
                "annotations": {
                    "properties": {
                        "required": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "default": {
                    "type": "string"
                },
                "enum": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "format": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "items": {
                    "$ref": "JsonSchema"
                },
                "location": {
                    "type": "string"
                },
                "maximum": {
                    "type": "string"
                },
                "minimum": {
                    "type": "string"
                },
                "pattern": {
                    "type": "string"
                },
                "properties": {
                    "additionalProperties": {
                        "$ref": "JsonSchema"
                    },
                    "type": "object"
                },
                "readOnly": {
                    "type": "boolean"
                },
                "repeated": {
                    "type": "boolean"
                },
                "required": {
                    "type": "boolean"
                },
                "type": {
                    "type": "string"
                },
                "variant": {
                    "properties": {
                        "discriminant": {
                            "type": "string"
                        },
                        "map": {
                            "items": {
                                "properties": {
                                    "$ref": {
                                        "type": "string"
                                    },
                                    "type_value": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "RestDescription": {
            "id": "RestDescription",
            "properties": {
                "auth": {
                    "properties": {
                        "oauth2": {
                            "properties": {
                                "scopes": {
                                    "additionalProperties": {
                                        "properties": {},
                                        "type": "object"
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                },
                "basePath": {
                    "type": "string"
                },
                "baseUrl": {
                    "type": "string"
                },
                "batchPath": {
                    "type": "string"
                },
                "canonicalName": {
                    "type": "string"
                },
                "discoveryVersion": {
                    "default": "v1",
                    "type": "string"
                },
                "documentationLink": {
                    "type": "string"
                },
                "etag": {
                    "readOnly": true,
                    "type": "string"
                },
                "exponentialBackoffDefault": {
                    "type": "boolean"
                },
                "features": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "icons": {
                    "properties": {
                        "x16": {
                            "type": "string"
                        },
                        "x32": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "discovery#restDescription",
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "methods": {
                    "additionalProperties": {
                        "$ref": "RestMethod"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "ownerDomain": {
                    "type": "string"
                },
                "ownerName": {
                    "type": "string"
                },
                "packagePath": {
                    "type": "string"
                },
                "parameters": {
                    "additionalProperties": {
                        "$ref": "JsonSchema"
                    },
                    "type": "object"
                },
                "protocol": {
                    "default": "rest",
                    "type": "string"
                },
                "resources": {
                    "additionalProperties": {
                        "$ref": "RestResource"
                    },
                    "type": "object"
                },
                "revision": {
                    "type": "string"
                },
                "rootUrl": {
                    "type": "string"
                },
                "schemas": {
                    "additionalProperties": {
                        "$ref": "JsonSchema"
                    },
                    "type": "object"
                },
                "servicePath": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                },
                "version_module": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "RestMethod": {
            "id": "RestMethod",
            "properties": {
                "etagRequired": {
                    "type": "boolean"
                },
                "httpMethod": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "mediaUpload": {
                    "properties": {
                        "accept": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "maxSize": {
                            "type": "string"
                        },
                        "protocols": {
                            "properties": {
                                "resumable": {
                                    "properties": {
                                        "multipart": {
                                            "default": "true",
                                            "type": "boolean"
                                        },
                                        "path": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "simple": {
                                    "properties": {
                                        "multipart": {
                                            "default": "true",
                                            "type": "boolean"
                                        },
                                        "path": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                },
                "parameterOrder": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "parameters": {
                    "additionalProperties": {
                        "$ref": "JsonSchema"
                    },
                    "type": "object"
                },
                "path": {
                    "type": "string"
                },
                "request": {
                    "properties": {
                        "$ref": {
                            "type": "string"
                        },
                        "parameterName": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "response": {
                    "properties": {
                        "$ref": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "scopes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "supportsMediaDownload": {
                    "type": "boolean"
                },
                "supportsMediaUpload": {
                    "type": "boolean"
                },
                "supportsSubscription": {
                    "type": "boolean"
                },
                "useMediaDownloadService": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "RestResource": {
            "id": "RestResource",
            "properties": {
                "methods": {
                    "additionalProperties": {
                        "$ref": "RestMethod"
                    },
                    "type": "object"
                },
                "resources": {
                    "additionalProperties": {
                        "$ref": "RestResource"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "discovery/v1/",
    "title": "API Discovery Service",
    "version": "v1"
}