{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/display-video": {},
                "https://www.googleapis.com/auth/display-video-mediaplanning": {},
                "https://www.googleapis.com/auth/display-video-user-management": {},
                "https://www.googleapis.com/auth/doubleclickbidmanager": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://displayvideo.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Display Video",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/display-video/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "displayvideo:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
    "name": "displayvideo",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "advertisers": {
            "methods": {
                "audit": {
                    "flatPath": "v1/advertisers/{advertisersId}:audit",
                    "httpMethod": "GET",
                    "id": "displayvideo.advertisers.audit",
                    "parameterOrder": [
                        "advertiserId"
                    ],
                    "parameters": {
                        "advertiserId": {
                            "format": "int64",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "readMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/advertisers/{+advertiserId}:audit",
                    "response": {
                        "$ref": "AuditAdvertiserResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                    ]
                },
                "bulkEditAdvertiserAssignedTargetingOptions": {
                    "flatPath": "v1/advertisers/{advertisersId}:bulkEditAdvertiserAssignedTargetingOptions",
                    "httpMethod": "POST",
                    "id": "displayvideo.advertisers.bulkEditAdvertiserAssignedTargetingOptions",
                    "parameterOrder": [
                        "advertiserId"
                    ],
                    "parameters": {
                        "advertiserId": {
                            "format": "int64",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/advertisers/{+advertiserId}:bulkEditAdvertiserAssignedTargetingOptions",
                    "request": {
                        "$ref": "BulkEditAdvertiserAssignedTargetingOptionsRequest"
                    },
                    "response": {
                        "$ref": "BulkEditAdvertiserAssignedTargetingOptionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                    ]
                },
                "bulkListAdvertiserAssignedTargetingOptions": {
                    "flatPath": "v1/advertisers/{advertisersId}:bulkListAdvertiserAssignedTargetingOptions",
                    "httpMethod": "GET",
                    "id": "displayvideo.advertisers.bulkListAdvertiserAssignedTargetingOptions",
                    "parameterOrder": [
                        "advertiserId"
                    ],
                    "parameters": {
                        "advertiserId": {
                            "format": "int64",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/advertisers/{+advertiserId}:bulkListAdvertiserAssignedTargetingOptions",
                    "response": {
                        "$ref": "BulkListAdvertiserAssignedTargetingOptionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                    ]
                },
                "create": {
                    "flatPath": "v1/advertisers",
                    "httpMethod": "POST",
                    "id": "displayvideo.advertisers.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/advertisers",
                    "request": {
                        "$ref": "Advertiser"
                    },
                    "response": {
                        "$ref": "Advertiser"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                    ]
                },
                "delete": {
                    "flatPath": "v1/advertisers/{advertisersId}",
                    "httpMethod": "DELETE",
                    "id": "displayvideo.advertisers.delete",
                    "parameterOrder": [
                        "advertiserId"
                    ],
                    "parameters": {
                        "advertiserId": {
                            "format": "int64",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/advertisers/{+advertiserId}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                    ]
                },
                "get": {
                    "flatPath": "v1/advertisers/{advertisersId}",
                    "httpMethod": "GET",
                    "id": "displayvideo.advertisers.get",
                    "parameterOrder": [
                        "advertiserId"
                    ],
                    "parameters": {
                        "advertiserId": {
                            "format": "int64",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/advertisers/{+advertiserId}",
                    "response": {
                        "$ref": "Advertiser"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                    ]
                },
                "list": {
                    "flatPath": "v1/advertisers",
                    "httpMethod": "GET",
                    "id": "displayvideo.advertisers.list",
                    "parameterOrder": [],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "partnerId": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/advertisers",
                    "response": {
                        "$ref": "ListAdvertisersResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                    ]
                },
                "patch": {
                    "flatPath": "v1/advertisers/{advertisersId}",
                    "httpMethod": "PATCH",
                    "id": "displayvideo.advertisers.patch",
                    "parameterOrder": [
                        "advertiserId"
                    ],
                    "parameters": {
                        "advertiserId": {
                            "format": "int64",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/advertisers/{+advertiserId}",
                    "request": {
                        "$ref": "Advertiser"
                    },
                    "response": {
                        "$ref": "Advertiser"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                    ]
                }
            },
            "resources": {
                "assets": {
                    "methods": {
                        "upload": {
                            "flatPath": "v1/advertisers/{advertisersId}/assets",
                            "httpMethod": "POST",
                            "id": "displayvideo.advertisers.assets.upload",
                            "mediaUpload": {
                                "accept": [
                                    "*/*"
                                ],
                                "protocols": {
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/v1/advertisers/{+advertiserId}/assets"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/assets",
                            "request": {
                                "$ref": "CreateAssetRequest"
                            },
                            "response": {
                                "$ref": "CreateAssetResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "campaigns": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/advertisers/{advertisersId}/campaigns",
                            "httpMethod": "POST",
                            "id": "displayvideo.advertisers.campaigns.create",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/campaigns",
                            "request": {
                                "$ref": "Campaign"
                            },
                            "response": {
                                "$ref": "Campaign"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video",
                                "https://www.googleapis.com/auth/display-video-mediaplanning"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/advertisers/{advertisersId}/campaigns/{campaignsId}",
                            "httpMethod": "DELETE",
                            "id": "displayvideo.advertisers.campaigns.delete",
                            "parameterOrder": [
                                "advertiserId",
                                "campaignId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "campaignId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/campaigns/{+campaignId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video",
                                "https://www.googleapis.com/auth/display-video-mediaplanning"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/advertisers/{advertisersId}/campaigns/{campaignsId}",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.campaigns.get",
                            "parameterOrder": [
                                "advertiserId",
                                "campaignId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "campaignId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/campaigns/{+campaignId}",
                            "response": {
                                "$ref": "Campaign"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video",
                                "https://www.googleapis.com/auth/display-video-mediaplanning"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/advertisers/{advertisersId}/campaigns",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.campaigns.list",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/campaigns",
                            "response": {
                                "$ref": "ListCampaignsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video",
                                "https://www.googleapis.com/auth/display-video-mediaplanning"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/advertisers/{advertisersId}/campaigns/{campaignsId}",
                            "httpMethod": "PATCH",
                            "id": "displayvideo.advertisers.campaigns.patch",
                            "parameterOrder": [
                                "advertiserId",
                                "campaignId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "campaignId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/campaigns/{+campaignId}",
                            "request": {
                                "$ref": "Campaign"
                            },
                            "response": {
                                "$ref": "Campaign"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video",
                                "https://www.googleapis.com/auth/display-video-mediaplanning"
                            ]
                        }
                    }
                },
                "channels": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/advertisers/{advertisersId}/channels",
                            "httpMethod": "POST",
                            "id": "displayvideo.advertisers.channels.create",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "partnerId": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/channels",
                            "request": {
                                "$ref": "Channel"
                            },
                            "response": {
                                "$ref": "Channel"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/advertisers/{advertisersId}/channels/{channelsId}",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.channels.get",
                            "parameterOrder": [
                                "advertiserId",
                                "channelId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "channelId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "partnerId": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/channels/{+channelId}",
                            "response": {
                                "$ref": "Channel"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/advertisers/{advertisersId}/channels",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.channels.list",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "partnerId": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/channels",
                            "response": {
                                "$ref": "ListChannelsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/advertisers/{advertisersId}/channels/{channelId}",
                            "httpMethod": "PATCH",
                            "id": "displayvideo.advertisers.channels.patch",
                            "parameterOrder": [
                                "advertiserId",
                                "channelId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "channelId": {
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "partnerId": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/channels/{channelId}",
                            "request": {
                                "$ref": "Channel"
                            },
                            "response": {
                                "$ref": "Channel"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        }
                    },
                    "resources": {
                        "sites": {
                            "methods": {
                                "bulkEdit": {
                                    "flatPath": "v1/advertisers/{advertiserId}/channels/{channelsId}/sites:bulkEdit",
                                    "httpMethod": "POST",
                                    "id": "displayvideo.advertisers.channels.sites.bulkEdit",
                                    "parameterOrder": [
                                        "advertiserId",
                                        "channelId"
                                    ],
                                    "parameters": {
                                        "advertiserId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "channelId": {
                                            "format": "int64",
                                            "location": "path",
                                            "pattern": "^[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/advertisers/{advertiserId}/channels/{+channelId}/sites:bulkEdit",
                                    "request": {
                                        "$ref": "BulkEditSitesRequest"
                                    },
                                    "response": {
                                        "$ref": "BulkEditSitesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/display-video"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v1/advertisers/{advertiserId}/channels/{channelsId}/sites",
                                    "httpMethod": "POST",
                                    "id": "displayvideo.advertisers.channels.sites.create",
                                    "parameterOrder": [
                                        "advertiserId",
                                        "channelId"
                                    ],
                                    "parameters": {
                                        "advertiserId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "channelId": {
                                            "format": "int64",
                                            "location": "path",
                                            "pattern": "^[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "partnerId": {
                                            "format": "int64",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/advertisers/{advertiserId}/channels/{+channelId}/sites",
                                    "request": {
                                        "$ref": "Site"
                                    },
                                    "response": {
                                        "$ref": "Site"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/display-video"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/advertisers/{advertiserId}/channels/{channelsId}/sites/{sitesId}",
                                    "httpMethod": "DELETE",
                                    "id": "displayvideo.advertisers.channels.sites.delete",
                                    "parameterOrder": [
                                        "advertiserId",
                                        "channelId",
                                        "urlOrAppId"
                                    ],
                                    "parameters": {
                                        "advertiserId": {
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "channelId": {
                                            "format": "int64",
                                            "location": "path",
                                            "pattern": "^[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "partnerId": {
                                            "format": "int64",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "urlOrAppId": {
                                            "location": "path",
                                            "pattern": "^[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/advertisers/{advertiserId}/channels/{+channelId}/sites/{+urlOrAppId}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/display-video"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/advertisers/{advertisersId}/channels/{channelsId}/sites",
                                    "httpMethod": "GET",
                                    "id": "displayvideo.advertisers.channels.sites.list",
                                    "parameterOrder": [
                                        "advertiserId",
                                        "channelId"
                                    ],
                                    "parameters": {
                                        "advertiserId": {
                                            "format": "int64",
                                            "location": "path",
                                            "pattern": "^[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "channelId": {
                                            "format": "int64",
                                            "location": "path",
                                            "pattern": "^[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "partnerId": {
                                            "format": "int64",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/advertisers/{+advertiserId}/channels/{+channelId}/sites",
                                    "response": {
                                        "$ref": "ListSitesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/display-video"
                                    ]
                                }
                            }
                        }
                    }
                },
                "creatives": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/advertisers/{advertisersId}/creatives",
                            "httpMethod": "POST",
                            "id": "displayvideo.advertisers.creatives.create",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/creatives",
                            "request": {
                                "$ref": "Creative"
                            },
                            "response": {
                                "$ref": "Creative"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/advertisers/{advertisersId}/creatives/{creativesId}",
                            "httpMethod": "DELETE",
                            "id": "displayvideo.advertisers.creatives.delete",
                            "parameterOrder": [
                                "advertiserId",
                                "creativeId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "creativeId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/creatives/{+creativeId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/advertisers/{advertisersId}/creatives/{creativesId}",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.creatives.get",
                            "parameterOrder": [
                                "advertiserId",
                                "creativeId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "creativeId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/creatives/{+creativeId}",
                            "response": {
                                "$ref": "Creative"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/advertisers/{advertisersId}/creatives",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.creatives.list",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/creatives",
                            "response": {
                                "$ref": "ListCreativesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/advertisers/{advertisersId}/creatives/{creativesId}",
                            "httpMethod": "PATCH",
                            "id": "displayvideo.advertisers.creatives.patch",
                            "parameterOrder": [
                                "advertiserId",
                                "creativeId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "creativeId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/creatives/{+creativeId}",
                            "request": {
                                "$ref": "Creative"
                            },
                            "response": {
                                "$ref": "Creative"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        }
                    }
                },
                "insertionOrders": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/advertisers/{advertisersId}/insertionOrders",
                            "httpMethod": "POST",
                            "id": "displayvideo.advertisers.insertionOrders.create",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/insertionOrders",
                            "request": {
                                "$ref": "InsertionOrder"
                            },
                            "response": {
                                "$ref": "InsertionOrder"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/advertisers/{advertisersId}/insertionOrders/{insertionOrdersId}",
                            "httpMethod": "DELETE",
                            "id": "displayvideo.advertisers.insertionOrders.delete",
                            "parameterOrder": [
                                "advertiserId",
                                "insertionOrderId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "insertionOrderId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/insertionOrders/{+insertionOrderId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/advertisers/{advertisersId}/insertionOrders/{insertionOrdersId}",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.insertionOrders.get",
                            "parameterOrder": [
                                "advertiserId",
                                "insertionOrderId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "insertionOrderId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/insertionOrders/{+insertionOrderId}",
                            "response": {
                                "$ref": "InsertionOrder"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/advertisers/{advertisersId}/insertionOrders",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.insertionOrders.list",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/insertionOrders",
                            "response": {
                                "$ref": "ListInsertionOrdersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/advertisers/{advertisersId}/insertionOrders/{insertionOrdersId}",
                            "httpMethod": "PATCH",
                            "id": "displayvideo.advertisers.insertionOrders.patch",
                            "parameterOrder": [
                                "advertiserId",
                                "insertionOrderId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "insertionOrderId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/insertionOrders/{+insertionOrderId}",
                            "request": {
                                "$ref": "InsertionOrder"
                            },
                            "response": {
                                "$ref": "InsertionOrder"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        }
                    }
                },
                "lineItems": {
                    "methods": {
                        "bulkEditLineItemAssignedTargetingOptions": {
                            "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}:bulkEditLineItemAssignedTargetingOptions",
                            "httpMethod": "POST",
                            "id": "displayvideo.advertisers.lineItems.bulkEditLineItemAssignedTargetingOptions",
                            "parameterOrder": [
                                "advertiserId",
                                "lineItemId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "lineItemId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}:bulkEditLineItemAssignedTargetingOptions",
                            "request": {
                                "$ref": "BulkEditLineItemAssignedTargetingOptionsRequest"
                            },
                            "response": {
                                "$ref": "BulkEditLineItemAssignedTargetingOptionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "bulkListLineItemAssignedTargetingOptions": {
                            "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}:bulkListLineItemAssignedTargetingOptions",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.lineItems.bulkListLineItemAssignedTargetingOptions",
                            "parameterOrder": [
                                "advertiserId",
                                "lineItemId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "lineItemId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}:bulkListLineItemAssignedTargetingOptions",
                            "response": {
                                "$ref": "BulkListLineItemAssignedTargetingOptionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/advertisers/{advertisersId}/lineItems",
                            "httpMethod": "POST",
                            "id": "displayvideo.advertisers.lineItems.create",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/lineItems",
                            "request": {
                                "$ref": "LineItem"
                            },
                            "response": {
                                "$ref": "LineItem"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}",
                            "httpMethod": "DELETE",
                            "id": "displayvideo.advertisers.lineItems.delete",
                            "parameterOrder": [
                                "advertiserId",
                                "lineItemId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "lineItemId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.lineItems.get",
                            "parameterOrder": [
                                "advertiserId",
                                "lineItemId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "lineItemId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}",
                            "response": {
                                "$ref": "LineItem"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/advertisers/{advertisersId}/lineItems",
                            "httpMethod": "GET",
                            "id": "displayvideo.advertisers.lineItems.list",
                            "parameterOrder": [
                                "advertiserId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/lineItems",
                            "response": {
                                "$ref": "ListLineItemsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}",
                            "httpMethod": "PATCH",
                            "id": "displayvideo.advertisers.lineItems.patch",
                            "parameterOrder": [
                                "advertiserId",
                                "lineItemId"
                            ],
                            "parameters": {
                                "advertiserId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "lineItemId": {
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}",
                            "request": {
                                "$ref": "LineItem"
                            },
                            "response": {
                                "$ref": "LineItem"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/display-video"
                            ]
                        }
                    },
                    "resources": {
                        "targetingTypes": {
                            "resources": {
                                "assignedTargetingOptions": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                                            "httpMethod": "POST",
                                            "id": "displayvideo.advertisers.lineItems.targetingTypes.assignedTargetingOptions.create",
                                            "parameterOrder": [
                                                "advertiserId",
                                                "lineItemId",
                                                "targetingType"
                                            ],
                                            "parameters": {
                                                "advertiserId": {
                                                    "format": "int64",
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "lineItemId": {
                                                    "format": "int64",
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "targetingType": {
                                                    "enum": [
                                                        "TARGETING_TYPE_UNSPECIFIED",
                                                        "TARGETING_TYPE_CHANNEL",
                                                        "TARGETING_TYPE_APP_CATEGORY",
                                                        "TARGETING_TYPE_APP",
                                                        "TARGETING_TYPE_URL",
                                                        "TARGETING_TYPE_DAY_AND_TIME",
                                                        "TARGETING_TYPE_AGE_RANGE",
                                                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                                                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                                                        "TARGETING_TYPE_GENDER",
                                                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                                                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                                                        "TARGETING_TYPE_PARENTAL_STATUS",
                                                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                                                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                                                        "TARGETING_TYPE_DEVICE_TYPE",
                                                        "TARGETING_TYPE_AUDIENCE_GROUP",
                                                        "TARGETING_TYPE_BROWSER",
                                                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                                                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                                                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                                                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                                                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                                                        "TARGETING_TYPE_ENVIRONMENT",
                                                        "TARGETING_TYPE_CARRIER_AND_ISP",
                                                        "TARGETING_TYPE_OPERATING_SYSTEM",
                                                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                                                        "TARGETING_TYPE_KEYWORD",
                                                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                                                        "TARGETING_TYPE_VIEWABILITY",
                                                        "TARGETING_TYPE_CATEGORY",
                                                        "TARGETING_TYPE_INVENTORY_SOURCE",
                                                        "TARGETING_TYPE_LANGUAGE",
                                                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                                                        "TARGETING_TYPE_GEO_REGION",
                                                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                                                        "TARGETING_TYPE_EXCHANGE",
                                                        "TARGETING_TYPE_SUB_EXCHANGE"
                                                    ],
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                                            "request": {
                                                "$ref": "AssignedTargetingOption"
                                            },
                                            "response": {
                                                "$ref": "AssignedTargetingOption"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/display-video"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                                            "httpMethod": "DELETE",
                                            "id": "displayvideo.advertisers.lineItems.targetingTypes.assignedTargetingOptions.delete",
                                            "parameterOrder": [
                                                "advertiserId",
                                                "lineItemId",
                                                "targetingType",
                                                "assignedTargetingOptionId"
                                            ],
                                            "parameters": {
                                                "advertiserId": {
                                                    "format": "int64",
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "assignedTargetingOptionId": {
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "lineItemId": {
                                                    "format": "int64",
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "targetingType": {
                                                    "enum": [
                                                        "TARGETING_TYPE_UNSPECIFIED",
                                                        "TARGETING_TYPE_CHANNEL",
                                                        "TARGETING_TYPE_APP_CATEGORY",
                                                        "TARGETING_TYPE_APP",
                                                        "TARGETING_TYPE_URL",
                                                        "TARGETING_TYPE_DAY_AND_TIME",
                                                        "TARGETING_TYPE_AGE_RANGE",
                                                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                                                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                                                        "TARGETING_TYPE_GENDER",
                                                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                                                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                                                        "TARGETING_TYPE_PARENTAL_STATUS",
                                                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                                                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                                                        "TARGETING_TYPE_DEVICE_TYPE",
                                                        "TARGETING_TYPE_AUDIENCE_GROUP",
                                                        "TARGETING_TYPE_BROWSER",
                                                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                                                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                                                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                                                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                                                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                                                        "TARGETING_TYPE_ENVIRONMENT",
                                                        "TARGETING_TYPE_CARRIER_AND_ISP",
                                                        "TARGETING_TYPE_OPERATING_SYSTEM",
                                                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                                                        "TARGETING_TYPE_KEYWORD",
                                                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                                                        "TARGETING_TYPE_VIEWABILITY",
                                                        "TARGETING_TYPE_CATEGORY",
                                                        "TARGETING_TYPE_INVENTORY_SOURCE",
                                                        "TARGETING_TYPE_LANGUAGE",
                                                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                                                        "TARGETING_TYPE_GEO_REGION",
                                                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                                                        "TARGETING_TYPE_EXCHANGE",
                                                        "TARGETING_TYPE_SUB_EXCHANGE"
                                                    ],
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/display-video"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                                            "httpMethod": "GET",
                                            "id": "displayvideo.advertisers.lineItems.targetingTypes.assignedTargetingOptions.get",
                                            "parameterOrder": [
                                                "advertiserId",
                                                "lineItemId",
                                                "targetingType",
                                                "assignedTargetingOptionId"
                                            ],
                                            "parameters": {
                                                "advertiserId": {
                                                    "format": "int64",
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "assignedTargetingOptionId": {
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "lineItemId": {
                                                    "format": "int64",
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "targetingType": {
                                                    "enum": [
                                                        "TARGETING_TYPE_UNSPECIFIED",
                                                        "TARGETING_TYPE_CHANNEL",
                                                        "TARGETING_TYPE_APP_CATEGORY",
                                                        "TARGETING_TYPE_APP",
                                                        "TARGETING_TYPE_URL",
                                                        "TARGETING_TYPE_DAY_AND_TIME",
                                                        "TARGETING_TYPE_AGE_RANGE",
                                                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                                                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                                                        "TARGETING_TYPE_GENDER",
                                                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                                                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                                                        "TARGETING_TYPE_PARENTAL_STATUS",
                                                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                                                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                                                        "TARGETING_TYPE_DEVICE_TYPE",
                                                        "TARGETING_TYPE_AUDIENCE_GROUP",
                                                        "TARGETING_TYPE_BROWSER",
                                                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                                                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                                                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                                                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                                                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                                                        "TARGETING_TYPE_ENVIRONMENT",
                                                        "TARGETING_TYPE_CARRIER_AND_ISP",
                                                        "TARGETING_TYPE_OPERATING_SYSTEM",
                                                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                                                        "TARGETING_TYPE_KEYWORD",
                                                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                                                        "TARGETING_TYPE_VIEWABILITY",
                                                        "TARGETING_TYPE_CATEGORY",
                                                        "TARGETING_TYPE_INVENTORY_SOURCE",
                                                        "TARGETING_TYPE_LANGUAGE",
                                                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                                                        "TARGETING_TYPE_GEO_REGION",
                                                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                                                        "TARGETING_TYPE_EXCHANGE",
                                                        "TARGETING_TYPE_SUB_EXCHANGE"
                                                    ],
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                                            "response": {
                                                "$ref": "AssignedTargetingOption"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/display-video"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                                            "httpMethod": "GET",
                                            "id": "displayvideo.advertisers.lineItems.targetingTypes.assignedTargetingOptions.list",
                                            "parameterOrder": [
                                                "advertiserId",
                                                "lineItemId",
                                                "targetingType"
                                            ],
                                            "parameters": {
                                                "advertiserId": {
                                                    "format": "int64",
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "lineItemId": {
                                                    "format": "int64",
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "orderBy": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "targetingType": {
                                                    "enum": [
                                                        "TARGETING_TYPE_UNSPECIFIED",
                                                        "TARGETING_TYPE_CHANNEL",
                                                        "TARGETING_TYPE_APP_CATEGORY",
                                                        "TARGETING_TYPE_APP",
                                                        "TARGETING_TYPE_URL",
                                                        "TARGETING_TYPE_DAY_AND_TIME",
                                                        "TARGETING_TYPE_AGE_RANGE",
                                                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                                                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                                                        "TARGETING_TYPE_GENDER",
                                                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                                                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                                                        "TARGETING_TYPE_PARENTAL_STATUS",
                                                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                                                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                                                        "TARGETING_TYPE_DEVICE_TYPE",
                                                        "TARGETING_TYPE_AUDIENCE_GROUP",
                                                        "TARGETING_TYPE_BROWSER",
                                                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                                                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                                                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                                                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                                                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                                                        "TARGETING_TYPE_ENVIRONMENT",
                                                        "TARGETING_TYPE_CARRIER_AND_ISP",
                                                        "TARGETING_TYPE_OPERATING_SYSTEM",
                                                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                                                        "TARGETING_TYPE_KEYWORD",
                                                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                                                        "TARGETING_TYPE_VIEWABILITY",
                                                        "TARGETING_TYPE_CATEGORY",
                                                        "TARGETING_TYPE_INVENTORY_SOURCE",
                                                        "TARGETING_TYPE_LANGUAGE",
                                                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                                                        "TARGETING_TYPE_GEO_REGION",
                                                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                                                        "TARGETING_TYPE_EXCHANGE",
                                                        "TARGETING_TYPE_SUB_EXCHANGE"
                                                    ],
                                                    "location": "path",
                                                    "pattern": "^[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                                            "response": {
                                                "$ref": "ListLineItemAssignedTargetingOptionsResponse"
                                            },
                                            "scopes": [
[...]
