{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://dlp.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "DLP",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/dlp/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "dlp:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
    "name": "dlp",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "infoTypes": {
            "methods": {
                "list": {
                    "flatPath": "v2/infoTypes",
                    "httpMethod": "GET",
                    "id": "dlp.infoTypes.list",
                    "parameterOrder": [],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "languageCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "locationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/infoTypes",
                    "response": {
                        "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "locations": {
            "resources": {
                "infoTypes": {
                    "methods": {
                        "list": {
                            "flatPath": "v2/locations/{locationsId}/infoTypes",
                            "httpMethod": "GET",
                            "id": "dlp.locations.infoTypes.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "languageCode": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "locationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/infoTypes",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "organizations": {
            "resources": {
                "deidentifyTemplates": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates",
                            "httpMethod": "POST",
                            "id": "dlp.organizations.deidentifyTemplates.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/deidentifyTemplates",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                            "httpMethod": "DELETE",
                            "id": "dlp.organizations.deidentifyTemplates.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                            "httpMethod": "GET",
                            "id": "dlp.organizations.deidentifyTemplates.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates",
                            "httpMethod": "GET",
                            "id": "dlp.organizations.deidentifyTemplates.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "locationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/deidentifyTemplates",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/organizations/{organizationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                            "httpMethod": "PATCH",
                            "id": "dlp.organizations.deidentifyTemplates.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/deidentifyTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "inspectTemplates": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/organizations/{organizationsId}/inspectTemplates",
                            "httpMethod": "POST",
                            "id": "dlp.organizations.inspectTemplates.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/inspectTemplates",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2InspectTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
                            "httpMethod": "DELETE",
                            "id": "dlp.organizations.inspectTemplates.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
                            "httpMethod": "GET",
                            "id": "dlp.organizations.inspectTemplates.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2InspectTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/organizations/{organizationsId}/inspectTemplates",
                            "httpMethod": "GET",
                            "id": "dlp.organizations.inspectTemplates.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "locationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/inspectTemplates",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
                            "httpMethod": "PATCH",
                            "id": "dlp.organizations.inspectTemplates.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2InspectTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "locations": {
                    "resources": {
                        "deidentifyTemplates": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates",
                                    "httpMethod": "POST",
                                    "id": "dlp.organizations.locations.deidentifyTemplates.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/deidentifyTemplates",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                                    "httpMethod": "DELETE",
                                    "id": "dlp.organizations.locations.deidentifyTemplates.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobufEmpty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                                    "httpMethod": "GET",
                                    "id": "dlp.organizations.locations.deidentifyTemplates.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates",
                                    "httpMethod": "GET",
                                    "id": "dlp.organizations.locations.deidentifyTemplates.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "locationId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/deidentifyTemplates",
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                                    "httpMethod": "PATCH",
                                    "id": "dlp.organizations.locations.deidentifyTemplates.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "inspectTemplates": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates",
                                    "httpMethod": "POST",
                                    "id": "dlp.organizations.locations.inspectTemplates.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/inspectTemplates",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2InspectTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                                    "httpMethod": "DELETE",
                                    "id": "dlp.organizations.locations.inspectTemplates.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobufEmpty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                                    "httpMethod": "GET",
                                    "id": "dlp.organizations.locations.inspectTemplates.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2InspectTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates",
                                    "httpMethod": "GET",
                                    "id": "dlp.organizations.locations.inspectTemplates.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "locationId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/inspectTemplates",
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                                    "httpMethod": "PATCH",
                                    "id": "dlp.organizations.locations.inspectTemplates.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2InspectTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "storedInfoTypes": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes",
                                    "httpMethod": "POST",
                                    "id": "dlp.organizations.locations.storedInfoTypes.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/storedInfoTypes",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2StoredInfoType"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                                    "httpMethod": "DELETE",
                                    "id": "dlp.organizations.locations.storedInfoTypes.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobufEmpty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                                    "httpMethod": "GET",
                                    "id": "dlp.organizations.locations.storedInfoTypes.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2StoredInfoType"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes",
                                    "httpMethod": "GET",
                                    "id": "dlp.organizations.locations.storedInfoTypes.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "locationId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/storedInfoTypes",
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                                    "httpMethod": "PATCH",
                                    "id": "dlp.organizations.locations.storedInfoTypes.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2StoredInfoType"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "storedInfoTypes": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes",
                            "httpMethod": "POST",
                            "id": "dlp.organizations.storedInfoTypes.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/storedInfoTypes",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2StoredInfoType"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
                            "httpMethod": "DELETE",
                            "id": "dlp.organizations.storedInfoTypes.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
                            "httpMethod": "GET",
                            "id": "dlp.organizations.storedInfoTypes.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2StoredInfoType"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes",
                            "httpMethod": "GET",
                            "id": "dlp.organizations.storedInfoTypes.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "locationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/storedInfoTypes",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
                            "httpMethod": "PATCH",
                            "id": "dlp.organizations.storedInfoTypes.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2StoredInfoType"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "projects": {
            "resources": {
                "content": {
                    "methods": {
                        "deidentify": {
                            "flatPath": "v2/projects/{projectsId}/content:deidentify",
                            "httpMethod": "POST",
                            "id": "dlp.projects.content.deidentify",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/content:deidentify",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2DeidentifyContentRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DeidentifyContentResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "inspect": {
                            "flatPath": "v2/projects/{projectsId}/content:inspect",
                            "httpMethod": "POST",
                            "id": "dlp.projects.content.inspect",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/content:inspect",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2InspectContentRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2InspectContentResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "reidentify": {
                            "flatPath": "v2/projects/{projectsId}/content:reidentify",
                            "httpMethod": "POST",
                            "id": "dlp.projects.content.reidentify",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/content:reidentify",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2ReidentifyContentRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2ReidentifyContentResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "deidentifyTemplates": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/projects/{projectsId}/deidentifyTemplates",
                            "httpMethod": "POST",
                            "id": "dlp.projects.deidentifyTemplates.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/deidentifyTemplates",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                            "httpMethod": "DELETE",
                            "id": "dlp.projects.deidentifyTemplates.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                            "httpMethod": "GET",
                            "id": "dlp.projects.deidentifyTemplates.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/projects/{projectsId}/deidentifyTemplates",
                            "httpMethod": "GET",
                            "id": "dlp.projects.deidentifyTemplates.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "locationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/deidentifyTemplates",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                            "httpMethod": "PATCH",
                            "id": "dlp.projects.deidentifyTemplates.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "dlpJobs": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}:cancel",
                            "httpMethod": "POST",
                            "id": "dlp.projects.dlpJobs.cancel",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}:cancel",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2CancelDlpJobRequest"
                            },
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v2/projects/{projectsId}/dlpJobs",
                            "httpMethod": "POST",
                            "id": "dlp.projects.dlpJobs.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/dlpJobs",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2CreateDlpJobRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DlpJob"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
                            "httpMethod": "DELETE",
                            "id": "dlp.projects.dlpJobs.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
                            "httpMethod": "GET",
                            "id": "dlp.projects.dlpJobs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DlpJob"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/projects/{projectsId}/dlpJobs",
                            "httpMethod": "GET",
                            "id": "dlp.projects.dlpJobs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "locationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "type": {
                                    "enum": [
                                        "DLP_JOB_TYPE_UNSPECIFIED",
                                        "INSPECT_JOB",
                                        "RISK_ANALYSIS_JOB"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/dlpJobs",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2ListDlpJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "image": {
                    "methods": {
                        "redact": {
                            "flatPath": "v2/projects/{projectsId}/image:redact",
                            "httpMethod": "POST",
                            "id": "dlp.projects.image.redact",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/image:redact",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2RedactImageRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2RedactImageResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "inspectTemplates": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/projects/{projectsId}/inspectTemplates",
                            "httpMethod": "POST",
                            "id": "dlp.projects.inspectTemplates.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/inspectTemplates",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2InspectTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
                            "httpMethod": "DELETE",
                            "id": "dlp.projects.inspectTemplates.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
                            "httpMethod": "GET",
                            "id": "dlp.projects.inspectTemplates.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2InspectTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/projects/{projectsId}/inspectTemplates",
                            "httpMethod": "GET",
                            "id": "dlp.projects.inspectTemplates.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "locationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/inspectTemplates",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
                            "httpMethod": "PATCH",
                            "id": "dlp.projects.inspectTemplates.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2InspectTemplate"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "jobTriggers": {
                    "methods": {
                        "activate": {
                            "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}:activate",
                            "httpMethod": "POST",
                            "id": "dlp.projects.jobTriggers.activate",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}:activate",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2DlpJob"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v2/projects/{projectsId}/jobTriggers",
                            "httpMethod": "POST",
                            "id": "dlp.projects.jobTriggers.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/jobTriggers",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2CreateJobTriggerRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2JobTrigger"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
                            "httpMethod": "DELETE",
                            "id": "dlp.projects.jobTriggers.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
                            "httpMethod": "GET",
                            "id": "dlp.projects.jobTriggers.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2JobTrigger"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/projects/{projectsId}/jobTriggers",
                            "httpMethod": "GET",
                            "id": "dlp.projects.jobTriggers.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "locationId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/jobTriggers",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2ListJobTriggersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
                            "httpMethod": "PATCH",
                            "id": "dlp.projects.jobTriggers.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
                            },
                            "response": {
                                "$ref": "GooglePrivacyDlpV2JobTrigger"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "locations": {
                    "resources": {
                        "content": {
                            "methods": {
                                "deidentify": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:deidentify",
                                    "httpMethod": "POST",
                                    "id": "dlp.projects.locations.content.deidentify",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/content:deidentify",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2DeidentifyContentRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2DeidentifyContentResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "inspect": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:inspect",
                                    "httpMethod": "POST",
                                    "id": "dlp.projects.locations.content.inspect",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/content:inspect",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2InspectContentRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2InspectContentResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "reidentify": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:reidentify",
                                    "httpMethod": "POST",
                                    "id": "dlp.projects.locations.content.reidentify",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/content:reidentify",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2ReidentifyContentRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2ReidentifyContentResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "deidentifyTemplates": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates",
                                    "httpMethod": "POST",
                                    "id": "dlp.projects.locations.deidentifyTemplates.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/deidentifyTemplates",
                                    "request": {
                                        "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                                    },
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                                    "httpMethod": "DELETE",
                                    "id": "dlp.projects.locations.deidentifyTemplates.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobufEmpty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                                    "httpMethod": "GET",
                                    "id": "dlp.projects.locations.deidentifyTemplates.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates",
                                    "httpMethod": "GET",
                                    "id": "dlp.projects.locations.deidentifyTemplates.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "locationId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/deidentifyTemplates",
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                                    "httpMethod": "PATCH",
[...]
