{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {},
                "https://www.googleapis.com/auth/ndev.clouddns.readonly": {},
                "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {}
            }
        }
    },
    "basePath": "/dns/v1/projects/",
    "baseUrl": "https://dns.googleapis.com/dns/v1/projects/",
    "batchPath": "batch/dns/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/cloud-dns",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "dns:v1",
    "kind": "discovery#restDescription",
    "name": "dns",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "changes": {
            "methods": {
                "create": {
                    "httpMethod": "POST",
                    "id": "dns.changes.create",
                    "parameterOrder": [
                        "project",
                        "managedZone"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}/changes",
                    "request": {
                        "$ref": "Change"
                    },
                    "response": {
                        "$ref": "Change"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "dns.changes.get",
                    "parameterOrder": [
                        "project",
                        "managedZone",
                        "changeId"
                    ],
                    "parameters": {
                        "changeId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}/changes/{changeId}",
                    "response": {
                        "$ref": "Change"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "dns.changes.list",
                    "parameterOrder": [
                        "project",
                        "managedZone"
                    ],
                    "parameters": {
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sortBy": {
                            "default": "changeSequence",
                            "enum": [
                                "changeSequence"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "sortOrder": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}/changes",
                    "response": {
                        "$ref": "ChangesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                }
            }
        },
        "dnsKeys": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "dns.dnsKeys.get",
                    "parameterOrder": [
                        "project",
                        "managedZone",
                        "dnsKeyId"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "digestType": {
                            "location": "query",
                            "type": "string"
                        },
                        "dnsKeyId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
                    "response": {
                        "$ref": "DnsKey"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "dns.dnsKeys.list",
                    "parameterOrder": [
                        "project",
                        "managedZone"
                    ],
                    "parameters": {
                        "digestType": {
                            "location": "query",
                            "type": "string"
                        },
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}/dnsKeys",
                    "response": {
                        "$ref": "DnsKeysListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                }
            }
        },
        "managedZoneOperations": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "dns.managedZoneOperations.get",
                    "parameterOrder": [
                        "project",
                        "managedZone",
                        "operation"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "operation": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}/operations/{operation}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "dns.managedZoneOperations.list",
                    "parameterOrder": [
                        "project",
                        "managedZone"
                    ],
                    "parameters": {
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sortBy": {
                            "default": "startTime",
                            "enum": [
                                "id",
                                "startTime"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}/operations",
                    "response": {
                        "$ref": "ManagedZoneOperationsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                }
            }
        },
        "managedZones": {
            "methods": {
                "create": {
                    "httpMethod": "POST",
                    "id": "dns.managedZones.create",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones",
                    "request": {
                        "$ref": "ManagedZone"
                    },
                    "response": {
                        "$ref": "ManagedZone"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "dns.managedZones.delete",
                    "parameterOrder": [
                        "project",
                        "managedZone"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "dns.managedZones.get",
                    "parameterOrder": [
                        "project",
                        "managedZone"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}",
                    "response": {
                        "$ref": "ManagedZone"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "dns.managedZones.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "dnsName": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones",
                    "response": {
                        "$ref": "ManagedZonesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "dns.managedZones.patch",
                    "parameterOrder": [
                        "project",
                        "managedZone"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}",
                    "request": {
                        "$ref": "ManagedZone"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "dns.managedZones.update",
                    "parameterOrder": [
                        "project",
                        "managedZone"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}",
                    "request": {
                        "$ref": "ManagedZone"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                }
            }
        },
        "policies": {
            "methods": {
                "create": {
                    "httpMethod": "POST",
                    "id": "dns.policies.create",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/policies",
                    "request": {
                        "$ref": "Policy"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "dns.policies.delete",
                    "parameterOrder": [
                        "project",
                        "policy"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "policy": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/policies/{policy}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "dns.policies.get",
                    "parameterOrder": [
                        "project",
                        "policy"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "policy": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/policies/{policy}",
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "dns.policies.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/policies",
                    "response": {
                        "$ref": "PoliciesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "dns.policies.patch",
                    "parameterOrder": [
                        "project",
                        "policy"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "policy": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/policies/{policy}",
                    "request": {
                        "$ref": "Policy"
                    },
                    "response": {
                        "$ref": "PoliciesPatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "dns.policies.update",
                    "parameterOrder": [
                        "project",
                        "policy"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "policy": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/policies/{policy}",
                    "request": {
                        "$ref": "Policy"
                    },
                    "response": {
                        "$ref": "PoliciesUpdateResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                }
            }
        },
        "projects": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "dns.projects.get",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "clientOperationId": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}",
                    "response": {
                        "$ref": "Project"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                }
            }
        },
        "resourceRecordSets": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "dns.resourceRecordSets.list",
                    "parameterOrder": [
                        "project",
                        "managedZone"
                    ],
                    "parameters": {
                        "managedZone": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "name": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "type": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{project}/managedZones/{managedZone}/rrsets",
                    "response": {
                        "$ref": "ResourceRecordSetsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                        "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://dns.googleapis.com/",
    "schemas": {
        "Change": {
            "id": "Change",
            "properties": {
                "additions": {
                    "items": {
                        "$ref": "ResourceRecordSet"
                    },
                    "type": "array"
                },
                "deletions": {
                    "items": {
                        "$ref": "ResourceRecordSet"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                },
                "isServing": {
                    "type": "boolean"
                },
                "kind": {
                    "default": "dns#change",
                    "type": "string"
                },
                "startTime": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "done",
                        "pending"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChangesListResponse": {
            "id": "ChangesListResponse",
            "properties": {
                "changes": {
                    "items": {
                        "$ref": "Change"
                    },
                    "type": "array"
                },
                "header": {
                    "$ref": "ResponseHeader"
                },
                "kind": {
                    "default": "dns#changesListResponse",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DnsKey": {
            "id": "DnsKey",
            "properties": {
                "algorithm": {
                    "enum": [
                        "ecdsap256sha256",
                        "ecdsap384sha384",
                        "rsasha1",
                        "rsasha256",
                        "rsasha512"
                    ],
                    "type": "string"
                },
                "creationTime": {
                    "type": "string"
                },
                "digests": {
                    "items": {
                        "$ref": "DnsKeyDigest"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                },
                "isActive": {
                    "type": "boolean"
                },
                "keyLength": {
                    "format": "uint32",
                    "type": "integer"
                },
                "keyTag": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "default": "dns#dnsKey",
                    "type": "string"
                },
                "publicKey": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "keySigning",
                        "zoneSigning"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DnsKeyDigest": {
            "id": "DnsKeyDigest",
            "properties": {
                "digest": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "sha1",
                        "sha256",
                        "sha384"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DnsKeySpec": {
            "id": "DnsKeySpec",
            "properties": {
                "algorithm": {
                    "enum": [
                        "ecdsap256sha256",
                        "ecdsap384sha384",
                        "rsasha1",
                        "rsasha256",
                        "rsasha512"
                    ],
                    "type": "string"
                },
                "keyLength": {
                    "format": "uint32",
                    "type": "integer"
                },
                "keyType": {
                    "enum": [
                        "keySigning",
                        "zoneSigning"
                    ],
                    "type": "string"
                },
                "kind": {
                    "default": "dns#dnsKeySpec",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DnsKeysListResponse": {
            "id": "DnsKeysListResponse",
            "properties": {
                "dnsKeys": {
                    "items": {
                        "$ref": "DnsKey"
                    },
                    "type": "array"
                },
                "header": {
                    "$ref": "ResponseHeader"
                },
                "kind": {
                    "default": "dns#dnsKeysListResponse",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedZone": {
            "id": "ManagedZone",
            "properties": {
                "creationTime": {
                    "type": "string"
                },
                "dnsName": {
                    "type": "string"
                },
                "dnssecConfig": {
                    "$ref": "ManagedZoneDnsSecConfig"
                },
                "forwardingConfig": {
                    "$ref": "ManagedZoneForwardingConfig"
                },
                "id": {
                    "format": "uint64",
                    "type": "string"
                },
                "kind": {
                    "default": "dns#managedZone",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "nameServerSet": {
                    "type": "string"
                },
                "nameServers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "peeringConfig": {
                    "$ref": "ManagedZonePeeringConfig"
                },
                "privateVisibilityConfig": {
                    "$ref": "ManagedZonePrivateVisibilityConfig"
                },
                "visibility": {
                    "enum": [
                        "private",
                        "public"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedZoneDnsSecConfig": {
            "id": "ManagedZoneDnsSecConfig",
            "properties": {
                "defaultKeySpecs": {
                    "items": {
                        "$ref": "DnsKeySpec"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "dns#managedZoneDnsSecConfig",
                    "type": "string"
                },
                "nonExistence": {
                    "enum": [
                        "nsec",
                        "nsec3"
                    ],
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "off",
                        "on",
                        "transfer"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedZoneForwardingConfig": {
            "id": "ManagedZoneForwardingConfig",
            "properties": {
                "kind": {
                    "default": "dns#managedZoneForwardingConfig",
                    "type": "string"
                },
                "targetNameServers": {
                    "items": {
                        "$ref": "ManagedZoneForwardingConfigNameServerTarget"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ManagedZoneForwardingConfigNameServerTarget": {
            "id": "ManagedZoneForwardingConfigNameServerTarget",
            "properties": {
                "ipv4Address": {
                    "type": "string"
                },
                "kind": {
                    "default": "dns#managedZoneForwardingConfigNameServerTarget",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedZoneOperationsListResponse": {
            "id": "ManagedZoneOperationsListResponse",
            "properties": {
                "header": {
                    "$ref": "ResponseHeader"
                },
                "kind": {
                    "default": "dns#managedZoneOperationsListResponse",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ManagedZonePeeringConfig": {
            "id": "ManagedZonePeeringConfig",
            "properties": {
                "kind": {
                    "default": "dns#managedZonePeeringConfig",
                    "type": "string"
                },
                "targetNetwork": {
                    "$ref": "ManagedZonePeeringConfigTargetNetwork"
                }
            },
            "type": "object"
        },
        "ManagedZonePeeringConfigTargetNetwork": {
            "id": "ManagedZonePeeringConfigTargetNetwork",
            "properties": {
                "deactivateTime": {
                    "type": "string"
                },
                "kind": {
                    "default": "dns#managedZonePeeringConfigTargetNetwork",
                    "type": "string"
                },
                "networkUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedZonePrivateVisibilityConfig": {
            "id": "ManagedZonePrivateVisibilityConfig",
            "properties": {
                "kind": {
                    "default": "dns#managedZonePrivateVisibilityConfig",
                    "type": "string"
                },
                "networks": {
                    "items": {
                        "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ManagedZonePrivateVisibilityConfigNetwork": {
            "id": "ManagedZonePrivateVisibilityConfigNetwork",
            "properties": {
                "kind": {
                    "default": "dns#managedZonePrivateVisibilityConfigNetwork",
                    "type": "string"
                },
                "networkUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedZonesListResponse": {
            "id": "ManagedZonesListResponse",
            "properties": {
                "header": {
                    "$ref": "ResponseHeader"
                },
                "kind": {
                    "default": "dns#managedZonesListResponse",
                    "type": "string"
                },
                "managedZones": {
                    "items": {
                        "$ref": "ManagedZone"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "dnsKeyContext": {
                    "$ref": "OperationDnsKeyContext"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "dns#operation",
                    "type": "string"
                },
                "startTime": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "done",
                        "pending"
                    ],
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "user": {
                    "type": "string"
                },
                "zoneContext": {
                    "$ref": "OperationManagedZoneContext"
                }
            },
            "type": "object"
        },
        "OperationDnsKeyContext": {
            "id": "OperationDnsKeyContext",
            "properties": {
                "newValue": {
                    "$ref": "DnsKey"
                },
                "oldValue": {
                    "$ref": "DnsKey"
                }
            },
            "type": "object"
        },
        "OperationManagedZoneContext": {
            "id": "OperationManagedZoneContext",
            "properties": {
                "newValue": {
                    "$ref": "ManagedZone"
                },
                "oldValue": {
                    "$ref": "ManagedZone"
                }
            },
            "type": "object"
        },
        "PoliciesListResponse": {
            "id": "PoliciesListResponse",
            "properties": {
                "header": {
                    "$ref": "ResponseHeader"
                },
                "kind": {
                    "default": "dns#policiesListResponse",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "policies": {
                    "items": {
                        "$ref": "Policy"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PoliciesPatchResponse": {
            "id": "PoliciesPatchResponse",
            "properties": {
                "header": {
                    "$ref": "ResponseHeader"
                },
                "policy": {
                    "$ref": "Policy"
                }
            },
            "type": "object"
        },
        "PoliciesUpdateResponse": {
            "id": "PoliciesUpdateResponse",
            "properties": {
                "header": {
                    "$ref": "ResponseHeader"
                },
                "policy": {
                    "$ref": "Policy"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "alternativeNameServerConfig": {
                    "$ref": "PolicyAlternativeNameServerConfig"
                },
                "enableInboundForwarding": {
                    "type": "boolean"
                },
                "enableLogging": {
                    "type": "boolean"
                },
                "id": {
                    "format": "uint64",
                    "type": "string"
                },
                "kind": {
                    "default": "dns#policy",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "networks": {
                    "items": {
                        "$ref": "PolicyNetwork"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PolicyAlternativeNameServerConfig": {
            "id": "PolicyAlternativeNameServerConfig",
            "properties": {
                "kind": {
                    "default": "dns#policyAlternativeNameServerConfig",
                    "type": "string"
                },
                "targetNameServers": {
                    "items": {
                        "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PolicyAlternativeNameServerConfigTargetNameServer": {
            "id": "PolicyAlternativeNameServerConfigTargetNameServer",
            "properties": {
                "ipv4Address": {
                    "type": "string"
                },
                "kind": {
                    "default": "dns#policyAlternativeNameServerConfigTargetNameServer",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PolicyNetwork": {
            "id": "PolicyNetwork",
            "properties": {
                "kind": {
                    "default": "dns#policyNetwork",
                    "type": "string"
                },
                "networkUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Project": {
            "id": "Project",
            "properties": {
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "dns#project",
                    "type": "string"
                },
                "number": {
                    "format": "uint64",
                    "type": "string"
                },
                "quota": {
                    "$ref": "Quota"
                }
            },
            "type": "object"
        },
        "Quota": {
            "id": "Quota",
            "properties": {
                "dnsKeysPerManagedZone": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "default": "dns#quota",
                    "type": "string"
                },
                "managedZones": {
                    "format": "int32",
                    "type": "integer"
                },
                "managedZonesPerNetwork": {
                    "format": "int32",
                    "type": "integer"
                },
                "networksPerManagedZone": {
                    "format": "int32",
                    "type": "integer"
                },
                "networksPerPolicy": {
                    "format": "int32",
                    "type": "integer"
                },
                "policies": {
                    "format": "int32",
                    "type": "integer"
                },
                "resourceRecordsPerRrset": {
                    "format": "int32",
                    "type": "integer"
                },
                "rrsetAdditionsPerChange": {
                    "format": "int32",
                    "type": "integer"
                },
                "rrsetDeletionsPerChange": {
                    "format": "int32",
                    "type": "integer"
                },
                "rrsetsPerManagedZone": {
                    "format": "int32",
                    "type": "integer"
                },
                "targetNameServersPerManagedZone": {
                    "format": "int32",
                    "type": "integer"
                },
                "targetNameServersPerPolicy": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalRrdataSizePerChange": {
                    "format": "int32",
                    "type": "integer"
                },
                "whitelistedKeySpecs": {
                    "items": {
                        "$ref": "DnsKeySpec"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ResourceRecordSet": {
            "id": "ResourceRecordSet",
            "properties": {
                "kind": {
                    "default": "dns#resourceRecordSet",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "rrdatas": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "signatureRrdatas": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "ttl": {
                    "format": "int32",
                    "type": "integer"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResourceRecordSetsListResponse": {
            "id": "ResourceRecordSetsListResponse",
            "properties": {
                "header": {
                    "$ref": "ResponseHeader"
                },
                "kind": {
                    "default": "dns#resourceRecordSetsListResponse",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "rrsets": {
                    "items": {
                        "$ref": "ResourceRecordSet"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ResponseHeader": {
            "id": "ResponseHeader",
            "properties": {
                "operationId": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "dns/v1/projects/",
    "title": "Google Cloud DNS API",
    "version": "v1"
}