{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/documents": {},
                "https://www.googleapis.com/auth/documents.readonly": {},
                "https://www.googleapis.com/auth/drive": {},
                "https://www.googleapis.com/auth/drive.file": {},
                "https://www.googleapis.com/auth/drive.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://docs.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Docs",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "docs:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
    "name": "docs",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "documents": {
            "methods": {
                "batchUpdate": {
                    "flatPath": "v1/documents/{documentId}:batchUpdate",
                    "httpMethod": "POST",
                    "id": "docs.documents.batchUpdate",
                    "parameterOrder": [
                        "documentId"
                    ],
                    "parameters": {
                        "documentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/documents/{documentId}:batchUpdate",
                    "request": {
                        "$ref": "BatchUpdateDocumentRequest"
                    },
                    "response": {
                        "$ref": "BatchUpdateDocumentResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/documents",
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "create": {
                    "flatPath": "v1/documents",
                    "httpMethod": "POST",
                    "id": "docs.documents.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/documents",
                    "request": {
                        "$ref": "Document"
                    },
                    "response": {
                        "$ref": "Document"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/documents",
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "get": {
                    "flatPath": "v1/documents/{documentId}",
                    "httpMethod": "GET",
                    "id": "docs.documents.get",
                    "parameterOrder": [
                        "documentId"
                    ],
                    "parameters": {
                        "documentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "suggestionsViewMode": {
                            "enum": [
                                "DEFAULT_FOR_CURRENT_ACCESS",
                                "SUGGESTIONS_INLINE",
                                "PREVIEW_SUGGESTIONS_ACCEPTED",
                                "PREVIEW_WITHOUT_SUGGESTIONS"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/documents/{documentId}",
                    "response": {
                        "$ref": "Document"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/documents",
                        "https://www.googleapis.com/auth/documents.readonly",
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://docs.googleapis.com/",
    "schemas": {
        "AutoText": {
            "id": "AutoText",
            "properties": {
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedTextStyleChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedTextStyle"
                    },
                    "type": "object"
                },
                "textStyle": {
                    "$ref": "TextStyle"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "PAGE_NUMBER",
                        "PAGE_COUNT"
                    ],
                    "enumDescriptions": [
                        "An unspecified auto text type.",
                        "Type for auto text that represents the current page number.",
                        "Type for auto text that represents the total number of pages in the\ndocument."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Background": {
            "id": "Background",
            "properties": {
                "color": {
                    "$ref": "OptionalColor"
                }
            },
            "type": "object"
        },
        "BackgroundSuggestionState": {
            "id": "BackgroundSuggestionState",
            "properties": {
                "backgroundColorSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BatchUpdateDocumentRequest": {
            "id": "BatchUpdateDocumentRequest",
            "properties": {
                "requests": {
                    "items": {
                        "$ref": "Request"
                    },
                    "type": "array"
                },
                "writeControl": {
                    "$ref": "WriteControl"
                }
            },
            "type": "object"
        },
        "BatchUpdateDocumentResponse": {
            "id": "BatchUpdateDocumentResponse",
            "properties": {
                "documentId": {
                    "type": "string"
                },
                "replies": {
                    "items": {
                        "$ref": "Response"
                    },
                    "type": "array"
                },
                "writeControl": {
                    "$ref": "WriteControl"
                }
            },
            "type": "object"
        },
        "Body": {
            "id": "Body",
            "properties": {
                "content": {
                    "items": {
                        "$ref": "StructuralElement"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Bullet": {
            "id": "Bullet",
            "properties": {
                "listId": {
                    "type": "string"
                },
                "nestingLevel": {
                    "format": "int32",
                    "type": "integer"
                },
                "textStyle": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "BulletSuggestionState": {
            "id": "BulletSuggestionState",
            "properties": {
                "listIdSuggested": {
                    "type": "boolean"
                },
                "nestingLevelSuggested": {
                    "type": "boolean"
                },
                "textStyleSuggestionState": {
                    "$ref": "TextStyleSuggestionState"
                }
            },
            "type": "object"
        },
        "Color": {
            "id": "Color",
            "properties": {
                "rgbColor": {
                    "$ref": "RgbColor"
                }
            },
            "type": "object"
        },
        "ColumnBreak": {
            "id": "ColumnBreak",
            "properties": {
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedTextStyleChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedTextStyle"
                    },
                    "type": "object"
                },
                "textStyle": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "CreateFooterRequest": {
            "id": "CreateFooterRequest",
            "properties": {
                "sectionBreakLocation": {
                    "$ref": "Location"
                },
                "type": {
                    "enum": [
                        "HEADER_FOOTER_TYPE_UNSPECIFIED",
                        "DEFAULT"
                    ],
                    "enumDescriptions": [
                        "The header/footer type is unspecified.",
                        "A default header/footer."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateFooterResponse": {
            "id": "CreateFooterResponse",
            "properties": {
                "footerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateFootnoteRequest": {
            "id": "CreateFootnoteRequest",
            "properties": {
                "endOfSegmentLocation": {
                    "$ref": "EndOfSegmentLocation"
                },
                "location": {
                    "$ref": "Location"
                }
            },
            "type": "object"
        },
        "CreateFootnoteResponse": {
            "id": "CreateFootnoteResponse",
            "properties": {
                "footnoteId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateHeaderRequest": {
            "id": "CreateHeaderRequest",
            "properties": {
                "sectionBreakLocation": {
                    "$ref": "Location"
                },
                "type": {
                    "enum": [
                        "HEADER_FOOTER_TYPE_UNSPECIFIED",
                        "DEFAULT"
                    ],
                    "enumDescriptions": [
                        "The header/footer type is unspecified.",
                        "A default header/footer."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateHeaderResponse": {
            "id": "CreateHeaderResponse",
            "properties": {
                "headerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateNamedRangeRequest": {
            "id": "CreateNamedRangeRequest",
            "properties": {
                "name": {
                    "type": "string"
                },
                "range": {
                    "$ref": "Range"
                }
            },
            "type": "object"
        },
        "CreateNamedRangeResponse": {
            "id": "CreateNamedRangeResponse",
            "properties": {
                "namedRangeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateParagraphBulletsRequest": {
            "id": "CreateParagraphBulletsRequest",
            "properties": {
                "bulletPreset": {
                    "enum": [
                        "BULLET_GLYPH_PRESET_UNSPECIFIED",
                        "BULLET_DISC_CIRCLE_SQUARE",
                        "BULLET_DIAMONDX_ARROW3D_SQUARE",
                        "BULLET_CHECKBOX",
                        "BULLET_ARROW_DIAMOND_DISC",
                        "BULLET_STAR_CIRCLE_SQUARE",
                        "BULLET_ARROW3D_CIRCLE_SQUARE",
                        "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
                        "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
                        "BULLET_DIAMOND_CIRCLE_SQUARE",
                        "NUMBERED_DECIMAL_ALPHA_ROMAN",
                        "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS",
                        "NUMBERED_DECIMAL_NESTED",
                        "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
                        "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL",
                        "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
                    ],
                    "enumDescriptions": [
                        "The bullet glyph preset is unspecified.",
                        "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the\nfirst 3 list nesting levels.",
                        "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for\nthe first 3 list nesting levels.",
                        "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
                        "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for\nthe first 3 list nesting levels.",
                        "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for\nthe first 3 list nesting levels.",
                        "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for\nthe first 3 list nesting levels.",
                        "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph\nfor the first 3 list nesting levels.",
                        "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet\nglyph for the first 3 list nesting levels.",
                        "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph\nfor the first 3 list nesting levels.",
                        "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for\nthe first 3 list nesting levels, followed by periods.",
                        "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for\nthe first 3 list nesting levels, followed by parenthesis.",
                        "A numbered list with `DECIMAL` numeric glyphs separated by periods, where\neach nesting level uses the previous nesting level's glyph as a prefix.\nFor example: '1.', '1.1.', '2.', '2.2.'.",
                        "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for\nthe first 3 list nesting levels, followed by periods.",
                        "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DECIMAL` numeric\nglyphs for the first 3 list nesting levels, followed by periods.",
                        "A numbered list with `ZERODECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for\nthe first 3 list nesting levels, followed by periods."
                    ],
                    "type": "string"
                },
                "range": {
                    "$ref": "Range"
                }
            },
            "type": "object"
        },
        "CropProperties": {
            "id": "CropProperties",
            "properties": {
                "angle": {
                    "format": "float",
                    "type": "number"
                },
                "offsetBottom": {
                    "format": "float",
                    "type": "number"
                },
                "offsetLeft": {
                    "format": "float",
                    "type": "number"
                },
                "offsetRight": {
                    "format": "float",
                    "type": "number"
                },
                "offsetTop": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "CropPropertiesSuggestionState": {
            "id": "CropPropertiesSuggestionState",
            "properties": {
                "angleSuggested": {
                    "type": "boolean"
                },
                "offsetBottomSuggested": {
                    "type": "boolean"
                },
                "offsetLeftSuggested": {
                    "type": "boolean"
                },
                "offsetRightSuggested": {
                    "type": "boolean"
                },
                "offsetTopSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DeleteContentRangeRequest": {
            "id": "DeleteContentRangeRequest",
            "properties": {
                "range": {
                    "$ref": "Range"
                }
            },
            "type": "object"
        },
        "DeleteFooterRequest": {
            "id": "DeleteFooterRequest",
            "properties": {
                "footerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteHeaderRequest": {
            "id": "DeleteHeaderRequest",
            "properties": {
                "headerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteNamedRangeRequest": {
            "id": "DeleteNamedRangeRequest",
            "properties": {
                "name": {
                    "type": "string"
                },
                "namedRangeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteParagraphBulletsRequest": {
            "id": "DeleteParagraphBulletsRequest",
            "properties": {
                "range": {
                    "$ref": "Range"
                }
            },
            "type": "object"
        },
        "DeletePositionedObjectRequest": {
            "id": "DeletePositionedObjectRequest",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteTableColumnRequest": {
            "id": "DeleteTableColumnRequest",
            "properties": {
                "tableCellLocation": {
                    "$ref": "TableCellLocation"
                }
            },
            "type": "object"
        },
        "DeleteTableRowRequest": {
            "id": "DeleteTableRowRequest",
            "properties": {
                "tableCellLocation": {
                    "$ref": "TableCellLocation"
                }
            },
            "type": "object"
        },
        "Dimension": {
            "id": "Dimension",
            "properties": {
                "magnitude": {
                    "format": "double",
                    "type": "number"
                },
                "unit": {
                    "enum": [
                        "UNIT_UNSPECIFIED",
                        "PT"
                    ],
                    "enumDescriptions": [
                        "The units are unknown.",
                        "A point, 1/72 of an inch."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Document": {
            "id": "Document",
            "properties": {
                "body": {
                    "$ref": "Body"
                },
                "documentId": {
                    "type": "string"
                },
                "documentStyle": {
                    "$ref": "DocumentStyle"
                },
                "footers": {
                    "additionalProperties": {
                        "$ref": "Footer"
                    },
                    "type": "object"
                },
                "footnotes": {
                    "additionalProperties": {
                        "$ref": "Footnote"
                    },
                    "type": "object"
                },
                "headers": {
                    "additionalProperties": {
                        "$ref": "Header"
                    },
                    "type": "object"
                },
                "inlineObjects": {
                    "additionalProperties": {
                        "$ref": "InlineObject"
                    },
                    "type": "object"
                },
                "lists": {
                    "additionalProperties": {
                        "$ref": "List"
                    },
                    "type": "object"
                },
                "namedRanges": {
                    "additionalProperties": {
                        "$ref": "NamedRanges"
                    },
                    "type": "object"
                },
                "namedStyles": {
                    "$ref": "NamedStyles"
                },
                "positionedObjects": {
                    "additionalProperties": {
                        "$ref": "PositionedObject"
                    },
                    "type": "object"
                },
                "revisionId": {
                    "type": "string"
                },
                "suggestedDocumentStyleChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedDocumentStyle"
                    },
                    "type": "object"
                },
                "suggestedNamedStylesChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedNamedStyles"
                    },
                    "type": "object"
                },
                "suggestionsViewMode": {
                    "enum": [
                        "DEFAULT_FOR_CURRENT_ACCESS",
                        "SUGGESTIONS_INLINE",
                        "PREVIEW_SUGGESTIONS_ACCEPTED",
                        "PREVIEW_WITHOUT_SUGGESTIONS"
                    ],
                    "enumDescriptions": [
                        "The SuggestionsViewMode applied to the returned document depends on the\nuser's current access level. If the user only has view access,\nPREVIEW_WITHOUT_SUGGESTIONS is\napplied. Otherwise, SUGGESTIONS_INLINE is applied.\nThis is the default suggestions view mode.",
                        "The returned document has suggestions inline. Suggested changes will be\ndifferentiated from base content within the document.\n\nRequests to retrieve a document using this mode will return a 403 error if\nthe user does not have permission to view suggested changes.",
                        "The returned document is a preview with all suggested changes accepted.\n\nRequests to retrieve a document using this mode will return a 403 error if\nthe user does not have permission to view suggested changes.",
                        "The returned document is a preview with all suggested changes rejected if\nthere are any suggestions in the document."
                    ],
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DocumentStyle": {
            "id": "DocumentStyle",
            "properties": {
                "background": {
                    "$ref": "Background"
                },
                "defaultFooterId": {
                    "type": "string"
                },
                "defaultHeaderId": {
                    "type": "string"
                },
                "evenPageFooterId": {
                    "type": "string"
                },
                "evenPageHeaderId": {
                    "type": "string"
                },
                "firstPageFooterId": {
                    "type": "string"
                },
                "firstPageHeaderId": {
                    "type": "string"
                },
                "marginBottom": {
                    "$ref": "Dimension"
                },
                "marginFooter": {
                    "$ref": "Dimension"
                },
                "marginHeader": {
                    "$ref": "Dimension"
                },
                "marginLeft": {
                    "$ref": "Dimension"
                },
                "marginRight": {
                    "$ref": "Dimension"
                },
                "marginTop": {
                    "$ref": "Dimension"
                },
                "pageNumberStart": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageSize": {
                    "$ref": "Size"
                },
                "useCustomHeaderFooterMargins": {
                    "type": "boolean"
                },
                "useEvenPageHeaderFooter": {
                    "type": "boolean"
                },
                "useFirstPageHeaderFooter": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DocumentStyleSuggestionState": {
            "id": "DocumentStyleSuggestionState",
            "properties": {
                "backgroundSuggestionState": {
                    "$ref": "BackgroundSuggestionState"
                },
                "defaultFooterIdSuggested": {
                    "type": "boolean"
                },
                "defaultHeaderIdSuggested": {
                    "type": "boolean"
                },
                "evenPageFooterIdSuggested": {
                    "type": "boolean"
                },
                "evenPageHeaderIdSuggested": {
                    "type": "boolean"
                },
                "firstPageFooterIdSuggested": {
                    "type": "boolean"
                },
                "firstPageHeaderIdSuggested": {
                    "type": "boolean"
                },
                "marginBottomSuggested": {
                    "type": "boolean"
                },
                "marginFooterSuggested": {
                    "type": "boolean"
                },
                "marginHeaderSuggested": {
                    "type": "boolean"
                },
                "marginLeftSuggested": {
                    "type": "boolean"
                },
                "marginRightSuggested": {
                    "type": "boolean"
                },
                "marginTopSuggested": {
                    "type": "boolean"
                },
                "pageNumberStartSuggested": {
                    "type": "boolean"
                },
                "pageSizeSuggestionState": {
                    "$ref": "SizeSuggestionState"
                },
                "useCustomHeaderFooterMarginsSuggested": {
                    "type": "boolean"
                },
                "useEvenPageHeaderFooterSuggested": {
                    "type": "boolean"
                },
                "useFirstPageHeaderFooterSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "EmbeddedDrawingProperties": {
            "id": "EmbeddedDrawingProperties",
            "properties": {},
            "type": "object"
        },
        "EmbeddedDrawingPropertiesSuggestionState": {
            "id": "EmbeddedDrawingPropertiesSuggestionState",
            "properties": {},
            "type": "object"
        },
        "EmbeddedObject": {
            "id": "EmbeddedObject",
            "properties": {
                "embeddedDrawingProperties": {
                    "$ref": "EmbeddedDrawingProperties"
                },
                "embeddedObjectBorder": {
                    "$ref": "EmbeddedObjectBorder"
                },
                "imageProperties": {
                    "$ref": "ImageProperties"
                },
                "linkedContentReference": {
                    "$ref": "LinkedContentReference"
                },
                "marginBottom": {
                    "$ref": "Dimension"
                },
                "marginLeft": {
                    "$ref": "Dimension"
                },
                "marginRight": {
                    "$ref": "Dimension"
                },
                "marginTop": {
                    "$ref": "Dimension"
                },
                "size": {
                    "$ref": "Size"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EmbeddedObjectBorder": {
            "id": "EmbeddedObjectBorder",
            "properties": {
                "color": {
                    "$ref": "OptionalColor"
                },
                "dashStyle": {
                    "enum": [
                        "DASH_STYLE_UNSPECIFIED",
                        "SOLID",
                        "DOT",
                        "DASH"
                    ],
                    "enumDescriptions": [
                        "Unspecified dash style.",
                        "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'.\nThis is the default dash style.",
                        "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
                        "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
                    ],
                    "type": "string"
                },
                "propertyState": {
                    "enum": [
                        "RENDERED",
                        "NOT_RENDERED"
                    ],
                    "enumDescriptions": [
                        "If a property's state is RENDERED, then the element has the corresponding\nproperty when rendered in the document. This is the default value.",
                        "If a property's state is NOT_RENDERED, then the element does not have the\ncorresponding property when rendered in the document."
                    ],
                    "type": "string"
                },
                "width": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "EmbeddedObjectBorderSuggestionState": {
            "id": "EmbeddedObjectBorderSuggestionState",
            "properties": {
                "colorSuggested": {
                    "type": "boolean"
                },
                "dashStyleSuggested": {
                    "type": "boolean"
                },
                "propertyStateSuggested": {
                    "type": "boolean"
                },
                "widthSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "EmbeddedObjectSuggestionState": {
            "id": "EmbeddedObjectSuggestionState",
            "properties": {
                "descriptionSuggested": {
                    "type": "boolean"
                },
                "embeddedDrawingPropertiesSuggestionState": {
                    "$ref": "EmbeddedDrawingPropertiesSuggestionState"
                },
                "embeddedObjectBorderSuggestionState": {
                    "$ref": "EmbeddedObjectBorderSuggestionState"
                },
                "imagePropertiesSuggestionState": {
                    "$ref": "ImagePropertiesSuggestionState"
                },
                "linkedContentReferenceSuggestionState": {
                    "$ref": "LinkedContentReferenceSuggestionState"
                },
                "marginBottomSuggested": {
                    "type": "boolean"
                },
                "marginLeftSuggested": {
                    "type": "boolean"
                },
                "marginRightSuggested": {
                    "type": "boolean"
                },
                "marginTopSuggested": {
                    "type": "boolean"
                },
                "sizeSuggestionState": {
                    "$ref": "SizeSuggestionState"
                },
                "titleSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "EndOfSegmentLocation": {
            "id": "EndOfSegmentLocation",
            "properties": {
                "segmentId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Equation": {
            "id": "Equation",
            "properties": {
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Footer": {
            "id": "Footer",
            "properties": {
                "content": {
                    "items": {
                        "$ref": "StructuralElement"
                    },
                    "type": "array"
                },
                "footerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Footnote": {
            "id": "Footnote",
            "properties": {
                "content": {
                    "items": {
                        "$ref": "StructuralElement"
                    },
                    "type": "array"
                },
                "footnoteId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FootnoteReference": {
            "id": "FootnoteReference",
            "properties": {
                "footnoteId": {
                    "type": "string"
                },
                "footnoteNumber": {
                    "type": "string"
                },
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedTextStyleChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedTextStyle"
                    },
                    "type": "object"
                },
                "textStyle": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "Header": {
            "id": "Header",
            "properties": {
                "content": {
                    "items": {
                        "$ref": "StructuralElement"
                    },
                    "type": "array"
                },
                "headerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HorizontalRule": {
            "id": "HorizontalRule",
            "properties": {
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedTextStyleChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedTextStyle"
                    },
                    "type": "object"
                },
                "textStyle": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "ImageProperties": {
            "id": "ImageProperties",
            "properties": {
                "angle": {
                    "format": "float",
                    "type": "number"
                },
                "brightness": {
                    "format": "float",
                    "type": "number"
                },
                "contentUri": {
                    "type": "string"
                },
                "contrast": {
                    "format": "float",
                    "type": "number"
                },
                "cropProperties": {
                    "$ref": "CropProperties"
                },
                "sourceUri": {
                    "type": "string"
                },
                "transparency": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ImagePropertiesSuggestionState": {
            "id": "ImagePropertiesSuggestionState",
            "properties": {
                "angleSuggested": {
                    "type": "boolean"
                },
                "brightnessSuggested": {
                    "type": "boolean"
                },
                "contentUriSuggested": {
                    "type": "boolean"
                },
                "contrastSuggested": {
                    "type": "boolean"
                },
                "cropPropertiesSuggestionState": {
                    "$ref": "CropPropertiesSuggestionState"
                },
                "sourceUriSuggested": {
                    "type": "boolean"
                },
                "transparencySuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "InlineObject": {
            "id": "InlineObject",
            "properties": {
                "inlineObjectProperties": {
                    "$ref": "InlineObjectProperties"
                },
                "objectId": {
                    "type": "string"
                },
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInlineObjectPropertiesChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedInlineObjectProperties"
                    },
                    "type": "object"
                },
                "suggestedInsertionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InlineObjectElement": {
            "id": "InlineObjectElement",
            "properties": {
                "inlineObjectId": {
                    "type": "string"
                },
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedTextStyleChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedTextStyle"
                    },
                    "type": "object"
                },
                "textStyle": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "InlineObjectProperties": {
            "id": "InlineObjectProperties",
            "properties": {
                "embeddedObject": {
                    "$ref": "EmbeddedObject"
                }
            },
            "type": "object"
        },
        "InlineObjectPropertiesSuggestionState": {
            "id": "InlineObjectPropertiesSuggestionState",
            "properties": {
                "embeddedObjectSuggestionState": {
                    "$ref": "EmbeddedObjectSuggestionState"
                }
            },
            "type": "object"
        },
        "InsertInlineImageRequest": {
            "id": "InsertInlineImageRequest",
            "properties": {
                "endOfSegmentLocation": {
                    "$ref": "EndOfSegmentLocation"
                },
                "location": {
                    "$ref": "Location"
                },
                "objectSize": {
                    "$ref": "Size"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InsertInlineImageResponse": {
            "id": "InsertInlineImageResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InsertInlineSheetsChartResponse": {
            "id": "InsertInlineSheetsChartResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InsertPageBreakRequest": {
            "id": "InsertPageBreakRequest",
            "properties": {
                "endOfSegmentLocation": {
                    "$ref": "EndOfSegmentLocation"
                },
                "location": {
                    "$ref": "Location"
                }
            },
            "type": "object"
        },
        "InsertSectionBreakRequest": {
            "id": "InsertSectionBreakRequest",
            "properties": {
                "endOfSegmentLocation": {
                    "$ref": "EndOfSegmentLocation"
                },
                "location": {
                    "$ref": "Location"
                },
                "sectionType": {
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "CONTINUOUS",
                        "NEXT_PAGE"
                    ],
                    "enumDescriptions": [
                        "The section type is unspecified.",
                        "The section starts immediately after the last paragraph of the previous\nsection.",
                        "The section starts on the next page."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InsertTableColumnRequest": {
            "id": "InsertTableColumnRequest",
            "properties": {
                "insertRight": {
                    "type": "boolean"
                },
                "tableCellLocation": {
                    "$ref": "TableCellLocation"
                }
            },
            "type": "object"
        },
        "InsertTableRequest": {
            "id": "InsertTableRequest",
            "properties": {
                "columns": {
                    "format": "int32",
                    "type": "integer"
                },
                "endOfSegmentLocation": {
                    "$ref": "EndOfSegmentLocation"
                },
                "location": {
                    "$ref": "Location"
                },
                "rows": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "InsertTableRowRequest": {
            "id": "InsertTableRowRequest",
            "properties": {
                "insertBelow": {
                    "type": "boolean"
                },
                "tableCellLocation": {
                    "$ref": "TableCellLocation"
                }
            },
            "type": "object"
        },
        "InsertTextRequest": {
            "id": "InsertTextRequest",
            "properties": {
                "endOfSegmentLocation": {
                    "$ref": "EndOfSegmentLocation"
                },
                "location": {
                    "$ref": "Location"
                },
                "text": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Link": {
            "id": "Link",
            "properties": {
                "bookmarkId": {
                    "type": "string"
                },
                "headingId": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LinkedContentReference": {
            "id": "LinkedContentReference",
            "properties": {
                "sheetsChartReference": {
                    "$ref": "SheetsChartReference"
                }
            },
            "type": "object"
        },
        "LinkedContentReferenceSuggestionState": {
            "id": "LinkedContentReferenceSuggestionState",
            "properties": {
                "sheetsChartReferenceSuggestionState": {
                    "$ref": "SheetsChartReferenceSuggestionState"
                }
            },
            "type": "object"
        },
        "List": {
            "id": "List",
            "properties": {
                "listProperties": {
                    "$ref": "ListProperties"
                },
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionId": {
                    "type": "string"
                },
                "suggestedListPropertiesChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedListProperties"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ListProperties": {
            "id": "ListProperties",
            "properties": {
                "nestingLevels": {
                    "items": {
                        "$ref": "NestingLevel"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListPropertiesSuggestionState": {
            "id": "ListPropertiesSuggestionState",
            "properties": {
                "nestingLevelsSuggestionStates": {
                    "items": {
                        "$ref": "NestingLevelSuggestionState"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "index": {
                    "format": "int32",
                    "type": "integer"
                },
                "segmentId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MergeTableCellsRequest": {
            "id": "MergeTableCellsRequest",
            "properties": {
                "tableRange": {
                    "$ref": "TableRange"
                }
            },
            "type": "object"
        },
        "NamedRange": {
            "id": "NamedRange",
            "properties": {
                "name": {
                    "type": "string"
                },
                "namedRangeId": {
                    "type": "string"
                },
                "ranges": {
                    "items": {
                        "$ref": "Range"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NamedRanges": {
            "id": "NamedRanges",
            "properties": {
                "name": {
                    "type": "string"
                },
                "namedRanges": {
                    "items": {
                        "$ref": "NamedRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NamedStyle": {
            "id": "NamedStyle",
            "properties": {
                "namedStyleType": {
                    "enum": [
                        "NAMED_STYLE_TYPE_UNSPECIFIED",
                        "NORMAL_TEXT",
                        "TITLE",
                        "SUBTITLE",
                        "HEADING_1",
                        "HEADING_2",
                        "HEADING_3",
                        "HEADING_4",
                        "HEADING_5",
                        "HEADING_6"
                    ],
                    "enumDescriptions": [
                        "The type of named style is unspecified.",
                        "Normal text.",
                        "Title.",
                        "Subtitle.",
                        "Heading 1.",
                        "Heading 2.",
                        "Heading 3.",
                        "Heading 4.",
                        "Heading 5.",
                        "Heading 6."
                    ],
                    "type": "string"
                },
                "paragraphStyle": {
                    "$ref": "ParagraphStyle"
                },
                "textStyle": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "NamedStyleSuggestionState": {
            "id": "NamedStyleSuggestionState",
            "properties": {
                "namedStyleType": {
                    "enum": [
                        "NAMED_STYLE_TYPE_UNSPECIFIED",
                        "NORMAL_TEXT",
                        "TITLE",
                        "SUBTITLE",
                        "HEADING_1",
                        "HEADING_2",
                        "HEADING_3",
                        "HEADING_4",
                        "HEADING_5",
                        "HEADING_6"
                    ],
                    "enumDescriptions": [
                        "The type of named style is unspecified.",
                        "Normal text.",
                        "Title.",
                        "Subtitle.",
                        "Heading 1.",
                        "Heading 2.",
                        "Heading 3.",
                        "Heading 4.",
                        "Heading 5.",
                        "Heading 6."
                    ],
                    "type": "string"
                },
                "paragraphStyleSuggestionState": {
                    "$ref": "ParagraphStyleSuggestionState"
                },
                "textStyleSuggestionState": {
                    "$ref": "TextStyleSuggestionState"
                }
            },
            "type": "object"
        },
        "NamedStyles": {
            "id": "NamedStyles",
            "properties": {
                "styles": {
                    "items": {
                        "$ref": "NamedStyle"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NamedStylesSuggestionState": {
            "id": "NamedStylesSuggestionState",
            "properties": {
                "stylesSuggestionStates": {
                    "items": {
                        "$ref": "NamedStyleSuggestionState"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NestingLevel": {
            "id": "NestingLevel",
            "properties": {
                "bulletAlignment": {
                    "enum": [
                        "BULLET_ALIGNMENT_UNSPECIFIED",
                        "START",
                        "CENTER",
                        "END"
                    ],
                    "enumDescriptions": [
                        "The bullet alignment is unspecified.",
                        "The bullet is aligned to the start of the space allotted for rendering\nthe bullet. Left-aligned for LTR text, right-aligned otherwise.",
                        "The bullet is aligned to the center of the space allotted for rendering\nthe bullet.",
                        "The bullet is aligned to the end of the space allotted for rendering the\nbullet. Right-aligned for LTR text, left-aligned otherwise."
                    ],
                    "type": "string"
                },
                "glyphFormat": {
                    "type": "string"
                },
                "glyphSymbol": {
                    "type": "string"
                },
                "glyphType": {
                    "enum": [
                        "GLYPH_TYPE_UNSPECIFIED",
                        "NONE",
                        "DECIMAL",
                        "ZERO_DECIMAL",
                        "UPPER_ALPHA",
                        "ALPHA",
                        "UPPER_ROMAN",
                        "ROMAN"
                    ],
                    "enumDescriptions": [
                        "The glyph type is unspecified or unsupported.",
                        "An empty string.",
                        "A number, like `1`, `2`, or `3`.",
                        "A number where single digit numbers are prefixed with a zero, like `01`,\n`02`, or `03`. Numbers with more than one digit are not prefixed with a\nzero.",
                        "An uppercase letter, like `A`, `B`, or `C`.",
                        "A lowercase letter, like `a`, `b`, or `c`.",
                        "An uppercase Roman numeral, like `I`, `II`, or `III`.",
                        "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
                    ],
                    "type": "string"
                },
                "indentFirstLine": {
                    "$ref": "Dimension"
                },
                "indentStart": {
                    "$ref": "Dimension"
                },
                "startNumber": {
                    "format": "int32",
                    "type": "integer"
                },
                "textStyle": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "NestingLevelSuggestionState": {
            "id": "NestingLevelSuggestionState",
            "properties": {
                "bulletAlignmentSuggested": {
                    "type": "boolean"
                },
                "glyphFormatSuggested": {
                    "type": "boolean"
                },
                "glyphSymbolSuggested": {
                    "type": "boolean"
                },
                "glyphTypeSuggested": {
                    "type": "boolean"
                },
                "indentFirstLineSuggested": {
                    "type": "boolean"
                },
                "indentStartSuggested": {
                    "type": "boolean"
                },
                "startNumberSuggested": {
                    "type": "boolean"
                },
                "textStyleSuggestionState": {
                    "$ref": "TextStyleSuggestionState"
                }
            },
            "type": "object"
        },
        "ObjectReferences": {
            "id": "ObjectReferences",
            "properties": {
                "objectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "OptionalColor": {
            "id": "OptionalColor",
            "properties": {
                "color": {
                    "$ref": "Color"
                }
            },
            "type": "object"
        },
        "PageBreak": {
            "id": "PageBreak",
            "properties": {
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedTextStyleChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedTextStyle"
                    },
                    "type": "object"
                },
                "textStyle": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "Paragraph": {
            "id": "Paragraph",
            "properties": {
                "bullet": {
                    "$ref": "Bullet"
                },
                "elements": {
                    "items": {
                        "$ref": "ParagraphElement"
                    },
                    "type": "array"
                },
                "paragraphStyle": {
                    "$ref": "ParagraphStyle"
                },
                "positionedObjectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedBulletChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedBullet"
                    },
                    "type": "object"
                },
                "suggestedParagraphStyleChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedParagraphStyle"
                    },
                    "type": "object"
                },
                "suggestedPositionedObjectIds": {
                    "additionalProperties": {
                        "$ref": "ObjectReferences"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ParagraphBorder": {
            "id": "ParagraphBorder",
            "properties": {
                "color": {
                    "$ref": "OptionalColor"
                },
                "dashStyle": {
                    "enum": [
                        "DASH_STYLE_UNSPECIFIED",
                        "SOLID",
                        "DOT",
                        "DASH"
                    ],
                    "enumDescriptions": [
                        "Unspecified dash style.",
                        "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'.\nThis is the default dash style.",
                        "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
                        "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
                    ],
                    "type": "string"
                },
                "padding": {
                    "$ref": "Dimension"
                },
                "width": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "ParagraphElement": {
            "id": "ParagraphElement",
            "properties": {
                "autoText": {
                    "$ref": "AutoText"
                },
                "columnBreak": {
                    "$ref": "ColumnBreak"
                },
                "endIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "equation": {
                    "$ref": "Equation"
                },
                "footnoteReference": {
                    "$ref": "FootnoteReference"
                },
                "horizontalRule": {
                    "$ref": "HorizontalRule"
                },
                "inlineObjectElement": {
                    "$ref": "InlineObjectElement"
                },
                "pageBreak": {
                    "$ref": "PageBreak"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "textRun": {
                    "$ref": "TextRun"
                }
            },
            "type": "object"
        },
        "ParagraphStyle": {
            "id": "ParagraphStyle",
            "properties": {
                "alignment": {
                    "enum": [
                        "ALIGNMENT_UNSPECIFIED",
                        "START",
                        "CENTER",
                        "END",
                        "JUSTIFIED"
                    ],
                    "enumDescriptions": [
                        "The paragraph alignment is inherited from the parent.",
                        "The paragraph is aligned to the start of the line. Left-aligned for LTR\ntext, right-aligned otherwise.",
                        "The paragraph is centered.",
                        "The paragraph is aligned to the end of the line. Right-aligned for LTR\ntext, left-aligned otherwise.",
                        "The paragraph is justified."
                    ],
                    "type": "string"
                },
                "avoidWidowAndOrphan": {
                    "type": "boolean"
                },
                "borderBetween": {
                    "$ref": "ParagraphBorder"
                },
                "borderBottom": {
                    "$ref": "ParagraphBorder"
                },
                "borderLeft": {
                    "$ref": "ParagraphBorder"
                },
                "borderRight": {
                    "$ref": "ParagraphBorder"
                },
                "borderTop": {
                    "$ref": "ParagraphBorder"
                },
                "direction": {
                    "enum": [
                        "CONTENT_DIRECTION_UNSPECIFIED",
                        "LEFT_TO_RIGHT",
                        "RIGHT_TO_LEFT"
                    ],
                    "enumDescriptions": [
                        "The content direction is unspecified.",
                        "The content goes from left to right.",
                        "The content goes from right to left."
                    ],
                    "type": "string"
                },
                "headingId": {
                    "type": "string"
                },
                "indentEnd": {
                    "$ref": "Dimension"
                },
                "indentFirstLine": {
                    "$ref": "Dimension"
                },
                "indentStart": {
                    "$ref": "Dimension"
                },
                "keepLinesTogether": {
                    "type": "boolean"
                },
                "keepWithNext": {
                    "type": "boolean"
                },
                "lineSpacing": {
                    "format": "float",
                    "type": "number"
                },
                "namedStyleType": {
                    "enum": [
                        "NAMED_STYLE_TYPE_UNSPECIFIED",
                        "NORMAL_TEXT",
                        "TITLE",
                        "SUBTITLE",
                        "HEADING_1",
                        "HEADING_2",
                        "HEADING_3",
                        "HEADING_4",
                        "HEADING_5",
                        "HEADING_6"
                    ],
                    "enumDescriptions": [
                        "The type of named style is unspecified.",
                        "Normal text.",
                        "Title.",
                        "Subtitle.",
                        "Heading 1.",
                        "Heading 2.",
                        "Heading 3.",
                        "Heading 4.",
                        "Heading 5.",
                        "Heading 6."
                    ],
                    "type": "string"
                },
                "shading": {
                    "$ref": "Shading"
                },
                "spaceAbove": {
                    "$ref": "Dimension"
                },
                "spaceBelow": {
                    "$ref": "Dimension"
                },
                "spacingMode": {
                    "enum": [
                        "SPACING_MODE_UNSPECIFIED",
                        "NEVER_COLLAPSE",
                        "COLLAPSE_LISTS"
                    ],
                    "enumDescriptions": [
                        "The spacing mode is inherited from the parent.",
                        "Paragraph spacing is always rendered.",
                        "Paragraph spacing is skipped between list elements."
                    ],
                    "type": "string"
                },
                "tabStops": {
                    "items": {
                        "$ref": "TabStop"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ParagraphStyleSuggestionState": {
            "id": "ParagraphStyleSuggestionState",
            "properties": {
                "alignmentSuggested": {
                    "type": "boolean"
                },
                "avoidWidowAndOrphanSuggested": {
                    "type": "boolean"
                },
                "borderBetweenSuggested": {
                    "type": "boolean"
                },
                "borderBottomSuggested": {
                    "type": "boolean"
                },
                "borderLeftSuggested": {
                    "type": "boolean"
                },
                "borderRightSuggested": {
                    "type": "boolean"
                },
                "borderTopSuggested": {
                    "type": "boolean"
                },
                "directionSuggested": {
                    "type": "boolean"
                },
                "headingIdSuggested": {
                    "type": "boolean"
                },
                "indentEndSuggested": {
                    "type": "boolean"
                },
                "indentFirstLineSuggested": {
                    "type": "boolean"
                },
                "indentStartSuggested": {
                    "type": "boolean"
                },
                "keepLinesTogetherSuggested": {
                    "type": "boolean"
                },
                "keepWithNextSuggested": {
                    "type": "boolean"
                },
                "lineSpacingSuggested": {
                    "type": "boolean"
                },
                "namedStyleTypeSuggested": {
                    "type": "boolean"
                },
                "shadingSuggestionState": {
                    "$ref": "ShadingSuggestionState"
                },
                "spaceAboveSuggested": {
                    "type": "boolean"
                },
                "spaceBelowSuggested": {
                    "type": "boolean"
                },
                "spacingModeSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "PositionedObject": {
            "id": "PositionedObject",
            "properties": {
                "objectId": {
                    "type": "string"
                },
                "positionedObjectProperties": {
                    "$ref": "PositionedObjectProperties"
                },
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionId": {
                    "type": "string"
                },
                "suggestedPositionedObjectPropertiesChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedPositionedObjectProperties"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PositionedObjectPositioning": {
            "id": "PositionedObjectPositioning",
            "properties": {
                "layout": {
                    "enum": [
                        "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
                        "WRAP_TEXT",
                        "BREAK_LEFT",
                        "BREAK_RIGHT",
                        "BREAK_LEFT_RIGHT",
                        "IN_FRONT_OF_TEXT"
                    ],
                    "enumDescriptions": [
                        "The layout is unspecified.",
                        "The text wraps around the positioned object.",
                        "Breaks text such that the positioned object is on the left and text is on\nthe right.",
                        "Breaks text such that the positioned object is on the right and text is on\nthe left.",
                        "Breaks text such that there is no text on the left or right of the\npositioned object.",
                        "The positioned object is in front of the text."
                    ],
                    "type": "string"
                },
                "leftOffset": {
                    "$ref": "Dimension"
                },
                "topOffset": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "PositionedObjectPositioningSuggestionState": {
            "id": "PositionedObjectPositioningSuggestionState",
            "properties": {
                "layoutSuggested": {
                    "type": "boolean"
                },
                "leftOffsetSuggested": {
                    "type": "boolean"
                },
                "topOffsetSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "PositionedObjectProperties": {
            "id": "PositionedObjectProperties",
            "properties": {
                "embeddedObject": {
                    "$ref": "EmbeddedObject"
                },
                "positioning": {
                    "$ref": "PositionedObjectPositioning"
                }
            },
            "type": "object"
        },
        "PositionedObjectPropertiesSuggestionState": {
            "id": "PositionedObjectPropertiesSuggestionState",
            "properties": {
                "embeddedObjectSuggestionState": {
                    "$ref": "EmbeddedObjectSuggestionState"
                },
                "positioningSuggestionState": {
                    "$ref": "PositionedObjectPositioningSuggestionState"
                }
            },
            "type": "object"
        },
        "Range": {
            "id": "Range",
            "properties": {
                "endIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "segmentId": {
                    "type": "string"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ReplaceAllTextRequest": {
            "id": "ReplaceAllTextRequest",
            "properties": {
                "containsText": {
                    "$ref": "SubstringMatchCriteria"
                },
                "replaceText": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplaceAllTextResponse": {
            "id": "ReplaceAllTextResponse",
            "properties": {
                "occurrencesChanged": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ReplaceImageRequest": {
            "id": "ReplaceImageRequest",
            "properties": {
                "imageObjectId": {
                    "type": "string"
                },
                "imageReplaceMethod": {
                    "enum": [
                        "IMAGE_REPLACE_METHOD_UNSPECIFIED",
                        "CENTER_CROP"
                    ],
                    "enumDescriptions": [
                        "Unspecified image replace method. This value must not be used.",
                        "Scales and centers the image to fill the bounds of the original image.\nThe image may be cropped in order to fill the original image's bounds. The\nrendered size of the image will be the same as that of the original image."
                    ],
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplaceNamedRangeContentRequest": {
            "id": "ReplaceNamedRangeContentRequest",
            "properties": {
                "namedRangeId": {
                    "type": "string"
                },
                "namedRangeName": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Request": {
            "id": "Request",
            "properties": {
                "createFooter": {
                    "$ref": "CreateFooterRequest"
                },
                "createFootnote": {
                    "$ref": "CreateFootnoteRequest"
                },
                "createHeader": {
                    "$ref": "CreateHeaderRequest"
                },
                "createNamedRange": {
                    "$ref": "CreateNamedRangeRequest"
                },
                "createParagraphBullets": {
                    "$ref": "CreateParagraphBulletsRequest"
                },
                "deleteContentRange": {
                    "$ref": "DeleteContentRangeRequest"
                },
                "deleteFooter": {
                    "$ref": "DeleteFooterRequest"
                },
                "deleteHeader": {
                    "$ref": "DeleteHeaderRequest"
                },
                "deleteNamedRange": {
                    "$ref": "DeleteNamedRangeRequest"
                },
                "deleteParagraphBullets": {
                    "$ref": "DeleteParagraphBulletsRequest"
                },
                "deletePositionedObject": {
                    "$ref": "DeletePositionedObjectRequest"
                },
                "deleteTableColumn": {
                    "$ref": "DeleteTableColumnRequest"
                },
                "deleteTableRow": {
                    "$ref": "DeleteTableRowRequest"
                },
                "insertInlineImage": {
                    "$ref": "InsertInlineImageRequest"
                },
                "insertPageBreak": {
                    "$ref": "InsertPageBreakRequest"
                },
                "insertSectionBreak": {
                    "$ref": "InsertSectionBreakRequest"
                },
                "insertTable": {
                    "$ref": "InsertTableRequest"
                },
                "insertTableColumn": {
                    "$ref": "InsertTableColumnRequest"
                },
                "insertTableRow": {
                    "$ref": "InsertTableRowRequest"
                },
                "insertText": {
                    "$ref": "InsertTextRequest"
                },
                "mergeTableCells": {
                    "$ref": "MergeTableCellsRequest"
                },
                "replaceAllText": {
                    "$ref": "ReplaceAllTextRequest"
                },
                "replaceImage": {
                    "$ref": "ReplaceImageRequest"
                },
                "replaceNamedRangeContent": {
                    "$ref": "ReplaceNamedRangeContentRequest"
                },
                "unmergeTableCells": {
                    "$ref": "UnmergeTableCellsRequest"
                },
                "updateDocumentStyle": {
                    "$ref": "UpdateDocumentStyleRequest"
                },
                "updateParagraphStyle": {
                    "$ref": "UpdateParagraphStyleRequest"
                },
                "updateSectionStyle": {
                    "$ref": "UpdateSectionStyleRequest"
                },
                "updateTableCellStyle": {
                    "$ref": "UpdateTableCellStyleRequest"
                },
                "updateTableColumnProperties": {
                    "$ref": "UpdateTableColumnPropertiesRequest"
                },
                "updateTableRowStyle": {
                    "$ref": "UpdateTableRowStyleRequest"
                },
                "updateTextStyle": {
                    "$ref": "UpdateTextStyleRequest"
                }
            },
            "type": "object"
        },
        "Response": {
            "id": "Response",
            "properties": {
                "createFooter": {
                    "$ref": "CreateFooterResponse"
                },
                "createFootnote": {
                    "$ref": "CreateFootnoteResponse"
                },
                "createHeader": {
                    "$ref": "CreateHeaderResponse"
                },
                "createNamedRange": {
                    "$ref": "CreateNamedRangeResponse"
                },
                "insertInlineImage": {
                    "$ref": "InsertInlineImageResponse"
                },
                "insertInlineSheetsChart": {
                    "$ref": "InsertInlineSheetsChartResponse"
                },
                "replaceAllText": {
                    "$ref": "ReplaceAllTextResponse"
                }
            },
            "type": "object"
        },
        "RgbColor": {
            "id": "RgbColor",
            "properties": {
                "blue": {
                    "format": "float",
                    "type": "number"
                },
                "green": {
                    "format": "float",
                    "type": "number"
                },
                "red": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "SectionBreak": {
            "id": "SectionBreak",
            "properties": {
                "sectionStyle": {
                    "$ref": "SectionStyle"
                },
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SectionColumnProperties": {
            "id": "SectionColumnProperties",
            "properties": {
                "paddingEnd": {
                    "$ref": "Dimension"
                },
                "width": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "SectionStyle": {
            "id": "SectionStyle",
            "properties": {
                "columnProperties": {
                    "items": {
                        "$ref": "SectionColumnProperties"
                    },
                    "type": "array"
                },
                "columnSeparatorStyle": {
                    "enum": [
                        "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
                        "NONE",
                        "BETWEEN_EACH_COLUMN"
                    ],
                    "enumDescriptions": [
                        "An unspecified column separator style.",
                        "No column separator lines between columns.",
                        "Renders a column separator line between each column."
                    ],
                    "type": "string"
                },
                "contentDirection": {
                    "enum": [
                        "CONTENT_DIRECTION_UNSPECIFIED",
                        "LEFT_TO_RIGHT",
                        "RIGHT_TO_LEFT"
                    ],
                    "enumDescriptions": [
                        "The content direction is unspecified.",
                        "The content goes from left to right.",
                        "The content goes from right to left."
                    ],
                    "type": "string"
                },
                "defaultFooterId": {
                    "type": "string"
                },
                "defaultHeaderId": {
                    "type": "string"
                },
                "evenPageFooterId": {
                    "type": "string"
                },
                "evenPageHeaderId": {
                    "type": "string"
                },
                "firstPageFooterId": {
                    "type": "string"
                },
                "firstPageHeaderId": {
                    "type": "string"
                },
                "marginBottom": {
                    "$ref": "Dimension"
                },
                "marginFooter": {
                    "$ref": "Dimension"
                },
                "marginHeader": {
                    "$ref": "Dimension"
                },
                "marginLeft": {
                    "$ref": "Dimension"
                },
                "marginRight": {
                    "$ref": "Dimension"
                },
                "marginTop": {
                    "$ref": "Dimension"
                },
                "pageNumberStart": {
                    "format": "int32",
                    "type": "integer"
                },
                "sectionType": {
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "CONTINUOUS",
                        "NEXT_PAGE"
                    ],
                    "enumDescriptions": [
                        "The section type is unspecified.",
                        "The section starts immediately after the last paragraph of the previous\nsection.",
                        "The section starts on the next page."
                    ],
                    "type": "string"
                },
                "useFirstPageHeaderFooter": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Shading": {
            "id": "Shading",
            "properties": {
                "backgroundColor": {
                    "$ref": "OptionalColor"
                }
            },
            "type": "object"
        },
        "ShadingSuggestionState": {
            "id": "ShadingSuggestionState",
            "properties": {
                "backgroundColorSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "SheetsChartReference": {
            "id": "SheetsChartReference",
            "properties": {
                "chartId": {
                    "format": "int32",
                    "type": "integer"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SheetsChartReferenceSuggestionState": {
            "id": "SheetsChartReferenceSuggestionState",
            "properties": {
                "chartIdSuggested": {
                    "type": "boolean"
                },
                "spreadsheetIdSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Size": {
            "id": "Size",
            "properties": {
                "height": {
                    "$ref": "Dimension"
                },
                "width": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "SizeSuggestionState": {
            "id": "SizeSuggestionState",
            "properties": {
                "heightSuggested": {
                    "type": "boolean"
                },
                "widthSuggested": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "StructuralElement": {
            "id": "StructuralElement",
            "properties": {
                "endIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "paragraph": {
                    "$ref": "Paragraph"
                },
                "sectionBreak": {
                    "$ref": "SectionBreak"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "table": {
                    "$ref": "Table"
                },
                "tableOfContents": {
                    "$ref": "TableOfContents"
                }
            },
            "type": "object"
        },
        "SubstringMatchCriteria": {
            "id": "SubstringMatchCriteria",
            "properties": {
                "matchCase": {
                    "type": "boolean"
                },
                "text": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SuggestedBullet": {
            "id": "SuggestedBullet",
            "properties": {
                "bullet": {
                    "$ref": "Bullet"
                },
                "bulletSuggestionState": {
                    "$ref": "BulletSuggestionState"
                }
            },
            "type": "object"
        },
        "SuggestedDocumentStyle": {
            "id": "SuggestedDocumentStyle",
            "properties": {
                "documentStyle": {
                    "$ref": "DocumentStyle"
                },
                "documentStyleSuggestionState": {
                    "$ref": "DocumentStyleSuggestionState"
                }
            },
            "type": "object"
        },
        "SuggestedInlineObjectProperties": {
            "id": "SuggestedInlineObjectProperties",
            "properties": {
                "inlineObjectProperties": {
                    "$ref": "InlineObjectProperties"
                },
                "inlineObjectPropertiesSuggestionState": {
                    "$ref": "InlineObjectPropertiesSuggestionState"
                }
            },
            "type": "object"
        },
        "SuggestedListProperties": {
            "id": "SuggestedListProperties",
            "properties": {
                "listProperties": {
                    "$ref": "ListProperties"
                },
                "listPropertiesSuggestionState": {
                    "$ref": "ListPropertiesSuggestionState"
                }
            },
            "type": "object"
        },
        "SuggestedNamedStyles": {
            "id": "SuggestedNamedStyles",
            "properties": {
                "namedStyles": {
                    "$ref": "NamedStyles"
                },
                "namedStylesSuggestionState": {
                    "$ref": "NamedStylesSuggestionState"
                }
            },
            "type": "object"
        },
        "SuggestedParagraphStyle": {
            "id": "SuggestedParagraphStyle",
            "properties": {
                "paragraphStyle": {
                    "$ref": "ParagraphStyle"
                },
                "paragraphStyleSuggestionState": {
                    "$ref": "ParagraphStyleSuggestionState"
                }
            },
            "type": "object"
        },
        "SuggestedPositionedObjectProperties": {
            "id": "SuggestedPositionedObjectProperties",
            "properties": {
                "positionedObjectProperties": {
                    "$ref": "PositionedObjectProperties"
                },
                "positionedObjectPropertiesSuggestionState": {
                    "$ref": "PositionedObjectPropertiesSuggestionState"
                }
            },
            "type": "object"
        },
        "SuggestedTableCellStyle": {
            "id": "SuggestedTableCellStyle",
            "properties": {
                "tableCellStyle": {
                    "$ref": "TableCellStyle"
                },
                "tableCellStyleSuggestionState": {
                    "$ref": "TableCellStyleSuggestionState"
                }
            },
            "type": "object"
        },
        "SuggestedTableRowStyle": {
            "id": "SuggestedTableRowStyle",
            "properties": {
                "tableRowStyle": {
                    "$ref": "TableRowStyle"
                },
                "tableRowStyleSuggestionState": {
                    "$ref": "TableRowStyleSuggestionState"
                }
            },
            "type": "object"
        },
        "SuggestedTextStyle": {
            "id": "SuggestedTextStyle",
            "properties": {
                "textStyle": {
                    "$ref": "TextStyle"
                },
                "textStyleSuggestionState": {
                    "$ref": "TextStyleSuggestionState"
                }
            },
            "type": "object"
        },
        "TabStop": {
            "id": "TabStop",
            "properties": {
                "alignment": {
                    "enum": [
                        "TAB_STOP_ALIGNMENT_UNSPECIFIED",
                        "START",
                        "CENTER",
                        "END"
                    ],
                    "enumDescriptions": [
                        "The tab stop alignment is unspecified.",
                        "The tab stop is aligned to the start of the line. This is the default.",
                        "The tab stop is aligned to the center of the line.",
                        "The tab stop is aligned to the end of the line."
                    ],
                    "type": "string"
                },
                "offset": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "Table": {
            "id": "Table",
            "properties": {
                "columns": {
                    "format": "int32",
                    "type": "integer"
                },
                "rows": {
                    "format": "int32",
                    "type": "integer"
                },
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "tableRows": {
                    "items": {
                        "$ref": "TableRow"
                    },
                    "type": "array"
                },
                "tableStyle": {
                    "$ref": "TableStyle"
                }
            },
            "type": "object"
        },
        "TableCell": {
            "id": "TableCell",
            "properties": {
                "content": {
                    "items": {
                        "$ref": "StructuralElement"
                    },
                    "type": "array"
                },
                "endIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "suggestedDeletionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedInsertionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "suggestedTableCellStyleChanges": {
                    "additionalProperties": {
                        "$ref": "SuggestedTableCellStyle"
                    },
                    "type": "object"
                },
                "tableCellStyle": {
                    "$ref": "TableCellStyle"
                }
            },
            "type": "object"
        },
        "TableCellBorder": {
            "id": "TableCellBorder",
            "properties": {
                "color": {
                    "$ref": "OptionalColor"
                },
                "dashStyle": {
                    "enum": [
                        "DASH_STYLE_UNSPECIFIED",
                        "SOLID",
                        "DOT",
                        "DASH"
                    ],
                    "enumDescriptions": [
                        "Unspecified dash style.",
                        "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'.\nThis is the default dash style.",
                        "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
                        "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
                    ],
                    "type": "string"
                },
                "width": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "TableCellLocation": {
            "id": "TableCellLocation",
            "properties": {
                "columnIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "rowIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "tableStartLocation": {
                    "$ref": "Location"
                }
            },
            "type": "object"
        },
        "TableCellStyle": {
            "id": "TableCellStyle",
            "properties": {
                "backgroundColor": {
                    "$ref": "OptionalColor"
                },
                "borderBottom": {
                    "$ref": "TableCellBorder"
                },
                "borderLeft": {
                    "$ref": "TableCellBorder"
                },
                "borderRight": {
                    "$ref": "TableCellBorder"
                },
                "borderTop": {
                    "$ref": "TableCellBorder"
                },
                "columnSpan": {
                    "format": "int32",
                    "type": "integer"
                },
                "contentAlignment": {
                    "enum": [
                        "CONTENT_ALIGNMENT_UNSPECIFIED",
                        "CONTENT_ALIGNMENT_UNSUPPORTED",
                        "TOP",
                        "MIDDLE",
                        "BOTTOM"
                    ],
                    "enumDescriptions": [
                        "An unspecified content alignment. The content alignment is inherited from\nthe parent if one exists.",
                        "An unsupported content alignment.",
                        "An alignment that aligns the content to the top of the content holder.\nCorresponds to ECMA-376 ST_TextAnchoringType 't'.",
                        "An alignment that aligns the content to the middle of the content holder.\nCorresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
                        "An alignment that aligns the content to the bottom of the content holder.\nCorresponds to ECMA-376 ST_TextAnchoringType 'b'."
[...]
