{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://documentai.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Document",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/document-ai/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "documentai:v1beta2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
    "name": "documentai",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "documents": {
                    "methods": {
                        "batchProcess": {
                            "flatPath": "v1beta2/projects/{projectsId}/documents:batchProcess",
                            "httpMethod": "POST",
                            "id": "documentai.projects.documents.batchProcess",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta2/{+parent}/documents:batchProcess",
                            "request": {
                                "$ref": "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsRequest"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "process": {
                            "flatPath": "v1beta2/projects/{projectsId}/documents:process",
                            "httpMethod": "POST",
                            "id": "documentai.projects.documents.process",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta2/{+parent}/documents:process",
                            "request": {
                                "$ref": "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest"
                            },
                            "response": {
                                "$ref": "GoogleCloudDocumentaiV1beta2Document"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "locations": {
                    "resources": {
                        "documents": {
                            "methods": {
                                "batchProcess": {
                                    "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/documents:batchProcess",
                                    "httpMethod": "POST",
                                    "id": "documentai.projects.locations.documents.batchProcess",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta2/{+parent}/documents:batchProcess",
                                    "request": {
                                        "$ref": "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleLongrunningOperation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "process": {
                                    "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/documents:process",
                                    "httpMethod": "POST",
                                    "id": "documentai.projects.locations.documents.process",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta2/{+parent}/documents:process",
                                    "request": {
                                        "$ref": "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudDocumentaiV1beta2Document"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "documentai.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta2/{+name}",
                                    "response": {
                                        "$ref": "GoogleLongrunningOperation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1beta2/projects/{projectsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "documentai.projects.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta2/{+name}",
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://documentai.googleapis.com/",
    "schemas": {
        "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse": {
            "id": "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1BoundingPoly": {
            "id": "GoogleCloudDocumentaiV1beta1BoundingPoly",
            "properties": {
                "normalizedVertices": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1NormalizedVertex"
                    },
                    "type": "array"
                },
                "vertices": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1Vertex"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1Document": {
            "id": "GoogleCloudDocumentaiV1beta1Document",
            "properties": {
                "content": {
                    "format": "byte",
                    "type": "string"
                },
                "entities": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntity"
                    },
                    "type": "array"
                },
                "entityRelations": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntityRelation"
                    },
                    "type": "array"
                },
                "error": {
                    "$ref": "GoogleRpcStatus"
                },
                "mimeType": {
                    "type": "string"
                },
                "pages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPage"
                    },
                    "type": "array"
                },
                "shardInfo": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentShardInfo"
                },
                "text": {
                    "type": "string"
                },
                "textStyles": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentStyle"
                    },
                    "type": "array"
                },
                "translations": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentTranslation"
                    },
                    "type": "array"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentEntity": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentEntity",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "mentionId": {
                    "type": "string"
                },
                "mentionText": {
                    "type": "string"
                },
                "textAnchor": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentEntityRelation": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentEntityRelation",
            "properties": {
                "objectId": {
                    "type": "string"
                },
                "relation": {
                    "type": "string"
                },
                "subjectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPage": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPage",
            "properties": {
                "blocks": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageBlock"
                    },
                    "type": "array"
                },
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "dimension": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDimension"
                },
                "formFields": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageFormField"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                },
                "lines": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLine"
                    },
                    "type": "array"
                },
                "pageNumber": {
                    "format": "int32",
                    "type": "integer"
                },
                "paragraphs": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageParagraph"
                    },
                    "type": "array"
                },
                "tables": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTable"
                    },
                    "type": "array"
                },
                "tokens": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageToken"
                    },
                    "type": "array"
                },
                "visualElements": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageBlock": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageBlock",
            "properties": {
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageDimension": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageDimension",
            "properties": {
                "height": {
                    "format": "float",
                    "type": "number"
                },
                "unit": {
                    "type": "string"
                },
                "width": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageFormField": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageFormField",
            "properties": {
                "fieldName": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                },
                "fieldValue": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                },
                "nameDetectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "valueDetectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageLayout": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
            "properties": {
                "boundingPoly": {
                    "$ref": "GoogleCloudDocumentaiV1beta1BoundingPoly"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "orientation": {
                    "enum": [
                        "ORIENTATION_UNSPECIFIED",
                        "PAGE_UP",
                        "PAGE_RIGHT",
                        "PAGE_DOWN",
                        "PAGE_LEFT"
                    ],
                    "type": "string"
                },
                "textAnchor": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageLine": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageLine",
            "properties": {
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageParagraph": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageParagraph",
            "properties": {
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageTable": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageTable",
            "properties": {
                "bodyRows": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow"
                    },
                    "type": "array"
                },
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "headerRows": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell",
            "properties": {
                "colSpan": {
                    "format": "int32",
                    "type": "integer"
                },
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                },
                "rowSpan": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow",
            "properties": {
                "cells": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageToken": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageToken",
            "properties": {
                "detectedBreak": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak"
                },
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak",
            "properties": {
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "SPACE",
                        "WIDE_SPACE",
                        "HYPHEN"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement",
            "properties": {
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentShardInfo": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentShardInfo",
            "properties": {
                "shardCount": {
                    "format": "int64",
                    "type": "string"
                },
                "shardIndex": {
                    "format": "int64",
                    "type": "string"
                },
                "textOffset": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentStyle": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentStyle",
            "properties": {
                "backgroundColor": {
                    "$ref": "GoogleTypeColor"
                },
                "color": {
                    "$ref": "GoogleTypeColor"
                },
                "fontSize": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentStyleFontSize"
                },
                "fontWeight": {
                    "type": "string"
                },
                "textAnchor": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor"
                },
                "textDecoration": {
                    "type": "string"
                },
                "textStyle": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentStyleFontSize": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentStyleFontSize",
            "properties": {
                "size": {
                    "format": "float",
                    "type": "number"
                },
                "unit": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentTextAnchor": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor",
            "properties": {
                "textSegments": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchorTextSegment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentTextAnchorTextSegment": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentTextAnchorTextSegment",
            "properties": {
                "endIndex": {
                    "format": "int64",
                    "type": "string"
                },
                "startIndex": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1DocumentTranslation": {
            "id": "GoogleCloudDocumentaiV1beta1DocumentTranslation",
            "properties": {
                "languageCode": {
                    "type": "string"
                },
                "textAnchor": {
                    "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor"
                },
                "translatedText": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1GcsDestination": {
            "id": "GoogleCloudDocumentaiV1beta1GcsDestination",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1GcsSource": {
            "id": "GoogleCloudDocumentaiV1beta1GcsSource",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1InputConfig": {
            "id": "GoogleCloudDocumentaiV1beta1InputConfig",
            "properties": {
                "gcsSource": {
                    "$ref": "GoogleCloudDocumentaiV1beta1GcsSource"
                },
                "mimeType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1NormalizedVertex": {
            "id": "GoogleCloudDocumentaiV1beta1NormalizedVertex",
            "properties": {
                "x": {
                    "format": "float",
                    "type": "number"
                },
                "y": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1OperationMetadata": {
            "id": "GoogleCloudDocumentaiV1beta1OperationMetadata",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACCEPTED",
                        "WAITING",
                        "RUNNING",
                        "SUCCEEDED",
                        "CANCELLED",
                        "FAILED"
                    ],
                    "type": "string"
                },
                "stateMessage": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1OutputConfig": {
            "id": "GoogleCloudDocumentaiV1beta1OutputConfig",
            "properties": {
                "gcsDestination": {
                    "$ref": "GoogleCloudDocumentaiV1beta1GcsDestination"
                },
                "pagesPerShard": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse": {
            "id": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse",
            "properties": {
                "inputConfig": {
                    "$ref": "GoogleCloudDocumentaiV1beta1InputConfig"
                },
                "outputConfig": {
                    "$ref": "GoogleCloudDocumentaiV1beta1OutputConfig"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta1Vertex": {
            "id": "GoogleCloudDocumentaiV1beta1Vertex",
            "properties": {
                "x": {
                    "format": "int32",
                    "type": "integer"
                },
                "y": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2AutoMlParams": {
            "id": "GoogleCloudDocumentaiV1beta2AutoMlParams",
            "properties": {
                "model": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsRequest": {
            "id": "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsRequest",
            "properties": {
                "requests": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsResponse": {
            "id": "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2ProcessDocumentResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2BoundingPoly": {
            "id": "GoogleCloudDocumentaiV1beta2BoundingPoly",
            "properties": {
                "normalizedVertices": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2NormalizedVertex"
                    },
                    "type": "array"
                },
                "vertices": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2Vertex"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2Document": {
            "id": "GoogleCloudDocumentaiV1beta2Document",
            "properties": {
                "content": {
                    "format": "byte",
                    "type": "string"
                },
                "entities": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntity"
                    },
                    "type": "array"
                },
                "entityRelations": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation"
                    },
                    "type": "array"
                },
                "error": {
                    "$ref": "GoogleRpcStatus"
                },
                "labels": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentLabel"
                    },
                    "type": "array"
                },
                "mimeType": {
                    "type": "string"
                },
                "pages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPage"
                    },
                    "type": "array"
                },
                "shardInfo": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentShardInfo"
                },
                "text": {
                    "type": "string"
                },
                "textStyles": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentStyle"
                    },
                    "type": "array"
                },
                "translations": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentTranslation"
                    },
                    "type": "array"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentEntity": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentEntity",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "mentionId": {
                    "type": "string"
                },
                "mentionText": {
                    "type": "string"
                },
                "textAnchor": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentEntityRelation": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation",
            "properties": {
                "objectId": {
                    "type": "string"
                },
                "relation": {
                    "type": "string"
                },
                "subjectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentLabel": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentLabel",
            "properties": {
                "automlModel": {
                    "type": "string"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPage": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPage",
            "properties": {
                "blocks": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageBlock"
                    },
                    "type": "array"
                },
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "dimension": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDimension"
                },
                "formFields": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageFormField"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                },
                "lines": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLine"
                    },
                    "type": "array"
                },
                "pageNumber": {
                    "format": "int32",
                    "type": "integer"
                },
                "paragraphs": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageParagraph"
                    },
                    "type": "array"
                },
                "tables": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTable"
                    },
                    "type": "array"
                },
                "tokens": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageToken"
                    },
                    "type": "array"
                },
                "visualElements": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageBlock": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageBlock",
            "properties": {
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageDimension": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageDimension",
            "properties": {
                "height": {
                    "format": "float",
                    "type": "number"
                },
                "unit": {
                    "type": "string"
                },
                "width": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageFormField": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageFormField",
            "properties": {
                "fieldName": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                },
                "fieldValue": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                },
                "nameDetectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "valueDetectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "valueType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageLayout": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
            "properties": {
                "boundingPoly": {
                    "$ref": "GoogleCloudDocumentaiV1beta2BoundingPoly"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "orientation": {
                    "enum": [
                        "ORIENTATION_UNSPECIFIED",
                        "PAGE_UP",
                        "PAGE_RIGHT",
                        "PAGE_DOWN",
                        "PAGE_LEFT"
                    ],
                    "type": "string"
                },
                "textAnchor": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageLine": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageLine",
            "properties": {
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageParagraph": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageParagraph",
            "properties": {
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageTable": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageTable",
            "properties": {
                "bodyRows": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
                    },
                    "type": "array"
                },
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "headerRows": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell",
            "properties": {
                "colSpan": {
                    "format": "int32",
                    "type": "integer"
                },
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                },
                "rowSpan": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow",
            "properties": {
                "cells": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageToken": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageToken",
            "properties": {
                "detectedBreak": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak"
                },
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak",
            "properties": {
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "SPACE",
                        "WIDE_SPACE",
                        "HYPHEN"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement",
            "properties": {
                "detectedLanguages": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
                    },
                    "type": "array"
                },
                "layout": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentShardInfo": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentShardInfo",
            "properties": {
                "shardCount": {
                    "format": "int64",
                    "type": "string"
                },
                "shardIndex": {
                    "format": "int64",
                    "type": "string"
                },
                "textOffset": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentStyle": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentStyle",
            "properties": {
                "backgroundColor": {
                    "$ref": "GoogleTypeColor"
                },
                "color": {
                    "$ref": "GoogleTypeColor"
                },
                "fontSize": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize"
                },
                "fontWeight": {
                    "type": "string"
                },
                "textAnchor": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
                },
                "textDecoration": {
                    "type": "string"
                },
                "textStyle": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize",
            "properties": {
                "size": {
                    "format": "float",
                    "type": "number"
                },
                "unit": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentTextAnchor": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
            "properties": {
                "textSegments": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment",
            "properties": {
                "endIndex": {
                    "format": "int64",
                    "type": "string"
                },
                "startIndex": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2DocumentTranslation": {
            "id": "GoogleCloudDocumentaiV1beta2DocumentTranslation",
            "properties": {
                "languageCode": {
                    "type": "string"
                },
                "textAnchor": {
                    "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
                },
                "translatedText": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2EntityExtractionParams": {
            "id": "GoogleCloudDocumentaiV1beta2EntityExtractionParams",
            "properties": {
                "enabled": {
                    "type": "boolean"
                },
                "modelVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2FormExtractionParams": {
            "id": "GoogleCloudDocumentaiV1beta2FormExtractionParams",
            "properties": {
                "enabled": {
                    "type": "boolean"
                },
                "keyValuePairHints": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2KeyValuePairHint"
                    },
                    "type": "array"
                },
                "modelVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2GcsDestination": {
            "id": "GoogleCloudDocumentaiV1beta2GcsDestination",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2GcsSource": {
            "id": "GoogleCloudDocumentaiV1beta2GcsSource",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2InputConfig": {
            "id": "GoogleCloudDocumentaiV1beta2InputConfig",
            "properties": {
                "contents": {
                    "format": "byte",
                    "type": "string"
                },
                "gcsSource": {
                    "$ref": "GoogleCloudDocumentaiV1beta2GcsSource"
                },
                "mimeType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2KeyValuePairHint": {
            "id": "GoogleCloudDocumentaiV1beta2KeyValuePairHint",
            "properties": {
                "key": {
                    "type": "string"
                },
                "valueTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2NormalizedVertex": {
            "id": "GoogleCloudDocumentaiV1beta2NormalizedVertex",
            "properties": {
                "x": {
                    "format": "float",
                    "type": "number"
                },
                "y": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2OcrParams": {
            "id": "GoogleCloudDocumentaiV1beta2OcrParams",
            "properties": {
                "languageHints": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2OperationMetadata": {
            "id": "GoogleCloudDocumentaiV1beta2OperationMetadata",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACCEPTED",
                        "WAITING",
                        "RUNNING",
                        "SUCCEEDED",
                        "CANCELLED",
                        "FAILED"
                    ],
                    "type": "string"
                },
                "stateMessage": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2OutputConfig": {
            "id": "GoogleCloudDocumentaiV1beta2OutputConfig",
            "properties": {
                "gcsDestination": {
                    "$ref": "GoogleCloudDocumentaiV1beta2GcsDestination"
                },
                "pagesPerShard": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest": {
            "id": "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest",
            "properties": {
                "automlParams": {
                    "$ref": "GoogleCloudDocumentaiV1beta2AutoMlParams"
                },
                "documentType": {
                    "type": "string"
                },
                "entityExtractionParams": {
                    "$ref": "GoogleCloudDocumentaiV1beta2EntityExtractionParams"
                },
                "formExtractionParams": {
                    "$ref": "GoogleCloudDocumentaiV1beta2FormExtractionParams"
                },
                "inputConfig": {
                    "$ref": "GoogleCloudDocumentaiV1beta2InputConfig"
                },
                "ocrParams": {
                    "$ref": "GoogleCloudDocumentaiV1beta2OcrParams"
                },
                "outputConfig": {
                    "$ref": "GoogleCloudDocumentaiV1beta2OutputConfig"
                },
                "parent": {
                    "type": "string"
                },
                "tableExtractionParams": {
                    "$ref": "GoogleCloudDocumentaiV1beta2TableExtractionParams"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2ProcessDocumentResponse": {
            "id": "GoogleCloudDocumentaiV1beta2ProcessDocumentResponse",
            "properties": {
                "inputConfig": {
                    "$ref": "GoogleCloudDocumentaiV1beta2InputConfig"
                },
                "outputConfig": {
                    "$ref": "GoogleCloudDocumentaiV1beta2OutputConfig"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2TableBoundHint": {
            "id": "GoogleCloudDocumentaiV1beta2TableBoundHint",
            "properties": {
                "boundingBox": {
                    "$ref": "GoogleCloudDocumentaiV1beta2BoundingPoly"
                },
                "pageNumber": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2TableExtractionParams": {
            "id": "GoogleCloudDocumentaiV1beta2TableExtractionParams",
            "properties": {
                "enabled": {
                    "type": "boolean"
                },
                "headerHints": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "modelVersion": {
                    "type": "string"
                },
                "tableBoundHints": {
                    "items": {
                        "$ref": "GoogleCloudDocumentaiV1beta2TableBoundHint"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudDocumentaiV1beta2Vertex": {
            "id": "GoogleCloudDocumentaiV1beta2Vertex",
            "properties": {
                "x": {
                    "format": "int32",
                    "type": "integer"
                },
                "y": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleLongrunningOperation": {
            "id": "GoogleLongrunningOperation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "GoogleRpcStatus"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleRpcStatus": {
            "id": "GoogleRpcStatus",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleTypeColor": {
            "id": "GoogleTypeColor",
            "properties": {
                "alpha": {
                    "format": "float",
                    "type": "number"
                },
                "blue": {
                    "format": "float",
                    "type": "number"
                },
                "green": {
                    "format": "float",
                    "type": "number"
                },
                "red": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Document AI API",
    "version": "v1beta2",
    "version_module": true
}