{
    "basePath": "",
    "baseUrl": "https://domainsrdap.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Domains RDAP",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/domains/rdap/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "domainsrdap:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://domainsrdap.mtls.googleapis.com/",
    "name": "domainsrdap",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "autnum": {
            "methods": {
                "get": {
                    "flatPath": "v1/autnum/{autnumId}",
                    "httpMethod": "GET",
                    "id": "domainsrdap.autnum.get",
                    "parameterOrder": [
                        "autnumId"
                    ],
                    "parameters": {
                        "autnumId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/autnum/{autnumId}",
                    "response": {
                        "$ref": "RdapResponse"
                    }
                }
            }
        },
        "domain": {
            "methods": {
                "get": {
                    "flatPath": "v1/domain/{domainId}",
                    "httpMethod": "GET",
                    "id": "domainsrdap.domain.get",
                    "parameterOrder": [
                        "domainName"
                    ],
                    "parameters": {
                        "domainName": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/domain/{+domainName}",
                    "response": {
                        "$ref": "HttpBody"
                    }
                }
            }
        },
        "entity": {
            "methods": {
                "get": {
                    "flatPath": "v1/entity/{entityId}",
                    "httpMethod": "GET",
                    "id": "domainsrdap.entity.get",
                    "parameterOrder": [
                        "entityId"
                    ],
                    "parameters": {
                        "entityId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/entity/{entityId}",
                    "response": {
                        "$ref": "RdapResponse"
                    }
                }
            }
        },
        "ip": {
            "methods": {
                "get": {
                    "flatPath": "v1/ip/{ipId}/{ipId1}",
                    "httpMethod": "GET",
                    "id": "domainsrdap.ip.get",
                    "parameterOrder": [
                        "ipId",
                        "ipId1"
                    ],
                    "parameters": {
                        "ipId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ipId1": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/ip/{ipId}/{ipId1}",
                    "response": {
                        "$ref": "RdapResponse"
                    }
                }
            }
        },
        "nameserver": {
            "methods": {
                "get": {
                    "flatPath": "v1/nameserver/{nameserverId}",
                    "httpMethod": "GET",
                    "id": "domainsrdap.nameserver.get",
                    "parameterOrder": [
                        "nameserverId"
                    ],
                    "parameters": {
                        "nameserverId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/nameserver/{nameserverId}",
                    "response": {
                        "$ref": "RdapResponse"
                    }
                }
            }
        },
        "v1": {
            "methods": {
                "getDomains": {
                    "flatPath": "v1/domains",
                    "httpMethod": "GET",
                    "id": "domainsrdap.getDomains",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/domains",
                    "response": {
                        "$ref": "RdapResponse"
                    }
                },
                "getEntities": {
                    "flatPath": "v1/entities",
                    "httpMethod": "GET",
                    "id": "domainsrdap.getEntities",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/entities",
                    "response": {
                        "$ref": "RdapResponse"
                    }
                },
                "getHelp": {
                    "flatPath": "v1/help",
                    "httpMethod": "GET",
                    "id": "domainsrdap.getHelp",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/help",
                    "response": {
                        "$ref": "HttpBody"
                    }
                },
                "getIp": {
                    "flatPath": "v1/ip",
                    "httpMethod": "GET",
                    "id": "domainsrdap.getIp",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/ip",
                    "response": {
                        "$ref": "HttpBody"
                    }
                },
                "getNameservers": {
                    "flatPath": "v1/nameservers",
                    "httpMethod": "GET",
                    "id": "domainsrdap.getNameservers",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/nameservers",
                    "response": {
                        "$ref": "RdapResponse"
                    }
                }
            }
        }
    },
    "rootUrl": "https://domainsrdap.googleapis.com/",
    "schemas": {
        "HttpBody": {
            "id": "HttpBody",
            "properties": {
                "contentType": {
                    "type": "string"
                },
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "extensions": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Link": {
            "id": "Link",
            "properties": {
                "href": {
                    "type": "string"
                },
                "hreflang": {
                    "type": "string"
                },
                "media": {
                    "type": "string"
                },
                "rel": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Notice": {
            "id": "Notice",
            "properties": {
                "links": {
                    "items": {
                        "$ref": "Link"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RdapResponse": {
            "id": "RdapResponse",
            "properties": {
                "errorCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "jsonResponse": {
                    "$ref": "HttpBody"
                },
                "lang": {
                    "type": "string"
                },
                "notices": {
                    "items": {
                        "$ref": "Notice"
                    },
                    "type": "array"
                },
                "rdapConformance": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Domains RDAP API",
    "version": "v1",
    "version_module": true
}