{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/doubleclicksearch": {}
            }
        }
    },
    "basePath": "/doubleclicksearch/v2/",
    "baseUrl": "https://www.googleapis.com/doubleclicksearch/v2/",
    "batchPath": "batch/doubleclicksearch/v2",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/doubleclick-search/",
    "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ynDkr4SM1ppjvQUdCD-6xoIc9Bg\"",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "doubleclicksearch:v2",
    "kind": "discovery#restDescription",
    "name": "doubleclicksearch",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "conversion": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "doubleclicksearch.conversion.get",
                    "parameterOrder": [
                        "agencyId",
                        "advertiserId",
                        "engineAccountId",
                        "endDate",
                        "rowCount",
                        "startDate",
                        "startRow"
                    ],
                    "parameters": {
                        "adGroupId": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "adId": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "advertiserId": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "agencyId": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "campaignId": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "criterionId": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "endDate": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "99991231",
                            "minimum": "20091101",
                            "required": true,
                            "type": "integer"
                        },
                        "engineAccountId": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "rowCount": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "required": true,
                            "type": "integer"
                        },
                        "startDate": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "99991231",
                            "minimum": "20091101",
                            "required": true,
                            "type": "integer"
                        },
                        "startRow": {
                            "format": "uint32",
                            "location": "query",
                            "required": true,
                            "type": "integer"
                        }
                    },
                    "path": "agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
                    "response": {
                        "$ref": "ConversionList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "doubleclicksearch.conversion.insert",
                    "path": "conversion",
                    "request": {
                        "$ref": "ConversionList"
                    },
                    "response": {
                        "$ref": "ConversionList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "doubleclicksearch.conversion.patch",
                    "parameterOrder": [
                        "advertiserId",
                        "agencyId",
                        "endDate",
                        "engineAccountId",
                        "rowCount",
                        "startDate",
                        "startRow"
                    ],
                    "parameters": {
                        "advertiserId": {
                            "format": "int64",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "agencyId": {
                            "format": "int64",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "endDate": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "99991231",
                            "minimum": "20091101",
                            "required": true,
                            "type": "integer"
                        },
                        "engineAccountId": {
                            "format": "int64",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "rowCount": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "required": true,
                            "type": "integer"
                        },
                        "startDate": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "99991231",
                            "minimum": "20091101",
                            "required": true,
                            "type": "integer"
                        },
                        "startRow": {
                            "format": "uint32",
                            "location": "query",
                            "required": true,
                            "type": "integer"
                        }
                    },
                    "path": "conversion",
                    "request": {
                        "$ref": "ConversionList"
                    },
                    "response": {
                        "$ref": "ConversionList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "doubleclicksearch.conversion.update",
                    "path": "conversion",
                    "request": {
                        "$ref": "ConversionList"
                    },
                    "response": {
                        "$ref": "ConversionList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ]
                },
                "updateAvailability": {
                    "httpMethod": "POST",
                    "id": "doubleclicksearch.conversion.updateAvailability",
                    "path": "conversion/updateAvailability",
                    "request": {
                        "$ref": "UpdateAvailabilityRequest",
                        "parameterName": "empty"
                    },
                    "response": {
                        "$ref": "UpdateAvailabilityResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ]
                }
            }
        },
        "reports": {
            "methods": {
                "generate": {
                    "httpMethod": "POST",
                    "id": "doubleclicksearch.reports.generate",
                    "path": "reports/generate",
                    "request": {
                        "$ref": "ReportRequest",
                        "parameterName": "reportRequest"
                    },
                    "response": {
                        "$ref": "Report"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "doubleclicksearch.reports.get",
                    "parameterOrder": [
                        "reportId"
                    ],
                    "parameters": {
                        "reportId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "reports/{reportId}",
                    "response": {
                        "$ref": "Report"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ]
                },
                "getFile": {
                    "httpMethod": "GET",
                    "id": "doubleclicksearch.reports.getFile",
                    "parameterOrder": [
                        "reportId",
                        "reportFragment"
                    ],
                    "parameters": {
                        "reportFragment": {
                            "format": "int32",
                            "location": "path",
                            "minimum": "0",
                            "required": true,
                            "type": "integer"
                        },
                        "reportId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "reports/{reportId}/files/{reportFragment}",
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ],
                    "supportsMediaDownload": true,
                    "useMediaDownloadService": true
                },
                "request": {
                    "httpMethod": "POST",
                    "id": "doubleclicksearch.reports.request",
                    "path": "reports",
                    "request": {
                        "$ref": "ReportRequest",
                        "parameterName": "reportRequest"
                    },
                    "response": {
                        "$ref": "Report"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ]
                }
            }
        },
        "savedColumns": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "doubleclicksearch.savedColumns.list",
                    "parameterOrder": [
                        "agencyId",
                        "advertiserId"
                    ],
                    "parameters": {
                        "advertiserId": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "agencyId": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
                    "response": {
                        "$ref": "SavedColumnList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/doubleclicksearch"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Availability": {
            "id": "Availability",
            "properties": {
                "advertiserId": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.conversion.updateAvailability"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                },
                "agencyId": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.conversion.updateAvailability"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                },
                "availabilityTimestamp": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.conversion.updateAvailability"
                        ]
                    },
                    "format": "uint64",
                    "type": "string"
                },
                "segmentationId": {
                    "format": "int64",
                    "type": "string"
                },
                "segmentationName": {
                    "type": "string"
                },
                "segmentationType": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.conversion.updateAvailability"
                        ]
                    },
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Conversion": {
            "id": "Conversion",
            "properties": {
                "adGroupId": {
                    "format": "int64",
                    "type": "string"
                },
                "adId": {
                    "format": "int64",
                    "type": "string"
                },
                "advertiserId": {
                    "format": "int64",
                    "type": "string"
                },
                "agencyId": {
                    "format": "int64",
                    "type": "string"
                },
                "attributionModel": {
                    "type": "string"
                },
                "campaignId": {
                    "format": "int64",
                    "type": "string"
                },
                "channel": {
                    "type": "string"
                },
                "clickId": {
                    "type": "string"
                },
                "conversionId": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.conversion.insert"
                        ]
                    },
                    "type": "string"
                },
                "conversionModifiedTimestamp": {
                    "format": "uint64",
                    "type": "string"
                },
                "conversionTimestamp": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.conversion.insert"
                        ]
                    },
                    "format": "uint64",
                    "type": "string"
                },
                "countMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "criterionId": {
                    "format": "int64",
                    "type": "string"
                },
                "currencyCode": {
                    "type": "string"
                },
                "customDimension": {
                    "items": {
                        "$ref": "CustomDimension"
                    },
                    "type": "array"
                },
                "customMetric": {
                    "items": {
                        "$ref": "CustomMetric"
                    },
                    "type": "array"
                },
                "deviceType": {
                    "type": "string"
                },
                "dsConversionId": {
                    "format": "int64",
                    "type": "string"
                },
                "engineAccountId": {
                    "format": "int64",
                    "type": "string"
                },
                "floodlightOrderId": {
                    "type": "string"
                },
                "inventoryAccountId": {
                    "format": "int64",
                    "type": "string"
                },
                "productCountry": {
                    "type": "string"
                },
                "productGroupId": {
                    "format": "int64",
                    "type": "string"
                },
                "productId": {
                    "type": "string"
                },
                "productLanguage": {
                    "type": "string"
                },
                "quantityMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "revenueMicros": {
                    "format": "int64",
                    "type": "string"
                },
                "segmentationId": {
                    "format": "int64",
                    "type": "string"
                },
                "segmentationName": {
                    "type": "string"
                },
                "segmentationType": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.conversion.insert"
                        ]
                    },
                    "type": "string"
                },
                "state": {
                    "type": "string"
                },
                "storeId": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConversionList": {
            "id": "ConversionList",
            "properties": {
                "conversion": {
                    "items": {
                        "$ref": "Conversion"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "doubleclicksearch#conversionList",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomDimension": {
            "id": "CustomDimension",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomMetric": {
            "id": "CustomMetric",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Report": {
            "id": "Report",
            "properties": {
                "files": {
                    "items": {
                        "properties": {
                            "byteCount": {
                                "format": "int64",
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                },
                "isReportReady": {
                    "type": "boolean"
                },
                "kind": {
                    "default": "doubleclicksearch#report",
                    "type": "string"
                },
                "request": {
                    "$ref": "ReportRequest"
                },
                "rowCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "rows": {
                    "items": {
                        "$ref": "ReportRow"
                    },
                    "type": "array"
                },
                "statisticsCurrencyCode": {
                    "type": "string"
                },
                "statisticsTimeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportApiColumnSpec": {
            "id": "ReportApiColumnSpec",
            "properties": {
                "columnName": {
                    "type": "string"
                },
                "customDimensionName": {
                    "type": "string"
                },
                "customMetricName": {
                    "type": "string"
                },
                "endDate": {
                    "type": "string"
                },
                "groupByColumn": {
                    "default": "false",
                    "type": "boolean"
                },
                "headerText": {
                    "type": "string"
                },
                "platformSource": {
                    "type": "string"
                },
                "productReportPerspective": {
                    "type": "string"
                },
                "savedColumnName": {
                    "type": "string"
                },
                "startDate": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportRequest": {
            "id": "ReportRequest",
            "properties": {
                "columns": {
                    "items": {
                        "$ref": "ReportApiColumnSpec"
                    },
                    "type": "array"
                },
                "downloadFormat": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.reports.request"
                        ]
                    },
                    "type": "string"
                },
                "filters": {
                    "items": {
                        "properties": {
                            "column": {
                                "$ref": "ReportApiColumnSpec"
                            },
                            "operator": {
                                "type": "string"
                            },
                            "values": {
                                "items": {
                                    "type": "any"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "includeDeletedEntities": {
                    "default": "false",
                    "type": "boolean"
                },
                "includeRemovedEntities": {
                    "default": "false",
                    "type": "boolean"
                },
                "maxRowsPerFile": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.reports.request"
                        ]
                    },
                    "format": "int32",
                    "maximum": "100000000",
                    "minimum": "1000000",
                    "type": "integer"
                },
                "orderBy": {
                    "items": {
                        "properties": {
                            "column": {
                                "$ref": "ReportApiColumnSpec"
                            },
                            "sortOrder": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "reportScope": {
                    "properties": {
                        "adGroupId": {
                            "format": "int64",
                            "type": "string"
                        },
                        "adId": {
                            "format": "int64",
                            "type": "string"
                        },
                        "advertiserId": {
                            "format": "int64",
                            "type": "string"
                        },
                        "agencyId": {
                            "format": "int64",
                            "type": "string"
                        },
                        "campaignId": {
                            "format": "int64",
                            "type": "string"
                        },
                        "engineAccountId": {
                            "format": "int64",
                            "type": "string"
                        },
                        "keywordId": {
                            "format": "int64",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "reportType": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.reports.generate",
                            "doubleclicksearch.reports.request"
                        ]
                    },
                    "type": "string"
                },
                "rowCount": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.reports.generate"
                        ]
                    },
                    "default": "10000",
                    "format": "int32",
                    "maximum": "10000",
                    "minimum": "0",
                    "type": "integer"
                },
                "startRow": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.reports.generate"
                        ]
                    },
                    "default": "0",
                    "format": "int32",
                    "maximum": "50000",
                    "minimum": "0",
                    "type": "integer"
                },
                "statisticsCurrency": {
                    "annotations": {
                        "required": [
                            "doubleclicksearch.reports.generate",
                            "doubleclicksearch.reports.request"
                        ]
                    },
                    "type": "string"
                },
                "timeRange": {
                    "properties": {
                        "changedAttributesSinceTimestamp": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "changedMetricsSinceTimestamp": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "endDate": {
                            "type": "string"
                        },
                        "startDate": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "verifySingleTimeZone": {
                    "default": "false",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ReportRow": {
            "additionalProperties": {
                "type": "any"
            },
            "id": "ReportRow",
            "type": "object"
        },
        "SavedColumn": {
            "id": "SavedColumn",
            "properties": {
                "kind": {
                    "default": "doubleclicksearch#savedColumn",
                    "type": "string"
                },
                "savedColumnName": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SavedColumnList": {
            "id": "SavedColumnList",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "SavedColumn"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "doubleclicksearch#savedColumnList",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateAvailabilityRequest": {
            "id": "UpdateAvailabilityRequest",
            "properties": {
                "availabilities": {
                    "items": {
                        "$ref": "Availability"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateAvailabilityResponse": {
            "id": "UpdateAvailabilityResponse",
            "properties": {
                "availabilities": {
                    "items": {
                        "$ref": "Availability"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "doubleclicksearch/v2/",
    "title": "Search Ads 360 API",
    "version": "v2"
}