{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/drive": {},
                "https://www.googleapis.com/auth/drive.appdata": {},
                "https://www.googleapis.com/auth/drive.file": {},
                "https://www.googleapis.com/auth/drive.metadata": {},
                "https://www.googleapis.com/auth/drive.metadata.readonly": {},
                "https://www.googleapis.com/auth/drive.photos.readonly": {},
                "https://www.googleapis.com/auth/drive.readonly": {},
                "https://www.googleapis.com/auth/drive.scripts": {}
            }
        }
    },
    "basePath": "/drive/v3/",
    "baseUrl": "https://www.googleapis.com/drive/v3/",
    "batchPath": "batch/drive/v3",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/drive/",
    "icons": {
        "x16": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png",
        "x32": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"
    },
    "id": "drive:v3",
    "kind": "discovery#restDescription",
    "name": "drive",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "about": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "drive.about.get",
                    "path": "about",
                    "response": {
                        "$ref": "About"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                }
            }
        },
        "changes": {
            "methods": {
                "getStartPageToken": {
                    "httpMethod": "GET",
                    "id": "drive.changes.getStartPageToken",
                    "parameters": {
                        "driveId": {
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "teamDriveId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "changes/startPageToken",
                    "response": {
                        "$ref": "StartPageToken"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "drive.changes.list",
                    "parameterOrder": [
                        "pageToken"
                    ],
                    "parameters": {
                        "driveId": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeCorpusRemovals": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includeItemsFromAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeRemoved": {
                            "default": "true",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includeTeamDriveItems": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageSize": {
                            "default": "100",
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "restrictToMyDrive": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "spaces": {
                            "default": "drive",
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "teamDriveId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "changes",
                    "response": {
                        "$ref": "ChangeList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "supportsSubscription": true
                },
                "watch": {
                    "httpMethod": "POST",
                    "id": "drive.changes.watch",
                    "parameterOrder": [
                        "pageToken"
                    ],
                    "parameters": {
                        "driveId": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeCorpusRemovals": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includeItemsFromAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeRemoved": {
                            "default": "true",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includeTeamDriveItems": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageSize": {
                            "default": "100",
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "restrictToMyDrive": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "spaces": {
                            "default": "drive",
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "teamDriveId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "changes/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "supportsSubscription": true
                }
            }
        },
        "channels": {
            "methods": {
                "stop": {
                    "httpMethod": "POST",
                    "id": "drive.channels.stop",
                    "path": "channels/stop",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                }
            }
        },
        "comments": {
            "methods": {
                "create": {
                    "httpMethod": "POST",
                    "id": "drive.comments.create",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/comments",
                    "request": {
                        "$ref": "Comment"
                    },
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "drive.comments.delete",
                    "parameterOrder": [
                        "fileId",
                        "commentId"
                    ],
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/comments/{commentId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "drive.comments.get",
                    "parameterOrder": [
                        "fileId",
                        "commentId"
                    ],
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "includeDeleted": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}/comments/{commentId}",
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "drive.comments.list",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "includeDeleted": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageSize": {
                            "default": "20",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "startModifiedTime": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/comments",
                    "response": {
                        "$ref": "CommentList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "update": {
                    "httpMethod": "PATCH",
                    "id": "drive.comments.update",
                    "parameterOrder": [
                        "fileId",
                        "commentId"
                    ],
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/comments/{commentId}",
                    "request": {
                        "$ref": "Comment"
                    },
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                }
            }
        },
        "drives": {
            "methods": {
                "create": {
                    "httpMethod": "POST",
                    "id": "drive.drives.create",
                    "parameterOrder": [
                        "requestId"
                    ],
                    "parameters": {
                        "requestId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "drives",
                    "request": {
                        "$ref": "Drive"
                    },
                    "response": {
                        "$ref": "Drive"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "drive.drives.delete",
                    "parameterOrder": [
                        "driveId"
                    ],
                    "parameters": {
                        "driveId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "drives/{driveId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "drive.drives.get",
                    "parameterOrder": [
                        "driveId"
                    ],
                    "parameters": {
                        "driveId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "drives/{driveId}",
                    "response": {
                        "$ref": "Drive"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "hide": {
                    "httpMethod": "POST",
                    "id": "drive.drives.hide",
                    "parameterOrder": [
                        "driveId"
                    ],
                    "parameters": {
                        "driveId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "drives/{driveId}/hide",
                    "response": {
                        "$ref": "Drive"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "drive.drives.list",
                    "parameters": {
                        "pageSize": {
                            "default": "10",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "drives",
                    "response": {
                        "$ref": "DriveList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "unhide": {
                    "httpMethod": "POST",
                    "id": "drive.drives.unhide",
                    "parameterOrder": [
                        "driveId"
                    ],
                    "parameters": {
                        "driveId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "drives/{driveId}/unhide",
                    "response": {
                        "$ref": "Drive"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                },
                "update": {
                    "httpMethod": "PATCH",
                    "id": "drive.drives.update",
                    "parameterOrder": [
                        "driveId"
                    ],
                    "parameters": {
                        "driveId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "drives/{driveId}",
                    "request": {
                        "$ref": "Drive"
                    },
                    "response": {
                        "$ref": "Drive"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                }
            }
        },
        "files": {
            "methods": {
                "copy": {
                    "httpMethod": "POST",
                    "id": "drive.files.copy",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "enforceSingleParent": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ignoreDefaultVisibility": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string"
                        },
                        "keepRevisionForever": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "ocrLanguage": {
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}/copy",
                    "request": {
                        "$ref": "File"
                    },
                    "response": {
                        "$ref": "File"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.photos.readonly"
                    ]
                },
                "create": {
                    "httpMethod": "POST",
                    "id": "drive.files.create",
                    "mediaUpload": {
                        "accept": [
                            "*/*"
                        ],
                        "maxSize": "5120GB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/drive/v3/files"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/drive/v3/files"
                            }
                        }
                    },
                    "parameters": {
                        "enforceSingleParent": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "ignoreDefaultVisibility": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string"
                        },
                        "keepRevisionForever": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "ocrLanguage": {
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "useContentAsIndexableText": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files",
                    "request": {
                        "$ref": "File"
                    },
                    "response": {
                        "$ref": "File"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "supportsMediaUpload": true,
                    "supportsSubscription": true
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "drive.files.delete",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "emptyTrash": {
                    "httpMethod": "DELETE",
                    "id": "drive.files.emptyTrash",
                    "path": "files/trash",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                },
                "export": {
                    "httpMethod": "GET",
                    "id": "drive.files.export",
                    "parameterOrder": [
                        "fileId",
                        "mimeType"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "mimeType": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/export",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "supportsMediaDownload": true
                },
                "generateIds": {
                    "httpMethod": "GET",
                    "id": "drive.files.generateIds",
                    "parameters": {
                        "count": {
                            "default": "10",
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "space": {
                            "default": "drive",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "files/generateIds",
                    "response": {
                        "$ref": "GeneratedIds"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "drive.files.get",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "acknowledgeAbuse": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}",
                    "response": {
                        "$ref": "File"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "supportsMediaDownload": true,
                    "supportsSubscription": true,
                    "useMediaDownloadService": true
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "drive.files.list",
                    "parameters": {
                        "corpora": {
                            "location": "query",
                            "type": "string"
                        },
                        "corpus": {
                            "enum": [
                                "domain",
                                "user"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "driveId": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeItemsFromAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeTeamDriveItems": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "default": "100",
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "spaces": {
                            "default": "drive",
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "teamDriveId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "files",
                    "response": {
                        "$ref": "FileList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "update": {
                    "httpMethod": "PATCH",
                    "id": "drive.files.update",
                    "mediaUpload": {
                        "accept": [
                            "*/*"
                        ],
                        "maxSize": "5120GB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/drive/v3/files/{fileId}"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/drive/v3/files/{fileId}"
                            }
                        }
                    },
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "addParents": {
                            "location": "query",
                            "type": "string"
                        },
                        "enforceSingleParent": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string"
                        },
                        "keepRevisionForever": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "ocrLanguage": {
                            "location": "query",
                            "type": "string"
                        },
                        "removeParents": {
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "useContentAsIndexableText": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}",
                    "request": {
                        "$ref": "File"
                    },
                    "response": {
                        "$ref": "File"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.scripts"
                    ],
                    "supportsMediaUpload": true
                },
                "watch": {
                    "httpMethod": "POST",
                    "id": "drive.files.watch",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "acknowledgeAbuse": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "supportsMediaDownload": true,
                    "supportsSubscription": true,
                    "useMediaDownloadService": true
                }
            }
        },
        "permissions": {
            "methods": {
                "create": {
                    "httpMethod": "POST",
                    "id": "drive.permissions.create",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "emailMessage": {
                            "location": "query",
                            "type": "string"
                        },
                        "enforceSingleParent": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "moveToNewOwnersRoot": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "sendNotificationEmail": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "transferOwnership": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}/permissions",
                    "request": {
                        "$ref": "Permission"
                    },
                    "response": {
                        "$ref": "Permission"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "drive.permissions.delete",
                    "parameterOrder": [
                        "fileId",
                        "permissionId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "permissionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}/permissions/{permissionId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "drive.permissions.get",
                    "parameterOrder": [
                        "fileId",
                        "permissionId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "permissionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}/permissions/{permissionId}",
                    "response": {
                        "$ref": "Permission"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "drive.permissions.list",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}/permissions",
                    "response": {
                        "$ref": "PermissionList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "update": {
                    "httpMethod": "PATCH",
                    "id": "drive.permissions.update",
                    "parameterOrder": [
                        "fileId",
                        "permissionId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "permissionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "removeExpiration": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsTeamDrives": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "transferOwnership": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "files/{fileId}/permissions/{permissionId}",
                    "request": {
                        "$ref": "Permission"
                    },
                    "response": {
                        "$ref": "Permission"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                }
            }
        },
        "replies": {
            "methods": {
                "create": {
                    "httpMethod": "POST",
                    "id": "drive.replies.create",
                    "parameterOrder": [
                        "fileId",
                        "commentId"
                    ],
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/comments/{commentId}/replies",
                    "request": {
                        "$ref": "Reply"
                    },
                    "response": {
                        "$ref": "Reply"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "drive.replies.delete",
                    "parameterOrder": [
                        "fileId",
                        "commentId",
                        "replyId"
                    ],
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "replyId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "drive.replies.get",
                    "parameterOrder": [
                        "fileId",
                        "commentId",
                        "replyId"
                    ],
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "includeDeleted": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "replyId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
                    "response": {
                        "$ref": "Reply"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "drive.replies.list",
                    "parameterOrder": [
                        "fileId",
                        "commentId"
                    ],
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "includeDeleted": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageSize": {
                            "default": "20",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/comments/{commentId}/replies",
                    "response": {
                        "$ref": "ReplyList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "update": {
                    "httpMethod": "PATCH",
                    "id": "drive.replies.update",
                    "parameterOrder": [
                        "fileId",
                        "commentId",
                        "replyId"
                    ],
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "replyId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
                    "request": {
                        "$ref": "Reply"
                    },
                    "response": {
                        "$ref": "Reply"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                }
            }
        },
        "revisions": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "drive.revisions.delete",
                    "parameterOrder": [
                        "fileId",
                        "revisionId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "revisionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/revisions/{revisionId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "drive.revisions.get",
                    "parameterOrder": [
                        "fileId",
                        "revisionId"
                    ],
                    "parameters": {
                        "acknowledgeAbuse": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "revisionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/revisions/{revisionId}",
                    "response": {
                        "$ref": "Revision"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "supportsMediaDownload": true,
                    "useMediaDownloadService": true
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "drive.revisions.list",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "default": "200",
                            "format": "int32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/revisions",
                    "response": {
                        "$ref": "RevisionList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "update": {
                    "httpMethod": "PATCH",
                    "id": "drive.revisions.update",
                    "parameterOrder": [
                        "fileId",
                        "revisionId"
                    ],
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "revisionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "files/{fileId}/revisions/{revisionId}",
                    "request": {
                        "$ref": "Revision"
                    },
                    "response": {
                        "$ref": "Revision"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                }
            }
        },
        "teamdrives": {
            "methods": {
                "create": {
                    "httpMethod": "POST",
                    "id": "drive.teamdrives.create",
                    "parameterOrder": [
                        "requestId"
                    ],
                    "parameters": {
                        "requestId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teamdrives",
                    "request": {
                        "$ref": "TeamDrive"
                    },
                    "response": {
                        "$ref": "TeamDrive"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "drive.teamdrives.delete",
                    "parameterOrder": [
                        "teamDriveId"
                    ],
                    "parameters": {
                        "teamDriveId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teamdrives/{teamDriveId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "drive.teamdrives.get",
                    "parameterOrder": [
                        "teamDriveId"
                    ],
                    "parameters": {
                        "teamDriveId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "teamdrives/{teamDriveId}",
                    "response": {
                        "$ref": "TeamDrive"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "drive.teamdrives.list",
                    "parameters": {
                        "pageSize": {
                            "default": "10",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "teamdrives",
                    "response": {
                        "$ref": "TeamDriveList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "update": {
                    "httpMethod": "PATCH",
                    "id": "drive.teamdrives.update",
                    "parameterOrder": [
                        "teamDriveId"
                    ],
                    "parameters": {
                        "teamDriveId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "teamdrives/{teamDriveId}",
                    "request": {
                        "$ref": "TeamDrive"
                    },
                    "response": {
                        "$ref": "TeamDrive"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "About": {
            "id": "About",
            "properties": {
                "appInstalled": {
                    "type": "boolean"
                },
                "canCreateDrives": {
                    "type": "boolean"
                },
                "canCreateTeamDrives": {
                    "type": "boolean"
                },
                "driveThemes": {
                    "items": {
                        "properties": {
                            "backgroundImageLink": {
                                "type": "string"
                            },
                            "colorRgb": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "exportFormats": {
                    "additionalProperties": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "type": "object"
                },
                "folderColorPalette": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "importFormats": {
                    "additionalProperties": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "type": "object"
                },
                "kind": {
                    "default": "drive#about",
                    "type": "string"
                },
                "maxImportSizes": {
                    "additionalProperties": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "object"
                },
                "maxUploadSize": {
                    "format": "int64",
                    "type": "string"
                },
                "storageQuota": {
                    "properties": {
                        "limit": {
                            "format": "int64",
                            "type": "string"
                        },
                        "usage": {
                            "format": "int64",
                            "type": "string"
                        },
                        "usageInDrive": {
                            "format": "int64",
                            "type": "string"
                        },
                        "usageInDriveTrash": {
                            "format": "int64",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "teamDriveThemes": {
                    "items": {
                        "properties": {
                            "backgroundImageLink": {
                                "type": "string"
                            },
                            "colorRgb": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "user": {
                    "$ref": "User"
                }
            },
            "type": "object"
        },
        "Change": {
            "id": "Change",
            "properties": {
                "changeType": {
                    "type": "string"
                },
                "drive": {
                    "$ref": "Drive"
                },
                "driveId": {
                    "type": "string"
                },
                "file": {
                    "$ref": "File"
                },
                "fileId": {
                    "type": "string"
                },
                "kind": {
                    "default": "drive#change",
                    "type": "string"
                },
                "removed": {
                    "type": "boolean"
                },
                "teamDrive": {
                    "$ref": "TeamDrive"
                },
                "teamDriveId": {
                    "type": "string"
                },
                "time": {
                    "format": "date-time",
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChangeList": {
            "id": "ChangeList",
            "properties": {
                "changes": {
                    "items": {
                        "$ref": "Change"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "drive#changeList",
                    "type": "string"
                },
                "newStartPageToken": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Channel": {
            "id": "Channel",
            "properties": {
                "address": {
                    "type": "string"
                },
                "expiration": {
                    "format": "int64",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "api#channel",
                    "type": "string"
                },
                "params": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "payload": {
                    "type": "boolean"
                },
                "resourceId": {
                    "type": "string"
                },
                "resourceUri": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Comment": {
            "id": "Comment",
            "properties": {
                "anchor": {
                    "type": "string"
                },
                "author": {
                    "$ref": "User"
                },
                "content": {
                    "annotations": {
                        "required": [
                            "drive.comments.create",
                            "drive.comments.update"
                        ]
                    },
                    "type": "string"
                },
                "createdTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "deleted": {
                    "type": "boolean"
                },
                "htmlContent": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "drive#comment",
                    "type": "string"
                },
                "modifiedTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "quotedFileContent": {
                    "properties": {
                        "mimeType": {
                            "type": "string"
                        },
                        "value": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "replies": {
                    "items": {
                        "$ref": "Reply"
                    },
                    "type": "array"
                },
                "resolved": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CommentList": {
            "id": "CommentList",
            "properties": {
                "comments": {
                    "items": {
                        "$ref": "Comment"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "drive#commentList",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContentRestriction": {
            "id": "ContentRestriction",
            "properties": {
                "readOnly": {
                    "type": "boolean"
                },
                "reason": {
                    "type": "string"
                },
                "restrictingUser": {
                    "$ref": "User"
                },
                "restrictionTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Drive": {
            "id": "Drive",
            "properties": {
                "backgroundImageFile": {
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "width": {
                            "format": "float",
                            "type": "number"
                        },
                        "xCoordinate": {
                            "format": "float",
                            "type": "number"
                        },
                        "yCoordinate": {
                            "format": "float",
                            "type": "number"
                        }
                    },
                    "type": "object"
                },
                "backgroundImageLink": {
                    "type": "string"
                },
                "capabilities": {
                    "properties": {
                        "canAddChildren": {
                            "type": "boolean"
                        },
                        "canChangeCopyRequiresWriterPermissionRestriction": {
                            "type": "boolean"
                        },
                        "canChangeDomainUsersOnlyRestriction": {
                            "type": "boolean"
                        },
                        "canChangeDriveBackground": {
                            "type": "boolean"
                        },
                        "canChangeDriveMembersOnlyRestriction": {
                            "type": "boolean"
                        },
                        "canComment": {
                            "type": "boolean"
                        },
                        "canCopy": {
                            "type": "boolean"
                        },
                        "canDeleteChildren": {
                            "type": "boolean"
                        },
                        "canDeleteDrive": {
                            "type": "boolean"
                        },
                        "canDownload": {
                            "type": "boolean"
                        },
                        "canEdit": {
                            "type": "boolean"
                        },
                        "canListChildren": {
                            "type": "boolean"
                        },
                        "canManageMembers": {
                            "type": "boolean"
                        },
                        "canReadRevisions": {
                            "type": "boolean"
                        },
                        "canRename": {
                            "type": "boolean"
                        },
                        "canRenameDrive": {
                            "type": "boolean"
                        },
                        "canShare": {
                            "type": "boolean"
                        },
                        "canTrashChildren": {
                            "type": "boolean"
                        }
                    },
                    "type": "object"
                },
                "colorRgb": {
                    "type": "string"
                },
                "createdTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "hidden": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "drive#drive",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "restrictions": {
                    "properties": {
                        "adminManagedRestrictions": {
                            "type": "boolean"
                        },
                        "copyRequiresWriterPermission": {
                            "type": "boolean"
                        },
                        "domainUsersOnly": {
                            "type": "boolean"
                        },
                        "driveMembersOnly": {
                            "type": "boolean"
                        }
                    },
                    "type": "object"
                },
                "themeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DriveList": {
            "id": "DriveList",
            "properties": {
                "drives": {
                    "items": {
                        "$ref": "Drive"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "drive#driveList",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "File": {
            "id": "File",
            "properties": {
                "appProperties": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "capabilities": {
                    "properties": {
                        "canAddChildren": {
                            "type": "boolean"
                        },
                        "canAddFolderFromAnotherDrive": {
                            "type": "boolean"
                        },
                        "canAddMyDriveParent": {
                            "type": "boolean"
                        },
                        "canChangeCopyRequiresWriterPermission": {
                            "type": "boolean"
                        },
                        "canChangeViewersCanCopyContent": {
                            "type": "boolean"
                        },
                        "canComment": {
                            "type": "boolean"
                        },
                        "canCopy": {
                            "type": "boolean"
                        },
                        "canDelete": {
                            "type": "boolean"
                        },
                        "canDeleteChildren": {
                            "type": "boolean"
                        },
                        "canDownload": {
                            "type": "boolean"
                        },
                        "canEdit": {
                            "type": "boolean"
                        },
                        "canListChildren": {
                            "type": "boolean"
                        },
                        "canModifyContent": {
                            "type": "boolean"
                        },
                        "canModifyContentRestriction": {
                            "type": "boolean"
                        },
                        "canMoveChildrenOutOfDrive": {
                            "type": "boolean"
                        },
                        "canMoveChildrenOutOfTeamDrive": {
                            "type": "boolean"
                        },
                        "canMoveChildrenWithinDrive": {
                            "type": "boolean"
                        },
                        "canMoveChildrenWithinTeamDrive": {
                            "type": "boolean"
                        },
                        "canMoveItemIntoTeamDrive": {
                            "type": "boolean"
                        },
                        "canMoveItemOutOfDrive": {
                            "type": "boolean"
                        },
                        "canMoveItemOutOfTeamDrive": {
                            "type": "boolean"
                        },
                        "canMoveItemWithinDrive": {
                            "type": "boolean"
                        },
                        "canMoveItemWithinTeamDrive": {
                            "type": "boolean"
                        },
                        "canMoveTeamDriveItem": {
                            "type": "boolean"
                        },
                        "canReadDrive": {
                            "type": "boolean"
                        },
                        "canReadRevisions": {
                            "type": "boolean"
                        },
                        "canReadTeamDrive": {
                            "type": "boolean"
                        },
                        "canRemoveChildren": {
                            "type": "boolean"
                        },
                        "canRemoveMyDriveParent": {
                            "type": "boolean"
                        },
                        "canRename": {
                            "type": "boolean"
                        },
                        "canShare": {
                            "type": "boolean"
                        },
                        "canTrash": {
                            "type": "boolean"
                        },
                        "canTrashChildren": {
                            "type": "boolean"
                        },
                        "canUntrash": {
                            "type": "boolean"
                        }
                    },
                    "type": "object"
                },
                "contentHints": {
                    "properties": {
                        "indexableText": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "properties": {
                                "image": {
                                    "format": "byte",
                                    "type": "string"
                                },
                                "mimeType": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                },
                "contentRestrictions": {
                    "items": {
                        "$ref": "ContentRestriction"
                    },
                    "type": "array"
                },
                "copyRequiresWriterPermission": {
                    "type": "boolean"
                },
                "createdTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "driveId": {
                    "type": "string"
                },
                "explicitlyTrashed": {
                    "type": "boolean"
                },
                "exportLinks": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "fileExtension": {
                    "type": "string"
                },
                "folderColorRgb": {
                    "type": "string"
                },
                "fullFileExtension": {
                    "type": "string"
                },
                "hasAugmentedPermissions": {
                    "type": "boolean"
                },
                "hasThumbnail": {
                    "type": "boolean"
                },
                "headRevisionId": {
                    "type": "string"
                },
                "iconLink": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "imageMediaMetadata": {
                    "properties": {
                        "aperture": {
                            "format": "float",
                            "type": "number"
                        },
                        "cameraMake": {
                            "type": "string"
                        },
                        "cameraModel": {
[...]
