{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/userinfo.email": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://factchecktools.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Fact Check Tools",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/fact-check/tools/api/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "factchecktools:v1alpha1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/",
    "name": "factchecktools",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "claims": {
            "methods": {
                "search": {
                    "flatPath": "v1alpha1/claims:search",
                    "httpMethod": "GET",
                    "id": "factchecktools.claims.search",
                    "parameterOrder": [],
                    "parameters": {
                        "languageCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxAgeDays": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "offset": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        },
                        "reviewPublisherSiteFilter": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1alpha1/claims:search",
                    "response": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
                    }
                }
            }
        },
        "pages": {
            "methods": {
                "create": {
                    "flatPath": "v1alpha1/pages",
                    "httpMethod": "POST",
                    "id": "factchecktools.pages.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1alpha1/pages",
                    "request": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
                    },
                    "response": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "delete": {
                    "flatPath": "v1alpha1/pages/{pagesId}",
                    "httpMethod": "DELETE",
                    "id": "factchecktools.pages.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^pages/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1alpha1/{+name}",
                    "response": {
                        "$ref": "GoogleProtobufEmpty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "get": {
                    "flatPath": "v1alpha1/pages/{pagesId}",
                    "httpMethod": "GET",
                    "id": "factchecktools.pages.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^pages/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1alpha1/{+name}",
                    "response": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "list": {
                    "flatPath": "v1alpha1/pages",
                    "httpMethod": "GET",
                    "id": "factchecktools.pages.list",
                    "parameterOrder": [],
                    "parameters": {
                        "offset": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "organization": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "url": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1alpha1/pages",
                    "response": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "update": {
                    "flatPath": "v1alpha1/pages/{pagesId}",
                    "httpMethod": "PUT",
                    "id": "factchecktools.pages.update",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^pages/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1alpha1/{+name}",
                    "request": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
                    },
                    "response": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://factchecktools.googleapis.com/",
    "schemas": {
        "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
            "properties": {
                "claimDate": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "claimReview": {
                    "items": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
                    },
                    "type": "array"
                },
                "claimant": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
            "properties": {
                "imageUrl": {
                    "type": "string"
                },
                "jobTitle": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "sameAs": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating",
            "properties": {
                "bestRating": {
                    "format": "int32",
                    "type": "integer"
                },
                "imageUrl": {
                    "type": "string"
                },
                "ratingExplanation": {
                    "type": "string"
                },
                "ratingValue": {
                    "format": "int32",
                    "type": "integer"
                },
                "textualRating": {
                    "type": "string"
                },
                "worstRating": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview",
            "properties": {
                "languageCode": {
                    "type": "string"
                },
                "publisher": {
                    "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
                },
                "reviewDate": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "textualRating": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
            "properties": {
                "imageUrl": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
            "properties": {
                "claimAppearances": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "claimAuthor": {
                    "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor"
                },
                "claimDate": {
                    "type": "string"
                },
                "claimFirstAppearance": {
                    "type": "string"
                },
                "claimLocation": {
                    "type": "string"
                },
                "claimReviewed": {
                    "type": "string"
                },
                "rating": {
                    "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage",
            "properties": {
                "claimReviewAuthor": {
                    "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
                },
                "claimReviewMarkups": {
                    "items": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "pageUrl": {
                    "type": "string"
                },
                "publishDate": {
                    "type": "string"
                },
                "versionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse",
            "properties": {
                "claims": {
                    "items": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse",
            "properties": {
                "claimReviewMarkupPages": {
                    "items": {
                        "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
            "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
            "properties": {
                "name": {
                    "type": "string"
                },
                "site": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleProtobufEmpty": {
            "id": "GoogleProtobufEmpty",
            "properties": {},
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Fact Check Tools API",
    "version": "v1alpha1",
    "version_module": true
}