{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://fcm.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firebase Cloud Messaging",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com/docs/cloud-messaging",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "fcm:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://fcm.mtls.googleapis.com/",
    "name": "fcm",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "messages": {
                    "methods": {
                        "send": {
                            "flatPath": "v1/projects/{projectsId}/messages:send",
                            "httpMethod": "POST",
                            "id": "fcm.projects.messages.send",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/messages:send",
                            "request": {
                                "$ref": "SendMessageRequest"
                            },
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://fcm.googleapis.com/",
    "schemas": {
        "AndroidConfig": {
            "id": "AndroidConfig",
            "properties": {
                "collapseKey": {
                    "type": "string"
                },
                "data": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "directBootOk": {
                    "type": "boolean"
                },
                "fcmOptions": {
                    "$ref": "AndroidFcmOptions"
                },
                "notification": {
                    "$ref": "AndroidNotification"
                },
                "priority": {
                    "enum": [
                        "NORMAL",
                        "HIGH"
                    ],
                    "enumDescriptions": [
                        "Default priority for data messages. Normal priority messages won't open\nnetwork connections on a sleeping device, and their delivery may be\ndelayed to conserve the battery. For less time-sensitive messages, such\nas notifications of new email or other data to sync, choose normal\ndelivery priority.",
                        "Default priority for notification messages. FCM attempts to deliver high\npriority messages immediately, allowing the FCM service to wake a\nsleeping device when possible and open a network connection to your app\nserver. Apps with instant messaging, chat, or voice call alerts, for\nexample, generally need to open a network connection and make sure FCM\ndelivers the message to the device without delay. Set high priority if\nthe message is time-critical and requires the user's immediate\ninteraction, but beware that setting your messages to high priority\ncontributes more to battery drain compared with normal priority messages."
                    ],
                    "type": "string"
                },
                "restrictedPackageName": {
                    "type": "string"
                },
                "ttl": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidFcmOptions": {
            "id": "AndroidFcmOptions",
            "properties": {
                "analyticsLabel": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidNotification": {
            "id": "AndroidNotification",
            "properties": {
                "body": {
                    "type": "string"
                },
                "bodyLocArgs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "bodyLocKey": {
                    "type": "string"
                },
                "channelId": {
                    "type": "string"
                },
                "clickAction": {
                    "type": "string"
                },
                "color": {
                    "type": "string"
                },
                "defaultLightSettings": {
                    "type": "boolean"
                },
                "defaultSound": {
                    "type": "boolean"
                },
                "defaultVibrateTimings": {
                    "type": "boolean"
                },
                "eventTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "icon": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "lightSettings": {
                    "$ref": "LightSettings"
                },
                "localOnly": {
                    "type": "boolean"
                },
                "notificationCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "notificationPriority": {
                    "enum": [
                        "PRIORITY_UNSPECIFIED",
                        "PRIORITY_MIN",
                        "PRIORITY_LOW",
                        "PRIORITY_DEFAULT",
                        "PRIORITY_HIGH",
                        "PRIORITY_MAX"
                    ],
                    "enumDescriptions": [
                        "If priority is unspecified, notification priority is set to\n`PRIORITY_DEFAULT`.",
                        "Lowest notification priority. Notifications with this `PRIORITY_MIN`\nmight not be shown to the user except under special circumstances,\nsuch as detailed notification logs.",
                        "Lower notification priority. The UI may choose to show the notifications\nsmaller, or at a different position in the list, compared with\nnotifications with `PRIORITY_DEFAULT`.",
                        "Default notification priority. If the application does not prioritize its\nown notifications, use this value for all notifications.",
                        "Higher notification priority. Use this for more important notifications\nor alerts. The UI may choose to show these notifications larger, or at a\ndifferent position in the notification lists, compared with notifications\nwith `PRIORITY_DEFAULT`.",
                        "Highest notification priority. Use this for the application's most\nimportant items that require the user's prompt attention or input."
                    ],
                    "type": "string"
                },
                "sound": {
                    "type": "string"
                },
                "sticky": {
                    "type": "boolean"
                },
                "tag": {
                    "type": "string"
                },
                "ticker": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "titleLocArgs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "titleLocKey": {
                    "type": "string"
                },
                "vibrateTimings": {
                    "items": {
                        "format": "google-duration",
                        "type": "string"
                    },
                    "type": "array"
                },
                "visibility": {
                    "enum": [
                        "VISIBILITY_UNSPECIFIED",
                        "PRIVATE",
                        "PUBLIC",
                        "SECRET"
                    ],
                    "enumDescriptions": [
                        "If unspecified, default to `Visibility.PRIVATE`.",
                        "Show this notification on all lockscreens, but conceal sensitive or\nprivate information on secure lockscreens.",
                        "Show this notification in its entirety on all lockscreens.",
                        "Do not reveal any part of this notification on a secure lockscreen."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApnsConfig": {
            "id": "ApnsConfig",
            "properties": {
                "fcmOptions": {
                    "$ref": "ApnsFcmOptions"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "payload": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ApnsFcmOptions": {
            "id": "ApnsFcmOptions",
            "properties": {
                "analyticsLabel": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Color": {
            "id": "Color",
            "properties": {
                "alpha": {
                    "format": "float",
                    "type": "number"
                },
                "blue": {
                    "format": "float",
                    "type": "number"
                },
                "green": {
                    "format": "float",
                    "type": "number"
                },
                "red": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "FcmOptions": {
            "id": "FcmOptions",
            "properties": {
                "analyticsLabel": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LightSettings": {
            "id": "LightSettings",
            "properties": {
                "color": {
                    "$ref": "Color"
                },
                "lightOffDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "lightOnDuration": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Message": {
            "id": "Message",
            "properties": {
                "android": {
                    "$ref": "AndroidConfig"
                },
                "apns": {
                    "$ref": "ApnsConfig"
                },
                "condition": {
                    "type": "string"
                },
                "data": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "fcmOptions": {
                    "$ref": "FcmOptions"
                },
                "name": {
                    "type": "string"
                },
                "notification": {
                    "$ref": "Notification"
                },
                "token": {
                    "type": "string"
                },
                "topic": {
                    "type": "string"
                },
                "webpush": {
                    "$ref": "WebpushConfig"
                }
            },
            "type": "object"
        },
        "Notification": {
            "id": "Notification",
            "properties": {
                "body": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SendMessageRequest": {
            "id": "SendMessageRequest",
            "properties": {
                "message": {
                    "$ref": "Message"
                },
                "validateOnly": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "WebpushConfig": {
            "id": "WebpushConfig",
            "properties": {
                "data": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "fcmOptions": {
                    "$ref": "WebpushFcmOptions"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "notification": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "WebpushFcmOptions": {
            "id": "WebpushFcmOptions",
            "properties": {
                "analyticsLabel": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Firebase Cloud Messaging API",
    "version": "v1",
    "version_module": true
}