{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://fcm.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firebase Cloud Messaging",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com/docs/cloud-messaging",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "fcm:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://fcm.mtls.googleapis.com/",
    "name": "fcm",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "messages": {
                    "methods": {
                        "send": {
                            "flatPath": "v1/projects/{projectsId}/messages:send",
                            "httpMethod": "POST",
                            "id": "fcm.projects.messages.send",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/messages:send",
                            "request": {
                                "$ref": "SendMessageRequest"
                            },
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://fcm.googleapis.com/",
    "schemas": {
        "AndroidConfig": {
            "id": "AndroidConfig",
            "properties": {
                "collapseKey": {
                    "type": "string"
                },
                "data": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "directBootOk": {
                    "type": "boolean"
                },
                "fcmOptions": {
                    "$ref": "AndroidFcmOptions"
                },
                "notification": {
                    "$ref": "AndroidNotification"
                },
                "priority": {
                    "enum": [
                        "NORMAL",
                        "HIGH"
                    ],
                    "type": "string"
                },
                "restrictedPackageName": {
                    "type": "string"
                },
                "ttl": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidFcmOptions": {
            "id": "AndroidFcmOptions",
            "properties": {
                "analyticsLabel": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidNotification": {
            "id": "AndroidNotification",
            "properties": {
                "body": {
                    "type": "string"
                },
                "bodyLocArgs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "bodyLocKey": {
                    "type": "string"
                },
                "channelId": {
                    "type": "string"
                },
                "clickAction": {
                    "type": "string"
                },
                "color": {
                    "type": "string"
                },
                "defaultLightSettings": {
                    "type": "boolean"
                },
                "defaultSound": {
                    "type": "boolean"
                },
                "defaultVibrateTimings": {
                    "type": "boolean"
                },
                "eventTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "icon": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "lightSettings": {
                    "$ref": "LightSettings"
                },
                "localOnly": {
                    "type": "boolean"
                },
                "notificationCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "notificationPriority": {
                    "enum": [
                        "PRIORITY_UNSPECIFIED",
                        "PRIORITY_MIN",
                        "PRIORITY_LOW",
                        "PRIORITY_DEFAULT",
                        "PRIORITY_HIGH",
                        "PRIORITY_MAX"
                    ],
                    "type": "string"
                },
                "sound": {
                    "type": "string"
                },
                "sticky": {
                    "type": "boolean"
                },
                "tag": {
                    "type": "string"
                },
                "ticker": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "titleLocArgs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "titleLocKey": {
                    "type": "string"
                },
                "vibrateTimings": {
                    "items": {
                        "format": "google-duration",
                        "type": "string"
                    },
                    "type": "array"
                },
                "visibility": {
                    "enum": [
                        "VISIBILITY_UNSPECIFIED",
                        "PRIVATE",
                        "PUBLIC",
                        "SECRET"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApnsConfig": {
            "id": "ApnsConfig",
            "properties": {
                "fcmOptions": {
                    "$ref": "ApnsFcmOptions"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "payload": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ApnsFcmOptions": {
            "id": "ApnsFcmOptions",
            "properties": {
                "analyticsLabel": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Color": {
            "id": "Color",
            "properties": {
                "alpha": {
                    "format": "float",
                    "type": "number"
                },
                "blue": {
                    "format": "float",
                    "type": "number"
                },
                "green": {
                    "format": "float",
                    "type": "number"
                },
                "red": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "FcmOptions": {
            "id": "FcmOptions",
            "properties": {
                "analyticsLabel": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LightSettings": {
            "id": "LightSettings",
            "properties": {
                "color": {
                    "$ref": "Color"
                },
                "lightOffDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "lightOnDuration": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Message": {
            "id": "Message",
            "properties": {
                "android": {
                    "$ref": "AndroidConfig"
                },
                "apns": {
                    "$ref": "ApnsConfig"
                },
                "condition": {
                    "type": "string"
                },
                "data": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "fcmOptions": {
                    "$ref": "FcmOptions"
                },
                "name": {
                    "type": "string"
                },
                "notification": {
                    "$ref": "Notification"
                },
                "token": {
                    "type": "string"
                },
                "topic": {
                    "type": "string"
                },
                "webpush": {
                    "$ref": "WebpushConfig"
                }
            },
            "type": "object"
        },
        "Notification": {
            "id": "Notification",
            "properties": {
                "body": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SendMessageRequest": {
            "id": "SendMessageRequest",
            "properties": {
                "message": {
                    "$ref": "Message"
                },
                "validateOnly": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "WebpushConfig": {
            "id": "WebpushConfig",
            "properties": {
                "data": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "fcmOptions": {
                    "$ref": "WebpushFcmOptions"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "notification": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "WebpushFcmOptions": {
            "id": "WebpushFcmOptions",
            "properties": {
                "analyticsLabel": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Firebase Cloud Messaging API",
    "version": "v1",
    "version_module": true
}