{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://file.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Filestore",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/filestore/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "file:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://file.mtls.googleapis.com/",
    "name": "file",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "file.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "file.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeUnrevealedLocations": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "instances": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                                    "httpMethod": "POST",
                                    "id": "file.projects.locations.instances.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "instanceId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/instances",
                                    "request": {
                                        "$ref": "Instance"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                                    "httpMethod": "DELETE",
                                    "id": "file.projects.locations.instances.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                                    "httpMethod": "GET",
                                    "id": "file.projects.locations.instances.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Instance"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                                    "httpMethod": "GET",
                                    "id": "file.projects.locations.instances.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/instances",
                                    "response": {
                                        "$ref": "ListInstancesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                                    "httpMethod": "PATCH",
                                    "id": "file.projects.locations.instances.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Instance"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "file.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "request": {
                                        "$ref": "CancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "file.projects.locations.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "file.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "file.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://file.googleapis.com/",
    "schemas": {
        "AttributeValue": {
            "id": "AttributeValue",
            "properties": {
                "boolValue": {
                    "type": "boolean"
                },
                "intValue": {
                    "format": "int64",
                    "type": "string"
                },
                "stringValue": {
                    "$ref": "TruncatableString"
                }
            },
            "type": "object"
        },
        "Attributes": {
            "id": "Attributes",
            "properties": {
                "attributeMap": {
                    "additionalProperties": {
                        "$ref": "AttributeValue"
                    },
                    "type": "object"
                },
                "droppedAttributesCount": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BillingView": {
            "id": "BillingView",
            "properties": {
                "reportRequests": {
                    "items": {
                        "$ref": "ReportRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "Distribution": {
            "id": "Distribution",
            "properties": {
                "bucketCounts": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "exemplars": {
                    "items": {
                        "$ref": "Exemplar"
                    },
                    "type": "array"
                },
                "explicitBuckets": {
                    "$ref": "ExplicitBuckets"
                },
                "exponentialBuckets": {
                    "$ref": "ExponentialBuckets"
                },
                "linearBuckets": {
                    "$ref": "LinearBuckets"
                },
                "maximum": {
                    "format": "double",
                    "type": "number"
                },
                "mean": {
                    "format": "double",
                    "type": "number"
                },
                "minimum": {
                    "format": "double",
                    "type": "number"
                },
                "sumOfSquaredDeviation": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Exemplar": {
            "id": "Exemplar",
            "properties": {
                "attachments": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "value": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ExplicitBuckets": {
            "id": "ExplicitBuckets",
            "properties": {
                "bounds": {
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ExponentialBuckets": {
            "id": "ExponentialBuckets",
            "properties": {
                "growthFactor": {
                    "format": "double",
                    "type": "number"
                },
                "numFiniteBuckets": {
                    "format": "int32",
                    "type": "integer"
                },
                "scale": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "FileShareConfig": {
            "id": "FileShareConfig",
            "properties": {
                "capacityGb": {
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleApiServicecontrolV1Operation": {
            "id": "GoogleApiServicecontrolV1Operation",
            "properties": {
                "consumerId": {
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "importance": {
                    "enum": [
                        "LOW",
                        "HIGH",
                        "DEBUG"
                    ],
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "logEntries": {
                    "items": {
                        "$ref": "LogEntry"
                    },
                    "type": "array"
                },
                "metricValueSets": {
                    "items": {
                        "$ref": "MetricValueSet"
                    },
                    "type": "array"
                },
                "operationId": {
                    "type": "string"
                },
                "operationName": {
                    "type": "string"
                },
                "quotaProperties": {
                    "$ref": "QuotaProperties"
                },
                "resources": {
                    "items": {
                        "$ref": "ResourceInfo"
                    },
                    "type": "array"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "traceSpans": {
                    "items": {
                        "$ref": "TraceSpan"
                    },
                    "type": "array"
                },
                "userLabels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1Instance",
            "properties": {
                "consumerDefinedName": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "maintenancePolicyNames": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "maintenanceSchedules": {
                    "additionalProperties": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "producerMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "provisionedResources": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
                    },
                    "type": "array"
                },
                "slmInstanceTemplate": {
                    "type": "string"
                },
                "sloMetadata": {
                    "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata"
                },
                "softwareVersions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY",
                        "UPDATING",
                        "REPAIRING",
                        "DELETING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "tenantProjectId": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
            "properties": {
                "canReschedule": {
                    "type": "boolean"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "rolloutManagementPolicy": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata",
            "properties": {
                "exclusions": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion"
                    },
                    "type": "array"
                },
                "location": {
                    "type": "string"
                },
                "nodeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
            "properties": {
                "resourceType": {
                    "type": "string"
                },
                "resourceUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
            "properties": {
                "eligible": {
                    "type": "boolean"
                },
                "reason": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion",
            "properties": {
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "reason": {
                    "type": "string"
                },
                "sliName": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
            "properties": {
                "eligibility": {
                    "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
                },
                "exclusions": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion"
                    },
                    "type": "array"
                },
                "nodes": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
                    },
                    "type": "array"
                },
                "tier": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HttpRequest": {
            "id": "HttpRequest",
            "properties": {
                "cacheFillBytes": {
                    "format": "int64",
                    "type": "string"
                },
                "cacheHit": {
                    "type": "boolean"
                },
                "cacheLookup": {
                    "type": "boolean"
                },
                "cacheValidatedWithOriginServer": {
                    "type": "boolean"
                },
                "latency": {
                    "format": "google-duration",
                    "type": "string"
                },
                "protocol": {
                    "type": "string"
                },
                "referer": {
                    "type": "string"
                },
                "remoteIp": {
                    "type": "string"
                },
                "requestMethod": {
                    "type": "string"
                },
                "requestSize": {
                    "format": "int64",
                    "type": "string"
                },
                "requestUrl": {
                    "type": "string"
                },
                "responseSize": {
                    "format": "int64",
                    "type": "string"
                },
                "serverIp": {
                    "type": "string"
                },
                "status": {
                    "format": "int32",
                    "type": "integer"
                },
                "userAgent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Instance": {
            "id": "Instance",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "fileShares": {
                    "items": {
                        "$ref": "FileShareConfig"
                    },
                    "type": "array"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "networks": {
                    "items": {
                        "$ref": "NetworkConfig"
                    },
                    "type": "array"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY",
                        "REPAIRING",
                        "DELETING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                },
                "tier": {
                    "enum": [
                        "TIER_UNSPECIFIED",
                        "STANDARD",
                        "PREMIUM",
                        "BASIC_HDD",
                        "BASIC_SSD",
                        "HIGH_SCALE_SSD"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LinearBuckets": {
            "id": "LinearBuckets",
            "properties": {
                "numFiniteBuckets": {
                    "format": "int32",
                    "type": "integer"
                },
                "offset": {
                    "format": "double",
                    "type": "number"
                },
                "width": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ListInstancesResponse": {
            "id": "ListInstancesResponse",
            "properties": {
                "instances": {
                    "items": {
                        "$ref": "Instance"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LogEntry": {
            "id": "LogEntry",
            "properties": {
                "httpRequest": {
                    "$ref": "HttpRequest"
                },
                "insertId": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "operation": {
                    "$ref": "LogEntryOperation"
                },
                "protoPayload": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "severity": {
                    "enum": [
                        "DEFAULT",
                        "DEBUG",
                        "INFO",
                        "NOTICE",
                        "WARNING",
                        "ERROR",
                        "CRITICAL",
                        "ALERT",
                        "EMERGENCY"
                    ],
                    "type": "string"
                },
                "sourceLocation": {
                    "$ref": "LogEntrySourceLocation"
                },
                "structPayload": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "textPayload": {
                    "type": "string"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "trace": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LogEntryOperation": {
            "id": "LogEntryOperation",
            "properties": {
                "first": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "last": {
                    "type": "boolean"
                },
                "producer": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LogEntrySourceLocation": {
            "id": "LogEntrySourceLocation",
            "properties": {
                "file": {
                    "type": "string"
                },
                "function": {
                    "type": "string"
                },
                "line": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricValue": {
            "id": "MetricValue",
            "properties": {
                "boolValue": {
                    "type": "boolean"
                },
                "distributionValue": {
                    "$ref": "Distribution"
                },
                "doubleValue": {
                    "format": "double",
                    "type": "number"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "int64Value": {
                    "format": "int64",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "moneyValue": {
                    "$ref": "Money"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "stringValue": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricValueSet": {
            "id": "MetricValueSet",
            "properties": {
                "metricName": {
                    "type": "string"
                },
                "metricValues": {
                    "items": {
                        "$ref": "MetricValue"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Money": {
            "id": "Money",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "units": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkConfig": {
            "id": "NetworkConfig",
            "properties": {
                "ipAddresses": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "modes": {
                    "items": {
                        "enum": [
                            "ADDRESS_MODE_UNSPECIFIED",
                            "MODE_IPV4"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "network": {
                    "type": "string"
                },
                "reservedIpRange": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "id": "OperationMetadata",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "cancelRequested": {
                    "type": "boolean"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "statusDetail": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "verb": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "QuotaProperties": {
            "id": "QuotaProperties",
            "properties": {
                "quotaMode": {
                    "enum": [
                        "ACQUIRE",
                        "ACQUIRE_BEST_EFFORT",
                        "CHECK",
                        "RELEASE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportRequest": {
            "id": "ReportRequest",
            "properties": {
                "operations": {
                    "items": {
                        "$ref": "GoogleApiServicecontrolV1Operation"
                    },
                    "type": "array"
                },
                "serviceConfigId": {
                    "type": "string"
                },
                "serviceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResourceInfo": {
            "id": "ResourceInfo",
            "properties": {
                "resourceContainer": {
                    "type": "string"
                },
                "resourceLocation": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TraceSpan": {
            "id": "TraceSpan",
            "properties": {
                "attributes": {
                    "$ref": "Attributes"
                },
                "childSpanCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "displayName": {
                    "$ref": "TruncatableString"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "parentSpanId": {
                    "type": "string"
                },
                "sameProcessAsParentSpan": {
                    "type": "boolean"
                },
                "spanId": {
                    "type": "string"
                },
                "spanKind": {
                    "enum": [
                        "SPAN_KIND_UNSPECIFIED",
                        "INTERNAL",
                        "SERVER",
                        "CLIENT",
                        "PRODUCER",
                        "CONSUMER"
                    ],
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "status": {
                    "$ref": "Status"
                }
            },
            "type": "object"
        },
        "TruncatableString": {
            "id": "TruncatableString",
            "properties": {
                "truncatedByteCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Filestore API",
    "version": "v1",
    "version_module": true
}