{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/firebase": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://firebasedynamiclinks.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firebase Dynamic Links",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com/docs/dynamic-links/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "firebasedynamiclinks:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://firebasedynamiclinks.mtls.googleapis.com/",
    "name": "firebasedynamiclinks",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "managedShortLinks": {
            "methods": {
                "create": {
                    "flatPath": "v1/managedShortLinks:create",
                    "httpMethod": "POST",
                    "id": "firebasedynamiclinks.managedShortLinks.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/managedShortLinks:create",
                    "request": {
                        "$ref": "CreateManagedShortLinkRequest"
                    },
                    "response": {
                        "$ref": "CreateManagedShortLinkResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/firebase"
                    ]
                }
            }
        },
        "shortLinks": {
            "methods": {
                "create": {
                    "flatPath": "v1/shortLinks",
                    "httpMethod": "POST",
                    "id": "firebasedynamiclinks.shortLinks.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/shortLinks",
                    "request": {
                        "$ref": "CreateShortDynamicLinkRequest"
                    },
                    "response": {
                        "$ref": "CreateShortDynamicLinkResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/firebase"
                    ]
                }
            }
        },
        "v1": {
            "methods": {
                "getLinkStats": {
                    "flatPath": "v1/{dynamicLink}/linkStats",
                    "httpMethod": "GET",
                    "id": "firebasedynamiclinks.getLinkStats",
                    "parameterOrder": [
                        "dynamicLink"
                    ],
                    "parameters": {
                        "durationDays": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "dynamicLink": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sdkVersion": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{dynamicLink}/linkStats",
                    "response": {
                        "$ref": "DynamicLinkStats"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/firebase"
                    ]
                },
                "installAttribution": {
                    "flatPath": "v1/installAttribution",
                    "httpMethod": "POST",
                    "id": "firebasedynamiclinks.installAttribution",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/installAttribution",
                    "request": {
                        "$ref": "GetIosPostInstallAttributionRequest"
                    },
                    "response": {
                        "$ref": "GetIosPostInstallAttributionResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/firebase"
                    ]
                },
                "reopenAttribution": {
                    "flatPath": "v1/reopenAttribution",
                    "httpMethod": "POST",
                    "id": "firebasedynamiclinks.reopenAttribution",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/reopenAttribution",
                    "request": {
                        "$ref": "GetIosReopenAttributionRequest"
                    },
                    "response": {
                        "$ref": "GetIosReopenAttributionResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/firebase"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://firebasedynamiclinks.googleapis.com/",
    "schemas": {
        "AnalyticsInfo": {
            "id": "AnalyticsInfo",
            "properties": {
                "googlePlayAnalytics": {
                    "$ref": "GooglePlayAnalytics"
                },
                "itunesConnectAnalytics": {
                    "$ref": "ITunesConnectAnalytics"
                }
            },
            "type": "object"
        },
        "AndroidInfo": {
            "id": "AndroidInfo",
            "properties": {
                "androidFallbackLink": {
                    "type": "string"
                },
                "androidLink": {
                    "type": "string"
                },
                "androidMinPackageVersionCode": {
                    "type": "string"
                },
                "androidPackageName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateManagedShortLinkRequest": {
            "id": "CreateManagedShortLinkRequest",
            "properties": {
                "dynamicLinkInfo": {
                    "$ref": "DynamicLinkInfo"
                },
                "longDynamicLink": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "sdkVersion": {
                    "type": "string"
                },
                "suffix": {
                    "$ref": "Suffix"
                }
            },
            "type": "object"
        },
        "CreateManagedShortLinkResponse": {
            "id": "CreateManagedShortLinkResponse",
            "properties": {
                "managedShortLink": {
                    "$ref": "ManagedShortLink"
                },
                "previewLink": {
                    "type": "string"
                },
                "warning": {
                    "items": {
                        "$ref": "DynamicLinkWarning"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CreateShortDynamicLinkRequest": {
            "id": "CreateShortDynamicLinkRequest",
            "properties": {
                "dynamicLinkInfo": {
                    "$ref": "DynamicLinkInfo"
                },
                "longDynamicLink": {
                    "type": "string"
                },
                "sdkVersion": {
                    "type": "string"
                },
                "suffix": {
                    "$ref": "Suffix"
                }
            },
            "type": "object"
        },
        "CreateShortDynamicLinkResponse": {
            "id": "CreateShortDynamicLinkResponse",
            "properties": {
                "previewLink": {
                    "type": "string"
                },
                "shortLink": {
                    "type": "string"
                },
                "warning": {
                    "items": {
                        "$ref": "DynamicLinkWarning"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DesktopInfo": {
            "id": "DesktopInfo",
            "properties": {
                "desktopFallbackLink": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeviceInfo": {
            "id": "DeviceInfo",
            "properties": {
                "deviceModelName": {
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                },
                "languageCodeFromWebview": {
                    "type": "string"
                },
                "languageCodeRaw": {
                    "type": "string"
                },
                "screenResolutionHeight": {
                    "format": "int64",
                    "type": "string"
                },
                "screenResolutionWidth": {
                    "format": "int64",
                    "type": "string"
                },
                "timezone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DynamicLinkEventStat": {
            "id": "DynamicLinkEventStat",
            "properties": {
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "event": {
                    "enum": [
                        "DYNAMIC_LINK_EVENT_UNSPECIFIED",
                        "CLICK",
                        "REDIRECT",
                        "APP_INSTALL",
                        "APP_FIRST_OPEN",
                        "APP_RE_OPEN"
                    ],
                    "type": "string"
                },
                "platform": {
                    "enum": [
                        "DYNAMIC_LINK_PLATFORM_UNSPECIFIED",
                        "ANDROID",
                        "IOS",
                        "DESKTOP",
                        "OTHER"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DynamicLinkInfo": {
            "id": "DynamicLinkInfo",
            "properties": {
                "analyticsInfo": {
                    "$ref": "AnalyticsInfo"
                },
                "androidInfo": {
                    "$ref": "AndroidInfo"
                },
                "desktopInfo": {
                    "$ref": "DesktopInfo"
                },
                "domainUriPrefix": {
                    "type": "string"
                },
                "dynamicLinkDomain": {
                    "type": "string"
                },
                "iosInfo": {
                    "$ref": "IosInfo"
                },
                "link": {
                    "type": "string"
                },
                "navigationInfo": {
                    "$ref": "NavigationInfo"
                },
                "socialMetaTagInfo": {
                    "$ref": "SocialMetaTagInfo"
                }
            },
            "type": "object"
        },
        "DynamicLinkStats": {
            "id": "DynamicLinkStats",
            "properties": {
                "linkEventStats": {
                    "items": {
                        "$ref": "DynamicLinkEventStat"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DynamicLinkWarning": {
            "id": "DynamicLinkWarning",
            "properties": {
                "warningCode": {
                    "enum": [
                        "CODE_UNSPECIFIED",
                        "NOT_IN_PROJECT_ANDROID_PACKAGE_NAME",
                        "NOT_INTEGER_ANDROID_PACKAGE_MIN_VERSION",
                        "UNNECESSARY_ANDROID_PACKAGE_MIN_VERSION",
                        "NOT_URI_ANDROID_LINK",
                        "UNNECESSARY_ANDROID_LINK",
                        "NOT_URI_ANDROID_FALLBACK_LINK",
                        "BAD_URI_SCHEME_ANDROID_FALLBACK_LINK",
                        "NOT_IN_PROJECT_IOS_BUNDLE_ID",
                        "NOT_IN_PROJECT_IPAD_BUNDLE_ID",
                        "UNNECESSARY_IOS_URL_SCHEME",
                        "NOT_NUMERIC_IOS_APP_STORE_ID",
                        "UNNECESSARY_IOS_APP_STORE_ID",
                        "NOT_URI_IOS_FALLBACK_LINK",
                        "BAD_URI_SCHEME_IOS_FALLBACK_LINK",
                        "NOT_URI_IPAD_FALLBACK_LINK",
                        "BAD_URI_SCHEME_IPAD_FALLBACK_LINK",
                        "BAD_DEBUG_PARAM",
                        "BAD_AD_PARAM",
                        "DEPRECATED_PARAM",
                        "UNRECOGNIZED_PARAM",
                        "TOO_LONG_PARAM",
                        "NOT_URI_SOCIAL_IMAGE_LINK",
                        "BAD_URI_SCHEME_SOCIAL_IMAGE_LINK",
                        "NOT_URI_SOCIAL_URL",
                        "BAD_URI_SCHEME_SOCIAL_URL",
                        "LINK_LENGTH_TOO_LONG",
                        "LINK_WITH_FRAGMENTS",
                        "NOT_MATCHING_IOS_BUNDLE_ID_AND_STORE_ID"
                    ],
                    "type": "string"
                },
                "warningDocumentLink": {
                    "type": "string"
                },
                "warningMessage": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIosPostInstallAttributionRequest": {
            "id": "GetIosPostInstallAttributionRequest",
            "properties": {
                "appInstallationTime": {
                    "format": "int64",
                    "type": "string"
                },
                "bundleId": {
                    "type": "string"
                },
                "device": {
                    "$ref": "DeviceInfo"
                },
                "iosVersion": {
                    "type": "string"
                },
                "retrievalMethod": {
                    "enum": [
                        "UNKNOWN_PAYLOAD_RETRIEVAL_METHOD",
                        "IMPLICIT_WEAK_MATCH",
                        "EXPLICIT_WEAK_MATCH",
                        "EXPLICIT_STRONG_AFTER_WEAK_MATCH"
                    ],
                    "type": "string"
                },
                "sdkVersion": {
                    "type": "string"
                },
                "uniqueMatchLinkToCheck": {
                    "type": "string"
                },
                "visualStyle": {
                    "enum": [
                        "UNKNOWN_VISUAL_STYLE",
                        "DEFAULT_STYLE",
                        "CUSTOM_STYLE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIosPostInstallAttributionResponse": {
            "id": "GetIosPostInstallAttributionResponse",
            "properties": {
                "appMinimumVersion": {
                    "type": "string"
                },
                "attributionConfidence": {
                    "enum": [
                        "UNKNOWN_ATTRIBUTION_CONFIDENCE",
                        "WEAK",
                        "DEFAULT",
                        "UNIQUE"
                    ],
                    "type": "string"
                },
                "deepLink": {
                    "type": "string"
                },
                "externalBrowserDestinationLink": {
                    "type": "string"
                },
                "fallbackLink": {
                    "type": "string"
                },
                "invitationId": {
                    "type": "string"
                },
                "isStrongMatchExecutable": {
                    "type": "boolean"
                },
                "matchMessage": {
                    "type": "string"
                },
                "requestIpVersion": {
                    "enum": [
                        "UNKNOWN_IP_VERSION",
                        "IP_V4",
                        "IP_V6"
                    ],
                    "type": "string"
                },
                "requestedLink": {
                    "type": "string"
                },
                "resolvedLink": {
                    "type": "string"
                },
                "utmCampaign": {
                    "type": "string"
                },
                "utmContent": {
                    "type": "string"
                },
                "utmMedium": {
                    "type": "string"
                },
                "utmSource": {
                    "type": "string"
                },
                "utmTerm": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIosReopenAttributionRequest": {
            "id": "GetIosReopenAttributionRequest",
            "properties": {
                "bundleId": {
                    "type": "string"
                },
                "requestedLink": {
                    "type": "string"
                },
                "sdkVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIosReopenAttributionResponse": {
            "id": "GetIosReopenAttributionResponse",
            "properties": {
                "deepLink": {
                    "type": "string"
                },
                "invitationId": {
                    "type": "string"
                },
                "iosMinAppVersion": {
                    "type": "string"
                },
                "resolvedLink": {
                    "type": "string"
                },
                "utmCampaign": {
                    "type": "string"
                },
                "utmContent": {
                    "type": "string"
                },
                "utmMedium": {
                    "type": "string"
                },
                "utmSource": {
                    "type": "string"
                },
                "utmTerm": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePlayAnalytics": {
            "id": "GooglePlayAnalytics",
            "properties": {
                "gclid": {
                    "type": "string"
                },
                "utmCampaign": {
                    "type": "string"
                },
                "utmContent": {
                    "type": "string"
                },
                "utmMedium": {
                    "type": "string"
                },
                "utmSource": {
                    "type": "string"
                },
                "utmTerm": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ITunesConnectAnalytics": {
            "id": "ITunesConnectAnalytics",
            "properties": {
                "at": {
                    "type": "string"
                },
                "ct": {
                    "type": "string"
                },
                "mt": {
                    "type": "string"
                },
                "pt": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IosInfo": {
            "id": "IosInfo",
            "properties": {
                "iosAppStoreId": {
                    "type": "string"
                },
                "iosBundleId": {
                    "type": "string"
                },
                "iosCustomScheme": {
                    "type": "string"
                },
                "iosFallbackLink": {
                    "type": "string"
                },
                "iosIpadBundleId": {
                    "type": "string"
                },
                "iosIpadFallbackLink": {
                    "type": "string"
                },
                "iosMinimumVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedShortLink": {
            "id": "ManagedShortLink",
            "properties": {
                "creationTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "flaggedAttribute": {
                    "items": {
                        "enum": [
                            "UNSPECIFIED_ATTRIBUTE",
                            "SPAM"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "info": {
                    "$ref": "DynamicLinkInfo"
                },
                "link": {
                    "type": "string"
                },
                "linkName": {
                    "type": "string"
                },
                "visibility": {
                    "enum": [
                        "UNSPECIFIED_VISIBILITY",
                        "UNARCHIVED",
                        "ARCHIVED",
                        "NEVER_SHOWN"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NavigationInfo": {
            "id": "NavigationInfo",
            "properties": {
                "enableForcedRedirect": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "SocialMetaTagInfo": {
            "id": "SocialMetaTagInfo",
            "properties": {
                "socialDescription": {
                    "type": "string"
                },
                "socialImageLink": {
                    "type": "string"
                },
                "socialTitle": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Suffix": {
            "id": "Suffix",
            "properties": {
                "customSuffix": {
                    "type": "string"
                },
                "option": {
                    "enum": [
                        "OPTION_UNSPECIFIED",
                        "UNGUESSABLE",
                        "SHORT",
                        "CUSTOM"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Firebase Dynamic Links API",
    "version": "v1",
    "version_module": true
}