{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {},
                "https://www.googleapis.com/auth/firebase": {},
                "https://www.googleapis.com/auth/firebase.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://firebase.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firebase Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "firebase:v1beta1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://firebase.mtls.googleapis.com/",
    "name": "firebase",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "availableProjects": {
            "methods": {
                "list": {
                    "flatPath": "v1beta1/availableProjects",
                    "httpMethod": "GET",
                    "id": "firebase.availableProjects.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/availableProjects",
                    "response": {
                        "$ref": "ListAvailableProjectsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "flatPath": "v1beta1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "firebase.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                }
            }
        },
        "projects": {
            "methods": {
                "addFirebase": {
                    "flatPath": "v1beta1/projects/{projectsId}:addFirebase",
                    "httpMethod": "POST",
                    "id": "firebase.projects.addFirebase",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+project}:addFirebase",
                    "request": {
                        "$ref": "AddFirebaseRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                    ]
                },
                "addGoogleAnalytics": {
                    "flatPath": "v1beta1/projects/{projectsId}:addGoogleAnalytics",
                    "httpMethod": "POST",
                    "id": "firebase.projects.addGoogleAnalytics",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+parent}:addGoogleAnalytics",
                    "request": {
                        "$ref": "AddGoogleAnalyticsRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                    ]
                },
                "get": {
                    "flatPath": "v1beta1/projects/{projectsId}",
                    "httpMethod": "GET",
                    "id": "firebase.projects.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+name}",
                    "response": {
                        "$ref": "FirebaseProject"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                },
                "getAdminSdkConfig": {
                    "flatPath": "v1beta1/projects/{projectsId}/adminSdkConfig",
                    "httpMethod": "GET",
                    "id": "firebase.projects.getAdminSdkConfig",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/adminSdkConfig$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+name}",
                    "response": {
                        "$ref": "AdminSdkConfig"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                },
                "getAnalyticsDetails": {
                    "flatPath": "v1beta1/projects/{projectsId}/analyticsDetails",
                    "httpMethod": "GET",
                    "id": "firebase.projects.getAnalyticsDetails",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+/analyticsDetails$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+name}",
                    "response": {
                        "$ref": "AnalyticsDetails"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v1beta1/projects",
                    "httpMethod": "GET",
                    "id": "firebase.projects.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/projects",
                    "response": {
                        "$ref": "ListFirebaseProjectsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                },
                "patch": {
                    "flatPath": "v1beta1/projects/{projectsId}",
                    "httpMethod": "PATCH",
                    "id": "firebase.projects.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+name}",
                    "request": {
                        "$ref": "FirebaseProject"
                    },
                    "response": {
                        "$ref": "FirebaseProject"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                    ]
                },
                "removeAnalytics": {
                    "flatPath": "v1beta1/projects/{projectsId}:removeAnalytics",
                    "httpMethod": "POST",
                    "id": "firebase.projects.removeAnalytics",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+parent}:removeAnalytics",
                    "request": {
                        "$ref": "RemoveAnalyticsRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                    ]
                },
                "searchApps": {
                    "flatPath": "v1beta1/projects/{projectsId}:searchApps",
                    "httpMethod": "GET",
                    "id": "firebase.projects.searchApps",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+parent}:searchApps",
                    "response": {
                        "$ref": "SearchFirebaseAppsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                }
            },
            "resources": {
                "androidApps": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/projects/{projectsId}/androidApps",
                            "httpMethod": "POST",
                            "id": "firebase.projects.androidApps.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/androidApps",
                            "request": {
                                "$ref": "AndroidApp"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "get": {
                            "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}",
                            "httpMethod": "GET",
                            "id": "firebase.projects.androidApps.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/androidApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "AndroidApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "getConfig": {
                            "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}/config",
                            "httpMethod": "GET",
                            "id": "firebase.projects.androidApps.getConfig",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/androidApps/[^/]+/config$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "AndroidAppConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/projects/{projectsId}/androidApps",
                            "httpMethod": "GET",
                            "id": "firebase.projects.androidApps.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/androidApps",
                            "response": {
                                "$ref": "ListAndroidAppsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}",
                            "httpMethod": "PATCH",
                            "id": "firebase.projects.androidApps.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/androidApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "AndroidApp"
                            },
                            "response": {
                                "$ref": "AndroidApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    },
                    "resources": {
                        "sha": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}/sha",
                                    "httpMethod": "POST",
                                    "id": "firebase.projects.androidApps.sha.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/androidApps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/sha",
                                    "request": {
                                        "$ref": "ShaCertificate"
                                    },
                                    "response": {
                                        "$ref": "ShaCertificate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}/sha/{shaId}",
                                    "httpMethod": "DELETE",
                                    "id": "firebase.projects.androidApps.sha.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/androidApps/[^/]+/sha/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta1/projects/{projectsId}/androidApps/{androidAppsId}/sha",
                                    "httpMethod": "GET",
                                    "id": "firebase.projects.androidApps.sha.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/androidApps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/sha",
                                    "response": {
                                        "$ref": "ListShaCertificatesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                }
                            }
                        }
                    }
                },
                "availableLocations": {
                    "methods": {
                        "list": {
                            "flatPath": "v1beta1/projects/{projectsId}/availableLocations",
                            "httpMethod": "GET",
                            "id": "firebase.projects.availableLocations.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/availableLocations",
                            "response": {
                                "$ref": "ListAvailableLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        }
                    }
                },
                "defaultLocation": {
                    "methods": {
                        "finalize": {
                            "flatPath": "v1beta1/projects/{projectsId}/defaultLocation:finalize",
                            "httpMethod": "POST",
                            "id": "firebase.projects.defaultLocation.finalize",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/defaultLocation:finalize",
                            "request": {
                                "$ref": "FinalizeDefaultLocationRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    }
                },
                "iosApps": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/projects/{projectsId}/iosApps",
                            "httpMethod": "POST",
                            "id": "firebase.projects.iosApps.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/iosApps",
                            "request": {
                                "$ref": "IosApp"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "get": {
                            "flatPath": "v1beta1/projects/{projectsId}/iosApps/{iosAppsId}",
                            "httpMethod": "GET",
                            "id": "firebase.projects.iosApps.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/iosApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "IosApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "getConfig": {
                            "flatPath": "v1beta1/projects/{projectsId}/iosApps/{iosAppsId}/config",
                            "httpMethod": "GET",
                            "id": "firebase.projects.iosApps.getConfig",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/iosApps/[^/]+/config$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "IosAppConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/projects/{projectsId}/iosApps",
                            "httpMethod": "GET",
                            "id": "firebase.projects.iosApps.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/iosApps",
                            "response": {
                                "$ref": "ListIosAppsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1beta1/projects/{projectsId}/iosApps/{iosAppsId}",
                            "httpMethod": "PATCH",
                            "id": "firebase.projects.iosApps.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/iosApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "IosApp"
                            },
                            "response": {
                                "$ref": "IosApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    }
                },
                "webApps": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/projects/{projectsId}/webApps",
                            "httpMethod": "POST",
                            "id": "firebase.projects.webApps.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/webApps",
                            "request": {
                                "$ref": "WebApp"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "get": {
                            "flatPath": "v1beta1/projects/{projectsId}/webApps/{webAppsId}",
                            "httpMethod": "GET",
                            "id": "firebase.projects.webApps.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/webApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "WebApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "getConfig": {
                            "flatPath": "v1beta1/projects/{projectsId}/webApps/{webAppsId}/config",
                            "httpMethod": "GET",
                            "id": "firebase.projects.webApps.getConfig",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/webApps/[^/]+/config$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "WebAppConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/projects/{projectsId}/webApps",
                            "httpMethod": "GET",
                            "id": "firebase.projects.webApps.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/webApps",
                            "response": {
                                "$ref": "ListWebAppsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1beta1/projects/{projectsId}/webApps/{webAppsId}",
                            "httpMethod": "PATCH",
                            "id": "firebase.projects.webApps.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/webApps/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "WebApp"
                            },
                            "response": {
                                "$ref": "WebApp"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://firebase.googleapis.com/",
    "schemas": {
        "AddFirebaseRequest": {
            "id": "AddFirebaseRequest",
            "properties": {
                "locationId": {
                    "type": "string"
                },
                "regionCode": {
                    "type": "string"
                },
                "timeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AddGoogleAnalyticsRequest": {
            "id": "AddGoogleAnalyticsRequest",
            "properties": {
                "analyticsAccountId": {
                    "type": "string"
                },
                "analyticsPropertyId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AdminSdkConfig": {
            "id": "AdminSdkConfig",
            "properties": {
                "databaseURL": {
                    "type": "string"
                },
                "locationId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "storageBucket": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AnalyticsDetails": {
            "id": "AnalyticsDetails",
            "properties": {
                "analyticsProperty": {
                    "$ref": "AnalyticsProperty"
                },
                "streamMappings": {
                    "items": {
                        "$ref": "StreamMapping"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AnalyticsProperty": {
            "id": "AnalyticsProperty",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidApp": {
            "id": "AndroidApp",
            "properties": {
                "appId": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidAppConfig": {
            "id": "AndroidAppConfig",
            "properties": {
                "configFileContents": {
                    "format": "byte",
                    "type": "string"
                },
                "configFilename": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DefaultResources": {
            "id": "DefaultResources",
            "properties": {
                "hostingSite": {
                    "type": "string"
                },
                "locationId": {
                    "type": "string"
                },
                "realtimeDatabaseInstance": {
                    "type": "string"
                },
                "storageBucket": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "FinalizeDefaultLocationRequest": {
            "id": "FinalizeDefaultLocationRequest",
            "properties": {
                "locationId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FirebaseAppInfo": {
            "id": "FirebaseAppInfo",
            "properties": {
                "appId": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "platform": {
                    "enum": [
                        "PLATFORM_UNSPECIFIED",
                        "IOS",
                        "ANDROID",
                        "WEB"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FirebaseProject": {
            "id": "FirebaseProject",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "projectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "resources": {
                    "$ref": "DefaultResources"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "DELETED"
                    ],
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IosApp": {
            "id": "IosApp",
            "properties": {
                "appId": {
                    "type": "string"
                },
                "appStoreId": {
                    "type": "string"
                },
                "bundleId": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IosAppConfig": {
            "id": "IosAppConfig",
            "properties": {
                "configFileContents": {
                    "format": "byte",
                    "type": "string"
                },
                "configFilename": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAndroidAppsResponse": {
            "id": "ListAndroidAppsResponse",
            "properties": {
                "apps": {
                    "items": {
                        "$ref": "AndroidApp"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAvailableLocationsResponse": {
            "id": "ListAvailableLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAvailableProjectsResponse": {
            "id": "ListAvailableProjectsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "projectInfo": {
                    "items": {
                        "$ref": "ProjectInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListFirebaseProjectsResponse": {
            "id": "ListFirebaseProjectsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "results": {
                    "items": {
                        "$ref": "FirebaseProject"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListIosAppsResponse": {
            "id": "ListIosAppsResponse",
            "properties": {
                "apps": {
                    "items": {
                        "$ref": "IosApp"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListShaCertificatesResponse": {
            "id": "ListShaCertificatesResponse",
            "properties": {
                "certificates": {
                    "items": {
                        "$ref": "ShaCertificate"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListWebAppsResponse": {
            "id": "ListWebAppsResponse",
            "properties": {
                "apps": {
                    "items": {
                        "$ref": "WebApp"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "features": {
                    "items": {
                        "enum": [
                            "LOCATION_FEATURE_UNSPECIFIED",
                            "FIRESTORE",
                            "DEFAULT_STORAGE",
                            "FUNCTIONS"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "locationId": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "LOCATION_TYPE_UNSPECIFIED",
                        "REGIONAL",
                        "MULTI_REGIONAL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MessageSet": {
            "id": "MessageSet",
            "properties": {},
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProjectInfo": {
            "id": "ProjectInfo",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "locationId": {
                    "type": "string"
                },
                "project": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RemoveAnalyticsRequest": {
            "id": "RemoveAnalyticsRequest",
            "properties": {
                "analyticsPropertyId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchFirebaseAppsResponse": {
            "id": "SearchFirebaseAppsResponse",
            "properties": {
                "apps": {
                    "items": {
                        "$ref": "FirebaseAppInfo"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ShaCertificate": {
            "id": "ShaCertificate",
            "properties": {
                "certType": {
                    "enum": [
                        "SHA_CERTIFICATE_TYPE_UNSPECIFIED",
                        "SHA_1",
                        "SHA_256"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "shaHash": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StatusProto": {
            "id": "StatusProto",
            "properties": {
                "canonicalCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                },
                "messageSet": {
                    "$ref": "MessageSet"
                },
                "payload": {
                    "$ref": "TypedMessage"
                },
                "space": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StreamMapping": {
            "id": "StreamMapping",
            "properties": {
                "app": {
                    "type": "string"
                },
                "measurementId": {
                    "type": "string"
                },
                "streamId": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TypedMessage": {
            "id": "TypedMessage",
            "properties": {
                "message": {
                    "format": "byte",
                    "type": "string"
                },
                "typeId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "WebApp": {
            "id": "WebApp",
            "properties": {
                "appId": {
                    "type": "string"
                },
                "appUrls": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WebAppConfig": {
            "id": "WebAppConfig",
            "properties": {
                "apiKey": {
                    "type": "string"
                },
                "appId": {
                    "type": "string"
                },
                "authDomain": {
                    "type": "string"
                },
                "databaseURL": {
                    "type": "string"
                },
                "locationId": {
                    "type": "string"
                },
                "measurementId": {
                    "type": "string"
                },
                "messagingSenderId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "storageBucket": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Firebase Management API",
    "version": "v1beta1",
    "version_module": true
}