{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://firebaseml.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firebase ML",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "firebaseml:v1beta2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://firebaseml.mtls.googleapis.com/",
    "name": "firebaseml",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "models": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta2/projects/{projectsId}/models",
                            "httpMethod": "POST",
                            "id": "firebaseml.projects.models.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta2/{+parent}/models",
                            "request": {
                                "$ref": "Model"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1beta2/projects/{projectsId}/models/{modelsId}",
                            "httpMethod": "DELETE",
                            "id": "firebaseml.projects.models.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/models/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta2/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1beta2/projects/{projectsId}/models/{modelsId}",
                            "httpMethod": "GET",
                            "id": "firebaseml.projects.models.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/models/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta2/{+name}",
                            "response": {
                                "$ref": "Model"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta2/projects/{projectsId}/models",
                            "httpMethod": "GET",
                            "id": "firebaseml.projects.models.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta2/{+parent}/models",
                            "response": {
                                "$ref": "ListModelsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1beta2/projects/{projectsId}/models/{modelsId}",
                            "httpMethod": "PATCH",
                            "id": "firebaseml.projects.models.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/models/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta2/{+name}",
                            "request": {
                                "$ref": "Model"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1beta2/projects/{projectsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "firebaseml.projects.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta2/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://firebaseml.googleapis.com/",
    "schemas": {
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ListModelsResponse": {
            "id": "ListModelsResponse",
            "properties": {
                "models": {
                    "items": {
                        "$ref": "Model"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Model": {
            "id": "Model",
            "properties": {
                "activeOperations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "modelHash": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "state": {
                    "$ref": "ModelState"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "tfliteModel": {
                    "$ref": "TfLiteModel"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ModelOperationMetadata": {
            "id": "ModelOperationMetadata",
            "properties": {
                "basicOperationStatus": {
                    "enum": [
                        "BASIC_OPERATION_STATUS_UNSPECIFIED",
                        "BASIC_OPERATION_STATUS_UPLOADING",
                        "BASIC_OPERATION_STATUS_VERIFYING"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ModelState": {
            "id": "ModelState",
            "properties": {
                "published": {
                    "type": "boolean"
                },
                "validationError": {
                    "$ref": "Status"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TfLiteModel": {
            "id": "TfLiteModel",
            "properties": {
                "gcsTfliteUri": {
                    "type": "string"
                },
                "sizeBytes": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Firebase ML API",
    "version": "v1beta2",
    "version_module": true
}