{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {},
                "https://www.googleapis.com/auth/firebase": {},
                "https://www.googleapis.com/auth/firebase.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://firebasehosting.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firebase Hosting",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com/docs/hosting/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "firebasehosting:v1beta1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
    "name": "firebasehosting",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "operations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "firebasehosting.projects.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        }
                    }
                },
                "sites": {
                    "resources": {
                        "channels": {
                            "resources": {
                                "releases": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                                            "httpMethod": "POST",
                                            "id": "firebasehosting.projects.sites.channels.releases.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "versionName": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/releases",
                                            "request": {
                                                "$ref": "Release"
                                            },
                                            "response": {
                                                "$ref": "Release"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/firebase"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                                            "httpMethod": "GET",
                                            "id": "firebasehosting.projects.sites.channels.releases.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/releases",
                                            "response": {
                                                "$ref": "ListReleasesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                                "https://www.googleapis.com/auth/firebase",
                                                "https://www.googleapis.com/auth/firebase.readonly"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "releases": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                                    "httpMethod": "POST",
                                    "id": "firebasehosting.projects.sites.releases.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "versionName": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/releases",
                                    "request": {
                                        "$ref": "Release"
                                    },
                                    "response": {
                                        "$ref": "Release"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                                    "httpMethod": "GET",
                                    "id": "firebasehosting.projects.sites.releases.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/releases",
                                    "response": {
                                        "$ref": "ListReleasesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "sites": {
            "methods": {
                "getConfig": {
                    "flatPath": "v1beta1/sites/{sitesId}/config",
                    "httpMethod": "GET",
                    "id": "firebasehosting.sites.getConfig",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^sites/[^/]+/config$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+name}",
                    "response": {
                        "$ref": "SiteConfig"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                },
                "updateConfig": {
                    "flatPath": "v1beta1/sites/{sitesId}/config",
                    "httpMethod": "PATCH",
                    "id": "firebasehosting.sites.updateConfig",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^sites/[^/]+/config$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+name}",
                    "request": {
                        "$ref": "SiteConfig"
                    },
                    "response": {
                        "$ref": "SiteConfig"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                    ]
                }
            },
            "resources": {
                "channels": {
                    "resources": {
                        "releases": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                                    "httpMethod": "POST",
                                    "id": "firebasehosting.sites.channels.releases.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^sites/[^/]+/channels/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "versionName": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/releases",
                                    "request": {
                                        "$ref": "Release"
                                    },
                                    "response": {
                                        "$ref": "Release"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                                    "httpMethod": "GET",
                                    "id": "firebasehosting.sites.channels.releases.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^sites/[^/]+/channels/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/releases",
                                    "response": {
                                        "$ref": "ListReleasesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                }
                            }
                        }
                    }
                },
                "domains": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains",
                            "httpMethod": "POST",
                            "id": "firebasehosting.sites.domains.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/domains",
                            "request": {
                                "$ref": "Domain"
                            },
                            "response": {
                                "$ref": "Domain"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
                            "httpMethod": "DELETE",
                            "id": "firebasehosting.sites.domains.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/domains/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "get": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
                            "httpMethod": "GET",
                            "id": "firebasehosting.sites.domains.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/domains/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Domain"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains",
                            "httpMethod": "GET",
                            "id": "firebasehosting.sites.domains.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/domains",
                            "response": {
                                "$ref": "ListDomainsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "update": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
                            "httpMethod": "PUT",
                            "id": "firebasehosting.sites.domains.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/domains/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "Domain"
                            },
                            "response": {
                                "$ref": "Domain"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    }
                },
                "releases": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/sites/{sitesId}/releases",
                            "httpMethod": "POST",
                            "id": "firebasehosting.sites.releases.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "versionName": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/releases",
                            "request": {
                                "$ref": "Release"
                            },
                            "response": {
                                "$ref": "Release"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/sites/{sitesId}/releases",
                            "httpMethod": "GET",
                            "id": "firebasehosting.sites.releases.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/releases",
                            "response": {
                                "$ref": "ListReleasesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        }
                    }
                },
                "versions": {
                    "methods": {
                        "clone": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
                            "httpMethod": "POST",
                            "id": "firebasehosting.sites.versions.clone",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/versions:clone",
                            "request": {
                                "$ref": "CloneVersionRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            }
                        },
                        "create": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions",
                            "httpMethod": "POST",
                            "id": "firebasehosting.sites.versions.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "sizeBytes": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "versionId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/versions",
                            "request": {
                                "$ref": "Version"
                            },
                            "response": {
                                "$ref": "Version"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
                            "httpMethod": "DELETE",
                            "id": "firebasehosting.sites.versions.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/versions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions",
                            "httpMethod": "GET",
                            "id": "firebasehosting.sites.versions.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/versions",
                            "response": {
                                "$ref": "ListVersionsResponse"
                            }
                        },
                        "patch": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
                            "httpMethod": "PATCH",
                            "id": "firebasehosting.sites.versions.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/versions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "Version"
                            },
                            "response": {
                                "$ref": "Version"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "populateFiles": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
                            "httpMethod": "POST",
                            "id": "firebasehosting.sites.versions.populateFiles",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/versions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}:populateFiles",
                            "request": {
                                "$ref": "PopulateVersionFilesRequest"
                            },
                            "response": {
                                "$ref": "PopulateVersionFilesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    },
                    "resources": {
                        "files": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                                    "httpMethod": "GET",
                                    "id": "firebasehosting.sites.versions.files.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^sites/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "status": {
                                            "enum": [
                                                "STATUS_UNSPECIFIED",
                                                "EXPECTED",
                                                "ACTIVE"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/files",
                                    "response": {
                                        "$ref": "ListVersionFilesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://firebasehosting.googleapis.com/",
    "schemas": {
        "ActingUser": {
            "id": "ActingUser",
            "properties": {
                "email": {
                    "type": "string"
                },
                "imageUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CertDnsChallenge": {
            "id": "CertDnsChallenge",
            "properties": {
                "domainName": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CertHttpChallenge": {
            "id": "CertHttpChallenge",
            "properties": {
                "path": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloneVersionRequest": {
            "id": "CloneVersionRequest",
            "properties": {
                "exclude": {
                    "$ref": "PathFilter"
                },
                "finalize": {
                    "type": "boolean"
                },
                "include": {
                    "$ref": "PathFilter"
                },
                "sourceVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloudRunRewrite": {
            "id": "CloudRunRewrite",
            "properties": {
                "region": {
                    "type": "string"
                },
                "serviceId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Domain": {
            "id": "Domain",
            "properties": {
                "domainName": {
                    "type": "string"
                },
                "domainRedirect": {
                    "$ref": "DomainRedirect"
                },
                "provisioning": {
                    "$ref": "DomainProvisioning"
                },
                "site": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "DOMAIN_STATUS_UNSPECIFIED",
                        "DOMAIN_CHANGE_PENDING",
                        "DOMAIN_ACTIVE",
                        "DOMAIN_VERIFICATION_REQUIRED",
                        "DOMAIN_VERIFICATION_LOST"
                    ],
                    "enumDescriptions": [
                        "Unspecified domain association status.",
                        "An external operation is in progress on the domain association and no\nfurther operations can be performed until it is complete. Formerly used for\nmetabase updates.  Not currently used",
                        "The domain association is active and no additional action is required.",
                        "The domain was previously verified in the legacy system. User must\nreverify the domain through the ownership service.",
                        "The domain verification has been lost and the domain is in the grace period\nbefore being removed from the Firebase Hosting site."
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DomainProvisioning": {
            "id": "DomainProvisioning",
            "properties": {
                "certChallengeDiscoveredTxt": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "certChallengeDns": {
                    "$ref": "CertDnsChallenge"
                },
                "certChallengeHttp": {
                    "$ref": "CertHttpChallenge"
                },
                "certStatus": {
                    "enum": [
                        "CERT_STATUS_UNSPECIFIED",
                        "CERT_PENDING",
                        "CERT_MISSING",
                        "CERT_PROCESSING",
                        "CERT_PROPAGATING",
                        "CERT_ACTIVE",
                        "CERT_ERROR"
                    ],
                    "enumDescriptions": [
                        "Unspecified certificate provisioning status.",
                        "Waiting for certificate challenge to be created.",
                        "Waiting for certificate challenge to be met.",
                        "Certificate challenge met; attempting to acquire/propagate certificate.",
                        "Certificate obtained; propagating to the CDN.",
                        "Certificate provisioned and deployed across the CDN.",
                        "Certificate provisioning failed in a non-recoverable manner."
                    ],
                    "type": "string"
                },
                "discoveredIps": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "dnsFetchTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "dnsStatus": {
                    "enum": [
                        "DNS_STATUS_UNSPECIFIED",
                        "DNS_PENDING",
                        "DNS_MISSING",
                        "DNS_PARTIAL_MATCH",
                        "DNS_MATCH",
                        "DNS_EXTRANEOUS_MATCH"
                    ],
                    "enumDescriptions": [
                        "Unspecified DNS status.",
                        "No DNS records have been specified for this domain yet.",
                        "None of the required DNS records have been detected on the domain.",
                        "Some of the required DNS records were detected, but not all of them. No\nextra (non-required) DNS records were detected.",
                        "All required DNS records were detected. No extra (non-required) DNS records\nwere detected.",
                        "The domain has at least one of the required DNS records, and it has at\nleast one extra (non-required) DNS record."
                    ],
                    "type": "string"
                },
                "expectedIps": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DomainRedirect": {
            "id": "DomainRedirect",
            "properties": {
                "domainName": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "REDIRECT_TYPE_UNSPECIFIED",
                        "MOVED_PERMANENTLY"
                    ],
                    "enumDescriptions": [
                        "The default redirect type; should not be intentionlly used.",
                        "The redirect will respond with an HTTP status code of\n`301 Moved Permanently`."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Header": {
            "id": "Header",
            "properties": {
                "glob": {
                    "type": "string"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "regex": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDomainsResponse": {
            "id": "ListDomainsResponse",
            "properties": {
                "domains": {
                    "items": {
                        "$ref": "Domain"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListReleasesResponse": {
            "id": "ListReleasesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "releases": {
                    "items": {
                        "$ref": "Release"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListVersionFilesResponse": {
            "id": "ListVersionFilesResponse",
            "properties": {
                "files": {
                    "items": {
                        "$ref": "VersionFile"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListVersionsResponse": {
            "id": "ListVersionsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "versions": {
                    "items": {
                        "$ref": "Version"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PathFilter": {
            "id": "PathFilter",
            "properties": {
                "regexes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PopulateVersionFilesRequest": {
            "id": "PopulateVersionFilesRequest",
            "properties": {
                "files": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PopulateVersionFilesResponse": {
            "id": "PopulateVersionFilesResponse",
            "properties": {
                "uploadRequiredHashes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "uploadUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PreviewConfig": {
            "id": "PreviewConfig",
            "properties": {
                "active": {
                    "type": "boolean"
                },
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Redirect": {
            "id": "Redirect",
            "properties": {
                "glob": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "regex": {
                    "type": "string"
                },
                "statusCode": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Release": {
            "id": "Release",
            "properties": {
                "message": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "releaseTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "releaseUser": {
                    "$ref": "ActingUser"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "DEPLOY",
                        "ROLLBACK",
                        "SITE_DISABLE"
                    ],
                    "enumDescriptions": [
                        "An unspecified type. Indicates that a version was released.\n<br>This is the default value when no other `type` is explicitly\nspecified.",
                        "A version was uploaded to Firebase Hosting and released.",
                        "The release points back to a previously deployed version.",
                        "The release prevents the site from serving content. Firebase Hosting acts\nas if the site never existed."
                    ],
                    "type": "string"
                },
                "version": {
                    "$ref": "Version"
                }
            },
            "type": "object"
        },
        "Rewrite": {
            "id": "Rewrite",
            "properties": {
                "dynamicLinks": {
                    "type": "boolean"
                },
                "function": {
                    "type": "string"
                },
                "glob": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "regex": {
                    "type": "string"
                },
                "run": {
                    "$ref": "CloudRunRewrite"
                }
            },
            "type": "object"
        },
        "ServingConfig": {
            "id": "ServingConfig",
            "properties": {
                "appAssociation": {
                    "enum": [
                        "AUTO",
                        "NONE"
                    ],
                    "enumDescriptions": [
                        "The app association files will be automattically created from the apps\nthat exist in the Firebase project.",
                        "No special handling of the app association files will occur, these paths\nwill result in a 404 unless caught with a Rewrite."
                    ],
                    "type": "string"
                },
                "cleanUrls": {
                    "type": "boolean"
                },
                "headers": {
                    "items": {
                        "$ref": "Header"
                    },
                    "type": "array"
                },
                "redirects": {
                    "items": {
                        "$ref": "Redirect"
                    },
                    "type": "array"
                },
                "rewrites": {
                    "items": {
                        "$ref": "Rewrite"
                    },
                    "type": "array"
                },
                "trailingSlashBehavior": {
                    "enum": [
                        "TRAILING_SLASH_BEHAVIOR_UNSPECIFIED",
                        "ADD",
                        "REMOVE"
                    ],
                    "enumDescriptions": [
                        "No behavior is specified.\n<br>Files are served at their exact location only, and trailing slashes\nare only added to directory indexes.",
                        "Trailing slashes are _added_ to directory indexes as well as to any URL\npath not ending in a file extension.",
                        "Trailing slashes are _removed_ from directory indexes as well as from any\nURL path not ending in a file extension."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SiteConfig": {
            "id": "SiteConfig",
            "properties": {
                "maxVersions": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Version": {
            "id": "Version",
            "properties": {
                "config": {
                    "$ref": "ServingConfig"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "createUser": {
                    "$ref": "ActingUser"
                },
                "deleteTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "deleteUser": {
                    "$ref": "ActingUser"
                },
                "fileCount": {
                    "format": "int64",
                    "type": "string"
                },
                "finalizeTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "finalizeUser": {
                    "$ref": "ActingUser"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "preview": {
                    "$ref": "PreviewConfig"
                },
                "status": {
                    "enum": [
                        "VERSION_STATUS_UNSPECIFIED",
                        "CREATED",
                        "FINALIZED",
                        "DELETED",
                        "ABANDONED",
                        "EXPIRED",
                        "CLONING"
                    ],
                    "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The version has been created, and content is currently being added to the\nversion.",
                        "All content has been added to the version, and the version can no longer be\nchanged.",
                        "The version has been deleted.",
                        "The version was not updated to `FINALIZED` within 12&nbsp;hours and was\nautomatically deleted.",
                        "The version is outside the site-configured limit for the number of\nretained versions, so the version's content is scheduled for deletion.",
                        "The version is being cloned from another version. All content is still\nbeing copied over."
                    ],
                    "type": "string"
                },
                "versionBytes": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VersionFile": {
            "id": "VersionFile",
            "properties": {
                "hash": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                    ],
                    "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded\nin the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Firebase Hosting API",
    "version": "v1beta1",
    "version_module": true
}