{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/datastore": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://firestore.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firestore",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/firestore",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "firestore:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
    "name": "firestore",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "databases": {
                    "methods": {
                        "exportDocuments": {
                            "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
                            "httpMethod": "POST",
                            "id": "firestore.projects.databases.exportDocuments",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/databases/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:exportDocuments",
                            "request": {
                                "$ref": "GoogleFirestoreAdminV1ExportDocumentsRequest"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        },
                        "importDocuments": {
                            "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:importDocuments",
                            "httpMethod": "POST",
                            "id": "firestore.projects.databases.importDocuments",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/databases/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:importDocuments",
                            "request": {
                                "$ref": "GoogleFirestoreAdminV1ImportDocumentsRequest"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        }
                    },
                    "resources": {
                        "collectionGroups": {
                            "resources": {
                                "fields": {
                                    "methods": {
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                                            "httpMethod": "GET",
                                            "id": "firestore.projects.databases.collectionGroups.fields.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleFirestoreAdminV1Field"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/datastore"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields",
                                            "httpMethod": "GET",
                                            "id": "firestore.projects.databases.collectionGroups.fields.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/fields",
                                            "response": {
                                                "$ref": "GoogleFirestoreAdminV1ListFieldsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/datastore"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                                            "httpMethod": "PATCH",
                                            "id": "firestore.projects.databases.collectionGroups.fields.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "GoogleFirestoreAdminV1Field"
                                            },
                                            "response": {
                                                "$ref": "GoogleLongrunningOperation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/datastore"
                                            ]
                                        }
                                    }
                                },
                                "indexes": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                                            "httpMethod": "POST",
                                            "id": "firestore.projects.databases.collectionGroups.indexes.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/indexes",
                                            "request": {
                                                "$ref": "GoogleFirestoreAdminV1Index"
                                            },
                                            "response": {
                                                "$ref": "GoogleLongrunningOperation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/datastore"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                                            "httpMethod": "DELETE",
                                            "id": "firestore.projects.databases.collectionGroups.indexes.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/datastore"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                                            "httpMethod": "GET",
                                            "id": "firestore.projects.databases.collectionGroups.indexes.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleFirestoreAdminV1Index"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/datastore"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                                            "httpMethod": "GET",
                                            "id": "firestore.projects.databases.collectionGroups.indexes.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/indexes",
                                            "response": {
                                                "$ref": "GoogleFirestoreAdminV1ListIndexesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/datastore"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "documents": {
                            "methods": {
                                "batchGet": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.batchGet",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/documents:batchGet",
                                    "request": {
                                        "$ref": "BatchGetDocumentsRequest"
                                    },
                                    "response": {
                                        "$ref": "BatchGetDocumentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "batchWrite": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.batchWrite",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/documents:batchWrite",
                                    "request": {
                                        "$ref": "BatchWriteRequest"
                                    },
                                    "response": {
                                        "$ref": "BatchWriteResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "beginTransaction": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.beginTransaction",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/documents:beginTransaction",
                                    "request": {
                                        "$ref": "BeginTransactionRequest"
                                    },
                                    "response": {
                                        "$ref": "BeginTransactionResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "commit": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.commit",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/documents:commit",
                                    "request": {
                                        "$ref": "CommitRequest"
                                    },
                                    "response": {
                                        "$ref": "CommitResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "createDocument": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.createDocument",
                                    "parameterOrder": [
                                        "parent",
                                        "collectionId"
                                    ],
                                    "parameters": {
                                        "collectionId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "documentId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "mask.fieldPaths": {
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/{collectionId}",
                                    "request": {
                                        "$ref": "Document"
                                    },
                                    "response": {
                                        "$ref": "Document"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                                    "httpMethod": "DELETE",
                                    "id": "firestore.projects.databases.documents.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "currentDocument.exists": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "currentDocument.updateTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                                    "httpMethod": "GET",
                                    "id": "firestore.projects.databases.documents.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "mask.fieldPaths": {
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "readTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "transaction": {
                                            "format": "byte",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Document"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                                    "httpMethod": "GET",
                                    "id": "firestore.projects.databases.documents.list",
                                    "parameterOrder": [
                                        "parent",
                                        "collectionId"
                                    ],
                                    "parameters": {
                                        "collectionId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "mask.fieldPaths": {
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "readTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "showMissing": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "transaction": {
                                            "format": "byte",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/{collectionId}",
                                    "response": {
                                        "$ref": "ListDocumentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "listCollectionIds": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.listCollectionIds",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}:listCollectionIds",
                                    "request": {
                                        "$ref": "ListCollectionIdsRequest"
                                    },
                                    "response": {
                                        "$ref": "ListCollectionIdsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "listen": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.listen",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/documents:listen",
                                    "request": {
                                        "$ref": "ListenRequest"
                                    },
                                    "response": {
                                        "$ref": "ListenResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "partitionQuery": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.partitionQuery",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}:partitionQuery",
                                    "request": {
                                        "$ref": "PartitionQueryRequest"
                                    },
                                    "response": {
                                        "$ref": "PartitionQueryResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                                    "httpMethod": "PATCH",
                                    "id": "firestore.projects.databases.documents.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "currentDocument.exists": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "currentDocument.updateTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "mask.fieldPaths": {
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask.fieldPaths": {
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Document"
                                    },
                                    "response": {
                                        "$ref": "Document"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "rollback": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.rollback",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/documents:rollback",
                                    "request": {
                                        "$ref": "RollbackRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "runQuery": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.runQuery",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}:runQuery",
                                    "request": {
                                        "$ref": "RunQueryRequest"
                                    },
                                    "response": {
                                        "$ref": "RunQueryResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "write": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:write",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.documents.write",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/documents:write",
                                    "request": {
                                        "$ref": "WriteRequest"
                                    },
                                    "response": {
                                        "$ref": "WriteResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "firestore.projects.databases.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "request": {
                                        "$ref": "GoogleLongrunningCancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "firestore.projects.databases.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "firestore.projects.databases.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleLongrunningOperation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations",
                                    "httpMethod": "GET",
                                    "id": "firestore.projects.databases.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}/operations",
                                    "response": {
                                        "$ref": "GoogleLongrunningListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/datastore"
                                    ]
                                }
                            }
                        }
                    }
                },
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "firestore.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "firestore.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/datastore"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://firestore.googleapis.com/",
    "schemas": {
        "ArrayValue": {
            "id": "ArrayValue",
            "properties": {
                "values": {
                    "items": {
                        "$ref": "Value"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchGetDocumentsRequest": {
            "id": "BatchGetDocumentsRequest",
            "properties": {
                "documents": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "mask": {
                    "$ref": "DocumentMask"
                },
                "newTransaction": {
                    "$ref": "TransactionOptions"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchGetDocumentsResponse": {
            "id": "BatchGetDocumentsResponse",
            "properties": {
                "found": {
                    "$ref": "Document"
                },
                "missing": {
                    "type": "string"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchWriteRequest": {
            "id": "BatchWriteRequest",
            "properties": {
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "writes": {
                    "items": {
                        "$ref": "Write"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchWriteResponse": {
            "id": "BatchWriteResponse",
            "properties": {
                "status": {
                    "items": {
                        "$ref": "Status"
                    },
                    "type": "array"
                },
                "writeResults": {
                    "items": {
                        "$ref": "WriteResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BeginTransactionRequest": {
            "id": "BeginTransactionRequest",
            "properties": {
                "options": {
                    "$ref": "TransactionOptions"
                }
            },
            "type": "object"
        },
        "BeginTransactionResponse": {
            "id": "BeginTransactionResponse",
            "properties": {
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CollectionSelector": {
            "id": "CollectionSelector",
            "properties": {
                "allDescendants": {
                    "type": "boolean"
                },
                "collectionId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CommitRequest": {
            "id": "CommitRequest",
            "properties": {
                "transaction": {
                    "format": "byte",
                    "type": "string"
                },
                "writes": {
                    "items": {
                        "$ref": "Write"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CommitResponse": {
            "id": "CommitResponse",
            "properties": {
                "commitTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "writeResults": {
                    "items": {
                        "$ref": "WriteResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CompositeFilter": {
            "id": "CompositeFilter",
            "properties": {
                "filters": {
                    "items": {
                        "$ref": "Filter"
                    },
                    "type": "array"
                },
                "op": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "AND"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Cursor": {
            "id": "Cursor",
            "properties": {
                "before": {
                    "type": "boolean"
                },
                "values": {
                    "items": {
                        "$ref": "Value"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Document": {
            "id": "Document",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "fields": {
                    "additionalProperties": {
                        "$ref": "Value"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DocumentChange": {
            "id": "DocumentChange",
            "properties": {
                "document": {
                    "$ref": "Document"
                },
                "removedTargetIds": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "targetIds": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DocumentDelete": {
            "id": "DocumentDelete",
            "properties": {
                "document": {
                    "type": "string"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "removedTargetIds": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DocumentMask": {
            "id": "DocumentMask",
            "properties": {
                "fieldPaths": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DocumentRemove": {
            "id": "DocumentRemove",
            "properties": {
                "document": {
                    "type": "string"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "removedTargetIds": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DocumentTransform": {
            "id": "DocumentTransform",
            "properties": {
                "document": {
                    "type": "string"
                },
                "fieldTransforms": {
                    "items": {
                        "$ref": "FieldTransform"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DocumentsTarget": {
            "id": "DocumentsTarget",
            "properties": {
                "documents": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ExistenceFilter": {
            "id": "ExistenceFilter",
            "properties": {
                "count": {
                    "format": "int32",
                    "type": "integer"
                },
                "targetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "FieldFilter": {
            "id": "FieldFilter",
            "properties": {
                "field": {
                    "$ref": "FieldReference"
                },
                "op": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "LESS_THAN",
                        "LESS_THAN_OR_EQUAL",
                        "GREATER_THAN",
                        "GREATER_THAN_OR_EQUAL",
                        "EQUAL",
                        "ARRAY_CONTAINS",
                        "IN",
                        "ARRAY_CONTAINS_ANY"
                    ],
                    "type": "string"
                },
                "value": {
                    "$ref": "Value"
                }
            },
            "type": "object"
        },
        "FieldReference": {
            "id": "FieldReference",
            "properties": {
                "fieldPath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FieldTransform": {
            "id": "FieldTransform",
            "properties": {
                "appendMissingElements": {
                    "$ref": "ArrayValue"
                },
                "fieldPath": {
                    "type": "string"
                },
                "increment": {
                    "$ref": "Value"
                },
                "maximum": {
                    "$ref": "Value"
                },
                "minimum": {
                    "$ref": "Value"
                },
                "removeAllFromArray": {
                    "$ref": "ArrayValue"
                },
                "setToServerValue": {
                    "enum": [
                        "SERVER_VALUE_UNSPECIFIED",
                        "REQUEST_TIME"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Filter": {
            "id": "Filter",
            "properties": {
                "compositeFilter": {
                    "$ref": "CompositeFilter"
                },
                "fieldFilter": {
                    "$ref": "FieldFilter"
                },
                "unaryFilter": {
                    "$ref": "UnaryFilter"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1ExportDocumentsMetadata": {
            "id": "GoogleFirestoreAdminV1ExportDocumentsMetadata",
            "properties": {
                "collectionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "operationState": {
                    "enum": [
                        "OPERATION_STATE_UNSPECIFIED",
                        "INITIALIZING",
                        "PROCESSING",
                        "CANCELLING",
                        "FINALIZING",
                        "SUCCESSFUL",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "type": "string"
                },
                "outputUriPrefix": {
                    "type": "string"
                },
                "progressBytes": {
                    "$ref": "GoogleFirestoreAdminV1Progress"
                },
                "progressDocuments": {
                    "$ref": "GoogleFirestoreAdminV1Progress"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1ExportDocumentsRequest": {
            "id": "GoogleFirestoreAdminV1ExportDocumentsRequest",
            "properties": {
                "collectionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "outputUriPrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1ExportDocumentsResponse": {
            "id": "GoogleFirestoreAdminV1ExportDocumentsResponse",
            "properties": {
                "outputUriPrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1Field": {
            "id": "GoogleFirestoreAdminV1Field",
            "properties": {
                "indexConfig": {
                    "$ref": "GoogleFirestoreAdminV1IndexConfig"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1FieldOperationMetadata": {
            "id": "GoogleFirestoreAdminV1FieldOperationMetadata",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "field": {
                    "type": "string"
                },
                "indexConfigDeltas": {
                    "items": {
                        "$ref": "GoogleFirestoreAdminV1IndexConfigDelta"
                    },
                    "type": "array"
                },
                "progressBytes": {
                    "$ref": "GoogleFirestoreAdminV1Progress"
                },
                "progressDocuments": {
                    "$ref": "GoogleFirestoreAdminV1Progress"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "OPERATION_STATE_UNSPECIFIED",
                        "INITIALIZING",
                        "PROCESSING",
                        "CANCELLING",
                        "FINALIZING",
                        "SUCCESSFUL",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1ImportDocumentsMetadata": {
            "id": "GoogleFirestoreAdminV1ImportDocumentsMetadata",
            "properties": {
                "collectionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "inputUriPrefix": {
                    "type": "string"
                },
                "operationState": {
                    "enum": [
                        "OPERATION_STATE_UNSPECIFIED",
                        "INITIALIZING",
                        "PROCESSING",
                        "CANCELLING",
                        "FINALIZING",
                        "SUCCESSFUL",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "type": "string"
                },
                "progressBytes": {
                    "$ref": "GoogleFirestoreAdminV1Progress"
                },
                "progressDocuments": {
                    "$ref": "GoogleFirestoreAdminV1Progress"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1ImportDocumentsRequest": {
            "id": "GoogleFirestoreAdminV1ImportDocumentsRequest",
            "properties": {
                "collectionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "inputUriPrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1Index": {
            "id": "GoogleFirestoreAdminV1Index",
            "properties": {
                "fields": {
                    "items": {
                        "$ref": "GoogleFirestoreAdminV1IndexField"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "queryScope": {
                    "enum": [
                        "QUERY_SCOPE_UNSPECIFIED",
                        "COLLECTION",
                        "COLLECTION_GROUP"
                    ],
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY",
                        "NEEDS_REPAIR"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1IndexConfig": {
            "id": "GoogleFirestoreAdminV1IndexConfig",
            "properties": {
                "ancestorField": {
                    "type": "string"
                },
                "indexes": {
                    "items": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                    },
                    "type": "array"
                },
                "reverting": {
                    "type": "boolean"
                },
                "usesAncestorConfig": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1IndexConfigDelta": {
            "id": "GoogleFirestoreAdminV1IndexConfigDelta",
            "properties": {
                "changeType": {
                    "enum": [
                        "CHANGE_TYPE_UNSPECIFIED",
                        "ADD",
                        "REMOVE"
                    ],
                    "type": "string"
                },
                "index": {
                    "$ref": "GoogleFirestoreAdminV1Index"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1IndexField": {
            "id": "GoogleFirestoreAdminV1IndexField",
            "properties": {
                "arrayConfig": {
                    "enum": [
                        "ARRAY_CONFIG_UNSPECIFIED",
                        "CONTAINS"
                    ],
                    "type": "string"
                },
                "fieldPath": {
                    "type": "string"
                },
                "order": {
                    "enum": [
                        "ORDER_UNSPECIFIED",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1IndexOperationMetadata": {
            "id": "GoogleFirestoreAdminV1IndexOperationMetadata",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "index": {
                    "type": "string"
                },
                "progressBytes": {
                    "$ref": "GoogleFirestoreAdminV1Progress"
                },
                "progressDocuments": {
                    "$ref": "GoogleFirestoreAdminV1Progress"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "OPERATION_STATE_UNSPECIFIED",
                        "INITIALIZING",
                        "PROCESSING",
                        "CANCELLING",
                        "FINALIZING",
                        "SUCCESSFUL",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1ListFieldsResponse": {
            "id": "GoogleFirestoreAdminV1ListFieldsResponse",
            "properties": {
                "fields": {
                    "items": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1ListIndexesResponse": {
            "id": "GoogleFirestoreAdminV1ListIndexesResponse",
            "properties": {
                "indexes": {
                    "items": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirestoreAdminV1LocationMetadata": {
            "id": "GoogleFirestoreAdminV1LocationMetadata",
            "properties": {},
            "type": "object"
        },
        "GoogleFirestoreAdminV1Progress": {
            "id": "GoogleFirestoreAdminV1Progress",
            "properties": {
                "completedWork": {
                    "format": "int64",
                    "type": "string"
                },
                "estimatedWork": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleLongrunningCancelOperationRequest": {
            "id": "GoogleLongrunningCancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "GoogleLongrunningListOperationsResponse": {
            "id": "GoogleLongrunningListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleLongrunningOperation": {
            "id": "GoogleLongrunningOperation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "LatLng": {
            "id": "LatLng",
            "properties": {
                "latitude": {
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ListCollectionIdsRequest": {
            "id": "ListCollectionIdsRequest",
            "properties": {
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListCollectionIdsResponse": {
            "id": "ListCollectionIdsResponse",
            "properties": {
                "collectionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDocumentsResponse": {
            "id": "ListDocumentsResponse",
            "properties": {
                "documents": {
                    "items": {
                        "$ref": "Document"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListenRequest": {
            "id": "ListenRequest",
            "properties": {
                "addTarget": {
                    "$ref": "Target"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "removeTarget": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListenResponse": {
            "id": "ListenResponse",
            "properties": {
                "documentChange": {
                    "$ref": "DocumentChange"
                },
                "documentDelete": {
                    "$ref": "DocumentDelete"
                },
                "documentRemove": {
                    "$ref": "DocumentRemove"
                },
                "filter": {
                    "$ref": "ExistenceFilter"
                },
                "targetChange": {
                    "$ref": "TargetChange"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MapValue": {
            "id": "MapValue",
            "properties": {
                "fields": {
                    "additionalProperties": {
                        "$ref": "Value"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Order": {
            "id": "Order",
            "properties": {
                "direction": {
                    "enum": [
                        "DIRECTION_UNSPECIFIED",
                        "ASCENDING",
                        "DESCENDING"
                    ],
                    "type": "string"
                },
                "field": {
                    "$ref": "FieldReference"
                }
            },
            "type": "object"
        },
        "PartitionQueryRequest": {
            "id": "PartitionQueryRequest",
            "properties": {
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                },
                "partitionCount": {
                    "format": "int64",
                    "type": "string"
                },
                "structuredQuery": {
                    "$ref": "StructuredQuery"
                }
            },
            "type": "object"
        },
        "PartitionQueryResponse": {
            "id": "PartitionQueryResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "partitions": {
                    "items": {
                        "$ref": "Cursor"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Precondition": {
            "id": "Precondition",
            "properties": {
                "exists": {
                    "type": "boolean"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Projection": {
            "id": "Projection",
            "properties": {
                "fields": {
                    "items": {
                        "$ref": "FieldReference"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "QueryTarget": {
            "id": "QueryTarget",
            "properties": {
                "parent": {
                    "type": "string"
                },
                "structuredQuery": {
                    "$ref": "StructuredQuery"
                }
            },
            "type": "object"
        },
        "ReadOnly": {
            "id": "ReadOnly",
            "properties": {
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReadWrite": {
            "id": "ReadWrite",
            "properties": {
                "retryTransaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RollbackRequest": {
            "id": "RollbackRequest",
            "properties": {
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RunQueryRequest": {
            "id": "RunQueryRequest",
            "properties": {
                "newTransaction": {
                    "$ref": "TransactionOptions"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "structuredQuery": {
                    "$ref": "StructuredQuery"
                },
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RunQueryResponse": {
            "id": "RunQueryResponse",
            "properties": {
                "document": {
                    "$ref": "Document"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "skippedResults": {
                    "format": "int32",
                    "type": "integer"
                },
                "transaction": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StructuredQuery": {
            "id": "StructuredQuery",
            "properties": {
                "endAt": {
                    "$ref": "Cursor"
                },
                "from": {
                    "items": {
                        "$ref": "CollectionSelector"
                    },
                    "type": "array"
                },
                "limit": {
                    "format": "int32",
                    "type": "integer"
                },
                "offset": {
                    "format": "int32",
                    "type": "integer"
                },
                "orderBy": {
                    "items": {
                        "$ref": "Order"
                    },
                    "type": "array"
                },
                "select": {
                    "$ref": "Projection"
                },
                "startAt": {
                    "$ref": "Cursor"
                },
                "where": {
                    "$ref": "Filter"
                }
            },
            "type": "object"
        },
        "Target": {
            "id": "Target",
            "properties": {
                "documents": {
                    "$ref": "DocumentsTarget"
                },
                "once": {
                    "type": "boolean"
                },
                "query": {
                    "$ref": "QueryTarget"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "resumeToken": {
                    "format": "byte",
                    "type": "string"
                },
                "targetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TargetChange": {
            "id": "TargetChange",
            "properties": {
                "cause": {
                    "$ref": "Status"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "resumeToken": {
                    "format": "byte",
                    "type": "string"
                },
                "targetChangeType": {
                    "enum": [
                        "NO_CHANGE",
                        "ADD",
                        "REMOVE",
                        "CURRENT",
                        "RESET"
                    ],
                    "type": "string"
                },
                "targetIds": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TransactionOptions": {
            "id": "TransactionOptions",
            "properties": {
                "readOnly": {
                    "$ref": "ReadOnly"
                },
                "readWrite": {
                    "$ref": "ReadWrite"
                }
            },
            "type": "object"
        },
        "UnaryFilter": {
            "id": "UnaryFilter",
            "properties": {
                "field": {
                    "$ref": "FieldReference"
                },
                "op": {
                    "enum": [
                        "OPERATOR_UNSPECIFIED",
                        "IS_NAN",
                        "IS_NULL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Value": {
            "id": "Value",
            "properties": {
                "arrayValue": {
                    "$ref": "ArrayValue"
                },
                "booleanValue": {
                    "type": "boolean"
                },
                "bytesValue": {
                    "format": "byte",
                    "type": "string"
                },
                "doubleValue": {
                    "format": "double",
                    "type": "number"
                },
                "geoPointValue": {
                    "$ref": "LatLng"
                },
                "integerValue": {
                    "format": "int64",
                    "type": "string"
                },
                "mapValue": {
                    "$ref": "MapValue"
                },
                "nullValue": {
                    "enum": [
                        "NULL_VALUE"
                    ],
                    "type": "string"
                },
                "referenceValue": {
                    "type": "string"
                },
                "stringValue": {
                    "type": "string"
                },
                "timestampValue": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Write": {
[...]
