{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {},
                "https://www.googleapis.com/auth/firebase": {},
                "https://www.googleapis.com/auth/firebase.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://firebasehosting.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firebase Hosting",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com/docs/hosting/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "firebasehosting:v1beta1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
    "name": "firebasehosting",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "operations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "firebasehosting.projects.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        }
                    }
                },
                "sites": {
                    "methods": {
                        "getConfig": {
                            "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
                            "httpMethod": "GET",
                            "id": "firebasehosting.projects.sites.getConfig",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "SiteConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "updateConfig": {
                            "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
                            "httpMethod": "PATCH",
                            "id": "firebasehosting.projects.sites.updateConfig",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "SiteConfig"
                            },
                            "response": {
                                "$ref": "SiteConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    },
                    "resources": {
                        "channels": {
                            "resources": {
                                "releases": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                                            "httpMethod": "POST",
                                            "id": "firebasehosting.projects.sites.channels.releases.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "versionName": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/releases",
                                            "request": {
                                                "$ref": "Release"
                                            },
                                            "response": {
                                                "$ref": "Release"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/firebase"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                                            "httpMethod": "GET",
                                            "id": "firebasehosting.projects.sites.channels.releases.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/releases",
                                            "response": {
                                                "$ref": "ListReleasesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                                "https://www.googleapis.com/auth/firebase",
                                                "https://www.googleapis.com/auth/firebase.readonly"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "domains": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                                    "httpMethod": "POST",
                                    "id": "firebasehosting.projects.sites.domains.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/domains",
                                    "request": {
                                        "$ref": "Domain"
                                    },
                                    "response": {
                                        "$ref": "Domain"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                                    "httpMethod": "DELETE",
                                    "id": "firebasehosting.projects.sites.domains.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                                    "httpMethod": "GET",
                                    "id": "firebasehosting.projects.sites.domains.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Domain"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                                    "httpMethod": "GET",
                                    "id": "firebasehosting.projects.sites.domains.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/domains",
                                    "response": {
                                        "$ref": "ListDomainsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                },
                                "update": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                                    "httpMethod": "PUT",
                                    "id": "firebasehosting.projects.sites.domains.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "request": {
                                        "$ref": "Domain"
                                    },
                                    "response": {
                                        "$ref": "Domain"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                }
                            }
                        },
                        "releases": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                                    "httpMethod": "POST",
                                    "id": "firebasehosting.projects.sites.releases.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "versionName": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/releases",
                                    "request": {
                                        "$ref": "Release"
                                    },
                                    "response": {
                                        "$ref": "Release"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                                    "httpMethod": "GET",
                                    "id": "firebasehosting.projects.sites.releases.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/releases",
                                    "response": {
                                        "$ref": "ListReleasesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                }
                            }
                        },
                        "versions": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                                    "httpMethod": "POST",
                                    "id": "firebasehosting.projects.sites.versions.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "sizeBytes": {
                                            "format": "int64",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "versionId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/versions",
                                    "request": {
                                        "$ref": "Version"
                                    },
                                    "response": {
                                        "$ref": "Version"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                                    "httpMethod": "DELETE",
                                    "id": "firebasehosting.projects.sites.versions.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                                    "httpMethod": "GET",
                                    "id": "firebasehosting.projects.sites.versions.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/versions",
                                    "response": {
                                        "$ref": "ListVersionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                                    "httpMethod": "PATCH",
                                    "id": "firebasehosting.projects.sites.versions.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "request": {
                                        "$ref": "Version"
                                    },
                                    "response": {
                                        "$ref": "Version"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "populateFiles": {
                                    "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                                    "httpMethod": "POST",
                                    "id": "firebasehosting.projects.sites.versions.populateFiles",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}:populateFiles",
                                    "request": {
                                        "$ref": "PopulateVersionFilesRequest"
                                    },
                                    "response": {
                                        "$ref": "PopulateVersionFilesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                }
                            },
                            "resources": {
                                "files": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                                            "httpMethod": "GET",
                                            "id": "firebasehosting.projects.sites.versions.files.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "enum": [
                                                        "STATUS_UNSPECIFIED",
                                                        "EXPECTED",
                                                        "ACTIVE"
                                                    ],
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/files",
                                            "response": {
                                                "$ref": "ListVersionFilesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                                "https://www.googleapis.com/auth/firebase",
                                                "https://www.googleapis.com/auth/firebase.readonly"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "sites": {
            "methods": {
                "getConfig": {
                    "flatPath": "v1beta1/sites/{sitesId}/config",
                    "httpMethod": "GET",
                    "id": "firebasehosting.sites.getConfig",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^sites/[^/]+/config$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+name}",
                    "response": {
                        "$ref": "SiteConfig"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                },
                "updateConfig": {
                    "flatPath": "v1beta1/sites/{sitesId}/config",
                    "httpMethod": "PATCH",
                    "id": "firebasehosting.sites.updateConfig",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^sites/[^/]+/config$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+name}",
                    "request": {
                        "$ref": "SiteConfig"
                    },
                    "response": {
                        "$ref": "SiteConfig"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                    ]
                }
            },
            "resources": {
                "channels": {
                    "resources": {
                        "releases": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                                    "httpMethod": "POST",
                                    "id": "firebasehosting.sites.channels.releases.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^sites/[^/]+/channels/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "versionName": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/releases",
                                    "request": {
                                        "$ref": "Release"
                                    },
                                    "response": {
                                        "$ref": "Release"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/firebase"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                                    "httpMethod": "GET",
                                    "id": "firebasehosting.sites.channels.releases.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^sites/[^/]+/channels/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/releases",
                                    "response": {
                                        "$ref": "ListReleasesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                }
                            }
                        }
                    }
                },
                "domains": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains",
                            "httpMethod": "POST",
                            "id": "firebasehosting.sites.domains.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/domains",
                            "request": {
                                "$ref": "Domain"
                            },
                            "response": {
                                "$ref": "Domain"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
                            "httpMethod": "DELETE",
                            "id": "firebasehosting.sites.domains.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/domains/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "get": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
                            "httpMethod": "GET",
                            "id": "firebasehosting.sites.domains.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/domains/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Domain"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains",
                            "httpMethod": "GET",
                            "id": "firebasehosting.sites.domains.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/domains",
                            "response": {
                                "$ref": "ListDomainsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "update": {
                            "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
                            "httpMethod": "PUT",
                            "id": "firebasehosting.sites.domains.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/domains/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "Domain"
                            },
                            "response": {
                                "$ref": "Domain"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    }
                },
                "releases": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/sites/{sitesId}/releases",
                            "httpMethod": "POST",
                            "id": "firebasehosting.sites.releases.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "versionName": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/releases",
                            "request": {
                                "$ref": "Release"
                            },
                            "response": {
                                "$ref": "Release"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/sites/{sitesId}/releases",
                            "httpMethod": "GET",
                            "id": "firebasehosting.sites.releases.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/releases",
                            "response": {
                                "$ref": "ListReleasesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        }
                    }
                },
                "versions": {
                    "methods": {
                        "create": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions",
                            "httpMethod": "POST",
                            "id": "firebasehosting.sites.versions.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "sizeBytes": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "versionId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/versions",
                            "request": {
                                "$ref": "Version"
                            },
                            "response": {
                                "$ref": "Version"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
                            "httpMethod": "DELETE",
                            "id": "firebasehosting.sites.versions.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/versions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions",
                            "httpMethod": "GET",
                            "id": "firebasehosting.sites.versions.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/versions",
                            "response": {
                                "$ref": "ListVersionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
                            "httpMethod": "PATCH",
                            "id": "firebasehosting.sites.versions.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/versions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "Version"
                            },
                            "response": {
                                "$ref": "Version"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "populateFiles": {
                            "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
                            "httpMethod": "POST",
                            "id": "firebasehosting.sites.versions.populateFiles",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^sites/[^/]+/versions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}:populateFiles",
                            "request": {
                                "$ref": "PopulateVersionFilesRequest"
                            },
                            "response": {
                                "$ref": "PopulateVersionFilesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    },
                    "resources": {
                        "files": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                                    "httpMethod": "GET",
                                    "id": "firebasehosting.sites.versions.files.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^sites/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "status": {
                                            "enum": [
                                                "STATUS_UNSPECIFIED",
                                                "EXPECTED",
                                                "ACTIVE"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/files",
                                    "response": {
                                        "$ref": "ListVersionFilesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/firebase",
                                        "https://www.googleapis.com/auth/firebase.readonly"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://firebasehosting.googleapis.com/",
    "schemas": {
        "ActingUser": {
            "id": "ActingUser",
            "properties": {
                "email": {
                    "type": "string"
                },
                "imageUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CertDnsChallenge": {
            "id": "CertDnsChallenge",
            "properties": {
                "domainName": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CertHttpChallenge": {
            "id": "CertHttpChallenge",
            "properties": {
                "path": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloudRunRewrite": {
            "id": "CloudRunRewrite",
            "properties": {
                "region": {
                    "type": "string"
                },
                "serviceId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Domain": {
            "id": "Domain",
            "properties": {
                "domainName": {
                    "type": "string"
                },
                "domainRedirect": {
                    "$ref": "DomainRedirect"
                },
                "provisioning": {
                    "$ref": "DomainProvisioning"
                },
                "site": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "DOMAIN_STATUS_UNSPECIFIED",
                        "DOMAIN_CHANGE_PENDING",
                        "DOMAIN_ACTIVE",
                        "DOMAIN_VERIFICATION_REQUIRED",
                        "DOMAIN_VERIFICATION_LOST"
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DomainProvisioning": {
            "id": "DomainProvisioning",
            "properties": {
                "certChallengeDiscoveredTxt": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "certChallengeDns": {
                    "$ref": "CertDnsChallenge"
                },
                "certChallengeHttp": {
                    "$ref": "CertHttpChallenge"
                },
                "certStatus": {
                    "enum": [
                        "CERT_STATUS_UNSPECIFIED",
                        "CERT_PENDING",
                        "CERT_MISSING",
                        "CERT_PROCESSING",
                        "CERT_PROPAGATING",
                        "CERT_ACTIVE",
                        "CERT_ERROR"
                    ],
                    "type": "string"
                },
                "discoveredIps": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "dnsFetchTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "dnsStatus": {
                    "enum": [
                        "DNS_STATUS_UNSPECIFIED",
                        "DNS_PENDING",
                        "DNS_MISSING",
                        "DNS_PARTIAL_MATCH",
                        "DNS_MATCH",
                        "DNS_EXTRANEOUS_MATCH"
                    ],
                    "type": "string"
                },
                "expectedIps": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DomainRedirect": {
            "id": "DomainRedirect",
            "properties": {
                "domainName": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "REDIRECT_TYPE_UNSPECIFIED",
                        "MOVED_PERMANENTLY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Header": {
            "id": "Header",
            "properties": {
                "glob": {
                    "type": "string"
                },
                "headers": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "regex": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDomainsResponse": {
            "id": "ListDomainsResponse",
            "properties": {
                "domains": {
                    "items": {
                        "$ref": "Domain"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListReleasesResponse": {
            "id": "ListReleasesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "releases": {
                    "items": {
                        "$ref": "Release"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListVersionFilesResponse": {
            "id": "ListVersionFilesResponse",
            "properties": {
                "files": {
                    "items": {
                        "$ref": "VersionFile"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListVersionsResponse": {
            "id": "ListVersionsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "versions": {
                    "items": {
                        "$ref": "Version"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PopulateVersionFilesRequest": {
            "id": "PopulateVersionFilesRequest",
            "properties": {
                "files": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PopulateVersionFilesResponse": {
            "id": "PopulateVersionFilesResponse",
            "properties": {
                "uploadRequiredHashes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "uploadUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PreviewConfig": {
            "id": "PreviewConfig",
            "properties": {
                "active": {
                    "type": "boolean"
                },
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Redirect": {
            "id": "Redirect",
            "properties": {
                "glob": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "regex": {
                    "type": "string"
                },
                "statusCode": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Release": {
            "id": "Release",
            "properties": {
                "message": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "releaseTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "releaseUser": {
                    "$ref": "ActingUser"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "DEPLOY",
                        "ROLLBACK",
                        "SITE_DISABLE"
                    ],
                    "type": "string"
                },
                "version": {
                    "$ref": "Version"
                }
            },
            "type": "object"
        },
        "Rewrite": {
            "id": "Rewrite",
            "properties": {
                "dynamicLinks": {
                    "type": "boolean"
                },
                "function": {
                    "type": "string"
                },
                "glob": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "regex": {
                    "type": "string"
                },
                "run": {
                    "$ref": "CloudRunRewrite"
                }
            },
            "type": "object"
        },
        "ServingConfig": {
            "id": "ServingConfig",
            "properties": {
                "appAssociation": {
                    "enum": [
                        "AUTO",
                        "NONE"
                    ],
                    "type": "string"
                },
                "cleanUrls": {
                    "type": "boolean"
                },
                "headers": {
                    "items": {
                        "$ref": "Header"
                    },
                    "type": "array"
                },
                "redirects": {
                    "items": {
                        "$ref": "Redirect"
                    },
                    "type": "array"
                },
                "rewrites": {
                    "items": {
                        "$ref": "Rewrite"
                    },
                    "type": "array"
                },
                "trailingSlashBehavior": {
                    "enum": [
                        "TRAILING_SLASH_BEHAVIOR_UNSPECIFIED",
                        "ADD",
                        "REMOVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SiteConfig": {
            "id": "SiteConfig",
            "properties": {
                "cloudLoggingEnabled": {
                    "type": "boolean"
                },
                "maxVersions": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Version": {
            "id": "Version",
            "properties": {
                "config": {
                    "$ref": "ServingConfig"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "createUser": {
                    "$ref": "ActingUser"
                },
                "deleteTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "deleteUser": {
                    "$ref": "ActingUser"
                },
                "fileCount": {
                    "format": "int64",
                    "type": "string"
                },
                "finalizeTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "finalizeUser": {
                    "$ref": "ActingUser"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "preview": {
                    "$ref": "PreviewConfig"
                },
                "status": {
                    "enum": [
                        "VERSION_STATUS_UNSPECIFIED",
                        "CREATED",
                        "FINALIZED",
                        "DELETED",
                        "ABANDONED",
                        "EXPIRED"
                    ],
                    "type": "string"
                },
                "versionBytes": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VersionFile": {
            "id": "VersionFile",
            "properties": {
                "hash": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Firebase Hosting API",
    "version": "v1beta1",
    "version_module": true
}