{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/firebase": {},
                "https://www.googleapis.com/auth/firebase.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://firebaserules.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firebase Rules",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com/docs/storage/security",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "firebaserules:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://firebaserules.mtls.googleapis.com/",
    "name": "firebaserules",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "test": {
                    "flatPath": "v1/projects/{projectsId}:test",
                    "httpMethod": "POST",
                    "id": "firebaserules.projects.test",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:test",
                    "request": {
                        "$ref": "TestRulesetRequest"
                    },
                    "response": {
                        "$ref": "TestRulesetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                    ]
                }
            },
            "resources": {
                "releases": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/releases",
                            "httpMethod": "POST",
                            "id": "firebaserules.projects.releases.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/releases",
                            "request": {
                                "$ref": "Release"
                            },
                            "response": {
                                "$ref": "Release"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
                            "httpMethod": "DELETE",
                            "id": "firebaserules.projects.releases.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/releases/.*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
                            "httpMethod": "GET",
                            "id": "firebaserules.projects.releases.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/releases/.*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Release"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "getExecutable": {
                            "flatPath": "v1/projects/{projectsId}/releases/{releasesId}:getExecutable",
                            "httpMethod": "GET",
                            "id": "firebaserules.projects.releases.getExecutable",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "executableVersion": {
                                    "enum": [
                                        "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
                                        "FIREBASE_RULES_EXECUTABLE_V1",
                                        "FIREBASE_RULES_EXECUTABLE_V2"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/releases/.*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:getExecutable",
                            "response": {
                                "$ref": "GetReleaseExecutableResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/releases",
                            "httpMethod": "GET",
                            "id": "firebaserules.projects.releases.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/releases",
                            "response": {
                                "$ref": "ListReleasesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
                            "httpMethod": "PATCH",
                            "id": "firebaserules.projects.releases.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/releases/.*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "UpdateReleaseRequest"
                            },
                            "response": {
                                "$ref": "Release"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        }
                    }
                },
                "rulesets": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/rulesets",
                            "httpMethod": "POST",
                            "id": "firebaserules.projects.rulesets.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/rulesets",
                            "request": {
                                "$ref": "Ruleset"
                            },
                            "response": {
                                "$ref": "Ruleset"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
                            "httpMethod": "DELETE",
                            "id": "firebaserules.projects.rulesets.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/rulesets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
                            "httpMethod": "GET",
                            "id": "firebaserules.projects.rulesets.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/rulesets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Ruleset"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/rulesets",
                            "httpMethod": "GET",
                            "id": "firebaserules.projects.rulesets.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/rulesets",
                            "response": {
                                "$ref": "ListRulesetsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/firebase",
                                "https://www.googleapis.com/auth/firebase.readonly"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://firebaserules.googleapis.com/",
    "schemas": {
        "Arg": {
            "id": "Arg",
            "properties": {
                "anyValue": {
                    "$ref": "Empty"
                },
                "exactValue": {
                    "type": "any"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ExpressionReport": {
            "id": "ExpressionReport",
            "properties": {
                "children": {
                    "items": {
                        "$ref": "ExpressionReport"
                    },
                    "type": "array"
                },
                "sourcePosition": {
                    "$ref": "SourcePosition"
                },
                "values": {
                    "items": {
                        "$ref": "ValueCount"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "File": {
            "id": "File",
            "properties": {
                "content": {
                    "type": "string"
                },
                "fingerprint": {
                    "format": "byte",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FunctionCall": {
            "id": "FunctionCall",
            "properties": {
                "args": {
                    "items": {
                        "type": "any"
                    },
                    "type": "array"
                },
                "function": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FunctionMock": {
            "id": "FunctionMock",
            "properties": {
                "args": {
                    "items": {
                        "$ref": "Arg"
                    },
                    "type": "array"
                },
                "function": {
                    "type": "string"
                },
                "result": {
                    "$ref": "Result"
                }
            },
            "type": "object"
        },
        "GetReleaseExecutableResponse": {
            "id": "GetReleaseExecutableResponse",
            "properties": {
                "executable": {
                    "format": "byte",
                    "type": "string"
                },
                "executableVersion": {
                    "enum": [
                        "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
                        "FIREBASE_RULES_EXECUTABLE_V1",
                        "FIREBASE_RULES_EXECUTABLE_V2"
                    ],
                    "type": "string"
                },
                "language": {
                    "enum": [
                        "LANGUAGE_UNSPECIFIED",
                        "FIREBASE_RULES",
                        "EVENT_FLOW_TRIGGERS"
                    ],
                    "type": "string"
                },
                "rulesetName": {
                    "type": "string"
                },
                "syncTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Issue": {
            "id": "Issue",
            "properties": {
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "DEPRECATION",
                        "WARNING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "sourcePosition": {
                    "$ref": "SourcePosition"
                }
            },
            "type": "object"
        },
        "ListReleasesResponse": {
            "id": "ListReleasesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "releases": {
                    "items": {
                        "$ref": "Release"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListRulesetsResponse": {
            "id": "ListRulesetsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "rulesets": {
                    "items": {
                        "$ref": "Ruleset"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Metadata": {
            "id": "Metadata",
            "properties": {
                "services": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Release": {
            "id": "Release",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "rulesetName": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Result": {
            "id": "Result",
            "properties": {
                "undefined": {
                    "$ref": "Empty"
                },
                "value": {
                    "type": "any"
                }
            },
            "type": "object"
        },
        "Ruleset": {
            "id": "Ruleset",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "metadata": {
                    "$ref": "Metadata"
                },
                "name": {
                    "type": "string"
                },
                "source": {
                    "$ref": "Source"
                }
            },
            "type": "object"
        },
        "Source": {
            "id": "Source",
            "properties": {
                "files": {
                    "items": {
                        "$ref": "File"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SourcePosition": {
            "id": "SourcePosition",
            "properties": {
                "column": {
                    "format": "int32",
                    "type": "integer"
                },
                "currentOffset": {
                    "format": "int32",
                    "type": "integer"
                },
                "endOffset": {
                    "format": "int32",
                    "type": "integer"
                },
                "fileName": {
                    "type": "string"
                },
                "line": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TestCase": {
            "id": "TestCase",
            "properties": {
                "expectation": {
                    "enum": [
                        "EXPECTATION_UNSPECIFIED",
                        "ALLOW",
                        "DENY"
                    ],
                    "type": "string"
                },
                "expressionReportLevel": {
                    "enum": [
                        "LEVEL_UNSPECIFIED",
                        "NONE",
                        "FULL",
                        "VISITED"
                    ],
                    "type": "string"
                },
                "functionMocks": {
                    "items": {
                        "$ref": "FunctionMock"
                    },
                    "type": "array"
                },
                "pathEncoding": {
                    "enum": [
                        "ENCODING_UNSPECIFIED",
                        "URL_ENCODED",
                        "PLAIN"
                    ],
                    "type": "string"
                },
                "request": {
                    "type": "any"
                },
                "resource": {
                    "type": "any"
                }
            },
            "type": "object"
        },
        "TestResult": {
            "id": "TestResult",
            "properties": {
                "debugMessages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "errorPosition": {
                    "$ref": "SourcePosition"
                },
                "expressionReports": {
                    "items": {
                        "$ref": "ExpressionReport"
                    },
                    "type": "array"
                },
                "functionCalls": {
                    "items": {
                        "$ref": "FunctionCall"
                    },
                    "type": "array"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "SUCCESS",
                        "FAILURE"
                    ],
                    "type": "string"
                },
                "visitedExpressions": {
                    "items": {
                        "$ref": "VisitedExpression"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestRulesetRequest": {
            "id": "TestRulesetRequest",
            "properties": {
                "source": {
                    "$ref": "Source"
                },
                "testSuite": {
                    "$ref": "TestSuite"
                }
            },
            "type": "object"
        },
        "TestRulesetResponse": {
            "id": "TestRulesetResponse",
            "properties": {
                "issues": {
                    "items": {
                        "$ref": "Issue"
                    },
                    "type": "array"
                },
                "testResults": {
                    "items": {
                        "$ref": "TestResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestSuite": {
            "id": "TestSuite",
            "properties": {
                "testCases": {
                    "items": {
                        "$ref": "TestCase"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateReleaseRequest": {
            "id": "UpdateReleaseRequest",
            "properties": {
                "release": {
                    "$ref": "Release"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ValueCount": {
            "id": "ValueCount",
            "properties": {
                "count": {
                    "format": "int32",
                    "type": "integer"
                },
                "value": {
                    "type": "any"
                }
            },
            "type": "object"
        },
        "VisitedExpression": {
            "id": "VisitedExpression",
            "properties": {
                "sourcePosition": {
                    "$ref": "SourcePosition"
                },
                "value": {
                    "type": "any"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Firebase Rules API",
    "version": "v1",
    "version_module": true
}