{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/fitness.activity.read": {},
                "https://www.googleapis.com/auth/fitness.activity.write": {},
                "https://www.googleapis.com/auth/fitness.blood_glucose.read": {},
                "https://www.googleapis.com/auth/fitness.blood_glucose.write": {},
                "https://www.googleapis.com/auth/fitness.blood_pressure.read": {},
                "https://www.googleapis.com/auth/fitness.blood_pressure.write": {},
                "https://www.googleapis.com/auth/fitness.body.read": {},
                "https://www.googleapis.com/auth/fitness.body.write": {},
                "https://www.googleapis.com/auth/fitness.body_temperature.read": {},
                "https://www.googleapis.com/auth/fitness.body_temperature.write": {},
                "https://www.googleapis.com/auth/fitness.location.read": {},
                "https://www.googleapis.com/auth/fitness.location.write": {},
                "https://www.googleapis.com/auth/fitness.nutrition.read": {},
                "https://www.googleapis.com/auth/fitness.nutrition.write": {},
                "https://www.googleapis.com/auth/fitness.oxygen_saturation.read": {},
                "https://www.googleapis.com/auth/fitness.oxygen_saturation.write": {},
                "https://www.googleapis.com/auth/fitness.reproductive_health.read": {},
                "https://www.googleapis.com/auth/fitness.reproductive_health.write": {}
            }
        }
    },
    "basePath": "/fitness/v1/users/",
    "baseUrl": "https://www.googleapis.com/fitness/v1/users/",
    "batchPath": "batch/fitness/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/fit/rest/",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "fitness:v1",
    "kind": "discovery#restDescription",
    "name": "fitness",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "users": {
            "resources": {
                "dataSources": {
                    "methods": {
                        "create": {
                            "httpMethod": "POST",
                            "id": "fitness.users.dataSources.create",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{userId}/dataSources",
                            "request": {
                                "$ref": "DataSource"
                            },
                            "response": {
                                "$ref": "DataSource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/fitness.activity.write",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                "https://www.googleapis.com/auth/fitness.body.write",
                                "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                "https://www.googleapis.com/auth/fitness.location.write",
                                "https://www.googleapis.com/auth/fitness.nutrition.write",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                            ]
                        },
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "fitness.users.dataSources.delete",
                            "parameterOrder": [
                                "userId",
                                "dataSourceId"
                            ],
                            "parameters": {
                                "dataSourceId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{userId}/dataSources/{dataSourceId}",
                            "response": {
                                "$ref": "DataSource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/fitness.activity.write",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                "https://www.googleapis.com/auth/fitness.body.write",
                                "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                "https://www.googleapis.com/auth/fitness.location.write",
                                "https://www.googleapis.com/auth/fitness.nutrition.write",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "fitness.users.dataSources.get",
                            "parameterOrder": [
                                "userId",
                                "dataSourceId"
                            ],
                            "parameters": {
                                "dataSourceId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{userId}/dataSources/{dataSourceId}",
                            "response": {
                                "$ref": "DataSource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/fitness.activity.read",
                                "https://www.googleapis.com/auth/fitness.activity.write",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.read",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.read",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                "https://www.googleapis.com/auth/fitness.body.read",
                                "https://www.googleapis.com/auth/fitness.body.write",
                                "https://www.googleapis.com/auth/fitness.body_temperature.read",
                                "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                "https://www.googleapis.com/auth/fitness.location.read",
                                "https://www.googleapis.com/auth/fitness.location.write",
                                "https://www.googleapis.com/auth/fitness.nutrition.read",
                                "https://www.googleapis.com/auth/fitness.nutrition.write",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.read",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.read",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "fitness.users.dataSources.list",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "dataTypeName": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{userId}/dataSources",
                            "response": {
                                "$ref": "ListDataSourcesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/fitness.activity.read",
                                "https://www.googleapis.com/auth/fitness.activity.write",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.read",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.read",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                "https://www.googleapis.com/auth/fitness.body.read",
                                "https://www.googleapis.com/auth/fitness.body.write",
                                "https://www.googleapis.com/auth/fitness.body_temperature.read",
                                "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                "https://www.googleapis.com/auth/fitness.location.read",
                                "https://www.googleapis.com/auth/fitness.location.write",
                                "https://www.googleapis.com/auth/fitness.nutrition.read",
                                "https://www.googleapis.com/auth/fitness.nutrition.write",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.read",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.read",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "fitness.users.dataSources.update",
                            "parameterOrder": [
                                "userId",
                                "dataSourceId"
                            ],
                            "parameters": {
                                "dataSourceId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{userId}/dataSources/{dataSourceId}",
                            "request": {
                                "$ref": "DataSource"
                            },
                            "response": {
                                "$ref": "DataSource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/fitness.activity.write",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                "https://www.googleapis.com/auth/fitness.body.write",
                                "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                "https://www.googleapis.com/auth/fitness.location.write",
                                "https://www.googleapis.com/auth/fitness.nutrition.write",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                            ]
                        }
                    },
                    "resources": {
                        "dataPointChanges": {
                            "methods": {
                                "list": {
                                    "httpMethod": "GET",
                                    "id": "fitness.users.dataSources.dataPointChanges.list",
                                    "parameterOrder": [
                                        "userId",
                                        "dataSourceId"
                                    ],
                                    "parameters": {
                                        "dataSourceId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "limit": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "userId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "{userId}/dataSources/{dataSourceId}/dataPointChanges",
                                    "response": {
                                        "$ref": "ListDataPointChangesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/fitness.activity.read",
                                        "https://www.googleapis.com/auth/fitness.activity.write",
                                        "https://www.googleapis.com/auth/fitness.blood_glucose.read",
                                        "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                        "https://www.googleapis.com/auth/fitness.blood_pressure.read",
                                        "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                        "https://www.googleapis.com/auth/fitness.body.read",
                                        "https://www.googleapis.com/auth/fitness.body.write",
                                        "https://www.googleapis.com/auth/fitness.body_temperature.read",
                                        "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                        "https://www.googleapis.com/auth/fitness.location.read",
                                        "https://www.googleapis.com/auth/fitness.location.write",
                                        "https://www.googleapis.com/auth/fitness.nutrition.read",
                                        "https://www.googleapis.com/auth/fitness.nutrition.write",
                                        "https://www.googleapis.com/auth/fitness.oxygen_saturation.read",
                                        "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                        "https://www.googleapis.com/auth/fitness.reproductive_health.read",
                                        "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                                    ]
                                }
                            }
                        },
                        "datasets": {
                            "methods": {
                                "delete": {
                                    "httpMethod": "DELETE",
                                    "id": "fitness.users.dataSources.datasets.delete",
                                    "parameterOrder": [
                                        "userId",
                                        "dataSourceId",
                                        "datasetId"
                                    ],
                                    "parameters": {
                                        "currentTimeMillis": {
                                            "format": "int64",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "dataSourceId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "datasetId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "modifiedTimeMillis": {
                                            "format": "int64",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "userId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "{userId}/dataSources/{dataSourceId}/datasets/{datasetId}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/fitness.activity.write",
                                        "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                        "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                        "https://www.googleapis.com/auth/fitness.body.write",
                                        "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                        "https://www.googleapis.com/auth/fitness.location.write",
                                        "https://www.googleapis.com/auth/fitness.nutrition.write",
                                        "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                        "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                                    ]
                                },
                                "get": {
                                    "httpMethod": "GET",
                                    "id": "fitness.users.dataSources.datasets.get",
                                    "parameterOrder": [
                                        "userId",
                                        "dataSourceId",
                                        "datasetId"
                                    ],
                                    "parameters": {
                                        "dataSourceId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "datasetId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "limit": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "userId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "{userId}/dataSources/{dataSourceId}/datasets/{datasetId}",
                                    "response": {
                                        "$ref": "Dataset"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/fitness.activity.read",
                                        "https://www.googleapis.com/auth/fitness.activity.write",
                                        "https://www.googleapis.com/auth/fitness.blood_glucose.read",
                                        "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                        "https://www.googleapis.com/auth/fitness.blood_pressure.read",
                                        "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                        "https://www.googleapis.com/auth/fitness.body.read",
                                        "https://www.googleapis.com/auth/fitness.body.write",
                                        "https://www.googleapis.com/auth/fitness.body_temperature.read",
                                        "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                        "https://www.googleapis.com/auth/fitness.location.read",
                                        "https://www.googleapis.com/auth/fitness.location.write",
                                        "https://www.googleapis.com/auth/fitness.nutrition.read",
                                        "https://www.googleapis.com/auth/fitness.nutrition.write",
                                        "https://www.googleapis.com/auth/fitness.oxygen_saturation.read",
                                        "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                        "https://www.googleapis.com/auth/fitness.reproductive_health.read",
                                        "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                                    ]
                                },
                                "patch": {
                                    "httpMethod": "PATCH",
                                    "id": "fitness.users.dataSources.datasets.patch",
                                    "parameterOrder": [
                                        "userId",
                                        "dataSourceId",
                                        "datasetId"
                                    ],
                                    "parameters": {
                                        "currentTimeMillis": {
                                            "format": "int64",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "dataSourceId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "datasetId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "{userId}/dataSources/{dataSourceId}/datasets/{datasetId}",
                                    "request": {
                                        "$ref": "Dataset"
                                    },
                                    "response": {
                                        "$ref": "Dataset"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/fitness.activity.write",
                                        "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                        "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                        "https://www.googleapis.com/auth/fitness.body.write",
                                        "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                        "https://www.googleapis.com/auth/fitness.location.write",
                                        "https://www.googleapis.com/auth/fitness.nutrition.write",
                                        "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                        "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                                    ]
                                }
                            }
                        }
                    }
                },
                "dataset": {
                    "methods": {
                        "aggregate": {
                            "httpMethod": "POST",
                            "id": "fitness.users.dataset.aggregate",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{userId}/dataset:aggregate",
                            "request": {
                                "$ref": "AggregateRequest"
                            },
                            "response": {
                                "$ref": "AggregateResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/fitness.activity.read",
                                "https://www.googleapis.com/auth/fitness.activity.write",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.read",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.read",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                "https://www.googleapis.com/auth/fitness.body.read",
                                "https://www.googleapis.com/auth/fitness.body.write",
                                "https://www.googleapis.com/auth/fitness.body_temperature.read",
                                "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                "https://www.googleapis.com/auth/fitness.location.read",
                                "https://www.googleapis.com/auth/fitness.location.write",
                                "https://www.googleapis.com/auth/fitness.nutrition.read",
                                "https://www.googleapis.com/auth/fitness.nutrition.write",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.read",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.read",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                            ]
                        }
                    }
                },
                "sessions": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "fitness.users.sessions.delete",
                            "parameterOrder": [
                                "userId",
                                "sessionId"
                            ],
                            "parameters": {
                                "currentTimeMillis": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "sessionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{userId}/sessions/{sessionId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/fitness.activity.write"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "fitness.users.sessions.list",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "activityType": {
                                    "format": "int32",
                                    "location": "query",
                                    "repeated": true,
                                    "type": "integer"
                                },
                                "endTime": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeDeleted": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "startTime": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{userId}/sessions",
                            "response": {
                                "$ref": "ListSessionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/fitness.activity.read",
                                "https://www.googleapis.com/auth/fitness.activity.write",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.read",
                                "https://www.googleapis.com/auth/fitness.blood_glucose.write",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.read",
                                "https://www.googleapis.com/auth/fitness.blood_pressure.write",
                                "https://www.googleapis.com/auth/fitness.body.read",
                                "https://www.googleapis.com/auth/fitness.body.write",
                                "https://www.googleapis.com/auth/fitness.body_temperature.read",
                                "https://www.googleapis.com/auth/fitness.body_temperature.write",
                                "https://www.googleapis.com/auth/fitness.location.read",
                                "https://www.googleapis.com/auth/fitness.location.write",
                                "https://www.googleapis.com/auth/fitness.nutrition.read",
                                "https://www.googleapis.com/auth/fitness.nutrition.write",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.read",
                                "https://www.googleapis.com/auth/fitness.oxygen_saturation.write",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.read",
                                "https://www.googleapis.com/auth/fitness.reproductive_health.write"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "fitness.users.sessions.update",
                            "parameterOrder": [
                                "userId",
                                "sessionId"
                            ],
                            "parameters": {
                                "currentTimeMillis": {
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "sessionId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{userId}/sessions/{sessionId}",
                            "request": {
                                "$ref": "Session"
                            },
                            "response": {
                                "$ref": "Session"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/fitness.activity.write"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AggregateBucket": {
            "id": "AggregateBucket",
            "properties": {
                "activity": {
                    "format": "int32",
                    "type": "integer"
                },
                "dataset": {
                    "items": {
                        "$ref": "Dataset"
                    },
                    "type": "array"
                },
                "endTimeMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "session": {
                    "$ref": "Session"
                },
                "startTimeMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "activitySegment",
                        "activityType",
                        "session",
                        "time",
                        "unknown"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AggregateBy": {
            "id": "AggregateBy",
            "properties": {
                "dataSourceId": {
                    "type": "string"
                },
                "dataTypeName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AggregateRequest": {
            "id": "AggregateRequest",
            "properties": {
                "aggregateBy": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataset.aggregate"
                        ]
                    },
                    "items": {
                        "$ref": "AggregateBy"
                    },
                    "type": "array"
                },
                "bucketByActivitySegment": {
                    "$ref": "BucketByActivity"
                },
                "bucketByActivityType": {
                    "$ref": "BucketByActivity"
                },
                "bucketBySession": {
                    "$ref": "BucketBySession"
                },
                "bucketByTime": {
                    "$ref": "BucketByTime"
                },
                "endTimeMillis": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataset.aggregate"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                },
                "filteredDataQualityStandard": {
                    "items": {
                        "enum": [
                            "dataQualityBloodGlucoseIso151972003",
                            "dataQualityBloodGlucoseIso151972013",
                            "dataQualityBloodPressureAami",
                            "dataQualityBloodPressureBhsAA",
                            "dataQualityBloodPressureBhsAB",
                            "dataQualityBloodPressureBhsBA",
                            "dataQualityBloodPressureBhsBB",
                            "dataQualityBloodPressureEsh2002",
                            "dataQualityBloodPressureEsh2010",
                            "dataQualityUnknown"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "startTimeMillis": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataset.aggregate"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AggregateResponse": {
            "id": "AggregateResponse",
            "properties": {
                "bucket": {
                    "items": {
                        "$ref": "AggregateBucket"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Application": {
            "id": "Application",
            "properties": {
                "detailsUrl": {
                    "type": "string"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update",
                            "fitness.users.sessions.update"
                        ]
                    },
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BucketByActivity": {
            "id": "BucketByActivity",
            "properties": {
                "activityDataSourceId": {
                    "type": "string"
                },
                "minDurationMillis": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BucketBySession": {
            "id": "BucketBySession",
            "properties": {
                "minDurationMillis": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BucketByTime": {
            "id": "BucketByTime",
            "properties": {
                "durationMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "period": {
                    "$ref": "BucketByTimePeriod"
                }
            },
            "type": "object"
        },
        "BucketByTimePeriod": {
            "id": "BucketByTimePeriod",
            "properties": {
                "timeZoneId": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "day",
                        "month",
                        "week"
                    ],
                    "type": "string"
                },
                "value": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DataPoint": {
            "id": "DataPoint",
            "properties": {
                "computationTimeMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "dataTypeName": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.datasets.patch"
                        ]
                    },
                    "type": "string"
                },
                "endTimeNanos": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.datasets.patch"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                },
                "modifiedTimeMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "originDataSourceId": {
                    "type": "string"
                },
                "rawTimestampNanos": {
                    "format": "int64",
                    "type": "string"
                },
                "startTimeNanos": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.datasets.patch"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                },
                "value": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.datasets.patch"
                        ]
                    },
                    "items": {
                        "$ref": "Value"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DataSource": {
            "id": "DataSource",
            "properties": {
                "application": {
                    "$ref": "Application",
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    }
                },
                "dataQualityStandard": {
                    "items": {
                        "enum": [
                            "dataQualityBloodGlucoseIso151972003",
                            "dataQualityBloodGlucoseIso151972013",
                            "dataQualityBloodPressureAami",
                            "dataQualityBloodPressureBhsAA",
                            "dataQualityBloodPressureBhsAB",
                            "dataQualityBloodPressureBhsBA",
                            "dataQualityBloodPressureBhsBB",
                            "dataQualityBloodPressureEsh2002",
                            "dataQualityBloodPressureEsh2010",
                            "dataQualityUnknown"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "dataStreamId": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "type": "string"
                },
                "dataStreamName": {
                    "type": "string"
                },
                "dataType": {
                    "$ref": "DataType",
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    }
                },
                "device": {
                    "$ref": "Device",
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    }
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "enum": [
                        "derived",
                        "raw"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DataType": {
            "id": "DataType",
            "properties": {
                "field": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "items": {
                        "$ref": "DataTypeField"
                    },
                    "type": "array"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DataTypeField": {
            "id": "DataTypeField",
            "properties": {
                "format": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "enum": [
                        "blob",
                        "floatList",
                        "floatPoint",
                        "integer",
                        "integerList",
                        "map",
                        "string"
                    ],
                    "type": "string"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "type": "string"
                },
                "optional": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Dataset": {
            "id": "Dataset",
            "properties": {
                "dataSourceId": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.datasets.patch"
                        ]
                    },
                    "type": "string"
                },
                "maxEndTimeNs": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.datasets.patch"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                },
                "minStartTimeNs": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.datasets.patch"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "point": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.datasets.patch"
                        ]
                    },
                    "items": {
                        "$ref": "DataPoint"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Device": {
            "id": "Device",
            "properties": {
                "manufacturer": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "type": "string"
                },
                "model": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "type": "string"
                },
                "type": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "enum": [
                        "chestStrap",
                        "headMounted",
                        "phone",
                        "scale",
                        "tablet",
                        "unknown",
                        "watch"
                    ],
                    "type": "string"
                },
                "uid": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "type": "string"
                },
                "version": {
                    "annotations": {
                        "required": [
                            "fitness.users.dataSources.create",
                            "fitness.users.dataSources.update"
                        ]
                    },
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDataPointChangesResponse": {
            "id": "ListDataPointChangesResponse",
            "properties": {
                "dataSourceId": {
                    "type": "string"
                },
                "deletedDataPoint": {
                    "items": {
                        "$ref": "DataPoint"
                    },
                    "type": "array"
                },
                "insertedDataPoint": {
                    "items": {
                        "$ref": "DataPoint"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDataSourcesResponse": {
            "id": "ListDataSourcesResponse",
            "properties": {
                "dataSource": {
                    "items": {
                        "$ref": "DataSource"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListSessionsResponse": {
            "id": "ListSessionsResponse",
            "properties": {
                "deletedSession": {
                    "items": {
                        "$ref": "Session"
                    },
                    "type": "array"
                },
                "hasMoreData": {
                    "type": "boolean"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "session": {
                    "items": {
                        "$ref": "Session"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MapValue": {
            "id": "MapValue",
            "properties": {
                "fpVal": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Session": {
            "id": "Session",
            "properties": {
                "activeTimeMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "activityType": {
                    "annotations": {
                        "required": [
                            "fitness.users.sessions.update"
                        ]
                    },
                    "format": "int32",
                    "type": "integer"
                },
                "application": {
                    "$ref": "Application",
                    "annotations": {
                        "required": [
                            "fitness.users.sessions.update"
                        ]
                    }
                },
                "endTimeMillis": {
                    "annotations": {
                        "required": [
                            "fitness.users.sessions.update"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                },
                "id": {
                    "annotations": {
                        "required": [
                            "fitness.users.sessions.update"
                        ]
                    },
                    "type": "string"
                },
                "modifiedTimeMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "fitness.users.sessions.update"
                        ]
                    },
                    "type": "string"
                },
                "startTimeMillis": {
                    "annotations": {
                        "required": [
                            "fitness.users.sessions.update"
                        ]
                    },
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Value": {
            "id": "Value",
            "properties": {
                "fpVal": {
                    "format": "double",
                    "type": "number"
                },
                "intVal": {
                    "format": "int32",
                    "type": "integer"
                },
                "mapVal": {
                    "items": {
                        "$ref": "ValueMapValEntry"
                    },
                    "type": "array"
                },
                "stringVal": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ValueMapValEntry": {
            "id": "ValueMapValEntry",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "$ref": "MapValue"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "fitness/v1/users/",
    "title": "Fitness",
    "version": "v1"
}