{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/drive.appdata": {},
                "https://www.googleapis.com/auth/games": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://games.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Games",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/games/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "games:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://games.mtls.googleapis.com/",
    "name": "games",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "achievementDefinitions": {
            "methods": {
                "list": {
                    "flatPath": "games/v1/achievements",
                    "httpMethod": "GET",
                    "id": "games.achievementDefinitions.list",
                    "parameterOrder": [],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/achievements",
                    "response": {
                        "$ref": "AchievementDefinitionsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "achievements": {
            "methods": {
                "increment": {
                    "flatPath": "games/v1/achievements/{achievementId}/increment",
                    "httpMethod": "POST",
                    "id": "games.achievements.increment",
                    "parameterOrder": [
                        "achievementId",
                        "stepsToIncrement"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "requestId": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "stepsToIncrement": {
                            "format": "int32",
                            "location": "query",
                            "required": true,
                            "type": "integer"
                        }
                    },
                    "path": "games/v1/achievements/{achievementId}/increment",
                    "response": {
                        "$ref": "AchievementIncrementResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "list": {
                    "flatPath": "games/v1/players/{playerId}/achievements",
                    "httpMethod": "GET",
                    "id": "games.achievements.list",
                    "parameterOrder": [
                        "playerId"
                    ],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "playerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "state": {
                            "enum": [
                                "ALL",
                                "HIDDEN",
                                "REVEALED",
                                "UNLOCKED"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/players/{playerId}/achievements",
                    "response": {
                        "$ref": "PlayerAchievementListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "reveal": {
                    "flatPath": "games/v1/achievements/{achievementId}/reveal",
                    "httpMethod": "POST",
                    "id": "games.achievements.reveal",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/achievements/{achievementId}/reveal",
                    "response": {
                        "$ref": "AchievementRevealResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "setStepsAtLeast": {
                    "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
                    "httpMethod": "POST",
                    "id": "games.achievements.setStepsAtLeast",
                    "parameterOrder": [
                        "achievementId",
                        "steps"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "steps": {
                            "format": "int32",
                            "location": "query",
                            "required": true,
                            "type": "integer"
                        }
                    },
                    "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
                    "response": {
                        "$ref": "AchievementSetStepsAtLeastResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "unlock": {
                    "flatPath": "games/v1/achievements/{achievementId}/unlock",
                    "httpMethod": "POST",
                    "id": "games.achievements.unlock",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/achievements/{achievementId}/unlock",
                    "response": {
                        "$ref": "AchievementUnlockResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "updateMultiple": {
                    "flatPath": "games/v1/achievements/updateMultiple",
                    "httpMethod": "POST",
                    "id": "games.achievements.updateMultiple",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1/achievements/updateMultiple",
                    "request": {
                        "$ref": "AchievementUpdateMultipleRequest"
                    },
                    "response": {
                        "$ref": "AchievementUpdateMultipleResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "applications": {
            "methods": {
                "get": {
                    "flatPath": "games/v1/applications/{applicationId}",
                    "httpMethod": "GET",
                    "id": "games.applications.get",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "platformType": {
                            "enum": [
                                "PLATFORM_TYPE_UNSPECIFIED",
                                "ANDROID",
                                "IOS",
                                "WEB_APP"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/applications/{applicationId}",
                    "response": {
                        "$ref": "Application"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "played": {
                    "flatPath": "games/v1/applications/played",
                    "httpMethod": "POST",
                    "id": "games.applications.played",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1/applications/played",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "verify": {
                    "flatPath": "games/v1/applications/{applicationId}/verify",
                    "httpMethod": "GET",
                    "id": "games.applications.verify",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/applications/{applicationId}/verify",
                    "response": {
                        "$ref": "ApplicationVerifyResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "events": {
            "methods": {
                "listByPlayer": {
                    "flatPath": "games/v1/events",
                    "httpMethod": "GET",
                    "id": "games.events.listByPlayer",
                    "parameterOrder": [],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/events",
                    "response": {
                        "$ref": "PlayerEventListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "listDefinitions": {
                    "flatPath": "games/v1/eventDefinitions",
                    "httpMethod": "GET",
                    "id": "games.events.listDefinitions",
                    "parameterOrder": [],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/eventDefinitions",
                    "response": {
                        "$ref": "EventDefinitionListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "record": {
                    "flatPath": "games/v1/events",
                    "httpMethod": "POST",
                    "id": "games.events.record",
                    "parameterOrder": [],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/events",
                    "request": {
                        "$ref": "EventRecordRequest"
                    },
                    "response": {
                        "$ref": "EventUpdateResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "leaderboards": {
            "methods": {
                "get": {
                    "flatPath": "games/v1/leaderboards/{leaderboardId}",
                    "httpMethod": "GET",
                    "id": "games.leaderboards.get",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/leaderboards/{leaderboardId}",
                    "response": {
                        "$ref": "Leaderboard"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "list": {
                    "flatPath": "games/v1/leaderboards",
                    "httpMethod": "GET",
                    "id": "games.leaderboards.list",
                    "parameterOrder": [],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/leaderboards",
                    "response": {
                        "$ref": "LeaderboardListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "metagame": {
            "methods": {
                "getMetagameConfig": {
                    "flatPath": "games/v1/metagameConfig",
                    "httpMethod": "GET",
                    "id": "games.metagame.getMetagameConfig",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1/metagameConfig",
                    "response": {
                        "$ref": "MetagameConfig"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "listCategoriesByPlayer": {
                    "flatPath": "games/v1/players/{playerId}/categories/{collection}",
                    "httpMethod": "GET",
                    "id": "games.metagame.listCategoriesByPlayer",
                    "parameterOrder": [
                        "playerId",
                        "collection"
                    ],
                    "parameters": {
                        "collection": {
                            "enum": [
                                "COLLECTION_UNSPECIFIED",
                                "ALL"
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "playerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/players/{playerId}/categories/{collection}",
                    "response": {
                        "$ref": "CategoryListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "players": {
            "methods": {
                "get": {
                    "flatPath": "games/v1/players/{playerId}",
                    "httpMethod": "GET",
                    "id": "games.players.get",
                    "parameterOrder": [
                        "playerId"
                    ],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "playerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/players/{playerId}",
                    "response": {
                        "$ref": "Player"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "list": {
                    "flatPath": "games/v1/players/me/players/{collection}",
                    "httpMethod": "GET",
                    "id": "games.players.list",
                    "parameterOrder": [
                        "collection"
                    ],
                    "parameters": {
                        "collection": {
                            "enum": [
                                "CONNECTED",
                                "VISIBLE",
                                "FRIENDS_ALL"
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/players/me/players/{collection}",
                    "response": {
                        "$ref": "PlayerListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "revisions": {
            "methods": {
                "check": {
                    "flatPath": "games/v1/revisions/check",
                    "httpMethod": "GET",
                    "id": "games.revisions.check",
                    "parameterOrder": [
                        "clientRevision"
                    ],
                    "parameters": {
                        "clientRevision": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/revisions/check",
                    "response": {
                        "$ref": "RevisionCheckResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "scores": {
            "methods": {
                "get": {
                    "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
                    "httpMethod": "GET",
                    "id": "games.scores.get",
                    "parameterOrder": [
                        "playerId",
                        "leaderboardId",
                        "timeSpan"
                    ],
                    "parameters": {
                        "includeRankType": {
                            "enum": [
                                "INCLUDE_RANK_TYPE_UNSPECIFIED",
                                "ALL",
                                "PUBLIC",
                                "SOCIAL"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "playerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "timeSpan": {
                            "enum": [
                                "SCORE_TIME_SPAN_UNSPECIFIED",
                                "ALL",
                                "ALL_TIME",
                                "WEEKLY",
                                "DAILY"
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
                    "response": {
                        "$ref": "PlayerLeaderboardScoreListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "list": {
                    "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
                    "httpMethod": "GET",
                    "id": "games.scores.list",
                    "parameterOrder": [
                        "leaderboardId",
                        "collection",
                        "timeSpan"
                    ],
                    "parameters": {
                        "collection": {
                            "enum": [
                                "SCORE_COLLECTION_UNSPECIFIED",
                                "PUBLIC",
                                "SOCIAL",
                                "FRIENDS"
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "timeSpan": {
                            "enum": [
                                "SCORE_TIME_SPAN_UNSPECIFIED",
                                "ALL_TIME",
                                "WEEKLY",
                                "DAILY"
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
                    "response": {
                        "$ref": "LeaderboardScores"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "listWindow": {
                    "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
                    "httpMethod": "GET",
                    "id": "games.scores.listWindow",
                    "parameterOrder": [
                        "leaderboardId",
                        "collection",
                        "timeSpan"
                    ],
                    "parameters": {
                        "collection": {
                            "enum": [
                                "SCORE_COLLECTION_UNSPECIFIED",
                                "PUBLIC",
                                "SOCIAL",
                                "FRIENDS"
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "resultsAbove": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "returnTopIfAbsent": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "timeSpan": {
                            "enum": [
                                "SCORE_TIME_SPAN_UNSPECIFIED",
                                "ALL_TIME",
                                "WEEKLY",
                                "DAILY"
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
                    "response": {
                        "$ref": "LeaderboardScores"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "submit": {
                    "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
                    "httpMethod": "POST",
                    "id": "games.scores.submit",
                    "parameterOrder": [
                        "leaderboardId",
                        "score"
                    ],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "score": {
                            "format": "int64",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "scoreTag": {
                            "location": "query",
                            "pattern": "[a-zA-Z0-9-._~]{0,64}",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/leaderboards/{leaderboardId}/scores",
                    "response": {
                        "$ref": "PlayerScoreResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "submitMultiple": {
                    "flatPath": "games/v1/leaderboards/scores",
                    "httpMethod": "POST",
                    "id": "games.scores.submitMultiple",
                    "parameterOrder": [],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1/leaderboards/scores",
                    "request": {
                        "$ref": "PlayerScoreSubmissionList"
                    },
                    "response": {
                        "$ref": "PlayerScoreListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "snapshots": {
            "methods": {
                "get": {
                    "flatPath": "games/v1/snapshots/{snapshotId}",
                    "httpMethod": "GET",
                    "id": "games.snapshots.get",
                    "parameterOrder": [
                        "snapshotId"
                    ],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "snapshotId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/snapshots/{snapshotId}",
                    "response": {
                        "$ref": "Snapshot"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "list": {
                    "flatPath": "games/v1/players/{playerId}/snapshots",
                    "httpMethod": "GET",
                    "id": "games.snapshots.list",
                    "parameterOrder": [
                        "playerId"
                    ],
                    "parameters": {
                        "language": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "playerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1/players/{playerId}/snapshots",
                    "response": {
                        "$ref": "SnapshotListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "stats": {
            "methods": {
                "get": {
                    "flatPath": "games/v1/stats",
                    "httpMethod": "GET",
                    "id": "games.stats.get",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1/stats",
                    "response": {
                        "$ref": "StatsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://games.googleapis.com/",
    "schemas": {
        "AchievementDefinition": {
            "id": "AchievementDefinition",
            "properties": {
                "achievementType": {
                    "enum": [
                        "ACHIEVEMENT_TYPE_UNSPECIFIED",
                        "STANDARD",
                        "INCREMENTAL"
                    ],
                    "type": "string"
                },
                "experiencePoints": {
                    "format": "int64",
                    "type": "string"
                },
                "formattedTotalSteps": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "initialState": {
                    "enum": [
                        "INITIAL_ACHIEVEMENT_STATE_UNSPECIFIED",
                        "HIDDEN",
                        "REVEALED",
                        "UNLOCKED"
                    ],
                    "type": "string"
                },
                "isRevealedIconUrlDefault": {
                    "type": "boolean"
                },
                "isUnlockedIconUrlDefault": {
                    "type": "boolean"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "revealedIconUrl": {
                    "type": "string"
                },
                "totalSteps": {
                    "format": "int32",
                    "type": "integer"
                },
                "unlockedIconUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AchievementDefinitionsListResponse": {
            "id": "AchievementDefinitionsListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "AchievementDefinition"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AchievementIncrementResponse": {
            "id": "AchievementIncrementResponse",
            "properties": {
                "currentSteps": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "type": "string"
                },
                "newlyUnlocked": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AchievementRevealResponse": {
            "id": "AchievementRevealResponse",
            "properties": {
                "currentState": {
                    "enum": [
                        "REVEAL_ACHIEVEMENT_STATE_UNSPECIFIED",
                        "REVEALED",
                        "UNLOCKED"
                    ],
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AchievementSetStepsAtLeastResponse": {
            "id": "AchievementSetStepsAtLeastResponse",
            "properties": {
                "currentSteps": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "type": "string"
                },
                "newlyUnlocked": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AchievementUnlockResponse": {
            "id": "AchievementUnlockResponse",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "newlyUnlocked": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AchievementUpdateMultipleRequest": {
            "id": "AchievementUpdateMultipleRequest",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "updates": {
                    "items": {
                        "$ref": "AchievementUpdateRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AchievementUpdateMultipleResponse": {
            "id": "AchievementUpdateMultipleResponse",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "updatedAchievements": {
                    "items": {
                        "$ref": "AchievementUpdateResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AchievementUpdateRequest": {
            "id": "AchievementUpdateRequest",
            "properties": {
                "achievementId": {
                    "type": "string"
                },
                "incrementPayload": {
                    "$ref": "GamesAchievementIncrement"
                },
                "kind": {
                    "type": "string"
                },
                "setStepsAtLeastPayload": {
                    "$ref": "GamesAchievementSetStepsAtLeast"
                },
                "updateType": {
                    "enum": [
                        "ACHIEVEMENT_UPDATE_TYPE_UNSPECIFIED",
                        "REVEAL",
                        "UNLOCK",
                        "INCREMENT",
                        "SET_STEPS_AT_LEAST"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AchievementUpdateResponse": {
            "id": "AchievementUpdateResponse",
            "properties": {
                "achievementId": {
                    "type": "string"
                },
                "currentState": {
                    "enum": [
                        "UPDATED_ACHIEVEMENT_STATE_UNSPECIFIED",
                        "HIDDEN",
                        "REVEALED",
                        "UNLOCKED"
                    ],
                    "type": "string"
                },
                "currentSteps": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "type": "string"
                },
                "newlyUnlocked": {
                    "type": "boolean"
                },
                "updateOccurred": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Application": {
            "id": "Application",
            "properties": {
                "achievement_count": {
                    "format": "int32",
                    "type": "integer"
                },
                "assets": {
                    "items": {
                        "$ref": "ImageAsset"
                    },
                    "type": "array"
                },
                "author": {
                    "type": "string"
                },
                "category": {
                    "$ref": "ApplicationCategory"
                },
                "enabledFeatures": {
                    "items": {
                        "enum": [
                            "APPLICATION_FEATURE_UNSPECIFIED",
                            "SNAPSHOTS"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                },
                "instances": {
                    "items": {
                        "$ref": "Instance"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "lastUpdatedTimestamp": {
                    "format": "int64",
                    "type": "string"
                },
                "leaderboard_count": {
                    "format": "int32",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "themeColor": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationCategory": {
            "id": "ApplicationCategory",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "primary": {
                    "type": "string"
                },
                "secondary": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationVerifyResponse": {
            "id": "ApplicationVerifyResponse",
            "properties": {
                "alternate_player_id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "player_id": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Category": {
            "id": "Category",
            "properties": {
                "category": {
                    "type": "string"
                },
                "experiencePoints": {
                    "format": "int64",
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CategoryListResponse": {
            "id": "CategoryListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Category"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventBatchRecordFailure": {
            "id": "EventBatchRecordFailure",
            "properties": {
                "failureCause": {
                    "enum": [
                        "EVENT_FAILURE_CAUSE_UNSPECIFIED",
                        "TOO_LARGE",
                        "TIME_PERIOD_EXPIRED",
                        "TIME_PERIOD_SHORT",
                        "TIME_PERIOD_LONG",
                        "ALREADY_UPDATED",
                        "RECORD_RATE_HIGH"
                    ],
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "range": {
                    "$ref": "EventPeriodRange"
                }
            },
            "type": "object"
        },
        "EventChild": {
            "id": "EventChild",
            "properties": {
                "childId": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventDefinition": {
            "id": "EventDefinition",
            "properties": {
                "childEvents": {
                    "items": {
                        "$ref": "EventChild"
                    },
                    "type": "array"
                },
                "displayName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "imageUrl": {
                    "type": "string"
                },
                "isDefaultImageUrl": {
                    "type": "boolean"
                },
                "kind": {
                    "type": "string"
                },
                "visibility": {
                    "enum": [
                        "EVENT_VISIBILITY_UNSPECIFIED",
                        "REVEALED",
                        "HIDDEN"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventDefinitionListResponse": {
            "id": "EventDefinitionListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "EventDefinition"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventPeriodRange": {
            "id": "EventPeriodRange",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "periodEndMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "periodStartMillis": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventPeriodUpdate": {
            "id": "EventPeriodUpdate",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "timePeriod": {
                    "$ref": "EventPeriodRange"
                },
                "updates": {
                    "items": {
                        "$ref": "EventUpdateRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EventRecordFailure": {
            "id": "EventRecordFailure",
            "properties": {
                "eventId": {
                    "type": "string"
                },
                "failureCause": {
                    "enum": [
                        "EVENT_UPDATE_FAILURE_CAUSE_UNSPECIFIED",
                        "NOT_FOUND",
                        "INVALID_UPDATE_VALUE"
                    ],
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventRecordRequest": {
            "id": "EventRecordRequest",
            "properties": {
                "currentTimeMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "requestId": {
                    "format": "int64",
                    "type": "string"
                },
                "timePeriods": {
                    "items": {
                        "$ref": "EventPeriodUpdate"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EventUpdateRequest": {
            "id": "EventUpdateRequest",
            "properties": {
                "definitionId": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "updateCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EventUpdateResponse": {
            "id": "EventUpdateResponse",
            "properties": {
                "batchFailures": {
                    "items": {
                        "$ref": "EventBatchRecordFailure"
                    },
                    "type": "array"
                },
                "eventFailures": {
                    "items": {
                        "$ref": "EventRecordFailure"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "playerEvents": {
                    "items": {
                        "$ref": "PlayerEvent"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GamesAchievementIncrement": {
            "id": "GamesAchievementIncrement",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "requestId": {
                    "format": "int64",
                    "type": "string"
                },
                "steps": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GamesAchievementSetStepsAtLeast": {
            "id": "GamesAchievementSetStepsAtLeast",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "steps": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ImageAsset": {
            "id": "ImageAsset",
            "properties": {
                "height": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "width": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Instance": {
            "id": "Instance",
            "properties": {
                "acquisitionUri": {
                    "type": "string"
                },
                "androidInstance": {
                    "$ref": "InstanceAndroidDetails"
                },
                "iosInstance": {
                    "$ref": "InstanceIosDetails"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "platformType": {
                    "enum": [
                        "PLATFORM_TYPE_UNSPECIFIED",
                        "ANDROID",
                        "IOS",
                        "WEB_APP"
                    ],
                    "type": "string"
                },
                "realtimePlay": {
                    "type": "boolean"
                },
                "turnBasedPlay": {
                    "type": "boolean"
                },
                "webInstance": {
                    "$ref": "InstanceWebDetails"
                }
            },
            "type": "object"
        },
        "InstanceAndroidDetails": {
            "id": "InstanceAndroidDetails",
            "properties": {
                "enablePiracyCheck": {
                    "type": "boolean"
                },
                "kind": {
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "preferred": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "InstanceIosDetails": {
            "id": "InstanceIosDetails",
            "properties": {
                "bundleIdentifier": {
                    "type": "string"
                },
                "itunesAppId": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "preferredForIpad": {
                    "type": "boolean"
                },
                "preferredForIphone": {
                    "type": "boolean"
                },
                "supportIpad": {
                    "type": "boolean"
                },
                "supportIphone": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "InstanceWebDetails": {
            "id": "InstanceWebDetails",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "launchUrl": {
                    "type": "string"
                },
                "preferred": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Leaderboard": {
            "id": "Leaderboard",
            "properties": {
                "iconUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "isIconUrlDefault": {
                    "type": "boolean"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "order": {
                    "enum": [
                        "SCORE_ORDER_UNSPECIFIED",
                        "LARGER_IS_BETTER",
                        "SMALLER_IS_BETTER"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaderboardEntry": {
            "id": "LeaderboardEntry",
            "properties": {
                "formattedScore": {
                    "type": "string"
                },
                "formattedScoreRank": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "player": {
                    "$ref": "Player"
                },
                "scoreRank": {
                    "format": "int64",
                    "type": "string"
                },
                "scoreTag": {
                    "type": "string"
                },
                "scoreValue": {
                    "format": "int64",
                    "type": "string"
                },
                "timeSpan": {
                    "enum": [
                        "SCORE_TIME_SPAN_UNSPECIFIED",
                        "ALL_TIME",
                        "WEEKLY",
                        "DAILY"
                    ],
                    "type": "string"
                },
                "writeTimestampMillis": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaderboardListResponse": {
            "id": "LeaderboardListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Leaderboard"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaderboardScoreRank": {
            "id": "LeaderboardScoreRank",
            "properties": {
                "formattedNumScores": {
                    "type": "string"
                },
                "formattedRank": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "numScores": {
                    "format": "int64",
                    "type": "string"
                },
                "rank": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaderboardScores": {
            "id": "LeaderboardScores",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "LeaderboardEntry"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "numScores": {
                    "format": "int64",
                    "type": "string"
                },
                "playerScore": {
                    "$ref": "LeaderboardEntry"
                },
                "prevPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetagameConfig": {
            "id": "MetagameConfig",
            "properties": {
                "currentVersion": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "type": "string"
                },
                "playerLevels": {
                    "items": {
                        "$ref": "PlayerLevel"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Player": {
            "id": "Player",
            "properties": {
                "avatarImageUrl": {
                    "type": "string"
                },
                "bannerUrlLandscape": {
                    "type": "string"
                },
                "bannerUrlPortrait": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "experienceInfo": {
                    "$ref": "PlayerExperienceInfo"
                },
                "friendStatus": {
                    "enum": [
                        "FRIEND_STATUS_UNSPECIFIED",
                        "NO_RELATIONSHIP",
                        "FRIEND"
                    ],
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "properties": {
                        "familyName": {
                            "type": "string"
                        },
                        "givenName": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "originalPlayerId": {
                    "type": "string"
                },
                "playerId": {
                    "type": "string"
                },
                "profileSettings": {
                    "$ref": "ProfileSettings"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerAchievement": {
            "id": "PlayerAchievement",
            "properties": {
                "achievementState": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "HIDDEN",
                        "REVEALED",
                        "UNLOCKED"
                    ],
                    "type": "string"
                },
                "currentSteps": {
                    "format": "int32",
                    "type": "integer"
                },
                "experiencePoints": {
                    "format": "int64",
                    "type": "string"
                },
                "formattedCurrentStepsString": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "lastUpdatedTimestamp": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerAchievementListResponse": {
            "id": "PlayerAchievementListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "PlayerAchievement"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerEvent": {
            "id": "PlayerEvent",
            "properties": {
                "definitionId": {
                    "type": "string"
                },
                "formattedNumEvents": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "numEvents": {
                    "format": "int64",
                    "type": "string"
                },
                "playerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerEventListResponse": {
            "id": "PlayerEventListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "PlayerEvent"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerExperienceInfo": {
            "id": "PlayerExperienceInfo",
            "properties": {
                "currentExperiencePoints": {
                    "format": "int64",
                    "type": "string"
                },
                "currentLevel": {
                    "$ref": "PlayerLevel"
                },
                "kind": {
                    "type": "string"
                },
                "lastLevelUpTimestampMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "nextLevel": {
                    "$ref": "PlayerLevel"
                }
            },
            "type": "object"
        },
        "PlayerLeaderboardScore": {
            "id": "PlayerLeaderboardScore",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "leaderboard_id": {
                    "type": "string"
                },
                "publicRank": {
                    "$ref": "LeaderboardScoreRank"
                },
                "scoreString": {
                    "type": "string"
                },
                "scoreTag": {
                    "type": "string"
                },
                "scoreValue": {
                    "format": "int64",
                    "type": "string"
                },
                "socialRank": {
                    "$ref": "LeaderboardScoreRank"
                },
                "timeSpan": {
                    "enum": [
                        "SCORE_TIME_SPAN_UNSPECIFIED",
                        "ALL_TIME",
                        "WEEKLY",
                        "DAILY"
                    ],
                    "type": "string"
                },
                "writeTimestamp": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerLeaderboardScoreListResponse": {
            "id": "PlayerLeaderboardScoreListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "PlayerLeaderboardScore"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "player": {
                    "$ref": "Player"
                }
            },
            "type": "object"
        },
        "PlayerLevel": {
            "id": "PlayerLevel",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "level": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxExperiencePoints": {
                    "format": "int64",
                    "type": "string"
                },
                "minExperiencePoints": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerListResponse": {
            "id": "PlayerListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Player"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerScore": {
            "id": "PlayerScore",
            "properties": {
                "formattedScore": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "score": {
                    "format": "int64",
                    "type": "string"
                },
                "scoreTag": {
                    "type": "string"
                },
                "timeSpan": {
                    "enum": [
                        "SCORE_TIME_SPAN_UNSPECIFIED",
                        "ALL_TIME",
                        "WEEKLY",
                        "DAILY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerScoreListResponse": {
            "id": "PlayerScoreListResponse",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "submittedScores": {
                    "items": {
                        "$ref": "PlayerScoreResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PlayerScoreResponse": {
            "id": "PlayerScoreResponse",
            "properties": {
                "beatenScoreTimeSpans": {
                    "items": {
                        "enum": [
                            "SCORE_TIME_SPAN_UNSPECIFIED",
                            "ALL_TIME",
                            "WEEKLY",
                            "DAILY"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "formattedScore": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "leaderboardId": {
                    "type": "string"
                },
                "scoreTag": {
                    "type": "string"
                },
                "unbeatenScores": {
                    "items": {
                        "$ref": "PlayerScore"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PlayerScoreSubmissionList": {
            "id": "PlayerScoreSubmissionList",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "scores": {
                    "items": {
                        "$ref": "ScoreSubmission"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ProfileSettings": {
            "id": "ProfileSettings",
            "properties": {
                "friendsListVisibility": {
                    "enum": [
                        "FRIENDS_LIST_VISIBILITY_UNSPECIFIED",
                        "VISIBLE",
                        "REQUEST_REQUIRED",
                        "UNAVAILABLE"
                    ],
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "profileVisible": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "RevisionCheckResponse": {
            "id": "RevisionCheckResponse",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "revisionStatus": {
                    "enum": [
                        "REVISION_STATUS_UNSPECIFIED",
                        "OK",
                        "DEPRECATED",
                        "INVALID"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ScoreSubmission": {
            "id": "ScoreSubmission",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "leaderboardId": {
                    "type": "string"
                },
                "score": {
                    "format": "int64",
                    "type": "string"
                },
                "scoreTag": {
                    "type": "string"
                },
                "signature": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Snapshot": {
            "id": "Snapshot",
            "properties": {
                "coverImage": {
                    "$ref": "SnapshotImage"
                },
                "driveId": {
                    "type": "string"
                },
                "durationMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "lastModifiedMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "progressValue": {
                    "format": "int64",
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "SNAPSHOT_TYPE_UNSPECIFIED",
                        "SAVE_GAME"
                    ],
                    "type": "string"
                },
                "uniqueName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SnapshotImage": {
            "id": "SnapshotImage",
            "properties": {
                "height": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "type": "string"
                },
                "mime_type": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "width": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SnapshotListResponse": {
            "id": "SnapshotListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Snapshot"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StatsResponse": {
            "id": "StatsResponse",
            "properties": {
                "avg_session_length_minutes": {
                    "format": "float",
                    "type": "number"
                },
                "churn_probability": {
                    "format": "float",
                    "type": "number"
                },
                "days_since_last_played": {
                    "format": "int32",
                    "type": "integer"
                },
                "high_spender_probability": {
                    "format": "float",
                    "type": "number"
                },
                "kind": {
                    "type": "string"
                },
                "num_purchases": {
                    "format": "int32",
                    "type": "integer"
                },
                "num_sessions": {
                    "format": "int32",
                    "type": "integer"
                },
                "num_sessions_percentile": {
                    "format": "float",
                    "type": "number"
                },
                "spend_percentile": {
                    "format": "float",
                    "type": "number"
                },
                "spend_probability": {
                    "format": "float",
                    "type": "number"
                },
                "total_spend_next_28_days": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Play Game Services",
    "version": "v1"
}