{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/games": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://gamesmanagement.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Games Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/games/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "gamesManagement:v1management",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
    "name": "gamesManagement",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "achievements": {
            "methods": {
                "reset": {
                    "flatPath": "games/v1management/achievements/{achievementId}/reset",
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.reset",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1management/achievements/{achievementId}/reset",
                    "response": {
                        "$ref": "AchievementResetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAll": {
                    "flatPath": "games/v1management/achievements/reset",
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.resetAll",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1management/achievements/reset",
                    "response": {
                        "$ref": "AchievementResetAllResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAllForAllPlayers": {
                    "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.resetAllForAllPlayers",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1management/achievements/resetAllForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetForAllPlayers": {
                    "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.resetForAllPlayers",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetMultipleForAllPlayers": {
                    "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1management/achievements/resetMultipleForAllPlayers",
                    "request": {
                        "$ref": "AchievementResetMultipleForAllRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "applications": {
            "methods": {
                "listHidden": {
                    "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
                    "httpMethod": "GET",
                    "id": "gamesManagement.applications.listHidden",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1management/applications/{applicationId}/players/hidden",
                    "response": {
                        "$ref": "HiddenPlayerList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "events": {
            "methods": {
                "reset": {
                    "flatPath": "games/v1management/events/{eventId}/reset",
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.reset",
                    "parameterOrder": [
                        "eventId"
                    ],
                    "parameters": {
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1management/events/{eventId}/reset",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAll": {
                    "flatPath": "games/v1management/events/reset",
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.resetAll",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1management/events/reset",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAllForAllPlayers": {
                    "flatPath": "games/v1management/events/resetAllForAllPlayers",
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.resetAllForAllPlayers",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1management/events/resetAllForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetForAllPlayers": {
                    "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.resetForAllPlayers",
                    "parameterOrder": [
                        "eventId"
                    ],
                    "parameters": {
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1management/events/{eventId}/resetForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetMultipleForAllPlayers": {
                    "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.resetMultipleForAllPlayers",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1management/events/resetMultipleForAllPlayers",
                    "request": {
                        "$ref": "EventsResetMultipleForAllRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "players": {
            "methods": {
                "hide": {
                    "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
                    "httpMethod": "POST",
                    "id": "gamesManagement.players.hide",
                    "parameterOrder": [
                        "applicationId",
                        "playerId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "playerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "unhide": {
                    "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
                    "httpMethod": "DELETE",
                    "id": "gamesManagement.players.unhide",
                    "parameterOrder": [
                        "applicationId",
                        "playerId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "playerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "scores": {
            "methods": {
                "reset": {
                    "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.reset",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
                    "response": {
                        "$ref": "PlayerScoreResetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAll": {
                    "flatPath": "games/v1management/scores/reset",
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.resetAll",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1management/scores/reset",
                    "response": {
                        "$ref": "PlayerScoreResetAllResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAllForAllPlayers": {
                    "flatPath": "games/v1management/scores/resetAllForAllPlayers",
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.resetAllForAllPlayers",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1management/scores/resetAllForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetForAllPlayers": {
                    "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.resetForAllPlayers",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetMultipleForAllPlayers": {
                    "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.resetMultipleForAllPlayers",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "games/v1management/scores/resetMultipleForAllPlayers",
                    "request": {
                        "$ref": "ScoresResetMultipleForAllRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://gamesmanagement.googleapis.com/",
    "schemas": {
        "AchievementResetAllResponse": {
            "id": "AchievementResetAllResponse",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "results": {
                    "items": {
                        "$ref": "AchievementResetResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AchievementResetMultipleForAllRequest": {
            "id": "AchievementResetMultipleForAllRequest",
            "properties": {
                "achievement_ids": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AchievementResetResponse": {
            "id": "AchievementResetResponse",
            "properties": {
                "currentState": {
                    "type": "string"
                },
                "definitionId": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "updateOccurred": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "EventsResetMultipleForAllRequest": {
            "id": "EventsResetMultipleForAllRequest",
            "properties": {
                "event_ids": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GamesPlayerExperienceInfoResource": {
            "id": "GamesPlayerExperienceInfoResource",
            "properties": {
                "currentExperiencePoints": {
                    "format": "int64",
                    "type": "string"
                },
                "currentLevel": {
                    "$ref": "GamesPlayerLevelResource"
                },
                "lastLevelUpTimestampMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "nextLevel": {
                    "$ref": "GamesPlayerLevelResource"
                }
            },
            "type": "object"
        },
        "GamesPlayerLevelResource": {
            "id": "GamesPlayerLevelResource",
            "properties": {
                "level": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxExperiencePoints": {
                    "format": "int64",
                    "type": "string"
                },
                "minExperiencePoints": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HiddenPlayer": {
            "id": "HiddenPlayer",
            "properties": {
                "hiddenTimeMillis": {
                    "format": "int64",
                    "readOnly": true,
                    "type": "string"
                },
                "kind": {
                    "readOnly": true,
                    "type": "string"
                },
                "player": {
                    "$ref": "Player",
                    "readOnly": true
                }
            },
            "type": "object"
        },
        "HiddenPlayerList": {
            "id": "HiddenPlayerList",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "HiddenPlayer"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Player": {
            "id": "Player",
            "properties": {
                "avatarImageUrl": {
                    "type": "string"
                },
                "bannerUrlLandscape": {
                    "type": "string"
                },
                "bannerUrlPortrait": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "experienceInfo": {
                    "$ref": "GamesPlayerExperienceInfoResource"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "properties": {
                        "familyName": {
                            "type": "string"
                        },
                        "givenName": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "originalPlayerId": {
                    "type": "string"
                },
                "playerId": {
                    "type": "string"
                },
                "profileSettings": {
                    "$ref": "ProfileSettings"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerScoreResetAllResponse": {
            "id": "PlayerScoreResetAllResponse",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "results": {
                    "items": {
                        "$ref": "PlayerScoreResetResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PlayerScoreResetResponse": {
            "id": "PlayerScoreResetResponse",
            "properties": {
                "definitionId": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "resetScoreTimeSpans": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ProfileSettings": {
            "id": "ProfileSettings",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "profileVisible": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ScoresResetMultipleForAllRequest": {
            "id": "ScoresResetMultipleForAllRequest",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "leaderboard_ids": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Play Game Management",
    "version": "v1management"
}