{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidpublisher": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://gamesconfiguration.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Games Configuration",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/games/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "gamesConfiguration:v1configuration",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
    "name": "gamesConfiguration",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "achievementConfigurations": {
            "methods": {
                "delete": {
                    "flatPath": "games/v1configuration/achievements/{achievementId}",
                    "httpMethod": "DELETE",
                    "id": "gamesConfiguration.achievementConfigurations.delete",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/achievements/{achievementId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "get": {
                    "flatPath": "games/v1configuration/achievements/{achievementId}",
                    "httpMethod": "GET",
                    "id": "gamesConfiguration.achievementConfigurations.get",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/achievements/{achievementId}",
                    "response": {
                        "$ref": "AchievementConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "insert": {
                    "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
                    "httpMethod": "POST",
                    "id": "gamesConfiguration.achievementConfigurations.insert",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/applications/{applicationId}/achievements",
                    "request": {
                        "$ref": "AchievementConfiguration"
                    },
                    "response": {
                        "$ref": "AchievementConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "list": {
                    "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
                    "httpMethod": "GET",
                    "id": "gamesConfiguration.achievementConfigurations.list",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/applications/{applicationId}/achievements",
                    "response": {
                        "$ref": "AchievementConfigurationListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "update": {
                    "flatPath": "games/v1configuration/achievements/{achievementId}",
                    "httpMethod": "PUT",
                    "id": "gamesConfiguration.achievementConfigurations.update",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/achievements/{achievementId}",
                    "request": {
                        "$ref": "AchievementConfiguration"
                    },
                    "response": {
                        "$ref": "AchievementConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                }
            }
        },
        "imageConfigurations": {
            "methods": {
                "upload": {
                    "flatPath": "games/v1configuration/images/{resourceId}/imageType/{imageType}",
                    "httpMethod": "POST",
                    "id": "gamesConfiguration.imageConfigurations.upload",
                    "mediaUpload": {
                        "accept": [
                            "image/*"
                        ],
                        "maxSize": "15728640",
                        "protocols": {
                            "simple": {
                                "multipart": true,
                                "path": "/upload/games/v1configuration/images/{resourceId}/imageType/{imageType}"
                            }
                        }
                    },
                    "parameterOrder": [
                        "resourceId",
                        "imageType"
                    ],
                    "parameters": {
                        "imageType": {
                            "enum": [
                                "IMAGE_TYPE_UNSPECIFIED",
                                "ACHIEVEMENT_ICON",
                                "LEADERBOARD_ICON"
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "resourceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/images/{resourceId}/imageType/{imageType}",
                    "response": {
                        "$ref": "ImageConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "supportsMediaUpload": true
                }
            }
        },
        "leaderboardConfigurations": {
            "methods": {
                "delete": {
                    "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
                    "httpMethod": "DELETE",
                    "id": "gamesConfiguration.leaderboardConfigurations.delete",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/leaderboards/{leaderboardId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "get": {
                    "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
                    "httpMethod": "GET",
                    "id": "gamesConfiguration.leaderboardConfigurations.get",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/leaderboards/{leaderboardId}",
                    "response": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "insert": {
                    "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
                    "httpMethod": "POST",
                    "id": "gamesConfiguration.leaderboardConfigurations.insert",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/applications/{applicationId}/leaderboards",
                    "request": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "response": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "list": {
                    "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
                    "httpMethod": "GET",
                    "id": "gamesConfiguration.leaderboardConfigurations.list",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/applications/{applicationId}/leaderboards",
                    "response": {
                        "$ref": "LeaderboardConfigurationListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "update": {
                    "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
                    "httpMethod": "PUT",
                    "id": "gamesConfiguration.leaderboardConfigurations.update",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "games/v1configuration/leaderboards/{leaderboardId}",
                    "request": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "response": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://gamesconfiguration.googleapis.com/",
    "schemas": {
        "AchievementConfiguration": {
            "id": "AchievementConfiguration",
            "properties": {
                "achievementType": {
                    "enum": [
                        "ACHIEVEMENT_TYPE_UNSPECIFIED",
                        "STANDARD",
                        "INCREMENTAL"
                    ],
                    "type": "string"
                },
                "draft": {
                    "$ref": "AchievementConfigurationDetail"
                },
                "id": {
                    "type": "string"
                },
                "initialState": {
                    "enum": [
                        "INITIAL_STATE_UNSPECIFIED",
                        "HIDDEN",
                        "REVEALED"
                    ],
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "published": {
                    "$ref": "AchievementConfigurationDetail"
                },
                "stepsToUnlock": {
                    "format": "int32",
                    "type": "integer"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AchievementConfigurationDetail": {
            "id": "AchievementConfigurationDetail",
            "properties": {
                "iconUrl": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "$ref": "LocalizedStringBundle"
                },
                "pointValue": {
                    "format": "int32",
                    "type": "integer"
                },
                "sortRank": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AchievementConfigurationListResponse": {
            "id": "AchievementConfigurationListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "AchievementConfiguration"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GamesNumberAffixConfiguration": {
            "id": "GamesNumberAffixConfiguration",
            "properties": {
                "few": {
                    "$ref": "LocalizedStringBundle"
                },
                "many": {
                    "$ref": "LocalizedStringBundle"
                },
                "one": {
                    "$ref": "LocalizedStringBundle"
                },
                "other": {
                    "$ref": "LocalizedStringBundle"
                },
                "two": {
                    "$ref": "LocalizedStringBundle"
                },
                "zero": {
                    "$ref": "LocalizedStringBundle"
                }
            },
            "type": "object"
        },
        "GamesNumberFormatConfiguration": {
            "id": "GamesNumberFormatConfiguration",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "numDecimalPlaces": {
                    "format": "int32",
                    "type": "integer"
                },
                "numberFormatType": {
                    "enum": [
                        "NUMBER_FORMAT_TYPE_UNSPECIFIED",
                        "NUMERIC",
                        "TIME_DURATION",
                        "CURRENCY"
                    ],
                    "type": "string"
                },
                "suffix": {
                    "$ref": "GamesNumberAffixConfiguration"
                }
            },
            "type": "object"
        },
        "ImageConfiguration": {
            "id": "ImageConfiguration",
            "properties": {
                "imageType": {
                    "enum": [
                        "IMAGE_TYPE_UNSPECIFIED",
                        "ACHIEVEMENT_ICON",
                        "LEADERBOARD_ICON"
                    ],
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "resourceId": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaderboardConfiguration": {
            "id": "LeaderboardConfiguration",
            "properties": {
                "draft": {
                    "$ref": "LeaderboardConfigurationDetail"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "published": {
                    "$ref": "LeaderboardConfigurationDetail"
                },
                "scoreMax": {
                    "format": "int64",
                    "type": "string"
                },
                "scoreMin": {
                    "format": "int64",
                    "type": "string"
                },
                "scoreOrder": {
                    "enum": [
                        "SCORE_ORDER_UNSPECIFIED",
                        "LARGER_IS_BETTER",
                        "SMALLER_IS_BETTER"
                    ],
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaderboardConfigurationDetail": {
            "id": "LeaderboardConfigurationDetail",
            "properties": {
                "iconUrl": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "$ref": "LocalizedStringBundle"
                },
                "scoreFormat": {
                    "$ref": "GamesNumberFormatConfiguration"
                },
                "sortRank": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "LeaderboardConfigurationListResponse": {
            "id": "LeaderboardConfigurationListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocalizedString": {
            "id": "LocalizedString",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocalizedStringBundle": {
            "id": "LocalizedStringBundle",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "translations": {
                    "items": {
                        "$ref": "LocalizedString"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Play Game Services Publishing API",
    "version": "v1configuration"
}