{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidpublisher": {}
            }
        }
    },
    "basePath": "/games/v1configuration/",
    "baseUrl": "https://www.googleapis.com/games/v1configuration/",
    "batchPath": "batch/gamesConfiguration/v1configuration",
    "canonicalName": "Games Configuration",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/games/services",
    "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/z4K0BqGgF2nc5_SbHhyzPSFJuIU\"",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "gamesConfiguration:v1configuration",
    "kind": "discovery#restDescription",
    "name": "gamesConfiguration",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "achievementConfigurations": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "gamesConfiguration.achievementConfigurations.delete",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "achievements/{achievementId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "gamesConfiguration.achievementConfigurations.get",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "achievements/{achievementId}",
                    "response": {
                        "$ref": "AchievementConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "gamesConfiguration.achievementConfigurations.insert",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "applications/{applicationId}/achievements",
                    "request": {
                        "$ref": "AchievementConfiguration"
                    },
                    "response": {
                        "$ref": "AchievementConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "gamesConfiguration.achievementConfigurations.list",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "200",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "applications/{applicationId}/achievements",
                    "response": {
                        "$ref": "AchievementConfigurationListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "gamesConfiguration.achievementConfigurations.patch",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "achievements/{achievementId}",
                    "request": {
                        "$ref": "AchievementConfiguration"
                    },
                    "response": {
                        "$ref": "AchievementConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "gamesConfiguration.achievementConfigurations.update",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "achievements/{achievementId}",
                    "request": {
                        "$ref": "AchievementConfiguration"
                    },
                    "response": {
                        "$ref": "AchievementConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                }
            }
        },
        "imageConfigurations": {
            "methods": {
                "upload": {
                    "httpMethod": "POST",
                    "id": "gamesConfiguration.imageConfigurations.upload",
                    "mediaUpload": {
                        "accept": [
                            "image/*"
                        ],
                        "maxSize": "15MB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/games/v1configuration/images/{resourceId}/imageType/{imageType}"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/games/v1configuration/images/{resourceId}/imageType/{imageType}"
                            }
                        }
                    },
                    "parameterOrder": [
                        "resourceId",
                        "imageType"
                    ],
                    "parameters": {
                        "imageType": {
                            "enum": [
                                "ACHIEVEMENT_ICON",
                                "LEADERBOARD_ICON"
                            ],
                            "enumDescriptions": [
                                "The icon image for an achievement resource.",
                                "The icon image for a leaderboard resource."
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "resourceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "images/{resourceId}/imageType/{imageType}",
                    "response": {
                        "$ref": "ImageConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ],
                    "supportsMediaUpload": true
                }
            }
        },
        "leaderboardConfigurations": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "gamesConfiguration.leaderboardConfigurations.delete",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "leaderboards/{leaderboardId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "gamesConfiguration.leaderboardConfigurations.get",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "leaderboards/{leaderboardId}",
                    "response": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "gamesConfiguration.leaderboardConfigurations.insert",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "applications/{applicationId}/leaderboards",
                    "request": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "response": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "gamesConfiguration.leaderboardConfigurations.list",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "200",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "applications/{applicationId}/leaderboards",
                    "response": {
                        "$ref": "LeaderboardConfigurationListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "gamesConfiguration.leaderboardConfigurations.patch",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "leaderboards/{leaderboardId}",
                    "request": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "response": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "gamesConfiguration.leaderboardConfigurations.update",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "leaderboards/{leaderboardId}",
                    "request": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "response": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AchievementConfiguration": {
            "id": "AchievementConfiguration",
            "properties": {
                "achievementType": {
                    "type": "string"
                },
                "draft": {
                    "$ref": "AchievementConfigurationDetail"
                },
                "id": {
                    "type": "string"
                },
                "initialState": {
                    "type": "string"
                },
                "kind": {
                    "default": "gamesConfiguration#achievementConfiguration",
                    "type": "string"
                },
                "published": {
                    "$ref": "AchievementConfigurationDetail"
                },
                "stepsToUnlock": {
                    "format": "int32",
                    "type": "integer"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AchievementConfigurationDetail": {
            "id": "AchievementConfigurationDetail",
            "properties": {
                "iconUrl": {
                    "type": "string"
                },
                "kind": {
                    "default": "gamesConfiguration#achievementConfigurationDetail",
                    "type": "string"
                },
                "name": {
                    "$ref": "LocalizedStringBundle"
                },
                "pointValue": {
                    "format": "int32",
                    "type": "integer"
                },
                "sortRank": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AchievementConfigurationListResponse": {
            "id": "AchievementConfigurationListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "AchievementConfiguration"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "gamesConfiguration#achievementConfigurationListResponse",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GamesNumberAffixConfiguration": {
            "id": "GamesNumberAffixConfiguration",
            "properties": {
                "few": {
                    "$ref": "LocalizedStringBundle"
                },
                "many": {
                    "$ref": "LocalizedStringBundle"
                },
                "one": {
                    "$ref": "LocalizedStringBundle"
                },
                "other": {
                    "$ref": "LocalizedStringBundle"
                },
                "two": {
                    "$ref": "LocalizedStringBundle"
                },
                "zero": {
                    "$ref": "LocalizedStringBundle"
                }
            },
            "type": "object"
        },
        "GamesNumberFormatConfiguration": {
            "id": "GamesNumberFormatConfiguration",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "numDecimalPlaces": {
                    "format": "int32",
                    "type": "integer"
                },
                "numberFormatType": {
                    "type": "string"
                },
                "suffix": {
                    "$ref": "GamesNumberAffixConfiguration"
                }
            },
            "type": "object"
        },
        "ImageConfiguration": {
            "id": "ImageConfiguration",
            "properties": {
                "imageType": {
                    "type": "string"
                },
                "kind": {
                    "default": "gamesConfiguration#imageConfiguration",
                    "type": "string"
                },
                "resourceId": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaderboardConfiguration": {
            "id": "LeaderboardConfiguration",
            "properties": {
                "draft": {
                    "$ref": "LeaderboardConfigurationDetail"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "gamesConfiguration#leaderboardConfiguration",
                    "type": "string"
                },
                "published": {
                    "$ref": "LeaderboardConfigurationDetail"
                },
                "scoreMax": {
                    "format": "int64",
                    "type": "string"
                },
                "scoreMin": {
                    "format": "int64",
                    "type": "string"
                },
                "scoreOrder": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaderboardConfigurationDetail": {
            "id": "LeaderboardConfigurationDetail",
            "properties": {
                "iconUrl": {
                    "type": "string"
                },
                "kind": {
                    "default": "gamesConfiguration#leaderboardConfigurationDetail",
                    "type": "string"
                },
                "name": {
                    "$ref": "LocalizedStringBundle"
                },
                "scoreFormat": {
                    "$ref": "GamesNumberFormatConfiguration"
                },
                "sortRank": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "LeaderboardConfigurationListResponse": {
            "id": "LeaderboardConfigurationListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "LeaderboardConfiguration"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "gamesConfiguration#leaderboardConfigurationListResponse",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocalizedString": {
            "id": "LocalizedString",
            "properties": {
                "kind": {
                    "default": "gamesConfiguration#localizedString",
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocalizedStringBundle": {
            "id": "LocalizedStringBundle",
            "properties": {
                "kind": {
                    "default": "gamesConfiguration#localizedStringBundle",
                    "type": "string"
                },
                "translations": {
                    "items": {
                        "$ref": "LocalizedString"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "games/v1configuration/",
    "title": "Google Play Game Services Publishing API",
    "version": "v1configuration"
}