{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://gameservices.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Game Services",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/solutions/gaming/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "gameservices:v1beta",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://gameservices.mtls.googleapis.com/",
    "name": "gameservices",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "gameservices.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "gameservices.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeUnrevealedLocations": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "gameServerDeployments": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                                    "httpMethod": "POST",
                                    "id": "gameservices.projects.locations.gameServerDeployments.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "deploymentId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+parent}/gameServerDeployments",
                                    "request": {
                                        "$ref": "GameServerDeployment"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                                    "httpMethod": "DELETE",
                                    "id": "gameservices.projects.locations.gameServerDeployments.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "fetchDeploymentState": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:fetchDeploymentState",
                                    "httpMethod": "POST",
                                    "id": "gameservices.projects.locations.gameServerDeployments.fetchDeploymentState",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}:fetchDeploymentState",
                                    "request": {
                                        "$ref": "FetchDeploymentStateRequest"
                                    },
                                    "response": {
                                        "$ref": "FetchDeploymentStateResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                                    "httpMethod": "GET",
                                    "id": "gameservices.projects.locations.gameServerDeployments.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}",
                                    "response": {
                                        "$ref": "GameServerDeployment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:getIamPolicy",
                                    "httpMethod": "GET",
                                    "id": "gameservices.projects.locations.gameServerDeployments.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "options.requestedPolicyVersion": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+resource}:getIamPolicy",
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getRollout": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                                    "httpMethod": "GET",
                                    "id": "gameservices.projects.locations.gameServerDeployments.getRollout",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}/rollout",
                                    "response": {
                                        "$ref": "GameServerDeploymentRollout"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                                    "httpMethod": "GET",
                                    "id": "gameservices.projects.locations.gameServerDeployments.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+parent}/gameServerDeployments",
                                    "response": {
                                        "$ref": "ListGameServerDeploymentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                                    "httpMethod": "PATCH",
                                    "id": "gameservices.projects.locations.gameServerDeployments.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}",
                                    "request": {
                                        "$ref": "GameServerDeployment"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "previewRollout": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout:preview",
                                    "httpMethod": "PATCH",
                                    "id": "gameservices.projects.locations.gameServerDeployments.previewRollout",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "previewTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}/rollout:preview",
                                    "request": {
                                        "$ref": "GameServerDeploymentRollout"
                                    },
                                    "response": {
                                        "$ref": "PreviewGameServerDeploymentRolloutResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "gameservices.projects.locations.gameServerDeployments.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "gameservices.projects.locations.gameServerDeployments.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "updateRollout": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                                    "httpMethod": "PATCH",
                                    "id": "gameservices.projects.locations.gameServerDeployments.updateRollout",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}/rollout",
                                    "request": {
                                        "$ref": "GameServerDeploymentRollout"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "configs": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                                            "httpMethod": "POST",
                                            "id": "gameservices.projects.locations.gameServerDeployments.configs.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "configId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+parent}/configs",
                                            "request": {
                                                "$ref": "GameServerConfig"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                                            "httpMethod": "DELETE",
                                            "id": "gameservices.projects.locations.gameServerDeployments.configs.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                                            "httpMethod": "GET",
                                            "id": "gameservices.projects.locations.gameServerDeployments.configs.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+name}",
                                            "response": {
                                                "$ref": "GameServerConfig"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                                            "httpMethod": "GET",
                                            "id": "gameservices.projects.locations.gameServerDeployments.configs.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "orderBy": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+parent}/configs",
                                            "response": {
                                                "$ref": "ListGameServerConfigsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "gameservices.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}:cancel",
                                    "request": {
                                        "$ref": "CancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "gameservices.projects.locations.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "gameservices.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "gameservices.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "realms": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms",
                                    "httpMethod": "POST",
                                    "id": "gameservices.projects.locations.realms.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "realmId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+parent}/realms",
                                    "request": {
                                        "$ref": "Realm"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                                    "httpMethod": "DELETE",
                                    "id": "gameservices.projects.locations.realms.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                                    "httpMethod": "GET",
                                    "id": "gameservices.projects.locations.realms.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}",
                                    "response": {
                                        "$ref": "Realm"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms",
                                    "httpMethod": "GET",
                                    "id": "gameservices.projects.locations.realms.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+parent}/realms",
                                    "response": {
                                        "$ref": "ListRealmsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                                    "httpMethod": "PATCH",
                                    "id": "gameservices.projects.locations.realms.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}",
                                    "request": {
                                        "$ref": "Realm"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "previewUpdate": {
                                    "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}:previewUpdate",
                                    "httpMethod": "PATCH",
                                    "id": "gameservices.projects.locations.realms.previewUpdate",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "previewTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta/{+name}:previewUpdate",
                                    "request": {
                                        "$ref": "Realm"
                                    },
                                    "response": {
                                        "$ref": "PreviewRealmUpdateResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "gameServerClusters": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                                            "httpMethod": "POST",
                                            "id": "gameservices.projects.locations.realms.gameServerClusters.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "gameServerClusterId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+parent}/gameServerClusters",
                                            "request": {
                                                "$ref": "GameServerCluster"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                                            "httpMethod": "DELETE",
                                            "id": "gameservices.projects.locations.realms.gameServerClusters.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                                            "httpMethod": "GET",
                                            "id": "gameservices.projects.locations.realms.gameServerClusters.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+name}",
                                            "response": {
                                                "$ref": "GameServerCluster"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                                            "httpMethod": "GET",
                                            "id": "gameservices.projects.locations.realms.gameServerClusters.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "orderBy": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+parent}/gameServerClusters",
                                            "response": {
                                                "$ref": "ListGameServerClustersResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                                            "httpMethod": "PATCH",
                                            "id": "gameservices.projects.locations.realms.gameServerClusters.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+name}",
                                            "request": {
                                                "$ref": "GameServerCluster"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "previewCreate": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters:previewCreate",
                                            "httpMethod": "POST",
                                            "id": "gameservices.projects.locations.realms.gameServerClusters.previewCreate",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "gameServerClusterId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "previewTime": {
                                                    "format": "google-datetime",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+parent}/gameServerClusters:previewCreate",
                                            "request": {
                                                "$ref": "GameServerCluster"
                                            },
                                            "response": {
                                                "$ref": "PreviewCreateGameServerClusterResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "previewDelete": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewDelete",
                                            "httpMethod": "DELETE",
                                            "id": "gameservices.projects.locations.realms.gameServerClusters.previewDelete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "previewTime": {
                                                    "format": "google-datetime",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+name}:previewDelete",
                                            "response": {
                                                "$ref": "PreviewDeleteGameServerClusterResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "previewUpdate": {
                                            "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewUpdate",
                                            "httpMethod": "PATCH",
                                            "id": "gameservices.projects.locations.realms.gameServerClusters.previewUpdate",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "previewTime": {
                                                    "format": "google-datetime",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta/{+name}:previewUpdate",
                                            "request": {
                                                "$ref": "GameServerCluster"
                                            },
                                            "response": {
                                                "$ref": "PreviewUpdateGameServerClusterResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://gameservices.googleapis.com/",
    "schemas": {
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "ignoreChildExemptions": {
                    "type": "boolean"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuthorizationLoggingOptions": {
            "id": "AuthorizationLoggingOptions",
            "properties": {
                "permissionType": {
                    "enum": [
                        "PERMISSION_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "ADMIN_WRITE",
                        "DATA_READ",
                        "DATA_WRITE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "CloudAuditOptions": {
            "id": "CloudAuditOptions",
            "properties": {
                "authorizationLoggingOptions": {
                    "$ref": "AuthorizationLoggingOptions"
                },
                "logName": {
                    "enum": [
                        "UNSPECIFIED_LOG_NAME",
                        "ADMIN_ACTIVITY",
                        "DATA_ACCESS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Condition": {
            "id": "Condition",
            "properties": {
                "iam": {
                    "enum": [
                        "NO_ATTR",
                        "AUTHORITY",
                        "ATTRIBUTION",
                        "SECURITY_REALM",
                        "APPROVER",
                        "JUSTIFICATION_TYPE",
                        "CREDENTIALS_TYPE"
                    ],
                    "type": "string"
                },
                "op": {
                    "enum": [
                        "NO_OP",
                        "EQUALS",
                        "NOT_EQUALS",
                        "IN",
                        "NOT_IN",
                        "DISCHARGED"
                    ],
                    "type": "string"
                },
                "svc": {
                    "type": "string"
                },
                "sys": {
                    "enum": [
                        "NO_ATTR",
                        "REGION",
                        "SERVICE",
                        "NAME",
                        "IP"
                    ],
                    "type": "string"
                },
                "values": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CounterOptions": {
            "id": "CounterOptions",
            "properties": {
                "customFields": {
                    "items": {
                        "$ref": "CustomField"
                    },
                    "type": "array"
                },
                "field": {
                    "type": "string"
                },
                "metric": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomField": {
            "id": "CustomField",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DataAccessOptions": {
            "id": "DataAccessOptions",
            "properties": {
                "logMode": {
                    "enum": [
                        "LOG_MODE_UNSPECIFIED",
                        "LOG_FAIL_CLOSED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeployedClusterState": {
            "id": "DeployedClusterState",
            "properties": {
                "cluster": {
                    "type": "string"
                },
                "fleetDetails": {
                    "items": {
                        "$ref": "DeployedFleetDetails"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DeployedFleet": {
            "id": "DeployedFleet",
            "properties": {
                "fleet": {
                    "type": "string"
                },
                "fleetSpec": {
                    "type": "string"
                },
                "specSource": {
                    "$ref": "SpecSource"
                },
                "status": {
                    "$ref": "DeployedFleetStatus"
                }
            },
            "type": "object"
        },
        "DeployedFleetAutoscaler": {
            "id": "DeployedFleetAutoscaler",
            "properties": {
                "autoscaler": {
                    "type": "string"
                },
                "fleetAutoscalerSpec": {
                    "type": "string"
                },
                "specSource": {
                    "$ref": "SpecSource"
                }
            },
            "type": "object"
        },
        "DeployedFleetDetails": {
            "id": "DeployedFleetDetails",
            "properties": {
                "deployedAutoscaler": {
                    "$ref": "DeployedFleetAutoscaler"
                },
                "deployedFleet": {
                    "$ref": "DeployedFleet"
                }
            },
            "type": "object"
        },
        "DeployedFleetStatus": {
            "id": "DeployedFleetStatus",
            "properties": {
                "allocatedReplicas": {
                    "format": "int64",
                    "type": "string"
                },
                "readyReplicas": {
                    "format": "int64",
                    "type": "string"
                },
                "replicas": {
                    "format": "int64",
                    "type": "string"
                },
                "reservedReplicas": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FetchDeploymentStateRequest": {
            "id": "FetchDeploymentStateRequest",
            "properties": {},
            "type": "object"
        },
        "FetchDeploymentStateResponse": {
            "id": "FetchDeploymentStateResponse",
            "properties": {
                "clusterState": {
                    "items": {
                        "$ref": "DeployedClusterState"
                    },
                    "type": "array"
                },
                "unavailable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "FleetConfig": {
            "id": "FleetConfig",
            "properties": {
                "fleetSpec": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GameServerCluster": {
            "id": "GameServerCluster",
            "properties": {
                "connectionInfo": {
                    "$ref": "GameServerClusterConnectionInfo"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GameServerClusterConnectionInfo": {
            "id": "GameServerClusterConnectionInfo",
            "properties": {
                "gkeClusterReference": {
                    "$ref": "GkeClusterReference"
                },
                "namespace": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GameServerConfig": {
            "id": "GameServerConfig",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "fleetConfigs": {
                    "items": {
                        "$ref": "FleetConfig"
                    },
                    "type": "array"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "scalingConfigs": {
                    "items": {
                        "$ref": "ScalingConfig"
                    },
                    "type": "array"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GameServerConfigOverride": {
            "id": "GameServerConfigOverride",
            "properties": {
                "configVersion": {
                    "type": "string"
                },
                "realmsSelector": {
                    "$ref": "RealmSelector"
                }
            },
            "type": "object"
        },
        "GameServerDeployment": {
            "id": "GameServerDeployment",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GameServerDeploymentRollout": {
            "id": "GameServerDeploymentRollout",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "defaultGameServerConfig": {
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "gameServerConfigOverrides": {
                    "items": {
                        "$ref": "GameServerConfigOverride"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GkeClusterReference": {
            "id": "GkeClusterReference",
            "properties": {
                "cluster": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LabelSelector": {
            "id": "LabelSelector",
            "properties": {
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ListGameServerClustersResponse": {
            "id": "ListGameServerClustersResponse",
            "properties": {
                "gameServerClusters": {
                    "items": {
                        "$ref": "GameServerCluster"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListGameServerConfigsResponse": {
            "id": "ListGameServerConfigsResponse",
            "properties": {
                "gameServerConfigs": {
                    "items": {
                        "$ref": "GameServerConfig"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListGameServerDeploymentsResponse": {
            "id": "ListGameServerDeploymentsResponse",
            "properties": {
                "gameServerDeployments": {
                    "items": {
                        "$ref": "GameServerDeployment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListRealmsResponse": {
            "id": "ListRealmsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "realms": {
                    "items": {
                        "$ref": "Realm"
                    },
                    "type": "array"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LogConfig": {
            "id": "LogConfig",
            "properties": {
                "cloudAudit": {
                    "$ref": "CloudAuditOptions"
                },
                "counter": {
                    "$ref": "CounterOptions"
                },
                "dataAccess": {
                    "$ref": "DataAccessOptions"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "id": "OperationMetadata",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "operationStatus": {
                    "additionalProperties": {
                        "$ref": "OperationStatus"
                    },
                    "type": "object"
                },
                "requestedCancellation": {
                    "type": "boolean"
                },
                "statusMessage": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "verb": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OperationStatus": {
            "id": "OperationStatus",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "errorCode": {
                    "enum": [
                        "ERROR_CODE_UNSPECIFIED",
                        "INTERNAL_ERROR",
                        "PERMISSION_DENIED",
                        "CLUSTER_CONNECTION"
                    ],
                    "type": "string"
                },
                "errorMessage": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "iamOwned": {
                    "type": "boolean"
                },
                "rules": {
                    "items": {
                        "$ref": "Rule"
                    },
                    "type": "array"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PreviewCreateGameServerClusterResponse": {
            "id": "PreviewCreateGameServerClusterResponse",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "targetState": {
                    "$ref": "TargetState"
                }
            },
            "type": "object"
        },
        "PreviewDeleteGameServerClusterResponse": {
            "id": "PreviewDeleteGameServerClusterResponse",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "targetState": {
                    "$ref": "TargetState"
                }
            },
            "type": "object"
        },
        "PreviewGameServerDeploymentRolloutResponse": {
            "id": "PreviewGameServerDeploymentRolloutResponse",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "targetState": {
                    "$ref": "TargetState"
                },
                "unavailable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PreviewRealmUpdateResponse": {
            "id": "PreviewRealmUpdateResponse",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "targetState": {
                    "$ref": "TargetState"
                }
            },
            "type": "object"
        },
        "PreviewUpdateGameServerClusterResponse": {
            "id": "PreviewUpdateGameServerClusterResponse",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "targetState": {
                    "$ref": "TargetState"
                }
            },
            "type": "object"
        },
        "Realm": {
            "id": "Realm",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "timeZone": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RealmSelector": {
            "id": "RealmSelector",
            "properties": {
                "realms": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Rule": {
            "id": "Rule",
            "properties": {
                "action": {
                    "enum": [
                        "NO_ACTION",
                        "ALLOW",
                        "ALLOW_WITH_LOG",
                        "DENY",
                        "DENY_WITH_LOG",
                        "LOG"
                    ],
                    "type": "string"
                },
                "conditions": {
                    "items": {
                        "$ref": "Condition"
                    },
                    "type": "array"
                },
                "in": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logConfig": {
                    "items": {
                        "$ref": "LogConfig"
                    },
                    "type": "array"
                },
                "notIn": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ScalingConfig": {
            "id": "ScalingConfig",
            "properties": {
                "fleetAutoscalerSpec": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "schedules": {
                    "items": {
                        "$ref": "Schedule"
                    },
                    "type": "array"
                },
                "selectors": {
                    "items": {
                        "$ref": "LabelSelector"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Schedule": {
            "id": "Schedule",
            "properties": {
                "cronJobDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "cronSpec": {
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SpecSource": {
            "id": "SpecSource",
            "properties": {
                "gameServerConfigName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
[...]
