{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/games": {}
            }
        }
    },
    "basePath": "/games/v1management/",
    "baseUrl": "https://www.googleapis.com/games/v1management/",
    "batchPath": "batch/gamesManagement/v1management",
    "canonicalName": "Games Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/games/services",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "gamesManagement:v1management",
    "kind": "discovery#restDescription",
    "name": "gamesManagement",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "achievements": {
            "methods": {
                "reset": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.reset",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "achievements/{achievementId}/reset",
                    "response": {
                        "$ref": "AchievementResetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAll": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.resetAll",
                    "path": "achievements/reset",
                    "response": {
                        "$ref": "AchievementResetAllResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAllForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.resetAllForAllPlayers",
                    "path": "achievements/resetAllForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.resetForAllPlayers",
                    "parameterOrder": [
                        "achievementId"
                    ],
                    "parameters": {
                        "achievementId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "achievements/{achievementId}/resetForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetMultipleForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
                    "path": "achievements/resetMultipleForAllPlayers",
                    "request": {
                        "$ref": "AchievementResetMultipleForAllRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "applications": {
            "methods": {
                "listHidden": {
                    "httpMethod": "GET",
                    "id": "gamesManagement.applications.listHidden",
                    "parameterOrder": [
                        "applicationId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "applications/{applicationId}/players/hidden",
                    "response": {
                        "$ref": "HiddenPlayerList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "events": {
            "methods": {
                "reset": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.reset",
                    "parameterOrder": [
                        "eventId"
                    ],
                    "parameters": {
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "events/{eventId}/reset",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAll": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.resetAll",
                    "path": "events/reset",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAllForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.resetAllForAllPlayers",
                    "path": "events/resetAllForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.resetForAllPlayers",
                    "parameterOrder": [
                        "eventId"
                    ],
                    "parameters": {
                        "eventId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "events/{eventId}/resetForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetMultipleForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.events.resetMultipleForAllPlayers",
                    "path": "events/resetMultipleForAllPlayers",
                    "request": {
                        "$ref": "EventsResetMultipleForAllRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "players": {
            "methods": {
                "hide": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.players.hide",
                    "parameterOrder": [
                        "applicationId",
                        "playerId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "playerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "applications/{applicationId}/players/hidden/{playerId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "unhide": {
                    "httpMethod": "DELETE",
                    "id": "gamesManagement.players.unhide",
                    "parameterOrder": [
                        "applicationId",
                        "playerId"
                    ],
                    "parameters": {
                        "applicationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "playerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "applications/{applicationId}/players/hidden/{playerId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "rooms": {
            "methods": {
                "reset": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.rooms.reset",
                    "path": "rooms/reset",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.rooms.resetForAllPlayers",
                    "path": "rooms/resetForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "scores": {
            "methods": {
                "reset": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.reset",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "leaderboards/{leaderboardId}/scores/reset",
                    "response": {
                        "$ref": "PlayerScoreResetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAll": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.resetAll",
                    "path": "scores/reset",
                    "response": {
                        "$ref": "PlayerScoreResetAllResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetAllForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.resetAllForAllPlayers",
                    "path": "scores/resetAllForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.resetForAllPlayers",
                    "parameterOrder": [
                        "leaderboardId"
                    ],
                    "parameters": {
                        "leaderboardId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "leaderboards/{leaderboardId}/scores/resetForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetMultipleForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.scores.resetMultipleForAllPlayers",
                    "path": "scores/resetMultipleForAllPlayers",
                    "request": {
                        "$ref": "ScoresResetMultipleForAllRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        },
        "turnBasedMatches": {
            "methods": {
                "reset": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.turnBasedMatches.reset",
                    "path": "turnbasedmatches/reset",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                },
                "resetForAllPlayers": {
                    "httpMethod": "POST",
                    "id": "gamesManagement.turnBasedMatches.resetForAllPlayers",
                    "path": "turnbasedmatches/resetForAllPlayers",
                    "scopes": [
                        "https://www.googleapis.com/auth/games"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AchievementResetAllResponse": {
            "id": "AchievementResetAllResponse",
            "properties": {
                "kind": {
                    "default": "gamesManagement#achievementResetAllResponse",
                    "type": "string"
                },
                "results": {
                    "items": {
                        "$ref": "AchievementResetResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AchievementResetMultipleForAllRequest": {
            "id": "AchievementResetMultipleForAllRequest",
            "properties": {
                "achievement_ids": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "gamesManagement#achievementResetMultipleForAllRequest",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AchievementResetResponse": {
            "id": "AchievementResetResponse",
            "properties": {
                "currentState": {
                    "type": "string"
                },
                "definitionId": {
                    "type": "string"
                },
                "kind": {
                    "default": "gamesManagement#achievementResetResponse",
                    "type": "string"
                },
                "updateOccurred": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "EventsResetMultipleForAllRequest": {
            "id": "EventsResetMultipleForAllRequest",
            "properties": {
                "event_ids": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "gamesManagement#eventsResetMultipleForAllRequest",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GamesPlayedResource": {
            "id": "GamesPlayedResource",
            "properties": {
                "autoMatched": {
                    "type": "boolean"
                },
                "timeMillis": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GamesPlayerExperienceInfoResource": {
            "id": "GamesPlayerExperienceInfoResource",
            "properties": {
                "currentExperiencePoints": {
                    "format": "int64",
                    "type": "string"
                },
                "currentLevel": {
                    "$ref": "GamesPlayerLevelResource"
                },
                "lastLevelUpTimestampMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "nextLevel": {
                    "$ref": "GamesPlayerLevelResource"
                }
            },
            "type": "object"
        },
        "GamesPlayerLevelResource": {
            "id": "GamesPlayerLevelResource",
            "properties": {
                "level": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxExperiencePoints": {
                    "format": "int64",
                    "type": "string"
                },
                "minExperiencePoints": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HiddenPlayer": {
            "id": "HiddenPlayer",
            "properties": {
                "hiddenTimeMillis": {
                    "format": "int64",
                    "type": "string"
                },
                "kind": {
                    "default": "gamesManagement#hiddenPlayer",
                    "type": "string"
                },
                "player": {
                    "$ref": "Player"
                }
            },
            "type": "object"
        },
        "HiddenPlayerList": {
            "id": "HiddenPlayerList",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "HiddenPlayer"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "gamesManagement#hiddenPlayerList",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Player": {
            "id": "Player",
            "properties": {
                "avatarImageUrl": {
                    "type": "string"
                },
                "bannerUrlLandscape": {
                    "type": "string"
                },
                "bannerUrlPortrait": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "experienceInfo": {
                    "$ref": "GamesPlayerExperienceInfoResource"
                },
                "friendStatus": {
                    "type": "string"
                },
                "kind": {
                    "default": "gamesManagement#player",
                    "type": "string"
                },
                "lastPlayedWith": {
                    "$ref": "GamesPlayedResource"
                },
                "name": {
                    "properties": {
                        "familyName": {
                            "type": "string"
                        },
                        "givenName": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "originalPlayerId": {
                    "type": "string"
                },
                "playerId": {
                    "type": "string"
                },
                "playerStattus": {
                    "type": "string"
                },
                "profileSettings": {
                    "$ref": "ProfileSettings"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PlayerScoreResetAllResponse": {
            "id": "PlayerScoreResetAllResponse",
            "properties": {
                "kind": {
                    "default": "gamesManagement#playerScoreResetAllResponse",
                    "type": "string"
                },
                "results": {
                    "items": {
                        "$ref": "PlayerScoreResetResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PlayerScoreResetResponse": {
            "id": "PlayerScoreResetResponse",
            "properties": {
                "definitionId": {
                    "type": "string"
                },
                "kind": {
                    "default": "gamesManagement#playerScoreResetResponse",
                    "type": "string"
                },
                "resetScoreTimeSpans": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ProfileSettings": {
            "id": "ProfileSettings",
            "properties": {
                "kind": {
                    "default": "gamesManagement#profileSettings",
                    "type": "string"
                },
                "profileVisible": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ScoresResetMultipleForAllRequest": {
            "id": "ScoresResetMultipleForAllRequest",
            "properties": {
                "kind": {
                    "default": "gamesManagement#scoresResetMultipleForAllRequest",
                    "type": "string"
                },
                "leaderboard_ids": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "games/v1management/",
    "title": "Google Play Game Services Management API",
    "version": "v1management"
}