{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/genomics": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://genomics.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/genomics",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "genomics:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://genomics.mtls.googleapis.com/",
    "name": "genomics",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "methods": {
                "cancel": {
                    "flatPath": "v1/operations/{operationsId}:cancel",
                    "httpMethod": "POST",
                    "id": "genomics.operations.cancel",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:cancel",
                    "request": {
                        "$ref": "CancelOperationRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "genomics.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "list": {
                    "flatPath": "v1/operations",
                    "httpMethod": "GET",
                    "id": "genomics.operations.list",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "path",
                            "pattern": "^operations$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/genomics"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://genomics.googleapis.com/",
    "schemas": {
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "ComputeEngine": {
            "id": "ComputeEngine",
            "properties": {
                "diskNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "instanceName": {
                    "type": "string"
                },
                "machineType": {
                    "type": "string"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContainerKilledEvent": {
            "id": "ContainerKilledEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ContainerStartedEvent": {
            "id": "ContainerStartedEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "ipAddress": {
                    "type": "string"
                },
                "portMappings": {
                    "additionalProperties": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ContainerStoppedEvent": {
            "id": "ContainerStoppedEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "exitStatus": {
                    "format": "int32",
                    "type": "integer"
                },
                "stderr": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DelayedEvent": {
            "id": "DelayedEvent",
            "properties": {
                "cause": {
                    "type": "string"
                },
                "metrics": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Event": {
            "id": "Event",
            "properties": {
                "details": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FailedEvent": {
            "id": "FailedEvent",
            "properties": {
                "cause": {
                    "type": "string"
                },
                "code": {
                    "enum": [
                        "OK",
                        "CANCELLED",
                        "UNKNOWN",
                        "INVALID_ARGUMENT",
                        "DEADLINE_EXCEEDED",
                        "NOT_FOUND",
                        "ALREADY_EXISTS",
                        "PERMISSION_DENIED",
                        "UNAUTHENTICATED",
                        "RESOURCE_EXHAUSTED",
                        "FAILED_PRECONDITION",
                        "ABORTED",
                        "OUT_OF_RANGE",
                        "UNIMPLEMENTED",
                        "INTERNAL",
                        "UNAVAILABLE",
                        "DATA_LOSS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OperationEvent": {
            "id": "OperationEvent",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "id": "OperationMetadata",
            "properties": {
                "clientId": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "events": {
                    "items": {
                        "$ref": "OperationEvent"
                    },
                    "type": "array"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "projectId": {
                    "type": "string"
                },
                "request": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "runtimeMetadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PullStartedEvent": {
            "id": "PullStartedEvent",
            "properties": {
                "imageUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PullStoppedEvent": {
            "id": "PullStoppedEvent",
            "properties": {
                "imageUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RunPipelineResponse": {
            "id": "RunPipelineResponse",
            "properties": {},
            "type": "object"
        },
        "RuntimeMetadata": {
            "id": "RuntimeMetadata",
            "properties": {
                "computeEngine": {
                    "$ref": "ComputeEngine"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UnexpectedExitStatusEvent": {
            "id": "UnexpectedExitStatusEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "exitStatus": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "WorkerAssignedEvent": {
            "id": "WorkerAssignedEvent",
            "properties": {
                "instance": {
                    "type": "string"
                },
                "machineType": {
                    "type": "string"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WorkerReleasedEvent": {
            "id": "WorkerReleasedEvent",
            "properties": {
                "instance": {
                    "type": "string"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Genomics API",
    "version": "v1"
}