{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://mail.google.com/": {},
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {},
                "https://www.googleapis.com/auth/gmail.addons.current.message.action": {},
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {},
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {},
                "https://www.googleapis.com/auth/gmail.compose": {},
                "https://www.googleapis.com/auth/gmail.insert": {},
                "https://www.googleapis.com/auth/gmail.labels": {},
                "https://www.googleapis.com/auth/gmail.metadata": {},
                "https://www.googleapis.com/auth/gmail.modify": {},
                "https://www.googleapis.com/auth/gmail.readonly": {},
                "https://www.googleapis.com/auth/gmail.send": {},
                "https://www.googleapis.com/auth/gmail.settings.basic": {},
                "https://www.googleapis.com/auth/gmail.settings.sharing": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://gmail.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Gmail",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/gmail/api/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "gmail:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
    "name": "gmail",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "users": {
            "methods": {
                "getProfile": {
                    "flatPath": "gmail/v1/users/{userId}/profile",
                    "httpMethod": "GET",
                    "id": "gmail.users.getProfile",
                    "parameterOrder": [
                        "userId"
                    ],
                    "parameters": {
                        "userId": {
                            "default": "me",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "gmail/v1/users/{userId}/profile",
                    "response": {
                        "$ref": "Profile"
                    },
                    "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.compose",
                        "https://www.googleapis.com/auth/gmail.metadata",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly"
                    ]
                },
                "stop": {
                    "flatPath": "gmail/v1/users/{userId}/stop",
                    "httpMethod": "POST",
                    "id": "gmail.users.stop",
                    "parameterOrder": [
                        "userId"
                    ],
                    "parameters": {
                        "userId": {
                            "default": "me",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "gmail/v1/users/{userId}/stop",
                    "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.metadata",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly"
                    ]
                },
                "watch": {
                    "flatPath": "gmail/v1/users/{userId}/watch",
                    "httpMethod": "POST",
                    "id": "gmail.users.watch",
                    "parameterOrder": [
                        "userId"
                    ],
                    "parameters": {
                        "userId": {
                            "default": "me",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "gmail/v1/users/{userId}/watch",
                    "request": {
                        "$ref": "WatchRequest"
                    },
                    "response": {
                        "$ref": "WatchResponse"
                    },
                    "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.metadata",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly"
                    ]
                }
            },
            "resources": {
                "drafts": {
                    "methods": {
                        "create": {
                            "flatPath": "gmail/v1/users/{userId}/drafts",
                            "httpMethod": "POST",
                            "id": "gmail.users.drafts.create",
                            "mediaUpload": {
                                "accept": [
                                    "message/*"
                                ],
                                "maxSize": "36700160",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/gmail/v1/users/{userId}/drafts"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/drafts",
                            "request": {
                                "$ref": "Draft"
                            },
                            "response": {
                                "$ref": "Draft"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                                "https://www.googleapis.com/auth/gmail.compose",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "supportsMediaUpload": true
                        },
                        "delete": {
                            "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
                            "httpMethod": "DELETE",
                            "id": "gmail.users.drafts.delete",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/drafts/{id}",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                                "https://www.googleapis.com/auth/gmail.compose",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ]
                        },
                        "get": {
                            "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
                            "httpMethod": "GET",
                            "id": "gmail.users.drafts.get",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "format": {
                                    "default": "full",
                                    "enum": [
                                        "minimal",
                                        "full",
                                        "raw",
                                        "metadata"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/drafts/{id}",
                            "response": {
                                "$ref": "Draft"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.compose",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "gmail/v1/users/{userId}/drafts",
                            "httpMethod": "GET",
                            "id": "gmail.users.drafts.list",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "includeSpamTrash": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "maxResults": {
                                    "default": "100",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "q": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/drafts",
                            "response": {
                                "$ref": "ListDraftsResponse"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.compose",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ]
                        },
                        "send": {
                            "flatPath": "gmail/v1/users/{userId}/drafts/send",
                            "httpMethod": "POST",
                            "id": "gmail.users.drafts.send",
                            "mediaUpload": {
                                "accept": [
                                    "message/*"
                                ],
                                "maxSize": "36700160",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/drafts/send",
                            "request": {
                                "$ref": "Draft"
                            },
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                                "https://www.googleapis.com/auth/gmail.compose",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "supportsMediaUpload": true
                        },
                        "update": {
                            "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
                            "httpMethod": "PUT",
                            "id": "gmail.users.drafts.update",
                            "mediaUpload": {
                                "accept": [
                                    "message/*"
                                ],
                                "maxSize": "36700160",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/drafts/{id}",
                            "request": {
                                "$ref": "Draft"
                            },
                            "response": {
                                "$ref": "Draft"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                                "https://www.googleapis.com/auth/gmail.compose",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "history": {
                    "methods": {
                        "list": {
                            "flatPath": "gmail/v1/users/{userId}/history",
                            "httpMethod": "GET",
                            "id": "gmail.users.history.list",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "historyTypes": {
                                    "enum": [
                                        "messageAdded",
                                        "messageDeleted",
                                        "labelAdded",
                                        "labelRemoved"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "labelId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "default": "100",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "startHistoryId": {
                                    "format": "uint64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/history",
                            "response": {
                                "$ref": "ListHistoryResponse"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.metadata",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ]
                        }
                    }
                },
                "labels": {
                    "methods": {
                        "create": {
                            "flatPath": "gmail/v1/users/{userId}/labels",
                            "httpMethod": "POST",
                            "id": "gmail.users.labels.create",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/labels",
                            "request": {
                                "$ref": "Label"
                            },
                            "response": {
                                "$ref": "Label"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ]
                        },
                        "delete": {
                            "flatPath": "gmail/v1/users/{userId}/labels/{id}",
                            "httpMethod": "DELETE",
                            "id": "gmail.users.labels.delete",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/labels/{id}",
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ]
                        },
                        "get": {
                            "flatPath": "gmail/v1/users/{userId}/labels/{id}",
                            "httpMethod": "GET",
                            "id": "gmail.users.labels.get",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/labels/{id}",
                            "response": {
                                "$ref": "Label"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.metadata",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "gmail/v1/users/{userId}/labels",
                            "httpMethod": "GET",
                            "id": "gmail.users.labels.list",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/labels",
                            "response": {
                                "$ref": "ListLabelsResponse"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.metadata",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ]
                        },
                        "patch": {
                            "flatPath": "gmail/v1/users/{userId}/labels/{id}",
                            "httpMethod": "PATCH",
                            "id": "gmail.users.labels.patch",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/labels/{id}",
                            "request": {
                                "$ref": "Label"
                            },
                            "response": {
                                "$ref": "Label"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ]
                        },
                        "update": {
                            "flatPath": "gmail/v1/users/{userId}/labels/{id}",
                            "httpMethod": "PUT",
                            "id": "gmail.users.labels.update",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/labels/{id}",
                            "request": {
                                "$ref": "Label"
                            },
                            "response": {
                                "$ref": "Label"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.labels",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ]
                        }
                    }
                },
                "messages": {
                    "methods": {
                        "batchDelete": {
                            "flatPath": "gmail/v1/users/{userId}/messages/batchDelete",
                            "httpMethod": "POST",
                            "id": "gmail.users.messages.batchDelete",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages/batchDelete",
                            "request": {
                                "$ref": "BatchDeleteMessagesRequest"
                            },
                            "scopes": [
                                "https://mail.google.com/"
                            ]
                        },
                        "batchModify": {
                            "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
                            "httpMethod": "POST",
                            "id": "gmail.users.messages.batchModify",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages/batchModify",
                            "request": {
                                "$ref": "BatchModifyMessagesRequest"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ]
                        },
                        "delete": {
                            "flatPath": "gmail/v1/users/{userId}/messages/{id}",
                            "httpMethod": "DELETE",
                            "id": "gmail.users.messages.delete",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages/{id}",
                            "scopes": [
                                "https://mail.google.com/"
                            ]
                        },
                        "get": {
                            "flatPath": "gmail/v1/users/{userId}/messages/{id}",
                            "httpMethod": "GET",
                            "id": "gmail.users.messages.get",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "format": {
                                    "default": "full",
                                    "enum": [
                                        "minimal",
                                        "full",
                                        "raw",
                                        "metadata"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "metadataHeaders": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages/{id}",
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                                "https://www.googleapis.com/auth/gmail.metadata",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ]
                        },
                        "import": {
                            "flatPath": "gmail/v1/users/{userId}/messages/import",
                            "httpMethod": "POST",
                            "id": "gmail.users.messages.import",
                            "mediaUpload": {
                                "accept": [
                                    "message/*"
                                ],
                                "maxSize": "52428800",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/gmail/v1/users/{userId}/messages/import"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "deleted": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "internalDateSource": {
                                    "default": "dateHeader",
                                    "enum": [
                                        "receivedTime",
                                        "dateHeader"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "neverMarkSpam": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "processForCalendar": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages/import",
                            "request": {
                                "$ref": "Message"
                            },
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.insert",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "supportsMediaUpload": true
                        },
                        "insert": {
                            "flatPath": "gmail/v1/users/{userId}/messages",
                            "httpMethod": "POST",
                            "id": "gmail.users.messages.insert",
                            "mediaUpload": {
                                "accept": [
                                    "message/*"
                                ],
                                "maxSize": "52428800",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/gmail/v1/users/{userId}/messages"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/gmail/v1/users/{userId}/messages"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "deleted": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "internalDateSource": {
                                    "default": "receivedTime",
                                    "enum": [
                                        "receivedTime",
                                        "dateHeader"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages",
                            "request": {
                                "$ref": "Message"
                            },
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.insert",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ],
                            "supportsMediaUpload": true
                        },
                        "list": {
                            "flatPath": "gmail/v1/users/{userId}/messages",
                            "httpMethod": "GET",
                            "id": "gmail.users.messages.list",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "includeSpamTrash": {
                                    "default": "false",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "labelIds": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "maxResults": {
                                    "default": "100",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "q": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages",
                            "response": {
                                "$ref": "ListMessagesResponse"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.metadata",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly"
                            ]
                        },
                        "modify": {
                            "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
                            "httpMethod": "POST",
                            "id": "gmail.users.messages.modify",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages/{id}/modify",
                            "request": {
                                "$ref": "ModifyMessageRequest"
                            },
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ]
                        },
                        "send": {
                            "flatPath": "gmail/v1/users/{userId}/messages/send",
                            "httpMethod": "POST",
                            "id": "gmail.users.messages.send",
                            "mediaUpload": {
                                "accept": [
                                    "message/*"
                                ],
                                "maxSize": "36700160",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/gmail/v1/users/{userId}/messages/send"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages/send",
                            "request": {
                                "$ref": "Message"
                            },
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                                "https://www.googleapis.com/auth/gmail.compose",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.send"
                            ],
                            "supportsMediaUpload": true
                        },
                        "trash": {
                            "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
                            "httpMethod": "POST",
                            "id": "gmail.users.messages.trash",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages/{id}/trash",
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ]
                        },
                        "untrash": {
                            "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
                            "httpMethod": "POST",
                            "id": "gmail.users.messages.untrash",
                            "parameterOrder": [
                                "userId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
                            "response": {
                                "$ref": "Message"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify"
                            ]
                        }
                    },
                    "resources": {
                        "attachments": {
                            "methods": {
                                "get": {
                                    "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                                    "httpMethod": "GET",
                                    "id": "gmail.users.messages.attachments.get",
                                    "parameterOrder": [
                                        "userId",
                                        "messageId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "messageId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                                    "response": {
                                        "$ref": "MessagePartBody"
                                    },
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                                        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly"
                                    ]
                                }
                            }
                        }
                    }
                },
                "settings": {
                    "methods": {
                        "getAutoForwarding": {
                            "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
                            "httpMethod": "GET",
                            "id": "gmail.users.settings.getAutoForwarding",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/autoForwarding",
                            "response": {
                                "$ref": "AutoForwarding"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly",
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ]
                        },
                        "getImap": {
                            "flatPath": "gmail/v1/users/{userId}/settings/imap",
                            "httpMethod": "GET",
                            "id": "gmail.users.settings.getImap",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/imap",
                            "response": {
                                "$ref": "ImapSettings"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly",
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ]
                        },
                        "getLanguage": {
                            "flatPath": "gmail/v1/users/{userId}/settings/language",
                            "httpMethod": "GET",
                            "id": "gmail.users.settings.getLanguage",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/language",
                            "response": {
                                "$ref": "LanguageSettings"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly",
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ]
                        },
                        "getPop": {
                            "flatPath": "gmail/v1/users/{userId}/settings/pop",
                            "httpMethod": "GET",
                            "id": "gmail.users.settings.getPop",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/pop",
                            "response": {
                                "$ref": "PopSettings"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly",
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ]
                        },
                        "getVacation": {
                            "flatPath": "gmail/v1/users/{userId}/settings/vacation",
                            "httpMethod": "GET",
                            "id": "gmail.users.settings.getVacation",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/vacation",
                            "response": {
                                "$ref": "VacationSettings"
                            },
                            "scopes": [
                                "https://mail.google.com/",
                                "https://www.googleapis.com/auth/gmail.modify",
                                "https://www.googleapis.com/auth/gmail.readonly",
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ]
                        },
                        "updateAutoForwarding": {
                            "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
                            "httpMethod": "PUT",
                            "id": "gmail.users.settings.updateAutoForwarding",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/autoForwarding",
                            "request": {
                                "$ref": "AutoForwarding"
                            },
                            "response": {
                                "$ref": "AutoForwarding"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/gmail.settings.sharing"
                            ]
                        },
                        "updateImap": {
                            "flatPath": "gmail/v1/users/{userId}/settings/imap",
                            "httpMethod": "PUT",
                            "id": "gmail.users.settings.updateImap",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/imap",
                            "request": {
                                "$ref": "ImapSettings"
                            },
                            "response": {
                                "$ref": "ImapSettings"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ]
                        },
                        "updateLanguage": {
                            "flatPath": "gmail/v1/users/{userId}/settings/language",
                            "httpMethod": "PUT",
                            "id": "gmail.users.settings.updateLanguage",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/language",
                            "request": {
                                "$ref": "LanguageSettings"
                            },
                            "response": {
                                "$ref": "LanguageSettings"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ]
                        },
                        "updatePop": {
                            "flatPath": "gmail/v1/users/{userId}/settings/pop",
                            "httpMethod": "PUT",
                            "id": "gmail.users.settings.updatePop",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/pop",
                            "request": {
                                "$ref": "PopSettings"
                            },
                            "response": {
                                "$ref": "PopSettings"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ]
                        },
                        "updateVacation": {
                            "flatPath": "gmail/v1/users/{userId}/settings/vacation",
                            "httpMethod": "PUT",
                            "id": "gmail.users.settings.updateVacation",
                            "parameterOrder": [
                                "userId"
                            ],
                            "parameters": {
                                "userId": {
                                    "default": "me",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "gmail/v1/users/{userId}/settings/vacation",
                            "request": {
                                "$ref": "VacationSettings"
                            },
                            "response": {
                                "$ref": "VacationSettings"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/gmail.settings.basic"
                            ]
                        }
                    },
                    "resources": {
                        "delegates": {
                            "methods": {
                                "create": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                                    "httpMethod": "POST",
                                    "id": "gmail.users.settings.delegates.create",
                                    "parameterOrder": [
                                        "userId"
                                    ],
                                    "parameters": {
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/delegates",
                                    "request": {
                                        "$ref": "Delegate"
                                    },
                                    "response": {
                                        "$ref": "Delegate"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                                    "httpMethod": "DELETE",
                                    "id": "gmail.users.settings.delegates.delete",
                                    "parameterOrder": [
                                        "userId",
                                        "delegateEmail"
                                    ],
                                    "parameters": {
                                        "delegateEmail": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                                    ]
                                },
                                "get": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                                    "httpMethod": "GET",
                                    "id": "gmail.users.settings.delegates.get",
                                    "parameterOrder": [
                                        "userId",
                                        "delegateEmail"
                                    ],
                                    "parameters": {
                                        "delegateEmail": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                                    "response": {
                                        "$ref": "Delegate"
                                    },
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                },
                                "list": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                                    "httpMethod": "GET",
                                    "id": "gmail.users.settings.delegates.list",
                                    "parameterOrder": [
                                        "userId"
                                    ],
                                    "parameters": {
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/delegates",
                                    "response": {
                                        "$ref": "ListDelegatesResponse"
                                    },
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                }
                            }
                        },
                        "filters": {
                            "methods": {
                                "create": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/filters",
                                    "httpMethod": "POST",
                                    "id": "gmail.users.settings.filters.create",
                                    "parameterOrder": [
                                        "userId"
                                    ],
                                    "parameters": {
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/filters",
                                    "request": {
                                        "$ref": "Filter"
                                    },
                                    "response": {
                                        "$ref": "Filter"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                                    "httpMethod": "DELETE",
                                    "id": "gmail.users.settings.filters.delete",
                                    "parameterOrder": [
                                        "userId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                },
                                "get": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                                    "httpMethod": "GET",
                                    "id": "gmail.users.settings.filters.get",
                                    "parameterOrder": [
                                        "userId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "id": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                                    "response": {
                                        "$ref": "Filter"
                                    },
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                },
                                "list": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/filters",
                                    "httpMethod": "GET",
                                    "id": "gmail.users.settings.filters.list",
                                    "parameterOrder": [
                                        "userId"
                                    ],
                                    "parameters": {
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/filters",
                                    "response": {
                                        "$ref": "ListFiltersResponse"
                                    },
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                }
                            }
                        },
                        "forwardingAddresses": {
                            "methods": {
                                "create": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                                    "httpMethod": "POST",
                                    "id": "gmail.users.settings.forwardingAddresses.create",
                                    "parameterOrder": [
                                        "userId"
                                    ],
                                    "parameters": {
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                                    "request": {
                                        "$ref": "ForwardingAddress"
                                    },
                                    "response": {
                                        "$ref": "ForwardingAddress"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                                    "httpMethod": "DELETE",
                                    "id": "gmail.users.settings.forwardingAddresses.delete",
                                    "parameterOrder": [
                                        "userId",
                                        "forwardingEmail"
                                    ],
                                    "parameters": {
                                        "forwardingEmail": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                                    ]
                                },
                                "get": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                                    "httpMethod": "GET",
                                    "id": "gmail.users.settings.forwardingAddresses.get",
                                    "parameterOrder": [
                                        "userId",
                                        "forwardingEmail"
                                    ],
                                    "parameters": {
                                        "forwardingEmail": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                                    "response": {
                                        "$ref": "ForwardingAddress"
                                    },
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                },
                                "list": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                                    "httpMethod": "GET",
                                    "id": "gmail.users.settings.forwardingAddresses.list",
                                    "parameterOrder": [
                                        "userId"
                                    ],
                                    "parameters": {
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                                    "response": {
                                        "$ref": "ListForwardingAddressesResponse"
                                    },
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                }
                            }
                        },
                        "sendAs": {
                            "methods": {
                                "create": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                                    "httpMethod": "POST",
                                    "id": "gmail.users.settings.sendAs.create",
                                    "parameterOrder": [
                                        "userId"
                                    ],
                                    "parameters": {
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/sendAs",
                                    "request": {
                                        "$ref": "SendAs"
                                    },
                                    "response": {
                                        "$ref": "SendAs"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                                    "httpMethod": "DELETE",
                                    "id": "gmail.users.settings.sendAs.delete",
                                    "parameterOrder": [
                                        "userId",
                                        "sendAsEmail"
                                    ],
                                    "parameters": {
                                        "sendAsEmail": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                                    ]
                                },
                                "get": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                                    "httpMethod": "GET",
                                    "id": "gmail.users.settings.sendAs.get",
                                    "parameterOrder": [
                                        "userId",
                                        "sendAsEmail"
                                    ],
                                    "parameters": {
                                        "sendAsEmail": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                                    "response": {
                                        "$ref": "SendAs"
                                    },
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                },
                                "list": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                                    "httpMethod": "GET",
                                    "id": "gmail.users.settings.sendAs.list",
                                    "parameterOrder": [
                                        "userId"
                                    ],
                                    "parameters": {
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/sendAs",
                                    "response": {
                                        "$ref": "ListSendAsResponse"
                                    },
                                    "scopes": [
                                        "https://mail.google.com/",
                                        "https://www.googleapis.com/auth/gmail.modify",
                                        "https://www.googleapis.com/auth/gmail.readonly",
                                        "https://www.googleapis.com/auth/gmail.settings.basic"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                                    "httpMethod": "PATCH",
                                    "id": "gmail.users.settings.sendAs.patch",
                                    "parameterOrder": [
                                        "userId",
                                        "sendAsEmail"
                                    ],
                                    "parameters": {
                                        "sendAsEmail": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                                    "request": {
                                        "$ref": "SendAs"
                                    },
                                    "response": {
                                        "$ref": "SendAs"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.basic",
                                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                                    ]
                                },
                                "update": {
                                    "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                                    "httpMethod": "PUT",
                                    "id": "gmail.users.settings.sendAs.update",
                                    "parameterOrder": [
                                        "userId",
                                        "sendAsEmail"
                                    ],
                                    "parameters": {
                                        "sendAsEmail": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "default": "me",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                                    "request": {
                                        "$ref": "SendAs"
                                    },
                                    "response": {
                                        "$ref": "SendAs"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/gmail.settings.basic",
                                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                                    ]
                                },
[...]
