{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/apps.groups.settings": {}
            }
        }
    },
    "basePath": "/groups/v1/groups/",
    "baseUrl": "https://www.googleapis.com/groups/v1/groups/",
    "batchPath": "batch/groupssettings/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/google-apps/groups-settings/get_started",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "groupssettings:v1",
    "kind": "discovery#restDescription",
    "name": "groupssettings",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "atom",
            "enum": [
                "atom",
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "groups": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "groupsSettings.groups.get",
                    "parameterOrder": [
                        "groupUniqueId"
                    ],
                    "parameters": {
                        "groupUniqueId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{groupUniqueId}",
                    "response": {
                        "$ref": "Groups"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.groups.settings"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "groupsSettings.groups.patch",
                    "parameterOrder": [
                        "groupUniqueId"
                    ],
                    "parameters": {
                        "groupUniqueId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{groupUniqueId}",
                    "request": {
                        "$ref": "Groups"
                    },
                    "response": {
                        "$ref": "Groups"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.groups.settings"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "groupsSettings.groups.update",
                    "parameterOrder": [
                        "groupUniqueId"
                    ],
                    "parameters": {
                        "groupUniqueId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{groupUniqueId}",
                    "request": {
                        "$ref": "Groups"
                    },
                    "response": {
                        "$ref": "Groups"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.groups.settings"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Groups": {
            "id": "Groups",
            "properties": {
                "allowExternalMembers": {
                    "type": "string"
                },
                "allowGoogleCommunication": {
                    "type": "string"
                },
                "allowWebPosting": {
                    "type": "string"
                },
                "archiveOnly": {
                    "type": "string"
                },
                "customFooterText": {
                    "type": "string"
                },
                "customReplyTo": {
                    "type": "string"
                },
                "customRolesEnabledForSettingsToBeMerged": {
                    "type": "string"
                },
                "defaultMessageDenyNotificationText": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "enableCollaborativeInbox": {
                    "type": "string"
                },
                "favoriteRepliesOnTop": {
                    "type": "string"
                },
                "includeCustomFooter": {
                    "type": "string"
                },
                "includeInGlobalAddressList": {
                    "type": "string"
                },
                "isArchived": {
                    "type": "string"
                },
                "kind": {
                    "default": "groupsSettings#groups",
                    "type": "string"
                },
                "maxMessageBytes": {
                    "format": "int32",
                    "type": "integer"
                },
                "membersCanPostAsTheGroup": {
                    "type": "string"
                },
                "messageDisplayFont": {
                    "type": "string"
                },
                "messageModerationLevel": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "primaryLanguage": {
                    "type": "string"
                },
                "replyTo": {
                    "type": "string"
                },
                "sendMessageDenyNotification": {
                    "type": "string"
                },
                "showInGroupDirectory": {
                    "type": "string"
                },
                "spamModerationLevel": {
                    "type": "string"
                },
                "whoCanAdd": {
                    "type": "string"
                },
                "whoCanAddReferences": {
                    "type": "string"
                },
                "whoCanApproveMembers": {
                    "type": "string"
                },
                "whoCanApproveMessages": {
                    "type": "string"
                },
                "whoCanAssignTopics": {
                    "type": "string"
                },
                "whoCanAssistContent": {
                    "type": "string"
                },
                "whoCanBanUsers": {
                    "type": "string"
                },
                "whoCanContactOwner": {
                    "type": "string"
                },
                "whoCanDeleteAnyPost": {
                    "type": "string"
                },
                "whoCanDeleteTopics": {
                    "type": "string"
                },
                "whoCanDiscoverGroup": {
                    "type": "string"
                },
                "whoCanEnterFreeFormTags": {
                    "type": "string"
                },
                "whoCanHideAbuse": {
                    "type": "string"
                },
                "whoCanInvite": {
                    "type": "string"
                },
                "whoCanJoin": {
                    "type": "string"
                },
                "whoCanLeaveGroup": {
                    "type": "string"
                },
                "whoCanLockTopics": {
                    "type": "string"
                },
                "whoCanMakeTopicsSticky": {
                    "type": "string"
                },
                "whoCanMarkDuplicate": {
                    "type": "string"
                },
                "whoCanMarkFavoriteReplyOnAnyTopic": {
                    "type": "string"
                },
                "whoCanMarkFavoriteReplyOnOwnTopic": {
                    "type": "string"
                },
                "whoCanMarkNoResponseNeeded": {
                    "type": "string"
                },
                "whoCanModerateContent": {
                    "type": "string"
                },
                "whoCanModerateMembers": {
                    "type": "string"
                },
                "whoCanModifyMembers": {
                    "type": "string"
                },
                "whoCanModifyTagsAndCategories": {
                    "type": "string"
                },
                "whoCanMoveTopicsIn": {
                    "type": "string"
                },
                "whoCanMoveTopicsOut": {
                    "type": "string"
                },
                "whoCanPostAnnouncements": {
                    "type": "string"
                },
                "whoCanPostMessage": {
                    "type": "string"
                },
                "whoCanTakeTopics": {
                    "type": "string"
                },
                "whoCanUnassignTopic": {
                    "type": "string"
                },
                "whoCanUnmarkFavoriteReplyOnAnyTopic": {
                    "type": "string"
                },
                "whoCanViewGroup": {
                    "type": "string"
                },
                "whoCanViewMembership": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "groups/v1/groups/",
    "title": "Groups Settings API",
    "version": "v1"
}