{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://healthcare.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Healthcare",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/healthcare",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "healthcare:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://healthcare.mtls.googleapis.com/",
    "name": "healthcare",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "resources": {
                        "datasets": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                                    "httpMethod": "POST",
                                    "id": "healthcare.projects.locations.datasets.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "datasetId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/datasets",
                                    "request": {
                                        "$ref": "Dataset"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "deidentify": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:deidentify",
                                    "httpMethod": "POST",
                                    "id": "healthcare.projects.locations.datasets.deidentify",
                                    "parameterOrder": [
                                        "sourceDataset"
                                    ],
                                    "parameters": {
                                        "sourceDataset": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+sourceDataset}:deidentify",
                                    "request": {
                                        "$ref": "DeidentifyDatasetRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                                    "httpMethod": "DELETE",
                                    "id": "healthcare.projects.locations.datasets.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                                    "httpMethod": "GET",
                                    "id": "healthcare.projects.locations.datasets.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Dataset"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:getIamPolicy",
                                    "httpMethod": "GET",
                                    "id": "healthcare.projects.locations.datasets.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "options.requestedPolicyVersion": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets",
                                    "httpMethod": "GET",
                                    "id": "healthcare.projects.locations.datasets.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/datasets",
                                    "response": {
                                        "$ref": "ListDatasetsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                                    "httpMethod": "PATCH",
                                    "id": "healthcare.projects.locations.datasets.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Dataset"
                                    },
                                    "response": {
                                        "$ref": "Dataset"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "healthcare.projects.locations.datasets.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "healthcare.projects.locations.datasets.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "dicomStores": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "dicomStoreId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/dicomStores",
                                            "request": {
                                                "$ref": "DicomStore"
                                            },
                                            "response": {
                                                "$ref": "DicomStore"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "deidentify": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}:deidentify",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.deidentify",
                                            "parameterOrder": [
                                                "sourceStore"
                                            ],
                                            "parameters": {
                                                "sourceStore": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+sourceStore}:deidentify",
                                            "request": {
                                                "$ref": "DeidentifyDicomStoreRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}",
                                            "httpMethod": "DELETE",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "export": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}:export",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.export",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:export",
                                            "request": {
                                                "$ref": "ExportDicomDataRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}",
                                            "httpMethod": "GET",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "DicomStore"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "getIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}:getIamPolicy",
                                            "httpMethod": "GET",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.getIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "options.requestedPolicyVersion": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:getIamPolicy",
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "import": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}:import",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.import",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:import",
                                            "request": {
                                                "$ref": "ImportDicomDataRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores",
                                            "httpMethod": "GET",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/dicomStores",
                                            "response": {
                                                "$ref": "ListDicomStoresResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}",
                                            "httpMethod": "PATCH",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "DicomStore"
                                            },
                                            "response": {
                                                "$ref": "DicomStore"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "searchForInstances": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/instances",
                                            "httpMethod": "GET",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.searchForInstances",
                                            "parameterOrder": [
                                                "parent",
                                                "dicomWebPath"
                                            ],
                                            "parameters": {
                                                "dicomWebPath": {
                                                    "location": "path",
                                                    "pattern": "^instances$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                            "response": {
                                                "$ref": "HttpBody"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "searchForSeries": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/series",
                                            "httpMethod": "GET",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.searchForSeries",
                                            "parameterOrder": [
                                                "parent",
                                                "dicomWebPath"
                                            ],
                                            "parameters": {
                                                "dicomWebPath": {
                                                    "location": "path",
                                                    "pattern": "^series$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                            "response": {
                                                "$ref": "HttpBody"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "searchForStudies": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies",
                                            "httpMethod": "GET",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.searchForStudies",
                                            "parameterOrder": [
                                                "parent",
                                                "dicomWebPath"
                                            ],
                                            "parameters": {
                                                "dicomWebPath": {
                                                    "location": "path",
                                                    "pattern": "^studies$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                            "response": {
                                                "$ref": "HttpBody"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "setIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}:setIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.setIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:setIamPolicy",
                                            "request": {
                                                "$ref": "SetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "storeInstances": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.storeInstances",
                                            "parameterOrder": [
                                                "parent",
                                                "dicomWebPath"
                                            ],
                                            "parameters": {
                                                "dicomWebPath": {
                                                    "location": "path",
                                                    "pattern": "^studies$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                            "request": {
                                                "$ref": "HttpBody"
                                            },
                                            "response": {
                                                "$ref": "HttpBody"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "testIamPermissions": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}:testIamPermissions",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.dicomStores.testIamPermissions",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:testIamPermissions",
                                            "request": {
                                                "$ref": "TestIamPermissionsRequest"
                                            },
                                            "response": {
                                                "$ref": "TestIamPermissionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "studies": {
                                            "methods": {
                                                "delete": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}",
                                                    "httpMethod": "DELETE",
                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.delete",
                                                    "parameterOrder": [
                                                        "parent",
                                                        "dicomWebPath"
                                                    ],
                                                    "parameters": {
                                                        "dicomWebPath": {
                                                            "location": "path",
                                                            "pattern": "^studies/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                    "response": {
                                                        "$ref": "Operation"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "retrieveMetadata": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/metadata",
                                                    "httpMethod": "GET",
                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.retrieveMetadata",
                                                    "parameterOrder": [
                                                        "parent",
                                                        "dicomWebPath"
                                                    ],
                                                    "parameters": {
                                                        "dicomWebPath": {
                                                            "location": "path",
                                                            "pattern": "^studies/[^/]+/metadata$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                    "response": {
                                                        "$ref": "HttpBody"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "retrieveStudy": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}",
                                                    "httpMethod": "GET",
                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.retrieveStudy",
                                                    "parameterOrder": [
                                                        "parent",
                                                        "dicomWebPath"
                                                    ],
                                                    "parameters": {
                                                        "dicomWebPath": {
                                                            "location": "path",
                                                            "pattern": "^studies/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                    "response": {
                                                        "$ref": "HttpBody"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "searchForInstances": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/instances",
                                                    "httpMethod": "GET",
                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.searchForInstances",
                                                    "parameterOrder": [
                                                        "parent",
                                                        "dicomWebPath"
                                                    ],
                                                    "parameters": {
                                                        "dicomWebPath": {
                                                            "location": "path",
                                                            "pattern": "^studies/[^/]+/instances$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                    "response": {
                                                        "$ref": "HttpBody"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "searchForSeries": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series",
                                                    "httpMethod": "GET",
                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.searchForSeries",
                                                    "parameterOrder": [
                                                        "parent",
                                                        "dicomWebPath"
                                                    ],
                                                    "parameters": {
                                                        "dicomWebPath": {
                                                            "location": "path",
                                                            "pattern": "^studies/[^/]+/series$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                    "response": {
                                                        "$ref": "HttpBody"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "storeInstances": {
                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}",
                                                    "httpMethod": "POST",
                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.storeInstances",
                                                    "parameterOrder": [
                                                        "parent",
                                                        "dicomWebPath"
                                                    ],
                                                    "parameters": {
                                                        "dicomWebPath": {
                                                            "location": "path",
                                                            "pattern": "^studies/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "parent": {
                                                            "location": "path",
                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                    "request": {
                                                        "$ref": "HttpBody"
                                                    },
                                                    "response": {
                                                        "$ref": "HttpBody"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            },
                                            "resources": {
                                                "series": {
                                                    "methods": {
                                                        "delete": {
                                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}",
                                                            "httpMethod": "DELETE",
                                                            "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.delete",
                                                            "parameterOrder": [
                                                                "parent",
                                                                "dicomWebPath"
                                                            ],
                                                            "parameters": {
                                                                "dicomWebPath": {
                                                                    "location": "path",
                                                                    "pattern": "^studies/[^/]+/series/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "parent": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                            "response": {
                                                                "$ref": "Operation"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                            ]
                                                        },
                                                        "retrieveMetadata": {
                                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}/metadata",
                                                            "httpMethod": "GET",
                                                            "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.retrieveMetadata",
                                                            "parameterOrder": [
                                                                "parent",
                                                                "dicomWebPath"
                                                            ],
                                                            "parameters": {
                                                                "dicomWebPath": {
                                                                    "location": "path",
                                                                    "pattern": "^studies/[^/]+/series/[^/]+/metadata$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "parent": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                            "response": {
                                                                "$ref": "HttpBody"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                            ]
                                                        },
                                                        "retrieveSeries": {
                                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}",
                                                            "httpMethod": "GET",
                                                            "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.retrieveSeries",
                                                            "parameterOrder": [
                                                                "parent",
                                                                "dicomWebPath"
                                                            ],
                                                            "parameters": {
                                                                "dicomWebPath": {
                                                                    "location": "path",
                                                                    "pattern": "^studies/[^/]+/series/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "parent": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                            "response": {
                                                                "$ref": "HttpBody"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                            ]
                                                        },
                                                        "searchForInstances": {
                                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}/instances",
                                                            "httpMethod": "GET",
                                                            "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.searchForInstances",
                                                            "parameterOrder": [
                                                                "parent",
                                                                "dicomWebPath"
                                                            ],
                                                            "parameters": {
                                                                "dicomWebPath": {
                                                                    "location": "path",
                                                                    "pattern": "^studies/[^/]+/series/[^/]+/instances$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "parent": {
                                                                    "location": "path",
                                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                            "response": {
                                                                "$ref": "HttpBody"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                            ]
                                                        }
                                                    },
                                                    "resources": {
                                                        "instances": {
                                                            "methods": {
                                                                "delete": {
                                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}/instances/{instancesId}",
                                                                    "httpMethod": "DELETE",
                                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.instances.delete",
                                                                    "parameterOrder": [
                                                                        "parent",
                                                                        "dicomWebPath"
                                                                    ],
                                                                    "parameters": {
                                                                        "dicomWebPath": {
                                                                            "location": "path",
                                                                            "pattern": "^studies/[^/]+/series/[^/]+/instances/[^/]+$",
                                                                            "required": true,
                                                                            "type": "string"
                                                                        },
                                                                        "parent": {
                                                                            "location": "path",
                                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                            "required": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                                    "response": {
                                                                        "$ref": "Empty"
                                                                    },
                                                                    "scopes": [
                                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                                    ]
                                                                },
                                                                "retrieveInstance": {
                                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}/instances/{instancesId}",
                                                                    "httpMethod": "GET",
                                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.instances.retrieveInstance",
                                                                    "parameterOrder": [
                                                                        "parent",
                                                                        "dicomWebPath"
                                                                    ],
                                                                    "parameters": {
                                                                        "dicomWebPath": {
                                                                            "location": "path",
                                                                            "pattern": "^studies/[^/]+/series/[^/]+/instances/[^/]+$",
                                                                            "required": true,
                                                                            "type": "string"
                                                                        },
                                                                        "parent": {
                                                                            "location": "path",
                                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                            "required": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                                    "response": {
                                                                        "$ref": "HttpBody"
                                                                    },
                                                                    "scopes": [
                                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                                    ]
                                                                },
                                                                "retrieveMetadata": {
                                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}/instances/{instancesId}/metadata",
                                                                    "httpMethod": "GET",
                                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.instances.retrieveMetadata",
                                                                    "parameterOrder": [
                                                                        "parent",
                                                                        "dicomWebPath"
                                                                    ],
                                                                    "parameters": {
                                                                        "dicomWebPath": {
                                                                            "location": "path",
                                                                            "pattern": "^studies/[^/]+/series/[^/]+/instances/[^/]+/metadata$",
                                                                            "required": true,
                                                                            "type": "string"
                                                                        },
                                                                        "parent": {
                                                                            "location": "path",
                                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                            "required": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                                    "response": {
                                                                        "$ref": "HttpBody"
                                                                    },
                                                                    "scopes": [
                                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                                    ]
                                                                },
                                                                "retrieveRendered": {
                                                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}/instances/{instancesId}/rendered",
                                                                    "httpMethod": "GET",
                                                                    "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.instances.retrieveRendered",
                                                                    "parameterOrder": [
                                                                        "parent",
                                                                        "dicomWebPath"
                                                                    ],
                                                                    "parameters": {
                                                                        "dicomWebPath": {
                                                                            "location": "path",
                                                                            "pattern": "^studies/[^/]+/series/[^/]+/instances/[^/]+/rendered$",
                                                                            "required": true,
                                                                            "type": "string"
                                                                        },
                                                                        "parent": {
                                                                            "location": "path",
                                                                            "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                            "required": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                                    "response": {
                                                                        "$ref": "HttpBody"
                                                                    },
                                                                    "scopes": [
                                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                                    ]
                                                                }
                                                            },
                                                            "resources": {
                                                                "frames": {
                                                                    "methods": {
                                                                        "retrieveFrames": {
                                                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}/instances/{instancesId}/frames/{framesId}",
                                                                            "httpMethod": "GET",
                                                                            "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.instances.frames.retrieveFrames",
                                                                            "parameterOrder": [
                                                                                "parent",
                                                                                "dicomWebPath"
                                                                            ],
                                                                            "parameters": {
                                                                                "dicomWebPath": {
                                                                                    "location": "path",
                                                                                    "pattern": "^studies/[^/]+/series/[^/]+/instances/[^/]+/frames/[^/]+$",
                                                                                    "required": true,
                                                                                    "type": "string"
                                                                                },
                                                                                "parent": {
                                                                                    "location": "path",
                                                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                                    "required": true,
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                                            "response": {
                                                                                "$ref": "HttpBody"
                                                                            },
                                                                            "scopes": [
                                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                                            ]
                                                                        },
                                                                        "retrieveRendered": {
                                                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/dicomStores/{dicomStoresId}/dicomWeb/studies/{studiesId}/series/{seriesId}/instances/{instancesId}/frames/{framesId}/rendered",
                                                                            "httpMethod": "GET",
                                                                            "id": "healthcare.projects.locations.datasets.dicomStores.studies.series.instances.frames.retrieveRendered",
                                                                            "parameterOrder": [
                                                                                "parent",
                                                                                "dicomWebPath"
                                                                            ],
                                                                            "parameters": {
                                                                                "dicomWebPath": {
                                                                                    "location": "path",
                                                                                    "pattern": "^studies/[^/]+/series/[^/]+/instances/[^/]+/frames/[^/]+/rendered$",
                                                                                    "required": true,
                                                                                    "type": "string"
                                                                                },
                                                                                "parent": {
                                                                                    "location": "path",
                                                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/dicomStores/[^/]+$",
                                                                                    "required": true,
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "path": "v1/{+parent}/dicomWeb/{+dicomWebPath}",
                                                                            "response": {
                                                                                "$ref": "HttpBody"
                                                                            },
                                                                            "scopes": [
                                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "fhirStores": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/fhirStores",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.fhirStores.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "fhirStoreId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/fhirStores",
                                            "request": {
                                                "$ref": "FhirStore"
                                            },
                                            "response": {
                                                "$ref": "FhirStore"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "deidentify": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/fhirStores/{fhirStoresId}:deidentify",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.fhirStores.deidentify",
                                            "parameterOrder": [
                                                "sourceStore"
                                            ],
                                            "parameters": {
                                                "sourceStore": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/fhirStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+sourceStore}:deidentify",
                                            "request": {
                                                "$ref": "DeidentifyFhirStoreRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/fhirStores/{fhirStoresId}",
                                            "httpMethod": "DELETE",
                                            "id": "healthcare.projects.locations.datasets.fhirStores.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/fhirStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "export": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/fhirStores/{fhirStoresId}:export",
                                            "httpMethod": "POST",
                                            "id": "healthcare.projects.locations.datasets.fhirStores.export",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/fhirStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:export",
                                            "request": {
                                                "$ref": "ExportResourcesRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/fhirStores/{fhirStoresId}",
                                            "httpMethod": "GET",
                                            "id": "healthcare.projects.locations.datasets.fhirStores.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/fhirStores/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
[...]
