{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://iam.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "iam",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/iam/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "iam:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://iam.mtls.googleapis.com/",
    "name": "iam",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "iamPolicies": {
            "methods": {
                "lintPolicy": {
                    "flatPath": "v1/iamPolicies:lintPolicy",
                    "httpMethod": "POST",
                    "id": "iam.iamPolicies.lintPolicy",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/iamPolicies:lintPolicy",
                    "request": {
                        "$ref": "LintPolicyRequest"
                    },
                    "response": {
                        "$ref": "LintPolicyResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "queryAuditableServices": {
                    "flatPath": "v1/iamPolicies:queryAuditableServices",
                    "httpMethod": "POST",
                    "id": "iam.iamPolicies.queryAuditableServices",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/iamPolicies:queryAuditableServices",
                    "request": {
                        "$ref": "QueryAuditableServicesRequest"
                    },
                    "response": {
                        "$ref": "QueryAuditableServicesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "organizations": {
            "resources": {
                "roles": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/roles",
                            "httpMethod": "POST",
                            "id": "iam.organizations.roles.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/roles",
                            "request": {
                                "$ref": "CreateRoleRequest"
                            },
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
                            "httpMethod": "DELETE",
                            "id": "iam.organizations.roles.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "etag": {
                                    "format": "byte",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/roles/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
                            "httpMethod": "GET",
                            "id": "iam.organizations.roles.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/roles/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/roles",
                            "httpMethod": "GET",
                            "id": "iam.organizations.roles.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "showDeleted": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "view": {
                                    "enum": [
                                        "BASIC",
                                        "FULL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/roles",
                            "response": {
                                "$ref": "ListRolesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
                            "httpMethod": "PATCH",
                            "id": "iam.organizations.roles.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/roles/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Role"
                            },
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "undelete": {
                            "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}:undelete",
                            "httpMethod": "POST",
                            "id": "iam.organizations.roles.undelete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/roles/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:undelete",
                            "request": {
                                "$ref": "UndeleteRoleRequest"
                            },
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "permissions": {
            "methods": {
                "queryTestablePermissions": {
                    "flatPath": "v1/permissions:queryTestablePermissions",
                    "httpMethod": "POST",
                    "id": "iam.permissions.queryTestablePermissions",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/permissions:queryTestablePermissions",
                    "request": {
                        "$ref": "QueryTestablePermissionsRequest"
                    },
                    "response": {
                        "$ref": "QueryTestablePermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "projects": {
            "resources": {
                "roles": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/roles",
                            "httpMethod": "POST",
                            "id": "iam.projects.roles.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/roles",
                            "request": {
                                "$ref": "CreateRoleRequest"
                            },
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/roles/{rolesId}",
                            "httpMethod": "DELETE",
                            "id": "iam.projects.roles.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "etag": {
                                    "format": "byte",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/roles/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/roles/{rolesId}",
                            "httpMethod": "GET",
                            "id": "iam.projects.roles.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/roles/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/roles",
                            "httpMethod": "GET",
                            "id": "iam.projects.roles.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "showDeleted": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "view": {
                                    "enum": [
                                        "BASIC",
                                        "FULL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/roles",
                            "response": {
                                "$ref": "ListRolesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/roles/{rolesId}",
                            "httpMethod": "PATCH",
                            "id": "iam.projects.roles.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/roles/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Role"
                            },
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "undelete": {
                            "flatPath": "v1/projects/{projectsId}/roles/{rolesId}:undelete",
                            "httpMethod": "POST",
                            "id": "iam.projects.roles.undelete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/roles/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:undelete",
                            "request": {
                                "$ref": "UndeleteRoleRequest"
                            },
                            "response": {
                                "$ref": "Role"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "serviceAccounts": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts",
                            "httpMethod": "POST",
                            "id": "iam.projects.serviceAccounts.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/serviceAccounts",
                            "request": {
                                "$ref": "CreateServiceAccountRequest"
                            },
                            "response": {
                                "$ref": "ServiceAccount"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
                            "httpMethod": "DELETE",
                            "id": "iam.projects.serviceAccounts.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "disable": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:disable",
                            "httpMethod": "POST",
                            "id": "iam.projects.serviceAccounts.disable",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:disable",
                            "request": {
                                "$ref": "DisableServiceAccountRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "enable": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:enable",
                            "httpMethod": "POST",
                            "id": "iam.projects.serviceAccounts.enable",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:enable",
                            "request": {
                                "$ref": "EnableServiceAccountRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
                            "httpMethod": "GET",
                            "id": "iam.projects.serviceAccounts.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "ServiceAccount"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:getIamPolicy",
                            "httpMethod": "POST",
                            "id": "iam.projects.serviceAccounts.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts",
                            "httpMethod": "GET",
                            "id": "iam.projects.serviceAccounts.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/serviceAccounts",
                            "response": {
                                "$ref": "ListServiceAccountsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
                            "httpMethod": "PATCH",
                            "id": "iam.projects.serviceAccounts.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "PatchServiceAccountRequest"
                            },
                            "response": {
                                "$ref": "ServiceAccount"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "iam.projects.serviceAccounts.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "signBlob": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signBlob",
                            "httpMethod": "POST",
                            "id": "iam.projects.serviceAccounts.signBlob",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:signBlob",
                            "request": {
                                "$ref": "SignBlobRequest"
                            },
                            "response": {
                                "$ref": "SignBlobResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "signJwt": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signJwt",
                            "httpMethod": "POST",
                            "id": "iam.projects.serviceAccounts.signJwt",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:signJwt",
                            "request": {
                                "$ref": "SignJwtRequest"
                            },
                            "response": {
                                "$ref": "SignJwtResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "iam.projects.serviceAccounts.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "undelete": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:undelete",
                            "httpMethod": "POST",
                            "id": "iam.projects.serviceAccounts.undelete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:undelete",
                            "request": {
                                "$ref": "UndeleteServiceAccountRequest"
                            },
                            "response": {
                                "$ref": "UndeleteServiceAccountResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
                            "httpMethod": "PUT",
                            "id": "iam.projects.serviceAccounts.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "ServiceAccount"
                            },
                            "response": {
                                "$ref": "ServiceAccount"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "keys": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys",
                                    "httpMethod": "POST",
                                    "id": "iam.projects.serviceAccounts.keys.create",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}/keys",
                                    "request": {
                                        "$ref": "CreateServiceAccountKeyRequest"
                                    },
                                    "response": {
                                        "$ref": "ServiceAccountKey"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys/{keysId}",
                                    "httpMethod": "DELETE",
                                    "id": "iam.projects.serviceAccounts.keys.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/serviceAccounts/[^/]+/keys/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys/{keysId}",
                                    "httpMethod": "GET",
                                    "id": "iam.projects.serviceAccounts.keys.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/serviceAccounts/[^/]+/keys/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "publicKeyType": {
                                            "enum": [
                                                "TYPE_NONE",
                                                "TYPE_X509_PEM_FILE",
                                                "TYPE_RAW_PUBLIC_KEY"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "ServiceAccountKey"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys",
                                    "httpMethod": "GET",
                                    "id": "iam.projects.serviceAccounts.keys.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "keyTypes": {
                                            "enum": [
                                                "KEY_TYPE_UNSPECIFIED",
                                                "USER_MANAGED",
                                                "SYSTEM_MANAGED"
                                            ],
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}/keys",
                                    "response": {
                                        "$ref": "ListServiceAccountKeysResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "upload": {
                                    "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys:upload",
                                    "httpMethod": "POST",
                                    "id": "iam.projects.serviceAccounts.keys.upload",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}/keys:upload",
                                    "request": {
                                        "$ref": "UploadServiceAccountKeyRequest"
                                    },
                                    "response": {
                                        "$ref": "ServiceAccountKey"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "roles": {
            "methods": {
                "get": {
                    "flatPath": "v1/roles/{rolesId}",
                    "httpMethod": "GET",
                    "id": "iam.roles.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^roles/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Role"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/roles",
                    "httpMethod": "GET",
                    "id": "iam.roles.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "view": {
                            "enum": [
                                "BASIC",
                                "FULL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/roles",
                    "response": {
                        "$ref": "ListRolesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "queryGrantableRoles": {
                    "flatPath": "v1/roles:queryGrantableRoles",
                    "httpMethod": "POST",
                    "id": "iam.roles.queryGrantableRoles",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/roles:queryGrantableRoles",
                    "request": {
                        "$ref": "QueryGrantableRolesRequest"
                    },
                    "response": {
                        "$ref": "QueryGrantableRolesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://iam.googleapis.com/",
    "schemas": {
        "AdminAuditData": {
            "id": "AdminAuditData",
            "properties": {
                "permissionDelta": {
                    "$ref": "PermissionDelta"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditData": {
            "id": "AuditData",
            "properties": {
                "policyDelta": {
                    "$ref": "PolicyDelta"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditableService": {
            "id": "AuditableService",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BindingDelta": {
            "id": "BindingDelta",
            "properties": {
                "action": {
                    "enum": [
                        "ACTION_UNSPECIFIED",
                        "ADD",
                        "REMOVE"
                    ],
                    "type": "string"
                },
                "condition": {
                    "$ref": "Expr"
                },
                "member": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateRoleRequest": {
            "id": "CreateRoleRequest",
            "properties": {
                "role": {
                    "$ref": "Role"
                },
                "roleId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateServiceAccountKeyRequest": {
            "id": "CreateServiceAccountKeyRequest",
            "properties": {
                "keyAlgorithm": {
                    "enum": [
                        "KEY_ALG_UNSPECIFIED",
                        "KEY_ALG_RSA_1024",
                        "KEY_ALG_RSA_2048"
                    ],
                    "type": "string"
                },
                "privateKeyType": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "TYPE_PKCS12_FILE",
                        "TYPE_GOOGLE_CREDENTIALS_FILE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateServiceAccountRequest": {
            "id": "CreateServiceAccountRequest",
            "properties": {
                "accountId": {
                    "type": "string"
                },
                "serviceAccount": {
                    "$ref": "ServiceAccount"
                }
            },
            "type": "object"
        },
        "DisableServiceAccountRequest": {
            "id": "DisableServiceAccountRequest",
            "properties": {},
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EnableServiceAccountRequest": {
            "id": "EnableServiceAccountRequest",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LintPolicyRequest": {
            "id": "LintPolicyRequest",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "fullResourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LintPolicyResponse": {
            "id": "LintPolicyResponse",
            "properties": {
                "lintResults": {
                    "items": {
                        "$ref": "LintResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LintResult": {
            "id": "LintResult",
            "properties": {
                "debugMessage": {
                    "type": "string"
                },
                "fieldName": {
                    "type": "string"
                },
                "level": {
                    "enum": [
                        "LEVEL_UNSPECIFIED",
                        "CONDITION"
                    ],
                    "type": "string"
                },
                "locationOffset": {
                    "format": "int32",
                    "type": "integer"
                },
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "ERROR",
                        "WARNING",
                        "NOTICE",
                        "INFO",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "validationUnitName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListRolesResponse": {
            "id": "ListRolesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "roles": {
                    "items": {
                        "$ref": "Role"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListServiceAccountKeysResponse": {
            "id": "ListServiceAccountKeysResponse",
            "properties": {
                "keys": {
                    "items": {
                        "$ref": "ServiceAccountKey"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListServiceAccountsResponse": {
            "id": "ListServiceAccountsResponse",
            "properties": {
                "accounts": {
                    "items": {
                        "$ref": "ServiceAccount"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchServiceAccountRequest": {
            "id": "PatchServiceAccountRequest",
            "properties": {
                "serviceAccount": {
                    "$ref": "ServiceAccount"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Permission": {
            "id": "Permission",
            "properties": {
                "apiDisabled": {
                    "type": "boolean"
                },
                "customRolesSupportLevel": {
                    "enum": [
                        "SUPPORTED",
                        "TESTING",
                        "NOT_SUPPORTED"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "onlyInPredefinedRoles": {
                    "type": "boolean"
                },
                "primaryPermission": {
                    "type": "string"
                },
                "stage": {
                    "enum": [
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PermissionDelta": {
            "id": "PermissionDelta",
            "properties": {
                "addedPermissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "removedPermissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PolicyDelta": {
            "id": "PolicyDelta",
            "properties": {
                "bindingDeltas": {
                    "items": {
                        "$ref": "BindingDelta"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "QueryAuditableServicesRequest": {
            "id": "QueryAuditableServicesRequest",
            "properties": {
                "fullResourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "QueryAuditableServicesResponse": {
            "id": "QueryAuditableServicesResponse",
            "properties": {
                "services": {
                    "items": {
                        "$ref": "AuditableService"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "QueryGrantableRolesRequest": {
            "id": "QueryGrantableRolesRequest",
            "properties": {
                "fullResourceName": {
                    "type": "string"
                },
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                },
                "view": {
                    "enum": [
                        "BASIC",
                        "FULL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "QueryGrantableRolesResponse": {
            "id": "QueryGrantableRolesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "roles": {
                    "items": {
                        "$ref": "Role"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "QueryTestablePermissionsRequest": {
            "id": "QueryTestablePermissionsRequest",
            "properties": {
                "fullResourceName": {
                    "type": "string"
                },
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "QueryTestablePermissionsResponse": {
            "id": "QueryTestablePermissionsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "permissions": {
                    "items": {
                        "$ref": "Permission"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Role": {
            "id": "Role",
            "properties": {
                "deleted": {
                    "type": "boolean"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "includedPermissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "stage": {
                    "enum": [
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED",
                        "DISABLED",
                        "EAP"
                    ],
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ServiceAccount": {
            "id": "ServiceAccount",
            "properties": {
                "disabled": {
                    "readOnly": true,
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "readOnly": true,
                    "type": "string"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "oauth2ClientId": {
                    "readOnly": true,
                    "type": "string"
                },
                "projectId": {
                    "readOnly": true,
                    "type": "string"
                },
                "uniqueId": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ServiceAccountKey": {
            "id": "ServiceAccountKey",
            "properties": {
                "keyAlgorithm": {
                    "enum": [
                        "KEY_ALG_UNSPECIFIED",
                        "KEY_ALG_RSA_1024",
                        "KEY_ALG_RSA_2048"
                    ],
                    "type": "string"
                },
                "keyOrigin": {
                    "enum": [
                        "ORIGIN_UNSPECIFIED",
                        "USER_PROVIDED",
                        "GOOGLE_PROVIDED"
                    ],
                    "type": "string"
                },
                "keyType": {
                    "enum": [
                        "KEY_TYPE_UNSPECIFIED",
                        "USER_MANAGED",
                        "SYSTEM_MANAGED"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "privateKeyData": {
                    "format": "byte",
                    "type": "string"
                },
                "privateKeyType": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "TYPE_PKCS12_FILE",
                        "TYPE_GOOGLE_CREDENTIALS_FILE"
                    ],
                    "type": "string"
                },
                "publicKeyData": {
                    "format": "byte",
                    "type": "string"
                },
                "validAfterTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "validBeforeTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SignBlobRequest": {
            "id": "SignBlobRequest",
            "properties": {
                "bytesToSign": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SignBlobResponse": {
            "id": "SignBlobResponse",
            "properties": {
                "keyId": {
                    "type": "string"
                },
                "signature": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SignJwtRequest": {
            "id": "SignJwtRequest",
            "properties": {
                "payload": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SignJwtResponse": {
            "id": "SignJwtResponse",
            "properties": {
                "keyId": {
                    "type": "string"
                },
                "signedJwt": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UndeleteRoleRequest": {
            "id": "UndeleteRoleRequest",
            "properties": {
                "etag": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UndeleteServiceAccountRequest": {
            "id": "UndeleteServiceAccountRequest",
            "properties": {},
            "type": "object"
        },
        "UndeleteServiceAccountResponse": {
            "id": "UndeleteServiceAccountResponse",
            "properties": {
                "restoredAccount": {
                    "$ref": "ServiceAccount"
                }
            },
            "type": "object"
        },
        "UploadServiceAccountKeyRequest": {
            "id": "UploadServiceAccountKeyRequest",
            "properties": {
                "publicKeyData": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Identity and Access Management (IAM) API",
    "version": "v1",
    "version_module": true
}