{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://iamcredentials.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "IAM Credentials",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "iamcredentials:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://iamcredentials.mtls.googleapis.com/",
    "name": "iamcredentials",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "serviceAccounts": {
                    "methods": {
                        "generateAccessToken": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateAccessToken",
                            "httpMethod": "POST",
                            "id": "iamcredentials.projects.serviceAccounts.generateAccessToken",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:generateAccessToken",
                            "request": {
                                "$ref": "GenerateAccessTokenRequest"
                            },
                            "response": {
                                "$ref": "GenerateAccessTokenResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "generateIdToken": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateIdToken",
                            "httpMethod": "POST",
                            "id": "iamcredentials.projects.serviceAccounts.generateIdToken",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:generateIdToken",
                            "request": {
                                "$ref": "GenerateIdTokenRequest"
                            },
                            "response": {
                                "$ref": "GenerateIdTokenResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "signBlob": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signBlob",
                            "httpMethod": "POST",
                            "id": "iamcredentials.projects.serviceAccounts.signBlob",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:signBlob",
                            "request": {
                                "$ref": "SignBlobRequest"
                            },
                            "response": {
                                "$ref": "SignBlobResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "signJwt": {
                            "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signJwt",
                            "httpMethod": "POST",
                            "id": "iamcredentials.projects.serviceAccounts.signJwt",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:signJwt",
                            "request": {
                                "$ref": "SignJwtRequest"
                            },
                            "response": {
                                "$ref": "SignJwtResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://iamcredentials.googleapis.com/",
    "schemas": {
        "GenerateAccessTokenRequest": {
            "id": "GenerateAccessTokenRequest",
            "properties": {
                "delegates": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "lifetime": {
                    "format": "google-duration",
                    "type": "string"
                },
                "scope": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GenerateAccessTokenResponse": {
            "id": "GenerateAccessTokenResponse",
            "properties": {
                "accessToken": {
                    "type": "string"
                },
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GenerateIdTokenRequest": {
            "id": "GenerateIdTokenRequest",
            "properties": {
                "audience": {
                    "type": "string"
                },
                "delegates": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "includeEmail": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GenerateIdTokenResponse": {
            "id": "GenerateIdTokenResponse",
            "properties": {
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SignBlobRequest": {
            "id": "SignBlobRequest",
            "properties": {
                "delegates": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "payload": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SignBlobResponse": {
            "id": "SignBlobResponse",
            "properties": {
                "keyId": {
                    "type": "string"
                },
                "signedBlob": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SignJwtRequest": {
            "id": "SignJwtRequest",
            "properties": {
                "delegates": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "payload": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SignJwtResponse": {
            "id": "SignJwtResponse",
            "properties": {
                "keyId": {
                    "type": "string"
                },
                "signedJwt": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "IAM Service Account Credentials API",
    "version": "v1",
    "version_module": true
}