{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://iap.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud IAP",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/iap",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "iap:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://iap.mtls.googleapis.com/",
    "name": "iap",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "brands": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/brands",
                            "httpMethod": "POST",
                            "id": "iap.projects.brands.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/brands",
                            "request": {
                                "$ref": "Brand"
                            },
                            "response": {
                                "$ref": "Brand"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/brands/{brandsId}",
                            "httpMethod": "GET",
                            "id": "iap.projects.brands.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/brands/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Brand"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/brands",
                            "httpMethod": "GET",
                            "id": "iap.projects.brands.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/brands",
                            "response": {
                                "$ref": "ListBrandsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "identityAwareProxyClients": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                                    "httpMethod": "POST",
                                    "id": "iap.projects.brands.identityAwareProxyClients.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/brands/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/identityAwareProxyClients",
                                    "request": {
                                        "$ref": "IdentityAwareProxyClient"
                                    },
                                    "response": {
                                        "$ref": "IdentityAwareProxyClient"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}",
                                    "httpMethod": "DELETE",
                                    "id": "iap.projects.brands.identityAwareProxyClients.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}",
                                    "httpMethod": "GET",
                                    "id": "iap.projects.brands.identityAwareProxyClients.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "IdentityAwareProxyClient"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                                    "httpMethod": "GET",
                                    "id": "iap.projects.brands.identityAwareProxyClients.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/brands/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/identityAwareProxyClients",
                                    "response": {
                                        "$ref": "ListIdentityAwareProxyClientsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "resetSecret": {
                                    "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}:resetSecret",
                                    "httpMethod": "POST",
                                    "id": "iap.projects.brands.identityAwareProxyClients.resetSecret",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:resetSecret",
                                    "request": {
                                        "$ref": "ResetIdentityAwareProxyClientSecretRequest"
                                    },
                                    "response": {
                                        "$ref": "IdentityAwareProxyClient"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "v1": {
            "methods": {
                "getIamPolicy": {
                    "flatPath": "v1/{v1Id}:getIamPolicy",
                    "httpMethod": "POST",
                    "id": "iap.getIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resource}:getIamPolicy",
                    "request": {
                        "$ref": "GetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getIapSettings": {
                    "flatPath": "v1/{v1Id}:iapSettings",
                    "httpMethod": "GET",
                    "id": "iap.getIapSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:iapSettings",
                    "response": {
                        "$ref": "IapSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "setIamPolicy": {
                    "flatPath": "v1/{v1Id}:setIamPolicy",
                    "httpMethod": "POST",
                    "id": "iap.setIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resource}:setIamPolicy",
                    "request": {
                        "$ref": "SetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "testIamPermissions": {
                    "flatPath": "v1/{v1Id}:testIamPermissions",
                    "httpMethod": "POST",
                    "id": "iap.testIamPermissions",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resource}:testIamPermissions",
                    "request": {
                        "$ref": "TestIamPermissionsRequest"
                    },
                    "response": {
                        "$ref": "TestIamPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "updateIapSettings": {
                    "flatPath": "v1/{v1Id}:iapSettings",
                    "httpMethod": "PATCH",
                    "id": "iap.updateIapSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:iapSettings",
                    "request": {
                        "$ref": "IapSettings"
                    },
                    "response": {
                        "$ref": "IapSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://iap.googleapis.com/",
    "schemas": {
        "AccessDeniedPageSettings": {
            "id": "AccessDeniedPageSettings",
            "properties": {
                "accessDeniedPageUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccessSettings": {
            "id": "AccessSettings",
            "properties": {
                "corsSettings": {
                    "$ref": "CorsSettings"
                },
                "gcipSettings": {
                    "$ref": "GcipSettings"
                },
                "oauthSettings": {
                    "$ref": "OAuthSettings"
                },
                "policyDelegationSettings": {
                    "$ref": "PolicyDelegationSettings"
                }
            },
            "type": "object"
        },
        "ApplicationSettings": {
            "id": "ApplicationSettings",
            "properties": {
                "accessDeniedPageSettings": {
                    "$ref": "AccessDeniedPageSettings"
                },
                "cookieDomain": {
                    "type": "string"
                },
                "csmSettings": {
                    "$ref": "CsmSettings"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Brand": {
            "id": "Brand",
            "properties": {
                "applicationTitle": {
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "orgInternalOnly": {
                    "readOnly": true,
                    "type": "boolean"
                },
                "supportEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CorsSettings": {
            "id": "CorsSettings",
            "properties": {
                "allowHttpOptions": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CsmSettings": {
            "id": "CsmSettings",
            "properties": {
                "rctokenAud": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GcipSettings": {
            "id": "GcipSettings",
            "properties": {
                "loginPageUri": {
                    "type": "string"
                },
                "tenantIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GetIamPolicyRequest": {
            "id": "GetIamPolicyRequest",
            "properties": {
                "options": {
                    "$ref": "GetPolicyOptions"
                }
            },
            "type": "object"
        },
        "GetPolicyOptions": {
            "id": "GetPolicyOptions",
            "properties": {
                "requestedPolicyVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "IapSettings": {
            "id": "IapSettings",
            "properties": {
                "accessSettings": {
                    "$ref": "AccessSettings"
                },
                "applicationSettings": {
                    "$ref": "ApplicationSettings"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentityAwareProxyClient": {
            "id": "IdentityAwareProxyClient",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "secret": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListBrandsResponse": {
            "id": "ListBrandsResponse",
            "properties": {
                "brands": {
                    "items": {
                        "$ref": "Brand"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListIdentityAwareProxyClientsResponse": {
            "id": "ListIdentityAwareProxyClientsResponse",
            "properties": {
                "identityAwareProxyClients": {
                    "items": {
                        "$ref": "IdentityAwareProxyClient"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OAuthSettings": {
            "id": "OAuthSettings",
            "properties": {
                "clientId": {
                    "type": "string"
                },
                "loginHint": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PolicyDelegationSettings": {
            "id": "PolicyDelegationSettings",
            "properties": {
                "iamPermission": {
                    "type": "string"
                },
                "iamServiceName": {
                    "type": "string"
                },
                "policyName": {
                    "$ref": "PolicyName"
                },
                "resource": {
                    "$ref": "Resource"
                }
            },
            "type": "object"
        },
        "PolicyName": {
            "id": "PolicyName",
            "properties": {
                "id": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResetIdentityAwareProxyClientSecretRequest": {
            "id": "ResetIdentityAwareProxyClientSecretRequest",
            "properties": {},
            "type": "object"
        },
        "Resource": {
            "id": "Resource",
            "properties": {
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "service": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Identity-Aware Proxy API",
    "version": "v1",
    "version_module": true
}