{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/firebase": {}
            }
        }
    },
    "basePath": "/identitytoolkit/v3/relyingparty/",
    "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
    "batchPath": "batch/identitytoolkit/v3",
    "canonicalName": "Identity Toolkit",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
    "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "identitytoolkit:v3",
    "kind": "discovery#restDescription",
    "name": "identitytoolkit",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "relyingparty": {
            "methods": {
                "createAuthUri": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.createAuthUri",
                    "path": "createAuthUri",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
                    },
                    "response": {
                        "$ref": "CreateAuthUriResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "deleteAccount": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.deleteAccount",
                    "path": "deleteAccount",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
                    },
                    "response": {
                        "$ref": "DeleteAccountResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "downloadAccount": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.downloadAccount",
                    "path": "downloadAccount",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
                    },
                    "response": {
                        "$ref": "DownloadAccountResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                    ]
                },
                "emailLinkSignin": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.emailLinkSignin",
                    "path": "emailLinkSignin",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
                    },
                    "response": {
                        "$ref": "EmailLinkSigninResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getAccountInfo": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.getAccountInfo",
                    "path": "getAccountInfo",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
                    },
                    "response": {
                        "$ref": "GetAccountInfoResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getOobConfirmationCode": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
                    "path": "getOobConfirmationCode",
                    "request": {
                        "$ref": "Relyingparty"
                    },
                    "response": {
                        "$ref": "GetOobConfirmationCodeResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getProjectConfig": {
                    "httpMethod": "GET",
                    "id": "identitytoolkit.relyingparty.getProjectConfig",
                    "parameters": {
                        "delegatedProjectNumber": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectNumber": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "getProjectConfig",
                    "response": {
                        "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getPublicKeys": {
                    "httpMethod": "GET",
                    "id": "identitytoolkit.relyingparty.getPublicKeys",
                    "path": "publicKeys",
                    "response": {
                        "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getRecaptchaParam": {
                    "httpMethod": "GET",
                    "id": "identitytoolkit.relyingparty.getRecaptchaParam",
                    "path": "getRecaptchaParam",
                    "response": {
                        "$ref": "GetRecaptchaParamResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "resetPassword": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.resetPassword",
                    "path": "resetPassword",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
                    },
                    "response": {
                        "$ref": "ResetPasswordResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "sendVerificationCode": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.sendVerificationCode",
                    "path": "sendVerificationCode",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
                    },
                    "response": {
                        "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "setAccountInfo": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.setAccountInfo",
                    "path": "setAccountInfo",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
                    },
                    "response": {
                        "$ref": "SetAccountInfoResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "setProjectConfig": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.setProjectConfig",
                    "path": "setProjectConfig",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
                    },
                    "response": {
                        "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "signOutUser": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.signOutUser",
                    "path": "signOutUser",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
                    },
                    "response": {
                        "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "signupNewUser": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.signupNewUser",
                    "path": "signupNewUser",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
                    },
                    "response": {
                        "$ref": "SignupNewUserResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "uploadAccount": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.uploadAccount",
                    "path": "uploadAccount",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
                    },
                    "response": {
                        "$ref": "UploadAccountResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                    ]
                },
                "verifyAssertion": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.verifyAssertion",
                    "path": "verifyAssertion",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
                    },
                    "response": {
                        "$ref": "VerifyAssertionResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "verifyCustomToken": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.verifyCustomToken",
                    "path": "verifyCustomToken",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
                    },
                    "response": {
                        "$ref": "VerifyCustomTokenResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "verifyPassword": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.verifyPassword",
                    "path": "verifyPassword",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
                    },
                    "response": {
                        "$ref": "VerifyPasswordResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "verifyPhoneNumber": {
                    "httpMethod": "POST",
                    "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
                    "path": "verifyPhoneNumber",
                    "request": {
                        "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
                    },
                    "response": {
                        "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "CreateAuthUriResponse": {
            "id": "CreateAuthUriResponse",
            "properties": {
                "allProviders": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "authUri": {
                    "type": "string"
                },
                "captchaRequired": {
                    "type": "boolean"
                },
                "forExistingProvider": {
                    "type": "boolean"
                },
                "kind": {
                    "default": "identitytoolkit#CreateAuthUriResponse",
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "registered": {
                    "type": "boolean"
                },
                "sessionId": {
                    "type": "string"
                },
                "signinMethods": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DeleteAccountResponse": {
            "id": "DeleteAccountResponse",
            "properties": {
                "kind": {
                    "default": "identitytoolkit#DeleteAccountResponse",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DownloadAccountResponse": {
            "id": "DownloadAccountResponse",
            "properties": {
                "kind": {
                    "default": "identitytoolkit#DownloadAccountResponse",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "users": {
                    "items": {
                        "$ref": "UserInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EmailLinkSigninResponse": {
            "id": "EmailLinkSigninResponse",
            "properties": {
                "email": {
                    "type": "string"
                },
                "expiresIn": {
                    "format": "int64",
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "isNewUser": {
                    "type": "boolean"
                },
                "kind": {
                    "default": "identitytoolkit#EmailLinkSigninResponse",
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                },
                "refreshToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EmailTemplate": {
            "id": "EmailTemplate",
            "properties": {
                "body": {
                    "type": "string"
                },
                "format": {
                    "type": "string"
                },
                "from": {
                    "type": "string"
                },
                "fromDisplayName": {
                    "type": "string"
                },
                "replyTo": {
                    "type": "string"
                },
                "subject": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetAccountInfoResponse": {
            "id": "GetAccountInfoResponse",
            "properties": {
                "kind": {
                    "default": "identitytoolkit#GetAccountInfoResponse",
                    "type": "string"
                },
                "users": {
                    "items": {
                        "$ref": "UserInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GetOobConfirmationCodeResponse": {
            "id": "GetOobConfirmationCodeResponse",
            "properties": {
                "email": {
                    "type": "string"
                },
                "kind": {
                    "default": "identitytoolkit#GetOobConfirmationCodeResponse",
                    "type": "string"
                },
                "oobCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetRecaptchaParamResponse": {
            "id": "GetRecaptchaParamResponse",
            "properties": {
                "kind": {
                    "default": "identitytoolkit#GetRecaptchaParamResponse",
                    "type": "string"
                },
                "recaptchaSiteKey": {
                    "type": "string"
                },
                "recaptchaStoken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
            "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
            "properties": {
                "appId": {
                    "type": "string"
                },
                "authFlowType": {
                    "type": "string"
                },
                "clientId": {
                    "type": "string"
                },
                "context": {
                    "type": "string"
                },
                "continueUri": {
                    "type": "string"
                },
                "customParameter": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "hostedDomain": {
                    "type": "string"
                },
                "identifier": {
                    "type": "string"
                },
                "oauthConsumerKey": {
                    "type": "string"
                },
                "oauthScope": {
                    "type": "string"
                },
                "openidRealm": {
                    "type": "string"
                },
                "otaApp": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "sessionId": {
                    "type": "string"
                },
                "tenantId": {
                    "type": "string"
                },
                "tenantProjectNumber": {
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
            "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
            "properties": {
                "delegatedProjectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
            "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
            "properties": {
                "delegatedProjectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "maxResults": {
                    "format": "uint32",
                    "type": "integer"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "targetProjectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
            "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
            "properties": {
                "email": {
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "oobCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
            "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
            "properties": {
                "delegatedProjectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "email": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "idToken": {
                    "type": "string"
                },
                "localId": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "phoneNumber": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
            "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
            "properties": {
                "allowPasswordUser": {
                    "type": "boolean"
                },
                "apiKey": {
                    "type": "string"
                },
                "authorizedDomains": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "changeEmailTemplate": {
                    "$ref": "EmailTemplate"
                },
                "dynamicLinksDomain": {
                    "type": "string"
                },
                "enableAnonymousUser": {
                    "type": "boolean"
                },
                "idpConfig": {
                    "items": {
                        "$ref": "IdpConfig"
                    },
                    "type": "array"
                },
                "legacyResetPasswordTemplate": {
                    "$ref": "EmailTemplate"
                },
                "projectId": {
                    "type": "string"
                },
                "resetPasswordTemplate": {
                    "$ref": "EmailTemplate"
                },
                "useEmailSending": {
                    "type": "boolean"
                },
                "verifyEmailTemplate": {
                    "$ref": "EmailTemplate"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
            "additionalProperties": {
                "type": "string"
            },
            "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyResetPasswordRequest": {
            "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
            "properties": {
                "email": {
                    "type": "string"
                },
                "newPassword": {
                    "type": "string"
                },
                "oldPassword": {
                    "type": "string"
                },
                "oobCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
            "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
            "properties": {
                "iosReceipt": {
                    "type": "string"
                },
                "iosSecret": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                },
                "recaptchaToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
            "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
            "properties": {
                "sessionInfo": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
            "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
            "properties": {
                "captchaChallenge": {
                    "type": "string"
                },
                "captchaResponse": {
                    "type": "string"
                },
                "createdAt": {
                    "format": "int64",
                    "type": "string"
                },
                "customAttributes": {
                    "type": "string"
                },
                "delegatedProjectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "deleteAttribute": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "deleteProvider": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "disableUser": {
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "emailVerified": {
                    "type": "boolean"
                },
                "idToken": {
                    "type": "string"
                },
                "instanceId": {
                    "type": "string"
                },
                "lastLoginAt": {
                    "format": "int64",
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                },
                "oobCode": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                },
                "photoUrl": {
                    "type": "string"
                },
                "provider": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "returnSecureToken": {
                    "type": "boolean"
                },
                "upgradeToFederatedLogin": {
                    "type": "boolean"
                },
                "validSince": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
            "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
            "properties": {
                "allowPasswordUser": {
                    "type": "boolean"
                },
                "apiKey": {
                    "type": "string"
                },
                "authorizedDomains": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "changeEmailTemplate": {
                    "$ref": "EmailTemplate"
                },
                "delegatedProjectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "enableAnonymousUser": {
                    "type": "boolean"
                },
                "idpConfig": {
                    "items": {
                        "$ref": "IdpConfig"
                    },
                    "type": "array"
                },
                "legacyResetPasswordTemplate": {
                    "$ref": "EmailTemplate"
                },
                "resetPasswordTemplate": {
                    "$ref": "EmailTemplate"
                },
                "useEmailSending": {
                    "type": "boolean"
                },
                "verifyEmailTemplate": {
                    "$ref": "EmailTemplate"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
            "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
            "properties": {
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartySignOutUserRequest": {
            "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
            "properties": {
                "instanceId": {
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartySignOutUserResponse": {
            "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
            "properties": {
                "localId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartySignupNewUserRequest": {
            "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
            "properties": {
                "captchaChallenge": {
                    "type": "string"
                },
                "captchaResponse": {
                    "type": "string"
                },
                "disabled": {
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "emailVerified": {
                    "type": "boolean"
                },
                "idToken": {
                    "type": "string"
                },
                "instanceId": {
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                },
                "photoUrl": {
                    "type": "string"
                },
                "tenantId": {
                    "type": "string"
                },
                "tenantProjectNumber": {
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyUploadAccountRequest": {
            "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
            "properties": {
                "allowOverwrite": {
                    "type": "boolean"
                },
                "blockSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "cpuMemCost": {
                    "format": "int32",
                    "type": "integer"
                },
                "delegatedProjectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "dkLen": {
                    "format": "int32",
                    "type": "integer"
                },
                "hashAlgorithm": {
                    "type": "string"
                },
                "memoryCost": {
                    "format": "int32",
                    "type": "integer"
                },
                "parallelization": {
                    "format": "int32",
                    "type": "integer"
                },
                "rounds": {
                    "format": "int32",
                    "type": "integer"
                },
                "saltSeparator": {
                    "format": "byte",
                    "type": "string"
                },
                "sanityCheck": {
                    "type": "boolean"
                },
                "signerKey": {
                    "format": "byte",
                    "type": "string"
                },
                "targetProjectId": {
                    "type": "string"
                },
                "users": {
                    "items": {
                        "$ref": "UserInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
            "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
            "properties": {
                "autoCreate": {
                    "type": "boolean"
                },
                "delegatedProjectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "instanceId": {
                    "type": "string"
                },
                "pendingIdToken": {
                    "type": "string"
                },
                "postBody": {
                    "type": "string"
                },
                "requestUri": {
                    "type": "string"
                },
                "returnIdpCredential": {
                    "type": "boolean"
                },
                "returnRefreshToken": {
                    "type": "boolean"
                },
                "returnSecureToken": {
                    "type": "boolean"
                },
                "sessionId": {
                    "type": "string"
                },
                "tenantId": {
                    "type": "string"
                },
                "tenantProjectNumber": {
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
            "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
            "properties": {
                "delegatedProjectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "instanceId": {
                    "type": "string"
                },
                "returnSecureToken": {
                    "type": "boolean"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
            "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
            "properties": {
                "captchaChallenge": {
                    "type": "string"
                },
                "captchaResponse": {
                    "type": "string"
                },
                "delegatedProjectNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "instanceId": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "pendingIdToken": {
                    "type": "string"
                },
                "returnSecureToken": {
                    "type": "boolean"
                },
                "tenantId": {
                    "type": "string"
                },
                "tenantProjectNumber": {
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
            "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
            "properties": {
                "code": {
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "operation": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                },
                "sessionInfo": {
                    "type": "string"
                },
                "temporaryProof": {
                    "type": "string"
                },
                "verificationProof": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
            "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
            "properties": {
                "expiresIn": {
                    "format": "int64",
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "isNewUser": {
                    "type": "boolean"
                },
                "localId": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                },
                "refreshToken": {
                    "type": "string"
                },
                "temporaryProof": {
                    "type": "string"
                },
                "temporaryProofExpiresIn": {
                    "format": "int64",
                    "type": "string"
                },
                "verificationProof": {
                    "type": "string"
                },
                "verificationProofExpiresIn": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IdpConfig": {
            "id": "IdpConfig",
            "properties": {
                "clientId": {
                    "type": "string"
                },
                "enabled": {
                    "type": "boolean"
                },
                "experimentPercent": {
                    "format": "int32",
                    "type": "integer"
                },
                "provider": {
                    "type": "string"
                },
                "secret": {
                    "type": "string"
                },
                "whitelistedAudiences": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Relyingparty": {
            "id": "Relyingparty",
            "properties": {
                "androidInstallApp": {
                    "type": "boolean"
                },
                "androidMinimumVersion": {
                    "type": "string"
                },
                "androidPackageName": {
                    "type": "string"
                },
                "canHandleCodeInApp": {
                    "type": "boolean"
                },
                "captchaResp": {
                    "type": "string"
                },
                "challenge": {
                    "type": "string"
                },
                "continueUrl": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "iOSAppStoreId": {
                    "type": "string"
                },
                "iOSBundleId": {
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "kind": {
                    "default": "identitytoolkit#relyingparty",
                    "type": "string"
                },
                "newEmail": {
                    "type": "string"
                },
                "requestType": {
                    "type": "string"
                },
                "userIp": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResetPasswordResponse": {
            "id": "ResetPasswordResponse",
            "properties": {
                "email": {
                    "type": "string"
                },
                "kind": {
                    "default": "identitytoolkit#ResetPasswordResponse",
                    "type": "string"
                },
                "newEmail": {
                    "type": "string"
                },
                "requestType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetAccountInfoResponse": {
            "id": "SetAccountInfoResponse",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "emailVerified": {
                    "type": "boolean"
                },
                "expiresIn": {
                    "format": "int64",
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "kind": {
                    "default": "identitytoolkit#SetAccountInfoResponse",
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                },
                "newEmail": {
                    "type": "string"
                },
                "passwordHash": {
                    "format": "byte",
                    "type": "string"
                },
                "photoUrl": {
                    "type": "string"
                },
                "providerUserInfo": {
                    "items": {
                        "properties": {
                            "displayName": {
                                "type": "string"
                            },
                            "federatedId": {
                                "type": "string"
                            },
                            "photoUrl": {
                                "type": "string"
                            },
                            "providerId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "refreshToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SignupNewUserResponse": {
            "id": "SignupNewUserResponse",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "expiresIn": {
                    "format": "int64",
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "kind": {
                    "default": "identitytoolkit#SignupNewUserResponse",
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                },
                "refreshToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UploadAccountResponse": {
            "id": "UploadAccountResponse",
            "properties": {
                "error": {
                    "items": {
                        "properties": {
                            "index": {
                                "format": "int32",
                                "type": "integer"
                            },
                            "message": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "identitytoolkit#UploadAccountResponse",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UserInfo": {
            "id": "UserInfo",
            "properties": {
                "createdAt": {
                    "format": "int64",
                    "type": "string"
                },
                "customAttributes": {
                    "type": "string"
                },
                "customAuth": {
                    "type": "boolean"
                },
                "disabled": {
                    "type": "boolean"
                },
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "emailVerified": {
                    "type": "boolean"
                },
                "lastLoginAt": {
                    "format": "int64",
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                },
                "passwordHash": {
                    "format": "byte",
                    "type": "string"
                },
                "passwordUpdatedAt": {
                    "format": "double",
                    "type": "number"
                },
                "phoneNumber": {
                    "type": "string"
                },
                "photoUrl": {
                    "type": "string"
                },
                "providerUserInfo": {
                    "items": {
                        "properties": {
                            "displayName": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string"
                            },
                            "federatedId": {
                                "type": "string"
                            },
                            "phoneNumber": {
                                "type": "string"
                            },
                            "photoUrl": {
                                "type": "string"
                            },
                            "providerId": {
                                "type": "string"
                            },
                            "rawId": {
                                "type": "string"
                            },
                            "screenName": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "rawPassword": {
                    "type": "string"
                },
                "salt": {
                    "format": "byte",
                    "type": "string"
                },
                "screenName": {
                    "type": "string"
                },
                "validSince": {
                    "format": "int64",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "VerifyAssertionResponse": {
            "id": "VerifyAssertionResponse",
            "properties": {
                "action": {
                    "type": "string"
                },
                "appInstallationUrl": {
                    "type": "string"
                },
                "appScheme": {
                    "type": "string"
                },
                "context": {
                    "type": "string"
                },
                "dateOfBirth": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "emailRecycled": {
                    "type": "boolean"
                },
                "emailVerified": {
                    "type": "boolean"
                },
                "errorMessage": {
                    "type": "string"
                },
                "expiresIn": {
                    "format": "int64",
                    "type": "string"
                },
                "federatedId": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "fullName": {
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "inputEmail": {
                    "type": "string"
                },
                "isNewUser": {
                    "type": "boolean"
                },
                "kind": {
                    "default": "identitytoolkit#VerifyAssertionResponse",
                    "type": "string"
                },
                "language": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                },
                "needConfirmation": {
                    "type": "boolean"
                },
                "needEmail": {
                    "type": "boolean"
                },
                "nickName": {
                    "type": "string"
                },
                "oauthAccessToken": {
                    "type": "string"
                },
                "oauthAuthorizationCode": {
                    "type": "string"
                },
                "oauthExpireIn": {
                    "format": "int32",
                    "type": "integer"
                },
                "oauthIdToken": {
                    "type": "string"
                },
                "oauthRequestToken": {
                    "type": "string"
                },
                "oauthScope": {
                    "type": "string"
                },
                "oauthTokenSecret": {
                    "type": "string"
                },
                "originalEmail": {
                    "type": "string"
                },
                "photoUrl": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "rawUserInfo": {
                    "type": "string"
                },
                "refreshToken": {
                    "type": "string"
                },
                "screenName": {
                    "type": "string"
                },
                "timeZone": {
                    "type": "string"
                },
                "verifiedProvider": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "VerifyCustomTokenResponse": {
            "id": "VerifyCustomTokenResponse",
            "properties": {
                "expiresIn": {
                    "format": "int64",
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "isNewUser": {
                    "type": "boolean"
                },
                "kind": {
                    "default": "identitytoolkit#VerifyCustomTokenResponse",
                    "type": "string"
                },
                "refreshToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VerifyPasswordResponse": {
            "id": "VerifyPasswordResponse",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "expiresIn": {
                    "format": "int64",
                    "type": "string"
                },
                "idToken": {
                    "type": "string"
                },
                "kind": {
                    "default": "identitytoolkit#VerifyPasswordResponse",
                    "type": "string"
                },
                "localId": {
                    "type": "string"
                },
                "oauthAccessToken": {
                    "type": "string"
                },
                "oauthAuthorizationCode": {
                    "type": "string"
                },
                "oauthExpireIn": {
                    "format": "int32",
                    "type": "integer"
                },
                "photoUrl": {
                    "type": "string"
                },
                "refreshToken": {
                    "type": "string"
                },
                "registered": {
                    "type": "boolean"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "identitytoolkit/v3/relyingparty/",
    "title": "Google Identity Toolkit API",
    "version": "v3"
}