{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/jobs": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://jobs.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Talent Solution",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/talent-solution/job-search/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "jobs:v3",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://jobs.mtls.googleapis.com/",
    "name": "jobs",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "complete": {
                    "flatPath": "v3/projects/{projectsId}:complete",
                    "httpMethod": "GET",
                    "id": "jobs.projects.complete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "companyName": {
                            "location": "query",
                            "type": "string"
                        },
                        "languageCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "languageCodes": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        },
                        "scope": {
                            "enum": [
                                "COMPLETION_SCOPE_UNSPECIFIED",
                                "TENANT",
                                "PUBLIC"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "type": {
                            "enum": [
                                "COMPLETION_TYPE_UNSPECIFIED",
                                "JOB_TITLE",
                                "COMPANY_NAME",
                                "COMBINED"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v3/{+name}:complete",
                    "response": {
                        "$ref": "CompleteQueryResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/jobs"
                    ]
                }
            },
            "resources": {
                "clientEvents": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/clientEvents",
                            "httpMethod": "POST",
                            "id": "jobs.projects.clientEvents.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/clientEvents",
                            "request": {
                                "$ref": "CreateClientEventRequest"
                            },
                            "response": {
                                "$ref": "ClientEvent"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        }
                    }
                },
                "companies": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/companies",
                            "httpMethod": "POST",
                            "id": "jobs.projects.companies.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/companies",
                            "request": {
                                "$ref": "CreateCompanyRequest"
                            },
                            "response": {
                                "$ref": "Company"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "delete": {
                            "flatPath": "v3/projects/{projectsId}/companies/{companiesId}",
                            "httpMethod": "DELETE",
                            "id": "jobs.projects.companies.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/companies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/companies/{companiesId}",
                            "httpMethod": "GET",
                            "id": "jobs.projects.companies.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/companies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Company"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/companies",
                            "httpMethod": "GET",
                            "id": "jobs.projects.companies.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "requireOpenJobs": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v3/{+parent}/companies",
                            "response": {
                                "$ref": "ListCompaniesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "patch": {
                            "flatPath": "v3/projects/{projectsId}/companies/{companiesId}",
                            "httpMethod": "PATCH",
                            "id": "jobs.projects.companies.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/companies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "request": {
                                "$ref": "UpdateCompanyRequest"
                            },
                            "response": {
                                "$ref": "Company"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        }
                    }
                },
                "jobs": {
                    "methods": {
                        "batchDelete": {
                            "flatPath": "v3/projects/{projectsId}/jobs:batchDelete",
                            "httpMethod": "POST",
                            "id": "jobs.projects.jobs.batchDelete",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/jobs:batchDelete",
                            "request": {
                                "$ref": "BatchDeleteJobsRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/jobs",
                            "httpMethod": "POST",
                            "id": "jobs.projects.jobs.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/jobs",
                            "request": {
                                "$ref": "CreateJobRequest"
                            },
                            "response": {
                                "$ref": "Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "delete": {
                            "flatPath": "v3/projects/{projectsId}/jobs/{jobsId}",
                            "httpMethod": "DELETE",
                            "id": "jobs.projects.jobs.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/jobs/{jobsId}",
                            "httpMethod": "GET",
                            "id": "jobs.projects.jobs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/jobs",
                            "httpMethod": "GET",
                            "id": "jobs.projects.jobs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "jobView": {
                                    "enum": [
                                        "JOB_VIEW_UNSPECIFIED",
                                        "JOB_VIEW_ID_ONLY",
                                        "JOB_VIEW_MINIMAL",
                                        "JOB_VIEW_SMALL",
                                        "JOB_VIEW_FULL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/jobs",
                            "response": {
                                "$ref": "ListJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "patch": {
                            "flatPath": "v3/projects/{projectsId}/jobs/{jobsId}",
                            "httpMethod": "PATCH",
                            "id": "jobs.projects.jobs.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "request": {
                                "$ref": "UpdateJobRequest"
                            },
                            "response": {
                                "$ref": "Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "search": {
                            "flatPath": "v3/projects/{projectsId}/jobs:search",
                            "httpMethod": "POST",
                            "id": "jobs.projects.jobs.search",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/jobs:search",
                            "request": {
                                "$ref": "SearchJobsRequest"
                            },
                            "response": {
                                "$ref": "SearchJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        },
                        "searchForAlert": {
                            "flatPath": "v3/projects/{projectsId}/jobs:searchForAlert",
                            "httpMethod": "POST",
                            "id": "jobs.projects.jobs.searchForAlert",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/jobs:searchForAlert",
                            "request": {
                                "$ref": "SearchJobsRequest"
                            },
                            "response": {
                                "$ref": "SearchJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/jobs"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://jobs.googleapis.com/",
    "schemas": {
        "ApplicationInfo": {
            "id": "ApplicationInfo",
            "properties": {
                "emails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "instruction": {
                    "type": "string"
                },
                "uris": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchDeleteJobsRequest": {
            "id": "BatchDeleteJobsRequest",
            "properties": {
                "filter": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BucketRange": {
            "id": "BucketRange",
            "properties": {
                "from": {
                    "format": "double",
                    "type": "number"
                },
                "to": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "BucketizedCount": {
            "id": "BucketizedCount",
            "properties": {
                "count": {
                    "format": "int32",
                    "type": "integer"
                },
                "range": {
                    "$ref": "BucketRange"
                }
            },
            "type": "object"
        },
        "ClientEvent": {
            "id": "ClientEvent",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "eventId": {
                    "type": "string"
                },
                "extraInfo": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "jobEvent": {
                    "$ref": "JobEvent"
                },
                "parentEventId": {
                    "type": "string"
                },
                "requestId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CommuteFilter": {
            "id": "CommuteFilter",
            "properties": {
                "allowImpreciseAddresses": {
                    "type": "boolean"
                },
                "commuteMethod": {
                    "enum": [
                        "COMMUTE_METHOD_UNSPECIFIED",
                        "DRIVING",
                        "TRANSIT"
                    ],
                    "type": "string"
                },
                "departureTime": {
                    "$ref": "TimeOfDay"
                },
                "roadTraffic": {
                    "enum": [
                        "ROAD_TRAFFIC_UNSPECIFIED",
                        "TRAFFIC_FREE",
                        "BUSY_HOUR"
                    ],
                    "type": "string"
                },
                "startCoordinates": {
                    "$ref": "LatLng"
                },
                "travelDuration": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CommuteInfo": {
            "id": "CommuteInfo",
            "properties": {
                "jobLocation": {
                    "$ref": "Location"
                },
                "travelDuration": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Company": {
            "id": "Company",
            "properties": {
                "careerSiteUri": {
                    "type": "string"
                },
                "derivedInfo": {
                    "$ref": "CompanyDerivedInfo"
                },
                "displayName": {
                    "type": "string"
                },
                "eeoText": {
                    "type": "string"
                },
                "externalId": {
                    "type": "string"
                },
                "headquartersAddress": {
                    "type": "string"
                },
                "hiringAgency": {
                    "type": "boolean"
                },
                "imageUri": {
                    "type": "string"
                },
                "keywordSearchableJobCustomAttributes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "size": {
                    "enum": [
                        "COMPANY_SIZE_UNSPECIFIED",
                        "MINI",
                        "SMALL",
                        "SMEDIUM",
                        "MEDIUM",
                        "BIG",
                        "BIGGER",
                        "GIANT"
                    ],
                    "type": "string"
                },
                "suspended": {
                    "type": "boolean"
                },
                "websiteUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CompanyDerivedInfo": {
            "id": "CompanyDerivedInfo",
            "properties": {
                "headquartersLocation": {
                    "$ref": "Location"
                }
            },
            "type": "object"
        },
        "CompensationEntry": {
            "id": "CompensationEntry",
            "properties": {
                "amount": {
                    "$ref": "Money"
                },
                "expectedUnitsPerYear": {
                    "format": "double",
                    "type": "number"
                },
                "range": {
                    "$ref": "CompensationRange"
                },
                "type": {
                    "enum": [
                        "COMPENSATION_TYPE_UNSPECIFIED",
                        "BASE",
                        "BONUS",
                        "SIGNING_BONUS",
                        "EQUITY",
                        "PROFIT_SHARING",
                        "COMMISSIONS",
                        "TIPS",
                        "OTHER_COMPENSATION_TYPE"
                    ],
                    "type": "string"
                },
                "unit": {
                    "enum": [
                        "COMPENSATION_UNIT_UNSPECIFIED",
                        "HOURLY",
                        "DAILY",
                        "WEEKLY",
                        "MONTHLY",
                        "YEARLY",
                        "ONE_TIME",
                        "OTHER_COMPENSATION_UNIT"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CompensationFilter": {
            "id": "CompensationFilter",
            "properties": {
                "includeJobsWithUnspecifiedCompensationRange": {
                    "type": "boolean"
                },
                "range": {
                    "$ref": "CompensationRange"
                },
                "type": {
                    "enum": [
                        "FILTER_TYPE_UNSPECIFIED",
                        "UNIT_ONLY",
                        "UNIT_AND_AMOUNT",
                        "ANNUALIZED_BASE_AMOUNT",
                        "ANNUALIZED_TOTAL_AMOUNT"
                    ],
                    "type": "string"
                },
                "units": {
                    "items": {
                        "enum": [
                            "COMPENSATION_UNIT_UNSPECIFIED",
                            "HOURLY",
                            "DAILY",
                            "WEEKLY",
                            "MONTHLY",
                            "YEARLY",
                            "ONE_TIME",
                            "OTHER_COMPENSATION_UNIT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CompensationHistogramRequest": {
            "id": "CompensationHistogramRequest",
            "properties": {
                "bucketingOption": {
                    "$ref": "NumericBucketingOption"
                },
                "type": {
                    "enum": [
                        "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
                        "BASE",
                        "ANNUALIZED_BASE",
                        "ANNUALIZED_TOTAL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CompensationHistogramResult": {
            "id": "CompensationHistogramResult",
            "properties": {
                "result": {
                    "$ref": "NumericBucketingResult"
                },
                "type": {
                    "enum": [
                        "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
                        "BASE",
                        "ANNUALIZED_BASE",
                        "ANNUALIZED_TOTAL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CompensationInfo": {
            "id": "CompensationInfo",
            "properties": {
                "annualizedBaseCompensationRange": {
                    "$ref": "CompensationRange"
                },
                "annualizedTotalCompensationRange": {
                    "$ref": "CompensationRange"
                },
                "entries": {
                    "items": {
                        "$ref": "CompensationEntry"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CompensationRange": {
            "id": "CompensationRange",
            "properties": {
                "maxCompensation": {
                    "$ref": "Money"
                },
                "minCompensation": {
                    "$ref": "Money"
                }
            },
            "type": "object"
        },
        "CompleteQueryResponse": {
            "id": "CompleteQueryResponse",
            "properties": {
                "completionResults": {
                    "items": {
                        "$ref": "CompletionResult"
                    },
                    "type": "array"
                },
                "metadata": {
                    "$ref": "ResponseMetadata"
                }
            },
            "type": "object"
        },
        "CompletionResult": {
            "id": "CompletionResult",
            "properties": {
                "imageUri": {
                    "type": "string"
                },
                "suggestion": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "COMPLETION_TYPE_UNSPECIFIED",
                        "JOB_TITLE",
                        "COMPANY_NAME",
                        "COMBINED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateClientEventRequest": {
            "id": "CreateClientEventRequest",
            "properties": {
                "clientEvent": {
                    "$ref": "ClientEvent"
                }
            },
            "type": "object"
        },
        "CreateCompanyRequest": {
            "id": "CreateCompanyRequest",
            "properties": {
                "company": {
                    "$ref": "Company"
                }
            },
            "type": "object"
        },
        "CreateJobRequest": {
            "id": "CreateJobRequest",
            "properties": {
                "job": {
                    "$ref": "Job"
                }
            },
            "type": "object"
        },
        "CustomAttribute": {
            "id": "CustomAttribute",
            "properties": {
                "filterable": {
                    "type": "boolean"
                },
                "longValues": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "stringValues": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomAttributeHistogramRequest": {
            "id": "CustomAttributeHistogramRequest",
            "properties": {
                "key": {
                    "type": "string"
                },
                "longValueHistogramBucketingOption": {
                    "$ref": "NumericBucketingOption"
                },
                "stringValueHistogram": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CustomAttributeHistogramResult": {
            "id": "CustomAttributeHistogramResult",
            "properties": {
                "key": {
                    "type": "string"
                },
                "longValueHistogramResult": {
                    "$ref": "NumericBucketingResult"
                },
                "stringValueHistogramResult": {
                    "additionalProperties": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "DeviceInfo": {
            "id": "DeviceInfo",
            "properties": {
                "deviceType": {
                    "enum": [
                        "DEVICE_TYPE_UNSPECIFIED",
                        "WEB",
                        "MOBILE_WEB",
                        "ANDROID",
                        "IOS",
                        "BOT",
                        "OTHER"
                    ],
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "HistogramFacets": {
            "id": "HistogramFacets",
            "properties": {
                "compensationHistogramFacets": {
                    "items": {
                        "$ref": "CompensationHistogramRequest"
                    },
                    "type": "array"
                },
                "customAttributeHistogramFacets": {
                    "items": {
                        "$ref": "CustomAttributeHistogramRequest"
                    },
                    "type": "array"
                },
                "simpleHistogramFacets": {
                    "items": {
                        "enum": [
                            "SEARCH_TYPE_UNSPECIFIED",
                            "COMPANY_ID",
                            "EMPLOYMENT_TYPE",
                            "COMPANY_SIZE",
                            "DATE_PUBLISHED",
                            "EDUCATION_LEVEL",
                            "EXPERIENCE_LEVEL",
                            "ADMIN_1",
                            "COUNTRY",
                            "CITY",
                            "LOCALE",
                            "LANGUAGE",
                            "CATEGORY",
                            "CITY_COORDINATE",
                            "ADMIN_1_COUNTRY",
                            "COMPANY_DISPLAY_NAME",
                            "BASE_COMPENSATION_UNIT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "HistogramResult": {
            "id": "HistogramResult",
            "properties": {
                "searchType": {
                    "enum": [
                        "SEARCH_TYPE_UNSPECIFIED",
                        "COMPANY_ID",
                        "EMPLOYMENT_TYPE",
                        "COMPANY_SIZE",
                        "DATE_PUBLISHED",
                        "EDUCATION_LEVEL",
                        "EXPERIENCE_LEVEL",
                        "ADMIN_1",
                        "COUNTRY",
                        "CITY",
                        "LOCALE",
                        "LANGUAGE",
                        "CATEGORY",
                        "CITY_COORDINATE",
                        "ADMIN_1_COUNTRY",
                        "COMPANY_DISPLAY_NAME",
                        "BASE_COMPENSATION_UNIT"
                    ],
                    "type": "string"
                },
                "values": {
                    "additionalProperties": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "HistogramResults": {
            "id": "HistogramResults",
            "properties": {
                "compensationHistogramResults": {
                    "items": {
                        "$ref": "CompensationHistogramResult"
                    },
                    "type": "array"
                },
                "customAttributeHistogramResults": {
                    "items": {
                        "$ref": "CustomAttributeHistogramResult"
                    },
                    "type": "array"
                },
                "simpleHistogramResults": {
                    "items": {
                        "$ref": "HistogramResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Job": {
            "id": "Job",
            "properties": {
                "addresses": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "applicationInfo": {
                    "$ref": "ApplicationInfo"
                },
                "companyDisplayName": {
                    "type": "string"
                },
                "companyName": {
                    "type": "string"
                },
                "compensationInfo": {
                    "$ref": "CompensationInfo"
                },
                "customAttributes": {
                    "additionalProperties": {
                        "$ref": "CustomAttribute"
                    },
                    "type": "object"
                },
                "degreeTypes": {
                    "items": {
                        "enum": [
                            "DEGREE_TYPE_UNSPECIFIED",
                            "PRIMARY_EDUCATION",
                            "LOWER_SECONDARY_EDUCATION",
                            "UPPER_SECONDARY_EDUCATION",
                            "ADULT_REMEDIAL_EDUCATION",
                            "ASSOCIATES_OR_EQUIVALENT",
                            "BACHELORS_OR_EQUIVALENT",
                            "MASTERS_OR_EQUIVALENT",
                            "DOCTORAL_OR_EQUIVALENT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "department": {
                    "type": "string"
                },
                "derivedInfo": {
                    "$ref": "JobDerivedInfo"
                },
                "employmentTypes": {
                    "items": {
                        "enum": [
                            "EMPLOYMENT_TYPE_UNSPECIFIED",
                            "FULL_TIME",
                            "PART_TIME",
                            "CONTRACTOR",
                            "CONTRACT_TO_HIRE",
                            "TEMPORARY",
                            "INTERN",
                            "VOLUNTEER",
                            "PER_DIEM",
                            "FLY_IN_FLY_OUT",
                            "OTHER_EMPLOYMENT_TYPE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "incentives": {
                    "type": "string"
                },
                "jobBenefits": {
                    "items": {
                        "enum": [
                            "JOB_BENEFIT_UNSPECIFIED",
                            "CHILD_CARE",
                            "DENTAL",
                            "DOMESTIC_PARTNER",
                            "FLEXIBLE_HOURS",
                            "MEDICAL",
                            "LIFE_INSURANCE",
                            "PARENTAL_LEAVE",
                            "RETIREMENT_PLAN",
                            "SICK_DAYS",
                            "VACATION",
                            "VISION"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "jobEndTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "jobLevel": {
                    "enum": [
                        "JOB_LEVEL_UNSPECIFIED",
                        "ENTRY_LEVEL",
                        "EXPERIENCED",
                        "MANAGER",
                        "DIRECTOR",
                        "EXECUTIVE"
                    ],
                    "type": "string"
                },
                "jobStartTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "postingCreateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "postingExpireTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "postingPublishTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "postingRegion": {
                    "enum": [
                        "POSTING_REGION_UNSPECIFIED",
                        "ADMINISTRATIVE_AREA",
                        "NATION",
                        "TELECOMMUTE"
                    ],
                    "type": "string"
                },
                "postingUpdateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "processingOptions": {
                    "$ref": "ProcessingOptions"
                },
                "promotionValue": {
                    "format": "int32",
                    "type": "integer"
                },
                "qualifications": {
                    "type": "string"
                },
                "requisitionId": {
                    "type": "string"
                },
                "responsibilities": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "visibility": {
                    "enum": [
                        "VISIBILITY_UNSPECIFIED",
                        "ACCOUNT_ONLY",
                        "SHARED_WITH_GOOGLE",
                        "SHARED_WITH_PUBLIC"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobDerivedInfo": {
            "id": "JobDerivedInfo",
            "properties": {
                "jobCategories": {
                    "items": {
                        "enum": [
                            "JOB_CATEGORY_UNSPECIFIED",
                            "ACCOUNTING_AND_FINANCE",
                            "ADMINISTRATIVE_AND_OFFICE",
                            "ADVERTISING_AND_MARKETING",
                            "ANIMAL_CARE",
                            "ART_FASHION_AND_DESIGN",
                            "BUSINESS_OPERATIONS",
                            "CLEANING_AND_FACILITIES",
                            "COMPUTER_AND_IT",
                            "CONSTRUCTION",
                            "CUSTOMER_SERVICE",
                            "EDUCATION",
                            "ENTERTAINMENT_AND_TRAVEL",
                            "FARMING_AND_OUTDOORS",
                            "HEALTHCARE",
                            "HUMAN_RESOURCES",
                            "INSTALLATION_MAINTENANCE_AND_REPAIR",
                            "LEGAL",
                            "MANAGEMENT",
                            "MANUFACTURING_AND_WAREHOUSE",
                            "MEDIA_COMMUNICATIONS_AND_WRITING",
                            "OIL_GAS_AND_MINING",
                            "PERSONAL_CARE_AND_SERVICES",
                            "PROTECTIVE_SERVICES",
                            "REAL_ESTATE",
                            "RESTAURANT_AND_HOSPITALITY",
                            "SALES_AND_RETAIL",
                            "SCIENCE_AND_ENGINEERING",
                            "SOCIAL_SERVICES_AND_NON_PROFIT",
                            "SPORTS_FITNESS_AND_RECREATION",
                            "TRANSPORTATION_AND_LOGISTICS"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "JobEvent": {
            "id": "JobEvent",
            "properties": {
                "jobs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "type": {
                    "enum": [
                        "JOB_EVENT_TYPE_UNSPECIFIED",
                        "IMPRESSION",
                        "VIEW",
                        "VIEW_REDIRECT",
                        "APPLICATION_START",
                        "APPLICATION_FINISH",
                        "APPLICATION_QUICK_SUBMISSION",
                        "APPLICATION_REDIRECT",
                        "APPLICATION_START_FROM_SEARCH",
                        "APPLICATION_REDIRECT_FROM_SEARCH",
                        "APPLICATION_COMPANY_SUBMIT",
                        "BOOKMARK",
                        "NOTIFICATION",
                        "HIRED",
                        "SENT_CV",
                        "INTERVIEW_GRANTED",
                        "NOT_INTERESTED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobQuery": {
            "id": "JobQuery",
            "properties": {
                "commuteFilter": {
                    "$ref": "CommuteFilter"
                },
                "companyDisplayNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "companyNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "compensationFilter": {
                    "$ref": "CompensationFilter"
                },
                "customAttributeFilter": {
                    "type": "string"
                },
                "disableSpellCheck": {
                    "type": "boolean"
                },
                "employmentTypes": {
                    "items": {
                        "enum": [
                            "EMPLOYMENT_TYPE_UNSPECIFIED",
                            "FULL_TIME",
                            "PART_TIME",
                            "CONTRACTOR",
                            "CONTRACT_TO_HIRE",
                            "TEMPORARY",
                            "INTERN",
                            "VOLUNTEER",
                            "PER_DIEM",
                            "FLY_IN_FLY_OUT",
                            "OTHER_EMPLOYMENT_TYPE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "jobCategories": {
                    "items": {
                        "enum": [
                            "JOB_CATEGORY_UNSPECIFIED",
                            "ACCOUNTING_AND_FINANCE",
                            "ADMINISTRATIVE_AND_OFFICE",
                            "ADVERTISING_AND_MARKETING",
                            "ANIMAL_CARE",
                            "ART_FASHION_AND_DESIGN",
                            "BUSINESS_OPERATIONS",
                            "CLEANING_AND_FACILITIES",
                            "COMPUTER_AND_IT",
                            "CONSTRUCTION",
                            "CUSTOMER_SERVICE",
                            "EDUCATION",
                            "ENTERTAINMENT_AND_TRAVEL",
                            "FARMING_AND_OUTDOORS",
                            "HEALTHCARE",
                            "HUMAN_RESOURCES",
                            "INSTALLATION_MAINTENANCE_AND_REPAIR",
                            "LEGAL",
                            "MANAGEMENT",
                            "MANUFACTURING_AND_WAREHOUSE",
                            "MEDIA_COMMUNICATIONS_AND_WRITING",
                            "OIL_GAS_AND_MINING",
                            "PERSONAL_CARE_AND_SERVICES",
                            "PROTECTIVE_SERVICES",
                            "REAL_ESTATE",
                            "RESTAURANT_AND_HOSPITALITY",
                            "SALES_AND_RETAIL",
                            "SCIENCE_AND_ENGINEERING",
                            "SOCIAL_SERVICES_AND_NON_PROFIT",
                            "SPORTS_FITNESS_AND_RECREATION",
                            "TRANSPORTATION_AND_LOGISTICS"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "languageCodes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "locationFilters": {
                    "items": {
                        "$ref": "LocationFilter"
                    },
                    "type": "array"
                },
                "publishTimeRange": {
                    "$ref": "TimestampRange"
                },
                "query": {
                    "type": "string"
                },
                "queryLanguageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LatLng": {
            "id": "LatLng",
            "properties": {
                "latitude": {
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ListCompaniesResponse": {
            "id": "ListCompaniesResponse",
            "properties": {
                "companies": {
                    "items": {
                        "$ref": "Company"
                    },
                    "type": "array"
                },
                "metadata": {
                    "$ref": "ResponseMetadata"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListJobsResponse": {
            "id": "ListJobsResponse",
            "properties": {
                "jobs": {
                    "items": {
                        "$ref": "Job"
                    },
                    "type": "array"
                },
                "metadata": {
                    "$ref": "ResponseMetadata"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "latLng": {
                    "$ref": "LatLng"
                },
                "locationType": {
                    "enum": [
                        "LOCATION_TYPE_UNSPECIFIED",
                        "COUNTRY",
                        "ADMINISTRATIVE_AREA",
                        "SUB_ADMINISTRATIVE_AREA",
                        "LOCALITY",
                        "POSTAL_CODE",
                        "SUB_LOCALITY",
                        "SUB_LOCALITY_1",
                        "SUB_LOCALITY_2",
                        "NEIGHBORHOOD",
                        "STREET_ADDRESS"
                    ],
                    "type": "string"
                },
                "postalAddress": {
                    "$ref": "PostalAddress"
                },
                "radiusInMiles": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "LocationFilter": {
            "id": "LocationFilter",
            "properties": {
                "address": {
                    "type": "string"
                },
                "distanceInMiles": {
                    "format": "double",
                    "type": "number"
                },
                "latLng": {
                    "$ref": "LatLng"
                },
                "regionCode": {
                    "type": "string"
                },
                "telecommutePreference": {
                    "enum": [
                        "TELECOMMUTE_PREFERENCE_UNSPECIFIED",
                        "TELECOMMUTE_EXCLUDED",
                        "TELECOMMUTE_ALLOWED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MatchingJob": {
            "id": "MatchingJob",
            "properties": {
                "commuteInfo": {
                    "$ref": "CommuteInfo"
                },
                "job": {
                    "$ref": "Job"
                },
                "jobSummary": {
                    "type": "string"
                },
                "jobTitleSnippet": {
                    "type": "string"
                },
                "searchTextSnippet": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MendelDebugInput": {
            "id": "MendelDebugInput",
            "properties": {
                "namespacedDebugInput": {
                    "additionalProperties": {
                        "$ref": "NamespacedDebugInput"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Money": {
            "id": "Money",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "units": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NamespacedDebugInput": {
            "id": "NamespacedDebugInput",
            "properties": {
                "absolutelyForcedExpNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "absolutelyForcedExpTags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "absolutelyForcedExps": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "conditionallyForcedExpNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "conditionallyForcedExpTags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "conditionallyForcedExps": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "disableAutomaticEnrollmentSelection": {
                    "type": "boolean"
                },
                "disableExpNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "disableExpTags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "disableExps": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "disableManualEnrollmentSelection": {
                    "type": "boolean"
                },
                "disableOrganicSelection": {
                    "type": "boolean"
                },
                "forcedFlags": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "forcedRollouts": {
                    "additionalProperties": {
                        "type": "boolean"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "NumericBucketingOption": {
            "id": "NumericBucketingOption",
            "properties": {
                "bucketBounds": {
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                },
                "requiresMinMax": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "NumericBucketingResult": {
            "id": "NumericBucketingResult",
            "properties": {
                "counts": {
                    "items": {
                        "$ref": "BucketizedCount"
                    },
                    "type": "array"
                },
                "maxValue": {
                    "format": "double",
                    "type": "number"
                },
                "minValue": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "PostalAddress": {
            "id": "PostalAddress",
            "properties": {
                "addressLines": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "administrativeArea": {
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                },
                "locality": {
                    "type": "string"
                },
                "organization": {
                    "type": "string"
                },
                "postalCode": {
                    "type": "string"
                },
                "recipients": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "regionCode": {
                    "type": "string"
                },
                "revision": {
                    "format": "int32",
                    "type": "integer"
                },
                "sortingCode": {
                    "type": "string"
                },
                "sublocality": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ProcessingOptions": {
            "id": "ProcessingOptions",
            "properties": {
                "disableStreetAddressResolution": {
                    "type": "boolean"
                },
                "htmlSanitization": {
                    "enum": [
                        "HTML_SANITIZATION_UNSPECIFIED",
                        "HTML_SANITIZATION_DISABLED",
                        "SIMPLE_FORMATTING_ONLY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RequestMetadata": {
            "id": "RequestMetadata",
            "properties": {
                "deviceInfo": {
                    "$ref": "DeviceInfo"
                },
                "domain": {
                    "type": "string"
                },
                "sessionId": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResponseMetadata": {
            "id": "ResponseMetadata",
            "properties": {
                "requestId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchJobsRequest": {
            "id": "SearchJobsRequest",
            "properties": {
                "disableKeywordMatch": {
                    "type": "boolean"
                },
                "diversificationLevel": {
                    "enum": [
                        "DIVERSIFICATION_LEVEL_UNSPECIFIED",
                        "DISABLED",
                        "SIMPLE"
                    ],
                    "type": "string"
                },
                "enableBroadening": {
                    "type": "boolean"
                },
                "histogramFacets": {
                    "$ref": "HistogramFacets"
                },
                "jobQuery": {
                    "$ref": "JobQuery"
                },
                "jobView": {
                    "enum": [
                        "JOB_VIEW_UNSPECIFIED",
                        "JOB_VIEW_ID_ONLY",
                        "JOB_VIEW_MINIMAL",
                        "JOB_VIEW_SMALL",
                        "JOB_VIEW_FULL"
                    ],
                    "type": "string"
                },
                "offset": {
                    "format": "int32",
                    "type": "integer"
                },
                "orderBy": {
                    "type": "string"
                },
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                },
                "requestMetadata": {
                    "$ref": "RequestMetadata"
                },
                "requirePreciseResultSize": {
                    "type": "boolean"
                },
                "searchMode": {
                    "enum": [
                        "SEARCH_MODE_UNSPECIFIED",
                        "JOB_SEARCH",
                        "FEATURED_JOB_SEARCH"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchJobsResponse": {
            "id": "SearchJobsResponse",
            "properties": {
                "broadenedQueryJobsCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "estimatedTotalSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "histogramResults": {
                    "$ref": "HistogramResults"
                },
                "locationFilters": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "matchingJobs": {
                    "items": {
                        "$ref": "MatchingJob"
                    },
                    "type": "array"
                },
                "metadata": {
                    "$ref": "ResponseMetadata"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "spellCorrection": {
                    "$ref": "SpellingCorrection"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SpellingCorrection": {
            "id": "SpellingCorrection",
            "properties": {
                "corrected": {
                    "type": "boolean"
                },
                "correctedText": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TimeOfDay": {
            "id": "TimeOfDay",
            "properties": {
                "hours": {
                    "format": "int32",
                    "type": "integer"
                },
                "minutes": {
                    "format": "int32",
                    "type": "integer"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "seconds": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TimestampRange": {
            "id": "TimestampRange",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateCompanyRequest": {
            "id": "UpdateCompanyRequest",
            "properties": {
                "company": {
                    "$ref": "Company"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateJobRequest": {
            "id": "UpdateJobRequest",
            "properties": {
                "job": {
                    "$ref": "Job"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Talent Solution API",
    "version": "v3",
    "version_module": true
}