{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-language": {},
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://language.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Natural Language",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/natural-language/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "language:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://language.mtls.googleapis.com/",
    "name": "language",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "documents": {
            "methods": {
                "analyzeEntities": {
                    "flatPath": "v1/documents:analyzeEntities",
                    "httpMethod": "POST",
                    "id": "language.documents.analyzeEntities",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/documents:analyzeEntities",
                    "request": {
                        "$ref": "AnalyzeEntitiesRequest"
                    },
                    "response": {
                        "$ref": "AnalyzeEntitiesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-language",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "analyzeEntitySentiment": {
                    "flatPath": "v1/documents:analyzeEntitySentiment",
                    "httpMethod": "POST",
                    "id": "language.documents.analyzeEntitySentiment",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/documents:analyzeEntitySentiment",
                    "request": {
                        "$ref": "AnalyzeEntitySentimentRequest"
                    },
                    "response": {
                        "$ref": "AnalyzeEntitySentimentResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-language",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "analyzeSentiment": {
                    "flatPath": "v1/documents:analyzeSentiment",
                    "httpMethod": "POST",
                    "id": "language.documents.analyzeSentiment",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/documents:analyzeSentiment",
                    "request": {
                        "$ref": "AnalyzeSentimentRequest"
                    },
                    "response": {
                        "$ref": "AnalyzeSentimentResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-language",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "analyzeSyntax": {
                    "flatPath": "v1/documents:analyzeSyntax",
                    "httpMethod": "POST",
                    "id": "language.documents.analyzeSyntax",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/documents:analyzeSyntax",
                    "request": {
                        "$ref": "AnalyzeSyntaxRequest"
                    },
                    "response": {
                        "$ref": "AnalyzeSyntaxResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-language",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "annotateText": {
                    "flatPath": "v1/documents:annotateText",
                    "httpMethod": "POST",
                    "id": "language.documents.annotateText",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/documents:annotateText",
                    "request": {
                        "$ref": "AnnotateTextRequest"
                    },
                    "response": {
                        "$ref": "AnnotateTextResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-language",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "classifyText": {
                    "flatPath": "v1/documents:classifyText",
                    "httpMethod": "POST",
                    "id": "language.documents.classifyText",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/documents:classifyText",
                    "request": {
                        "$ref": "ClassifyTextRequest"
                    },
                    "response": {
                        "$ref": "ClassifyTextResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-language",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://language.googleapis.com/",
    "schemas": {
        "AnalyzeEntitiesRequest": {
            "id": "AnalyzeEntitiesRequest",
            "properties": {
                "document": {
                    "$ref": "Document"
                },
                "encodingType": {
                    "enum": [
                        "NONE",
                        "UTF8",
                        "UTF16",
                        "UTF32"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AnalyzeEntitiesResponse": {
            "id": "AnalyzeEntitiesResponse",
            "properties": {
                "entities": {
                    "items": {
                        "$ref": "Entity"
                    },
                    "type": "array"
                },
                "language": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AnalyzeEntitySentimentRequest": {
            "id": "AnalyzeEntitySentimentRequest",
            "properties": {
                "document": {
                    "$ref": "Document"
                },
                "encodingType": {
                    "enum": [
                        "NONE",
                        "UTF8",
                        "UTF16",
                        "UTF32"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AnalyzeEntitySentimentResponse": {
            "id": "AnalyzeEntitySentimentResponse",
            "properties": {
                "entities": {
                    "items": {
                        "$ref": "Entity"
                    },
                    "type": "array"
                },
                "language": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AnalyzeSentimentRequest": {
            "id": "AnalyzeSentimentRequest",
            "properties": {
                "document": {
                    "$ref": "Document"
                },
                "encodingType": {
                    "enum": [
                        "NONE",
                        "UTF8",
                        "UTF16",
                        "UTF32"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AnalyzeSentimentResponse": {
            "id": "AnalyzeSentimentResponse",
            "properties": {
                "documentSentiment": {
                    "$ref": "Sentiment"
                },
                "language": {
                    "type": "string"
                },
                "sentences": {
                    "items": {
                        "$ref": "Sentence"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AnalyzeSyntaxRequest": {
            "id": "AnalyzeSyntaxRequest",
            "properties": {
                "document": {
                    "$ref": "Document"
                },
                "encodingType": {
                    "enum": [
                        "NONE",
                        "UTF8",
                        "UTF16",
                        "UTF32"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AnalyzeSyntaxResponse": {
            "id": "AnalyzeSyntaxResponse",
            "properties": {
                "language": {
                    "type": "string"
                },
                "sentences": {
                    "items": {
                        "$ref": "Sentence"
                    },
                    "type": "array"
                },
                "tokens": {
                    "items": {
                        "$ref": "Token"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AnnotateTextRequest": {
            "id": "AnnotateTextRequest",
            "properties": {
                "document": {
                    "$ref": "Document"
                },
                "encodingType": {
                    "enum": [
                        "NONE",
                        "UTF8",
                        "UTF16",
                        "UTF32"
                    ],
                    "type": "string"
                },
                "features": {
                    "$ref": "Features"
                }
            },
            "type": "object"
        },
        "AnnotateTextResponse": {
            "id": "AnnotateTextResponse",
            "properties": {
                "categories": {
                    "items": {
                        "$ref": "ClassificationCategory"
                    },
                    "type": "array"
                },
                "documentSentiment": {
                    "$ref": "Sentiment"
                },
                "entities": {
                    "items": {
                        "$ref": "Entity"
                    },
                    "type": "array"
                },
                "language": {
                    "type": "string"
                },
                "sentences": {
                    "items": {
                        "$ref": "Sentence"
                    },
                    "type": "array"
                },
                "tokens": {
                    "items": {
                        "$ref": "Token"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ClassificationCategory": {
            "id": "ClassificationCategory",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClassifyTextRequest": {
            "id": "ClassifyTextRequest",
            "properties": {
                "document": {
                    "$ref": "Document"
                }
            },
            "type": "object"
        },
        "ClassifyTextResponse": {
            "id": "ClassifyTextResponse",
            "properties": {
                "categories": {
                    "items": {
                        "$ref": "ClassificationCategory"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DependencyEdge": {
            "id": "DependencyEdge",
            "properties": {
                "headTokenIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "label": {
                    "enum": [
                        "UNKNOWN",
                        "ABBREV",
                        "ACOMP",
                        "ADVCL",
                        "ADVMOD",
                        "AMOD",
                        "APPOS",
                        "ATTR",
                        "AUX",
                        "AUXPASS",
                        "CC",
                        "CCOMP",
                        "CONJ",
                        "CSUBJ",
                        "CSUBJPASS",
                        "DEP",
                        "DET",
                        "DISCOURSE",
                        "DOBJ",
                        "EXPL",
                        "GOESWITH",
                        "IOBJ",
                        "MARK",
                        "MWE",
                        "MWV",
                        "NEG",
                        "NN",
                        "NPADVMOD",
                        "NSUBJ",
                        "NSUBJPASS",
                        "NUM",
                        "NUMBER",
                        "P",
                        "PARATAXIS",
                        "PARTMOD",
                        "PCOMP",
                        "POBJ",
                        "POSS",
                        "POSTNEG",
                        "PRECOMP",
                        "PRECONJ",
                        "PREDET",
                        "PREF",
                        "PREP",
                        "PRONL",
                        "PRT",
                        "PS",
                        "QUANTMOD",
                        "RCMOD",
                        "RCMODREL",
                        "RDROP",
                        "REF",
                        "REMNANT",
                        "REPARANDUM",
                        "ROOT",
                        "SNUM",
                        "SUFF",
                        "TMOD",
                        "TOPIC",
                        "VMOD",
                        "VOCATIVE",
                        "XCOMP",
                        "SUFFIX",
                        "TITLE",
                        "ADVPHMOD",
                        "AUXCAUS",
                        "AUXVV",
                        "DTMOD",
                        "FOREIGN",
                        "KW",
                        "LIST",
                        "NOMC",
                        "NOMCSUBJ",
                        "NOMCSUBJPASS",
                        "NUMC",
                        "COP",
                        "DISLOCATED",
                        "ASP",
                        "GMOD",
                        "GOBJ",
                        "INFMOD",
                        "MES",
                        "NCOMP"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Document": {
            "id": "Document",
            "properties": {
                "content": {
                    "type": "string"
                },
                "gcsContentUri": {
                    "type": "string"
                },
                "language": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "PLAIN_TEXT",
                        "HTML"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Entity": {
            "id": "Entity",
            "properties": {
                "mentions": {
                    "items": {
                        "$ref": "EntityMention"
                    },
                    "type": "array"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "salience": {
                    "format": "float",
                    "type": "number"
                },
                "sentiment": {
                    "$ref": "Sentiment"
                },
                "type": {
                    "enum": [
                        "UNKNOWN",
                        "PERSON",
                        "LOCATION",
                        "ORGANIZATION",
                        "EVENT",
                        "WORK_OF_ART",
                        "CONSUMER_GOOD",
                        "OTHER",
                        "PHONE_NUMBER",
                        "ADDRESS",
                        "DATE",
                        "NUMBER",
                        "PRICE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EntityMention": {
            "id": "EntityMention",
            "properties": {
                "sentiment": {
                    "$ref": "Sentiment"
                },
                "text": {
                    "$ref": "TextSpan"
                },
                "type": {
                    "enum": [
                        "TYPE_UNKNOWN",
                        "PROPER",
                        "COMMON"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Features": {
            "id": "Features",
            "properties": {
                "classifyText": {
                    "type": "boolean"
                },
                "extractDocumentSentiment": {
                    "type": "boolean"
                },
                "extractEntities": {
                    "type": "boolean"
                },
                "extractEntitySentiment": {
                    "type": "boolean"
                },
                "extractSyntax": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "PartOfSpeech": {
            "id": "PartOfSpeech",
            "properties": {
                "aspect": {
                    "enum": [
                        "ASPECT_UNKNOWN",
                        "PERFECTIVE",
                        "IMPERFECTIVE",
                        "PROGRESSIVE"
                    ],
                    "type": "string"
                },
                "case": {
                    "enum": [
                        "CASE_UNKNOWN",
                        "ACCUSATIVE",
                        "ADVERBIAL",
                        "COMPLEMENTIVE",
                        "DATIVE",
                        "GENITIVE",
                        "INSTRUMENTAL",
                        "LOCATIVE",
                        "NOMINATIVE",
                        "OBLIQUE",
                        "PARTITIVE",
                        "PREPOSITIONAL",
                        "REFLEXIVE_CASE",
                        "RELATIVE_CASE",
                        "VOCATIVE"
                    ],
                    "type": "string"
                },
                "form": {
                    "enum": [
                        "FORM_UNKNOWN",
                        "ADNOMIAL",
                        "AUXILIARY",
                        "COMPLEMENTIZER",
                        "FINAL_ENDING",
                        "GERUND",
                        "REALIS",
                        "IRREALIS",
                        "SHORT",
                        "LONG",
                        "ORDER",
                        "SPECIFIC"
                    ],
                    "type": "string"
                },
                "gender": {
                    "enum": [
                        "GENDER_UNKNOWN",
                        "FEMININE",
                        "MASCULINE",
                        "NEUTER"
                    ],
                    "type": "string"
                },
                "mood": {
                    "enum": [
                        "MOOD_UNKNOWN",
                        "CONDITIONAL_MOOD",
                        "IMPERATIVE",
                        "INDICATIVE",
                        "INTERROGATIVE",
                        "JUSSIVE",
                        "SUBJUNCTIVE"
                    ],
                    "type": "string"
                },
                "number": {
                    "enum": [
                        "NUMBER_UNKNOWN",
                        "SINGULAR",
                        "PLURAL",
                        "DUAL"
                    ],
                    "type": "string"
                },
                "person": {
                    "enum": [
                        "PERSON_UNKNOWN",
                        "FIRST",
                        "SECOND",
                        "THIRD",
                        "REFLEXIVE_PERSON"
                    ],
                    "type": "string"
                },
                "proper": {
                    "enum": [
                        "PROPER_UNKNOWN",
                        "PROPER",
                        "NOT_PROPER"
                    ],
                    "type": "string"
                },
                "reciprocity": {
                    "enum": [
                        "RECIPROCITY_UNKNOWN",
                        "RECIPROCAL",
                        "NON_RECIPROCAL"
                    ],
                    "type": "string"
                },
                "tag": {
                    "enum": [
                        "UNKNOWN",
                        "ADJ",
                        "ADP",
                        "ADV",
                        "CONJ",
                        "DET",
                        "NOUN",
                        "NUM",
                        "PRON",
                        "PRT",
                        "PUNCT",
                        "VERB",
                        "X",
                        "AFFIX"
                    ],
                    "type": "string"
                },
                "tense": {
                    "enum": [
                        "TENSE_UNKNOWN",
                        "CONDITIONAL_TENSE",
                        "FUTURE",
                        "PAST",
                        "PRESENT",
                        "IMPERFECT",
                        "PLUPERFECT"
                    ],
                    "type": "string"
                },
                "voice": {
                    "enum": [
                        "VOICE_UNKNOWN",
                        "ACTIVE",
                        "CAUSATIVE",
                        "PASSIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Sentence": {
            "id": "Sentence",
            "properties": {
                "sentiment": {
                    "$ref": "Sentiment"
                },
                "text": {
                    "$ref": "TextSpan"
                }
            },
            "type": "object"
        },
        "Sentiment": {
            "id": "Sentiment",
            "properties": {
                "magnitude": {
                    "format": "float",
                    "type": "number"
                },
                "score": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TextSpan": {
            "id": "TextSpan",
            "properties": {
                "beginOffset": {
                    "format": "int32",
                    "type": "integer"
                },
                "content": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Token": {
            "id": "Token",
            "properties": {
                "dependencyEdge": {
                    "$ref": "DependencyEdge"
                },
                "lemma": {
                    "type": "string"
                },
                "partOfSpeech": {
                    "$ref": "PartOfSpeech"
                },
                "text": {
                    "$ref": "TextSpan"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Natural Language API",
    "version": "v1",
    "version_module": true
}