{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://libraryagent.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Libraryagent",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/docs/quota",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "libraryagent:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
    "name": "libraryagent",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "shelves": {
            "methods": {
                "get": {
                    "flatPath": "v1/shelves/{shelvesId}",
                    "httpMethod": "GET",
                    "id": "libraryagent.shelves.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^shelves/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "GoogleExampleLibraryagentV1Shelf"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/shelves",
                    "httpMethod": "GET",
                    "id": "libraryagent.shelves.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/shelves",
                    "response": {
                        "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "books": {
                    "methods": {
                        "borrow": {
                            "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
                            "httpMethod": "POST",
                            "id": "libraryagent.shelves.books.borrow",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^shelves/[^/]+/books/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:borrow",
                            "response": {
                                "$ref": "GoogleExampleLibraryagentV1Book"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
                            "httpMethod": "GET",
                            "id": "libraryagent.shelves.books.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^shelves/[^/]+/books/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleExampleLibraryagentV1Book"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/shelves/{shelvesId}/books",
                            "httpMethod": "GET",
                            "id": "libraryagent.shelves.books.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^shelves/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/books",
                            "response": {
                                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "return": {
                            "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
                            "httpMethod": "POST",
                            "id": "libraryagent.shelves.books.return",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^shelves/[^/]+/books/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:return",
                            "response": {
                                "$ref": "GoogleExampleLibraryagentV1Book"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://libraryagent.googleapis.com/",
    "schemas": {
        "GoogleExampleLibraryagentV1Book": {
            "id": "GoogleExampleLibraryagentV1Book",
            "properties": {
                "author": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "read": {
                    "type": "boolean"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleExampleLibraryagentV1ListBooksResponse": {
            "id": "GoogleExampleLibraryagentV1ListBooksResponse",
            "properties": {
                "books": {
                    "items": {
                        "$ref": "GoogleExampleLibraryagentV1Book"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleExampleLibraryagentV1ListShelvesResponse": {
            "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "shelves": {
                    "items": {
                        "$ref": "GoogleExampleLibraryagentV1Shelf"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleExampleLibraryagentV1Shelf": {
            "id": "GoogleExampleLibraryagentV1Shelf",
            "properties": {
                "name": {
                    "type": "string"
                },
                "theme": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Library Agent API",
    "version": "v1",
    "version_module": true
}