{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/apps.licensing": {}
            }
        }
    },
    "basePath": "/apps/licensing/v1/product/",
    "baseUrl": "https://www.googleapis.com/apps/licensing/v1/product/",
    "batchPath": "batch/licensing/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/admin-sdk/licensing/",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "licensing:v1",
    "kind": "discovery#restDescription",
    "name": "licensing",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "licenseAssignments": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "licensing.licenseAssignments.delete",
                    "parameterOrder": [
                        "productId",
                        "skuId",
                        "userId"
                    ],
                    "parameters": {
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "skuId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{productId}/sku/{skuId}/user/{userId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "licensing.licenseAssignments.get",
                    "parameterOrder": [
                        "productId",
                        "skuId",
                        "userId"
                    ],
                    "parameters": {
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "skuId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{productId}/sku/{skuId}/user/{userId}",
                    "response": {
                        "$ref": "LicenseAssignment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "licensing.licenseAssignments.insert",
                    "parameterOrder": [
                        "productId",
                        "skuId"
                    ],
                    "parameters": {
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "skuId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{productId}/sku/{skuId}/user",
                    "request": {
                        "$ref": "LicenseAssignmentInsert"
                    },
                    "response": {
                        "$ref": "LicenseAssignment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ]
                },
                "listForProduct": {
                    "httpMethod": "GET",
                    "id": "licensing.licenseAssignments.listForProduct",
                    "parameterOrder": [
                        "productId",
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "100",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "default": "",
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{productId}/users",
                    "response": {
                        "$ref": "LicenseAssignmentList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ]
                },
                "listForProductAndSku": {
                    "httpMethod": "GET",
                    "id": "licensing.licenseAssignments.listForProductAndSku",
                    "parameterOrder": [
                        "productId",
                        "skuId",
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "100",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "default": "",
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "skuId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{productId}/sku/{skuId}/users",
                    "response": {
                        "$ref": "LicenseAssignmentList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "licensing.licenseAssignments.patch",
                    "parameterOrder": [
                        "productId",
                        "skuId",
                        "userId"
                    ],
                    "parameters": {
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "skuId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{productId}/sku/{skuId}/user/{userId}",
                    "request": {
                        "$ref": "LicenseAssignment"
                    },
                    "response": {
                        "$ref": "LicenseAssignment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "licensing.licenseAssignments.update",
                    "parameterOrder": [
                        "productId",
                        "skuId",
                        "userId"
                    ],
                    "parameters": {
                        "productId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "skuId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{productId}/sku/{skuId}/user/{userId}",
                    "request": {
                        "$ref": "LicenseAssignment"
                    },
                    "response": {
                        "$ref": "LicenseAssignment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.licensing"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "LicenseAssignment": {
            "id": "LicenseAssignment",
            "properties": {
                "etags": {
                    "type": "string"
                },
                "kind": {
                    "default": "licensing#licenseAssignment",
                    "type": "string"
                },
                "productId": {
                    "annotations": {
                        "required": [
                            "licensing.licenseAssignments.update"
                        ]
                    },
                    "type": "string"
                },
                "productName": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "skuId": {
                    "annotations": {
                        "required": [
                            "licensing.licenseAssignments.update"
                        ]
                    },
                    "type": "string"
                },
                "skuName": {
                    "type": "string"
                },
                "userId": {
                    "annotations": {
                        "required": [
                            "licensing.licenseAssignments.update"
                        ]
                    },
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LicenseAssignmentInsert": {
            "id": "LicenseAssignmentInsert",
            "properties": {
                "userId": {
                    "annotations": {
                        "required": [
                            "licensing.licenseAssignments.insert"
                        ]
                    },
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LicenseAssignmentList": {
            "id": "LicenseAssignmentList",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "LicenseAssignment"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "licensing#licenseAssignmentList",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "apps/licensing/v1/product/",
    "title": "Licensing API",
    "version": "v1"
}