{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://lifesciences.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Life Sciences",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/life-sciences",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "lifesciences:v2beta",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://lifesciences.mtls.googleapis.com/",
    "name": "lifesciences",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "lifesciences.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2beta/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "lifesciences.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "lifesciences.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta/{+name}:cancel",
                                    "request": {
                                        "$ref": "CancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "lifesciences.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "lifesciences.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta/{+name}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "pipelines": {
                            "methods": {
                                "run": {
                                    "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/pipelines:run",
                                    "httpMethod": "POST",
                                    "id": "lifesciences.projects.locations.pipelines.run",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta/{+parent}/pipelines:run",
                                    "request": {
                                        "$ref": "RunPipelineRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://lifesciences.googleapis.com/",
    "schemas": {
        "Accelerator": {
            "id": "Accelerator",
            "properties": {
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Action": {
            "id": "Action",
            "properties": {
                "alwaysRun": {
                    "type": "boolean"
                },
                "commands": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "containerName": {
                    "type": "string"
                },
                "credentials": {
                    "$ref": "Secret"
                },
                "disableImagePrefetch": {
                    "type": "boolean"
                },
                "disableStandardErrorCapture": {
                    "type": "boolean"
                },
                "enableFuse": {
                    "type": "boolean"
                },
                "entrypoint": {
                    "type": "string"
                },
                "environment": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "ignoreExitStatus": {
                    "type": "boolean"
                },
                "imageUri": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "mounts": {
                    "items": {
                        "$ref": "Mount"
                    },
                    "type": "array"
                },
                "pidNamespace": {
                    "type": "string"
                },
                "portMappings": {
                    "additionalProperties": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "object"
                },
                "publishExposedPorts": {
                    "type": "boolean"
                },
                "runInBackground": {
                    "type": "boolean"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "ContainerKilledEvent": {
            "id": "ContainerKilledEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ContainerStartedEvent": {
            "id": "ContainerStartedEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "ipAddress": {
                    "type": "string"
                },
                "portMappings": {
                    "additionalProperties": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ContainerStoppedEvent": {
            "id": "ContainerStoppedEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "exitStatus": {
                    "format": "int32",
                    "type": "integer"
                },
                "stderr": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DelayedEvent": {
            "id": "DelayedEvent",
            "properties": {
                "cause": {
                    "type": "string"
                },
                "metrics": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Disk": {
            "id": "Disk",
            "properties": {
                "name": {
                    "type": "string"
                },
                "sizeGb": {
                    "format": "int32",
                    "type": "integer"
                },
                "sourceImage": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Event": {
            "id": "Event",
            "properties": {
                "containerKilled": {
                    "$ref": "ContainerKilledEvent"
                },
                "containerStarted": {
                    "$ref": "ContainerStartedEvent"
                },
                "containerStopped": {
                    "$ref": "ContainerStoppedEvent"
                },
                "delayed": {
                    "$ref": "DelayedEvent"
                },
                "failed": {
                    "$ref": "FailedEvent"
                },
                "pullStarted": {
                    "$ref": "PullStartedEvent"
                },
                "pullStopped": {
                    "$ref": "PullStoppedEvent"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "unexpectedExitStatus": {
                    "$ref": "UnexpectedExitStatusEvent"
                },
                "workerAssigned": {
                    "$ref": "WorkerAssignedEvent"
                },
                "workerReleased": {
                    "$ref": "WorkerReleasedEvent"
                }
            },
            "type": "object"
        },
        "FailedEvent": {
            "id": "FailedEvent",
            "properties": {
                "cause": {
                    "type": "string"
                },
                "code": {
                    "enum": [
                        "OK",
                        "CANCELLED",
                        "UNKNOWN",
                        "INVALID_ARGUMENT",
                        "DEADLINE_EXCEEDED",
                        "NOT_FOUND",
                        "ALREADY_EXISTS",
                        "PERMISSION_DENIED",
                        "UNAUTHENTICATED",
                        "RESOURCE_EXHAUSTED",
                        "FAILED_PRECONDITION",
                        "ABORTED",
                        "OUT_OF_RANGE",
                        "UNIMPLEMENTED",
                        "INTERNAL",
                        "UNAVAILABLE",
                        "DATA_LOSS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Metadata": {
            "id": "Metadata",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "events": {
                    "items": {
                        "$ref": "Event"
                    },
                    "type": "array"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "pipeline": {
                    "$ref": "Pipeline"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Mount": {
            "id": "Mount",
            "properties": {
                "disk": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "readOnly": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Network": {
            "id": "Network",
            "properties": {
                "network": {
                    "type": "string"
                },
                "subnetwork": {
                    "type": "string"
                },
                "usePrivateAddress": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Pipeline": {
            "id": "Pipeline",
            "properties": {
                "actions": {
                    "items": {
                        "$ref": "Action"
                    },
                    "type": "array"
                },
                "environment": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "resources": {
                    "$ref": "Resources"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PullStartedEvent": {
            "id": "PullStartedEvent",
            "properties": {
                "imageUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PullStoppedEvent": {
            "id": "PullStoppedEvent",
            "properties": {
                "imageUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Resources": {
            "id": "Resources",
            "properties": {
                "regions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "virtualMachine": {
                    "$ref": "VirtualMachine"
                },
                "zones": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RunPipelineRequest": {
            "id": "RunPipelineRequest",
            "properties": {
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "pipeline": {
                    "$ref": "Pipeline"
                }
            },
            "type": "object"
        },
        "RunPipelineResponse": {
            "id": "RunPipelineResponse",
            "properties": {},
            "type": "object"
        },
        "Secret": {
            "id": "Secret",
            "properties": {
                "cipherText": {
                    "type": "string"
                },
                "keyName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ServiceAccount": {
            "id": "ServiceAccount",
            "properties": {
                "email": {
                    "type": "string"
                },
                "scopes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UnexpectedExitStatusEvent": {
            "id": "UnexpectedExitStatusEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "exitStatus": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "VirtualMachine": {
            "id": "VirtualMachine",
            "properties": {
                "accelerators": {
                    "items": {
                        "$ref": "Accelerator"
                    },
                    "type": "array"
                },
                "bootDiskSizeGb": {
                    "format": "int32",
                    "type": "integer"
                },
                "bootImage": {
                    "type": "string"
                },
                "cpuPlatform": {
                    "type": "string"
                },
                "disks": {
                    "items": {
                        "$ref": "Disk"
                    },
                    "type": "array"
                },
                "dockerCacheImages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "enableStackdriverMonitoring": {
                    "type": "boolean"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "machineType": {
                    "type": "string"
                },
                "network": {
                    "$ref": "Network"
                },
                "nvidiaDriverVersion": {
                    "type": "string"
                },
                "preemptible": {
                    "type": "boolean"
                },
                "serviceAccount": {
                    "$ref": "ServiceAccount"
                }
            },
            "type": "object"
        },
        "WorkerAssignedEvent": {
            "id": "WorkerAssignedEvent",
            "properties": {
                "instance": {
                    "type": "string"
                },
                "machineType": {
                    "type": "string"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WorkerReleasedEvent": {
            "id": "WorkerReleasedEvent",
            "properties": {
                "instance": {
                    "type": "string"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Life Sciences API",
    "version": "v2beta",
    "version_module": true
}