{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://lifesciences.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Life Sciences",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/life-sciences",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "lifesciences:v2beta",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://lifesciences.mtls.googleapis.com/",
    "name": "lifesciences",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "lifesciences.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v2beta/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "lifesciences.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "lifesciences.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta/{+name}:cancel",
                                    "request": {
                                        "$ref": "CancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "lifesciences.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "lifesciences.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta/{+name}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "pipelines": {
                            "methods": {
                                "run": {
                                    "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/pipelines:run",
                                    "httpMethod": "POST",
                                    "id": "lifesciences.projects.locations.pipelines.run",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta/{+parent}/pipelines:run",
                                    "request": {
                                        "$ref": "RunPipelineRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://lifesciences.googleapis.com/",
    "schemas": {
        "Accelerator": {
            "id": "Accelerator",
            "properties": {
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Action": {
            "id": "Action",
            "properties": {
                "alwaysRun": {
                    "type": "boolean"
                },
                "commands": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "containerName": {
                    "type": "string"
                },
                "credentials": {
                    "$ref": "Secret"
                },
                "disableImagePrefetch": {
                    "type": "boolean"
                },
                "disableStandardErrorCapture": {
                    "type": "boolean"
                },
                "enableFuse": {
                    "type": "boolean"
                },
                "entrypoint": {
                    "type": "string"
                },
                "environment": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "ignoreExitStatus": {
                    "type": "boolean"
                },
                "imageUri": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "mounts": {
                    "items": {
                        "$ref": "Mount"
                    },
                    "type": "array"
                },
                "pidNamespace": {
                    "type": "string"
                },
                "portMappings": {
                    "additionalProperties": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "object"
                },
                "publishExposedPorts": {
                    "type": "boolean"
                },
                "runInBackground": {
                    "type": "boolean"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "ContainerKilledEvent": {
            "id": "ContainerKilledEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ContainerStartedEvent": {
            "id": "ContainerStartedEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "ipAddress": {
                    "type": "string"
                },
                "portMappings": {
                    "additionalProperties": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ContainerStoppedEvent": {
            "id": "ContainerStoppedEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "exitStatus": {
                    "format": "int32",
                    "type": "integer"
                },
                "stderr": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DelayedEvent": {
            "id": "DelayedEvent",
            "properties": {
                "cause": {
                    "type": "string"
                },
                "metrics": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Disk": {
            "id": "Disk",
            "properties": {
                "name": {
                    "type": "string"
                },
                "sizeGb": {
                    "format": "int32",
                    "type": "integer"
                },
                "sourceImage": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Event": {
            "id": "Event",
            "properties": {
                "containerKilled": {
                    "$ref": "ContainerKilledEvent"
                },
                "containerStarted": {
                    "$ref": "ContainerStartedEvent"
                },
                "containerStopped": {
                    "$ref": "ContainerStoppedEvent"
                },
                "delayed": {
                    "$ref": "DelayedEvent"
                },
                "failed": {
                    "$ref": "FailedEvent"
                },
                "pullStarted": {
                    "$ref": "PullStartedEvent"
                },
                "pullStopped": {
                    "$ref": "PullStoppedEvent"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "unexpectedExitStatus": {
                    "$ref": "UnexpectedExitStatusEvent"
                },
                "workerAssigned": {
                    "$ref": "WorkerAssignedEvent"
                },
                "workerReleased": {
                    "$ref": "WorkerReleasedEvent"
                }
            },
            "type": "object"
        },
        "FailedEvent": {
            "id": "FailedEvent",
            "properties": {
                "cause": {
                    "type": "string"
                },
                "code": {
                    "enum": [
                        "OK",
                        "CANCELLED",
                        "UNKNOWN",
                        "INVALID_ARGUMENT",
                        "DEADLINE_EXCEEDED",
                        "NOT_FOUND",
                        "ALREADY_EXISTS",
                        "PERMISSION_DENIED",
                        "UNAUTHENTICATED",
                        "RESOURCE_EXHAUSTED",
                        "FAILED_PRECONDITION",
                        "ABORTED",
                        "OUT_OF_RANGE",
                        "UNIMPLEMENTED",
                        "INTERNAL",
                        "UNAVAILABLE",
                        "DATA_LOSS"
                    ],
                    "enumDescriptions": [
                        "Not an error; returned on success\n\nHTTP Mapping: 200 OK",
                        "The operation was cancelled, typically by the caller.\n\nHTTP Mapping: 499 Client Closed Request",
                        "Unknown error.  For example, this error may be returned when\na `Status` value received from another address space belongs to\nan error space that is not known in this address space.  Also\nerrors raised by APIs that do not return enough error information\nmay be converted to this error.\n\nHTTP Mapping: 500 Internal Server Error",
                        "The client specified an invalid argument.  Note that this differs\nfrom `FAILED_PRECONDITION`.  `INVALID_ARGUMENT` indicates arguments\nthat are problematic regardless of the state of the system\n(e.g., a malformed file name).\n\nHTTP Mapping: 400 Bad Request",
                        "The deadline expired before the operation could complete. For operations\nthat change the state of the system, this error may be returned\neven if the operation has completed successfully.  For example, a\nsuccessful response from a server could have been delayed long\nenough for the deadline to expire.\n\nHTTP Mapping: 504 Gateway Timeout",
                        "Some requested entity (e.g., file or directory) was not found.\n\nNote to server developers: if a request is denied for an entire class\nof users, such as gradual feature rollout or undocumented whitelist,\n`NOT_FOUND` may be used. If a request is denied for some users within\na class of users, such as user-based access control, `PERMISSION_DENIED`\nmust be used.\n\nHTTP Mapping: 404 Not Found",
                        "The entity that a client attempted to create (e.g., file or directory)\nalready exists.\n\nHTTP Mapping: 409 Conflict",
                        "The caller does not have permission to execute the specified\noperation. `PERMISSION_DENIED` must not be used for rejections\ncaused by exhausting some resource (use `RESOURCE_EXHAUSTED`\ninstead for those errors). `PERMISSION_DENIED` must not be\nused if the caller can not be identified (use `UNAUTHENTICATED`\ninstead for those errors). This error code does not imply the\nrequest is valid or the requested entity exists or satisfies\nother pre-conditions.\n\nHTTP Mapping: 403 Forbidden",
                        "The request does not have valid authentication credentials for the\noperation.\n\nHTTP Mapping: 401 Unauthorized",
                        "Some resource has been exhausted, perhaps a per-user quota, or\nperhaps the entire file system is out of space.\n\nHTTP Mapping: 429 Too Many Requests",
                        "The operation was rejected because the system is not in a state\nrequired for the operation's execution.  For example, the directory\nto be deleted is non-empty, an rmdir operation is applied to\na non-directory, etc.\n\nService implementors can use the following guidelines to decide\nbetween `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`:\n (a) Use `UNAVAILABLE` if the client can retry just the failing call.\n (b) Use `ABORTED` if the client should retry at a higher level\n     (e.g., when a client-specified test-and-set fails, indicating the\n     client should restart a read-modify-write sequence).\n (c) Use `FAILED_PRECONDITION` if the client should not retry until\n     the system state has been explicitly fixed.  E.g., if an \"rmdir\"\n     fails because the directory is non-empty, `FAILED_PRECONDITION`\n     should be returned since the client should not retry unless\n     the files are deleted from the directory.\n\nHTTP Mapping: 400 Bad Request",
                        "The operation was aborted, typically due to a concurrency issue such as\na sequencer check failure or transaction abort.\n\nSee the guidelines above for deciding between `FAILED_PRECONDITION`,\n`ABORTED`, and `UNAVAILABLE`.\n\nHTTP Mapping: 409 Conflict",
                        "The operation was attempted past the valid range.  E.g., seeking or\nreading past end-of-file.\n\nUnlike `INVALID_ARGUMENT`, this error indicates a problem that may\nbe fixed if the system state changes. For example, a 32-bit file\nsystem will generate `INVALID_ARGUMENT` if asked to read at an\noffset that is not in the range [0,2^32-1], but it will generate\n`OUT_OF_RANGE` if asked to read from an offset past the current\nfile size.\n\nThere is a fair bit of overlap between `FAILED_PRECONDITION` and\n`OUT_OF_RANGE`.  We recommend using `OUT_OF_RANGE` (the more specific\nerror) when it applies so that callers who are iterating through\na space can easily look for an `OUT_OF_RANGE` error to detect when\nthey are done.\n\nHTTP Mapping: 400 Bad Request",
                        "The operation is not implemented or is not supported/enabled in this\nservice.\n\nHTTP Mapping: 501 Not Implemented",
                        "Internal errors.  This means that some invariants expected by the\nunderlying system have been broken.  This error code is reserved\nfor serious errors.\n\nHTTP Mapping: 500 Internal Server Error",
                        "The service is currently unavailable.  This is most likely a\ntransient condition, which can be corrected by retrying with\na backoff. Note that it is not always safe to retry\nnon-idempotent operations.\n\nSee the guidelines above for deciding between `FAILED_PRECONDITION`,\n`ABORTED`, and `UNAVAILABLE`.\n\nHTTP Mapping: 503 Service Unavailable",
                        "Unrecoverable data loss or corruption.\n\nHTTP Mapping: 500 Internal Server Error"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Metadata": {
            "id": "Metadata",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "events": {
                    "items": {
                        "$ref": "Event"
                    },
                    "type": "array"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "pipeline": {
                    "$ref": "Pipeline"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Mount": {
            "id": "Mount",
            "properties": {
                "disk": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "readOnly": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Network": {
            "id": "Network",
            "properties": {
                "network": {
                    "type": "string"
                },
                "subnetwork": {
                    "type": "string"
                },
                "usePrivateAddress": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Pipeline": {
            "id": "Pipeline",
            "properties": {
                "actions": {
                    "items": {
                        "$ref": "Action"
                    },
                    "type": "array"
                },
                "environment": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "resources": {
                    "$ref": "Resources"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PullStartedEvent": {
            "id": "PullStartedEvent",
            "properties": {
                "imageUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PullStoppedEvent": {
            "id": "PullStoppedEvent",
            "properties": {
                "imageUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Resources": {
            "id": "Resources",
            "properties": {
                "regions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "virtualMachine": {
                    "$ref": "VirtualMachine"
                },
                "zones": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RunPipelineRequest": {
            "id": "RunPipelineRequest",
            "properties": {
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "pipeline": {
                    "$ref": "Pipeline"
                }
            },
            "type": "object"
        },
        "RunPipelineResponse": {
            "id": "RunPipelineResponse",
            "properties": {},
            "type": "object"
        },
        "Secret": {
            "id": "Secret",
            "properties": {
                "cipherText": {
                    "type": "string"
                },
                "keyName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ServiceAccount": {
            "id": "ServiceAccount",
            "properties": {
                "email": {
                    "type": "string"
                },
                "scopes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UnexpectedExitStatusEvent": {
            "id": "UnexpectedExitStatusEvent",
            "properties": {
                "actionId": {
                    "format": "int32",
                    "type": "integer"
                },
                "exitStatus": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "VirtualMachine": {
            "id": "VirtualMachine",
            "properties": {
                "accelerators": {
                    "items": {
                        "$ref": "Accelerator"
                    },
                    "type": "array"
                },
                "bootDiskSizeGb": {
                    "format": "int32",
                    "type": "integer"
                },
                "bootImage": {
                    "type": "string"
                },
                "cpuPlatform": {
                    "type": "string"
                },
                "disks": {
                    "items": {
                        "$ref": "Disk"
                    },
                    "type": "array"
                },
                "enableStackdriverMonitoring": {
                    "type": "boolean"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "machineType": {
                    "type": "string"
                },
                "network": {
                    "$ref": "Network"
                },
                "nvidiaDriverVersion": {
                    "type": "string"
                },
                "preemptible": {
                    "type": "boolean"
                },
                "serviceAccount": {
                    "$ref": "ServiceAccount"
                }
            },
            "type": "object"
        },
        "WorkerAssignedEvent": {
            "id": "WorkerAssignedEvent",
            "properties": {
                "instance": {
                    "type": "string"
                },
                "machineType": {
                    "type": "string"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WorkerReleasedEvent": {
            "id": "WorkerReleasedEvent",
            "properties": {
                "instance": {
                    "type": "string"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Life Sciences API",
    "version": "v2beta",
    "version_module": true
}