{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {},
                "https://www.googleapis.com/auth/logging.admin": {},
                "https://www.googleapis.com/auth/logging.read": {},
                "https://www.googleapis.com/auth/logging.write": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://logging.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Logging",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/logging/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "logging:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://logging.mtls.googleapis.com/",
    "name": "logging",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "billingAccounts": {
            "resources": {
                "buckets": {
                    "methods": {
                        "get": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/buckets/{bucketsId}",
                            "httpMethod": "GET",
                            "id": "logging.billingAccounts.buckets.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/buckets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "LogBucket"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        }
                    }
                },
                "exclusions": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/exclusions",
                            "httpMethod": "POST",
                            "id": "logging.billingAccounts.exclusions.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/exclusions",
                            "request": {
                                "$ref": "LogExclusion"
                            },
                            "response": {
                                "$ref": "LogExclusion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/exclusions/{exclusionsId}",
                            "httpMethod": "DELETE",
                            "id": "logging.billingAccounts.exclusions.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/exclusions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/exclusions/{exclusionsId}",
                            "httpMethod": "GET",
                            "id": "logging.billingAccounts.exclusions.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/exclusions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "LogExclusion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/exclusions",
                            "httpMethod": "GET",
                            "id": "logging.billingAccounts.exclusions.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/exclusions",
                            "response": {
                                "$ref": "ListExclusionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/exclusions/{exclusionsId}",
                            "httpMethod": "PATCH",
                            "id": "logging.billingAccounts.exclusions.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/exclusions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "LogExclusion"
                            },
                            "response": {
                                "$ref": "LogExclusion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        }
                    }
                },
                "locations": {
                    "resources": {
                        "buckets": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/billingAccounts/{billingAccountsId}/locations/{locationsId}/buckets",
                                    "httpMethod": "POST",
                                    "id": "logging.billingAccounts.locations.buckets.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "bucketId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^billingAccounts/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/buckets",
                                    "request": {
                                        "$ref": "LogBucket"
                                    },
                                    "response": {
                                        "$ref": "LogBucket"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/billingAccounts/{billingAccountsId}/locations/{locationsId}/buckets/{bucketsId}",
                                    "httpMethod": "DELETE",
                                    "id": "logging.billingAccounts.locations.buckets.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^billingAccounts/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/billingAccounts/{billingAccountsId}/locations/{locationsId}/buckets",
                                    "httpMethod": "GET",
                                    "id": "logging.billingAccounts.locations.buckets.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^billingAccounts/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/buckets",
                                    "response": {
                                        "$ref": "ListBucketsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/logging.admin",
                                        "https://www.googleapis.com/auth/logging.read"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/billingAccounts/{billingAccountsId}/locations/{locationsId}/buckets/{bucketsId}",
                                    "httpMethod": "PATCH",
                                    "id": "logging.billingAccounts.locations.buckets.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^billingAccounts/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "LogBucket"
                                    },
                                    "response": {
                                        "$ref": "LogBucket"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                },
                                "undelete": {
                                    "flatPath": "v2/billingAccounts/{billingAccountsId}/locations/{locationsId}/buckets/{bucketsId}:undelete",
                                    "httpMethod": "POST",
                                    "id": "logging.billingAccounts.locations.buckets.undelete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^billingAccounts/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:undelete",
                                    "request": {
                                        "$ref": "UndeleteBucketRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                }
                            }
                        }
                    }
                },
                "logs": {
                    "methods": {
                        "delete": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/logs/{logsId}",
                            "httpMethod": "DELETE",
                            "id": "logging.billingAccounts.logs.delete",
                            "parameterOrder": [
                                "logName"
                            ],
                            "parameters": {
                                "logName": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/logs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+logName}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/logs",
                            "httpMethod": "GET",
                            "id": "logging.billingAccounts.logs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/logs",
                            "response": {
                                "$ref": "ListLogsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        }
                    }
                },
                "sinks": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks",
                            "httpMethod": "POST",
                            "id": "logging.billingAccounts.sinks.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "uniqueWriterIdentity": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v2/{+parent}/sinks",
                            "request": {
                                "$ref": "LogSink"
                            },
                            "response": {
                                "$ref": "LogSink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks/{sinksId}",
                            "httpMethod": "DELETE",
                            "id": "logging.billingAccounts.sinks.delete",
                            "parameterOrder": [
                                "sinkName"
                            ],
                            "parameters": {
                                "sinkName": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/sinks/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+sinkName}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks/{sinksId}",
                            "httpMethod": "GET",
                            "id": "logging.billingAccounts.sinks.get",
                            "parameterOrder": [
                                "sinkName"
                            ],
                            "parameters": {
                                "sinkName": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/sinks/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+sinkName}",
                            "response": {
                                "$ref": "LogSink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks",
                            "httpMethod": "GET",
                            "id": "logging.billingAccounts.sinks.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/sinks",
                            "response": {
                                "$ref": "ListSinksResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks/{sinksId}",
                            "httpMethod": "PATCH",
                            "id": "logging.billingAccounts.sinks.patch",
                            "parameterOrder": [
                                "sinkName"
                            ],
                            "parameters": {
                                "sinkName": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/sinks/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "uniqueWriterIdentity": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+sinkName}",
                            "request": {
                                "$ref": "LogSink"
                            },
                            "response": {
                                "$ref": "LogSink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "update": {
                            "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks/{sinksId}",
                            "httpMethod": "PUT",
                            "id": "logging.billingAccounts.sinks.update",
                            "parameterOrder": [
                                "sinkName"
                            ],
                            "parameters": {
                                "sinkName": {
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]+/sinks/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "uniqueWriterIdentity": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+sinkName}",
                            "request": {
                                "$ref": "LogSink"
                            },
                            "response": {
                                "$ref": "LogSink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        }
                    }
                }
            }
        },
        "entries": {
            "methods": {
                "list": {
                    "flatPath": "v2/entries:list",
                    "httpMethod": "POST",
                    "id": "logging.entries.list",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v2/entries:list",
                    "request": {
                        "$ref": "ListLogEntriesRequest"
                    },
                    "response": {
                        "$ref": "ListLogEntriesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/logging.admin",
                        "https://www.googleapis.com/auth/logging.read"
                    ]
                },
                "write": {
                    "flatPath": "v2/entries:write",
                    "httpMethod": "POST",
                    "id": "logging.entries.write",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v2/entries:write",
                    "request": {
                        "$ref": "WriteLogEntriesRequest"
                    },
                    "response": {
                        "$ref": "WriteLogEntriesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/logging.admin",
                        "https://www.googleapis.com/auth/logging.write"
                    ]
                }
            }
        },
        "exclusions": {
            "methods": {
                "create": {
                    "flatPath": "v2/{v2Id}/{v2Id1}/exclusions",
                    "httpMethod": "POST",
                    "id": "logging.exclusions.create",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+parent}/exclusions",
                    "request": {
                        "$ref": "LogExclusion"
                    },
                    "response": {
                        "$ref": "LogExclusion"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/logging.admin"
                    ]
                },
                "delete": {
                    "flatPath": "v2/{v2Id}/{v2Id1}/exclusions/{exclusionsId}",
                    "httpMethod": "DELETE",
                    "id": "logging.exclusions.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/exclusions/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/logging.admin"
                    ]
                },
                "get": {
                    "flatPath": "v2/{v2Id}/{v2Id1}/exclusions/{exclusionsId}",
                    "httpMethod": "GET",
                    "id": "logging.exclusions.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/exclusions/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}",
                    "response": {
                        "$ref": "LogExclusion"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/logging.admin",
                        "https://www.googleapis.com/auth/logging.read"
                    ]
                },
                "list": {
                    "flatPath": "v2/{v2Id}/{v2Id1}/exclusions",
                    "httpMethod": "GET",
                    "id": "logging.exclusions.list",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+parent}/exclusions",
                    "response": {
                        "$ref": "ListExclusionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/logging.admin",
                        "https://www.googleapis.com/auth/logging.read"
                    ]
                },
                "patch": {
                    "flatPath": "v2/{v2Id}/{v2Id1}/exclusions/{exclusionsId}",
                    "httpMethod": "PATCH",
                    "id": "logging.exclusions.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/exclusions/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}",
                    "request": {
                        "$ref": "LogExclusion"
                    },
                    "response": {
                        "$ref": "LogExclusion"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/logging.admin"
                    ]
                }
            }
        },
        "folders": {
            "resources": {
                "exclusions": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/folders/{foldersId}/exclusions",
                            "httpMethod": "POST",
                            "id": "logging.folders.exclusions.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/exclusions",
                            "request": {
                                "$ref": "LogExclusion"
                            },
                            "response": {
                                "$ref": "LogExclusion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/folders/{foldersId}/exclusions/{exclusionsId}",
                            "httpMethod": "DELETE",
                            "id": "logging.folders.exclusions.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/exclusions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/folders/{foldersId}/exclusions/{exclusionsId}",
                            "httpMethod": "GET",
                            "id": "logging.folders.exclusions.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/exclusions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "LogExclusion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/folders/{foldersId}/exclusions",
                            "httpMethod": "GET",
                            "id": "logging.folders.exclusions.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/exclusions",
                            "response": {
                                "$ref": "ListExclusionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/folders/{foldersId}/exclusions/{exclusionsId}",
                            "httpMethod": "PATCH",
                            "id": "logging.folders.exclusions.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/exclusions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "LogExclusion"
                            },
                            "response": {
                                "$ref": "LogExclusion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        }
                    }
                },
                "locations": {
                    "resources": {
                        "buckets": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/buckets",
                                    "httpMethod": "POST",
                                    "id": "logging.folders.locations.buckets.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "bucketId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^folders/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/buckets",
                                    "request": {
                                        "$ref": "LogBucket"
                                    },
                                    "response": {
                                        "$ref": "LogBucket"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/buckets/{bucketsId}",
                                    "httpMethod": "DELETE",
                                    "id": "logging.folders.locations.buckets.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^folders/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/buckets/{bucketsId}",
                                    "httpMethod": "GET",
                                    "id": "logging.folders.locations.buckets.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^folders/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "LogBucket"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/logging.admin",
                                        "https://www.googleapis.com/auth/logging.read"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/buckets",
                                    "httpMethod": "GET",
                                    "id": "logging.folders.locations.buckets.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^folders/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/buckets",
                                    "response": {
                                        "$ref": "ListBucketsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                                        "https://www.googleapis.com/auth/logging.admin",
                                        "https://www.googleapis.com/auth/logging.read"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/buckets/{bucketsId}",
                                    "httpMethod": "PATCH",
                                    "id": "logging.folders.locations.buckets.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^folders/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "LogBucket"
                                    },
                                    "response": {
                                        "$ref": "LogBucket"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                },
                                "undelete": {
                                    "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/buckets/{bucketsId}:undelete",
                                    "httpMethod": "POST",
                                    "id": "logging.folders.locations.buckets.undelete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^folders/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:undelete",
                                    "request": {
                                        "$ref": "UndeleteBucketRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                }
                            }
                        }
                    }
                },
                "logs": {
                    "methods": {
                        "delete": {
                            "flatPath": "v2/folders/{foldersId}/logs/{logsId}",
                            "httpMethod": "DELETE",
                            "id": "logging.folders.logs.delete",
                            "parameterOrder": [
                                "logName"
                            ],
                            "parameters": {
                                "logName": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/logs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+logName}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/folders/{foldersId}/logs",
                            "httpMethod": "GET",
                            "id": "logging.folders.logs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/logs",
                            "response": {
                                "$ref": "ListLogsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        }
                    }
                },
                "sinks": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/folders/{foldersId}/sinks",
                            "httpMethod": "POST",
                            "id": "logging.folders.sinks.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "uniqueWriterIdentity": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v2/{+parent}/sinks",
                            "request": {
                                "$ref": "LogSink"
                            },
                            "response": {
                                "$ref": "LogSink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/folders/{foldersId}/sinks/{sinksId}",
                            "httpMethod": "DELETE",
                            "id": "logging.folders.sinks.delete",
                            "parameterOrder": [
                                "sinkName"
                            ],
                            "parameters": {
                                "sinkName": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/sinks/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+sinkName}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/folders/{foldersId}/sinks/{sinksId}",
                            "httpMethod": "GET",
                            "id": "logging.folders.sinks.get",
                            "parameterOrder": [
                                "sinkName"
                            ],
                            "parameters": {
                                "sinkName": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/sinks/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+sinkName}",
                            "response": {
                                "$ref": "LogSink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/folders/{foldersId}/sinks",
                            "httpMethod": "GET",
                            "id": "logging.folders.sinks.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/sinks",
                            "response": {
                                "$ref": "ListSinksResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/folders/{foldersId}/sinks/{sinksId}",
                            "httpMethod": "PATCH",
                            "id": "logging.folders.sinks.patch",
                            "parameterOrder": [
                                "sinkName"
                            ],
                            "parameters": {
                                "sinkName": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/sinks/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "uniqueWriterIdentity": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+sinkName}",
                            "request": {
                                "$ref": "LogSink"
                            },
                            "response": {
                                "$ref": "LogSink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "update": {
                            "flatPath": "v2/folders/{foldersId}/sinks/{sinksId}",
                            "httpMethod": "PUT",
                            "id": "logging.folders.sinks.update",
                            "parameterOrder": [
                                "sinkName"
                            ],
                            "parameters": {
                                "sinkName": {
                                    "location": "path",
                                    "pattern": "^folders/[^/]+/sinks/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "uniqueWriterIdentity": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+sinkName}",
                            "request": {
                                "$ref": "LogSink"
                            },
                            "response": {
                                "$ref": "LogSink"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        }
                    }
                }
            }
        },
        "locations": {
            "resources": {
                "buckets": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/{v2Id}/{v2Id1}/locations/{locationsId}/buckets",
                            "httpMethod": "POST",
                            "id": "logging.locations.buckets.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "bucketId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/buckets",
                            "request": {
                                "$ref": "LogBucket"
                            },
                            "response": {
                                "$ref": "LogBucket"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/{v2Id}/{v2Id1}/locations/{locationsId}/buckets/{bucketsId}",
                            "httpMethod": "DELETE",
                            "id": "logging.locations.buckets.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/{v2Id}/{v2Id1}/locations/{locationsId}/buckets/{bucketsId}",
                            "httpMethod": "GET",
                            "id": "logging.locations.buckets.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "LogBucket"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/{v2Id}/{v2Id1}/locations/{locationsId}/buckets",
                            "httpMethod": "GET",
                            "id": "logging.locations.buckets.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/buckets",
                            "response": {
                                "$ref": "ListBucketsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/{v2Id}/{v2Id1}/locations/{locationsId}/buckets/{bucketsId}",
                            "httpMethod": "PATCH",
                            "id": "logging.locations.buckets.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "LogBucket"
                            },
                            "response": {
                                "$ref": "LogBucket"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "undelete": {
                            "flatPath": "v2/{v2Id}/{v2Id1}/locations/{locationsId}/buckets/{bucketsId}:undelete",
                            "httpMethod": "POST",
                            "id": "logging.locations.buckets.undelete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}:undelete",
                            "request": {
                                "$ref": "UndeleteBucketRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        }
                    }
                }
            }
        },
        "logs": {
            "methods": {
                "delete": {
                    "flatPath": "v2/{v2Id}/{v2Id1}/logs/{logsId}",
                    "httpMethod": "DELETE",
                    "id": "logging.logs.delete",
                    "parameterOrder": [
                        "logName"
                    ],
                    "parameters": {
                        "logName": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/logs/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+logName}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/logging.admin"
                    ]
                },
                "list": {
                    "flatPath": "v2/{v2Id}/{v2Id1}/logs",
                    "httpMethod": "GET",
                    "id": "logging.logs.list",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+parent}/logs",
                    "response": {
                        "$ref": "ListLogsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/logging.admin",
                        "https://www.googleapis.com/auth/logging.read"
                    ]
                }
            }
        },
        "monitoredResourceDescriptors": {
            "methods": {
                "list": {
                    "flatPath": "v2/monitoredResourceDescriptors",
                    "httpMethod": "GET",
                    "id": "logging.monitoredResourceDescriptors.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/monitoredResourceDescriptors",
                    "response": {
                        "$ref": "ListMonitoredResourceDescriptorsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/logging.admin",
                        "https://www.googleapis.com/auth/logging.read"
                    ]
                }
            }
        },
        "organizations": {
            "methods": {
                "getCmekSettings": {
                    "flatPath": "v2/organizations/{organizationsId}/cmekSettings",
                    "httpMethod": "GET",
                    "id": "logging.organizations.getCmekSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}/cmekSettings",
                    "response": {
                        "$ref": "CmekSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/logging.admin",
                        "https://www.googleapis.com/auth/logging.read"
                    ]
                },
                "updateCmekSettings": {
                    "flatPath": "v2/organizations/{organizationsId}/cmekSettings",
                    "httpMethod": "PATCH",
                    "id": "logging.organizations.updateCmekSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}/cmekSettings",
                    "request": {
                        "$ref": "CmekSettings"
                    },
                    "response": {
                        "$ref": "CmekSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/logging.admin"
                    ]
                }
            },
            "resources": {
                "exclusions": {
                    "methods": {
                        "create": {
                            "flatPath": "v2/organizations/{organizationsId}/exclusions",
                            "httpMethod": "POST",
                            "id": "logging.organizations.exclusions.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/exclusions",
                            "request": {
                                "$ref": "LogExclusion"
                            },
                            "response": {
                                "$ref": "LogExclusion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "delete": {
                            "flatPath": "v2/organizations/{organizationsId}/exclusions/{exclusionsId}",
                            "httpMethod": "DELETE",
                            "id": "logging.organizations.exclusions.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/exclusions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        },
                        "get": {
                            "flatPath": "v2/organizations/{organizationsId}/exclusions/{exclusionsId}",
                            "httpMethod": "GET",
                            "id": "logging.organizations.exclusions.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/exclusions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "LogExclusion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v2/organizations/{organizationsId}/exclusions",
                            "httpMethod": "GET",
                            "id": "logging.organizations.exclusions.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/exclusions",
                            "response": {
                                "$ref": "ListExclusionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/logging.admin",
                                "https://www.googleapis.com/auth/logging.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v2/organizations/{organizationsId}/exclusions/{exclusionsId}",
                            "httpMethod": "PATCH",
                            "id": "logging.organizations.exclusions.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/exclusions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "request": {
                                "$ref": "LogExclusion"
                            },
                            "response": {
                                "$ref": "LogExclusion"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/logging.admin"
                            ]
                        }
                    }
                },
                "locations": {
                    "resources": {
                        "buckets": {
                            "methods": {
                                "create": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/buckets",
                                    "httpMethod": "POST",
                                    "id": "logging.organizations.locations.buckets.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "bucketId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+parent}/buckets",
                                    "request": {
                                        "$ref": "LogBucket"
                                    },
                                    "response": {
                                        "$ref": "LogBucket"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/buckets/{bucketsId}",
                                    "httpMethod": "DELETE",
                                    "id": "logging.organizations.locations.buckets.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/logging.admin"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/buckets/{bucketsId}",
                                    "httpMethod": "GET",
                                    "id": "logging.organizations.locations.buckets.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/locations/[^/]+/buckets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "LogBucket"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only",
[...]
