{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://managedidentities.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Managed Service for Microsoft Active Directory Consumer API",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/managed-microsoft-ad/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "managedidentities:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://managedidentities.mtls.googleapis.com/",
    "name": "managedidentities",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "managedidentities.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "managedidentities.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeUnrevealedLocations": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "global": {
                            "resources": {
                                "domains": {
                                    "methods": {
                                        "attachTrust": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:attachTrust",
                                            "httpMethod": "POST",
                                            "id": "managedidentities.projects.locations.global.domains.attachTrust",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:attachTrust",
                                            "request": {
                                                "$ref": "AttachTrustRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains",
                                            "httpMethod": "POST",
                                            "id": "managedidentities.projects.locations.global.domains.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "domainName": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/domains",
                                            "request": {
                                                "$ref": "Domain"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}",
                                            "httpMethod": "DELETE",
                                            "id": "managedidentities.projects.locations.global.domains.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "detachTrust": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:detachTrust",
                                            "httpMethod": "POST",
                                            "id": "managedidentities.projects.locations.global.domains.detachTrust",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:detachTrust",
                                            "request": {
                                                "$ref": "DetachTrustRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}",
                                            "httpMethod": "GET",
                                            "id": "managedidentities.projects.locations.global.domains.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Domain"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "getIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:getIamPolicy",
                                            "httpMethod": "GET",
                                            "id": "managedidentities.projects.locations.global.domains.getIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "options.requestedPolicyVersion": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:getIamPolicy",
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains",
                                            "httpMethod": "GET",
                                            "id": "managedidentities.projects.locations.global.domains.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "orderBy": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/domains",
                                            "response": {
                                                "$ref": "ListDomainsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}",
                                            "httpMethod": "PATCH",
                                            "id": "managedidentities.projects.locations.global.domains.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "request": {
                                                "$ref": "Domain"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "reconfigureTrust": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:reconfigureTrust",
                                            "httpMethod": "POST",
                                            "id": "managedidentities.projects.locations.global.domains.reconfigureTrust",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:reconfigureTrust",
                                            "request": {
                                                "$ref": "ReconfigureTrustRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "resetAdminPassword": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:resetAdminPassword",
                                            "httpMethod": "POST",
                                            "id": "managedidentities.projects.locations.global.domains.resetAdminPassword",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:resetAdminPassword",
                                            "request": {
                                                "$ref": "ResetAdminPasswordRequest"
                                            },
                                            "response": {
                                                "$ref": "ResetAdminPasswordResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "setIamPolicy": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:setIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "managedidentities.projects.locations.global.domains.setIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:setIamPolicy",
                                            "request": {
                                                "$ref": "SetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "testIamPermissions": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:testIamPermissions",
                                            "httpMethod": "POST",
                                            "id": "managedidentities.projects.locations.global.domains.testIamPermissions",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+resource}:testIamPermissions",
                                            "request": {
                                                "$ref": "TestIamPermissionsRequest"
                                            },
                                            "response": {
                                                "$ref": "TestIamPermissionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "validateTrust": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:validateTrust",
                                            "httpMethod": "POST",
                                            "id": "managedidentities.projects.locations.global.domains.validateTrust",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:validateTrust",
                                            "request": {
                                                "$ref": "ValidateTrustRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "operations": {
                                    "methods": {
                                        "cancel": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}:cancel",
                                            "httpMethod": "POST",
                                            "id": "managedidentities.projects.locations.global.operations.cancel",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:cancel",
                                            "request": {
                                                "$ref": "CancelOperationRequest"
                                            },
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}",
                                            "httpMethod": "DELETE",
                                            "id": "managedidentities.projects.locations.global.operations.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}",
                                            "httpMethod": "GET",
                                            "id": "managedidentities.projects.locations.global.operations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/global/operations",
                                            "httpMethod": "GET",
                                            "id": "managedidentities.projects.locations.global.operations.list",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/operations$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "ListOperationsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://managedidentities.googleapis.com/",
    "schemas": {
        "AttachTrustRequest": {
            "id": "AttachTrustRequest",
            "properties": {
                "trust": {
                    "$ref": "Trust"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "DetachTrustRequest": {
            "id": "DetachTrustRequest",
            "properties": {
                "trust": {
                    "$ref": "Trust"
                }
            },
            "type": "object"
        },
        "Domain": {
            "id": "Domain",
            "properties": {
                "admin": {
                    "type": "string"
                },
                "authorizedNetworks": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "fqdn": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locations": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "reservedIpRange": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY",
                        "UPDATING",
                        "DELETING",
                        "REPAIRING",
                        "PERFORMING_MAINTENANCE",
                        "UNAVAILABLE"
                    ],
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                },
                "trusts": {
                    "items": {
                        "$ref": "Trust"
                    },
                    "type": "array"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudManagedidentitiesV1OpMetadata": {
            "id": "GoogleCloudManagedidentitiesV1OpMetadata",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "requestedCancellation": {
                    "type": "boolean"
                },
                "target": {
                    "type": "string"
                },
                "verb": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudManagedidentitiesV1alpha1OpMetadata": {
            "id": "GoogleCloudManagedidentitiesV1alpha1OpMetadata",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "requestedCancellation": {
                    "type": "boolean"
                },
                "target": {
                    "type": "string"
                },
                "verb": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudManagedidentitiesV1beta1OpMetadata": {
            "id": "GoogleCloudManagedidentitiesV1beta1OpMetadata",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "requestedCancellation": {
                    "type": "boolean"
                },
                "target": {
                    "type": "string"
                },
                "verb": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1Instance",
            "properties": {
                "consumerDefinedName": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "maintenancePolicyNames": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "maintenanceSchedules": {
                    "additionalProperties": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
                    },
                    "type": "object"
                },
                "maintenanceSettings": {
                    "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings"
                },
                "name": {
                    "type": "string"
                },
                "producerMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "provisionedResources": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
                    },
                    "type": "array"
                },
                "slmInstanceTemplate": {
                    "type": "string"
                },
                "sloMetadata": {
                    "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata"
                },
                "softwareVersions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY",
                        "UPDATING",
                        "REPAIRING",
                        "DELETING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "tenantProjectId": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
            "properties": {
                "canReschedule": {
                    "type": "boolean"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "rolloutManagementPolicy": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
            "properties": {
                "exclude": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata",
            "properties": {
                "exclusions": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion"
                    },
                    "type": "array"
                },
                "location": {
                    "type": "string"
                },
                "nodeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
            "properties": {
                "resourceType": {
                    "type": "string"
                },
                "resourceUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
            "properties": {
                "eligible": {
                    "type": "boolean"
                },
                "reason": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion",
            "properties": {
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "reason": {
                    "type": "string"
                },
                "sliName": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
            "properties": {
                "eligibility": {
                    "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
                },
                "exclusions": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion"
                    },
                    "type": "array"
                },
                "nodes": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
                    },
                    "type": "array"
                },
                "tier": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDomainsResponse": {
            "id": "ListDomainsResponse",
            "properties": {
                "domains": {
                    "items": {
                        "$ref": "Domain"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "id": "OperationMetadata",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "cancelRequested": {
                    "type": "boolean"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "statusDetail": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "verb": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ReconfigureTrustRequest": {
            "id": "ReconfigureTrustRequest",
            "properties": {
                "targetDnsIpAddresses": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "targetDomainName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResetAdminPasswordRequest": {
            "id": "ResetAdminPasswordRequest",
            "properties": {},
            "type": "object"
        },
        "ResetAdminPasswordResponse": {
            "id": "ResetAdminPasswordResponse",
            "properties": {
                "password": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Trust": {
            "id": "Trust",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastTrustHeartbeatTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "selectiveAuthentication": {
                    "type": "boolean"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "UPDATING",
                        "DELETING",
                        "CONNECTED",
                        "DISCONNECTED"
                    ],
                    "type": "string"
                },
                "stateDescription": {
                    "type": "string"
                },
                "targetDnsIpAddresses": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "targetDomainName": {
                    "type": "string"
                },
                "trustDirection": {
                    "enum": [
                        "TRUST_DIRECTION_UNSPECIFIED",
                        "INBOUND",
                        "OUTBOUND",
                        "BIDIRECTIONAL"
                    ],
                    "type": "string"
                },
                "trustHandshakeSecret": {
                    "type": "string"
                },
                "trustType": {
                    "enum": [
                        "TRUST_TYPE_UNSPECIFIED",
                        "FOREST",
                        "EXTERNAL"
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ValidateTrustRequest": {
            "id": "ValidateTrustRequest",
            "properties": {
                "trust": {
                    "$ref": "Trust"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Managed Service for Microsoft Active Directory API",
    "version": "v1",
    "version_module": true
}