{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/manufacturercenter": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://manufacturers.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Manufacturer Center",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/manufacturers/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "manufacturers:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
    "name": "manufacturers",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "resources": {
                "products": {
                    "methods": {
                        "delete": {
                            "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
                            "httpMethod": "DELETE",
                            "id": "manufacturers.accounts.products.delete",
                            "parameterOrder": [
                                "parent",
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/products/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/manufacturercenter"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
                            "httpMethod": "GET",
                            "id": "manufacturers.accounts.products.get",
                            "parameterOrder": [
                                "parent",
                                "name"
                            ],
                            "parameters": {
                                "include": {
                                    "enum": [
                                        "UNKNOWN",
                                        "ATTRIBUTES",
                                        "ISSUES",
                                        "DESTINATION_STATUSES"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/products/{+name}",
                            "response": {
                                "$ref": "Product"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/manufacturercenter"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/accounts/{accountsId}/products",
                            "httpMethod": "GET",
                            "id": "manufacturers.accounts.products.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "include": {
                                    "enum": [
                                        "UNKNOWN",
                                        "ATTRIBUTES",
                                        "ISSUES",
                                        "DESTINATION_STATUSES"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/products",
                            "response": {
                                "$ref": "ListProductsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/manufacturercenter"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
                            "httpMethod": "PUT",
                            "id": "manufacturers.accounts.products.update",
                            "parameterOrder": [
                                "parent",
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/products/{+name}",
                            "request": {
                                "$ref": "Attributes"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/manufacturercenter"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://manufacturers.googleapis.com/",
    "schemas": {
        "Attributes": {
            "id": "Attributes",
            "properties": {
                "additionalImageLink": {
                    "items": {
                        "$ref": "Image"
                    },
                    "type": "array"
                },
                "ageGroup": {
                    "type": "string"
                },
                "brand": {
                    "type": "string"
                },
                "capacity": {
                    "$ref": "Capacity"
                },
                "color": {
                    "type": "string"
                },
                "count": {
                    "$ref": "Count"
                },
                "disclosureDate": {
                    "type": "string"
                },
                "excludedDestination": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "featureDescription": {
                    "items": {
                        "$ref": "FeatureDescription"
                    },
                    "type": "array"
                },
                "flavor": {
                    "type": "string"
                },
                "format": {
                    "type": "string"
                },
                "gender": {
                    "type": "string"
                },
                "gtin": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "imageLink": {
                    "$ref": "Image"
                },
                "includedDestination": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "itemGroupId": {
                    "type": "string"
                },
                "material": {
                    "type": "string"
                },
                "mpn": {
                    "type": "string"
                },
                "pattern": {
                    "type": "string"
                },
                "productDetail": {
                    "items": {
                        "$ref": "ProductDetail"
                    },
                    "type": "array"
                },
                "productLine": {
                    "type": "string"
                },
                "productName": {
                    "type": "string"
                },
                "productPageUrl": {
                    "type": "string"
                },
                "productType": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "releaseDate": {
                    "type": "string"
                },
                "richContent": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "scent": {
                    "type": "string"
                },
                "size": {
                    "type": "string"
                },
                "sizeSystem": {
                    "type": "string"
                },
                "sizeType": {
                    "type": "string"
                },
                "suggestedRetailPrice": {
                    "$ref": "Price"
                },
                "targetClientId": {
                    "type": "string"
                },
                "theme": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "videoLink": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Capacity": {
            "id": "Capacity",
            "properties": {
                "unit": {
                    "type": "string"
                },
                "value": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Count": {
            "id": "Count",
            "properties": {
                "unit": {
                    "type": "string"
                },
                "value": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DestinationStatus": {
            "id": "DestinationStatus",
            "properties": {
                "destination": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "UNKNOWN",
                        "ACTIVE",
                        "PENDING",
                        "DISAPPROVED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "FeatureDescription": {
            "id": "FeatureDescription",
            "properties": {
                "headline": {
                    "type": "string"
                },
                "image": {
                    "$ref": "Image"
                },
                "text": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Image": {
            "id": "Image",
            "properties": {
                "imageUrl": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "PENDING_PROCESSING",
                        "PENDING_CRAWL",
                        "OK",
                        "ROBOTED",
                        "XROBOTED",
                        "CRAWL_ERROR",
                        "PROCESSING_ERROR",
                        "DECODING_ERROR",
                        "TOO_BIG",
                        "CRAWL_SKIPPED",
                        "HOSTLOADED",
                        "HTTP_404"
                    ],
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "CRAWLED",
                        "UPLOADED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Issue": {
            "id": "Issue",
            "properties": {
                "attribute": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "resolution": {
                    "enum": [
                        "RESOLUTION_UNSPECIFIED",
                        "USER_ACTION",
                        "PENDING_PROCESSING"
                    ],
                    "type": "string"
                },
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "ERROR",
                        "WARNING",
                        "INFO"
                    ],
                    "type": "string"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListProductsResponse": {
            "id": "ListProductsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "products": {
                    "items": {
                        "$ref": "Product"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Price": {
            "id": "Price",
            "properties": {
                "amount": {
                    "type": "string"
                },
                "currency": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Product": {
            "id": "Product",
            "properties": {
                "attributes": {
                    "$ref": "Attributes"
                },
                "contentLanguage": {
                    "type": "string"
                },
                "destinationStatuses": {
                    "items": {
                        "$ref": "DestinationStatus"
                    },
                    "type": "array"
                },
                "issues": {
                    "items": {
                        "$ref": "Issue"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "productId": {
                    "type": "string"
                },
                "targetCountry": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ProductDetail": {
            "id": "ProductDetail",
            "properties": {
                "attributeName": {
                    "type": "string"
                },
                "attributeValue": {
                    "type": "string"
                },
                "sectionName": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Manufacturer Center API",
    "version": "v1",
    "version_module": true
}