{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/glass.location": {},
                "https://www.googleapis.com/auth/glass.timeline": {}
            }
        }
    },
    "basePath": "/mirror/v1/",
    "baseUrl": "https://www.googleapis.com/mirror/v1/",
    "batchPath": "batch/mirror/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/glass",
    "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/beqzjzqqUhkCytAlD4Bh0NthVOg\"",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "mirror:v1",
    "kind": "discovery#restDescription",
    "labels": [
        "limited_availability"
    ],
    "name": "mirror",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "methods": {
                "insert": {
                    "httpMethod": "POST",
                    "id": "mirror.accounts.insert",
                    "parameterOrder": [
                        "userToken",
                        "accountType",
                        "accountName"
                    ],
                    "parameters": {
                        "accountName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "accountType": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userToken": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "accounts/{userToken}/{accountType}/{accountName}",
                    "request": {
                        "$ref": "Account"
                    },
                    "response": {
                        "$ref": "Account"
                    }
                }
            }
        },
        "contacts": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "mirror.contacts.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "contacts/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "mirror.contacts.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "contacts/{id}",
                    "response": {
                        "$ref": "Contact"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "mirror.contacts.insert",
                    "path": "contacts",
                    "request": {
                        "$ref": "Contact"
                    },
                    "response": {
                        "$ref": "Contact"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "mirror.contacts.list",
                    "path": "contacts",
                    "response": {
                        "$ref": "ContactsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "mirror.contacts.patch",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "contacts/{id}",
                    "request": {
                        "$ref": "Contact"
                    },
                    "response": {
                        "$ref": "Contact"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "mirror.contacts.update",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "contacts/{id}",
                    "request": {
                        "$ref": "Contact"
                    },
                    "response": {
                        "$ref": "Contact"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                }
            }
        },
        "locations": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "mirror.locations.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "locations/{id}",
                    "response": {
                        "$ref": "Location"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.location",
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "mirror.locations.list",
                    "path": "locations",
                    "response": {
                        "$ref": "LocationsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.location",
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                }
            }
        },
        "settings": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "mirror.settings.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "settings/{id}",
                    "response": {
                        "$ref": "Setting"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                }
            }
        },
        "subscriptions": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "mirror.subscriptions.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "subscriptions/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "mirror.subscriptions.insert",
                    "path": "subscriptions",
                    "request": {
                        "$ref": "Subscription"
                    },
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "mirror.subscriptions.list",
                    "path": "subscriptions",
                    "response": {
                        "$ref": "SubscriptionsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "mirror.subscriptions.update",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "subscriptions/{id}",
                    "request": {
                        "$ref": "Subscription"
                    },
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                }
            }
        },
        "timeline": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "mirror.timeline.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "timeline/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.location",
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "mirror.timeline.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "timeline/{id}",
                    "response": {
                        "$ref": "TimelineItem"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.location",
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "mirror.timeline.insert",
                    "mediaUpload": {
                        "accept": [
                            "audio/*",
                            "image/*",
                            "video/*"
                        ],
                        "maxSize": "10MB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/mirror/v1/timeline"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/mirror/v1/timeline"
                            }
                        }
                    },
                    "path": "timeline",
                    "request": {
                        "$ref": "TimelineItem"
                    },
                    "response": {
                        "$ref": "TimelineItem"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.location",
                        "https://www.googleapis.com/auth/glass.timeline"
                    ],
                    "supportsMediaUpload": true
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "mirror.timeline.list",
                    "parameters": {
                        "bundleId": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "orderBy": {
                            "enum": [
                                "displayTime",
                                "writeTime"
                            ],
                            "enumDescriptions": [
                                "Results will be ordered by displayTime (default). This is the same ordering as is used in the timeline on the device.",
                                "Results will be ordered by the time at which they were last written to the data store."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "pinnedOnly": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "sourceItemId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "timeline",
                    "response": {
                        "$ref": "TimelineListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.location",
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "mirror.timeline.patch",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "timeline/{id}",
                    "request": {
                        "$ref": "TimelineItem"
                    },
                    "response": {
                        "$ref": "TimelineItem"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.location",
                        "https://www.googleapis.com/auth/glass.timeline"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "mirror.timeline.update",
                    "mediaUpload": {
                        "accept": [
                            "audio/*",
                            "image/*",
                            "video/*"
                        ],
                        "maxSize": "10MB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/mirror/v1/timeline/{id}"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/mirror/v1/timeline/{id}"
                            }
                        }
                    },
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "timeline/{id}",
                    "request": {
                        "$ref": "TimelineItem"
                    },
                    "response": {
                        "$ref": "TimelineItem"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/glass.location",
                        "https://www.googleapis.com/auth/glass.timeline"
                    ],
                    "supportsMediaUpload": true
                }
            },
            "resources": {
                "attachments": {
                    "methods": {
                        "delete": {
                            "httpMethod": "DELETE",
                            "id": "mirror.timeline.attachments.delete",
                            "parameterOrder": [
                                "itemId",
                                "attachmentId"
                            ],
                            "parameters": {
                                "attachmentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "itemId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "timeline/{itemId}/attachments/{attachmentId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/glass.timeline"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "mirror.timeline.attachments.get",
                            "parameterOrder": [
                                "itemId",
                                "attachmentId"
                            ],
                            "parameters": {
                                "attachmentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "itemId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "timeline/{itemId}/attachments/{attachmentId}",
                            "response": {
                                "$ref": "Attachment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/glass.timeline"
                            ],
                            "supportsMediaDownload": true
                        },
                        "insert": {
                            "httpMethod": "POST",
                            "id": "mirror.timeline.attachments.insert",
                            "mediaUpload": {
                                "accept": [
                                    "audio/*",
                                    "image/*",
                                    "video/*"
                                ],
                                "maxSize": "10MB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/mirror/v1/timeline/{itemId}/attachments"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/mirror/v1/timeline/{itemId}/attachments"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "itemId"
                            ],
                            "parameters": {
                                "itemId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "timeline/{itemId}/attachments",
                            "response": {
                                "$ref": "Attachment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/glass.timeline"
                            ],
                            "supportsMediaUpload": true
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "mirror.timeline.attachments.list",
                            "parameterOrder": [
                                "itemId"
                            ],
                            "parameters": {
                                "itemId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "timeline/{itemId}/attachments",
                            "response": {
                                "$ref": "AttachmentsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/glass.timeline"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Account": {
            "id": "Account",
            "properties": {
                "authTokens": {
                    "items": {
                        "$ref": "AuthToken"
                    },
                    "type": "array"
                },
                "features": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "password": {
                    "type": "string"
                },
                "userData": {
                    "items": {
                        "$ref": "UserData"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Attachment": {
            "id": "Attachment",
            "properties": {
                "contentType": {
                    "type": "string"
                },
                "contentUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "isProcessingContent": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AttachmentsListResponse": {
            "id": "AttachmentsListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Attachment"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "mirror#attachmentsList",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuthToken": {
            "id": "AuthToken",
            "properties": {
                "authToken": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Command": {
            "id": "Command",
            "properties": {
                "type": {
                    "annotations": {
                        "required": [
                            "mirror.contacts.insert",
                            "mirror.contacts.update"
                        ]
                    },
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Contact": {
            "id": "Contact",
            "properties": {
                "acceptCommands": {
                    "items": {
                        "$ref": "Command"
                    },
                    "type": "array"
                },
                "acceptTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "displayName": {
                    "annotations": {
                        "required": [
                            "mirror.contacts.insert",
                            "mirror.contacts.update"
                        ]
                    },
                    "type": "string"
                },
                "id": {
                    "annotations": {
                        "required": [
                            "mirror.contacts.insert",
                            "mirror.contacts.update"
                        ]
                    },
                    "type": "string"
                },
                "imageUrls": {
                    "annotations": {
                        "required": [
                            "mirror.contacts.insert",
                            "mirror.contacts.update"
                        ]
                    },
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "mirror#contact",
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                },
                "priority": {
                    "format": "uint32",
                    "type": "integer"
                },
                "sharingFeatures": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "source": {
                    "type": "string"
                },
                "speakableName": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContactsListResponse": {
            "id": "ContactsListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Contact"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "mirror#contacts",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "accuracy": {
                    "format": "double",
                    "type": "number"
                },
                "address": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "mirror#location",
                    "type": "string"
                },
                "latitude": {
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "format": "double",
                    "type": "number"
                },
                "timestamp": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocationsListResponse": {
            "id": "LocationsListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "mirror#locationsList",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MenuItem": {
            "id": "MenuItem",
            "properties": {
                "action": {
                    "type": "string"
                },
                "contextual_command": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "payload": {
                    "type": "string"
                },
                "removeWhenSelected": {
                    "type": "boolean"
                },
                "values": {
                    "items": {
                        "$ref": "MenuValue"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MenuValue": {
            "id": "MenuValue",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "iconUrl": {
                    "type": "string"
                },
                "state": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Notification": {
            "id": "Notification",
            "properties": {
                "collection": {
                    "type": "string"
                },
                "itemId": {
                    "type": "string"
                },
                "operation": {
                    "type": "string"
                },
                "userActions": {
                    "items": {
                        "$ref": "UserAction"
                    },
                    "type": "array"
                },
                "userToken": {
                    "type": "string"
                },
                "verifyToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NotificationConfig": {
            "id": "NotificationConfig",
            "properties": {
                "deliveryTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "level": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Setting": {
            "id": "Setting",
            "properties": {
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "mirror#setting",
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Subscription": {
            "id": "Subscription",
            "properties": {
                "callbackUrl": {
                    "annotations": {
                        "required": [
                            "mirror.subscriptions.insert",
                            "mirror.subscriptions.update"
                        ]
                    },
                    "type": "string"
                },
                "collection": {
                    "annotations": {
                        "required": [
                            "mirror.subscriptions.insert",
                            "mirror.subscriptions.update"
                        ]
                    },
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "mirror#subscription",
                    "type": "string"
                },
                "notification": {
                    "$ref": "Notification"
                },
                "operation": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "updated": {
                    "format": "date-time",
                    "type": "string"
                },
                "userToken": {
                    "type": "string"
                },
                "verifyToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SubscriptionsListResponse": {
            "id": "SubscriptionsListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Subscription"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "mirror#subscriptionsList",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TimelineItem": {
            "id": "TimelineItem",
            "properties": {
                "attachments": {
                    "items": {
                        "$ref": "Attachment"
                    },
                    "type": "array"
                },
                "bundleId": {
                    "type": "string"
                },
                "canonicalUrl": {
                    "type": "string"
                },
                "created": {
                    "format": "date-time",
                    "type": "string"
                },
                "creator": {
                    "$ref": "Contact"
                },
                "displayTime": {
                    "format": "date-time",
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "html": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "inReplyTo": {
                    "type": "string"
                },
                "isBundleCover": {
                    "type": "boolean"
                },
                "isDeleted": {
                    "type": "boolean"
                },
                "isPinned": {
                    "type": "boolean"
                },
                "kind": {
                    "default": "mirror#timelineItem",
                    "type": "string"
                },
                "location": {
                    "$ref": "Location"
                },
                "menuItems": {
                    "items": {
                        "$ref": "MenuItem"
                    },
                    "type": "array"
                },
                "notification": {
                    "$ref": "NotificationConfig"
                },
                "pinScore": {
                    "format": "int32",
                    "type": "integer"
                },
                "recipients": {
                    "items": {
                        "$ref": "Contact"
                    },
                    "type": "array"
                },
                "selfLink": {
                    "type": "string"
                },
                "sourceItemId": {
                    "type": "string"
                },
                "speakableText": {
                    "type": "string"
                },
                "speakableType": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updated": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TimelineListResponse": {
            "id": "TimelineListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "TimelineItem"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "mirror#timeline",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UserAction": {
            "id": "UserAction",
            "properties": {
                "payload": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UserData": {
            "id": "UserData",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "mirror/v1/",
    "title": "Google Mirror API",
    "version": "v1"
}