{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://ml.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Machine Learning Engine",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/ml/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "ml:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://ml.mtls.googleapis.com/",
    "name": "ml",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "explain": {
                    "flatPath": "v1/projects/{projectsId}:explain",
                    "httpMethod": "POST",
                    "id": "ml.projects.explain",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:explain",
                    "request": {
                        "$ref": "GoogleCloudMlV1__ExplainRequest"
                    },
                    "response": {
                        "$ref": "GoogleApi__HttpBody"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getConfig": {
                    "flatPath": "v1/projects/{projectsId}:getConfig",
                    "httpMethod": "GET",
                    "id": "ml.projects.getConfig",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:getConfig",
                    "response": {
                        "$ref": "GoogleCloudMlV1__GetConfigResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "predict": {
                    "flatPath": "v1/projects/{projectsId}:predict",
                    "httpMethod": "POST",
                    "id": "ml.projects.predict",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:predict",
                    "request": {
                        "$ref": "GoogleCloudMlV1__PredictRequest"
                    },
                    "response": {
                        "$ref": "GoogleApi__HttpBody"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "jobs": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}:cancel",
                            "httpMethod": "POST",
                            "id": "ml.projects.jobs.cancel",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:cancel",
                            "request": {
                                "$ref": "GoogleCloudMlV1__CancelJobRequest"
                            },
                            "response": {
                                "$ref": "GoogleProtobuf__Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/jobs",
                            "httpMethod": "POST",
                            "id": "ml.projects.jobs.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/jobs",
                            "request": {
                                "$ref": "GoogleCloudMlV1__Job"
                            },
                            "response": {
                                "$ref": "GoogleCloudMlV1__Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}",
                            "httpMethod": "GET",
                            "id": "ml.projects.jobs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudMlV1__Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}:getIamPolicy",
                            "httpMethod": "GET",
                            "id": "ml.projects.jobs.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "GoogleIamV1__Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/jobs",
                            "httpMethod": "GET",
                            "id": "ml.projects.jobs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/jobs",
                            "response": {
                                "$ref": "GoogleCloudMlV1__ListJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}",
                            "httpMethod": "PATCH",
                            "id": "ml.projects.jobs.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudMlV1__Job"
                            },
                            "response": {
                                "$ref": "GoogleCloudMlV1__Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "ml.projects.jobs.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "GoogleIamV1__SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "GoogleIamV1__Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "ml.projects.jobs.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/jobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "GoogleIamV1__TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "GoogleIamV1__TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "ml.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudMlV1__Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "ml.projects.locations.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/locations",
                            "response": {
                                "$ref": "GoogleCloudMlV1__ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    },
                    "resources": {
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "ml.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "response": {
                                        "$ref": "GoogleProtobuf__Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "ml.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleLongrunning__Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "studies": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies",
                                    "httpMethod": "POST",
                                    "id": "ml.projects.locations.studies.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "studyId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/studies",
                                    "request": {
                                        "$ref": "GoogleCloudMlV1__Study"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudMlV1__Study"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}",
                                    "httpMethod": "DELETE",
                                    "id": "ml.projects.locations.studies.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobuf__Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}",
                                    "httpMethod": "GET",
                                    "id": "ml.projects.locations.studies.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudMlV1__Study"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies",
                                    "httpMethod": "GET",
                                    "id": "ml.projects.locations.studies.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/studies",
                                    "response": {
                                        "$ref": "GoogleCloudMlV1__ListStudiesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "trials": {
                                    "methods": {
                                        "addMeasurement": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}:addMeasurement",
                                            "httpMethod": "POST",
                                            "id": "ml.projects.locations.studies.trials.addMeasurement",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:addMeasurement",
                                            "request": {
                                                "$ref": "GoogleCloudMlV1__AddTrialMeasurementRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudMlV1__Trial"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "checkEarlyStoppingState": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}:checkEarlyStoppingState",
                                            "httpMethod": "POST",
                                            "id": "ml.projects.locations.studies.trials.checkEarlyStoppingState",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:checkEarlyStoppingState",
                                            "request": {
                                                "$ref": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleLongrunning__Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "complete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}:complete",
                                            "httpMethod": "POST",
                                            "id": "ml.projects.locations.studies.trials.complete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:complete",
                                            "request": {
                                                "$ref": "GoogleCloudMlV1__CompleteTrialRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudMlV1__Trial"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials",
                                            "httpMethod": "POST",
                                            "id": "ml.projects.locations.studies.trials.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/trials",
                                            "request": {
                                                "$ref": "GoogleCloudMlV1__Trial"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudMlV1__Trial"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}",
                                            "httpMethod": "DELETE",
                                            "id": "ml.projects.locations.studies.trials.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleProtobuf__Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}",
                                            "httpMethod": "GET",
                                            "id": "ml.projects.locations.studies.trials.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudMlV1__Trial"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials",
                                            "httpMethod": "GET",
                                            "id": "ml.projects.locations.studies.trials.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/trials",
                                            "response": {
                                                "$ref": "GoogleCloudMlV1__ListTrialsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "stop": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}:stop",
                                            "httpMethod": "POST",
                                            "id": "ml.projects.locations.studies.trials.stop",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:stop",
                                            "request": {
                                                "$ref": "GoogleCloudMlV1__StopTrialRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudMlV1__Trial"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "suggest": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials:suggest",
                                            "httpMethod": "POST",
                                            "id": "ml.projects.locations.studies.trials.suggest",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/trials:suggest",
                                            "request": {
                                                "$ref": "GoogleCloudMlV1__SuggestTrialsRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleLongrunning__Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "models": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/models",
                            "httpMethod": "POST",
                            "id": "ml.projects.models.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/models",
                            "request": {
                                "$ref": "GoogleCloudMlV1__Model"
                            },
                            "response": {
                                "$ref": "GoogleCloudMlV1__Model"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/models/{modelsId}",
                            "httpMethod": "DELETE",
                            "id": "ml.projects.models.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/models/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleLongrunning__Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/models/{modelsId}",
                            "httpMethod": "GET",
                            "id": "ml.projects.models.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/models/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudMlV1__Model"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/models/{modelsId}:getIamPolicy",
                            "httpMethod": "GET",
                            "id": "ml.projects.models.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/models/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "GoogleIamV1__Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/models",
                            "httpMethod": "GET",
                            "id": "ml.projects.models.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/models",
                            "response": {
                                "$ref": "GoogleCloudMlV1__ListModelsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/models/{modelsId}",
                            "httpMethod": "PATCH",
                            "id": "ml.projects.models.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/models/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudMlV1__Model"
                            },
                            "response": {
                                "$ref": "GoogleLongrunning__Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/models/{modelsId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "ml.projects.models.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/models/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "GoogleIamV1__SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "GoogleIamV1__Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/models/{modelsId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "ml.projects.models.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/models/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "GoogleIamV1__TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "GoogleIamV1__TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "versions": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions",
                                    "httpMethod": "POST",
                                    "id": "ml.projects.models.versions.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/models/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/versions",
                                    "request": {
                                        "$ref": "GoogleCloudMlV1__Version"
                                    },
                                    "response": {
                                        "$ref": "GoogleLongrunning__Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions/{versionsId}",
                                    "httpMethod": "DELETE",
                                    "id": "ml.projects.models.versions.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleLongrunning__Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions/{versionsId}",
                                    "httpMethod": "GET",
                                    "id": "ml.projects.models.versions.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudMlV1__Version"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions",
                                    "httpMethod": "GET",
                                    "id": "ml.projects.models.versions.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/models/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/versions",
                                    "response": {
                                        "$ref": "GoogleCloudMlV1__ListVersionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions/{versionsId}",
                                    "httpMethod": "PATCH",
                                    "id": "ml.projects.models.versions.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudMlV1__Version"
                                    },
                                    "response": {
                                        "$ref": "GoogleLongrunning__Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setDefault": {
                                    "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions/{versionsId}:setDefault",
                                    "httpMethod": "POST",
                                    "id": "ml.projects.models.versions.setDefault",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setDefault",
                                    "request": {
                                        "$ref": "GoogleCloudMlV1__SetDefaultVersionRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudMlV1__Version"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
                            "httpMethod": "POST",
                            "id": "ml.projects.operations.cancel",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:cancel",
                            "response": {
                                "$ref": "GoogleProtobuf__Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "ml.projects.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleLongrunning__Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/operations",
                            "httpMethod": "GET",
                            "id": "ml.projects.operations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/operations",
                            "response": {
                                "$ref": "GoogleLongrunning__ListOperationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://ml.googleapis.com/",
    "schemas": {
        "GoogleApi__HttpBody": {
            "id": "GoogleApi__HttpBody",
            "properties": {
                "contentType": {
                    "type": "string"
                },
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "extensions": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig": {
            "id": "GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig",
            "properties": {
                "useElapsedTime": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig": {
            "id": "GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig",
            "properties": {
                "useElapsedTime": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric": {
            "id": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric",
            "properties": {
                "objectiveValue": {
                    "format": "double",
                    "type": "number"
                },
                "trainingStep": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_Measurement_Metric": {
            "id": "GoogleCloudMlV1_Measurement_Metric",
            "properties": {
                "metric": {
                    "type": "string"
                },
                "value": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec": {
            "id": "GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec",
            "properties": {
                "values": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_StudyConfigParameterSpec_DiscreteValueSpec": {
            "id": "GoogleCloudMlV1_StudyConfigParameterSpec_DiscreteValueSpec",
            "properties": {
                "values": {
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec": {
            "id": "GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec",
            "properties": {
                "maxValue": {
                    "format": "double",
                    "type": "number"
                },
                "minValue": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_StudyConfigParameterSpec_IntegerValueSpec": {
            "id": "GoogleCloudMlV1_StudyConfigParameterSpec_IntegerValueSpec",
            "properties": {
                "maxValue": {
                    "format": "int64",
                    "type": "string"
                },
                "minValue": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentCategoricalValueSpec": {
            "id": "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentCategoricalValueSpec",
            "properties": {
                "values": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec": {
            "id": "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec",
            "properties": {
                "values": {
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentIntValueSpec": {
            "id": "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentIntValueSpec",
            "properties": {
                "values": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_StudyConfig_MetricSpec": {
            "id": "GoogleCloudMlV1_StudyConfig_MetricSpec",
            "properties": {
                "goal": {
                    "enum": [
                        "GOAL_TYPE_UNSPECIFIED",
                        "MAXIMIZE",
                        "MINIMIZE"
                    ],
                    "enumDescriptions": [
                        "Goal Type will default to maximize.",
                        "Maximize the goal metric.",
                        "Minimize the goal metric."
                    ],
                    "type": "string"
                },
                "metric": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_StudyConfig_ParameterSpec": {
            "id": "GoogleCloudMlV1_StudyConfig_ParameterSpec",
            "properties": {
                "categoricalValueSpec": {
                    "$ref": "GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec"
                },
                "childParameterSpecs": {
                    "items": {
                        "$ref": "GoogleCloudMlV1_StudyConfig_ParameterSpec"
                    },
                    "type": "array"
                },
                "discreteValueSpec": {
                    "$ref": "GoogleCloudMlV1_StudyConfigParameterSpec_DiscreteValueSpec"
                },
                "doubleValueSpec": {
                    "$ref": "GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec"
                },
                "integerValueSpec": {
                    "$ref": "GoogleCloudMlV1_StudyConfigParameterSpec_IntegerValueSpec"
                },
                "parameter": {
                    "type": "string"
                },
                "parentCategoricalValues": {
                    "$ref": "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentCategoricalValueSpec"
                },
                "parentDiscreteValues": {
                    "$ref": "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec"
                },
                "parentIntValues": {
                    "$ref": "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentIntValueSpec"
                },
                "scaleType": {
                    "enum": [
                        "SCALE_TYPE_UNSPECIFIED",
                        "UNIT_LINEAR_SCALE",
                        "UNIT_LOG_SCALE",
                        "UNIT_REVERSE_LOG_SCALE"
                    ],
                    "enumDescriptions": [
                        "By default, no scaling is applied.",
                        "Scales the feasible space to (0, 1) linearly.",
                        "Scales the feasible space logarithmically to (0, 1). The entire\nfeasible space must be strictly positive.",
                        "Scales the feasible space \"reverse\" logarithmically to (0, 1). The\nresult is that values close to the top of the feasible space are spread\nout more than points near the bottom. The entire feasible space must be\nstrictly positive."
                    ],
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "PARAMETER_TYPE_UNSPECIFIED",
                        "DOUBLE",
                        "INTEGER",
                        "CATEGORICAL",
                        "DISCRETE"
                    ],
                    "enumDescriptions": [
                        "You must specify a valid type. Using this unspecified type will result\nin an error.",
                        "Type for real-valued parameters.",
                        "Type for integral parameters.",
                        "The parameter is categorical, with a value chosen from the categories\nfield.",
                        "The parameter is real valued, with a fixed set of feasible points. If\n`type==DISCRETE`, feasible_points must be provided, and\n{`min_value`, `max_value`} will be ignored."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1_Trial_Parameter": {
            "id": "GoogleCloudMlV1_Trial_Parameter",
            "properties": {
                "floatValue": {
                    "format": "double",
                    "type": "number"
                },
                "intValue": {
                    "format": "int64",
                    "type": "string"
                },
                "parameter": {
                    "type": "string"
                },
                "stringValue": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__AcceleratorConfig": {
            "id": "GoogleCloudMlV1__AcceleratorConfig",
            "properties": {
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "ACCELERATOR_TYPE_UNSPECIFIED",
                        "NVIDIA_TESLA_K80",
                        "NVIDIA_TESLA_P100",
                        "NVIDIA_TESLA_V100",
                        "NVIDIA_TESLA_P4",
                        "NVIDIA_TESLA_T4",
                        "TPU_V2",
                        "TPU_V3"
                    ],
                    "enumDescriptions": [
                        "Unspecified accelerator type. Default to no GPU.",
                        "Nvidia Tesla K80 GPU.",
                        "Nvidia Tesla P100 GPU.",
                        "Nvidia Tesla V100 GPU.",
                        "Nvidia Tesla P4 GPU.",
                        "Nvidia Tesla T4 GPU.",
                        "TPU v2.",
                        "TPU v3."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__AddTrialMeasurementRequest": {
            "id": "GoogleCloudMlV1__AddTrialMeasurementRequest",
            "properties": {
                "measurement": {
                    "$ref": "GoogleCloudMlV1__Measurement"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__AutoScaling": {
            "id": "GoogleCloudMlV1__AutoScaling",
            "properties": {
                "minNodes": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__AutomatedStoppingConfig": {
            "id": "GoogleCloudMlV1__AutomatedStoppingConfig",
            "properties": {
                "decayCurveStoppingConfig": {
                    "$ref": "GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig"
                },
                "medianAutomatedStoppingConfig": {
                    "$ref": "GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__BuiltInAlgorithmOutput": {
            "id": "GoogleCloudMlV1__BuiltInAlgorithmOutput",
            "properties": {
                "framework": {
                    "type": "string"
                },
                "modelPath": {
                    "type": "string"
                },
                "pythonVersion": {
                    "type": "string"
                },
                "runtimeVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__CancelJobRequest": {
            "id": "GoogleCloudMlV1__CancelJobRequest",
            "properties": {},
            "type": "object"
        },
        "GoogleCloudMlV1__Capability": {
            "id": "GoogleCloudMlV1__Capability",
            "properties": {
                "availableAccelerators": {
                    "enumDescriptions": [
                        "Unspecified accelerator type. Default to no GPU.",
                        "Nvidia Tesla K80 GPU.",
                        "Nvidia Tesla P100 GPU.",
                        "Nvidia Tesla V100 GPU.",
                        "Nvidia Tesla P4 GPU.",
                        "Nvidia Tesla T4 GPU.",
                        "TPU v2.",
                        "TPU v3."
                    ],
                    "items": {
                        "enum": [
                            "ACCELERATOR_TYPE_UNSPECIFIED",
                            "NVIDIA_TESLA_K80",
                            "NVIDIA_TESLA_P100",
                            "NVIDIA_TESLA_V100",
                            "NVIDIA_TESLA_P4",
                            "NVIDIA_TESLA_T4",
                            "TPU_V2",
                            "TPU_V3"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "TRAINING",
                        "BATCH_PREDICTION",
                        "ONLINE_PREDICTION"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__CheckTrialEarlyStoppingStateMetatdata": {
            "id": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateMetatdata",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "study": {
                    "type": "string"
                },
                "trial": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest": {
            "id": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest",
            "properties": {},
            "type": "object"
        },
        "GoogleCloudMlV1__CheckTrialEarlyStoppingStateResponse": {
            "id": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateResponse",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "shouldStop": {
                    "type": "boolean"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__CompleteTrialRequest": {
            "id": "GoogleCloudMlV1__CompleteTrialRequest",
            "properties": {
                "finalMeasurement": {
                    "$ref": "GoogleCloudMlV1__Measurement"
                },
                "infeasibleReason": {
                    "type": "string"
                },
                "trialInfeasible": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__Config": {
            "id": "GoogleCloudMlV1__Config",
            "properties": {
                "tpuServiceAccount": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__EncryptionConfig": {
            "id": "GoogleCloudMlV1__EncryptionConfig",
            "properties": {
                "kmsKeyName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__ExplainRequest": {
            "id": "GoogleCloudMlV1__ExplainRequest",
            "properties": {
                "httpBody": {
                    "$ref": "GoogleApi__HttpBody"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__ExplanationConfig": {
            "id": "GoogleCloudMlV1__ExplanationConfig",
            "properties": {
                "integratedGradientsAttribution": {
                    "$ref": "GoogleCloudMlV1__IntegratedGradientsAttribution"
                },
                "sampledShapleyAttribution": {
                    "$ref": "GoogleCloudMlV1__SampledShapleyAttribution"
                },
                "xraiAttribution": {
                    "$ref": "GoogleCloudMlV1__XraiAttribution"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__GetConfigResponse": {
            "id": "GoogleCloudMlV1__GetConfigResponse",
            "properties": {
                "config": {
                    "$ref": "GoogleCloudMlV1__Config"
                },
                "serviceAccount": {
                    "type": "string"
                },
                "serviceAccountProject": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__HyperparameterOutput": {
            "id": "GoogleCloudMlV1__HyperparameterOutput",
            "properties": {
                "allMetrics": {
                    "items": {
                        "$ref": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
                    },
                    "type": "array"
                },
                "builtInAlgorithmOutput": {
                    "$ref": "GoogleCloudMlV1__BuiltInAlgorithmOutput"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "finalMetric": {
                    "$ref": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
                },
                "hyperparameters": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "isTrialStoppedEarly": {
                    "type": "boolean"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "QUEUED",
                        "PREPARING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLING",
                        "CANCELLED"
                    ],
                    "enumDescriptions": [
                        "The job state is unspecified.",
                        "The job has been just created and processing has not yet begun.",
                        "The service is preparing to run the job.",
                        "The job is in progress.",
                        "The job completed successfully.",
                        "The job failed.\n`error_message` should contain the details of the failure.",
                        "The job is being cancelled.\n`error_message` should describe the reason for the cancellation.",
                        "The job has been cancelled.\n`error_message` should describe the reason for the cancellation."
                    ],
                    "type": "string"
                },
                "trialId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__HyperparameterSpec": {
            "id": "GoogleCloudMlV1__HyperparameterSpec",
            "properties": {
                "algorithm": {
                    "enum": [
                        "ALGORITHM_UNSPECIFIED",
                        "GRID_SEARCH",
                        "RANDOM_SEARCH"
                    ],
                    "enumDescriptions": [
                        "The default algorithm used by the hyperparameter tuning service. This is\na Bayesian optimization algorithm.",
                        "Simple grid search within the feasible space. To use grid search,\nall parameters must be `INTEGER`, `CATEGORICAL`, or `DISCRETE`.",
                        "Simple random search within the feasible space."
                    ],
                    "type": "string"
                },
                "enableTrialEarlyStopping": {
                    "type": "boolean"
                },
                "goal": {
                    "enum": [
                        "GOAL_TYPE_UNSPECIFIED",
                        "MAXIMIZE",
                        "MINIMIZE"
                    ],
                    "enumDescriptions": [
                        "Goal Type will default to maximize.",
                        "Maximize the goal metric.",
                        "Minimize the goal metric."
                    ],
                    "type": "string"
                },
                "hyperparameterMetricTag": {
                    "type": "string"
                },
                "maxFailedTrials": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxParallelTrials": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxTrials": {
                    "format": "int32",
                    "type": "integer"
                },
                "params": {
                    "items": {
                        "$ref": "GoogleCloudMlV1__ParameterSpec"
                    },
                    "type": "array"
                },
                "resumePreviousJobId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__IntegratedGradientsAttribution": {
            "id": "GoogleCloudMlV1__IntegratedGradientsAttribution",
            "properties": {
                "numIntegralSteps": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__Job": {
            "id": "GoogleCloudMlV1__Job",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "errorMessage": {
                    "type": "string"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "jobId": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "predictionInput": {
                    "$ref": "GoogleCloudMlV1__PredictionInput"
                },
                "predictionOutput": {
                    "$ref": "GoogleCloudMlV1__PredictionOutput"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "QUEUED",
                        "PREPARING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLING",
                        "CANCELLED"
                    ],
                    "enumDescriptions": [
                        "The job state is unspecified.",
                        "The job has been just created and processing has not yet begun.",
                        "The service is preparing to run the job.",
                        "The job is in progress.",
                        "The job completed successfully.",
                        "The job failed.\n`error_message` should contain the details of the failure.",
                        "The job is being cancelled.\n`error_message` should describe the reason for the cancellation.",
                        "The job has been cancelled.\n`error_message` should describe the reason for the cancellation."
                    ],
                    "type": "string"
                },
                "trainingInput": {
                    "$ref": "GoogleCloudMlV1__TrainingInput"
                },
                "trainingOutput": {
                    "$ref": "GoogleCloudMlV1__TrainingOutput"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__ListJobsResponse": {
            "id": "GoogleCloudMlV1__ListJobsResponse",
            "properties": {
                "jobs": {
                    "items": {
                        "$ref": "GoogleCloudMlV1__Job"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__ListLocationsResponse": {
            "id": "GoogleCloudMlV1__ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "GoogleCloudMlV1__Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__ListModelsResponse": {
            "id": "GoogleCloudMlV1__ListModelsResponse",
            "properties": {
                "models": {
                    "items": {
                        "$ref": "GoogleCloudMlV1__Model"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__ListStudiesResponse": {
            "id": "GoogleCloudMlV1__ListStudiesResponse",
            "properties": {
                "studies": {
                    "items": {
                        "$ref": "GoogleCloudMlV1__Study"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__ListTrialsResponse": {
            "id": "GoogleCloudMlV1__ListTrialsResponse",
            "properties": {
                "trials": {
                    "items": {
                        "$ref": "GoogleCloudMlV1__Trial"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__ListVersionsResponse": {
            "id": "GoogleCloudMlV1__ListVersionsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "versions": {
                    "items": {
                        "$ref": "GoogleCloudMlV1__Version"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__Location": {
            "id": "GoogleCloudMlV1__Location",
            "properties": {
                "capabilities": {
                    "items": {
                        "$ref": "GoogleCloudMlV1__Capability"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__ManualScaling": {
            "id": "GoogleCloudMlV1__ManualScaling",
            "properties": {
                "nodes": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudMlV1__Measurement": {
            "id": "GoogleCloudMlV1__Measurement",
            "properties": {
                "elapsedTime": {
[...]
