{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/monitoring": {},
                "https://www.googleapis.com/auth/monitoring.read": {},
                "https://www.googleapis.com/auth/monitoring.write": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://monitoring.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Monitoring",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/monitoring/api/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "monitoring:v3",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://monitoring.mtls.googleapis.com/",
    "name": "monitoring",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "alertPolicies": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/alertPolicies",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.alertPolicies.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/alertPolicies",
                            "request": {
                                "$ref": "AlertPolicy"
                            },
                            "response": {
                                "$ref": "AlertPolicy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "delete": {
                            "flatPath": "v3/projects/{projectsId}/alertPolicies/{alertPoliciesId}",
                            "httpMethod": "DELETE",
                            "id": "monitoring.projects.alertPolicies.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/alertPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/alertPolicies/{alertPoliciesId}",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.alertPolicies.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/alertPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "AlertPolicy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/alertPolicies",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.alertPolicies.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/alertPolicies",
                            "response": {
                                "$ref": "ListAlertPoliciesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v3/projects/{projectsId}/alertPolicies/{alertPoliciesId}",
                            "httpMethod": "PATCH",
                            "id": "monitoring.projects.alertPolicies.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/alertPolicies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "request": {
                                "$ref": "AlertPolicy"
                            },
                            "response": {
                                "$ref": "AlertPolicy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        }
                    }
                },
                "collectdTimeSeries": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/collectdTimeSeries",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.collectdTimeSeries.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/collectdTimeSeries",
                            "request": {
                                "$ref": "CreateCollectdTimeSeriesRequest"
                            },
                            "response": {
                                "$ref": "CreateCollectdTimeSeriesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ]
                        }
                    }
                },
                "groups": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/groups",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.groups.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "validateOnly": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v3/{+name}/groups",
                            "request": {
                                "$ref": "Group"
                            },
                            "response": {
                                "$ref": "Group"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "delete": {
                            "flatPath": "v3/projects/{projectsId}/groups/{groupsId}",
                            "httpMethod": "DELETE",
                            "id": "monitoring.projects.groups.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/groups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "recursive": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/groups/{groupsId}",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.groups.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/groups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Group"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/groups",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.groups.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "ancestorsOfGroup": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "childrenOfGroup": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "descendantsOfGroup": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/groups",
                            "response": {
                                "$ref": "ListGroupsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "update": {
                            "flatPath": "v3/projects/{projectsId}/groups/{groupsId}",
                            "httpMethod": "PUT",
                            "id": "monitoring.projects.groups.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/groups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "validateOnly": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v3/{+name}",
                            "request": {
                                "$ref": "Group"
                            },
                            "response": {
                                "$ref": "Group"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        }
                    },
                    "resources": {
                        "members": {
                            "methods": {
                                "list": {
                                    "flatPath": "v3/projects/{projectsId}/groups/{groupsId}/members",
                                    "httpMethod": "GET",
                                    "id": "monitoring.projects.groups.members.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "interval.endTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "interval.startTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/groups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+name}/members",
                                    "response": {
                                        "$ref": "ListGroupMembersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/monitoring",
                                        "https://www.googleapis.com/auth/monitoring.read"
                                    ]
                                }
                            }
                        }
                    }
                },
                "metricDescriptors": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/metricDescriptors",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.metricDescriptors.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/metricDescriptors",
                            "request": {
                                "$ref": "MetricDescriptor"
                            },
                            "response": {
                                "$ref": "MetricDescriptor"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ]
                        },
                        "delete": {
                            "flatPath": "v3/projects/{projectsId}/metricDescriptors/{metricDescriptorsId}",
                            "httpMethod": "DELETE",
                            "id": "monitoring.projects.metricDescriptors.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/metricDescriptors/.*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/metricDescriptors/{metricDescriptorsId}",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.metricDescriptors.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/metricDescriptors/.*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "MetricDescriptor"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/metricDescriptors",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.metricDescriptors.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/metricDescriptors",
                            "response": {
                                "$ref": "ListMetricDescriptorsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ]
                        }
                    }
                },
                "monitoredResourceDescriptors": {
                    "methods": {
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/monitoredResourceDescriptors/{monitoredResourceDescriptorsId}",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.monitoredResourceDescriptors.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/monitoredResourceDescriptors/.*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "MonitoredResourceDescriptor"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/monitoredResourceDescriptors",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.monitoredResourceDescriptors.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/monitoredResourceDescriptors",
                            "response": {
                                "$ref": "ListMonitoredResourceDescriptorsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ]
                        }
                    }
                },
                "notificationChannelDescriptors": {
                    "methods": {
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannelDescriptors/{notificationChannelDescriptorsId}",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.notificationChannelDescriptors.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notificationChannelDescriptors/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "NotificationChannelDescriptor"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannelDescriptors",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.notificationChannelDescriptors.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/notificationChannelDescriptors",
                            "response": {
                                "$ref": "ListNotificationChannelDescriptorsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        }
                    }
                },
                "notificationChannels": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannels",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.notificationChannels.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/notificationChannels",
                            "request": {
                                "$ref": "NotificationChannel"
                            },
                            "response": {
                                "$ref": "NotificationChannel"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "delete": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannels/{notificationChannelsId}",
                            "httpMethod": "DELETE",
                            "id": "monitoring.projects.notificationChannels.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "force": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notificationChannels/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannels/{notificationChannelsId}",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.notificationChannels.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notificationChannels/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "NotificationChannel"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "getVerificationCode": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannels/{notificationChannelsId}:getVerificationCode",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.notificationChannels.getVerificationCode",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notificationChannels/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}:getVerificationCode",
                            "request": {
                                "$ref": "GetNotificationChannelVerificationCodeRequest"
                            },
                            "response": {
                                "$ref": "GetNotificationChannelVerificationCodeResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannels",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.notificationChannels.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/notificationChannels",
                            "response": {
                                "$ref": "ListNotificationChannelsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannels/{notificationChannelsId}",
                            "httpMethod": "PATCH",
                            "id": "monitoring.projects.notificationChannels.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notificationChannels/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "request": {
                                "$ref": "NotificationChannel"
                            },
                            "response": {
                                "$ref": "NotificationChannel"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "sendVerificationCode": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannels/{notificationChannelsId}:sendVerificationCode",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.notificationChannels.sendVerificationCode",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notificationChannels/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}:sendVerificationCode",
                            "request": {
                                "$ref": "SendNotificationChannelVerificationCodeRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "verify": {
                            "flatPath": "v3/projects/{projectsId}/notificationChannels/{notificationChannelsId}:verify",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.notificationChannels.verify",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/notificationChannels/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}:verify",
                            "request": {
                                "$ref": "VerifyNotificationChannelRequest"
                            },
                            "response": {
                                "$ref": "NotificationChannel"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        }
                    }
                },
                "timeSeries": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/timeSeries",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.timeSeries.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/timeSeries",
                            "request": {
                                "$ref": "CreateTimeSeriesRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.write"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/timeSeries",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.timeSeries.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "aggregation.alignmentPeriod": {
                                    "format": "google-duration",
                                    "location": "query",
                                    "type": "string"
                                },
                                "aggregation.crossSeriesReducer": {
                                    "enum": [
                                        "REDUCE_NONE",
                                        "REDUCE_MEAN",
                                        "REDUCE_MIN",
                                        "REDUCE_MAX",
                                        "REDUCE_SUM",
                                        "REDUCE_STDDEV",
                                        "REDUCE_COUNT",
                                        "REDUCE_COUNT_TRUE",
                                        "REDUCE_COUNT_FALSE",
                                        "REDUCE_FRACTION_TRUE",
                                        "REDUCE_PERCENTILE_99",
                                        "REDUCE_PERCENTILE_95",
                                        "REDUCE_PERCENTILE_50",
                                        "REDUCE_PERCENTILE_05"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "aggregation.groupByFields": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "aggregation.perSeriesAligner": {
                                    "enum": [
                                        "ALIGN_NONE",
                                        "ALIGN_DELTA",
                                        "ALIGN_RATE",
                                        "ALIGN_INTERPOLATE",
                                        "ALIGN_NEXT_OLDER",
                                        "ALIGN_MIN",
                                        "ALIGN_MAX",
                                        "ALIGN_MEAN",
                                        "ALIGN_COUNT",
                                        "ALIGN_SUM",
                                        "ALIGN_STDDEV",
                                        "ALIGN_COUNT_TRUE",
                                        "ALIGN_COUNT_FALSE",
                                        "ALIGN_FRACTION_TRUE",
                                        "ALIGN_PERCENTILE_99",
                                        "ALIGN_PERCENTILE_95",
                                        "ALIGN_PERCENTILE_50",
                                        "ALIGN_PERCENTILE_05",
                                        "ALIGN_PERCENT_CHANGE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "interval.endTime": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                },
                                "interval.startTime": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "FULL",
                                        "HEADERS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/timeSeries",
                            "response": {
                                "$ref": "ListTimeSeriesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "query": {
                            "flatPath": "v3/projects/{projectsId}/timeSeries:query",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.timeSeries.query",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/timeSeries:query",
                            "request": {
                                "$ref": "QueryTimeSeriesRequest"
                            },
                            "response": {
                                "$ref": "QueryTimeSeriesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        }
                    }
                },
                "uptimeCheckConfigs": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs",
                            "httpMethod": "POST",
                            "id": "monitoring.projects.uptimeCheckConfigs.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/uptimeCheckConfigs",
                            "request": {
                                "$ref": "UptimeCheckConfig"
                            },
                            "response": {
                                "$ref": "UptimeCheckConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "delete": {
                            "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs/{uptimeCheckConfigsId}",
                            "httpMethod": "DELETE",
                            "id": "monitoring.projects.uptimeCheckConfigs.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/uptimeCheckConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs/{uptimeCheckConfigsId}",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.uptimeCheckConfigs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/uptimeCheckConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "UptimeCheckConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs",
                            "httpMethod": "GET",
                            "id": "monitoring.projects.uptimeCheckConfigs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/uptimeCheckConfigs",
                            "response": {
                                "$ref": "ListUptimeCheckConfigsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v3/projects/{projectsId}/uptimeCheckConfigs/{uptimeCheckConfigsId}",
                            "httpMethod": "PATCH",
                            "id": "monitoring.projects.uptimeCheckConfigs.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/uptimeCheckConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "request": {
                                "$ref": "UptimeCheckConfig"
                            },
                            "response": {
                                "$ref": "UptimeCheckConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        }
                    }
                }
            }
        },
        "services": {
            "methods": {
                "create": {
                    "flatPath": "v3/{v3Id}/{v3Id1}/services",
                    "httpMethod": "POST",
                    "id": "monitoring.services.create",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "serviceId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v3/{+parent}/services",
                    "request": {
                        "$ref": "Service"
                    },
                    "response": {
                        "$ref": "Service"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/monitoring"
                    ]
                },
                "delete": {
                    "flatPath": "v3/{v3Id}/{v3Id1}/services/{servicesId}",
                    "httpMethod": "DELETE",
                    "id": "monitoring.services.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/services/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/monitoring"
                    ]
                },
                "get": {
                    "flatPath": "v3/{v3Id}/{v3Id1}/services/{servicesId}",
                    "httpMethod": "GET",
                    "id": "monitoring.services.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/services/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/{+name}",
                    "response": {
                        "$ref": "Service"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/monitoring",
                        "https://www.googleapis.com/auth/monitoring.read"
                    ]
                },
                "list": {
                    "flatPath": "v3/{v3Id}/{v3Id1}/services",
                    "httpMethod": "GET",
                    "id": "monitoring.services.list",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/{+parent}/services",
                    "response": {
                        "$ref": "ListServicesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/monitoring",
                        "https://www.googleapis.com/auth/monitoring.read"
                    ]
                },
                "patch": {
                    "flatPath": "v3/{v3Id}/{v3Id1}/services/{servicesId}",
                    "httpMethod": "PATCH",
                    "id": "monitoring.services.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^[^/]+/[^/]+/services/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v3/{+name}",
                    "request": {
                        "$ref": "Service"
                    },
                    "response": {
                        "$ref": "Service"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/monitoring"
                    ]
                }
            },
            "resources": {
                "serviceLevelObjectives": {
                    "methods": {
                        "create": {
                            "flatPath": "v3/{v3Id}/{v3Id1}/services/{servicesId}/serviceLevelObjectives",
                            "httpMethod": "POST",
                            "id": "monitoring.services.serviceLevelObjectives.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "serviceLevelObjectiveId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/serviceLevelObjectives",
                            "request": {
                                "$ref": "ServiceLevelObjective"
                            },
                            "response": {
                                "$ref": "ServiceLevelObjective"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "delete": {
                            "flatPath": "v3/{v3Id}/{v3Id1}/services/{servicesId}/serviceLevelObjectives/{serviceLevelObjectivesId}",
                            "httpMethod": "DELETE",
                            "id": "monitoring.services.serviceLevelObjectives.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/services/[^/]+/serviceLevelObjectives/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        },
                        "get": {
                            "flatPath": "v3/{v3Id}/{v3Id1}/services/{servicesId}/serviceLevelObjectives/{serviceLevelObjectivesId}",
                            "httpMethod": "GET",
                            "id": "monitoring.services.serviceLevelObjectives.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/services/[^/]+/serviceLevelObjectives/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "VIEW_UNSPECIFIED",
                                        "FULL",
                                        "EXPLICIT"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "ServiceLevelObjective"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/{v3Id}/{v3Id1}/services/{servicesId}/serviceLevelObjectives",
                            "httpMethod": "GET",
                            "id": "monitoring.services.serviceLevelObjectives.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "VIEW_UNSPECIFIED",
                                        "FULL",
                                        "EXPLICIT"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/serviceLevelObjectives",
                            "response": {
                                "$ref": "ListServiceLevelObjectivesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                            ]
                        },
                        "patch": {
                            "flatPath": "v3/{v3Id}/{v3Id1}/services/{servicesId}/serviceLevelObjectives/{serviceLevelObjectivesId}",
                            "httpMethod": "PATCH",
                            "id": "monitoring.services.serviceLevelObjectives.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^[^/]+/[^/]+/services/[^/]+/serviceLevelObjectives/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "request": {
                                "$ref": "ServiceLevelObjective"
                            },
                            "response": {
                                "$ref": "ServiceLevelObjective"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring"
                            ]
                        }
                    }
                }
            }
        },
        "uptimeCheckIps": {
            "methods": {
                "list": {
                    "flatPath": "v3/uptimeCheckIps",
                    "httpMethod": "GET",
                    "id": "monitoring.uptimeCheckIps.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v3/uptimeCheckIps",
                    "response": {
                        "$ref": "ListUptimeCheckIpsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/monitoring",
                        "https://www.googleapis.com/auth/monitoring.read"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://monitoring.googleapis.com/",
    "schemas": {
        "Aggregation": {
            "id": "Aggregation",
            "properties": {
                "alignmentPeriod": {
                    "format": "google-duration",
                    "type": "string"
                },
                "crossSeriesReducer": {
                    "enum": [
                        "REDUCE_NONE",
                        "REDUCE_MEAN",
                        "REDUCE_MIN",
                        "REDUCE_MAX",
                        "REDUCE_SUM",
                        "REDUCE_STDDEV",
                        "REDUCE_COUNT",
                        "REDUCE_COUNT_TRUE",
                        "REDUCE_COUNT_FALSE",
                        "REDUCE_FRACTION_TRUE",
                        "REDUCE_PERCENTILE_99",
                        "REDUCE_PERCENTILE_95",
                        "REDUCE_PERCENTILE_50",
                        "REDUCE_PERCENTILE_05"
                    ],
                    "type": "string"
                },
                "groupByFields": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "perSeriesAligner": {
                    "enum": [
                        "ALIGN_NONE",
                        "ALIGN_DELTA",
                        "ALIGN_RATE",
                        "ALIGN_INTERPOLATE",
                        "ALIGN_NEXT_OLDER",
                        "ALIGN_MIN",
                        "ALIGN_MAX",
                        "ALIGN_MEAN",
                        "ALIGN_COUNT",
                        "ALIGN_SUM",
                        "ALIGN_STDDEV",
                        "ALIGN_COUNT_TRUE",
                        "ALIGN_COUNT_FALSE",
                        "ALIGN_FRACTION_TRUE",
                        "ALIGN_PERCENTILE_99",
                        "ALIGN_PERCENTILE_95",
                        "ALIGN_PERCENTILE_50",
                        "ALIGN_PERCENTILE_05",
                        "ALIGN_PERCENT_CHANGE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AlertPolicy": {
            "id": "AlertPolicy",
            "properties": {
                "combiner": {
                    "enum": [
                        "COMBINE_UNSPECIFIED",
                        "AND",
                        "OR",
                        "AND_WITH_MATCHING_RESOURCE"
                    ],
                    "type": "string"
                },
                "conditions": {
                    "items": {
                        "$ref": "Condition"
                    },
                    "type": "array"
                },
                "creationRecord": {
                    "$ref": "MutationRecord"
                },
                "displayName": {
                    "type": "string"
                },
                "documentation": {
                    "$ref": "Documentation"
                },
                "enabled": {
                    "type": "boolean"
                },
                "mutationRecord": {
                    "$ref": "MutationRecord"
                },
                "name": {
                    "type": "string"
                },
                "notificationChannels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "userLabels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "validity": {
                    "$ref": "Status"
                }
            },
            "type": "object"
        },
        "AppEngine": {
            "id": "AppEngine",
            "properties": {
                "moduleId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AvailabilityCriteria": {
            "id": "AvailabilityCriteria",
            "properties": {},
            "type": "object"
        },
        "BasicAuthentication": {
            "id": "BasicAuthentication",
            "properties": {
                "password": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BasicSli": {
            "id": "BasicSli",
            "properties": {
                "availability": {
                    "$ref": "AvailabilityCriteria"
                },
                "latency": {
                    "$ref": "LatencyCriteria"
                },
                "location": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "method": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "version": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BucketOptions": {
            "id": "BucketOptions",
            "properties": {
                "explicitBuckets": {
                    "$ref": "Explicit"
                },
                "exponentialBuckets": {
                    "$ref": "Exponential"
                },
                "linearBuckets": {
                    "$ref": "Linear"
                }
            },
            "type": "object"
        },
        "CloudEndpoints": {
            "id": "CloudEndpoints",
            "properties": {
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClusterIstio": {
            "id": "ClusterIstio",
            "properties": {
                "clusterName": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "serviceName": {
                    "type": "string"
                },
                "serviceNamespace": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CollectdPayload": {
            "id": "CollectdPayload",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "$ref": "TypedValue"
                    },
                    "type": "object"
                },
                "plugin": {
                    "type": "string"
                },
                "pluginInstance": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "typeInstance": {
                    "type": "string"
                },
                "values": {
                    "items": {
                        "$ref": "CollectdValue"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CollectdPayloadError": {
            "id": "CollectdPayloadError",
            "properties": {
                "error": {
                    "$ref": "Status"
                },
                "index": {
                    "format": "int32",
                    "type": "integer"
                },
                "valueErrors": {
                    "items": {
                        "$ref": "CollectdValueError"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CollectdValue": {
            "id": "CollectdValue",
            "properties": {
                "dataSourceName": {
                    "type": "string"
                },
                "dataSourceType": {
                    "enum": [
                        "UNSPECIFIED_DATA_SOURCE_TYPE",
                        "GAUGE",
                        "COUNTER",
                        "DERIVE",
                        "ABSOLUTE"
                    ],
                    "type": "string"
                },
                "value": {
                    "$ref": "TypedValue"
                }
            },
            "type": "object"
        },
        "CollectdValueError": {
            "id": "CollectdValueError",
            "properties": {
                "error": {
                    "$ref": "Status"
                },
                "index": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Condition": {
            "id": "Condition",
            "properties": {
                "conditionAbsent": {
                    "$ref": "MetricAbsence"
                },
                "conditionThreshold": {
                    "$ref": "MetricThreshold"
                },
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContentMatcher": {
            "id": "ContentMatcher",
            "properties": {
                "content": {
                    "type": "string"
                },
                "matcher": {
                    "enum": [
                        "CONTENT_MATCHER_OPTION_UNSPECIFIED",
                        "CONTAINS_STRING",
                        "NOT_CONTAINS_STRING",
                        "MATCHES_REGEX",
                        "NOT_MATCHES_REGEX"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateCollectdTimeSeriesRequest": {
            "id": "CreateCollectdTimeSeriesRequest",
            "properties": {
                "collectdPayloads": {
                    "items": {
                        "$ref": "CollectdPayload"
                    },
                    "type": "array"
                },
                "collectdVersion": {
                    "type": "string"
                },
                "resource": {
                    "$ref": "MonitoredResource"
                }
            },
            "type": "object"
        },
        "CreateCollectdTimeSeriesResponse": {
            "id": "CreateCollectdTimeSeriesResponse",
            "properties": {
                "payloadErrors": {
                    "items": {
                        "$ref": "CollectdPayloadError"
                    },
                    "type": "array"
                },
                "summary": {
                    "$ref": "CreateTimeSeriesSummary"
                }
            },
            "type": "object"
        },
        "CreateTimeSeriesRequest": {
            "id": "CreateTimeSeriesRequest",
            "properties": {
                "timeSeries": {
                    "items": {
                        "$ref": "TimeSeries"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CreateTimeSeriesSummary": {
            "id": "CreateTimeSeriesSummary",
            "properties": {
                "errors": {
                    "items": {
                        "$ref": "Error"
                    },
                    "type": "array"
                },
                "successPointCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalPointCount": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Custom": {
            "id": "Custom",
            "properties": {},
            "type": "object"
        },
        "Distribution": {
            "id": "Distribution",
            "properties": {
                "bucketCounts": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "bucketOptions": {
                    "$ref": "BucketOptions"
                },
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "exemplars": {
                    "items": {
                        "$ref": "Exemplar"
                    },
                    "type": "array"
                },
                "mean": {
                    "format": "double",
                    "type": "number"
                },
                "range": {
                    "$ref": "Range"
                },
                "sumOfSquaredDeviation": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "DistributionCut": {
            "id": "DistributionCut",
            "properties": {
                "distributionFilter": {
                    "type": "string"
                },
                "range": {
                    "$ref": "GoogleMonitoringV3Range"
                }
            },
            "type": "object"
        },
        "Documentation": {
            "id": "Documentation",
            "properties": {
                "content": {
                    "type": "string"
                },
                "mimeType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DroppedLabels": {
            "id": "DroppedLabels",
            "properties": {
                "label": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Error": {
            "id": "Error",
            "properties": {
                "pointCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "status": {
                    "$ref": "Status"
                }
            },
            "type": "object"
        },
        "Exemplar": {
            "id": "Exemplar",
            "properties": {
                "attachments": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "value": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Explicit": {
            "id": "Explicit",
            "properties": {
                "bounds": {
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Exponential": {
            "id": "Exponential",
            "properties": {
                "growthFactor": {
                    "format": "double",
                    "type": "number"
                },
                "numFiniteBuckets": {
                    "format": "int32",
                    "type": "integer"
                },
                "scale": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Field": {
            "id": "Field",
            "properties": {
                "cardinality": {
                    "enum": [
                        "CARDINALITY_UNKNOWN",
                        "CARDINALITY_OPTIONAL",
                        "CARDINALITY_REQUIRED",
                        "CARDINALITY_REPEATED"
                    ],
                    "type": "string"
                },
                "defaultValue": {
                    "type": "string"
                },
                "jsonName": {
                    "type": "string"
                },
                "kind": {
                    "enum": [
                        "TYPE_UNKNOWN",
                        "TYPE_DOUBLE",
                        "TYPE_FLOAT",
                        "TYPE_INT64",
                        "TYPE_UINT64",
                        "TYPE_INT32",
                        "TYPE_FIXED64",
                        "TYPE_FIXED32",
                        "TYPE_BOOL",
                        "TYPE_STRING",
                        "TYPE_GROUP",
                        "TYPE_MESSAGE",
                        "TYPE_BYTES",
                        "TYPE_UINT32",
                        "TYPE_ENUM",
                        "TYPE_SFIXED32",
                        "TYPE_SFIXED64",
                        "TYPE_SINT32",
                        "TYPE_SINT64"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "number": {
                    "format": "int32",
                    "type": "integer"
                },
                "oneofIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "packed": {
                    "type": "boolean"
                },
                "typeUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetNotificationChannelVerificationCodeRequest": {
            "id": "GetNotificationChannelVerificationCodeRequest",
            "properties": {
[...]
