{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://networkmanagement.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Network Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "networkmanagement:v1beta1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://networkmanagement.mtls.googleapis.com/",
    "name": "networkmanagement",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "networkmanagement.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "networkmanagement.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "global": {
                            "resources": {
                                "connectivityTests": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests",
                                            "httpMethod": "POST",
                                            "id": "networkmanagement.projects.locations.global.connectivityTests.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "testId": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/connectivityTests",
                                            "request": {
                                                "$ref": "ConnectivityTest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}",
                                            "httpMethod": "DELETE",
                                            "id": "networkmanagement.projects.locations.global.connectivityTests.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}",
                                            "httpMethod": "GET",
                                            "id": "networkmanagement.projects.locations.global.connectivityTests.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "ConnectivityTest"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "getIamPolicy": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:getIamPolicy",
                                            "httpMethod": "GET",
                                            "id": "networkmanagement.projects.locations.global.connectivityTests.getIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "options.requestedPolicyVersion": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+resource}:getIamPolicy",
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests",
                                            "httpMethod": "GET",
                                            "id": "networkmanagement.projects.locations.global.connectivityTests.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "orderBy": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/connectivityTests",
                                            "response": {
                                                "$ref": "ListConnectivityTestsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}",
                                            "httpMethod": "PATCH",
                                            "id": "networkmanagement.projects.locations.global.connectivityTests.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "updateMask": {
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "request": {
                                                "$ref": "ConnectivityTest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "rerun": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:rerun",
                                            "httpMethod": "POST",
                                            "id": "networkmanagement.projects.locations.global.connectivityTests.rerun",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}:rerun",
                                            "request": {
                                                "$ref": "RerunConnectivityTestRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "setIamPolicy": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:setIamPolicy",
                                            "httpMethod": "POST",
                                            "id": "networkmanagement.projects.locations.global.connectivityTests.setIamPolicy",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+resource}:setIamPolicy",
                                            "request": {
                                                "$ref": "SetIamPolicyRequest"
                                            },
                                            "response": {
                                                "$ref": "Policy"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "testIamPermissions": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:testIamPermissions",
                                            "httpMethod": "POST",
                                            "id": "networkmanagement.projects.locations.global.connectivityTests.testIamPermissions",
                                            "parameterOrder": [
                                                "resource"
                                            ],
                                            "parameters": {
                                                "resource": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+resource}:testIamPermissions",
                                            "request": {
                                                "$ref": "TestIamPermissionsRequest"
                                            },
                                            "response": {
                                                "$ref": "TestIamPermissionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "operations": {
                                    "methods": {
                                        "cancel": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/operations/{operationsId}:cancel",
                                            "httpMethod": "POST",
                                            "id": "networkmanagement.projects.locations.global.operations.cancel",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}:cancel",
                                            "request": {
                                                "$ref": "CancelOperationRequest"
                                            },
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/operations/{operationsId}",
                                            "httpMethod": "DELETE",
                                            "id": "networkmanagement.projects.locations.global.operations.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/operations/{operationsId}",
                                            "httpMethod": "GET",
                                            "id": "networkmanagement.projects.locations.global.operations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/global/operations",
                                            "httpMethod": "GET",
                                            "id": "networkmanagement.projects.locations.global.operations.list",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/global$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}/operations",
                                            "response": {
                                                "$ref": "ListOperationsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://networkmanagement.googleapis.com/",
    "schemas": {
        "AbortInfo": {
            "id": "AbortInfo",
            "properties": {
                "cause": {
                    "enum": [
                        "CAUSE_UNSPECIFIED",
                        "UNKNOWN_NETWORK",
                        "UNKNOWN_IP",
                        "UNKNOWN_PROJECT",
                        "PERMISSION_DENIED",
                        "NO_SOURCE_LOCATION",
                        "INVALID_ARGUMENT",
                        "NO_EXTERNAL_IP",
                        "UNINTENDED_DESTINATION",
                        "TRACE_TOO_LONG"
                    ],
                    "enumDescriptions": [
                        "Cause is unspecified.",
                        "Aborted due to unknown network.\nThe reachability analysis cannot proceed because the user does not have\naccess to the host project's network configurations, including firewall\nrules and routes. This happens when the project is a service project and\nthe endpoints being traced are in the host project's network.",
                        "Aborted because the IP address(es) are unknown.",
                        "Aborted because no project information can be derived from the test\ninput.",
                        "Aborted because the user lacks the permission to access all or part of\nthe network configurations required to run the test.",
                        "Aborted because no valid source endpoint is derived from the input test\nrequest.",
                        "Aborted because the source and/or destination endpoint specified in\nthe test are invalid. The possible reasons that an endpoint is\ninvalid include: malformed IP address; nonexistent instance or\nnetwork URI; IP address not in the range of specified network URI; and\ninstance not owning the network interface in the specified network.",
                        "Aborted because traffic is sent from a public IP to an instance without\nan external IP.",
                        "Aborted because none of the traces matches destination information\nspecified in the input test request.",
                        "Aborted because the number of steps in the trace exceeding a certain\nlimit which may be caused by routing loop."
                    ],
                    "type": "string"
                },
                "resourceUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "enumDescriptions": [
                        "Default case. Should never be this.",
                        "Admin reads. Example: CloudIAM getIamPolicy",
                        "Data writes. Example: CloudSQL Users create",
                        "Data reads. Example: CloudSQL Users list"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "ConnectivityTest": {
            "id": "ConnectivityTest",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "destination": {
                    "$ref": "Endpoint"
                },
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "protocol": {
                    "type": "string"
                },
                "reachabilityDetails": {
                    "$ref": "ReachabilityDetails"
                },
                "relatedProjects": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "source": {
                    "$ref": "Endpoint"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeliverInfo": {
            "id": "DeliverInfo",
            "properties": {
                "resourceUri": {
                    "type": "string"
                },
                "target": {
                    "enum": [
                        "TARGET_UNSPECIFIED",
                        "INSTANCE",
                        "INTERNET",
                        "GOOGLE_API"
                    ],
                    "enumDescriptions": [
                        "Target not specified.",
                        "Target is a Compute Engine instance.",
                        "Target is the Internet.",
                        "Target is a Google API."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DropInfo": {
            "id": "DropInfo",
            "properties": {
                "cause": {
                    "enum": [
                        "CAUSE_UNSPECIFIED",
                        "UNKNOWN_EXTERNAL_ADDRESS",
                        "FOREIGN_IP_DISALLOWED",
                        "FIREWALL_RULE",
                        "NO_ROUTE",
                        "ROUTE_BLACKHOLE",
                        "ROUTE_WRONG_NETWORK",
                        "PRIVATE_TRAFFIC_TO_INTERNET",
                        "PRIVATE_GOOGLE_ACCESS_DISALLOWED",
                        "NO_EXTERNAL_ADDRESS",
                        "UNKNOWN_INTERNAL_ADDRESS",
                        "FORWARDING_RULE_MISMATCH",
                        "FORWARDING_RULE_NO_INSTANCES",
                        "FIREWALL_BLOCKING_LOAD_BALANCER_BACKEND_HEALTH_CHECK",
                        "INSTANCE_NOT_RUNNING",
                        "TRAFFIC_TYPE_BLOCKED",
                        "GKE_MASTER_UNAUTHORIZED_ACCESS"
                    ],
                    "enumDescriptions": [
                        "Cause is unspecified.",
                        "Destination external address cannot be resolved to a known target.",
                        "a Compute Engine instance can only send or receive a packet with a\nforeign IP <code>if ip_forward</code> is enabled.",
                        "Dropped due to a firewall rule unless allowed due to connection tracking.",
                        "Dropped due to no routes.",
                        "Dropped due to invalid route. Route's next hop is a blackhole.",
                        "Packet is sent to a wrong (unintended) network. Example: user traces a\npacket from VM1:Network1 to VM2:Network2, however, the route configured\nin Network1 sends the packet destined for VM2's IP addresss to Network3.",
                        "Packet with internal destination address sent to Internet gateway.",
                        "Instance with only an internal IP tries to access Google API and\nServices, and private Google access is not enabled.",
                        "Instance with only internal IP tries to access external hosts, but\nCloud NAT is not enabled in the subnet, unless special configurations\non a VM allows this connection. See [Special Configurations for VM\ninstances](/vpc/docs/special-configurations) for details.",
                        "Destination internal address cannot be resolved to a known target.",
                        "Forwarding rule's protocol and ports do not match the packet header.",
                        "Forwarding rule does not have backends configured.",
                        "Firewalls block the health check probes to the backends and cause\nthe backends to be unavailable for traffic from the load balancer.\nSee [Health check firewall rules](/load-balancing/docs/\nhealth-checks#firewall_rules) for more details.",
                        "Packet is sent from or to a Compute Engine instance that is not in a\nrunning state.",
                        "The type of traffic is blocked and the user cannot configure a firewall\nrule to enable it. See [Always blocked traffic](/vpc/docs/firewalls#\nblockedtraffic) for more details.",
                        "Access to GKE master's endpoint is not authorized.\nSee [Access to the cluster endpoints](/kubernetes-engine/docs/how-to/\nprivate-clusters#access_to_the_cluster_endpoints) for more details."
                    ],
                    "type": "string"
                },
                "resourceUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Endpoint": {
            "id": "Endpoint",
            "properties": {
                "instance": {
                    "type": "string"
                },
                "ipAddress": {
                    "type": "string"
                },
                "network": {
                    "type": "string"
                },
                "networkType": {
                    "enum": [
                        "NETWORK_TYPE_UNSPECIFIED",
                        "GCP_NETWORK",
                        "NON_GCP_NETWORK"
                    ],
                    "enumDescriptions": [
                        "Default type if unspecified.",
                        "A network hosted within Google Cloud Platform.\nTo receive more detailed output, specify the URI for the source or\ndestination network.",
                        "A network hosted outside of Google Cloud Platform.\nThis can be an on-premises network, or a network hosted by another cloud\nprovider."
                    ],
                    "type": "string"
                },
                "port": {
                    "format": "int32",
                    "type": "integer"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EndpointInfo": {
            "id": "EndpointInfo",
            "properties": {
                "destinationIp": {
                    "type": "string"
                },
                "destinationNetworkUri": {
                    "type": "string"
                },
                "destinationPort": {
                    "format": "int32",
                    "type": "integer"
                },
                "protocol": {
                    "type": "string"
                },
                "sourceIp": {
                    "type": "string"
                },
                "sourceNetworkUri": {
                    "type": "string"
                },
                "sourcePort": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FirewallInfo": {
            "id": "FirewallInfo",
            "properties": {
                "action": {
                    "type": "string"
                },
                "direction": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "networkUri": {
                    "type": "string"
                },
                "priority": {
                    "format": "int32",
                    "type": "integer"
                },
                "targetServiceAccounts": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "targetTags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ForwardInfo": {
            "id": "ForwardInfo",
            "properties": {
                "resourceUri": {
                    "type": "string"
                },
                "target": {
                    "enum": [
                        "TARGET_UNSPECIFIED",
                        "PEERING_VPC",
                        "VPN_GATEWAY",
                        "INTERCONNECT",
                        "GKE_MASTER",
                        "IMPORTED_CUSTOM_ROUTE_NEXT_HOP"
                    ],
                    "enumDescriptions": [
                        "Target not specified.",
                        "Forwarded to a VPC peering network.",
                        "Forwarded to a Cloud VPN gateway.",
                        "Forwarded to an Cloud Interconnect connection.",
                        "Forwarded to a Google Kubernetes Engine Container cluster master.",
                        "Forwarded to the next hop of a custom route imported from a peering VPC."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ForwardingRuleInfo": {
            "id": "ForwardingRuleInfo",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "matchedPortRange": {
                    "type": "string"
                },
                "matchedProtocol": {
                    "type": "string"
                },
                "networkUri": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                },
                "vip": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InstanceInfo": {
            "id": "InstanceInfo",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "externalIp": {
                    "type": "string"
                },
                "interface": {
                    "type": "string"
                },
                "internalIp": {
                    "type": "string"
                },
                "networkTags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "networkUri": {
                    "type": "string"
                },
                "serviceAccount": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListConnectivityTestsResponse": {
            "id": "ListConnectivityTestsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "ConnectivityTest"
                    },
                    "type": "array"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LoadBalancerBackend": {
            "id": "LoadBalancerBackend",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "healthCheckAllowingFirewallRules": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "healthCheckBlockingFirewallRules": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "healthCheckFirewallState": {
                    "enum": [
                        "HEALTH_CHECK_FIREWALL_STATE_UNSPECIFIED",
                        "CONFIGURED",
                        "MISCONFIGURED"
                    ],
                    "enumDescriptions": [
                        "State is unspecified. Default state if not populated.",
                        "There are configured firewall rules to allow health check probes to the\nbackend.",
                        "There are firewall rules configured to allow partial health check ranges\nor block all health check ranges.\nIf a health check probe is sent from denied IP ranges,\nthe health check to the backend will fail. Then, the backend will be\nmarked unhealthy and will not receive traffic sent to the load balancer."
                    ],
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LoadBalancerInfo": {
            "id": "LoadBalancerInfo",
            "properties": {
                "backendType": {
                    "enum": [
                        "BACKEND_TYPE_UNSPECIFIED",
                        "BACKEND_SERVICE",
                        "TARGET_POOL"
                    ],
                    "enumDescriptions": [
                        "Type is unspecified.",
                        "Backend Service as the load balancer's backend.",
                        "Target Pool as the load balancer's backend."
                    ],
                    "type": "string"
                },
                "backendUri": {
                    "type": "string"
                },
                "backends": {
                    "items": {
                        "$ref": "LoadBalancerBackend"
                    },
                    "type": "array"
                },
                "healthCheckUri": {
                    "type": "string"
                },
                "loadBalancerType": {
                    "enum": [
                        "LOAD_BALANCER_TYPE_UNSPECIFIED",
                        "INTERNAL_TCP_UDP",
                        "NETWORK_TCP_UDP",
                        "HTTP_PROXY",
                        "TCP_PROXY",
                        "SSL_PROXY"
                    ],
                    "enumDescriptions": [
                        "Type is unspecified.",
                        "Internal TCP/UDP load balancer.",
                        "Network TCP/UDP load balancer.",
                        "HTTP(S) proxy load balancer.",
                        "TCP proxy load balancer.",
                        "SSL proxy load balancer."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkInfo": {
            "id": "NetworkInfo",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "matchedIpRange": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "id": "OperationMetadata",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "cancelRequested": {
                    "type": "boolean"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "statusDetail": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "verb": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ReachabilityDetails": {
            "id": "ReachabilityDetails",
            "properties": {
                "error": {
                    "$ref": "Status"
                },
                "result": {
                    "enum": [
                        "RESULT_UNSPECIFIED",
                        "REACHABLE",
                        "UNREACHABLE",
                        "AMBIGUOUS",
                        "UNDETERMINED"
                    ],
                    "enumDescriptions": [
                        "Result is not specified.",
                        "Packet originating from source is expected to reach destination.",
                        "Packet originating from source is expected to be dropped before\nreaching destination.",
                        "If the source and destination endpoint does not uniquely identify\nthe test location in the network, and the reachability result contains\nmultiple traces with mixed reachable and unreachable states, then this\nresult is returned.",
                        "The reachability could not be determined. Possible reasons are:\n\n* Analysis is aborted due to permission error. User does not have read\n  permission to the projects listed in the test.\n* Analysis is aborted due to internal errors.\n* Analysis is partially complete based on configurations where the user\n  has permission.\n  The Final state indicates that the packet is forwarded to another\nnetwork where the user has no permission to access the configurations."
                    ],
                    "type": "string"
                },
                "traces": {
                    "items": {
                        "$ref": "Trace"
                    },
                    "type": "array"
                },
                "verifyTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RerunConnectivityTestRequest": {
            "id": "RerunConnectivityTestRequest",
            "properties": {},
            "type": "object"
        },
        "RouteInfo": {
            "id": "RouteInfo",
            "properties": {
                "destIpRange": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "instanceTags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "networkUri": {
                    "type": "string"
                },
                "nextHop": {
                    "type": "string"
                },
                "nextHopType": {
                    "enum": [
                        "NEXT_HOP_TYPE_UNSPECIFIED",
                        "NEXT_HOP_IP",
                        "NEXT_HOP_INSTANCE",
                        "NEXT_HOP_NETWORK",
                        "NEXT_HOP_PEERING",
                        "NEXT_HOP_INTERCONNECT",
                        "NEXT_HOP_VPN_TUNNEL",
                        "NEXT_HOP_VPN_GATEWAY",
                        "NEXT_HOP_INTERNET_GATEWAY",
                        "NEXT_HOP_BLACKHOLE"
                    ],
                    "enumDescriptions": [
                        "Unspecified type. Default value.",
                        "Next hop is an IP address.",
                        "Next hop is a Compute Engine instance.",
                        "Next hop is a VPC network gateway.",
                        "Next hop is a peering VPC.",
                        "Next hop is an interconnect.",
                        "Next hop is a VPN tunnel.",
                        "Next hop is a VPN Gateway. This scenario only happens when tracing\nconnectivity from an on-premises network to GCP through a VPN. The\nanalysis simulates a packet departing from the on-premises network\nthrough a VPN tunnel and arrives at a Cloud VPN gateway.",
                        "Next hop is an internet gateway.",
                        "Next hop is blackhole; that is, the next hop either does not exist or is\nnot running."
                    ],
                    "type": "string"
                },
                "priority": {
                    "format": "int32",
                    "type": "integer"
                },
                "routeType": {
                    "enum": [
                        "ROUTE_TYPE_UNSPECIFIED",
                        "SUBNET",
                        "STATIC",
                        "DYNAMIC",
                        "PEERING_SUBNET",
                        "PEERING_STATIC",
                        "PEERING_DYNAMIC"
                    ],
                    "enumDescriptions": [
                        "Unspecified type. Default value.",
                        "Route is a subnet route automatically created by the system.",
                        "Static route created by the user including the default route to the\nInternet.",
                        "Dynamic route exchanged between BGP peers.",
                        "A subnet route received from peering network.",
                        "A static route received from peering network.",
                        "A dynamic route received from peering network."
                    ],
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Step": {
            "id": "Step",
            "properties": {
                "abort": {
                    "$ref": "AbortInfo"
                },
                "causesDrop": {
                    "type": "boolean"
                },
                "deliver": {
                    "$ref": "DeliverInfo"
                },
                "drop": {
                    "$ref": "DropInfo"
                },
                "endpoint": {
                    "$ref": "EndpointInfo"
                },
                "firewall": {
                    "$ref": "FirewallInfo"
                },
                "forward": {
                    "$ref": "ForwardInfo"
                },
                "forwardingRule": {
                    "$ref": "ForwardingRuleInfo"
                },
                "instance": {
                    "$ref": "InstanceInfo"
                },
                "loadBalancer": {
                    "$ref": "LoadBalancerInfo"
                },
                "network": {
                    "$ref": "NetworkInfo"
                },
                "projectId": {
                    "type": "string"
                },
                "route": {
                    "$ref": "RouteInfo"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "START_FROM_INSTANCE",
                        "START_FROM_INTERNET",
                        "START_FROM_PRIVATE_NETWORK",
                        "APPLY_INGRESS_FIREWALL_RULE",
                        "APPLY_EGRESS_FIREWALL_RULE",
                        "APPLY_ROUTE",
                        "APPLY_FORWARDING_RULE",
                        "SPOOFING_APPROVED",
                        "ARRIVE_AT_INSTANCE",
                        "ARRIVE_AT_INTERNAL_LOAD_BALANCER",
                        "ARRIVE_AT_EXTERNAL_LOAD_BALANCER",
                        "ARRIVE_AT_VPN_GATEWAY",
                        "ARRIVE_AT_VPN_TUNNEL",
                        "NAT",
                        "PROXY_CONNECTION",
                        "DELIVER",
                        "DROP",
                        "FORWARD",
                        "ABORT",
                        "VIEWER_PERMISSION_MISSING"
                    ],
                    "enumDescriptions": [
                        "Unspecified state.",
                        "Initial state: packet originating from a Compute Engine instance.\nAn InstanceInfo will be populated with starting instance info.",
                        "Initial state: packet originating from Internet.\nThe endpoint info will be populated.",
                        "Initial state: packet originating from a VPC or on-premises network\nwith internal source IP.\nIf the source is a VPC network visible to the user, a NetworkInfo\nwill be populated with details of the network.",
                        "Config checking state: verify ingress firewall rule.",
                        "Config checking state: verify egress firewall rule.",
                        "Config checking state: verify route.",
                        "Config checking state: match forwarding rule.",
                        "Config checking state: packet sent or received under foreign IP\naddress and allowed.",
                        "Forwarding state: arriving at a Compute Engine instance.",
                        "Forwarding state: arriving at a Compute Engine internal load balancer.",
                        "Forwarding state: arriving at a Compute Engine external load balancer.",
                        "Forwarding state: arriving at a Cloud VPN gateway.",
                        "Forwarding state: arriving at a Cloud VPN tunnel.",
                        "Transition state: packet header translated.",
                        "Transition state: original connection is terminated and a new proxied\nconnection is initiated.",
                        "Final state: packet delivered.",
                        "Final state: packet dropped.",
                        "Final state: packet forwarded to a network with an unknown configuration.",
                        "Final state: analysis is aborted.",
                        "Special state: viewer of the test result does not have permission to\nsee the configuration in this step."
                    ],
                    "type": "string"
                },
                "vpnGateway": {
                    "$ref": "VpnGatewayInfo"
                },
                "vpnTunnel": {
                    "$ref": "VpnTunnelInfo"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Trace": {
            "id": "Trace",
            "properties": {
                "endpointInfo": {
                    "$ref": "EndpointInfo"
                },
                "steps": {
                    "items": {
                        "$ref": "Step"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "VpnGatewayInfo": {
            "id": "VpnGatewayInfo",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "ipAddress": {
                    "type": "string"
                },
                "networkUri": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                },
                "vpnTunnelUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VpnTunnelInfo": {
            "id": "VpnTunnelInfo",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "networkUri": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "remoteGateway": {
                    "type": "string"
                },
                "remoteGatewayIp": {
                    "type": "string"
                },
                "routingType": {
                    "enum": [
                        "ROUTING_TYPE_UNSPECIFIED",
                        "ROUTE_BASED",
                        "POLICY_BASED",
                        "DYNAMIC"
                    ],
                    "enumDescriptions": [
                        "Unspecified type. Default value.",
                        "Route based VPN.",
                        "Policy based routing.",
                        "Dynamic (BGP) routing."
                    ],
                    "type": "string"
                },
                "sourceGateway": {
                    "type": "string"
                },
                "sourceGatewayIp": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Network Management API",
    "version": "v1beta1",
    "version_module": true
}