{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://osconfig.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Systems Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "osconfig:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
    "name": "osconfig",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "patchDeployments": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/patchDeployments",
                            "httpMethod": "POST",
                            "id": "osconfig.projects.patchDeployments.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "patchDeploymentId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/patchDeployments",
                            "request": {
                                "$ref": "PatchDeployment"
                            },
                            "response": {
                                "$ref": "PatchDeployment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
                            "httpMethod": "DELETE",
                            "id": "osconfig.projects.patchDeployments.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
                            "httpMethod": "GET",
                            "id": "osconfig.projects.patchDeployments.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "PatchDeployment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/patchDeployments",
                            "httpMethod": "GET",
                            "id": "osconfig.projects.patchDeployments.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/patchDeployments",
                            "response": {
                                "$ref": "ListPatchDeploymentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "patchJobs": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
                            "httpMethod": "POST",
                            "id": "osconfig.projects.patchJobs.cancel",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:cancel",
                            "request": {
                                "$ref": "CancelPatchJobRequest"
                            },
                            "response": {
                                "$ref": "PatchJob"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "execute": {
                            "flatPath": "v1/projects/{projectsId}/patchJobs:execute",
                            "httpMethod": "POST",
                            "id": "osconfig.projects.patchJobs.execute",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/patchJobs:execute",
                            "request": {
                                "$ref": "ExecutePatchJobRequest"
                            },
                            "response": {
                                "$ref": "PatchJob"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}",
                            "httpMethod": "GET",
                            "id": "osconfig.projects.patchJobs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "PatchJob"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/patchJobs",
                            "httpMethod": "GET",
                            "id": "osconfig.projects.patchJobs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/patchJobs",
                            "response": {
                                "$ref": "ListPatchJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "instanceDetails": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                                    "httpMethod": "GET",
                                    "id": "osconfig.projects.patchJobs.instanceDetails.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/instanceDetails",
                                    "response": {
                                        "$ref": "ListPatchJobInstanceDetailsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://osconfig.googleapis.com/",
    "schemas": {
        "AptSettings": {
            "id": "AptSettings",
            "properties": {
                "excludes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "exclusivePackages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "DIST",
                        "UPGRADE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelPatchJobRequest": {
            "id": "CancelPatchJobRequest",
            "properties": {},
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ExecResource": {
            "id": "ExecResource",
            "properties": {
                "enforce": {
                    "$ref": "ExecResourceExec"
                },
                "validate": {
                    "$ref": "ExecResourceExec"
                }
            },
            "type": "object"
        },
        "ExecResourceExec": {
            "id": "ExecResourceExec",
            "properties": {
                "allowedSuccessCodes": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "args": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "file": {
                    "$ref": "File"
                },
                "interpreter": {
                    "enum": [
                        "INTERPRETER_UNSPECIFIED",
                        "NONE",
                        "SHELL",
                        "POWERSHELL"
                    ],
                    "type": "string"
                },
                "script": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExecStep": {
            "id": "ExecStep",
            "properties": {
                "linuxExecStepConfig": {
                    "$ref": "ExecStepConfig"
                },
                "windowsExecStepConfig": {
                    "$ref": "ExecStepConfig"
                }
            },
            "type": "object"
        },
        "ExecStepConfig": {
            "id": "ExecStepConfig",
            "properties": {
                "allowedSuccessCodes": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "gcsObject": {
                    "$ref": "GcsObject"
                },
                "interpreter": {
                    "enum": [
                        "INTERPRETER_UNSPECIFIED",
                        "SHELL",
                        "POWERSHELL"
                    ],
                    "type": "string"
                },
                "localPath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExecutePatchJobRequest": {
            "id": "ExecutePatchJobRequest",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "dryRun": {
                    "type": "boolean"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "instanceFilter": {
                    "$ref": "PatchInstanceFilter"
                },
                "patchConfig": {
                    "$ref": "PatchConfig"
                },
                "rollout": {
                    "$ref": "PatchRollout"
                }
            },
            "type": "object"
        },
        "ExtractArchiveResource": {
            "id": "ExtractArchiveResource",
            "properties": {
                "creates": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "overwrite": {
                    "type": "boolean"
                },
                "source": {
                    "$ref": "File"
                },
                "type": {
                    "enum": [
                        "ARCHIVE_TYPE_UNSPECIFIED",
                        "TAR",
                        "TAR_GZIP",
                        "TAR_BZIP",
                        "TAR_LZMA",
                        "TAR_XZ",
                        "ZIP"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "File": {
            "id": "File",
            "properties": {
                "allowInsecure": {
                    "type": "boolean"
                },
                "gcs": {
                    "$ref": "FileGcs"
                },
                "localPath": {
                    "type": "string"
                },
                "remote": {
                    "$ref": "FileRemote"
                }
            },
            "type": "object"
        },
        "FileGcs": {
            "id": "FileGcs",
            "properties": {
                "bucket": {
                    "type": "string"
                },
                "generation": {
                    "format": "int64",
                    "type": "string"
                },
                "object": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FileRemote": {
            "id": "FileRemote",
            "properties": {
                "sha256Checksum": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FileResource": {
            "id": "FileResource",
            "properties": {
                "content": {
                    "type": "string"
                },
                "file": {
                    "$ref": "File"
                },
                "path": {
                    "type": "string"
                },
                "permissions": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "DESIRED_STATE_UNSPECIFIED",
                        "PRESENT",
                        "ABSENT",
                        "CONTENTS_MATCH"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FixedOrPercent": {
            "id": "FixedOrPercent",
            "properties": {
                "fixed": {
                    "format": "int32",
                    "type": "integer"
                },
                "percent": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GcsObject": {
            "id": "GcsObject",
            "properties": {
                "bucket": {
                    "type": "string"
                },
                "generationNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "object": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooSettings": {
            "id": "GooSettings",
            "properties": {},
            "type": "object"
        },
        "ListPatchDeploymentsResponse": {
            "id": "ListPatchDeploymentsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "patchDeployments": {
                    "items": {
                        "$ref": "PatchDeployment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListPatchJobInstanceDetailsResponse": {
            "id": "ListPatchJobInstanceDetailsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "patchJobInstanceDetails": {
                    "items": {
                        "$ref": "PatchJobInstanceDetails"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListPatchJobsResponse": {
            "id": "ListPatchJobsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "patchJobs": {
                    "items": {
                        "$ref": "PatchJob"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MonthlySchedule": {
            "id": "MonthlySchedule",
            "properties": {
                "monthDay": {
                    "format": "int32",
                    "type": "integer"
                },
                "weekDayOfMonth": {
                    "$ref": "WeekDayOfMonth"
                }
            },
            "type": "object"
        },
        "OneTimeSchedule": {
            "id": "OneTimeSchedule",
            "properties": {
                "executeTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PackageResource": {
            "id": "PackageResource",
            "properties": {
                "apt": {
                    "$ref": "PackageResourceAPT"
                },
                "deb": {
                    "$ref": "PackageResourceDeb"
                },
                "desiredState": {
                    "enum": [
                        "DESIRED_STATE_UNSPECIFIED",
                        "INSTALLED",
                        "REMOVED"
                    ],
                    "type": "string"
                },
                "googet": {
                    "$ref": "PackageResourceGooGet"
                },
                "msi": {
                    "$ref": "PackageResourceMSI"
                },
                "rpm": {
                    "$ref": "PackageResourceRPM"
                },
                "yum": {
                    "$ref": "PackageResourceYUM"
                },
                "zypper": {
                    "$ref": "PackageResourceZypper"
                }
            },
            "type": "object"
        },
        "PackageResourceAPT": {
            "id": "PackageResourceAPT",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PackageResourceDeb": {
            "id": "PackageResourceDeb",
            "properties": {
                "pullDeps": {
                    "type": "boolean"
                },
                "source": {
                    "$ref": "File"
                }
            },
            "type": "object"
        },
        "PackageResourceGooGet": {
            "id": "PackageResourceGooGet",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PackageResourceMSI": {
            "id": "PackageResourceMSI",
            "properties": {
                "allowedSuccessCodes": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "flags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "source": {
                    "$ref": "File"
                }
            },
            "type": "object"
        },
        "PackageResourceRPM": {
            "id": "PackageResourceRPM",
            "properties": {
                "pullDeps": {
                    "type": "boolean"
                },
                "source": {
                    "$ref": "File"
                }
            },
            "type": "object"
        },
        "PackageResourceYUM": {
            "id": "PackageResourceYUM",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PackageResourceZypper": {
            "id": "PackageResourceZypper",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchConfig": {
            "id": "PatchConfig",
            "properties": {
                "apt": {
                    "$ref": "AptSettings"
                },
                "goo": {
                    "$ref": "GooSettings"
                },
                "postStep": {
                    "$ref": "ExecStep"
                },
                "preStep": {
                    "$ref": "ExecStep"
                },
                "rebootConfig": {
                    "enum": [
                        "REBOOT_CONFIG_UNSPECIFIED",
                        "DEFAULT",
                        "ALWAYS",
                        "NEVER"
                    ],
                    "type": "string"
                },
                "windowsUpdate": {
                    "$ref": "WindowsUpdateSettings"
                },
                "yum": {
                    "$ref": "YumSettings"
                },
                "zypper": {
                    "$ref": "ZypperSettings"
                }
            },
            "type": "object"
        },
        "PatchDeployment": {
            "id": "PatchDeployment",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "instanceFilter": {
                    "$ref": "PatchInstanceFilter"
                },
                "lastExecuteTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "oneTimeSchedule": {
                    "$ref": "OneTimeSchedule"
                },
                "patchConfig": {
                    "$ref": "PatchConfig"
                },
                "recurringSchedule": {
                    "$ref": "RecurringSchedule"
                },
                "rollout": {
                    "$ref": "PatchRollout"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchInstanceFilter": {
            "id": "PatchInstanceFilter",
            "properties": {
                "all": {
                    "type": "boolean"
                },
                "groupLabels": {
                    "items": {
                        "$ref": "PatchInstanceFilterGroupLabel"
                    },
                    "type": "array"
                },
                "instanceNamePrefixes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "instances": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "zones": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PatchInstanceFilterGroupLabel": {
            "id": "PatchInstanceFilterGroupLabel",
            "properties": {
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PatchJob": {
            "id": "PatchJob",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "dryRun": {
                    "type": "boolean"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "errorMessage": {
                    "type": "string"
                },
                "instanceDetailsSummary": {
                    "$ref": "PatchJobInstanceDetailsSummary"
                },
                "instanceFilter": {
                    "$ref": "PatchInstanceFilter"
                },
                "name": {
                    "type": "string"
                },
                "patchConfig": {
                    "$ref": "PatchConfig"
                },
                "patchDeployment": {
                    "type": "string"
                },
                "percentComplete": {
                    "format": "double",
                    "type": "number"
                },
                "rollout": {
                    "$ref": "PatchRollout"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "STARTED",
                        "INSTANCE_LOOKUP",
                        "PATCHING",
                        "SUCCEEDED",
                        "COMPLETED_WITH_ERRORS",
                        "CANCELED",
                        "TIMED_OUT"
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchJobInstanceDetails": {
            "id": "PatchJobInstanceDetails",
            "properties": {
                "attemptCount": {
                    "format": "int64",
                    "type": "string"
                },
                "failureReason": {
                    "type": "string"
                },
                "instanceSystemId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "PATCH_STATE_UNSPECIFIED",
                        "PENDING",
                        "INACTIVE",
                        "NOTIFIED",
                        "STARTED",
                        "DOWNLOADING_PATCHES",
                        "APPLYING_PATCHES",
                        "REBOOTING",
                        "SUCCEEDED",
                        "SUCCEEDED_REBOOT_REQUIRED",
                        "FAILED",
                        "ACKED",
                        "TIMED_OUT",
                        "RUNNING_PRE_PATCH_STEP",
                        "RUNNING_POST_PATCH_STEP",
                        "NO_AGENT_DETECTED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchJobInstanceDetailsSummary": {
            "id": "PatchJobInstanceDetailsSummary",
            "properties": {
                "ackedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "applyingPatchesInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "downloadingPatchesInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "failedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "inactiveInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "noAgentDetectedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "notifiedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "pendingInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "postPatchStepInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "prePatchStepInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "rebootingInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "startedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "succeededInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "succeededRebootRequiredInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "timedOutInstanceCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchRollout": {
            "id": "PatchRollout",
            "properties": {
                "disruptionBudget": {
                    "$ref": "FixedOrPercent"
                },
                "mode": {
                    "enum": [
                        "MODE_UNSPECIFIED",
                        "ZONE_BY_ZONE",
                        "CONCURRENT_ZONES"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RecurringSchedule": {
            "id": "RecurringSchedule",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "frequency": {
                    "enum": [
                        "FREQUENCY_UNSPECIFIED",
                        "WEEKLY",
                        "MONTHLY"
                    ],
                    "type": "string"
                },
                "lastExecuteTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "monthly": {
                    "$ref": "MonthlySchedule"
                },
                "nextExecuteTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "timeOfDay": {
                    "$ref": "TimeOfDay"
                },
                "timeZone": {
                    "$ref": "TimeZone"
                },
                "weekly": {
                    "$ref": "WeeklySchedule"
                }
            },
            "type": "object"
        },
        "RepositoryResource": {
            "id": "RepositoryResource",
            "properties": {
                "apt": {
                    "$ref": "RepositoryResourceAptRepository"
                },
                "goo": {
                    "$ref": "RepositoryResourceGooRepository"
                },
                "yum": {
                    "$ref": "RepositoryResourceYumRepository"
                },
                "zypper": {
                    "$ref": "RepositoryResourceZypperRepository"
                }
            },
            "type": "object"
        },
        "RepositoryResourceAptRepository": {
            "id": "RepositoryResourceAptRepository",
            "properties": {
                "archiveType": {
                    "enum": [
                        "ARCHIVE_TYPE_UNSPECIFIED",
                        "DEB",
                        "DEB_SRC"
                    ],
                    "type": "string"
                },
                "components": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "distribution": {
                    "type": "string"
                },
                "gpgKey": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RepositoryResourceGooRepository": {
            "id": "RepositoryResourceGooRepository",
            "properties": {
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RepositoryResourceYumRepository": {
            "id": "RepositoryResourceYumRepository",
            "properties": {
                "baseUrl": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "gpgKeys": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RepositoryResourceZypperRepository": {
            "id": "RepositoryResourceZypperRepository",
            "properties": {
                "baseUrl": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "gpgKeys": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ServiceResource": {
            "id": "ServiceResource",
            "properties": {},
            "type": "object"
        },
        "TimeOfDay": {
            "id": "TimeOfDay",
            "properties": {
                "hours": {
                    "format": "int32",
                    "type": "integer"
                },
                "minutes": {
                    "format": "int32",
                    "type": "integer"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "seconds": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TimeZone": {
            "id": "TimeZone",
            "properties": {
                "id": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WeekDayOfMonth": {
            "id": "WeekDayOfMonth",
            "properties": {
                "dayOfWeek": {
                    "enum": [
                        "DAY_OF_WEEK_UNSPECIFIED",
                        "MONDAY",
                        "TUESDAY",
                        "WEDNESDAY",
                        "THURSDAY",
                        "FRIDAY",
                        "SATURDAY",
                        "SUNDAY"
                    ],
                    "type": "string"
                },
                "weekOrdinal": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "WeeklySchedule": {
            "id": "WeeklySchedule",
            "properties": {
                "dayOfWeek": {
                    "enum": [
                        "DAY_OF_WEEK_UNSPECIFIED",
                        "MONDAY",
                        "TUESDAY",
                        "WEDNESDAY",
                        "THURSDAY",
                        "FRIDAY",
                        "SATURDAY",
                        "SUNDAY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WindowsUpdateSettings": {
            "id": "WindowsUpdateSettings",
            "properties": {
                "classifications": {
                    "items": {
                        "enum": [
                            "CLASSIFICATION_UNSPECIFIED",
                            "CRITICAL",
                            "SECURITY",
                            "DEFINITION",
                            "DRIVER",
                            "FEATURE_PACK",
                            "SERVICE_PACK",
                            "TOOL",
                            "UPDATE_ROLLUP",
                            "UPDATE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "excludes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "exclusivePatches": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "YumSettings": {
            "id": "YumSettings",
            "properties": {
                "excludes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "exclusivePackages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "minimal": {
                    "type": "boolean"
                },
                "security": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ZypperSettings": {
            "id": "ZypperSettings",
            "properties": {
                "categories": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "excludes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "exclusivePatches": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "severities": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "withOptional": {
                    "type": "boolean"
                },
                "withUpdate": {
                    "type": "boolean"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud OS Config API",
    "version": "v1",
    "version_module": true
}