{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://osconfig.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Systems Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "osconfig:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
    "name": "osconfig",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "patchDeployments": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/patchDeployments",
                            "httpMethod": "POST",
                            "id": "osconfig.projects.patchDeployments.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "patchDeploymentId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/patchDeployments",
                            "request": {
                                "$ref": "PatchDeployment"
                            },
                            "response": {
                                "$ref": "PatchDeployment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
                            "httpMethod": "DELETE",
                            "id": "osconfig.projects.patchDeployments.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
                            "httpMethod": "GET",
                            "id": "osconfig.projects.patchDeployments.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "PatchDeployment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/patchDeployments",
                            "httpMethod": "GET",
                            "id": "osconfig.projects.patchDeployments.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/patchDeployments",
                            "response": {
                                "$ref": "ListPatchDeploymentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "patchJobs": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
                            "httpMethod": "POST",
                            "id": "osconfig.projects.patchJobs.cancel",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:cancel",
                            "request": {
                                "$ref": "CancelPatchJobRequest"
                            },
                            "response": {
                                "$ref": "PatchJob"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "execute": {
                            "flatPath": "v1/projects/{projectsId}/patchJobs:execute",
                            "httpMethod": "POST",
                            "id": "osconfig.projects.patchJobs.execute",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/patchJobs:execute",
                            "request": {
                                "$ref": "ExecutePatchJobRequest"
                            },
                            "response": {
                                "$ref": "PatchJob"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}",
                            "httpMethod": "GET",
                            "id": "osconfig.projects.patchJobs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "PatchJob"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/patchJobs",
                            "httpMethod": "GET",
                            "id": "osconfig.projects.patchJobs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/patchJobs",
                            "response": {
                                "$ref": "ListPatchJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "instanceDetails": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                                    "httpMethod": "GET",
                                    "id": "osconfig.projects.patchJobs.instanceDetails.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/instanceDetails",
                                    "response": {
                                        "$ref": "ListPatchJobInstanceDetailsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://osconfig.googleapis.com/",
    "schemas": {
        "AptSettings": {
            "id": "AptSettings",
            "properties": {
                "excludes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "exclusivePackages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "DIST",
                        "UPGRADE"
                    ],
                    "enumDescriptions": [
                        "By default, upgrade will be performed.",
                        "Runs `apt-get dist-upgrade`.",
                        "Runs `apt-get upgrade`."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelPatchJobRequest": {
            "id": "CancelPatchJobRequest",
            "properties": {},
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ExecStep": {
            "id": "ExecStep",
            "properties": {
                "linuxExecStepConfig": {
                    "$ref": "ExecStepConfig"
                },
                "windowsExecStepConfig": {
                    "$ref": "ExecStepConfig"
                }
            },
            "type": "object"
        },
        "ExecStepConfig": {
            "id": "ExecStepConfig",
            "properties": {
                "allowedSuccessCodes": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "gcsObject": {
                    "$ref": "GcsObject"
                },
                "interpreter": {
                    "enum": [
                        "INTERPRETER_UNSPECIFIED",
                        "SHELL",
                        "POWERSHELL"
                    ],
                    "enumDescriptions": [
                        "Invalid for a Windows ExecStepConfig. For a Linux ExecStepConfig, the\ninterpreter will be parsed from the shebang line of the script if\nunspecified.",
                        "Indicates that the script is run with `/bin/sh` on Linux and `cmd`\non Windows.",
                        "Indicates that the file is run with PowerShell flags\n`-NonInteractive`, `-NoProfile`, and `-ExecutionPolicy Bypass`."
                    ],
                    "type": "string"
                },
                "localPath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExecutePatchJobRequest": {
            "id": "ExecutePatchJobRequest",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "dryRun": {
                    "type": "boolean"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "instanceFilter": {
                    "$ref": "PatchInstanceFilter"
                },
                "patchConfig": {
                    "$ref": "PatchConfig"
                }
            },
            "type": "object"
        },
        "GcsObject": {
            "id": "GcsObject",
            "properties": {
                "bucket": {
                    "type": "string"
                },
                "generationNumber": {
                    "format": "int64",
                    "type": "string"
                },
                "object": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooSettings": {
            "id": "GooSettings",
            "properties": {},
            "type": "object"
        },
        "ListPatchDeploymentsResponse": {
            "id": "ListPatchDeploymentsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "patchDeployments": {
                    "items": {
                        "$ref": "PatchDeployment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListPatchJobInstanceDetailsResponse": {
            "id": "ListPatchJobInstanceDetailsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "patchJobInstanceDetails": {
                    "items": {
                        "$ref": "PatchJobInstanceDetails"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListPatchJobsResponse": {
            "id": "ListPatchJobsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "patchJobs": {
                    "items": {
                        "$ref": "PatchJob"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MonthlySchedule": {
            "id": "MonthlySchedule",
            "properties": {
                "monthDay": {
                    "format": "int32",
                    "type": "integer"
                },
                "weekDayOfMonth": {
                    "$ref": "WeekDayOfMonth"
                }
            },
            "type": "object"
        },
        "OneTimeSchedule": {
            "id": "OneTimeSchedule",
            "properties": {
                "executeTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchConfig": {
            "id": "PatchConfig",
            "properties": {
                "apt": {
                    "$ref": "AptSettings"
                },
                "goo": {
                    "$ref": "GooSettings"
                },
                "postStep": {
                    "$ref": "ExecStep"
                },
                "preStep": {
                    "$ref": "ExecStep"
                },
                "rebootConfig": {
                    "enum": [
                        "REBOOT_CONFIG_UNSPECIFIED",
                        "DEFAULT",
                        "ALWAYS",
                        "NEVER"
                    ],
                    "enumDescriptions": [
                        "The default behavior is DEFAULT.",
                        "The agent decides if a reboot is necessary by checking signals such as\nregistry keys on Windows or `/var/run/reboot-required` on APT based\nsystems. On RPM based systems, a set of core system package install times\nare compared with system boot time.",
                        "Always reboot the machine after the update completes.",
                        "Never reboot the machine after the update completes."
                    ],
                    "type": "string"
                },
                "windowsUpdate": {
                    "$ref": "WindowsUpdateSettings"
                },
                "yum": {
                    "$ref": "YumSettings"
                },
                "zypper": {
                    "$ref": "ZypperSettings"
                }
            },
            "type": "object"
        },
        "PatchDeployment": {
            "id": "PatchDeployment",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "instanceFilter": {
                    "$ref": "PatchInstanceFilter"
                },
                "lastExecuteTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "oneTimeSchedule": {
                    "$ref": "OneTimeSchedule"
                },
                "patchConfig": {
                    "$ref": "PatchConfig"
                },
                "recurringSchedule": {
                    "$ref": "RecurringSchedule"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchInstanceFilter": {
            "id": "PatchInstanceFilter",
            "properties": {
                "all": {
                    "type": "boolean"
                },
                "groupLabels": {
                    "items": {
                        "$ref": "PatchInstanceFilterGroupLabel"
                    },
                    "type": "array"
                },
                "instanceNamePrefixes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "instances": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "zones": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PatchInstanceFilterGroupLabel": {
            "id": "PatchInstanceFilterGroupLabel",
            "properties": {
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PatchJob": {
            "id": "PatchJob",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "dryRun": {
                    "type": "boolean"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "errorMessage": {
                    "type": "string"
                },
                "instanceDetailsSummary": {
                    "$ref": "PatchJobInstanceDetailsSummary"
                },
                "instanceFilter": {
                    "$ref": "PatchInstanceFilter"
                },
                "name": {
                    "type": "string"
                },
                "patchConfig": {
                    "$ref": "PatchConfig"
                },
                "patchDeployment": {
                    "type": "string"
                },
                "percentComplete": {
                    "format": "double",
                    "type": "number"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "STARTED",
                        "INSTANCE_LOOKUP",
                        "PATCHING",
                        "SUCCEEDED",
                        "COMPLETED_WITH_ERRORS",
                        "CANCELED",
                        "TIMED_OUT"
                    ],
                    "enumDescriptions": [
                        "State must be specified.",
                        "The patch job was successfully initiated.",
                        "The patch job is looking up instances to run the patch on.",
                        "Instances are being patched.",
                        "Patch job completed successfully.",
                        "Patch job completed but there were errors.",
                        "The patch job was canceled.",
                        "The patch job timed out."
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchJobInstanceDetails": {
            "id": "PatchJobInstanceDetails",
            "properties": {
                "attemptCount": {
                    "format": "int64",
                    "type": "string"
                },
                "failureReason": {
                    "type": "string"
                },
                "instanceSystemId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "PATCH_STATE_UNSPECIFIED",
                        "PENDING",
                        "INACTIVE",
                        "NOTIFIED",
                        "STARTED",
                        "DOWNLOADING_PATCHES",
                        "APPLYING_PATCHES",
                        "REBOOTING",
                        "SUCCEEDED",
                        "SUCCEEDED_REBOOT_REQUIRED",
                        "FAILED",
                        "ACKED",
                        "TIMED_OUT",
                        "RUNNING_PRE_PATCH_STEP",
                        "RUNNING_POST_PATCH_STEP",
                        "NO_AGENT_DETECTED"
                    ],
                    "enumDescriptions": [
                        "Unspecified.",
                        "The instance is not yet notified.",
                        "Instance is inactive and cannot be patched.",
                        "The instance is notified that it should be patched.",
                        "The instance has started the patching process.",
                        "The instance is downloading patches.",
                        "The instance is applying patches.",
                        "The instance is rebooting.",
                        "The instance has completed applying patches.",
                        "The instance has completed applying patches but a reboot is required.",
                        "The instance has failed to apply the patch.",
                        "The instance acked the notification and will start shortly.",
                        "The instance exceeded the time out while applying the patch.",
                        "The instance is running the pre-patch step.",
                        "The instance is running the post-patch step.",
                        "The service could not detect the presence of the agent. Check to ensure\nthat the agent is installed, running, and able to communicate with the\nservice."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PatchJobInstanceDetailsSummary": {
            "id": "PatchJobInstanceDetailsSummary",
            "properties": {
                "ackedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "applyingPatchesInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "downloadingPatchesInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "failedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "inactiveInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "noAgentDetectedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "notifiedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "pendingInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "postPatchStepInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "prePatchStepInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "rebootingInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "startedInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "succeededInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "succeededRebootRequiredInstanceCount": {
                    "format": "int64",
                    "type": "string"
                },
                "timedOutInstanceCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RecurringSchedule": {
            "id": "RecurringSchedule",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "frequency": {
                    "enum": [
                        "FREQUENCY_UNSPECIFIED",
                        "WEEKLY",
                        "MONTHLY"
                    ],
                    "enumDescriptions": [
                        "Invalid. A frequency must be specified.",
                        "Indicates that the frequency should be expressed in terms of\nweeks.",
                        "Indicates that the frequency should be expressed in terms of\nmonths."
                    ],
                    "type": "string"
                },
                "lastExecuteTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "monthly": {
                    "$ref": "MonthlySchedule"
                },
                "nextExecuteTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "timeOfDay": {
                    "$ref": "TimeOfDay"
                },
                "timeZone": {
                    "$ref": "TimeZone"
                },
                "weekly": {
                    "$ref": "WeeklySchedule"
                }
            },
            "type": "object"
        },
        "TimeOfDay": {
            "id": "TimeOfDay",
            "properties": {
                "hours": {
                    "format": "int32",
                    "type": "integer"
                },
                "minutes": {
                    "format": "int32",
                    "type": "integer"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "seconds": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TimeZone": {
            "id": "TimeZone",
            "properties": {
                "id": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WeekDayOfMonth": {
            "id": "WeekDayOfMonth",
            "properties": {
                "dayOfWeek": {
                    "enum": [
                        "DAY_OF_WEEK_UNSPECIFIED",
                        "MONDAY",
                        "TUESDAY",
                        "WEDNESDAY",
                        "THURSDAY",
                        "FRIDAY",
                        "SATURDAY",
                        "SUNDAY"
                    ],
                    "enumDescriptions": [
                        "The unspecified day-of-week.",
                        "The day-of-week of Monday.",
                        "The day-of-week of Tuesday.",
                        "The day-of-week of Wednesday.",
                        "The day-of-week of Thursday.",
                        "The day-of-week of Friday.",
                        "The day-of-week of Saturday.",
                        "The day-of-week of Sunday."
                    ],
                    "type": "string"
                },
                "weekOrdinal": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "WeeklySchedule": {
            "id": "WeeklySchedule",
            "properties": {
                "dayOfWeek": {
                    "enum": [
                        "DAY_OF_WEEK_UNSPECIFIED",
                        "MONDAY",
                        "TUESDAY",
                        "WEDNESDAY",
                        "THURSDAY",
                        "FRIDAY",
                        "SATURDAY",
                        "SUNDAY"
                    ],
                    "enumDescriptions": [
                        "The unspecified day-of-week.",
                        "The day-of-week of Monday.",
                        "The day-of-week of Tuesday.",
                        "The day-of-week of Wednesday.",
                        "The day-of-week of Thursday.",
                        "The day-of-week of Friday.",
                        "The day-of-week of Saturday.",
                        "The day-of-week of Sunday."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WindowsUpdateSettings": {
            "id": "WindowsUpdateSettings",
            "properties": {
                "classifications": {
                    "enumDescriptions": [
                        "Invalid. If classifications are included, they must be specified.",
                        "\"A widely released fix for a specific problem that addresses a critical,\nnon-security-related bug.\" [1]",
                        "\"A widely released fix for a product-specific, security-related\nvulnerability. Security vulnerabilities are rated by their severity. The\nseverity rating is indicated in the Microsoft security bulletin as\ncritical, important, moderate, or low.\" [1]",
                        "\"A widely released and frequent software update that contains additions\nto a product's definition database. Definition databases are often used\nto detect objects that have specific attributes, such as malicious code,\nphishing websites, or junk mail.\" [1]",
                        "\"Software that controls the input and output of a device.\" [1]",
                        "\"New product functionality that is first distributed outside the context\nof a product release and that is typically included in the next full\nproduct release.\" [1]",
                        "\"A tested, cumulative set of all hotfixes, security updates, critical\nupdates, and updates. Additionally, service packs may contain additional\nfixes for problems that are found internally since the release of the\nproduct. Service packs my also contain a limited number of\ncustomer-requested design changes or features.\" [1]",
                        "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
                        "\"A tested, cumulative set of hotfixes, security updates, critical\nupdates, and updates that are packaged together for easy deployment. A\nrollup generally targets a specific area, such as security, or a\ncomponent of a product, such as Internet Information Services (IIS).\" [1]",
                        "\"A widely released fix for a specific problem. An update addresses a\nnoncritical, non-security-related bug.\" [1]"
                    ],
                    "items": {
                        "enum": [
                            "CLASSIFICATION_UNSPECIFIED",
                            "CRITICAL",
                            "SECURITY",
                            "DEFINITION",
                            "DRIVER",
                            "FEATURE_PACK",
                            "SERVICE_PACK",
                            "TOOL",
                            "UPDATE_ROLLUP",
                            "UPDATE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "excludes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "exclusivePatches": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "YumSettings": {
            "id": "YumSettings",
            "properties": {
                "excludes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "exclusivePackages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "minimal": {
                    "type": "boolean"
                },
                "security": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ZypperSettings": {
            "id": "ZypperSettings",
            "properties": {
                "categories": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "excludes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "exclusivePatches": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "severities": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "withOptional": {
                    "type": "boolean"
                },
                "withUpdate": {
                    "type": "boolean"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud OS Config API",
    "version": "v1",
    "version_module": true
}