{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/compute": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://oslogin.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud OS Login",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/compute/docs/oslogin/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "oslogin:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://oslogin.mtls.googleapis.com/",
    "name": "oslogin",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "users": {
            "methods": {
                "getLoginProfile": {
                    "flatPath": "v1/users/{usersId}/loginProfile",
                    "httpMethod": "GET",
                    "id": "oslogin.users.getLoginProfile",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^users/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        },
                        "systemId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}/loginProfile",
                    "response": {
                        "$ref": "LoginProfile"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "importSshPublicKey": {
                    "flatPath": "v1/users/{usersId}:importSshPublicKey",
                    "httpMethod": "POST",
                    "id": "oslogin.users.importSshPublicKey",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^users/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}:importSshPublicKey",
                    "request": {
                        "$ref": "SshPublicKey"
                    },
                    "response": {
                        "$ref": "ImportSshPublicKeyResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            },
            "resources": {
                "projects": {
                    "methods": {
                        "delete": {
                            "flatPath": "v1/users/{usersId}/projects/{projectsId}",
                            "httpMethod": "DELETE",
                            "id": "oslogin.users.projects.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^users/[^/]+/projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute"
                            ]
                        }
                    }
                },
                "sshPublicKeys": {
                    "methods": {
                        "delete": {
                            "flatPath": "v1/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
                            "httpMethod": "DELETE",
                            "id": "oslogin.users.sshPublicKeys.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
                            "httpMethod": "GET",
                            "id": "oslogin.users.sshPublicKeys.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "SshPublicKey"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
                            "httpMethod": "PATCH",
                            "id": "oslogin.users.sshPublicKeys.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "SshPublicKey"
                            },
                            "response": {
                                "$ref": "SshPublicKey"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/compute"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://oslogin.googleapis.com/",
    "schemas": {
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ImportSshPublicKeyResponse": {
            "id": "ImportSshPublicKeyResponse",
            "properties": {
                "details": {
                    "type": "string"
                },
                "loginProfile": {
                    "$ref": "LoginProfile"
                }
            },
            "type": "object"
        },
        "LoginProfile": {
            "id": "LoginProfile",
            "properties": {
                "name": {
                    "type": "string"
                },
                "posixAccounts": {
                    "items": {
                        "$ref": "PosixAccount"
                    },
                    "type": "array"
                },
                "sshPublicKeys": {
                    "additionalProperties": {
                        "$ref": "SshPublicKey"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PosixAccount": {
            "id": "PosixAccount",
            "properties": {
                "accountId": {
                    "readOnly": true,
                    "type": "string"
                },
                "gecos": {
                    "type": "string"
                },
                "gid": {
                    "format": "int64",
                    "type": "string"
                },
                "homeDirectory": {
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                },
                "operatingSystemType": {
                    "enum": [
                        "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
                        "LINUX",
                        "WINDOWS"
                    ],
                    "type": "string"
                },
                "primary": {
                    "type": "boolean"
                },
                "shell": {
                    "type": "string"
                },
                "systemId": {
                    "type": "string"
                },
                "uid": {
                    "format": "int64",
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SshPublicKey": {
            "id": "SshPublicKey",
            "properties": {
                "expirationTimeUsec": {
                    "format": "int64",
                    "type": "string"
                },
                "fingerprint": {
                    "readOnly": true,
                    "type": "string"
                },
                "key": {
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud OS Login API",
    "version": "v1",
    "version_module": true
}