{
    "auth": {
        "oauth2": {
            "scopes": {
                "openid": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://pagespeedonline.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Pagespeed Insights",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "pagespeedonline:v5",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
    "name": "pagespeedonline",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "pagespeedapi": {
            "methods": {
                "runpagespeed": {
                    "flatPath": "pagespeedonline/v5/runPagespeed",
                    "httpMethod": "GET",
                    "id": "pagespeedonline.pagespeedapi.runpagespeed",
                    "parameterOrder": [],
                    "parameters": {
                        "captchaToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "category": {
                            "enum": [
                                "CATEGORY_UNSPECIFIED",
                                "ACCESSIBILITY",
                                "BEST_PRACTICES",
                                "PERFORMANCE",
                                "PWA",
                                "SEO"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "locale": {
                            "location": "query",
                            "type": "string"
                        },
                        "strategy": {
                            "enum": [
                                "STRATEGY_UNSPECIFIED",
                                "DESKTOP",
                                "MOBILE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "url": {
                            "location": "query",
                            "type": "string"
                        },
                        "utm_campaign": {
                            "location": "query",
                            "type": "string"
                        },
                        "utm_source": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "pagespeedonline/v5/runPagespeed",
                    "response": {
                        "$ref": "PagespeedApiPagespeedResponseV5"
                    },
                    "scopes": [
                        "openid"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://pagespeedonline.googleapis.com/",
    "schemas": {
        "AuditRefs": {
            "id": "AuditRefs",
            "properties": {
                "group": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "weight": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Bucket": {
            "id": "Bucket",
            "properties": {
                "max": {
                    "format": "int32",
                    "type": "integer"
                },
                "min": {
                    "format": "int32",
                    "type": "integer"
                },
                "proportion": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Categories": {
            "id": "Categories",
            "properties": {
                "accessibility": {
                    "$ref": "LighthouseCategoryV5"
                },
                "best-practices": {
                    "$ref": "LighthouseCategoryV5"
                },
                "performance": {
                    "$ref": "LighthouseCategoryV5"
                },
                "pwa": {
                    "$ref": "LighthouseCategoryV5"
                },
                "seo": {
                    "$ref": "LighthouseCategoryV5"
                }
            },
            "type": "object"
        },
        "CategoryGroupV5": {
            "id": "CategoryGroupV5",
            "properties": {
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConfigSettings": {
            "id": "ConfigSettings",
            "properties": {
                "channel": {
                    "type": "string"
                },
                "emulatedFormFactor": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "onlyCategories": {
                    "type": "any"
                }
            },
            "type": "object"
        },
        "Environment": {
            "id": "Environment",
            "properties": {
                "benchmarkIndex": {
                    "format": "double",
                    "type": "number"
                },
                "hostUserAgent": {
                    "type": "string"
                },
                "networkUserAgent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "I18n": {
            "id": "I18n",
            "properties": {
                "rendererFormattedStrings": {
                    "$ref": "RendererFormattedStrings"
                }
            },
            "type": "object"
        },
        "LighthouseAuditResultV5": {
            "id": "LighthouseAuditResultV5",
            "properties": {
                "details": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "displayValue": {
                    "type": "string"
                },
                "errorMessage": {
                    "type": "string"
                },
                "explanation": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "numericValue": {
                    "format": "double",
                    "type": "number"
                },
                "score": {
                    "type": "any"
                },
                "scoreDisplayMode": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "warnings": {
                    "type": "any"
                }
            },
            "type": "object"
        },
        "LighthouseCategoryV5": {
            "id": "LighthouseCategoryV5",
            "properties": {
                "auditRefs": {
                    "items": {
                        "$ref": "AuditRefs"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                },
                "manualDescription": {
                    "type": "string"
                },
                "score": {
                    "type": "any"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LighthouseResultV5": {
            "id": "LighthouseResultV5",
            "properties": {
                "audits": {
                    "additionalProperties": {
                        "$ref": "LighthouseAuditResultV5"
                    },
                    "type": "object"
                },
                "categories": {
                    "$ref": "Categories"
                },
                "categoryGroups": {
                    "additionalProperties": {
                        "$ref": "CategoryGroupV5"
                    },
                    "type": "object"
                },
                "configSettings": {
                    "$ref": "ConfigSettings"
                },
                "environment": {
                    "$ref": "Environment"
                },
                "fetchTime": {
                    "type": "string"
                },
                "finalUrl": {
                    "type": "string"
                },
                "i18n": {
                    "$ref": "I18n"
                },
                "lighthouseVersion": {
                    "type": "string"
                },
                "requestedUrl": {
                    "type": "string"
                },
                "runWarnings": {
                    "items": {
                        "type": "any"
                    },
                    "type": "array"
                },
                "runtimeError": {
                    "$ref": "RuntimeError"
                },
                "stackPacks": {
                    "items": {
                        "$ref": "StackPack"
                    },
                    "type": "array"
                },
                "timing": {
                    "$ref": "Timing"
                },
                "userAgent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PagespeedApiLoadingExperienceV5": {
            "id": "PagespeedApiLoadingExperienceV5",
            "properties": {
                "id": {
                    "type": "string"
                },
                "initial_url": {
                    "type": "string"
                },
                "metrics": {
                    "additionalProperties": {
                        "$ref": "UserPageLoadMetricV5"
                    },
                    "type": "object"
                },
                "origin_fallback": {
                    "type": "boolean"
                },
                "overall_category": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PagespeedApiPagespeedResponseV5": {
            "id": "PagespeedApiPagespeedResponseV5",
            "properties": {
                "analysisUTCTimestamp": {
                    "type": "string"
                },
                "captchaResult": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "lighthouseResult": {
                    "$ref": "LighthouseResultV5"
                },
                "loadingExperience": {
                    "$ref": "PagespeedApiLoadingExperienceV5"
                },
                "originLoadingExperience": {
                    "$ref": "PagespeedApiLoadingExperienceV5"
                },
                "version": {
                    "$ref": "PagespeedVersion"
                }
            },
            "type": "object"
        },
        "PagespeedVersion": {
            "id": "PagespeedVersion",
            "properties": {
                "major": {
                    "type": "string"
                },
                "minor": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RendererFormattedStrings": {
            "id": "RendererFormattedStrings",
            "properties": {
                "auditGroupExpandTooltip": {
                    "type": "string"
                },
                "crcInitialNavigation": {
                    "type": "string"
                },
                "crcLongestDurationLabel": {
                    "type": "string"
                },
                "errorLabel": {
                    "type": "string"
                },
                "errorMissingAuditInfo": {
                    "type": "string"
                },
                "labDataTitle": {
                    "type": "string"
                },
                "lsPerformanceCategoryDescription": {
                    "type": "string"
                },
                "manualAuditsGroupTitle": {
                    "type": "string"
                },
                "notApplicableAuditsGroupTitle": {
                    "type": "string"
                },
                "opportunityResourceColumnLabel": {
                    "type": "string"
                },
                "opportunitySavingsColumnLabel": {
                    "type": "string"
                },
                "passedAuditsGroupTitle": {
                    "type": "string"
                },
                "scorescaleLabel": {
                    "type": "string"
                },
                "toplevelWarningsMessage": {
                    "type": "string"
                },
                "varianceDisclaimer": {
                    "type": "string"
                },
                "warningHeader": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RuntimeError": {
            "id": "RuntimeError",
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StackPack": {
            "id": "StackPack",
            "properties": {
                "descriptions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "iconDataURL": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Timing": {
            "id": "Timing",
            "properties": {
                "total": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "UserPageLoadMetricV5": {
            "id": "UserPageLoadMetricV5",
            "properties": {
                "category": {
                    "type": "string"
                },
                "distributions": {
                    "items": {
                        "$ref": "Bucket"
                    },
                    "type": "array"
                },
                "formFactor": {
                    "type": "string"
                },
                "median": {
                    "format": "int32",
                    "type": "integer"
                },
                "metricId": {
                    "type": "string"
                },
                "percentile": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "PageSpeed Insights API",
    "version": "v5",
    "version_module": true
}