{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/contacts": {},
                "https://www.googleapis.com/auth/contacts.other.readonly": {},
                "https://www.googleapis.com/auth/contacts.readonly": {},
                "https://www.googleapis.com/auth/directory.readonly": {},
                "https://www.googleapis.com/auth/user.addresses.read": {},
                "https://www.googleapis.com/auth/user.birthday.read": {},
                "https://www.googleapis.com/auth/user.emails.read": {},
                "https://www.googleapis.com/auth/user.gender.read": {},
                "https://www.googleapis.com/auth/user.organization.read": {},
                "https://www.googleapis.com/auth/user.phonenumbers.read": {},
                "https://www.googleapis.com/auth/userinfo.email": {},
                "https://www.googleapis.com/auth/userinfo.profile": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://people.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "People Service",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/people/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "people:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://people.mtls.googleapis.com/",
    "name": "people",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "contactGroups": {
            "methods": {
                "batchGet": {
                    "flatPath": "v1/contactGroups:batchGet",
                    "httpMethod": "GET",
                    "id": "people.contactGroups.batchGet",
                    "parameterOrder": [],
                    "parameters": {
                        "maxMembers": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "resourceNames": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/contactGroups:batchGet",
                    "response": {
                        "$ref": "BatchGetContactGroupsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts",
                        "https://www.googleapis.com/auth/contacts.readonly"
                    ]
                },
                "create": {
                    "flatPath": "v1/contactGroups",
                    "httpMethod": "POST",
                    "id": "people.contactGroups.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/contactGroups",
                    "request": {
                        "$ref": "CreateContactGroupRequest"
                    },
                    "response": {
                        "$ref": "ContactGroup"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts"
                    ]
                },
                "delete": {
                    "flatPath": "v1/contactGroups/{contactGroupsId}",
                    "httpMethod": "DELETE",
                    "id": "people.contactGroups.delete",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "deleteContacts": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "resourceName": {
                            "location": "path",
                            "pattern": "^contactGroups/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resourceName}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts"
                    ]
                },
                "get": {
                    "flatPath": "v1/contactGroups/{contactGroupsId}",
                    "httpMethod": "GET",
                    "id": "people.contactGroups.get",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "maxMembers": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "resourceName": {
                            "location": "path",
                            "pattern": "^contactGroups/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resourceName}",
                    "response": {
                        "$ref": "ContactGroup"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts",
                        "https://www.googleapis.com/auth/contacts.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v1/contactGroups",
                    "httpMethod": "GET",
                    "id": "people.contactGroups.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/contactGroups",
                    "response": {
                        "$ref": "ListContactGroupsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts",
                        "https://www.googleapis.com/auth/contacts.readonly"
                    ]
                },
                "update": {
                    "flatPath": "v1/contactGroups/{contactGroupsId}",
                    "httpMethod": "PUT",
                    "id": "people.contactGroups.update",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "resourceName": {
                            "location": "path",
                            "pattern": "^contactGroups/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resourceName}",
                    "request": {
                        "$ref": "UpdateContactGroupRequest"
                    },
                    "response": {
                        "$ref": "ContactGroup"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts"
                    ]
                }
            },
            "resources": {
                "members": {
                    "methods": {
                        "modify": {
                            "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
                            "httpMethod": "POST",
                            "id": "people.contactGroups.members.modify",
                            "parameterOrder": [
                                "resourceName"
                            ],
                            "parameters": {
                                "resourceName": {
                                    "location": "path",
                                    "pattern": "^contactGroups/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resourceName}/members:modify",
                            "request": {
                                "$ref": "ModifyContactGroupMembersRequest"
                            },
                            "response": {
                                "$ref": "ModifyContactGroupMembersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/contacts"
                            ]
                        }
                    }
                }
            }
        },
        "otherContacts": {
            "methods": {
                "copyOtherContactToMyContactsGroup": {
                    "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
                    "httpMethod": "POST",
                    "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "resourceName": {
                            "location": "path",
                            "pattern": "^otherContacts/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
                    "request": {
                        "$ref": "CopyOtherContactToMyContactsGroupRequest"
                    },
                    "response": {
                        "$ref": "Person"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts",
                        "https://www.googleapis.com/auth/contacts.other.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v1/otherContacts",
                    "httpMethod": "GET",
                    "id": "people.otherContacts.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "readMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "requestSyncToken": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/otherContacts",
                    "response": {
                        "$ref": "ListOtherContactsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts.other.readonly"
                    ]
                }
            }
        },
        "people": {
            "methods": {
                "createContact": {
                    "flatPath": "v1/people:createContact",
                    "httpMethod": "POST",
                    "id": "people.people.createContact",
                    "parameterOrder": [],
                    "parameters": {
                        "personFields": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "sources": {
                            "enum": [
                                "READ_SOURCE_TYPE_UNSPECIFIED",
                                "READ_SOURCE_TYPE_PROFILE",
                                "READ_SOURCE_TYPE_CONTACT",
                                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/people:createContact",
                    "request": {
                        "$ref": "Person"
                    },
                    "response": {
                        "$ref": "Person"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts"
                    ]
                },
                "deleteContact": {
                    "flatPath": "v1/people/{peopleId}:deleteContact",
                    "httpMethod": "DELETE",
                    "id": "people.people.deleteContact",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "resourceName": {
                            "location": "path",
                            "pattern": "^people/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resourceName}:deleteContact",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts"
                    ]
                },
                "deleteContactPhoto": {
                    "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
                    "httpMethod": "DELETE",
                    "id": "people.people.deleteContactPhoto",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "personFields": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "resourceName": {
                            "location": "path",
                            "pattern": "^people/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "sources": {
                            "enum": [
                                "READ_SOURCE_TYPE_UNSPECIFIED",
                                "READ_SOURCE_TYPE_PROFILE",
                                "READ_SOURCE_TYPE_CONTACT",
                                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resourceName}:deleteContactPhoto",
                    "response": {
                        "$ref": "DeleteContactPhotoResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts"
                    ]
                },
                "get": {
                    "flatPath": "v1/people/{peopleId}",
                    "httpMethod": "GET",
                    "id": "people.people.get",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "personFields": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "requestMask.includeField": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "resourceName": {
                            "location": "path",
                            "pattern": "^people/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "sources": {
                            "enum": [
                                "READ_SOURCE_TYPE_UNSPECIFIED",
                                "READ_SOURCE_TYPE_PROFILE",
                                "READ_SOURCE_TYPE_CONTACT",
                                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resourceName}",
                    "response": {
                        "$ref": "Person"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts",
                        "https://www.googleapis.com/auth/contacts.readonly",
                        "https://www.googleapis.com/auth/directory.readonly",
                        "https://www.googleapis.com/auth/user.addresses.read",
                        "https://www.googleapis.com/auth/user.birthday.read",
                        "https://www.googleapis.com/auth/user.emails.read",
                        "https://www.googleapis.com/auth/user.gender.read",
                        "https://www.googleapis.com/auth/user.organization.read",
                        "https://www.googleapis.com/auth/user.phonenumbers.read",
                        "https://www.googleapis.com/auth/userinfo.email",
                        "https://www.googleapis.com/auth/userinfo.profile"
                    ]
                },
                "getBatchGet": {
                    "flatPath": "v1/people:batchGet",
                    "httpMethod": "GET",
                    "id": "people.people.getBatchGet",
                    "parameterOrder": [],
                    "parameters": {
                        "personFields": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "requestMask.includeField": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "resourceNames": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "sources": {
                            "enum": [
                                "READ_SOURCE_TYPE_UNSPECIFIED",
                                "READ_SOURCE_TYPE_PROFILE",
                                "READ_SOURCE_TYPE_CONTACT",
                                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/people:batchGet",
                    "response": {
                        "$ref": "GetPeopleResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts",
                        "https://www.googleapis.com/auth/contacts.readonly",
                        "https://www.googleapis.com/auth/directory.readonly",
                        "https://www.googleapis.com/auth/user.addresses.read",
                        "https://www.googleapis.com/auth/user.birthday.read",
                        "https://www.googleapis.com/auth/user.emails.read",
                        "https://www.googleapis.com/auth/user.gender.read",
                        "https://www.googleapis.com/auth/user.organization.read",
                        "https://www.googleapis.com/auth/user.phonenumbers.read",
                        "https://www.googleapis.com/auth/userinfo.email",
                        "https://www.googleapis.com/auth/userinfo.profile"
                    ]
                },
                "listDirectoryPeople": {
                    "flatPath": "v1/people:listDirectoryPeople",
                    "httpMethod": "GET",
                    "id": "people.people.listDirectoryPeople",
                    "parameterOrder": [],
                    "parameters": {
                        "mergeSources": {
                            "enum": [
                                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "readMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "requestSyncToken": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "sources": {
                            "enum": [
                                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "syncToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/people:listDirectoryPeople",
                    "response": {
                        "$ref": "ListDirectoryPeopleResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/directory.readonly"
                    ]
                },
                "searchDirectoryPeople": {
                    "flatPath": "v1/people:searchDirectoryPeople",
                    "httpMethod": "GET",
                    "id": "people.people.searchDirectoryPeople",
                    "parameterOrder": [],
                    "parameters": {
                        "mergeSources": {
                            "enum": [
                                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        },
                        "readMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "sources": {
                            "enum": [
                                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/people:searchDirectoryPeople",
                    "response": {
                        "$ref": "SearchDirectoryPeopleResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/directory.readonly"
                    ]
                },
                "updateContact": {
                    "flatPath": "v1/people/{peopleId}:updateContact",
                    "httpMethod": "PATCH",
                    "id": "people.people.updateContact",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "personFields": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "resourceName": {
                            "location": "path",
                            "pattern": "^people/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "sources": {
                            "enum": [
                                "READ_SOURCE_TYPE_UNSPECIFIED",
                                "READ_SOURCE_TYPE_PROFILE",
                                "READ_SOURCE_TYPE_CONTACT",
                                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "updatePersonFields": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resourceName}:updateContact",
                    "request": {
                        "$ref": "Person"
                    },
                    "response": {
                        "$ref": "Person"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts"
                    ]
                },
                "updateContactPhoto": {
                    "flatPath": "v1/people/{peopleId}:updateContactPhoto",
                    "httpMethod": "PATCH",
                    "id": "people.people.updateContactPhoto",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "resourceName": {
                            "location": "path",
                            "pattern": "^people/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resourceName}:updateContactPhoto",
                    "request": {
                        "$ref": "UpdateContactPhotoRequest"
                    },
                    "response": {
                        "$ref": "UpdateContactPhotoResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/contacts"
                    ]
                }
            },
            "resources": {
                "connections": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/people/{peopleId}/connections",
                            "httpMethod": "GET",
                            "id": "people.people.connections.list",
                            "parameterOrder": [
                                "resourceName"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "personFields": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "requestMask.includeField": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "requestSyncToken": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "resourceName": {
                                    "location": "path",
                                    "pattern": "^people/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "sortOrder": {
                                    "enum": [
                                        "LAST_MODIFIED_ASCENDING",
                                        "LAST_MODIFIED_DESCENDING",
                                        "FIRST_NAME_ASCENDING",
                                        "LAST_NAME_ASCENDING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "sources": {
                                    "enum": [
                                        "READ_SOURCE_TYPE_UNSPECIFIED",
                                        "READ_SOURCE_TYPE_PROFILE",
                                        "READ_SOURCE_TYPE_CONTACT",
                                        "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "syncToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resourceName}/connections",
                            "response": {
                                "$ref": "ListConnectionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/contacts",
                                "https://www.googleapis.com/auth/contacts.readonly"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://people.googleapis.com/",
    "schemas": {
        "Address": {
            "id": "Address",
            "properties": {
                "city": {
                    "type": "string"
                },
                "country": {
                    "type": "string"
                },
                "countryCode": {
                    "type": "string"
                },
                "extendedAddress": {
                    "type": "string"
                },
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "formattedValue": {
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "poBox": {
                    "type": "string"
                },
                "postalCode": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "streetAddress": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AgeRangeType": {
            "id": "AgeRangeType",
            "properties": {
                "ageRange": {
                    "enum": [
                        "AGE_RANGE_UNSPECIFIED",
                        "LESS_THAN_EIGHTEEN",
                        "EIGHTEEN_TO_TWENTY",
                        "TWENTY_ONE_OR_OLDER"
                    ],
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                }
            },
            "type": "object"
        },
        "BatchGetContactGroupsResponse": {
            "id": "BatchGetContactGroupsResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "ContactGroupResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Biography": {
            "id": "Biography",
            "properties": {
                "contentType": {
                    "enum": [
                        "CONTENT_TYPE_UNSPECIFIED",
                        "TEXT_PLAIN",
                        "TEXT_HTML"
                    ],
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Birthday": {
            "id": "Birthday",
            "properties": {
                "date": {
                    "$ref": "Date"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "text": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BraggingRights": {
            "id": "BraggingRights",
            "properties": {
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CalendarUrl": {
            "id": "CalendarUrl",
            "properties": {
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "type": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContactGroup": {
            "id": "ContactGroup",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "formattedName": {
                    "readOnly": true,
                    "type": "string"
                },
                "groupType": {
                    "enum": [
                        "GROUP_TYPE_UNSPECIFIED",
                        "USER_CONTACT_GROUP",
                        "SYSTEM_CONTACT_GROUP"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "memberCount": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                },
                "memberResourceNames": {
                    "items": {
                        "type": "string"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "metadata": {
                    "$ref": "ContactGroupMetadata",
                    "readOnly": true
                },
                "name": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContactGroupMembership": {
            "id": "ContactGroupMembership",
            "properties": {
                "contactGroupId": {
                    "readOnly": true,
                    "type": "string"
                },
                "contactGroupResourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContactGroupMetadata": {
            "id": "ContactGroupMetadata",
            "properties": {
                "deleted": {
                    "readOnly": true,
                    "type": "boolean"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContactGroupResponse": {
            "id": "ContactGroupResponse",
            "properties": {
                "contactGroup": {
                    "$ref": "ContactGroup"
                },
                "requestedResourceName": {
                    "type": "string"
                },
                "status": {
                    "$ref": "Status"
                }
            },
            "type": "object"
        },
        "CopyOtherContactToMyContactsGroupRequest": {
            "id": "CopyOtherContactToMyContactsGroupRequest",
            "properties": {
                "copyMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "readMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "sources": {
                    "items": {
                        "enum": [
                            "READ_SOURCE_TYPE_UNSPECIFIED",
                            "READ_SOURCE_TYPE_PROFILE",
                            "READ_SOURCE_TYPE_CONTACT",
                            "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CoverPhoto": {
            "id": "CoverPhoto",
            "properties": {
                "default": {
                    "type": "boolean"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateContactGroupRequest": {
            "id": "CreateContactGroupRequest",
            "properties": {
                "contactGroup": {
                    "$ref": "ContactGroup"
                }
            },
            "type": "object"
        },
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeleteContactPhotoResponse": {
            "id": "DeleteContactPhotoResponse",
            "properties": {
                "person": {
                    "$ref": "Person"
                }
            },
            "type": "object"
        },
        "DomainMembership": {
            "id": "DomainMembership",
            "properties": {
                "inViewerDomain": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "EmailAddress": {
            "id": "EmailAddress",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Event": {
            "id": "Event",
            "properties": {
                "date": {
                    "$ref": "Date"
                },
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExternalId": {
            "id": "ExternalId",
            "properties": {
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FieldMetadata": {
            "id": "FieldMetadata",
            "properties": {
                "primary": {
                    "type": "boolean"
                },
                "source": {
                    "$ref": "Source"
                },
                "verified": {
                    "readOnly": true,
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "FileAs": {
            "id": "FileAs",
            "properties": {
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Gender": {
            "id": "Gender",
            "properties": {
                "addressMeAs": {
                    "type": "string"
                },
                "formattedValue": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetPeopleResponse": {
            "id": "GetPeopleResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "PersonResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ImClient": {
            "id": "ImClient",
            "properties": {
                "formattedProtocol": {
                    "readOnly": true,
                    "type": "string"
                },
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "protocol": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Interest": {
            "id": "Interest",
            "properties": {
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListConnectionsResponse": {
            "id": "ListConnectionsResponse",
            "properties": {
                "connections": {
                    "items": {
                        "$ref": "Person"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "nextSyncToken": {
                    "type": "string"
                },
                "totalItems": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalPeople": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListContactGroupsResponse": {
            "id": "ListContactGroupsResponse",
            "properties": {
                "contactGroups": {
                    "items": {
                        "$ref": "ContactGroup"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "nextSyncToken": {
                    "type": "string"
                },
                "totalItems": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListDirectoryPeopleResponse": {
            "id": "ListDirectoryPeopleResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "nextSyncToken": {
                    "type": "string"
                },
                "people": {
                    "items": {
                        "$ref": "Person"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListOtherContactsResponse": {
            "id": "ListOtherContactsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "nextSyncToken": {
                    "type": "string"
                },
                "otherContacts": {
                    "items": {
                        "$ref": "Person"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Locale": {
            "id": "Locale",
            "properties": {
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Membership": {
            "id": "Membership",
            "properties": {
                "contactGroupMembership": {
                    "$ref": "ContactGroupMembership"
                },
                "domainMembership": {
                    "$ref": "DomainMembership",
                    "readOnly": true
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                }
            },
            "type": "object"
        },
        "MiscKeyword": {
            "id": "MiscKeyword",
            "properties": {
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "OUTLOOK_BILLING_INFORMATION",
                        "OUTLOOK_DIRECTORY_SERVER",
                        "OUTLOOK_KEYWORD",
                        "OUTLOOK_MILEAGE",
                        "OUTLOOK_PRIORITY",
                        "OUTLOOK_SENSITIVITY",
                        "OUTLOOK_SUBJECT",
                        "OUTLOOK_USER",
                        "HOME",
                        "WORK",
                        "OTHER"
                    ],
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ModifyContactGroupMembersRequest": {
            "id": "ModifyContactGroupMembersRequest",
            "properties": {
                "resourceNamesToAdd": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "resourceNamesToRemove": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ModifyContactGroupMembersResponse": {
            "id": "ModifyContactGroupMembersResponse",
            "properties": {
                "canNotRemoveLastContactGroupResourceNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "notFoundResourceNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Name": {
            "id": "Name",
            "properties": {
                "displayName": {
                    "readOnly": true,
                    "type": "string"
                },
                "displayNameLastFirst": {
                    "readOnly": true,
                    "type": "string"
                },
                "familyName": {
                    "type": "string"
                },
                "givenName": {
                    "type": "string"
                },
                "honorificPrefix": {
                    "type": "string"
                },
                "honorificSuffix": {
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "middleName": {
                    "type": "string"
                },
                "phoneticFamilyName": {
                    "type": "string"
                },
                "phoneticFullName": {
                    "type": "string"
                },
                "phoneticGivenName": {
                    "type": "string"
                },
                "phoneticHonorificPrefix": {
                    "type": "string"
                },
                "phoneticHonorificSuffix": {
                    "type": "string"
                },
                "phoneticMiddleName": {
                    "type": "string"
                },
                "unstructuredName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Nickname": {
            "id": "Nickname",
            "properties": {
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "type": {
                    "enum": [
                        "DEFAULT",
                        "MAIDEN_NAME",
                        "INITIALS",
                        "GPLUS",
                        "OTHER_NAME",
                        "ALTERNATE_NAME",
                        "SHORT_NAME"
                    ],
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Occupation": {
            "id": "Occupation",
            "properties": {
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Organization": {
            "id": "Organization",
            "properties": {
                "current": {
                    "type": "boolean"
                },
                "department": {
                    "type": "string"
                },
                "domain": {
                    "type": "string"
                },
                "endDate": {
                    "$ref": "Date"
                },
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "jobDescription": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "name": {
                    "type": "string"
                },
                "phoneticName": {
                    "type": "string"
                },
                "startDate": {
                    "$ref": "Date"
                },
                "symbol": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Person": {
            "id": "Person",
            "properties": {
                "addresses": {
                    "items": {
                        "$ref": "Address"
                    },
                    "type": "array"
                },
                "ageRange": {
                    "enum": [
                        "AGE_RANGE_UNSPECIFIED",
                        "LESS_THAN_EIGHTEEN",
                        "EIGHTEEN_TO_TWENTY",
                        "TWENTY_ONE_OR_OLDER"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "ageRanges": {
                    "items": {
                        "$ref": "AgeRangeType"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "biographies": {
                    "items": {
                        "$ref": "Biography"
                    },
                    "type": "array"
                },
                "birthdays": {
                    "items": {
                        "$ref": "Birthday"
                    },
                    "type": "array"
                },
                "braggingRights": {
                    "items": {
                        "$ref": "BraggingRights"
                    },
                    "type": "array"
                },
                "calendarUrls": {
                    "items": {
                        "$ref": "CalendarUrl"
                    },
                    "type": "array"
                },
                "coverPhotos": {
                    "items": {
                        "$ref": "CoverPhoto"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "emailAddresses": {
                    "items": {
                        "$ref": "EmailAddress"
                    },
                    "type": "array"
                },
                "etag": {
                    "type": "string"
                },
                "events": {
                    "items": {
                        "$ref": "Event"
                    },
                    "type": "array"
                },
                "externalIds": {
                    "items": {
                        "$ref": "ExternalId"
                    },
                    "type": "array"
                },
                "fileAses": {
                    "items": {
                        "$ref": "FileAs"
                    },
                    "type": "array"
                },
                "genders": {
                    "items": {
                        "$ref": "Gender"
                    },
                    "type": "array"
                },
                "imClients": {
                    "items": {
                        "$ref": "ImClient"
                    },
                    "type": "array"
                },
                "interests": {
                    "items": {
                        "$ref": "Interest"
                    },
                    "type": "array"
                },
                "locales": {
                    "items": {
                        "$ref": "Locale"
                    },
                    "type": "array"
                },
                "memberships": {
                    "items": {
                        "$ref": "Membership"
                    },
                    "type": "array"
                },
                "metadata": {
                    "$ref": "PersonMetadata",
                    "readOnly": true
                },
                "miscKeywords": {
                    "items": {
                        "$ref": "MiscKeyword"
                    },
                    "type": "array"
                },
                "names": {
                    "items": {
                        "$ref": "Name"
                    },
                    "type": "array"
                },
                "nicknames": {
                    "items": {
                        "$ref": "Nickname"
                    },
                    "type": "array"
                },
                "occupations": {
                    "items": {
                        "$ref": "Occupation"
                    },
                    "type": "array"
                },
                "organizations": {
                    "items": {
                        "$ref": "Organization"
                    },
                    "type": "array"
                },
                "phoneNumbers": {
                    "items": {
                        "$ref": "PhoneNumber"
                    },
                    "type": "array"
                },
                "photos": {
                    "items": {
                        "$ref": "Photo"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "relations": {
                    "items": {
                        "$ref": "Relation"
                    },
                    "type": "array"
                },
                "relationshipInterests": {
                    "items": {
                        "$ref": "RelationshipInterest"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "relationshipStatuses": {
                    "items": {
                        "$ref": "RelationshipStatus"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "residences": {
                    "items": {
                        "$ref": "Residence"
                    },
                    "type": "array"
                },
                "resourceName": {
                    "type": "string"
                },
                "sipAddresses": {
                    "items": {
                        "$ref": "SipAddress"
                    },
                    "type": "array"
                },
                "skills": {
                    "items": {
                        "$ref": "Skill"
                    },
                    "type": "array"
                },
                "taglines": {
                    "items": {
                        "$ref": "Tagline"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "urls": {
                    "items": {
                        "$ref": "Url"
                    },
                    "type": "array"
                },
                "userDefined": {
                    "items": {
                        "$ref": "UserDefined"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PersonMetadata": {
            "id": "PersonMetadata",
            "properties": {
                "deleted": {
                    "readOnly": true,
                    "type": "boolean"
                },
                "linkedPeopleResourceNames": {
                    "items": {
                        "type": "string"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "objectType": {
                    "enum": [
                        "OBJECT_TYPE_UNSPECIFIED",
                        "PERSON",
                        "PAGE"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "previousResourceNames": {
                    "items": {
                        "type": "string"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "sources": {
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PersonResponse": {
            "id": "PersonResponse",
            "properties": {
                "httpStatusCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "person": {
                    "$ref": "Person"
                },
                "requestedResourceName": {
                    "type": "string"
                },
                "status": {
                    "$ref": "Status"
                }
            },
            "type": "object"
        },
        "PhoneNumber": {
            "id": "PhoneNumber",
            "properties": {
                "canonicalForm": {
                    "readOnly": true,
                    "type": "string"
                },
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Photo": {
            "id": "Photo",
            "properties": {
                "default": {
                    "type": "boolean"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ProfileMetadata": {
            "id": "ProfileMetadata",
            "properties": {
                "objectType": {
                    "enum": [
                        "OBJECT_TYPE_UNSPECIFIED",
                        "PERSON",
                        "PAGE"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "userTypes": {
                    "items": {
                        "enum": [
                            "USER_TYPE_UNKNOWN",
                            "GOOGLE_USER",
                            "GPLUS_USER",
                            "GOOGLE_APPS_USER"
                        ],
                        "type": "string"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Relation": {
            "id": "Relation",
            "properties": {
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "person": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RelationshipInterest": {
            "id": "RelationshipInterest",
            "properties": {
                "formattedValue": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RelationshipStatus": {
            "id": "RelationshipStatus",
            "properties": {
                "formattedValue": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Residence": {
            "id": "Residence",
            "properties": {
                "current": {
                    "type": "boolean"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchDirectoryPeopleResponse": {
            "id": "SearchDirectoryPeopleResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "people": {
                    "items": {
                        "$ref": "Person"
                    },
                    "type": "array"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SipAddress": {
            "id": "SipAddress",
            "properties": {
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Skill": {
            "id": "Skill",
            "properties": {
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Source": {
            "id": "Source",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "profileMetadata": {
                    "$ref": "ProfileMetadata",
                    "readOnly": true
                },
                "type": {
                    "enum": [
                        "SOURCE_TYPE_UNSPECIFIED",
                        "ACCOUNT",
                        "PROFILE",
                        "DOMAIN_PROFILE",
                        "CONTACT",
                        "OTHER_CONTACT",
                        "DOMAIN_CONTACT"
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Tagline": {
            "id": "Tagline",
            "properties": {
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateContactGroupRequest": {
            "id": "UpdateContactGroupRequest",
            "properties": {
                "contactGroup": {
                    "$ref": "ContactGroup"
                }
            },
            "type": "object"
        },
        "UpdateContactPhotoRequest": {
            "id": "UpdateContactPhotoRequest",
            "properties": {
                "personFields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "photoBytes": {
                    "format": "byte",
                    "type": "string"
                },
                "sources": {
                    "items": {
                        "enum": [
                            "READ_SOURCE_TYPE_UNSPECIFIED",
                            "READ_SOURCE_TYPE_PROFILE",
                            "READ_SOURCE_TYPE_CONTACT",
                            "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateContactPhotoResponse": {
            "id": "UpdateContactPhotoResponse",
            "properties": {
                "person": {
                    "$ref": "Person"
                }
            },
            "type": "object"
        },
        "Url": {
            "id": "Url",
            "properties": {
                "formattedType": {
                    "readOnly": true,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UserDefined": {
            "id": "UserDefined",
            "properties": {
                "key": {
                    "type": "string"
                },
                "metadata": {
                    "$ref": "FieldMetadata"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "People API",
    "version": "v1",
    "version_module": true
}