{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://policytroubleshooter.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Policy Troubleshooter",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/iam/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "policytroubleshooter:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://policytroubleshooter.mtls.googleapis.com/",
    "name": "policytroubleshooter",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "iam": {
            "methods": {
                "troubleshoot": {
                    "flatPath": "v1/iam:troubleshoot",
                    "httpMethod": "POST",
                    "id": "policytroubleshooter.iam.troubleshoot",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/iam:troubleshoot",
                    "request": {
                        "$ref": "GoogleCloudPolicytroubleshooterV1TroubleshootIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "GoogleCloudPolicytroubleshooterV1TroubleshootIamPolicyResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://policytroubleshooter.googleapis.com/",
    "schemas": {
        "GoogleCloudPolicytroubleshooterV1AccessTuple": {
            "id": "GoogleCloudPolicytroubleshooterV1AccessTuple",
            "properties": {
                "fullResourceName": {
                    "type": "string"
                },
                "permission": {
                    "type": "string"
                },
                "principal": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudPolicytroubleshooterV1BindingExplanation": {
            "id": "GoogleCloudPolicytroubleshooterV1BindingExplanation",
            "properties": {
                "access": {
                    "enum": [
                        "ACCESS_STATE_UNSPECIFIED",
                        "GRANTED",
                        "NOT_GRANTED",
                        "UNKNOWN_CONDITIONAL",
                        "UNKNOWN_INFO_DENIED"
                    ],
                    "type": "string"
                },
                "condition": {
                    "$ref": "GoogleTypeExpr"
                },
                "memberships": {
                    "additionalProperties": {
                        "$ref": "GoogleCloudPolicytroubleshooterV1BindingExplanationAnnotatedMembership"
                    },
                    "type": "object"
                },
                "relevance": {
                    "enum": [
                        "HEURISTIC_RELEVANCE_UNSPECIFIED",
                        "NORMAL",
                        "HIGH"
                    ],
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "rolePermission": {
                    "enum": [
                        "ROLE_PERMISSION_UNSPECIFIED",
                        "ROLE_PERMISSION_INCLUDED",
                        "ROLE_PERMISSION_NOT_INCLUDED",
                        "ROLE_PERMISSION_UNKNOWN_INFO_DENIED"
                    ],
                    "type": "string"
                },
                "rolePermissionRelevance": {
                    "enum": [
                        "HEURISTIC_RELEVANCE_UNSPECIFIED",
                        "NORMAL",
                        "HIGH"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudPolicytroubleshooterV1BindingExplanationAnnotatedMembership": {
            "id": "GoogleCloudPolicytroubleshooterV1BindingExplanationAnnotatedMembership",
            "properties": {
                "membership": {
                    "enum": [
                        "MEMBERSHIP_UNSPECIFIED",
                        "MEMBERSHIP_INCLUDED",
                        "MEMBERSHIP_NOT_INCLUDED",
                        "MEMBERSHIP_UNKNOWN_INFO_DENIED",
                        "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
                    ],
                    "type": "string"
                },
                "relevance": {
                    "enum": [
                        "HEURISTIC_RELEVANCE_UNSPECIFIED",
                        "NORMAL",
                        "HIGH"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudPolicytroubleshooterV1ExplainedPolicy": {
            "id": "GoogleCloudPolicytroubleshooterV1ExplainedPolicy",
            "properties": {
                "access": {
                    "enum": [
                        "ACCESS_STATE_UNSPECIFIED",
                        "GRANTED",
                        "NOT_GRANTED",
                        "UNKNOWN_CONDITIONAL",
                        "UNKNOWN_INFO_DENIED"
                    ],
                    "type": "string"
                },
                "bindingExplanations": {
                    "items": {
                        "$ref": "GoogleCloudPolicytroubleshooterV1BindingExplanation"
                    },
                    "type": "array"
                },
                "fullResourceName": {
                    "type": "string"
                },
                "policy": {
                    "$ref": "GoogleIamV1Policy"
                },
                "relevance": {
                    "enum": [
                        "HEURISTIC_RELEVANCE_UNSPECIFIED",
                        "NORMAL",
                        "HIGH"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudPolicytroubleshooterV1TroubleshootIamPolicyRequest": {
            "id": "GoogleCloudPolicytroubleshooterV1TroubleshootIamPolicyRequest",
            "properties": {
                "accessTuple": {
                    "$ref": "GoogleCloudPolicytroubleshooterV1AccessTuple"
                }
            },
            "type": "object"
        },
        "GoogleCloudPolicytroubleshooterV1TroubleshootIamPolicyResponse": {
            "id": "GoogleCloudPolicytroubleshooterV1TroubleshootIamPolicyResponse",
            "properties": {
                "access": {
                    "enum": [
                        "ACCESS_STATE_UNSPECIFIED",
                        "GRANTED",
                        "NOT_GRANTED",
                        "UNKNOWN_CONDITIONAL",
                        "UNKNOWN_INFO_DENIED"
                    ],
                    "type": "string"
                },
                "explainedPolicies": {
                    "items": {
                        "$ref": "GoogleCloudPolicytroubleshooterV1ExplainedPolicy"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleIamV1AuditConfig": {
            "id": "GoogleIamV1AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "GoogleIamV1AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleIamV1AuditLogConfig": {
            "id": "GoogleIamV1AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleIamV1Binding": {
            "id": "GoogleIamV1Binding",
            "properties": {
                "condition": {
                    "$ref": "GoogleTypeExpr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleIamV1Policy": {
            "id": "GoogleIamV1Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "GoogleIamV1AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "GoogleIamV1Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleTypeExpr": {
            "id": "GoogleTypeExpr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Policy Troubleshooter API",
    "version": "v1",
    "version_module": true
}