{
    "basePath": "",
    "baseUrl": "https://poly.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Poly Service",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/poly/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "poly:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://poly.mtls.googleapis.com/",
    "name": "poly",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "assets": {
            "methods": {
                "get": {
                    "flatPath": "v1/assets/{assetsId}",
                    "httpMethod": "GET",
                    "id": "poly.assets.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^assets/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Asset"
                    }
                },
                "list": {
                    "flatPath": "v1/assets",
                    "httpMethod": "GET",
                    "id": "poly.assets.list",
                    "parameterOrder": [],
                    "parameters": {
                        "category": {
                            "location": "query",
                            "type": "string"
                        },
                        "curated": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "format": {
                            "location": "query",
                            "type": "string"
                        },
                        "keywords": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxComplexity": {
                            "enum": [
                                "COMPLEXITY_UNSPECIFIED",
                                "COMPLEX",
                                "MEDIUM",
                                "SIMPLE"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/assets",
                    "response": {
                        "$ref": "ListAssetsResponse"
                    }
                }
            }
        },
        "users": {
            "resources": {
                "assets": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/users/{usersId}/assets",
                            "httpMethod": "GET",
                            "id": "poly.users.assets.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "format": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^users/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "visibility": {
                                    "enum": [
                                        "VISIBILITY_UNSPECIFIED",
                                        "PUBLISHED",
                                        "PRIVATE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/assets",
                            "response": {
                                "$ref": "ListUserAssetsResponse"
                            }
                        }
                    }
                },
                "likedassets": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/users/{usersId}/likedassets",
                            "httpMethod": "GET",
                            "id": "poly.users.likedassets.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "format": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^users/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/likedassets",
                            "response": {
                                "$ref": "ListLikedAssetsResponse"
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://poly.googleapis.com/",
    "schemas": {
        "Asset": {
            "id": "Asset",
            "properties": {
                "authorName": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "formats": {
                    "items": {
                        "$ref": "Format"
                    },
                    "type": "array"
                },
                "isCurated": {
                    "type": "boolean"
                },
                "license": {
                    "enum": [
                        "UNKNOWN",
                        "CREATIVE_COMMONS_BY",
                        "ALL_RIGHTS_RESERVED"
                    ],
                    "type": "string"
                },
                "metadata": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "presentationParams": {
                    "$ref": "PresentationParams"
                },
                "remixInfo": {
                    "$ref": "RemixInfo"
                },
                "thumbnail": {
                    "$ref": "File"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "visibility": {
                    "enum": [
                        "VISIBILITY_UNSPECIFIED",
                        "PRIVATE",
                        "UNLISTED",
                        "PUBLIC"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AssetImportMessage": {
            "id": "AssetImportMessage",
            "properties": {
                "code": {
                    "enum": [
                        "CODE_UNSPECIFIED",
                        "NO_IMPORTABLE_FILE",
                        "EMPTY_MODEL",
                        "OBJ_PARSE_ERROR",
                        "EXPIRED",
                        "IMAGE_ERROR",
                        "EXTRA_FILES_WITH_ARCHIVE",
                        "DEFAULT_MATERIALS",
                        "FATAL_ERROR",
                        "INVALID_ELEMENT_TYPE"
                    ],
                    "type": "string"
                },
                "filePath": {
                    "type": "string"
                },
                "imageError": {
                    "$ref": "ImageError"
                },
                "objParseError": {
                    "$ref": "ObjParseError"
                }
            },
            "type": "object"
        },
        "File": {
            "id": "File",
            "properties": {
                "contentType": {
                    "type": "string"
                },
                "relativePath": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Format": {
            "id": "Format",
            "properties": {
                "formatComplexity": {
                    "$ref": "FormatComplexity"
                },
                "formatType": {
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "File"
                    },
                    "type": "array"
                },
                "root": {
                    "$ref": "File"
                }
            },
            "type": "object"
        },
        "FormatComplexity": {
            "id": "FormatComplexity",
            "properties": {
                "lodHint": {
                    "format": "int32",
                    "type": "integer"
                },
                "triangleCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImageError": {
            "id": "ImageError",
            "properties": {
                "code": {
                    "enum": [
                        "CODE_UNSPECIFIED",
                        "INVALID_IMAGE",
                        "IMAGE_TOO_BIG",
                        "WRONG_IMAGE_TYPE"
                    ],
                    "type": "string"
                },
                "filePath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAssetsResponse": {
            "id": "ListAssetsResponse",
            "properties": {
                "assets": {
                    "items": {
                        "$ref": "Asset"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListLikedAssetsResponse": {
            "id": "ListLikedAssetsResponse",
            "properties": {
                "assets": {
                    "items": {
                        "$ref": "Asset"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListUserAssetsResponse": {
            "id": "ListUserAssetsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "userAssets": {
                    "items": {
                        "$ref": "UserAsset"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ObjParseError": {
            "id": "ObjParseError",
            "properties": {
                "code": {
                    "enum": [
                        "CODE_UNSPECIFIED",
                        "INCONSISTENT_VERTEX_REFS",
                        "INVALID_COMMAND",
                        "INVALID_NUMBER",
                        "INVALID_VERTEX_REF",
                        "MISSING_GEOMETRIC_VERTEX",
                        "MISSING_TOKEN",
                        "TOO_FEW_DIMENSIONS",
                        "TOO_FEW_VERTICES",
                        "TOO_MANY_DIMENSIONS",
                        "UNSUPPORTED_COMMAND",
                        "UNUSED_TOKENS",
                        "VERTEX_NOT_FOUND",
                        "NUMBER_OUT_OF_RANGE",
                        "INVALID_VALUE",
                        "INVALID_TEXTURE_OPTION",
                        "TOO_MANY_PROBLEMS",
                        "MISSING_FILE_NAME",
                        "FILE_NOT_FOUND",
                        "UNKNOWN_MATERIAL",
                        "NO_MATERIAL_DEFINED",
                        "INVALID_SMOOTHING_GROUP",
                        "MISSING_VERTEX_COLORS",
                        "FILE_SUBSTITUTION",
                        "LINE_TOO_LONG",
                        "INVALID_FILE_PATH"
                    ],
                    "type": "string"
                },
                "endIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "filePath": {
                    "type": "string"
                },
                "line": {
                    "type": "string"
                },
                "lineNumber": {
                    "format": "int32",
                    "type": "integer"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PresentationParams": {
            "id": "PresentationParams",
            "properties": {
                "backgroundColor": {
                    "type": "string"
                },
                "colorSpace": {
                    "enum": [
                        "UNKNOWN",
                        "LINEAR",
                        "GAMMA"
                    ],
                    "type": "string"
                },
                "orientingRotation": {
                    "$ref": "Quaternion"
                }
            },
            "type": "object"
        },
        "Quaternion": {
            "id": "Quaternion",
            "properties": {
                "w": {
                    "format": "double",
                    "type": "number"
                },
                "x": {
                    "format": "double",
                    "type": "number"
                },
                "y": {
                    "format": "double",
                    "type": "number"
                },
                "z": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "RemixInfo": {
            "id": "RemixInfo",
            "properties": {
                "sourceAsset": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "StartAssetImportResponse": {
            "id": "StartAssetImportResponse",
            "properties": {
                "assetId": {
                    "type": "string"
                },
                "assetImportId": {
                    "type": "string"
                },
                "assetImportMessages": {
                    "items": {
                        "$ref": "AssetImportMessage"
                    },
                    "type": "array"
                },
                "publishUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UserAsset": {
            "id": "UserAsset",
            "properties": {
                "asset": {
                    "$ref": "Asset"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Poly API",
    "version": "v1",
    "version_module": true
}