{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/userinfo.email": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://prod-tt-sasportal.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "SAS Portal Testing",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/spectrum-access-system/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "prod_tt_sasportal:v1alpha1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://prod-tt-sasportal.mtls.googleapis.com/",
    "name": "prod_tt_sasportal",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "customers": {
            "methods": {
                "get": {
                    "flatPath": "v1alpha1/customers/{customersId}",
                    "httpMethod": "GET",
                    "id": "prod_tt_sasportal.customers.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^customers/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1alpha1/{+name}",
                    "response": {
                        "$ref": "SasPortalCustomer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "list": {
                    "flatPath": "v1alpha1/customers",
                    "httpMethod": "GET",
                    "id": "prod_tt_sasportal.customers.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1alpha1/customers",
                    "response": {
                        "$ref": "SasPortalListCustomersResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "patch": {
                    "flatPath": "v1alpha1/customers/{customersId}",
                    "httpMethod": "PATCH",
                    "id": "prod_tt_sasportal.customers.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^customers/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1alpha1/{+name}",
                    "request": {
                        "$ref": "SasPortalCustomer"
                    },
                    "response": {
                        "$ref": "SasPortalCustomer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            },
            "resources": {
                "devices": {
                    "methods": {
                        "bulk": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices:bulk",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.customers.devices.bulk",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/devices:bulk",
                            "request": {
                                "$ref": "SasPortalBulkCreateDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalBulkCreateDeviceResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "create": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.customers.devices.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/devices",
                            "request": {
                                "$ref": "SasPortalDevice"
                            },
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "createSigned": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.customers.devices.createSigned",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/devices:createSigned",
                            "request": {
                                "$ref": "SasPortalCreateSignedDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
                            "httpMethod": "DELETE",
                            "id": "prod_tt_sasportal.customers.devices.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "SasPortalEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "get": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
                            "httpMethod": "GET",
                            "id": "prod_tt_sasportal.customers.devices.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "list": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices",
                            "httpMethod": "GET",
                            "id": "prod_tt_sasportal.customers.devices.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/devices",
                            "response": {
                                "$ref": "SasPortalListDevicesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "move": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.customers.devices.move",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}:move",
                            "request": {
                                "$ref": "SasPortalMoveDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
                            "httpMethod": "PATCH",
                            "id": "prod_tt_sasportal.customers.devices.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "request": {
                                "$ref": "SasPortalDevice"
                            },
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "signDevice": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.customers.devices.signDevice",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}:signDevice",
                            "request": {
                                "$ref": "SasPortalSignDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "updateSigned": {
                            "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
                            "httpMethod": "PATCH",
                            "id": "prod_tt_sasportal.customers.devices.updateSigned",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}:updateSigned",
                            "request": {
                                "$ref": "SasPortalUpdateSignedDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        }
                    }
                },
                "nodes": {
                    "methods": {
                        "create": {
                            "flatPath": "v1alpha1/customers/{customersId}/nodes",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.customers.nodes.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/nodes",
                            "request": {
                                "$ref": "SasPortalNode"
                            },
                            "response": {
                                "$ref": "SasPortalNode"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
                            "httpMethod": "DELETE",
                            "id": "prod_tt_sasportal.customers.nodes.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "SasPortalEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "get": {
                            "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
                            "httpMethod": "GET",
                            "id": "prod_tt_sasportal.customers.nodes.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "SasPortalNode"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "list": {
                            "flatPath": "v1alpha1/customers/{customersId}/nodes",
                            "httpMethod": "GET",
                            "id": "prod_tt_sasportal.customers.nodes.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/nodes",
                            "response": {
                                "$ref": "SasPortalListNodesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "move": {
                            "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.customers.nodes.move",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}:move",
                            "request": {
                                "$ref": "SasPortalMoveNodeRequest"
                            },
                            "response": {
                                "$ref": "SasPortalOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
                            "httpMethod": "PATCH",
                            "id": "prod_tt_sasportal.customers.nodes.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^customers/[^/]+/nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "request": {
                                "$ref": "SasPortalNode"
                            },
                            "response": {
                                "$ref": "SasPortalNode"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        }
                    },
                    "resources": {
                        "nodes": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                                    "httpMethod": "POST",
                                    "id": "prod_tt_sasportal.customers.nodes.nodes.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^customers/[^/]+/nodes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+parent}/nodes",
                                    "request": {
                                        "$ref": "SasPortalNode"
                                    },
                                    "response": {
                                        "$ref": "SasPortalNode"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                                    "httpMethod": "GET",
                                    "id": "prod_tt_sasportal.customers.nodes.nodes.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^customers/[^/]+/nodes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+parent}/nodes",
                                    "response": {
                                        "$ref": "SasPortalListNodesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "installer": {
            "methods": {
                "generateSecret": {
                    "flatPath": "v1alpha1/installer:generateSecret",
                    "httpMethod": "POST",
                    "id": "prod_tt_sasportal.installer.generateSecret",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1alpha1/installer:generateSecret",
                    "request": {
                        "$ref": "SasPortalGenerateSecretRequest"
                    },
                    "response": {
                        "$ref": "SasPortalGenerateSecretResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "validate": {
                    "flatPath": "v1alpha1/installer:validate",
                    "httpMethod": "POST",
                    "id": "prod_tt_sasportal.installer.validate",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1alpha1/installer:validate",
                    "request": {
                        "$ref": "SasPortalValidateInstallerRequest"
                    },
                    "response": {
                        "$ref": "SasPortalValidateInstallerResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            }
        },
        "nodes": {
            "methods": {
                "get": {
                    "flatPath": "v1alpha1/nodes/{nodesId}",
                    "httpMethod": "GET",
                    "id": "prod_tt_sasportal.nodes.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^nodes/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1alpha1/{+name}",
                    "response": {
                        "$ref": "SasPortalNode"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            },
            "resources": {
                "devices": {
                    "methods": {
                        "bulk": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices:bulk",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.nodes.devices.bulk",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/devices:bulk",
                            "request": {
                                "$ref": "SasPortalBulkCreateDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalBulkCreateDeviceResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "create": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.nodes.devices.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/devices",
                            "request": {
                                "$ref": "SasPortalDevice"
                            },
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "createSigned": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.nodes.devices.createSigned",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/devices:createSigned",
                            "request": {
                                "$ref": "SasPortalCreateSignedDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
                            "httpMethod": "DELETE",
                            "id": "prod_tt_sasportal.nodes.devices.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "SasPortalEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "get": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
                            "httpMethod": "GET",
                            "id": "prod_tt_sasportal.nodes.devices.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "list": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices",
                            "httpMethod": "GET",
                            "id": "prod_tt_sasportal.nodes.devices.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/devices",
                            "response": {
                                "$ref": "SasPortalListDevicesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "move": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.nodes.devices.move",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}:move",
                            "request": {
                                "$ref": "SasPortalMoveDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
                            "httpMethod": "PATCH",
                            "id": "prod_tt_sasportal.nodes.devices.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "request": {
                                "$ref": "SasPortalDevice"
                            },
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "signDevice": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.nodes.devices.signDevice",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}:signDevice",
                            "request": {
                                "$ref": "SasPortalSignDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "updateSigned": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned",
                            "httpMethod": "PATCH",
                            "id": "prod_tt_sasportal.nodes.devices.updateSigned",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}:updateSigned",
                            "request": {
                                "$ref": "SasPortalUpdateSignedDeviceRequest"
                            },
                            "response": {
                                "$ref": "SasPortalDevice"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        }
                    }
                },
                "nodes": {
                    "methods": {
                        "create": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.nodes.nodes.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/nodes",
                            "request": {
                                "$ref": "SasPortalNode"
                            },
                            "response": {
                                "$ref": "SasPortalNode"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
                            "httpMethod": "DELETE",
                            "id": "prod_tt_sasportal.nodes.nodes.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "SasPortalEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "get": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
                            "httpMethod": "GET",
                            "id": "prod_tt_sasportal.nodes.nodes.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "response": {
                                "$ref": "SasPortalNode"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "list": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
                            "httpMethod": "GET",
                            "id": "prod_tt_sasportal.nodes.nodes.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+parent}/nodes",
                            "response": {
                                "$ref": "SasPortalListNodesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "move": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
                            "httpMethod": "POST",
                            "id": "prod_tt_sasportal.nodes.nodes.move",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}:move",
                            "request": {
                                "$ref": "SasPortalMoveNodeRequest"
                            },
                            "response": {
                                "$ref": "SasPortalOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
                            "httpMethod": "PATCH",
                            "id": "prod_tt_sasportal.nodes.nodes.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1alpha1/{+name}",
                            "request": {
                                "$ref": "SasPortalNode"
                            },
                            "response": {
                                "$ref": "SasPortalNode"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        }
                    },
                    "resources": {
                        "devices": {
                            "methods": {
                                "bulk": {
                                    "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:bulk",
                                    "httpMethod": "POST",
                                    "id": "prod_tt_sasportal.nodes.nodes.devices.bulk",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+parent}/devices:bulk",
                                    "request": {
                                        "$ref": "SasPortalBulkCreateDeviceRequest"
                                    },
                                    "response": {
                                        "$ref": "SasPortalBulkCreateDeviceResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                                    "httpMethod": "POST",
                                    "id": "prod_tt_sasportal.nodes.nodes.devices.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+parent}/devices",
                                    "request": {
                                        "$ref": "SasPortalDevice"
                                    },
                                    "response": {
                                        "$ref": "SasPortalDevice"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "createSigned": {
                                    "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:createSigned",
                                    "httpMethod": "POST",
                                    "id": "prod_tt_sasportal.nodes.nodes.devices.createSigned",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+parent}/devices:createSigned",
                                    "request": {
                                        "$ref": "SasPortalCreateSignedDeviceRequest"
                                    },
                                    "response": {
                                        "$ref": "SasPortalDevice"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                                    "httpMethod": "GET",
                                    "id": "prod_tt_sasportal.nodes.nodes.devices.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+parent}/devices",
                                    "response": {
                                        "$ref": "SasPortalListDevicesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        },
                        "nodes": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                                    "httpMethod": "POST",
                                    "id": "prod_tt_sasportal.nodes.nodes.nodes.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+parent}/nodes",
                                    "request": {
                                        "$ref": "SasPortalNode"
                                    },
                                    "response": {
                                        "$ref": "SasPortalNode"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                                    "httpMethod": "GET",
                                    "id": "prod_tt_sasportal.nodes.nodes.nodes.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1alpha1/{+parent}/nodes",
                                    "response": {
                                        "$ref": "SasPortalListNodesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "policies": {
            "methods": {
                "get": {
                    "flatPath": "v1alpha1/policies:get",
                    "httpMethod": "POST",
                    "id": "prod_tt_sasportal.policies.get",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1alpha1/policies:get",
                    "request": {
                        "$ref": "SasPortalGetPolicyRequest"
                    },
                    "response": {
                        "$ref": "SasPortalPolicy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "set": {
                    "flatPath": "v1alpha1/policies:set",
                    "httpMethod": "POST",
                    "id": "prod_tt_sasportal.policies.set",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1alpha1/policies:set",
                    "request": {
                        "$ref": "SasPortalSetPolicyRequest"
                    },
                    "response": {
                        "$ref": "SasPortalPolicy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "test": {
                    "flatPath": "v1alpha1/policies:test",
                    "httpMethod": "POST",
                    "id": "prod_tt_sasportal.policies.test",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1alpha1/policies:test",
                    "request": {
                        "$ref": "SasPortalTestPermissionsRequest"
                    },
                    "response": {
                        "$ref": "SasPortalTestPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://prod-tt-sasportal.googleapis.com/",
    "schemas": {
        "SasPortalAssignment": {
            "id": "SasPortalAssignment",
            "properties": {
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalBulkCreateDeviceRequest": {
            "id": "SasPortalBulkCreateDeviceRequest",
            "properties": {
                "csv": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalBulkCreateDeviceResponse": {
            "id": "SasPortalBulkCreateDeviceResponse",
            "properties": {
                "devices": {
                    "items": {
                        "$ref": "SasPortalDevice"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SasPortalCreateSignedDeviceRequest": {
            "id": "SasPortalCreateSignedDeviceRequest",
            "properties": {
                "encodedDevice": {
                    "format": "byte",
                    "type": "string"
                },
                "installerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalCustomer": {
            "id": "SasPortalCustomer",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "sasUserIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SasPortalDevice": {
            "id": "SasPortalDevice",
            "properties": {
                "activeConfig": {
                    "$ref": "SasPortalDeviceConfig"
                },
                "deviceMetadata": {
                    "$ref": "SasPortalDeviceMetadata"
                },
                "displayName": {
                    "type": "string"
                },
                "fccId": {
                    "type": "string"
                },
                "grants": {
                    "items": {
                        "$ref": "SasPortalDeviceGrant"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "preloadedConfig": {
                    "$ref": "SasPortalDeviceConfig"
                },
                "serialNumber": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "DEVICE_STATE_UNSPECIFIED",
                        "RESERVED",
                        "REGISTERED",
                        "DEREGISTERED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalDeviceAirInterface": {
            "id": "SasPortalDeviceAirInterface",
            "properties": {
                "radioTechnology": {
                    "enum": [
                        "RADIO_TECHNOLOGY_UNSPECIFIED",
                        "E_UTRA",
                        "CAMBIUM_NETWORKS",
                        "FOUR_G_BBW_SAA_1",
                        "NR",
                        "DOODLE_CBRS",
                        "CW",
                        "REDLINE",
                        "TARANA_WIRELESS"
                    ],
                    "type": "string"
                },
                "supportedSpec": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalDeviceConfig": {
            "id": "SasPortalDeviceConfig",
            "properties": {
                "airInterface": {
                    "$ref": "SasPortalDeviceAirInterface"
                },
                "callSign": {
                    "type": "string"
                },
                "category": {
                    "enum": [
                        "DEVICE_CATEGORY_UNSPECIFIED",
                        "DEVICE_CATEGORY_A",
                        "DEVICE_CATEGORY_B"
                    ],
                    "type": "string"
                },
                "installationParams": {
                    "$ref": "SasPortalInstallationParams"
                },
                "isSigned": {
                    "type": "boolean"
                },
                "measurementCapabilities": {
                    "items": {
                        "enum": [
                            "MEASUREMENT_CAPABILITY_UNSPECIFIED",
                            "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
                            "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "model": {
                    "$ref": "SasPortalDeviceModel"
                },
                "state": {
                    "enum": [
                        "DEVICE_CONFIG_STATE_UNSPECIFIED",
                        "DRAFT",
                        "FINAL"
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalDeviceGrant": {
            "id": "SasPortalDeviceGrant",
            "properties": {
                "channelType": {
                    "enum": [
                        "CHANNEL_TYPE_UNSPECIFIED",
                        "CHANNEL_TYPE_GAA",
                        "CHANNEL_TYPE_PAL"
                    ],
                    "type": "string"
                },
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "frequencyRange": {
                    "$ref": "SasPortalFrequencyRange"
                },
                "maxEirp": {
                    "format": "double",
                    "type": "number"
                },
                "moveList": {
                    "items": {
                        "$ref": "SasPortalDpaMoveList"
                    },
                    "type": "array"
                },
                "state": {
                    "enum": [
                        "GRANT_STATE_UNSPECIFIED",
                        "GRANT_STATE_GRANTED",
                        "GRANT_STATE_TERMINATED",
                        "GRANT_STATE_SUSPENDED",
                        "GRANT_STATE_AUTHORIZED",
                        "GRANT_STATE_EXPIRED"
                    ],
                    "type": "string"
                },
                "suspensionReason": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SasPortalDeviceMetadata": {
            "id": "SasPortalDeviceMetadata",
            "properties": {},
            "type": "object"
        },
        "SasPortalDeviceModel": {
            "id": "SasPortalDeviceModel",
            "properties": {
                "firmwareVersion": {
                    "type": "string"
                },
                "hardwareVersion": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "softwareVersion": {
                    "type": "string"
                },
                "vendor": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalDpaMoveList": {
            "id": "SasPortalDpaMoveList",
            "properties": {
                "dpaId": {
                    "type": "string"
                },
                "frequencyRange": {
                    "$ref": "SasPortalFrequencyRange"
                }
            },
            "type": "object"
        },
        "SasPortalEmpty": {
            "id": "SasPortalEmpty",
            "properties": {},
            "type": "object"
        },
        "SasPortalFrequencyRange": {
            "id": "SasPortalFrequencyRange",
            "properties": {
                "highFrequencyMhz": {
                    "format": "double",
                    "type": "number"
                },
                "lowFrequencyMhz": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "SasPortalGenerateSecretRequest": {
            "id": "SasPortalGenerateSecretRequest",
            "properties": {},
            "type": "object"
        },
        "SasPortalGenerateSecretResponse": {
            "id": "SasPortalGenerateSecretResponse",
            "properties": {
                "secret": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalGetPolicyRequest": {
            "id": "SasPortalGetPolicyRequest",
            "properties": {
                "resource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalInstallationParams": {
            "id": "SasPortalInstallationParams",
            "properties": {
                "antennaAzimuth": {
                    "format": "int32",
                    "type": "integer"
                },
                "antennaBeamwidth": {
                    "format": "int32",
                    "type": "integer"
                },
                "antennaDowntilt": {
                    "format": "int32",
                    "type": "integer"
                },
                "antennaGain": {
                    "format": "int32",
                    "type": "integer"
                },
                "antennaModel": {
                    "type": "string"
                },
                "cpeCbsdIndication": {
                    "type": "boolean"
                },
                "eirpCapability": {
                    "format": "int32",
                    "type": "integer"
                },
                "height": {
                    "format": "double",
                    "type": "number"
                },
                "heightType": {
                    "enum": [
                        "HEIGHT_TYPE_UNSPECIFIED",
                        "HEIGHT_TYPE_AGL",
                        "HEIGHT_TYPE_AMSL"
                    ],
                    "type": "string"
                },
                "horizontalAccuracy": {
                    "format": "double",
                    "type": "number"
                },
                "indoorDeployment": {
                    "type": "boolean"
                },
                "latitude": {
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "format": "double",
                    "type": "number"
                },
                "verticalAccuracy": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "SasPortalListCustomersResponse": {
            "id": "SasPortalListCustomersResponse",
            "properties": {
                "customers": {
                    "items": {
                        "$ref": "SasPortalCustomer"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalListDevicesResponse": {
            "id": "SasPortalListDevicesResponse",
            "properties": {
                "devices": {
                    "items": {
                        "$ref": "SasPortalDevice"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalListNodesResponse": {
            "id": "SasPortalListNodesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "nodes": {
                    "items": {
                        "$ref": "SasPortalNode"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SasPortalMoveDeviceRequest": {
            "id": "SasPortalMoveDeviceRequest",
            "properties": {
                "destination": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalMoveNodeRequest": {
            "id": "SasPortalMoveNodeRequest",
            "properties": {
                "destination": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalNode": {
            "id": "SasPortalNode",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "sasUserIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SasPortalOperation": {
            "id": "SasPortalOperation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "SasPortalStatus"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "SasPortalPolicy": {
            "id": "SasPortalPolicy",
            "properties": {
                "assignments": {
                    "items": {
                        "$ref": "SasPortalAssignment"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalSetPolicyRequest": {
            "id": "SasPortalSetPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "SasPortalPolicy"
                },
                "resource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalSignDeviceRequest": {
            "id": "SasPortalSignDeviceRequest",
            "properties": {
                "device": {
                    "$ref": "SasPortalDevice"
                }
            },
            "type": "object"
        },
        "SasPortalStatus": {
            "id": "SasPortalStatus",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalTestPermissionsRequest": {
            "id": "SasPortalTestPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "resource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalTestPermissionsResponse": {
            "id": "SasPortalTestPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SasPortalUpdateSignedDeviceRequest": {
            "id": "SasPortalUpdateSignedDeviceRequest",
            "properties": {
                "encodedDevice": {
                    "format": "byte",
                    "type": "string"
                },
                "installerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalValidateInstallerRequest": {
            "id": "SasPortalValidateInstallerRequest",
            "properties": {
                "encodedSecret": {
                    "type": "string"
                },
                "installerId": {
                    "type": "string"
                },
                "secret": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SasPortalValidateInstallerResponse": {
            "id": "SasPortalValidateInstallerResponse",
            "properties": {},
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "SAS Portal API (Testing)",
    "version": "v1alpha1",
    "version_module": true
}