{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/userlocation.beacon.registry": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://proximitybeacon.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/beacons/proximity/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "proximitybeacon:v1beta1",
    "kind": "discovery#restDescription",
    "name": "proximitybeacon",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "beaconinfo": {
            "methods": {
                "getforobserved": {
                    "flatPath": "v1beta1/beaconinfo:getforobserved",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beaconinfo.getforobserved",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1beta1/beaconinfo:getforobserved",
                    "request": {
                        "$ref": "GetInfoForObservedBeaconsRequest"
                    },
                    "response": {
                        "$ref": "GetInfoForObservedBeaconsResponse"
                    }
                }
            }
        },
        "beacons": {
            "methods": {
                "activate": {
                    "flatPath": "v1beta1/beacons/{beaconsId}:activate",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beacons.activate",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "location": "path",
                            "pattern": "^beacons/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}:activate",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                },
                "deactivate": {
                    "flatPath": "v1beta1/beacons/{beaconsId}:deactivate",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beacons.deactivate",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "location": "path",
                            "pattern": "^beacons/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}:deactivate",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                },
                "decommission": {
                    "flatPath": "v1beta1/beacons/{beaconsId}:decommission",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beacons.decommission",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "location": "path",
                            "pattern": "^beacons/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}:decommission",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                },
                "delete": {
                    "flatPath": "v1beta1/beacons/{beaconsId}",
                    "httpMethod": "DELETE",
                    "id": "proximitybeacon.beacons.delete",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "location": "path",
                            "pattern": "^beacons/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                },
                "get": {
                    "flatPath": "v1beta1/beacons/{beaconsId}",
                    "httpMethod": "GET",
                    "id": "proximitybeacon.beacons.get",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "location": "path",
                            "pattern": "^beacons/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}",
                    "response": {
                        "$ref": "Beacon"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                },
                "list": {
                    "flatPath": "v1beta1/beacons",
                    "httpMethod": "GET",
                    "id": "proximitybeacon.beacons.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/beacons",
                    "response": {
                        "$ref": "ListBeaconsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                },
                "register": {
                    "flatPath": "v1beta1/beacons:register",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beacons.register",
                    "parameterOrder": [],
                    "parameters": {
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/beacons:register",
                    "request": {
                        "$ref": "Beacon"
                    },
                    "response": {
                        "$ref": "Beacon"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                },
                "update": {
                    "flatPath": "v1beta1/beacons/{beaconsId}",
                    "httpMethod": "PUT",
                    "id": "proximitybeacon.beacons.update",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "location": "path",
                            "pattern": "^beacons/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}",
                    "request": {
                        "$ref": "Beacon"
                    },
                    "response": {
                        "$ref": "Beacon"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                }
            },
            "resources": {
                "attachments": {
                    "methods": {
                        "batchDelete": {
                            "flatPath": "v1beta1/beacons/{beaconsId}/attachments:batchDelete",
                            "httpMethod": "POST",
                            "id": "proximitybeacon.beacons.attachments.batchDelete",
                            "parameterOrder": [
                                "beaconName"
                            ],
                            "parameters": {
                                "beaconName": {
                                    "location": "path",
                                    "pattern": "^beacons/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "namespacedType": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+beaconName}/attachments:batchDelete",
                            "response": {
                                "$ref": "DeleteAttachmentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userlocation.beacon.registry"
                            ]
                        },
                        "create": {
                            "flatPath": "v1beta1/beacons/{beaconsId}/attachments",
                            "httpMethod": "POST",
                            "id": "proximitybeacon.beacons.attachments.create",
                            "parameterOrder": [
                                "beaconName"
                            ],
                            "parameters": {
                                "beaconName": {
                                    "location": "path",
                                    "pattern": "^beacons/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+beaconName}/attachments",
                            "request": {
                                "$ref": "BeaconAttachment"
                            },
                            "response": {
                                "$ref": "BeaconAttachment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userlocation.beacon.registry"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1beta1/beacons/{beaconsId}/attachments/{attachmentsId}",
                            "httpMethod": "DELETE",
                            "id": "proximitybeacon.beacons.attachments.delete",
                            "parameterOrder": [
                                "attachmentName"
                            ],
                            "parameters": {
                                "attachmentName": {
                                    "location": "path",
                                    "pattern": "^beacons/[^/]+/attachments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+attachmentName}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userlocation.beacon.registry"
                            ]
                        },
                        "list": {
                            "flatPath": "v1beta1/beacons/{beaconsId}/attachments",
                            "httpMethod": "GET",
                            "id": "proximitybeacon.beacons.attachments.list",
                            "parameterOrder": [
                                "beaconName"
                            ],
                            "parameters": {
                                "beaconName": {
                                    "location": "path",
                                    "pattern": "^beacons/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "namespacedType": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+beaconName}/attachments",
                            "response": {
                                "$ref": "ListBeaconAttachmentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userlocation.beacon.registry"
                            ]
                        }
                    }
                },
                "diagnostics": {
                    "methods": {
                        "list": {
                            "flatPath": "v1beta1/beacons/{beaconsId}/diagnostics",
                            "httpMethod": "GET",
                            "id": "proximitybeacon.beacons.diagnostics.list",
                            "parameterOrder": [
                                "beaconName"
                            ],
                            "parameters": {
                                "alertFilter": {
                                    "enum": [
                                        "ALERT_UNSPECIFIED",
                                        "WRONG_LOCATION",
                                        "LOW_BATTERY",
                                        "LOW_ACTIVITY"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "beaconName": {
                                    "location": "path",
                                    "pattern": "^beacons/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+beaconName}/diagnostics",
                            "response": {
                                "$ref": "ListDiagnosticsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/userlocation.beacon.registry"
                            ]
                        }
                    }
                }
            }
        },
        "namespaces": {
            "methods": {
                "list": {
                    "flatPath": "v1beta1/namespaces",
                    "httpMethod": "GET",
                    "id": "proximitybeacon.namespaces.list",
                    "parameterOrder": [],
                    "parameters": {
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/namespaces",
                    "response": {
                        "$ref": "ListNamespacesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                },
                "update": {
                    "flatPath": "v1beta1/namespaces/{namespacesId}",
                    "httpMethod": "PUT",
                    "id": "proximitybeacon.namespaces.update",
                    "parameterOrder": [
                        "namespaceName"
                    ],
                    "parameters": {
                        "namespaceName": {
                            "location": "path",
                            "pattern": "^namespaces/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+namespaceName}",
                    "request": {
                        "$ref": "Namespace"
                    },
                    "response": {
                        "$ref": "Namespace"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                }
            }
        },
        "v1beta1": {
            "methods": {
                "getEidparams": {
                    "flatPath": "v1beta1/eidparams",
                    "httpMethod": "GET",
                    "id": "proximitybeacon.getEidparams",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1beta1/eidparams",
                    "response": {
                        "$ref": "EphemeralIdRegistrationParams"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/userlocation.beacon.registry"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://proximitybeacon.googleapis.com/",
    "schemas": {
        "AdvertisedId": {
            "id": "AdvertisedId",
            "properties": {
                "id": {
                    "format": "byte",
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "EDDYSTONE",
                        "IBEACON",
                        "ALTBEACON",
                        "EDDYSTONE_EID"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AttachmentInfo": {
            "id": "AttachmentInfo",
            "properties": {
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "maxDistanceMeters": {
                    "format": "double",
                    "type": "number"
                },
                "namespacedType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Beacon": {
            "id": "Beacon",
            "properties": {
                "advertisedId": {
                    "$ref": "AdvertisedId"
                },
                "beaconName": {
                    "type": "string"
                },
                "ephemeralIdRegistration": {
                    "$ref": "EphemeralIdRegistration"
                },
                "expectedStability": {
                    "enum": [
                        "STABILITY_UNSPECIFIED",
                        "STABLE",
                        "PORTABLE",
                        "MOBILE",
                        "ROVING"
                    ],
                    "type": "string"
                },
                "indoorLevel": {
                    "$ref": "IndoorLevel"
                },
                "latLng": {
                    "$ref": "LatLng"
                },
                "placeId": {
                    "type": "string"
                },
                "properties": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "provisioningKey": {
                    "format": "byte",
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "ACTIVE",
                        "DECOMMISSIONED",
                        "INACTIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BeaconAttachment": {
            "id": "BeaconAttachment",
            "properties": {
                "attachmentName": {
                    "type": "string"
                },
                "creationTimeMs": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "maxDistanceMeters": {
                    "format": "double",
                    "type": "number"
                },
                "namespacedType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BeaconInfo": {
            "id": "BeaconInfo",
            "properties": {
                "advertisedId": {
                    "$ref": "AdvertisedId"
                },
                "attachments": {
                    "items": {
                        "$ref": "AttachmentInfo"
                    },
                    "type": "array"
                },
                "beaconName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeleteAttachmentsResponse": {
            "id": "DeleteAttachmentsResponse",
            "properties": {
                "numDeleted": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Diagnostics": {
            "id": "Diagnostics",
            "properties": {
                "alerts": {
                    "items": {
                        "enum": [
                            "ALERT_UNSPECIFIED",
                            "WRONG_LOCATION",
                            "LOW_BATTERY",
                            "LOW_ACTIVITY"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "beaconName": {
                    "type": "string"
                },
                "estimatedLowBatteryDate": {
                    "$ref": "Date"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EphemeralIdRegistration": {
            "id": "EphemeralIdRegistration",
            "properties": {
                "beaconEcdhPublicKey": {
                    "format": "byte",
                    "type": "string"
                },
                "beaconIdentityKey": {
                    "format": "byte",
                    "type": "string"
                },
                "initialClockValue": {
                    "format": "uint64",
                    "type": "string"
                },
                "initialEid": {
                    "format": "byte",
                    "type": "string"
                },
                "rotationPeriodExponent": {
                    "format": "uint32",
                    "type": "integer"
                },
                "serviceEcdhPublicKey": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EphemeralIdRegistrationParams": {
            "id": "EphemeralIdRegistrationParams",
            "properties": {
                "maxRotationPeriodExponent": {
                    "format": "uint32",
                    "type": "integer"
                },
                "minRotationPeriodExponent": {
                    "format": "uint32",
                    "type": "integer"
                },
                "serviceEcdhPublicKey": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetInfoForObservedBeaconsRequest": {
            "id": "GetInfoForObservedBeaconsRequest",
            "properties": {
                "namespacedTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "observations": {
                    "items": {
                        "$ref": "Observation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GetInfoForObservedBeaconsResponse": {
            "id": "GetInfoForObservedBeaconsResponse",
            "properties": {
                "beacons": {
                    "items": {
                        "$ref": "BeaconInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IndoorLevel": {
            "id": "IndoorLevel",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LatLng": {
            "id": "LatLng",
            "properties": {
                "latitude": {
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ListBeaconAttachmentsResponse": {
            "id": "ListBeaconAttachmentsResponse",
            "properties": {
                "attachments": {
                    "items": {
                        "$ref": "BeaconAttachment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListBeaconsResponse": {
            "id": "ListBeaconsResponse",
            "properties": {
                "beacons": {
                    "items": {
                        "$ref": "Beacon"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "totalCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDiagnosticsResponse": {
            "id": "ListDiagnosticsResponse",
            "properties": {
                "diagnostics": {
                    "items": {
                        "$ref": "Diagnostics"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListNamespacesResponse": {
            "id": "ListNamespacesResponse",
            "properties": {
                "namespaces": {
                    "items": {
                        "$ref": "Namespace"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Namespace": {
            "id": "Namespace",
            "properties": {
                "namespaceName": {
                    "type": "string"
                },
                "servingVisibility": {
                    "enum": [
                        "VISIBILITY_UNSPECIFIED",
                        "UNLISTED",
                        "PUBLIC"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Observation": {
            "id": "Observation",
            "properties": {
                "advertisedId": {
                    "$ref": "AdvertisedId"
                },
                "telemetry": {
                    "format": "byte",
                    "type": "string"
                },
                "timestampMs": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Proximity Beacon API",
    "version": "v1beta1",
    "version_module": true
}