{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/pubsub": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://pubsub.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Pubsub",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/pubsub/docs",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "pubsub:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
    "name": "pubsub",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "snapshots": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
                            "httpMethod": "PUT",
                            "id": "pubsub.projects.snapshots.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "CreateSnapshotRequest"
                            },
                            "response": {
                                "$ref": "Snapshot"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
                            "httpMethod": "DELETE",
                            "id": "pubsub.projects.snapshots.delete",
                            "parameterOrder": [
                                "snapshot"
                            ],
                            "parameters": {
                                "snapshot": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+snapshot}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
                            "httpMethod": "GET",
                            "id": "pubsub.projects.snapshots.get",
                            "parameterOrder": [
                                "snapshot"
                            ],
                            "parameters": {
                                "snapshot": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+snapshot}",
                            "response": {
                                "$ref": "Snapshot"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:getIamPolicy",
                            "httpMethod": "GET",
                            "id": "pubsub.projects.snapshots.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/snapshots",
                            "httpMethod": "GET",
                            "id": "pubsub.projects.snapshots.list",
                            "parameterOrder": [
                                "project"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "project": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+project}/snapshots",
                            "response": {
                                "$ref": "ListSnapshotsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
                            "httpMethod": "PATCH",
                            "id": "pubsub.projects.snapshots.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "UpdateSnapshotRequest"
                            },
                            "response": {
                                "$ref": "Snapshot"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.snapshots.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.snapshots.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        }
                    }
                },
                "subscriptions": {
                    "methods": {
                        "acknowledge": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:acknowledge",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.subscriptions.acknowledge",
                            "parameterOrder": [
                                "subscription"
                            ],
                            "parameters": {
                                "subscription": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+subscription}:acknowledge",
                            "request": {
                                "$ref": "AcknowledgeRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
                            "httpMethod": "PUT",
                            "id": "pubsub.projects.subscriptions.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Subscription"
                            },
                            "response": {
                                "$ref": "Subscription"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
                            "httpMethod": "DELETE",
                            "id": "pubsub.projects.subscriptions.delete",
                            "parameterOrder": [
                                "subscription"
                            ],
                            "parameters": {
                                "subscription": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+subscription}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "detach": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:detach",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.subscriptions.detach",
                            "parameterOrder": [
                                "subscription"
                            ],
                            "parameters": {
                                "subscription": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+subscription}:detach",
                            "response": {
                                "$ref": "DetachSubscriptionResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
                            "httpMethod": "GET",
                            "id": "pubsub.projects.subscriptions.get",
                            "parameterOrder": [
                                "subscription"
                            ],
                            "parameters": {
                                "subscription": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+subscription}",
                            "response": {
                                "$ref": "Subscription"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:getIamPolicy",
                            "httpMethod": "GET",
                            "id": "pubsub.projects.subscriptions.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions",
                            "httpMethod": "GET",
                            "id": "pubsub.projects.subscriptions.list",
                            "parameterOrder": [
                                "project"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "project": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+project}/subscriptions",
                            "response": {
                                "$ref": "ListSubscriptionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "modifyAckDeadline": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyAckDeadline",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.subscriptions.modifyAckDeadline",
                            "parameterOrder": [
                                "subscription"
                            ],
                            "parameters": {
                                "subscription": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+subscription}:modifyAckDeadline",
                            "request": {
                                "$ref": "ModifyAckDeadlineRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "modifyPushConfig": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyPushConfig",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.subscriptions.modifyPushConfig",
                            "parameterOrder": [
                                "subscription"
                            ],
                            "parameters": {
                                "subscription": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+subscription}:modifyPushConfig",
                            "request": {
                                "$ref": "ModifyPushConfigRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
                            "httpMethod": "PATCH",
                            "id": "pubsub.projects.subscriptions.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "UpdateSubscriptionRequest"
                            },
                            "response": {
                                "$ref": "Subscription"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "pull": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:pull",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.subscriptions.pull",
                            "parameterOrder": [
                                "subscription"
                            ],
                            "parameters": {
                                "subscription": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+subscription}:pull",
                            "request": {
                                "$ref": "PullRequest"
                            },
                            "response": {
                                "$ref": "PullResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "seek": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:seek",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.subscriptions.seek",
                            "parameterOrder": [
                                "subscription"
                            ],
                            "parameters": {
                                "subscription": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+subscription}:seek",
                            "request": {
                                "$ref": "SeekRequest"
                            },
                            "response": {
                                "$ref": "SeekResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.subscriptions.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.subscriptions.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        }
                    }
                },
                "topics": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
                            "httpMethod": "PUT",
                            "id": "pubsub.projects.topics.create",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Topic"
                            },
                            "response": {
                                "$ref": "Topic"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
                            "httpMethod": "DELETE",
                            "id": "pubsub.projects.topics.delete",
                            "parameterOrder": [
                                "topic"
                            ],
                            "parameters": {
                                "topic": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+topic}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
                            "httpMethod": "GET",
                            "id": "pubsub.projects.topics.get",
                            "parameterOrder": [
                                "topic"
                            ],
                            "parameters": {
                                "topic": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+topic}",
                            "response": {
                                "$ref": "Topic"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:getIamPolicy",
                            "httpMethod": "GET",
                            "id": "pubsub.projects.topics.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/topics",
                            "httpMethod": "GET",
                            "id": "pubsub.projects.topics.list",
                            "parameterOrder": [
                                "project"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "project": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+project}/topics",
                            "response": {
                                "$ref": "ListTopicsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
                            "httpMethod": "PATCH",
                            "id": "pubsub.projects.topics.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "UpdateTopicRequest"
                            },
                            "response": {
                                "$ref": "Topic"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "publish": {
                            "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:publish",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.topics.publish",
                            "parameterOrder": [
                                "topic"
                            ],
                            "parameters": {
                                "topic": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+topic}:publish",
                            "request": {
                                "$ref": "PublishRequest"
                            },
                            "response": {
                                "$ref": "PublishResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.topics.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "pubsub.projects.topics.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/topics/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/pubsub"
                            ]
                        }
                    },
                    "resources": {
                        "snapshots": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/snapshots",
                                    "httpMethod": "GET",
                                    "id": "pubsub.projects.topics.snapshots.list",
                                    "parameterOrder": [
                                        "topic"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "topic": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/topics/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+topic}/snapshots",
                                    "response": {
                                        "$ref": "ListTopicSnapshotsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/pubsub"
                                    ]
                                }
                            }
                        },
                        "subscriptions": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/subscriptions",
                                    "httpMethod": "GET",
                                    "id": "pubsub.projects.topics.subscriptions.list",
                                    "parameterOrder": [
                                        "topic"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "topic": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/topics/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+topic}/subscriptions",
                                    "response": {
                                        "$ref": "ListTopicSubscriptionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/pubsub"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://pubsub.googleapis.com/",
    "schemas": {
        "AcknowledgeRequest": {
            "id": "AcknowledgeRequest",
            "properties": {
                "ackIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateSnapshotRequest": {
            "id": "CreateSnapshotRequest",
            "properties": {
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "subscription": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeadLetterPolicy": {
            "id": "DeadLetterPolicy",
            "properties": {
                "deadLetterTopic": {
                    "type": "string"
                },
                "maxDeliveryAttempts": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DetachSubscriptionResponse": {
            "id": "DetachSubscriptionResponse",
            "properties": {},
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ExpirationPolicy": {
            "id": "ExpirationPolicy",
            "properties": {
                "ttl": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListSnapshotsResponse": {
            "id": "ListSnapshotsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "snapshots": {
                    "items": {
                        "$ref": "Snapshot"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListSubscriptionsResponse": {
            "id": "ListSubscriptionsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "subscriptions": {
                    "items": {
                        "$ref": "Subscription"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListTopicSnapshotsResponse": {
            "id": "ListTopicSnapshotsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "snapshots": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListTopicSubscriptionsResponse": {
            "id": "ListTopicSubscriptionsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "subscriptions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListTopicsResponse": {
            "id": "ListTopicsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "topics": {
                    "items": {
                        "$ref": "Topic"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MessageStoragePolicy": {
            "id": "MessageStoragePolicy",
            "properties": {
                "allowedPersistenceRegions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ModifyAckDeadlineRequest": {
            "id": "ModifyAckDeadlineRequest",
            "properties": {
                "ackDeadlineSeconds": {
                    "format": "int32",
                    "type": "integer"
                },
                "ackIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ModifyPushConfigRequest": {
            "id": "ModifyPushConfigRequest",
            "properties": {
                "pushConfig": {
                    "$ref": "PushConfig"
                }
            },
            "type": "object"
        },
        "OidcToken": {
            "id": "OidcToken",
            "properties": {
                "audience": {
                    "type": "string"
                },
                "serviceAccountEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "PublishRequest": {
            "id": "PublishRequest",
            "properties": {
                "messages": {
                    "items": {
                        "$ref": "PubsubMessage"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PublishResponse": {
            "id": "PublishResponse",
            "properties": {
                "messageIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PubsubMessage": {
            "id": "PubsubMessage",
            "properties": {
                "attributes": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "messageId": {
                    "type": "string"
                },
                "orderingKey": {
                    "type": "string"
                },
                "publishTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PullRequest": {
            "id": "PullRequest",
            "properties": {
                "maxMessages": {
                    "format": "int32",
                    "type": "integer"
                },
                "returnImmediately": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "PullResponse": {
            "id": "PullResponse",
            "properties": {
                "receivedMessages": {
                    "items": {
                        "$ref": "ReceivedMessage"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PushConfig": {
            "id": "PushConfig",
            "properties": {
                "attributes": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "oidcToken": {
                    "$ref": "OidcToken"
                },
                "pushEndpoint": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReceivedMessage": {
            "id": "ReceivedMessage",
            "properties": {
                "ackId": {
                    "type": "string"
                },
                "deliveryAttempt": {
                    "format": "int32",
                    "type": "integer"
                },
                "message": {
                    "$ref": "PubsubMessage"
                }
            },
            "type": "object"
        },
        "RetryPolicy": {
            "id": "RetryPolicy",
            "properties": {
                "maximumBackoff": {
                    "format": "google-duration",
                    "type": "string"
                },
                "minimumBackoff": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SeekRequest": {
            "id": "SeekRequest",
            "properties": {
                "snapshot": {
                    "type": "string"
                },
                "time": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SeekResponse": {
            "id": "SeekResponse",
            "properties": {},
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                }
            },
            "type": "object"
        },
        "Snapshot": {
            "id": "Snapshot",
            "properties": {
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "topic": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Subscription": {
            "id": "Subscription",
            "properties": {
                "ackDeadlineSeconds": {
                    "format": "int32",
                    "type": "integer"
                },
                "deadLetterPolicy": {
                    "$ref": "DeadLetterPolicy"
                },
                "detached": {
                    "type": "boolean"
                },
                "enableMessageOrdering": {
                    "type": "boolean"
                },
                "expirationPolicy": {
                    "$ref": "ExpirationPolicy"
                },
                "filter": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "messageRetentionDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "pushConfig": {
                    "$ref": "PushConfig"
                },
                "retainAckedMessages": {
                    "type": "boolean"
                },
                "retryPolicy": {
                    "$ref": "RetryPolicy"
                },
                "topic": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Topic": {
            "id": "Topic",
            "properties": {
                "kmsKeyName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "messageStoragePolicy": {
                    "$ref": "MessageStoragePolicy"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateSnapshotRequest": {
            "id": "UpdateSnapshotRequest",
            "properties": {
                "snapshot": {
                    "$ref": "Snapshot"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateSubscriptionRequest": {
            "id": "UpdateSubscriptionRequest",
            "properties": {
                "subscription": {
                    "$ref": "Subscription"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateTopicRequest": {
            "id": "UpdateTopicRequest",
            "properties": {
                "topic": {
                    "$ref": "Topic"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Pub/Sub API",
    "version": "v1"
}