{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://recommender.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Recommender",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/recommender/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "recommender:v1beta1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://recommender.mtls.googleapis.com/",
    "name": "recommender",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "resources": {
                        "insightTypes": {
                            "resources": {
                                "insights": {
                                    "methods": {
                                        "get": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                                            "httpMethod": "GET",
                                            "id": "recommender.projects.locations.insightTypes.insights.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1beta1Insight"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                                            "httpMethod": "GET",
                                            "id": "recommender.projects.locations.insightTypes.insights.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/insights",
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1beta1ListInsightsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "markAccepted": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                                            "httpMethod": "POST",
                                            "id": "recommender.projects.locations.insightTypes.insights.markAccepted",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}:markAccepted",
                                            "request": {
                                                "$ref": "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1beta1Insight"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "recommenders": {
                            "resources": {
                                "recommendations": {
                                    "methods": {
                                        "get": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                                            "httpMethod": "GET",
                                            "id": "recommender.projects.locations.recommenders.recommendations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                                            "httpMethod": "GET",
                                            "id": "recommender.projects.locations.recommenders.recommendations.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+parent}/recommendations",
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "markClaimed": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                                            "httpMethod": "POST",
                                            "id": "recommender.projects.locations.recommenders.recommendations.markClaimed",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}:markClaimed",
                                            "request": {
                                                "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "markFailed": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                                            "httpMethod": "POST",
                                            "id": "recommender.projects.locations.recommenders.recommendations.markFailed",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}:markFailed",
                                            "request": {
                                                "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "markSucceeded": {
                                            "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                                            "httpMethod": "POST",
                                            "id": "recommender.projects.locations.recommenders.recommendations.markSucceeded",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+name}:markSucceeded",
                                            "request": {
                                                "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://recommender.googleapis.com/",
    "schemas": {
        "GoogleCloudRecommenderV1beta1CostProjection": {
            "id": "GoogleCloudRecommenderV1beta1CostProjection",
            "properties": {
                "cost": {
                    "$ref": "GoogleTypeMoney"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1Impact": {
            "id": "GoogleCloudRecommenderV1beta1Impact",
            "properties": {
                "category": {
                    "enum": [
                        "CATEGORY_UNSPECIFIED",
                        "COST",
                        "SECURITY",
                        "PERFORMANCE",
                        "MANAGEABILITY"
                    ],
                    "enumDescriptions": [
                        "Default unspecified category. Don't use directly.",
                        "Indicates a potential increase or decrease in cost.",
                        "Indicates a potential increase or decrease in security.",
                        "Indicates a potential increase or decrease in performance.",
                        "Indicates a potential increase or decrease in manageability."
                    ],
                    "type": "string"
                },
                "costProjection": {
                    "$ref": "GoogleCloudRecommenderV1beta1CostProjection"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1Insight": {
            "id": "GoogleCloudRecommenderV1beta1Insight",
            "properties": {
                "associatedRecommendations": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1beta1InsightRecommendationReference"
                    },
                    "type": "array"
                },
                "category": {
                    "enum": [
                        "CATEGORY_UNSPECIFIED",
                        "COST",
                        "SECURITY",
                        "PERFORMANCE",
                        "MANAGEABILITY"
                    ],
                    "enumDescriptions": [
                        "Unspecified category.",
                        "The insight is related to cost.",
                        "The insight is related to security.",
                        "The insight is related to performance.",
                        "This insight is related to manageability."
                    ],
                    "type": "string"
                },
                "content": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "etag": {
                    "type": "string"
                },
                "insightSubtype": {
                    "type": "string"
                },
                "lastRefreshTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "observationPeriod": {
                    "format": "google-duration",
                    "type": "string"
                },
                "stateInfo": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightStateInfo"
                },
                "targetResources": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1InsightRecommendationReference": {
            "id": "GoogleCloudRecommenderV1beta1InsightRecommendationReference",
            "properties": {
                "recommendation": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1InsightStateInfo": {
            "id": "GoogleCloudRecommenderV1beta1InsightStateInfo",
            "properties": {
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "ACCEPTED",
                        "DISMISSED"
                    ],
                    "enumDescriptions": [
                        "Unspecified state.",
                        "Insight is active. Content for ACTIVE insights can be updated by Google.\nACTIVE insights can be marked DISMISSED OR ACCEPTED.",
                        "Some action has been taken based on this insight. Insights become\naccepted when a recommendation derived from the insight has been marked\nCLAIMED, SUCCEEDED, or FAILED. ACTIVE insights can also be marked\nACCEPTED explicitly. Content for ACCEPTED insights is immutable. ACCEPTED\ninsights can only be marked ACCEPTED (which may update state metadata).",
                        "Insight is dismissed. Content for DISMISSED insights can be updated by\nGoogle. DISMISSED insights can be marked as ACTIVE."
                    ],
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1ListInsightsResponse": {
            "id": "GoogleCloudRecommenderV1beta1ListInsightsResponse",
            "properties": {
                "insights": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1ListRecommendationsResponse": {
            "id": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "recommendations": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest": {
            "id": "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest": {
            "id": "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest": {
            "id": "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest": {
            "id": "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1Operation": {
            "id": "GoogleCloudRecommenderV1beta1Operation",
            "properties": {
                "action": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "pathFilters": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "pathValueMatchers": {
                    "additionalProperties": {
                        "$ref": "GoogleCloudRecommenderV1beta1ValueMatcher"
                    },
                    "type": "object"
                },
                "resource": {
                    "type": "string"
                },
                "resourceType": {
                    "type": "string"
                },
                "sourcePath": {
                    "type": "string"
                },
                "sourceResource": {
                    "type": "string"
                },
                "value": {
                    "type": "any"
                },
                "valueMatcher": {
                    "$ref": "GoogleCloudRecommenderV1beta1ValueMatcher"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1OperationGroup": {
            "id": "GoogleCloudRecommenderV1beta1OperationGroup",
            "properties": {
                "operations": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1beta1Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1Recommendation": {
            "id": "GoogleCloudRecommenderV1beta1Recommendation",
            "properties": {
                "additionalImpact": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1beta1Impact"
                    },
                    "type": "array"
                },
                "associatedInsights": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1beta1RecommendationInsightReference"
                    },
                    "type": "array"
                },
                "content": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommendationContent"
                },
                "etag": {
                    "type": "string"
                },
                "lastRefreshTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "primaryImpact": {
                    "$ref": "GoogleCloudRecommenderV1beta1Impact"
                },
                "recommenderSubtype": {
                    "type": "string"
                },
                "stateInfo": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommendationStateInfo"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1RecommendationContent": {
            "id": "GoogleCloudRecommenderV1beta1RecommendationContent",
            "properties": {
                "operationGroups": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1beta1OperationGroup"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1RecommendationInsightReference": {
            "id": "GoogleCloudRecommenderV1beta1RecommendationInsightReference",
            "properties": {
                "insight": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1RecommendationStateInfo": {
            "id": "GoogleCloudRecommenderV1beta1RecommendationStateInfo",
            "properties": {
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "CLAIMED",
                        "SUCCEEDED",
                        "FAILED",
                        "DISMISSED"
                    ],
                    "enumDescriptions": [
                        "Default state. Don't use directly.",
                        "Recommendation is active and can be applied. Recommendations content can\nbe updated by Google.\n\nACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
                        "Recommendation is in claimed state. Recommendations content is\nimmutable and cannot be updated by Google.\n\nCLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
                        "Recommendation is in succeeded state. Recommendations content is\nimmutable and cannot be updated by Google.\n\nSUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
                        "Recommendation is in failed state. Recommendations content is immutable\nand cannot be updated by Google.\n\nFAILED recommendations can be marked as SUCCEEDED, or FAILED.",
                        "Recommendation is in dismissed state. Recommendation content can be\nupdated by Google.\n\nDISMISSED recommendations can be marked as ACTIVE."
                    ],
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1beta1ValueMatcher": {
            "id": "GoogleCloudRecommenderV1beta1ValueMatcher",
            "properties": {
                "matchesPattern": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleTypeMoney": {
            "id": "GoogleTypeMoney",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "units": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Recommender API",
    "version": "v1beta1",
    "version_module": true
}