{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://recommender.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Recommender",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/recommender/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "recommender:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://recommender.mtls.googleapis.com/",
    "name": "recommender",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "resources": {
                        "insightTypes": {
                            "resources": {
                                "insights": {
                                    "methods": {
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                                            "httpMethod": "GET",
                                            "id": "recommender.projects.locations.insightTypes.insights.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1Insight"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                                            "httpMethod": "GET",
                                            "id": "recommender.projects.locations.insightTypes.insights.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/insights",
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1ListInsightsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "markAccepted": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                                            "httpMethod": "POST",
                                            "id": "recommender.projects.locations.insightTypes.insights.markAccepted",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:markAccepted",
                                            "request": {
                                                "$ref": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1Insight"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "recommenders": {
                            "resources": {
                                "recommendations": {
                                    "methods": {
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                                            "httpMethod": "GET",
                                            "id": "recommender.projects.locations.recommenders.recommendations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1Recommendation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                                            "httpMethod": "GET",
                                            "id": "recommender.projects.locations.recommenders.recommendations.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/recommendations",
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1ListRecommendationsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "markClaimed": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                                            "httpMethod": "POST",
                                            "id": "recommender.projects.locations.recommenders.recommendations.markClaimed",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:markClaimed",
                                            "request": {
                                                "$ref": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1Recommendation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "markFailed": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                                            "httpMethod": "POST",
                                            "id": "recommender.projects.locations.recommenders.recommendations.markFailed",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:markFailed",
                                            "request": {
                                                "$ref": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1Recommendation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "markSucceeded": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                                            "httpMethod": "POST",
                                            "id": "recommender.projects.locations.recommenders.recommendations.markSucceeded",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:markSucceeded",
                                            "request": {
                                                "$ref": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleCloudRecommenderV1Recommendation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://recommender.googleapis.com/",
    "schemas": {
        "GoogleCloudRecommenderV1CostProjection": {
            "id": "GoogleCloudRecommenderV1CostProjection",
            "properties": {
                "cost": {
                    "$ref": "GoogleTypeMoney"
                },
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1Impact": {
            "id": "GoogleCloudRecommenderV1Impact",
            "properties": {
                "category": {
                    "enum": [
                        "CATEGORY_UNSPECIFIED",
                        "COST",
                        "SECURITY",
                        "PERFORMANCE",
                        "MANAGEABILITY"
                    ],
                    "type": "string"
                },
                "costProjection": {
                    "$ref": "GoogleCloudRecommenderV1CostProjection"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1Insight": {
            "id": "GoogleCloudRecommenderV1Insight",
            "properties": {
                "associatedRecommendations": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1InsightRecommendationReference"
                    },
                    "type": "array"
                },
                "category": {
                    "enum": [
                        "CATEGORY_UNSPECIFIED",
                        "COST",
                        "SECURITY",
                        "PERFORMANCE",
                        "MANAGEABILITY"
                    ],
                    "type": "string"
                },
                "content": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "etag": {
                    "type": "string"
                },
                "insightSubtype": {
                    "type": "string"
                },
                "lastRefreshTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "observationPeriod": {
                    "format": "google-duration",
                    "type": "string"
                },
                "stateInfo": {
                    "$ref": "GoogleCloudRecommenderV1InsightStateInfo"
                },
                "targetResources": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1InsightRecommendationReference": {
            "id": "GoogleCloudRecommenderV1InsightRecommendationReference",
            "properties": {
                "recommendation": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1InsightStateInfo": {
            "id": "GoogleCloudRecommenderV1InsightStateInfo",
            "properties": {
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "ACCEPTED",
                        "DISMISSED"
                    ],
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1ListInsightsResponse": {
            "id": "GoogleCloudRecommenderV1ListInsightsResponse",
            "properties": {
                "insights": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1ListRecommendationsResponse": {
            "id": "GoogleCloudRecommenderV1ListRecommendationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "recommendations": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1MarkInsightAcceptedRequest": {
            "id": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest": {
            "id": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1MarkRecommendationFailedRequest": {
            "id": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest": {
            "id": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1Operation": {
            "id": "GoogleCloudRecommenderV1Operation",
            "properties": {
                "action": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "pathFilters": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "pathValueMatchers": {
                    "additionalProperties": {
                        "$ref": "GoogleCloudRecommenderV1ValueMatcher"
                    },
                    "type": "object"
                },
                "resource": {
                    "type": "string"
                },
                "resourceType": {
                    "type": "string"
                },
                "sourcePath": {
                    "type": "string"
                },
                "sourceResource": {
                    "type": "string"
                },
                "value": {
                    "type": "any"
                },
                "valueMatcher": {
                    "$ref": "GoogleCloudRecommenderV1ValueMatcher"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1OperationGroup": {
            "id": "GoogleCloudRecommenderV1OperationGroup",
            "properties": {
                "operations": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1Recommendation": {
            "id": "GoogleCloudRecommenderV1Recommendation",
            "properties": {
                "additionalImpact": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1Impact"
                    },
                    "type": "array"
                },
                "associatedInsights": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1RecommendationInsightReference"
                    },
                    "type": "array"
                },
                "content": {
                    "$ref": "GoogleCloudRecommenderV1RecommendationContent"
                },
                "etag": {
                    "type": "string"
                },
                "lastRefreshTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "primaryImpact": {
                    "$ref": "GoogleCloudRecommenderV1Impact"
                },
                "recommenderSubtype": {
                    "type": "string"
                },
                "stateInfo": {
                    "$ref": "GoogleCloudRecommenderV1RecommendationStateInfo"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1RecommendationContent": {
            "id": "GoogleCloudRecommenderV1RecommendationContent",
            "properties": {
                "operationGroups": {
                    "items": {
                        "$ref": "GoogleCloudRecommenderV1OperationGroup"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1RecommendationInsightReference": {
            "id": "GoogleCloudRecommenderV1RecommendationInsightReference",
            "properties": {
                "insight": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1RecommendationStateInfo": {
            "id": "GoogleCloudRecommenderV1RecommendationStateInfo",
            "properties": {
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "CLAIMED",
                        "SUCCEEDED",
                        "FAILED",
                        "DISMISSED"
                    ],
                    "type": "string"
                },
                "stateMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRecommenderV1ValueMatcher": {
            "id": "GoogleCloudRecommenderV1ValueMatcher",
            "properties": {
                "matchesPattern": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleTypeMoney": {
            "id": "GoogleTypeMoney",
            "properties": {
                "currencyCode": {
                    "type": "string"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "units": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Recommender API",
    "version": "v1",
    "version_module": true
}