{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://redis.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Redis",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/memorystore/docs/redis/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "redis:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://redis.mtls.googleapis.com/",
    "name": "redis",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "redis.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "redis.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "instances": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                                    "httpMethod": "POST",
                                    "id": "redis.projects.locations.instances.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "instanceId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/instances",
                                    "request": {
                                        "$ref": "Instance"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                                    "httpMethod": "DELETE",
                                    "id": "redis.projects.locations.instances.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "export": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export",
                                    "httpMethod": "POST",
                                    "id": "redis.projects.locations.instances.export",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:export",
                                    "request": {
                                        "$ref": "ExportInstanceRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "failover": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:failover",
                                    "httpMethod": "POST",
                                    "id": "redis.projects.locations.instances.failover",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:failover",
                                    "request": {
                                        "$ref": "FailoverInstanceRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                                    "httpMethod": "GET",
                                    "id": "redis.projects.locations.instances.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Instance"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "import": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import",
                                    "httpMethod": "POST",
                                    "id": "redis.projects.locations.instances.import",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:import",
                                    "request": {
                                        "$ref": "ImportInstanceRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                                    "httpMethod": "GET",
                                    "id": "redis.projects.locations.instances.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/instances",
                                    "response": {
                                        "$ref": "ListInstancesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                                    "httpMethod": "PATCH",
                                    "id": "redis.projects.locations.instances.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Instance"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "upgrade": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:upgrade",
                                    "httpMethod": "POST",
                                    "id": "redis.projects.locations.instances.upgrade",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:upgrade",
                                    "request": {
                                        "$ref": "UpgradeInstanceRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "redis.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "redis.projects.locations.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "redis.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "redis.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://redis.googleapis.com/",
    "schemas": {
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ExportInstanceRequest": {
            "id": "ExportInstanceRequest",
            "properties": {
                "outputConfig": {
                    "$ref": "OutputConfig"
                }
            },
            "type": "object"
        },
        "FailoverInstanceRequest": {
            "id": "FailoverInstanceRequest",
            "properties": {
                "dataProtectionMode": {
                    "enum": [
                        "DATA_PROTECTION_MODE_UNSPECIFIED",
                        "LIMITED_DATA_LOSS",
                        "FORCE_DATA_LOSS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GcsDestination": {
            "id": "GcsDestination",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GcsSource": {
            "id": "GcsSource",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRedisV1LocationMetadata": {
            "id": "GoogleCloudRedisV1LocationMetadata",
            "properties": {
                "availableZones": {
                    "additionalProperties": {
                        "$ref": "GoogleCloudRedisV1ZoneMetadata"
                    },
                    "readOnly": true,
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleCloudRedisV1OperationMetadata": {
            "id": "GoogleCloudRedisV1OperationMetadata",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "cancelRequested": {
                    "type": "boolean"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "statusDetail": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "verb": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudRedisV1ZoneMetadata": {
            "id": "GoogleCloudRedisV1ZoneMetadata",
            "properties": {},
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1Instance",
            "properties": {
                "consumerDefinedName": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "maintenancePolicyNames": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "maintenanceSchedules": {
                    "additionalProperties": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
                    },
                    "type": "object"
                },
                "maintenanceSettings": {
                    "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings"
                },
                "name": {
                    "type": "string"
                },
                "producerMetadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "readOnly": true,
                    "type": "object"
                },
                "provisionedResources": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
                    },
                    "readOnly": true,
                    "type": "array"
                },
                "slmInstanceTemplate": {
                    "type": "string"
                },
                "sloMetadata": {
                    "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
                    "readOnly": true
                },
                "softwareVersions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY",
                        "UPDATING",
                        "REPAIRING",
                        "DELETING",
                        "ERROR"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "tenantProjectId": {
                    "readOnly": true,
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
            "properties": {
                "canReschedule": {
                    "type": "boolean"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "rolloutManagementPolicy": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
            "properties": {
                "exclude": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata",
            "properties": {
                "exclusions": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion"
                    },
                    "type": "array"
                },
                "location": {
                    "type": "string"
                },
                "nodeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
            "properties": {
                "resourceType": {
                    "type": "string"
                },
                "resourceUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
            "properties": {
                "eligible": {
                    "type": "boolean"
                },
                "reason": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion",
            "properties": {
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "reason": {
                    "type": "string"
                },
                "sliName": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
            "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
            "properties": {
                "eligibility": {
                    "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
                },
                "exclusions": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloExclusion"
                    },
                    "type": "array"
                },
                "nodes": {
                    "items": {
                        "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
                    },
                    "type": "array"
                },
                "tier": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImportInstanceRequest": {
            "id": "ImportInstanceRequest",
            "properties": {
                "inputConfig": {
                    "$ref": "InputConfig"
                }
            },
            "type": "object"
        },
        "InputConfig": {
            "id": "InputConfig",
            "properties": {
                "gcsSource": {
                    "$ref": "GcsSource"
                }
            },
            "type": "object"
        },
        "Instance": {
            "id": "Instance",
            "properties": {
                "alternativeLocationId": {
                    "type": "string"
                },
                "authorizedNetwork": {
                    "type": "string"
                },
                "connectMode": {
                    "enum": [
                        "CONNECT_MODE_UNSPECIFIED",
                        "DIRECT_PEERING",
                        "PRIVATE_SERVICE_ACCESS"
                    ],
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "currentLocationId": {
                    "readOnly": true,
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "host": {
                    "readOnly": true,
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "memorySizeGb": {
                    "format": "int32",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "persistenceIamIdentity": {
                    "readOnly": true,
                    "type": "string"
                },
                "port": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                },
                "redisConfigs": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "redisVersion": {
                    "type": "string"
                },
                "reservedIpRange": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY",
                        "UPDATING",
                        "DELETING",
                        "REPAIRING",
                        "MAINTENANCE",
                        "IMPORTING",
                        "FAILING_OVER"
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "statusMessage": {
                    "readOnly": true,
                    "type": "string"
                },
                "tier": {
                    "enum": [
                        "TIER_UNSPECIFIED",
                        "BASIC",
                        "STANDARD_HA"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListInstancesResponse": {
            "id": "ListInstancesResponse",
            "properties": {
                "instances": {
                    "items": {
                        "$ref": "Instance"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "unreachable": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OutputConfig": {
            "id": "OutputConfig",
            "properties": {
                "gcsDestination": {
                    "$ref": "GcsDestination"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpgradeInstanceRequest": {
            "id": "UpgradeInstanceRequest",
            "properties": {
                "redisVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Cloud Memorystore for Redis API",
    "version": "v1",
    "version_module": true
}