{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://remotebuildexecution.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Remote Build Execution",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/remote-build-execution/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "remotebuildexecution:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://remotebuildexecution.mtls.googleapis.com/",
    "name": "remotebuildexecution",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "actionResults": {
            "methods": {
                "get": {
                    "flatPath": "v2/{v2Id}/actionResults/{hash}/{sizeBytes}",
                    "httpMethod": "GET",
                    "id": "remotebuildexecution.actionResults.get",
                    "parameterOrder": [
                        "instanceName",
                        "hash",
                        "sizeBytes"
                    ],
                    "parameters": {
                        "hash": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "inlineOutputFiles": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "inlineStderr": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "inlineStdout": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "instanceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        },
                        "sizeBytes": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+instanceName}/actionResults/{hash}/{sizeBytes}",
                    "response": {
                        "$ref": "BuildBazelRemoteExecutionV2ActionResult"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "update": {
                    "flatPath": "v2/{v2Id}/actionResults/{hash}/{sizeBytes}",
                    "httpMethod": "PUT",
                    "id": "remotebuildexecution.actionResults.update",
                    "parameterOrder": [
                        "instanceName",
                        "hash",
                        "sizeBytes"
                    ],
                    "parameters": {
                        "hash": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instanceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        },
                        "resultsCachePolicy.priority": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "sizeBytes": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+instanceName}/actionResults/{hash}/{sizeBytes}",
                    "request": {
                        "$ref": "BuildBazelRemoteExecutionV2ActionResult"
                    },
                    "response": {
                        "$ref": "BuildBazelRemoteExecutionV2ActionResult"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "actions": {
            "methods": {
                "execute": {
                    "flatPath": "v2/{v2Id}/actions:execute",
                    "httpMethod": "POST",
                    "id": "remotebuildexecution.actions.execute",
                    "parameterOrder": [
                        "instanceName"
                    ],
                    "parameters": {
                        "instanceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+instanceName}/actions:execute",
                    "request": {
                        "$ref": "BuildBazelRemoteExecutionV2ExecuteRequest"
                    },
                    "response": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "blobs": {
            "methods": {
                "batchRead": {
                    "flatPath": "v2/{v2Id}/blobs:batchRead",
                    "httpMethod": "POST",
                    "id": "remotebuildexecution.blobs.batchRead",
                    "parameterOrder": [
                        "instanceName"
                    ],
                    "parameters": {
                        "instanceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+instanceName}/blobs:batchRead",
                    "request": {
                        "$ref": "BuildBazelRemoteExecutionV2BatchReadBlobsRequest"
                    },
                    "response": {
                        "$ref": "BuildBazelRemoteExecutionV2BatchReadBlobsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "batchUpdate": {
                    "flatPath": "v2/{v2Id}/blobs:batchUpdate",
                    "httpMethod": "POST",
                    "id": "remotebuildexecution.blobs.batchUpdate",
                    "parameterOrder": [
                        "instanceName"
                    ],
                    "parameters": {
                        "instanceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+instanceName}/blobs:batchUpdate",
                    "request": {
                        "$ref": "BuildBazelRemoteExecutionV2BatchUpdateBlobsRequest"
                    },
                    "response": {
                        "$ref": "BuildBazelRemoteExecutionV2BatchUpdateBlobsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "findMissing": {
                    "flatPath": "v2/{v2Id}/blobs:findMissing",
                    "httpMethod": "POST",
                    "id": "remotebuildexecution.blobs.findMissing",
                    "parameterOrder": [
                        "instanceName"
                    ],
                    "parameters": {
                        "instanceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+instanceName}/blobs:findMissing",
                    "request": {
                        "$ref": "BuildBazelRemoteExecutionV2FindMissingBlobsRequest"
                    },
                    "response": {
                        "$ref": "BuildBazelRemoteExecutionV2FindMissingBlobsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getTree": {
                    "flatPath": "v2/{v2Id}/blobs/{hash}/{sizeBytes}:getTree",
                    "httpMethod": "GET",
                    "id": "remotebuildexecution.blobs.getTree",
                    "parameterOrder": [
                        "instanceName",
                        "hash",
                        "sizeBytes"
                    ],
                    "parameters": {
                        "hash": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instanceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "sizeBytes": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+instanceName}/blobs/{hash}/{sizeBytes}:getTree",
                    "response": {
                        "$ref": "BuildBazelRemoteExecutionV2GetTreeResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "operations": {
            "methods": {
                "waitExecution": {
                    "flatPath": "v2/operations/{operationsId}:waitExecution",
                    "httpMethod": "POST",
                    "id": "remotebuildexecution.operations.waitExecution",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+name}:waitExecution",
                    "request": {
                        "$ref": "BuildBazelRemoteExecutionV2WaitExecutionRequest"
                    },
                    "response": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "v2": {
            "methods": {
                "getCapabilities": {
                    "flatPath": "v2/{v2Id}/capabilities",
                    "httpMethod": "GET",
                    "id": "remotebuildexecution.getCapabilities",
                    "parameterOrder": [
                        "instanceName"
                    ],
                    "parameters": {
                        "instanceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2/{+instanceName}/capabilities",
                    "response": {
                        "$ref": "BuildBazelRemoteExecutionV2ServerCapabilities"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://remotebuildexecution.googleapis.com/",
    "schemas": {
        "BuildBazelRemoteExecutionV2Action": {
            "id": "BuildBazelRemoteExecutionV2Action",
            "properties": {
                "commandDigest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "doNotCache": {
                    "type": "boolean"
                },
                "inputRootDigest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "outputNodeProperties": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ActionCacheUpdateCapabilities": {
            "id": "BuildBazelRemoteExecutionV2ActionCacheUpdateCapabilities",
            "properties": {
                "updateEnabled": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ActionResult": {
            "id": "BuildBazelRemoteExecutionV2ActionResult",
            "properties": {
                "executionMetadata": {
                    "$ref": "BuildBazelRemoteExecutionV2ExecutedActionMetadata"
                },
                "exitCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "outputDirectories": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2OutputDirectory"
                    },
                    "type": "array"
                },
                "outputDirectorySymlinks": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2OutputSymlink"
                    },
                    "type": "array"
                },
                "outputFileSymlinks": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2OutputSymlink"
                    },
                    "type": "array"
                },
                "outputFiles": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2OutputFile"
                    },
                    "type": "array"
                },
                "outputSymlinks": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2OutputSymlink"
                    },
                    "type": "array"
                },
                "stderrDigest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "stderrRaw": {
                    "format": "byte",
                    "type": "string"
                },
                "stdoutDigest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "stdoutRaw": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2BatchReadBlobsRequest": {
            "id": "BuildBazelRemoteExecutionV2BatchReadBlobsRequest",
            "properties": {
                "digests": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2Digest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2BatchReadBlobsResponse": {
            "id": "BuildBazelRemoteExecutionV2BatchReadBlobsResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2BatchReadBlobsResponseResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2BatchReadBlobsResponseResponse": {
            "id": "BuildBazelRemoteExecutionV2BatchReadBlobsResponseResponse",
            "properties": {
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "digest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "status": {
                    "$ref": "GoogleRpcStatus"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2BatchUpdateBlobsRequest": {
            "id": "BuildBazelRemoteExecutionV2BatchUpdateBlobsRequest",
            "properties": {
                "requests": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2BatchUpdateBlobsRequestRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2BatchUpdateBlobsRequestRequest": {
            "id": "BuildBazelRemoteExecutionV2BatchUpdateBlobsRequestRequest",
            "properties": {
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "digest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2BatchUpdateBlobsResponse": {
            "id": "BuildBazelRemoteExecutionV2BatchUpdateBlobsResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2BatchUpdateBlobsResponseResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2BatchUpdateBlobsResponseResponse": {
            "id": "BuildBazelRemoteExecutionV2BatchUpdateBlobsResponseResponse",
            "properties": {
                "digest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "status": {
                    "$ref": "GoogleRpcStatus"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2CacheCapabilities": {
            "id": "BuildBazelRemoteExecutionV2CacheCapabilities",
            "properties": {
                "actionCacheUpdateCapabilities": {
                    "$ref": "BuildBazelRemoteExecutionV2ActionCacheUpdateCapabilities"
                },
                "cachePriorityCapabilities": {
                    "$ref": "BuildBazelRemoteExecutionV2PriorityCapabilities"
                },
                "digestFunction": {
                    "items": {
                        "enum": [
                            "UNKNOWN",
                            "SHA256",
                            "SHA1",
                            "MD5",
                            "VSO",
                            "SHA384",
                            "SHA512"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "maxBatchTotalSizeBytes": {
                    "format": "int64",
                    "type": "string"
                },
                "symlinkAbsolutePathStrategy": {
                    "enum": [
                        "UNKNOWN",
                        "DISALLOWED",
                        "ALLOWED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2Command": {
            "id": "BuildBazelRemoteExecutionV2Command",
            "properties": {
                "arguments": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "environmentVariables": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2CommandEnvironmentVariable"
                    },
                    "type": "array"
                },
                "outputDirectories": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "outputFiles": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "outputPaths": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "platform": {
                    "$ref": "BuildBazelRemoteExecutionV2Platform"
                },
                "workingDirectory": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2CommandEnvironmentVariable": {
            "id": "BuildBazelRemoteExecutionV2CommandEnvironmentVariable",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2Digest": {
            "id": "BuildBazelRemoteExecutionV2Digest",
            "properties": {
                "hash": {
                    "type": "string"
                },
                "sizeBytes": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2Directory": {
            "id": "BuildBazelRemoteExecutionV2Directory",
            "properties": {
                "directories": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2DirectoryNode"
                    },
                    "type": "array"
                },
                "files": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2FileNode"
                    },
                    "type": "array"
                },
                "nodeProperties": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
                    },
                    "type": "array"
                },
                "symlinks": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2SymlinkNode"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2DirectoryNode": {
            "id": "BuildBazelRemoteExecutionV2DirectoryNode",
            "properties": {
                "digest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ExecuteOperationMetadata": {
            "id": "BuildBazelRemoteExecutionV2ExecuteOperationMetadata",
            "properties": {
                "actionDigest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "stage": {
                    "enum": [
                        "UNKNOWN",
                        "CACHE_CHECK",
                        "QUEUED",
                        "EXECUTING",
                        "COMPLETED"
                    ],
                    "type": "string"
                },
                "stderrStreamName": {
                    "type": "string"
                },
                "stdoutStreamName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ExecuteRequest": {
            "id": "BuildBazelRemoteExecutionV2ExecuteRequest",
            "properties": {
                "actionDigest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "executionPolicy": {
                    "$ref": "BuildBazelRemoteExecutionV2ExecutionPolicy"
                },
                "resultsCachePolicy": {
                    "$ref": "BuildBazelRemoteExecutionV2ResultsCachePolicy"
                },
                "skipCacheLookup": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ExecuteResponse": {
            "id": "BuildBazelRemoteExecutionV2ExecuteResponse",
            "properties": {
                "cachedResult": {
                    "type": "boolean"
                },
                "message": {
                    "type": "string"
                },
                "result": {
                    "$ref": "BuildBazelRemoteExecutionV2ActionResult"
                },
                "serverLogs": {
                    "additionalProperties": {
                        "$ref": "BuildBazelRemoteExecutionV2LogFile"
                    },
                    "type": "object"
                },
                "status": {
                    "$ref": "GoogleRpcStatus"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ExecutedActionMetadata": {
            "id": "BuildBazelRemoteExecutionV2ExecutedActionMetadata",
            "properties": {
                "executionCompletedTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "executionStartTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "inputFetchCompletedTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "inputFetchStartTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "outputUploadCompletedTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "outputUploadStartTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "queuedTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "worker": {
                    "type": "string"
                },
                "workerCompletedTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "workerStartTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ExecutionCapabilities": {
            "id": "BuildBazelRemoteExecutionV2ExecutionCapabilities",
            "properties": {
                "digestFunction": {
                    "enum": [
                        "UNKNOWN",
                        "SHA256",
                        "SHA1",
                        "MD5",
                        "VSO",
                        "SHA384",
                        "SHA512"
                    ],
                    "type": "string"
                },
                "execEnabled": {
                    "type": "boolean"
                },
                "executionPriorityCapabilities": {
                    "$ref": "BuildBazelRemoteExecutionV2PriorityCapabilities"
                },
                "supportedNodeProperties": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ExecutionPolicy": {
            "id": "BuildBazelRemoteExecutionV2ExecutionPolicy",
            "properties": {
                "priority": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2FileNode": {
            "id": "BuildBazelRemoteExecutionV2FileNode",
            "properties": {
                "digest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "isExecutable": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "nodeProperties": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2FindMissingBlobsRequest": {
            "id": "BuildBazelRemoteExecutionV2FindMissingBlobsRequest",
            "properties": {
                "blobDigests": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2Digest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2FindMissingBlobsResponse": {
            "id": "BuildBazelRemoteExecutionV2FindMissingBlobsResponse",
            "properties": {
                "missingBlobDigests": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2Digest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2GetTreeResponse": {
            "id": "BuildBazelRemoteExecutionV2GetTreeResponse",
            "properties": {
                "directories": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2Directory"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2LogFile": {
            "id": "BuildBazelRemoteExecutionV2LogFile",
            "properties": {
                "digest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "humanReadable": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2NodeProperty": {
            "id": "BuildBazelRemoteExecutionV2NodeProperty",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2OutputDirectory": {
            "id": "BuildBazelRemoteExecutionV2OutputDirectory",
            "properties": {
                "path": {
                    "type": "string"
                },
                "treeDigest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2OutputFile": {
            "id": "BuildBazelRemoteExecutionV2OutputFile",
            "properties": {
                "contents": {
                    "format": "byte",
                    "type": "string"
                },
                "digest": {
                    "$ref": "BuildBazelRemoteExecutionV2Digest"
                },
                "isExecutable": {
                    "type": "boolean"
                },
                "nodeProperties": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
                    },
                    "type": "array"
                },
                "path": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2OutputSymlink": {
            "id": "BuildBazelRemoteExecutionV2OutputSymlink",
            "properties": {
                "nodeProperties": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
                    },
                    "type": "array"
                },
                "path": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2Platform": {
            "id": "BuildBazelRemoteExecutionV2Platform",
            "properties": {
                "properties": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2PlatformProperty"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2PlatformProperty": {
            "id": "BuildBazelRemoteExecutionV2PlatformProperty",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2PriorityCapabilities": {
            "id": "BuildBazelRemoteExecutionV2PriorityCapabilities",
            "properties": {
                "priorities": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2PriorityCapabilitiesPriorityRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2PriorityCapabilitiesPriorityRange": {
            "id": "BuildBazelRemoteExecutionV2PriorityCapabilitiesPriorityRange",
            "properties": {
                "maxPriority": {
                    "format": "int32",
                    "type": "integer"
                },
                "minPriority": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2RequestMetadata": {
            "id": "BuildBazelRemoteExecutionV2RequestMetadata",
            "properties": {
                "actionId": {
                    "type": "string"
                },
                "correlatedInvocationsId": {
                    "type": "string"
                },
                "toolDetails": {
                    "$ref": "BuildBazelRemoteExecutionV2ToolDetails"
                },
                "toolInvocationId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ResultsCachePolicy": {
            "id": "BuildBazelRemoteExecutionV2ResultsCachePolicy",
            "properties": {
                "priority": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ServerCapabilities": {
            "id": "BuildBazelRemoteExecutionV2ServerCapabilities",
            "properties": {
                "cacheCapabilities": {
                    "$ref": "BuildBazelRemoteExecutionV2CacheCapabilities"
                },
                "deprecatedApiVersion": {
                    "$ref": "BuildBazelSemverSemVer"
                },
                "executionCapabilities": {
                    "$ref": "BuildBazelRemoteExecutionV2ExecutionCapabilities"
                },
                "highApiVersion": {
                    "$ref": "BuildBazelSemverSemVer"
                },
                "lowApiVersion": {
                    "$ref": "BuildBazelSemverSemVer"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2SymlinkNode": {
            "id": "BuildBazelRemoteExecutionV2SymlinkNode",
            "properties": {
                "name": {
                    "type": "string"
                },
                "nodeProperties": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
                    },
                    "type": "array"
                },
                "target": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2ToolDetails": {
            "id": "BuildBazelRemoteExecutionV2ToolDetails",
            "properties": {
                "toolName": {
                    "type": "string"
                },
                "toolVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2Tree": {
            "id": "BuildBazelRemoteExecutionV2Tree",
            "properties": {
                "children": {
                    "items": {
                        "$ref": "BuildBazelRemoteExecutionV2Directory"
                    },
                    "type": "array"
                },
                "root": {
                    "$ref": "BuildBazelRemoteExecutionV2Directory"
                }
            },
            "type": "object"
        },
        "BuildBazelRemoteExecutionV2WaitExecutionRequest": {
            "id": "BuildBazelRemoteExecutionV2WaitExecutionRequest",
            "properties": {},
            "type": "object"
        },
        "BuildBazelSemverSemVer": {
            "id": "BuildBazelSemverSemVer",
            "properties": {
                "major": {
                    "format": "int32",
                    "type": "integer"
                },
                "minor": {
                    "format": "int32",
                    "type": "integer"
                },
                "patch": {
                    "format": "int32",
                    "type": "integer"
                },
                "prerelease": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildbotCommandDurations": {
            "id": "GoogleDevtoolsRemotebuildbotCommandDurations",
            "properties": {
                "dockerPrep": {
                    "format": "google-duration",
                    "type": "string"
                },
                "dockerPrepStartTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "download": {
                    "format": "google-duration",
                    "type": "string"
                },
                "downloadStartTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "execStartTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "execution": {
                    "format": "google-duration",
                    "type": "string"
                },
                "isoPrepDone": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "overall": {
                    "format": "google-duration",
                    "type": "string"
                },
                "stdout": {
                    "format": "google-duration",
                    "type": "string"
                },
                "upload": {
                    "format": "google-duration",
                    "type": "string"
                },
                "uploadStartTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildbotCommandEvents": {
            "id": "GoogleDevtoolsRemotebuildbotCommandEvents",
            "properties": {
                "dockerCacheHit": {
                    "type": "boolean"
                },
                "inputCacheMiss": {
                    "format": "float",
                    "type": "number"
                },
                "numErrors": {
                    "format": "uint64",
                    "type": "string"
                },
                "numWarnings": {
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildbotCommandStatus": {
            "id": "GoogleDevtoolsRemotebuildbotCommandStatus",
            "properties": {
                "code": {
                    "enum": [
                        "OK",
                        "INVALID_ARGUMENT",
                        "DEADLINE_EXCEEDED",
                        "NOT_FOUND",
                        "PERMISSION_DENIED",
                        "INTERNAL",
                        "ABORTED",
                        "FAILED_PRECONDITION",
                        "CLEANUP_ERROR",
                        "DOWNLOAD_INPUTS_ERROR",
                        "UNKNOWN",
                        "UPLOAD_OUTPUTS_ERROR",
                        "UPLOAD_OUTPUTS_BYTES_LIMIT_EXCEEDED",
                        "DOCKER_LOGIN_ERROR",
                        "DOCKER_IMAGE_PULL_ERROR",
                        "DOCKER_IMAGE_EXIST_ERROR",
                        "DUPLICATE_INPUTS",
                        "DOCKER_IMAGE_PERMISSION_DENIED",
                        "DOCKER_IMAGE_NOT_FOUND",
                        "WORKING_DIR_NOT_FOUND",
                        "WORKING_DIR_NOT_IN_BASE_DIR",
                        "DOCKER_UNAVAILABLE",
                        "NO_CUDA_CAPABLE_DEVICE",
                        "REMOTE_CAS_DOWNLOAD_ERROR",
                        "REMOTE_CAS_UPLOAD_ERROR",
                        "LOCAL_CASPROXY_NOT_RUNNING",
                        "DOCKER_CREATE_CONTAINER_ERROR",
                        "DOCKER_INVALID_ULIMIT",
                        "DOCKER_UNKNOWN_RUNTIME",
                        "DOCKER_UNKNOWN_CAPABILITY",
                        "DOCKER_UNKNOWN_ERROR",
                        "DOCKER_CREATE_COMPUTE_SYSTEM_ERROR",
                        "DOCKER_PREPARELAYER_ERROR",
                        "DOCKER_INCOMPATIBLE_OS_ERROR",
                        "DOCKER_CREATE_RUNTIME_FILE_NOT_FOUND",
                        "DOCKER_CREATE_RUNTIME_PERMISSION_DENIED",
                        "DOCKER_CREATE_PROCESS_FILE_NOT_FOUND"
                    ],
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildbotResourceUsage": {
            "id": "GoogleDevtoolsRemotebuildbotResourceUsage",
            "properties": {
                "cpuUsedPercent": {
                    "format": "double",
                    "type": "number"
                },
                "diskUsage": {
                    "$ref": "GoogleDevtoolsRemotebuildbotResourceUsageStat"
                },
                "memoryUsage": {
                    "$ref": "GoogleDevtoolsRemotebuildbotResourceUsageStat"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildbotResourceUsageStat": {
            "id": "GoogleDevtoolsRemotebuildbotResourceUsageStat",
            "properties": {
                "total": {
                    "format": "uint64",
                    "type": "string"
                },
                "used": {
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAcceleratorConfig": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAcceleratorConfig",
            "properties": {
                "acceleratorCount": {
                    "format": "int64",
                    "type": "string"
                },
                "acceleratorType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAutoscale": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAutoscale",
            "properties": {
                "maxSize": {
                    "format": "int64",
                    "type": "string"
                },
                "minSize": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateInstanceRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateInstanceRequest",
            "properties": {
                "instance": {
                    "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance"
                },
                "instanceId": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateWorkerPoolRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateWorkerPoolRequest",
            "properties": {
                "parent": {
                    "type": "string"
                },
                "poolId": {
                    "type": "string"
                },
                "workerPool": {
                    "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteInstanceRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteInstanceRequest",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteWorkerPoolRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteWorkerPoolRequest",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetInstanceRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetInstanceRequest",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetWorkerPoolRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetWorkerPoolRequest",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance",
            "properties": {
                "location": {
                    "type": "string"
                },
                "loggingEnabled": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "RUNNING",
                        "INACTIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesRequest",
            "properties": {
                "parent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesResponse": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesResponse",
            "properties": {
                "instances": {
                    "items": {
                        "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsRequest",
            "properties": {
                "filter": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsResponse": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsResponse",
            "properties": {
                "workerPools": {
                    "items": {
                        "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateInstanceRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateInstanceRequest",
            "properties": {
                "instance": {
                    "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance"
                },
                "loggingEnabled": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateWorkerPoolRequest": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateWorkerPoolRequest",
            "properties": {
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "workerPool": {
                    "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerConfig": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerConfig",
            "properties": {
                "accelerator": {
                    "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAcceleratorConfig"
                },
                "diskSizeGb": {
                    "format": "int64",
                    "type": "string"
                },
                "diskType": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "machineType": {
                    "type": "string"
                },
                "maxConcurrentActions": {
                    "format": "int64",
                    "type": "string"
                },
                "minCpuPlatform": {
                    "type": "string"
                },
                "networkAccess": {
                    "type": "string"
                },
                "reserved": {
                    "type": "boolean"
                },
                "vmImage": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool": {
            "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool",
            "properties": {
                "autoscale": {
                    "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAutoscale"
                },
                "channel": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "RUNNING",
                        "UPDATING",
                        "DELETING",
                        "INACTIVE"
                    ],
                    "type": "string"
                },
                "workerConfig": {
                    "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerConfig"
                },
                "workerCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2AdminTemp": {
            "id": "GoogleDevtoolsRemoteworkersV1test2AdminTemp",
            "properties": {
                "arg": {
                    "type": "string"
                },
                "command": {
                    "enum": [
                        "UNSPECIFIED",
                        "BOT_UPDATE",
                        "BOT_RESTART",
                        "BOT_TERMINATE",
                        "HOST_RESTART"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2Blob": {
            "id": "GoogleDevtoolsRemoteworkersV1test2Blob",
            "properties": {
                "contents": {
                    "format": "byte",
                    "type": "string"
                },
                "digest": {
                    "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2CommandOutputs": {
            "id": "GoogleDevtoolsRemoteworkersV1test2CommandOutputs",
            "properties": {
                "exitCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "outputs": {
                    "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2CommandOverhead": {
            "id": "GoogleDevtoolsRemoteworkersV1test2CommandOverhead",
            "properties": {
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "overhead": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2CommandResult": {
            "id": "GoogleDevtoolsRemoteworkersV1test2CommandResult",
            "properties": {
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "exitCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "metadata": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "outputs": {
                    "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
                },
                "overhead": {
                    "format": "google-duration",
                    "type": "string"
                },
                "status": {
                    "$ref": "GoogleRpcStatus"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2CommandTask": {
            "id": "GoogleDevtoolsRemoteworkersV1test2CommandTask",
            "properties": {
                "expectedOutputs": {
                    "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskOutputs"
                },
                "inputs": {
                    "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputs"
                },
                "timeouts": {
                    "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskTimeouts"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputs": {
            "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputs",
            "properties": {
                "arguments": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "environmentVariables": {
                    "items": {
                        "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputsEnvironmentVariable"
                    },
                    "type": "array"
                },
                "files": {
                    "items": {
                        "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
                    },
                    "type": "array"
                },
                "inlineBlobs": {
                    "items": {
                        "$ref": "GoogleDevtoolsRemoteworkersV1test2Blob"
                    },
                    "type": "array"
                },
                "workingDirectory": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputsEnvironmentVariable": {
            "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputsEnvironmentVariable",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2CommandTaskOutputs": {
            "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskOutputs",
            "properties": {
                "directories": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "files": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "stderrDestination": {
                    "type": "string"
                },
                "stdoutDestination": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2CommandTaskTimeouts": {
            "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskTimeouts",
            "properties": {
                "execution": {
                    "format": "google-duration",
                    "type": "string"
                },
                "idle": {
                    "format": "google-duration",
                    "type": "string"
                },
                "shutdown": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2Digest": {
            "id": "GoogleDevtoolsRemoteworkersV1test2Digest",
            "properties": {
                "hash": {
                    "type": "string"
                },
                "sizeBytes": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2Directory": {
            "id": "GoogleDevtoolsRemoteworkersV1test2Directory",
            "properties": {
                "directories": {
                    "items": {
                        "$ref": "GoogleDevtoolsRemoteworkersV1test2DirectoryMetadata"
                    },
                    "type": "array"
                },
                "files": {
                    "items": {
                        "$ref": "GoogleDevtoolsRemoteworkersV1test2FileMetadata"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2DirectoryMetadata": {
            "id": "GoogleDevtoolsRemoteworkersV1test2DirectoryMetadata",
            "properties": {
                "digest": {
                    "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
                },
                "path": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleDevtoolsRemoteworkersV1test2FileMetadata": {
            "id": "GoogleDevtoolsRemoteworkersV1test2FileMetadata",
            "properties": {
                "contents": {
                    "format": "byte",
                    "type": "string"
                },
                "digest": {
                    "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
                },
                "isExecutable": {
                    "type": "boolean"
                },
                "path": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleLongrunningOperation": {
            "id": "GoogleLongrunningOperation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "GoogleRpcStatus"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GoogleRpcStatus": {
            "id": "GoogleRpcStatus",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Remote Build Execution API",
    "version": "v2",
    "version_module": true
}