{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/apps.order": {},
                "https://www.googleapis.com/auth/apps.order.readonly": {}
            }
        }
    },
    "basePath": "/apps/reseller/v1/",
    "baseUrl": "https://www.googleapis.com/apps/reseller/v1/",
    "batchPath": "batch/reseller/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/google-apps/reseller/",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "reseller:v1",
    "kind": "discovery#restDescription",
    "labels": [
        "limited_availability"
    ],
    "name": "reseller",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "customers": {
            "methods": {
                "get": {
                    "httpMethod": "GET",
                    "id": "reseller.customers.get",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}",
                    "response": {
                        "$ref": "Customer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order",
                        "https://www.googleapis.com/auth/apps.order.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "reseller.customers.insert",
                    "parameters": {
                        "customerAuthToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "customers",
                    "request": {
                        "$ref": "Customer"
                    },
                    "response": {
                        "$ref": "Customer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "reseller.customers.patch",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}",
                    "request": {
                        "$ref": "Customer"
                    },
                    "response": {
                        "$ref": "Customer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "reseller.customers.update",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}",
                    "request": {
                        "$ref": "Customer"
                    },
                    "response": {
                        "$ref": "Customer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                }
            }
        },
        "resellernotify": {
            "methods": {
                "getwatchdetails": {
                    "httpMethod": "GET",
                    "id": "reseller.resellernotify.getwatchdetails",
                    "path": "resellernotify/getwatchdetails",
                    "response": {
                        "$ref": "ResellernotifyGetwatchdetailsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order",
                        "https://www.googleapis.com/auth/apps.order.readonly"
                    ]
                },
                "register": {
                    "httpMethod": "POST",
                    "id": "reseller.resellernotify.register",
                    "parameters": {
                        "serviceAccountEmailAddress": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "resellernotify/register",
                    "response": {
                        "$ref": "ResellernotifyResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "unregister": {
                    "httpMethod": "POST",
                    "id": "reseller.resellernotify.unregister",
                    "parameters": {
                        "serviceAccountEmailAddress": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "resellernotify/unregister",
                    "response": {
                        "$ref": "ResellernotifyResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                }
            }
        },
        "subscriptions": {
            "methods": {
                "activate": {
                    "httpMethod": "POST",
                    "id": "reseller.subscriptions.activate",
                    "parameterOrder": [
                        "customerId",
                        "subscriptionId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "subscriptionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}/subscriptions/{subscriptionId}/activate",
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "changePlan": {
                    "httpMethod": "POST",
                    "id": "reseller.subscriptions.changePlan",
                    "parameterOrder": [
                        "customerId",
                        "subscriptionId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "subscriptionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}/subscriptions/{subscriptionId}/changePlan",
                    "request": {
                        "$ref": "ChangePlanRequest"
                    },
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "changeRenewalSettings": {
                    "httpMethod": "POST",
                    "id": "reseller.subscriptions.changeRenewalSettings",
                    "parameterOrder": [
                        "customerId",
                        "subscriptionId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "subscriptionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}/subscriptions/{subscriptionId}/changeRenewalSettings",
                    "request": {
                        "$ref": "RenewalSettings"
                    },
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "changeSeats": {
                    "httpMethod": "POST",
                    "id": "reseller.subscriptions.changeSeats",
                    "parameterOrder": [
                        "customerId",
                        "subscriptionId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "subscriptionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}/subscriptions/{subscriptionId}/changeSeats",
                    "request": {
                        "$ref": "Seats"
                    },
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "reseller.subscriptions.delete",
                    "parameterOrder": [
                        "customerId",
                        "subscriptionId",
                        "deletionType"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "deletionType": {
                            "enum": [
                                "cancel",
                                "transfer_to_direct"
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "subscriptionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}/subscriptions/{subscriptionId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "reseller.subscriptions.get",
                    "parameterOrder": [
                        "customerId",
                        "subscriptionId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "subscriptionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}/subscriptions/{subscriptionId}",
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order",
                        "https://www.googleapis.com/auth/apps.order.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "reseller.subscriptions.insert",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerAuthToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}/subscriptions",
                    "request": {
                        "$ref": "Subscription"
                    },
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "reseller.subscriptions.list",
                    "parameters": {
                        "customerAuthToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "customerId": {
                            "location": "query",
                            "type": "string"
                        },
                        "customerNamePrefix": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "subscriptions",
                    "response": {
                        "$ref": "Subscriptions"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order",
                        "https://www.googleapis.com/auth/apps.order.readonly"
                    ]
                },
                "startPaidService": {
                    "httpMethod": "POST",
                    "id": "reseller.subscriptions.startPaidService",
                    "parameterOrder": [
                        "customerId",
                        "subscriptionId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "subscriptionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}/subscriptions/{subscriptionId}/startPaidService",
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                },
                "suspend": {
                    "httpMethod": "POST",
                    "id": "reseller.subscriptions.suspend",
                    "parameterOrder": [
                        "customerId",
                        "subscriptionId"
                    ],
                    "parameters": {
                        "customerId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "subscriptionId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customers/{customerId}/subscriptions/{subscriptionId}/suspend",
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/apps.order"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Address": {
            "id": "Address",
            "properties": {
                "addressLine1": {
                    "type": "string"
                },
                "addressLine2": {
                    "type": "string"
                },
                "addressLine3": {
                    "type": "string"
                },
                "contactName": {
                    "type": "string"
                },
                "countryCode": {
                    "type": "string"
                },
                "kind": {
                    "default": "customers#address",
                    "type": "string"
                },
                "locality": {
                    "type": "string"
                },
                "organizationName": {
                    "type": "string"
                },
                "postalCode": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChangePlanRequest": {
            "id": "ChangePlanRequest",
            "properties": {
                "dealCode": {
                    "type": "string"
                },
                "kind": {
                    "default": "subscriptions#changePlanRequest",
                    "type": "string"
                },
                "planName": {
                    "type": "string"
                },
                "purchaseOrderId": {
                    "type": "string"
                },
                "seats": {
                    "$ref": "Seats"
                }
            },
            "type": "object"
        },
        "Customer": {
            "id": "Customer",
            "properties": {
                "alternateEmail": {
                    "type": "string"
                },
                "customerDomain": {
                    "type": "string"
                },
                "customerDomainVerified": {
                    "type": "boolean"
                },
                "customerId": {
                    "type": "string"
                },
                "kind": {
                    "default": "reseller#customer",
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                },
                "postalAddress": {
                    "$ref": "Address"
                },
                "resourceUiUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RenewalSettings": {
            "id": "RenewalSettings",
            "properties": {
                "kind": {
                    "default": "subscriptions#renewalSettings",
                    "type": "string"
                },
                "renewalType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResellernotifyGetwatchdetailsResponse": {
            "id": "ResellernotifyGetwatchdetailsResponse",
            "properties": {
                "serviceAccountEmailAddresses": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "topicName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResellernotifyResource": {
            "id": "ResellernotifyResource",
            "properties": {
                "topicName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Seats": {
            "id": "Seats",
            "properties": {
                "kind": {
                    "default": "subscriptions#seats",
                    "type": "string"
                },
                "licensedNumberOfSeats": {
                    "format": "int32",
                    "type": "integer"
                },
                "maximumNumberOfSeats": {
                    "format": "int32",
                    "type": "integer"
                },
                "numberOfSeats": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Subscription": {
            "id": "Subscription",
            "properties": {
                "billingMethod": {
                    "type": "string"
                },
                "creationTime": {
                    "format": "int64",
                    "type": "string"
                },
                "customerDomain": {
                    "type": "string"
                },
                "customerId": {
                    "type": "string"
                },
                "dealCode": {
                    "type": "string"
                },
                "kind": {
                    "default": "reseller#subscription",
                    "type": "string"
                },
                "plan": {
                    "properties": {
                        "commitmentInterval": {
                            "properties": {
                                "endTime": {
                                    "format": "int64",
                                    "type": "string"
                                },
                                "startTime": {
                                    "format": "int64",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "isCommitmentPlan": {
                            "type": "boolean"
                        },
                        "planName": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "purchaseOrderId": {
                    "type": "string"
                },
                "renewalSettings": {
                    "$ref": "RenewalSettings"
                },
                "resourceUiUrl": {
                    "type": "string"
                },
                "seats": {
                    "$ref": "Seats"
                },
                "skuId": {
                    "type": "string"
                },
                "skuName": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "subscriptionId": {
                    "type": "string"
                },
                "suspensionReasons": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "transferInfo": {
                    "properties": {
                        "minimumTransferableSeats": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "transferabilityExpirationTime": {
                            "format": "int64",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "trialSettings": {
                    "properties": {
                        "isInTrial": {
                            "type": "boolean"
                        },
                        "trialEndTime": {
                            "format": "int64",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Subscriptions": {
            "id": "Subscriptions",
            "properties": {
                "kind": {
                    "default": "reseller#subscriptions",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "subscriptions": {
                    "items": {
                        "$ref": "Subscription"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "apps/reseller/v1/",
    "title": "Enterprise Apps Reseller API",
    "version": "v1"
}