{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://run.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Run",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/run/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "run:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://run.mtls.googleapis.com/",
    "name": "run",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "api": {
            "resources": {
                "v1": {
                    "resources": {
                        "namespaces": {
                            "methods": {
                                "get": {
                                    "flatPath": "api/v1/namespaces/{namespacesId}",
                                    "httpMethod": "GET",
                                    "id": "run.api.v1.namespaces.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^namespaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "api/v1/{+name}",
                                    "response": {
                                        "$ref": "Namespace"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "api/v1/namespaces/{namespacesId}",
                                    "httpMethod": "PATCH",
                                    "id": "run.api.v1.namespaces.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^namespaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "api/v1/{+name}",
                                    "request": {
                                        "$ref": "Namespace"
                                    },
                                    "response": {
                                        "$ref": "Namespace"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "secrets": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "api/v1/namespaces/{namespacesId}/secrets",
                                            "httpMethod": "POST",
                                            "id": "run.api.v1.namespaces.secrets.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^namespaces/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "api/v1/{+parent}/secrets",
                                            "request": {
                                                "$ref": "Secret"
                                            },
                                            "response": {
                                                "$ref": "Secret"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "api/v1/namespaces/{namespacesId}/secrets/{secretsId}",
                                            "httpMethod": "GET",
                                            "id": "run.api.v1.namespaces.secrets.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^namespaces/[^/]+/secrets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "api/v1/{+name}",
                                            "response": {
                                                "$ref": "Secret"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "replaceSecret": {
                                            "flatPath": "api/v1/namespaces/{namespacesId}/secrets/{secretsId}",
                                            "httpMethod": "PUT",
                                            "id": "run.api.v1.namespaces.secrets.replaceSecret",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^namespaces/[^/]+/secrets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "api/v1/{+name}",
                                            "request": {
                                                "$ref": "Secret"
                                            },
                                            "response": {
                                                "$ref": "Secret"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "namespaces": {
            "resources": {
                "authorizeddomains": {
                    "methods": {
                        "list": {
                            "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains",
                            "httpMethod": "GET",
                            "id": "run.namespaces.authorizeddomains.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
                            "response": {
                                "$ref": "ListAuthorizedDomainsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "configurations": {
                    "methods": {
                        "get": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
                            "httpMethod": "GET",
                            "id": "run.namespaces.configurations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+/configurations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+name}",
                            "response": {
                                "$ref": "Configuration"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
                            "httpMethod": "GET",
                            "id": "run.namespaces.configurations.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "continue": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "fieldSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeUninitialized": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "labelSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "limit": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "resourceVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "watch": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+parent}/configurations",
                            "response": {
                                "$ref": "ListConfigurationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "domainmappings": {
                    "methods": {
                        "create": {
                            "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
                            "httpMethod": "POST",
                            "id": "run.namespaces.domainmappings.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
                            "request": {
                                "$ref": "DomainMapping"
                            },
                            "response": {
                                "$ref": "DomainMapping"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
                            "httpMethod": "DELETE",
                            "id": "run.namespaces.domainmappings.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "apiVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "kind": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "propagationPolicy": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "apis/domains.cloudrun.com/v1/{+name}",
                            "response": {
                                "$ref": "Status"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
                            "httpMethod": "GET",
                            "id": "run.namespaces.domainmappings.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "apis/domains.cloudrun.com/v1/{+name}",
                            "response": {
                                "$ref": "DomainMapping"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
                            "httpMethod": "GET",
                            "id": "run.namespaces.domainmappings.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "continue": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "fieldSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeUninitialized": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "labelSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "limit": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "resourceVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "watch": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
                            "response": {
                                "$ref": "ListDomainMappingsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "revisions": {
                    "methods": {
                        "delete": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
                            "httpMethod": "DELETE",
                            "id": "run.namespaces.revisions.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "apiVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "kind": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "propagationPolicy": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+name}",
                            "response": {
                                "$ref": "Status"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
                            "httpMethod": "GET",
                            "id": "run.namespaces.revisions.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+name}",
                            "response": {
                                "$ref": "Revision"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
                            "httpMethod": "GET",
                            "id": "run.namespaces.revisions.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "continue": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "fieldSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeUninitialized": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "labelSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "limit": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "resourceVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "watch": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
                            "response": {
                                "$ref": "ListRevisionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "routes": {
                    "methods": {
                        "get": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}",
                            "httpMethod": "GET",
                            "id": "run.namespaces.routes.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+name}",
                            "response": {
                                "$ref": "Route"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes",
                            "httpMethod": "GET",
                            "id": "run.namespaces.routes.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "continue": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "fieldSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeUninitialized": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "labelSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "limit": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "resourceVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "watch": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+parent}/routes",
                            "response": {
                                "$ref": "ListRoutesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "services": {
                    "methods": {
                        "create": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
                            "httpMethod": "POST",
                            "id": "run.namespaces.services.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+parent}/services",
                            "request": {
                                "$ref": "Service"
                            },
                            "response": {
                                "$ref": "Service"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
                            "httpMethod": "DELETE",
                            "id": "run.namespaces.services.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "apiVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "kind": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+/services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "propagationPolicy": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+name}",
                            "response": {
                                "$ref": "Status"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
                            "httpMethod": "GET",
                            "id": "run.namespaces.services.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+/services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+name}",
                            "response": {
                                "$ref": "Service"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
                            "httpMethod": "GET",
                            "id": "run.namespaces.services.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "continue": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "fieldSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "includeUninitialized": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "labelSelector": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "limit": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "resourceVersion": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "watch": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+parent}/services",
                            "response": {
                                "$ref": "ListServicesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "replaceService": {
                            "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
                            "httpMethod": "PUT",
                            "id": "run.namespaces.services.replaceService",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^namespaces/[^/]+/services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "apis/serving.knative.dev/v1/{+name}",
                            "request": {
                                "$ref": "Service"
                            },
                            "response": {
                                "$ref": "Service"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "run.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "authorizeddomains": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizeddomains",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.authorizeddomains.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/authorizeddomains",
                                    "response": {
                                        "$ref": "ListAuthorizedDomainsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "configurations": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations/{configurationsId}",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.configurations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/configurations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Configuration"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.configurations.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "continue": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "fieldSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "includeUninitialized": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "labelSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "limit": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "resourceVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "watch": {
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v1/{+parent}/configurations",
                                    "response": {
                                        "$ref": "ListConfigurationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "domainmappings": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                                    "httpMethod": "POST",
                                    "id": "run.projects.locations.domainmappings.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/domainmappings",
                                    "request": {
                                        "$ref": "DomainMapping"
                                    },
                                    "response": {
                                        "$ref": "DomainMapping"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                                    "httpMethod": "DELETE",
                                    "id": "run.projects.locations.domainmappings.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "apiVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "propagationPolicy": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Status"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.domainmappings.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "DomainMapping"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.domainmappings.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "continue": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "fieldSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "includeUninitialized": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "labelSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "limit": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "resourceVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "watch": {
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v1/{+parent}/domainmappings",
                                    "response": {
                                        "$ref": "ListDomainMappingsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "namespaces": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/namespaces/{namespacesId}",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.namespaces.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/namespaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Namespace"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/namespaces/{namespacesId}",
                                    "httpMethod": "PATCH",
                                    "id": "run.projects.locations.namespaces.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/namespaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Namespace"
                                    },
                                    "response": {
                                        "$ref": "Namespace"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "revisions": {
                            "methods": {
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                                    "httpMethod": "DELETE",
                                    "id": "run.projects.locations.revisions.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "apiVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "propagationPolicy": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Status"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.revisions.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Revision"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.revisions.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "continue": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "fieldSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "includeUninitialized": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "labelSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "limit": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "resourceVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "watch": {
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v1/{+parent}/revisions",
                                    "response": {
                                        "$ref": "ListRevisionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "routes": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes/{routesId}",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.routes.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/routes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Route"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.routes.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "continue": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "fieldSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "includeUninitialized": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "labelSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "limit": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "resourceVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "watch": {
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v1/{+parent}/routes",
                                    "response": {
                                        "$ref": "ListRoutesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "secrets": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets",
                                    "httpMethod": "POST",
                                    "id": "run.projects.locations.secrets.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/secrets",
                                    "request": {
                                        "$ref": "Secret"
                                    },
                                    "response": {
                                        "$ref": "Secret"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.secrets.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Secret"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "replaceSecret": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                                    "httpMethod": "PUT",
                                    "id": "run.projects.locations.secrets.replaceSecret",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Secret"
                                    },
                                    "response": {
                                        "$ref": "Secret"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "services": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                                    "httpMethod": "POST",
                                    "id": "run.projects.locations.services.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/services",
                                    "request": {
                                        "$ref": "Service"
                                    },
                                    "response": {
                                        "$ref": "Service"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                                    "httpMethod": "DELETE",
                                    "id": "run.projects.locations.services.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "apiVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "propagationPolicy": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Status"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.services.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Service"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.services.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "options.requestedPolicyVersion": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                                    "httpMethod": "GET",
                                    "id": "run.projects.locations.services.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "continue": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "fieldSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "includeUninitialized": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "labelSelector": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "limit": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "resourceVersion": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "watch": {
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v1/{+parent}/services",
                                    "response": {
                                        "$ref": "ListServicesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "replaceService": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                                    "httpMethod": "PUT",
                                    "id": "run.projects.locations.services.replaceService",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Service"
                                    },
                                    "response": {
                                        "$ref": "Service"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "run.projects.locations.services.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "run.projects.locations.services.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://run.googleapis.com/",
    "schemas": {
        "Addressable": {
            "id": "Addressable",
            "properties": {
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuthorizedDomain": {
            "id": "AuthorizedDomain",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConfigMapEnvSource": {
            "id": "ConfigMapEnvSource",
            "properties": {
                "localObjectReference": {
                    "$ref": "LocalObjectReference"
                },
                "name": {
                    "type": "string"
                },
                "optional": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ConfigMapKeySelector": {
            "id": "ConfigMapKeySelector",
            "properties": {
                "key": {
                    "type": "string"
                },
                "localObjectReference": {
                    "$ref": "LocalObjectReference"
                },
                "name": {
                    "type": "string"
                },
                "optional": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ConfigMapVolumeSource": {
            "id": "ConfigMapVolumeSource",
            "properties": {
                "defaultMode": {
                    "format": "int32",
                    "type": "integer"
                },
                "items": {
                    "items": {
                        "$ref": "KeyToPath"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "optional": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Configuration": {
            "id": "Configuration",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "metadata": {
                    "$ref": "ObjectMeta"
                },
                "spec": {
                    "$ref": "ConfigurationSpec"
                },
                "status": {
                    "$ref": "ConfigurationStatus"
                }
            },
            "type": "object"
        },
        "ConfigurationSpec": {
            "id": "ConfigurationSpec",
            "properties": {
                "template": {
                    "$ref": "RevisionTemplate"
                }
            },
            "type": "object"
        },
        "ConfigurationStatus": {
            "id": "ConfigurationStatus",
            "properties": {
                "conditions": {
                    "items": {
                        "$ref": "GoogleCloudRunV1Condition"
                    },
                    "type": "array"
                },
                "latestCreatedRevisionName": {
                    "type": "string"
                },
                "latestReadyRevisionName": {
                    "type": "string"
                },
                "observedGeneration": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Container": {
            "id": "Container",
            "properties": {
                "args": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "command": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "env": {
                    "items": {
                        "$ref": "EnvVar"
                    },
                    "type": "array"
                },
                "envFrom": {
                    "items": {
                        "$ref": "EnvFromSource"
                    },
                    "type": "array"
                },
                "image": {
                    "type": "string"
                },
                "imagePullPolicy": {
                    "type": "string"
                },
                "livenessProbe": {
                    "$ref": "Probe"
                },
                "name": {
                    "type": "string"
                },
                "ports": {
                    "items": {
                        "$ref": "ContainerPort"
                    },
                    "type": "array"
                },
                "readinessProbe": {
                    "$ref": "Probe"
                },
                "resources": {
                    "$ref": "ResourceRequirements"
                },
                "securityContext": {
                    "$ref": "SecurityContext"
                },
                "terminationMessagePath": {
                    "type": "string"
                },
                "terminationMessagePolicy": {
                    "type": "string"
                },
                "volumeMounts": {
                    "items": {
                        "$ref": "VolumeMount"
                    },
                    "type": "array"
                },
                "workingDir": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ContainerPort": {
            "id": "ContainerPort",
            "properties": {
                "containerPort": {
                    "format": "int32",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "protocol": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DomainMapping": {
            "id": "DomainMapping",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "metadata": {
                    "$ref": "ObjectMeta"
                },
                "spec": {
                    "$ref": "DomainMappingSpec"
                },
                "status": {
                    "$ref": "DomainMappingStatus"
                }
            },
            "type": "object"
        },
        "DomainMappingSpec": {
            "id": "DomainMappingSpec",
            "properties": {
                "certificateMode": {
                    "enum": [
                        "CERTIFICATE_MODE_UNSPECIFIED",
                        "NONE",
                        "AUTOMATIC"
                    ],
                    "type": "string"
                },
                "forceOverride": {
                    "type": "boolean"
                },
                "routeName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DomainMappingStatus": {
            "id": "DomainMappingStatus",
            "properties": {
                "conditions": {
                    "items": {
                        "$ref": "GoogleCloudRunV1Condition"
                    },
                    "type": "array"
                },
                "mappedRouteName": {
                    "type": "string"
                },
                "observedGeneration": {
                    "format": "int32",
                    "type": "integer"
                },
                "resourceRecords": {
                    "items": {
                        "$ref": "ResourceRecord"
                    },
                    "type": "array"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
[...]
