{
    "basePath": "",
    "baseUrl": "https://safebrowsing.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/safe-browsing/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "safebrowsing:v4",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
    "name": "safebrowsing",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "encodedFullHashes": {
            "methods": {
                "get": {
                    "flatPath": "v4/encodedFullHashes/{encodedRequest}",
                    "httpMethod": "GET",
                    "id": "safebrowsing.encodedFullHashes.get",
                    "parameterOrder": [
                        "encodedRequest"
                    ],
                    "parameters": {
                        "clientId": {
                            "location": "query",
                            "type": "string"
                        },
                        "clientVersion": {
                            "location": "query",
                            "type": "string"
                        },
                        "encodedRequest": {
                            "format": "byte",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v4/encodedFullHashes/{encodedRequest}",
                    "response": {
                        "$ref": "FindFullHashesResponse"
                    }
                }
            }
        },
        "encodedUpdates": {
            "methods": {
                "get": {
                    "flatPath": "v4/encodedUpdates/{encodedRequest}",
                    "httpMethod": "GET",
                    "id": "safebrowsing.encodedUpdates.get",
                    "parameterOrder": [
                        "encodedRequest"
                    ],
                    "parameters": {
                        "clientId": {
                            "location": "query",
                            "type": "string"
                        },
                        "clientVersion": {
                            "location": "query",
                            "type": "string"
                        },
                        "encodedRequest": {
                            "format": "byte",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v4/encodedUpdates/{encodedRequest}",
                    "response": {
                        "$ref": "FetchThreatListUpdatesResponse"
                    }
                }
            }
        },
        "fullHashes": {
            "methods": {
                "find": {
                    "flatPath": "v4/fullHashes:find",
                    "httpMethod": "POST",
                    "id": "safebrowsing.fullHashes.find",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/fullHashes:find",
                    "request": {
                        "$ref": "FindFullHashesRequest"
                    },
                    "response": {
                        "$ref": "FindFullHashesResponse"
                    }
                }
            }
        },
        "threatHits": {
            "methods": {
                "create": {
                    "flatPath": "v4/threatHits",
                    "httpMethod": "POST",
                    "id": "safebrowsing.threatHits.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/threatHits",
                    "request": {
                        "$ref": "ThreatHit"
                    },
                    "response": {
                        "$ref": "Empty"
                    }
                }
            }
        },
        "threatListUpdates": {
            "methods": {
                "fetch": {
                    "flatPath": "v4/threatListUpdates:fetch",
                    "httpMethod": "POST",
                    "id": "safebrowsing.threatListUpdates.fetch",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/threatListUpdates:fetch",
                    "request": {
                        "$ref": "FetchThreatListUpdatesRequest"
                    },
                    "response": {
                        "$ref": "FetchThreatListUpdatesResponse"
                    }
                }
            }
        },
        "threatLists": {
            "methods": {
                "list": {
                    "flatPath": "v4/threatLists",
                    "httpMethod": "GET",
                    "id": "safebrowsing.threatLists.list",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/threatLists",
                    "response": {
                        "$ref": "ListThreatListsResponse"
                    }
                }
            }
        },
        "threatMatches": {
            "methods": {
                "find": {
                    "flatPath": "v4/threatMatches:find",
                    "httpMethod": "POST",
                    "id": "safebrowsing.threatMatches.find",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/threatMatches:find",
                    "request": {
                        "$ref": "FindThreatMatchesRequest"
                    },
                    "response": {
                        "$ref": "FindThreatMatchesResponse"
                    }
                }
            }
        }
    },
    "rootUrl": "https://safebrowsing.googleapis.com/",
    "schemas": {
        "Checksum": {
            "id": "Checksum",
            "properties": {
                "sha256": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClientInfo": {
            "id": "ClientInfo",
            "properties": {
                "clientId": {
                    "type": "string"
                },
                "clientVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Constraints": {
            "id": "Constraints",
            "properties": {
                "deviceLocation": {
                    "type": "string"
                },
                "language": {
                    "type": "string"
                },
                "maxDatabaseEntries": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxUpdateEntries": {
                    "format": "int32",
                    "type": "integer"
                },
                "region": {
                    "type": "string"
                },
                "supportedCompressions": {
                    "enumDescriptions": [
                        "Unknown.",
                        "Raw, uncompressed data.",
                        "Rice-Golomb encoded data."
                    ],
                    "items": {
                        "enum": [
                            "COMPRESSION_TYPE_UNSPECIFIED",
                            "RAW",
                            "RICE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "FetchThreatListUpdatesRequest": {
            "id": "FetchThreatListUpdatesRequest",
            "properties": {
                "client": {
                    "$ref": "ClientInfo"
                },
                "listUpdateRequests": {
                    "items": {
                        "$ref": "ListUpdateRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "FetchThreatListUpdatesResponse": {
            "id": "FetchThreatListUpdatesResponse",
            "properties": {
                "listUpdateResponses": {
                    "items": {
                        "$ref": "ListUpdateResponse"
                    },
                    "type": "array"
                },
                "minimumWaitDuration": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FindFullHashesRequest": {
            "id": "FindFullHashesRequest",
            "properties": {
                "apiClient": {
                    "$ref": "ClientInfo"
                },
                "client": {
                    "$ref": "ClientInfo"
                },
                "clientStates": {
                    "items": {
                        "format": "byte",
                        "type": "string"
                    },
                    "type": "array"
                },
                "threatInfo": {
                    "$ref": "ThreatInfo"
                }
            },
            "type": "object"
        },
        "FindFullHashesResponse": {
            "id": "FindFullHashesResponse",
            "properties": {
                "matches": {
                    "items": {
                        "$ref": "ThreatMatch"
                    },
                    "type": "array"
                },
                "minimumWaitDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "negativeCacheDuration": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FindThreatMatchesRequest": {
            "id": "FindThreatMatchesRequest",
            "properties": {
                "client": {
                    "$ref": "ClientInfo"
                },
                "threatInfo": {
                    "$ref": "ThreatInfo"
                }
            },
            "type": "object"
        },
        "FindThreatMatchesResponse": {
            "id": "FindThreatMatchesResponse",
            "properties": {
                "matches": {
                    "items": {
                        "$ref": "ThreatMatch"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListThreatListsResponse": {
            "id": "ListThreatListsResponse",
            "properties": {
                "threatLists": {
                    "items": {
                        "$ref": "ThreatListDescriptor"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListUpdateRequest": {
            "id": "ListUpdateRequest",
            "properties": {
                "constraints": {
                    "$ref": "Constraints"
                },
                "platformType": {
                    "enum": [
                        "PLATFORM_TYPE_UNSPECIFIED",
                        "WINDOWS",
                        "LINUX",
                        "ANDROID",
                        "OSX",
                        "IOS",
                        "ANY_PLATFORM",
                        "ALL_PLATFORMS",
                        "CHROME"
                    ],
                    "enumDescriptions": [
                        "Unknown platform.",
                        "Threat posed to Windows.",
                        "Threat posed to Linux.",
                        "Threat posed to Android.",
                        "Threat posed to OS X.",
                        "Threat posed to iOS.",
                        "Threat posed to at least one of the defined platforms.",
                        "Threat posed to all defined platforms.",
                        "Threat posed to Chrome."
                    ],
                    "type": "string"
                },
                "state": {
                    "format": "byte",
                    "type": "string"
                },
                "threatEntryType": {
                    "enum": [
                        "THREAT_ENTRY_TYPE_UNSPECIFIED",
                        "URL",
                        "EXECUTABLE",
                        "IP_RANGE",
                        "CHROME_EXTENSION",
                        "FILENAME",
                        "CERT"
                    ],
                    "enumDescriptions": [
                        "Unspecified.",
                        "A URL.",
                        "An executable program.",
                        "An IP range.",
                        "Chrome extension.",
                        "Filename.",
                        "CERT"
                    ],
                    "type": "string"
                },
                "threatType": {
                    "enum": [
                        "THREAT_TYPE_UNSPECIFIED",
                        "MALWARE",
                        "SOCIAL_ENGINEERING",
                        "UNWANTED_SOFTWARE",
                        "POTENTIALLY_HARMFUL_APPLICATION",
                        "SOCIAL_ENGINEERING_INTERNAL",
                        "API_ABUSE",
                        "MALICIOUS_BINARY",
                        "CSD_WHITELIST",
                        "CSD_DOWNLOAD_WHITELIST",
                        "CLIENT_INCIDENT",
                        "CLIENT_INCIDENT_WHITELIST",
                        "APK_MALWARE_OFFLINE",
                        "SUBRESOURCE_FILTER",
                        "SUSPICIOUS",
                        "TRICK_TO_BILL",
                        "HIGH_CONFIDENCE_ALLOWLIST"
                    ],
                    "enumDescriptions": [
                        "Unknown.",
                        "Malware threat type.",
                        "Social engineering threat type.",
                        "Unwanted software threat type.",
                        "Potentially harmful application threat type.",
                        "Social engineering threat type for internal use.",
                        "API abuse threat type.",
                        "Malicious binary threat type.",
                        "Client side detection whitelist threat type.",
                        "Client side download detection whitelist threat type.",
                        "Client incident threat type.",
                        "Whitelist used when detecting client incident threats.\nThis enum was never launched and should be re-used for the next list.",
                        "List used for offline APK checks in PAM.",
                        "Patterns to be used for activating the subresource filter. Interstitial\nwill not be shown for patterns from this list.",
                        "Entities that are suspected to present a threat.",
                        "Trick-to-bill threat list.",
                        "Safe list to ship hashes of known safe URL expressions."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListUpdateResponse": {
            "id": "ListUpdateResponse",
            "properties": {
                "additions": {
                    "items": {
                        "$ref": "ThreatEntrySet"
                    },
                    "type": "array"
                },
                "checksum": {
                    "$ref": "Checksum"
                },
                "newClientState": {
                    "format": "byte",
                    "type": "string"
                },
                "platformType": {
                    "enum": [
                        "PLATFORM_TYPE_UNSPECIFIED",
                        "WINDOWS",
                        "LINUX",
                        "ANDROID",
                        "OSX",
                        "IOS",
                        "ANY_PLATFORM",
                        "ALL_PLATFORMS",
                        "CHROME"
                    ],
                    "enumDescriptions": [
                        "Unknown platform.",
                        "Threat posed to Windows.",
                        "Threat posed to Linux.",
                        "Threat posed to Android.",
                        "Threat posed to OS X.",
                        "Threat posed to iOS.",
                        "Threat posed to at least one of the defined platforms.",
                        "Threat posed to all defined platforms.",
                        "Threat posed to Chrome."
                    ],
                    "type": "string"
                },
                "removals": {
                    "items": {
                        "$ref": "ThreatEntrySet"
                    },
                    "type": "array"
                },
                "responseType": {
                    "enum": [
                        "RESPONSE_TYPE_UNSPECIFIED",
                        "PARTIAL_UPDATE",
                        "FULL_UPDATE"
                    ],
                    "enumDescriptions": [
                        "Unknown.",
                        "Partial updates are applied to the client's existing local database.",
                        "Full updates replace the client's entire local database. This means\nthat either the client was seriously out-of-date or the client is\nbelieved to be corrupt."
                    ],
                    "type": "string"
                },
                "threatEntryType": {
                    "enum": [
                        "THREAT_ENTRY_TYPE_UNSPECIFIED",
                        "URL",
                        "EXECUTABLE",
                        "IP_RANGE",
                        "CHROME_EXTENSION",
                        "FILENAME",
                        "CERT"
                    ],
                    "enumDescriptions": [
                        "Unspecified.",
                        "A URL.",
                        "An executable program.",
                        "An IP range.",
                        "Chrome extension.",
                        "Filename.",
                        "CERT"
                    ],
                    "type": "string"
                },
                "threatType": {
                    "enum": [
                        "THREAT_TYPE_UNSPECIFIED",
                        "MALWARE",
                        "SOCIAL_ENGINEERING",
                        "UNWANTED_SOFTWARE",
                        "POTENTIALLY_HARMFUL_APPLICATION",
                        "SOCIAL_ENGINEERING_INTERNAL",
                        "API_ABUSE",
                        "MALICIOUS_BINARY",
                        "CSD_WHITELIST",
                        "CSD_DOWNLOAD_WHITELIST",
                        "CLIENT_INCIDENT",
                        "CLIENT_INCIDENT_WHITELIST",
                        "APK_MALWARE_OFFLINE",
                        "SUBRESOURCE_FILTER",
                        "SUSPICIOUS",
                        "TRICK_TO_BILL",
                        "HIGH_CONFIDENCE_ALLOWLIST"
                    ],
                    "enumDescriptions": [
                        "Unknown.",
                        "Malware threat type.",
                        "Social engineering threat type.",
                        "Unwanted software threat type.",
                        "Potentially harmful application threat type.",
                        "Social engineering threat type for internal use.",
                        "API abuse threat type.",
                        "Malicious binary threat type.",
                        "Client side detection whitelist threat type.",
                        "Client side download detection whitelist threat type.",
                        "Client incident threat type.",
                        "Whitelist used when detecting client incident threats.\nThis enum was never launched and should be re-used for the next list.",
                        "List used for offline APK checks in PAM.",
                        "Patterns to be used for activating the subresource filter. Interstitial\nwill not be shown for patterns from this list.",
                        "Entities that are suspected to present a threat.",
                        "Trick-to-bill threat list.",
                        "Safe list to ship hashes of known safe URL expressions."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetadataEntry": {
            "id": "MetadataEntry",
            "properties": {
                "key": {
                    "format": "byte",
                    "type": "string"
                },
                "value": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RawHashes": {
            "id": "RawHashes",
            "properties": {
                "prefixSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "rawHashes": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RawIndices": {
            "id": "RawIndices",
            "properties": {
                "indices": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RiceDeltaEncoding": {
            "id": "RiceDeltaEncoding",
            "properties": {
                "encodedData": {
                    "format": "byte",
                    "type": "string"
                },
                "firstValue": {
                    "format": "int64",
                    "type": "string"
                },
                "numEntries": {
                    "format": "int32",
                    "type": "integer"
                },
                "riceParameter": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ThreatEntry": {
            "id": "ThreatEntry",
            "properties": {
                "digest": {
                    "format": "byte",
                    "type": "string"
                },
                "hash": {
                    "format": "byte",
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ThreatEntryMetadata": {
            "id": "ThreatEntryMetadata",
            "properties": {
                "entries": {
                    "items": {
                        "$ref": "MetadataEntry"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ThreatEntrySet": {
            "id": "ThreatEntrySet",
            "properties": {
                "compressionType": {
                    "enum": [
                        "COMPRESSION_TYPE_UNSPECIFIED",
                        "RAW",
                        "RICE"
                    ],
                    "enumDescriptions": [
                        "Unknown.",
                        "Raw, uncompressed data.",
                        "Rice-Golomb encoded data."
                    ],
                    "type": "string"
                },
                "rawHashes": {
                    "$ref": "RawHashes"
                },
                "rawIndices": {
                    "$ref": "RawIndices"
                },
                "riceHashes": {
                    "$ref": "RiceDeltaEncoding"
                },
                "riceIndices": {
                    "$ref": "RiceDeltaEncoding"
                }
            },
            "type": "object"
        },
        "ThreatHit": {
            "id": "ThreatHit",
            "properties": {
                "clientInfo": {
                    "$ref": "ClientInfo"
                },
                "entry": {
                    "$ref": "ThreatEntry"
                },
                "platformType": {
                    "enum": [
                        "PLATFORM_TYPE_UNSPECIFIED",
                        "WINDOWS",
                        "LINUX",
                        "ANDROID",
                        "OSX",
                        "IOS",
                        "ANY_PLATFORM",
                        "ALL_PLATFORMS",
                        "CHROME"
                    ],
                    "enumDescriptions": [
                        "Unknown platform.",
                        "Threat posed to Windows.",
                        "Threat posed to Linux.",
                        "Threat posed to Android.",
                        "Threat posed to OS X.",
                        "Threat posed to iOS.",
                        "Threat posed to at least one of the defined platforms.",
                        "Threat posed to all defined platforms.",
                        "Threat posed to Chrome."
                    ],
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "ThreatSource"
                    },
                    "type": "array"
                },
                "threatType": {
                    "enum": [
                        "THREAT_TYPE_UNSPECIFIED",
                        "MALWARE",
                        "SOCIAL_ENGINEERING",
                        "UNWANTED_SOFTWARE",
                        "POTENTIALLY_HARMFUL_APPLICATION",
                        "SOCIAL_ENGINEERING_INTERNAL",
                        "API_ABUSE",
                        "MALICIOUS_BINARY",
                        "CSD_WHITELIST",
                        "CSD_DOWNLOAD_WHITELIST",
                        "CLIENT_INCIDENT",
                        "CLIENT_INCIDENT_WHITELIST",
                        "APK_MALWARE_OFFLINE",
                        "SUBRESOURCE_FILTER",
                        "SUSPICIOUS",
                        "TRICK_TO_BILL",
                        "HIGH_CONFIDENCE_ALLOWLIST"
                    ],
                    "enumDescriptions": [
                        "Unknown.",
                        "Malware threat type.",
                        "Social engineering threat type.",
                        "Unwanted software threat type.",
                        "Potentially harmful application threat type.",
                        "Social engineering threat type for internal use.",
                        "API abuse threat type.",
                        "Malicious binary threat type.",
                        "Client side detection whitelist threat type.",
                        "Client side download detection whitelist threat type.",
                        "Client incident threat type.",
                        "Whitelist used when detecting client incident threats.\nThis enum was never launched and should be re-used for the next list.",
                        "List used for offline APK checks in PAM.",
                        "Patterns to be used for activating the subresource filter. Interstitial\nwill not be shown for patterns from this list.",
                        "Entities that are suspected to present a threat.",
                        "Trick-to-bill threat list.",
                        "Safe list to ship hashes of known safe URL expressions."
                    ],
                    "type": "string"
                },
                "userInfo": {
                    "$ref": "UserInfo"
                }
            },
            "type": "object"
        },
        "ThreatInfo": {
            "id": "ThreatInfo",
            "properties": {
                "platformTypes": {
                    "enumDescriptions": [
                        "Unknown platform.",
                        "Threat posed to Windows.",
                        "Threat posed to Linux.",
                        "Threat posed to Android.",
                        "Threat posed to OS X.",
                        "Threat posed to iOS.",
                        "Threat posed to at least one of the defined platforms.",
                        "Threat posed to all defined platforms.",
                        "Threat posed to Chrome."
                    ],
                    "items": {
                        "enum": [
                            "PLATFORM_TYPE_UNSPECIFIED",
                            "WINDOWS",
                            "LINUX",
                            "ANDROID",
                            "OSX",
                            "IOS",
                            "ANY_PLATFORM",
                            "ALL_PLATFORMS",
                            "CHROME"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "threatEntries": {
                    "items": {
                        "$ref": "ThreatEntry"
                    },
                    "type": "array"
                },
                "threatEntryTypes": {
                    "enumDescriptions": [
                        "Unspecified.",
                        "A URL.",
                        "An executable program.",
                        "An IP range.",
                        "Chrome extension.",
                        "Filename.",
                        "CERT"
                    ],
                    "items": {
                        "enum": [
                            "THREAT_ENTRY_TYPE_UNSPECIFIED",
                            "URL",
                            "EXECUTABLE",
                            "IP_RANGE",
                            "CHROME_EXTENSION",
                            "FILENAME",
                            "CERT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "threatTypes": {
                    "enumDescriptions": [
                        "Unknown.",
                        "Malware threat type.",
                        "Social engineering threat type.",
                        "Unwanted software threat type.",
                        "Potentially harmful application threat type.",
                        "Social engineering threat type for internal use.",
                        "API abuse threat type.",
                        "Malicious binary threat type.",
                        "Client side detection whitelist threat type.",
                        "Client side download detection whitelist threat type.",
                        "Client incident threat type.",
                        "Whitelist used when detecting client incident threats.\nThis enum was never launched and should be re-used for the next list.",
                        "List used for offline APK checks in PAM.",
                        "Patterns to be used for activating the subresource filter. Interstitial\nwill not be shown for patterns from this list.",
                        "Entities that are suspected to present a threat.",
                        "Trick-to-bill threat list.",
                        "Safe list to ship hashes of known safe URL expressions."
                    ],
                    "items": {
                        "enum": [
                            "THREAT_TYPE_UNSPECIFIED",
                            "MALWARE",
                            "SOCIAL_ENGINEERING",
                            "UNWANTED_SOFTWARE",
                            "POTENTIALLY_HARMFUL_APPLICATION",
                            "SOCIAL_ENGINEERING_INTERNAL",
                            "API_ABUSE",
                            "MALICIOUS_BINARY",
                            "CSD_WHITELIST",
                            "CSD_DOWNLOAD_WHITELIST",
                            "CLIENT_INCIDENT",
                            "CLIENT_INCIDENT_WHITELIST",
                            "APK_MALWARE_OFFLINE",
                            "SUBRESOURCE_FILTER",
                            "SUSPICIOUS",
                            "TRICK_TO_BILL",
                            "HIGH_CONFIDENCE_ALLOWLIST"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ThreatListDescriptor": {
            "id": "ThreatListDescriptor",
            "properties": {
                "platformType": {
                    "enum": [
                        "PLATFORM_TYPE_UNSPECIFIED",
                        "WINDOWS",
                        "LINUX",
                        "ANDROID",
                        "OSX",
                        "IOS",
                        "ANY_PLATFORM",
                        "ALL_PLATFORMS",
                        "CHROME"
                    ],
                    "enumDescriptions": [
                        "Unknown platform.",
                        "Threat posed to Windows.",
                        "Threat posed to Linux.",
                        "Threat posed to Android.",
                        "Threat posed to OS X.",
                        "Threat posed to iOS.",
                        "Threat posed to at least one of the defined platforms.",
                        "Threat posed to all defined platforms.",
                        "Threat posed to Chrome."
                    ],
                    "type": "string"
                },
                "threatEntryType": {
                    "enum": [
                        "THREAT_ENTRY_TYPE_UNSPECIFIED",
                        "URL",
                        "EXECUTABLE",
                        "IP_RANGE",
                        "CHROME_EXTENSION",
                        "FILENAME",
                        "CERT"
                    ],
                    "enumDescriptions": [
                        "Unspecified.",
                        "A URL.",
                        "An executable program.",
                        "An IP range.",
                        "Chrome extension.",
                        "Filename.",
                        "CERT"
                    ],
                    "type": "string"
                },
                "threatType": {
                    "enum": [
                        "THREAT_TYPE_UNSPECIFIED",
                        "MALWARE",
                        "SOCIAL_ENGINEERING",
                        "UNWANTED_SOFTWARE",
                        "POTENTIALLY_HARMFUL_APPLICATION",
                        "SOCIAL_ENGINEERING_INTERNAL",
                        "API_ABUSE",
                        "MALICIOUS_BINARY",
                        "CSD_WHITELIST",
                        "CSD_DOWNLOAD_WHITELIST",
                        "CLIENT_INCIDENT",
                        "CLIENT_INCIDENT_WHITELIST",
                        "APK_MALWARE_OFFLINE",
                        "SUBRESOURCE_FILTER",
                        "SUSPICIOUS",
                        "TRICK_TO_BILL",
                        "HIGH_CONFIDENCE_ALLOWLIST"
                    ],
                    "enumDescriptions": [
                        "Unknown.",
                        "Malware threat type.",
                        "Social engineering threat type.",
                        "Unwanted software threat type.",
                        "Potentially harmful application threat type.",
                        "Social engineering threat type for internal use.",
                        "API abuse threat type.",
                        "Malicious binary threat type.",
                        "Client side detection whitelist threat type.",
                        "Client side download detection whitelist threat type.",
                        "Client incident threat type.",
                        "Whitelist used when detecting client incident threats.\nThis enum was never launched and should be re-used for the next list.",
                        "List used for offline APK checks in PAM.",
                        "Patterns to be used for activating the subresource filter. Interstitial\nwill not be shown for patterns from this list.",
                        "Entities that are suspected to present a threat.",
                        "Trick-to-bill threat list.",
                        "Safe list to ship hashes of known safe URL expressions."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ThreatMatch": {
            "id": "ThreatMatch",
            "properties": {
                "cacheDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "platformType": {
                    "enum": [
                        "PLATFORM_TYPE_UNSPECIFIED",
                        "WINDOWS",
                        "LINUX",
                        "ANDROID",
                        "OSX",
                        "IOS",
                        "ANY_PLATFORM",
                        "ALL_PLATFORMS",
                        "CHROME"
                    ],
                    "enumDescriptions": [
                        "Unknown platform.",
                        "Threat posed to Windows.",
                        "Threat posed to Linux.",
                        "Threat posed to Android.",
                        "Threat posed to OS X.",
                        "Threat posed to iOS.",
                        "Threat posed to at least one of the defined platforms.",
                        "Threat posed to all defined platforms.",
                        "Threat posed to Chrome."
                    ],
                    "type": "string"
                },
                "threat": {
                    "$ref": "ThreatEntry"
                },
                "threatEntryMetadata": {
                    "$ref": "ThreatEntryMetadata"
                },
                "threatEntryType": {
                    "enum": [
                        "THREAT_ENTRY_TYPE_UNSPECIFIED",
                        "URL",
                        "EXECUTABLE",
                        "IP_RANGE",
                        "CHROME_EXTENSION",
                        "FILENAME",
                        "CERT"
                    ],
                    "enumDescriptions": [
                        "Unspecified.",
                        "A URL.",
                        "An executable program.",
                        "An IP range.",
                        "Chrome extension.",
                        "Filename.",
                        "CERT"
                    ],
                    "type": "string"
                },
                "threatType": {
                    "enum": [
                        "THREAT_TYPE_UNSPECIFIED",
                        "MALWARE",
                        "SOCIAL_ENGINEERING",
                        "UNWANTED_SOFTWARE",
                        "POTENTIALLY_HARMFUL_APPLICATION",
                        "SOCIAL_ENGINEERING_INTERNAL",
                        "API_ABUSE",
                        "MALICIOUS_BINARY",
                        "CSD_WHITELIST",
                        "CSD_DOWNLOAD_WHITELIST",
                        "CLIENT_INCIDENT",
                        "CLIENT_INCIDENT_WHITELIST",
                        "APK_MALWARE_OFFLINE",
                        "SUBRESOURCE_FILTER",
                        "SUSPICIOUS",
                        "TRICK_TO_BILL",
                        "HIGH_CONFIDENCE_ALLOWLIST"
                    ],
                    "enumDescriptions": [
                        "Unknown.",
                        "Malware threat type.",
                        "Social engineering threat type.",
                        "Unwanted software threat type.",
                        "Potentially harmful application threat type.",
                        "Social engineering threat type for internal use.",
                        "API abuse threat type.",
                        "Malicious binary threat type.",
                        "Client side detection whitelist threat type.",
                        "Client side download detection whitelist threat type.",
                        "Client incident threat type.",
                        "Whitelist used when detecting client incident threats.\nThis enum was never launched and should be re-used for the next list.",
                        "List used for offline APK checks in PAM.",
                        "Patterns to be used for activating the subresource filter. Interstitial\nwill not be shown for patterns from this list.",
                        "Entities that are suspected to present a threat.",
                        "Trick-to-bill threat list.",
                        "Safe list to ship hashes of known safe URL expressions."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ThreatSource": {
            "id": "ThreatSource",
            "properties": {
                "referrer": {
                    "type": "string"
                },
                "remoteIp": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "THREAT_SOURCE_TYPE_UNSPECIFIED",
                        "MATCHING_URL",
                        "TAB_URL",
                        "TAB_REDIRECT",
                        "TAB_RESOURCE"
                    ],
                    "enumDescriptions": [
                        "Unknown.",
                        "The URL that matched the threat list (for which GetFullHash returned a\nvalid hash).",
                        "The final top-level URL of the tab that the client was browsing when the\nmatch occurred.",
                        "A redirect URL that was fetched before hitting the final TAB_URL.",
                        "A resource loaded within the final TAB_URL."
                    ],
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UserInfo": {
            "id": "UserInfo",
            "properties": {
                "regionCode": {
                    "type": "string"
                },
                "userId": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Safe Browsing API",
    "version": "v4"
}