{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://mail.google.com/": {},
                "https://www.google.com/calendar/feeds": {},
                "https://www.google.com/m8/feeds": {},
                "https://www.googleapis.com/auth/admin.directory.group": {},
                "https://www.googleapis.com/auth/admin.directory.user": {},
                "https://www.googleapis.com/auth/documents": {},
                "https://www.googleapis.com/auth/drive": {},
                "https://www.googleapis.com/auth/forms": {},
                "https://www.googleapis.com/auth/forms.currentonly": {},
                "https://www.googleapis.com/auth/groups": {},
                "https://www.googleapis.com/auth/script.deployments": {},
                "https://www.googleapis.com/auth/script.deployments.readonly": {},
                "https://www.googleapis.com/auth/script.metrics": {},
                "https://www.googleapis.com/auth/script.processes": {},
                "https://www.googleapis.com/auth/script.projects": {},
                "https://www.googleapis.com/auth/script.projects.readonly": {},
                "https://www.googleapis.com/auth/spreadsheets": {},
                "https://www.googleapis.com/auth/userinfo.email": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://script.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Script",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/apps-script/api/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "script:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://script.mtls.googleapis.com/",
    "name": "script",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "processes": {
            "methods": {
                "list": {
                    "flatPath": "v1/processes",
                    "httpMethod": "GET",
                    "id": "script.processes.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProcessFilter.deploymentId": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProcessFilter.endTime": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        },
                        "userProcessFilter.functionName": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProcessFilter.projectName": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProcessFilter.scriptId": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProcessFilter.startTime": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        },
                        "userProcessFilter.statuses": {
                            "enum": [
                                "PROCESS_STATUS_UNSPECIFIED",
                                "RUNNING",
                                "PAUSED",
                                "COMPLETED",
                                "CANCELED",
                                "FAILED",
                                "TIMED_OUT",
                                "UNKNOWN",
                                "DELAYED"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "userProcessFilter.types": {
                            "enum": [
                                "PROCESS_TYPE_UNSPECIFIED",
                                "ADD_ON",
                                "EXECUTION_API",
                                "TIME_DRIVEN",
                                "TRIGGER",
                                "WEBAPP",
                                "EDITOR",
                                "SIMPLE_TRIGGER",
                                "MENU",
                                "BATCH_TASK"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "userProcessFilter.userAccessLevels": {
                            "enum": [
                                "USER_ACCESS_LEVEL_UNSPECIFIED",
                                "NONE",
                                "READ",
                                "WRITE",
                                "OWNER"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/processes",
                    "response": {
                        "$ref": "ListUserProcessesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/script.processes"
                    ]
                },
                "listScriptProcesses": {
                    "flatPath": "v1/processes:listScriptProcesses",
                    "httpMethod": "GET",
                    "id": "script.processes.listScriptProcesses",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "scriptId": {
                            "location": "query",
                            "type": "string"
                        },
                        "scriptProcessFilter.deploymentId": {
                            "location": "query",
                            "type": "string"
                        },
                        "scriptProcessFilter.endTime": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        },
                        "scriptProcessFilter.functionName": {
                            "location": "query",
                            "type": "string"
                        },
                        "scriptProcessFilter.startTime": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        },
                        "scriptProcessFilter.statuses": {
                            "enum": [
                                "PROCESS_STATUS_UNSPECIFIED",
                                "RUNNING",
                                "PAUSED",
                                "COMPLETED",
                                "CANCELED",
                                "FAILED",
                                "TIMED_OUT",
                                "UNKNOWN",
                                "DELAYED"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "scriptProcessFilter.types": {
                            "enum": [
                                "PROCESS_TYPE_UNSPECIFIED",
                                "ADD_ON",
                                "EXECUTION_API",
                                "TIME_DRIVEN",
                                "TRIGGER",
                                "WEBAPP",
                                "EDITOR",
                                "SIMPLE_TRIGGER",
                                "MENU",
                                "BATCH_TASK"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "scriptProcessFilter.userAccessLevels": {
                            "enum": [
                                "USER_ACCESS_LEVEL_UNSPECIFIED",
                                "NONE",
                                "READ",
                                "WRITE",
                                "OWNER"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/processes:listScriptProcesses",
                    "response": {
                        "$ref": "ListScriptProcessesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/script.processes"
                    ]
                }
            }
        },
        "projects": {
            "methods": {
                "create": {
                    "flatPath": "v1/projects",
                    "httpMethod": "POST",
                    "id": "script.projects.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/projects",
                    "request": {
                        "$ref": "CreateProjectRequest"
                    },
                    "response": {
                        "$ref": "Project"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/script.projects"
                    ]
                },
                "get": {
                    "flatPath": "v1/projects/{scriptId}",
                    "httpMethod": "GET",
                    "id": "script.projects.get",
                    "parameterOrder": [
                        "scriptId"
                    ],
                    "parameters": {
                        "scriptId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{scriptId}",
                    "response": {
                        "$ref": "Project"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/script.projects",
                        "https://www.googleapis.com/auth/script.projects.readonly"
                    ]
                },
                "getContent": {
                    "flatPath": "v1/projects/{scriptId}/content",
                    "httpMethod": "GET",
                    "id": "script.projects.getContent",
                    "parameterOrder": [
                        "scriptId"
                    ],
                    "parameters": {
                        "scriptId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "versionNumber": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v1/projects/{scriptId}/content",
                    "response": {
                        "$ref": "Content"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/script.projects",
                        "https://www.googleapis.com/auth/script.projects.readonly"
                    ]
                },
                "getMetrics": {
                    "flatPath": "v1/projects/{scriptId}/metrics",
                    "httpMethod": "GET",
                    "id": "script.projects.getMetrics",
                    "parameterOrder": [
                        "scriptId"
                    ],
                    "parameters": {
                        "metricsFilter.deploymentId": {
                            "location": "query",
                            "type": "string"
                        },
                        "metricsGranularity": {
                            "enum": [
                                "UNSPECIFIED_GRANULARITY",
                                "WEEKLY",
                                "DAILY"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "scriptId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{scriptId}/metrics",
                    "response": {
                        "$ref": "Metrics"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/script.metrics"
                    ]
                },
                "updateContent": {
                    "flatPath": "v1/projects/{scriptId}/content",
                    "httpMethod": "PUT",
                    "id": "script.projects.updateContent",
                    "parameterOrder": [
                        "scriptId"
                    ],
                    "parameters": {
                        "scriptId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{scriptId}/content",
                    "request": {
                        "$ref": "Content"
                    },
                    "response": {
                        "$ref": "Content"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/script.projects"
                    ]
                }
            },
            "resources": {
                "deployments": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{scriptId}/deployments",
                            "httpMethod": "POST",
                            "id": "script.projects.deployments.create",
                            "parameterOrder": [
                                "scriptId"
                            ],
                            "parameters": {
                                "scriptId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{scriptId}/deployments",
                            "request": {
                                "$ref": "DeploymentConfig"
                            },
                            "response": {
                                "$ref": "Deployment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/script.deployments"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
                            "httpMethod": "DELETE",
                            "id": "script.projects.deployments.delete",
                            "parameterOrder": [
                                "scriptId",
                                "deploymentId"
                            ],
                            "parameters": {
                                "deploymentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "scriptId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/script.deployments"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
                            "httpMethod": "GET",
                            "id": "script.projects.deployments.get",
                            "parameterOrder": [
                                "scriptId",
                                "deploymentId"
                            ],
                            "parameters": {
                                "deploymentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "scriptId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
                            "response": {
                                "$ref": "Deployment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/script.deployments",
                                "https://www.googleapis.com/auth/script.deployments.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{scriptId}/deployments",
                            "httpMethod": "GET",
                            "id": "script.projects.deployments.list",
                            "parameterOrder": [
                                "scriptId"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "scriptId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{scriptId}/deployments",
                            "response": {
                                "$ref": "ListDeploymentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/script.deployments",
                                "https://www.googleapis.com/auth/script.deployments.readonly"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
                            "httpMethod": "PUT",
                            "id": "script.projects.deployments.update",
                            "parameterOrder": [
                                "scriptId",
                                "deploymentId"
                            ],
                            "parameters": {
                                "deploymentId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "scriptId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
                            "request": {
                                "$ref": "UpdateDeploymentRequest"
                            },
                            "response": {
                                "$ref": "Deployment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/script.deployments"
                            ]
                        }
                    }
                },
                "versions": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{scriptId}/versions",
                            "httpMethod": "POST",
                            "id": "script.projects.versions.create",
                            "parameterOrder": [
                                "scriptId"
                            ],
                            "parameters": {
                                "scriptId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{scriptId}/versions",
                            "request": {
                                "$ref": "Version"
                            },
                            "response": {
                                "$ref": "Version"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/script.projects"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
                            "httpMethod": "GET",
                            "id": "script.projects.versions.get",
                            "parameterOrder": [
                                "scriptId",
                                "versionNumber"
                            ],
                            "parameters": {
                                "scriptId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "versionNumber": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                }
                            },
                            "path": "v1/projects/{scriptId}/versions/{versionNumber}",
                            "response": {
                                "$ref": "Version"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/script.projects",
                                "https://www.googleapis.com/auth/script.projects.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{scriptId}/versions",
                            "httpMethod": "GET",
                            "id": "script.projects.versions.list",
                            "parameterOrder": [
                                "scriptId"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "scriptId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{scriptId}/versions",
                            "response": {
                                "$ref": "ListVersionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/script.projects",
                                "https://www.googleapis.com/auth/script.projects.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "scripts": {
            "methods": {
                "run": {
                    "flatPath": "v1/scripts/{scriptId}:run",
                    "httpMethod": "POST",
                    "id": "script.scripts.run",
                    "parameterOrder": [
                        "scriptId"
                    ],
                    "parameters": {
                        "scriptId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/scripts/{scriptId}:run",
                    "request": {
                        "$ref": "ExecutionRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://mail.google.com/",
                        "https://www.google.com/calendar/feeds",
                        "https://www.google.com/m8/feeds",
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.user",
                        "https://www.googleapis.com/auth/documents",
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/forms",
                        "https://www.googleapis.com/auth/forms.currentonly",
                        "https://www.googleapis.com/auth/groups",
                        "https://www.googleapis.com/auth/spreadsheets",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://script.googleapis.com/",
    "schemas": {
        "Content": {
            "id": "Content",
            "properties": {
                "files": {
                    "items": {
                        "$ref": "File"
                    },
                    "type": "array"
                },
                "scriptId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateProjectRequest": {
            "id": "CreateProjectRequest",
            "properties": {
                "parentId": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Deployment": {
            "id": "Deployment",
            "properties": {
                "deploymentConfig": {
                    "$ref": "DeploymentConfig"
                },
                "deploymentId": {
                    "type": "string"
                },
                "entryPoints": {
                    "items": {
                        "$ref": "EntryPoint"
                    },
                    "type": "array"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentConfig": {
            "id": "DeploymentConfig",
            "properties": {
                "manifestFileName": {
                    "type": "string"
                },
                "scriptId": {
                    "type": "string"
                },
                "versionNumber": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EntryPoint": {
            "id": "EntryPoint",
            "properties": {
                "addOn": {
                    "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
                },
                "entryPointType": {
                    "enum": [
                        "ENTRY_POINT_TYPE_UNSPECIFIED",
                        "WEB_APP",
                        "EXECUTION_API",
                        "ADD_ON"
                    ],
                    "enumDescriptions": [
                        "An unspecified entry point.",
                        "A web application entry point.",
                        "An API executable entry point.",
                        "An Add-On entry point."
                    ],
                    "type": "string"
                },
                "executionApi": {
                    "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint"
                },
                "webApp": {
                    "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
                }
            },
            "type": "object"
        },
        "ExecuteStreamResponse": {
            "id": "ExecuteStreamResponse",
            "properties": {
                "result": {
                    "$ref": "ScriptExecutionResult"
                }
            },
            "type": "object"
        },
        "ExecutionError": {
            "id": "ExecutionError",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "errorType": {
                    "type": "string"
                },
                "scriptStackTraceElements": {
                    "items": {
                        "$ref": "ScriptStackTraceElement"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ExecutionRequest": {
            "id": "ExecutionRequest",
            "properties": {
                "devMode": {
                    "type": "boolean"
                },
                "function": {
                    "type": "string"
                },
                "parameters": {
                    "items": {
                        "type": "any"
                    },
                    "type": "array"
                },
                "sessionState": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExecutionResponse": {
            "id": "ExecutionResponse",
            "properties": {
                "result": {
                    "type": "any"
                }
            },
            "type": "object"
        },
        "File": {
            "id": "File",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "functionSet": {
                    "$ref": "GoogleAppsScriptTypeFunctionSet"
                },
                "lastModifyUser": {
                    "$ref": "GoogleAppsScriptTypeUser"
                },
                "name": {
                    "type": "string"
                },
                "source": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "ENUM_TYPE_UNSPECIFIED",
                        "SERVER_JS",
                        "HTML",
                        "JSON"
                    ],
                    "enumDescriptions": [
                        "Undetermined file type; never actually used.",
                        "An Apps Script server-side code file.",
                        "A file containing client-side HTML.",
                        "A file in JSON format. This type is only used for the script\nproject's manifest. The manifest file content must match the\nstructure of a valid\n[ScriptManifest](/apps-script/concepts/manifests)"
                    ],
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleAppsScriptTypeAddOnEntryPoint": {
            "id": "GoogleAppsScriptTypeAddOnEntryPoint",
            "properties": {
                "addOnType": {
                    "enum": [
                        "UNKNOWN_ADDON_TYPE",
                        "GMAIL",
                        "DATA_STUDIO"
                    ],
                    "enumDescriptions": [
                        "Default value, unknown add-on type.",
                        "Add-on type for Gmail.",
                        "Add-on type for Data Studio."
                    ],
                    "type": "string"
                },
                "helpUrl": {
                    "type": "string"
                },
                "postInstallTipUrl": {
                    "type": "string"
                },
                "reportIssueUrl": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleAppsScriptTypeExecutionApiConfig": {
            "id": "GoogleAppsScriptTypeExecutionApiConfig",
            "properties": {
                "access": {
                    "enum": [
                        "UNKNOWN_ACCESS",
                        "MYSELF",
                        "DOMAIN",
                        "ANYONE",
                        "ANYONE_ANONYMOUS"
                    ],
                    "enumDescriptions": [
                        "Default value, should not be used.",
                        "Only the user who deployed the web app or executable can access it.\nNote that this is not necessarily the owner of the script project.",
                        "Only users in the same domain as the user who deployed the web app or\nexecutable can access it.",
                        "Any logged in user can access the web app or executable.",
                        "Any user, logged in or not, can access the web app or executable."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleAppsScriptTypeExecutionApiEntryPoint": {
            "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
            "properties": {
                "entryPointConfig": {
                    "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
                }
            },
            "type": "object"
        },
        "GoogleAppsScriptTypeFunction": {
            "id": "GoogleAppsScriptTypeFunction",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleAppsScriptTypeFunctionSet": {
            "id": "GoogleAppsScriptTypeFunctionSet",
            "properties": {
                "values": {
                    "items": {
                        "$ref": "GoogleAppsScriptTypeFunction"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleAppsScriptTypeProcess": {
            "id": "GoogleAppsScriptTypeProcess",
            "properties": {
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "functionName": {
                    "type": "string"
                },
                "processStatus": {
                    "enum": [
                        "PROCESS_STATUS_UNSPECIFIED",
                        "RUNNING",
                        "PAUSED",
                        "COMPLETED",
                        "CANCELED",
                        "FAILED",
                        "TIMED_OUT",
                        "UNKNOWN",
                        "DELAYED"
                    ],
                    "enumDescriptions": [
                        "Unspecified status.",
                        "The process is currently running.",
                        "The process has paused.",
                        "The process has completed.",
                        "The process was cancelled.",
                        "The process failed.",
                        "The process timed out.",
                        "Process status unknown.",
                        "The process is delayed, waiting for quota."
                    ],
                    "type": "string"
                },
                "processType": {
                    "enum": [
                        "PROCESS_TYPE_UNSPECIFIED",
                        "ADD_ON",
                        "EXECUTION_API",
                        "TIME_DRIVEN",
                        "TRIGGER",
                        "WEBAPP",
                        "EDITOR",
                        "SIMPLE_TRIGGER",
                        "MENU",
                        "BATCH_TASK"
                    ],
                    "enumDescriptions": [
                        "Unspecified type.",
                        "The process was started from an add-on entry point.",
                        "The process was started using the Apps Script API.",
                        "The process was started from a time-based trigger.",
                        "The process was started from an event-based trigger.",
                        "The process was started from a web app entry point.",
                        "The process was started using the Apps Script IDE.",
                        "The process was started from a G Suite simple trigger.",
                        "The process was started from a G Suite menu item.",
                        "The process was started as a task in a batch job."
                    ],
                    "type": "string"
                },
                "projectName": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "userAccessLevel": {
                    "enum": [
                        "USER_ACCESS_LEVEL_UNSPECIFIED",
                        "NONE",
                        "READ",
                        "WRITE",
                        "OWNER"
                    ],
                    "enumDescriptions": [
                        "User access level unspecified",
                        "The user has no access.",
                        "The user has read-only access.",
                        "The user has write access.",
                        "The user is an owner."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleAppsScriptTypeUser": {
            "id": "GoogleAppsScriptTypeUser",
            "properties": {
                "domain": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "photoUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleAppsScriptTypeWebAppConfig": {
            "id": "GoogleAppsScriptTypeWebAppConfig",
            "properties": {
                "access": {
                    "enum": [
                        "UNKNOWN_ACCESS",
                        "MYSELF",
                        "DOMAIN",
                        "ANYONE",
                        "ANYONE_ANONYMOUS"
                    ],
                    "enumDescriptions": [
                        "Default value, should not be used.",
                        "Only the user who deployed the web app or executable can access it.\nNote that this is not necessarily the owner of the script project.",
                        "Only users in the same domain as the user who deployed the web app or\nexecutable can access it.",
                        "Any logged in user can access the web app or executable.",
                        "Any user, logged in or not, can access the web app or executable."
                    ],
                    "type": "string"
                },
                "executeAs": {
                    "enum": [
                        "UNKNOWN_EXECUTE_AS",
                        "USER_ACCESSING",
                        "USER_DEPLOYING"
                    ],
                    "enumDescriptions": [
                        "Default value, should not be used.",
                        "The script runs as the user accessing the web app.",
                        "The script runs as the user who deployed the web app. Note that this is\nnot necessarily the owner of the script project."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleAppsScriptTypeWebAppEntryPoint": {
            "id": "GoogleAppsScriptTypeWebAppEntryPoint",
            "properties": {
                "entryPointConfig": {
                    "$ref": "GoogleAppsScriptTypeWebAppConfig"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDeploymentsResponse": {
            "id": "ListDeploymentsResponse",
            "properties": {
                "deployments": {
                    "items": {
                        "$ref": "Deployment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListScriptProcessesResponse": {
            "id": "ListScriptProcessesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "processes": {
                    "items": {
                        "$ref": "GoogleAppsScriptTypeProcess"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListUserProcessesResponse": {
            "id": "ListUserProcessesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "processes": {
                    "items": {
                        "$ref": "GoogleAppsScriptTypeProcess"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListValue": {
            "id": "ListValue",
            "properties": {
                "values": {
                    "items": {
                        "$ref": "Value"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListVersionsResponse": {
            "id": "ListVersionsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "versions": {
                    "items": {
                        "$ref": "Version"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Metrics": {
            "id": "Metrics",
            "properties": {
                "activeUsers": {
                    "items": {
                        "$ref": "MetricsValue"
                    },
                    "type": "array"
                },
                "failedExecutions": {
                    "items": {
                        "$ref": "MetricsValue"
                    },
                    "type": "array"
                },
                "totalExecutions": {
                    "items": {
                        "$ref": "MetricsValue"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MetricsValue": {
            "id": "MetricsValue",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "value": {
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Project": {
            "id": "Project",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "creator": {
                    "$ref": "GoogleAppsScriptTypeUser"
                },
                "lastModifyUser": {
                    "$ref": "GoogleAppsScriptTypeUser"
                },
                "parentId": {
                    "type": "string"
                },
                "scriptId": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ScriptExecutionResult": {
            "id": "ScriptExecutionResult",
            "properties": {
                "returnValue": {
                    "$ref": "Value"
                }
            },
            "type": "object"
        },
        "ScriptStackTraceElement": {
            "id": "ScriptStackTraceElement",
            "properties": {
                "function": {
                    "type": "string"
                },
                "lineNumber": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Struct": {
            "id": "Struct",
            "properties": {
                "fields": {
                    "additionalProperties": {
                        "$ref": "Value"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "UpdateDeploymentRequest": {
            "id": "UpdateDeploymentRequest",
            "properties": {
                "deploymentConfig": {
                    "$ref": "DeploymentConfig"
                }
            },
            "type": "object"
        },
        "Value": {
            "id": "Value",
            "properties": {
                "boolValue": {
                    "type": "boolean"
                },
                "bytesValue": {
                    "format": "byte",
                    "type": "string"
                },
                "dateValue": {
                    "format": "int64",
                    "type": "string"
                },
                "listValue": {
                    "$ref": "ListValue"
                },
                "nullValue": {
                    "enum": [
                        "NULL_VALUE"
                    ],
                    "enumDescriptions": [
                        "Null value."
                    ],
                    "type": "string"
                },
                "numberValue": {
                    "format": "double",
                    "type": "number"
                },
                "protoValue": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "stringValue": {
                    "type": "string"
                },
                "structValue": {
                    "$ref": "Struct"
                }
            },
            "type": "object"
        },
        "Version": {
            "id": "Version",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "scriptId": {
                    "type": "string"
                },
                "versionNumber": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Apps Script API",
    "version": "v1"
}