{
    "basePath": "",
    "baseUrl": "https://searchconsole.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Search Console",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/webmaster-tools/search-console-api/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "searchconsole:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://searchconsole.mtls.googleapis.com/",
    "name": "searchconsole",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "urlTestingTools": {
            "resources": {
                "mobileFriendlyTest": {
                    "methods": {
                        "run": {
                            "flatPath": "v1/urlTestingTools/mobileFriendlyTest:run",
                            "httpMethod": "POST",
                            "id": "searchconsole.urlTestingTools.mobileFriendlyTest.run",
                            "parameterOrder": [],
                            "parameters": {},
                            "path": "v1/urlTestingTools/mobileFriendlyTest:run",
                            "request": {
                                "$ref": "RunMobileFriendlyTestRequest"
                            },
                            "response": {
                                "$ref": "RunMobileFriendlyTestResponse"
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://searchconsole.googleapis.com/",
    "schemas": {
        "BlockedResource": {
            "id": "BlockedResource",
            "properties": {
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Image": {
            "id": "Image",
            "properties": {
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "mimeType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MobileFriendlyIssue": {
            "id": "MobileFriendlyIssue",
            "properties": {
                "rule": {
                    "enum": [
                        "MOBILE_FRIENDLY_RULE_UNSPECIFIED",
                        "USES_INCOMPATIBLE_PLUGINS",
                        "CONFIGURE_VIEWPORT",
                        "FIXED_WIDTH_VIEWPORT",
                        "SIZE_CONTENT_TO_VIEWPORT",
                        "USE_LEGIBLE_FONT_SIZES",
                        "TAP_TARGETS_TOO_CLOSE"
                    ],
                    "enumDescriptions": [
                        "Unknown rule. Sorry, we don't have any description for the rule that was\nbroken.",
                        "Plugins incompatible with mobile devices are being used. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#flash_usage).",
                        "Viewsport is not specified using the meta viewport tag. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#viewport_not_configured).",
                        "Viewport defined to a fixed width. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).",
                        "Content not sized to viewport. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).",
                        "Font size is too small for easy reading on a small screen. [Learn More]\n(https://support.google.com/webmasters/answer/6352293#small_font_size).",
                        "Touch elements are too close to each other. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#touch_elements_too_close)."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResourceIssue": {
            "id": "ResourceIssue",
            "properties": {
                "blockedResource": {
                    "$ref": "BlockedResource"
                }
            },
            "type": "object"
        },
        "RunMobileFriendlyTestRequest": {
            "id": "RunMobileFriendlyTestRequest",
            "properties": {
                "requestScreenshot": {
                    "type": "boolean"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RunMobileFriendlyTestResponse": {
            "id": "RunMobileFriendlyTestResponse",
            "properties": {
                "mobileFriendliness": {
                    "enum": [
                        "MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED",
                        "MOBILE_FRIENDLY",
                        "NOT_MOBILE_FRIENDLY"
                    ],
                    "enumDescriptions": [
                        "Internal error when running this test. Please try running the test again.",
                        "The page is mobile friendly.",
                        "The page is not mobile friendly."
                    ],
                    "type": "string"
                },
                "mobileFriendlyIssues": {
                    "items": {
                        "$ref": "MobileFriendlyIssue"
                    },
                    "type": "array"
                },
                "resourceIssues": {
                    "items": {
                        "$ref": "ResourceIssue"
                    },
                    "type": "array"
                },
                "screenshot": {
                    "$ref": "Image"
                },
                "testStatus": {
                    "$ref": "TestStatus"
                }
            },
            "type": "object"
        },
        "TestStatus": {
            "id": "TestStatus",
            "properties": {
                "details": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "TEST_STATUS_UNSPECIFIED",
                        "COMPLETE",
                        "INTERNAL_ERROR",
                        "PAGE_UNREACHABLE"
                    ],
                    "enumDescriptions": [
                        "Internal error when running this test. Please try running the test again.",
                        "Inspection has completed without errors.",
                        "Inspection terminated in an error state. This indicates a problem in\nGoogle's infrastructure, not a user error. Please try again later.",
                        "Google can not access the URL because of a user error such as a robots.txt\nblockage, a 403 or 500 code etc. Please make sure that the URL provided is\naccessible by Googlebot and is not password protected."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Search Console URL Testing Tools API",
    "version": "v1",
    "version_module": true
}