{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://securitycenter.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Security Command Center",
    "discoveryVersion": "v1",
    "documentationLink": "https://console.cloud.google.com/apis/api/securitycenter.googleapis.com/overview",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "securitycenter:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
    "name": "securitycenter",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "organizations": {
            "methods": {
                "getOrganizationSettings": {
                    "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
                    "httpMethod": "GET",
                    "id": "securitycenter.organizations.getOrganizationSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+/organizationSettings$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "OrganizationSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "updateOrganizationSettings": {
                    "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
                    "httpMethod": "PATCH",
                    "id": "securitycenter.organizations.updateOrganizationSettings",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^organizations/[^/]+/organizationSettings$",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "OrganizationSettings"
                    },
                    "response": {
                        "$ref": "OrganizationSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "assets": {
                    "methods": {
                        "group": {
                            "flatPath": "v1/organizations/{organizationsId}/assets:group",
                            "httpMethod": "POST",
                            "id": "securitycenter.organizations.assets.group",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/assets:group",
                            "request": {
                                "$ref": "GroupAssetsRequest"
                            },
                            "response": {
                                "$ref": "GroupAssetsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/assets",
                            "httpMethod": "GET",
                            "id": "securitycenter.organizations.assets.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "compareDuration": {
                                    "format": "google-duration",
                                    "location": "query",
                                    "type": "string"
                                },
                                "fieldMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "readTime": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/assets",
                            "response": {
                                "$ref": "ListAssetsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "runDiscovery": {
                            "flatPath": "v1/organizations/{organizationsId}/assets:runDiscovery",
                            "httpMethod": "POST",
                            "id": "securitycenter.organizations.assets.runDiscovery",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/assets:runDiscovery",
                            "request": {
                                "$ref": "RunAssetDiscoveryRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "updateSecurityMarks": {
                            "flatPath": "v1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
                            "httpMethod": "PATCH",
                            "id": "securitycenter.organizations.assets.updateSecurityMarks",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                                    "required": true,
                                    "type": "string"
                                },
                                "startTime": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "SecurityMarks"
                            },
                            "response": {
                                "$ref": "SecurityMarks"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "notificationConfigs": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
                            "httpMethod": "POST",
                            "id": "securitycenter.organizations.notificationConfigs.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "configId": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/notificationConfigs",
                            "request": {
                                "$ref": "NotificationConfig"
                            },
                            "response": {
                                "$ref": "NotificationConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
                            "httpMethod": "DELETE",
                            "id": "securitycenter.organizations.notificationConfigs.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
                            "httpMethod": "GET",
                            "id": "securitycenter.organizations.notificationConfigs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "NotificationConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
                            "httpMethod": "GET",
                            "id": "securitycenter.organizations.notificationConfigs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/notificationConfigs",
                            "response": {
                                "$ref": "ListNotificationConfigsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
                            "httpMethod": "PATCH",
                            "id": "securitycenter.organizations.notificationConfigs.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "NotificationConfig"
                            },
                            "response": {
                                "$ref": "NotificationConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}:cancel",
                            "httpMethod": "POST",
                            "id": "securitycenter.organizations.operations.cancel",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:cancel",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}",
                            "httpMethod": "DELETE",
                            "id": "securitycenter.organizations.operations.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "securitycenter.organizations.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/operations",
                            "httpMethod": "GET",
                            "id": "securitycenter.organizations.operations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/operations$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "ListOperationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "sources": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/organizations/{organizationsId}/sources",
                            "httpMethod": "POST",
                            "id": "securitycenter.organizations.sources.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/sources",
                            "request": {
                                "$ref": "Source"
                            },
                            "response": {
                                "$ref": "Source"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}",
                            "httpMethod": "GET",
                            "id": "securitycenter.organizations.sources.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/sources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Source"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
                            "httpMethod": "POST",
                            "id": "securitycenter.organizations.sources.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/sources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "request": {
                                "$ref": "GetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/organizations/{organizationsId}/sources",
                            "httpMethod": "GET",
                            "id": "securitycenter.organizations.sources.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/sources",
                            "response": {
                                "$ref": "ListSourcesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}",
                            "httpMethod": "PATCH",
                            "id": "securitycenter.organizations.sources.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/sources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Source"
                            },
                            "response": {
                                "$ref": "Source"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "securitycenter.organizations.sources.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/sources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "securitycenter.organizations.sources.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/sources/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "findings": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                                    "httpMethod": "POST",
                                    "id": "securitycenter.organizations.sources.findings.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "findingId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/sources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/findings",
                                    "request": {
                                        "$ref": "Finding"
                                    },
                                    "response": {
                                        "$ref": "Finding"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "group": {
                                    "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                                    "httpMethod": "POST",
                                    "id": "securitycenter.organizations.sources.findings.group",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/sources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/findings:group",
                                    "request": {
                                        "$ref": "GroupFindingsRequest"
                                    },
                                    "response": {
                                        "$ref": "GroupFindingsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                                    "httpMethod": "GET",
                                    "id": "securitycenter.organizations.sources.findings.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "compareDuration": {
                                            "format": "google-duration",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "fieldMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "orderBy": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/sources/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "readTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/findings",
                                    "response": {
                                        "$ref": "ListFindingsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                                    "httpMethod": "PATCH",
                                    "id": "securitycenter.organizations.sources.findings.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Finding"
                                    },
                                    "response": {
                                        "$ref": "Finding"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "setState": {
                                    "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                                    "httpMethod": "POST",
                                    "id": "securitycenter.organizations.sources.findings.setState",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:setState",
                                    "request": {
                                        "$ref": "SetFindingStateRequest"
                                    },
                                    "response": {
                                        "$ref": "Finding"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "updateSecurityMarks": {
                                    "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                                    "httpMethod": "PATCH",
                                    "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "format": "google-datetime",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "SecurityMarks"
                                    },
                                    "response": {
                                        "$ref": "SecurityMarks"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://securitycenter.googleapis.com/",
    "schemas": {
        "Asset": {
            "id": "Asset",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "iamPolicy": {
                    "$ref": "IamPolicy"
                },
                "name": {
                    "type": "string"
                },
                "resourceProperties": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "securityCenterProperties": {
                    "$ref": "SecurityCenterProperties"
                },
                "securityMarks": {
                    "$ref": "SecurityMarks"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AssetDiscoveryConfig": {
            "id": "AssetDiscoveryConfig",
            "properties": {
                "inclusionMode": {
                    "enum": [
                        "INCLUSION_MODE_UNSPECIFIED",
                        "INCLUDE_ONLY",
                        "EXCLUDE"
                    ],
                    "type": "string"
                },
                "projectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Finding": {
            "id": "Finding",
            "properties": {
                "category": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "eventTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "externalUri": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                },
                "securityMarks": {
                    "$ref": "SecurityMarks",
                    "readOnly": true
                },
                "sourceProperties": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "INACTIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIamPolicyRequest": {
            "id": "GetIamPolicyRequest",
            "properties": {
                "options": {
                    "$ref": "GetPolicyOptions"
                }
            },
            "type": "object"
        },
        "GetPolicyOptions": {
            "id": "GetPolicyOptions",
            "properties": {
                "requestedPolicyVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1NotificationMessage": {
            "id": "GoogleCloudSecuritycenterV1NotificationMessage",
            "properties": {
                "finding": {
                    "$ref": "Finding"
                },
                "notificationConfigName": {
                    "type": "string"
                },
                "resource": {
                    "$ref": "GoogleCloudSecuritycenterV1Resource"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1Resource": {
            "id": "GoogleCloudSecuritycenterV1Resource",
            "properties": {
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "parentDisplayName": {
                    "type": "string"
                },
                "project": {
                    "type": "string"
                },
                "projectDisplayName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
            "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
            "properties": {
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "COMPLETED",
                        "SUPERSEDED",
                        "TERMINATED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
            "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
            "properties": {
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "COMPLETED",
                        "SUPERSEDED",
                        "TERMINATED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1p1beta1Asset": {
            "id": "GoogleCloudSecuritycenterV1p1beta1Asset",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "iamPolicy": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1IamPolicy"
                },
                "name": {
                    "type": "string"
                },
                "resourceProperties": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "securityCenterProperties": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityCenterProperties"
                },
                "securityMarks": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1p1beta1Finding": {
            "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
            "properties": {
                "category": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "eventTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "externalUri": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                },
                "securityMarks": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
                    "readOnly": true
                },
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW"
                    ],
                    "type": "string"
                },
                "sourceProperties": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "INACTIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1p1beta1IamPolicy": {
            "id": "GoogleCloudSecuritycenterV1p1beta1IamPolicy",
            "properties": {
                "policyBlob": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
            "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
            "properties": {
                "finding": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
                },
                "notificationConfigName": {
                    "type": "string"
                },
                "resource": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
                },
                "temporalAsset": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1TemporalAsset"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1p1beta1Resource": {
            "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
            "properties": {
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "parentDisplayName": {
                    "type": "string"
                },
                "project": {
                    "type": "string"
                },
                "projectDisplayName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
            "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
            "properties": {
                "duration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "COMPLETED",
                        "SUPERSEDED",
                        "TERMINATED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1p1beta1SecurityCenterProperties": {
            "id": "GoogleCloudSecuritycenterV1p1beta1SecurityCenterProperties",
            "properties": {
                "resourceDisplayName": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                },
                "resourceOwners": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "resourceParent": {
                    "type": "string"
                },
                "resourceParentDisplayName": {
                    "type": "string"
                },
                "resourceProject": {
                    "type": "string"
                },
                "resourceProjectDisplayName": {
                    "type": "string"
                },
                "resourceType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
            "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
            "properties": {
                "marks": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudSecuritycenterV1p1beta1TemporalAsset": {
            "id": "GoogleCloudSecuritycenterV1p1beta1TemporalAsset",
            "properties": {
                "asset": {
                    "$ref": "GoogleCloudSecuritycenterV1p1beta1Asset"
                },
                "changeType": {
                    "enum": [
                        "CHANGE_TYPE_UNSPECIFIED",
                        "CREATED",
                        "UPDATED",
                        "DELETED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GroupAssetsRequest": {
            "id": "GroupAssetsRequest",
            "properties": {
                "compareDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "filter": {
                    "type": "string"
                },
                "groupBy": {
                    "type": "string"
                },
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GroupAssetsResponse": {
            "id": "GroupAssetsResponse",
            "properties": {
                "groupByResults": {
                    "items": {
                        "$ref": "GroupResult"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GroupFindingsRequest": {
            "id": "GroupFindingsRequest",
            "properties": {
                "compareDuration": {
                    "format": "google-duration",
                    "type": "string"
                },
                "filter": {
                    "type": "string"
                },
                "groupBy": {
                    "type": "string"
                },
                "pageSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "pageToken": {
                    "type": "string"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GroupFindingsResponse": {
            "id": "GroupFindingsResponse",
            "properties": {
                "groupByResults": {
                    "items": {
                        "$ref": "GroupResult"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GroupResult": {
            "id": "GroupResult",
            "properties": {
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "properties": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "IamPolicy": {
            "id": "IamPolicy",
            "properties": {
                "policyBlob": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListAssetsResponse": {
            "id": "ListAssetsResponse",
            "properties": {
                "listAssetsResults": {
                    "items": {
                        "$ref": "ListAssetsResult"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListAssetsResult": {
            "id": "ListAssetsResult",
            "properties": {
                "asset": {
                    "$ref": "Asset"
                },
                "stateChange": {
                    "enum": [
                        "UNUSED",
                        "ADDED",
                        "REMOVED",
                        "ACTIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListFindingsResponse": {
            "id": "ListFindingsResponse",
            "properties": {
                "listFindingsResults": {
                    "items": {
                        "$ref": "ListFindingsResult"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "readTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "totalSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListFindingsResult": {
            "id": "ListFindingsResult",
            "properties": {
                "finding": {
                    "$ref": "Finding"
                },
                "resource": {
                    "$ref": "Resource",
                    "readOnly": true
                },
                "stateChange": {
                    "enum": [
                        "UNUSED",
                        "CHANGED",
                        "UNCHANGED",
                        "ADDED",
                        "REMOVED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListNotificationConfigsResponse": {
            "id": "ListNotificationConfigsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "notificationConfigs": {
                    "items": {
                        "$ref": "NotificationConfig"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListSourcesResponse": {
            "id": "ListSourcesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "sources": {
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NotificationConfig": {
            "id": "NotificationConfig",
            "properties": {
                "name": {
                    "type": "string"
                },
                "pubsubTopic": {
                    "type": "string"
                },
                "serviceAccount": {
                    "readOnly": true,
                    "type": "string"
                },
                "streamingConfig": {
                    "$ref": "StreamingConfig"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OrganizationSettings": {
            "id": "OrganizationSettings",
            "properties": {
                "assetDiscoveryConfig": {
                    "$ref": "AssetDiscoveryConfig"
                },
                "enableAssetDiscovery": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Resource": {
            "id": "Resource",
            "properties": {
                "name": {
                    "type": "string"
                },
                "parentDisplayName": {
                    "type": "string"
                },
                "parentName": {
                    "type": "string"
                },
                "projectDisplayName": {
                    "type": "string"
                },
                "projectName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RunAssetDiscoveryRequest": {
            "id": "RunAssetDiscoveryRequest",
            "properties": {},
            "type": "object"
        },
        "SecurityCenterProperties": {
            "id": "SecurityCenterProperties",
            "properties": {
                "resourceDisplayName": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                },
                "resourceOwners": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "resourceParent": {
                    "type": "string"
                },
                "resourceParentDisplayName": {
                    "type": "string"
                },
                "resourceProject": {
                    "type": "string"
                },
                "resourceProjectDisplayName": {
                    "type": "string"
                },
                "resourceType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SecurityMarks": {
            "id": "SecurityMarks",
            "properties": {
                "marks": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetFindingStateRequest": {
            "id": "SetFindingStateRequest",
            "properties": {
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "INACTIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Source": {
            "id": "Source",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StreamingConfig": {
            "id": "StreamingConfig",
            "properties": {
                "filter": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Security Command Center API",
    "version": "v1",
    "version_module": true
}