{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/service.management": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://servicenetworking.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Service Networking",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "servicenetworking:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://servicenetworking.mtls.googleapis.com/",
    "name": "servicenetworking",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "methods": {
                "cancel": {
                    "flatPath": "v1/operations/{operationsId}:cancel",
                    "httpMethod": "POST",
                    "id": "servicenetworking.operations.cancel",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:cancel",
                    "request": {
                        "$ref": "CancelOperationRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "delete": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "DELETE",
                    "id": "servicenetworking.operations.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "servicenetworking.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "list": {
                    "flatPath": "v1/operations",
                    "httpMethod": "GET",
                    "id": "servicenetworking.operations.list",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "path",
                            "pattern": "^operations$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                }
            }
        },
        "services": {
            "methods": {
                "addSubnetwork": {
                    "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}:addSubnetwork",
                    "httpMethod": "POST",
                    "id": "servicenetworking.services.addSubnetwork",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^services/[^/]+/[^/]+/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}:addSubnetwork",
                    "request": {
                        "$ref": "AddSubnetworkRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "disableVpcServiceControls": {
                    "flatPath": "v1/services/{servicesId}:disableVpcServiceControls",
                    "httpMethod": "PATCH",
                    "id": "servicenetworking.services.disableVpcServiceControls",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^services/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}:disableVpcServiceControls",
                    "request": {
                        "$ref": "DisableVpcServiceControlsRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "enableVpcServiceControls": {
                    "flatPath": "v1/services/{servicesId}:enableVpcServiceControls",
                    "httpMethod": "PATCH",
                    "id": "servicenetworking.services.enableVpcServiceControls",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^services/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}:enableVpcServiceControls",
                    "request": {
                        "$ref": "EnableVpcServiceControlsRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "searchRange": {
                    "flatPath": "v1/services/{servicesId}:searchRange",
                    "httpMethod": "POST",
                    "id": "servicenetworking.services.searchRange",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^services/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}:searchRange",
                    "request": {
                        "$ref": "SearchRangeRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "validate": {
                    "flatPath": "v1/services/{servicesId}:validate",
                    "httpMethod": "POST",
                    "id": "servicenetworking.services.validate",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^services/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}:validate",
                    "request": {
                        "$ref": "ValidateConsumerConfigRequest"
                    },
                    "response": {
                        "$ref": "ValidateConsumerConfigResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                }
            },
            "resources": {
                "connections": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/services/{servicesId}/connections",
                            "httpMethod": "POST",
                            "id": "servicenetworking.services.connections.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/connections",
                            "request": {
                                "$ref": "Connection"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/services/{servicesId}/connections",
                            "httpMethod": "GET",
                            "id": "servicenetworking.services.connections.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "network": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/connections",
                            "response": {
                                "$ref": "ListConnectionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/services/{servicesId}/connections/{connectionsId}",
                            "httpMethod": "PATCH",
                            "id": "servicenetworking.services.connections.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "force": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/connections/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Connection"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        }
                    }
                },
                "dnsRecordSets": {
                    "methods": {
                        "add": {
                            "flatPath": "v1/services/{servicesId}/dnsRecordSets:add",
                            "httpMethod": "POST",
                            "id": "servicenetworking.services.dnsRecordSets.add",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/dnsRecordSets:add",
                            "request": {
                                "$ref": "AddDnsRecordSetRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        },
                        "remove": {
                            "flatPath": "v1/services/{servicesId}/dnsRecordSets:remove",
                            "httpMethod": "POST",
                            "id": "servicenetworking.services.dnsRecordSets.remove",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/dnsRecordSets:remove",
                            "request": {
                                "$ref": "RemoveDnsRecordSetRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/services/{servicesId}/dnsRecordSets:update",
                            "httpMethod": "POST",
                            "id": "servicenetworking.services.dnsRecordSets.update",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/dnsRecordSets:update",
                            "request": {
                                "$ref": "UpdateDnsRecordSetRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        }
                    }
                },
                "dnsZones": {
                    "methods": {
                        "add": {
                            "flatPath": "v1/services/{servicesId}/dnsZones:add",
                            "httpMethod": "POST",
                            "id": "servicenetworking.services.dnsZones.add",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/dnsZones:add",
                            "request": {
                                "$ref": "AddDnsZoneRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        },
                        "remove": {
                            "flatPath": "v1/services/{servicesId}/dnsZones:remove",
                            "httpMethod": "POST",
                            "id": "servicenetworking.services.dnsZones.remove",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/dnsZones:remove",
                            "request": {
                                "$ref": "RemoveDnsZoneRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        }
                    }
                },
                "roles": {
                    "methods": {
                        "add": {
                            "flatPath": "v1/services/{servicesId}/roles:add",
                            "httpMethod": "POST",
                            "id": "servicenetworking.services.roles.add",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/roles:add",
                            "request": {
                                "$ref": "AddRolesRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://servicenetworking.googleapis.com/",
    "schemas": {
        "AddDnsRecordSetMetadata": {
            "id": "AddDnsRecordSetMetadata",
            "properties": {},
            "type": "object"
        },
        "AddDnsRecordSetRequest": {
            "id": "AddDnsRecordSetRequest",
            "properties": {
                "consumerNetwork": {
                    "type": "string"
                },
                "dnsRecordSet": {
                    "$ref": "DnsRecordSet"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AddDnsZoneMetadata": {
            "id": "AddDnsZoneMetadata",
            "properties": {},
            "type": "object"
        },
        "AddDnsZoneRequest": {
            "id": "AddDnsZoneRequest",
            "properties": {
                "consumerNetwork": {
                    "type": "string"
                },
                "dnsSuffix": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AddDnsZoneResponse": {
            "id": "AddDnsZoneResponse",
            "properties": {
                "consumerPeeringZone": {
                    "$ref": "DnsZone"
                },
                "producerPrivateZone": {
                    "$ref": "DnsZone"
                }
            },
            "type": "object"
        },
        "AddRolesMetadata": {
            "id": "AddRolesMetadata",
            "properties": {},
            "type": "object"
        },
        "AddRolesRequest": {
            "id": "AddRolesRequest",
            "properties": {
                "consumerNetwork": {
                    "type": "string"
                },
                "policyBinding": {
                    "items": {
                        "$ref": "PolicyBinding"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AddRolesResponse": {
            "id": "AddRolesResponse",
            "properties": {
                "policyBinding": {
                    "items": {
                        "$ref": "PolicyBinding"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AddSubnetworkRequest": {
            "id": "AddSubnetworkRequest",
            "properties": {
                "consumer": {
                    "type": "string"
                },
                "consumerNetwork": {
                    "type": "string"
                },
                "ipPrefixLength": {
                    "format": "int32",
                    "type": "integer"
                },
                "privateIpv6GoogleAccess": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "requestedAddress": {
                    "type": "string"
                },
                "subnetwork": {
                    "type": "string"
                },
                "subnetworkUsers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Api": {
            "id": "Api",
            "properties": {
                "methods": {
                    "items": {
                        "$ref": "Method"
                    },
                    "type": "array"
                },
                "mixins": {
                    "items": {
                        "$ref": "Mixin"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "sourceContext": {
                    "$ref": "SourceContext"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuthProvider": {
            "id": "AuthProvider",
            "properties": {
                "audiences": {
                    "type": "string"
                },
                "authorizationUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "issuer": {
                    "type": "string"
                },
                "jwksUri": {
                    "type": "string"
                },
                "jwtLocations": {
                    "items": {
                        "$ref": "JwtLocation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AuthRequirement": {
            "id": "AuthRequirement",
            "properties": {
                "audiences": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Authentication": {
            "id": "Authentication",
            "properties": {
                "providers": {
                    "items": {
                        "$ref": "AuthProvider"
                    },
                    "type": "array"
                },
                "rules": {
                    "items": {
                        "$ref": "AuthenticationRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AuthenticationRule": {
            "id": "AuthenticationRule",
            "properties": {
                "allowWithoutCredential": {
                    "type": "boolean"
                },
                "oauth": {
                    "$ref": "OAuthRequirements"
                },
                "requirements": {
                    "items": {
                        "$ref": "AuthRequirement"
                    },
                    "type": "array"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Backend": {
            "id": "Backend",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "BackendRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BackendRule": {
            "id": "BackendRule",
            "properties": {
                "address": {
                    "type": "string"
                },
                "deadline": {
                    "format": "double",
                    "type": "number"
                },
                "disableAuth": {
                    "type": "boolean"
                },
                "jwtAudience": {
                    "type": "string"
                },
                "minDeadline": {
                    "format": "double",
                    "type": "number"
                },
                "operationDeadline": {
                    "format": "double",
                    "type": "number"
                },
                "pathTranslation": {
                    "enum": [
                        "PATH_TRANSLATION_UNSPECIFIED",
                        "CONSTANT_ADDRESS",
                        "APPEND_PATH_TO_ADDRESS"
                    ],
                    "type": "string"
                },
                "protocol": {
                    "type": "string"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Billing": {
            "id": "Billing",
            "properties": {
                "consumerDestinations": {
                    "items": {
                        "$ref": "BillingDestination"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BillingDestination": {
            "id": "BillingDestination",
            "properties": {
                "metrics": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "monitoredResource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "Connection": {
            "id": "Connection",
            "properties": {
                "network": {
                    "type": "string"
                },
                "peering": {
                    "readOnly": true,
                    "type": "string"
                },
                "reservedPeeringRanges": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "service": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConsumerProject": {
            "id": "ConsumerProject",
            "properties": {
                "projectNum": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Context": {
            "id": "Context",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "ContextRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ContextRule": {
            "id": "ContextRule",
            "properties": {
                "allowedRequestExtensions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "allowedResponseExtensions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "provided": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "requested": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Control": {
            "id": "Control",
            "properties": {
                "environment": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomError": {
            "id": "CustomError",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "CustomErrorRule"
                    },
                    "type": "array"
                },
                "types": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomErrorRule": {
            "id": "CustomErrorRule",
            "properties": {
                "isErrorType": {
                    "type": "boolean"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomHttpPattern": {
            "id": "CustomHttpPattern",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DisableVpcServiceControlsRequest": {
            "id": "DisableVpcServiceControlsRequest",
            "properties": {
                "consumerNetwork": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DnsRecordSet": {
            "id": "DnsRecordSet",
            "properties": {
                "data": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "domain": {
                    "type": "string"
                },
                "ttl": {
                    "format": "google-duration",
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DnsZone": {
            "id": "DnsZone",
            "properties": {
                "dnsSuffix": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Documentation": {
            "id": "Documentation",
            "properties": {
                "documentationRootUrl": {
                    "type": "string"
                },
                "overview": {
                    "type": "string"
                },
                "pages": {
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                },
                "rules": {
                    "items": {
                        "$ref": "DocumentationRule"
                    },
                    "type": "array"
                },
                "serviceRootUrl": {
                    "type": "string"
                },
                "summary": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DocumentationRule": {
            "id": "DocumentationRule",
            "properties": {
                "deprecationDescription": {
                    "type": "string"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EnableVpcServiceControlsRequest": {
            "id": "EnableVpcServiceControlsRequest",
            "properties": {
                "consumerNetwork": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Endpoint": {
            "id": "Endpoint",
            "properties": {
                "aliases": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "allowCors": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Enum": {
            "id": "Enum",
            "properties": {
                "enumvalue": {
                    "items": {
                        "$ref": "EnumValue"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "sourceContext": {
                    "$ref": "SourceContext"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnumValue": {
            "id": "EnumValue",
            "properties": {
                "name": {
                    "type": "string"
                },
                "number": {
                    "format": "int32",
                    "type": "integer"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Field": {
            "id": "Field",
            "properties": {
                "cardinality": {
                    "enum": [
                        "CARDINALITY_UNKNOWN",
                        "CARDINALITY_OPTIONAL",
                        "CARDINALITY_REQUIRED",
                        "CARDINALITY_REPEATED"
                    ],
                    "type": "string"
                },
                "defaultValue": {
                    "type": "string"
                },
                "jsonName": {
                    "type": "string"
                },
                "kind": {
                    "enum": [
                        "TYPE_UNKNOWN",
                        "TYPE_DOUBLE",
                        "TYPE_FLOAT",
                        "TYPE_INT64",
                        "TYPE_UINT64",
                        "TYPE_INT32",
                        "TYPE_FIXED64",
                        "TYPE_FIXED32",
                        "TYPE_BOOL",
                        "TYPE_STRING",
                        "TYPE_GROUP",
                        "TYPE_MESSAGE",
                        "TYPE_BYTES",
                        "TYPE_UINT32",
                        "TYPE_ENUM",
                        "TYPE_SFIXED32",
                        "TYPE_SFIXED64",
                        "TYPE_SINT32",
                        "TYPE_SINT64"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "number": {
                    "format": "int32",
                    "type": "integer"
                },
                "oneofIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "packed": {
                    "type": "boolean"
                },
                "typeUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudServicenetworkingV1betaSubnetwork": {
            "id": "GoogleCloudServicenetworkingV1betaSubnetwork",
            "properties": {
                "ipCidrRange": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "network": {
                    "type": "string"
                },
                "outsideAllocation": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Http": {
            "id": "Http",
            "properties": {
                "fullyDecodeReservedExpansion": {
                    "type": "boolean"
                },
                "rules": {
                    "items": {
                        "$ref": "HttpRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "HttpRule": {
            "id": "HttpRule",
            "properties": {
                "additionalBindings": {
                    "items": {
                        "$ref": "HttpRule"
                    },
                    "type": "array"
                },
                "allowHalfDuplex": {
                    "type": "boolean"
                },
                "body": {
                    "type": "string"
                },
                "custom": {
                    "$ref": "CustomHttpPattern"
                },
                "delete": {
                    "type": "string"
                },
                "get": {
                    "type": "string"
                },
                "patch": {
                    "type": "string"
                },
                "post": {
                    "type": "string"
                },
                "put": {
                    "type": "string"
                },
                "responseBody": {
                    "type": "string"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JwtLocation": {
            "id": "JwtLocation",
            "properties": {
                "header": {
                    "type": "string"
                },
                "query": {
                    "type": "string"
                },
                "valuePrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LabelDescriptor": {
            "id": "LabelDescriptor",
            "properties": {
                "key": {
                    "type": "string"
                },
                "valueType": {
                    "enum": [
                        "STRING",
                        "BOOL",
                        "INT64"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListConnectionsResponse": {
            "id": "ListConnectionsResponse",
            "properties": {
                "connections": {
                    "items": {
                        "$ref": "Connection"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LogDescriptor": {
            "id": "LogDescriptor",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "LabelDescriptor"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Logging": {
            "id": "Logging",
            "properties": {
                "consumerDestinations": {
                    "items": {
                        "$ref": "LoggingDestination"
                    },
                    "type": "array"
                },
                "producerDestinations": {
                    "items": {
                        "$ref": "LoggingDestination"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LoggingDestination": {
            "id": "LoggingDestination",
            "properties": {
                "logs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "monitoredResource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Method": {
            "id": "Method",
            "properties": {
                "name": {
                    "type": "string"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "requestStreaming": {
                    "type": "boolean"
                },
                "requestTypeUrl": {
                    "type": "string"
                },
                "responseStreaming": {
                    "type": "boolean"
                },
                "responseTypeUrl": {
                    "type": "string"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricDescriptor": {
            "id": "MetricDescriptor",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "LabelDescriptor"
                    },
                    "type": "array"
                },
                "launchStage": {
                    "enum": [
                        "LAUNCH_STAGE_UNSPECIFIED",
                        "UNIMPLEMENTED",
                        "PRELAUNCH",
                        "EARLY_ACCESS",
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "metadata": {
                    "$ref": "MetricDescriptorMetadata"
                },
                "metricKind": {
                    "enum": [
                        "METRIC_KIND_UNSPECIFIED",
                        "GAUGE",
                        "DELTA",
                        "CUMULATIVE"
                    ],
                    "type": "string"
                },
                "monitoredResourceTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                },
                "valueType": {
                    "enum": [
                        "VALUE_TYPE_UNSPECIFIED",
                        "BOOL",
                        "INT64",
                        "DOUBLE",
                        "STRING",
                        "DISTRIBUTION",
                        "MONEY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricDescriptorMetadata": {
            "id": "MetricDescriptorMetadata",
            "properties": {
                "ingestDelay": {
                    "format": "google-duration",
                    "type": "string"
                },
                "launchStage": {
                    "enum": [
                        "LAUNCH_STAGE_UNSPECIFIED",
                        "UNIMPLEMENTED",
                        "PRELAUNCH",
                        "EARLY_ACCESS",
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "samplePeriod": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricRule": {
            "id": "MetricRule",
            "properties": {
                "metricCosts": {
                    "additionalProperties": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "object"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Mixin": {
            "id": "Mixin",
            "properties": {
                "name": {
                    "type": "string"
                },
                "root": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MonitoredResourceDescriptor": {
            "id": "MonitoredResourceDescriptor",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "LabelDescriptor"
                    },
                    "type": "array"
                },
                "launchStage": {
                    "enum": [
                        "LAUNCH_STAGE_UNSPECIFIED",
                        "UNIMPLEMENTED",
                        "PRELAUNCH",
                        "EARLY_ACCESS",
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Monitoring": {
            "id": "Monitoring",
            "properties": {
                "consumerDestinations": {
                    "items": {
                        "$ref": "MonitoringDestination"
                    },
                    "type": "array"
                },
                "producerDestinations": {
                    "items": {
                        "$ref": "MonitoringDestination"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MonitoringDestination": {
            "id": "MonitoringDestination",
            "properties": {
                "metrics": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "monitoredResource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OAuthRequirements": {
            "id": "OAuthRequirements",
            "properties": {
                "canonicalScopes": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Option": {
            "id": "Option",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Page": {
            "id": "Page",
            "properties": {
                "content": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "subpages": {
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PolicyBinding": {
            "id": "PolicyBinding",
            "properties": {
                "member": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Quota": {
            "id": "Quota",
            "properties": {
                "limits": {
                    "items": {
                        "$ref": "QuotaLimit"
                    },
                    "type": "array"
                },
                "metricRules": {
                    "items": {
                        "$ref": "MetricRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "QuotaLimit": {
            "id": "QuotaLimit",
            "properties": {
                "defaultLimit": {
                    "format": "int64",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                },
                "freeTier": {
                    "format": "int64",
                    "type": "string"
                },
                "maxLimit": {
                    "format": "int64",
                    "type": "string"
                },
                "metric": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                },
                "values": {
                    "additionalProperties": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Range": {
            "id": "Range",
            "properties": {
                "ipCidrRange": {
                    "type": "string"
                },
                "network": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RangeReservation": {
            "id": "RangeReservation",
            "properties": {
                "ipPrefixLength": {
                    "format": "int32",
                    "type": "integer"
                },
                "secondaryRangeIpPrefixLengths": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RemoveDnsRecordSetMetadata": {
            "id": "RemoveDnsRecordSetMetadata",
            "properties": {},
            "type": "object"
        },
        "RemoveDnsRecordSetRequest": {
            "id": "RemoveDnsRecordSetRequest",
            "properties": {
                "consumerNetwork": {
                    "type": "string"
                },
                "dnsRecordSet": {
                    "$ref": "DnsRecordSet"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RemoveDnsRecordSetResponse": {
            "id": "RemoveDnsRecordSetResponse",
            "properties": {},
            "type": "object"
        },
        "RemoveDnsZoneMetadata": {
            "id": "RemoveDnsZoneMetadata",
            "properties": {},
            "type": "object"
        },
        "RemoveDnsZoneRequest": {
            "id": "RemoveDnsZoneRequest",
            "properties": {
                "consumerNetwork": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RemoveDnsZoneResponse": {
            "id": "RemoveDnsZoneResponse",
            "properties": {},
            "type": "object"
        },
        "Route": {
            "id": "Route",
            "properties": {
                "destRange": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "network": {
                    "type": "string"
                },
                "nextHopGateway": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchRangeRequest": {
            "id": "SearchRangeRequest",
            "properties": {
                "ipPrefixLength": {
                    "format": "int32",
                    "type": "integer"
                },
                "network": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Service": {
            "id": "Service",
            "properties": {
                "apis": {
                    "items": {
                        "$ref": "Api"
                    },
                    "type": "array"
                },
                "authentication": {
                    "$ref": "Authentication"
                },
                "backend": {
                    "$ref": "Backend"
                },
                "billing": {
                    "$ref": "Billing"
                },
                "configVersion": {
                    "format": "uint32",
                    "type": "integer"
                },
                "context": {
                    "$ref": "Context"
                },
                "control": {
                    "$ref": "Control"
                },
                "customError": {
                    "$ref": "CustomError"
                },
                "documentation": {
                    "$ref": "Documentation"
                },
                "endpoints": {
                    "items": {
                        "$ref": "Endpoint"
                    },
                    "type": "array"
                },
                "enums": {
                    "items": {
                        "$ref": "Enum"
                    },
                    "type": "array"
                },
                "http": {
                    "$ref": "Http"
                },
                "id": {
                    "type": "string"
                },
                "logging": {
                    "$ref": "Logging"
                },
                "logs": {
                    "items": {
                        "$ref": "LogDescriptor"
                    },
                    "type": "array"
                },
                "metrics": {
                    "items": {
                        "$ref": "MetricDescriptor"
                    },
                    "type": "array"
                },
                "monitoredResources": {
                    "items": {
                        "$ref": "MonitoredResourceDescriptor"
                    },
                    "type": "array"
                },
                "monitoring": {
                    "$ref": "Monitoring"
                },
                "name": {
                    "type": "string"
                },
                "producerProjectId": {
                    "type": "string"
                },
                "quota": {
                    "$ref": "Quota"
                },
                "sourceInfo": {
                    "$ref": "SourceInfo"
                },
                "systemParameters": {
                    "$ref": "SystemParameters"
                },
                "systemTypes": {
                    "items": {
                        "$ref": "Type"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                },
                "types": {
                    "items": {
                        "$ref": "Type"
                    },
                    "type": "array"
                },
                "usage": {
                    "$ref": "Usage"
                }
            },
            "type": "object"
        },
        "ServiceIdentity": {
            "id": "ServiceIdentity",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "serviceAccountParent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceContext": {
            "id": "SourceContext",
            "properties": {
                "fileName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceInfo": {
            "id": "SourceInfo",
            "properties": {
                "sourceFiles": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Subnetwork": {
            "id": "Subnetwork",
            "properties": {
                "ipCidrRange": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "network": {
                    "type": "string"
                },
                "outsideAllocation": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "SystemParameter": {
            "id": "SystemParameter",
            "properties": {
                "httpHeader": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "urlQueryParameter": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SystemParameterRule": {
            "id": "SystemParameterRule",
            "properties": {
                "parameters": {
                    "items": {
                        "$ref": "SystemParameter"
                    },
                    "type": "array"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SystemParameters": {
            "id": "SystemParameters",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "SystemParameterRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Type": {
            "id": "Type",
            "properties": {
                "fields": {
                    "items": {
                        "$ref": "Field"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "oneofs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "sourceContext": {
                    "$ref": "SourceContext"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateDnsRecordSetMetadata": {
            "id": "UpdateDnsRecordSetMetadata",
            "properties": {},
            "type": "object"
        },
        "UpdateDnsRecordSetRequest": {
            "id": "UpdateDnsRecordSetRequest",
            "properties": {
                "consumerNetwork": {
                    "type": "string"
                },
                "existingDnsRecordSet": {
                    "$ref": "DnsRecordSet"
                },
                "newDnsRecordSet": {
                    "$ref": "DnsRecordSet"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Usage": {
            "id": "Usage",
            "properties": {
                "producerNotificationChannel": {
                    "type": "string"
                },
                "requirements": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "rules": {
                    "items": {
                        "$ref": "UsageRule"
                    },
                    "type": "array"
                },
                "serviceIdentity": {
                    "$ref": "ServiceIdentity"
                }
            },
            "type": "object"
        },
        "UsageRule": {
            "id": "UsageRule",
            "properties": {
                "allowUnregisteredCalls": {
                    "type": "boolean"
                },
                "selector": {
                    "type": "string"
                },
                "skipServiceControl": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ValidateConsumerConfigRequest": {
            "id": "ValidateConsumerConfigRequest",
            "properties": {
                "consumerNetwork": {
                    "type": "string"
                },
                "consumerProject": {
                    "$ref": "ConsumerProject"
                },
                "rangeReservation": {
                    "$ref": "RangeReservation"
                },
                "validateNetwork": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ValidateConsumerConfigResponse": {
            "id": "ValidateConsumerConfigResponse",
            "properties": {
                "isValid": {
                    "type": "boolean"
                },
                "validationError": {
                    "enum": [
                        "VALIDATION_ERROR_UNSPECIFIED",
                        "VALIDATION_NOT_REQUESTED",
                        "SERVICE_NETWORKING_NOT_ENABLED",
                        "NETWORK_NOT_FOUND",
                        "NETWORK_NOT_PEERED",
                        "NETWORK_PEERING_DELETED",
                        "NETWORK_NOT_IN_CONSUMERS_PROJECT",
                        "NETWORK_NOT_IN_CONSUMERS_HOST_PROJECT",
                        "HOST_PROJECT_NOT_FOUND",
                        "CONSUMER_PROJECT_NOT_SERVICE_PROJECT",
                        "RANGES_EXHAUSTED",
                        "RANGES_NOT_RESERVED",
                        "RANGES_DELETED_LATER",
                        "COMPUTE_API_NOT_ENABLED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Service Networking API",
    "version": "v1",
    "version_module": true
}