{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://serviceconsumermanagement.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Service Consumer Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/service-consumer-management/docs/overview",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "serviceconsumermanagement:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://serviceconsumermanagement.mtls.googleapis.com/",
    "name": "serviceconsumermanagement",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "methods": {
                "cancel": {
                    "flatPath": "v1/operations/{operationsId}:cancel",
                    "httpMethod": "POST",
                    "id": "serviceconsumermanagement.operations.cancel",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:cancel",
                    "request": {
                        "$ref": "CancelOperationRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "DELETE",
                    "id": "serviceconsumermanagement.operations.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "serviceconsumermanagement.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/operations",
                    "httpMethod": "GET",
                    "id": "serviceconsumermanagement.operations.list",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "path",
                            "pattern": "^operations$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "services": {
            "methods": {
                "search": {
                    "flatPath": "v1/services/{servicesId}:search",
                    "httpMethod": "GET",
                    "id": "serviceconsumermanagement.services.search",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "path",
                            "pattern": "^services/[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "query": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}:search",
                    "response": {
                        "$ref": "SearchTenancyUnitsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "tenancyUnits": {
                    "methods": {
                        "addProject": {
                            "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}/tenancyUnits/{tenancyUnitsId}:addProject",
                            "httpMethod": "POST",
                            "id": "serviceconsumermanagement.services.tenancyUnits.addProject",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/[^/]+/[^/]+/tenancyUnits/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}:addProject",
                            "request": {
                                "$ref": "AddTenantProjectRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "applyProjectConfig": {
                            "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}/tenancyUnits/{tenancyUnitsId}:applyProjectConfig",
                            "httpMethod": "POST",
                            "id": "serviceconsumermanagement.services.tenancyUnits.applyProjectConfig",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/[^/]+/[^/]+/tenancyUnits/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:applyProjectConfig",
                            "request": {
                                "$ref": "ApplyTenantProjectConfigRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "attachProject": {
                            "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}/tenancyUnits/{tenancyUnitsId}:attachProject",
                            "httpMethod": "POST",
                            "id": "serviceconsumermanagement.services.tenancyUnits.attachProject",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/[^/]+/[^/]+/tenancyUnits/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:attachProject",
                            "request": {
                                "$ref": "AttachTenantProjectRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}/tenancyUnits",
                            "httpMethod": "POST",
                            "id": "serviceconsumermanagement.services.tenancyUnits.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/[^/]+/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/tenancyUnits",
                            "request": {
                                "$ref": "CreateTenancyUnitRequest"
                            },
                            "response": {
                                "$ref": "TenancyUnit"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}/tenancyUnits/{tenancyUnitsId}",
                            "httpMethod": "DELETE",
                            "id": "serviceconsumermanagement.services.tenancyUnits.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/[^/]+/[^/]+/tenancyUnits/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "deleteProject": {
                            "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}/tenancyUnits/{tenancyUnitsId}:deleteProject",
                            "httpMethod": "POST",
                            "id": "serviceconsumermanagement.services.tenancyUnits.deleteProject",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/[^/]+/[^/]+/tenancyUnits/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:deleteProject",
                            "request": {
                                "$ref": "DeleteTenantProjectRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}/tenancyUnits",
                            "httpMethod": "GET",
                            "id": "serviceconsumermanagement.services.tenancyUnits.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/[^/]+/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/tenancyUnits",
                            "response": {
                                "$ref": "ListTenancyUnitsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "removeProject": {
                            "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}/tenancyUnits/{tenancyUnitsId}:removeProject",
                            "httpMethod": "POST",
                            "id": "serviceconsumermanagement.services.tenancyUnits.removeProject",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/[^/]+/[^/]+/tenancyUnits/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:removeProject",
                            "request": {
                                "$ref": "RemoveTenantProjectRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "undeleteProject": {
                            "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}/tenancyUnits/{tenancyUnitsId}:undeleteProject",
                            "httpMethod": "POST",
                            "id": "serviceconsumermanagement.services.tenancyUnits.undeleteProject",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/[^/]+/[^/]+/tenancyUnits/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:undeleteProject",
                            "request": {
                                "$ref": "UndeleteTenantProjectRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://serviceconsumermanagement.googleapis.com/",
    "schemas": {
        "AddTenantProjectRequest": {
            "id": "AddTenantProjectRequest",
            "properties": {
                "projectConfig": {
                    "$ref": "TenantProjectConfig"
                },
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Api": {
            "id": "Api",
            "properties": {
                "methods": {
                    "items": {
                        "$ref": "Method"
                    },
                    "type": "array"
                },
                "mixins": {
                    "items": {
                        "$ref": "Mixin"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "sourceContext": {
                    "$ref": "SourceContext"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplyTenantProjectConfigRequest": {
            "id": "ApplyTenantProjectConfigRequest",
            "properties": {
                "projectConfig": {
                    "$ref": "TenantProjectConfig"
                },
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AttachTenantProjectRequest": {
            "id": "AttachTenantProjectRequest",
            "properties": {
                "externalResource": {
                    "type": "string"
                },
                "reservedResource": {
                    "type": "string"
                },
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuthProvider": {
            "id": "AuthProvider",
            "properties": {
                "audiences": {
                    "type": "string"
                },
                "authorizationUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "issuer": {
                    "type": "string"
                },
                "jwksUri": {
                    "type": "string"
                },
                "jwtLocations": {
                    "items": {
                        "$ref": "JwtLocation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AuthRequirement": {
            "id": "AuthRequirement",
            "properties": {
                "audiences": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Authentication": {
            "id": "Authentication",
            "properties": {
                "providers": {
                    "items": {
                        "$ref": "AuthProvider"
                    },
                    "type": "array"
                },
                "rules": {
                    "items": {
                        "$ref": "AuthenticationRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AuthenticationRule": {
            "id": "AuthenticationRule",
            "properties": {
                "allowWithoutCredential": {
                    "type": "boolean"
                },
                "oauth": {
                    "$ref": "OAuthRequirements"
                },
                "requirements": {
                    "items": {
                        "$ref": "AuthRequirement"
                    },
                    "type": "array"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Backend": {
            "id": "Backend",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "BackendRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BackendRule": {
            "id": "BackendRule",
            "properties": {
                "address": {
                    "type": "string"
                },
                "deadline": {
                    "format": "double",
                    "type": "number"
                },
                "disableAuth": {
                    "type": "boolean"
                },
                "jwtAudience": {
                    "type": "string"
                },
                "minDeadline": {
                    "format": "double",
                    "type": "number"
                },
                "operationDeadline": {
                    "format": "double",
                    "type": "number"
                },
                "pathTranslation": {
                    "enum": [
                        "PATH_TRANSLATION_UNSPECIFIED",
                        "CONSTANT_ADDRESS",
                        "APPEND_PATH_TO_ADDRESS"
                    ],
                    "type": "string"
                },
                "protocol": {
                    "type": "string"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Billing": {
            "id": "Billing",
            "properties": {
                "consumerDestinations": {
                    "items": {
                        "$ref": "BillingDestination"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BillingConfig": {
            "id": "BillingConfig",
            "properties": {
                "billingAccount": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BillingDestination": {
            "id": "BillingDestination",
            "properties": {
                "metrics": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "monitoredResource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "Context": {
            "id": "Context",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "ContextRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ContextRule": {
            "id": "ContextRule",
            "properties": {
                "allowedRequestExtensions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "allowedResponseExtensions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "provided": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "requested": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Control": {
            "id": "Control",
            "properties": {
                "environment": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateTenancyUnitRequest": {
            "id": "CreateTenancyUnitRequest",
            "properties": {
                "tenancyUnitId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomError": {
            "id": "CustomError",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "CustomErrorRule"
                    },
                    "type": "array"
                },
                "types": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomErrorRule": {
            "id": "CustomErrorRule",
            "properties": {
                "isErrorType": {
                    "type": "boolean"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomHttpPattern": {
            "id": "CustomHttpPattern",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteTenantProjectRequest": {
            "id": "DeleteTenantProjectRequest",
            "properties": {
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Documentation": {
            "id": "Documentation",
            "properties": {
                "documentationRootUrl": {
                    "type": "string"
                },
                "overview": {
                    "type": "string"
                },
                "pages": {
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                },
                "rules": {
                    "items": {
                        "$ref": "DocumentationRule"
                    },
                    "type": "array"
                },
                "serviceRootUrl": {
                    "type": "string"
                },
                "summary": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DocumentationRule": {
            "id": "DocumentationRule",
            "properties": {
                "deprecationDescription": {
                    "type": "string"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Endpoint": {
            "id": "Endpoint",
            "properties": {
                "aliases": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "allowCors": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Enum": {
            "id": "Enum",
            "properties": {
                "enumvalue": {
                    "items": {
                        "$ref": "EnumValue"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "sourceContext": {
                    "$ref": "SourceContext"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnumValue": {
            "id": "EnumValue",
            "properties": {
                "name": {
                    "type": "string"
                },
                "number": {
                    "format": "int32",
                    "type": "integer"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Field": {
            "id": "Field",
            "properties": {
                "cardinality": {
                    "enum": [
                        "CARDINALITY_UNKNOWN",
                        "CARDINALITY_OPTIONAL",
                        "CARDINALITY_REQUIRED",
                        "CARDINALITY_REPEATED"
                    ],
                    "type": "string"
                },
                "defaultValue": {
                    "type": "string"
                },
                "jsonName": {
                    "type": "string"
                },
                "kind": {
                    "enum": [
                        "TYPE_UNKNOWN",
                        "TYPE_DOUBLE",
                        "TYPE_FLOAT",
                        "TYPE_INT64",
                        "TYPE_UINT64",
                        "TYPE_INT32",
                        "TYPE_FIXED64",
                        "TYPE_FIXED32",
                        "TYPE_BOOL",
                        "TYPE_STRING",
                        "TYPE_GROUP",
                        "TYPE_MESSAGE",
                        "TYPE_BYTES",
                        "TYPE_UINT32",
                        "TYPE_ENUM",
                        "TYPE_SFIXED32",
                        "TYPE_SFIXED64",
                        "TYPE_SINT32",
                        "TYPE_SINT64"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "number": {
                    "format": "int32",
                    "type": "integer"
                },
                "oneofIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "packed": {
                    "type": "boolean"
                },
                "typeUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Http": {
            "id": "Http",
            "properties": {
                "fullyDecodeReservedExpansion": {
                    "type": "boolean"
                },
                "rules": {
                    "items": {
                        "$ref": "HttpRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "HttpRule": {
            "id": "HttpRule",
            "properties": {
                "additionalBindings": {
                    "items": {
                        "$ref": "HttpRule"
                    },
                    "type": "array"
                },
                "allowHalfDuplex": {
                    "type": "boolean"
                },
                "body": {
                    "type": "string"
                },
                "custom": {
                    "$ref": "CustomHttpPattern"
                },
                "delete": {
                    "type": "string"
                },
                "get": {
                    "type": "string"
                },
                "patch": {
                    "type": "string"
                },
                "post": {
                    "type": "string"
                },
                "put": {
                    "type": "string"
                },
                "responseBody": {
                    "type": "string"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JwtLocation": {
            "id": "JwtLocation",
            "properties": {
                "header": {
                    "type": "string"
                },
                "query": {
                    "type": "string"
                },
                "valuePrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LabelDescriptor": {
            "id": "LabelDescriptor",
            "properties": {
                "key": {
                    "type": "string"
                },
                "valueType": {
                    "enum": [
                        "STRING",
                        "BOOL",
                        "INT64"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListTenancyUnitsResponse": {
            "id": "ListTenancyUnitsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "tenancyUnits": {
                    "items": {
                        "$ref": "TenancyUnit"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LogDescriptor": {
            "id": "LogDescriptor",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "LabelDescriptor"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Logging": {
            "id": "Logging",
            "properties": {
                "consumerDestinations": {
                    "items": {
                        "$ref": "LoggingDestination"
                    },
                    "type": "array"
                },
                "producerDestinations": {
                    "items": {
                        "$ref": "LoggingDestination"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LoggingDestination": {
            "id": "LoggingDestination",
            "properties": {
                "logs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "monitoredResource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Method": {
            "id": "Method",
            "properties": {
                "name": {
                    "type": "string"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "requestStreaming": {
                    "type": "boolean"
                },
                "requestTypeUrl": {
                    "type": "string"
                },
                "responseStreaming": {
                    "type": "boolean"
                },
                "responseTypeUrl": {
                    "type": "string"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricDescriptor": {
            "id": "MetricDescriptor",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "LabelDescriptor"
                    },
                    "type": "array"
                },
                "launchStage": {
                    "enum": [
                        "LAUNCH_STAGE_UNSPECIFIED",
                        "UNIMPLEMENTED",
                        "PRELAUNCH",
                        "EARLY_ACCESS",
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "metadata": {
                    "$ref": "MetricDescriptorMetadata"
                },
                "metricKind": {
                    "enum": [
                        "METRIC_KIND_UNSPECIFIED",
                        "GAUGE",
                        "DELTA",
                        "CUMULATIVE"
                    ],
                    "type": "string"
                },
                "monitoredResourceTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                },
                "valueType": {
                    "enum": [
                        "VALUE_TYPE_UNSPECIFIED",
                        "BOOL",
                        "INT64",
                        "DOUBLE",
                        "STRING",
                        "DISTRIBUTION",
                        "MONEY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricDescriptorMetadata": {
            "id": "MetricDescriptorMetadata",
            "properties": {
                "ingestDelay": {
                    "format": "google-duration",
                    "type": "string"
                },
                "launchStage": {
                    "enum": [
                        "LAUNCH_STAGE_UNSPECIFIED",
                        "UNIMPLEMENTED",
                        "PRELAUNCH",
                        "EARLY_ACCESS",
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "samplePeriod": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricRule": {
            "id": "MetricRule",
            "properties": {
                "metricCosts": {
                    "additionalProperties": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "object"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Mixin": {
            "id": "Mixin",
            "properties": {
                "name": {
                    "type": "string"
                },
                "root": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MonitoredResourceDescriptor": {
            "id": "MonitoredResourceDescriptor",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "LabelDescriptor"
                    },
                    "type": "array"
                },
                "launchStage": {
                    "enum": [
                        "LAUNCH_STAGE_UNSPECIFIED",
                        "UNIMPLEMENTED",
                        "PRELAUNCH",
                        "EARLY_ACCESS",
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Monitoring": {
            "id": "Monitoring",
            "properties": {
                "consumerDestinations": {
                    "items": {
                        "$ref": "MonitoringDestination"
                    },
                    "type": "array"
                },
                "producerDestinations": {
                    "items": {
                        "$ref": "MonitoringDestination"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MonitoringDestination": {
            "id": "MonitoringDestination",
            "properties": {
                "metrics": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "monitoredResource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OAuthRequirements": {
            "id": "OAuthRequirements",
            "properties": {
                "canonicalScopes": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Option": {
            "id": "Option",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Page": {
            "id": "Page",
            "properties": {
                "content": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "subpages": {
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PolicyBinding": {
            "id": "PolicyBinding",
            "properties": {
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Quota": {
            "id": "Quota",
            "properties": {
                "limits": {
                    "items": {
                        "$ref": "QuotaLimit"
                    },
                    "type": "array"
                },
                "metricRules": {
                    "items": {
                        "$ref": "MetricRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "QuotaLimit": {
            "id": "QuotaLimit",
            "properties": {
                "defaultLimit": {
                    "format": "int64",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                },
                "freeTier": {
                    "format": "int64",
                    "type": "string"
                },
                "maxLimit": {
                    "format": "int64",
                    "type": "string"
                },
                "metric": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                },
                "values": {
                    "additionalProperties": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "RemoveTenantProjectRequest": {
            "id": "RemoveTenantProjectRequest",
            "properties": {
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchTenancyUnitsResponse": {
            "id": "SearchTenancyUnitsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "tenancyUnits": {
                    "items": {
                        "$ref": "TenancyUnit"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Service": {
            "id": "Service",
            "properties": {
                "apis": {
                    "items": {
                        "$ref": "Api"
                    },
                    "type": "array"
                },
                "authentication": {
                    "$ref": "Authentication"
                },
                "backend": {
                    "$ref": "Backend"
                },
                "billing": {
                    "$ref": "Billing"
                },
                "configVersion": {
                    "format": "uint32",
                    "type": "integer"
                },
                "context": {
                    "$ref": "Context"
                },
                "control": {
                    "$ref": "Control"
                },
                "customError": {
                    "$ref": "CustomError"
                },
                "documentation": {
                    "$ref": "Documentation"
                },
                "endpoints": {
                    "items": {
                        "$ref": "Endpoint"
                    },
                    "type": "array"
                },
                "enums": {
                    "items": {
                        "$ref": "Enum"
                    },
                    "type": "array"
                },
                "http": {
                    "$ref": "Http"
                },
                "id": {
                    "type": "string"
                },
                "logging": {
                    "$ref": "Logging"
                },
                "logs": {
                    "items": {
                        "$ref": "LogDescriptor"
                    },
                    "type": "array"
                },
                "metrics": {
                    "items": {
                        "$ref": "MetricDescriptor"
                    },
                    "type": "array"
                },
                "monitoredResources": {
                    "items": {
                        "$ref": "MonitoredResourceDescriptor"
                    },
                    "type": "array"
                },
                "monitoring": {
                    "$ref": "Monitoring"
                },
                "name": {
                    "type": "string"
                },
                "producerProjectId": {
                    "type": "string"
                },
                "quota": {
                    "$ref": "Quota"
                },
                "sourceInfo": {
                    "$ref": "SourceInfo"
                },
                "systemParameters": {
                    "$ref": "SystemParameters"
                },
                "systemTypes": {
                    "items": {
                        "$ref": "Type"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                },
                "types": {
                    "items": {
                        "$ref": "Type"
                    },
                    "type": "array"
                },
                "usage": {
                    "$ref": "Usage"
                }
            },
            "type": "object"
        },
        "ServiceAccountConfig": {
            "id": "ServiceAccountConfig",
            "properties": {
                "accountId": {
                    "type": "string"
                },
                "tenantProjectRoles": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ServiceIdentity": {
            "id": "ServiceIdentity",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "serviceAccountParent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceContext": {
            "id": "SourceContext",
            "properties": {
                "fileName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceInfo": {
            "id": "SourceInfo",
            "properties": {
                "sourceFiles": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SystemParameter": {
            "id": "SystemParameter",
            "properties": {
                "httpHeader": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "urlQueryParameter": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SystemParameterRule": {
            "id": "SystemParameterRule",
            "properties": {
                "parameters": {
                    "items": {
                        "$ref": "SystemParameter"
                    },
                    "type": "array"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SystemParameters": {
            "id": "SystemParameters",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "SystemParameterRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TenancyUnit": {
            "id": "TenancyUnit",
            "properties": {
                "consumer": {
                    "type": "string"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "service": {
                    "type": "string"
                },
                "tenantResources": {
                    "items": {
                        "$ref": "TenantResource"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TenantProjectConfig": {
            "id": "TenantProjectConfig",
            "properties": {
                "billingConfig": {
                    "$ref": "BillingConfig"
                },
                "folder": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "serviceAccountConfig": {
                    "$ref": "ServiceAccountConfig"
                },
                "services": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "tenantProjectPolicy": {
                    "$ref": "TenantProjectPolicy"
                }
            },
            "type": "object"
        },
        "TenantProjectPolicy": {
            "id": "TenantProjectPolicy",
            "properties": {
                "policyBindings": {
                    "items": {
                        "$ref": "PolicyBinding"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TenantResource": {
            "id": "TenantResource",
            "properties": {
                "resource": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "PENDING_CREATE",
                        "ACTIVE",
                        "PENDING_DELETE",
                        "FAILED",
                        "DELETED"
                    ],
                    "type": "string"
                },
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Type": {
            "id": "Type",
            "properties": {
                "fields": {
                    "items": {
                        "$ref": "Field"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "oneofs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "sourceContext": {
                    "$ref": "SourceContext"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UndeleteTenantProjectRequest": {
            "id": "UndeleteTenantProjectRequest",
            "properties": {
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Usage": {
            "id": "Usage",
            "properties": {
                "producerNotificationChannel": {
                    "type": "string"
                },
                "requirements": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "rules": {
                    "items": {
                        "$ref": "UsageRule"
                    },
                    "type": "array"
                },
                "serviceIdentity": {
                    "$ref": "ServiceIdentity"
                }
            },
            "type": "object"
        },
        "UsageRule": {
            "id": "UsageRule",
            "properties": {
                "allowUnregisteredCalls": {
                    "type": "boolean"
                },
                "selector": {
                    "type": "string"
                },
                "skipServiceControl": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "V1AddVisibilityLabelsResponse": {
            "id": "V1AddVisibilityLabelsResponse",
            "properties": {
                "labels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "V1Beta1BatchCreateProducerOverridesResponse": {
            "id": "V1Beta1BatchCreateProducerOverridesResponse",
            "properties": {
                "overrides": {
                    "items": {
                        "$ref": "V1Beta1QuotaOverride"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "V1Beta1DisableConsumerResponse": {
            "id": "V1Beta1DisableConsumerResponse",
            "properties": {},
            "type": "object"
        },
        "V1Beta1EnableConsumerResponse": {
            "id": "V1Beta1EnableConsumerResponse",
            "properties": {},
            "type": "object"
        },
        "V1Beta1GenerateServiceIdentityResponse": {
            "id": "V1Beta1GenerateServiceIdentityResponse",
            "properties": {
                "identity": {
                    "$ref": "V1Beta1ServiceIdentity"
                }
            },
            "type": "object"
        },
        "V1Beta1ImportProducerOverridesResponse": {
            "id": "V1Beta1ImportProducerOverridesResponse",
            "properties": {
                "overrides": {
                    "items": {
                        "$ref": "V1Beta1QuotaOverride"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "V1Beta1ImportProducerQuotaPoliciesResponse": {
            "id": "V1Beta1ImportProducerQuotaPoliciesResponse",
            "properties": {
                "policies": {
                    "items": {
                        "$ref": "V1Beta1ProducerQuotaPolicy"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "V1Beta1ProducerQuotaPolicy": {
            "id": "V1Beta1ProducerQuotaPolicy",
            "properties": {
                "container": {
                    "type": "string"
                },
                "dimensions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "metric": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "policyValue": {
                    "format": "int64",
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "V1Beta1QuotaOverride": {
            "id": "V1Beta1QuotaOverride",
            "properties": {
                "adminOverrideAncestor": {
                    "type": "string"
                },
                "dimensions": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "metric": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "overrideValue": {
                    "format": "int64",
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "V1Beta1RefreshConsumerResponse": {
            "id": "V1Beta1RefreshConsumerResponse",
            "properties": {},
            "type": "object"
        },
        "V1Beta1ServiceIdentity": {
            "id": "V1Beta1ServiceIdentity",
            "properties": {
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "tag": {
                    "type": "string"
                },
                "uniqueId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "V1DefaultIdentity": {
            "id": "V1DefaultIdentity",
            "properties": {
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "uniqueId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "V1DisableConsumerResponse": {
            "id": "V1DisableConsumerResponse",
            "properties": {},
            "type": "object"
        },
        "V1EnableConsumerResponse": {
            "id": "V1EnableConsumerResponse",
            "properties": {},
            "type": "object"
        },
        "V1GenerateDefaultIdentityResponse": {
            "id": "V1GenerateDefaultIdentityResponse",
            "properties": {
                "attachStatus": {
                    "enum": [
                        "ATTACH_STATUS_UNSPECIFIED",
                        "ATTACHED",
                        "ATTACH_SKIPPED",
                        "PREVIOUSLY_ATTACHED",
                        "ATTACH_DENIED_BY_ORG_POLICY"
                    ],
                    "type": "string"
                },
                "identity": {
                    "$ref": "V1DefaultIdentity"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "V1GenerateServiceAccountResponse": {
            "id": "V1GenerateServiceAccountResponse",
            "properties": {
                "account": {
                    "$ref": "V1ServiceAccount"
                }
            },
            "type": "object"
        },
        "V1RefreshConsumerResponse": {
            "id": "V1RefreshConsumerResponse",
            "properties": {},
            "type": "object"
        },
        "V1RemoveVisibilityLabelsResponse": {
            "id": "V1RemoveVisibilityLabelsResponse",
            "properties": {
                "labels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "V1ServiceAccount": {
            "id": "V1ServiceAccount",
            "properties": {
                "email": {
                    "type": "string"
                },
                "iamAccountName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "tag": {
                    "type": "string"
                },
                "uniqueId": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Service Consumer Management API",
    "version": "v1",
    "version_module": true
}