{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {},
                "https://www.googleapis.com/auth/service.management": {},
                "https://www.googleapis.com/auth/service.management.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://servicemanagement.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Service Management",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/service-management/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "servicemanagement:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://servicemanagement.mtls.googleapis.com/",
    "name": "servicemanagement",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "methods": {
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "servicemanagement.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "list": {
                    "flatPath": "v1/operations",
                    "httpMethod": "GET",
                    "id": "servicemanagement.operations.list",
                    "parameterOrder": [],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/operations",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                }
            }
        },
        "services": {
            "methods": {
                "create": {
                    "flatPath": "v1/services",
                    "httpMethod": "POST",
                    "id": "servicemanagement.services.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/services",
                    "request": {
                        "$ref": "ManagedService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "delete": {
                    "flatPath": "v1/services/{serviceName}",
                    "httpMethod": "DELETE",
                    "id": "servicemanagement.services.delete",
                    "parameterOrder": [
                        "serviceName"
                    ],
                    "parameters": {
                        "serviceName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/services/{serviceName}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "disable": {
                    "flatPath": "v1/services/{serviceName}:disable",
                    "httpMethod": "POST",
                    "id": "servicemanagement.services.disable",
                    "parameterOrder": [
                        "serviceName"
                    ],
                    "parameters": {
                        "serviceName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/services/{serviceName}:disable",
                    "request": {
                        "$ref": "DisableServiceRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "enable": {
                    "flatPath": "v1/services/{serviceName}:enable",
                    "httpMethod": "POST",
                    "id": "servicemanagement.services.enable",
                    "parameterOrder": [
                        "serviceName"
                    ],
                    "parameters": {
                        "serviceName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/services/{serviceName}:enable",
                    "request": {
                        "$ref": "EnableServiceRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "generateConfigReport": {
                    "flatPath": "v1/services:generateConfigReport",
                    "httpMethod": "POST",
                    "id": "servicemanagement.services.generateConfigReport",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/services:generateConfigReport",
                    "request": {
                        "$ref": "GenerateConfigReportRequest"
                    },
                    "response": {
                        "$ref": "GenerateConfigReportResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "get": {
                    "flatPath": "v1/services/{serviceName}",
                    "httpMethod": "GET",
                    "id": "servicemanagement.services.get",
                    "parameterOrder": [
                        "serviceName"
                    ],
                    "parameters": {
                        "serviceName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/services/{serviceName}",
                    "response": {
                        "$ref": "ManagedService"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/service.management",
                        "https://www.googleapis.com/auth/service.management.readonly"
                    ]
                },
                "getConfig": {
                    "flatPath": "v1/services/{serviceName}/config",
                    "httpMethod": "GET",
                    "id": "servicemanagement.services.getConfig",
                    "parameterOrder": [
                        "serviceName"
                    ],
                    "parameters": {
                        "configId": {
                            "location": "query",
                            "type": "string"
                        },
                        "serviceName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "BASIC",
                                "FULL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/services/{serviceName}/config",
                    "response": {
                        "$ref": "Service"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/service.management",
                        "https://www.googleapis.com/auth/service.management.readonly"
                    ]
                },
                "getIamPolicy": {
                    "flatPath": "v1/services/{servicesId}:getIamPolicy",
                    "httpMethod": "POST",
                    "id": "servicemanagement.services.getIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^services/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resource}:getIamPolicy",
                    "request": {
                        "$ref": "GetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/service.management",
                        "https://www.googleapis.com/auth/service.management.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v1/services",
                    "httpMethod": "GET",
                    "id": "servicemanagement.services.list",
                    "parameterOrder": [],
                    "parameters": {
                        "consumerId": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "producerProjectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/services",
                    "response": {
                        "$ref": "ListServicesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/service.management",
                        "https://www.googleapis.com/auth/service.management.readonly"
                    ]
                },
                "setIamPolicy": {
                    "flatPath": "v1/services/{servicesId}:setIamPolicy",
                    "httpMethod": "POST",
                    "id": "servicemanagement.services.setIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^services/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resource}:setIamPolicy",
                    "request": {
                        "$ref": "SetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                },
                "testIamPermissions": {
                    "flatPath": "v1/services/{servicesId}:testIamPermissions",
                    "httpMethod": "POST",
                    "id": "servicemanagement.services.testIamPermissions",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "location": "path",
                            "pattern": "^services/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+resource}:testIamPermissions",
                    "request": {
                        "$ref": "TestIamPermissionsRequest"
                    },
                    "response": {
                        "$ref": "TestIamPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/service.management",
                        "https://www.googleapis.com/auth/service.management.readonly"
                    ]
                },
                "undelete": {
                    "flatPath": "v1/services/{serviceName}:undelete",
                    "httpMethod": "POST",
                    "id": "servicemanagement.services.undelete",
                    "parameterOrder": [
                        "serviceName"
                    ],
                    "parameters": {
                        "serviceName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/services/{serviceName}:undelete",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                    ]
                }
            },
            "resources": {
                "configs": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/services/{serviceName}/configs",
                            "httpMethod": "POST",
                            "id": "servicemanagement.services.configs.create",
                            "parameterOrder": [
                                "serviceName"
                            ],
                            "parameters": {
                                "serviceName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/services/{serviceName}/configs",
                            "request": {
                                "$ref": "Service"
                            },
                            "response": {
                                "$ref": "Service"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/services/{serviceName}/configs/{configId}",
                            "httpMethod": "GET",
                            "id": "servicemanagement.services.configs.get",
                            "parameterOrder": [
                                "serviceName",
                                "configId"
                            ],
                            "parameters": {
                                "configId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "serviceName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "BASIC",
                                        "FULL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/services/{serviceName}/configs/{configId}",
                            "response": {
                                "$ref": "Service"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/service.management",
                                "https://www.googleapis.com/auth/service.management.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/services/{serviceName}/configs",
                            "httpMethod": "GET",
                            "id": "servicemanagement.services.configs.list",
                            "parameterOrder": [
                                "serviceName"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "serviceName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/services/{serviceName}/configs",
                            "response": {
                                "$ref": "ListServiceConfigsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/service.management",
                                "https://www.googleapis.com/auth/service.management.readonly"
                            ]
                        },
                        "submit": {
                            "flatPath": "v1/services/{serviceName}/configs:submit",
                            "httpMethod": "POST",
                            "id": "servicemanagement.services.configs.submit",
                            "parameterOrder": [
                                "serviceName"
                            ],
                            "parameters": {
                                "serviceName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/services/{serviceName}/configs:submit",
                            "request": {
                                "$ref": "SubmitConfigSourceRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        }
                    }
                },
                "consumers": {
                    "methods": {
                        "getIamPolicy": {
                            "flatPath": "v1/services/{servicesId}/consumers/{consumersId}:getIamPolicy",
                            "httpMethod": "POST",
                            "id": "servicemanagement.services.consumers.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/consumers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "request": {
                                "$ref": "GetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/service.management",
                                "https://www.googleapis.com/auth/service.management.readonly"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/services/{servicesId}/consumers/{consumersId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "servicemanagement.services.consumers.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/consumers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/services/{servicesId}/consumers/{consumersId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "servicemanagement.services.consumers.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^services/[^/]+/consumers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/service.management",
                                "https://www.googleapis.com/auth/service.management.readonly"
                            ]
                        }
                    }
                },
                "rollouts": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/services/{serviceName}/rollouts",
                            "httpMethod": "POST",
                            "id": "servicemanagement.services.rollouts.create",
                            "parameterOrder": [
                                "serviceName"
                            ],
                            "parameters": {
                                "serviceName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/services/{serviceName}/rollouts",
                            "request": {
                                "$ref": "Rollout"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/service.management"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/services/{serviceName}/rollouts/{rolloutId}",
                            "httpMethod": "GET",
                            "id": "servicemanagement.services.rollouts.get",
                            "parameterOrder": [
                                "serviceName",
                                "rolloutId"
                            ],
                            "parameters": {
                                "rolloutId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "serviceName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/services/{serviceName}/rollouts/{rolloutId}",
                            "response": {
                                "$ref": "Rollout"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/service.management",
                                "https://www.googleapis.com/auth/service.management.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/services/{serviceName}/rollouts",
                            "httpMethod": "GET",
                            "id": "servicemanagement.services.rollouts.list",
                            "parameterOrder": [
                                "serviceName"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "serviceName": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/services/{serviceName}/rollouts",
                            "response": {
                                "$ref": "ListServiceRolloutsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only",
                                "https://www.googleapis.com/auth/service.management",
                                "https://www.googleapis.com/auth/service.management.readonly"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://servicemanagement.googleapis.com/",
    "schemas": {
        "Advice": {
            "id": "Advice",
            "properties": {},
            "type": "object"
        },
        "Api": {
            "id": "Api",
            "properties": {
                "methods": {
                    "items": {
                        "$ref": "Method"
                    },
                    "type": "array"
                },
                "mixins": {
                    "items": {
                        "$ref": "Mixin"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "sourceContext": {
                    "$ref": "SourceContext"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuthProvider": {
            "id": "AuthProvider",
            "properties": {
                "audiences": {
                    "type": "string"
                },
                "authorizationUrl": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "issuer": {
                    "type": "string"
                },
                "jwksUri": {
                    "type": "string"
                },
                "jwtLocations": {
                    "items": {
                        "$ref": "JwtLocation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AuthRequirement": {
            "id": "AuthRequirement",
            "properties": {
                "audiences": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Authentication": {
            "id": "Authentication",
            "properties": {
                "providers": {
                    "items": {
                        "$ref": "AuthProvider"
                    },
                    "type": "array"
                },
                "rules": {
                    "items": {
                        "$ref": "AuthenticationRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AuthenticationRule": {
            "id": "AuthenticationRule",
            "properties": {
                "allowWithoutCredential": {
                    "type": "boolean"
                },
                "oauth": {
                    "$ref": "OAuthRequirements"
                },
                "requirements": {
                    "items": {
                        "$ref": "AuthRequirement"
                    },
                    "type": "array"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Backend": {
            "id": "Backend",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "BackendRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BackendRule": {
            "id": "BackendRule",
            "properties": {
                "address": {
                    "type": "string"
                },
                "deadline": {
                    "format": "double",
                    "type": "number"
                },
                "disableAuth": {
                    "type": "boolean"
                },
                "jwtAudience": {
                    "type": "string"
                },
                "minDeadline": {
                    "format": "double",
                    "type": "number"
                },
                "operationDeadline": {
                    "format": "double",
                    "type": "number"
                },
                "pathTranslation": {
                    "enum": [
                        "PATH_TRANSLATION_UNSPECIFIED",
                        "CONSTANT_ADDRESS",
                        "APPEND_PATH_TO_ADDRESS"
                    ],
                    "type": "string"
                },
                "protocol": {
                    "type": "string"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Billing": {
            "id": "Billing",
            "properties": {
                "consumerDestinations": {
                    "items": {
                        "$ref": "BillingDestination"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BillingDestination": {
            "id": "BillingDestination",
            "properties": {
                "metrics": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "monitoredResource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChangeReport": {
            "id": "ChangeReport",
            "properties": {
                "configChanges": {
                    "items": {
                        "$ref": "ConfigChange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ConfigChange": {
            "id": "ConfigChange",
            "properties": {
                "advices": {
                    "items": {
                        "$ref": "Advice"
                    },
                    "type": "array"
                },
                "changeType": {
                    "enum": [
                        "CHANGE_TYPE_UNSPECIFIED",
                        "ADDED",
                        "REMOVED",
                        "MODIFIED"
                    ],
                    "type": "string"
                },
                "element": {
                    "type": "string"
                },
                "newValue": {
                    "type": "string"
                },
                "oldValue": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConfigFile": {
            "id": "ConfigFile",
            "properties": {
                "fileContents": {
                    "format": "byte",
                    "type": "string"
                },
                "filePath": {
                    "type": "string"
                },
                "fileType": {
                    "enum": [
                        "FILE_TYPE_UNSPECIFIED",
                        "SERVICE_CONFIG_YAML",
                        "OPEN_API_JSON",
                        "OPEN_API_YAML",
                        "FILE_DESCRIPTOR_SET_PROTO",
                        "PROTO_FILE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConfigRef": {
            "id": "ConfigRef",
            "properties": {
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConfigSource": {
            "id": "ConfigSource",
            "properties": {
                "files": {
                    "items": {
                        "$ref": "ConfigFile"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Context": {
            "id": "Context",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "ContextRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ContextRule": {
            "id": "ContextRule",
            "properties": {
                "allowedRequestExtensions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "allowedResponseExtensions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "provided": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "requested": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Control": {
            "id": "Control",
            "properties": {
                "environment": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomError": {
            "id": "CustomError",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "CustomErrorRule"
                    },
                    "type": "array"
                },
                "types": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CustomErrorRule": {
            "id": "CustomErrorRule",
            "properties": {
                "isErrorType": {
                    "type": "boolean"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomHttpPattern": {
            "id": "CustomHttpPattern",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteServiceStrategy": {
            "id": "DeleteServiceStrategy",
            "properties": {},
            "type": "object"
        },
        "Diagnostic": {
            "id": "Diagnostic",
            "properties": {
                "kind": {
                    "enum": [
                        "WARNING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DisableServiceRequest": {
            "id": "DisableServiceRequest",
            "properties": {
                "consumerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DisableServiceResponse": {
            "id": "DisableServiceResponse",
            "properties": {},
            "type": "object"
        },
        "Documentation": {
            "id": "Documentation",
            "properties": {
                "documentationRootUrl": {
                    "type": "string"
                },
                "overview": {
                    "type": "string"
                },
                "pages": {
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                },
                "rules": {
                    "items": {
                        "$ref": "DocumentationRule"
                    },
                    "type": "array"
                },
                "serviceRootUrl": {
                    "type": "string"
                },
                "summary": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DocumentationRule": {
            "id": "DocumentationRule",
            "properties": {
                "deprecationDescription": {
                    "type": "string"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnableServiceRequest": {
            "id": "EnableServiceRequest",
            "properties": {
                "consumerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnableServiceResponse": {
            "id": "EnableServiceResponse",
            "properties": {},
            "type": "object"
        },
        "Endpoint": {
            "id": "Endpoint",
            "properties": {
                "aliases": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "allowCors": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Enum": {
            "id": "Enum",
            "properties": {
                "enumvalue": {
                    "items": {
                        "$ref": "EnumValue"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "sourceContext": {
                    "$ref": "SourceContext"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnumValue": {
            "id": "EnumValue",
            "properties": {
                "name": {
                    "type": "string"
                },
                "number": {
                    "format": "int32",
                    "type": "integer"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Field": {
            "id": "Field",
            "properties": {
                "cardinality": {
                    "enum": [
                        "CARDINALITY_UNKNOWN",
                        "CARDINALITY_OPTIONAL",
                        "CARDINALITY_REQUIRED",
                        "CARDINALITY_REPEATED"
                    ],
                    "type": "string"
                },
                "defaultValue": {
                    "type": "string"
                },
                "jsonName": {
                    "type": "string"
                },
                "kind": {
                    "enum": [
                        "TYPE_UNKNOWN",
                        "TYPE_DOUBLE",
                        "TYPE_FLOAT",
                        "TYPE_INT64",
                        "TYPE_UINT64",
                        "TYPE_INT32",
                        "TYPE_FIXED64",
                        "TYPE_FIXED32",
                        "TYPE_BOOL",
                        "TYPE_STRING",
                        "TYPE_GROUP",
                        "TYPE_MESSAGE",
                        "TYPE_BYTES",
                        "TYPE_UINT32",
                        "TYPE_ENUM",
                        "TYPE_SFIXED32",
                        "TYPE_SFIXED64",
                        "TYPE_SINT32",
                        "TYPE_SINT64"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "number": {
                    "format": "int32",
                    "type": "integer"
                },
                "oneofIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "packed": {
                    "type": "boolean"
                },
                "typeUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FlowErrorDetails": {
            "id": "FlowErrorDetails",
            "properties": {
                "exceptionType": {
                    "type": "string"
                },
                "flowStepId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GenerateConfigReportRequest": {
            "id": "GenerateConfigReportRequest",
            "properties": {
                "newConfig": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "oldConfig": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GenerateConfigReportResponse": {
            "id": "GenerateConfigReportResponse",
            "properties": {
                "changeReports": {
                    "items": {
                        "$ref": "ChangeReport"
                    },
                    "type": "array"
                },
                "diagnostics": {
                    "items": {
                        "$ref": "Diagnostic"
                    },
                    "type": "array"
                },
                "id": {
                    "type": "string"
                },
                "serviceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetIamPolicyRequest": {
            "id": "GetIamPolicyRequest",
            "properties": {
                "options": {
                    "$ref": "GetPolicyOptions"
                }
            },
            "type": "object"
        },
        "GetPolicyOptions": {
            "id": "GetPolicyOptions",
            "properties": {
                "requestedPolicyVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Http": {
            "id": "Http",
            "properties": {
                "fullyDecodeReservedExpansion": {
                    "type": "boolean"
                },
                "rules": {
                    "items": {
                        "$ref": "HttpRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "HttpRule": {
            "id": "HttpRule",
            "properties": {
                "additionalBindings": {
                    "items": {
                        "$ref": "HttpRule"
                    },
                    "type": "array"
                },
                "allowHalfDuplex": {
                    "type": "boolean"
                },
                "body": {
                    "type": "string"
                },
                "custom": {
                    "$ref": "CustomHttpPattern"
                },
                "delete": {
                    "type": "string"
                },
                "get": {
                    "type": "string"
                },
                "patch": {
                    "type": "string"
                },
                "post": {
                    "type": "string"
                },
                "put": {
                    "type": "string"
                },
                "responseBody": {
                    "type": "string"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JwtLocation": {
            "id": "JwtLocation",
            "properties": {
                "header": {
                    "type": "string"
                },
                "query": {
                    "type": "string"
                },
                "valuePrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LabelDescriptor": {
            "id": "LabelDescriptor",
            "properties": {
                "key": {
                    "type": "string"
                },
                "valueType": {
                    "enum": [
                        "STRING",
                        "BOOL",
                        "INT64"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListServiceConfigsResponse": {
            "id": "ListServiceConfigsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "serviceConfigs": {
                    "items": {
                        "$ref": "Service"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListServiceRolloutsResponse": {
            "id": "ListServiceRolloutsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "rollouts": {
                    "items": {
                        "$ref": "Rollout"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListServicesResponse": {
            "id": "ListServicesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "services": {
                    "items": {
                        "$ref": "ManagedService"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LogDescriptor": {
            "id": "LogDescriptor",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "LabelDescriptor"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Logging": {
            "id": "Logging",
            "properties": {
                "consumerDestinations": {
                    "items": {
                        "$ref": "LoggingDestination"
                    },
                    "type": "array"
                },
                "producerDestinations": {
                    "items": {
                        "$ref": "LoggingDestination"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LoggingDestination": {
            "id": "LoggingDestination",
            "properties": {
                "logs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "monitoredResource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedService": {
            "id": "ManagedService",
            "properties": {
                "producerProjectId": {
                    "type": "string"
                },
                "serviceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Method": {
            "id": "Method",
            "properties": {
                "name": {
                    "type": "string"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "requestStreaming": {
                    "type": "boolean"
                },
                "requestTypeUrl": {
                    "type": "string"
                },
                "responseStreaming": {
                    "type": "boolean"
                },
                "responseTypeUrl": {
                    "type": "string"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricDescriptor": {
            "id": "MetricDescriptor",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "LabelDescriptor"
                    },
                    "type": "array"
                },
                "launchStage": {
                    "enum": [
                        "LAUNCH_STAGE_UNSPECIFIED",
                        "UNIMPLEMENTED",
                        "PRELAUNCH",
                        "EARLY_ACCESS",
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "metadata": {
                    "$ref": "MetricDescriptorMetadata"
                },
                "metricKind": {
                    "enum": [
                        "METRIC_KIND_UNSPECIFIED",
                        "GAUGE",
                        "DELTA",
                        "CUMULATIVE"
                    ],
                    "type": "string"
                },
                "monitoredResourceTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                },
                "valueType": {
                    "enum": [
                        "VALUE_TYPE_UNSPECIFIED",
                        "BOOL",
                        "INT64",
                        "DOUBLE",
                        "STRING",
                        "DISTRIBUTION",
                        "MONEY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricDescriptorMetadata": {
            "id": "MetricDescriptorMetadata",
            "properties": {
                "ingestDelay": {
                    "format": "google-duration",
                    "type": "string"
                },
                "launchStage": {
                    "enum": [
                        "LAUNCH_STAGE_UNSPECIFIED",
                        "UNIMPLEMENTED",
                        "PRELAUNCH",
                        "EARLY_ACCESS",
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "samplePeriod": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricRule": {
            "id": "MetricRule",
            "properties": {
                "metricCosts": {
                    "additionalProperties": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "object"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Mixin": {
            "id": "Mixin",
            "properties": {
                "name": {
                    "type": "string"
                },
                "root": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MonitoredResourceDescriptor": {
            "id": "MonitoredResourceDescriptor",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "items": {
                        "$ref": "LabelDescriptor"
                    },
                    "type": "array"
                },
                "launchStage": {
                    "enum": [
                        "LAUNCH_STAGE_UNSPECIFIED",
                        "UNIMPLEMENTED",
                        "PRELAUNCH",
                        "EARLY_ACCESS",
                        "ALPHA",
                        "BETA",
                        "GA",
                        "DEPRECATED"
                    ],
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Monitoring": {
            "id": "Monitoring",
            "properties": {
                "consumerDestinations": {
                    "items": {
                        "$ref": "MonitoringDestination"
                    },
                    "type": "array"
                },
                "producerDestinations": {
                    "items": {
                        "$ref": "MonitoringDestination"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MonitoringDestination": {
            "id": "MonitoringDestination",
            "properties": {
                "metrics": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "monitoredResource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OAuthRequirements": {
            "id": "OAuthRequirements",
            "properties": {
                "canonicalScopes": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "id": "OperationMetadata",
            "properties": {
                "progressPercentage": {
                    "format": "int32",
                    "type": "integer"
                },
                "resourceNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "steps": {
                    "items": {
                        "$ref": "Step"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Option": {
            "id": "Option",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Page": {
            "id": "Page",
            "properties": {
                "content": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "subpages": {
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Quota": {
            "id": "Quota",
            "properties": {
                "limits": {
                    "items": {
                        "$ref": "QuotaLimit"
                    },
                    "type": "array"
                },
                "metricRules": {
                    "items": {
                        "$ref": "MetricRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "QuotaLimit": {
            "id": "QuotaLimit",
            "properties": {
                "defaultLimit": {
                    "format": "int64",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                },
                "freeTier": {
                    "format": "int64",
                    "type": "string"
                },
                "maxLimit": {
                    "format": "int64",
                    "type": "string"
                },
                "metric": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                },
                "values": {
                    "additionalProperties": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ResourceReference": {
            "id": "ResourceReference",
            "properties": {
                "childType": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Rollout": {
            "id": "Rollout",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "createdBy": {
                    "type": "string"
                },
                "deleteServiceStrategy": {
                    "$ref": "DeleteServiceStrategy"
                },
                "rolloutId": {
                    "type": "string"
                },
                "serviceName": {
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "ROLLOUT_STATUS_UNSPECIFIED",
                        "IN_PROGRESS",
                        "SUCCESS",
                        "CANCELLED",
                        "FAILED",
                        "PENDING",
                        "FAILED_ROLLED_BACK"
                    ],
                    "type": "string"
                },
                "trafficPercentStrategy": {
                    "$ref": "TrafficPercentStrategy"
                }
            },
            "type": "object"
        },
        "Service": {
            "id": "Service",
            "properties": {
                "apis": {
                    "items": {
                        "$ref": "Api"
                    },
                    "type": "array"
                },
                "authentication": {
                    "$ref": "Authentication"
                },
                "backend": {
                    "$ref": "Backend"
                },
                "billing": {
                    "$ref": "Billing"
                },
                "configVersion": {
                    "format": "uint32",
                    "type": "integer"
                },
                "context": {
                    "$ref": "Context"
                },
                "control": {
                    "$ref": "Control"
                },
                "customError": {
                    "$ref": "CustomError"
                },
                "documentation": {
                    "$ref": "Documentation"
                },
                "endpoints": {
                    "items": {
                        "$ref": "Endpoint"
                    },
                    "type": "array"
                },
                "enums": {
                    "items": {
                        "$ref": "Enum"
                    },
                    "type": "array"
                },
                "http": {
                    "$ref": "Http"
                },
                "id": {
                    "type": "string"
                },
                "logging": {
                    "$ref": "Logging"
                },
                "logs": {
                    "items": {
                        "$ref": "LogDescriptor"
                    },
                    "type": "array"
                },
                "metrics": {
                    "items": {
                        "$ref": "MetricDescriptor"
                    },
                    "type": "array"
                },
                "monitoredResources": {
                    "items": {
                        "$ref": "MonitoredResourceDescriptor"
                    },
                    "type": "array"
                },
                "monitoring": {
                    "$ref": "Monitoring"
                },
                "name": {
                    "type": "string"
                },
                "producerProjectId": {
                    "type": "string"
                },
                "quota": {
                    "$ref": "Quota"
                },
                "sourceInfo": {
                    "$ref": "SourceInfo"
                },
                "systemParameters": {
                    "$ref": "SystemParameters"
                },
                "systemTypes": {
                    "items": {
                        "$ref": "Type"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                },
                "types": {
                    "items": {
                        "$ref": "Type"
                    },
                    "type": "array"
                },
                "usage": {
                    "$ref": "Usage"
                }
            },
            "type": "object"
        },
        "ServiceIdentity": {
            "id": "ServiceIdentity",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "serviceAccountParent": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceContext": {
            "id": "SourceContext",
            "properties": {
                "fileName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceInfo": {
            "id": "SourceInfo",
            "properties": {
                "sourceFiles": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Step": {
            "id": "Step",
            "properties": {
                "status": {
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "DONE",
                        "NOT_STARTED",
                        "IN_PROGRESS",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SubmitConfigSourceRequest": {
            "id": "SubmitConfigSourceRequest",
            "properties": {
                "configSource": {
                    "$ref": "ConfigSource"
                },
                "validateOnly": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "SubmitConfigSourceResponse": {
            "id": "SubmitConfigSourceResponse",
            "properties": {
                "serviceConfig": {
                    "$ref": "Service"
                }
            },
            "type": "object"
        },
        "SystemParameter": {
            "id": "SystemParameter",
            "properties": {
                "httpHeader": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "urlQueryParameter": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SystemParameterRule": {
            "id": "SystemParameterRule",
            "properties": {
                "parameters": {
                    "items": {
                        "$ref": "SystemParameter"
                    },
                    "type": "array"
                },
                "selector": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SystemParameters": {
            "id": "SystemParameters",
            "properties": {
                "rules": {
                    "items": {
                        "$ref": "SystemParameterRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TrafficPercentStrategy": {
            "id": "TrafficPercentStrategy",
            "properties": {
                "percentages": {
                    "additionalProperties": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Type": {
            "id": "Type",
            "properties": {
                "fields": {
                    "items": {
                        "$ref": "Field"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "oneofs": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "options": {
                    "items": {
                        "$ref": "Option"
                    },
                    "type": "array"
                },
                "sourceContext": {
                    "$ref": "SourceContext"
                },
                "syntax": {
                    "enum": [
                        "SYNTAX_PROTO2",
                        "SYNTAX_PROTO3"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UndeleteServiceResponse": {
            "id": "UndeleteServiceResponse",
            "properties": {
                "service": {
                    "$ref": "ManagedService"
                }
            },
            "type": "object"
        },
        "Usage": {
            "id": "Usage",
            "properties": {
                "producerNotificationChannel": {
                    "type": "string"
                },
                "requirements": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "rules": {
                    "items": {
                        "$ref": "UsageRule"
                    },
                    "type": "array"
                },
                "serviceIdentity": {
                    "$ref": "ServiceIdentity"
                }
            },
            "type": "object"
        },
        "UsageRule": {
            "id": "UsageRule",
            "properties": {
                "allowUnregisteredCalls": {
                    "type": "boolean"
                },
                "selector": {
                    "type": "string"
                },
                "skipServiceControl": {
                    "type": "boolean"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Service Management API",
    "version": "v1"
}