{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/drive": {},
                "https://www.googleapis.com/auth/drive.file": {},
                "https://www.googleapis.com/auth/drive.readonly": {},
                "https://www.googleapis.com/auth/spreadsheets": {},
                "https://www.googleapis.com/auth/spreadsheets.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://sheets.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Sheets",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/sheets/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "sheets:v4",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
    "name": "sheets",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "spreadsheets": {
            "methods": {
                "batchUpdate": {
                    "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
                    "httpMethod": "POST",
                    "id": "sheets.spreadsheets.batchUpdate",
                    "parameterOrder": [
                        "spreadsheetId"
                    ],
                    "parameters": {
                        "spreadsheetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
                    "request": {
                        "$ref": "BatchUpdateSpreadsheetRequest"
                    },
                    "response": {
                        "$ref": "BatchUpdateSpreadsheetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/spreadsheets"
                    ]
                },
                "create": {
                    "flatPath": "v4/spreadsheets",
                    "httpMethod": "POST",
                    "id": "sheets.spreadsheets.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/spreadsheets",
                    "request": {
                        "$ref": "Spreadsheet"
                    },
                    "response": {
                        "$ref": "Spreadsheet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/spreadsheets"
                    ]
                },
                "get": {
                    "flatPath": "v4/spreadsheets/{spreadsheetId}",
                    "httpMethod": "GET",
                    "id": "sheets.spreadsheets.get",
                    "parameterOrder": [
                        "spreadsheetId"
                    ],
                    "parameters": {
                        "includeGridData": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "ranges": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "spreadsheetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v4/spreadsheets/{spreadsheetId}",
                    "response": {
                        "$ref": "Spreadsheet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly",
                        "https://www.googleapis.com/auth/spreadsheets",
                        "https://www.googleapis.com/auth/spreadsheets.readonly"
                    ]
                },
                "getByDataFilter": {
                    "flatPath": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
                    "httpMethod": "POST",
                    "id": "sheets.spreadsheets.getByDataFilter",
                    "parameterOrder": [
                        "spreadsheetId"
                    ],
                    "parameters": {
                        "spreadsheetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
                    "request": {
                        "$ref": "GetSpreadsheetByDataFilterRequest"
                    },
                    "response": {
                        "$ref": "Spreadsheet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/spreadsheets"
                    ]
                }
            },
            "resources": {
                "developerMetadata": {
                    "methods": {
                        "get": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
                            "httpMethod": "GET",
                            "id": "sheets.spreadsheets.developerMetadata.get",
                            "parameterOrder": [
                                "spreadsheetId",
                                "metadataId"
                            ],
                            "parameters": {
                                "metadataId": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
                            "response": {
                                "$ref": "DeveloperMetadata"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "search": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.developerMetadata.search",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
                            "request": {
                                "$ref": "SearchDeveloperMetadataRequest"
                            },
                            "response": {
                                "$ref": "SearchDeveloperMetadataResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        }
                    }
                },
                "sheets": {
                    "methods": {
                        "copyTo": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.sheets.copyTo",
                            "parameterOrder": [
                                "spreadsheetId",
                                "sheetId"
                            ],
                            "parameters": {
                                "sheetId": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
                            "request": {
                                "$ref": "CopySheetToAnotherSpreadsheetRequest"
                            },
                            "response": {
                                "$ref": "SheetProperties"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        }
                    }
                },
                "values": {
                    "methods": {
                        "append": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.append",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "includeValuesInResponse": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "insertDataOption": {
                                    "enum": [
                                        "OVERWRITE",
                                        "INSERT_ROWS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "range": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "responseDateTimeRenderOption": {
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "responseValueRenderOption": {
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "valueInputOption": {
                                    "enum": [
                                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                                        "RAW",
                                        "USER_ENTERED"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
                            "request": {
                                "$ref": "ValueRange"
                            },
                            "response": {
                                "$ref": "AppendValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchClear": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchClear",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
                            "request": {
                                "$ref": "BatchClearValuesRequest"
                            },
                            "response": {
                                "$ref": "BatchClearValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchClearByDataFilter": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchClearByDataFilter",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
                            "request": {
                                "$ref": "BatchClearValuesByDataFilterRequest"
                            },
                            "response": {
                                "$ref": "BatchClearValuesByDataFilterResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchGet": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
                            "httpMethod": "GET",
                            "id": "sheets.spreadsheets.values.batchGet",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "dateTimeRenderOption": {
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "majorDimension": {
                                    "enum": [
                                        "DIMENSION_UNSPECIFIED",
                                        "ROWS",
                                        "COLUMNS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "ranges": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "valueRenderOption": {
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
                            "response": {
                                "$ref": "BatchGetValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/drive.readonly",
                                "https://www.googleapis.com/auth/spreadsheets",
                                "https://www.googleapis.com/auth/spreadsheets.readonly"
                            ]
                        },
                        "batchGetByDataFilter": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchGetByDataFilter",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
                            "request": {
                                "$ref": "BatchGetValuesByDataFilterRequest"
                            },
                            "response": {
                                "$ref": "BatchGetValuesByDataFilterResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchUpdate": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchUpdate",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
                            "request": {
                                "$ref": "BatchUpdateValuesRequest"
                            },
                            "response": {
                                "$ref": "BatchUpdateValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchUpdateByDataFilter": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchUpdateByDataFilter",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
                            "request": {
                                "$ref": "BatchUpdateValuesByDataFilterRequest"
                            },
                            "response": {
                                "$ref": "BatchUpdateValuesByDataFilterResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "clear": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.clear",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "range": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
                            "request": {
                                "$ref": "ClearValuesRequest"
                            },
                            "response": {
                                "$ref": "ClearValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "get": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "httpMethod": "GET",
                            "id": "sheets.spreadsheets.values.get",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "dateTimeRenderOption": {
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "majorDimension": {
                                    "enum": [
                                        "DIMENSION_UNSPECIFIED",
                                        "ROWS",
                                        "COLUMNS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "range": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "valueRenderOption": {
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "response": {
                                "$ref": "ValueRange"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/drive.readonly",
                                "https://www.googleapis.com/auth/spreadsheets",
                                "https://www.googleapis.com/auth/spreadsheets.readonly"
                            ]
                        },
                        "update": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "httpMethod": "PUT",
                            "id": "sheets.spreadsheets.values.update",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "includeValuesInResponse": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "range": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "responseDateTimeRenderOption": {
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "responseValueRenderOption": {
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "valueInputOption": {
                                    "enum": [
                                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                                        "RAW",
                                        "USER_ENTERED"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "request": {
                                "$ref": "ValueRange"
                            },
                            "response": {
                                "$ref": "UpdateValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://sheets.googleapis.com/",
    "schemas": {
        "AddBandingRequest": {
            "id": "AddBandingRequest",
            "properties": {
                "bandedRange": {
                    "$ref": "BandedRange"
                }
            },
            "type": "object"
        },
        "AddBandingResponse": {
            "id": "AddBandingResponse",
            "properties": {
                "bandedRange": {
                    "$ref": "BandedRange"
                }
            },
            "type": "object"
        },
        "AddChartRequest": {
            "id": "AddChartRequest",
            "properties": {
                "chart": {
                    "$ref": "EmbeddedChart"
                }
            },
            "type": "object"
        },
        "AddChartResponse": {
            "id": "AddChartResponse",
            "properties": {
                "chart": {
                    "$ref": "EmbeddedChart"
                }
            },
            "type": "object"
        },
        "AddConditionalFormatRuleRequest": {
            "id": "AddConditionalFormatRuleRequest",
            "properties": {
                "index": {
                    "format": "int32",
                    "type": "integer"
                },
                "rule": {
                    "$ref": "ConditionalFormatRule"
                }
            },
            "type": "object"
        },
        "AddDimensionGroupRequest": {
            "id": "AddDimensionGroupRequest",
            "properties": {
                "range": {
                    "$ref": "DimensionRange"
                }
            },
            "type": "object"
        },
        "AddDimensionGroupResponse": {
            "id": "AddDimensionGroupResponse",
            "properties": {
                "dimensionGroups": {
                    "items": {
                        "$ref": "DimensionGroup"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AddFilterViewRequest": {
            "id": "AddFilterViewRequest",
            "properties": {
                "filter": {
                    "$ref": "FilterView"
                }
            },
            "type": "object"
        },
        "AddFilterViewResponse": {
            "id": "AddFilterViewResponse",
            "properties": {
                "filter": {
                    "$ref": "FilterView"
                }
            },
            "type": "object"
        },
        "AddNamedRangeRequest": {
            "id": "AddNamedRangeRequest",
            "properties": {
                "namedRange": {
                    "$ref": "NamedRange"
                }
            },
            "type": "object"
        },
        "AddNamedRangeResponse": {
            "id": "AddNamedRangeResponse",
            "properties": {
                "namedRange": {
                    "$ref": "NamedRange"
                }
            },
            "type": "object"
        },
        "AddProtectedRangeRequest": {
            "id": "AddProtectedRangeRequest",
            "properties": {
                "protectedRange": {
                    "$ref": "ProtectedRange"
                }
            },
            "type": "object"
        },
        "AddProtectedRangeResponse": {
            "id": "AddProtectedRangeResponse",
            "properties": {
                "protectedRange": {
                    "$ref": "ProtectedRange"
                }
            },
            "type": "object"
        },
        "AddSheetRequest": {
            "id": "AddSheetRequest",
            "properties": {
                "properties": {
                    "$ref": "SheetProperties"
                }
            },
            "type": "object"
        },
        "AddSheetResponse": {
            "id": "AddSheetResponse",
            "properties": {
                "properties": {
                    "$ref": "SheetProperties"
                }
            },
            "type": "object"
        },
        "AddSlicerRequest": {
            "id": "AddSlicerRequest",
            "properties": {
                "slicer": {
                    "$ref": "Slicer"
                }
            },
            "type": "object"
        },
        "AddSlicerResponse": {
            "id": "AddSlicerResponse",
            "properties": {
                "slicer": {
                    "$ref": "Slicer"
                }
            },
            "type": "object"
        },
        "AppendCellsRequest": {
            "id": "AppendCellsRequest",
            "properties": {
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "rows": {
                    "items": {
                        "$ref": "RowData"
                    },
                    "type": "array"
                },
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AppendDimensionRequest": {
            "id": "AppendDimensionRequest",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "ROWS",
                        "COLUMNS"
                    ],
                    "type": "string"
                },
                "length": {
                    "format": "int32",
                    "type": "integer"
                },
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AppendValuesResponse": {
            "id": "AppendValuesResponse",
            "properties": {
                "spreadsheetId": {
                    "type": "string"
                },
                "tableRange": {
                    "type": "string"
                },
                "updates": {
                    "$ref": "UpdateValuesResponse"
                }
            },
            "type": "object"
        },
        "AutoFillRequest": {
            "id": "AutoFillRequest",
            "properties": {
                "range": {
                    "$ref": "GridRange"
                },
                "sourceAndDestination": {
                    "$ref": "SourceAndDestination"
                },
                "useAlternateSeries": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AutoResizeDimensionsRequest": {
            "id": "AutoResizeDimensionsRequest",
            "properties": {
                "dimensions": {
                    "$ref": "DimensionRange"
                }
            },
            "type": "object"
        },
        "BandedRange": {
            "id": "BandedRange",
            "properties": {
                "bandedRangeId": {
                    "format": "int32",
                    "type": "integer"
                },
                "columnProperties": {
                    "$ref": "BandingProperties"
                },
                "range": {
                    "$ref": "GridRange"
                },
                "rowProperties": {
                    "$ref": "BandingProperties"
                }
            },
            "type": "object"
        },
        "BandingProperties": {
            "id": "BandingProperties",
            "properties": {
                "firstBandColor": {
                    "$ref": "Color"
                },
                "firstBandColorStyle": {
                    "$ref": "ColorStyle"
                },
                "footerColor": {
                    "$ref": "Color"
                },
                "footerColorStyle": {
                    "$ref": "ColorStyle"
                },
                "headerColor": {
                    "$ref": "Color"
                },
                "headerColorStyle": {
                    "$ref": "ColorStyle"
                },
                "secondBandColor": {
                    "$ref": "Color"
                },
                "secondBandColorStyle": {
                    "$ref": "ColorStyle"
                }
            },
            "type": "object"
        },
        "BaselineValueFormat": {
            "id": "BaselineValueFormat",
            "properties": {
                "comparisonType": {
                    "enum": [
                        "COMPARISON_TYPE_UNDEFINED",
                        "ABSOLUTE_DIFFERENCE",
                        "PERCENTAGE_DIFFERENCE"
                    ],
                    "type": "string"
                },
                "negativeColor": {
                    "$ref": "Color"
                },
                "negativeColorStyle": {
                    "$ref": "ColorStyle"
                },
                "position": {
                    "$ref": "TextPosition"
                },
                "positiveColor": {
                    "$ref": "Color"
                },
                "positiveColorStyle": {
                    "$ref": "ColorStyle"
                },
                "textFormat": {
                    "$ref": "TextFormat"
                }
            },
            "type": "object"
        },
        "BasicChartAxis": {
            "id": "BasicChartAxis",
            "properties": {
                "format": {
                    "$ref": "TextFormat"
                },
                "position": {
                    "enum": [
                        "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
                        "BOTTOM_AXIS",
                        "LEFT_AXIS",
                        "RIGHT_AXIS"
                    ],
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "titleTextPosition": {
                    "$ref": "TextPosition"
                },
                "viewWindowOptions": {
                    "$ref": "ChartAxisViewWindowOptions"
                }
            },
            "type": "object"
        },
        "BasicChartDomain": {
            "id": "BasicChartDomain",
            "properties": {
                "domain": {
                    "$ref": "ChartData"
                },
                "reversed": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BasicChartSeries": {
            "id": "BasicChartSeries",
            "properties": {
                "color": {
                    "$ref": "Color"
                },
                "colorStyle": {
                    "$ref": "ColorStyle"
                },
                "lineStyle": {
                    "$ref": "LineStyle"
                },
                "series": {
                    "$ref": "ChartData"
                },
                "targetAxis": {
                    "enum": [
                        "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
                        "BOTTOM_AXIS",
                        "LEFT_AXIS",
                        "RIGHT_AXIS"
                    ],
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "BASIC_CHART_TYPE_UNSPECIFIED",
                        "BAR",
                        "LINE",
                        "AREA",
                        "COLUMN",
                        "SCATTER",
                        "COMBO",
                        "STEPPED_AREA"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BasicChartSpec": {
            "id": "BasicChartSpec",
            "properties": {
                "axis": {
                    "items": {
                        "$ref": "BasicChartAxis"
                    },
                    "type": "array"
                },
                "chartType": {
                    "enum": [
                        "BASIC_CHART_TYPE_UNSPECIFIED",
                        "BAR",
                        "LINE",
                        "AREA",
                        "COLUMN",
                        "SCATTER",
                        "COMBO",
                        "STEPPED_AREA"
                    ],
                    "type": "string"
                },
                "compareMode": {
                    "enum": [
                        "BASIC_CHART_COMPARE_MODE_UNSPECIFIED",
                        "DATUM",
                        "CATEGORY"
                    ],
                    "type": "string"
                },
                "domains": {
                    "items": {
                        "$ref": "BasicChartDomain"
                    },
                    "type": "array"
                },
                "headerCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "interpolateNulls": {
                    "type": "boolean"
                },
                "legendPosition": {
                    "enum": [
                        "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
                        "BOTTOM_LEGEND",
                        "LEFT_LEGEND",
                        "RIGHT_LEGEND",
                        "TOP_LEGEND",
                        "NO_LEGEND"
                    ],
                    "type": "string"
                },
                "lineSmoothing": {
                    "type": "boolean"
                },
                "series": {
                    "items": {
                        "$ref": "BasicChartSeries"
                    },
                    "type": "array"
                },
                "stackedType": {
                    "enum": [
                        "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
                        "NOT_STACKED",
                        "STACKED",
                        "PERCENT_STACKED"
                    ],
                    "type": "string"
                },
                "threeDimensional": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BasicFilter": {
            "id": "BasicFilter",
            "properties": {
                "criteria": {
                    "additionalProperties": {
                        "$ref": "FilterCriteria"
                    },
                    "type": "object"
                },
                "range": {
                    "$ref": "GridRange"
                },
                "sortSpecs": {
                    "items": {
                        "$ref": "SortSpec"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchClearValuesByDataFilterRequest": {
            "id": "BatchClearValuesByDataFilterRequest",
            "properties": {
                "dataFilters": {
                    "items": {
                        "$ref": "DataFilter"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchClearValuesByDataFilterResponse": {
            "id": "BatchClearValuesByDataFilterResponse",
            "properties": {
                "clearedRanges": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchClearValuesRequest": {
            "id": "BatchClearValuesRequest",
            "properties": {
                "ranges": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchClearValuesResponse": {
            "id": "BatchClearValuesResponse",
            "properties": {
                "clearedRanges": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchGetValuesByDataFilterRequest": {
            "id": "BatchGetValuesByDataFilterRequest",
            "properties": {
                "dataFilters": {
                    "items": {
                        "$ref": "DataFilter"
                    },
                    "type": "array"
                },
                "dateTimeRenderOption": {
                    "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                    ],
                    "type": "string"
                },
                "majorDimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "ROWS",
                        "COLUMNS"
                    ],
                    "type": "string"
                },
                "valueRenderOption": {
                    "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchGetValuesByDataFilterResponse": {
            "id": "BatchGetValuesByDataFilterResponse",
            "properties": {
                "spreadsheetId": {
                    "type": "string"
                },
                "valueRanges": {
                    "items": {
                        "$ref": "MatchedValueRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchGetValuesResponse": {
            "id": "BatchGetValuesResponse",
            "properties": {
                "spreadsheetId": {
                    "type": "string"
                },
                "valueRanges": {
                    "items": {
                        "$ref": "ValueRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchUpdateSpreadsheetRequest": {
            "id": "BatchUpdateSpreadsheetRequest",
            "properties": {
                "includeSpreadsheetInResponse": {
                    "type": "boolean"
                },
                "requests": {
                    "items": {
                        "$ref": "Request"
                    },
                    "type": "array"
                },
                "responseIncludeGridData": {
                    "type": "boolean"
                },
                "responseRanges": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchUpdateSpreadsheetResponse": {
            "id": "BatchUpdateSpreadsheetResponse",
            "properties": {
                "replies": {
                    "items": {
                        "$ref": "Response"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                },
                "updatedSpreadsheet": {
                    "$ref": "Spreadsheet"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesByDataFilterRequest": {
            "id": "BatchUpdateValuesByDataFilterRequest",
            "properties": {
                "data": {
                    "items": {
                        "$ref": "DataFilterValueRange"
                    },
                    "type": "array"
                },
                "includeValuesInResponse": {
                    "type": "boolean"
                },
                "responseDateTimeRenderOption": {
                    "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                    ],
                    "type": "string"
                },
                "responseValueRenderOption": {
                    "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                    ],
                    "type": "string"
                },
                "valueInputOption": {
                    "enum": [
                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                        "RAW",
                        "USER_ENTERED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesByDataFilterResponse": {
            "id": "BatchUpdateValuesByDataFilterResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "UpdateValuesByDataFilterResponse"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                },
                "totalUpdatedCells": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedColumns": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedRows": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedSheets": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesRequest": {
            "id": "BatchUpdateValuesRequest",
            "properties": {
                "data": {
                    "items": {
                        "$ref": "ValueRange"
                    },
                    "type": "array"
                },
                "includeValuesInResponse": {
                    "type": "boolean"
                },
                "responseDateTimeRenderOption": {
                    "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                    ],
                    "type": "string"
                },
                "responseValueRenderOption": {
                    "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                    ],
                    "type": "string"
                },
                "valueInputOption": {
                    "enum": [
                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                        "RAW",
                        "USER_ENTERED"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesResponse": {
            "id": "BatchUpdateValuesResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "UpdateValuesResponse"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                },
                "totalUpdatedCells": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedColumns": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedRows": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedSheets": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BooleanCondition": {
            "id": "BooleanCondition",
            "properties": {
                "type": {
                    "enum": [
                        "CONDITION_TYPE_UNSPECIFIED",
                        "NUMBER_GREATER",
                        "NUMBER_GREATER_THAN_EQ",
                        "NUMBER_LESS",
                        "NUMBER_LESS_THAN_EQ",
                        "NUMBER_EQ",
                        "NUMBER_NOT_EQ",
                        "NUMBER_BETWEEN",
                        "NUMBER_NOT_BETWEEN",
                        "TEXT_CONTAINS",
                        "TEXT_NOT_CONTAINS",
                        "TEXT_STARTS_WITH",
                        "TEXT_ENDS_WITH",
                        "TEXT_EQ",
                        "TEXT_IS_EMAIL",
                        "TEXT_IS_URL",
                        "DATE_EQ",
                        "DATE_BEFORE",
                        "DATE_AFTER",
                        "DATE_ON_OR_BEFORE",
                        "DATE_ON_OR_AFTER",
                        "DATE_BETWEEN",
                        "DATE_NOT_BETWEEN",
                        "DATE_IS_VALID",
                        "ONE_OF_RANGE",
                        "ONE_OF_LIST",
                        "BLANK",
                        "NOT_BLANK",
                        "CUSTOM_FORMULA",
                        "BOOLEAN"
                    ],
                    "type": "string"
                },
                "values": {
                    "items": {
                        "$ref": "ConditionValue"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BooleanRule": {
            "id": "BooleanRule",
            "properties": {
                "condition": {
                    "$ref": "BooleanCondition"
                },
                "format": {
                    "$ref": "CellFormat"
                }
            },
            "type": "object"
        },
        "Border": {
            "id": "Border",
            "properties": {
                "color": {
                    "$ref": "Color"
                },
                "colorStyle": {
                    "$ref": "ColorStyle"
                },
                "style": {
                    "enum": [
                        "STYLE_UNSPECIFIED",
                        "DOTTED",
                        "DASHED",
                        "SOLID",
                        "SOLID_MEDIUM",
                        "SOLID_THICK",
                        "NONE",
                        "DOUBLE"
                    ],
                    "type": "string"
                },
                "width": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Borders": {
            "id": "Borders",
            "properties": {
                "bottom": {
                    "$ref": "Border"
                },
                "left": {
                    "$ref": "Border"
                },
                "right": {
                    "$ref": "Border"
                },
                "top": {
                    "$ref": "Border"
                }
            },
            "type": "object"
        },
        "BubbleChartSpec": {
            "id": "BubbleChartSpec",
            "properties": {
                "bubbleBorderColor": {
                    "$ref": "Color"
                },
                "bubbleBorderColorStyle": {
                    "$ref": "ColorStyle"
                },
                "bubbleLabels": {
                    "$ref": "ChartData"
                },
                "bubbleMaxRadiusSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "bubbleMinRadiusSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "bubbleOpacity": {
                    "format": "float",
                    "type": "number"
                },
                "bubbleSizes": {
                    "$ref": "ChartData"
                },
                "bubbleTextStyle": {
                    "$ref": "TextFormat"
                },
                "domain": {
                    "$ref": "ChartData"
                },
                "groupIds": {
                    "$ref": "ChartData"
                },
                "legendPosition": {
                    "enum": [
                        "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED",
                        "BOTTOM_LEGEND",
                        "LEFT_LEGEND",
                        "RIGHT_LEGEND",
                        "TOP_LEGEND",
                        "NO_LEGEND",
                        "INSIDE_LEGEND"
                    ],
                    "type": "string"
                },
                "series": {
                    "$ref": "ChartData"
                }
            },
            "type": "object"
        },
        "CandlestickChartSpec": {
            "id": "CandlestickChartSpec",
            "properties": {
                "data": {
                    "items": {
                        "$ref": "CandlestickData"
                    },
                    "type": "array"
                },
                "domain": {
                    "$ref": "CandlestickDomain"
                }
            },
            "type": "object"
        },
        "CandlestickData": {
            "id": "CandlestickData",
            "properties": {
                "closeSeries": {
                    "$ref": "CandlestickSeries"
                },
                "highSeries": {
                    "$ref": "CandlestickSeries"
                },
                "lowSeries": {
                    "$ref": "CandlestickSeries"
                },
                "openSeries": {
                    "$ref": "CandlestickSeries"
                }
            },
            "type": "object"
        },
        "CandlestickDomain": {
            "id": "CandlestickDomain",
            "properties": {
                "data": {
                    "$ref": "ChartData"
                },
                "reversed": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CandlestickSeries": {
            "id": "CandlestickSeries",
            "properties": {
                "data": {
                    "$ref": "ChartData"
                }
            },
            "type": "object"
        },
        "CellData": {
            "id": "CellData",
            "properties": {
                "dataValidation": {
                    "$ref": "DataValidationRule"
                },
                "effectiveFormat": {
                    "$ref": "CellFormat"
                },
                "effectiveValue": {
                    "$ref": "ExtendedValue"
                },
                "formattedValue": {
                    "type": "string"
                },
                "hyperlink": {
                    "type": "string"
                },
                "note": {
                    "type": "string"
                },
                "pivotTable": {
                    "$ref": "PivotTable"
                },
                "textFormatRuns": {
                    "items": {
                        "$ref": "TextFormatRun"
                    },
                    "type": "array"
                },
                "userEnteredFormat": {
                    "$ref": "CellFormat"
                },
                "userEnteredValue": {
                    "$ref": "ExtendedValue"
                }
            },
            "type": "object"
        },
        "CellFormat": {
            "id": "CellFormat",
            "properties": {
                "backgroundColor": {
                    "$ref": "Color"
                },
                "backgroundColorStyle": {
                    "$ref": "ColorStyle"
                },
                "borders": {
                    "$ref": "Borders"
                },
                "horizontalAlignment": {
                    "enum": [
                        "HORIZONTAL_ALIGN_UNSPECIFIED",
                        "LEFT",
                        "CENTER",
                        "RIGHT"
                    ],
                    "type": "string"
                },
                "hyperlinkDisplayType": {
                    "enum": [
                        "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
                        "LINKED",
                        "PLAIN_TEXT"
                    ],
                    "type": "string"
                },
                "numberFormat": {
                    "$ref": "NumberFormat"
                },
                "padding": {
                    "$ref": "Padding"
                },
                "textDirection": {
                    "enum": [
                        "TEXT_DIRECTION_UNSPECIFIED",
                        "LEFT_TO_RIGHT",
                        "RIGHT_TO_LEFT"
                    ],
                    "type": "string"
                },
                "textFormat": {
                    "$ref": "TextFormat"
                },
                "textRotation": {
                    "$ref": "TextRotation"
                },
                "verticalAlignment": {
                    "enum": [
                        "VERTICAL_ALIGN_UNSPECIFIED",
                        "TOP",
                        "MIDDLE",
                        "BOTTOM"
                    ],
                    "type": "string"
                },
                "wrapStrategy": {
                    "enum": [
                        "WRAP_STRATEGY_UNSPECIFIED",
                        "OVERFLOW_CELL",
                        "LEGACY_WRAP",
                        "CLIP",
                        "WRAP"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChartAxisViewWindowOptions": {
            "id": "ChartAxisViewWindowOptions",
            "properties": {
                "viewWindowMax": {
                    "format": "double",
                    "type": "number"
                },
                "viewWindowMin": {
                    "format": "double",
                    "type": "number"
                },
                "viewWindowMode": {
                    "enum": [
                        "DEFAULT_VIEW_WINDOW_MODE",
                        "VIEW_WINDOW_MODE_UNSUPPORTED",
                        "EXPLICIT",
                        "PRETTY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChartCustomNumberFormatOptions": {
            "id": "ChartCustomNumberFormatOptions",
            "properties": {
                "prefix": {
                    "type": "string"
                },
                "suffix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChartData": {
            "id": "ChartData",
            "properties": {
                "sourceRange": {
                    "$ref": "ChartSourceRange"
                }
            },
            "type": "object"
        },
        "ChartSourceRange": {
            "id": "ChartSourceRange",
            "properties": {
                "sources": {
                    "items": {
                        "$ref": "GridRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ChartSpec": {
            "id": "ChartSpec",
            "properties": {
                "altText": {
                    "type": "string"
                },
                "backgroundColor": {
                    "$ref": "Color"
                },
                "backgroundColorStyle": {
                    "$ref": "ColorStyle"
                },
                "basicChart": {
                    "$ref": "BasicChartSpec"
                },
                "bubbleChart": {
                    "$ref": "BubbleChartSpec"
                },
                "candlestickChart": {
                    "$ref": "CandlestickChartSpec"
                },
                "fontName": {
                    "type": "string"
                },
                "hiddenDimensionStrategy": {
                    "enum": [
                        "CHART_HIDDEN_DIMENSION_STRATEGY_UNSPECIFIED",
                        "SKIP_HIDDEN_ROWS_AND_COLUMNS",
                        "SKIP_HIDDEN_ROWS",
                        "SKIP_HIDDEN_COLUMNS",
                        "SHOW_ALL"
                    ],
                    "type": "string"
                },
                "histogramChart": {
                    "$ref": "HistogramChartSpec"
                },
                "maximized": {
                    "type": "boolean"
                },
                "orgChart": {
                    "$ref": "OrgChartSpec"
                },
                "pieChart": {
                    "$ref": "PieChartSpec"
                },
                "scorecardChart": {
                    "$ref": "ScorecardChartSpec"
                },
                "subtitle": {
                    "type": "string"
                },
                "subtitleTextFormat": {
                    "$ref": "TextFormat"
                },
                "subtitleTextPosition": {
                    "$ref": "TextPosition"
                },
                "title": {
                    "type": "string"
                },
                "titleTextFormat": {
                    "$ref": "TextFormat"
                },
                "titleTextPosition": {
                    "$ref": "TextPosition"
                },
                "treemapChart": {
                    "$ref": "TreemapChartSpec"
                },
                "waterfallChart": {
                    "$ref": "WaterfallChartSpec"
                }
            },
            "type": "object"
        },
        "ClearBasicFilterRequest": {
            "id": "ClearBasicFilterRequest",
            "properties": {
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ClearValuesRequest": {
            "id": "ClearValuesRequest",
            "properties": {},
            "type": "object"
        },
        "ClearValuesResponse": {
            "id": "ClearValuesResponse",
            "properties": {
                "clearedRange": {
                    "type": "string"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Color": {
            "id": "Color",
            "properties": {
                "alpha": {
                    "format": "float",
                    "type": "number"
                },
                "blue": {
                    "format": "float",
                    "type": "number"
                },
                "green": {
                    "format": "float",
                    "type": "number"
                },
                "red": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ColorStyle": {
            "id": "ColorStyle",
            "properties": {
                "rgbColor": {
                    "$ref": "Color"
                },
                "themeColor": {
                    "enum": [
                        "THEME_COLOR_TYPE_UNSPECIFIED",
                        "TEXT",
                        "BACKGROUND",
                        "ACCENT1",
                        "ACCENT2",
                        "ACCENT3",
                        "ACCENT4",
                        "ACCENT5",
                        "ACCENT6",
                        "LINK"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConditionValue": {
            "id": "ConditionValue",
            "properties": {
                "relativeDate": {
                    "enum": [
                        "RELATIVE_DATE_UNSPECIFIED",
                        "PAST_YEAR",
                        "PAST_MONTH",
                        "PAST_WEEK",
                        "YESTERDAY",
                        "TODAY",
                        "TOMORROW"
                    ],
                    "type": "string"
                },
                "userEnteredValue": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConditionalFormatRule": {
            "id": "ConditionalFormatRule",
            "properties": {
                "booleanRule": {
                    "$ref": "BooleanRule"
                },
                "gradientRule": {
                    "$ref": "GradientRule"
                },
                "ranges": {
                    "items": {
                        "$ref": "GridRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CopyPasteRequest": {
            "id": "CopyPasteRequest",
            "properties": {
                "destination": {
                    "$ref": "GridRange"
                },
                "pasteOrientation": {
                    "enum": [
                        "NORMAL",
                        "TRANSPOSE"
                    ],
                    "type": "string"
                },
                "pasteType": {
                    "enum": [
                        "PASTE_NORMAL",
                        "PASTE_VALUES",
                        "PASTE_FORMAT",
                        "PASTE_NO_BORDERS",
                        "PASTE_FORMULA",
                        "PASTE_DATA_VALIDATION",
                        "PASTE_CONDITIONAL_FORMATTING"
                    ],
                    "type": "string"
                },
                "source": {
                    "$ref": "GridRange"
                }
            },
            "type": "object"
        },
        "CopySheetToAnotherSpreadsheetRequest": {
            "id": "CopySheetToAnotherSpreadsheetRequest",
            "properties": {
                "destinationSpreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateDeveloperMetadataRequest": {
            "id": "CreateDeveloperMetadataRequest",
            "properties": {
                "developerMetadata": {
                    "$ref": "DeveloperMetadata"
                }
            },
            "type": "object"
        },
        "CreateDeveloperMetadataResponse": {
            "id": "CreateDeveloperMetadataResponse",
            "properties": {
                "developerMetadata": {
                    "$ref": "DeveloperMetadata"
                }
            },
            "type": "object"
        },
        "CutPasteRequest": {
            "id": "CutPasteRequest",
            "properties": {
                "destination": {
                    "$ref": "GridCoordinate"
                },
                "pasteType": {
                    "enum": [
                        "PASTE_NORMAL",
                        "PASTE_VALUES",
                        "PASTE_FORMAT",
                        "PASTE_NO_BORDERS",
                        "PASTE_FORMULA",
                        "PASTE_DATA_VALIDATION",
                        "PASTE_CONDITIONAL_FORMATTING"
                    ],
                    "type": "string"
                },
                "source": {
                    "$ref": "GridRange"
                }
            },
            "type": "object"
        },
        "DataFilter": {
            "id": "DataFilter",
            "properties": {
                "a1Range": {
                    "type": "string"
                },
                "developerMetadataLookup": {
                    "$ref": "DeveloperMetadataLookup"
                },
                "gridRange": {
                    "$ref": "GridRange"
                }
            },
            "type": "object"
        },
        "DataFilterValueRange": {
            "id": "DataFilterValueRange",
            "properties": {
                "dataFilter": {
                    "$ref": "DataFilter"
                },
                "majorDimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "ROWS",
                        "COLUMNS"
                    ],
                    "type": "string"
                },
                "values": {
                    "items": {
                        "items": {
                            "type": "any"
                        },
                        "type": "array"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DataValidationRule": {
            "id": "DataValidationRule",
            "properties": {
                "condition": {
                    "$ref": "BooleanCondition"
                },
                "inputMessage": {
                    "type": "string"
                },
                "showCustomUi": {
                    "type": "boolean"
                },
                "strict": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DateTimeRule": {
            "id": "DateTimeRule",
            "properties": {
                "type": {
                    "enum": [
                        "DATE_TIME_RULE_TYPE_UNSPECIFIED",
                        "SECOND",
                        "MINUTE",
                        "HOUR",
                        "HOUR_MINUTE",
                        "HOUR_MINUTE_AMPM",
                        "DAY_OF_WEEK",
                        "DAY_OF_YEAR",
                        "DAY_OF_MONTH",
                        "DAY_MONTH",
                        "MONTH",
                        "QUARTER",
                        "YEAR",
                        "YEAR_MONTH",
                        "YEAR_QUARTER",
                        "YEAR_MONTH_DAY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteBandingRequest": {
            "id": "DeleteBandingRequest",
            "properties": {
                "bandedRangeId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeleteConditionalFormatRuleRequest": {
            "id": "DeleteConditionalFormatRuleRequest",
            "properties": {
                "index": {
                    "format": "int32",
                    "type": "integer"
                },
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeleteConditionalFormatRuleResponse": {
            "id": "DeleteConditionalFormatRuleResponse",
            "properties": {
                "rule": {
                    "$ref": "ConditionalFormatRule"
                }
            },
            "type": "object"
        },
        "DeleteDeveloperMetadataRequest": {
            "id": "DeleteDeveloperMetadataRequest",
            "properties": {
                "dataFilter": {
                    "$ref": "DataFilter"
                }
            },
            "type": "object"
        },
        "DeleteDeveloperMetadataResponse": {
            "id": "DeleteDeveloperMetadataResponse",
            "properties": {
                "deletedDeveloperMetadata": {
                    "items": {
                        "$ref": "DeveloperMetadata"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DeleteDimensionGroupRequest": {
            "id": "DeleteDimensionGroupRequest",
            "properties": {
                "range": {
                    "$ref": "DimensionRange"
                }
            },
            "type": "object"
        },
        "DeleteDimensionGroupResponse": {
            "id": "DeleteDimensionGroupResponse",
            "properties": {
                "dimensionGroups": {
                    "items": {
                        "$ref": "DimensionGroup"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DeleteDimensionRequest": {
            "id": "DeleteDimensionRequest",
            "properties": {
                "range": {
                    "$ref": "DimensionRange"
                }
            },
            "type": "object"
        },
        "DeleteDuplicatesRequest": {
            "id": "DeleteDuplicatesRequest",
            "properties": {
                "comparisonColumns": {
                    "items": {
                        "$ref": "DimensionRange"
                    },
                    "type": "array"
                },
                "range": {
                    "$ref": "GridRange"
                }
            },
            "type": "object"
        },
        "DeleteDuplicatesResponse": {
            "id": "DeleteDuplicatesResponse",
            "properties": {
                "duplicatesRemovedCount": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeleteEmbeddedObjectRequest": {
            "id": "DeleteEmbeddedObjectRequest",
            "properties": {
                "objectId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeleteFilterViewRequest": {
            "id": "DeleteFilterViewRequest",
            "properties": {
                "filterId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeleteNamedRangeRequest": {
            "id": "DeleteNamedRangeRequest",
            "properties": {
                "namedRangeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteProtectedRangeRequest": {
            "id": "DeleteProtectedRangeRequest",
            "properties": {
                "protectedRangeId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeleteRangeRequest": {
            "id": "DeleteRangeRequest",
            "properties": {
                "range": {
                    "$ref": "GridRange"
                },
                "shiftDimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "ROWS",
                        "COLUMNS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteSheetRequest": {
            "id": "DeleteSheetRequest",
            "properties": {
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeveloperMetadata": {
            "id": "DeveloperMetadata",
            "properties": {
                "location": {
                    "$ref": "DeveloperMetadataLocation"
                },
                "metadataId": {
                    "format": "int32",
                    "type": "integer"
                },
                "metadataKey": {
                    "type": "string"
                },
                "metadataValue": {
                    "type": "string"
                },
                "visibility": {
                    "enum": [
                        "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
                        "DOCUMENT",
                        "PROJECT"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeveloperMetadataLocation": {
            "id": "DeveloperMetadataLocation",
            "properties": {
                "dimensionRange": {
                    "$ref": "DimensionRange"
                },
                "locationType": {
                    "enum": [
                        "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
                        "ROW",
                        "COLUMN",
                        "SHEET",
                        "SPREADSHEET"
                    ],
                    "type": "string"
                },
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                },
                "spreadsheet": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DeveloperMetadataLookup": {
            "id": "DeveloperMetadataLookup",
            "properties": {
                "locationMatchingStrategy": {
                    "enum": [
                        "DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED",
                        "EXACT_LOCATION",
                        "INTERSECTING_LOCATION"
                    ],
                    "type": "string"
                },
                "locationType": {
                    "enum": [
                        "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
                        "ROW",
                        "COLUMN",
                        "SHEET",
                        "SPREADSHEET"
                    ],
                    "type": "string"
                },
                "metadataId": {
                    "format": "int32",
                    "type": "integer"
                },
                "metadataKey": {
                    "type": "string"
                },
                "metadataLocation": {
                    "$ref": "DeveloperMetadataLocation"
                },
                "metadataValue": {
                    "type": "string"
                },
                "visibility": {
                    "enum": [
                        "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
                        "DOCUMENT",
                        "PROJECT"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DimensionGroup": {
            "id": "DimensionGroup",
            "properties": {
                "collapsed": {
                    "type": "boolean"
                },
                "depth": {
                    "format": "int32",
                    "type": "integer"
                },
                "range": {
                    "$ref": "DimensionRange"
                }
            },
            "type": "object"
        },
        "DimensionProperties": {
            "id": "DimensionProperties",
            "properties": {
                "developerMetadata": {
                    "items": {
                        "$ref": "DeveloperMetadata"
                    },
                    "type": "array"
                },
                "hiddenByFilter": {
                    "type": "boolean"
                },
                "hiddenByUser": {
                    "type": "boolean"
                },
                "pixelSize": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DimensionRange": {
            "id": "DimensionRange",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "ROWS",
                        "COLUMNS"
                    ],
                    "type": "string"
                },
                "endIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DuplicateFilterViewRequest": {
            "id": "DuplicateFilterViewRequest",
            "properties": {
                "filterId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DuplicateFilterViewResponse": {
            "id": "DuplicateFilterViewResponse",
            "properties": {
                "filter": {
                    "$ref": "FilterView"
                }
            },
            "type": "object"
        },
        "DuplicateSheetRequest": {
            "id": "DuplicateSheetRequest",
            "properties": {
                "insertSheetIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "newSheetId": {
                    "format": "int32",
                    "type": "integer"
                },
                "newSheetName": {
                    "type": "string"
                },
                "sourceSheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DuplicateSheetResponse": {
            "id": "DuplicateSheetResponse",
            "properties": {
                "properties": {
                    "$ref": "SheetProperties"
                }
            },
            "type": "object"
        },
        "Editors": {
            "id": "Editors",
            "properties": {
                "domainUsersCanEdit": {
                    "type": "boolean"
                },
                "groups": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "users": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EmbeddedChart": {
            "id": "EmbeddedChart",
            "properties": {
                "chartId": {
                    "format": "int32",
                    "type": "integer"
                },
                "position": {
                    "$ref": "EmbeddedObjectPosition"
                },
                "spec": {
                    "$ref": "ChartSpec"
                }
            },
            "type": "object"
        },
        "EmbeddedObjectPosition": {
            "id": "EmbeddedObjectPosition",
            "properties": {
                "newSheet": {
                    "type": "boolean"
                },
                "overlayPosition": {
                    "$ref": "OverlayPosition"
                },
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ErrorValue": {
            "id": "ErrorValue",
            "properties": {
                "message": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "ERROR",
                        "NULL_VALUE",
                        "DIVIDE_BY_ZERO",
                        "VALUE",
                        "REF",
                        "NAME",
                        "NUM",
                        "N_A",
                        "LOADING"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExtendedValue": {
            "id": "ExtendedValue",
            "properties": {
                "boolValue": {
                    "type": "boolean"
                },
                "errorValue": {
                    "$ref": "ErrorValue"
                },
                "formulaValue": {
                    "type": "string"
                },
                "numberValue": {
                    "format": "double",
                    "type": "number"
                },
                "stringValue": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FilterCriteria": {
            "id": "FilterCriteria",
            "properties": {
                "condition": {
                    "$ref": "BooleanCondition"
                },
                "hiddenValues": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "visibleBackgroundColor": {
                    "$ref": "Color"
                },
                "visibleBackgroundColorStyle": {
                    "$ref": "ColorStyle"
                },
                "visibleForegroundColor": {
                    "$ref": "Color"
                },
                "visibleForegroundColorStyle": {
                    "$ref": "ColorStyle"
                }
            },
            "type": "object"
        },
        "FilterView": {
            "id": "FilterView",
            "properties": {
                "criteria": {
                    "additionalProperties": {
                        "$ref": "FilterCriteria"
                    },
                    "type": "object"
                },
                "filterViewId": {
                    "format": "int32",
                    "type": "integer"
                },
                "namedRangeId": {
                    "type": "string"
                },
                "range": {
                    "$ref": "GridRange"
                },
                "sortSpecs": {
                    "items": {
                        "$ref": "SortSpec"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FindReplaceRequest": {
            "id": "FindReplaceRequest",
            "properties": {
                "allSheets": {
                    "type": "boolean"
                },
                "find": {
                    "type": "string"
                },
                "includeFormulas": {
                    "type": "boolean"
                },
                "matchCase": {
                    "type": "boolean"
                },
                "matchEntireCell": {
                    "type": "boolean"
                },
                "range": {
                    "$ref": "GridRange"
                },
                "replacement": {
                    "type": "string"
                },
                "searchByRegex": {
                    "type": "boolean"
                },
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "FindReplaceResponse": {
            "id": "FindReplaceResponse",
            "properties": {
                "formulasChanged": {
                    "format": "int32",
                    "type": "integer"
                },
                "occurrencesChanged": {
                    "format": "int32",
                    "type": "integer"
                },
                "rowsChanged": {
                    "format": "int32",
                    "type": "integer"
                },
                "sheetsChanged": {
                    "format": "int32",
                    "type": "integer"
                },
                "valuesChanged": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GetSpreadsheetByDataFilterRequest": {
            "id": "GetSpreadsheetByDataFilterRequest",
            "properties": {
                "dataFilters": {
                    "items": {
                        "$ref": "DataFilter"
                    },
                    "type": "array"
                },
                "includeGridData": {
                    "type": "boolean"
[...]
