{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/drive": {},
                "https://www.googleapis.com/auth/drive.file": {},
                "https://www.googleapis.com/auth/drive.readonly": {},
                "https://www.googleapis.com/auth/spreadsheets": {},
                "https://www.googleapis.com/auth/spreadsheets.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://sheets.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Sheets",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/sheets/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "sheets:v4",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
    "name": "sheets",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "spreadsheets": {
            "methods": {
                "batchUpdate": {
                    "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
                    "httpMethod": "POST",
                    "id": "sheets.spreadsheets.batchUpdate",
                    "parameterOrder": [
                        "spreadsheetId"
                    ],
                    "parameters": {
                        "spreadsheetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
                    "request": {
                        "$ref": "BatchUpdateSpreadsheetRequest"
                    },
                    "response": {
                        "$ref": "BatchUpdateSpreadsheetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/spreadsheets"
                    ]
                },
                "create": {
                    "flatPath": "v4/spreadsheets",
                    "httpMethod": "POST",
                    "id": "sheets.spreadsheets.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/spreadsheets",
                    "request": {
                        "$ref": "Spreadsheet"
                    },
                    "response": {
                        "$ref": "Spreadsheet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/spreadsheets"
                    ]
                },
                "get": {
                    "flatPath": "v4/spreadsheets/{spreadsheetId}",
                    "httpMethod": "GET",
                    "id": "sheets.spreadsheets.get",
                    "parameterOrder": [
                        "spreadsheetId"
                    ],
                    "parameters": {
                        "includeGridData": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "ranges": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "spreadsheetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v4/spreadsheets/{spreadsheetId}",
                    "response": {
                        "$ref": "Spreadsheet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly",
                        "https://www.googleapis.com/auth/spreadsheets",
                        "https://www.googleapis.com/auth/spreadsheets.readonly"
                    ]
                },
                "getByDataFilter": {
                    "flatPath": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
                    "httpMethod": "POST",
                    "id": "sheets.spreadsheets.getByDataFilter",
                    "parameterOrder": [
                        "spreadsheetId"
                    ],
                    "parameters": {
                        "spreadsheetId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
                    "request": {
                        "$ref": "GetSpreadsheetByDataFilterRequest"
                    },
                    "response": {
                        "$ref": "Spreadsheet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/spreadsheets"
                    ]
                }
            },
            "resources": {
                "developerMetadata": {
                    "methods": {
                        "get": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
                            "httpMethod": "GET",
                            "id": "sheets.spreadsheets.developerMetadata.get",
                            "parameterOrder": [
                                "spreadsheetId",
                                "metadataId"
                            ],
                            "parameters": {
                                "metadataId": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
                            "response": {
                                "$ref": "DeveloperMetadata"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "search": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.developerMetadata.search",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
                            "request": {
                                "$ref": "SearchDeveloperMetadataRequest"
                            },
                            "response": {
                                "$ref": "SearchDeveloperMetadataResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        }
                    }
                },
                "sheets": {
                    "methods": {
                        "copyTo": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.sheets.copyTo",
                            "parameterOrder": [
                                "spreadsheetId",
                                "sheetId"
                            ],
                            "parameters": {
                                "sheetId": {
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
                            "request": {
                                "$ref": "CopySheetToAnotherSpreadsheetRequest"
                            },
                            "response": {
                                "$ref": "SheetProperties"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        }
                    }
                },
                "values": {
                    "methods": {
                        "append": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.append",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "includeValuesInResponse": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "insertDataOption": {
                                    "enum": [
                                        "OVERWRITE",
                                        "INSERT_ROWS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "range": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "responseDateTimeRenderOption": {
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "responseValueRenderOption": {
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "valueInputOption": {
                                    "enum": [
                                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                                        "RAW",
                                        "USER_ENTERED"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
                            "request": {
                                "$ref": "ValueRange"
                            },
                            "response": {
                                "$ref": "AppendValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchClear": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchClear",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
                            "request": {
                                "$ref": "BatchClearValuesRequest"
                            },
                            "response": {
                                "$ref": "BatchClearValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchClearByDataFilter": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchClearByDataFilter",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
                            "request": {
                                "$ref": "BatchClearValuesByDataFilterRequest"
                            },
                            "response": {
                                "$ref": "BatchClearValuesByDataFilterResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchGet": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
                            "httpMethod": "GET",
                            "id": "sheets.spreadsheets.values.batchGet",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "dateTimeRenderOption": {
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "majorDimension": {
                                    "enum": [
                                        "DIMENSION_UNSPECIFIED",
                                        "ROWS",
                                        "COLUMNS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "ranges": {
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "valueRenderOption": {
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
                            "response": {
                                "$ref": "BatchGetValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/drive.readonly",
                                "https://www.googleapis.com/auth/spreadsheets",
                                "https://www.googleapis.com/auth/spreadsheets.readonly"
                            ]
                        },
                        "batchGetByDataFilter": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchGetByDataFilter",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
                            "request": {
                                "$ref": "BatchGetValuesByDataFilterRequest"
                            },
                            "response": {
                                "$ref": "BatchGetValuesByDataFilterResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchUpdate": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchUpdate",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
                            "request": {
                                "$ref": "BatchUpdateValuesRequest"
                            },
                            "response": {
                                "$ref": "BatchUpdateValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "batchUpdateByDataFilter": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchUpdateByDataFilter",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
                            "request": {
                                "$ref": "BatchUpdateValuesByDataFilterRequest"
                            },
                            "response": {
                                "$ref": "BatchUpdateValuesByDataFilterResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "clear": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.clear",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "range": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
                            "request": {
                                "$ref": "ClearValuesRequest"
                            },
                            "response": {
                                "$ref": "ClearValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "get": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "httpMethod": "GET",
                            "id": "sheets.spreadsheets.values.get",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "dateTimeRenderOption": {
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "majorDimension": {
                                    "enum": [
                                        "DIMENSION_UNSPECIFIED",
                                        "ROWS",
                                        "COLUMNS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "range": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "valueRenderOption": {
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "response": {
                                "$ref": "ValueRange"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/drive.readonly",
                                "https://www.googleapis.com/auth/spreadsheets",
                                "https://www.googleapis.com/auth/spreadsheets.readonly"
                            ]
                        },
                        "update": {
                            "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "httpMethod": "PUT",
                            "id": "sheets.spreadsheets.values.update",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "includeValuesInResponse": {
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "range": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "responseDateTimeRenderOption": {
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "responseValueRenderOption": {
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "valueInputOption": {
                                    "enum": [
                                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                                        "RAW",
                                        "USER_ENTERED"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "request": {
                                "$ref": "ValueRange"
                            },
                            "response": {
                                "$ref": "UpdateValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://sheets.googleapis.com/",
    "schemas": {
        "AddBandingRequest": {
            "id": "AddBandingRequest",
            "properties": {
                "bandedRange": {
                    "$ref": "BandedRange"
                }
            },
            "type": "object"
        },
        "AddBandingResponse": {
            "id": "AddBandingResponse",
            "properties": {
                "bandedRange": {
                    "$ref": "BandedRange"
                }
            },
            "type": "object"
        },
        "AddChartRequest": {
            "id": "AddChartRequest",
            "properties": {
                "chart": {
                    "$ref": "EmbeddedChart"
                }
            },
            "type": "object"
        },
        "AddChartResponse": {
            "id": "AddChartResponse",
            "properties": {
                "chart": {
                    "$ref": "EmbeddedChart"
                }
            },
            "type": "object"
        },
        "AddConditionalFormatRuleRequest": {
            "id": "AddConditionalFormatRuleRequest",
            "properties": {
                "index": {
                    "format": "int32",
                    "type": "integer"
                },
                "rule": {
                    "$ref": "ConditionalFormatRule"
                }
            },
            "type": "object"
        },
        "AddDimensionGroupRequest": {
            "id": "AddDimensionGroupRequest",
            "properties": {
                "range": {
                    "$ref": "DimensionRange"
                }
            },
            "type": "object"
        },
        "AddDimensionGroupResponse": {
            "id": "AddDimensionGroupResponse",
            "properties": {
                "dimensionGroups": {
                    "items": {
                        "$ref": "DimensionGroup"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AddFilterViewRequest": {
            "id": "AddFilterViewRequest",
            "properties": {
                "filter": {
                    "$ref": "FilterView"
                }
            },
            "type": "object"
        },
        "AddFilterViewResponse": {
            "id": "AddFilterViewResponse",
            "properties": {
                "filter": {
                    "$ref": "FilterView"
                }
            },
            "type": "object"
        },
        "AddNamedRangeRequest": {
            "id": "AddNamedRangeRequest",
            "properties": {
                "namedRange": {
                    "$ref": "NamedRange"
                }
            },
            "type": "object"
        },
        "AddNamedRangeResponse": {
            "id": "AddNamedRangeResponse",
            "properties": {
                "namedRange": {
                    "$ref": "NamedRange"
                }
            },
            "type": "object"
        },
        "AddProtectedRangeRequest": {
            "id": "AddProtectedRangeRequest",
            "properties": {
                "protectedRange": {
                    "$ref": "ProtectedRange"
                }
            },
            "type": "object"
        },
        "AddProtectedRangeResponse": {
            "id": "AddProtectedRangeResponse",
            "properties": {
                "protectedRange": {
                    "$ref": "ProtectedRange"
                }
            },
            "type": "object"
        },
        "AddSheetRequest": {
            "id": "AddSheetRequest",
            "properties": {
                "properties": {
                    "$ref": "SheetProperties"
                }
            },
            "type": "object"
        },
        "AddSheetResponse": {
            "id": "AddSheetResponse",
            "properties": {
                "properties": {
                    "$ref": "SheetProperties"
                }
            },
            "type": "object"
        },
        "AddSlicerRequest": {
            "id": "AddSlicerRequest",
            "properties": {
                "slicer": {
                    "$ref": "Slicer"
                }
            },
            "type": "object"
        },
        "AddSlicerResponse": {
            "id": "AddSlicerResponse",
            "properties": {
                "slicer": {
                    "$ref": "Slicer"
                }
            },
            "type": "object"
        },
        "AppendCellsRequest": {
            "id": "AppendCellsRequest",
            "properties": {
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "rows": {
                    "items": {
                        "$ref": "RowData"
                    },
                    "type": "array"
                },
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AppendDimensionRequest": {
            "id": "AppendDimensionRequest",
            "properties": {
                "dimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "ROWS",
                        "COLUMNS"
                    ],
                    "enumDescriptions": [
                        "The default value, do not use.",
                        "Operates on the rows of a sheet.",
                        "Operates on the columns of a sheet."
                    ],
                    "type": "string"
                },
                "length": {
                    "format": "int32",
                    "type": "integer"
                },
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AppendValuesResponse": {
            "id": "AppendValuesResponse",
            "properties": {
                "spreadsheetId": {
                    "type": "string"
                },
                "tableRange": {
                    "type": "string"
                },
                "updates": {
                    "$ref": "UpdateValuesResponse"
                }
            },
            "type": "object"
        },
        "AutoFillRequest": {
            "id": "AutoFillRequest",
            "properties": {
                "range": {
                    "$ref": "GridRange"
                },
                "sourceAndDestination": {
                    "$ref": "SourceAndDestination"
                },
                "useAlternateSeries": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AutoResizeDimensionsRequest": {
            "id": "AutoResizeDimensionsRequest",
            "properties": {
                "dimensions": {
                    "$ref": "DimensionRange"
                }
            },
            "type": "object"
        },
        "BandedRange": {
            "id": "BandedRange",
            "properties": {
                "bandedRangeId": {
                    "format": "int32",
                    "type": "integer"
                },
                "columnProperties": {
                    "$ref": "BandingProperties"
                },
                "range": {
                    "$ref": "GridRange"
                },
                "rowProperties": {
                    "$ref": "BandingProperties"
                }
            },
            "type": "object"
        },
        "BandingProperties": {
            "id": "BandingProperties",
            "properties": {
                "firstBandColor": {
                    "$ref": "Color"
                },
                "firstBandColorStyle": {
                    "$ref": "ColorStyle"
                },
                "footerColor": {
                    "$ref": "Color"
                },
                "footerColorStyle": {
                    "$ref": "ColorStyle"
                },
                "headerColor": {
                    "$ref": "Color"
                },
                "headerColorStyle": {
                    "$ref": "ColorStyle"
                },
                "secondBandColor": {
                    "$ref": "Color"
                },
                "secondBandColorStyle": {
                    "$ref": "ColorStyle"
                }
            },
            "type": "object"
        },
        "BaselineValueFormat": {
            "id": "BaselineValueFormat",
            "properties": {
                "comparisonType": {
                    "enum": [
                        "COMPARISON_TYPE_UNDEFINED",
                        "ABSOLUTE_DIFFERENCE",
                        "PERCENTAGE_DIFFERENCE"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "Use absolute difference between key and baseline value.",
                        "Use percentage difference between key and baseline value."
                    ],
                    "type": "string"
                },
                "negativeColor": {
                    "$ref": "Color"
                },
                "negativeColorStyle": {
                    "$ref": "ColorStyle"
                },
                "position": {
                    "$ref": "TextPosition"
                },
                "positiveColor": {
                    "$ref": "Color"
                },
                "positiveColorStyle": {
                    "$ref": "ColorStyle"
                },
                "textFormat": {
                    "$ref": "TextFormat"
                }
            },
            "type": "object"
        },
        "BasicChartAxis": {
            "id": "BasicChartAxis",
            "properties": {
                "format": {
                    "$ref": "TextFormat"
                },
                "position": {
                    "enum": [
                        "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
                        "BOTTOM_AXIS",
                        "LEFT_AXIS",
                        "RIGHT_AXIS"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "The axis rendered at the bottom of a chart.\nFor most charts, this is the standard major axis.\nFor bar charts, this is a minor axis.",
                        "The axis rendered at the left of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is the standard major axis.",
                        "The axis rendered at the right of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is an unusual major axis."
                    ],
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "titleTextPosition": {
                    "$ref": "TextPosition"
                },
                "viewWindowOptions": {
                    "$ref": "ChartAxisViewWindowOptions"
                }
            },
            "type": "object"
        },
        "BasicChartDomain": {
            "id": "BasicChartDomain",
            "properties": {
                "domain": {
                    "$ref": "ChartData"
                },
                "reversed": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BasicChartSeries": {
            "id": "BasicChartSeries",
            "properties": {
                "color": {
                    "$ref": "Color"
                },
                "colorStyle": {
                    "$ref": "ColorStyle"
                },
                "lineStyle": {
                    "$ref": "LineStyle"
                },
                "series": {
                    "$ref": "ChartData"
                },
                "targetAxis": {
                    "enum": [
                        "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
                        "BOTTOM_AXIS",
                        "LEFT_AXIS",
                        "RIGHT_AXIS"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "The axis rendered at the bottom of a chart.\nFor most charts, this is the standard major axis.\nFor bar charts, this is a minor axis.",
                        "The axis rendered at the left of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is the standard major axis.",
                        "The axis rendered at the right of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is an unusual major axis."
                    ],
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "BASIC_CHART_TYPE_UNSPECIFIED",
                        "BAR",
                        "LINE",
                        "AREA",
                        "COLUMN",
                        "SCATTER",
                        "COMBO",
                        "STEPPED_AREA"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "A <a href=\"/chart/interactive/docs/gallery/barchart\">bar chart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/linechart\">line chart</a>.",
                        "An <a href=\"/chart/interactive/docs/gallery/areachart\">area chart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/columnchart\">column chart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/scatterchart\">scatter\nchart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/combochart\">combo chart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/steppedareachart\">stepped area\nchart</a>."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BasicChartSpec": {
            "id": "BasicChartSpec",
            "properties": {
                "axis": {
                    "items": {
                        "$ref": "BasicChartAxis"
                    },
                    "type": "array"
                },
                "chartType": {
                    "enum": [
                        "BASIC_CHART_TYPE_UNSPECIFIED",
                        "BAR",
                        "LINE",
                        "AREA",
                        "COLUMN",
                        "SCATTER",
                        "COMBO",
                        "STEPPED_AREA"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "A <a href=\"/chart/interactive/docs/gallery/barchart\">bar chart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/linechart\">line chart</a>.",
                        "An <a href=\"/chart/interactive/docs/gallery/areachart\">area chart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/columnchart\">column chart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/scatterchart\">scatter\nchart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/combochart\">combo chart</a>.",
                        "A <a href=\"/chart/interactive/docs/gallery/steppedareachart\">stepped area\nchart</a>."
                    ],
                    "type": "string"
                },
                "compareMode": {
                    "enum": [
                        "BASIC_CHART_COMPARE_MODE_UNSPECIFIED",
                        "DATUM",
                        "CATEGORY"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "Only the focused data element is highlighted and shown in the tooltip.",
                        "All data elements with the same category (e.g., domain value) are\nhighlighted and shown in the tooltip."
                    ],
                    "type": "string"
                },
                "domains": {
                    "items": {
                        "$ref": "BasicChartDomain"
                    },
                    "type": "array"
                },
                "headerCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "interpolateNulls": {
                    "type": "boolean"
                },
                "legendPosition": {
                    "enum": [
                        "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
                        "BOTTOM_LEGEND",
                        "LEFT_LEGEND",
                        "RIGHT_LEGEND",
                        "TOP_LEGEND",
                        "NO_LEGEND"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "The legend is rendered on the bottom of the chart.",
                        "The legend is rendered on the left of the chart.",
                        "The legend is rendered on the right of the chart.",
                        "The legend is rendered on the top of the chart.",
                        "No legend is rendered."
                    ],
                    "type": "string"
                },
                "lineSmoothing": {
                    "type": "boolean"
                },
                "series": {
                    "items": {
                        "$ref": "BasicChartSeries"
                    },
                    "type": "array"
                },
                "stackedType": {
                    "enum": [
                        "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
                        "NOT_STACKED",
                        "STACKED",
                        "PERCENT_STACKED"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "Series are not stacked.",
                        "Series values are stacked, each value is rendered vertically beginning\nfrom the top of the value below it.",
                        "Vertical stacks are stretched to reach the top of the chart, with\nvalues laid out as percentages of each other."
                    ],
                    "type": "string"
                },
                "threeDimensional": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "BasicFilter": {
            "id": "BasicFilter",
            "properties": {
                "criteria": {
                    "additionalProperties": {
                        "$ref": "FilterCriteria"
                    },
                    "type": "object"
                },
                "range": {
                    "$ref": "GridRange"
                },
                "sortSpecs": {
                    "items": {
                        "$ref": "SortSpec"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchClearValuesByDataFilterRequest": {
            "id": "BatchClearValuesByDataFilterRequest",
            "properties": {
                "dataFilters": {
                    "items": {
                        "$ref": "DataFilter"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchClearValuesByDataFilterResponse": {
            "id": "BatchClearValuesByDataFilterResponse",
            "properties": {
                "clearedRanges": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchClearValuesRequest": {
            "id": "BatchClearValuesRequest",
            "properties": {
                "ranges": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchClearValuesResponse": {
            "id": "BatchClearValuesResponse",
            "properties": {
                "clearedRanges": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchGetValuesByDataFilterRequest": {
            "id": "BatchGetValuesByDataFilterRequest",
            "properties": {
                "dataFilters": {
                    "items": {
                        "$ref": "DataFilter"
                    },
                    "type": "array"
                },
                "dateTimeRenderOption": {
                    "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                    ],
                    "enumDescriptions": [
                        "Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year.",
                        "Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."
                    ],
                    "type": "string"
                },
                "majorDimension": {
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "ROWS",
                        "COLUMNS"
                    ],
                    "enumDescriptions": [
                        "The default value, do not use.",
                        "Operates on the rows of a sheet.",
                        "Operates on the columns of a sheet."
                    ],
                    "type": "string"
                },
                "valueRenderOption": {
                    "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                    ],
                    "enumDescriptions": [
                        "Values will be calculated & formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`.",
                        "Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`.",
                        "Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchGetValuesByDataFilterResponse": {
            "id": "BatchGetValuesByDataFilterResponse",
            "properties": {
                "spreadsheetId": {
                    "type": "string"
                },
                "valueRanges": {
                    "items": {
                        "$ref": "MatchedValueRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchGetValuesResponse": {
            "id": "BatchGetValuesResponse",
            "properties": {
                "spreadsheetId": {
                    "type": "string"
                },
                "valueRanges": {
                    "items": {
                        "$ref": "ValueRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchUpdateSpreadsheetRequest": {
            "id": "BatchUpdateSpreadsheetRequest",
            "properties": {
                "includeSpreadsheetInResponse": {
                    "type": "boolean"
                },
                "requests": {
                    "items": {
                        "$ref": "Request"
                    },
                    "type": "array"
                },
                "responseIncludeGridData": {
                    "type": "boolean"
                },
                "responseRanges": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchUpdateSpreadsheetResponse": {
            "id": "BatchUpdateSpreadsheetResponse",
            "properties": {
                "replies": {
                    "items": {
                        "$ref": "Response"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                },
                "updatedSpreadsheet": {
                    "$ref": "Spreadsheet"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesByDataFilterRequest": {
            "id": "BatchUpdateValuesByDataFilterRequest",
            "properties": {
                "data": {
                    "items": {
                        "$ref": "DataFilterValueRange"
                    },
                    "type": "array"
                },
                "includeValuesInResponse": {
                    "type": "boolean"
                },
                "responseDateTimeRenderOption": {
                    "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                    ],
                    "enumDescriptions": [
                        "Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year.",
                        "Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."
                    ],
                    "type": "string"
                },
                "responseValueRenderOption": {
                    "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                    ],
                    "enumDescriptions": [
                        "Values will be calculated & formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`.",
                        "Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`.",
                        "Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."
                    ],
                    "type": "string"
                },
                "valueInputOption": {
                    "enum": [
                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                        "RAW",
                        "USER_ENTERED"
                    ],
                    "enumDescriptions": [
                        "Default input value. This value must not be used.",
                        "The values the user has entered will not be parsed and will be stored\nas-is.",
                        "The values will be parsed as if the user typed them into the UI.\nNumbers will stay as numbers, but strings may be converted to numbers,\ndates, etc. following the same rules that are applied when entering\ntext into a cell via the Google Sheets UI."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesByDataFilterResponse": {
            "id": "BatchUpdateValuesByDataFilterResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "UpdateValuesByDataFilterResponse"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                },
                "totalUpdatedCells": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedColumns": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedRows": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedSheets": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesRequest": {
            "id": "BatchUpdateValuesRequest",
            "properties": {
                "data": {
                    "items": {
                        "$ref": "ValueRange"
                    },
                    "type": "array"
                },
                "includeValuesInResponse": {
                    "type": "boolean"
                },
                "responseDateTimeRenderOption": {
                    "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                    ],
                    "enumDescriptions": [
                        "Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year.",
                        "Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."
                    ],
                    "type": "string"
                },
                "responseValueRenderOption": {
                    "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                    ],
                    "enumDescriptions": [
                        "Values will be calculated & formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`.",
                        "Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`.",
                        "Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."
                    ],
                    "type": "string"
                },
                "valueInputOption": {
                    "enum": [
                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                        "RAW",
                        "USER_ENTERED"
                    ],
                    "enumDescriptions": [
                        "Default input value. This value must not be used.",
                        "The values the user has entered will not be parsed and will be stored\nas-is.",
                        "The values will be parsed as if the user typed them into the UI.\nNumbers will stay as numbers, but strings may be converted to numbers,\ndates, etc. following the same rules that are applied when entering\ntext into a cell via the Google Sheets UI."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesResponse": {
            "id": "BatchUpdateValuesResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "UpdateValuesResponse"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                },
                "totalUpdatedCells": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedColumns": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedRows": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedSheets": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BooleanCondition": {
            "id": "BooleanCondition",
            "properties": {
                "type": {
                    "enum": [
                        "CONDITION_TYPE_UNSPECIFIED",
                        "NUMBER_GREATER",
                        "NUMBER_GREATER_THAN_EQ",
                        "NUMBER_LESS",
                        "NUMBER_LESS_THAN_EQ",
                        "NUMBER_EQ",
                        "NUMBER_NOT_EQ",
                        "NUMBER_BETWEEN",
                        "NUMBER_NOT_BETWEEN",
                        "TEXT_CONTAINS",
                        "TEXT_NOT_CONTAINS",
                        "TEXT_STARTS_WITH",
                        "TEXT_ENDS_WITH",
                        "TEXT_EQ",
                        "TEXT_IS_EMAIL",
                        "TEXT_IS_URL",
                        "DATE_EQ",
                        "DATE_BEFORE",
                        "DATE_AFTER",
                        "DATE_ON_OR_BEFORE",
                        "DATE_ON_OR_AFTER",
                        "DATE_BETWEEN",
                        "DATE_NOT_BETWEEN",
                        "DATE_IS_VALID",
                        "ONE_OF_RANGE",
                        "ONE_OF_LIST",
                        "BLANK",
                        "NOT_BLANK",
                        "CUSTOM_FORMULA",
                        "BOOLEAN"
                    ],
                    "enumDescriptions": [
                        "The default value, do not use.",
                        "The cell's value must be greater than the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be greater than or equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be less than the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be less than or equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be not equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be between the two condition values.\nSupported by data validation, conditional formatting and filters.\nRequires exactly two ConditionValues.",
                        "The cell's value must not be between the two condition values.\nSupported by data validation, conditional formatting and filters.\nRequires exactly two ConditionValues.",
                        "The cell's value must contain the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must not contain the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must start with the condition's value.\nSupported by conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must end with the condition's value.\nSupported by conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be exactly the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be a valid email address.\nSupported by data validation.\nRequires no ConditionValues.",
                        "The cell's value must be a valid URL.\nSupported by data validation.\nRequires no ConditionValues.",
                        "The cell's value must be the same date as the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be before the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
                        "The cell's value must be after the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
                        "The cell's value must be on or before the date of the condition's value.\nSupported by data validation.\nRequires a single ConditionValue\nthat may be a relative date.",
                        "The cell's value must be on or after the date of the condition's value.\nSupported by data validation.\nRequires a single ConditionValue\nthat may be a relative date.",
                        "The cell's value must be between the dates of the two condition values.\nSupported by data validation.\nRequires exactly two ConditionValues.",
                        "The cell's value must be outside the dates of the two condition values.\nSupported by data validation.\nRequires exactly two ConditionValues.",
                        "The cell's value must be a date.\nSupported by data validation.\nRequires no ConditionValues.",
                        "The cell's value must be listed in the grid in condition value's range.\nSupported by data validation.\nRequires a single ConditionValue,\nand the value must be a valid range in A1 notation.",
                        "The cell's value must be in the list of condition values.\nSupported by data validation.\nSupports any number of condition values,\none per item in the list.\nFormulas are not supported in the values.",
                        "The cell's value must be empty.\nSupported by conditional formatting and filters.\nRequires no ConditionValues.",
                        "The cell's value must not be empty.\nSupported by conditional formatting and filters.\nRequires no ConditionValues.",
                        "The condition's formula must evaluate to true.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be TRUE/FALSE or in the list of condition values.\nSupported by data validation.\nRenders as a cell checkbox.\nSupports zero, one or two ConditionValues.  No\nvalues indicates the cell must be TRUE or FALSE, where TRUE renders as\nchecked and FALSE renders as unchecked.  One value indicates the cell\nwill render as checked when it contains that value and unchecked when it\nis blank.  Two values indicate that the cell will render as checked when\nit contains the first value and unchecked when it contains the second\nvalue.  For example, [\"Yes\",\"No\"] indicates that the cell will render a\nchecked box when it has the value \"Yes\" and an unchecked box when it has\nthe value \"No\"."
                    ],
                    "type": "string"
                },
                "values": {
                    "items": {
                        "$ref": "ConditionValue"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BooleanRule": {
            "id": "BooleanRule",
            "properties": {
                "condition": {
                    "$ref": "BooleanCondition"
                },
                "format": {
                    "$ref": "CellFormat"
                }
            },
            "type": "object"
        },
        "Border": {
            "id": "Border",
            "properties": {
                "color": {
                    "$ref": "Color"
                },
                "colorStyle": {
                    "$ref": "ColorStyle"
                },
                "style": {
                    "enum": [
                        "STYLE_UNSPECIFIED",
                        "DOTTED",
                        "DASHED",
                        "SOLID",
                        "SOLID_MEDIUM",
                        "SOLID_THICK",
                        "NONE",
                        "DOUBLE"
                    ],
                    "enumDescriptions": [
                        "The style is not specified. Do not use this.",
                        "The border is dotted.",
                        "The border is dashed.",
                        "The border is a thin solid line.",
                        "The border is a medium solid line.",
                        "The border is a thick solid line.",
                        "No border.\nUsed only when updating a border in order to erase it.",
                        "The border is two solid lines."
                    ],
                    "type": "string"
                },
                "width": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Borders": {
            "id": "Borders",
            "properties": {
                "bottom": {
                    "$ref": "Border"
                },
                "left": {
                    "$ref": "Border"
                },
                "right": {
                    "$ref": "Border"
                },
                "top": {
                    "$ref": "Border"
                }
            },
            "type": "object"
        },
        "BubbleChartSpec": {
            "id": "BubbleChartSpec",
            "properties": {
                "bubbleBorderColor": {
                    "$ref": "Color"
                },
                "bubbleBorderColorStyle": {
                    "$ref": "ColorStyle"
                },
                "bubbleLabels": {
                    "$ref": "ChartData"
                },
                "bubbleMaxRadiusSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "bubbleMinRadiusSize": {
                    "format": "int32",
                    "type": "integer"
                },
                "bubbleOpacity": {
                    "format": "float",
                    "type": "number"
                },
                "bubbleSizes": {
                    "$ref": "ChartData"
                },
                "bubbleTextStyle": {
                    "$ref": "TextFormat"
                },
                "domain": {
                    "$ref": "ChartData"
                },
                "groupIds": {
                    "$ref": "ChartData"
                },
                "legendPosition": {
                    "enum": [
                        "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED",
                        "BOTTOM_LEGEND",
                        "LEFT_LEGEND",
                        "RIGHT_LEGEND",
                        "TOP_LEGEND",
                        "NO_LEGEND",
                        "INSIDE_LEGEND"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "The legend is rendered on the bottom of the chart.",
                        "The legend is rendered on the left of the chart.",
                        "The legend is rendered on the right of the chart.",
                        "The legend is rendered on the top of the chart.",
                        "No legend is rendered.",
                        "The legend is rendered inside the chart area."
                    ],
                    "type": "string"
                },
                "series": {
                    "$ref": "ChartData"
                }
            },
            "type": "object"
        },
        "CandlestickChartSpec": {
            "id": "CandlestickChartSpec",
            "properties": {
                "data": {
                    "items": {
                        "$ref": "CandlestickData"
                    },
                    "type": "array"
                },
                "domain": {
                    "$ref": "CandlestickDomain"
                }
            },
            "type": "object"
        },
        "CandlestickData": {
            "id": "CandlestickData",
            "properties": {
                "closeSeries": {
                    "$ref": "CandlestickSeries"
                },
                "highSeries": {
                    "$ref": "CandlestickSeries"
                },
                "lowSeries": {
                    "$ref": "CandlestickSeries"
                },
                "openSeries": {
                    "$ref": "CandlestickSeries"
                }
            },
            "type": "object"
        },
        "CandlestickDomain": {
            "id": "CandlestickDomain",
            "properties": {
                "data": {
                    "$ref": "ChartData"
                },
                "reversed": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CandlestickSeries": {
            "id": "CandlestickSeries",
            "properties": {
                "data": {
                    "$ref": "ChartData"
                }
            },
            "type": "object"
        },
        "CellData": {
            "id": "CellData",
            "properties": {
                "dataValidation": {
                    "$ref": "DataValidationRule"
                },
                "effectiveFormat": {
                    "$ref": "CellFormat"
                },
                "effectiveValue": {
                    "$ref": "ExtendedValue"
                },
                "formattedValue": {
                    "type": "string"
                },
                "hyperlink": {
                    "type": "string"
                },
                "note": {
                    "type": "string"
                },
                "pivotTable": {
                    "$ref": "PivotTable"
                },
                "textFormatRuns": {
                    "items": {
                        "$ref": "TextFormatRun"
                    },
                    "type": "array"
                },
                "userEnteredFormat": {
                    "$ref": "CellFormat"
                },
                "userEnteredValue": {
                    "$ref": "ExtendedValue"
                }
            },
            "type": "object"
        },
        "CellFormat": {
            "id": "CellFormat",
            "properties": {
                "backgroundColor": {
                    "$ref": "Color"
                },
                "backgroundColorStyle": {
                    "$ref": "ColorStyle"
                },
                "borders": {
                    "$ref": "Borders"
                },
                "horizontalAlignment": {
                    "enum": [
                        "HORIZONTAL_ALIGN_UNSPECIFIED",
                        "LEFT",
                        "CENTER",
                        "RIGHT"
                    ],
                    "enumDescriptions": [
                        "The horizontal alignment is not specified. Do not use this.",
                        "The text is explicitly aligned to the left of the cell.",
                        "The text is explicitly aligned to the center of the cell.",
                        "The text is explicitly aligned to the right of the cell."
                    ],
                    "type": "string"
                },
                "hyperlinkDisplayType": {
                    "enum": [
                        "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
                        "LINKED",
                        "PLAIN_TEXT"
                    ],
                    "enumDescriptions": [
                        "The default value: the hyperlink is rendered. Do not use this.",
                        "A hyperlink should be explicitly rendered.",
                        "A hyperlink should not be rendered."
                    ],
                    "type": "string"
                },
                "numberFormat": {
                    "$ref": "NumberFormat"
                },
                "padding": {
                    "$ref": "Padding"
                },
                "textDirection": {
                    "enum": [
                        "TEXT_DIRECTION_UNSPECIFIED",
                        "LEFT_TO_RIGHT",
                        "RIGHT_TO_LEFT"
                    ],
                    "enumDescriptions": [
                        "The text direction is not specified. Do not use this.",
                        "The text direction of left-to-right was set by the user.",
                        "The text direction of right-to-left was set by the user."
                    ],
                    "type": "string"
                },
                "textFormat": {
                    "$ref": "TextFormat"
                },
                "textRotation": {
                    "$ref": "TextRotation"
                },
                "verticalAlignment": {
                    "enum": [
                        "VERTICAL_ALIGN_UNSPECIFIED",
                        "TOP",
                        "MIDDLE",
                        "BOTTOM"
                    ],
                    "enumDescriptions": [
                        "The vertical alignment is not specified.  Do not use this.",
                        "The text is explicitly aligned to the top of the cell.",
                        "The text is explicitly aligned to the middle of the cell.",
                        "The text is explicitly aligned to the bottom of the cell."
                    ],
                    "type": "string"
                },
                "wrapStrategy": {
                    "enum": [
                        "WRAP_STRATEGY_UNSPECIFIED",
                        "OVERFLOW_CELL",
                        "LEGACY_WRAP",
                        "CLIP",
                        "WRAP"
                    ],
                    "enumDescriptions": [
                        "The default value, do not use.",
                        "Lines that are longer than the cell width will be written in the next\ncell over, so long as that cell is empty. If the next cell over is\nnon-empty, this behaves the same as CLIP. The text will never wrap\nto the next line unless the user manually inserts a new line.\nExample:\n\n    | First sentence. |\n    | Manual newline that is very long. <- Text continues into next cell\n    | Next newline.   |",
                        "This wrap strategy represents the old Google Sheets wrap strategy where\nwords that are longer than a line are clipped rather than broken. This\nstrategy is not supported on all platforms and is being phased out.\nExample:\n\n    | Cell has a |\n    | loooooooooo| <- Word is clipped.\n    | word.      |",
                        "Lines that are longer than the cell width will be clipped.\nThe text will never wrap to the next line unless the user manually\ninserts a new line.\nExample:\n\n    | First sentence. |\n    | Manual newline t| <- Text is clipped\n    | Next newline.   |",
                        "Words that are longer than a line are wrapped at the character level\nrather than clipped.\nExample:\n\n    | Cell has a |\n    | loooooooooo| <- Word is broken.\n    | ong word.  |"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChartAxisViewWindowOptions": {
            "id": "ChartAxisViewWindowOptions",
            "properties": {
                "viewWindowMax": {
                    "format": "double",
                    "type": "number"
                },
                "viewWindowMin": {
                    "format": "double",
                    "type": "number"
                },
                "viewWindowMode": {
                    "enum": [
                        "DEFAULT_VIEW_WINDOW_MODE",
                        "VIEW_WINDOW_MODE_UNSUPPORTED",
                        "EXPLICIT",
                        "PRETTY"
                    ],
                    "enumDescriptions": [
                        "The default view window mode used in the Sheets editor for this chart\ntype. In most cases, if set, the default mode is equivalent to\n`PRETTY`.",
                        "Do not use. Represents that the currently set mode is not supported by\nthe API.",
                        "Follows the min and max exactly if specified. If a value is unspecified,\nit will fall back to the `PRETTY` value.",
                        "Chooses a min and max that make the chart look good. Both min and max are\nignored in this mode."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChartCustomNumberFormatOptions": {
            "id": "ChartCustomNumberFormatOptions",
            "properties": {
                "prefix": {
                    "type": "string"
                },
                "suffix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChartData": {
            "id": "ChartData",
            "properties": {
                "sourceRange": {
                    "$ref": "ChartSourceRange"
                }
            },
            "type": "object"
        },
        "ChartSourceRange": {
            "id": "ChartSourceRange",
            "properties": {
                "sources": {
                    "items": {
                        "$ref": "GridRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ChartSpec": {
            "id": "ChartSpec",
            "properties": {
                "altText": {
                    "type": "string"
                },
                "backgroundColor": {
                    "$ref": "Color"
                },
                "backgroundColorStyle": {
                    "$ref": "ColorStyle"
                },
                "basicChart": {
                    "$ref": "BasicChartSpec"
                },
                "bubbleChart": {
                    "$ref": "BubbleChartSpec"
                },
                "candlestickChart": {
                    "$ref": "CandlestickChartSpec"
                },
                "fontName": {
                    "type": "string"
                },
                "hiddenDimensionStrategy": {
                    "enum": [
                        "CHART_HIDDEN_DIMENSION_STRATEGY_UNSPECIFIED",
                        "SKIP_HIDDEN_ROWS_AND_COLUMNS",
                        "SKIP_HIDDEN_ROWS",
                        "SKIP_HIDDEN_COLUMNS",
                        "SHOW_ALL"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "Charts will skip hidden rows and columns.",
                        "Charts will skip hidden rows only.",
                        "Charts will skip hidden columns only.",
                        "Charts will not skip any hidden rows or columns."
                    ],
                    "type": "string"
                },
                "histogramChart": {
                    "$ref": "HistogramChartSpec"
                },
                "maximized": {
                    "type": "boolean"
                },
                "orgChart": {
                    "$ref": "OrgChartSpec"
                },
                "pieChart": {
                    "$ref": "PieChartSpec"
                },
                "scorecardChart": {
                    "$ref": "ScorecardChartSpec"
                },
                "subtitle": {
                    "type": "string"
                },
                "subtitleTextFormat": {
                    "$ref": "TextFormat"
                },
                "subtitleTextPosition": {
                    "$ref": "TextPosition"
                },
                "title": {
                    "type": "string"
                },
                "titleTextFormat": {
                    "$ref": "TextFormat"
                },
                "titleTextPosition": {
                    "$ref": "TextPosition"
                },
                "treemapChart": {
                    "$ref": "TreemapChartSpec"
                },
                "waterfallChart": {
                    "$ref": "WaterfallChartSpec"
                }
            },
            "type": "object"
        },
        "ClearBasicFilterRequest": {
            "id": "ClearBasicFilterRequest",
            "properties": {
                "sheetId": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ClearValuesRequest": {
            "id": "ClearValuesRequest",
            "properties": {},
            "type": "object"
        },
        "ClearValuesResponse": {
            "id": "ClearValuesResponse",
            "properties": {
                "clearedRange": {
                    "type": "string"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Color": {
            "id": "Color",
            "properties": {
                "alpha": {
                    "format": "float",
                    "type": "number"
                },
                "blue": {
                    "format": "float",
                    "type": "number"
                },
                "green": {
                    "format": "float",
                    "type": "number"
                },
                "red": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ColorStyle": {
            "id": "ColorStyle",
            "properties": {
                "rgbColor": {
                    "$ref": "Color"
                },
                "themeColor": {
                    "enum": [
                        "THEME_COLOR_TYPE_UNSPECIFIED",
                        "TEXT",
                        "BACKGROUND",
                        "ACCENT1",
                        "ACCENT2",
                        "ACCENT3",
                        "ACCENT4",
                        "ACCENT5",
                        "ACCENT6",
                        "LINK"
                    ],
                    "enumDescriptions": [
                        "Unspecified theme color",
                        "Represents the primary text color",
                        "Represents the primary background color",
                        "Represents the first accent color",
                        "Represents the second accent color",
                        "Represents the third accent color",
                        "Represents the fourth accent color",
                        "Represents the fifth accent color",
                        "Represents the sixth accent color",
                        "Represents the color to use for hyperlinks"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConditionValue": {
            "id": "ConditionValue",
            "properties": {
                "relativeDate": {
                    "enum": [
                        "RELATIVE_DATE_UNSPECIFIED",
                        "PAST_YEAR",
                        "PAST_MONTH",
                        "PAST_WEEK",
                        "YESTERDAY",
                        "TODAY",
                        "TOMORROW"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "The value is one year before today.",
                        "The value is one month before today.",
                        "The value is one week before today.",
                        "The value is yesterday.",
                        "The value is today.",
                        "The value is tomorrow."
                    ],
                    "type": "string"
                },
                "userEnteredValue": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ConditionalFormatRule": {
            "id": "ConditionalFormatRule",
            "properties": {
                "booleanRule": {
                    "$ref": "BooleanRule"
                },
                "gradientRule": {
                    "$ref": "GradientRule"
                },
                "ranges": {
                    "items": {
                        "$ref": "GridRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CopyPasteRequest": {
            "id": "CopyPasteRequest",
            "properties": {
                "destination": {
                    "$ref": "GridRange"
                },
                "pasteOrientation": {
                    "enum": [
                        "NORMAL",
                        "TRANSPOSE"
                    ],
                    "enumDescriptions": [
                        "Paste normally.",
                        "Paste transposed, where all rows become columns and vice versa."
                    ],
                    "type": "string"
                },
                "pasteType": {
                    "enum": [
[...]
