{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/siteverification": {},
                "https://www.googleapis.com/auth/siteverification.verify_only": {}
            }
        }
    },
    "basePath": "/siteVerification/v1/",
    "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
    "batchPath": "batch/siteVerification/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/site-verification/",
    "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "siteVerification:v1",
    "kind": "discovery#restDescription",
    "name": "siteVerification",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "false",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "webResource": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "siteVerification.webResource.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "webResource/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/siteverification"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "siteVerification.webResource.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "webResource/{id}",
                    "response": {
                        "$ref": "SiteVerificationWebResourceResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/siteverification"
                    ]
                },
                "getToken": {
                    "httpMethod": "POST",
                    "id": "siteVerification.webResource.getToken",
                    "path": "token",
                    "request": {
                        "$ref": "SiteVerificationWebResourceGettokenRequest"
                    },
                    "response": {
                        "$ref": "SiteVerificationWebResourceGettokenResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/siteverification",
                        "https://www.googleapis.com/auth/siteverification.verify_only"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "siteVerification.webResource.insert",
                    "parameterOrder": [
                        "verificationMethod"
                    ],
                    "parameters": {
                        "verificationMethod": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "webResource",
                    "request": {
                        "$ref": "SiteVerificationWebResourceResource"
                    },
                    "response": {
                        "$ref": "SiteVerificationWebResourceResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/siteverification",
                        "https://www.googleapis.com/auth/siteverification.verify_only"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "siteVerification.webResource.list",
                    "path": "webResource",
                    "response": {
                        "$ref": "SiteVerificationWebResourceListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/siteverification"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "siteVerification.webResource.patch",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "webResource/{id}",
                    "request": {
                        "$ref": "SiteVerificationWebResourceResource"
                    },
                    "response": {
                        "$ref": "SiteVerificationWebResourceResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/siteverification"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "siteVerification.webResource.update",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "webResource/{id}",
                    "request": {
                        "$ref": "SiteVerificationWebResourceResource"
                    },
                    "response": {
                        "$ref": "SiteVerificationWebResourceResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/siteverification"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "SiteVerificationWebResourceGettokenRequest": {
            "id": "SiteVerificationWebResourceGettokenRequest",
            "properties": {
                "site": {
                    "properties": {
                        "identifier": {
                            "type": "string"
                        },
                        "type": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "verificationMethod": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SiteVerificationWebResourceGettokenResponse": {
            "id": "SiteVerificationWebResourceGettokenResponse",
            "properties": {
                "method": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SiteVerificationWebResourceListResponse": {
            "id": "SiteVerificationWebResourceListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "SiteVerificationWebResourceResource"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SiteVerificationWebResourceResource": {
            "id": "SiteVerificationWebResourceResource",
            "properties": {
                "id": {
                    "type": "string"
                },
                "owners": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "site": {
                    "properties": {
                        "identifier": {
                            "type": "string"
                        },
                        "type": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "siteVerification/v1/",
    "title": "Google Site Verification API",
    "version": "v1"
}