{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/drive": {},
                "https://www.googleapis.com/auth/drive.file": {},
                "https://www.googleapis.com/auth/drive.readonly": {},
                "https://www.googleapis.com/auth/presentations": {},
                "https://www.googleapis.com/auth/presentations.readonly": {},
                "https://www.googleapis.com/auth/spreadsheets": {},
                "https://www.googleapis.com/auth/spreadsheets.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://slides.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Slides",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/slides/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "slides:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://slides.mtls.googleapis.com/",
    "name": "slides",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "presentations": {
            "methods": {
                "batchUpdate": {
                    "flatPath": "v1/presentations/{presentationId}:batchUpdate",
                    "httpMethod": "POST",
                    "id": "slides.presentations.batchUpdate",
                    "parameterOrder": [
                        "presentationId"
                    ],
                    "parameters": {
                        "presentationId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/presentations/{presentationId}:batchUpdate",
                    "request": {
                        "$ref": "BatchUpdatePresentationRequest"
                    },
                    "response": {
                        "$ref": "BatchUpdatePresentationResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly",
                        "https://www.googleapis.com/auth/presentations",
                        "https://www.googleapis.com/auth/spreadsheets",
                        "https://www.googleapis.com/auth/spreadsheets.readonly"
                    ]
                },
                "create": {
                    "flatPath": "v1/presentations",
                    "httpMethod": "POST",
                    "id": "slides.presentations.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/presentations",
                    "request": {
                        "$ref": "Presentation"
                    },
                    "response": {
                        "$ref": "Presentation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/presentations"
                    ]
                },
                "get": {
                    "flatPath": "v1/presentations/{presentationsId}",
                    "httpMethod": "GET",
                    "id": "slides.presentations.get",
                    "parameterOrder": [
                        "presentationId"
                    ],
                    "parameters": {
                        "presentationId": {
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/presentations/{+presentationId}",
                    "response": {
                        "$ref": "Presentation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.readonly",
                        "https://www.googleapis.com/auth/presentations",
                        "https://www.googleapis.com/auth/presentations.readonly"
                    ]
                }
            },
            "resources": {
                "pages": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/presentations/{presentationId}/pages/{pageObjectId}",
                            "httpMethod": "GET",
                            "id": "slides.presentations.pages.get",
                            "parameterOrder": [
                                "presentationId",
                                "pageObjectId"
                            ],
                            "parameters": {
                                "pageObjectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "presentationId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/presentations/{presentationId}/pages/{pageObjectId}",
                            "response": {
                                "$ref": "Page"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/drive.readonly",
                                "https://www.googleapis.com/auth/presentations",
                                "https://www.googleapis.com/auth/presentations.readonly"
                            ]
                        },
                        "getThumbnail": {
                            "flatPath": "v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail",
                            "httpMethod": "GET",
                            "id": "slides.presentations.pages.getThumbnail",
                            "parameterOrder": [
                                "presentationId",
                                "pageObjectId"
                            ],
                            "parameters": {
                                "pageObjectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "presentationId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "thumbnailProperties.mimeType": {
                                    "enum": [
                                        "PNG"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "thumbnailProperties.thumbnailSize": {
                                    "enum": [
                                        "THUMBNAIL_SIZE_UNSPECIFIED",
                                        "LARGE",
                                        "MEDIUM",
                                        "SMALL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail",
                            "response": {
                                "$ref": "Thumbnail"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.file",
                                "https://www.googleapis.com/auth/drive.readonly",
                                "https://www.googleapis.com/auth/presentations",
                                "https://www.googleapis.com/auth/presentations.readonly"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://slides.googleapis.com/",
    "schemas": {
        "AffineTransform": {
            "id": "AffineTransform",
            "properties": {
                "scaleX": {
                    "format": "double",
                    "type": "number"
                },
                "scaleY": {
                    "format": "double",
                    "type": "number"
                },
                "shearX": {
                    "format": "double",
                    "type": "number"
                },
                "shearY": {
                    "format": "double",
                    "type": "number"
                },
                "translateX": {
                    "format": "double",
                    "type": "number"
                },
                "translateY": {
                    "format": "double",
                    "type": "number"
                },
                "unit": {
                    "enum": [
                        "UNIT_UNSPECIFIED",
                        "EMU",
                        "PT"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AutoText": {
            "id": "AutoText",
            "properties": {
                "content": {
                    "type": "string"
                },
                "style": {
                    "$ref": "TextStyle"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "SLIDE_NUMBER"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchUpdatePresentationRequest": {
            "id": "BatchUpdatePresentationRequest",
            "properties": {
                "requests": {
                    "items": {
                        "$ref": "Request"
                    },
                    "type": "array"
                },
                "writeControl": {
                    "$ref": "WriteControl"
                }
            },
            "type": "object"
        },
        "BatchUpdatePresentationResponse": {
            "id": "BatchUpdatePresentationResponse",
            "properties": {
                "presentationId": {
                    "type": "string"
                },
                "replies": {
                    "items": {
                        "$ref": "Response"
                    },
                    "type": "array"
                },
                "writeControl": {
                    "$ref": "WriteControl"
                }
            },
            "type": "object"
        },
        "Bullet": {
            "id": "Bullet",
            "properties": {
                "bulletStyle": {
                    "$ref": "TextStyle"
                },
                "glyph": {
                    "type": "string"
                },
                "listId": {
                    "type": "string"
                },
                "nestingLevel": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ColorScheme": {
            "id": "ColorScheme",
            "properties": {
                "colors": {
                    "items": {
                        "$ref": "ThemeColorPair"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ColorStop": {
            "id": "ColorStop",
            "properties": {
                "alpha": {
                    "format": "float",
                    "type": "number"
                },
                "color": {
                    "$ref": "OpaqueColor"
                },
                "position": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "CreateImageRequest": {
            "id": "CreateImageRequest",
            "properties": {
                "elementProperties": {
                    "$ref": "PageElementProperties"
                },
                "objectId": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateImageResponse": {
            "id": "CreateImageResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateLineRequest": {
            "id": "CreateLineRequest",
            "properties": {
                "category": {
                    "enum": [
                        "LINE_CATEGORY_UNSPECIFIED",
                        "STRAIGHT",
                        "BENT",
                        "CURVED"
                    ],
                    "type": "string"
                },
                "elementProperties": {
                    "$ref": "PageElementProperties"
                },
                "lineCategory": {
                    "enum": [
                        "STRAIGHT",
                        "BENT",
                        "CURVED"
                    ],
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateLineResponse": {
            "id": "CreateLineResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateParagraphBulletsRequest": {
            "id": "CreateParagraphBulletsRequest",
            "properties": {
                "bulletPreset": {
                    "enum": [
                        "BULLET_DISC_CIRCLE_SQUARE",
                        "BULLET_DIAMONDX_ARROW3D_SQUARE",
                        "BULLET_CHECKBOX",
                        "BULLET_ARROW_DIAMOND_DISC",
                        "BULLET_STAR_CIRCLE_SQUARE",
                        "BULLET_ARROW3D_CIRCLE_SQUARE",
                        "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
                        "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
                        "BULLET_DIAMOND_CIRCLE_SQUARE",
                        "NUMBERED_DIGIT_ALPHA_ROMAN",
                        "NUMBERED_DIGIT_ALPHA_ROMAN_PARENS",
                        "NUMBERED_DIGIT_NESTED",
                        "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
                        "NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT",
                        "NUMBERED_ZERODIGIT_ALPHA_ROMAN"
                    ],
                    "type": "string"
                },
                "cellLocation": {
                    "$ref": "TableCellLocation"
                },
                "objectId": {
                    "type": "string"
                },
                "textRange": {
                    "$ref": "Range"
                }
            },
            "type": "object"
        },
        "CreateShapeRequest": {
            "id": "CreateShapeRequest",
            "properties": {
                "elementProperties": {
                    "$ref": "PageElementProperties"
                },
                "objectId": {
                    "type": "string"
                },
                "shapeType": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "TEXT_BOX",
                        "RECTANGLE",
                        "ROUND_RECTANGLE",
                        "ELLIPSE",
                        "ARC",
                        "BENT_ARROW",
                        "BENT_UP_ARROW",
                        "BEVEL",
                        "BLOCK_ARC",
                        "BRACE_PAIR",
                        "BRACKET_PAIR",
                        "CAN",
                        "CHEVRON",
                        "CHORD",
                        "CLOUD",
                        "CORNER",
                        "CUBE",
                        "CURVED_DOWN_ARROW",
                        "CURVED_LEFT_ARROW",
                        "CURVED_RIGHT_ARROW",
                        "CURVED_UP_ARROW",
                        "DECAGON",
                        "DIAGONAL_STRIPE",
                        "DIAMOND",
                        "DODECAGON",
                        "DONUT",
                        "DOUBLE_WAVE",
                        "DOWN_ARROW",
                        "DOWN_ARROW_CALLOUT",
                        "FOLDED_CORNER",
                        "FRAME",
                        "HALF_FRAME",
                        "HEART",
                        "HEPTAGON",
                        "HEXAGON",
                        "HOME_PLATE",
                        "HORIZONTAL_SCROLL",
                        "IRREGULAR_SEAL_1",
                        "IRREGULAR_SEAL_2",
                        "LEFT_ARROW",
                        "LEFT_ARROW_CALLOUT",
                        "LEFT_BRACE",
                        "LEFT_BRACKET",
                        "LEFT_RIGHT_ARROW",
                        "LEFT_RIGHT_ARROW_CALLOUT",
                        "LEFT_RIGHT_UP_ARROW",
                        "LEFT_UP_ARROW",
                        "LIGHTNING_BOLT",
                        "MATH_DIVIDE",
                        "MATH_EQUAL",
                        "MATH_MINUS",
                        "MATH_MULTIPLY",
                        "MATH_NOT_EQUAL",
                        "MATH_PLUS",
                        "MOON",
                        "NO_SMOKING",
                        "NOTCHED_RIGHT_ARROW",
                        "OCTAGON",
                        "PARALLELOGRAM",
                        "PENTAGON",
                        "PIE",
                        "PLAQUE",
                        "PLUS",
                        "QUAD_ARROW",
                        "QUAD_ARROW_CALLOUT",
                        "RIBBON",
                        "RIBBON_2",
                        "RIGHT_ARROW",
                        "RIGHT_ARROW_CALLOUT",
                        "RIGHT_BRACE",
                        "RIGHT_BRACKET",
                        "ROUND_1_RECTANGLE",
                        "ROUND_2_DIAGONAL_RECTANGLE",
                        "ROUND_2_SAME_RECTANGLE",
                        "RIGHT_TRIANGLE",
                        "SMILEY_FACE",
                        "SNIP_1_RECTANGLE",
                        "SNIP_2_DIAGONAL_RECTANGLE",
                        "SNIP_2_SAME_RECTANGLE",
                        "SNIP_ROUND_RECTANGLE",
                        "STAR_10",
                        "STAR_12",
                        "STAR_16",
                        "STAR_24",
                        "STAR_32",
                        "STAR_4",
                        "STAR_5",
                        "STAR_6",
                        "STAR_7",
                        "STAR_8",
                        "STRIPED_RIGHT_ARROW",
                        "SUN",
                        "TRAPEZOID",
                        "TRIANGLE",
                        "UP_ARROW",
                        "UP_ARROW_CALLOUT",
                        "UP_DOWN_ARROW",
                        "UTURN_ARROW",
                        "VERTICAL_SCROLL",
                        "WAVE",
                        "WEDGE_ELLIPSE_CALLOUT",
                        "WEDGE_RECTANGLE_CALLOUT",
                        "WEDGE_ROUND_RECTANGLE_CALLOUT",
                        "FLOW_CHART_ALTERNATE_PROCESS",
                        "FLOW_CHART_COLLATE",
                        "FLOW_CHART_CONNECTOR",
                        "FLOW_CHART_DECISION",
                        "FLOW_CHART_DELAY",
                        "FLOW_CHART_DISPLAY",
                        "FLOW_CHART_DOCUMENT",
                        "FLOW_CHART_EXTRACT",
                        "FLOW_CHART_INPUT_OUTPUT",
                        "FLOW_CHART_INTERNAL_STORAGE",
                        "FLOW_CHART_MAGNETIC_DISK",
                        "FLOW_CHART_MAGNETIC_DRUM",
                        "FLOW_CHART_MAGNETIC_TAPE",
                        "FLOW_CHART_MANUAL_INPUT",
                        "FLOW_CHART_MANUAL_OPERATION",
                        "FLOW_CHART_MERGE",
                        "FLOW_CHART_MULTIDOCUMENT",
                        "FLOW_CHART_OFFLINE_STORAGE",
                        "FLOW_CHART_OFFPAGE_CONNECTOR",
                        "FLOW_CHART_ONLINE_STORAGE",
                        "FLOW_CHART_OR",
                        "FLOW_CHART_PREDEFINED_PROCESS",
                        "FLOW_CHART_PREPARATION",
                        "FLOW_CHART_PROCESS",
                        "FLOW_CHART_PUNCHED_CARD",
                        "FLOW_CHART_PUNCHED_TAPE",
                        "FLOW_CHART_SORT",
                        "FLOW_CHART_SUMMING_JUNCTION",
                        "FLOW_CHART_TERMINATOR",
                        "ARROW_EAST",
                        "ARROW_NORTH_EAST",
                        "ARROW_NORTH",
                        "SPEECH",
                        "STARBURST",
                        "TEARDROP",
                        "ELLIPSE_RIBBON",
                        "ELLIPSE_RIBBON_2",
                        "CLOUD_CALLOUT",
                        "CUSTOM"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateShapeResponse": {
            "id": "CreateShapeResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateSheetsChartRequest": {
            "id": "CreateSheetsChartRequest",
            "properties": {
                "chartId": {
                    "format": "int32",
                    "type": "integer"
                },
                "elementProperties": {
                    "$ref": "PageElementProperties"
                },
                "linkingMode": {
                    "enum": [
                        "NOT_LINKED_IMAGE",
                        "LINKED"
                    ],
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateSheetsChartResponse": {
            "id": "CreateSheetsChartResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateSlideRequest": {
            "id": "CreateSlideRequest",
            "properties": {
                "insertionIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "objectId": {
                    "type": "string"
                },
                "placeholderIdMappings": {
                    "items": {
                        "$ref": "LayoutPlaceholderIdMapping"
                    },
                    "type": "array"
                },
                "slideLayoutReference": {
                    "$ref": "LayoutReference"
                }
            },
            "type": "object"
        },
        "CreateSlideResponse": {
            "id": "CreateSlideResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateTableRequest": {
            "id": "CreateTableRequest",
            "properties": {
                "columns": {
                    "format": "int32",
                    "type": "integer"
                },
                "elementProperties": {
                    "$ref": "PageElementProperties"
                },
                "objectId": {
                    "type": "string"
                },
                "rows": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "CreateTableResponse": {
            "id": "CreateTableResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateVideoRequest": {
            "id": "CreateVideoRequest",
            "properties": {
                "elementProperties": {
                    "$ref": "PageElementProperties"
                },
                "id": {
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
                "source": {
                    "enum": [
                        "SOURCE_UNSPECIFIED",
                        "YOUTUBE",
                        "DRIVE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateVideoResponse": {
            "id": "CreateVideoResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CropProperties": {
            "id": "CropProperties",
            "properties": {
                "angle": {
                    "format": "float",
                    "type": "number"
                },
                "bottomOffset": {
                    "format": "float",
                    "type": "number"
                },
                "leftOffset": {
                    "format": "float",
                    "type": "number"
                },
                "rightOffset": {
                    "format": "float",
                    "type": "number"
                },
                "topOffset": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "DeleteObjectRequest": {
            "id": "DeleteObjectRequest",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteParagraphBulletsRequest": {
            "id": "DeleteParagraphBulletsRequest",
            "properties": {
                "cellLocation": {
                    "$ref": "TableCellLocation"
                },
                "objectId": {
                    "type": "string"
                },
                "textRange": {
                    "$ref": "Range"
                }
            },
            "type": "object"
        },
        "DeleteTableColumnRequest": {
            "id": "DeleteTableColumnRequest",
            "properties": {
                "cellLocation": {
                    "$ref": "TableCellLocation"
                },
                "tableObjectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteTableRowRequest": {
            "id": "DeleteTableRowRequest",
            "properties": {
                "cellLocation": {
                    "$ref": "TableCellLocation"
                },
                "tableObjectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteTextRequest": {
            "id": "DeleteTextRequest",
            "properties": {
                "cellLocation": {
                    "$ref": "TableCellLocation"
                },
                "objectId": {
                    "type": "string"
                },
                "textRange": {
                    "$ref": "Range"
                }
            },
            "type": "object"
        },
        "Dimension": {
            "id": "Dimension",
            "properties": {
                "magnitude": {
                    "format": "double",
                    "type": "number"
                },
                "unit": {
                    "enum": [
                        "UNIT_UNSPECIFIED",
                        "EMU",
                        "PT"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DuplicateObjectRequest": {
            "id": "DuplicateObjectRequest",
            "properties": {
                "objectId": {
                    "type": "string"
                },
                "objectIds": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "DuplicateObjectResponse": {
            "id": "DuplicateObjectResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Group": {
            "id": "Group",
            "properties": {
                "children": {
                    "items": {
                        "$ref": "PageElement"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GroupObjectsRequest": {
            "id": "GroupObjectsRequest",
            "properties": {
                "childrenObjectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "groupObjectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GroupObjectsResponse": {
            "id": "GroupObjectsResponse",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Image": {
            "id": "Image",
            "properties": {
                "contentUrl": {
                    "type": "string"
                },
                "imageProperties": {
                    "$ref": "ImageProperties"
                },
                "sourceUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImageProperties": {
            "id": "ImageProperties",
            "properties": {
                "brightness": {
                    "format": "float",
                    "type": "number"
                },
                "contrast": {
                    "format": "float",
                    "type": "number"
                },
                "cropProperties": {
                    "$ref": "CropProperties"
                },
                "link": {
                    "$ref": "Link"
                },
                "outline": {
                    "$ref": "Outline"
                },
                "recolor": {
                    "$ref": "Recolor"
                },
                "shadow": {
                    "$ref": "Shadow"
                },
                "transparency": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "InsertTableColumnsRequest": {
            "id": "InsertTableColumnsRequest",
            "properties": {
                "cellLocation": {
                    "$ref": "TableCellLocation"
                },
                "insertRight": {
                    "type": "boolean"
                },
                "number": {
                    "format": "int32",
                    "type": "integer"
                },
                "tableObjectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InsertTableRowsRequest": {
            "id": "InsertTableRowsRequest",
            "properties": {
                "cellLocation": {
                    "$ref": "TableCellLocation"
                },
                "insertBelow": {
                    "type": "boolean"
                },
                "number": {
                    "format": "int32",
                    "type": "integer"
                },
                "tableObjectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InsertTextRequest": {
            "id": "InsertTextRequest",
            "properties": {
                "cellLocation": {
                    "$ref": "TableCellLocation"
                },
                "insertionIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "objectId": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LayoutPlaceholderIdMapping": {
            "id": "LayoutPlaceholderIdMapping",
            "properties": {
                "layoutPlaceholder": {
                    "$ref": "Placeholder"
                },
                "layoutPlaceholderObjectId": {
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LayoutProperties": {
            "id": "LayoutProperties",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "masterObjectId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LayoutReference": {
            "id": "LayoutReference",
            "properties": {
                "layoutId": {
                    "type": "string"
                },
                "predefinedLayout": {
                    "enum": [
                        "PREDEFINED_LAYOUT_UNSPECIFIED",
                        "BLANK",
                        "CAPTION_ONLY",
                        "TITLE",
                        "TITLE_AND_BODY",
                        "TITLE_AND_TWO_COLUMNS",
                        "TITLE_ONLY",
                        "SECTION_HEADER",
                        "SECTION_TITLE_AND_DESCRIPTION",
                        "ONE_COLUMN_TEXT",
                        "MAIN_POINT",
                        "BIG_NUMBER"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Line": {
            "id": "Line",
            "properties": {
                "lineCategory": {
                    "enum": [
                        "LINE_CATEGORY_UNSPECIFIED",
                        "STRAIGHT",
                        "BENT",
                        "CURVED"
                    ],
                    "type": "string"
                },
                "lineProperties": {
                    "$ref": "LineProperties"
                },
                "lineType": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "STRAIGHT_CONNECTOR_1",
                        "BENT_CONNECTOR_2",
                        "BENT_CONNECTOR_3",
                        "BENT_CONNECTOR_4",
                        "BENT_CONNECTOR_5",
                        "CURVED_CONNECTOR_2",
                        "CURVED_CONNECTOR_3",
                        "CURVED_CONNECTOR_4",
                        "CURVED_CONNECTOR_5",
                        "STRAIGHT_LINE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LineConnection": {
            "id": "LineConnection",
            "properties": {
                "connectedObjectId": {
                    "type": "string"
                },
                "connectionSiteIndex": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "LineFill": {
            "id": "LineFill",
            "properties": {
                "solidFill": {
                    "$ref": "SolidFill"
                }
            },
            "type": "object"
        },
        "LineProperties": {
            "id": "LineProperties",
            "properties": {
                "dashStyle": {
                    "enum": [
                        "DASH_STYLE_UNSPECIFIED",
                        "SOLID",
                        "DOT",
                        "DASH",
                        "DASH_DOT",
                        "LONG_DASH",
                        "LONG_DASH_DOT"
                    ],
                    "type": "string"
                },
                "endArrow": {
                    "enum": [
                        "ARROW_STYLE_UNSPECIFIED",
                        "NONE",
                        "STEALTH_ARROW",
                        "FILL_ARROW",
                        "FILL_CIRCLE",
                        "FILL_SQUARE",
                        "FILL_DIAMOND",
                        "OPEN_ARROW",
                        "OPEN_CIRCLE",
                        "OPEN_SQUARE",
                        "OPEN_DIAMOND"
                    ],
                    "type": "string"
                },
                "endConnection": {
                    "$ref": "LineConnection"
                },
                "lineFill": {
                    "$ref": "LineFill"
                },
                "link": {
                    "$ref": "Link"
                },
                "startArrow": {
                    "enum": [
                        "ARROW_STYLE_UNSPECIFIED",
                        "NONE",
                        "STEALTH_ARROW",
                        "FILL_ARROW",
                        "FILL_CIRCLE",
                        "FILL_SQUARE",
                        "FILL_DIAMOND",
                        "OPEN_ARROW",
                        "OPEN_CIRCLE",
                        "OPEN_SQUARE",
                        "OPEN_DIAMOND"
                    ],
                    "type": "string"
                },
                "startConnection": {
                    "$ref": "LineConnection"
                },
                "weight": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "Link": {
            "id": "Link",
            "properties": {
                "pageObjectId": {
                    "type": "string"
                },
                "relativeLink": {
                    "enum": [
                        "RELATIVE_SLIDE_LINK_UNSPECIFIED",
                        "NEXT_SLIDE",
                        "PREVIOUS_SLIDE",
                        "FIRST_SLIDE",
                        "LAST_SLIDE"
                    ],
                    "type": "string"
                },
                "slideIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "List": {
            "id": "List",
            "properties": {
                "listId": {
                    "type": "string"
                },
                "nestingLevel": {
                    "additionalProperties": {
                        "$ref": "NestingLevel"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "MasterProperties": {
            "id": "MasterProperties",
            "properties": {
                "displayName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MergeTableCellsRequest": {
            "id": "MergeTableCellsRequest",
            "properties": {
                "objectId": {
                    "type": "string"
                },
                "tableRange": {
                    "$ref": "TableRange"
                }
            },
            "type": "object"
        },
        "NestingLevel": {
            "id": "NestingLevel",
            "properties": {
                "bulletStyle": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "NotesProperties": {
            "id": "NotesProperties",
            "properties": {
                "speakerNotesObjectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OpaqueColor": {
            "id": "OpaqueColor",
            "properties": {
                "rgbColor": {
                    "$ref": "RgbColor"
                },
                "themeColor": {
                    "enum": [
                        "THEME_COLOR_TYPE_UNSPECIFIED",
                        "DARK1",
                        "LIGHT1",
                        "DARK2",
                        "LIGHT2",
                        "ACCENT1",
                        "ACCENT2",
                        "ACCENT3",
                        "ACCENT4",
                        "ACCENT5",
                        "ACCENT6",
                        "HYPERLINK",
                        "FOLLOWED_HYPERLINK",
                        "TEXT1",
                        "BACKGROUND1",
                        "TEXT2",
                        "BACKGROUND2"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OptionalColor": {
            "id": "OptionalColor",
            "properties": {
                "opaqueColor": {
                    "$ref": "OpaqueColor"
                }
            },
            "type": "object"
        },
        "Outline": {
            "id": "Outline",
            "properties": {
                "dashStyle": {
                    "enum": [
                        "DASH_STYLE_UNSPECIFIED",
                        "SOLID",
                        "DOT",
                        "DASH",
                        "DASH_DOT",
                        "LONG_DASH",
                        "LONG_DASH_DOT"
                    ],
                    "type": "string"
                },
                "outlineFill": {
                    "$ref": "OutlineFill"
                },
                "propertyState": {
                    "enum": [
                        "RENDERED",
                        "NOT_RENDERED",
                        "INHERIT"
                    ],
                    "type": "string"
                },
                "weight": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "OutlineFill": {
            "id": "OutlineFill",
            "properties": {
                "solidFill": {
                    "$ref": "SolidFill"
                }
            },
            "type": "object"
        },
        "Page": {
            "id": "Page",
            "properties": {
                "layoutProperties": {
                    "$ref": "LayoutProperties"
                },
                "masterProperties": {
                    "$ref": "MasterProperties"
                },
                "notesProperties": {
                    "$ref": "NotesProperties"
                },
                "objectId": {
                    "type": "string"
                },
                "pageElements": {
                    "items": {
                        "$ref": "PageElement"
                    },
                    "type": "array"
                },
                "pageProperties": {
                    "$ref": "PageProperties"
                },
                "pageType": {
                    "enum": [
                        "SLIDE",
                        "MASTER",
                        "LAYOUT",
                        "NOTES",
                        "NOTES_MASTER"
                    ],
                    "type": "string"
                },
                "revisionId": {
                    "type": "string"
                },
                "slideProperties": {
                    "$ref": "SlideProperties"
                }
            },
            "type": "object"
        },
        "PageBackgroundFill": {
            "id": "PageBackgroundFill",
            "properties": {
                "propertyState": {
                    "enum": [
                        "RENDERED",
                        "NOT_RENDERED",
                        "INHERIT"
                    ],
                    "type": "string"
                },
                "solidFill": {
                    "$ref": "SolidFill"
                },
                "stretchedPictureFill": {
                    "$ref": "StretchedPictureFill"
                }
            },
            "type": "object"
        },
        "PageElement": {
            "id": "PageElement",
            "properties": {
                "elementGroup": {
                    "$ref": "Group"
                },
                "image": {
                    "$ref": "Image"
                },
                "line": {
                    "$ref": "Line"
                },
                "objectId": {
                    "type": "string"
                },
                "shape": {
                    "$ref": "Shape"
                },
                "sheetsChart": {
                    "$ref": "SheetsChart"
                },
                "size": {
                    "$ref": "Size"
                },
                "table": {
                    "$ref": "Table"
                },
                "title": {
                    "type": "string"
                },
                "transform": {
                    "$ref": "AffineTransform"
                },
                "video": {
                    "$ref": "Video"
                },
                "wordArt": {
                    "$ref": "WordArt"
                }
            },
            "type": "object"
        },
        "PageElementProperties": {
            "id": "PageElementProperties",
            "properties": {
                "pageObjectId": {
                    "type": "string"
                },
                "size": {
                    "$ref": "Size"
                },
                "transform": {
                    "$ref": "AffineTransform"
                }
            },
            "type": "object"
        },
        "PageProperties": {
            "id": "PageProperties",
            "properties": {
                "colorScheme": {
                    "$ref": "ColorScheme"
                },
                "pageBackgroundFill": {
                    "$ref": "PageBackgroundFill"
                }
            },
            "type": "object"
        },
        "ParagraphMarker": {
            "id": "ParagraphMarker",
            "properties": {
                "bullet": {
                    "$ref": "Bullet"
                },
                "style": {
                    "$ref": "ParagraphStyle"
                }
            },
            "type": "object"
        },
        "ParagraphStyle": {
            "id": "ParagraphStyle",
            "properties": {
                "alignment": {
                    "enum": [
                        "ALIGNMENT_UNSPECIFIED",
                        "START",
                        "CENTER",
                        "END",
                        "JUSTIFIED"
                    ],
                    "type": "string"
                },
                "direction": {
                    "enum": [
                        "TEXT_DIRECTION_UNSPECIFIED",
                        "LEFT_TO_RIGHT",
                        "RIGHT_TO_LEFT"
                    ],
                    "type": "string"
                },
                "indentEnd": {
                    "$ref": "Dimension"
                },
                "indentFirstLine": {
                    "$ref": "Dimension"
                },
                "indentStart": {
                    "$ref": "Dimension"
                },
                "lineSpacing": {
                    "format": "float",
                    "type": "number"
                },
                "spaceAbove": {
                    "$ref": "Dimension"
                },
                "spaceBelow": {
                    "$ref": "Dimension"
                },
                "spacingMode": {
                    "enum": [
                        "SPACING_MODE_UNSPECIFIED",
                        "NEVER_COLLAPSE",
                        "COLLAPSE_LISTS"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Placeholder": {
            "id": "Placeholder",
            "properties": {
                "index": {
                    "format": "int32",
                    "type": "integer"
                },
                "parentObjectId": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "NONE",
                        "BODY",
                        "CHART",
                        "CLIP_ART",
                        "CENTERED_TITLE",
                        "DIAGRAM",
                        "DATE_AND_TIME",
                        "FOOTER",
                        "HEADER",
                        "MEDIA",
                        "OBJECT",
                        "PICTURE",
                        "SLIDE_NUMBER",
                        "SUBTITLE",
                        "TABLE",
                        "TITLE",
                        "SLIDE_IMAGE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Presentation": {
            "id": "Presentation",
            "properties": {
                "layouts": {
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                },
                "locale": {
                    "type": "string"
                },
                "masters": {
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                },
                "notesMaster": {
                    "$ref": "Page"
                },
                "pageSize": {
                    "$ref": "Size"
                },
                "presentationId": {
                    "type": "string"
                },
                "revisionId": {
                    "type": "string"
                },
                "slides": {
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Range": {
            "id": "Range",
            "properties": {
                "endIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "type": {
                    "enum": [
                        "RANGE_TYPE_UNSPECIFIED",
                        "FIXED_RANGE",
                        "FROM_START_INDEX",
                        "ALL"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Recolor": {
            "id": "Recolor",
            "properties": {
                "name": {
                    "enum": [
                        "NONE",
                        "LIGHT1",
                        "LIGHT2",
                        "LIGHT3",
                        "LIGHT4",
                        "LIGHT5",
                        "LIGHT6",
                        "LIGHT7",
                        "LIGHT8",
                        "LIGHT9",
                        "LIGHT10",
                        "DARK1",
                        "DARK2",
                        "DARK3",
                        "DARK4",
                        "DARK5",
                        "DARK6",
                        "DARK7",
                        "DARK8",
                        "DARK9",
                        "DARK10",
                        "GRAYSCALE",
                        "NEGATIVE",
                        "SEPIA",
                        "CUSTOM"
                    ],
                    "type": "string"
                },
                "recolorStops": {
                    "items": {
                        "$ref": "ColorStop"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RefreshSheetsChartRequest": {
            "id": "RefreshSheetsChartRequest",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplaceAllShapesWithImageRequest": {
            "id": "ReplaceAllShapesWithImageRequest",
            "properties": {
                "containsText": {
                    "$ref": "SubstringMatchCriteria"
                },
                "imageReplaceMethod": {
                    "enum": [
                        "IMAGE_REPLACE_METHOD_UNSPECIFIED",
                        "CENTER_INSIDE",
                        "CENTER_CROP"
                    ],
                    "type": "string"
                },
                "imageUrl": {
                    "type": "string"
                },
                "pageObjectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "replaceMethod": {
                    "enum": [
                        "CENTER_INSIDE",
                        "CENTER_CROP"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplaceAllShapesWithImageResponse": {
            "id": "ReplaceAllShapesWithImageResponse",
            "properties": {
                "occurrencesChanged": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ReplaceAllShapesWithSheetsChartRequest": {
            "id": "ReplaceAllShapesWithSheetsChartRequest",
            "properties": {
                "chartId": {
                    "format": "int32",
                    "type": "integer"
                },
                "containsText": {
                    "$ref": "SubstringMatchCriteria"
                },
                "linkingMode": {
                    "enum": [
                        "NOT_LINKED_IMAGE",
                        "LINKED"
                    ],
                    "type": "string"
                },
                "pageObjectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplaceAllShapesWithSheetsChartResponse": {
            "id": "ReplaceAllShapesWithSheetsChartResponse",
            "properties": {
                "occurrencesChanged": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ReplaceAllTextRequest": {
            "id": "ReplaceAllTextRequest",
            "properties": {
                "containsText": {
                    "$ref": "SubstringMatchCriteria"
                },
                "pageObjectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "replaceText": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplaceAllTextResponse": {
            "id": "ReplaceAllTextResponse",
            "properties": {
                "occurrencesChanged": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ReplaceImageRequest": {
            "id": "ReplaceImageRequest",
            "properties": {
                "imageObjectId": {
                    "type": "string"
                },
                "imageReplaceMethod": {
                    "enum": [
                        "IMAGE_REPLACE_METHOD_UNSPECIFIED",
                        "CENTER_INSIDE",
                        "CENTER_CROP"
                    ],
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Request": {
            "id": "Request",
            "properties": {
                "createImage": {
                    "$ref": "CreateImageRequest"
                },
                "createLine": {
                    "$ref": "CreateLineRequest"
                },
                "createParagraphBullets": {
                    "$ref": "CreateParagraphBulletsRequest"
                },
                "createShape": {
                    "$ref": "CreateShapeRequest"
                },
                "createSheetsChart": {
                    "$ref": "CreateSheetsChartRequest"
                },
                "createSlide": {
                    "$ref": "CreateSlideRequest"
                },
                "createTable": {
                    "$ref": "CreateTableRequest"
                },
                "createVideo": {
                    "$ref": "CreateVideoRequest"
                },
                "deleteObject": {
                    "$ref": "DeleteObjectRequest"
                },
                "deleteParagraphBullets": {
                    "$ref": "DeleteParagraphBulletsRequest"
                },
                "deleteTableColumn": {
                    "$ref": "DeleteTableColumnRequest"
                },
                "deleteTableRow": {
                    "$ref": "DeleteTableRowRequest"
                },
                "deleteText": {
                    "$ref": "DeleteTextRequest"
                },
                "duplicateObject": {
                    "$ref": "DuplicateObjectRequest"
                },
                "groupObjects": {
                    "$ref": "GroupObjectsRequest"
                },
                "insertTableColumns": {
                    "$ref": "InsertTableColumnsRequest"
                },
                "insertTableRows": {
                    "$ref": "InsertTableRowsRequest"
                },
                "insertText": {
                    "$ref": "InsertTextRequest"
                },
                "mergeTableCells": {
                    "$ref": "MergeTableCellsRequest"
                },
                "refreshSheetsChart": {
                    "$ref": "RefreshSheetsChartRequest"
                },
                "replaceAllShapesWithImage": {
                    "$ref": "ReplaceAllShapesWithImageRequest"
                },
                "replaceAllShapesWithSheetsChart": {
                    "$ref": "ReplaceAllShapesWithSheetsChartRequest"
                },
                "replaceAllText": {
                    "$ref": "ReplaceAllTextRequest"
                },
                "replaceImage": {
                    "$ref": "ReplaceImageRequest"
                },
                "rerouteLine": {
                    "$ref": "RerouteLineRequest"
                },
                "ungroupObjects": {
                    "$ref": "UngroupObjectsRequest"
                },
                "unmergeTableCells": {
                    "$ref": "UnmergeTableCellsRequest"
                },
                "updateImageProperties": {
                    "$ref": "UpdateImagePropertiesRequest"
                },
                "updateLineCategory": {
                    "$ref": "UpdateLineCategoryRequest"
                },
                "updateLineProperties": {
                    "$ref": "UpdateLinePropertiesRequest"
                },
                "updatePageElementAltText": {
                    "$ref": "UpdatePageElementAltTextRequest"
                },
                "updatePageElementTransform": {
                    "$ref": "UpdatePageElementTransformRequest"
                },
                "updatePageElementsZOrder": {
                    "$ref": "UpdatePageElementsZOrderRequest"
                },
                "updatePageProperties": {
                    "$ref": "UpdatePagePropertiesRequest"
                },
                "updateParagraphStyle": {
                    "$ref": "UpdateParagraphStyleRequest"
                },
                "updateShapeProperties": {
                    "$ref": "UpdateShapePropertiesRequest"
                },
                "updateSlidesPosition": {
                    "$ref": "UpdateSlidesPositionRequest"
                },
                "updateTableBorderProperties": {
                    "$ref": "UpdateTableBorderPropertiesRequest"
                },
                "updateTableCellProperties": {
                    "$ref": "UpdateTableCellPropertiesRequest"
                },
                "updateTableColumnProperties": {
                    "$ref": "UpdateTableColumnPropertiesRequest"
                },
                "updateTableRowProperties": {
                    "$ref": "UpdateTableRowPropertiesRequest"
                },
                "updateTextStyle": {
                    "$ref": "UpdateTextStyleRequest"
                },
                "updateVideoProperties": {
                    "$ref": "UpdateVideoPropertiesRequest"
                }
            },
            "type": "object"
        },
        "RerouteLineRequest": {
            "id": "RerouteLineRequest",
            "properties": {
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Response": {
            "id": "Response",
            "properties": {
                "createImage": {
                    "$ref": "CreateImageResponse"
                },
                "createLine": {
                    "$ref": "CreateLineResponse"
                },
                "createShape": {
                    "$ref": "CreateShapeResponse"
                },
                "createSheetsChart": {
                    "$ref": "CreateSheetsChartResponse"
                },
                "createSlide": {
                    "$ref": "CreateSlideResponse"
                },
                "createTable": {
                    "$ref": "CreateTableResponse"
                },
                "createVideo": {
                    "$ref": "CreateVideoResponse"
                },
                "duplicateObject": {
                    "$ref": "DuplicateObjectResponse"
                },
                "groupObjects": {
                    "$ref": "GroupObjectsResponse"
                },
                "replaceAllShapesWithImage": {
                    "$ref": "ReplaceAllShapesWithImageResponse"
                },
                "replaceAllShapesWithSheetsChart": {
                    "$ref": "ReplaceAllShapesWithSheetsChartResponse"
                },
                "replaceAllText": {
                    "$ref": "ReplaceAllTextResponse"
                }
            },
            "type": "object"
        },
        "RgbColor": {
            "id": "RgbColor",
            "properties": {
                "blue": {
                    "format": "float",
                    "type": "number"
                },
                "green": {
                    "format": "float",
                    "type": "number"
                },
                "red": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Shadow": {
            "id": "Shadow",
            "properties": {
                "alignment": {
                    "enum": [
                        "RECTANGLE_POSITION_UNSPECIFIED",
                        "TOP_LEFT",
                        "TOP_CENTER",
                        "TOP_RIGHT",
                        "LEFT_CENTER",
                        "CENTER",
                        "RIGHT_CENTER",
                        "BOTTOM_LEFT",
                        "BOTTOM_CENTER",
                        "BOTTOM_RIGHT"
                    ],
                    "type": "string"
                },
                "alpha": {
                    "format": "float",
                    "type": "number"
                },
                "blurRadius": {
                    "$ref": "Dimension"
                },
                "color": {
                    "$ref": "OpaqueColor"
                },
                "propertyState": {
                    "enum": [
                        "RENDERED",
                        "NOT_RENDERED",
                        "INHERIT"
                    ],
                    "type": "string"
                },
                "rotateWithShape": {
                    "type": "boolean"
                },
                "transform": {
                    "$ref": "AffineTransform"
                },
                "type": {
                    "enum": [
                        "SHADOW_TYPE_UNSPECIFIED",
                        "OUTER"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Shape": {
            "id": "Shape",
            "properties": {
                "placeholder": {
                    "$ref": "Placeholder"
                },
                "shapeProperties": {
                    "$ref": "ShapeProperties"
                },
                "shapeType": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "TEXT_BOX",
                        "RECTANGLE",
                        "ROUND_RECTANGLE",
                        "ELLIPSE",
                        "ARC",
                        "BENT_ARROW",
                        "BENT_UP_ARROW",
                        "BEVEL",
                        "BLOCK_ARC",
                        "BRACE_PAIR",
                        "BRACKET_PAIR",
                        "CAN",
                        "CHEVRON",
                        "CHORD",
                        "CLOUD",
                        "CORNER",
                        "CUBE",
                        "CURVED_DOWN_ARROW",
                        "CURVED_LEFT_ARROW",
                        "CURVED_RIGHT_ARROW",
                        "CURVED_UP_ARROW",
                        "DECAGON",
                        "DIAGONAL_STRIPE",
                        "DIAMOND",
                        "DODECAGON",
                        "DONUT",
                        "DOUBLE_WAVE",
                        "DOWN_ARROW",
                        "DOWN_ARROW_CALLOUT",
                        "FOLDED_CORNER",
                        "FRAME",
                        "HALF_FRAME",
                        "HEART",
                        "HEPTAGON",
                        "HEXAGON",
                        "HOME_PLATE",
                        "HORIZONTAL_SCROLL",
                        "IRREGULAR_SEAL_1",
                        "IRREGULAR_SEAL_2",
                        "LEFT_ARROW",
                        "LEFT_ARROW_CALLOUT",
                        "LEFT_BRACE",
                        "LEFT_BRACKET",
                        "LEFT_RIGHT_ARROW",
                        "LEFT_RIGHT_ARROW_CALLOUT",
                        "LEFT_RIGHT_UP_ARROW",
                        "LEFT_UP_ARROW",
                        "LIGHTNING_BOLT",
                        "MATH_DIVIDE",
                        "MATH_EQUAL",
                        "MATH_MINUS",
                        "MATH_MULTIPLY",
                        "MATH_NOT_EQUAL",
                        "MATH_PLUS",
                        "MOON",
                        "NO_SMOKING",
                        "NOTCHED_RIGHT_ARROW",
                        "OCTAGON",
                        "PARALLELOGRAM",
                        "PENTAGON",
                        "PIE",
                        "PLAQUE",
                        "PLUS",
                        "QUAD_ARROW",
                        "QUAD_ARROW_CALLOUT",
                        "RIBBON",
                        "RIBBON_2",
                        "RIGHT_ARROW",
                        "RIGHT_ARROW_CALLOUT",
                        "RIGHT_BRACE",
                        "RIGHT_BRACKET",
                        "ROUND_1_RECTANGLE",
                        "ROUND_2_DIAGONAL_RECTANGLE",
                        "ROUND_2_SAME_RECTANGLE",
                        "RIGHT_TRIANGLE",
                        "SMILEY_FACE",
                        "SNIP_1_RECTANGLE",
                        "SNIP_2_DIAGONAL_RECTANGLE",
                        "SNIP_2_SAME_RECTANGLE",
                        "SNIP_ROUND_RECTANGLE",
                        "STAR_10",
                        "STAR_12",
                        "STAR_16",
                        "STAR_24",
                        "STAR_32",
                        "STAR_4",
                        "STAR_5",
                        "STAR_6",
                        "STAR_7",
                        "STAR_8",
                        "STRIPED_RIGHT_ARROW",
                        "SUN",
                        "TRAPEZOID",
                        "TRIANGLE",
                        "UP_ARROW",
                        "UP_ARROW_CALLOUT",
                        "UP_DOWN_ARROW",
                        "UTURN_ARROW",
                        "VERTICAL_SCROLL",
                        "WAVE",
                        "WEDGE_ELLIPSE_CALLOUT",
                        "WEDGE_RECTANGLE_CALLOUT",
                        "WEDGE_ROUND_RECTANGLE_CALLOUT",
                        "FLOW_CHART_ALTERNATE_PROCESS",
                        "FLOW_CHART_COLLATE",
                        "FLOW_CHART_CONNECTOR",
                        "FLOW_CHART_DECISION",
                        "FLOW_CHART_DELAY",
                        "FLOW_CHART_DISPLAY",
                        "FLOW_CHART_DOCUMENT",
                        "FLOW_CHART_EXTRACT",
                        "FLOW_CHART_INPUT_OUTPUT",
                        "FLOW_CHART_INTERNAL_STORAGE",
                        "FLOW_CHART_MAGNETIC_DISK",
                        "FLOW_CHART_MAGNETIC_DRUM",
                        "FLOW_CHART_MAGNETIC_TAPE",
                        "FLOW_CHART_MANUAL_INPUT",
                        "FLOW_CHART_MANUAL_OPERATION",
                        "FLOW_CHART_MERGE",
                        "FLOW_CHART_MULTIDOCUMENT",
                        "FLOW_CHART_OFFLINE_STORAGE",
                        "FLOW_CHART_OFFPAGE_CONNECTOR",
                        "FLOW_CHART_ONLINE_STORAGE",
                        "FLOW_CHART_OR",
                        "FLOW_CHART_PREDEFINED_PROCESS",
                        "FLOW_CHART_PREPARATION",
                        "FLOW_CHART_PROCESS",
                        "FLOW_CHART_PUNCHED_CARD",
                        "FLOW_CHART_PUNCHED_TAPE",
                        "FLOW_CHART_SORT",
                        "FLOW_CHART_SUMMING_JUNCTION",
                        "FLOW_CHART_TERMINATOR",
                        "ARROW_EAST",
                        "ARROW_NORTH_EAST",
                        "ARROW_NORTH",
                        "SPEECH",
                        "STARBURST",
                        "TEARDROP",
                        "ELLIPSE_RIBBON",
                        "ELLIPSE_RIBBON_2",
                        "CLOUD_CALLOUT",
                        "CUSTOM"
                    ],
                    "type": "string"
                },
                "text": {
                    "$ref": "TextContent"
                }
            },
            "type": "object"
        },
        "ShapeBackgroundFill": {
            "id": "ShapeBackgroundFill",
            "properties": {
                "propertyState": {
                    "enum": [
                        "RENDERED",
                        "NOT_RENDERED",
                        "INHERIT"
                    ],
                    "type": "string"
                },
                "solidFill": {
                    "$ref": "SolidFill"
                }
            },
            "type": "object"
        },
        "ShapeProperties": {
            "id": "ShapeProperties",
            "properties": {
                "contentAlignment": {
                    "enum": [
                        "CONTENT_ALIGNMENT_UNSPECIFIED",
                        "CONTENT_ALIGNMENT_UNSUPPORTED",
                        "TOP",
                        "MIDDLE",
                        "BOTTOM"
                    ],
                    "type": "string"
                },
                "link": {
                    "$ref": "Link"
                },
                "outline": {
                    "$ref": "Outline"
                },
                "shadow": {
                    "$ref": "Shadow"
                },
                "shapeBackgroundFill": {
                    "$ref": "ShapeBackgroundFill"
                }
            },
            "type": "object"
        },
        "SheetsChart": {
            "id": "SheetsChart",
            "properties": {
                "chartId": {
                    "format": "int32",
                    "type": "integer"
                },
                "contentUrl": {
                    "type": "string"
                },
                "sheetsChartProperties": {
                    "$ref": "SheetsChartProperties"
                },
                "spreadsheetId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SheetsChartProperties": {
            "id": "SheetsChartProperties",
            "properties": {
                "chartImageProperties": {
                    "$ref": "ImageProperties"
                }
            },
            "type": "object"
        },
        "Size": {
            "id": "Size",
            "properties": {
                "height": {
                    "$ref": "Dimension"
                },
                "width": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "SlideProperties": {
            "id": "SlideProperties",
            "properties": {
                "layoutObjectId": {
                    "type": "string"
                },
                "masterObjectId": {
                    "type": "string"
                },
                "notesPage": {
                    "$ref": "Page"
                }
            },
            "type": "object"
        },
        "SolidFill": {
            "id": "SolidFill",
            "properties": {
                "alpha": {
                    "format": "float",
                    "type": "number"
                },
                "color": {
                    "$ref": "OpaqueColor"
                }
            },
            "type": "object"
        },
        "StretchedPictureFill": {
            "id": "StretchedPictureFill",
            "properties": {
                "contentUrl": {
                    "type": "string"
                },
                "size": {
                    "$ref": "Size"
                }
            },
            "type": "object"
        },
        "SubstringMatchCriteria": {
            "id": "SubstringMatchCriteria",
            "properties": {
                "matchCase": {
                    "type": "boolean"
                },
                "text": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Table": {
            "id": "Table",
            "properties": {
                "columns": {
                    "format": "int32",
                    "type": "integer"
                },
                "horizontalBorderRows": {
                    "items": {
                        "$ref": "TableBorderRow"
                    },
                    "type": "array"
                },
                "rows": {
                    "format": "int32",
                    "type": "integer"
                },
                "tableColumns": {
                    "items": {
                        "$ref": "TableColumnProperties"
                    },
                    "type": "array"
                },
                "tableRows": {
                    "items": {
                        "$ref": "TableRow"
                    },
                    "type": "array"
                },
                "verticalBorderRows": {
                    "items": {
                        "$ref": "TableBorderRow"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TableBorderCell": {
            "id": "TableBorderCell",
            "properties": {
                "location": {
                    "$ref": "TableCellLocation"
                },
                "tableBorderProperties": {
                    "$ref": "TableBorderProperties"
                }
            },
            "type": "object"
        },
        "TableBorderFill": {
            "id": "TableBorderFill",
            "properties": {
                "solidFill": {
                    "$ref": "SolidFill"
                }
            },
            "type": "object"
        },
        "TableBorderProperties": {
            "id": "TableBorderProperties",
            "properties": {
                "dashStyle": {
                    "enum": [
                        "DASH_STYLE_UNSPECIFIED",
                        "SOLID",
                        "DOT",
                        "DASH",
                        "DASH_DOT",
                        "LONG_DASH",
                        "LONG_DASH_DOT"
                    ],
                    "type": "string"
                },
                "tableBorderFill": {
                    "$ref": "TableBorderFill"
                },
                "weight": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "TableBorderRow": {
            "id": "TableBorderRow",
            "properties": {
                "tableBorderCells": {
                    "items": {
                        "$ref": "TableBorderCell"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TableCell": {
            "id": "TableCell",
            "properties": {
                "columnSpan": {
                    "format": "int32",
                    "type": "integer"
                },
                "location": {
                    "$ref": "TableCellLocation"
                },
                "rowSpan": {
                    "format": "int32",
                    "type": "integer"
                },
                "tableCellProperties": {
                    "$ref": "TableCellProperties"
                },
                "text": {
                    "$ref": "TextContent"
                }
            },
            "type": "object"
        },
        "TableCellBackgroundFill": {
            "id": "TableCellBackgroundFill",
            "properties": {
                "propertyState": {
                    "enum": [
                        "RENDERED",
                        "NOT_RENDERED",
                        "INHERIT"
                    ],
                    "type": "string"
                },
                "solidFill": {
                    "$ref": "SolidFill"
                }
            },
            "type": "object"
        },
        "TableCellLocation": {
            "id": "TableCellLocation",
            "properties": {
                "columnIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "rowIndex": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TableCellProperties": {
            "id": "TableCellProperties",
            "properties": {
                "contentAlignment": {
                    "enum": [
                        "CONTENT_ALIGNMENT_UNSPECIFIED",
                        "CONTENT_ALIGNMENT_UNSUPPORTED",
                        "TOP",
                        "MIDDLE",
                        "BOTTOM"
                    ],
                    "type": "string"
                },
                "tableCellBackgroundFill": {
                    "$ref": "TableCellBackgroundFill"
                }
            },
            "type": "object"
        },
        "TableColumnProperties": {
            "id": "TableColumnProperties",
            "properties": {
                "columnWidth": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "TableRange": {
            "id": "TableRange",
            "properties": {
                "columnSpan": {
                    "format": "int32",
                    "type": "integer"
                },
                "location": {
                    "$ref": "TableCellLocation"
                },
                "rowSpan": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TableRow": {
            "id": "TableRow",
            "properties": {
                "rowHeight": {
                    "$ref": "Dimension"
                },
                "tableCells": {
                    "items": {
                        "$ref": "TableCell"
                    },
                    "type": "array"
                },
                "tableRowProperties": {
                    "$ref": "TableRowProperties"
                }
            },
            "type": "object"
        },
        "TableRowProperties": {
            "id": "TableRowProperties",
            "properties": {
                "minRowHeight": {
                    "$ref": "Dimension"
                }
            },
            "type": "object"
        },
        "TextContent": {
            "id": "TextContent",
            "properties": {
                "lists": {
                    "additionalProperties": {
                        "$ref": "List"
                    },
                    "type": "object"
                },
                "textElements": {
                    "items": {
                        "$ref": "TextElement"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TextElement": {
            "id": "TextElement",
            "properties": {
                "autoText": {
                    "$ref": "AutoText"
                },
                "endIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "paragraphMarker": {
                    "$ref": "ParagraphMarker"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "textRun": {
                    "$ref": "TextRun"
                }
            },
            "type": "object"
        },
        "TextRun": {
            "id": "TextRun",
            "properties": {
                "content": {
                    "type": "string"
                },
                "style": {
                    "$ref": "TextStyle"
                }
            },
            "type": "object"
        },
        "TextStyle": {
            "id": "TextStyle",
            "properties": {
                "backgroundColor": {
                    "$ref": "OptionalColor"
                },
                "baselineOffset": {
                    "enum": [
                        "BASELINE_OFFSET_UNSPECIFIED",
                        "NONE",
                        "SUPERSCRIPT",
                        "SUBSCRIPT"
                    ],
                    "type": "string"
                },
                "bold": {
                    "type": "boolean"
                },
                "fontFamily": {
                    "type": "string"
                },
                "fontSize": {
                    "$ref": "Dimension"
                },
                "foregroundColor": {
                    "$ref": "OptionalColor"
                },
                "italic": {
                    "type": "boolean"
                },
                "link": {
                    "$ref": "Link"
                },
                "smallCaps": {
                    "type": "boolean"
                },
                "strikethrough": {
                    "type": "boolean"
                },
                "underline": {
                    "type": "boolean"
                },
                "weightedFontFamily": {
                    "$ref": "WeightedFontFamily"
                }
            },
            "type": "object"
        },
        "ThemeColorPair": {
            "id": "ThemeColorPair",
            "properties": {
                "color": {
                    "$ref": "RgbColor"
                },
                "type": {
                    "enum": [
                        "THEME_COLOR_TYPE_UNSPECIFIED",
                        "DARK1",
                        "LIGHT1",
                        "DARK2",
                        "LIGHT2",
                        "ACCENT1",
                        "ACCENT2",
                        "ACCENT3",
                        "ACCENT4",
                        "ACCENT5",
                        "ACCENT6",
                        "HYPERLINK",
                        "FOLLOWED_HYPERLINK",
                        "TEXT1",
                        "BACKGROUND1",
                        "TEXT2",
                        "BACKGROUND2"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Thumbnail": {
            "id": "Thumbnail",
            "properties": {
                "contentUrl": {
                    "type": "string"
                },
                "height": {
                    "format": "int32",
                    "type": "integer"
                },
                "width": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "UngroupObjectsRequest": {
            "id": "UngroupObjectsRequest",
            "properties": {
                "objectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UnmergeTableCellsRequest": {
            "id": "UnmergeTableCellsRequest",
            "properties": {
                "objectId": {
                    "type": "string"
                },
                "tableRange": {
                    "$ref": "TableRange"
                }
            },
            "type": "object"
        },
        "UpdateImagePropertiesRequest": {
            "id": "UpdateImagePropertiesRequest",
            "properties": {
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "imageProperties": {
                    "$ref": "ImageProperties"
                },
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateLineCategoryRequest": {
            "id": "UpdateLineCategoryRequest",
            "properties": {
                "lineCategory": {
                    "enum": [
                        "LINE_CATEGORY_UNSPECIFIED",
                        "STRAIGHT",
                        "BENT",
                        "CURVED"
                    ],
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateLinePropertiesRequest": {
            "id": "UpdateLinePropertiesRequest",
            "properties": {
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "lineProperties": {
                    "$ref": "LineProperties"
                },
                "objectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdatePageElementAltTextRequest": {
            "id": "UpdatePageElementAltTextRequest",
            "properties": {
                "objectId": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdatePageElementTransformRequest": {
            "id": "UpdatePageElementTransformRequest",
            "properties": {
                "applyMode": {
                    "enum": [
                        "APPLY_MODE_UNSPECIFIED",
                        "RELATIVE",
                        "ABSOLUTE"
                    ],
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
                "transform": {
                    "$ref": "AffineTransform"
                }
            },
            "type": "object"
        },
        "UpdatePageElementsZOrderRequest": {
            "id": "UpdatePageElementsZOrderRequest",
            "properties": {
                "operation": {
                    "enum": [
                        "Z_ORDER_OPERATION_UNSPECIFIED",
                        "BRING_TO_FRONT",
                        "BRING_FORWARD",
                        "SEND_BACKWARD",
                        "SEND_TO_BACK"
                    ],
                    "type": "string"
                },
                "pageElementObjectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdatePagePropertiesRequest": {
            "id": "UpdatePagePropertiesRequest",
            "properties": {
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
                "pageProperties": {
                    "$ref": "PageProperties"
                }
            },
            "type": "object"
        },
        "UpdateParagraphStyleRequest": {
            "id": "UpdateParagraphStyleRequest",
            "properties": {
                "cellLocation": {
                    "$ref": "TableCellLocation"
                },
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
                "style": {
                    "$ref": "ParagraphStyle"
                },
                "textRange": {
                    "$ref": "Range"
                }
            },
            "type": "object"
        },
        "UpdateShapePropertiesRequest": {
            "id": "UpdateShapePropertiesRequest",
            "properties": {
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
                "shapeProperties": {
                    "$ref": "ShapeProperties"
                }
            },
            "type": "object"
        },
        "UpdateSlidesPositionRequest": {
            "id": "UpdateSlidesPositionRequest",
            "properties": {
                "insertionIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "slideObjectIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateTableBorderPropertiesRequest": {
            "id": "UpdateTableBorderPropertiesRequest",
            "properties": {
                "borderPosition": {
                    "enum": [
                        "ALL",
                        "BOTTOM",
                        "INNER",
                        "INNER_HORIZONTAL",
                        "INNER_VERTICAL",
                        "LEFT",
                        "OUTER",
                        "RIGHT",
                        "TOP"
                    ],
                    "type": "string"
                },
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
                "tableBorderProperties": {
                    "$ref": "TableBorderProperties"
                },
                "tableRange": {
                    "$ref": "TableRange"
                }
            },
            "type": "object"
        },
        "UpdateTableCellPropertiesRequest": {
            "id": "UpdateTableCellPropertiesRequest",
            "properties": {
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
                "tableCellProperties": {
                    "$ref": "TableCellProperties"
                },
                "tableRange": {
                    "$ref": "TableRange"
                }
            },
            "type": "object"
        },
        "UpdateTableColumnPropertiesRequest": {
            "id": "UpdateTableColumnPropertiesRequest",
            "properties": {
                "columnIndices": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
                "tableColumnProperties": {
                    "$ref": "TableColumnProperties"
                }
            },
            "type": "object"
        },
        "UpdateTableRowPropertiesRequest": {
            "id": "UpdateTableRowPropertiesRequest",
            "properties": {
                "fields": {
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "objectId": {
                    "type": "string"
                },
[...]
