{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/source.full_control": {},
                "https://www.googleapis.com/auth/source.read_only": {},
                "https://www.googleapis.com/auth/source.read_write": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://sourcerepo.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Source Repositories",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/source-repositories/docs/apis",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "sourcerepo:v1",
    "kind": "discovery#restDescription",
    "name": "sourcerepo",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "getConfig": {
                    "flatPath": "v1/projects/{projectsId}/config",
                    "httpMethod": "GET",
                    "id": "sourcerepo.projects.getConfig",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}/config",
                    "response": {
                        "$ref": "ProjectConfig"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "updateConfig": {
                    "flatPath": "v1/projects/{projectsId}/config",
                    "httpMethod": "PATCH",
                    "id": "sourcerepo.projects.updateConfig",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}/config",
                    "request": {
                        "$ref": "UpdateProjectConfigRequest"
                    },
                    "response": {
                        "$ref": "ProjectConfig"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "repos": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/repos",
                            "httpMethod": "POST",
                            "id": "sourcerepo.projects.repos.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/repos",
                            "request": {
                                "$ref": "Repo"
                            },
                            "response": {
                                "$ref": "Repo"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/source.full_control"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/repos/{reposId}",
                            "httpMethod": "DELETE",
                            "id": "sourcerepo.projects.repos.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/repos/.+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/source.full_control"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/repos/{reposId}",
                            "httpMethod": "GET",
                            "id": "sourcerepo.projects.repos.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/repos/.+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Repo"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/source.full_control",
                                "https://www.googleapis.com/auth/source.read_only",
                                "https://www.googleapis.com/auth/source.read_write"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/repos/{reposId}:getIamPolicy",
                            "httpMethod": "GET",
                            "id": "sourcerepo.projects.repos.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/repos/.+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/source.full_control",
                                "https://www.googleapis.com/auth/source.read_only",
                                "https://www.googleapis.com/auth/source.read_write"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/repos",
                            "httpMethod": "GET",
                            "id": "sourcerepo.projects.repos.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/repos",
                            "response": {
                                "$ref": "ListReposResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/source.full_control",
                                "https://www.googleapis.com/auth/source.read_only",
                                "https://www.googleapis.com/auth/source.read_write"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/repos/{reposId}",
                            "httpMethod": "PATCH",
                            "id": "sourcerepo.projects.repos.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/repos/.+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "UpdateRepoRequest"
                            },
                            "response": {
                                "$ref": "Repo"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/repos/{reposId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "sourcerepo.projects.repos.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/repos/.+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/source.full_control"
                            ]
                        },
                        "sync": {
                            "flatPath": "v1/projects/{projectsId}/repos/{reposId}:sync",
                            "httpMethod": "POST",
                            "id": "sourcerepo.projects.repos.sync",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/repos/.+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:sync",
                            "request": {
                                "$ref": "SyncRepoRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/repos/{reposId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "sourcerepo.projects.repos.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/repos/.+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/source.full_control",
                                "https://www.googleapis.com/auth/source.read_only",
                                "https://www.googleapis.com/auth/source.read_write"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://sourcerepo.googleapis.com/",
    "schemas": {
        "AuditConfig": {
            "id": "AuditConfig",
            "properties": {
                "auditLogConfigs": {
                    "items": {
                        "$ref": "AuditLogConfig"
                    },
                    "type": "array"
                },
                "service": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AuditLogConfig": {
            "id": "AuditLogConfig",
            "properties": {
                "exemptedMembers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logType": {
                    "enum": [
                        "LOG_TYPE_UNSPECIFIED",
                        "ADMIN_READ",
                        "DATA_WRITE",
                        "DATA_READ"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListReposResponse": {
            "id": "ListReposResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "repos": {
                    "items": {
                        "$ref": "Repo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MirrorConfig": {
            "id": "MirrorConfig",
            "properties": {
                "deployKeyId": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "webhookId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Policy": {
            "id": "Policy",
            "properties": {
                "auditConfigs": {
                    "items": {
                        "$ref": "AuditConfig"
                    },
                    "type": "array"
                },
                "bindings": {
                    "items": {
                        "$ref": "Binding"
                    },
                    "type": "array"
                },
                "etag": {
                    "format": "byte",
                    "type": "string"
                },
                "version": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ProjectConfig": {
            "id": "ProjectConfig",
            "properties": {
                "enablePrivateKeyCheck": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "pubsubConfigs": {
                    "additionalProperties": {
                        "$ref": "PubsubConfig"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PubsubConfig": {
            "id": "PubsubConfig",
            "properties": {
                "messageFormat": {
                    "enum": [
                        "MESSAGE_FORMAT_UNSPECIFIED",
                        "PROTOBUF",
                        "JSON"
                    ],
                    "type": "string"
                },
                "serviceAccountEmail": {
                    "type": "string"
                },
                "topic": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Repo": {
            "id": "Repo",
            "properties": {
                "mirrorConfig": {
                    "$ref": "MirrorConfig"
                },
                "name": {
                    "type": "string"
                },
                "pubsubConfigs": {
                    "additionalProperties": {
                        "$ref": "PubsubConfig"
                    },
                    "type": "object"
                },
                "size": {
                    "format": "int64",
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SyncRepoMetadata": {
            "id": "SyncRepoMetadata",
            "properties": {
                "name": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "statusMessage": {
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SyncRepoRequest": {
            "id": "SyncRepoRequest",
            "properties": {},
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "id": "TestIamPermissionsRequest",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsResponse": {
            "id": "TestIamPermissionsResponse",
            "properties": {
                "permissions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateProjectConfigRequest": {
            "id": "UpdateProjectConfigRequest",
            "properties": {
                "projectConfig": {
                    "$ref": "ProjectConfig"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateRepoRequest": {
            "id": "UpdateRepoRequest",
            "properties": {
                "repo": {
                    "$ref": "Repo"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Source Repositories API",
    "version": "v1",
    "version_module": true
}