{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/spanner.admin": {},
                "https://www.googleapis.com/auth/spanner.data": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://spanner.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Spanner",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/spanner/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "spanner:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://spanner.mtls.googleapis.com/",
    "name": "spanner",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "instanceConfigs": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}",
                            "httpMethod": "GET",
                            "id": "spanner.projects.instanceConfigs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instanceConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "InstanceConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/instanceConfigs",
                            "httpMethod": "GET",
                            "id": "spanner.projects.instanceConfigs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/instanceConfigs",
                            "response": {
                                "$ref": "ListInstanceConfigsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        }
                    }
                },
                "instances": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/instances",
                            "httpMethod": "POST",
                            "id": "spanner.projects.instances.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/instances",
                            "request": {
                                "$ref": "CreateInstanceRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "DELETE",
                            "id": "spanner.projects.instances.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "GET",
                            "id": "spanner.projects.instances.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "fieldMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Instance"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:getIamPolicy",
                            "httpMethod": "POST",
                            "id": "spanner.projects.instances.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "request": {
                                "$ref": "GetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/instances",
                            "httpMethod": "GET",
                            "id": "spanner.projects.instances.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/instances",
                            "response": {
                                "$ref": "ListInstancesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "PATCH",
                            "id": "spanner.projects.instances.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "UpdateInstanceRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "spanner.projects.instances.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "spanner.projects.instances.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        }
                    },
                    "resources": {
                        "backupOperations": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backupOperations",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.backupOperations.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/backupOperations",
                                    "response": {
                                        "$ref": "ListBackupOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                }
                            }
                        },
                        "backups": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.backups.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "backupId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/backups",
                                    "request": {
                                        "$ref": "Backup"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}",
                                    "httpMethod": "DELETE",
                                    "id": "spanner.projects.instances.backups.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.backups.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Backup"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.backups.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.backups.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/backups",
                                    "response": {
                                        "$ref": "ListBackupsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}",
                                    "httpMethod": "PATCH",
                                    "id": "spanner.projects.instances.backups.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Backup"
                                    },
                                    "response": {
                                        "$ref": "Backup"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.backups.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.backups.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                }
                            },
                            "resources": {
                                "operations": {
                                    "methods": {
                                        "cancel": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations/{operationsId}:cancel",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.backups.operations.cancel",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:cancel",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations/{operationsId}",
                                            "httpMethod": "DELETE",
                                            "id": "spanner.projects.instances.backups.operations.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations/{operationsId}",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.backups.operations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.backups.operations.list",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "ListOperationsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "databaseOperations": {
                            "methods": {
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databaseOperations",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.databaseOperations.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/databaseOperations",
                                    "response": {
                                        "$ref": "ListDatabaseOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                }
                            }
                        },
                        "databases": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.databases.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/databases",
                                    "request": {
                                        "$ref": "CreateDatabaseRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "dropDatabase": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}",
                                    "httpMethod": "DELETE",
                                    "id": "spanner.projects.instances.databases.dropDatabase",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.databases.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Database"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "getDdl": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/ddl",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.databases.getDdl",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/ddl",
                                    "response": {
                                        "$ref": "GetDatabaseDdlResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.databases.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.databases.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/databases",
                                    "response": {
                                        "$ref": "ListDatabasesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "restore": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases:restore",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.databases.restore",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/databases:restore",
                                    "request": {
                                        "$ref": "RestoreDatabaseRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.databases.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.databases.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "updateDdl": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/ddl",
                                    "httpMethod": "PATCH",
                                    "id": "spanner.projects.instances.databases.updateDdl",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/ddl",
                                    "request": {
                                        "$ref": "UpdateDatabaseDdlRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                }
                            },
                            "resources": {
                                "operations": {
                                    "methods": {
                                        "cancel": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/operations/{operationsId}:cancel",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.operations.cancel",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:cancel",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/operations/{operationsId}",
                                            "httpMethod": "DELETE",
                                            "id": "spanner.projects.instances.databases.operations.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/operations/{operationsId}",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.databases.operations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/operations",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.databases.operations.list",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "ListOperationsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        }
                                    }
                                },
                                "sessions": {
                                    "methods": {
                                        "batchCreate": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions:batchCreate",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.batchCreate",
                                            "parameterOrder": [
                                                "database"
                                            ],
                                            "parameters": {
                                                "database": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+database}/sessions:batchCreate",
                                            "request": {
                                                "$ref": "BatchCreateSessionsRequest"
                                            },
                                            "response": {
                                                "$ref": "BatchCreateSessionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "beginTransaction": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:beginTransaction",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.beginTransaction",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:beginTransaction",
                                            "request": {
                                                "$ref": "BeginTransactionRequest"
                                            },
                                            "response": {
                                                "$ref": "Transaction"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "commit": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:commit",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.commit",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:commit",
                                            "request": {
                                                "$ref": "CommitRequest"
                                            },
                                            "response": {
                                                "$ref": "CommitResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.create",
                                            "parameterOrder": [
                                                "database"
                                            ],
                                            "parameters": {
                                                "database": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+database}/sessions",
                                            "request": {
                                                "$ref": "CreateSessionRequest"
                                            },
                                            "response": {
                                                "$ref": "Session"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}",
                                            "httpMethod": "DELETE",
                                            "id": "spanner.projects.instances.databases.sessions.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "executeBatchDml": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:executeBatchDml",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.executeBatchDml",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:executeBatchDml",
                                            "request": {
                                                "$ref": "ExecuteBatchDmlRequest"
                                            },
                                            "response": {
                                                "$ref": "ExecuteBatchDmlResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "executeSql": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:executeSql",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.executeSql",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:executeSql",
                                            "request": {
                                                "$ref": "ExecuteSqlRequest"
                                            },
                                            "response": {
                                                "$ref": "ResultSet"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "executeStreamingSql": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:executeStreamingSql",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.executeStreamingSql",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:executeStreamingSql",
                                            "request": {
                                                "$ref": "ExecuteSqlRequest"
                                            },
                                            "response": {
                                                "$ref": "PartialResultSet"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.databases.sessions.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Session"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.databases.sessions.list",
                                            "parameterOrder": [
                                                "database"
                                            ],
                                            "parameters": {
                                                "database": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+database}/sessions",
                                            "response": {
                                                "$ref": "ListSessionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "partitionQuery": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:partitionQuery",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.partitionQuery",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:partitionQuery",
                                            "request": {
                                                "$ref": "PartitionQueryRequest"
                                            },
                                            "response": {
                                                "$ref": "PartitionResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "partitionRead": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:partitionRead",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.partitionRead",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:partitionRead",
                                            "request": {
                                                "$ref": "PartitionReadRequest"
                                            },
                                            "response": {
                                                "$ref": "PartitionResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "read": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:read",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.read",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:read",
                                            "request": {
                                                "$ref": "ReadRequest"
                                            },
                                            "response": {
                                                "$ref": "ResultSet"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "rollback": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:rollback",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.rollback",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:rollback",
                                            "request": {
                                                "$ref": "RollbackRequest"
                                            },
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "streamingRead": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:streamingRead",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.streamingRead",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:streamingRead",
                                            "request": {
                                                "$ref": "ReadRequest"
                                            },
                                            "response": {
                                                "$ref": "PartialResultSet"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "spanner.projects.instances.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
[...]
