{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/spanner.admin": {},
                "https://www.googleapis.com/auth/spanner.data": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://spanner.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Spanner",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/spanner/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "spanner:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://spanner.mtls.googleapis.com/",
    "name": "spanner",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "instanceConfigs": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/instanceConfigs/{instanceConfigsId}",
                            "httpMethod": "GET",
                            "id": "spanner.projects.instanceConfigs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instanceConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "InstanceConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/instanceConfigs",
                            "httpMethod": "GET",
                            "id": "spanner.projects.instanceConfigs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/instanceConfigs",
                            "response": {
                                "$ref": "ListInstanceConfigsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        }
                    }
                },
                "instances": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/instances",
                            "httpMethod": "POST",
                            "id": "spanner.projects.instances.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/instances",
                            "request": {
                                "$ref": "CreateInstanceRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "DELETE",
                            "id": "spanner.projects.instances.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "GET",
                            "id": "spanner.projects.instances.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "fieldMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Instance"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "getIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:getIamPolicy",
                            "httpMethod": "POST",
                            "id": "spanner.projects.instances.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "request": {
                                "$ref": "GetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/instances",
                            "httpMethod": "GET",
                            "id": "spanner.projects.instances.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/instances",
                            "response": {
                                "$ref": "ListInstancesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}",
                            "httpMethod": "PATCH",
                            "id": "spanner.projects.instances.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "UpdateInstanceRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "setIamPolicy": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:setIamPolicy",
                            "httpMethod": "POST",
                            "id": "spanner.projects.instances.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        },
                        "testIamPermissions": {
                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}:testIamPermissions",
                            "httpMethod": "POST",
                            "id": "spanner.projects.instances.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/instances/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/spanner.admin"
                            ]
                        }
                    },
                    "resources": {
                        "backups": {
                            "methods": {
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.backups.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.backups.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.backups.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                }
                            },
                            "resources": {
                                "operations": {
                                    "methods": {
                                        "cancel": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations/{operationsId}:cancel",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.backups.operations.cancel",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:cancel",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations/{operationsId}",
                                            "httpMethod": "DELETE",
                                            "id": "spanner.projects.instances.backups.operations.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations/{operationsId}",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.backups.operations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/backups/{backupsId}/operations",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.backups.operations.list",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/backups/[^/]+/operations$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "ListOperationsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "databases": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.databases.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/databases",
                                    "request": {
                                        "$ref": "CreateDatabaseRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "dropDatabase": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}",
                                    "httpMethod": "DELETE",
                                    "id": "spanner.projects.instances.databases.dropDatabase",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.databases.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Database"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "getDdl": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/ddl",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.databases.getDdl",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/ddl",
                                    "response": {
                                        "$ref": "GetDatabaseDdlResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "getIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}:getIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.databases.getIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:getIamPolicy",
                                    "request": {
                                        "$ref": "GetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.databases.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/databases",
                                    "response": {
                                        "$ref": "ListDatabasesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "setIamPolicy": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}:setIamPolicy",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.databases.setIamPolicy",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:setIamPolicy",
                                    "request": {
                                        "$ref": "SetIamPolicyRequest"
                                    },
                                    "response": {
                                        "$ref": "Policy"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "testIamPermissions": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}:testIamPermissions",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.databases.testIamPermissions",
                                    "parameterOrder": [
                                        "resource"
                                    ],
                                    "parameters": {
                                        "resource": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+resource}:testIamPermissions",
                                    "request": {
                                        "$ref": "TestIamPermissionsRequest"
                                    },
                                    "response": {
                                        "$ref": "TestIamPermissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "updateDdl": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/ddl",
                                    "httpMethod": "PATCH",
                                    "id": "spanner.projects.instances.databases.updateDdl",
                                    "parameterOrder": [
                                        "database"
                                    ],
                                    "parameters": {
                                        "database": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+database}/ddl",
                                    "request": {
                                        "$ref": "UpdateDatabaseDdlRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                }
                            },
                            "resources": {
                                "operations": {
                                    "methods": {
                                        "cancel": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/operations/{operationsId}:cancel",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.operations.cancel",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}:cancel",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/operations/{operationsId}",
                                            "httpMethod": "DELETE",
                                            "id": "spanner.projects.instances.databases.operations.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/operations/{operationsId}",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.databases.operations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/operations",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.databases.operations.list",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "ListOperationsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.admin"
                                            ]
                                        }
                                    }
                                },
                                "sessions": {
                                    "methods": {
                                        "batchCreate": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions:batchCreate",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.batchCreate",
                                            "parameterOrder": [
                                                "database"
                                            ],
                                            "parameters": {
                                                "database": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+database}/sessions:batchCreate",
                                            "request": {
                                                "$ref": "BatchCreateSessionsRequest"
                                            },
                                            "response": {
                                                "$ref": "BatchCreateSessionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "beginTransaction": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:beginTransaction",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.beginTransaction",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:beginTransaction",
                                            "request": {
                                                "$ref": "BeginTransactionRequest"
                                            },
                                            "response": {
                                                "$ref": "Transaction"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "commit": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:commit",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.commit",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:commit",
                                            "request": {
                                                "$ref": "CommitRequest"
                                            },
                                            "response": {
                                                "$ref": "CommitResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.create",
                                            "parameterOrder": [
                                                "database"
                                            ],
                                            "parameters": {
                                                "database": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+database}/sessions",
                                            "request": {
                                                "$ref": "CreateSessionRequest"
                                            },
                                            "response": {
                                                "$ref": "Session"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}",
                                            "httpMethod": "DELETE",
                                            "id": "spanner.projects.instances.databases.sessions.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "executeBatchDml": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:executeBatchDml",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.executeBatchDml",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:executeBatchDml",
                                            "request": {
                                                "$ref": "ExecuteBatchDmlRequest"
                                            },
                                            "response": {
                                                "$ref": "ExecuteBatchDmlResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "executeSql": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:executeSql",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.executeSql",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:executeSql",
                                            "request": {
                                                "$ref": "ExecuteSqlRequest"
                                            },
                                            "response": {
                                                "$ref": "ResultSet"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "executeStreamingSql": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:executeStreamingSql",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.executeStreamingSql",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:executeStreamingSql",
                                            "request": {
                                                "$ref": "ExecuteSqlRequest"
                                            },
                                            "response": {
                                                "$ref": "PartialResultSet"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.databases.sessions.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Session"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions",
                                            "httpMethod": "GET",
                                            "id": "spanner.projects.instances.databases.sessions.list",
                                            "parameterOrder": [
                                                "database"
                                            ],
                                            "parameters": {
                                                "database": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+database}/sessions",
                                            "response": {
                                                "$ref": "ListSessionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "partitionQuery": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:partitionQuery",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.partitionQuery",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:partitionQuery",
                                            "request": {
                                                "$ref": "PartitionQueryRequest"
                                            },
                                            "response": {
                                                "$ref": "PartitionResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "partitionRead": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:partitionRead",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.partitionRead",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:partitionRead",
                                            "request": {
                                                "$ref": "PartitionReadRequest"
                                            },
                                            "response": {
                                                "$ref": "PartitionResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "read": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:read",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.read",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:read",
                                            "request": {
                                                "$ref": "ReadRequest"
                                            },
                                            "response": {
                                                "$ref": "ResultSet"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "rollback": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:rollback",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.rollback",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:rollback",
                                            "request": {
                                                "$ref": "RollbackRequest"
                                            },
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        },
                                        "streamingRead": {
                                            "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/databases/{databasesId}/sessions/{sessionsId}:streamingRead",
                                            "httpMethod": "POST",
                                            "id": "spanner.projects.instances.databases.sessions.streamingRead",
                                            "parameterOrder": [
                                                "session"
                                            ],
                                            "parameters": {
                                                "session": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+session}:streamingRead",
                                            "request": {
                                                "$ref": "ReadRequest"
                                            },
                                            "response": {
                                                "$ref": "PartialResultSet"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/spanner.data"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "spanner.projects.instances.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "spanner.projects.instances.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/instances/{instancesId}/operations",
                                    "httpMethod": "GET",
                                    "id": "spanner.projects.instances.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/instances/[^/]+/operations$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/spanner.admin"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://spanner.googleapis.com/",
    "schemas": {
        "BatchCreateSessionsRequest": {
            "id": "BatchCreateSessionsRequest",
            "properties": {
                "sessionCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "sessionTemplate": {
                    "$ref": "Session"
                }
            },
            "type": "object"
        },
        "BatchCreateSessionsResponse": {
            "id": "BatchCreateSessionsResponse",
            "properties": {
                "session": {
                    "items": {
                        "$ref": "Session"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BeginTransactionRequest": {
            "id": "BeginTransactionRequest",
            "properties": {
                "options": {
                    "$ref": "TransactionOptions"
                }
            },
            "type": "object"
        },
        "Binding": {
            "id": "Binding",
            "properties": {
                "condition": {
                    "$ref": "Expr"
                },
                "members": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ChildLink": {
            "id": "ChildLink",
            "properties": {
                "childIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "type": {
                    "type": "string"
                },
                "variable": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CommitRequest": {
            "id": "CommitRequest",
            "properties": {
                "mutations": {
                    "items": {
                        "$ref": "Mutation"
                    },
                    "type": "array"
                },
                "singleUseTransaction": {
                    "$ref": "TransactionOptions"
                },
                "transactionId": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CommitResponse": {
            "id": "CommitResponse",
            "properties": {
                "commitTimestamp": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateDatabaseMetadata": {
            "id": "CreateDatabaseMetadata",
            "properties": {
                "database": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateDatabaseRequest": {
            "id": "CreateDatabaseRequest",
            "properties": {
                "createStatement": {
                    "type": "string"
                },
                "extraStatements": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CreateInstanceMetadata": {
            "id": "CreateInstanceMetadata",
            "properties": {
                "cancelTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "instance": {
                    "$ref": "Instance"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateInstanceRequest": {
            "id": "CreateInstanceRequest",
            "properties": {
                "instance": {
                    "$ref": "Instance"
                },
                "instanceId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateSessionRequest": {
            "id": "CreateSessionRequest",
            "properties": {
                "session": {
                    "$ref": "Session"
                }
            },
            "type": "object"
        },
        "Database": {
            "id": "Database",
            "properties": {
                "name": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY"
                    ],
                    "enumDescriptions": [
                        "Not specified.",
                        "The database is still being created. Operations on the database may fail\nwith `FAILED_PRECONDITION` in this state.",
                        "The database is fully created and ready for use."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Delete": {
            "id": "Delete",
            "properties": {
                "keySet": {
                    "$ref": "KeySet"
                },
                "table": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ExecuteBatchDmlRequest": {
            "id": "ExecuteBatchDmlRequest",
            "properties": {
                "seqno": {
                    "format": "int64",
                    "type": "string"
                },
                "statements": {
                    "items": {
                        "$ref": "Statement"
                    },
                    "type": "array"
                },
                "transaction": {
                    "$ref": "TransactionSelector"
                }
            },
            "type": "object"
        },
        "ExecuteBatchDmlResponse": {
            "id": "ExecuteBatchDmlResponse",
            "properties": {
                "resultSets": {
                    "items": {
                        "$ref": "ResultSet"
                    },
                    "type": "array"
                },
                "status": {
                    "$ref": "Status"
                }
            },
            "type": "object"
        },
        "ExecuteSqlRequest": {
            "id": "ExecuteSqlRequest",
            "properties": {
                "paramTypes": {
                    "additionalProperties": {
                        "$ref": "Type"
                    },
                    "type": "object"
                },
                "params": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "partitionToken": {
                    "format": "byte",
                    "type": "string"
                },
                "queryMode": {
                    "enum": [
                        "NORMAL",
                        "PLAN",
                        "PROFILE"
                    ],
                    "enumDescriptions": [
                        "The default mode. Only the statement results are returned.",
                        "This mode returns only the query plan, without any results or\nexecution statistics information.",
                        "This mode returns both the query plan and the execution statistics along\nwith the results."
                    ],
                    "type": "string"
                },
                "queryOptions": {
                    "$ref": "QueryOptions"
                },
                "resumeToken": {
                    "format": "byte",
                    "type": "string"
                },
                "seqno": {
                    "format": "int64",
                    "type": "string"
                },
                "sql": {
                    "type": "string"
                },
                "transaction": {
                    "$ref": "TransactionSelector"
                }
            },
            "type": "object"
        },
        "Expr": {
            "id": "Expr",
            "properties": {
                "expression": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Field": {
            "id": "Field",
            "properties": {
                "name": {
                    "type": "string"
                },
                "type": {
                    "$ref": "Type"
                }
            },
            "type": "object"
        },
        "GetDatabaseDdlResponse": {
            "id": "GetDatabaseDdlResponse",
            "properties": {
                "statements": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GetIamPolicyRequest": {
            "id": "GetIamPolicyRequest",
            "properties": {
                "options": {
                    "$ref": "GetPolicyOptions"
                }
            },
            "type": "object"
        },
        "GetPolicyOptions": {
            "id": "GetPolicyOptions",
            "properties": {
                "requestedPolicyVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Instance": {
            "id": "Instance",
            "properties": {
                "config": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "endpointUris": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "nodeCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "CREATING",
                        "READY"
                    ],
                    "enumDescriptions": [
                        "Not specified.",
                        "The instance is still being created. Resources may not be\navailable yet, and operations such as database creation may not\nwork.",
                        "The instance is fully created and ready to do work such as\ncreating databases."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InstanceConfig": {
            "id": "InstanceConfig",
[...]
