{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/sqlservice.admin": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://www.googleapis.com/",
    "batchPath": "batch/sql",
    "canonicalName": "SQL Admin",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/cloud-sql/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "sql:v1beta4",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://www.mtls.googleapis.com/",
    "name": "sql",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "backupRuns": {
            "methods": {
                "delete": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
                    "httpMethod": "DELETE",
                    "id": "sql.backupRuns.delete",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "get": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
                    "httpMethod": "GET",
                    "id": "sql.backupRuns.get",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
                    "response": {
                        "$ref": "BackupRun"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "insert": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
                    "httpMethod": "POST",
                    "id": "sql.backupRuns.insert",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
                    "request": {
                        "$ref": "BackupRun"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
                    "httpMethod": "GET",
                    "id": "sql.backupRuns.list",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
                    "response": {
                        "$ref": "BackupRunsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "databases": {
            "methods": {
                "delete": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
                    "httpMethod": "DELETE",
                    "id": "sql.databases.delete",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "database"
                    ],
                    "parameters": {
                        "database": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "get": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
                    "httpMethod": "GET",
                    "id": "sql.databases.get",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "database"
                    ],
                    "parameters": {
                        "database": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
                    "response": {
                        "$ref": "Database"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "insert": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
                    "httpMethod": "POST",
                    "id": "sql.databases.insert",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
                    "request": {
                        "$ref": "Database"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
                    "httpMethod": "GET",
                    "id": "sql.databases.list",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
                    "response": {
                        "$ref": "DatabasesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "patch": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
                    "httpMethod": "PATCH",
                    "id": "sql.databases.patch",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "database"
                    ],
                    "parameters": {
                        "database": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
                    "request": {
                        "$ref": "Database"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "update": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
                    "httpMethod": "PUT",
                    "id": "sql.databases.update",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "database"
                    ],
                    "parameters": {
                        "database": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
                    "request": {
                        "$ref": "Database"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "flags": {
            "methods": {
                "list": {
                    "flatPath": "sql/v1beta4/flags",
                    "httpMethod": "GET",
                    "id": "sql.flags.list",
                    "parameterOrder": [],
                    "parameters": {
                        "databaseVersion": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/flags",
                    "response": {
                        "$ref": "FlagsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "instances": {
            "methods": {
                "addServerCa": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
                    "httpMethod": "POST",
                    "id": "sql.instances.addServerCa",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "clone": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
                    "httpMethod": "POST",
                    "id": "sql.instances.clone",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
                    "request": {
                        "$ref": "InstancesCloneRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "delete": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
                    "httpMethod": "DELETE",
                    "id": "sql.instances.delete",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "demoteMaster": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
                    "httpMethod": "POST",
                    "id": "sql.instances.demoteMaster",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
                    "request": {
                        "$ref": "InstancesDemoteMasterRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "export": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
                    "httpMethod": "POST",
                    "id": "sql.instances.export",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
                    "request": {
                        "$ref": "InstancesExportRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "failover": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
                    "httpMethod": "POST",
                    "id": "sql.instances.failover",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
                    "request": {
                        "$ref": "InstancesFailoverRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "get": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
                    "httpMethod": "GET",
                    "id": "sql.instances.get",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}",
                    "response": {
                        "$ref": "DatabaseInstance"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "import": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import",
                    "httpMethod": "POST",
                    "id": "sql.instances.import",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
                    "request": {
                        "$ref": "InstancesImportRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "insert": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances",
                    "httpMethod": "POST",
                    "id": "sql.instances.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances",
                    "request": {
                        "$ref": "DatabaseInstance"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances",
                    "httpMethod": "GET",
                    "id": "sql.instances.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances",
                    "response": {
                        "$ref": "InstancesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "listServerCas": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
                    "httpMethod": "GET",
                    "id": "sql.instances.listServerCas",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
                    "response": {
                        "$ref": "InstancesListServerCasResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "patch": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
                    "httpMethod": "PATCH",
                    "id": "sql.instances.patch",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}",
                    "request": {
                        "$ref": "DatabaseInstance"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "promoteReplica": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
                    "httpMethod": "POST",
                    "id": "sql.instances.promoteReplica",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "resetSslConfig": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
                    "httpMethod": "POST",
                    "id": "sql.instances.resetSslConfig",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "restart": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
                    "httpMethod": "POST",
                    "id": "sql.instances.restart",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "restoreBackup": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
                    "httpMethod": "POST",
                    "id": "sql.instances.restoreBackup",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
                    "request": {
                        "$ref": "InstancesRestoreBackupRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "rotateServerCa": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
                    "httpMethod": "POST",
                    "id": "sql.instances.rotateServerCa",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
                    "request": {
                        "$ref": "InstancesRotateServerCaRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "startReplica": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
                    "httpMethod": "POST",
                    "id": "sql.instances.startReplica",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "stopReplica": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
                    "httpMethod": "POST",
                    "id": "sql.instances.stopReplica",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "truncateLog": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
                    "httpMethod": "POST",
                    "id": "sql.instances.truncateLog",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
                    "request": {
                        "$ref": "InstancesTruncateLogRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "update": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
                    "httpMethod": "PUT",
                    "id": "sql.instances.update",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}",
                    "request": {
                        "$ref": "DatabaseInstance"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
                    "httpMethod": "GET",
                    "id": "sql.operations.get",
                    "parameterOrder": [
                        "project",
                        "operation"
                    ],
                    "parameters": {
                        "operation": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/operations/{operation}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "flatPath": "sql/v1beta4/projects/{project}/operations",
                    "httpMethod": "GET",
                    "id": "sql.operations.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/operations",
                    "response": {
                        "$ref": "OperationsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "projects": {
            "resources": {
                "instances": {
                    "methods": {
                        "rescheduleMaintenance": {
                            "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
                            "httpMethod": "POST",
                            "id": "sql.projects.instances.rescheduleMaintenance",
                            "parameterOrder": [
                                "project",
                                "instance"
                            ],
                            "parameters": {
                                "instance": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "project": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
                            "request": {
                                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/sqlservice.admin"
                            ]
                        },
                        "startExternalSync": {
                            "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
                            "httpMethod": "POST",
                            "id": "sql.projects.instances.startExternalSync",
                            "parameterOrder": [
                                "project",
                                "instance"
                            ],
                            "parameters": {
                                "instance": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "project": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "syncMode": {
                                    "enum": [
                                        "EXTERNAL_SYNC_MODE_UNSPECIFIED",
                                        "ONLINE",
                                        "OFFLINE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/sqlservice.admin"
                            ]
                        },
                        "verifyExternalSyncSettings": {
                            "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
                            "httpMethod": "POST",
                            "id": "sql.projects.instances.verifyExternalSyncSettings",
                            "parameterOrder": [
                                "project",
                                "instance"
                            ],
                            "parameters": {
                                "instance": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "project": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "syncMode": {
                                    "enum": [
                                        "EXTERNAL_SYNC_MODE_UNSPECIFIED",
                                        "ONLINE",
                                        "OFFLINE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "verifyConnectionOnly": {
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
                            "response": {
                                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/sqlservice.admin"
                            ]
                        }
                    }
                }
            }
        },
        "sslCerts": {
            "methods": {
                "createEphemeral": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
                    "httpMethod": "POST",
                    "id": "sql.sslCerts.createEphemeral",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
                    "request": {
                        "$ref": "SslCertsCreateEphemeralRequest"
                    },
                    "response": {
                        "$ref": "SslCert"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "delete": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
                    "httpMethod": "DELETE",
                    "id": "sql.sslCerts.delete",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "sha1Fingerprint"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sha1Fingerprint": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "get": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
                    "httpMethod": "GET",
                    "id": "sql.sslCerts.get",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "sha1Fingerprint"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sha1Fingerprint": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
                    "response": {
                        "$ref": "SslCert"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "insert": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
                    "httpMethod": "POST",
                    "id": "sql.sslCerts.insert",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
                    "request": {
                        "$ref": "SslCertsInsertRequest"
                    },
                    "response": {
                        "$ref": "SslCertsInsertResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
                    "httpMethod": "GET",
                    "id": "sql.sslCerts.list",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
                    "response": {
                        "$ref": "SslCertsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "tiers": {
            "methods": {
                "list": {
                    "flatPath": "sql/v1beta4/projects/{project}/tiers",
                    "httpMethod": "GET",
                    "id": "sql.tiers.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/tiers",
                    "response": {
                        "$ref": "TiersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "users": {
            "methods": {
                "delete": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
                    "httpMethod": "DELETE",
                    "id": "sql.users.delete",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "host": {
                            "location": "query",
                            "type": "string"
                        },
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "name": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "insert": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
                    "httpMethod": "POST",
                    "id": "sql.users.insert",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
                    "httpMethod": "GET",
                    "id": "sql.users.list",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
                    "response": {
                        "$ref": "UsersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "update": {
                    "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
                    "httpMethod": "PUT",
                    "id": "sql.users.update",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "host": {
                            "location": "query",
                            "type": "string"
                        },
                        "instance": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "name": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AclEntry": {
            "id": "AclEntry",
            "properties": {
                "expirationTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApiWarning": {
            "id": "ApiWarning",
            "properties": {
                "code": {
                    "enum": [
                        "SQL_API_WARNING_CODE_UNSPECIFIED",
                        "REGION_UNREACHABLE"
                    ],
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BackupConfiguration": {
            "id": "BackupConfiguration",
            "properties": {
                "binaryLogEnabled": {
                    "type": "boolean"
                },
                "enabled": {
                    "type": "boolean"
                },
                "kind": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "pointInTimeRecoveryEnabled": {
                    "type": "boolean"
                },
                "replicationLogArchivingEnabled": {
                    "type": "boolean"
                },
                "startTime": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BackupRun": {
            "id": "BackupRun",
            "properties": {
                "backupKind": {
                    "enum": [
                        "SQL_BACKUP_KIND_UNSPECIFIED",
                        "SNAPSHOT",
                        "PHYSICAL"
                    ],
                    "type": "string"
                },
                "diskEncryptionConfiguration": {
                    "$ref": "DiskEncryptionConfiguration"
                },
                "diskEncryptionStatus": {
                    "$ref": "DiskEncryptionStatus"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "enqueuedTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "error": {
                    "$ref": "OperationError"
                },
                "id": {
                    "format": "int64",
                    "type": "string"
                },
                "instance": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
                        "ENQUEUED",
                        "OVERDUE",
                        "RUNNING",
                        "FAILED",
                        "SUCCESSFUL",
                        "SKIPPED",
                        "DELETION_PENDING",
                        "DELETION_FAILED",
                        "DELETED"
                    ],
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
                        "AUTOMATED",
                        "ON_DEMAND"
                    ],
                    "type": "string"
                },
                "windowStartTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BackupRunsListResponse": {
            "id": "BackupRunsListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "BackupRun"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BinLogCoordinates": {
            "id": "BinLogCoordinates",
            "properties": {
                "binLogFileName": {
                    "type": "string"
                },
                "binLogPosition": {
                    "format": "int64",
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloneContext": {
            "id": "CloneContext",
            "properties": {
                "binLogCoordinates": {
                    "$ref": "BinLogCoordinates"
                },
                "destinationInstanceName": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "pitrTimestampMs": {
                    "format": "int64",
                    "type": "string"
                },
                "pointInTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Database": {
            "id": "Database",
            "properties": {
                "charset": {
                    "type": "string"
                },
                "collation": {
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "instance": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "project": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "sqlserverDatabaseDetails": {
                    "$ref": "SqlServerDatabaseDetails"
                }
            },
            "type": "object"
        },
        "DatabaseFlags": {
            "id": "DatabaseFlags",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DatabaseInstance": {
            "id": "DatabaseInstance",
            "properties": {
                "backendType": {
                    "enum": [
                        "SQL_BACKEND_TYPE_UNSPECIFIED",
                        "FIRST_GEN",
                        "SECOND_GEN",
                        "EXTERNAL"
                    ],
                    "type": "string"
                },
                "connectionName": {
                    "type": "string"
                },
                "currentDiskSize": {
                    "format": "int64",
                    "type": "string"
                },
                "databaseVersion": {
                    "enum": [
                        "SQL_DATABASE_VERSION_UNSPECIFIED",
                        "MYSQL_5_1",
                        "MYSQL_5_5",
                        "MYSQL_5_6",
                        "MYSQL_5_7",
                        "POSTGRES_9_6",
                        "POSTGRES_11",
                        "SQLSERVER_2017_STANDARD",
                        "SQLSERVER_2017_ENTERPRISE",
                        "SQLSERVER_2017_EXPRESS",
                        "SQLSERVER_2017_WEB",
                        "POSTGRES_10",
                        "POSTGRES_12",
                        "MYSQL_8_0"
                    ],
                    "type": "string"
                },
                "diskEncryptionConfiguration": {
                    "$ref": "DiskEncryptionConfiguration"
                },
                "diskEncryptionStatus": {
                    "$ref": "DiskEncryptionStatus"
                },
                "etag": {
                    "type": "string"
                },
                "failoverReplica": {
                    "properties": {
                        "available": {
                            "type": "boolean"
                        },
                        "name": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "gceZone": {
                    "type": "string"
                },
                "instanceType": {
                    "enum": [
                        "SQL_INSTANCE_TYPE_UNSPECIFIED",
                        "CLOUD_SQL_INSTANCE",
                        "ON_PREMISES_INSTANCE",
                        "READ_REPLICA_INSTANCE"
                    ],
                    "type": "string"
                },
                "ipAddresses": {
                    "items": {
                        "$ref": "IpMapping"
                    },
                    "type": "array"
                },
                "ipv6Address": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "masterInstanceName": {
                    "type": "string"
                },
                "maxDiskSize": {
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "onPremisesConfiguration": {
                    "$ref": "OnPremisesConfiguration"
                },
                "project": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "replicaConfiguration": {
                    "$ref": "ReplicaConfiguration"
                },
                "replicaNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "rootPassword": {
                    "type": "string"
                },
                "scheduledMaintenance": {
                    "$ref": "SqlScheduledMaintenance"
                },
                "selfLink": {
                    "type": "string"
                },
                "serverCaCert": {
                    "$ref": "SslCert"
                },
                "serviceAccountEmailAddress": {
                    "type": "string"
                },
                "settings": {
                    "$ref": "Settings"
                },
                "state": {
                    "enum": [
                        "SQL_INSTANCE_STATE_UNSPECIFIED",
                        "RUNNABLE",
                        "SUSPENDED",
                        "PENDING_DELETE",
                        "PENDING_CREATE",
                        "MAINTENANCE",
                        "FAILED"
                    ],
                    "type": "string"
                },
                "suspensionReason": {
                    "items": {
                        "enum": [
                            "SQL_SUSPENSION_REASON_UNSPECIFIED",
                            "BILLING_ISSUE",
                            "LEGAL_ISSUE",
                            "OPERATIONAL_ISSUE",
                            "KMS_KEY_ISSUE"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DatabasesListResponse": {
            "id": "DatabasesListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Database"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DemoteMasterConfiguration": {
            "id": "DemoteMasterConfiguration",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "mysqlReplicaConfiguration": {
                    "$ref": "DemoteMasterMySqlReplicaConfiguration"
                }
            },
            "type": "object"
        },
        "DemoteMasterContext": {
            "id": "DemoteMasterContext",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "masterInstanceName": {
                    "type": "string"
                },
                "replicaConfiguration": {
                    "$ref": "DemoteMasterConfiguration"
                },
                "verifyGtidConsistency": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DemoteMasterMySqlReplicaConfiguration": {
            "id": "DemoteMasterMySqlReplicaConfiguration",
            "properties": {
                "caCertificate": {
                    "type": "string"
                },
                "clientCertificate": {
                    "type": "string"
                },
                "clientKey": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DiskEncryptionConfiguration": {
            "id": "DiskEncryptionConfiguration",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "kmsKeyName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DiskEncryptionStatus": {
            "id": "DiskEncryptionStatus",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "kmsKeyVersionName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExportContext": {
            "id": "ExportContext",
            "properties": {
                "csvExportOptions": {
                    "properties": {
                        "selectQuery": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "databases": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "fileType": {
                    "enum": [
                        "SQL_FILE_TYPE_UNSPECIFIED",
                        "SQL",
                        "CSV",
                        "BAK"
                    ],
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "sqlExportOptions": {
                    "properties": {
                        "mysqlExportOptions": {
                            "properties": {
                                "masterData": {
                                    "format": "int32",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "schemaOnly": {
                            "type": "boolean"
                        },
                        "tables": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FailoverContext": {
            "id": "FailoverContext",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "settingsVersion": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Flag": {
            "id": "Flag",
            "properties": {
                "allowedIntValues": {
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "allowedStringValues": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "appliesTo": {
                    "items": {
                        "enum": [
                            "SQL_DATABASE_VERSION_UNSPECIFIED",
                            "MYSQL_5_1",
                            "MYSQL_5_5",
                            "MYSQL_5_6",
                            "MYSQL_5_7",
                            "POSTGRES_9_6",
                            "POSTGRES_11",
                            "SQLSERVER_2017_STANDARD",
                            "SQLSERVER_2017_ENTERPRISE",
                            "SQLSERVER_2017_EXPRESS",
                            "SQLSERVER_2017_WEB",
                            "POSTGRES_10",
                            "POSTGRES_12",
                            "MYSQL_8_0"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "inBeta": {
                    "type": "boolean"
                },
                "kind": {
                    "type": "string"
                },
                "maxValue": {
                    "format": "int64",
                    "type": "string"
                },
                "minValue": {
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "requiresRestart": {
                    "type": "boolean"
                },
                "type": {
                    "enum": [
                        "SQL_FLAG_TYPE_UNSPECIFIED",
                        "BOOLEAN",
                        "STRING",
                        "INTEGER",
                        "NONE",
                        "MYSQL_TIMEZONE_OFFSET",
                        "FLOAT",
                        "REPEATED_STRING"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FlagsListResponse": {
            "id": "FlagsListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "Flag"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImportContext": {
            "id": "ImportContext",
            "properties": {
                "bakImportOptions": {
                    "properties": {
                        "encryptionOptions": {
                            "properties": {
                                "certPath": {
                                    "type": "string"
                                },
                                "pvkPassword": {
                                    "type": "string"
                                },
                                "pvkPath": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                },
                "csvImportOptions": {
                    "properties": {
                        "columns": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "table": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "database": {
                    "type": "string"
                },
                "fileType": {
                    "enum": [
                        "SQL_FILE_TYPE_UNSPECIFIED",
                        "SQL",
                        "CSV",
                        "BAK"
                    ],
                    "type": "string"
                },
                "importUser": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InstancesCloneRequest": {
            "id": "InstancesCloneRequest",
            "properties": {
                "cloneContext": {
                    "$ref": "CloneContext"
                }
            },
            "type": "object"
        },
        "InstancesDemoteMasterRequest": {
            "id": "InstancesDemoteMasterRequest",
            "properties": {
                "demoteMasterContext": {
                    "$ref": "DemoteMasterContext"
                }
            },
            "type": "object"
        },
        "InstancesExportRequest": {
            "id": "InstancesExportRequest",
            "properties": {
                "exportContext": {
                    "$ref": "ExportContext"
                }
            },
            "type": "object"
        },
        "InstancesFailoverRequest": {
            "id": "InstancesFailoverRequest",
            "properties": {
                "failoverContext": {
                    "$ref": "FailoverContext"
                }
            },
            "type": "object"
        },
        "InstancesImportRequest": {
            "id": "InstancesImportRequest",
            "properties": {
                "importContext": {
                    "$ref": "ImportContext"
                }
            },
            "type": "object"
        },
        "InstancesListResponse": {
            "id": "InstancesListResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "DatabaseInstance"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "warnings": {
                    "items": {
                        "$ref": "ApiWarning"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "InstancesListServerCasResponse": {
            "id": "InstancesListServerCasResponse",
            "properties": {
                "activeVersion": {
                    "type": "string"
                },
                "certs": {
                    "items": {
                        "$ref": "SslCert"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InstancesRestoreBackupRequest": {
            "id": "InstancesRestoreBackupRequest",
            "properties": {
                "restoreBackupContext": {
                    "$ref": "RestoreBackupContext"
                }
            },
            "type": "object"
        },
        "InstancesRotateServerCaRequest": {
            "id": "InstancesRotateServerCaRequest",
            "properties": {
                "rotateServerCaContext": {
                    "$ref": "RotateServerCaContext"
                }
            },
            "type": "object"
        },
        "InstancesTruncateLogRequest": {
            "id": "InstancesTruncateLogRequest",
            "properties": {
                "truncateLogContext": {
                    "$ref": "TruncateLogContext"
                }
            },
            "type": "object"
        },
        "IpConfiguration": {
            "id": "IpConfiguration",
            "properties": {
                "authorizedNetworks": {
                    "items": {
                        "$ref": "AclEntry"
                    },
                    "type": "array"
                },
                "ipv4Enabled": {
                    "type": "boolean"
                },
                "privateNetwork": {
                    "type": "string"
                },
                "requireSsl": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "IpMapping": {
            "id": "IpMapping",
            "properties": {
                "ipAddress": {
                    "type": "string"
                },
                "timeToRetire": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
                        "PRIMARY",
                        "OUTGOING",
                        "PRIVATE",
                        "MIGRATED_1ST_GEN"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocationPreference": {
            "id": "LocationPreference",
            "properties": {
                "followGaeApplication": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MaintenanceWindow": {
            "id": "MaintenanceWindow",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "hour": {
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "type": "string"
                },
                "updateTrack": {
                    "enum": [
                        "SQL_UPDATE_TRACK_UNSPECIFIED",
                        "canary",
                        "stable"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MySqlReplicaConfiguration": {
            "id": "MySqlReplicaConfiguration",
            "properties": {
                "caCertificate": {
                    "type": "string"
                },
                "clientCertificate": {
                    "type": "string"
                },
                "clientKey": {
                    "type": "string"
                },
                "connectRetryInterval": {
                    "format": "int32",
                    "type": "integer"
                },
                "dumpFilePath": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "masterHeartbeatPeriod": {
                    "format": "int64",
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "sslCipher": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                },
                "verifyServerCertificate": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "OnPremisesConfiguration": {
            "id": "OnPremisesConfiguration",
            "properties": {
                "caCertificate": {
                    "type": "string"
                },
                "clientCertificate": {
                    "type": "string"
                },
                "clientKey": {
                    "type": "string"
                },
                "dumpFilePath": {
                    "type": "string"
                },
                "hostPort": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "error": {
                    "$ref": "OperationErrors"
                },
                "exportContext": {
                    "$ref": "ExportContext"
                },
                "importContext": {
                    "$ref": "ImportContext"
                },
                "insertTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "operationType": {
                    "enum": [
                        "SQL_OPERATION_TYPE_UNSPECIFIED",
                        "IMPORT",
                        "EXPORT",
                        "CREATE",
                        "UPDATE",
                        "DELETE",
                        "RESTART",
                        "BACKUP",
                        "SNAPSHOT",
                        "BACKUP_VOLUME",
                        "DELETE_VOLUME",
                        "RESTORE_VOLUME",
                        "INJECT_USER",
                        "CLONE",
                        "STOP_REPLICA",
                        "START_REPLICA",
                        "PROMOTE_REPLICA",
                        "CREATE_REPLICA",
                        "CREATE_USER",
                        "DELETE_USER",
                        "UPDATE_USER",
                        "CREATE_DATABASE",
[...]
