{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {},
                "https://www.googleapis.com/auth/devstorage.full_control": {},
                "https://www.googleapis.com/auth/devstorage.read_only": {},
                "https://www.googleapis.com/auth/devstorage.read_write": {}
            }
        }
    },
    "basePath": "/storage/v1/",
    "baseUrl": "https://storage.googleapis.com/storage/v1/",
    "batchPath": "batch/storage/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/storage/docs/json_api/",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/cloud_storage-16.png",
        "x32": "https://www.google.com/images/icons/product/cloud_storage-32.png"
    },
    "id": "storage:v1",
    "kind": "discovery#restDescription",
    "labels": [
        "labs"
    ],
    "name": "storage",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "bucketAccessControls": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "storage.bucketAccessControls.delete",
                    "parameterOrder": [
                        "bucket",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/acl/{entity}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "storage.bucketAccessControls.get",
                    "parameterOrder": [
                        "bucket",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/acl/{entity}",
                    "response": {
                        "$ref": "BucketAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "storage.bucketAccessControls.insert",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/acl",
                    "request": {
                        "$ref": "BucketAccessControl"
                    },
                    "response": {
                        "$ref": "BucketAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "storage.bucketAccessControls.list",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/acl",
                    "response": {
                        "$ref": "BucketAccessControls"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "storage.bucketAccessControls.patch",
                    "parameterOrder": [
                        "bucket",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/acl/{entity}",
                    "request": {
                        "$ref": "BucketAccessControl"
                    },
                    "response": {
                        "$ref": "BucketAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "storage.bucketAccessControls.update",
                    "parameterOrder": [
                        "bucket",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/acl/{entity}",
                    "request": {
                        "$ref": "BucketAccessControl"
                    },
                    "response": {
                        "$ref": "BucketAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                }
            }
        },
        "buckets": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "storage.buckets.delete",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "storage.buckets.get",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}",
                    "response": {
                        "$ref": "Bucket"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "getIamPolicy": {
                    "httpMethod": "GET",
                    "id": "storage.buckets.getIamPolicy",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "optionsRequestedPolicyVersion": {
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/iam",
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "storage.buckets.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "predefinedAcl": {
                            "enum": [
                                "authenticatedRead",
                                "private",
                                "projectPrivate",
                                "publicRead",
                                "publicReadWrite"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "predefinedDefaultObjectAcl": {
                            "enum": [
                                "authenticatedRead",
                                "bucketOwnerFullControl",
                                "bucketOwnerRead",
                                "private",
                                "projectPrivate",
                                "publicRead"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b",
                    "request": {
                        "$ref": "Bucket"
                    },
                    "response": {
                        "$ref": "Bucket"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "storage.buckets.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "maxResults": {
                            "default": "1000",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "prefix": {
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b",
                    "response": {
                        "$ref": "Buckets"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "lockRetentionPolicy": {
                    "httpMethod": "POST",
                    "id": "storage.buckets.lockRetentionPolicy",
                    "parameterOrder": [
                        "bucket",
                        "ifMetagenerationMatch"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/lockRetentionPolicy",
                    "response": {
                        "$ref": "Bucket"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "storage.buckets.patch",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "predefinedAcl": {
                            "enum": [
                                "authenticatedRead",
                                "private",
                                "projectPrivate",
                                "publicRead",
                                "publicReadWrite"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "predefinedDefaultObjectAcl": {
                            "enum": [
                                "authenticatedRead",
                                "bucketOwnerFullControl",
                                "bucketOwnerRead",
                                "private",
                                "projectPrivate",
                                "publicRead"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}",
                    "request": {
                        "$ref": "Bucket"
                    },
                    "response": {
                        "$ref": "Bucket"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "setIamPolicy": {
                    "httpMethod": "PUT",
                    "id": "storage.buckets.setIamPolicy",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/iam",
                    "request": {
                        "$ref": "Policy"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "testIamPermissions": {
                    "httpMethod": "GET",
                    "id": "storage.buckets.testIamPermissions",
                    "parameterOrder": [
                        "bucket",
                        "permissions"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "permissions": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/iam/testPermissions",
                    "response": {
                        "$ref": "TestIamPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "storage.buckets.update",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "predefinedAcl": {
                            "enum": [
                                "authenticatedRead",
                                "private",
                                "projectPrivate",
                                "publicRead",
                                "publicReadWrite"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "predefinedDefaultObjectAcl": {
                            "enum": [
                                "authenticatedRead",
                                "bucketOwnerFullControl",
                                "bucketOwnerRead",
                                "private",
                                "projectPrivate",
                                "publicRead"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}",
                    "request": {
                        "$ref": "Bucket"
                    },
                    "response": {
                        "$ref": "Bucket"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                }
            }
        },
        "channels": {
            "methods": {
                "stop": {
                    "httpMethod": "POST",
                    "id": "storage.channels.stop",
                    "path": "channels/stop",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                }
            }
        },
        "defaultObjectAccessControls": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "storage.defaultObjectAccessControls.delete",
                    "parameterOrder": [
                        "bucket",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/defaultObjectAcl/{entity}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "storage.defaultObjectAccessControls.get",
                    "parameterOrder": [
                        "bucket",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/defaultObjectAcl/{entity}",
                    "response": {
                        "$ref": "ObjectAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "storage.defaultObjectAccessControls.insert",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/defaultObjectAcl",
                    "request": {
                        "$ref": "ObjectAccessControl"
                    },
                    "response": {
                        "$ref": "ObjectAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "storage.defaultObjectAccessControls.list",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/defaultObjectAcl",
                    "response": {
                        "$ref": "ObjectAccessControls"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "storage.defaultObjectAccessControls.patch",
                    "parameterOrder": [
                        "bucket",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/defaultObjectAcl/{entity}",
                    "request": {
                        "$ref": "ObjectAccessControl"
                    },
                    "response": {
                        "$ref": "ObjectAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "storage.defaultObjectAccessControls.update",
                    "parameterOrder": [
                        "bucket",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/defaultObjectAcl/{entity}",
                    "request": {
                        "$ref": "ObjectAccessControl"
                    },
                    "response": {
                        "$ref": "ObjectAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                }
            }
        },
        "notifications": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "storage.notifications.delete",
                    "parameterOrder": [
                        "bucket",
                        "notification"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "notification": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/notificationConfigs/{notification}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "storage.notifications.get",
                    "parameterOrder": [
                        "bucket",
                        "notification"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "notification": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/notificationConfigs/{notification}",
                    "response": {
                        "$ref": "Notification"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "storage.notifications.insert",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/notificationConfigs",
                    "request": {
                        "$ref": "Notification"
                    },
                    "response": {
                        "$ref": "Notification"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "storage.notifications.list",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/notificationConfigs",
                    "response": {
                        "$ref": "Notifications"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                }
            }
        },
        "objectAccessControls": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "storage.objectAccessControls.delete",
                    "parameterOrder": [
                        "bucket",
                        "object",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}/acl/{entity}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "storage.objectAccessControls.get",
                    "parameterOrder": [
                        "bucket",
                        "object",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}/acl/{entity}",
                    "response": {
                        "$ref": "ObjectAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "storage.objectAccessControls.insert",
                    "parameterOrder": [
                        "bucket",
                        "object"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}/acl",
                    "request": {
                        "$ref": "ObjectAccessControl"
                    },
                    "response": {
                        "$ref": "ObjectAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "storage.objectAccessControls.list",
                    "parameterOrder": [
                        "bucket",
                        "object"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}/acl",
                    "response": {
                        "$ref": "ObjectAccessControls"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "storage.objectAccessControls.patch",
                    "parameterOrder": [
                        "bucket",
                        "object",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}/acl/{entity}",
                    "request": {
                        "$ref": "ObjectAccessControl"
                    },
                    "response": {
                        "$ref": "ObjectAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "storage.objectAccessControls.update",
                    "parameterOrder": [
                        "bucket",
                        "object",
                        "entity"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entity": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}/acl/{entity}",
                    "request": {
                        "$ref": "ObjectAccessControl"
                    },
                    "response": {
                        "$ref": "ObjectAccessControl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                }
            }
        },
        "objects": {
            "methods": {
                "compose": {
                    "httpMethod": "POST",
                    "id": "storage.objects.compose",
                    "parameterOrder": [
                        "destinationBucket",
                        "destinationObject"
                    ],
                    "parameters": {
                        "destinationBucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "destinationObject": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "destinationPredefinedAcl": {
                            "enum": [
                                "authenticatedRead",
                                "bucketOwnerFullControl",
                                "bucketOwnerRead",
                                "private",
                                "projectPrivate",
                                "publicRead"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "kmsKeyName": {
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{destinationBucket}/o/{destinationObject}/compose",
                    "request": {
                        "$ref": "ComposeRequest"
                    },
                    "response": {
                        "$ref": "Object"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "copy": {
                    "httpMethod": "POST",
                    "id": "storage.objects.copy",
                    "parameterOrder": [
                        "sourceBucket",
                        "sourceObject",
                        "destinationBucket",
                        "destinationObject"
                    ],
                    "parameters": {
                        "destinationBucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "destinationKmsKeyName": {
                            "location": "query",
                            "type": "string"
                        },
                        "destinationObject": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "destinationPredefinedAcl": {
                            "enum": [
                                "authenticatedRead",
                                "bucketOwnerFullControl",
                                "bucketOwnerRead",
                                "private",
                                "projectPrivate",
                                "publicRead"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifSourceGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifSourceGenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifSourceMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifSourceMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "sourceBucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sourceGeneration": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "sourceObject": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{sourceBucket}/o/{sourceObject}/copyTo/b/{destinationBucket}/o/{destinationObject}",
                    "request": {
                        "$ref": "Object"
                    },
                    "response": {
                        "$ref": "Object"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "storage.objects.delete",
                    "parameterOrder": [
                        "bucket",
                        "object"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "storage.objects.get",
                    "parameterOrder": [
                        "bucket",
                        "object"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}",
                    "response": {
                        "$ref": "Object"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "supportsMediaDownload": true,
                    "useMediaDownloadService": true
                },
                "getIamPolicy": {
                    "httpMethod": "GET",
                    "id": "storage.objects.getIamPolicy",
                    "parameterOrder": [
                        "bucket",
                        "object"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}/iam",
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "storage.objects.insert",
                    "mediaUpload": {
                        "accept": [
                            "*/*"
                        ],
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/storage/v1/b/{bucket}/o"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/storage/v1/b/{bucket}/o"
                            }
                        }
                    },
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "contentEncoding": {
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "kmsKeyName": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "query",
                            "type": "string"
                        },
                        "predefinedAcl": {
                            "enum": [
                                "authenticatedRead",
                                "bucketOwnerFullControl",
                                "bucketOwnerRead",
                                "private",
                                "projectPrivate",
                                "publicRead"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o",
                    "request": {
                        "$ref": "Object"
                    },
                    "response": {
                        "$ref": "Object"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "supportsMediaUpload": true
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "storage.objects.list",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "delimiter": {
                            "location": "query",
                            "type": "string"
                        },
                        "endOffset": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeTrailingDelimiter": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "prefix": {
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "startOffset": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "versions": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "b/{bucket}/o",
                    "response": {
                        "$ref": "Objects"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "supportsSubscription": true
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "storage.objects.patch",
                    "parameterOrder": [
                        "bucket",
                        "object"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "predefinedAcl": {
                            "enum": [
                                "authenticatedRead",
                                "bucketOwnerFullControl",
                                "bucketOwnerRead",
                                "private",
                                "projectPrivate",
                                "publicRead"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}",
                    "request": {
                        "$ref": "Object"
                    },
                    "response": {
                        "$ref": "Object"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "rewrite": {
                    "httpMethod": "POST",
                    "id": "storage.objects.rewrite",
                    "parameterOrder": [
                        "sourceBucket",
                        "sourceObject",
                        "destinationBucket",
                        "destinationObject"
                    ],
                    "parameters": {
                        "destinationBucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "destinationKmsKeyName": {
                            "location": "query",
                            "type": "string"
                        },
                        "destinationObject": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "destinationPredefinedAcl": {
                            "enum": [
                                "authenticatedRead",
                                "bucketOwnerFullControl",
                                "bucketOwnerRead",
                                "private",
                                "projectPrivate",
                                "publicRead"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifSourceGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifSourceGenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifSourceMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifSourceMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "maxBytesRewrittenPerCall": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "rewriteToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "sourceBucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sourceGeneration": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "sourceObject": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{sourceBucket}/o/{sourceObject}/rewriteTo/b/{destinationBucket}/o/{destinationObject}",
                    "request": {
                        "$ref": "Object"
                    },
                    "response": {
                        "$ref": "RewriteResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "setIamPolicy": {
                    "httpMethod": "PUT",
                    "id": "storage.objects.setIamPolicy",
                    "parameterOrder": [
                        "bucket",
                        "object"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}/iam",
                    "request": {
                        "$ref": "Policy"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "testIamPermissions": {
                    "httpMethod": "GET",
                    "id": "storage.objects.testIamPermissions",
                    "parameterOrder": [
                        "bucket",
                        "object",
                        "permissions"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "permissions": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}/iam/testPermissions",
                    "response": {
                        "$ref": "TestIamPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "storage.objects.update",
                    "parameterOrder": [
                        "bucket",
                        "object"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "generation": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifGenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "ifMetagenerationNotMatch": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "object": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "predefinedAcl": {
                            "enum": [
                                "authenticatedRead",
                                "bucketOwnerFullControl",
                                "bucketOwnerRead",
                                "private",
                                "projectPrivate",
                                "publicRead"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "enum": [
                                "full",
                                "noAcl"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "provisionalUserProject": {
                            "location": "query",
                            "type": "string"
                        },
                        "userProject": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "b/{bucket}/o/{object}",
                    "request": {
                        "$ref": "Object"
                    },
                    "response": {
                        "$ref": "Object"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control"
                    ]
                },
                "watchAll": {
                    "httpMethod": "POST",
                    "id": "storage.objects.watchAll",
                    "parameterOrder": [
                        "bucket"
                    ],
                    "parameters": {
                        "bucket": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "delimiter": {
                            "location": "query",
                            "type": "string"
                        },
                        "endOffset": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeTrailingDelimiter": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "1000",
                            "format": "uint32",
                            "location": "query",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
[...]
