{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://storagetransfer.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/storage-transfer/docs",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "storagetransfer:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://storagetransfer.mtls.googleapis.com/",
    "name": "storagetransfer",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "googleServiceAccounts": {
            "methods": {
                "get": {
                    "flatPath": "v1/googleServiceAccounts/{projectId}",
                    "httpMethod": "GET",
                    "id": "storagetransfer.googleServiceAccounts.get",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/googleServiceAccounts/{projectId}",
                    "response": {
                        "$ref": "GoogleServiceAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "transferJobs": {
            "methods": {
                "create": {
                    "flatPath": "v1/transferJobs",
                    "httpMethod": "POST",
                    "id": "storagetransfer.transferJobs.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/transferJobs",
                    "request": {
                        "$ref": "TransferJob"
                    },
                    "response": {
                        "$ref": "TransferJob"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/transferJobs/{transferJobsId}",
                    "httpMethod": "GET",
                    "id": "storagetransfer.transferJobs.get",
                    "parameterOrder": [
                        "jobName"
                    ],
                    "parameters": {
                        "jobName": {
                            "location": "path",
                            "pattern": "^transferJobs/.*$",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+jobName}",
                    "response": {
                        "$ref": "TransferJob"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/transferJobs",
                    "httpMethod": "GET",
                    "id": "storagetransfer.transferJobs.list",
                    "parameterOrder": [],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/transferJobs",
                    "response": {
                        "$ref": "ListTransferJobsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "patch": {
                    "flatPath": "v1/transferJobs/{transferJobsId}",
                    "httpMethod": "PATCH",
                    "id": "storagetransfer.transferJobs.patch",
                    "parameterOrder": [
                        "jobName"
                    ],
                    "parameters": {
                        "jobName": {
                            "location": "path",
                            "pattern": "^transferJobs/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+jobName}",
                    "request": {
                        "$ref": "UpdateTransferJobRequest"
                    },
                    "response": {
                        "$ref": "TransferJob"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "transferOperations": {
            "methods": {
                "cancel": {
                    "flatPath": "v1/transferOperations/{transferOperationsId}:cancel",
                    "httpMethod": "POST",
                    "id": "storagetransfer.transferOperations.cancel",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^transferOperations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:cancel",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "flatPath": "v1/transferOperations/{transferOperationsId}",
                    "httpMethod": "GET",
                    "id": "storagetransfer.transferOperations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^transferOperations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "flatPath": "v1/transferOperations",
                    "httpMethod": "GET",
                    "id": "storagetransfer.transferOperations.list",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "path",
                            "pattern": "^transferOperations$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "pause": {
                    "flatPath": "v1/transferOperations/{transferOperationsId}:pause",
                    "httpMethod": "POST",
                    "id": "storagetransfer.transferOperations.pause",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^transferOperations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:pause",
                    "request": {
                        "$ref": "PauseTransferOperationRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "resume": {
                    "flatPath": "v1/transferOperations/{transferOperationsId}:resume",
                    "httpMethod": "POST",
                    "id": "storagetransfer.transferOperations.resume",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^transferOperations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:resume",
                    "request": {
                        "$ref": "ResumeTransferOperationRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://storagetransfer.googleapis.com/",
    "schemas": {
        "AwsAccessKey": {
            "id": "AwsAccessKey",
            "properties": {
                "accessKeyId": {
                    "type": "string"
                },
                "secretAccessKey": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AwsS3Data": {
            "id": "AwsS3Data",
            "properties": {
                "awsAccessKey": {
                    "$ref": "AwsAccessKey"
                },
                "bucketName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ErrorLogEntry": {
            "id": "ErrorLogEntry",
            "properties": {
                "errorDetails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ErrorSummary": {
            "id": "ErrorSummary",
            "properties": {
                "errorCode": {
                    "enum": [
                        "OK",
                        "CANCELLED",
                        "UNKNOWN",
                        "INVALID_ARGUMENT",
                        "DEADLINE_EXCEEDED",
                        "NOT_FOUND",
                        "ALREADY_EXISTS",
                        "PERMISSION_DENIED",
                        "UNAUTHENTICATED",
                        "RESOURCE_EXHAUSTED",
                        "FAILED_PRECONDITION",
                        "ABORTED",
                        "OUT_OF_RANGE",
                        "UNIMPLEMENTED",
                        "INTERNAL",
                        "UNAVAILABLE",
                        "DATA_LOSS"
                    ],
                    "type": "string"
                },
                "errorCount": {
                    "format": "int64",
                    "type": "string"
                },
                "errorLogEntries": {
                    "items": {
                        "$ref": "ErrorLogEntry"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GcsData": {
            "id": "GcsData",
            "properties": {
                "bucketName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleServiceAccount": {
            "id": "GoogleServiceAccount",
            "properties": {
                "accountEmail": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HttpData": {
            "id": "HttpData",
            "properties": {
                "listUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListTransferJobsResponse": {
            "id": "ListTransferJobsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "transferJobs": {
                    "items": {
                        "$ref": "TransferJob"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ObjectConditions": {
            "id": "ObjectConditions",
            "properties": {
                "excludePrefixes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "includePrefixes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "lastModifiedBefore": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastModifiedSince": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "maxTimeElapsedSinceLastModification": {
                    "format": "google-duration",
                    "type": "string"
                },
                "minTimeElapsedSinceLastModification": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PauseTransferOperationRequest": {
            "id": "PauseTransferOperationRequest",
            "properties": {},
            "type": "object"
        },
        "ResumeTransferOperationRequest": {
            "id": "ResumeTransferOperationRequest",
            "properties": {},
            "type": "object"
        },
        "Schedule": {
            "id": "Schedule",
            "properties": {
                "scheduleEndDate": {
                    "$ref": "Date"
                },
                "scheduleStartDate": {
                    "$ref": "Date"
                },
                "startTimeOfDay": {
                    "$ref": "TimeOfDay"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TimeOfDay": {
            "id": "TimeOfDay",
            "properties": {
                "hours": {
                    "format": "int32",
                    "type": "integer"
                },
                "minutes": {
                    "format": "int32",
                    "type": "integer"
                },
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "seconds": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TransferCounters": {
            "id": "TransferCounters",
            "properties": {
                "bytesCopiedToSink": {
                    "format": "int64",
                    "type": "string"
                },
                "bytesDeletedFromSink": {
                    "format": "int64",
                    "type": "string"
                },
                "bytesDeletedFromSource": {
                    "format": "int64",
                    "type": "string"
                },
                "bytesFailedToDeleteFromSink": {
                    "format": "int64",
                    "type": "string"
                },
                "bytesFoundFromSource": {
                    "format": "int64",
                    "type": "string"
                },
                "bytesFoundOnlyFromSink": {
                    "format": "int64",
                    "type": "string"
                },
                "bytesFromSourceFailed": {
                    "format": "int64",
                    "type": "string"
                },
                "bytesFromSourceSkippedBySync": {
                    "format": "int64",
                    "type": "string"
                },
                "objectsCopiedToSink": {
                    "format": "int64",
                    "type": "string"
                },
                "objectsDeletedFromSink": {
                    "format": "int64",
                    "type": "string"
                },
                "objectsDeletedFromSource": {
                    "format": "int64",
                    "type": "string"
                },
                "objectsFailedToDeleteFromSink": {
                    "format": "int64",
                    "type": "string"
                },
                "objectsFoundFromSource": {
                    "format": "int64",
                    "type": "string"
                },
                "objectsFoundOnlyFromSink": {
                    "format": "int64",
                    "type": "string"
                },
                "objectsFromSourceFailed": {
                    "format": "int64",
                    "type": "string"
                },
                "objectsFromSourceSkippedBySync": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TransferJob": {
            "id": "TransferJob",
            "properties": {
                "creationTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "deletionTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastModificationTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "schedule": {
                    "$ref": "Schedule"
                },
                "status": {
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "ENABLED",
                        "DISABLED",
                        "DELETED"
                    ],
                    "type": "string"
                },
                "transferSpec": {
                    "$ref": "TransferSpec"
                }
            },
            "type": "object"
        },
        "TransferOperation": {
            "id": "TransferOperation",
            "properties": {
                "counters": {
                    "$ref": "TransferCounters"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "errorBreakdowns": {
                    "items": {
                        "$ref": "ErrorSummary"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "status": {
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "IN_PROGRESS",
                        "PAUSED",
                        "SUCCESS",
                        "FAILED",
                        "ABORTED",
                        "QUEUED"
                    ],
                    "type": "string"
                },
                "transferJobName": {
                    "type": "string"
                },
                "transferSpec": {
                    "$ref": "TransferSpec"
                }
            },
            "type": "object"
        },
        "TransferOptions": {
            "id": "TransferOptions",
            "properties": {
                "deleteObjectsFromSourceAfterTransfer": {
                    "type": "boolean"
                },
                "deleteObjectsUniqueInSink": {
                    "type": "boolean"
                },
                "overwriteObjectsAlreadyExistingInSink": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "TransferSpec": {
            "id": "TransferSpec",
            "properties": {
                "awsS3DataSource": {
                    "$ref": "AwsS3Data"
                },
                "gcsDataSink": {
                    "$ref": "GcsData"
                },
                "gcsDataSource": {
                    "$ref": "GcsData"
                },
                "httpDataSource": {
                    "$ref": "HttpData"
                },
                "objectConditions": {
                    "$ref": "ObjectConditions"
                },
                "transferOptions": {
                    "$ref": "TransferOptions"
                }
            },
            "type": "object"
        },
        "UpdateTransferJobRequest": {
            "id": "UpdateTransferJobRequest",
            "properties": {
                "projectId": {
                    "type": "string"
                },
                "transferJob": {
                    "$ref": "TransferJob"
                },
                "updateTransferJobFieldMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Storage Transfer API",
    "version": "v1",
    "version_module": true
}