{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/streetviewpublish": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://streetviewpublish.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Street View Publish",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/streetview/publish/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "streetviewpublish:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://streetviewpublish.mtls.googleapis.com/",
    "name": "streetviewpublish",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "photo": {
            "methods": {
                "create": {
                    "flatPath": "v1/photo",
                    "httpMethod": "POST",
                    "id": "streetviewpublish.photo.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/photo",
                    "request": {
                        "$ref": "Photo"
                    },
                    "response": {
                        "$ref": "Photo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/streetviewpublish"
                    ]
                },
                "delete": {
                    "flatPath": "v1/photo/{photoId}",
                    "httpMethod": "DELETE",
                    "id": "streetviewpublish.photo.delete",
                    "parameterOrder": [
                        "photoId"
                    ],
                    "parameters": {
                        "photoId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/photo/{photoId}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/streetviewpublish"
                    ]
                },
                "get": {
                    "flatPath": "v1/photo/{photoId}",
                    "httpMethod": "GET",
                    "id": "streetviewpublish.photo.get",
                    "parameterOrder": [
                        "photoId"
                    ],
                    "parameters": {
                        "languageCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "photoId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "BASIC",
                                "INCLUDE_DOWNLOAD_URL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/photo/{photoId}",
                    "response": {
                        "$ref": "Photo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/streetviewpublish"
                    ]
                },
                "startUpload": {
                    "flatPath": "v1/photo:startUpload",
                    "httpMethod": "POST",
                    "id": "streetviewpublish.photo.startUpload",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/photo:startUpload",
                    "request": {
                        "$ref": "Empty"
                    },
                    "response": {
                        "$ref": "UploadRef"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/streetviewpublish"
                    ]
                },
                "update": {
                    "flatPath": "v1/photo/{id}",
                    "httpMethod": "PUT",
                    "id": "streetviewpublish.photo.update",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/photo/{id}",
                    "request": {
                        "$ref": "Photo"
                    },
                    "response": {
                        "$ref": "Photo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/streetviewpublish"
                    ]
                }
            }
        },
        "photos": {
            "methods": {
                "batchDelete": {
                    "flatPath": "v1/photos:batchDelete",
                    "httpMethod": "POST",
                    "id": "streetviewpublish.photos.batchDelete",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/photos:batchDelete",
                    "request": {
                        "$ref": "BatchDeletePhotosRequest"
                    },
                    "response": {
                        "$ref": "BatchDeletePhotosResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/streetviewpublish"
                    ]
                },
                "batchGet": {
                    "flatPath": "v1/photos:batchGet",
                    "httpMethod": "GET",
                    "id": "streetviewpublish.photos.batchGet",
                    "parameterOrder": [],
                    "parameters": {
                        "languageCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "photoIds": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "BASIC",
                                "INCLUDE_DOWNLOAD_URL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/photos:batchGet",
                    "response": {
                        "$ref": "BatchGetPhotosResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/streetviewpublish"
                    ]
                },
                "batchUpdate": {
                    "flatPath": "v1/photos:batchUpdate",
                    "httpMethod": "POST",
                    "id": "streetviewpublish.photos.batchUpdate",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/photos:batchUpdate",
                    "request": {
                        "$ref": "BatchUpdatePhotosRequest"
                    },
                    "response": {
                        "$ref": "BatchUpdatePhotosResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/streetviewpublish"
                    ]
                },
                "list": {
                    "flatPath": "v1/photos",
                    "httpMethod": "GET",
                    "id": "streetviewpublish.photos.list",
                    "parameterOrder": [],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "languageCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "BASIC",
                                "INCLUDE_DOWNLOAD_URL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/photos",
                    "response": {
                        "$ref": "ListPhotosResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/streetviewpublish"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://streetviewpublish.googleapis.com/",
    "schemas": {
        "BatchDeletePhotosRequest": {
            "id": "BatchDeletePhotosRequest",
            "properties": {
                "photoIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchDeletePhotosResponse": {
            "id": "BatchDeletePhotosResponse",
            "properties": {
                "status": {
                    "items": {
                        "$ref": "Status"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchGetPhotosResponse": {
            "id": "BatchGetPhotosResponse",
            "properties": {
                "results": {
                    "items": {
                        "$ref": "PhotoResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchUpdatePhotosRequest": {
            "id": "BatchUpdatePhotosRequest",
            "properties": {
                "updatePhotoRequests": {
                    "items": {
                        "$ref": "UpdatePhotoRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchUpdatePhotosResponse": {
            "id": "BatchUpdatePhotosResponse",
            "properties": {
                "results": {
                    "items": {
                        "$ref": "PhotoResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Connection": {
            "id": "Connection",
            "properties": {
                "target": {
                    "$ref": "PhotoId"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "LatLng": {
            "id": "LatLng",
            "properties": {
                "latitude": {
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Level": {
            "id": "Level",
            "properties": {
                "name": {
                    "type": "string"
                },
                "number": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ListPhotosResponse": {
            "id": "ListPhotosResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "photos": {
                    "items": {
                        "$ref": "Photo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Photo": {
            "id": "Photo",
            "properties": {
                "captureTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "connections": {
                    "items": {
                        "$ref": "Connection"
                    },
                    "type": "array"
                },
                "downloadUrl": {
                    "type": "string"
                },
                "mapsPublishStatus": {
                    "enum": [
                        "UNSPECIFIED_MAPS_PUBLISH_STATUS",
                        "PUBLISHED",
                        "REJECTED_UNKNOWN"
                    ],
                    "type": "string"
                },
                "photoId": {
                    "$ref": "PhotoId"
                },
                "places": {
                    "items": {
                        "$ref": "Place"
                    },
                    "type": "array"
                },
                "pose": {
                    "$ref": "Pose"
                },
                "shareLink": {
                    "type": "string"
                },
                "thumbnailUrl": {
                    "type": "string"
                },
                "transferStatus": {
                    "enum": [
                        "TRANSFER_STATUS_UNKNOWN",
                        "NEVER_TRANSFERRED",
                        "PENDING",
                        "COMPLETED",
                        "REJECTED",
                        "EXPIRED",
                        "CANCELLED",
                        "RECEIVED_VIA_TRANSFER"
                    ],
                    "type": "string"
                },
                "uploadReference": {
                    "$ref": "UploadRef"
                },
                "viewCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PhotoId": {
            "id": "PhotoId",
            "properties": {
                "id": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PhotoResponse": {
            "id": "PhotoResponse",
            "properties": {
                "photo": {
                    "$ref": "Photo"
                },
                "status": {
                    "$ref": "Status"
                }
            },
            "type": "object"
        },
        "Place": {
            "id": "Place",
            "properties": {
                "languageCode": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "placeId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Pose": {
            "id": "Pose",
            "properties": {
                "accuracyMeters": {
                    "format": "float",
                    "type": "number"
                },
                "altitude": {
                    "format": "double",
                    "type": "number"
                },
                "heading": {
                    "format": "double",
                    "type": "number"
                },
                "latLngPair": {
                    "$ref": "LatLng"
                },
                "level": {
                    "$ref": "Level"
                },
                "pitch": {
                    "format": "double",
                    "type": "number"
                },
                "roll": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdatePhotoRequest": {
            "id": "UpdatePhotoRequest",
            "properties": {
                "photo": {
                    "$ref": "Photo"
                },
                "updateMask": {
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UploadRef": {
            "id": "UploadRef",
            "properties": {
                "uploadUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Street View Publish API",
    "version": "v1",
    "version_module": true
}