{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/tagmanager.delete.containers": {},
                "https://www.googleapis.com/auth/tagmanager.edit.containers": {},
                "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {},
                "https://www.googleapis.com/auth/tagmanager.manage.accounts": {},
                "https://www.googleapis.com/auth/tagmanager.manage.users": {},
                "https://www.googleapis.com/auth/tagmanager.publish": {},
                "https://www.googleapis.com/auth/tagmanager.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://www.googleapis.com/",
    "batchPath": "batch/tagmanager/v2",
    "canonicalName": "Tag Manager",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/tag-manager",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "tagmanager:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://www.mtls.googleapis.com/",
    "name": "tagmanager",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "methods": {
                "get": {
                    "flatPath": "tagmanager/v2/accounts/{accountsId}",
                    "httpMethod": "GET",
                    "id": "tagmanager.accounts.get",
                    "parameterOrder": [
                        "path"
                    ],
                    "parameters": {
                        "path": {
                            "location": "path",
                            "pattern": "^accounts/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tagmanager/v2/{+path}",
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.manage.accounts",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                    ]
                },
                "list": {
                    "flatPath": "tagmanager/v2/accounts",
                    "httpMethod": "GET",
                    "id": "tagmanager.accounts.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "tagmanager/v2/accounts",
                    "response": {
                        "$ref": "ListAccountsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.manage.accounts",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                    ]
                },
                "update": {
                    "flatPath": "tagmanager/v2/accounts/{accountsId}",
                    "httpMethod": "PUT",
                    "id": "tagmanager.accounts.update",
                    "parameterOrder": [
                        "path"
                    ],
                    "parameters": {
                        "fingerprint": {
                            "location": "query",
                            "type": "string"
                        },
                        "path": {
                            "location": "path",
                            "pattern": "^accounts/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tagmanager/v2/{+path}",
                    "request": {
                        "$ref": "Account"
                    },
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.manage.accounts"
                    ]
                }
            },
            "resources": {
                "containers": {
                    "methods": {
                        "create": {
                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
                            "httpMethod": "POST",
                            "id": "tagmanager.accounts.containers.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "tagmanager/v2/{+parent}/containers",
                            "request": {
                                "$ref": "Container"
                            },
                            "response": {
                                "$ref": "Container"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                            ]
                        },
                        "delete": {
                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
                            "httpMethod": "DELETE",
                            "id": "tagmanager.accounts.containers.delete",
                            "parameterOrder": [
                                "path"
                            ],
                            "parameters": {
                                "path": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "tagmanager/v2/{+path}",
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.delete.containers"
                            ]
                        },
                        "get": {
                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
                            "httpMethod": "GET",
                            "id": "tagmanager.accounts.containers.get",
                            "parameterOrder": [
                                "path"
                            ],
                            "parameters": {
                                "path": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "tagmanager/v2/{+path}",
                            "response": {
                                "$ref": "Container"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                "https://www.googleapis.com/auth/tagmanager.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
                            "httpMethod": "GET",
                            "id": "tagmanager.accounts.containers.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "tagmanager/v2/{+parent}/containers",
                            "response": {
                                "$ref": "ListContainersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                "https://www.googleapis.com/auth/tagmanager.readonly"
                            ]
                        },
                        "update": {
                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
                            "httpMethod": "PUT",
                            "id": "tagmanager.accounts.containers.update",
                            "parameterOrder": [
                                "path"
                            ],
                            "parameters": {
                                "fingerprint": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "path": {
                                    "location": "path",
                                    "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "tagmanager/v2/{+path}",
                            "request": {
                                "$ref": "Container"
                            },
                            "response": {
                                "$ref": "Container"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                            ]
                        }
                    },
                    "resources": {
                        "environments": {
                            "methods": {
                                "create": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.environments.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+parent}/environments",
                                    "request": {
                                        "$ref": "Environment"
                                    },
                                    "response": {
                                        "$ref": "Environment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                                    "httpMethod": "DELETE",
                                    "id": "tagmanager.accounts.containers.environments.delete",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "get": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.environments.get",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}",
                                    "response": {
                                        "$ref": "Environment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "list": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.environments.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+parent}/environments",
                                    "response": {
                                        "$ref": "ListEnvironmentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "reauthorize": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}:reauthorize",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.environments.reauthorize",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}:reauthorize",
                                    "request": {
                                        "$ref": "Environment"
                                    },
                                    "response": {
                                        "$ref": "Environment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.publish"
                                    ]
                                },
                                "update": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                                    "httpMethod": "PUT",
                                    "id": "tagmanager.accounts.containers.environments.update",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "fingerprint": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}",
                                    "request": {
                                        "$ref": "Environment"
                                    },
                                    "response": {
                                        "$ref": "Environment"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                }
                            }
                        },
                        "version_headers": {
                            "methods": {
                                "latest": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/version_headers:latest",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.version_headers.latest",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+parent}/version_headers:latest",
                                    "response": {
                                        "$ref": "ContainerVersionHeader"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "list": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/version_headers",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.version_headers.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "includeDeleted": {
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+parent}/version_headers",
                                    "response": {
                                        "$ref": "ListContainerVersionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                }
                            }
                        },
                        "versions": {
                            "methods": {
                                "delete": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                                    "httpMethod": "DELETE",
                                    "id": "tagmanager.accounts.containers.versions.delete",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                                    ]
                                },
                                "get": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.versions.get",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "containerVersionId": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}",
                                    "response": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "live": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions:live",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.versions.live",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+parent}/versions:live",
                                    "response": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "publish": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:publish",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.versions.publish",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "fingerprint": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}:publish",
                                    "response": {
                                        "$ref": "PublishContainerVersionResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.publish"
                                    ]
                                },
                                "set_latest": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:set_latest",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.versions.set_latest",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}:set_latest",
                                    "response": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "undelete": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:undelete",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.versions.undelete",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}:undelete",
                                    "response": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                                    ]
                                },
                                "update": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                                    "httpMethod": "PUT",
                                    "id": "tagmanager.accounts.containers.versions.update",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "fingerprint": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}",
                                    "request": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "response": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                                    ]
                                }
                            }
                        },
                        "workspaces": {
                            "methods": {
                                "create": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.workspaces.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+parent}/workspaces",
                                    "request": {
                                        "$ref": "Workspace"
                                    },
                                    "response": {
                                        "$ref": "Workspace"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "create_version": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:create_version",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.workspaces.create_version",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}:create_version",
                                    "request": {
                                        "$ref": "CreateContainerVersionRequestVersionOptions"
                                    },
                                    "response": {
                                        "$ref": "CreateContainerVersionResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                                    "httpMethod": "DELETE",
                                    "id": "tagmanager.accounts.containers.workspaces.delete",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.delete.containers"
                                    ]
                                },
                                "get": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.workspaces.get",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}",
                                    "response": {
                                        "$ref": "Workspace"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "getStatus": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/status",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.workspaces.getStatus",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}/status",
                                    "response": {
                                        "$ref": "GetWorkspaceStatusResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "list": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.workspaces.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+parent}/workspaces",
                                    "response": {
                                        "$ref": "ListWorkspacesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "quick_preview": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:quick_preview",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.workspaces.quick_preview",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}:quick_preview",
                                    "response": {
                                        "$ref": "QuickPreviewResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                                    ]
                                },
                                "resolve_conflict": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:resolve_conflict",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.workspaces.resolve_conflict",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "fingerprint": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}:resolve_conflict",
                                    "request": {
                                        "$ref": "Entity"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "sync": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:sync",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.workspaces.sync",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}:sync",
                                    "response": {
                                        "$ref": "SyncWorkspaceResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "update": {
                                    "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                                    "httpMethod": "PUT",
                                    "id": "tagmanager.accounts.containers.workspaces.update",
                                    "parameterOrder": [
                                        "path"
                                    ],
                                    "parameters": {
                                        "fingerprint": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "path": {
                                            "location": "path",
                                            "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "tagmanager/v2/{+path}",
                                    "request": {
                                        "$ref": "Workspace"
                                    },
                                    "response": {
                                        "$ref": "Workspace"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                }
                            },
                            "resources": {
                                "built_in_variables": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                                            "httpMethod": "POST",
                                            "id": "tagmanager.accounts.containers.workspaces.built_in_variables.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "enum": [
                                                        "builtInVariableTypeUnspecified",
                                                        "pageUrl",
                                                        "pageHostname",
                                                        "pagePath",
                                                        "referrer",
                                                        "event",
                                                        "clickElement",
                                                        "clickClasses",
                                                        "clickId",
                                                        "clickTarget",
                                                        "clickUrl",
                                                        "clickText",
                                                        "firstPartyServingUrl",
                                                        "formElement",
                                                        "formClasses",
                                                        "formId",
                                                        "formTarget",
                                                        "formUrl",
                                                        "formText",
                                                        "errorMessage",
                                                        "errorUrl",
                                                        "errorLine",
                                                        "newHistoryUrl",
                                                        "oldHistoryUrl",
                                                        "newHistoryFragment",
                                                        "oldHistoryFragment",
                                                        "newHistoryState",
                                                        "oldHistoryState",
                                                        "historySource",
                                                        "containerVersion",
                                                        "debugMode",
                                                        "randomNumber",
                                                        "containerId",
                                                        "appId",
                                                        "appName",
                                                        "appVersionCode",
                                                        "appVersionName",
                                                        "language",
                                                        "osVersion",
                                                        "platform",
                                                        "sdkVersion",
                                                        "deviceName",
                                                        "resolution",
                                                        "advertiserId",
                                                        "advertisingTrackingEnabled",
                                                        "htmlId",
                                                        "environmentName",
                                                        "ampBrowserLanguage",
                                                        "ampCanonicalPath",
                                                        "ampCanonicalUrl",
                                                        "ampCanonicalHost",
                                                        "ampReferrer",
                                                        "ampTitle",
                                                        "ampClientId",
                                                        "ampClientTimezone",
                                                        "ampClientTimestamp",
                                                        "ampClientScreenWidth",
                                                        "ampClientScreenHeight",
                                                        "ampClientScrollX",
                                                        "ampClientScrollY",
                                                        "ampClientMaxScrollX",
                                                        "ampClientMaxScrollY",
                                                        "ampTotalEngagedTime",
                                                        "ampPageViewId",
                                                        "ampPageLoadTime",
                                                        "ampPageDownloadTime",
                                                        "ampGtmEvent",
                                                        "eventName",
                                                        "firebaseEventParameterCampaign",
                                                        "firebaseEventParameterCampaignAclid",
                                                        "firebaseEventParameterCampaignAnid",
                                                        "firebaseEventParameterCampaignClickTimestamp",
                                                        "firebaseEventParameterCampaignContent",
                                                        "firebaseEventParameterCampaignCp1",
                                                        "firebaseEventParameterCampaignGclid",
                                                        "firebaseEventParameterCampaignSource",
                                                        "firebaseEventParameterCampaignTerm",
                                                        "firebaseEventParameterCurrency",
                                                        "firebaseEventParameterDynamicLinkAcceptTime",
                                                        "firebaseEventParameterDynamicLinkLinkid",
                                                        "firebaseEventParameterNotificationMessageDeviceTime",
                                                        "firebaseEventParameterNotificationMessageId",
                                                        "firebaseEventParameterNotificationMessageName",
                                                        "firebaseEventParameterNotificationMessageTime",
                                                        "firebaseEventParameterNotificationTopic",
                                                        "firebaseEventParameterPreviousAppVersion",
                                                        "firebaseEventParameterPreviousOsVersion",
                                                        "firebaseEventParameterPrice",
                                                        "firebaseEventParameterProductId",
                                                        "firebaseEventParameterQuantity",
                                                        "firebaseEventParameterValue",
                                                        "videoProvider",
                                                        "videoUrl",
                                                        "videoTitle",
                                                        "videoDuration",
                                                        "videoPercent",
                                                        "videoVisible",
                                                        "videoStatus",
                                                        "videoCurrentTime",
                                                        "scrollDepthThreshold",
                                                        "scrollDepthUnits",
                                                        "scrollDepthDirection",
                                                        "elementVisibilityRatio",
                                                        "elementVisibilityTime",
                                                        "elementVisibilityFirstTime",
                                                        "elementVisibilityRecentTime",
                                                        "requestPath",
                                                        "requestMethod",
                                                        "clientName",
                                                        "queryString"
                                                    ],
                                                    "location": "query",
                                                    "repeated": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+parent}/built_in_variables",
                                            "response": {
                                                "$ref": "CreateBuiltInVariableResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                                            "httpMethod": "DELETE",
                                            "id": "tagmanager.accounts.containers.workspaces.built_in_variables.delete",
                                            "parameterOrder": [
                                                "path"
                                            ],
                                            "parameters": {
                                                "path": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/built_in_variables$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "enum": [
                                                        "builtInVariableTypeUnspecified",
                                                        "pageUrl",
                                                        "pageHostname",
                                                        "pagePath",
                                                        "referrer",
                                                        "event",
                                                        "clickElement",
                                                        "clickClasses",
                                                        "clickId",
                                                        "clickTarget",
                                                        "clickUrl",
                                                        "clickText",
                                                        "firstPartyServingUrl",
                                                        "formElement",
                                                        "formClasses",
                                                        "formId",
                                                        "formTarget",
                                                        "formUrl",
                                                        "formText",
                                                        "errorMessage",
                                                        "errorUrl",
                                                        "errorLine",
                                                        "newHistoryUrl",
                                                        "oldHistoryUrl",
                                                        "newHistoryFragment",
                                                        "oldHistoryFragment",
                                                        "newHistoryState",
                                                        "oldHistoryState",
                                                        "historySource",
                                                        "containerVersion",
                                                        "debugMode",
                                                        "randomNumber",
                                                        "containerId",
                                                        "appId",
                                                        "appName",
                                                        "appVersionCode",
                                                        "appVersionName",
                                                        "language",
                                                        "osVersion",
                                                        "platform",
                                                        "sdkVersion",
                                                        "deviceName",
                                                        "resolution",
                                                        "advertiserId",
                                                        "advertisingTrackingEnabled",
                                                        "htmlId",
                                                        "environmentName",
                                                        "ampBrowserLanguage",
                                                        "ampCanonicalPath",
                                                        "ampCanonicalUrl",
                                                        "ampCanonicalHost",
                                                        "ampReferrer",
                                                        "ampTitle",
                                                        "ampClientId",
                                                        "ampClientTimezone",
                                                        "ampClientTimestamp",
                                                        "ampClientScreenWidth",
                                                        "ampClientScreenHeight",
                                                        "ampClientScrollX",
                                                        "ampClientScrollY",
                                                        "ampClientMaxScrollX",
                                                        "ampClientMaxScrollY",
                                                        "ampTotalEngagedTime",
                                                        "ampPageViewId",
                                                        "ampPageLoadTime",
                                                        "ampPageDownloadTime",
                                                        "ampGtmEvent",
                                                        "eventName",
                                                        "firebaseEventParameterCampaign",
                                                        "firebaseEventParameterCampaignAclid",
                                                        "firebaseEventParameterCampaignAnid",
                                                        "firebaseEventParameterCampaignClickTimestamp",
                                                        "firebaseEventParameterCampaignContent",
                                                        "firebaseEventParameterCampaignCp1",
                                                        "firebaseEventParameterCampaignGclid",
                                                        "firebaseEventParameterCampaignSource",
                                                        "firebaseEventParameterCampaignTerm",
                                                        "firebaseEventParameterCurrency",
                                                        "firebaseEventParameterDynamicLinkAcceptTime",
                                                        "firebaseEventParameterDynamicLinkLinkid",
                                                        "firebaseEventParameterNotificationMessageDeviceTime",
                                                        "firebaseEventParameterNotificationMessageId",
                                                        "firebaseEventParameterNotificationMessageName",
                                                        "firebaseEventParameterNotificationMessageTime",
                                                        "firebaseEventParameterNotificationTopic",
                                                        "firebaseEventParameterPreviousAppVersion",
                                                        "firebaseEventParameterPreviousOsVersion",
                                                        "firebaseEventParameterPrice",
                                                        "firebaseEventParameterProductId",
                                                        "firebaseEventParameterQuantity",
                                                        "firebaseEventParameterValue",
                                                        "videoProvider",
                                                        "videoUrl",
                                                        "videoTitle",
                                                        "videoDuration",
                                                        "videoPercent",
                                                        "videoVisible",
                                                        "videoStatus",
                                                        "videoCurrentTime",
                                                        "scrollDepthThreshold",
                                                        "scrollDepthUnits",
                                                        "scrollDepthDirection",
                                                        "elementVisibilityRatio",
                                                        "elementVisibilityTime",
                                                        "elementVisibilityFirstTime",
                                                        "elementVisibilityRecentTime",
                                                        "requestPath",
                                                        "requestMethod",
                                                        "clientName",
                                                        "queryString"
                                                    ],
                                                    "location": "query",
                                                    "repeated": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+path}",
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                                            "httpMethod": "GET",
                                            "id": "tagmanager.accounts.containers.workspaces.built_in_variables.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+parent}/built_in_variables",
                                            "response": {
                                                "$ref": "ListEnabledBuiltInVariablesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                                "https://www.googleapis.com/auth/tagmanager.readonly"
                                            ]
                                        },
                                        "revert": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables:revert",
                                            "httpMethod": "POST",
                                            "id": "tagmanager.accounts.containers.workspaces.built_in_variables.revert",
                                            "parameterOrder": [
                                                "path"
                                            ],
                                            "parameters": {
                                                "path": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "enum": [
                                                        "builtInVariableTypeUnspecified",
                                                        "pageUrl",
                                                        "pageHostname",
                                                        "pagePath",
                                                        "referrer",
                                                        "event",
                                                        "clickElement",
                                                        "clickClasses",
                                                        "clickId",
                                                        "clickTarget",
                                                        "clickUrl",
                                                        "clickText",
                                                        "firstPartyServingUrl",
                                                        "formElement",
                                                        "formClasses",
                                                        "formId",
                                                        "formTarget",
                                                        "formUrl",
                                                        "formText",
                                                        "errorMessage",
                                                        "errorUrl",
                                                        "errorLine",
                                                        "newHistoryUrl",
                                                        "oldHistoryUrl",
                                                        "newHistoryFragment",
                                                        "oldHistoryFragment",
                                                        "newHistoryState",
                                                        "oldHistoryState",
                                                        "historySource",
                                                        "containerVersion",
                                                        "debugMode",
                                                        "randomNumber",
                                                        "containerId",
                                                        "appId",
                                                        "appName",
                                                        "appVersionCode",
                                                        "appVersionName",
                                                        "language",
                                                        "osVersion",
                                                        "platform",
                                                        "sdkVersion",
                                                        "deviceName",
                                                        "resolution",
                                                        "advertiserId",
                                                        "advertisingTrackingEnabled",
                                                        "htmlId",
                                                        "environmentName",
                                                        "ampBrowserLanguage",
                                                        "ampCanonicalPath",
                                                        "ampCanonicalUrl",
                                                        "ampCanonicalHost",
                                                        "ampReferrer",
                                                        "ampTitle",
                                                        "ampClientId",
                                                        "ampClientTimezone",
                                                        "ampClientTimestamp",
                                                        "ampClientScreenWidth",
                                                        "ampClientScreenHeight",
                                                        "ampClientScrollX",
                                                        "ampClientScrollY",
                                                        "ampClientMaxScrollX",
                                                        "ampClientMaxScrollY",
                                                        "ampTotalEngagedTime",
                                                        "ampPageViewId",
                                                        "ampPageLoadTime",
                                                        "ampPageDownloadTime",
                                                        "ampGtmEvent",
                                                        "eventName",
                                                        "firebaseEventParameterCampaign",
                                                        "firebaseEventParameterCampaignAclid",
                                                        "firebaseEventParameterCampaignAnid",
                                                        "firebaseEventParameterCampaignClickTimestamp",
                                                        "firebaseEventParameterCampaignContent",
                                                        "firebaseEventParameterCampaignCp1",
                                                        "firebaseEventParameterCampaignGclid",
                                                        "firebaseEventParameterCampaignSource",
                                                        "firebaseEventParameterCampaignTerm",
                                                        "firebaseEventParameterCurrency",
                                                        "firebaseEventParameterDynamicLinkAcceptTime",
                                                        "firebaseEventParameterDynamicLinkLinkid",
                                                        "firebaseEventParameterNotificationMessageDeviceTime",
                                                        "firebaseEventParameterNotificationMessageId",
                                                        "firebaseEventParameterNotificationMessageName",
                                                        "firebaseEventParameterNotificationMessageTime",
                                                        "firebaseEventParameterNotificationTopic",
                                                        "firebaseEventParameterPreviousAppVersion",
                                                        "firebaseEventParameterPreviousOsVersion",
                                                        "firebaseEventParameterPrice",
                                                        "firebaseEventParameterProductId",
                                                        "firebaseEventParameterQuantity",
                                                        "firebaseEventParameterValue",
                                                        "videoProvider",
                                                        "videoUrl",
                                                        "videoTitle",
                                                        "videoDuration",
                                                        "videoPercent",
                                                        "videoVisible",
                                                        "videoStatus",
                                                        "videoCurrentTime",
                                                        "scrollDepthThreshold",
                                                        "scrollDepthUnits",
                                                        "scrollDepthDirection",
                                                        "elementVisibilityRatio",
                                                        "elementVisibilityTime",
                                                        "elementVisibilityFirstTime",
                                                        "elementVisibilityRecentTime",
                                                        "requestPath",
                                                        "requestMethod",
                                                        "clientName",
                                                        "queryString"
                                                    ],
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+path}/built_in_variables:revert",
                                            "response": {
                                                "$ref": "RevertBuiltInVariableResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                            ]
                                        }
                                    }
                                },
                                "folders": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                                            "httpMethod": "POST",
                                            "id": "tagmanager.accounts.containers.workspaces.folders.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+parent}/folders",
                                            "request": {
                                                "$ref": "Folder"
                                            },
                                            "response": {
                                                "$ref": "Folder"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                                            "httpMethod": "DELETE",
                                            "id": "tagmanager.accounts.containers.workspaces.folders.delete",
                                            "parameterOrder": [
                                                "path"
                                            ],
                                            "parameters": {
                                                "path": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+path}",
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                            ]
                                        },
                                        "entities": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:entities",
                                            "httpMethod": "POST",
                                            "id": "tagmanager.accounts.containers.workspaces.folders.entities",
                                            "parameterOrder": [
                                                "path"
                                            ],
                                            "parameters": {
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+path}:entities",
                                            "response": {
                                                "$ref": "FolderEntities"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                                "https://www.googleapis.com/auth/tagmanager.readonly"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                                            "httpMethod": "GET",
                                            "id": "tagmanager.accounts.containers.workspaces.folders.get",
                                            "parameterOrder": [
                                                "path"
                                            ],
                                            "parameters": {
                                                "path": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+path}",
                                            "response": {
                                                "$ref": "Folder"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                                "https://www.googleapis.com/auth/tagmanager.readonly"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                                            "httpMethod": "GET",
                                            "id": "tagmanager.accounts.containers.workspaces.folders.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+parent}/folders",
                                            "response": {
                                                "$ref": "ListFoldersResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                                "https://www.googleapis.com/auth/tagmanager.readonly"
                                            ]
                                        },
                                        "move_entities_to_folder": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:move_entities_to_folder",
                                            "httpMethod": "POST",
                                            "id": "tagmanager.accounts.containers.workspaces.folders.move_entities_to_folder",
                                            "parameterOrder": [
                                                "path"
                                            ],
                                            "parameters": {
                                                "path": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "tagId": {
                                                    "location": "query",
                                                    "repeated": true,
                                                    "type": "string"
                                                },
                                                "triggerId": {
                                                    "location": "query",
                                                    "repeated": true,
                                                    "type": "string"
                                                },
                                                "variableId": {
                                                    "location": "query",
                                                    "repeated": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+path}:move_entities_to_folder",
                                            "request": {
                                                "$ref": "Folder"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                            ]
                                        },
                                        "revert": {
                                            "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:revert",
                                            "httpMethod": "POST",
                                            "id": "tagmanager.accounts.containers.workspaces.folders.revert",
                                            "parameterOrder": [
                                                "path"
                                            ],
                                            "parameters": {
                                                "fingerprint": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "location": "path",
                                                    "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "tagmanager/v2/{+path}:revert",
                                            "response": {
                                                "$ref": "RevertFolderResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                            ]
                                        },
[...]
