{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/tasks": {},
                "https://www.googleapis.com/auth/tasks.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://www.googleapis.com/",
    "batchPath": "batch/tasks/v1",
    "canonicalName": "Tasks",
    "discoveryVersion": "v1",
    "documentationLink": "",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "tasks:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://www.mtls.googleapis.com/",
    "name": "tasks",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "tasklists": {
            "methods": {
                "delete": {
                    "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
                    "httpMethod": "DELETE",
                    "id": "tasks.tasklists.delete",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/users/@me/lists/{tasklist}",
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "get": {
                    "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
                    "httpMethod": "GET",
                    "id": "tasks.tasklists.get",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/users/@me/lists/{tasklist}",
                    "response": {
                        "$ref": "TaskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks",
                        "https://www.googleapis.com/auth/tasks.readonly"
                    ]
                },
                "insert": {
                    "flatPath": "tasks/v1/users/@me/lists",
                    "httpMethod": "POST",
                    "id": "tasks.tasklists.insert",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "tasks/v1/users/@me/lists",
                    "request": {
                        "$ref": "TaskList"
                    },
                    "response": {
                        "$ref": "TaskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "list": {
                    "flatPath": "tasks/v1/users/@me/lists",
                    "httpMethod": "GET",
                    "id": "tasks.tasklists.list",
                    "parameterOrder": [],
                    "parameters": {
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/users/@me/lists",
                    "response": {
                        "$ref": "TaskLists"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks",
                        "https://www.googleapis.com/auth/tasks.readonly"
                    ]
                },
                "patch": {
                    "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
                    "httpMethod": "PATCH",
                    "id": "tasks.tasklists.patch",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/users/@me/lists/{tasklist}",
                    "request": {
                        "$ref": "TaskList"
                    },
                    "response": {
                        "$ref": "TaskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "update": {
                    "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
                    "httpMethod": "PUT",
                    "id": "tasks.tasklists.update",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/users/@me/lists/{tasklist}",
                    "request": {
                        "$ref": "TaskList"
                    },
                    "response": {
                        "$ref": "TaskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                }
            }
        },
        "tasks": {
            "methods": {
                "clear": {
                    "flatPath": "tasks/v1/lists/{tasklist}/clear",
                    "httpMethod": "POST",
                    "id": "tasks.tasks.clear",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/lists/{tasklist}/clear",
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "delete": {
                    "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
                    "httpMethod": "DELETE",
                    "id": "tasks.tasks.delete",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "get": {
                    "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
                    "httpMethod": "GET",
                    "id": "tasks.tasks.get",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks",
                        "https://www.googleapis.com/auth/tasks.readonly"
                    ]
                },
                "insert": {
                    "flatPath": "tasks/v1/lists/{tasklist}/tasks",
                    "httpMethod": "POST",
                    "id": "tasks.tasks.insert",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "query",
                            "type": "string"
                        },
                        "previous": {
                            "location": "query",
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/lists/{tasklist}/tasks",
                    "request": {
                        "$ref": "Task"
                    },
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "list": {
                    "flatPath": "tasks/v1/lists/{tasklist}/tasks",
                    "httpMethod": "GET",
                    "id": "tasks.tasks.list",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "completedMax": {
                            "location": "query",
                            "type": "string"
                        },
                        "completedMin": {
                            "location": "query",
                            "type": "string"
                        },
                        "dueMax": {
                            "location": "query",
                            "type": "string"
                        },
                        "dueMin": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "showCompleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHidden": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "updatedMin": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/lists/{tasklist}/tasks",
                    "response": {
                        "$ref": "Tasks"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks",
                        "https://www.googleapis.com/auth/tasks.readonly"
                    ]
                },
                "move": {
                    "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
                    "httpMethod": "POST",
                    "id": "tasks.tasks.move",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "query",
                            "type": "string"
                        },
                        "previous": {
                            "location": "query",
                            "type": "string"
                        },
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "patch": {
                    "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
                    "httpMethod": "PATCH",
                    "id": "tasks.tasks.patch",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
                    "request": {
                        "$ref": "Task"
                    },
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "update": {
                    "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
                    "httpMethod": "PUT",
                    "id": "tasks.tasks.update",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
                    "request": {
                        "$ref": "Task"
                    },
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Task": {
            "id": "Task",
            "properties": {
                "completed": {
                    "type": "string"
                },
                "deleted": {
                    "type": "boolean"
                },
                "due": {
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "hidden": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "links": {
                    "items": {
                        "properties": {
                            "link": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "notes": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "position": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updated": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TaskList": {
            "id": "TaskList",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updated": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TaskLists": {
            "id": "TaskLists",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "TaskList"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Tasks": {
            "id": "Tasks",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "Task"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Tasks API",
    "version": "v1"
}