{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/tasks": {},
                "https://www.googleapis.com/auth/tasks.readonly": {}
            }
        }
    },
    "basePath": "/tasks/v1/",
    "baseUrl": "https://www.googleapis.com/tasks/v1/",
    "batchPath": "batch/tasks/v1",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/google-apps/tasks/firstapp",
    "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/hFPeXxltvOJhEJjSu7bzNBnzbwY\"",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/tasks-16.png",
        "x32": "https://www.google.com/images/icons/product/tasks-32.png"
    },
    "id": "tasks:v1",
    "kind": "discovery#restDescription",
    "name": "tasks",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "tasklists": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "tasks.tasklists.delete",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/@me/lists/{tasklist}",
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "tasks.tasklists.get",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/@me/lists/{tasklist}",
                    "response": {
                        "$ref": "TaskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks",
                        "https://www.googleapis.com/auth/tasks.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "tasks.tasklists.insert",
                    "path": "users/@me/lists",
                    "request": {
                        "$ref": "TaskList"
                    },
                    "response": {
                        "$ref": "TaskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "tasks.tasklists.list",
                    "parameters": {
                        "maxResults": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/@me/lists",
                    "response": {
                        "$ref": "TaskLists"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks",
                        "https://www.googleapis.com/auth/tasks.readonly"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "tasks.tasklists.patch",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/@me/lists/{tasklist}",
                    "request": {
                        "$ref": "TaskList"
                    },
                    "response": {
                        "$ref": "TaskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "tasks.tasklists.update",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/@me/lists/{tasklist}",
                    "request": {
                        "$ref": "TaskList"
                    },
                    "response": {
                        "$ref": "TaskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                }
            }
        },
        "tasks": {
            "methods": {
                "clear": {
                    "httpMethod": "POST",
                    "id": "tasks.tasks.clear",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "lists/{tasklist}/clear",
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "tasks.tasks.delete",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "lists/{tasklist}/tasks/{task}",
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "tasks.tasks.get",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "lists/{tasklist}/tasks/{task}",
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks",
                        "https://www.googleapis.com/auth/tasks.readonly"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "tasks.tasks.insert",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "query",
                            "type": "string"
                        },
                        "previous": {
                            "location": "query",
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "lists/{tasklist}/tasks",
                    "request": {
                        "$ref": "Task"
                    },
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "tasks.tasks.list",
                    "parameterOrder": [
                        "tasklist"
                    ],
                    "parameters": {
                        "completedMax": {
                            "location": "query",
                            "type": "string"
                        },
                        "completedMin": {
                            "location": "query",
                            "type": "string"
                        },
                        "dueMax": {
                            "location": "query",
                            "type": "string"
                        },
                        "dueMin": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "showCompleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "showDeleted": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHidden": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "updatedMin": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "lists/{tasklist}/tasks",
                    "response": {
                        "$ref": "Tasks"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks",
                        "https://www.googleapis.com/auth/tasks.readonly"
                    ]
                },
                "move": {
                    "httpMethod": "POST",
                    "id": "tasks.tasks.move",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "query",
                            "type": "string"
                        },
                        "previous": {
                            "location": "query",
                            "type": "string"
                        },
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "lists/{tasklist}/tasks/{task}/move",
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "patch": {
                    "httpMethod": "PATCH",
                    "id": "tasks.tasks.patch",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "lists/{tasklist}/tasks/{task}",
                    "request": {
                        "$ref": "Task"
                    },
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "tasks.tasks.update",
                    "parameterOrder": [
                        "tasklist",
                        "task"
                    ],
                    "parameters": {
                        "task": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tasklist": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "lists/{tasklist}/tasks/{task}",
                    "request": {
                        "$ref": "Task"
                    },
                    "response": {
                        "$ref": "Task"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tasks"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Task": {
            "id": "Task",
            "properties": {
                "completed": {
                    "format": "date-time",
                    "type": "string"
                },
                "deleted": {
                    "type": "boolean"
                },
                "due": {
                    "format": "date-time",
                    "type": "string"
                },
                "etag": {
                    "type": "string"
                },
                "hidden": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "tasks#task",
                    "type": "string"
                },
                "links": {
                    "items": {
                        "properties": {
                            "link": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "notes": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "position": {
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updated": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TaskList": {
            "id": "TaskList",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "default": "tasks#taskList",
                    "type": "string"
                },
                "selfLink": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updated": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TaskLists": {
            "id": "TaskLists",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "TaskList"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "tasks#taskLists",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Tasks": {
            "id": "Tasks",
            "properties": {
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "Task"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "tasks#tasks",
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "tasks/v1/",
    "title": "Tasks API",
    "version": "v1"
}