{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://testing.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/cloud-test-lab/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "testing:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
    "name": "testing",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "applicationDetailService": {
            "methods": {
                "getApkDetails": {
                    "flatPath": "v1/applicationDetailService/getApkDetails",
                    "httpMethod": "POST",
                    "id": "testing.applicationDetailService.getApkDetails",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/applicationDetailService/getApkDetails",
                    "request": {
                        "$ref": "FileReference"
                    },
                    "response": {
                        "$ref": "GetApkDetailsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "projects": {
            "resources": {
                "testMatrices": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
                            "httpMethod": "POST",
                            "id": "testing.projects.testMatrices.cancel",
                            "parameterOrder": [
                                "projectId",
                                "testMatrixId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "testMatrixId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
                            "response": {
                                "$ref": "CancelTestMatrixResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/projects/{projectId}/testMatrices",
                            "httpMethod": "POST",
                            "id": "testing.projects.testMatrices.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "requestId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/testMatrices",
                            "request": {
                                "$ref": "TestMatrix"
                            },
                            "response": {
                                "$ref": "TestMatrix"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
                            "httpMethod": "GET",
                            "id": "testing.projects.testMatrices.get",
                            "parameterOrder": [
                                "projectId",
                                "testMatrixId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "testMatrixId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
                            "response": {
                                "$ref": "TestMatrix"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    }
                }
            }
        },
        "testEnvironmentCatalog": {
            "methods": {
                "get": {
                    "flatPath": "v1/testEnvironmentCatalog/{environmentType}",
                    "httpMethod": "GET",
                    "id": "testing.testEnvironmentCatalog.get",
                    "parameterOrder": [
                        "environmentType"
                    ],
                    "parameters": {
                        "environmentType": {
                            "enum": [
                                "ENVIRONMENT_TYPE_UNSPECIFIED",
                                "ANDROID",
                                "IOS",
                                "NETWORK_CONFIGURATION",
                                "PROVIDED_SOFTWARE",
                                "DEVICE_IP_BLOCKS"
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/testEnvironmentCatalog/{environmentType}",
                    "response": {
                        "$ref": "TestEnvironmentCatalog"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://testing.googleapis.com/",
    "schemas": {
        "Account": {
            "id": "Account",
            "properties": {
                "googleAuto": {
                    "$ref": "GoogleAuto"
                }
            },
            "type": "object"
        },
        "AndroidDevice": {
            "id": "AndroidDevice",
            "properties": {
                "androidModelId": {
                    "type": "string"
                },
                "androidVersionId": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "orientation": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidDeviceCatalog": {
            "id": "AndroidDeviceCatalog",
            "properties": {
                "models": {
                    "items": {
                        "$ref": "AndroidModel"
                    },
                    "type": "array"
                },
                "runtimeConfiguration": {
                    "$ref": "AndroidRuntimeConfiguration"
                },
                "versions": {
                    "items": {
                        "$ref": "AndroidVersion"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidDeviceList": {
            "id": "AndroidDeviceList",
            "properties": {
                "androidDevices": {
                    "items": {
                        "$ref": "AndroidDevice"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidInstrumentationTest": {
            "id": "AndroidInstrumentationTest",
            "properties": {
                "appApk": {
                    "$ref": "FileReference"
                },
                "appBundle": {
                    "$ref": "AppBundle"
                },
                "appPackageId": {
                    "type": "string"
                },
                "orchestratorOption": {
                    "enum": [
                        "ORCHESTRATOR_OPTION_UNSPECIFIED",
                        "USE_ORCHESTRATOR",
                        "DO_NOT_USE_ORCHESTRATOR"
                    ],
                    "type": "string"
                },
                "shardingOption": {
                    "$ref": "ShardingOption"
                },
                "testApk": {
                    "$ref": "FileReference"
                },
                "testPackageId": {
                    "type": "string"
                },
                "testRunnerClass": {
                    "type": "string"
                },
                "testTargets": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidMatrix": {
            "id": "AndroidMatrix",
            "properties": {
                "androidModelIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "androidVersionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "locales": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "orientations": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidModel": {
            "id": "AndroidModel",
            "properties": {
                "brand": {
                    "type": "string"
                },
                "codename": {
                    "type": "string"
                },
                "form": {
                    "enum": [
                        "DEVICE_FORM_UNSPECIFIED",
                        "VIRTUAL",
                        "PHYSICAL",
                        "EMULATOR"
                    ],
                    "type": "string"
                },
                "formFactor": {
                    "enum": [
                        "DEVICE_FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "WEARABLE"
                    ],
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "lowFpsVideoRecording": {
                    "type": "boolean"
                },
                "manufacturer": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "screenDensity": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenX": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenY": {
                    "format": "int32",
                    "type": "integer"
                },
                "supportedAbis": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "supportedVersionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "thumbnailUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidRoboTest": {
            "id": "AndroidRoboTest",
            "properties": {
                "appApk": {
                    "$ref": "FileReference"
                },
                "appBundle": {
                    "$ref": "AppBundle"
                },
                "appInitialActivity": {
                    "type": "string"
                },
                "appPackageId": {
                    "type": "string"
                },
                "maxDepth": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxSteps": {
                    "format": "int32",
                    "type": "integer"
                },
                "roboDirectives": {
                    "items": {
                        "$ref": "RoboDirective"
                    },
                    "type": "array"
                },
                "roboScript": {
                    "$ref": "FileReference"
                },
                "startingIntents": {
                    "items": {
                        "$ref": "RoboStartingIntent"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidRuntimeConfiguration": {
            "id": "AndroidRuntimeConfiguration",
            "properties": {
                "locales": {
                    "items": {
                        "$ref": "Locale"
                    },
                    "type": "array"
                },
                "orientations": {
                    "items": {
                        "$ref": "Orientation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidTestLoop": {
            "id": "AndroidTestLoop",
            "properties": {
                "appApk": {
                    "$ref": "FileReference"
                },
                "appBundle": {
                    "$ref": "AppBundle"
                },
                "appPackageId": {
                    "type": "string"
                },
                "scenarioLabels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "scenarios": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidVersion": {
            "id": "AndroidVersion",
            "properties": {
                "apiLevel": {
                    "format": "int32",
                    "type": "integer"
                },
                "codeName": {
                    "type": "string"
                },
                "distribution": {
                    "$ref": "Distribution"
                },
                "id": {
                    "type": "string"
                },
                "releaseDate": {
                    "$ref": "Date"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "versionString": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Apk": {
            "id": "Apk",
            "properties": {
                "location": {
                    "$ref": "FileReference"
                },
                "packageName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApkDetail": {
            "id": "ApkDetail",
            "properties": {
                "apkManifest": {
                    "$ref": "ApkManifest"
                }
            },
            "type": "object"
        },
        "ApkManifest": {
            "id": "ApkManifest",
            "properties": {
                "applicationLabel": {
                    "type": "string"
                },
                "intentFilters": {
                    "items": {
                        "$ref": "IntentFilter"
                    },
                    "type": "array"
                },
                "maxSdkVersion": {
                    "format": "int32",
                    "type": "integer"
                },
                "minSdkVersion": {
                    "format": "int32",
                    "type": "integer"
                },
                "packageName": {
                    "type": "string"
                },
                "targetSdkVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AppBundle": {
            "id": "AppBundle",
            "properties": {
                "bundleLocation": {
                    "$ref": "FileReference"
                }
            },
            "type": "object"
        },
        "CancelTestMatrixResponse": {
            "id": "CancelTestMatrixResponse",
            "properties": {
                "testState": {
                    "enum": [
                        "TEST_STATE_UNSPECIFIED",
                        "VALIDATING",
                        "PENDING",
                        "RUNNING",
                        "FINISHED",
                        "ERROR",
                        "UNSUPPORTED_ENVIRONMENT",
                        "INCOMPATIBLE_ENVIRONMENT",
                        "INCOMPATIBLE_ARCHITECTURE",
                        "CANCELLED",
                        "INVALID"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClientInfo": {
            "id": "ClientInfo",
            "properties": {
                "clientInfoDetails": {
                    "items": {
                        "$ref": "ClientInfoDetail"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClientInfoDetail": {
            "id": "ClientInfoDetail",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeviceFile": {
            "id": "DeviceFile",
            "properties": {
                "obbFile": {
                    "$ref": "ObbFile"
                },
                "regularFile": {
                    "$ref": "RegularFile"
                }
            },
            "type": "object"
        },
        "DeviceIpBlock": {
            "id": "DeviceIpBlock",
            "properties": {
                "addedDate": {
                    "$ref": "Date"
                },
                "block": {
                    "type": "string"
                },
                "form": {
                    "enum": [
                        "DEVICE_FORM_UNSPECIFIED",
                        "VIRTUAL",
                        "PHYSICAL",
                        "EMULATOR"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeviceIpBlockCatalog": {
            "id": "DeviceIpBlockCatalog",
            "properties": {
                "ipBlocks": {
                    "items": {
                        "$ref": "DeviceIpBlock"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Distribution": {
            "id": "Distribution",
            "properties": {
                "marketShare": {
                    "format": "double",
                    "type": "number"
                },
                "measurementTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Environment": {
            "id": "Environment",
            "properties": {
                "androidDevice": {
                    "$ref": "AndroidDevice"
                },
                "iosDevice": {
                    "$ref": "IosDevice"
                }
            },
            "type": "object"
        },
        "EnvironmentMatrix": {
            "id": "EnvironmentMatrix",
            "properties": {
                "androidDeviceList": {
                    "$ref": "AndroidDeviceList"
                },
                "androidMatrix": {
                    "$ref": "AndroidMatrix"
                },
                "iosDeviceList": {
                    "$ref": "IosDeviceList"
                }
            },
            "type": "object"
        },
        "EnvironmentVariable": {
            "id": "EnvironmentVariable",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FileReference": {
            "id": "FileReference",
            "properties": {
                "gcsPath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetApkDetailsResponse": {
            "id": "GetApkDetailsResponse",
            "properties": {
                "apkDetail": {
                    "$ref": "ApkDetail"
                }
            },
            "type": "object"
        },
        "GoogleAuto": {
            "id": "GoogleAuto",
            "properties": {},
            "type": "object"
        },
        "GoogleCloudStorage": {
            "id": "GoogleCloudStorage",
            "properties": {
                "gcsPath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IntentFilter": {
            "id": "IntentFilter",
            "properties": {
                "actionNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "categoryNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "mimeType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IosDevice": {
            "id": "IosDevice",
            "properties": {
                "iosModelId": {
                    "type": "string"
                },
                "iosVersionId": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "orientation": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IosDeviceCatalog": {
            "id": "IosDeviceCatalog",
            "properties": {
                "models": {
                    "items": {
                        "$ref": "IosModel"
                    },
                    "type": "array"
                },
                "runtimeConfiguration": {
                    "$ref": "IosRuntimeConfiguration"
                },
                "versions": {
                    "items": {
                        "$ref": "IosVersion"
                    },
                    "type": "array"
                },
                "xcodeVersions": {
                    "items": {
                        "$ref": "XcodeVersion"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosDeviceList": {
            "id": "IosDeviceList",
            "properties": {
                "iosDevices": {
                    "items": {
                        "$ref": "IosDevice"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosModel": {
            "id": "IosModel",
            "properties": {
                "deviceCapabilities": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "formFactor": {
                    "enum": [
                        "DEVICE_FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "WEARABLE"
                    ],
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "screenDensity": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenX": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenY": {
                    "format": "int32",
                    "type": "integer"
                },
                "supportedVersionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosRuntimeConfiguration": {
            "id": "IosRuntimeConfiguration",
            "properties": {
                "locales": {
                    "items": {
                        "$ref": "Locale"
                    },
                    "type": "array"
                },
                "orientations": {
                    "items": {
                        "$ref": "Orientation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosTestLoop": {
            "id": "IosTestLoop",
            "properties": {
                "appBundleId": {
                    "type": "string"
                },
                "appIpa": {
                    "$ref": "FileReference"
                },
                "scenarios": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosTestSetup": {
            "id": "IosTestSetup",
            "properties": {
                "networkProfile": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IosVersion": {
            "id": "IosVersion",
            "properties": {
                "id": {
                    "type": "string"
                },
                "majorVersion": {
                    "format": "int32",
                    "type": "integer"
                },
                "minorVersion": {
                    "format": "int32",
                    "type": "integer"
                },
                "supportedXcodeVersionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosXcTest": {
            "id": "IosXcTest",
            "properties": {
                "appBundleId": {
                    "type": "string"
                },
                "testSpecialEntitlements": {
                    "type": "boolean"
                },
                "testsZip": {
                    "$ref": "FileReference"
                },
                "xcodeVersion": {
                    "type": "string"
                },
                "xctestrun": {
                    "$ref": "FileReference"
                }
            },
            "type": "object"
        },
        "LauncherActivityIntent": {
            "id": "LauncherActivityIntent",
            "properties": {},
            "type": "object"
        },
        "Locale": {
            "id": "Locale",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ManualSharding": {
            "id": "ManualSharding",
            "properties": {
                "testTargetsForShard": {
                    "items": {
                        "$ref": "TestTargetsForShard"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NetworkConfiguration": {
            "id": "NetworkConfiguration",
            "properties": {
                "downRule": {
                    "$ref": "TrafficRule"
                },
                "id": {
                    "type": "string"
                },
                "upRule": {
                    "$ref": "TrafficRule"
                }
            },
            "type": "object"
        },
        "NetworkConfigurationCatalog": {
            "id": "NetworkConfigurationCatalog",
            "properties": {
                "configurations": {
                    "items": {
                        "$ref": "NetworkConfiguration"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ObbFile": {
            "id": "ObbFile",
            "properties": {
                "obb": {
                    "$ref": "FileReference"
                },
                "obbFileName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Orientation": {
            "id": "Orientation",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ProvidedSoftwareCatalog": {
            "id": "ProvidedSoftwareCatalog",
            "properties": {
                "orchestratorVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RegularFile": {
            "id": "RegularFile",
            "properties": {
                "content": {
                    "$ref": "FileReference"
                },
                "devicePath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResultStorage": {
            "id": "ResultStorage",
            "properties": {
                "googleCloudStorage": {
                    "$ref": "GoogleCloudStorage"
                },
                "resultsUrl": {
                    "type": "string"
                },
                "toolResultsExecution": {
                    "$ref": "ToolResultsExecution"
                },
                "toolResultsHistory": {
                    "$ref": "ToolResultsHistory"
                }
            },
            "type": "object"
        },
        "RoboDirective": {
            "id": "RoboDirective",
            "properties": {
                "actionType": {
                    "enum": [
                        "ACTION_TYPE_UNSPECIFIED",
                        "SINGLE_CLICK",
                        "ENTER_TEXT",
                        "IGNORE"
                    ],
                    "type": "string"
                },
                "inputText": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RoboStartingIntent": {
            "id": "RoboStartingIntent",
            "properties": {
                "launcherActivity": {
                    "$ref": "LauncherActivityIntent"
                },
                "startActivity": {
                    "$ref": "StartActivityIntent"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Shard": {
            "id": "Shard",
            "properties": {
                "numShards": {
                    "format": "int32",
                    "type": "integer"
                },
                "shardIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "testTargetsForShard": {
                    "$ref": "TestTargetsForShard"
                }
            },
            "type": "object"
        },
        "ShardingOption": {
            "id": "ShardingOption",
            "properties": {
                "manualSharding": {
                    "$ref": "ManualSharding"
                },
                "uniformSharding": {
                    "$ref": "UniformSharding"
                }
            },
            "type": "object"
        },
        "StartActivityIntent": {
            "id": "StartActivityIntent",
            "properties": {
                "action": {
                    "type": "string"
                },
                "categories": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SystraceSetup": {
            "id": "SystraceSetup",
            "properties": {
                "durationSeconds": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TestDetails": {
            "id": "TestDetails",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "progressMessages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestEnvironmentCatalog": {
            "id": "TestEnvironmentCatalog",
            "properties": {
                "androidDeviceCatalog": {
                    "$ref": "AndroidDeviceCatalog"
                },
                "deviceIpBlockCatalog": {
                    "$ref": "DeviceIpBlockCatalog"
                },
                "iosDeviceCatalog": {
                    "$ref": "IosDeviceCatalog"
                },
                "networkConfigurationCatalog": {
                    "$ref": "NetworkConfigurationCatalog"
                },
                "softwareCatalog": {
                    "$ref": "ProvidedSoftwareCatalog"
                }
            },
            "type": "object"
        },
        "TestExecution": {
            "id": "TestExecution",
            "properties": {
                "environment": {
                    "$ref": "Environment"
                },
                "id": {
                    "type": "string"
                },
                "matrixId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "shard": {
                    "$ref": "Shard"
                },
                "state": {
                    "enum": [
                        "TEST_STATE_UNSPECIFIED",
                        "VALIDATING",
                        "PENDING",
                        "RUNNING",
                        "FINISHED",
                        "ERROR",
                        "UNSUPPORTED_ENVIRONMENT",
                        "INCOMPATIBLE_ENVIRONMENT",
                        "INCOMPATIBLE_ARCHITECTURE",
                        "CANCELLED",
                        "INVALID"
                    ],
                    "type": "string"
                },
                "testDetails": {
                    "$ref": "TestDetails"
                },
                "testSpecification": {
                    "$ref": "TestSpecification"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "toolResultsStep": {
                    "$ref": "ToolResultsStep"
                }
            },
            "type": "object"
        },
        "TestMatrix": {
            "id": "TestMatrix",
            "properties": {
                "clientInfo": {
                    "$ref": "ClientInfo"
                },
                "environmentMatrix": {
                    "$ref": "EnvironmentMatrix"
                },
                "flakyTestAttempts": {
                    "format": "int32",
                    "type": "integer"
                },
                "invalidMatrixDetails": {
                    "enum": [
                        "INVALID_MATRIX_DETAILS_UNSPECIFIED",
                        "DETAILS_UNAVAILABLE",
                        "MALFORMED_APK",
                        "MALFORMED_TEST_APK",
                        "NO_MANIFEST",
                        "NO_PACKAGE_NAME",
                        "INVALID_PACKAGE_NAME",
                        "TEST_SAME_AS_APP",
                        "NO_INSTRUMENTATION",
                        "NO_SIGNATURE",
                        "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
                        "NO_TEST_RUNNER_CLASS",
                        "NO_LAUNCHER_ACTIVITY",
                        "FORBIDDEN_PERMISSIONS",
                        "INVALID_ROBO_DIRECTIVES",
                        "INVALID_RESOURCE_NAME",
                        "INVALID_DIRECTIVE_ACTION",
                        "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
                        "SCENARIO_LABEL_NOT_DECLARED",
                        "SCENARIO_LABEL_MALFORMED",
                        "SCENARIO_NOT_DECLARED",
                        "DEVICE_ADMIN_RECEIVER",
                        "MALFORMED_XC_TEST_ZIP",
                        "BUILT_FOR_IOS_SIMULATOR",
                        "NO_TESTS_IN_XC_TEST_ZIP",
                        "USE_DESTINATION_ARTIFACTS",
                        "TEST_NOT_APP_HOSTED",
                        "PLIST_CANNOT_BE_PARSED",
                        "TEST_ONLY_APK",
                        "MALFORMED_IPA",
                        "MISSING_URL_SCHEME",
                        "MALFORMED_APP_BUNDLE",
                        "NO_CODE_APK",
                        "INVALID_INPUT_APK",
                        "INVALID_APK_PREVIEW_SDK"
                    ],
                    "type": "string"
                },
                "outcomeSummary": {
                    "enum": [
                        "OUTCOME_SUMMARY_UNSPECIFIED",
                        "SUCCESS",
                        "FAILURE",
                        "INCONCLUSIVE",
                        "SKIPPED"
                    ],
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "resultStorage": {
                    "$ref": "ResultStorage"
                },
                "state": {
                    "enum": [
                        "TEST_STATE_UNSPECIFIED",
                        "VALIDATING",
                        "PENDING",
                        "RUNNING",
                        "FINISHED",
                        "ERROR",
                        "UNSUPPORTED_ENVIRONMENT",
                        "INCOMPATIBLE_ENVIRONMENT",
                        "INCOMPATIBLE_ARCHITECTURE",
                        "CANCELLED",
                        "INVALID"
                    ],
                    "type": "string"
                },
                "testExecutions": {
                    "items": {
                        "$ref": "TestExecution"
                    },
                    "type": "array"
                },
                "testMatrixId": {
                    "type": "string"
                },
                "testSpecification": {
                    "$ref": "TestSpecification"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestSetup": {
            "id": "TestSetup",
            "properties": {
                "account": {
                    "$ref": "Account"
                },
                "additionalApks": {
                    "items": {
                        "$ref": "Apk"
                    },
                    "type": "array"
                },
                "directoriesToPull": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "dontAutograntPermissions": {
                    "type": "boolean"
                },
                "environmentVariables": {
                    "items": {
                        "$ref": "EnvironmentVariable"
                    },
                    "type": "array"
                },
                "filesToPush": {
                    "items": {
                        "$ref": "DeviceFile"
                    },
                    "type": "array"
                },
                "networkProfile": {
                    "type": "string"
                },
                "systrace": {
                    "$ref": "SystraceSetup"
                }
            },
            "type": "object"
        },
        "TestSpecification": {
            "id": "TestSpecification",
            "properties": {
                "androidInstrumentationTest": {
                    "$ref": "AndroidInstrumentationTest"
                },
                "androidRoboTest": {
                    "$ref": "AndroidRoboTest"
                },
                "androidTestLoop": {
                    "$ref": "AndroidTestLoop"
                },
                "disablePerformanceMetrics": {
                    "type": "boolean"
                },
                "disableVideoRecording": {
                    "type": "boolean"
                },
                "iosTestLoop": {
                    "$ref": "IosTestLoop"
                },
                "iosTestSetup": {
                    "$ref": "IosTestSetup"
                },
                "iosXcTest": {
                    "$ref": "IosXcTest"
                },
                "testSetup": {
                    "$ref": "TestSetup"
                },
                "testTimeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestTargetsForShard": {
            "id": "TestTargetsForShard",
            "properties": {
                "testTargets": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ToolResultsExecution": {
            "id": "ToolResultsExecution",
            "properties": {
                "executionId": {
                    "type": "string"
                },
                "historyId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ToolResultsHistory": {
            "id": "ToolResultsHistory",
            "properties": {
                "historyId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ToolResultsStep": {
            "id": "ToolResultsStep",
            "properties": {
                "executionId": {
                    "type": "string"
                },
                "historyId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "stepId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TrafficRule": {
            "id": "TrafficRule",
            "properties": {
                "bandwidth": {
                    "format": "float",
                    "type": "number"
                },
                "burst": {
                    "format": "float",
                    "type": "number"
                },
                "delay": {
                    "format": "google-duration",
                    "type": "string"
                },
                "packetDuplicationRatio": {
                    "format": "float",
                    "type": "number"
                },
                "packetLossRatio": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "UniformSharding": {
            "id": "UniformSharding",
            "properties": {
                "numShards": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "XcodeVersion": {
            "id": "XcodeVersion",
            "properties": {
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Testing API",
    "version": "v1"
}