{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-platform.read-only": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://testing.googleapis.com/",
    "batchPath": "batch",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/cloud-test-lab/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "testing:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
    "name": "testing",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "applicationDetailService": {
            "methods": {
                "getApkDetails": {
                    "flatPath": "v1/applicationDetailService/getApkDetails",
                    "httpMethod": "POST",
                    "id": "testing.applicationDetailService.getApkDetails",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/applicationDetailService/getApkDetails",
                    "request": {
                        "$ref": "FileReference"
                    },
                    "response": {
                        "$ref": "GetApkDetailsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "projects": {
            "resources": {
                "testMatrices": {
                    "methods": {
                        "cancel": {
                            "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
                            "httpMethod": "POST",
                            "id": "testing.projects.testMatrices.cancel",
                            "parameterOrder": [
                                "projectId",
                                "testMatrixId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "testMatrixId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
                            "response": {
                                "$ref": "CancelTestMatrixResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/projects/{projectId}/testMatrices",
                            "httpMethod": "POST",
                            "id": "testing.projects.testMatrices.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "requestId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/testMatrices",
                            "request": {
                                "$ref": "TestMatrix"
                            },
                            "response": {
                                "$ref": "TestMatrix"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
                            "httpMethod": "GET",
                            "id": "testing.projects.testMatrices.get",
                            "parameterOrder": [
                                "projectId",
                                "testMatrixId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "testMatrixId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
                            "response": {
                                "$ref": "TestMatrix"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    }
                }
            }
        },
        "testEnvironmentCatalog": {
            "methods": {
                "get": {
                    "flatPath": "v1/testEnvironmentCatalog/{environmentType}",
                    "httpMethod": "GET",
                    "id": "testing.testEnvironmentCatalog.get",
                    "parameterOrder": [
                        "environmentType"
                    ],
                    "parameters": {
                        "environmentType": {
                            "enum": [
                                "ENVIRONMENT_TYPE_UNSPECIFIED",
                                "ANDROID",
                                "IOS",
                                "NETWORK_CONFIGURATION",
                                "PROVIDED_SOFTWARE"
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/testEnvironmentCatalog/{environmentType}",
                    "response": {
                        "$ref": "TestEnvironmentCatalog"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://testing.googleapis.com/",
    "schemas": {
        "Account": {
            "id": "Account",
            "properties": {
                "googleAuto": {
                    "$ref": "GoogleAuto"
                }
            },
            "type": "object"
        },
        "AndroidDevice": {
            "id": "AndroidDevice",
            "properties": {
                "androidModelId": {
                    "type": "string"
                },
                "androidVersionId": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "orientation": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidDeviceCatalog": {
            "id": "AndroidDeviceCatalog",
            "properties": {
                "models": {
                    "items": {
                        "$ref": "AndroidModel"
                    },
                    "type": "array"
                },
                "runtimeConfiguration": {
                    "$ref": "AndroidRuntimeConfiguration"
                },
                "versions": {
                    "items": {
                        "$ref": "AndroidVersion"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidDeviceList": {
            "id": "AndroidDeviceList",
            "properties": {
                "androidDevices": {
                    "items": {
                        "$ref": "AndroidDevice"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidInstrumentationTest": {
            "id": "AndroidInstrumentationTest",
            "properties": {
                "appApk": {
                    "$ref": "FileReference"
                },
                "appBundle": {
                    "$ref": "AppBundle"
                },
                "appPackageId": {
                    "type": "string"
                },
                "orchestratorOption": {
                    "enum": [
                        "ORCHESTRATOR_OPTION_UNSPECIFIED",
                        "USE_ORCHESTRATOR",
                        "DO_NOT_USE_ORCHESTRATOR"
                    ],
                    "enumDescriptions": [
                        "Default value: the server will choose the mode. Currently implies that\nthe test will run without the orchestrator. In the future,\nall instrumentation tests will be run with the orchestrator.\nUsing the orchestrator is highly encouraged because of all the benefits it\noffers.",
                        "Run test using orchestrator.\n** Only compatible with AndroidJUnitRunner version 1.0 or higher! **\nRecommended.",
                        "Run test without using orchestrator."
                    ],
                    "type": "string"
                },
                "shardingOption": {
                    "$ref": "ShardingOption"
                },
                "testApk": {
                    "$ref": "FileReference"
                },
                "testPackageId": {
                    "type": "string"
                },
                "testRunnerClass": {
                    "type": "string"
                },
                "testTargets": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidMatrix": {
            "id": "AndroidMatrix",
            "properties": {
                "androidModelIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "androidVersionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "locales": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "orientations": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidModel": {
            "id": "AndroidModel",
            "properties": {
                "brand": {
                    "type": "string"
                },
                "codename": {
                    "type": "string"
                },
                "form": {
                    "enum": [
                        "DEVICE_FORM_UNSPECIFIED",
                        "VIRTUAL",
                        "PHYSICAL"
                    ],
                    "enumDescriptions": [
                        "Do not use.  For proto versioning only.",
                        "A software stack that simulates the device.",
                        "Actual hardware."
                    ],
                    "type": "string"
                },
                "formFactor": {
                    "enum": [
                        "DEVICE_FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "WEARABLE"
                    ],
                    "enumDescriptions": [
                        "Do not use. For proto versioning only.",
                        "This device has the shape of a phone.",
                        "This device has the shape of a tablet.",
                        "This device has the shape of a watch or other wearable."
                    ],
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "lowFpsVideoRecording": {
                    "type": "boolean"
                },
                "manufacturer": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "screenDensity": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenX": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenY": {
                    "format": "int32",
                    "type": "integer"
                },
                "supportedAbis": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "supportedVersionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "thumbnailUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidRoboTest": {
            "id": "AndroidRoboTest",
            "properties": {
                "appApk": {
                    "$ref": "FileReference"
                },
                "appBundle": {
                    "$ref": "AppBundle"
                },
                "appInitialActivity": {
                    "type": "string"
                },
                "appPackageId": {
                    "type": "string"
                },
                "maxDepth": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxSteps": {
                    "format": "int32",
                    "type": "integer"
                },
                "roboDirectives": {
                    "items": {
                        "$ref": "RoboDirective"
                    },
                    "type": "array"
                },
                "roboScript": {
                    "$ref": "FileReference"
                },
                "startingIntents": {
                    "items": {
                        "$ref": "RoboStartingIntent"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidRuntimeConfiguration": {
            "id": "AndroidRuntimeConfiguration",
            "properties": {
                "locales": {
                    "items": {
                        "$ref": "Locale"
                    },
                    "type": "array"
                },
                "orientations": {
                    "items": {
                        "$ref": "Orientation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidTestLoop": {
            "id": "AndroidTestLoop",
            "properties": {
                "appApk": {
                    "$ref": "FileReference"
                },
                "appBundle": {
                    "$ref": "AppBundle"
                },
                "appPackageId": {
                    "type": "string"
                },
                "scenarioLabels": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "scenarios": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AndroidVersion": {
            "id": "AndroidVersion",
            "properties": {
                "apiLevel": {
                    "format": "int32",
                    "type": "integer"
                },
                "codeName": {
                    "type": "string"
                },
                "distribution": {
                    "$ref": "Distribution"
                },
                "id": {
                    "type": "string"
                },
                "releaseDate": {
                    "$ref": "Date"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "versionString": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Apk": {
            "id": "Apk",
            "properties": {
                "location": {
                    "$ref": "FileReference"
                },
                "packageName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApkDetail": {
            "id": "ApkDetail",
            "properties": {
                "apkManifest": {
                    "$ref": "ApkManifest"
                }
            },
            "type": "object"
        },
        "ApkManifest": {
            "id": "ApkManifest",
            "properties": {
                "applicationLabel": {
                    "type": "string"
                },
                "intentFilters": {
                    "items": {
                        "$ref": "IntentFilter"
                    },
                    "type": "array"
                },
                "maxSdkVersion": {
                    "format": "int32",
                    "type": "integer"
                },
                "minSdkVersion": {
                    "format": "int32",
                    "type": "integer"
                },
                "packageName": {
                    "type": "string"
                },
                "targetSdkVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AppBundle": {
            "id": "AppBundle",
            "properties": {
                "bundleLocation": {
                    "$ref": "FileReference"
                }
            },
            "type": "object"
        },
        "CancelTestMatrixResponse": {
            "id": "CancelTestMatrixResponse",
            "properties": {
                "testState": {
                    "enum": [
                        "TEST_STATE_UNSPECIFIED",
                        "VALIDATING",
                        "PENDING",
                        "RUNNING",
                        "FINISHED",
                        "ERROR",
                        "UNSUPPORTED_ENVIRONMENT",
                        "INCOMPATIBLE_ENVIRONMENT",
                        "INCOMPATIBLE_ARCHITECTURE",
                        "CANCELLED",
                        "INVALID"
                    ],
                    "enumDescriptions": [
                        "Do not use.  For proto versioning only.",
                        "The execution or matrix is being validated.",
                        "The execution or matrix is waiting for resources to become available.",
                        "The execution is currently being processed.\n\nCan only be set on an execution.",
                        "The execution or matrix has terminated normally.\n\nOn a matrix this means that the matrix level processing completed normally,\nbut individual executions may be in an ERROR state.",
                        "The execution or matrix has stopped because it encountered an\ninfrastructure failure.",
                        "The execution was not run because it corresponds to a unsupported\nenvironment.\n\nCan only be set on an execution.",
                        "The execution was not run because the provided inputs are incompatible with\nthe requested environment.\n\nExample: requested AndroidVersion is lower than APK's minSdkVersion\n\nCan only be set on an execution.",
                        "The execution was not run because the provided inputs are incompatible with\nthe requested architecture.\n\nExample: requested device does not support running the native code in\nthe supplied APK\n\nCan only be set on an execution.",
                        "The user cancelled the execution.\n\nCan only be set on an execution.",
                        "The execution or matrix was not run because the provided inputs are not\nvalid.\n\nExamples: input file is not of the expected type, is malformed/corrupt, or\nwas flagged as malware"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClientInfo": {
            "id": "ClientInfo",
            "properties": {
                "clientInfoDetails": {
                    "items": {
                        "$ref": "ClientInfoDetail"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClientInfoDetail": {
            "id": "ClientInfoDetail",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Date": {
            "id": "Date",
            "properties": {
                "day": {
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "format": "int32",
                    "type": "integer"
                },
                "year": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeviceFile": {
            "id": "DeviceFile",
            "properties": {
                "obbFile": {
                    "$ref": "ObbFile"
                },
                "regularFile": {
                    "$ref": "RegularFile"
                }
            },
            "type": "object"
        },
        "Distribution": {
            "id": "Distribution",
            "properties": {
                "marketShare": {
                    "format": "double",
                    "type": "number"
                },
                "measurementTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Environment": {
            "id": "Environment",
            "properties": {
                "androidDevice": {
                    "$ref": "AndroidDevice"
                },
                "iosDevice": {
                    "$ref": "IosDevice"
                }
            },
            "type": "object"
        },
        "EnvironmentMatrix": {
            "id": "EnvironmentMatrix",
            "properties": {
                "androidDeviceList": {
                    "$ref": "AndroidDeviceList"
                },
                "androidMatrix": {
                    "$ref": "AndroidMatrix"
                },
                "iosDeviceList": {
                    "$ref": "IosDeviceList"
                }
            },
            "type": "object"
        },
        "EnvironmentVariable": {
            "id": "EnvironmentVariable",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FileReference": {
            "id": "FileReference",
            "properties": {
                "gcsPath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetApkDetailsResponse": {
            "id": "GetApkDetailsResponse",
            "properties": {
                "apkDetail": {
                    "$ref": "ApkDetail"
                }
            },
            "type": "object"
        },
        "GoogleAuto": {
            "id": "GoogleAuto",
            "properties": {},
            "type": "object"
        },
        "GoogleCloudStorage": {
            "id": "GoogleCloudStorage",
            "properties": {
                "gcsPath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IntentFilter": {
            "id": "IntentFilter",
            "properties": {
                "actionNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "categoryNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "mimeType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IosDevice": {
            "id": "IosDevice",
            "properties": {
                "iosModelId": {
                    "type": "string"
                },
                "iosVersionId": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "orientation": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IosDeviceCatalog": {
            "id": "IosDeviceCatalog",
            "properties": {
                "models": {
                    "items": {
                        "$ref": "IosModel"
                    },
                    "type": "array"
                },
                "runtimeConfiguration": {
                    "$ref": "IosRuntimeConfiguration"
                },
                "versions": {
                    "items": {
                        "$ref": "IosVersion"
                    },
                    "type": "array"
                },
                "xcodeVersions": {
                    "items": {
                        "$ref": "XcodeVersion"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosDeviceList": {
            "id": "IosDeviceList",
            "properties": {
                "iosDevices": {
                    "items": {
                        "$ref": "IosDevice"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosModel": {
            "id": "IosModel",
            "properties": {
                "deviceCapabilities": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "formFactor": {
                    "enum": [
                        "DEVICE_FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "WEARABLE"
                    ],
                    "enumDescriptions": [
                        "Do not use. For proto versioning only.",
                        "This device has the shape of a phone.",
                        "This device has the shape of a tablet.",
                        "This device has the shape of a watch or other wearable."
                    ],
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "screenDensity": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenX": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenY": {
                    "format": "int32",
                    "type": "integer"
                },
                "supportedVersionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosRuntimeConfiguration": {
            "id": "IosRuntimeConfiguration",
            "properties": {
                "locales": {
                    "items": {
                        "$ref": "Locale"
                    },
                    "type": "array"
                },
                "orientations": {
                    "items": {
                        "$ref": "Orientation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosTestLoop": {
            "id": "IosTestLoop",
            "properties": {
                "appBundleId": {
                    "type": "string"
                },
                "appIpa": {
                    "$ref": "FileReference"
                },
                "scenarios": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosTestSetup": {
            "id": "IosTestSetup",
            "properties": {
                "networkProfile": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IosVersion": {
            "id": "IosVersion",
            "properties": {
                "id": {
                    "type": "string"
                },
                "majorVersion": {
                    "format": "int32",
                    "type": "integer"
                },
                "minorVersion": {
                    "format": "int32",
                    "type": "integer"
                },
                "supportedXcodeVersionIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "IosXcTest": {
            "id": "IosXcTest",
            "properties": {
                "appBundleId": {
                    "type": "string"
                },
                "testsZip": {
                    "$ref": "FileReference"
                },
                "xcodeVersion": {
                    "type": "string"
                },
                "xctestrun": {
                    "$ref": "FileReference"
                }
            },
            "type": "object"
        },
        "LauncherActivityIntent": {
            "id": "LauncherActivityIntent",
            "properties": {},
            "type": "object"
        },
        "Locale": {
            "id": "Locale",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ManualSharding": {
            "id": "ManualSharding",
            "properties": {
                "testTargetsForShard": {
                    "items": {
                        "$ref": "TestTargetsForShard"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NetworkConfiguration": {
            "id": "NetworkConfiguration",
            "properties": {
                "downRule": {
                    "$ref": "TrafficRule"
                },
                "id": {
                    "type": "string"
                },
                "upRule": {
                    "$ref": "TrafficRule"
                }
            },
            "type": "object"
        },
        "NetworkConfigurationCatalog": {
            "id": "NetworkConfigurationCatalog",
            "properties": {
                "configurations": {
                    "items": {
                        "$ref": "NetworkConfiguration"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ObbFile": {
            "id": "ObbFile",
            "properties": {
                "obb": {
                    "$ref": "FileReference"
                },
                "obbFileName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Orientation": {
            "id": "Orientation",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ProvidedSoftwareCatalog": {
            "id": "ProvidedSoftwareCatalog",
            "properties": {
                "orchestratorVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RegularFile": {
            "id": "RegularFile",
            "properties": {
                "content": {
                    "$ref": "FileReference"
                },
                "devicePath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResultStorage": {
            "id": "ResultStorage",
            "properties": {
                "googleCloudStorage": {
                    "$ref": "GoogleCloudStorage"
                },
                "resultsUrl": {
                    "type": "string"
                },
                "toolResultsExecution": {
                    "$ref": "ToolResultsExecution"
                },
                "toolResultsHistory": {
                    "$ref": "ToolResultsHistory"
                }
            },
            "type": "object"
        },
        "RoboDirective": {
            "id": "RoboDirective",
            "properties": {
                "actionType": {
                    "enum": [
                        "ACTION_TYPE_UNSPECIFIED",
                        "SINGLE_CLICK",
                        "ENTER_TEXT",
                        "IGNORE"
                    ],
                    "enumDescriptions": [
                        "DO NOT USE. For proto versioning only.",
                        "Direct Robo to click on the specified element. No-op if specified element\nis not clickable.",
                        "Direct Robo to enter text on the specified element. No-op if specified\nelement is not enabled or does not allow text entry.",
                        "Direct Robo to ignore interactions with a specific element."
                    ],
                    "type": "string"
                },
                "inputText": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RoboStartingIntent": {
            "id": "RoboStartingIntent",
            "properties": {
                "launcherActivity": {
                    "$ref": "LauncherActivityIntent"
                },
                "startActivity": {
                    "$ref": "StartActivityIntent"
                },
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Shard": {
            "id": "Shard",
            "properties": {
                "numShards": {
                    "format": "int32",
                    "type": "integer"
                },
                "shardIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "testTargetsForShard": {
                    "$ref": "TestTargetsForShard"
                }
            },
            "type": "object"
        },
        "ShardingOption": {
            "id": "ShardingOption",
            "properties": {
                "manualSharding": {
                    "$ref": "ManualSharding"
                },
                "uniformSharding": {
                    "$ref": "UniformSharding"
                }
            },
            "type": "object"
        },
        "StartActivityIntent": {
            "id": "StartActivityIntent",
            "properties": {
                "action": {
                    "type": "string"
                },
                "categories": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SystraceSetup": {
            "id": "SystraceSetup",
            "properties": {
                "durationSeconds": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TestDetails": {
            "id": "TestDetails",
            "properties": {
                "errorMessage": {
                    "type": "string"
                },
                "progressMessages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TestEnvironmentCatalog": {
            "id": "TestEnvironmentCatalog",
            "properties": {
                "androidDeviceCatalog": {
                    "$ref": "AndroidDeviceCatalog"
                },
                "iosDeviceCatalog": {
                    "$ref": "IosDeviceCatalog"
                },
                "networkConfigurationCatalog": {
                    "$ref": "NetworkConfigurationCatalog"
                },
                "softwareCatalog": {
                    "$ref": "ProvidedSoftwareCatalog"
                }
            },
            "type": "object"
        },
        "TestExecution": {
            "id": "TestExecution",
            "properties": {
                "environment": {
                    "$ref": "Environment"
                },
                "id": {
                    "type": "string"
                },
                "matrixId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "shard": {
                    "$ref": "Shard"
                },
                "state": {
                    "enum": [
                        "TEST_STATE_UNSPECIFIED",
                        "VALIDATING",
                        "PENDING",
                        "RUNNING",
                        "FINISHED",
                        "ERROR",
                        "UNSUPPORTED_ENVIRONMENT",
                        "INCOMPATIBLE_ENVIRONMENT",
                        "INCOMPATIBLE_ARCHITECTURE",
                        "CANCELLED",
                        "INVALID"
                    ],
                    "enumDescriptions": [
                        "Do not use.  For proto versioning only.",
                        "The execution or matrix is being validated.",
                        "The execution or matrix is waiting for resources to become available.",
                        "The execution is currently being processed.\n\nCan only be set on an execution.",
                        "The execution or matrix has terminated normally.\n\nOn a matrix this means that the matrix level processing completed normally,\nbut individual executions may be in an ERROR state.",
                        "The execution or matrix has stopped because it encountered an\ninfrastructure failure.",
                        "The execution was not run because it corresponds to a unsupported\nenvironment.\n\nCan only be set on an execution.",
                        "The execution was not run because the provided inputs are incompatible with\nthe requested environment.\n\nExample: requested AndroidVersion is lower than APK's minSdkVersion\n\nCan only be set on an execution.",
                        "The execution was not run because the provided inputs are incompatible with\nthe requested architecture.\n\nExample: requested device does not support running the native code in\nthe supplied APK\n\nCan only be set on an execution.",
                        "The user cancelled the execution.\n\nCan only be set on an execution.",
                        "The execution or matrix was not run because the provided inputs are not\nvalid.\n\nExamples: input file is not of the expected type, is malformed/corrupt, or\nwas flagged as malware"
                    ],
                    "type": "string"
                },
                "testDetails": {
                    "$ref": "TestDetails"
                },
                "testSpecification": {
                    "$ref": "TestSpecification"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "toolResultsStep": {
                    "$ref": "ToolResultsStep"
                }
            },
            "type": "object"
        },
        "TestMatrix": {
            "id": "TestMatrix",
            "properties": {
                "clientInfo": {
                    "$ref": "ClientInfo"
                },
                "environmentMatrix": {
                    "$ref": "EnvironmentMatrix"
                },
                "flakyTestAttempts": {
                    "format": "int32",
                    "type": "integer"
                },
                "invalidMatrixDetails": {
                    "enum": [
                        "INVALID_MATRIX_DETAILS_UNSPECIFIED",
                        "DETAILS_UNAVAILABLE",
                        "MALFORMED_APK",
                        "MALFORMED_TEST_APK",
                        "NO_MANIFEST",
                        "NO_PACKAGE_NAME",
                        "INVALID_PACKAGE_NAME",
                        "TEST_SAME_AS_APP",
                        "NO_INSTRUMENTATION",
                        "NO_SIGNATURE",
                        "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
                        "NO_TEST_RUNNER_CLASS",
                        "NO_LAUNCHER_ACTIVITY",
                        "FORBIDDEN_PERMISSIONS",
                        "INVALID_ROBO_DIRECTIVES",
                        "INVALID_RESOURCE_NAME",
                        "INVALID_DIRECTIVE_ACTION",
                        "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
                        "SCENARIO_LABEL_NOT_DECLARED",
                        "SCENARIO_LABEL_MALFORMED",
                        "SCENARIO_NOT_DECLARED",
                        "DEVICE_ADMIN_RECEIVER",
                        "MALFORMED_XC_TEST_ZIP",
                        "BUILT_FOR_IOS_SIMULATOR",
                        "NO_TESTS_IN_XC_TEST_ZIP",
                        "USE_DESTINATION_ARTIFACTS",
                        "TEST_NOT_APP_HOSTED",
                        "PLIST_CANNOT_BE_PARSED",
                        "TEST_ONLY_APK",
                        "MALFORMED_IPA",
                        "MISSING_URL_SCHEME",
                        "MALFORMED_APP_BUNDLE",
                        "NO_CODE_APK",
                        "INVALID_INPUT_APK",
                        "INVALID_APK_PREVIEW_SDK"
                    ],
                    "enumDescriptions": [
                        "Do not use. For proto versioning only.",
                        "The matrix is INVALID, but there are no further details available.",
                        "The input app APK could not be parsed.",
                        "The input test APK could not be parsed.",
                        "The AndroidManifest.xml could not be found.",
                        "The APK manifest does not declare a package name.",
                        "The APK application ID (aka package name) is invalid.\nSee also\nhttps://developer.android.com/studio/build/application-id",
                        "The test package and app package are the same.",
                        "The test apk does not declare an instrumentation.",
                        "The input app apk does not have a signature.",
                        "The test runner class specified by user or in the test APK's manifest file\nis not compatible with Android Test Orchestrator.\nOrchestrator is only compatible with AndroidJUnitRunner version 1.0 or\nhigher.\nOrchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR\nOrchestratorOption.",
                        "The test APK does not contain the test runner class specified by user or in\nthe manifest file.\nThis can be caused by either of the following reasons:\n- the user provided a runner class name that's incorrect, or\n- the test runner isn't built into the test APK (might be in the app APK\ninstead).",
                        "A main launcher activity could not be found.",
                        "The app declares one or more permissions that are not allowed.",
                        "There is a conflict in the provided robo_directives.",
                        "There is at least one invalid resource name in the provided\nrobo directives",
                        "Invalid definition of action in the robo directives\n(e.g. a click or ignore action includes an input text field)",
                        "There is no test loop intent filter, or the one that is given is\nnot formatted correctly.",
                        "The request contains a scenario label that was not declared in the\nmanifest.",
                        "There was an error when parsing a label's value.",
                        "The request contains a scenario number that was not declared in the\nmanifest.",
                        "Device administrator applications are not allowed.",
                        "The zipped XCTest was malformed. The zip did not contain a single\n.xctestrun file and the contents of the DerivedData/Build/Products\ndirectory.",
                        "The zipped XCTest was built for the iOS simulator rather than for a\nphysical device.",
                        "The .xctestrun file did not specify any test targets.",
                        "One or more of the test targets defined in the .xctestrun file specifies\n\"UseDestinationArtifacts\", which is disallowed.",
                        "XC tests which run on physical devices must have\n\"IsAppHostedTestBundle\" == \"true\" in the xctestrun file.",
                        "An Info.plist file in the XCTest zip could not be parsed.",
                        "The APK is marked as \"testOnly\".\nDeprecated and not currently used.",
                        "The input IPA could not be parsed.",
                        "The application doesn't register the game loop URL scheme.",
                        "The iOS application bundle (.app) couldn't be processed.",
                        "APK contains no code.\nSee also\nhttps://developer.android.com/guide/topics/manifest/application-element.html#code",
                        "Either the provided input APK path was malformed,\nthe APK file does not exist, or the user does not have permission to\naccess the APK file.",
                        "APK is built for a preview SDK which is unsupported"
                    ],
                    "type": "string"
                },
                "outcomeSummary": {
                    "enum": [
                        "OUTCOME_SUMMARY_UNSPECIFIED",
                        "SUCCESS",
                        "FAILURE",
                        "INCONCLUSIVE",
                        "SKIPPED"
                    ],
                    "enumDescriptions": [
                        "Do not use. For proto versioning only.",
                        "The test matrix run was successful, for instance:\n- All the test cases passed.\n- Robo did not detect a crash of the application under test.",
                        "A run failed, for instance:\n- One or more test case failed.\n- A test timed out.\n- The application under test crashed.",
                        "Something unexpected happened. The run should still be considered\nunsuccessful but this is likely a transient problem and re-running the\ntest might be successful.",
                        "All tests were skipped, for instance:\n- All device configurations were incompatible."
                    ],
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "resultStorage": {
                    "$ref": "ResultStorage"
                },
                "state": {
                    "enum": [
                        "TEST_STATE_UNSPECIFIED",
                        "VALIDATING",
                        "PENDING",
                        "RUNNING",
                        "FINISHED",
                        "ERROR",
                        "UNSUPPORTED_ENVIRONMENT",
                        "INCOMPATIBLE_ENVIRONMENT",
                        "INCOMPATIBLE_ARCHITECTURE",
                        "CANCELLED",
                        "INVALID"
                    ],
                    "enumDescriptions": [
                        "Do not use.  For proto versioning only.",
                        "The execution or matrix is being validated.",
                        "The execution or matrix is waiting for resources to become available.",
                        "The execution is currently being processed.\n\nCan only be set on an execution.",
                        "The execution or matrix has terminated normally.\n\nOn a matrix this means that the matrix level processing completed normally,\nbut individual executions may be in an ERROR state.",
                        "The execution or matrix has stopped because it encountered an\ninfrastructure failure.",
                        "The execution was not run because it corresponds to a unsupported\nenvironment.\n\nCan only be set on an execution.",
                        "The execution was not run because the provided inputs are incompatible with\nthe requested environment.\n\nExample: requested AndroidVersion is lower than APK's minSdkVersion\n\nCan only be set on an execution.",
                        "The execution was not run because the provided inputs are incompatible with\nthe requested architecture.\n\nExample: requested device does not support running the native code in\nthe supplied APK\n\nCan only be set on an execution.",
                        "The user cancelled the execution.\n\nCan only be set on an execution.",
                        "The execution or matrix was not run because the provided inputs are not\nvalid.\n\nExamples: input file is not of the expected type, is malformed/corrupt, or\nwas flagged as malware"
                    ],
                    "type": "string"
                },
                "testExecutions": {
                    "items": {
                        "$ref": "TestExecution"
                    },
                    "type": "array"
                },
                "testMatrixId": {
                    "type": "string"
                },
                "testSpecification": {
                    "$ref": "TestSpecification"
                },
                "timestamp": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestSetup": {
            "id": "TestSetup",
            "properties": {
                "account": {
                    "$ref": "Account"
                },
                "additionalApks": {
                    "items": {
                        "$ref": "Apk"
                    },
                    "type": "array"
                },
                "directoriesToPull": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "environmentVariables": {
                    "items": {
                        "$ref": "EnvironmentVariable"
                    },
                    "type": "array"
                },
                "filesToPush": {
                    "items": {
                        "$ref": "DeviceFile"
                    },
                    "type": "array"
                },
                "networkProfile": {
                    "type": "string"
                },
                "systrace": {
                    "$ref": "SystraceSetup"
                }
            },
            "type": "object"
        },
        "TestSpecification": {
            "id": "TestSpecification",
            "properties": {
                "androidInstrumentationTest": {
                    "$ref": "AndroidInstrumentationTest"
                },
                "androidRoboTest": {
                    "$ref": "AndroidRoboTest"
                },
                "androidTestLoop": {
                    "$ref": "AndroidTestLoop"
                },
                "disablePerformanceMetrics": {
                    "type": "boolean"
                },
                "disableVideoRecording": {
                    "type": "boolean"
                },
                "iosTestLoop": {
                    "$ref": "IosTestLoop"
                },
                "iosTestSetup": {
                    "$ref": "IosTestSetup"
                },
                "iosXcTest": {
                    "$ref": "IosXcTest"
                },
                "testSetup": {
                    "$ref": "TestSetup"
                },
                "testTimeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestTargetsForShard": {
            "id": "TestTargetsForShard",
            "properties": {
                "testTargets": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ToolResultsExecution": {
            "id": "ToolResultsExecution",
            "properties": {
                "executionId": {
                    "type": "string"
                },
                "historyId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ToolResultsHistory": {
            "id": "ToolResultsHistory",
            "properties": {
                "historyId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ToolResultsStep": {
            "id": "ToolResultsStep",
            "properties": {
                "executionId": {
                    "type": "string"
                },
                "historyId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "stepId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TrafficRule": {
            "id": "TrafficRule",
            "properties": {
                "bandwidth": {
                    "format": "float",
                    "type": "number"
                },
                "burst": {
                    "format": "float",
                    "type": "number"
                },
                "delay": {
                    "format": "google-duration",
                    "type": "string"
                },
                "packetDuplicationRatio": {
                    "format": "float",
                    "type": "number"
                },
                "packetLossRatio": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "UniformSharding": {
            "id": "UniformSharding",
            "properties": {
                "numShards": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "XcodeVersion": {
            "id": "XcodeVersion",
            "properties": {
                "tags": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Testing API",
    "version": "v1"
}