{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://texttospeech.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Texttospeech",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/text-to-speech/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "texttospeech:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://texttospeech.mtls.googleapis.com/",
    "name": "texttospeech",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "text": {
            "methods": {
                "synthesize": {
                    "flatPath": "v1/text:synthesize",
                    "httpMethod": "POST",
                    "id": "texttospeech.text.synthesize",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/text:synthesize",
                    "request": {
                        "$ref": "SynthesizeSpeechRequest"
                    },
                    "response": {
                        "$ref": "SynthesizeSpeechResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "voices": {
            "methods": {
                "list": {
                    "flatPath": "v1/voices",
                    "httpMethod": "GET",
                    "id": "texttospeech.voices.list",
                    "parameterOrder": [],
                    "parameters": {
                        "languageCode": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/voices",
                    "response": {
                        "$ref": "ListVoicesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://texttospeech.googleapis.com/",
    "schemas": {
        "AudioConfig": {
            "id": "AudioConfig",
            "properties": {
                "audioEncoding": {
                    "enum": [
                        "AUDIO_ENCODING_UNSPECIFIED",
                        "LINEAR16",
                        "MP3",
                        "OGG_OPUS"
                    ],
                    "enumDescriptions": [
                        "Not specified. Will return result google.rpc.Code.INVALID_ARGUMENT.",
                        "Uncompressed 16-bit signed little-endian samples (Linear PCM).\nAudio content returned as LINEAR16 also contains a WAV header.",
                        "MP3 audio at 32kbps.",
                        "Opus encoded audio wrapped in an ogg container. The result will be a\nfile which can be played natively on Android, and in browsers (at least\nChrome and Firefox). The quality of the encoding is considerably higher\nthan MP3 while using approximately the same bitrate."
                    ],
                    "type": "string"
                },
                "effectsProfileId": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "pitch": {
                    "format": "double",
                    "type": "number"
                },
                "sampleRateHertz": {
                    "format": "int32",
                    "type": "integer"
                },
                "speakingRate": {
                    "format": "double",
                    "type": "number"
                },
                "volumeGainDb": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ListVoicesResponse": {
            "id": "ListVoicesResponse",
            "properties": {
                "voices": {
                    "items": {
                        "$ref": "Voice"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SynthesisInput": {
            "id": "SynthesisInput",
            "properties": {
                "ssml": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SynthesizeSpeechRequest": {
            "id": "SynthesizeSpeechRequest",
            "properties": {
                "audioConfig": {
                    "$ref": "AudioConfig"
                },
                "input": {
                    "$ref": "SynthesisInput"
                },
                "voice": {
                    "$ref": "VoiceSelectionParams"
                }
            },
            "type": "object"
        },
        "SynthesizeSpeechResponse": {
            "id": "SynthesizeSpeechResponse",
            "properties": {
                "audioContent": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Voice": {
            "id": "Voice",
            "properties": {
                "languageCodes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "naturalSampleRateHertz": {
                    "format": "int32",
                    "type": "integer"
                },
                "ssmlGender": {
                    "enum": [
                        "SSML_VOICE_GENDER_UNSPECIFIED",
                        "MALE",
                        "FEMALE",
                        "NEUTRAL"
                    ],
                    "enumDescriptions": [
                        "An unspecified gender.\nIn VoiceSelectionParams, this means that the client doesn't care which\ngender the selected voice will have. In the Voice field of\nListVoicesResponse, this may mean that the voice doesn't fit any of the\nother categories in this enum, or that the gender of the voice isn't known.",
                        "A male voice.",
                        "A female voice.",
                        "A gender-neutral voice."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VoiceSelectionParams": {
            "id": "VoiceSelectionParams",
            "properties": {
                "languageCode": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "ssmlGender": {
                    "enum": [
                        "SSML_VOICE_GENDER_UNSPECIFIED",
                        "MALE",
                        "FEMALE",
                        "NEUTRAL"
                    ],
                    "enumDescriptions": [
                        "An unspecified gender.\nIn VoiceSelectionParams, this means that the client doesn't care which\ngender the selected voice will have. In the Voice field of\nListVoicesResponse, this may mean that the voice doesn't fit any of the\nother categories in this enum, or that the gender of the voice isn't known.",
                        "A male voice.",
                        "A female voice.",
                        "A gender-neutral voice."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Text-to-Speech API",
    "version": "v1",
    "version_module": true
}