{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "/toolresults/v1beta3/projects/",
    "baseUrl": "https://www.googleapis.com/toolresults/v1beta3/projects/",
    "batchPath": "batch/toolresults/v1beta3",
    "canonicalName": "Tool Results",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com/docs/test-lab/",
    "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/d5Sobv4BxgANIVncBnX0_bc8nFk\"",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "toolresults:v1beta3",
    "kind": "discovery#restDescription",
    "name": "toolresults",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "getSettings": {
                    "httpMethod": "GET",
                    "id": "toolresults.projects.getSettings",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}/settings",
                    "response": {
                        "$ref": "ProjectSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "initializeSettings": {
                    "httpMethod": "POST",
                    "id": "toolresults.projects.initializeSettings",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}:initializeSettings",
                    "response": {
                        "$ref": "ProjectSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "histories": {
                    "methods": {
                        "create": {
                            "httpMethod": "POST",
                            "id": "toolresults.projects.histories.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "requestId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "{projectId}/histories",
                            "request": {
                                "$ref": "History"
                            },
                            "response": {
                                "$ref": "History"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "httpMethod": "GET",
                            "id": "toolresults.projects.histories.get",
                            "parameterOrder": [
                                "projectId",
                                "historyId"
                            ],
                            "parameters": {
                                "historyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{projectId}/histories/{historyId}",
                            "response": {
                                "$ref": "History"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "httpMethod": "GET",
                            "id": "toolresults.projects.histories.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "filterByName": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{projectId}/histories",
                            "response": {
                                "$ref": "ListHistoriesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "executions": {
                            "methods": {
                                "create": {
                                    "httpMethod": "POST",
                                    "id": "toolresults.projects.histories.executions.create",
                                    "parameterOrder": [
                                        "projectId",
                                        "historyId"
                                    ],
                                    "parameters": {
                                        "historyId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/histories/{historyId}/executions",
                                    "request": {
                                        "$ref": "Execution"
                                    },
                                    "response": {
                                        "$ref": "Execution"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "httpMethod": "GET",
                                    "id": "toolresults.projects.histories.executions.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "historyId",
                                        "executionId"
                                    ],
                                    "parameters": {
                                        "executionId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "historyId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/histories/{historyId}/executions/{executionId}",
                                    "response": {
                                        "$ref": "Execution"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "httpMethod": "GET",
                                    "id": "toolresults.projects.histories.executions.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "historyId"
                                    ],
                                    "parameters": {
                                        "historyId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/histories/{historyId}/executions",
                                    "response": {
                                        "$ref": "ListExecutionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "httpMethod": "PATCH",
                                    "id": "toolresults.projects.histories.executions.patch",
                                    "parameterOrder": [
                                        "projectId",
                                        "historyId",
                                        "executionId"
                                    ],
                                    "parameters": {
                                        "executionId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "historyId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/histories/{historyId}/executions/{executionId}",
                                    "request": {
                                        "$ref": "Execution"
                                    },
                                    "response": {
                                        "$ref": "Execution"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "clusters": {
                                    "methods": {
                                        "get": {
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.clusters.get",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "clusterId"
                                            ],
                                            "parameters": {
                                                "clusterId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                                            "response": {
                                                "$ref": "ScreenshotCluster"
                                            }
                                        },
                                        "list": {
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.clusters.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                                            "response": {
                                                "$ref": "ListScreenshotClustersResponse"
                                            }
                                        }
                                    }
                                },
                                "environments": {
                                    "methods": {
                                        "get": {
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.environments.get",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "environmentId"
                                            ],
                                            "parameters": {
                                                "environmentId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                                            "response": {
                                                "$ref": "Environment"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.environments.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/environments",
                                            "response": {
                                                "$ref": "ListEnvironmentsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "steps": {
                                    "methods": {
                                        "create": {
                                            "httpMethod": "POST",
                                            "id": "toolresults.projects.histories.executions.steps.create",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps",
                                            "request": {
                                                "$ref": "Step"
                                            },
                                            "response": {
                                                "$ref": "Step"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.steps.get",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "stepId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "stepId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                                            "response": {
                                                "$ref": "Step"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "getPerfMetricsSummary": {
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "stepId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "stepId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                                            "response": {
                                                "$ref": "PerfMetricsSummary"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.steps.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps",
                                            "response": {
                                                "$ref": "ListStepsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "httpMethod": "PATCH",
                                            "id": "toolresults.projects.histories.executions.steps.patch",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "stepId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "stepId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                                            "request": {
                                                "$ref": "Step"
                                            },
                                            "response": {
                                                "$ref": "Step"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "publishXunitXmlFiles": {
                                            "httpMethod": "POST",
                                            "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "stepId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "stepId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                                            "request": {
                                                "$ref": "PublishXunitXmlFilesRequest"
                                            },
                                            "response": {
                                                "$ref": "Step"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "perfMetricsSummary": {
                                            "methods": {
                                                "create": {
                                                    "httpMethod": "POST",
                                                    "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                                                    "request": {
                                                        "$ref": "PerfMetricsSummary"
                                                    },
                                                    "response": {
                                                        "$ref": "PerfMetricsSummary"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            }
                                        },
                                        "perfSampleSeries": {
                                            "methods": {
                                                "create": {
                                                    "httpMethod": "POST",
                                                    "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                                                    "request": {
                                                        "$ref": "PerfSampleSeries"
                                                    },
                                                    "response": {
                                                        "$ref": "PerfSampleSeries"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "get": {
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId",
                                                        "sampleSeriesId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "sampleSeriesId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                                                    "response": {
                                                        "$ref": "PerfSampleSeries"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "list": {
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "filter": {
                                                            "enum": [
                                                                "cpu",
                                                                "graphics",
                                                                "memory",
                                                                "network",
                                                                "perfMetricTypeUnspecified"
                                                            ],
                                                            "enumDescriptions": [
                                                                "",
                                                                "",
                                                                "",
                                                                "",
                                                                ""
                                                            ],
                                                            "location": "query",
                                                            "repeated": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                                                    "response": {
                                                        "$ref": "ListPerfSampleSeriesResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            },
                                            "resources": {
                                                "samples": {
                                                    "methods": {
                                                        "batchCreate": {
                                                            "httpMethod": "POST",
                                                            "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                                                            "parameterOrder": [
                                                                "projectId",
                                                                "historyId",
                                                                "executionId",
                                                                "stepId",
                                                                "sampleSeriesId"
                                                            ],
                                                            "parameters": {
                                                                "executionId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "historyId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "projectId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "sampleSeriesId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "stepId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                                                            "request": {
                                                                "$ref": "BatchCreatePerfSamplesRequest"
                                                            },
                                                            "response": {
                                                                "$ref": "BatchCreatePerfSamplesResponse"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                            ]
                                                        },
                                                        "list": {
                                                            "httpMethod": "GET",
                                                            "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                                                            "parameterOrder": [
                                                                "projectId",
                                                                "historyId",
                                                                "executionId",
                                                                "stepId",
                                                                "sampleSeriesId"
                                                            ],
                                                            "parameters": {
                                                                "executionId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "historyId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "pageSize": {
                                                                    "format": "int32",
                                                                    "location": "query",
                                                                    "type": "integer"
                                                                },
                                                                "pageToken": {
                                                                    "location": "query",
                                                                    "type": "string"
                                                                },
                                                                "projectId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "sampleSeriesId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "stepId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                                                            "response": {
                                                                "$ref": "ListPerfSamplesResponse"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "testCases": {
                                            "methods": {
                                                "get": {
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.testCases.get",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId",
                                                        "testCaseId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "testCaseId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                                                    "response": {
                                                        "$ref": "TestCase"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "list": {
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.testCases.list",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                                                    "response": {
                                                        "$ref": "ListTestCasesResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            }
                                        },
                                        "thumbnails": {
                                            "methods": {
                                                "list": {
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                                                    "response": {
                                                        "$ref": "ListStepThumbnailsResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AndroidAppInfo": {
            "id": "AndroidAppInfo",
            "properties": {
                "name": {
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "versionCode": {
                    "type": "string"
                },
                "versionName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidInstrumentationTest": {
            "id": "AndroidInstrumentationTest",
            "properties": {
                "testPackageId": {
                    "type": "string"
                },
                "testRunnerClass": {
                    "type": "string"
                },
                "testTargets": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "useOrchestrator": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AndroidRoboTest": {
            "id": "AndroidRoboTest",
            "properties": {
                "appInitialActivity": {
                    "type": "string"
                },
                "bootstrapPackageId": {
                    "type": "string"
                },
                "bootstrapRunnerClass": {
                    "type": "string"
                },
                "maxDepth": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxSteps": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AndroidTest": {
            "id": "AndroidTest",
            "properties": {
                "androidAppInfo": {
                    "$ref": "AndroidAppInfo"
                },
                "androidInstrumentationTest": {
                    "$ref": "AndroidInstrumentationTest"
                },
                "androidRoboTest": {
                    "$ref": "AndroidRoboTest"
                },
                "testTimeout": {
                    "$ref": "Duration"
                }
            },
            "type": "object"
        },
        "Any": {
            "id": "Any",
            "properties": {
                "typeUrl": {
                    "type": "string"
                },
                "value": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppStartTime": {
            "id": "AppStartTime",
            "properties": {
                "fullyDrawnTime": {
                    "$ref": "Duration"
                },
                "initialDisplayTime": {
                    "$ref": "Duration"
                }
            },
            "type": "object"
        },
        "BasicPerfSampleSeries": {
            "id": "BasicPerfSampleSeries",
            "properties": {
                "perfMetricType": {
                    "enum": [
                        "cpu",
                        "graphics",
                        "memory",
                        "network",
                        "perfMetricTypeUnspecified"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "perfUnit": {
                    "enum": [
                        "byte",
                        "bytesPerSecond",
                        "framesPerSecond",
                        "kibibyte",
                        "percent",
                        "perfUnitUnspecified"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "sampleSeriesLabel": {
                    "enum": [
                        "cpuKernel",
                        "cpuTotal",
                        "cpuUser",
                        "graphicsFrameRate",
                        "memoryRssPrivate",
                        "memoryRssShared",
                        "memoryRssTotal",
                        "memoryTotal",
                        "networkReceived",
                        "networkSent",
                        "ntBytesReceived",
                        "ntBytesTransferred",
                        "sampleSeriesTypeUnspecified"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchCreatePerfSamplesRequest": {
            "id": "BatchCreatePerfSamplesRequest",
            "properties": {
                "perfSamples": {
                    "items": {
                        "$ref": "PerfSample"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchCreatePerfSamplesResponse": {
            "id": "BatchCreatePerfSamplesResponse",
            "properties": {
                "perfSamples": {
                    "items": {
                        "$ref": "PerfSample"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CPUInfo": {
            "id": "CPUInfo",
            "properties": {
                "cpuProcessor": {
                    "type": "string"
                },
                "cpuSpeedInGhz": {
                    "format": "float",
                    "type": "number"
                },
                "numberOfCores": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Duration": {
            "id": "Duration",
            "properties": {
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "seconds": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Environment": {
            "id": "Environment",
            "properties": {
                "completionTime": {
                    "$ref": "Timestamp"
                },
                "creationTime": {
                    "$ref": "Timestamp"
                },
                "dimensionValue": {
                    "items": {
                        "$ref": "EnvironmentDimensionValueEntry"
                    },
                    "type": "array"
                },
                "displayName": {
                    "type": "string"
                },
                "environmentId": {
                    "type": "string"
                },
                "environmentResult": {
                    "$ref": "MergedResult"
                },
                "executionId": {
                    "type": "string"
                },
                "historyId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "resultsStorage": {
                    "$ref": "ResultsStorage"
                },
                "shardSummaries": {
                    "items": {
                        "$ref": "ShardSummary"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EnvironmentDimensionValueEntry": {
            "id": "EnvironmentDimensionValueEntry",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Execution": {
            "id": "Execution",
            "properties": {
                "completionTime": {
                    "$ref": "Timestamp"
                },
                "creationTime": {
                    "$ref": "Timestamp"
                },
                "executionId": {
                    "type": "string"
                },
                "outcome": {
                    "$ref": "Outcome"
                },
                "specification": {
                    "$ref": "Specification"
                },
                "state": {
                    "enum": [
                        "complete",
                        "inProgress",
                        "pending",
                        "unknownState"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "testExecutionMatrixId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FailureDetail": {
            "id": "FailureDetail",
            "properties": {
                "crashed": {
                    "type": "boolean"
                },
                "notInstalled": {
                    "type": "boolean"
                },
                "otherNativeCrash": {
                    "type": "boolean"
                },
                "timedOut": {
                    "type": "boolean"
                },
                "unableToCrawl": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "FileReference": {
            "id": "FileReference",
            "properties": {
                "fileUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GraphicsStats": {
            "id": "GraphicsStats",
            "properties": {
                "buckets": {
                    "items": {
                        "$ref": "GraphicsStatsBucket"
                    },
                    "type": "array"
                },
                "highInputLatencyCount": {
                    "format": "int64",
                    "type": "string"
                },
                "jankyFrames": {
                    "format": "int64",
                    "type": "string"
                },
                "missedVsyncCount": {
                    "format": "int64",
                    "type": "string"
                },
                "p50Millis": {
                    "format": "int64",
                    "type": "string"
                },
                "p90Millis": {
                    "format": "int64",
                    "type": "string"
                },
                "p95Millis": {
                    "format": "int64",
                    "type": "string"
                },
                "p99Millis": {
                    "format": "int64",
                    "type": "string"
                },
                "slowBitmapUploadCount": {
                    "format": "int64",
                    "type": "string"
                },
                "slowDrawCount": {
                    "format": "int64",
                    "type": "string"
                },
                "slowUiThreadCount": {
                    "format": "int64",
                    "type": "string"
                },
                "totalFrames": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GraphicsStatsBucket": {
            "id": "GraphicsStatsBucket",
            "properties": {
                "frameCount": {
                    "format": "int64",
                    "type": "string"
                },
                "renderMillis": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "History": {
            "id": "History",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "historyId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Image": {
            "id": "Image",
            "properties": {
                "error": {
                    "$ref": "Status"
                },
                "sourceImage": {
                    "$ref": "ToolOutputReference"
                },
                "stepId": {
                    "type": "string"
                },
                "thumbnail": {
                    "$ref": "Thumbnail"
                }
            },
            "type": "object"
        },
        "InconclusiveDetail": {
            "id": "InconclusiveDetail",
            "properties": {
                "abortedByUser": {
                    "type": "boolean"
                },
                "hasErrorLogs": {
                    "type": "boolean"
                },
                "infrastructureFailure": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "IndividualOutcome": {
            "id": "IndividualOutcome",
            "properties": {
                "multistepNumber": {
                    "format": "int32",
                    "type": "integer"
                },
                "outcomeSummary": {
                    "enum": [
                        "failure",
                        "flaky",
                        "inconclusive",
                        "skipped",
                        "success",
                        "unset"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "runDuration": {
                    "$ref": "Duration"
                },
                "stepId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListEnvironmentsResponse": {
            "id": "ListEnvironmentsResponse",
            "properties": {
                "environments": {
                    "items": {
                        "$ref": "Environment"
                    },
                    "type": "array"
                },
                "executionId": {
                    "type": "string"
                },
                "historyId": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListExecutionsResponse": {
            "id": "ListExecutionsResponse",
            "properties": {
                "executions": {
                    "items": {
                        "$ref": "Execution"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListHistoriesResponse": {
            "id": "ListHistoriesResponse",
            "properties": {
                "histories": {
                    "items": {
                        "$ref": "History"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListPerfSampleSeriesResponse": {
            "id": "ListPerfSampleSeriesResponse",
            "properties": {
                "perfSampleSeries": {
                    "items": {
                        "$ref": "PerfSampleSeries"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListPerfSamplesResponse": {
            "id": "ListPerfSamplesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "perfSamples": {
                    "items": {
                        "$ref": "PerfSample"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListScreenshotClustersResponse": {
            "id": "ListScreenshotClustersResponse",
            "properties": {
                "clusters": {
                    "items": {
                        "$ref": "ScreenshotCluster"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListStepThumbnailsResponse": {
            "id": "ListStepThumbnailsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "thumbnails": {
                    "items": {
                        "$ref": "Image"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListStepsResponse": {
            "id": "ListStepsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "steps": {
                    "items": {
                        "$ref": "Step"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListTestCasesResponse": {
            "id": "ListTestCasesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "testCases": {
                    "items": {
                        "$ref": "TestCase"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MemoryInfo": {
            "id": "MemoryInfo",
            "properties": {
                "memoryCapInKibibyte": {
                    "format": "int64",
                    "type": "string"
                },
                "memoryTotalInKibibyte": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MergedResult": {
            "id": "MergedResult",
            "properties": {
                "outcome": {
                    "$ref": "Outcome"
                },
                "state": {
                    "enum": [
                        "complete",
                        "inProgress",
                        "pending",
                        "unknownState"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "testSuiteOverviews": {
                    "items": {
                        "$ref": "TestSuiteOverview"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MultiStep": {
            "id": "MultiStep",
            "properties": {
                "multistepNumber": {
                    "format": "int32",
                    "type": "integer"
                },
                "primaryStep": {
                    "$ref": "PrimaryStep"
                },
                "primaryStepId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Outcome": {
            "id": "Outcome",
            "properties": {
                "failureDetail": {
                    "$ref": "FailureDetail"
                },
                "inconclusiveDetail": {
                    "$ref": "InconclusiveDetail"
                },
                "skippedDetail": {
                    "$ref": "SkippedDetail"
                },
                "successDetail": {
                    "$ref": "SuccessDetail"
                },
                "summary": {
                    "enum": [
                        "failure",
                        "flaky",
                        "inconclusive",
                        "skipped",
                        "success",
                        "unset"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PerfEnvironment": {
            "id": "PerfEnvironment",
            "properties": {
                "cpuInfo": {
                    "$ref": "CPUInfo"
                },
                "memoryInfo": {
                    "$ref": "MemoryInfo"
                }
            },
            "type": "object"
        },
        "PerfMetricsSummary": {
            "id": "PerfMetricsSummary",
            "properties": {
                "appStartTime": {
                    "$ref": "AppStartTime"
                },
                "executionId": {
                    "type": "string"
                },
                "graphicsStats": {
                    "$ref": "GraphicsStats"
                },
                "historyId": {
                    "type": "string"
                },
                "perfEnvironment": {
                    "$ref": "PerfEnvironment"
                },
                "perfMetrics": {
                    "items": {
                        "enum": [
                            "cpu",
                            "graphics",
                            "memory",
                            "network",
                            "perfMetricTypeUnspecified"
                        ],
                        "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            ""
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
[...]
