{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://toolresults.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Tool Results",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com/docs/test-lab/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "toolresults:v1beta3",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
    "name": "toolresults",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "getSettings": {
                    "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
                    "httpMethod": "GET",
                    "id": "toolresults.projects.getSettings",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "toolresults/v1beta3/projects/{projectId}/settings",
                    "response": {
                        "$ref": "ProjectSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "initializeSettings": {
                    "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
                    "httpMethod": "POST",
                    "id": "toolresults.projects.initializeSettings",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
                    "response": {
                        "$ref": "ProjectSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "histories": {
                    "methods": {
                        "create": {
                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
                            "httpMethod": "POST",
                            "id": "toolresults.projects.histories.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "requestId": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "toolresults/v1beta3/projects/{projectId}/histories",
                            "request": {
                                "$ref": "History"
                            },
                            "response": {
                                "$ref": "History"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
                            "httpMethod": "GET",
                            "id": "toolresults.projects.histories.get",
                            "parameterOrder": [
                                "projectId",
                                "historyId"
                            ],
                            "parameters": {
                                "historyId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
                            "response": {
                                "$ref": "History"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
                            "httpMethod": "GET",
                            "id": "toolresults.projects.histories.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "filterByName": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "toolresults/v1beta3/projects/{projectId}/histories",
                            "response": {
                                "$ref": "ListHistoriesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "executions": {
                            "methods": {
                                "create": {
                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                                    "httpMethod": "POST",
                                    "id": "toolresults.projects.histories.executions.create",
                                    "parameterOrder": [
                                        "projectId",
                                        "historyId"
                                    ],
                                    "parameters": {
                                        "historyId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                                    "request": {
                                        "$ref": "Execution"
                                    },
                                    "response": {
                                        "$ref": "Execution"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                                    "httpMethod": "GET",
                                    "id": "toolresults.projects.histories.executions.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "historyId",
                                        "executionId"
                                    ],
                                    "parameters": {
                                        "executionId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "historyId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                                    "response": {
                                        "$ref": "Execution"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                                    "httpMethod": "GET",
                                    "id": "toolresults.projects.histories.executions.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "historyId"
                                    ],
                                    "parameters": {
                                        "historyId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                                    "response": {
                                        "$ref": "ListExecutionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                                    "httpMethod": "PATCH",
                                    "id": "toolresults.projects.histories.executions.patch",
                                    "parameterOrder": [
                                        "projectId",
                                        "historyId",
                                        "executionId"
                                    ],
                                    "parameters": {
                                        "executionId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "historyId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                                    "request": {
                                        "$ref": "Execution"
                                    },
                                    "response": {
                                        "$ref": "Execution"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "clusters": {
                                    "methods": {
                                        "get": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.clusters.get",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "clusterId"
                                            ],
                                            "parameters": {
                                                "clusterId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                                            "response": {
                                                "$ref": "ScreenshotCluster"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.clusters.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                                            "response": {
                                                "$ref": "ListScreenshotClustersResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "environments": {
                                    "methods": {
                                        "get": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.environments.get",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "environmentId"
                                            ],
                                            "parameters": {
                                                "environmentId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                                            "response": {
                                                "$ref": "Environment"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.environments.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                                            "response": {
                                                "$ref": "ListEnvironmentsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "steps": {
                                    "methods": {
                                        "accessibilityClusters": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "locale": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                                            "response": {
                                                "$ref": "ListStepAccessibilityClustersResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "create": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                                            "httpMethod": "POST",
                                            "id": "toolresults.projects.histories.executions.steps.create",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                                            "request": {
                                                "$ref": "Step"
                                            },
                                            "response": {
                                                "$ref": "Step"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.steps.get",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "stepId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "stepId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                                            "response": {
                                                "$ref": "Step"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "getPerfMetricsSummary": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "stepId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "stepId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                                            "response": {
                                                "$ref": "PerfMetricsSummary"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                                            "httpMethod": "GET",
                                            "id": "toolresults.projects.histories.executions.steps.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                                            "response": {
                                                "$ref": "ListStepsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                                            "httpMethod": "PATCH",
                                            "id": "toolresults.projects.histories.executions.steps.patch",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "stepId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "stepId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                                            "request": {
                                                "$ref": "Step"
                                            },
                                            "response": {
                                                "$ref": "Step"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "publishXunitXmlFiles": {
                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                                            "httpMethod": "POST",
                                            "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                                            "parameterOrder": [
                                                "projectId",
                                                "historyId",
                                                "executionId",
                                                "stepId"
                                            ],
                                            "parameters": {
                                                "executionId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "historyId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "stepId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                                            "request": {
                                                "$ref": "PublishXunitXmlFilesRequest"
                                            },
                                            "response": {
                                                "$ref": "Step"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "perfMetricsSummary": {
                                            "methods": {
                                                "create": {
                                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                                                    "httpMethod": "POST",
                                                    "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                                                    "request": {
                                                        "$ref": "PerfMetricsSummary"
                                                    },
                                                    "response": {
                                                        "$ref": "PerfMetricsSummary"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            }
                                        },
                                        "perfSampleSeries": {
                                            "methods": {
                                                "create": {
                                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                                                    "httpMethod": "POST",
                                                    "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                                                    "request": {
                                                        "$ref": "PerfSampleSeries"
                                                    },
                                                    "response": {
                                                        "$ref": "PerfSampleSeries"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "get": {
                                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId",
                                                        "sampleSeriesId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "sampleSeriesId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                                                    "response": {
                                                        "$ref": "PerfSampleSeries"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "list": {
                                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "filter": {
                                                            "enum": [
                                                                "perfMetricTypeUnspecified",
                                                                "memory",
                                                                "cpu",
                                                                "network",
                                                                "graphics"
                                                            ],
                                                            "location": "query",
                                                            "repeated": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                                                    "response": {
                                                        "$ref": "ListPerfSampleSeriesResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            },
                                            "resources": {
                                                "samples": {
                                                    "methods": {
                                                        "batchCreate": {
                                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                                                            "httpMethod": "POST",
                                                            "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                                                            "parameterOrder": [
                                                                "projectId",
                                                                "historyId",
                                                                "executionId",
                                                                "stepId",
                                                                "sampleSeriesId"
                                                            ],
                                                            "parameters": {
                                                                "executionId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "historyId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "projectId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "sampleSeriesId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "stepId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                                                            "request": {
                                                                "$ref": "BatchCreatePerfSamplesRequest"
                                                            },
                                                            "response": {
                                                                "$ref": "BatchCreatePerfSamplesResponse"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                            ]
                                                        },
                                                        "list": {
                                                            "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                                                            "httpMethod": "GET",
                                                            "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                                                            "parameterOrder": [
                                                                "projectId",
                                                                "historyId",
                                                                "executionId",
                                                                "stepId",
                                                                "sampleSeriesId"
                                                            ],
                                                            "parameters": {
                                                                "executionId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "historyId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "pageSize": {
                                                                    "format": "int32",
                                                                    "location": "query",
                                                                    "type": "integer"
                                                                },
                                                                "pageToken": {
                                                                    "location": "query",
                                                                    "type": "string"
                                                                },
                                                                "projectId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "sampleSeriesId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                },
                                                                "stepId": {
                                                                    "location": "path",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                                                            "response": {
                                                                "$ref": "ListPerfSamplesResponse"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "testCases": {
                                            "methods": {
                                                "get": {
                                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.testCases.get",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId",
                                                        "testCaseId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "testCaseId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                                                    "response": {
                                                        "$ref": "TestCase"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "list": {
                                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.testCases.list",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                                                    "response": {
                                                        "$ref": "ListTestCasesResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            }
                                        },
                                        "thumbnails": {
                                            "methods": {
                                                "list": {
                                                    "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                                                    "httpMethod": "GET",
                                                    "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                                                    "parameterOrder": [
                                                        "projectId",
                                                        "historyId",
                                                        "executionId",
                                                        "stepId"
                                                    ],
                                                    "parameters": {
                                                        "executionId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "historyId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "pageSize": {
                                                            "format": "int32",
                                                            "location": "query",
                                                            "type": "integer"
                                                        },
                                                        "pageToken": {
                                                            "location": "query",
                                                            "type": "string"
                                                        },
                                                        "projectId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "stepId": {
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                                                    "response": {
                                                        "$ref": "ListStepThumbnailsResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://toolresults.googleapis.com/",
    "schemas": {
        "ANR": {
            "id": "ANR",
            "properties": {
                "stackTrace": {
                    "$ref": "StackTrace"
                }
            },
            "type": "object"
        },
        "AndroidAppInfo": {
            "id": "AndroidAppInfo",
            "properties": {
                "name": {
                    "type": "string"
                },
                "packageName": {
                    "type": "string"
                },
                "versionCode": {
                    "type": "string"
                },
                "versionName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AndroidInstrumentationTest": {
            "id": "AndroidInstrumentationTest",
            "properties": {
                "testPackageId": {
                    "type": "string"
                },
                "testRunnerClass": {
                    "type": "string"
                },
                "testTargets": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "useOrchestrator": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AndroidRoboTest": {
            "id": "AndroidRoboTest",
            "properties": {
                "appInitialActivity": {
                    "type": "string"
                },
                "bootstrapPackageId": {
                    "type": "string"
                },
                "bootstrapRunnerClass": {
                    "type": "string"
                },
                "maxDepth": {
                    "format": "int32",
                    "type": "integer"
                },
                "maxSteps": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AndroidTest": {
            "id": "AndroidTest",
            "properties": {
                "androidAppInfo": {
                    "$ref": "AndroidAppInfo"
                },
                "androidInstrumentationTest": {
                    "$ref": "AndroidInstrumentationTest"
                },
                "androidRoboTest": {
                    "$ref": "AndroidRoboTest"
                },
                "androidTestLoop": {
                    "$ref": "AndroidTestLoop"
                },
                "testTimeout": {
                    "$ref": "Duration"
                }
            },
            "type": "object"
        },
        "AndroidTestLoop": {
            "id": "AndroidTestLoop",
            "properties": {},
            "type": "object"
        },
        "Any": {
            "id": "Any",
            "properties": {
                "typeUrl": {
                    "type": "string"
                },
                "value": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppStartTime": {
            "id": "AppStartTime",
            "properties": {
                "fullyDrawnTime": {
                    "$ref": "Duration"
                },
                "initialDisplayTime": {
                    "$ref": "Duration"
                }
            },
            "type": "object"
        },
        "AvailableDeepLinks": {
            "id": "AvailableDeepLinks",
            "properties": {},
            "type": "object"
        },
        "BasicPerfSampleSeries": {
            "id": "BasicPerfSampleSeries",
            "properties": {
                "perfMetricType": {
                    "enum": [
                        "perfMetricTypeUnspecified",
                        "memory",
                        "cpu",
                        "network",
                        "graphics"
                    ],
                    "type": "string"
                },
                "perfUnit": {
                    "enum": [
                        "perfUnitUnspecified",
                        "kibibyte",
                        "percent",
                        "bytesPerSecond",
                        "framesPerSecond",
                        "byte"
                    ],
                    "type": "string"
                },
                "sampleSeriesLabel": {
                    "enum": [
                        "sampleSeriesTypeUnspecified",
                        "memoryRssPrivate",
                        "memoryRssShared",
                        "memoryRssTotal",
                        "memoryTotal",
                        "cpuUser",
                        "cpuKernel",
                        "cpuTotal",
                        "ntBytesTransferred",
                        "ntBytesReceived",
                        "networkSent",
                        "networkReceived",
                        "graphicsFrameRate"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchCreatePerfSamplesRequest": {
            "id": "BatchCreatePerfSamplesRequest",
            "properties": {
                "perfSamples": {
                    "items": {
                        "$ref": "PerfSample"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchCreatePerfSamplesResponse": {
            "id": "BatchCreatePerfSamplesResponse",
            "properties": {
                "perfSamples": {
                    "items": {
                        "$ref": "PerfSample"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BlankScreen": {
            "id": "BlankScreen",
            "properties": {
                "screenId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CPUInfo": {
            "id": "CPUInfo",
            "properties": {
                "cpuProcessor": {
                    "type": "string"
                },
                "cpuSpeedInGhz": {
                    "format": "float",
                    "type": "number"
                },
                "numberOfCores": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "CrashDialogError": {
            "id": "CrashDialogError",
            "properties": {
                "crashPackage": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Duration": {
            "id": "Duration",
            "properties": {
                "nanos": {
                    "format": "int32",
                    "type": "integer"
                },
                "seconds": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EncounteredLoginScreen": {
            "id": "EncounteredLoginScreen",
            "properties": {
                "distinctScreens": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EncounteredNonAndroidUiWidgetScreen": {
            "id": "EncounteredNonAndroidUiWidgetScreen",
            "properties": {
                "distinctScreens": {
                    "format": "int32",
                    "type": "integer"
                },
                "screenIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Environment": {
            "id": "Environment",
            "properties": {
                "completionTime": {
                    "$ref": "Timestamp"
                },
                "creationTime": {
                    "$ref": "Timestamp"
                },
                "dimensionValue": {
                    "items": {
                        "$ref": "EnvironmentDimensionValueEntry"
                    },
                    "type": "array"
                },
                "displayName": {
                    "type": "string"
                },
                "environmentId": {
                    "type": "string"
                },
                "environmentResult": {
                    "$ref": "MergedResult"
                },
                "executionId": {
                    "type": "string"
                },
                "historyId": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "resultsStorage": {
                    "$ref": "ResultsStorage"
                },
                "shardSummaries": {
                    "items": {
                        "$ref": "ShardSummary"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EnvironmentDimensionValueEntry": {
            "id": "EnvironmentDimensionValueEntry",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Execution": {
            "id": "Execution",
            "properties": {
                "completionTime": {
                    "$ref": "Timestamp"
                },
                "creationTime": {
                    "$ref": "Timestamp"
                },
                "dimensionDefinitions": {
                    "items": {
                        "$ref": "MatrixDimensionDefinition"
                    },
                    "type": "array"
                },
                "executionId": {
                    "type": "string"
                },
                "outcome": {
                    "$ref": "Outcome"
                },
                "specification": {
                    "$ref": "Specification"
                },
                "state": {
                    "enum": [
                        "unknownState",
                        "pending",
                        "inProgress",
                        "complete"
                    ],
                    "type": "string"
                },
                "testExecutionMatrixId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FailedToInstall": {
            "id": "FailedToInstall",
            "properties": {},
            "type": "object"
        },
        "FailureDetail": {
            "id": "FailureDetail",
            "properties": {
                "crashed": {
                    "type": "boolean"
                },
                "failedRoboscript": {
                    "type": "boolean"
                },
                "notInstalled": {
                    "type": "boolean"
                },
                "otherNativeCrash": {
                    "type": "boolean"
                },
                "timedOut": {
                    "type": "boolean"
                },
                "unableToCrawl": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "FatalException": {
            "id": "FatalException",
            "properties": {
                "stackTrace": {
                    "$ref": "StackTrace"
                }
            },
            "type": "object"
        },
        "FileReference": {
            "id": "FileReference",
            "properties": {
                "fileUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GraphicsStats": {
            "id": "GraphicsStats",
            "properties": {
                "buckets": {
                    "items": {
                        "$ref": "GraphicsStatsBucket"
                    },
                    "type": "array"
                },
                "highInputLatencyCount": {
                    "format": "int64",
                    "type": "string"
                },
                "jankyFrames": {
                    "format": "int64",
                    "type": "string"
                },
                "missedVsyncCount": {
                    "format": "int64",
                    "type": "string"
                },
                "p50Millis": {
                    "format": "int64",
                    "type": "string"
                },
                "p90Millis": {
                    "format": "int64",
                    "type": "string"
                },
                "p95Millis": {
                    "format": "int64",
                    "type": "string"
                },
                "p99Millis": {
                    "format": "int64",
                    "type": "string"
                },
                "slowBitmapUploadCount": {
                    "format": "int64",
                    "type": "string"
                },
                "slowDrawCount": {
                    "format": "int64",
                    "type": "string"
                },
                "slowUiThreadCount": {
                    "format": "int64",
                    "type": "string"
                },
                "totalFrames": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GraphicsStatsBucket": {
            "id": "GraphicsStatsBucket",
            "properties": {
                "frameCount": {
                    "format": "int64",
                    "type": "string"
                },
                "renderMillis": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "History": {
            "id": "History",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "historyId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "testPlatform": {
                    "enum": [
                        "unknownPlatform",
                        "android",
                        "ios"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Image": {
            "id": "Image",
            "properties": {
                "error": {
                    "$ref": "Status"
                },
                "sourceImage": {
                    "$ref": "ToolOutputReference"
                },
                "stepId": {
                    "type": "string"
                },
                "thumbnail": {
                    "$ref": "Thumbnail"
                }
            },
            "type": "object"
        },
        "InAppPurchasesFound": {
            "id": "InAppPurchasesFound",
            "properties": {
                "inAppPurchasesFlowsExplored": {
                    "format": "int32",
                    "type": "integer"
                },
                "inAppPurchasesFlowsStarted": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "InconclusiveDetail": {
            "id": "InconclusiveDetail",
            "properties": {
                "abortedByUser": {
                    "type": "boolean"
                },
[...]
