{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-translation": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://translation.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Translate",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/translate/docs/quickstarts",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "translate:v3",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
    "name": "translate",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "detectLanguage": {
                    "flatPath": "v3/projects/{projectsId}:detectLanguage",
                    "httpMethod": "POST",
                    "id": "translate.projects.detectLanguage",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/{+parent}:detectLanguage",
                    "request": {
                        "$ref": "DetectLanguageRequest"
                    },
                    "response": {
                        "$ref": "DetectLanguageResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                    ]
                },
                "getSupportedLanguages": {
                    "flatPath": "v3/projects/{projectsId}/supportedLanguages",
                    "httpMethod": "GET",
                    "id": "translate.projects.getSupportedLanguages",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "displayLanguageCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "model": {
                            "location": "query",
                            "type": "string"
                        },
                        "parent": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/{+parent}/supportedLanguages",
                    "response": {
                        "$ref": "SupportedLanguages"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                    ]
                },
                "translateText": {
                    "flatPath": "v3/projects/{projectsId}:translateText",
                    "httpMethod": "POST",
                    "id": "translate.projects.translateText",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/{+parent}:translateText",
                    "request": {
                        "$ref": "TranslateTextRequest"
                    },
                    "response": {
                        "$ref": "TranslateTextResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                    ]
                }
            },
            "resources": {
                "locations": {
                    "methods": {
                        "batchTranslateText": {
                            "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateText",
                            "httpMethod": "POST",
                            "id": "translate.projects.locations.batchTranslateText",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}:batchTranslateText",
                            "request": {
                                "$ref": "BatchTranslateTextRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "detectLanguage": {
                            "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:detectLanguage",
                            "httpMethod": "POST",
                            "id": "translate.projects.locations.detectLanguage",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}:detectLanguage",
                            "request": {
                                "$ref": "DetectLanguageRequest"
                            },
                            "response": {
                                "$ref": "DetectLanguageResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-translation"
                            ]
                        },
                        "get": {
                            "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "translate.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-translation"
                            ]
                        },
                        "getSupportedLanguages": {
                            "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages",
                            "httpMethod": "GET",
                            "id": "translate.projects.locations.getSupportedLanguages",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "displayLanguageCode": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "model": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}/supportedLanguages",
                            "response": {
                                "$ref": "SupportedLanguages"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-translation"
                            ]
                        },
                        "list": {
                            "flatPath": "v3/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "translate.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-translation"
                            ]
                        },
                        "translateText": {
                            "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateText",
                            "httpMethod": "POST",
                            "id": "translate.projects.locations.translateText",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v3/{+parent}:translateText",
                            "request": {
                                "$ref": "TranslateTextRequest"
                            },
                            "response": {
                                "$ref": "TranslateTextResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-translation"
                            ]
                        }
                    },
                    "resources": {
                        "glossaries": {
                            "methods": {
                                "create": {
                                    "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                                    "httpMethod": "POST",
                                    "id": "translate.projects.locations.glossaries.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+parent}/glossaries",
                                    "request": {
                                        "$ref": "Glossary"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                                    "httpMethod": "DELETE",
                                    "id": "translate.projects.locations.glossaries.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-translation"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                                    "httpMethod": "GET",
                                    "id": "translate.projects.locations.glossaries.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+name}",
                                    "response": {
                                        "$ref": "Glossary"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-translation"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                                    "httpMethod": "GET",
                                    "id": "translate.projects.locations.glossaries.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+parent}/glossaries",
                                    "response": {
                                        "$ref": "ListGlossariesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-translation"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "translate.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+name}:cancel",
                                    "request": {
                                        "$ref": "CancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-translation"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "translate.projects.locations.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-translation"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "translate.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-translation"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "translate.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+name}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-translation"
                                    ]
                                },
                                "wait": {
                                    "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                                    "httpMethod": "POST",
                                    "id": "translate.projects.locations.operations.wait",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v3/{+name}:wait",
                                    "request": {
                                        "$ref": "WaitOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-translation"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://translation.googleapis.com/",
    "schemas": {
        "BatchTranslateTextRequest": {
            "id": "BatchTranslateTextRequest",
            "properties": {
                "glossaries": {
                    "additionalProperties": {
                        "$ref": "TranslateTextGlossaryConfig"
                    },
                    "type": "object"
                },
                "inputConfigs": {
                    "items": {
                        "$ref": "InputConfig"
                    },
                    "type": "array"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "models": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "outputConfig": {
                    "$ref": "OutputConfig"
                },
                "sourceLanguageCode": {
                    "type": "string"
                },
                "targetLanguageCodes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "DetectLanguageRequest": {
            "id": "DetectLanguageRequest",
            "properties": {
                "content": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "mimeType": {
                    "type": "string"
                },
                "model": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DetectLanguageResponse": {
            "id": "DetectLanguageResponse",
            "properties": {
                "languages": {
                    "items": {
                        "$ref": "DetectedLanguage"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DetectedLanguage": {
            "id": "DetectedLanguage",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "GcsDestination": {
            "id": "GcsDestination",
            "properties": {
                "outputUriPrefix": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GcsSource": {
            "id": "GcsSource",
            "properties": {
                "inputUri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Glossary": {
            "id": "Glossary",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "entryCount": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                },
                "inputConfig": {
                    "$ref": "GlossaryInputConfig"
                },
                "languageCodesSet": {
                    "$ref": "LanguageCodesSet"
                },
                "languagePair": {
                    "$ref": "LanguageCodePair"
                },
                "name": {
                    "type": "string"
                },
                "submitTime": {
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GlossaryInputConfig": {
            "id": "GlossaryInputConfig",
            "properties": {
                "gcsSource": {
                    "$ref": "GcsSource"
                }
            },
            "type": "object"
        },
        "InputConfig": {
            "id": "InputConfig",
            "properties": {
                "gcsSource": {
                    "$ref": "GcsSource"
                },
                "mimeType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LanguageCodePair": {
            "id": "LanguageCodePair",
            "properties": {
                "sourceLanguageCode": {
                    "type": "string"
                },
                "targetLanguageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LanguageCodesSet": {
            "id": "LanguageCodesSet",
            "properties": {
                "languageCodes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListGlossariesResponse": {
            "id": "ListGlossariesResponse",
            "properties": {
                "glossaries": {
                    "items": {
                        "$ref": "Glossary"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "operations": {
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Location": {
            "id": "Location",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "locationId": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "id": "Operation",
            "properties": {
                "done": {
                    "type": "boolean"
                },
                "error": {
                    "$ref": "Status"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "response": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OutputConfig": {
            "id": "OutputConfig",
            "properties": {
                "gcsDestination": {
                    "$ref": "GcsDestination"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SupportedLanguage": {
            "id": "SupportedLanguage",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                },
                "supportSource": {
                    "type": "boolean"
                },
                "supportTarget": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "SupportedLanguages": {
            "id": "SupportedLanguages",
            "properties": {
                "languages": {
                    "items": {
                        "$ref": "SupportedLanguage"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TranslateTextGlossaryConfig": {
            "id": "TranslateTextGlossaryConfig",
            "properties": {
                "glossary": {
                    "type": "string"
                },
                "ignoreCase": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "TranslateTextRequest": {
            "id": "TranslateTextRequest",
            "properties": {
                "contents": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "glossaryConfig": {
                    "$ref": "TranslateTextGlossaryConfig"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "mimeType": {
                    "type": "string"
                },
                "model": {
                    "type": "string"
                },
                "sourceLanguageCode": {
                    "type": "string"
                },
                "targetLanguageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TranslateTextResponse": {
            "id": "TranslateTextResponse",
            "properties": {
                "glossaryTranslations": {
                    "items": {
                        "$ref": "Translation"
                    },
                    "type": "array"
                },
                "translations": {
                    "items": {
                        "$ref": "Translation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Translation": {
            "id": "Translation",
            "properties": {
                "detectedLanguageCode": {
                    "type": "string"
                },
                "glossaryConfig": {
                    "$ref": "TranslateTextGlossaryConfig"
                },
                "model": {
                    "type": "string"
                },
                "translatedText": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WaitOperationRequest": {
            "id": "WaitOperationRequest",
            "properties": {
                "timeout": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Cloud Translation API",
    "version": "v3",
    "version_module": true
}