{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/ediscovery": {},
                "https://www.googleapis.com/auth/ediscovery.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://vault.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Vault",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/vault",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "vault:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://vault.mtls.googleapis.com/",
    "name": "vault",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "matters": {
            "methods": {
                "addPermissions": {
                    "flatPath": "v1/matters/{matterId}:addPermissions",
                    "httpMethod": "POST",
                    "id": "vault.matters.addPermissions",
                    "parameterOrder": [
                        "matterId"
                    ],
                    "parameters": {
                        "matterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/matters/{matterId}:addPermissions",
                    "request": {
                        "$ref": "AddMatterPermissionsRequest"
                    },
                    "response": {
                        "$ref": "MatterPermission"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery"
                    ]
                },
                "close": {
                    "flatPath": "v1/matters/{matterId}:close",
                    "httpMethod": "POST",
                    "id": "vault.matters.close",
                    "parameterOrder": [
                        "matterId"
                    ],
                    "parameters": {
                        "matterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/matters/{matterId}:close",
                    "request": {
                        "$ref": "CloseMatterRequest"
                    },
                    "response": {
                        "$ref": "CloseMatterResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery"
                    ]
                },
                "create": {
                    "flatPath": "v1/matters",
                    "httpMethod": "POST",
                    "id": "vault.matters.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/matters",
                    "request": {
                        "$ref": "Matter"
                    },
                    "response": {
                        "$ref": "Matter"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery"
                    ]
                },
                "delete": {
                    "flatPath": "v1/matters/{matterId}",
                    "httpMethod": "DELETE",
                    "id": "vault.matters.delete",
                    "parameterOrder": [
                        "matterId"
                    ],
                    "parameters": {
                        "matterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/matters/{matterId}",
                    "response": {
                        "$ref": "Matter"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery"
                    ]
                },
                "get": {
                    "flatPath": "v1/matters/{matterId}",
                    "httpMethod": "GET",
                    "id": "vault.matters.get",
                    "parameterOrder": [
                        "matterId"
                    ],
                    "parameters": {
                        "matterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/matters/{matterId}",
                    "response": {
                        "$ref": "Matter"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery",
                        "https://www.googleapis.com/auth/ediscovery.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v1/matters",
                    "httpMethod": "GET",
                    "id": "vault.matters.list",
                    "parameterOrder": [],
                    "parameters": {
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "state": {
                            "enum": [
                                "STATE_UNSPECIFIED",
                                "OPEN",
                                "CLOSED",
                                "DELETED"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/matters",
                    "response": {
                        "$ref": "ListMattersResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery",
                        "https://www.googleapis.com/auth/ediscovery.readonly"
                    ]
                },
                "removePermissions": {
                    "flatPath": "v1/matters/{matterId}:removePermissions",
                    "httpMethod": "POST",
                    "id": "vault.matters.removePermissions",
                    "parameterOrder": [
                        "matterId"
                    ],
                    "parameters": {
                        "matterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/matters/{matterId}:removePermissions",
                    "request": {
                        "$ref": "RemoveMatterPermissionsRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery"
                    ]
                },
                "reopen": {
                    "flatPath": "v1/matters/{matterId}:reopen",
                    "httpMethod": "POST",
                    "id": "vault.matters.reopen",
                    "parameterOrder": [
                        "matterId"
                    ],
                    "parameters": {
                        "matterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/matters/{matterId}:reopen",
                    "request": {
                        "$ref": "ReopenMatterRequest"
                    },
                    "response": {
                        "$ref": "ReopenMatterResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery"
                    ]
                },
                "undelete": {
                    "flatPath": "v1/matters/{matterId}:undelete",
                    "httpMethod": "POST",
                    "id": "vault.matters.undelete",
                    "parameterOrder": [
                        "matterId"
                    ],
                    "parameters": {
                        "matterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/matters/{matterId}:undelete",
                    "request": {
                        "$ref": "UndeleteMatterRequest"
                    },
                    "response": {
                        "$ref": "Matter"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery"
                    ]
                },
                "update": {
                    "flatPath": "v1/matters/{matterId}",
                    "httpMethod": "PUT",
                    "id": "vault.matters.update",
                    "parameterOrder": [
                        "matterId"
                    ],
                    "parameters": {
                        "matterId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/matters/{matterId}",
                    "request": {
                        "$ref": "Matter"
                    },
                    "response": {
                        "$ref": "Matter"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/ediscovery"
                    ]
                }
            },
            "resources": {
                "exports": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/matters/{matterId}/exports",
                            "httpMethod": "POST",
                            "id": "vault.matters.exports.create",
                            "parameterOrder": [
                                "matterId"
                            ],
                            "parameters": {
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/exports",
                            "request": {
                                "$ref": "Export"
                            },
                            "response": {
                                "$ref": "Export"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/matters/{matterId}/exports/{exportId}",
                            "httpMethod": "DELETE",
                            "id": "vault.matters.exports.delete",
                            "parameterOrder": [
                                "matterId",
                                "exportId"
                            ],
                            "parameters": {
                                "exportId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/exports/{exportId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/matters/{matterId}/exports/{exportId}",
                            "httpMethod": "GET",
                            "id": "vault.matters.exports.get",
                            "parameterOrder": [
                                "matterId",
                                "exportId"
                            ],
                            "parameters": {
                                "exportId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/exports/{exportId}",
                            "response": {
                                "$ref": "Export"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery",
                                "https://www.googleapis.com/auth/ediscovery.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/matters/{matterId}/exports",
                            "httpMethod": "GET",
                            "id": "vault.matters.exports.list",
                            "parameterOrder": [
                                "matterId"
                            ],
                            "parameters": {
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/exports",
                            "response": {
                                "$ref": "ListExportsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery",
                                "https://www.googleapis.com/auth/ediscovery.readonly"
                            ]
                        }
                    }
                },
                "holds": {
                    "methods": {
                        "addHeldAccounts": {
                            "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
                            "httpMethod": "POST",
                            "id": "vault.matters.holds.addHeldAccounts",
                            "parameterOrder": [
                                "matterId",
                                "holdId"
                            ],
                            "parameters": {
                                "holdId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
                            "request": {
                                "$ref": "AddHeldAccountsRequest"
                            },
                            "response": {
                                "$ref": "AddHeldAccountsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery"
                            ]
                        },
                        "create": {
                            "flatPath": "v1/matters/{matterId}/holds",
                            "httpMethod": "POST",
                            "id": "vault.matters.holds.create",
                            "parameterOrder": [
                                "matterId"
                            ],
                            "parameters": {
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/holds",
                            "request": {
                                "$ref": "Hold"
                            },
                            "response": {
                                "$ref": "Hold"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/matters/{matterId}/holds/{holdId}",
                            "httpMethod": "DELETE",
                            "id": "vault.matters.holds.delete",
                            "parameterOrder": [
                                "matterId",
                                "holdId"
                            ],
                            "parameters": {
                                "holdId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/holds/{holdId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/matters/{matterId}/holds/{holdId}",
                            "httpMethod": "GET",
                            "id": "vault.matters.holds.get",
                            "parameterOrder": [
                                "matterId",
                                "holdId"
                            ],
                            "parameters": {
                                "holdId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "HOLD_VIEW_UNSPECIFIED",
                                        "BASIC_HOLD",
                                        "FULL_HOLD"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/holds/{holdId}",
                            "response": {
                                "$ref": "Hold"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery",
                                "https://www.googleapis.com/auth/ediscovery.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/matters/{matterId}/holds",
                            "httpMethod": "GET",
                            "id": "vault.matters.holds.list",
                            "parameterOrder": [
                                "matterId"
                            ],
                            "parameters": {
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "view": {
                                    "enum": [
                                        "HOLD_VIEW_UNSPECIFIED",
                                        "BASIC_HOLD",
                                        "FULL_HOLD"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/holds",
                            "response": {
                                "$ref": "ListHoldsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery",
                                "https://www.googleapis.com/auth/ediscovery.readonly"
                            ]
                        },
                        "removeHeldAccounts": {
                            "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
                            "httpMethod": "POST",
                            "id": "vault.matters.holds.removeHeldAccounts",
                            "parameterOrder": [
                                "matterId",
                                "holdId"
                            ],
                            "parameters": {
                                "holdId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
                            "request": {
                                "$ref": "RemoveHeldAccountsRequest"
                            },
                            "response": {
                                "$ref": "RemoveHeldAccountsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery"
                            ]
                        },
                        "update": {
                            "flatPath": "v1/matters/{matterId}/holds/{holdId}",
                            "httpMethod": "PUT",
                            "id": "vault.matters.holds.update",
                            "parameterOrder": [
                                "matterId",
                                "holdId"
                            ],
                            "parameters": {
                                "holdId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/holds/{holdId}",
                            "request": {
                                "$ref": "Hold"
                            },
                            "response": {
                                "$ref": "Hold"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery"
                            ]
                        }
                    },
                    "resources": {
                        "accounts": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                                    "httpMethod": "POST",
                                    "id": "vault.matters.holds.accounts.create",
                                    "parameterOrder": [
                                        "matterId",
                                        "holdId"
                                    ],
                                    "parameters": {
                                        "holdId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "matterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                                    "request": {
                                        "$ref": "HeldAccount"
                                    },
                                    "response": {
                                        "$ref": "HeldAccount"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/ediscovery"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                                    "httpMethod": "DELETE",
                                    "id": "vault.matters.holds.accounts.delete",
                                    "parameterOrder": [
                                        "matterId",
                                        "holdId",
                                        "accountId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "holdId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "matterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/ediscovery"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                                    "httpMethod": "GET",
                                    "id": "vault.matters.holds.accounts.list",
                                    "parameterOrder": [
                                        "matterId",
                                        "holdId"
                                    ],
                                    "parameters": {
                                        "holdId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "matterId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                                    "response": {
                                        "$ref": "ListHeldAccountsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/ediscovery",
                                        "https://www.googleapis.com/auth/ediscovery.readonly"
                                    ]
                                }
                            }
                        }
                    }
                },
                "savedQueries": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/matters/{matterId}/savedQueries",
                            "httpMethod": "POST",
                            "id": "vault.matters.savedQueries.create",
                            "parameterOrder": [
                                "matterId"
                            ],
                            "parameters": {
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/savedQueries",
                            "request": {
                                "$ref": "SavedQuery"
                            },
                            "response": {
                                "$ref": "SavedQuery"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
                            "httpMethod": "DELETE",
                            "id": "vault.matters.savedQueries.delete",
                            "parameterOrder": [
                                "matterId",
                                "savedQueryId"
                            ],
                            "parameters": {
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "savedQueryId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
                            "httpMethod": "GET",
                            "id": "vault.matters.savedQueries.get",
                            "parameterOrder": [
                                "matterId",
                                "savedQueryId"
                            ],
                            "parameters": {
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "savedQueryId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
                            "response": {
                                "$ref": "SavedQuery"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery",
                                "https://www.googleapis.com/auth/ediscovery.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/matters/{matterId}/savedQueries",
                            "httpMethod": "GET",
                            "id": "vault.matters.savedQueries.list",
                            "parameterOrder": [
                                "matterId"
                            ],
                            "parameters": {
                                "matterId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/matters/{matterId}/savedQueries",
                            "response": {
                                "$ref": "ListSavedQueriesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/ediscovery",
                                "https://www.googleapis.com/auth/ediscovery.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "operations": {
            "methods": {
                "delete": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "DELETE",
                    "id": "vault.operations.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    }
                }
            }
        }
    },
    "rootUrl": "https://vault.googleapis.com/",
    "schemas": {
        "AccountInfo": {
            "id": "AccountInfo",
            "properties": {
                "emails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AddHeldAccountResult": {
            "id": "AddHeldAccountResult",
            "properties": {
                "account": {
                    "$ref": "HeldAccount"
                },
                "status": {
                    "$ref": "Status"
                }
            },
            "type": "object"
        },
        "AddHeldAccountsRequest": {
            "id": "AddHeldAccountsRequest",
            "properties": {
                "accountIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "emails": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AddHeldAccountsResponse": {
            "id": "AddHeldAccountsResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "AddHeldAccountResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AddMatterPermissionsRequest": {
            "id": "AddMatterPermissionsRequest",
            "properties": {
                "ccMe": {
                    "type": "boolean"
                },
                "matterPermission": {
                    "$ref": "MatterPermission"
                },
                "sendEmails": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CloseMatterRequest": {
            "id": "CloseMatterRequest",
            "properties": {},
            "type": "object"
        },
        "CloseMatterResponse": {
            "id": "CloseMatterResponse",
            "properties": {
                "matter": {
                    "$ref": "Matter"
                }
            },
            "type": "object"
        },
        "CloudStorageFile": {
            "id": "CloudStorageFile",
            "properties": {
                "bucketName": {
                    "type": "string"
                },
                "md5Hash": {
                    "type": "string"
                },
                "objectName": {
                    "type": "string"
                },
                "size": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloudStorageSink": {
            "id": "CloudStorageSink",
            "properties": {
                "files": {
                    "items": {
                        "$ref": "CloudStorageFile"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CorpusQuery": {
            "id": "CorpusQuery",
            "properties": {
                "driveQuery": {
                    "$ref": "HeldDriveQuery"
                },
                "groupsQuery": {
                    "$ref": "HeldGroupsQuery"
                },
                "hangoutsChatQuery": {
                    "$ref": "HeldHangoutsChatQuery"
                },
                "mailQuery": {
                    "$ref": "HeldMailQuery"
                }
            },
            "type": "object"
        },
        "DriveExportOptions": {
            "id": "DriveExportOptions",
            "properties": {
                "includeAccessInfo": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DriveOptions": {
            "id": "DriveOptions",
            "properties": {
                "includeSharedDrives": {
                    "type": "boolean"
                },
                "includeTeamDrives": {
                    "type": "boolean"
                },
                "versionDate": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Export": {
            "id": "Export",
            "properties": {
                "cloudStorageSink": {
                    "$ref": "CloudStorageSink"
                },
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "exportOptions": {
                    "$ref": "ExportOptions"
                },
                "id": {
                    "type": "string"
                },
                "matterId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "query": {
                    "$ref": "Query"
                },
                "requester": {
                    "$ref": "UserInfo"
                },
                "stats": {
                    "$ref": "ExportStats"
                },
                "status": {
                    "enum": [
                        "EXPORT_STATUS_UNSPECIFIED",
                        "COMPLETED",
                        "FAILED",
                        "IN_PROGRESS"
                    ],
                    "enumDescriptions": [
                        "The status is unspecified.",
                        "The export completed.",
                        "The export failed.",
                        "The export is still being executed."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExportOptions": {
            "id": "ExportOptions",
            "properties": {
                "driveOptions": {
                    "$ref": "DriveExportOptions"
                },
                "groupsOptions": {
                    "$ref": "GroupsExportOptions"
                },
                "hangoutsChatOptions": {
                    "$ref": "HangoutsChatExportOptions"
                },
                "mailOptions": {
                    "$ref": "MailExportOptions"
                },
                "region": {
                    "enum": [
                        "EXPORT_REGION_UNSPECIFIED",
                        "ANY",
                        "US",
                        "EUROPE"
                    ],
                    "enumDescriptions": [
                        "The region is unspecified. Will be treated the same as ANY.",
                        "Any region.",
                        "US region.",
                        "Europe region."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExportStats": {
            "id": "ExportStats",
            "properties": {
                "exportedArtifactCount": {
                    "format": "int64",
                    "type": "string"
                },
                "sizeInBytes": {
                    "format": "int64",
                    "type": "string"
                },
                "totalArtifactCount": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GroupsExportOptions": {
            "id": "GroupsExportOptions",
            "properties": {
                "exportFormat": {
                    "enum": [
                        "EXPORT_FORMAT_UNSPECIFIED",
                        "MBOX",
                        "PST"
                    ],
                    "enumDescriptions": [
                        "No export format specified.",
                        "MBOX as export format.",
                        "PST as export format"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HangoutsChatExportOptions": {
            "id": "HangoutsChatExportOptions",
            "properties": {
                "exportFormat": {
                    "enum": [
                        "EXPORT_FORMAT_UNSPECIFIED",
                        "MBOX",
                        "PST"
                    ],
                    "enumDescriptions": [
                        "No export format specified.",
                        "MBOX as export format.",
                        "PST as export format"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HangoutsChatInfo": {
            "id": "HangoutsChatInfo",
            "properties": {
                "roomId": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "HangoutsChatOptions": {
            "id": "HangoutsChatOptions",
            "properties": {
                "includeRooms": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "HeldAccount": {
            "id": "HeldAccount",
            "properties": {
                "accountId": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "holdTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HeldDriveQuery": {
            "id": "HeldDriveQuery",
            "properties": {
                "includeSharedDriveFiles": {
                    "type": "boolean"
                },
                "includeTeamDriveFiles": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "HeldGroupsQuery": {
            "id": "HeldGroupsQuery",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "terms": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HeldHangoutsChatQuery": {
            "id": "HeldHangoutsChatQuery",
            "properties": {
                "includeRooms": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "HeldMailQuery": {
            "id": "HeldMailQuery",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "terms": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HeldOrgUnit": {
            "id": "HeldOrgUnit",
            "properties": {
                "holdTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "orgUnitId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Hold": {
            "id": "Hold",
            "properties": {
                "accounts": {
                    "items": {
                        "$ref": "HeldAccount"
                    },
                    "type": "array"
                },
                "corpus": {
                    "enum": [
                        "CORPUS_TYPE_UNSPECIFIED",
                        "DRIVE",
                        "MAIL",
                        "GROUPS",
                        "HANGOUTS_CHAT"
                    ],
                    "enumDescriptions": [
                        "No corpus specified.",
                        "Drive.",
                        "Mail.",
                        "Groups.",
                        "Hangouts Chat."
                    ],
                    "type": "string"
                },
                "holdId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "orgUnit": {
                    "$ref": "HeldOrgUnit"
                },
                "query": {
                    "$ref": "CorpusQuery"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListExportsResponse": {
            "id": "ListExportsResponse",
            "properties": {
                "exports": {
                    "items": {
                        "$ref": "Export"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListHeldAccountsResponse": {
            "id": "ListHeldAccountsResponse",
            "properties": {
                "accounts": {
                    "items": {
                        "$ref": "HeldAccount"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListHoldsResponse": {
            "id": "ListHoldsResponse",
            "properties": {
                "holds": {
                    "items": {
                        "$ref": "Hold"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListMattersResponse": {
            "id": "ListMattersResponse",
            "properties": {
                "matters": {
                    "items": {
                        "$ref": "Matter"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListSavedQueriesResponse": {
            "id": "ListSavedQueriesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "savedQueries": {
                    "items": {
                        "$ref": "SavedQuery"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MailExportOptions": {
            "id": "MailExportOptions",
            "properties": {
                "exportFormat": {
                    "enum": [
                        "EXPORT_FORMAT_UNSPECIFIED",
                        "MBOX",
                        "PST"
                    ],
                    "enumDescriptions": [
                        "No export format specified.",
                        "MBOX as export format.",
                        "PST as export format"
                    ],
                    "type": "string"
                },
                "showConfidentialModeContent": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "MailOptions": {
            "id": "MailOptions",
            "properties": {
                "excludeDrafts": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Matter": {
            "id": "Matter",
            "properties": {
                "matterId": {
                    "type": "string"
                },
                "matterPermissions": {
                    "items": {
                        "$ref": "MatterPermission"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "DELETED"
                    ],
                    "enumDescriptions": [
                        "The matter has no specified state.",
                        "This matter is open.",
                        "This matter is closed.",
                        "This matter is deleted."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MatterPermission": {
            "id": "MatterPermission",
            "properties": {
                "accountId": {
                    "type": "string"
                },
                "role": {
                    "enum": [
                        "ROLE_UNSPECIFIED",
                        "COLLABORATOR",
                        "OWNER"
                    ],
                    "enumDescriptions": [
                        "No role assigned.",
                        "A collaborator to the matter.",
                        "The owner of the matter."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OrgUnitInfo": {
            "id": "OrgUnitInfo",
            "properties": {
                "orgUnitId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Query": {
            "id": "Query",
            "properties": {
                "accountInfo": {
                    "$ref": "AccountInfo"
                },
                "corpus": {
                    "enum": [
                        "CORPUS_TYPE_UNSPECIFIED",
                        "DRIVE",
                        "MAIL",
                        "GROUPS",
                        "HANGOUTS_CHAT"
                    ],
                    "enumDescriptions": [
                        "No corpus specified.",
                        "Drive.",
                        "Mail.",
                        "Groups.",
                        "Hangouts Chat."
                    ],
                    "type": "string"
                },
                "dataScope": {
                    "enum": [
                        "DATA_SCOPE_UNSPECIFIED",
                        "ALL_DATA",
                        "HELD_DATA",
                        "UNPROCESSED_DATA"
                    ],
                    "enumDescriptions": [
                        "No data scope specified.",
                        "All available data.",
                        "Data on hold.",
                        "Data not processed."
                    ],
                    "type": "string"
                },
                "driveOptions": {
                    "$ref": "DriveOptions"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "hangoutsChatInfo": {
                    "$ref": "HangoutsChatInfo"
                },
                "hangoutsChatOptions": {
                    "$ref": "HangoutsChatOptions"
                },
                "mailOptions": {
                    "$ref": "MailOptions"
                },
                "method": {
                    "enum": [
                        "SEARCH_METHOD_UNSPECIFIED",
                        "ACCOUNT",
                        "ORG_UNIT",
                        "TEAM_DRIVE",
                        "ENTIRE_ORG",
                        "ROOM",
                        "SHARED_DRIVE"
                    ],
                    "enumDescriptions": [
                        "A search method must be specified. If a request does not specify a\nsearch method, it will be rejected.",
                        "Will search all accounts provided in account_info.",
                        "Will search all accounts in the OU specified in org_unit_info.",
                        "Will search for all accounts in the Team Drive specified in\nteam_drive_info.",
                        "Will search for all accounts in the organization.\nNo need to set account_info or org_unit_info.",
                        "Will search in the Room specified in\nhangout_chats_info. (read-only)",
                        "Will search for all accounts in the shared drive specified in\nshared_drive_info."
                    ],
                    "type": "string"
                },
                "orgUnitInfo": {
                    "$ref": "OrgUnitInfo"
                },
                "searchMethod": {
                    "enum": [
                        "SEARCH_METHOD_UNSPECIFIED",
                        "ACCOUNT",
                        "ORG_UNIT",
                        "TEAM_DRIVE",
                        "ENTIRE_ORG",
                        "ROOM",
                        "SHARED_DRIVE"
                    ],
                    "enumDescriptions": [
                        "A search method must be specified. If a request does not specify a\nsearch method, it will be rejected.",
                        "Will search all accounts provided in account_info.",
                        "Will search all accounts in the OU specified in org_unit_info.",
                        "Will search for all accounts in the Team Drive specified in\nteam_drive_info.",
                        "Will search for all accounts in the organization.\nNo need to set account_info or org_unit_info.",
                        "Will search in the Room specified in\nhangout_chats_info. (read-only)",
                        "Will search for all accounts in the shared drive specified in\nshared_drive_info."
                    ],
                    "type": "string"
                },
                "sharedDriveInfo": {
                    "$ref": "SharedDriveInfo"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "teamDriveInfo": {
                    "$ref": "TeamDriveInfo"
                },
                "terms": {
                    "type": "string"
                },
                "timeZone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RemoveHeldAccountsRequest": {
            "id": "RemoveHeldAccountsRequest",
            "properties": {
                "accountIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RemoveHeldAccountsResponse": {
            "id": "RemoveHeldAccountsResponse",
            "properties": {
                "statuses": {
                    "items": {
                        "$ref": "Status"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RemoveMatterPermissionsRequest": {
            "id": "RemoveMatterPermissionsRequest",
            "properties": {
                "accountId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReopenMatterRequest": {
            "id": "ReopenMatterRequest",
            "properties": {},
            "type": "object"
        },
        "ReopenMatterResponse": {
            "id": "ReopenMatterResponse",
            "properties": {
                "matter": {
                    "$ref": "Matter"
                }
            },
            "type": "object"
        },
        "SavedQuery": {
            "id": "SavedQuery",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "matterId": {
                    "type": "string"
                },
                "query": {
                    "$ref": "Query"
                },
                "savedQueryId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SharedDriveInfo": {
            "id": "SharedDriveInfo",
            "properties": {
                "sharedDriveIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TeamDriveInfo": {
            "id": "TeamDriveInfo",
            "properties": {
                "teamDriveIds": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UndeleteMatterRequest": {
            "id": "UndeleteMatterRequest",
            "properties": {},
            "type": "object"
        },
        "UserInfo": {
            "id": "UserInfo",
            "properties": {
                "displayName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "G Suite Vault API",
    "version": "v1",
    "version_module": true
}