{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://videointelligence.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Video Intelligence",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "videointelligence:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://videointelligence.mtls.googleapis.com/",
    "name": "videointelligence",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "operations": {
            "resources": {
                "projects": {
                    "resources": {
                        "locations": {
                            "resources": {
                                "operations": {
                                    "methods": {
                                        "cancel": {
                                            "flatPath": "v1/operations/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                            "httpMethod": "POST",
                                            "id": "videointelligence.operations.projects.locations.operations.cancel",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/operations/{+name}:cancel",
                                            "response": {
                                                "$ref": "GoogleProtobuf_Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/operations/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                            "httpMethod": "DELETE",
                                            "id": "videointelligence.operations.projects.locations.operations.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/operations/{+name}",
                                            "response": {
                                                "$ref": "GoogleProtobuf_Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/operations/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                            "httpMethod": "GET",
                                            "id": "videointelligence.operations.projects.locations.operations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/operations/{+name}",
                                            "response": {
                                                "$ref": "GoogleLongrunning_Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "projects": {
            "resources": {
                "locations": {
                    "resources": {
                        "corpura": {
                            "resources": {
                                "operations": {
                                    "methods": {
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/corpura/{corpuraId}/operations/{operationsId}",
                                            "httpMethod": "GET",
                                            "id": "videointelligence.projects.locations.corpura.operations.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/corpura/[^/]+/operations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleLongrunning_Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "cancel": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                                    "httpMethod": "POST",
                                    "id": "videointelligence.projects.locations.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "request": {
                                        "$ref": "GoogleLongrunning_CancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "GoogleProtobuf_Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "DELETE",
                                    "id": "videointelligence.projects.locations.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobuf_Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "videointelligence.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleLongrunning_Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "videointelligence.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}/operations",
                                    "response": {
                                        "$ref": "GoogleLongrunning_ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "videos": {
            "methods": {
                "annotate": {
                    "flatPath": "v1/videos:annotate",
                    "httpMethod": "POST",
                    "id": "videointelligence.videos.annotate",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/videos:annotate",
                    "request": {
                        "$ref": "GoogleCloudVideointelligenceV1_AnnotateVideoRequest"
                    },
                    "response": {
                        "$ref": "GoogleLongrunning_Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://videointelligence.googleapis.com/",
    "schemas": {
        "GoogleCloudVideointelligenceV1_AnnotateVideoProgress": {
            "id": "GoogleCloudVideointelligenceV1_AnnotateVideoProgress",
            "properties": {
                "annotationProgress": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_AnnotateVideoRequest": {
            "id": "GoogleCloudVideointelligenceV1_AnnotateVideoRequest",
            "properties": {
                "features": {
                    "items": {
                        "enum": [
                            "FEATURE_UNSPECIFIED",
                            "LABEL_DETECTION",
                            "SHOT_CHANGE_DETECTION",
                            "EXPLICIT_CONTENT_DETECTION",
                            "SPEECH_TRANSCRIPTION",
                            "TEXT_DETECTION",
                            "OBJECT_TRACKING",
                            "LOGO_RECOGNITION"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "inputContent": {
                    "format": "byte",
                    "type": "string"
                },
                "inputUri": {
                    "type": "string"
                },
                "locationId": {
                    "type": "string"
                },
                "outputUri": {
                    "type": "string"
                },
                "videoContext": {
                    "$ref": "GoogleCloudVideointelligenceV1_VideoContext"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
            "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse",
            "properties": {
                "annotationResults": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_DetectedAttribute": {
            "id": "GoogleCloudVideointelligenceV1_DetectedAttribute",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_DetectedLandmark": {
            "id": "GoogleCloudVideointelligenceV1_DetectedLandmark",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "point": {
                    "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_Entity": {
            "id": "GoogleCloudVideointelligenceV1_Entity",
            "properties": {
                "entityId": {
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation": {
            "id": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
            "properties": {
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_ExplicitContentDetectionConfig": {
            "id": "GoogleCloudVideointelligenceV1_ExplicitContentDetectionConfig",
            "properties": {
                "model": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_ExplicitContentFrame": {
            "id": "GoogleCloudVideointelligenceV1_ExplicitContentFrame",
            "properties": {
                "pornographyLikelihood": {
                    "enum": [
                        "LIKELIHOOD_UNSPECIFIED",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_LabelAnnotation": {
            "id": "GoogleCloudVideointelligenceV1_LabelAnnotation",
            "properties": {
                "categoryEntities": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_Entity"
                    },
                    "type": "array"
                },
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1_Entity"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_LabelFrame"
                    },
                    "type": "array"
                },
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_LabelSegment"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_LabelDetectionConfig": {
            "id": "GoogleCloudVideointelligenceV1_LabelDetectionConfig",
            "properties": {
                "frameConfidenceThreshold": {
                    "format": "float",
                    "type": "number"
                },
                "labelDetectionMode": {
                    "enum": [
                        "LABEL_DETECTION_MODE_UNSPECIFIED",
                        "SHOT_MODE",
                        "FRAME_MODE",
                        "SHOT_AND_FRAME_MODE"
                    ],
                    "type": "string"
                },
                "model": {
                    "type": "string"
                },
                "stationaryCamera": {
                    "type": "boolean"
                },
                "videoConfidenceThreshold": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_LabelFrame": {
            "id": "GoogleCloudVideointelligenceV1_LabelFrame",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_LabelSegment": {
            "id": "GoogleCloudVideointelligenceV1_LabelSegment",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
            "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation",
            "properties": {
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1_Entity"
                },
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
                    },
                    "type": "array"
                },
                "tracks": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_Track"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_NormalizedBoundingBox": {
            "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
            "properties": {
                "bottom": {
                    "format": "float",
                    "type": "number"
                },
                "left": {
                    "format": "float",
                    "type": "number"
                },
                "right": {
                    "format": "float",
                    "type": "number"
                },
                "top": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly": {
            "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly",
            "properties": {
                "vertices": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_NormalizedVertex": {
            "id": "GoogleCloudVideointelligenceV1_NormalizedVertex",
            "properties": {
                "x": {
                    "format": "float",
                    "type": "number"
                },
                "y": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation": {
            "id": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1_Entity"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
                },
                "trackId": {
                    "format": "int64",
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_ObjectTrackingConfig": {
            "id": "GoogleCloudVideointelligenceV1_ObjectTrackingConfig",
            "properties": {
                "model": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
            "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
            "properties": {
                "normalizedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig": {
            "id": "GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig",
            "properties": {
                "model": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_SpeechContext": {
            "id": "GoogleCloudVideointelligenceV1_SpeechContext",
            "properties": {
                "phrases": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative": {
            "id": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative",
            "properties": {
                "confidence": {
                    "format": "float",
                    "readOnly": true,
                    "type": "number"
                },
                "transcript": {
                    "type": "string"
                },
                "words": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_WordInfo"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_SpeechTranscription": {
            "id": "GoogleCloudVideointelligenceV1_SpeechTranscription",
            "properties": {
                "alternatives": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative"
                    },
                    "type": "array"
                },
                "languageCode": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_SpeechTranscriptionConfig": {
            "id": "GoogleCloudVideointelligenceV1_SpeechTranscriptionConfig",
            "properties": {
                "audioTracks": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "diarizationSpeakerCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "enableAutomaticPunctuation": {
                    "type": "boolean"
                },
                "enableSpeakerDiarization": {
                    "type": "boolean"
                },
                "enableWordConfidence": {
                    "type": "boolean"
                },
                "filterProfanity": {
                    "type": "boolean"
                },
                "languageCode": {
                    "type": "string"
                },
                "maxAlternatives": {
                    "format": "int32",
                    "type": "integer"
                },
                "speechContexts": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_SpeechContext"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_TextAnnotation": {
            "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
            "properties": {
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
                    },
                    "type": "array"
                },
                "text": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_TextDetectionConfig": {
            "id": "GoogleCloudVideointelligenceV1_TextDetectionConfig",
            "properties": {
                "languageHints": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "model": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_TextFrame": {
            "id": "GoogleCloudVideointelligenceV1_TextFrame",
            "properties": {
                "rotatedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_TextSegment": {
            "id": "GoogleCloudVideointelligenceV1_TextSegment",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_TextFrame"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_TimestampedObject": {
            "id": "GoogleCloudVideointelligenceV1_TimestampedObject",
            "properties": {
                "attributes": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
                    },
                    "type": "array"
                },
                "landmarks": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_DetectedLandmark"
                    },
                    "type": "array"
                },
                "normalizedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_Track": {
            "id": "GoogleCloudVideointelligenceV1_Track",
            "properties": {
                "attributes": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
                    },
                    "type": "array"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
                },
                "timestampedObjects": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_TimestampedObject"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_VideoAnnotationProgress": {
            "id": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress",
            "properties": {
                "feature": {
                    "enum": [
                        "FEATURE_UNSPECIFIED",
                        "LABEL_DETECTION",
                        "SHOT_CHANGE_DETECTION",
                        "EXPLICIT_CONTENT_DETECTION",
                        "SPEECH_TRANSCRIPTION",
                        "TEXT_DETECTION",
                        "OBJECT_TRACKING",
                        "LOGO_RECOGNITION"
                    ],
                    "type": "string"
                },
                "inputUri": {
                    "type": "string"
                },
                "progressPercent": {
                    "format": "int32",
                    "type": "integer"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_VideoAnnotationResults": {
            "id": "GoogleCloudVideointelligenceV1_VideoAnnotationResults",
            "properties": {
                "error": {
                    "$ref": "GoogleRpc_Status"
                },
                "explicitAnnotation": {
                    "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation"
                },
                "frameLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "inputUri": {
                    "type": "string"
                },
                "logoRecognitionAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
                    },
                    "type": "array"
                },
                "objectAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
                },
                "segmentLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "segmentPresenceLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "shotAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
                    },
                    "type": "array"
                },
                "shotLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "shotPresenceLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "speechTranscriptions": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_SpeechTranscription"
                    },
                    "type": "array"
                },
                "textAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_TextAnnotation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_VideoContext": {
            "id": "GoogleCloudVideointelligenceV1_VideoContext",
            "properties": {
                "explicitContentDetectionConfig": {
                    "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentDetectionConfig"
                },
                "labelDetectionConfig": {
                    "$ref": "GoogleCloudVideointelligenceV1_LabelDetectionConfig"
                },
                "objectTrackingConfig": {
                    "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingConfig"
                },
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
                    },
                    "type": "array"
                },
                "shotChangeDetectionConfig": {
                    "$ref": "GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig"
                },
                "speechTranscriptionConfig": {
                    "$ref": "GoogleCloudVideointelligenceV1_SpeechTranscriptionConfig"
                },
                "textDetectionConfig": {
                    "$ref": "GoogleCloudVideointelligenceV1_TextDetectionConfig"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_VideoSegment": {
            "id": "GoogleCloudVideointelligenceV1_VideoSegment",
            "properties": {
                "endTimeOffset": {
                    "format": "google-duration",
                    "type": "string"
                },
                "startTimeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1_WordInfo": {
            "id": "GoogleCloudVideointelligenceV1_WordInfo",
            "properties": {
                "confidence": {
                    "format": "float",
                    "readOnly": true,
                    "type": "number"
                },
                "endTime": {
                    "format": "google-duration",
                    "type": "string"
                },
                "speakerTag": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                },
                "startTime": {
                    "format": "google-duration",
                    "type": "string"
                },
                "word": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
            "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress",
            "properties": {
                "annotationProgress": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse": {
            "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse",
            "properties": {
                "annotationResults": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_DetectedAttribute": {
            "id": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_DetectedLandmark": {
            "id": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "point": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_Entity": {
            "id": "GoogleCloudVideointelligenceV1beta2_Entity",
            "properties": {
                "entityId": {
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
            "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
            "properties": {
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame": {
            "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame",
            "properties": {
                "pornographyLikelihood": {
                    "enum": [
                        "LIKELIHOOD_UNSPECIFIED",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
            "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
            "properties": {
                "categoryEntities": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
                    },
                    "type": "array"
                },
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
                    },
                    "type": "array"
                },
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_LabelFrame": {
            "id": "GoogleCloudVideointelligenceV1beta2_LabelFrame",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_LabelSegment": {
            "id": "GoogleCloudVideointelligenceV1beta2_LabelSegment",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation": {
            "id": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation",
            "properties": {
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
                },
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
                    },
                    "type": "array"
                },
                "tracks": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox": {
            "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
            "properties": {
                "bottom": {
                    "format": "float",
                    "type": "number"
                },
                "left": {
                    "format": "float",
                    "type": "number"
                },
                "right": {
                    "format": "float",
                    "type": "number"
                },
                "top": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly": {
            "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly",
            "properties": {
                "vertices": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_NormalizedVertex": {
            "id": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex",
            "properties": {
                "x": {
                    "format": "float",
                    "type": "number"
                },
                "y": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation": {
            "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
                },
                "trackId": {
                    "format": "int64",
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame": {
            "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame",
            "properties": {
                "normalizedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative": {
            "id": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative",
            "properties": {
                "confidence": {
                    "format": "float",
                    "readOnly": true,
                    "type": "number"
                },
                "transcript": {
                    "type": "string"
                },
                "words": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_WordInfo"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_SpeechTranscription": {
            "id": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription",
            "properties": {
                "alternatives": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
                    },
                    "type": "array"
                },
                "languageCode": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_TextAnnotation": {
            "id": "GoogleCloudVideointelligenceV1beta2_TextAnnotation",
            "properties": {
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_TextSegment"
                    },
                    "type": "array"
                },
                "text": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_TextFrame": {
            "id": "GoogleCloudVideointelligenceV1beta2_TextFrame",
            "properties": {
                "rotatedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_TextSegment": {
            "id": "GoogleCloudVideointelligenceV1beta2_TextSegment",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_TextFrame"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_TimestampedObject": {
            "id": "GoogleCloudVideointelligenceV1beta2_TimestampedObject",
            "properties": {
                "attributes": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
                    },
                    "type": "array"
                },
                "landmarks": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
                    },
                    "type": "array"
                },
                "normalizedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_Track": {
            "id": "GoogleCloudVideointelligenceV1beta2_Track",
            "properties": {
                "attributes": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
                    },
                    "type": "array"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
                },
                "timestampedObjects": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_TimestampedObject"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
            "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress",
            "properties": {
                "feature": {
                    "enum": [
                        "FEATURE_UNSPECIFIED",
                        "LABEL_DETECTION",
                        "SHOT_CHANGE_DETECTION",
                        "EXPLICIT_CONTENT_DETECTION",
                        "SPEECH_TRANSCRIPTION",
                        "TEXT_DETECTION",
                        "OBJECT_TRACKING",
                        "LOGO_RECOGNITION"
                    ],
                    "type": "string"
                },
                "inputUri": {
                    "type": "string"
                },
                "progressPercent": {
                    "format": "int32",
                    "type": "integer"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults": {
            "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults",
            "properties": {
                "error": {
                    "$ref": "GoogleRpc_Status"
                },
                "explicitAnnotation": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation"
                },
                "frameLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
                    },
                    "type": "array"
                },
                "inputUri": {
                    "type": "string"
                },
                "logoRecognitionAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
                    },
                    "type": "array"
                },
                "objectAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
                },
                "segmentLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
                    },
                    "type": "array"
                },
                "segmentPresenceLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
                    },
                    "type": "array"
                },
                "shotAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
                    },
                    "type": "array"
                },
                "shotLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
                    },
                    "type": "array"
                },
                "shotPresenceLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
                    },
                    "type": "array"
                },
                "speechTranscriptions": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription"
                    },
                    "type": "array"
                },
                "textAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1beta2_TextAnnotation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
            "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
            "properties": {
                "endTimeOffset": {
                    "format": "google-duration",
                    "type": "string"
                },
                "startTimeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1beta2_WordInfo": {
            "id": "GoogleCloudVideointelligenceV1beta2_WordInfo",
            "properties": {
                "confidence": {
                    "format": "float",
                    "readOnly": true,
                    "type": "number"
                },
                "endTime": {
                    "format": "google-duration",
                    "type": "string"
                },
                "speakerTag": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                },
                "startTime": {
                    "format": "google-duration",
                    "type": "string"
                },
                "word": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress",
            "properties": {
                "annotationProgress": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse",
            "properties": {
                "annotationResults": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "point": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_Entity": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_Entity",
            "properties": {
                "entityId": {
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
            "properties": {
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
            "properties": {
                "pornographyLikelihood": {
                    "enum": [
                        "LIKELIHOOD_UNSPECIFIED",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation",
            "properties": {
                "categoryEntities": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
                    },
                    "type": "array"
                },
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
                    },
                    "type": "array"
                },
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_LabelFrame": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_LabelSegment": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation",
            "properties": {
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
                },
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
                    },
                    "type": "array"
                },
                "tracks": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
            "properties": {
                "bottom": {
                    "format": "float",
                    "type": "number"
                },
                "left": {
                    "format": "float",
                    "type": "number"
                },
                "right": {
                    "format": "float",
                    "type": "number"
                },
                "top": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly",
            "properties": {
                "vertices": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex",
            "properties": {
                "x": {
                    "format": "float",
                    "type": "number"
                },
                "y": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
                },
                "trackId": {
                    "format": "int64",
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame",
            "properties": {
                "normalizedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative",
            "properties": {
                "confidence": {
                    "format": "float",
                    "readOnly": true,
                    "type": "number"
                },
                "transcript": {
                    "type": "string"
                },
                "words": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_WordInfo"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription",
            "properties": {
                "alternatives": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative"
                    },
                    "type": "array"
                },
                "languageCode": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation",
            "properties": {
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
                    },
                    "type": "array"
                },
                "text": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_TextFrame": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_TextFrame",
            "properties": {
                "rotatedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_TextSegment": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_TextSegment",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextFrame"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject",
            "properties": {
                "attributes": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
                    },
                    "type": "array"
                },
                "landmarks": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
                    },
                    "type": "array"
                },
                "normalizedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_Track": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_Track",
            "properties": {
                "attributes": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
                    },
                    "type": "array"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
                },
                "timestampedObjects": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
            "properties": {
                "feature": {
                    "enum": [
                        "FEATURE_UNSPECIFIED",
                        "LABEL_DETECTION",
                        "SHOT_CHANGE_DETECTION",
                        "EXPLICIT_CONTENT_DETECTION",
                        "SPEECH_TRANSCRIPTION",
                        "TEXT_DETECTION",
                        "OBJECT_TRACKING",
                        "LOGO_RECOGNITION"
                    ],
                    "type": "string"
                },
                "inputUri": {
                    "type": "string"
                },
                "progressPercent": {
                    "format": "int32",
                    "type": "integer"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "updateTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults",
            "properties": {
                "error": {
                    "$ref": "GoogleRpc_Status"
                },
                "explicitAnnotation": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation"
                },
                "frameLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "inputUri": {
                    "type": "string"
                },
                "logoRecognitionAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation"
                    },
                    "type": "array"
                },
                "objectAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
                },
                "segmentLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "segmentPresenceLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "shotAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
                    },
                    "type": "array"
                },
                "shotLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "shotPresenceLabelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
                    },
                    "type": "array"
                },
                "speechTranscriptions": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
                    },
                    "type": "array"
                },
                "textAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
            "properties": {
                "endTimeOffset": {
                    "format": "google-duration",
                    "type": "string"
                },
                "startTimeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
            "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
            "properties": {
                "confidence": {
                    "format": "float",
                    "readOnly": true,
                    "type": "number"
                },
                "endTime": {
                    "format": "google-duration",
                    "type": "string"
                },
                "speakerTag": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                },
                "startTime": {
                    "format": "google-duration",
                    "type": "string"
                },
                "word": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress",
            "properties": {
                "annotationProgress": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse",
            "properties": {
                "annotationResults": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "point": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_Entity": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_Entity",
            "properties": {
                "entityId": {
                    "type": "string"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation",
            "properties": {
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame",
            "properties": {
                "pornographyLikelihood": {
                    "enum": [
                        "LIKELIHOOD_UNSPECIFIED",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation",
            "properties": {
                "categoryEntities": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
                    },
                    "type": "array"
                },
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
                    },
                    "type": "array"
                },
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment"
                    },
                    "type": "array"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_LabelFrame": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_LabelSegment": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation",
            "properties": {
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
                },
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
                    },
                    "type": "array"
                },
                "tracks": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
            "properties": {
                "bottom": {
                    "format": "float",
                    "type": "number"
                },
                "left": {
                    "format": "float",
                    "type": "number"
                },
                "right": {
                    "format": "float",
                    "type": "number"
                },
                "top": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly",
            "properties": {
                "vertices": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex",
            "properties": {
                "x": {
                    "format": "float",
                    "type": "number"
                },
                "y": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "entity": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
                },
                "trackId": {
                    "format": "int64",
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame",
            "properties": {
                "normalizedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative",
            "properties": {
                "confidence": {
                    "format": "float",
                    "readOnly": true,
                    "type": "number"
                },
                "transcript": {
                    "type": "string"
                },
                "words": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
                    },
                    "readOnly": true,
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription",
            "properties": {
                "alternatives": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative"
                    },
                    "type": "array"
                },
                "languageCode": {
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation",
            "properties": {
                "segments": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextSegment"
                    },
                    "type": "array"
                },
                "text": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_TextFrame": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_TextFrame",
            "properties": {
                "rotatedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_TextSegment": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_TextSegment",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "frames": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextFrame"
                    },
                    "type": "array"
                },
                "segment": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject",
            "properties": {
                "attributes": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
                    },
                    "type": "array"
                },
                "landmarks": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
                    },
                    "type": "array"
                },
                "normalizedBoundingBox": {
                    "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
                },
                "timeOffset": {
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVideointelligenceV1p2beta1_Track": {
            "id": "GoogleCloudVideointelligenceV1p2beta1_Track",
            "properties": {
                "attributes": {
                    "items": {
                        "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
                    },
                    "type": "array"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
[...]
