{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {},
                "https://www.googleapis.com/auth/cloud-vision": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://vision.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Vision",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/vision/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "vision:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://vision.mtls.googleapis.com/",
    "name": "vision",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "files": {
            "methods": {
                "annotate": {
                    "flatPath": "v1/files:annotate",
                    "httpMethod": "POST",
                    "id": "vision.files.annotate",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/files:annotate",
                    "request": {
                        "$ref": "BatchAnnotateFilesRequest"
                    },
                    "response": {
                        "$ref": "BatchAnnotateFilesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                    ]
                },
                "asyncBatchAnnotate": {
                    "flatPath": "v1/files:asyncBatchAnnotate",
                    "httpMethod": "POST",
                    "id": "vision.files.asyncBatchAnnotate",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/files:asyncBatchAnnotate",
                    "request": {
                        "$ref": "AsyncBatchAnnotateFilesRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                    ]
                }
            }
        },
        "images": {
            "methods": {
                "annotate": {
                    "flatPath": "v1/images:annotate",
                    "httpMethod": "POST",
                    "id": "vision.images.annotate",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/images:annotate",
                    "request": {
                        "$ref": "BatchAnnotateImagesRequest"
                    },
                    "response": {
                        "$ref": "BatchAnnotateImagesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                    ]
                },
                "asyncBatchAnnotate": {
                    "flatPath": "v1/images:asyncBatchAnnotate",
                    "httpMethod": "POST",
                    "id": "vision.images.asyncBatchAnnotate",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/images:asyncBatchAnnotate",
                    "request": {
                        "$ref": "AsyncBatchAnnotateImagesRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                    ]
                }
            }
        },
        "locations": {
            "resources": {
                "operations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/locations/{locationsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "vision.locations.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^locations/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-vision"
                            ]
                        }
                    }
                }
            }
        },
        "operations": {
            "methods": {
                "cancel": {
                    "flatPath": "v1/operations/{operationsId}:cancel",
                    "httpMethod": "POST",
                    "id": "vision.operations.cancel",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:cancel",
                    "request": {
                        "$ref": "CancelOperationRequest"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                    ]
                },
                "delete": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "DELETE",
                    "id": "vision.operations.delete",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                    ]
                },
                "get": {
                    "flatPath": "v1/operations/{operationsId}",
                    "httpMethod": "GET",
                    "id": "vision.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "location": "path",
                            "pattern": "^operations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                    ]
                },
                "list": {
                    "flatPath": "v1/operations",
                    "httpMethod": "GET",
                    "id": "vision.operations.list",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "filter": {
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "location": "path",
                            "pattern": "^operations$",
                            "required": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                    ]
                }
            }
        },
        "projects": {
            "resources": {
                "files": {
                    "methods": {
                        "annotate": {
                            "flatPath": "v1/projects/{projectsId}/files:annotate",
                            "httpMethod": "POST",
                            "id": "vision.projects.files.annotate",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/files:annotate",
                            "request": {
                                "$ref": "BatchAnnotateFilesRequest"
                            },
                            "response": {
                                "$ref": "BatchAnnotateFilesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-vision"
                            ]
                        },
                        "asyncBatchAnnotate": {
                            "flatPath": "v1/projects/{projectsId}/files:asyncBatchAnnotate",
                            "httpMethod": "POST",
                            "id": "vision.projects.files.asyncBatchAnnotate",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/files:asyncBatchAnnotate",
                            "request": {
                                "$ref": "AsyncBatchAnnotateFilesRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-vision"
                            ]
                        }
                    }
                },
                "images": {
                    "methods": {
                        "annotate": {
                            "flatPath": "v1/projects/{projectsId}/images:annotate",
                            "httpMethod": "POST",
                            "id": "vision.projects.images.annotate",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/images:annotate",
                            "request": {
                                "$ref": "BatchAnnotateImagesRequest"
                            },
                            "response": {
                                "$ref": "BatchAnnotateImagesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-vision"
                            ]
                        },
                        "asyncBatchAnnotate": {
                            "flatPath": "v1/projects/{projectsId}/images:asyncBatchAnnotate",
                            "httpMethod": "POST",
                            "id": "vision.projects.images.asyncBatchAnnotate",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/images:asyncBatchAnnotate",
                            "request": {
                                "$ref": "AsyncBatchAnnotateImagesRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-vision"
                            ]
                        }
                    }
                },
                "locations": {
                    "resources": {
                        "files": {
                            "methods": {
                                "annotate": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/files:annotate",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.files.annotate",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/files:annotate",
                                    "request": {
                                        "$ref": "BatchAnnotateFilesRequest"
                                    },
                                    "response": {
                                        "$ref": "BatchAnnotateFilesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "asyncBatchAnnotate": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/files:asyncBatchAnnotate",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.files.asyncBatchAnnotate",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/files:asyncBatchAnnotate",
                                    "request": {
                                        "$ref": "AsyncBatchAnnotateFilesRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                }
                            }
                        },
                        "images": {
                            "methods": {
                                "annotate": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/images:annotate",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.images.annotate",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/images:annotate",
                                    "request": {
                                        "$ref": "BatchAnnotateImagesRequest"
                                    },
                                    "response": {
                                        "$ref": "BatchAnnotateImagesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "asyncBatchAnnotate": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/images:asyncBatchAnnotate",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.images.asyncBatchAnnotate",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/images:asyncBatchAnnotate",
                                    "request": {
                                        "$ref": "AsyncBatchAnnotateImagesRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "vision.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                }
                            }
                        },
                        "productSets": {
                            "methods": {
                                "addProduct": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}:addProduct",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.productSets.addProduct",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:addProduct",
                                    "request": {
                                        "$ref": "AddProductToProductSetRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.productSets.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "productSetId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/productSets",
                                    "request": {
                                        "$ref": "ProductSet"
                                    },
                                    "response": {
                                        "$ref": "ProductSet"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                                    "httpMethod": "DELETE",
                                    "id": "vision.projects.locations.productSets.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                                    "httpMethod": "GET",
                                    "id": "vision.projects.locations.productSets.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "ProductSet"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "import": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets:import",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.productSets.import",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/productSets:import",
                                    "request": {
                                        "$ref": "ImportProductSetsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets",
                                    "httpMethod": "GET",
                                    "id": "vision.projects.locations.productSets.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/productSets",
                                    "response": {
                                        "$ref": "ListProductSetsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                                    "httpMethod": "PATCH",
                                    "id": "vision.projects.locations.productSets.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "ProductSet"
                                    },
                                    "response": {
                                        "$ref": "ProductSet"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "removeProduct": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}:removeProduct",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.productSets.removeProduct",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:removeProduct",
                                    "request": {
                                        "$ref": "RemoveProductFromProductSetRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                }
                            },
                            "resources": {
                                "products": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}/products",
                                            "httpMethod": "GET",
                                            "id": "vision.projects.locations.productSets.products.list",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}/products",
                                            "response": {
                                                "$ref": "ListProductsInProductSetResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-vision"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "products": {
                            "methods": {
                                "create": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.products.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "productId": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/products",
                                    "request": {
                                        "$ref": "Product"
                                    },
                                    "response": {
                                        "$ref": "Product"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "delete": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                                    "httpMethod": "DELETE",
                                    "id": "vision.projects.locations.products.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                                    "httpMethod": "GET",
                                    "id": "vision.projects.locations.products.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Product"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products",
                                    "httpMethod": "GET",
                                    "id": "vision.projects.locations.products.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/products",
                                    "response": {
                                        "$ref": "ListProductsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "patch": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                                    "httpMethod": "PATCH",
                                    "id": "vision.projects.locations.products.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "Product"
                                    },
                                    "response": {
                                        "$ref": "Product"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                },
                                "purge": {
                                    "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products:purge",
                                    "httpMethod": "POST",
                                    "id": "vision.projects.locations.products.purge",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/products:purge",
                                    "request": {
                                        "$ref": "PurgeProductsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-vision"
                                    ]
                                }
                            },
                            "resources": {
                                "referenceImages": {
                                    "methods": {
                                        "create": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages",
                                            "httpMethod": "POST",
                                            "id": "vision.projects.locations.products.referenceImages.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "referenceImageId": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/referenceImages",
                                            "request": {
                                                "$ref": "ReferenceImage"
                                            },
                                            "response": {
                                                "$ref": "ReferenceImage"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-vision"
                                            ]
                                        },
                                        "delete": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages/{referenceImagesId}",
                                            "httpMethod": "DELETE",
                                            "id": "vision.projects.locations.products.referenceImages.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/referenceImages/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-vision"
                                            ]
                                        },
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages/{referenceImagesId}",
                                            "httpMethod": "GET",
                                            "id": "vision.projects.locations.products.referenceImages.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/referenceImages/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "ReferenceImage"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-vision"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages",
                                            "httpMethod": "GET",
                                            "id": "vision.projects.locations.products.referenceImages.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/referenceImages",
                                            "response": {
                                                "$ref": "ListReferenceImagesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-vision"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
                            "httpMethod": "GET",
                            "id": "vision.projects.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-vision"
                            ]
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://vision.googleapis.com/",
    "schemas": {
        "AddProductToProductSetRequest": {
            "id": "AddProductToProductSetRequest",
            "properties": {
                "product": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AnnotateFileRequest": {
            "id": "AnnotateFileRequest",
            "properties": {
                "features": {
                    "items": {
                        "$ref": "Feature"
                    },
                    "type": "array"
                },
                "imageContext": {
                    "$ref": "ImageContext"
                },
                "inputConfig": {
                    "$ref": "InputConfig"
                },
                "pages": {
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AnnotateFileResponse": {
            "id": "AnnotateFileResponse",
            "properties": {
                "error": {
                    "$ref": "Status"
                },
                "inputConfig": {
                    "$ref": "InputConfig"
                },
                "responses": {
                    "items": {
                        "$ref": "AnnotateImageResponse"
                    },
                    "type": "array"
                },
                "totalPages": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AnnotateImageRequest": {
            "id": "AnnotateImageRequest",
            "properties": {
                "features": {
                    "items": {
                        "$ref": "Feature"
                    },
                    "type": "array"
                },
                "image": {
                    "$ref": "Image"
                },
                "imageContext": {
                    "$ref": "ImageContext"
                }
            },
            "type": "object"
        },
        "AnnotateImageResponse": {
            "id": "AnnotateImageResponse",
            "properties": {
                "context": {
                    "$ref": "ImageAnnotationContext"
                },
                "cropHintsAnnotation": {
                    "$ref": "CropHintsAnnotation"
                },
                "error": {
                    "$ref": "Status"
                },
                "faceAnnotations": {
                    "items": {
                        "$ref": "FaceAnnotation"
                    },
                    "type": "array"
                },
                "fullTextAnnotation": {
                    "$ref": "TextAnnotation"
                },
                "imagePropertiesAnnotation": {
                    "$ref": "ImageProperties"
                },
                "labelAnnotations": {
                    "items": {
                        "$ref": "EntityAnnotation"
                    },
                    "type": "array"
                },
                "landmarkAnnotations": {
                    "items": {
                        "$ref": "EntityAnnotation"
                    },
                    "type": "array"
                },
                "localizedObjectAnnotations": {
                    "items": {
                        "$ref": "LocalizedObjectAnnotation"
                    },
                    "type": "array"
                },
                "logoAnnotations": {
                    "items": {
                        "$ref": "EntityAnnotation"
                    },
                    "type": "array"
                },
                "productSearchResults": {
                    "$ref": "ProductSearchResults"
                },
                "safeSearchAnnotation": {
                    "$ref": "SafeSearchAnnotation"
                },
                "textAnnotations": {
                    "items": {
                        "$ref": "EntityAnnotation"
                    },
                    "type": "array"
                },
                "webDetection": {
                    "$ref": "WebDetection"
                }
            },
            "type": "object"
        },
        "AsyncAnnotateFileRequest": {
            "id": "AsyncAnnotateFileRequest",
            "properties": {
                "features": {
                    "items": {
                        "$ref": "Feature"
                    },
                    "type": "array"
                },
                "imageContext": {
                    "$ref": "ImageContext"
                },
                "inputConfig": {
                    "$ref": "InputConfig"
                },
                "outputConfig": {
                    "$ref": "OutputConfig"
                }
            },
            "type": "object"
        },
        "AsyncAnnotateFileResponse": {
            "id": "AsyncAnnotateFileResponse",
            "properties": {
                "outputConfig": {
                    "$ref": "OutputConfig"
                }
            },
            "type": "object"
        },
        "AsyncBatchAnnotateFilesRequest": {
            "id": "AsyncBatchAnnotateFilesRequest",
            "properties": {
                "parent": {
                    "type": "string"
                },
                "requests": {
                    "items": {
                        "$ref": "AsyncAnnotateFileRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AsyncBatchAnnotateFilesResponse": {
            "id": "AsyncBatchAnnotateFilesResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "AsyncAnnotateFileResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AsyncBatchAnnotateImagesRequest": {
            "id": "AsyncBatchAnnotateImagesRequest",
            "properties": {
                "outputConfig": {
                    "$ref": "OutputConfig"
                },
                "parent": {
                    "type": "string"
                },
                "requests": {
                    "items": {
                        "$ref": "AnnotateImageRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AsyncBatchAnnotateImagesResponse": {
            "id": "AsyncBatchAnnotateImagesResponse",
            "properties": {
                "outputConfig": {
                    "$ref": "OutputConfig"
                }
            },
            "type": "object"
        },
        "BatchAnnotateFilesRequest": {
            "id": "BatchAnnotateFilesRequest",
            "properties": {
                "parent": {
                    "type": "string"
                },
                "requests": {
                    "items": {
                        "$ref": "AnnotateFileRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchAnnotateFilesResponse": {
            "id": "BatchAnnotateFilesResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "AnnotateFileResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchAnnotateImagesRequest": {
            "id": "BatchAnnotateImagesRequest",
            "properties": {
                "parent": {
                    "type": "string"
                },
                "requests": {
                    "items": {
                        "$ref": "AnnotateImageRequest"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchAnnotateImagesResponse": {
            "id": "BatchAnnotateImagesResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "AnnotateImageResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchOperationMetadata": {
            "id": "BatchOperationMetadata",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "PROCESSING",
                        "SUCCESSFUL",
                        "FAILED",
                        "CANCELLED"
                    ],
                    "type": "string"
                },
                "submitTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Block": {
            "id": "Block",
            "properties": {
                "blockType": {
                    "enum": [
                        "UNKNOWN",
                        "TEXT",
                        "TABLE",
                        "PICTURE",
                        "RULER",
                        "BARCODE"
                    ],
                    "type": "string"
                },
                "boundingBox": {
                    "$ref": "BoundingPoly"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "paragraphs": {
                    "items": {
                        "$ref": "Paragraph"
                    },
                    "type": "array"
                },
                "property": {
                    "$ref": "TextProperty"
                }
            },
            "type": "object"
        },
        "BoundingPoly": {
            "id": "BoundingPoly",
            "properties": {
                "normalizedVertices": {
                    "items": {
                        "$ref": "NormalizedVertex"
                    },
                    "type": "array"
                },
                "vertices": {
                    "items": {
                        "$ref": "Vertex"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "id": "CancelOperationRequest",
            "properties": {},
            "type": "object"
        },
        "Color": {
            "id": "Color",
            "properties": {
                "alpha": {
                    "format": "float",
                    "type": "number"
                },
                "blue": {
                    "format": "float",
                    "type": "number"
                },
                "green": {
                    "format": "float",
                    "type": "number"
                },
                "red": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ColorInfo": {
            "id": "ColorInfo",
            "properties": {
                "color": {
                    "$ref": "Color"
                },
                "pixelFraction": {
                    "format": "float",
                    "type": "number"
                },
                "score": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "CropHint": {
            "id": "CropHint",
            "properties": {
                "boundingPoly": {
                    "$ref": "BoundingPoly"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "importanceFraction": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "CropHintsAnnotation": {
            "id": "CropHintsAnnotation",
            "properties": {
                "cropHints": {
                    "items": {
                        "$ref": "CropHint"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CropHintsParams": {
            "id": "CropHintsParams",
            "properties": {
                "aspectRatios": {
                    "items": {
                        "format": "float",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DetectedBreak": {
            "id": "DetectedBreak",
            "properties": {
                "isPrefix": {
                    "type": "boolean"
                },
                "type": {
                    "enum": [
                        "UNKNOWN",
                        "SPACE",
                        "SURE_SPACE",
                        "EOL_SURE_SPACE",
                        "HYPHEN",
                        "LINE_BREAK"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DetectedLanguage": {
            "id": "DetectedLanguage",
            "properties": {
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "languageCode": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DominantColorsAnnotation": {
            "id": "DominantColorsAnnotation",
            "properties": {
                "colors": {
                    "items": {
                        "$ref": "ColorInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "EntityAnnotation": {
            "id": "EntityAnnotation",
            "properties": {
                "boundingPoly": {
                    "$ref": "BoundingPoly"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "locale": {
                    "type": "string"
                },
                "locations": {
                    "items": {
                        "$ref": "LocationInfo"
                    },
                    "type": "array"
                },
                "mid": {
                    "type": "string"
                },
                "properties": {
                    "items": {
                        "$ref": "Property"
                    },
                    "type": "array"
                },
                "score": {
                    "format": "float",
                    "type": "number"
                },
                "topicality": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "FaceAnnotation": {
            "id": "FaceAnnotation",
            "properties": {
                "angerLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "blurredLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "boundingPoly": {
                    "$ref": "BoundingPoly"
                },
                "detectionConfidence": {
                    "format": "float",
                    "type": "number"
                },
                "fdBoundingPoly": {
                    "$ref": "BoundingPoly"
                },
                "headwearLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "joyLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "landmarkingConfidence": {
                    "format": "float",
                    "type": "number"
                },
                "landmarks": {
                    "items": {
                        "$ref": "Landmark"
                    },
                    "type": "array"
                },
                "panAngle": {
                    "format": "float",
                    "type": "number"
                },
                "rollAngle": {
                    "format": "float",
                    "type": "number"
                },
                "sorrowLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "surpriseLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "tiltAngle": {
                    "format": "float",
                    "type": "number"
                },
                "underExposedLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Feature": {
            "id": "Feature",
            "properties": {
                "maxResults": {
                    "format": "int32",
                    "type": "integer"
                },
                "model": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "FACE_DETECTION",
                        "LANDMARK_DETECTION",
                        "LOGO_DETECTION",
                        "LABEL_DETECTION",
                        "TEXT_DETECTION",
                        "DOCUMENT_TEXT_DETECTION",
                        "SAFE_SEARCH_DETECTION",
                        "IMAGE_PROPERTIES",
                        "CROP_HINTS",
                        "WEB_DETECTION",
                        "PRODUCT_SEARCH",
                        "OBJECT_LOCALIZATION"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GcsDestination": {
            "id": "GcsDestination",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GcsSource": {
            "id": "GcsSource",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1AnnotateFileResponse": {
            "id": "GoogleCloudVisionV1p1beta1AnnotateFileResponse",
            "properties": {
                "error": {
                    "$ref": "Status"
                },
                "inputConfig": {
                    "$ref": "GoogleCloudVisionV1p1beta1InputConfig"
                },
                "responses": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1AnnotateImageResponse"
                    },
                    "type": "array"
                },
                "totalPages": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1AnnotateImageResponse": {
            "id": "GoogleCloudVisionV1p1beta1AnnotateImageResponse",
            "properties": {
                "context": {
                    "$ref": "GoogleCloudVisionV1p1beta1ImageAnnotationContext"
                },
                "cropHintsAnnotation": {
                    "$ref": "GoogleCloudVisionV1p1beta1CropHintsAnnotation"
                },
                "error": {
                    "$ref": "Status"
                },
                "faceAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1FaceAnnotation"
                    },
                    "type": "array"
                },
                "fullTextAnnotation": {
                    "$ref": "GoogleCloudVisionV1p1beta1TextAnnotation"
                },
                "imagePropertiesAnnotation": {
                    "$ref": "GoogleCloudVisionV1p1beta1ImageProperties"
                },
                "labelAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
                    },
                    "type": "array"
                },
                "landmarkAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
                    },
                    "type": "array"
                },
                "localizedObjectAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1LocalizedObjectAnnotation"
                    },
                    "type": "array"
                },
                "logoAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
                    },
                    "type": "array"
                },
                "productSearchResults": {
                    "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResults"
                },
                "safeSearchAnnotation": {
                    "$ref": "GoogleCloudVisionV1p1beta1SafeSearchAnnotation"
                },
                "textAnnotations": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
                    },
                    "type": "array"
                },
                "webDetection": {
                    "$ref": "GoogleCloudVisionV1p1beta1WebDetection"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse": {
            "id": "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse",
            "properties": {
                "outputConfig": {
                    "$ref": "GoogleCloudVisionV1p1beta1OutputConfig"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesResponse": {
            "id": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesResponse",
            "properties": {
                "responses": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1Block": {
            "id": "GoogleCloudVisionV1p1beta1Block",
            "properties": {
                "blockType": {
                    "enum": [
                        "UNKNOWN",
                        "TEXT",
                        "TABLE",
                        "PICTURE",
                        "RULER",
                        "BARCODE"
                    ],
                    "type": "string"
                },
                "boundingBox": {
                    "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "paragraphs": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1Paragraph"
                    },
                    "type": "array"
                },
                "property": {
                    "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1BoundingPoly": {
            "id": "GoogleCloudVisionV1p1beta1BoundingPoly",
            "properties": {
                "normalizedVertices": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1NormalizedVertex"
                    },
                    "type": "array"
                },
                "vertices": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1Vertex"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1ColorInfo": {
            "id": "GoogleCloudVisionV1p1beta1ColorInfo",
            "properties": {
                "color": {
                    "$ref": "Color"
                },
                "pixelFraction": {
                    "format": "float",
                    "type": "number"
                },
                "score": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1CropHint": {
            "id": "GoogleCloudVisionV1p1beta1CropHint",
            "properties": {
                "boundingPoly": {
                    "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "importanceFraction": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1CropHintsAnnotation": {
            "id": "GoogleCloudVisionV1p1beta1CropHintsAnnotation",
            "properties": {
                "cropHints": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1CropHint"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1DominantColorsAnnotation": {
            "id": "GoogleCloudVisionV1p1beta1DominantColorsAnnotation",
            "properties": {
                "colors": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1ColorInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1EntityAnnotation": {
            "id": "GoogleCloudVisionV1p1beta1EntityAnnotation",
            "properties": {
                "boundingPoly": {
                    "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
                },
                "confidence": {
                    "format": "float",
                    "type": "number"
                },
                "locale": {
                    "type": "string"
                },
                "locations": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1LocationInfo"
                    },
                    "type": "array"
                },
                "mid": {
                    "type": "string"
                },
                "properties": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1Property"
                    },
                    "type": "array"
                },
                "score": {
                    "format": "float",
                    "type": "number"
                },
                "topicality": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1FaceAnnotation": {
            "id": "GoogleCloudVisionV1p1beta1FaceAnnotation",
            "properties": {
                "angerLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "blurredLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "boundingPoly": {
                    "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
                },
                "detectionConfidence": {
                    "format": "float",
                    "type": "number"
                },
                "fdBoundingPoly": {
                    "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
                },
                "headwearLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "joyLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "landmarkingConfidence": {
                    "format": "float",
                    "type": "number"
                },
                "landmarks": {
                    "items": {
                        "$ref": "GoogleCloudVisionV1p1beta1FaceAnnotationLandmark"
                    },
                    "type": "array"
                },
                "panAngle": {
                    "format": "float",
                    "type": "number"
                },
                "rollAngle": {
                    "format": "float",
                    "type": "number"
                },
                "sorrowLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "surpriseLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                },
                "tiltAngle": {
                    "format": "float",
                    "type": "number"
                },
                "underExposedLikelihood": {
                    "enum": [
                        "UNKNOWN",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1FaceAnnotationLandmark": {
            "id": "GoogleCloudVisionV1p1beta1FaceAnnotationLandmark",
            "properties": {
                "position": {
                    "$ref": "GoogleCloudVisionV1p1beta1Position"
                },
                "type": {
                    "enum": [
                        "UNKNOWN_LANDMARK",
                        "LEFT_EYE",
                        "RIGHT_EYE",
                        "LEFT_OF_LEFT_EYEBROW",
                        "RIGHT_OF_LEFT_EYEBROW",
                        "LEFT_OF_RIGHT_EYEBROW",
                        "RIGHT_OF_RIGHT_EYEBROW",
                        "MIDPOINT_BETWEEN_EYES",
                        "NOSE_TIP",
                        "UPPER_LIP",
                        "LOWER_LIP",
                        "MOUTH_LEFT",
                        "MOUTH_RIGHT",
                        "MOUTH_CENTER",
                        "NOSE_BOTTOM_RIGHT",
                        "NOSE_BOTTOM_LEFT",
                        "NOSE_BOTTOM_CENTER",
                        "LEFT_EYE_TOP_BOUNDARY",
                        "LEFT_EYE_RIGHT_CORNER",
                        "LEFT_EYE_BOTTOM_BOUNDARY",
                        "LEFT_EYE_LEFT_CORNER",
                        "RIGHT_EYE_TOP_BOUNDARY",
                        "RIGHT_EYE_RIGHT_CORNER",
                        "RIGHT_EYE_BOTTOM_BOUNDARY",
                        "RIGHT_EYE_LEFT_CORNER",
                        "LEFT_EYEBROW_UPPER_MIDPOINT",
                        "RIGHT_EYEBROW_UPPER_MIDPOINT",
                        "LEFT_EAR_TRAGION",
                        "RIGHT_EAR_TRAGION",
                        "LEFT_EYE_PUPIL",
                        "RIGHT_EYE_PUPIL",
                        "FOREHEAD_GLABELLA",
                        "CHIN_GNATHION",
                        "CHIN_LEFT_GONION",
                        "CHIN_RIGHT_GONION"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1GcsDestination": {
            "id": "GoogleCloudVisionV1p1beta1GcsDestination",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1GcsSource": {
            "id": "GoogleCloudVisionV1p1beta1GcsSource",
            "properties": {
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1ImageAnnotationContext": {
            "id": "GoogleCloudVisionV1p1beta1ImageAnnotationContext",
            "properties": {
                "pageNumber": {
                    "format": "int32",
                    "type": "integer"
                },
                "uri": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1ImageProperties": {
            "id": "GoogleCloudVisionV1p1beta1ImageProperties",
            "properties": {
                "dominantColors": {
                    "$ref": "GoogleCloudVisionV1p1beta1DominantColorsAnnotation"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1InputConfig": {
            "id": "GoogleCloudVisionV1p1beta1InputConfig",
            "properties": {
                "content": {
                    "format": "byte",
                    "type": "string"
                },
                "gcsSource": {
                    "$ref": "GoogleCloudVisionV1p1beta1GcsSource"
                },
                "mimeType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1LocalizedObjectAnnotation": {
            "id": "GoogleCloudVisionV1p1beta1LocalizedObjectAnnotation",
            "properties": {
                "boundingPoly": {
                    "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
                },
                "languageCode": {
                    "type": "string"
                },
                "mid": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "score": {
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "GoogleCloudVisionV1p1beta1LocationInfo": {
[...]
