{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/webmasters": {},
                "https://www.googleapis.com/auth/webmasters.readonly": {}
            }
        }
    },
    "basePath": "/webmasters/v3/",
    "baseUrl": "https://www.googleapis.com/webmasters/v3/",
    "batchPath": "batch/webmasters/v3",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/webmaster-tools/",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/webmaster_tools-16.png",
        "x32": "https://www.google.com/images/icons/product/webmaster_tools-32.png"
    },
    "id": "webmasters:v3",
    "kind": "discovery#restDescription",
    "name": "webmasters",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "searchanalytics": {
            "methods": {
                "query": {
                    "httpMethod": "POST",
                    "id": "webmasters.searchanalytics.query",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "siteUrl": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/searchAnalytics/query",
                    "request": {
                        "$ref": "SearchAnalyticsQueryRequest"
                    },
                    "response": {
                        "$ref": "SearchAnalyticsQueryResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                }
            }
        },
        "sitemaps": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "webmasters.sitemaps.delete",
                    "parameterOrder": [
                        "siteUrl",
                        "feedpath"
                    ],
                    "parameters": {
                        "feedpath": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "siteUrl": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/sitemaps/{feedpath}",
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "webmasters.sitemaps.get",
                    "parameterOrder": [
                        "siteUrl",
                        "feedpath"
                    ],
                    "parameters": {
                        "feedpath": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "siteUrl": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/sitemaps/{feedpath}",
                    "response": {
                        "$ref": "WmxSitemap"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "webmasters.sitemaps.list",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "siteUrl": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sitemapIndex": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/sitemaps",
                    "response": {
                        "$ref": "SitemapsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                },
                "submit": {
                    "httpMethod": "PUT",
                    "id": "webmasters.sitemaps.submit",
                    "parameterOrder": [
                        "siteUrl",
                        "feedpath"
                    ],
                    "parameters": {
                        "feedpath": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "siteUrl": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/sitemaps/{feedpath}",
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters"
                    ]
                }
            }
        },
        "sites": {
            "methods": {
                "add": {
                    "httpMethod": "PUT",
                    "id": "webmasters.sites.add",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "siteUrl": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}",
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "webmasters.sites.delete",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "siteUrl": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}",
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters"
                    ]
                },
                "get": {
                    "httpMethod": "GET",
                    "id": "webmasters.sites.get",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "siteUrl": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}",
                    "response": {
                        "$ref": "WmxSite"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "webmasters.sites.list",
                    "path": "sites",
                    "response": {
                        "$ref": "SitesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "ApiDataRow": {
            "id": "ApiDataRow",
            "properties": {
                "clicks": {
                    "format": "double",
                    "type": "number"
                },
                "ctr": {
                    "format": "double",
                    "type": "number"
                },
                "impressions": {
                    "format": "double",
                    "type": "number"
                },
                "keys": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "position": {
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "ApiDimensionFilter": {
            "id": "ApiDimensionFilter",
            "properties": {
                "dimension": {
                    "type": "string"
                },
                "expression": {
                    "type": "string"
                },
                "operator": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApiDimensionFilterGroup": {
            "id": "ApiDimensionFilterGroup",
            "properties": {
                "filters": {
                    "items": {
                        "$ref": "ApiDimensionFilter"
                    },
                    "type": "array"
                },
                "groupType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SearchAnalyticsQueryRequest": {
            "id": "SearchAnalyticsQueryRequest",
            "properties": {
                "aggregationType": {
                    "type": "string"
                },
                "dimensionFilterGroups": {
                    "items": {
                        "$ref": "ApiDimensionFilterGroup"
                    },
                    "type": "array"
                },
                "dimensions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "endDate": {
                    "type": "string"
                },
                "rowLimit": {
                    "format": "int32",
                    "type": "integer"
                },
                "searchType": {
                    "type": "string"
                },
                "startDate": {
                    "type": "string"
                },
                "startRow": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SearchAnalyticsQueryResponse": {
            "id": "SearchAnalyticsQueryResponse",
            "properties": {
                "responseAggregationType": {
                    "type": "string"
                },
                "rows": {
                    "items": {
                        "$ref": "ApiDataRow"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SitemapsListResponse": {
            "id": "SitemapsListResponse",
            "properties": {
                "sitemap": {
                    "items": {
                        "$ref": "WmxSitemap"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SitesListResponse": {
            "id": "SitesListResponse",
            "properties": {
                "siteEntry": {
                    "items": {
                        "$ref": "WmxSite"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "WmxSite": {
            "id": "WmxSite",
            "properties": {
                "permissionLevel": {
                    "type": "string"
                },
                "siteUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WmxSitemap": {
            "id": "WmxSitemap",
            "properties": {
                "contents": {
                    "items": {
                        "$ref": "WmxSitemapContent"
                    },
                    "type": "array"
                },
                "errors": {
                    "format": "int64",
                    "type": "string"
                },
                "isPending": {
                    "type": "boolean"
                },
                "isSitemapsIndex": {
                    "type": "boolean"
                },
                "lastDownloaded": {
                    "format": "date-time",
                    "type": "string"
                },
                "lastSubmitted": {
                    "format": "date-time",
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "warnings": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WmxSitemapContent": {
            "id": "WmxSitemapContent",
            "properties": {
                "indexed": {
                    "format": "int64",
                    "type": "string"
                },
                "submitted": {
                    "format": "int64",
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "webmasters/v3/",
    "title": "Search Console API",
    "version": "v3"
}