{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://websecurityscanner.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "WebSecurityScanner",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/security-scanner/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "websecurityscanner:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
    "name": "websecurityscanner",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "scanConfigs": {
                    "methods": {
                        "create": {
                            "flatPath": "v1/projects/{projectsId}/scanConfigs",
                            "httpMethod": "POST",
                            "id": "websecurityscanner.projects.scanConfigs.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/scanConfigs",
                            "request": {
                                "$ref": "ScanConfig"
                            },
                            "response": {
                                "$ref": "ScanConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
                            "httpMethod": "DELETE",
                            "id": "websecurityscanner.projects.scanConfigs.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
                            "httpMethod": "GET",
                            "id": "websecurityscanner.projects.scanConfigs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "ScanConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/projects/{projectsId}/scanConfigs",
                            "httpMethod": "GET",
                            "id": "websecurityscanner.projects.scanConfigs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "parent": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/scanConfigs",
                            "response": {
                                "$ref": "ListScanConfigsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
                            "httpMethod": "PATCH",
                            "id": "websecurityscanner.projects.scanConfigs.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "ScanConfig"
                            },
                            "response": {
                                "$ref": "ScanConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "start": {
                            "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
                            "httpMethod": "POST",
                            "id": "websecurityscanner.projects.scanConfigs.start",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:start",
                            "request": {
                                "$ref": "StartScanRunRequest"
                            },
                            "response": {
                                "$ref": "ScanRun"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "scanRuns": {
                            "methods": {
                                "get": {
                                    "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                                    "httpMethod": "GET",
                                    "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "ScanRun"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                                    "httpMethod": "GET",
                                    "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/scanRuns",
                                    "response": {
                                        "$ref": "ListScanRunsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "stop": {
                                    "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                                    "httpMethod": "POST",
                                    "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:stop",
                                    "request": {
                                        "$ref": "StopScanRunRequest"
                                    },
                                    "response": {
                                        "$ref": "ScanRun"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "crawledUrls": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                                            "httpMethod": "GET",
                                            "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/crawledUrls",
                                            "response": {
                                                "$ref": "ListCrawledUrlsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "findingTypeStats": {
                                    "methods": {
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                                            "httpMethod": "GET",
                                            "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/findingTypeStats",
                                            "response": {
                                                "$ref": "ListFindingTypeStatsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "findings": {
                                    "methods": {
                                        "get": {
                                            "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                                            "httpMethod": "GET",
                                            "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "Finding"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "flatPath": "v1/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                                            "httpMethod": "GET",
                                            "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "filter": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/findings",
                                            "response": {
                                                "$ref": "ListFindingsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "rootUrl": "https://websecurityscanner.googleapis.com/",
    "schemas": {
        "Authentication": {
            "id": "Authentication",
            "properties": {
                "customAccount": {
                    "$ref": "CustomAccount"
                },
                "googleAccount": {
                    "$ref": "GoogleAccount"
                },
                "iapCredential": {
                    "$ref": "IapCredential"
                }
            },
            "type": "object"
        },
        "CrawledUrl": {
            "id": "CrawledUrl",
            "properties": {
                "body": {
                    "type": "string"
                },
                "httpMethod": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomAccount": {
            "id": "CustomAccount",
            "properties": {
                "loginUrl": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Finding": {
            "id": "Finding",
            "properties": {
                "body": {
                    "type": "string"
                },
                "finalUrl": {
                    "type": "string"
                },
                "findingType": {
                    "type": "string"
                },
                "form": {
                    "$ref": "Form"
                },
                "frameUrl": {
                    "type": "string"
                },
                "fuzzedUrl": {
                    "type": "string"
                },
                "httpMethod": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "outdatedLibrary": {
                    "$ref": "OutdatedLibrary"
                },
                "reproductionUrl": {
                    "type": "string"
                },
                "severity": {
                    "enum": [
                        "SEVERITY_UNSPECIFIED",
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW"
                    ],
                    "enumDescriptions": [
                        "No severity specified. The default value.",
                        "Critical severity.",
                        "High severity.",
                        "Medium severity.",
                        "Low severity."
                    ],
                    "type": "string"
                },
                "trackingId": {
                    "type": "string"
                },
                "violatingResource": {
                    "$ref": "ViolatingResource"
                },
                "vulnerableHeaders": {
                    "$ref": "VulnerableHeaders"
                },
                "vulnerableParameters": {
                    "$ref": "VulnerableParameters"
                },
                "xss": {
                    "$ref": "Xss"
                }
            },
            "type": "object"
        },
        "FindingTypeStats": {
            "id": "FindingTypeStats",
            "properties": {
                "findingCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "findingType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Form": {
            "id": "Form",
            "properties": {
                "actionUri": {
                    "type": "string"
                },
                "fields": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleAccount": {
            "id": "GoogleAccount",
            "properties": {
                "password": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Header": {
            "id": "Header",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IapCredential": {
            "id": "IapCredential",
            "properties": {
                "iapTestServiceAccountInfo": {
                    "$ref": "IapTestServiceAccountInfo"
                }
            },
            "type": "object"
        },
        "IapTestServiceAccountInfo": {
            "id": "IapTestServiceAccountInfo",
            "properties": {
                "targetAudienceClientId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListCrawledUrlsResponse": {
            "id": "ListCrawledUrlsResponse",
            "properties": {
                "crawledUrls": {
                    "items": {
                        "$ref": "CrawledUrl"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListFindingTypeStatsResponse": {
            "id": "ListFindingTypeStatsResponse",
            "properties": {
                "findingTypeStats": {
                    "items": {
                        "$ref": "FindingTypeStats"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListFindingsResponse": {
            "id": "ListFindingsResponse",
            "properties": {
                "findings": {
                    "items": {
                        "$ref": "Finding"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListScanConfigsResponse": {
            "id": "ListScanConfigsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "scanConfigs": {
                    "items": {
                        "$ref": "ScanConfig"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListScanRunsResponse": {
            "id": "ListScanRunsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "scanRuns": {
                    "items": {
                        "$ref": "ScanRun"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "OutdatedLibrary": {
            "id": "OutdatedLibrary",
            "properties": {
                "learnMoreUrls": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "libraryName": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ScanConfig": {
            "id": "ScanConfig",
            "properties": {
                "authentication": {
                    "$ref": "Authentication"
                },
                "blacklistPatterns": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "displayName": {
                    "type": "string"
                },
                "exportToSecurityCommandCenter": {
                    "enum": [
                        "EXPORT_TO_SECURITY_COMMAND_CENTER_UNSPECIFIED",
                        "ENABLED",
                        "DISABLED"
                    ],
                    "enumDescriptions": [
                        "Use default, which is ENABLED.",
                        "Export results of this scan to Cloud Security Command Center.",
                        "Do not export results of this scan to Cloud Security Command Center."
                    ],
                    "type": "string"
                },
                "managedScan": {
                    "type": "boolean"
                },
                "maxQps": {
                    "format": "int32",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "riskLevel": {
                    "enum": [
                        "RISK_LEVEL_UNSPECIFIED",
                        "NORMAL",
                        "LOW"
                    ],
                    "enumDescriptions": [
                        "Use default, which is NORMAL.",
                        "Normal scanning (Recommended)",
                        "Lower impact scanning"
                    ],
                    "type": "string"
                },
                "schedule": {
                    "$ref": "Schedule"
                },
                "startingUrls": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "staticIpScan": {
                    "type": "boolean"
                },
                "userAgent": {
                    "enum": [
                        "USER_AGENT_UNSPECIFIED",
                        "CHROME_LINUX",
                        "CHROME_ANDROID",
                        "SAFARI_IPHONE"
                    ],
                    "enumDescriptions": [
                        "The user agent is unknown. Service will default to CHROME_LINUX.",
                        "Chrome on Linux. This is the service default if unspecified.",
                        "Chrome on Android.",
                        "Safari on IPhone."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ScanConfigError": {
            "id": "ScanConfigError",
            "properties": {
                "code": {
                    "enum": [
                        "CODE_UNSPECIFIED",
                        "OK",
                        "INTERNAL_ERROR",
                        "APPENGINE_API_BACKEND_ERROR",
                        "APPENGINE_API_NOT_ACCESSIBLE",
                        "APPENGINE_DEFAULT_HOST_MISSING",
                        "CANNOT_USE_GOOGLE_COM_ACCOUNT",
                        "CANNOT_USE_OWNER_ACCOUNT",
                        "COMPUTE_API_BACKEND_ERROR",
                        "COMPUTE_API_NOT_ACCESSIBLE",
                        "CUSTOM_LOGIN_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT",
                        "CUSTOM_LOGIN_URL_MALFORMED",
                        "CUSTOM_LOGIN_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS",
                        "CUSTOM_LOGIN_URL_MAPPED_TO_UNRESERVED_ADDRESS",
                        "CUSTOM_LOGIN_URL_HAS_NON_ROUTABLE_IP_ADDRESS",
                        "CUSTOM_LOGIN_URL_HAS_UNRESERVED_IP_ADDRESS",
                        "DUPLICATE_SCAN_NAME",
                        "INVALID_FIELD_VALUE",
                        "FAILED_TO_AUTHENTICATE_TO_TARGET",
                        "FINDING_TYPE_UNSPECIFIED",
                        "FORBIDDEN_TO_SCAN_COMPUTE",
                        "FORBIDDEN_UPDATE_TO_MANAGED_SCAN",
                        "MALFORMED_FILTER",
                        "MALFORMED_RESOURCE_NAME",
                        "PROJECT_INACTIVE",
                        "REQUIRED_FIELD",
                        "RESOURCE_NAME_INCONSISTENT",
                        "SCAN_ALREADY_RUNNING",
                        "SCAN_NOT_RUNNING",
                        "SEED_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT",
                        "SEED_URL_MALFORMED",
                        "SEED_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS",
                        "SEED_URL_MAPPED_TO_UNRESERVED_ADDRESS",
                        "SEED_URL_HAS_NON_ROUTABLE_IP_ADDRESS",
                        "SEED_URL_HAS_UNRESERVED_IP_ADDRESS",
                        "SERVICE_ACCOUNT_NOT_CONFIGURED",
                        "TOO_MANY_SCANS",
                        "UNABLE_TO_RESOLVE_PROJECT_INFO",
                        "UNSUPPORTED_BLACKLIST_PATTERN_FORMAT",
                        "UNSUPPORTED_FILTER",
                        "UNSUPPORTED_FINDING_TYPE",
                        "UNSUPPORTED_URL_SCHEME"
                    ],
                    "enumDescriptions": [
                        "There is no error.",
                        "There is no error.",
                        "Indicates an internal server error.\nPlease DO NOT USE THIS ERROR CODE unless the root cause is truly unknown.",
                        "One of the seed URLs is an App Engine URL but we cannot validate the scan\nsettings due to an App Engine API backend error.",
                        "One of the seed URLs is an App Engine URL but we cannot access the\nApp Engine API to validate scan settings.",
                        "One of the seed URLs is an App Engine URL but the Default Host of the\nApp Engine is not set.",
                        "Google corporate accounts can not be used for scanning.",
                        "The account of the scan creator can not be used for scanning.",
                        "This scan targets Compute Engine, but we cannot validate scan settings\ndue to a Compute Engine API backend error.",
                        "This scan targets Compute Engine, but we cannot access the Compute Engine\nAPI to validate the scan settings.",
                        "The Custom Login URL does not belong to the current project.",
                        "The Custom Login URL is malformed (can not be parsed).",
                        "The Custom Login URL is mapped to a non-routable IP address in DNS.",
                        "The Custom Login URL is mapped to an IP address which is not reserved for\nthe current project.",
                        "The Custom Login URL has a non-routable IP address.",
                        "The Custom Login URL has an IP address which is not reserved for the\ncurrent project.",
                        "Another scan with the same name (case-sensitive) already exists.",
                        "A field is set to an invalid value.",
                        "There was an error trying to authenticate to the scan target.",
                        "Finding type value is not specified in the list findings request.",
                        "Scan targets Compute Engine, yet current project was not whitelisted for\nGoogle Compute Engine Scanning Alpha access.",
                        "User tries to update managed scan",
                        "The supplied filter is malformed. For example, it can not be parsed, does\nnot have a filter type in expression, or the same filter type appears\nmore than once.",
                        "The supplied resource name is malformed (can not be parsed).",
                        "The current project is not in an active state.",
                        "A required field is not set.",
                        "Project id, scanconfig id, scanrun id, or finding id are not consistent\nwith each other in resource name.",
                        "The scan being requested to start is already running.",
                        "The scan that was requested to be stopped is not running.",
                        "One of the seed URLs does not belong to the current project.",
                        "One of the seed URLs is malformed (can not be parsed).",
                        "One of the seed URLs is mapped to a non-routable IP address in DNS.",
                        "One of the seed URLs is mapped to an IP address which is not reserved\nfor the current project.",
                        "One of the seed URLs has on-routable IP address.",
                        "One of the seed URLs has an IP address that is not reserved\nfor the current project.",
                        "The Cloud Security Scanner service account is not configured under the\nproject.",
                        "A project has reached the maximum number of scans.",
                        "Resolving the details of the current project fails.",
                        "One or more blacklist patterns were in the wrong format.",
                        "The supplied filter is not supported.",
                        "The supplied finding type is not supported. For example, we do not\nprovide findings of the given finding type.",
                        "The URL scheme of one or more of the supplied URLs is not supported."
                    ],
                    "type": "string"
                },
                "fieldName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ScanRun": {
            "id": "ScanRun",
            "properties": {
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "errorTrace": {
                    "$ref": "ScanRunErrorTrace"
                },
                "executionState": {
                    "enum": [
                        "EXECUTION_STATE_UNSPECIFIED",
                        "QUEUED",
                        "SCANNING",
                        "FINISHED"
                    ],
                    "enumDescriptions": [
                        "Represents an invalid state caused by internal server error. This value\nshould never be returned.",
                        "The scan is waiting in the queue.",
                        "The scan is in progress.",
                        "The scan is either finished or stopped by user."
                    ],
                    "type": "string"
                },
                "hasVulnerabilities": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "progressPercent": {
                    "format": "int32",
                    "type": "integer"
                },
                "resultState": {
                    "enum": [
                        "RESULT_STATE_UNSPECIFIED",
                        "SUCCESS",
                        "ERROR",
                        "KILLED"
                    ],
                    "enumDescriptions": [
                        "Default value. This value is returned when the ScanRun is not yet\nfinished.",
                        "The scan finished without errors.",
                        "The scan finished with errors.",
                        "The scan was terminated by user."
                    ],
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "urlsCrawledCount": {
                    "format": "int64",
                    "type": "string"
                },
                "urlsTestedCount": {
                    "format": "int64",
                    "type": "string"
                },
                "warningTraces": {
                    "items": {
                        "$ref": "ScanRunWarningTrace"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ScanRunErrorTrace": {
            "id": "ScanRunErrorTrace",
            "properties": {
                "code": {
                    "enum": [
                        "CODE_UNSPECIFIED",
                        "INTERNAL_ERROR",
                        "SCAN_CONFIG_ISSUE",
                        "AUTHENTICATION_CONFIG_ISSUE",
                        "TIMED_OUT_WHILE_SCANNING",
                        "TOO_MANY_REDIRECTS",
                        "TOO_MANY_HTTP_ERRORS"
                    ],
                    "enumDescriptions": [
                        "Default value is never used.",
                        "Indicates that the scan run failed due to an internal server error.",
                        "Indicates a scan configuration error, usually due to outdated ScanConfig\nsettings, such as starting_urls or the DNS configuration.",
                        "Indicates an authentication error, usually due to outdated ScanConfig\nauthentication settings.",
                        "Indicates a scan operation timeout, usually caused by a very large site.",
                        "Indicates that a scan encountered excessive redirects, either to\nauthentication or some other page outside of the scan scope.",
                        "Indicates that a scan encountered numerous errors from the web site\npages. When available, most_common_http_error_code field indicates the\nmost common HTTP error code encountered during the scan."
                    ],
                    "type": "string"
                },
                "mostCommonHttpErrorCode": {
                    "format": "int32",
                    "type": "integer"
                },
                "scanConfigError": {
                    "$ref": "ScanConfigError"
                }
            },
            "type": "object"
        },
        "ScanRunWarningTrace": {
            "id": "ScanRunWarningTrace",
            "properties": {
                "code": {
                    "enum": [
                        "CODE_UNSPECIFIED",
                        "INSUFFICIENT_CRAWL_RESULTS",
                        "TOO_MANY_CRAWL_RESULTS",
                        "TOO_MANY_FUZZ_TASKS",
                        "BLOCKED_BY_IAP"
                    ],
                    "enumDescriptions": [
                        "Default value is never used.",
                        "Indicates that a scan discovered an unexpectedly low number of URLs. This\nis sometimes caused by complex navigation features or by using a single\nURL for numerous pages.",
                        "Indicates that a scan discovered too many URLs to test, or excessive\nredundant URLs.",
                        "Indicates that too many tests have been generated for the scan. Customer\nshould try reducing the number of starting URLs, increasing the QPS rate,\nor narrowing down the scope of the scan using the excluded patterns.",
                        "Indicates that a scan is blocked by IAP."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Schedule": {
            "id": "Schedule",
            "properties": {
                "intervalDurationDays": {
                    "format": "int32",
                    "type": "integer"
                },
                "scheduleTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StartScanRunRequest": {
            "id": "StartScanRunRequest",
            "properties": {},
            "type": "object"
        },
        "StopScanRunRequest": {
            "id": "StopScanRunRequest",
            "properties": {},
            "type": "object"
        },
        "ViolatingResource": {
            "id": "ViolatingResource",
            "properties": {
                "contentType": {
                    "type": "string"
                },
                "resourceUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VulnerableHeaders": {
            "id": "VulnerableHeaders",
            "properties": {
                "headers": {
                    "items": {
                        "$ref": "Header"
                    },
                    "type": "array"
                },
                "missingHeaders": {
                    "items": {
                        "$ref": "Header"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "VulnerableParameters": {
            "id": "VulnerableParameters",
            "properties": {
                "parameterNames": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Xss": {
            "id": "Xss",
            "properties": {
                "attackVector": {
                    "enum": [
                        "ATTACK_VECTOR_UNSPECIFIED",
                        "LOCAL_STORAGE",
                        "SESSION_STORAGE",
                        "WINDOW_NAME",
                        "REFERRER",
                        "FORM_INPUT",
                        "COOKIE",
                        "POST_MESSAGE",
                        "GET_PARAMETERS",
                        "URL_FRAGMENT",
                        "HTML_COMMENT",
                        "POST_PARAMETERS",
                        "PROTOCOL",
                        "STORED_XSS",
                        "SAME_ORIGIN",
                        "USER_CONTROLLABLE_URL"
                    ],
                    "enumDescriptions": [
                        "Unknown attack vector.",
                        "The attack comes from fuzzing the browser's localStorage.",
                        "The attack comes from fuzzing the browser's sessionStorage.",
                        "The attack comes from fuzzing the window's name property.",
                        "The attack comes from fuzzing the referrer property.",
                        "The attack comes from fuzzing an input element.",
                        "The attack comes from fuzzing the browser's cookies.",
                        "The attack comes from hijacking the post messaging mechanism.",
                        "The attack comes from fuzzing parameters in the url.",
                        "The attack comes from fuzzing the fragment in the url.",
                        "The attack comes from fuzzing the HTML comments.",
                        "The attack comes from fuzzing the POST parameters.",
                        "The attack comes from fuzzing the protocol.",
                        "The attack comes from the server side and is stored.",
                        "The attack is a Same-Origin Method Execution attack via a GET parameter.",
                        "The attack payload is received from a third-party host via a URL that is\nuser-controllable"
                    ],
                    "type": "string"
                },
                "errorMessage": {
                    "type": "string"
                },
                "stackTraces": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "storedXssSeedingUrl": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Web Security Scanner API",
    "version": "v1",
    "version_module": true
}