{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/yt-analytics-monetary.readonly": {},
                "https://www.googleapis.com/auth/yt-analytics.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://youtubereporting.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "YouTube Reporting",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/youtube/reporting/v1/reports/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "youtubereporting:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://youtubereporting.mtls.googleapis.com/",
    "name": "youtubereporting",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "jobs": {
            "methods": {
                "create": {
                    "flatPath": "v1/jobs",
                    "httpMethod": "POST",
                    "id": "youtubereporting.jobs.create",
                    "parameterOrder": [],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/jobs",
                    "request": {
                        "$ref": "Job"
                    },
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                },
                "delete": {
                    "flatPath": "v1/jobs/{jobId}",
                    "httpMethod": "DELETE",
                    "id": "youtubereporting.jobs.delete",
                    "parameterOrder": [
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/jobs/{jobId}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                },
                "get": {
                    "flatPath": "v1/jobs/{jobId}",
                    "httpMethod": "GET",
                    "id": "youtubereporting.jobs.get",
                    "parameterOrder": [
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/jobs/{jobId}",
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v1/jobs",
                    "httpMethod": "GET",
                    "id": "youtubereporting.jobs.list",
                    "parameterOrder": [],
                    "parameters": {
                        "includeSystemManaged": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/jobs",
                    "response": {
                        "$ref": "ListJobsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                }
            },
            "resources": {
                "reports": {
                    "methods": {
                        "get": {
                            "flatPath": "v1/jobs/{jobId}/reports/{reportId}",
                            "httpMethod": "GET",
                            "id": "youtubereporting.jobs.reports.get",
                            "parameterOrder": [
                                "jobId",
                                "reportId"
                            ],
                            "parameters": {
                                "jobId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "onBehalfOfContentOwner": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "reportId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/jobs/{jobId}/reports/{reportId}",
                            "response": {
                                "$ref": "Report"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                                "https://www.googleapis.com/auth/yt-analytics.readonly"
                            ]
                        },
                        "list": {
                            "flatPath": "v1/jobs/{jobId}/reports",
                            "httpMethod": "GET",
                            "id": "youtubereporting.jobs.reports.list",
                            "parameterOrder": [
                                "jobId"
                            ],
                            "parameters": {
                                "createdAfter": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                },
                                "jobId": {
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "onBehalfOfContentOwner": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "location": "query",
                                    "type": "string"
                                },
                                "startTimeAtOrAfter": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                },
                                "startTimeBefore": {
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/jobs/{jobId}/reports",
                            "response": {
                                "$ref": "ListReportsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                                "https://www.googleapis.com/auth/yt-analytics.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "media": {
            "methods": {
                "download": {
                    "flatPath": "v1/media/{mediaId}",
                    "httpMethod": "GET",
                    "id": "youtubereporting.media.download",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "resourceName": {
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/media/{+resourceName}",
                    "response": {
                        "$ref": "GdataMedia"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ],
                    "supportsMediaDownload": true,
                    "useMediaDownloadService": true
                }
            }
        },
        "reportTypes": {
            "methods": {
                "list": {
                    "flatPath": "v1/reportTypes",
                    "httpMethod": "GET",
                    "id": "youtubereporting.reportTypes.list",
                    "parameterOrder": [],
                    "parameters": {
                        "includeSystemManaged": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/reportTypes",
                    "response": {
                        "$ref": "ListReportTypesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://youtubereporting.googleapis.com/",
    "schemas": {
        "Empty": {
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "GdataBlobstore2Info": {
            "id": "GdataBlobstore2Info",
            "properties": {
                "blobGeneration": {
                    "format": "int64",
                    "type": "string"
                },
                "blobId": {
                    "type": "string"
                },
                "downloadReadHandle": {
                    "format": "byte",
                    "type": "string"
                },
                "readToken": {
                    "type": "string"
                },
                "uploadMetadataContainer": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GdataCompositeMedia": {
            "id": "GdataCompositeMedia",
            "properties": {
                "blobRef": {
                    "format": "byte",
                    "type": "string"
                },
                "blobstore2Info": {
                    "$ref": "GdataBlobstore2Info"
                },
                "cosmoBinaryReference": {
                    "format": "byte",
                    "type": "string"
                },
                "crc32cHash": {
                    "format": "uint32",
                    "type": "integer"
                },
                "inline": {
                    "format": "byte",
                    "type": "string"
                },
                "length": {
                    "format": "int64",
                    "type": "string"
                },
                "md5Hash": {
                    "format": "byte",
                    "type": "string"
                },
                "objectId": {
                    "$ref": "GdataObjectId"
                },
                "path": {
                    "type": "string"
                },
                "referenceType": {
                    "enum": [
                        "PATH",
                        "BLOB_REF",
                        "INLINE",
                        "BIGSTORE_REF",
                        "COSMO_BINARY_REFERENCE"
                    ],
                    "enumDescriptions": [
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata"
                    ],
                    "type": "string"
                },
                "sha1Hash": {
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GdataContentTypeInfo": {
            "id": "GdataContentTypeInfo",
            "properties": {
                "bestGuess": {
                    "type": "string"
                },
                "fromBytes": {
                    "type": "string"
                },
                "fromFileName": {
                    "type": "string"
                },
                "fromHeader": {
                    "type": "string"
                },
                "fromUrlPath": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GdataDiffChecksumsResponse": {
            "id": "GdataDiffChecksumsResponse",
            "properties": {
                "checksumsLocation": {
                    "$ref": "GdataCompositeMedia"
                },
                "chunkSizeBytes": {
                    "format": "int64",
                    "type": "string"
                },
                "objectLocation": {
                    "$ref": "GdataCompositeMedia"
                },
                "objectSizeBytes": {
                    "format": "int64",
                    "type": "string"
                },
                "objectVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GdataDiffDownloadResponse": {
            "id": "GdataDiffDownloadResponse",
            "properties": {
                "objectLocation": {
                    "$ref": "GdataCompositeMedia"
                }
            },
            "type": "object"
        },
        "GdataDiffUploadRequest": {
            "id": "GdataDiffUploadRequest",
            "properties": {
                "checksumsInfo": {
                    "$ref": "GdataCompositeMedia"
                },
                "objectInfo": {
                    "$ref": "GdataCompositeMedia"
                },
                "objectVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GdataDiffUploadResponse": {
            "id": "GdataDiffUploadResponse",
            "properties": {
                "objectVersion": {
                    "type": "string"
                },
                "originalObject": {
                    "$ref": "GdataCompositeMedia"
                }
            },
            "type": "object"
        },
        "GdataDiffVersionResponse": {
            "id": "GdataDiffVersionResponse",
            "properties": {
                "objectSizeBytes": {
                    "format": "int64",
                    "type": "string"
                },
                "objectVersion": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GdataDownloadParameters": {
            "id": "GdataDownloadParameters",
            "properties": {
                "allowGzipCompression": {
                    "type": "boolean"
                },
                "ignoreRange": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "GdataMedia": {
            "id": "GdataMedia",
            "properties": {
                "algorithm": {
                    "type": "string"
                },
                "bigstoreObjectRef": {
                    "format": "byte",
                    "type": "string"
                },
                "blobRef": {
                    "format": "byte",
                    "type": "string"
                },
                "blobstore2Info": {
                    "$ref": "GdataBlobstore2Info"
                },
                "compositeMedia": {
                    "items": {
                        "$ref": "GdataCompositeMedia"
                    },
                    "type": "array"
                },
                "contentType": {
                    "type": "string"
                },
                "contentTypeInfo": {
                    "$ref": "GdataContentTypeInfo"
                },
                "cosmoBinaryReference": {
                    "format": "byte",
                    "type": "string"
                },
                "crc32cHash": {
                    "format": "uint32",
                    "type": "integer"
                },
                "diffChecksumsResponse": {
                    "$ref": "GdataDiffChecksumsResponse"
                },
                "diffDownloadResponse": {
                    "$ref": "GdataDiffDownloadResponse"
                },
                "diffUploadRequest": {
                    "$ref": "GdataDiffUploadRequest"
                },
                "diffUploadResponse": {
                    "$ref": "GdataDiffUploadResponse"
                },
                "diffVersionResponse": {
                    "$ref": "GdataDiffVersionResponse"
                },
                "downloadParameters": {
                    "$ref": "GdataDownloadParameters"
                },
                "filename": {
                    "type": "string"
                },
                "hash": {
                    "type": "string"
                },
                "hashVerified": {
                    "type": "boolean"
                },
                "inline": {
                    "format": "byte",
                    "type": "string"
                },
                "isPotentialRetry": {
                    "type": "boolean"
                },
                "length": {
                    "format": "int64",
                    "type": "string"
                },
                "md5Hash": {
                    "format": "byte",
                    "type": "string"
                },
                "mediaId": {
                    "format": "byte",
                    "type": "string"
                },
                "objectId": {
                    "$ref": "GdataObjectId"
                },
                "path": {
                    "type": "string"
                },
                "referenceType": {
                    "enum": [
                        "PATH",
                        "BLOB_REF",
                        "INLINE",
                        "GET_MEDIA",
                        "COMPOSITE_MEDIA",
                        "BIGSTORE_REF",
                        "DIFF_VERSION_RESPONSE",
                        "DIFF_CHECKSUMS_RESPONSE",
                        "DIFF_DOWNLOAD_RESPONSE",
                        "DIFF_UPLOAD_REQUEST",
                        "DIFF_UPLOAD_RESPONSE",
                        "COSMO_BINARY_REFERENCE",
                        "ARBITRARY_BYTES"
                    ],
                    "enumDescriptions": [
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata",
                        "gdata"
                    ],
                    "type": "string"
                },
                "sha1Hash": {
                    "format": "byte",
                    "type": "string"
                },
                "sha256Hash": {
                    "format": "byte",
                    "type": "string"
                },
                "timestamp": {
                    "format": "uint64",
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GdataObjectId": {
            "id": "GdataObjectId",
            "properties": {
                "bucketName": {
                    "type": "string"
                },
                "generation": {
                    "format": "int64",
                    "type": "string"
                },
                "objectName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Job": {
            "id": "Job",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "expireTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "reportTypeId": {
                    "type": "string"
                },
                "systemManaged": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ListJobsResponse": {
            "id": "ListJobsResponse",
            "properties": {
                "jobs": {
                    "items": {
                        "$ref": "Job"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListReportTypesResponse": {
            "id": "ListReportTypesResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "reportTypes": {
                    "items": {
                        "$ref": "ReportType"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListReportsResponse": {
            "id": "ListReportsResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "reports": {
                    "items": {
                        "$ref": "Report"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Report": {
            "id": "Report",
            "properties": {
                "createTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "downloadUrl": {
                    "type": "string"
                },
                "endTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "jobExpireTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "jobId": {
                    "type": "string"
                },
                "startTime": {
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportType": {
            "id": "ReportType",
            "properties": {
                "deprecateTime": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "systemManaged": {
                    "type": "boolean"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "YouTube Reporting API",
    "version": "v1"
}