{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/youtube": {},
                "https://www.googleapis.com/auth/youtube.readonly": {},
                "https://www.googleapis.com/auth/youtubepartner": {},
                "https://www.googleapis.com/auth/yt-analytics-monetary.readonly": {},
                "https://www.googleapis.com/auth/yt-analytics.readonly": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://youtubeanalytics.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "YouTube Analytics",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/youtube/analytics",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "youtubeAnalytics:v2",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://youtubeanalytics.mtls.googleapis.com/",
    "name": "youtubeAnalytics",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "groupItems": {
            "methods": {
                "delete": {
                    "flatPath": "v2/groupItems",
                    "httpMethod": "DELETE",
                    "id": "youtubeAnalytics.groupItems.delete",
                    "parameterOrder": [],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/groupItems",
                    "response": {
                        "$ref": "EmptyResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                },
                "insert": {
                    "flatPath": "v2/groupItems",
                    "httpMethod": "POST",
                    "id": "youtubeAnalytics.groupItems.insert",
                    "parameterOrder": [],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/groupItems",
                    "request": {
                        "$ref": "GroupItem"
                    },
                    "response": {
                        "$ref": "GroupItem"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v2/groupItems",
                    "httpMethod": "GET",
                    "id": "youtubeAnalytics.groupItems.list",
                    "parameterOrder": [],
                    "parameters": {
                        "groupId": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/groupItems",
                    "response": {
                        "$ref": "ListGroupItemsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                }
            }
        },
        "groups": {
            "methods": {
                "delete": {
                    "flatPath": "v2/groups",
                    "httpMethod": "DELETE",
                    "id": "youtubeAnalytics.groups.delete",
                    "parameterOrder": [],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/groups",
                    "response": {
                        "$ref": "EmptyResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                },
                "insert": {
                    "flatPath": "v2/groups",
                    "httpMethod": "POST",
                    "id": "youtubeAnalytics.groups.insert",
                    "parameterOrder": [],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/groups",
                    "request": {
                        "$ref": "Group"
                    },
                    "response": {
                        "$ref": "Group"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                },
                "list": {
                    "flatPath": "v2/groups",
                    "httpMethod": "GET",
                    "id": "youtubeAnalytics.groups.list",
                    "parameterOrder": [],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/groups",
                    "response": {
                        "$ref": "ListGroupsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                },
                "update": {
                    "flatPath": "v2/groups",
                    "httpMethod": "PUT",
                    "id": "youtubeAnalytics.groups.update",
                    "parameterOrder": [],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2/groups",
                    "request": {
                        "$ref": "Group"
                    },
                    "response": {
                        "$ref": "Group"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                }
            }
        },
        "reports": {
            "methods": {
                "query": {
                    "flatPath": "v2/reports",
                    "httpMethod": "GET",
                    "id": "youtubeAnalytics.reports.query",
                    "parameterOrder": [],
                    "parameters": {
                        "currency": {
                            "location": "query",
                            "type": "string"
                        },
                        "dimensions": {
                            "location": "query",
                            "type": "string"
                        },
                        "endDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "filters": {
                            "location": "query",
                            "type": "string"
                        },
                        "ids": {
                            "location": "query",
                            "type": "string"
                        },
                        "includeHistoricalChannelData": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "metrics": {
                            "location": "query",
                            "type": "string"
                        },
                        "sort": {
                            "location": "query",
                            "type": "string"
                        },
                        "startDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "startIndex": {
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v2/reports",
                    "response": {
                        "$ref": "QueryResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                }
            }
        }
    },
    "rootUrl": "https://youtubeanalytics.googleapis.com/",
    "schemas": {
        "EmptyResponse": {
            "id": "EmptyResponse",
            "properties": {
                "errors": {
                    "$ref": "Errors"
                }
            },
            "type": "object"
        },
        "ErrorProto": {
            "id": "ErrorProto",
            "properties": {
                "argument": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "code": {
                    "type": "string"
                },
                "debugInfo": {
                    "type": "string"
                },
                "domain": {
                    "type": "string"
                },
                "externalErrorMessage": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "locationType": {
                    "enum": [
                        "PATH",
                        "OTHER",
                        "PARAMETER"
                    ],
                    "enumDescriptions": [
                        "location is an xpath-like path pointing\nto the request field that caused the error.",
                        "other location type which can safely be shared\nexternally.",
                        "Location is request paramater. This maps to the {@link PARAMETERS} in\n{@link MessageLocation}."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Errors": {
            "id": "Errors",
            "properties": {
                "code": {
                    "enum": [
                        "BAD_REQUEST",
                        "FORBIDDEN",
                        "NOT_FOUND",
                        "CONFLICT",
                        "GONE",
                        "PRECONDITION_FAILED",
                        "INTERNAL_ERROR",
                        "SERVICE_UNAVAILABLE"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "error": {
                    "items": {
                        "$ref": "ErrorProto"
                    },
                    "type": "array"
                },
                "requestId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Group": {
            "id": "Group",
            "properties": {
                "contentDetails": {
                    "$ref": "GroupContentDetails"
                },
                "errors": {
                    "$ref": "Errors"
                },
                "etag": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "snippet": {
                    "$ref": "GroupSnippet"
                }
            },
            "type": "object"
        },
        "GroupContentDetails": {
            "id": "GroupContentDetails",
            "properties": {
                "itemCount": {
                    "format": "uint64",
                    "type": "string"
                },
                "itemType": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GroupItem": {
            "id": "GroupItem",
            "properties": {
                "errors": {
                    "$ref": "Errors"
                },
                "etag": {
                    "type": "string"
                },
                "groupId": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "resource": {
                    "$ref": "GroupItemResource"
                }
            },
            "type": "object"
        },
        "GroupItemResource": {
            "id": "GroupItemResource",
            "properties": {
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GroupSnippet": {
            "id": "GroupSnippet",
            "properties": {
                "publishedAt": {
                    "format": "google-datetime",
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListGroupItemsResponse": {
            "id": "ListGroupItemsResponse",
            "properties": {
                "errors": {
                    "$ref": "Errors"
                },
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "GroupItem"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListGroupsResponse": {
            "id": "ListGroupsResponse",
            "properties": {
                "errors": {
                    "$ref": "Errors"
                },
                "etag": {
                    "type": "string"
                },
                "items": {
                    "items": {
                        "$ref": "Group"
                    },
                    "type": "array"
                },
                "kind": {
                    "type": "string"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "QueryResponse": {
            "id": "QueryResponse",
            "properties": {
                "columnHeaders": {
                    "items": {
                        "$ref": "ResultTableColumnHeader"
                    },
                    "type": "array"
                },
                "errors": {
                    "$ref": "Errors"
                },
                "kind": {
                    "type": "string"
                },
                "rows": {
                    "items": {
                        "items": {
                            "type": "any"
                        },
                        "type": "array"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ResultTableColumnHeader": {
            "id": "ResultTableColumnHeader",
            "properties": {
                "columnType": {
                    "type": "string"
                },
                "dataType": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "YouTube Analytics API",
    "version": "v2",
    "version_module": true
}