{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/youtube": {},
                "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {},
                "https://www.googleapis.com/auth/youtube.force-ssl": {},
                "https://www.googleapis.com/auth/youtube.readonly": {},
                "https://www.googleapis.com/auth/youtube.upload": {},
                "https://www.googleapis.com/auth/youtubepartner": {},
                "https://www.googleapis.com/auth/youtubepartner-channel-audit": {}
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://www.googleapis.com/",
    "batchPath": "batch/youtube",
    "canonicalName": "YouTube",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/youtube/",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "youtube:v3",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://www.mtls.googleapis.com/",
    "name": "youtube",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "enum": [
                "1",
                "2"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "abuseReports": {
            "methods": {
                "insert": {
                    "flatPath": "youtube/v3/abuseReports",
                    "httpMethod": "POST",
                    "id": "youtube.abuseReports.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/abuseReports",
                    "request": {
                        "$ref": "AbuseReport"
                    },
                    "response": {
                        "$ref": "AbuseReport"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "activities": {
            "methods": {
                "list": {
                    "flatPath": "youtube/v3/activities",
                    "httpMethod": "GET",
                    "id": "youtube.activities.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "home": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "publishedAfter": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        },
                        "publishedBefore": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        },
                        "regionCode": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/activities",
                    "response": {
                        "$ref": "ActivityListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                }
            }
        },
        "captions": {
            "methods": {
                "delete": {
                    "flatPath": "youtube/v3/captions",
                    "httpMethod": "DELETE",
                    "id": "youtube.captions.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/captions",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "download": {
                    "flatPath": "youtube/v3/captions/{id}",
                    "httpMethod": "GET",
                    "id": "youtube.captions.download",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "tfmt": {
                            "location": "query",
                            "type": "string"
                        },
                        "tlang": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/captions/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "supportsMediaDownload": true,
                    "useMediaDownloadService": true
                },
                "insert": {
                    "flatPath": "youtube/v3/captions",
                    "httpMethod": "POST",
                    "id": "youtube.captions.insert",
                    "mediaUpload": {
                        "accept": [
                            "text/xml",
                            "application/octet-stream",
                            "*/*"
                        ],
                        "maxSize": "104857600",
                        "protocols": {
                            "simple": {
                                "multipart": true,
                                "path": "/upload/youtube/v3/captions"
                            }
                        }
                    },
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "sync": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "youtube/v3/captions",
                    "request": {
                        "$ref": "Caption"
                    },
                    "response": {
                        "$ref": "Caption"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "supportsMediaUpload": true
                },
                "list": {
                    "flatPath": "youtube/v3/captions",
                    "httpMethod": "GET",
                    "id": "youtube.captions.list",
                    "parameterOrder": [
                        "videoId",
                        "part"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "videoId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/captions",
                    "response": {
                        "$ref": "CaptionListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "update": {
                    "flatPath": "youtube/v3/captions",
                    "httpMethod": "PUT",
                    "id": "youtube.captions.update",
                    "mediaUpload": {
                        "accept": [
                            "text/xml",
                            "application/octet-stream",
                            "*/*"
                        ],
                        "maxSize": "104857600",
                        "protocols": {
                            "simple": {
                                "multipart": true,
                                "path": "/upload/youtube/v3/captions"
                            }
                        }
                    },
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "sync": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "youtube/v3/captions",
                    "request": {
                        "$ref": "Caption"
                    },
                    "response": {
                        "$ref": "Caption"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "supportsMediaUpload": true
                }
            }
        },
        "channelBanners": {
            "methods": {
                "insert": {
                    "flatPath": "youtube/v3/channelBanners/insert",
                    "httpMethod": "POST",
                    "id": "youtube.channelBanners.insert",
                    "mediaUpload": {
                        "accept": [
                            "image/jpeg",
                            "image/png",
                            "application/octet-stream"
                        ],
                        "maxSize": "6291456",
                        "protocols": {
                            "simple": {
                                "multipart": true,
                                "path": "/upload/youtube/v3/channelBanners/insert"
                            }
                        }
                    },
                    "parameterOrder": [],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/channelBanners/insert",
                    "request": {
                        "$ref": "ChannelBannerResource"
                    },
                    "response": {
                        "$ref": "ChannelBannerResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.upload"
                    ],
                    "supportsMediaUpload": true
                }
            }
        },
        "channelSections": {
            "methods": {
                "delete": {
                    "flatPath": "youtube/v3/channelSections",
                    "httpMethod": "DELETE",
                    "id": "youtube.channelSections.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/channelSections",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "insert": {
                    "flatPath": "youtube/v3/channelSections",
                    "httpMethod": "POST",
                    "id": "youtube.channelSections.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/channelSections",
                    "request": {
                        "$ref": "ChannelSection"
                    },
                    "response": {
                        "$ref": "ChannelSection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "list": {
                    "flatPath": "youtube/v3/channelSections",
                    "httpMethod": "GET",
                    "id": "youtube.channelSections.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/channelSections",
                    "response": {
                        "$ref": "ChannelSectionListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "update": {
                    "flatPath": "youtube/v3/channelSections",
                    "httpMethod": "PUT",
                    "id": "youtube.channelSections.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/channelSections",
                    "request": {
                        "$ref": "ChannelSection"
                    },
                    "response": {
                        "$ref": "ChannelSection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "channels": {
            "methods": {
                "list": {
                    "flatPath": "youtube/v3/channels",
                    "httpMethod": "GET",
                    "id": "youtube.channels.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "categoryId": {
                            "location": "query",
                            "type": "string"
                        },
                        "forUsername": {
                            "location": "query",
                            "type": "string"
                        },
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "managedByMe": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "mySubscribers": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/channels",
                    "response": {
                        "$ref": "ChannelListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/youtubepartner-channel-audit"
                    ]
                },
                "update": {
                    "flatPath": "youtube/v3/channels",
                    "httpMethod": "PUT",
                    "id": "youtube.channels.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/channels",
                    "request": {
                        "$ref": "Channel"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "commentThreads": {
            "methods": {
                "insert": {
                    "flatPath": "youtube/v3/commentThreads",
                    "httpMethod": "POST",
                    "id": "youtube.commentThreads.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/commentThreads",
                    "request": {
                        "$ref": "CommentThread"
                    },
                    "response": {
                        "$ref": "CommentThread"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "flatPath": "youtube/v3/commentThreads",
                    "httpMethod": "GET",
                    "id": "youtube.commentThreads.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "allThreadsRelatedToChannelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "20",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "moderationStatus": {
                            "default": "published",
                            "enum": [
                                "published",
                                "heldForReview",
                                "likelySpam",
                                "rejected"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "order": {
                            "default": "time",
                            "enum": [
                                "orderUnspecified",
                                "time",
                                "relevance"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "searchTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "textFormat": {
                            "default": "html",
                            "enum": [
                                "textFormatUnspecified",
                                "html",
                                "plainText"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/commentThreads",
                    "response": {
                        "$ref": "CommentThreadListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "update": {
                    "flatPath": "youtube/v3/commentThreads",
                    "httpMethod": "PUT",
                    "id": "youtube.commentThreads.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/commentThreads",
                    "request": {
                        "$ref": "CommentThread"
                    },
                    "response": {
                        "$ref": "CommentThread"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "comments": {
            "methods": {
                "delete": {
                    "flatPath": "youtube/v3/comments",
                    "httpMethod": "DELETE",
                    "id": "youtube.comments.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/comments",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "flatPath": "youtube/v3/comments",
                    "httpMethod": "POST",
                    "id": "youtube.comments.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/comments",
                    "request": {
                        "$ref": "Comment"
                    },
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "flatPath": "youtube/v3/comments",
                    "httpMethod": "GET",
                    "id": "youtube.comments.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "20",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parentId": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "textFormat": {
                            "default": "html",
                            "enum": [
                                "textFormatUnspecified",
                                "html",
                                "plainText"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/comments",
                    "response": {
                        "$ref": "CommentListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "markAsSpam": {
                    "flatPath": "youtube/v3/comments/markAsSpam",
                    "httpMethod": "POST",
                    "id": "youtube.comments.markAsSpam",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/comments/markAsSpam",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "setModerationStatus": {
                    "flatPath": "youtube/v3/comments/setModerationStatus",
                    "httpMethod": "POST",
                    "id": "youtube.comments.setModerationStatus",
                    "parameterOrder": [
                        "id",
                        "moderationStatus"
                    ],
                    "parameters": {
                        "banAuthor": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "moderationStatus": {
                            "enum": [
                                "published",
                                "heldForReview",
                                "likelySpam",
                                "rejected"
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/comments/setModerationStatus",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "update": {
                    "flatPath": "youtube/v3/comments",
                    "httpMethod": "PUT",
                    "id": "youtube.comments.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/comments",
                    "request": {
                        "$ref": "Comment"
                    },
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "guideCategories": {
            "methods": {
                "list": {
                    "flatPath": "youtube/v3/guideCategories",
                    "httpMethod": "GET",
                    "id": "youtube.guideCategories.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "hl": {
                            "default": "en-US",
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "regionCode": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/guideCategories",
                    "response": {
                        "$ref": "GuideCategoryListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "i18nLanguages": {
            "methods": {
                "list": {
                    "flatPath": "youtube/v3/i18nLanguages",
                    "httpMethod": "GET",
                    "id": "youtube.i18nLanguages.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "hl": {
                            "default": "en_US",
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/i18nLanguages",
                    "response": {
                        "$ref": "I18nLanguageListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "i18nRegions": {
            "methods": {
                "list": {
                    "flatPath": "youtube/v3/i18nRegions",
                    "httpMethod": "GET",
                    "id": "youtube.i18nRegions.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "hl": {
                            "default": "en_US",
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/i18nRegions",
                    "response": {
                        "$ref": "I18nRegionListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "liveBroadcasts": {
            "methods": {
                "bind": {
                    "flatPath": "youtube/v3/liveBroadcasts/bind",
                    "httpMethod": "POST",
                    "id": "youtube.liveBroadcasts.bind",
                    "parameterOrder": [
                        "id",
                        "part"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "streamId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveBroadcasts/bind",
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "control": {
                    "flatPath": "youtube/v3/liveBroadcasts/control",
                    "httpMethod": "POST",
                    "id": "youtube.liveBroadcasts.control",
                    "parameterOrder": [
                        "id",
                        "part"
                    ],
                    "parameters": {
                        "displaySlate": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "offsetTimeMs": {
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "walltime": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveBroadcasts/control",
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "delete": {
                    "flatPath": "youtube/v3/liveBroadcasts",
                    "httpMethod": "DELETE",
                    "id": "youtube.liveBroadcasts.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveBroadcasts",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "flatPath": "youtube/v3/liveBroadcasts",
                    "httpMethod": "POST",
                    "id": "youtube.liveBroadcasts.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveBroadcasts",
                    "request": {
                        "$ref": "LiveBroadcast"
                    },
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "flatPath": "youtube/v3/liveBroadcasts",
                    "httpMethod": "GET",
                    "id": "youtube.liveBroadcasts.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "broadcastStatus": {
                            "enum": [
                                "broadcastStatusFilterUnspecified",
                                "all",
                                "active",
                                "upcoming",
                                "completed"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "broadcastType": {
                            "default": "event",
                            "enum": [
                                "broadcastTypeFilterUnspecified",
                                "all",
                                "event",
                                "persistent"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveBroadcasts",
                    "response": {
                        "$ref": "LiveBroadcastListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                },
                "transition": {
                    "flatPath": "youtube/v3/liveBroadcasts/transition",
                    "httpMethod": "POST",
                    "id": "youtube.liveBroadcasts.transition",
                    "parameterOrder": [
                        "id",
                        "broadcastStatus",
                        "part"
                    ],
                    "parameters": {
                        "broadcastStatus": {
                            "enum": [
                                "statusUnspecified",
                                "testing",
                                "live",
                                "complete"
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveBroadcasts/transition",
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "update": {
                    "flatPath": "youtube/v3/liveBroadcasts",
                    "httpMethod": "PUT",
                    "id": "youtube.liveBroadcasts.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveBroadcasts",
                    "request": {
                        "$ref": "LiveBroadcast"
                    },
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "liveChatBans": {
            "methods": {
                "delete": {
                    "flatPath": "youtube/v3/liveChat/bans",
                    "httpMethod": "DELETE",
                    "id": "youtube.liveChatBans.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveChat/bans",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "flatPath": "youtube/v3/liveChat/bans",
                    "httpMethod": "POST",
                    "id": "youtube.liveChatBans.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveChat/bans",
                    "request": {
                        "$ref": "LiveChatBan"
                    },
                    "response": {
                        "$ref": "LiveChatBan"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "liveChatMessages": {
            "methods": {
                "delete": {
                    "flatPath": "youtube/v3/liveChat/messages",
                    "httpMethod": "DELETE",
                    "id": "youtube.liveChatMessages.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveChat/messages",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "flatPath": "youtube/v3/liveChat/messages",
                    "httpMethod": "POST",
                    "id": "youtube.liveChatMessages.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveChat/messages",
                    "request": {
                        "$ref": "LiveChatMessage"
                    },
                    "response": {
                        "$ref": "LiveChatMessage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "flatPath": "youtube/v3/liveChat/messages",
                    "httpMethod": "GET",
                    "id": "youtube.liveChatMessages.list",
                    "parameterOrder": [
                        "liveChatId",
                        "part"
                    ],
                    "parameters": {
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "liveChatId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "profileImageSize": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "youtube/v3/liveChat/messages",
                    "response": {
                        "$ref": "LiveChatMessageListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                }
            }
        },
        "liveChatModerators": {
            "methods": {
                "delete": {
                    "flatPath": "youtube/v3/liveChat/moderators",
                    "httpMethod": "DELETE",
                    "id": "youtube.liveChatModerators.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveChat/moderators",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "flatPath": "youtube/v3/liveChat/moderators",
                    "httpMethod": "POST",
                    "id": "youtube.liveChatModerators.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveChat/moderators",
                    "request": {
                        "$ref": "LiveChatModerator"
                    },
                    "response": {
                        "$ref": "LiveChatModerator"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "flatPath": "youtube/v3/liveChat/moderators",
                    "httpMethod": "GET",
                    "id": "youtube.liveChatModerators.list",
                    "parameterOrder": [
                        "liveChatId",
                        "part"
                    ],
                    "parameters": {
                        "liveChatId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveChat/moderators",
                    "response": {
                        "$ref": "LiveChatModeratorListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                }
            }
        },
        "liveStreams": {
            "methods": {
                "delete": {
                    "flatPath": "youtube/v3/liveStreams",
                    "httpMethod": "DELETE",
                    "id": "youtube.liveStreams.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveStreams",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "flatPath": "youtube/v3/liveStreams",
                    "httpMethod": "POST",
                    "id": "youtube.liveStreams.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveStreams",
                    "request": {
                        "$ref": "LiveStream"
                    },
                    "response": {
                        "$ref": "LiveStream"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "flatPath": "youtube/v3/liveStreams",
                    "httpMethod": "GET",
                    "id": "youtube.liveStreams.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveStreams",
                    "response": {
                        "$ref": "LiveStreamListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                },
                "update": {
                    "flatPath": "youtube/v3/liveStreams",
                    "httpMethod": "PUT",
                    "id": "youtube.liveStreams.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/liveStreams",
                    "request": {
                        "$ref": "LiveStream"
                    },
                    "response": {
                        "$ref": "LiveStream"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "members": {
            "methods": {
                "list": {
                    "flatPath": "youtube/v3/members",
                    "httpMethod": "GET",
                    "id": "youtube.members.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "filterByMemberChannelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "hasAccessToLevel": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "mode": {
                            "default": "all_current",
                            "enum": [
                                "listMembersModeUnknown",
                                "updates",
                                "all_current"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/members",
                    "response": {
                        "$ref": "MemberListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.channel-memberships.creator",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "membershipsLevels": {
            "methods": {
                "list": {
                    "flatPath": "youtube/v3/membershipsLevels",
                    "httpMethod": "GET",
                    "id": "youtube.membershipsLevels.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/membershipsLevels",
                    "response": {
                        "$ref": "MembershipsLevelListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.channel-memberships.creator",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "playlistItems": {
            "methods": {
                "delete": {
                    "flatPath": "youtube/v3/playlistItems",
                    "httpMethod": "DELETE",
                    "id": "youtube.playlistItems.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/playlistItems",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "insert": {
                    "flatPath": "youtube/v3/playlistItems",
                    "httpMethod": "POST",
                    "id": "youtube.playlistItems.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/playlistItems",
                    "request": {
                        "$ref": "PlaylistItem"
                    },
                    "response": {
                        "$ref": "PlaylistItem"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "list": {
                    "flatPath": "youtube/v3/playlistItems",
                    "httpMethod": "GET",
                    "id": "youtube.playlistItems.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "playlistId": {
                            "location": "query",
                            "type": "string"
                        },
                        "videoId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/playlistItems",
                    "response": {
                        "$ref": "PlaylistItemListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "update": {
                    "flatPath": "youtube/v3/playlistItems",
                    "httpMethod": "PUT",
                    "id": "youtube.playlistItems.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/playlistItems",
                    "request": {
                        "$ref": "PlaylistItem"
                    },
                    "response": {
                        "$ref": "PlaylistItem"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "playlists": {
            "methods": {
                "delete": {
                    "flatPath": "youtube/v3/playlists",
                    "httpMethod": "DELETE",
                    "id": "youtube.playlists.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/playlists",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "insert": {
                    "flatPath": "youtube/v3/playlists",
                    "httpMethod": "POST",
                    "id": "youtube.playlists.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/playlists",
                    "request": {
                        "$ref": "Playlist"
                    },
                    "response": {
                        "$ref": "Playlist"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "list": {
                    "flatPath": "youtube/v3/playlists",
                    "httpMethod": "GET",
                    "id": "youtube.playlists.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/playlists",
                    "response": {
                        "$ref": "PlaylistListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "update": {
                    "flatPath": "youtube/v3/playlists",
                    "httpMethod": "PUT",
                    "id": "youtube.playlists.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/playlists",
                    "request": {
                        "$ref": "Playlist"
                    },
                    "response": {
                        "$ref": "Playlist"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "search": {
            "methods": {
                "list": {
                    "flatPath": "youtube/v3/search",
                    "httpMethod": "GET",
                    "id": "youtube.search.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "channelType": {
                            "enum": [
                                "channelTypeUnspecified",
                                "any",
                                "show"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "eventType": {
                            "enum": [
                                "none",
                                "upcoming",
                                "live",
                                "completed"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "forContentOwner": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "forDeveloper": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "forMine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "location": {
                            "location": "query",
                            "type": "string"
                        },
                        "locationRadius": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "order": {
                            "default": "relevance",
                            "enum": [
                                "searchSortUnspecified",
                                "date",
                                "rating",
                                "viewCount",
                                "relevance",
                                "title",
                                "videoCount"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "publishedAfter": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        },
                        "publishedBefore": {
                            "format": "google-datetime",
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "regionCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "relatedToVideoId": {
                            "location": "query",
                            "type": "string"
                        },
                        "relevanceLanguage": {
                            "location": "query",
                            "type": "string"
                        },
                        "safeSearch": {
                            "default": "moderate",
                            "enum": [
                                "safeSearchSettingUnspecified",
                                "none",
                                "moderate",
                                "strict"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "topicId": {
                            "location": "query",
                            "type": "string"
                        },
                        "type": {
                            "default": "video,channel,playlist",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "videoCaption": {
                            "enum": [
                                "videoCaptionUnspecified",
                                "any",
                                "closedCaption",
                                "none"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoCategoryId": {
                            "location": "query",
                            "type": "string"
                        },
                        "videoDefinition": {
                            "enum": [
                                "any",
                                "standard",
                                "high"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoDimension": {
                            "enum": [
                                "any",
                                "2d",
                                "3d"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoDuration": {
                            "enum": [
                                "videoDurationUnspecified",
                                "any",
                                "short",
                                "medium",
                                "long"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoEmbeddable": {
                            "enum": [
                                "videoEmbeddableUnspecified",
                                "any",
                                "true"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoLicense": {
                            "enum": [
                                "any",
                                "youtube",
                                "creativeCommon"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoSyndicated": {
                            "enum": [
                                "videoSyndicatedUnspecified",
                                "any",
                                "true"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoType": {
                            "enum": [
                                "videoTypeUnspecified",
                                "any",
                                "movie",
                                "episode"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "youtube/v3/search",
                    "response": {
                        "$ref": "SearchListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "sponsors": {
            "methods": {
                "list": {
                    "flatPath": "youtube/v3/sponsors",
                    "httpMethod": "GET",
                    "id": "youtube.sponsors.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "filter": {
                            "default": "newest",
                            "enum": [
                                "sponsorFilterUnknown",
                                "newest",
                                "all"
[...]
