{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/youtube": {},
                "https://www.googleapis.com/auth/youtube.force-ssl": {},
                "https://www.googleapis.com/auth/youtube.readonly": {},
                "https://www.googleapis.com/auth/youtube.upload": {},
                "https://www.googleapis.com/auth/youtubepartner": {},
                "https://www.googleapis.com/auth/youtubepartner-channel-audit": {}
            }
        }
    },
    "basePath": "/youtube/v3/",
    "baseUrl": "https://www.googleapis.com/youtube/v3/",
    "batchPath": "batch/youtube/v3",
    "canonicalName": "YouTube",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/youtube/v3",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/youtube-16.png",
        "x32": "https://www.google.com/images/icons/product/youtube-32.png"
    },
    "id": "youtube:v3",
    "kind": "discovery#restDescription",
    "name": "youtube",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "enum": [
                "json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "location": "query",
            "type": "string"
        },
        "key": {
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "activities": {
            "methods": {
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.activities.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "activities",
                    "request": {
                        "$ref": "Activity"
                    },
                    "response": {
                        "$ref": "Activity"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.activities.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "home": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "publishedAfter": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "publishedBefore": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "regionCode": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "activities",
                    "response": {
                        "$ref": "ActivityListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                }
            }
        },
        "captions": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.captions.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "captions",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "download": {
                    "httpMethod": "GET",
                    "id": "youtube.captions.download",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "tfmt": {
                            "enum": [
                                "sbv",
                                "scc",
                                "srt",
                                "ttml",
                                "vtt"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "tlang": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "captions/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "supportsMediaDownload": true
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.captions.insert",
                    "mediaUpload": {
                        "accept": [
                            "*/*",
                            "application/octet-stream",
                            "text/xml"
                        ],
                        "maxSize": "100MB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/youtube/v3/captions"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/youtube/v3/captions"
                            }
                        }
                    },
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "sync": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "captions",
                    "request": {
                        "$ref": "Caption"
                    },
                    "response": {
                        "$ref": "Caption"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "supportsMediaUpload": true
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.captions.list",
                    "parameterOrder": [
                        "part",
                        "videoId"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "videoId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "captions",
                    "response": {
                        "$ref": "CaptionListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "youtube.captions.update",
                    "mediaUpload": {
                        "accept": [
                            "*/*",
                            "application/octet-stream",
                            "text/xml"
                        ],
                        "maxSize": "100MB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/youtube/v3/captions"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/youtube/v3/captions"
                            }
                        }
                    },
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOf": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "sync": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "captions",
                    "request": {
                        "$ref": "Caption"
                    },
                    "response": {
                        "$ref": "Caption"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "supportsMediaUpload": true
                }
            }
        },
        "channelBanners": {
            "methods": {
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.channelBanners.insert",
                    "mediaUpload": {
                        "accept": [
                            "application/octet-stream",
                            "image/jpeg",
                            "image/png"
                        ],
                        "maxSize": "6MB",
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/youtube/v3/channelBanners/insert"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/youtube/v3/channelBanners/insert"
                            }
                        }
                    },
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "channelBanners/insert",
                    "request": {
                        "$ref": "ChannelBannerResource"
                    },
                    "response": {
                        "$ref": "ChannelBannerResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.upload"
                    ],
                    "supportsMediaUpload": true
                }
            }
        },
        "channelSections": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.channelSections.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "channelSections",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.channelSections.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "channelSections",
                    "request": {
                        "$ref": "ChannelSection"
                    },
                    "response": {
                        "$ref": "ChannelSection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.channelSections.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "channelSections",
                    "response": {
                        "$ref": "ChannelSectionListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "youtube.channelSections.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "channelSections",
                    "request": {
                        "$ref": "ChannelSection"
                    },
                    "response": {
                        "$ref": "ChannelSection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "channels": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.channels.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "categoryId": {
                            "location": "query",
                            "type": "string"
                        },
                        "forUsername": {
                            "location": "query",
                            "type": "string"
                        },
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "managedByMe": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "mySubscribers": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "channels",
                    "response": {
                        "$ref": "ChannelListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner",
                        "https://www.googleapis.com/auth/youtubepartner-channel-audit"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "youtube.channels.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "channels",
                    "request": {
                        "$ref": "Channel"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "commentThreads": {
            "methods": {
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.commentThreads.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "commentThreads",
                    "request": {
                        "$ref": "CommentThread"
                    },
                    "response": {
                        "$ref": "CommentThread"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.commentThreads.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "allThreadsRelatedToChannelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "20",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "moderationStatus": {
                            "default": "MODERATION_STATUS_PUBLISHED",
                            "enum": [
                                "heldForReview",
                                "likelySpam",
                                "published"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "order": {
                            "default": "true",
                            "enum": [
                                "relevance",
                                "time"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "searchTerms": {
                            "location": "query",
                            "type": "string"
                        },
                        "textFormat": {
                            "default": "FORMAT_HTML",
                            "enum": [
                                "html",
                                "plainText"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "commentThreads",
                    "response": {
                        "$ref": "CommentThreadListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "youtube.commentThreads.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "commentThreads",
                    "request": {
                        "$ref": "CommentThread"
                    },
                    "response": {
                        "$ref": "CommentThread"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "comments": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.comments.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "comments",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.comments.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "comments",
                    "request": {
                        "$ref": "Comment"
                    },
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.comments.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "20",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "parentId": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "textFormat": {
                            "default": "FORMAT_HTML",
                            "enum": [
                                "html",
                                "plainText"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "comments",
                    "response": {
                        "$ref": "CommentListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "markAsSpam": {
                    "httpMethod": "POST",
                    "id": "youtube.comments.markAsSpam",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "comments/markAsSpam",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "setModerationStatus": {
                    "httpMethod": "POST",
                    "id": "youtube.comments.setModerationStatus",
                    "parameterOrder": [
                        "id",
                        "moderationStatus"
                    ],
                    "parameters": {
                        "banAuthor": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "moderationStatus": {
                            "enum": [
                                "heldForReview",
                                "published",
                                "rejected"
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "comments/setModerationStatus",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "youtube.comments.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "comments",
                    "request": {
                        "$ref": "Comment"
                    },
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "guideCategories": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.guideCategories.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "hl": {
                            "default": "en-US",
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "regionCode": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "guideCategories",
                    "response": {
                        "$ref": "GuideCategoryListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "i18nLanguages": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.i18nLanguages.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "hl": {
                            "default": "en_US",
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "i18nLanguages",
                    "response": {
                        "$ref": "I18nLanguageListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "i18nRegions": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.i18nRegions.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "hl": {
                            "default": "en_US",
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "i18nRegions",
                    "response": {
                        "$ref": "I18nRegionListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "liveBroadcasts": {
            "methods": {
                "bind": {
                    "httpMethod": "POST",
                    "id": "youtube.liveBroadcasts.bind",
                    "parameterOrder": [
                        "id",
                        "part"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "streamId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "liveBroadcasts/bind",
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "control": {
                    "httpMethod": "POST",
                    "id": "youtube.liveBroadcasts.control",
                    "parameterOrder": [
                        "id",
                        "part"
                    ],
                    "parameters": {
                        "displaySlate": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "offsetTimeMs": {
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "walltime": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "liveBroadcasts/control",
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.liveBroadcasts.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "liveBroadcasts",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.liveBroadcasts.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveBroadcasts",
                    "request": {
                        "$ref": "LiveBroadcast"
                    },
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.liveBroadcasts.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "broadcastStatus": {
                            "enum": [
                                "active",
                                "all",
                                "completed",
                                "upcoming"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "broadcastType": {
                            "default": "BROADCAST_TYPE_FILTER_EVENT",
                            "enum": [
                                "all",
                                "event",
                                "persistent"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveBroadcasts",
                    "response": {
                        "$ref": "LiveBroadcastListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                },
                "transition": {
                    "httpMethod": "POST",
                    "id": "youtube.liveBroadcasts.transition",
                    "parameterOrder": [
                        "broadcastStatus",
                        "id",
                        "part"
                    ],
                    "parameters": {
                        "broadcastStatus": {
                            "enum": [
                                "complete",
                                "live",
                                "testing"
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveBroadcasts/transition",
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "youtube.liveBroadcasts.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveBroadcasts",
                    "request": {
                        "$ref": "LiveBroadcast"
                    },
                    "response": {
                        "$ref": "LiveBroadcast"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "liveChatBans": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.liveChatBans.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveChat/bans",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.liveChatBans.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveChat/bans",
                    "request": {
                        "$ref": "LiveChatBan"
                    },
                    "response": {
                        "$ref": "LiveChatBan"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "liveChatMessages": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.liveChatMessages.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveChat/messages",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.liveChatMessages.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveChat/messages",
                    "request": {
                        "$ref": "LiveChatMessage"
                    },
                    "response": {
                        "$ref": "LiveChatMessage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.liveChatMessages.list",
                    "parameterOrder": [
                        "liveChatId",
                        "part"
                    ],
                    "parameters": {
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "liveChatId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "2000",
                            "minimum": "200",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "profileImageSize": {
                            "format": "uint32",
                            "location": "query",
                            "maximum": "720",
                            "minimum": "16",
                            "type": "integer"
                        }
                    },
                    "path": "liveChat/messages",
                    "response": {
                        "$ref": "LiveChatMessageListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                }
            }
        },
        "liveChatModerators": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.liveChatModerators.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveChat/moderators",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.liveChatModerators.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveChat/moderators",
                    "request": {
                        "$ref": "LiveChatModerator"
                    },
                    "response": {
                        "$ref": "LiveChatModerator"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.liveChatModerators.list",
                    "parameterOrder": [
                        "liveChatId",
                        "part"
                    ],
                    "parameters": {
                        "liveChatId": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveChat/moderators",
                    "response": {
                        "$ref": "LiveChatModeratorListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                }
            }
        },
        "liveStreams": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.liveStreams.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "liveStreams",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.liveStreams.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveStreams",
                    "request": {
                        "$ref": "LiveStream"
                    },
                    "response": {
                        "$ref": "LiveStream"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.liveStreams.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveStreams",
                    "response": {
                        "$ref": "LiveStreamListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "youtube.liveStreams.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "liveStreams",
                    "request": {
                        "$ref": "LiveStream"
                    },
                    "response": {
                        "$ref": "LiveStream"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl"
                    ]
                }
            }
        },
        "members": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.members.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "filterByMemberChannelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "hasAccessToLevel": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "1000",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "mode": {
                            "default": "LIST_MEMBERS_MODE_ALL_CURRENT",
                            "enum": [
                                "all_current",
                                "updates"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "members",
                    "response": {
                        "$ref": "MemberListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "membershipsLevels": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.membershipsLevels.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "membershipsLevels",
                    "response": {
                        "$ref": "MembershipsLevelListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "playlistItems": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.playlistItems.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "playlistItems",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.playlistItems.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "playlistItems",
                    "request": {
                        "$ref": "PlaylistItem"
                    },
                    "response": {
                        "$ref": "PlaylistItem"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.playlistItems.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "playlistId": {
                            "location": "query",
                            "type": "string"
                        },
                        "videoId": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "playlistItems",
                    "response": {
                        "$ref": "PlaylistItemListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ],
                    "supportsSubscription": true
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "youtube.playlistItems.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "playlistItems",
                    "request": {
                        "$ref": "PlaylistItem"
                    },
                    "response": {
                        "$ref": "PlaylistItem"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "playlists": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.playlists.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "playlists",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.playlists.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "playlists",
                    "request": {
                        "$ref": "Playlist"
                    },
                    "response": {
                        "$ref": "Playlist"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.playlists.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "hl": {
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "playlists",
                    "response": {
                        "$ref": "PlaylistListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "update": {
                    "httpMethod": "PUT",
                    "id": "youtube.playlists.update",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "playlists",
                    "request": {
                        "$ref": "Playlist"
                    },
                    "response": {
                        "$ref": "Playlist"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "search": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.search.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "channelType": {
                            "enum": [
                                "any",
                                "show"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "eventType": {
                            "enum": [
                                "completed",
                                "live",
                                "upcoming"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "forContentOwner": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "forDeveloper": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "forMine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "location": {
                            "location": "query",
                            "type": "string"
                        },
                        "locationRadius": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "order": {
                            "default": "SEARCH_SORT_RELEVANCE",
                            "enum": [
                                "date",
                                "rating",
                                "relevance",
                                "title",
                                "videoCount",
                                "viewCount"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "publishedAfter": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "publishedBefore": {
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "q": {
                            "location": "query",
                            "type": "string"
                        },
                        "regionCode": {
                            "location": "query",
                            "type": "string"
                        },
                        "relatedToVideoId": {
                            "location": "query",
                            "type": "string"
                        },
                        "relevanceLanguage": {
                            "location": "query",
                            "type": "string"
                        },
                        "safeSearch": {
                            "enum": [
                                "moderate",
                                "none",
                                "strict"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "topicId": {
                            "location": "query",
                            "type": "string"
                        },
                        "type": {
                            "default": "video,channel,playlist",
                            "location": "query",
                            "type": "string"
                        },
                        "videoCaption": {
                            "enum": [
                                "any",
                                "closedCaption",
                                "none"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoCategoryId": {
                            "location": "query",
                            "type": "string"
                        },
                        "videoDefinition": {
                            "enum": [
                                "any",
                                "high",
                                "standard"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoDimension": {
                            "enum": [
                                "2d",
                                "3d",
                                "any"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoDuration": {
                            "enum": [
                                "any",
                                "long",
                                "medium",
                                "short"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoEmbeddable": {
                            "enum": [
                                "any",
                                "true"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoLicense": {
                            "enum": [
                                "any",
                                "creativeCommon",
                                "youtube"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoSyndicated": {
                            "enum": [
                                "any",
                                "true"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "videoType": {
                            "enum": [
                                "any",
                                "episode",
                                "movie"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "search",
                    "response": {
                        "$ref": "SearchListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "sponsors": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.sponsors.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "filter": {
                            "default": "POLL_NEWEST",
                            "enum": [
                                "all",
                                "newest"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sponsors",
                    "response": {
                        "$ref": "SponsorListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                    ]
                }
            }
        },
        "subscriptions": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "id": "youtube.subscriptions.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "subscriptions",
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "insert": {
                    "httpMethod": "POST",
                    "id": "youtube.subscriptions.insert",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "subscriptions",
                    "request": {
                        "$ref": "Subscription"
                    },
                    "response": {
                        "$ref": "Subscription"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.subscriptions.list",
                    "parameterOrder": [
                        "part"
                    ],
                    "parameters": {
                        "channelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "forChannelId": {
                            "location": "query",
                            "type": "string"
                        },
                        "id": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "5",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "50",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "mine": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "myRecentSubscribers": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "mySubscribers": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "onBehalfOfContentOwner": {
                            "location": "query",
                            "type": "string"
                        },
                        "onBehalfOfContentOwnerChannel": {
                            "location": "query",
                            "type": "string"
                        },
                        "order": {
                            "default": "SUBSCRIPTION_ORDER_RELEVANCE",
                            "enum": [
                                "alphabetical",
                                "relevance",
                                "unread"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "part": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "subscriptions",
                    "response": {
                        "$ref": "SubscriptionListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly",
                        "https://www.googleapis.com/auth/youtubepartner"
                    ]
                }
            }
        },
        "superChatEvents": {
            "methods": {
                "list": {
                    "httpMethod": "GET",
                    "id": "youtube.superChatEvents.list",
                    "parameterOrder": [
                        "part"
                    ],
[...]
